[2018-12-09 13:38] pashatechnic opened #3363 "Load and update pixels from p5.Graphics problem"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Core/Environment/Rendering
- [X] Image

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- Web browser and version: Chrome Version 70.0.3538.110 (Official Build) (64-bit)
- Operating System: MacOSX
- Steps to reproduce this:

I can only once suc

[2018-12-09 14:11] civilixed1996 opened #3364 "how to move saven ellipse with arrow key...to make snake game in processing"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-09 14:16] civilixed1996 opened #3365 "how to move six ellipse with arrow keys"
int i = 0;
int elliex[] = {30,50,70,90,110,130,150};
int elliey[] = {30,30,30,30,30,30,30};

void setup()
{
size(600,600);
frameRate(10);
}
void draw() {

  background(200);
  fill(50,205,50);
  for( i = 6; i>=0; i--){

  ellipse(elliex[i], elliey[i], 30, 30);
  }
  keyPressed();
  for(int j=6; j>0;j--) {
   elliex[j]= elliex[j-1];
   elliey[j]=elliey[j-1];
}

}

void keyPressed()
  {

   if(key =

[2018-12-10 02:00] grege2 opened #3366 "Ref page for p5.dom child() function omits to create child in one example"
#### Nature of issue?

- [x] Reference page error

The reference page for the p5dom child() function at ...
  http://p5js.org/reference/#/p5.Element/child

seems to have an omission in the third example:

  var div0 = createDiv('this is the parent');
  var elt = document.getElementById('myChildDiv');
  div0.child(elt); // use element from page

The element "myChildDiv' is not shown as created, and

[2018-12-11 02:00] lmccart opened #3367 "update developer docs to ES6"
As part of the migration to ES6, the [developer_docs](https://github.com/processing/p5.js/tree/master/developer_docs) need to have code snippets and language updated from ES5 to ES6.

All docs currently in the folder have been listed here, but not all of them have code snippets that need updating. These can be checked off once it's confirmed no update is needed.

* [x] [benchmarking_p5.md](https:/

[2018-12-11 02:01] L05 opened #3368 "Update FES to reflect new Audio Autoplay Policy changes"
Update the Friendly Error System to warn if a user is trying to use code that assumes audio will autoplay while it may instead require user interaction. This is a result of Audio Autoplay Policy changes in Chrome (https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio).

#### Nature of issue?

- [X] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

[2018-12-11 02:05] mlarghydracept opened #3369 "Update Color Reference Examples on p5js.org to ES6"
Update the [**Color** section](https://github.com/processing/p5.js/tree/master/src/color) of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that have `@module Color` at the top.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean s

[2018-12-11 02:06] mlarghydracept opened #3370 "Update Shape Reference Examples on p5js.org to ES6"
Update the **Shape** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that have `@module Shape` at the top.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 cl

[2018-12-11 02:07] kjhollen opened #3371 "Add overview to /src/core/error_helpers.js (FES)"
Individual functions for the Friendly Error System are well documented in /src/core/error_helpers.js, but an overview of how these functions fit together would make this code easier to understand for contributors looking to get familiar with this part of the library. The idea here is to add a paragraph or list of bullet points of the order of operations for which FES functions are called when.

[2018-12-11 02:08] lmccart opened #3372 "update p5.js build and release tasks to ES6"
As part of the migration to ES6, the p5.js build and release tasks in the [tasks folder](https://github.com/processing/p5.js/tree/master/tasks) need to be checked and updated as needed from ES5 to ES6.

[2018-12-11 02:08] mlarghydracept opened #3373 "Update Structure Reference Examples on p5js.org to ES6"
Update the **Structure** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that have `@module Structure` at the top.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [usin

[2018-12-11 02:10] mlarghydracept opened #3374 "Update Environment Reference Examples on p5js.org to ES6"
Update the **Environment** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that have `@module Environment` at the top.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [

[2018-12-11 02:11] L05 opened #3375 "Add circle() function"
Add circle() function for K-12 education/accessibility, as suggested in [this thread](https://github.com/processing/p5.js/issues/2305).

#### Nature of issue?

- [X] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Core/Environment/Rendering

[2018-12-11 02:12] L05 opened #3376 "Add square() function"
Add square() function for K-12 education/accessibility, as suggested in [this thread](https://github.com/processing/p5.js/issues/2305).

#### Nature of issue?

- [X] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Core/Environment/Rendering

[2018-12-11 02:12] outofambit opened #3377 "More complete unit tests"
We'd like to expand our unit tests to be more complete and cover more of the codebase.

This is a list of the areas we'd like to focus on. (It will be populated over time and then broken out into separate issues.)

*

(This list will be informed by the findings of #3385)

[2018-12-11 02:12] lmccart opened #3378 "confirm/implement use of Promises across codebase"
This one may already be done, but I'm opening an issue so that we can go through the codebase and confirm that Promises are used for all loadX() methods and anywhere else that a callback is used internally. Additional issues can be opened for areas discovered that require Promise implementation.

[2018-12-11 02:13] Spongman commented on #3372
maybe #3204 will be of some help?

[2018-12-11 02:14] stalgiag opened #3379 "Update DOM Reference Examples on p5js.org to ES6"
Update the **DOM** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that have `@module DOM` at the top. In this probably just the [p5.Element class](https://github.com/processing/p5.js/blob/master/src/core/p5.Element.js)

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be

[2018-12-11 02:14] lmccart opened #3380 "add GIF support for image() function"
Currently, animated .gif files loaded via `loadImage()` and displayed via `image()` will display as static images. A current workaround is to use the `createImg()` function, but this adds complexity and it would be nice for gifs to work with the core `image()` function.

[2018-12-11 02:17] mlarghydracept opened #3381 "Update Rendering Reference Examples on p5js.org to ES6"
Update the **Rendering** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under`@module Rendering`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://g

[2018-12-11 02:19] stalgiag opened #3382 "Update Data Reference Examples on p5js.org to ES6"
Update the **Data** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module Data`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com

[2018-12-11 02:20] lmccart opened #3383 "update webgl lighting examples"
Some of the webgl examples are based on an old version of the codebase, and values used no longer make sense. Do a pass over all lighting examples in the reference and confirm each displays correctly and makes sense with the current codebase value ranges.

[2018-12-11 02:20] kjhollen opened #3384 "i18n for console messages"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

In various parts of the codebase, there are console error messages for the end user hardcoded in English. We could internationalize messages to provide better support for users who speak other languages. Here are some files where I found such error messages:

[ ] src/webgl/3d_primitives.js
[ ] sr

[2018-12-11 02:20] outofambit opened #3385 "Measure Unit Test Coverage"
Instrument the unit test suite so we can see which parts of the codebase are well tested and which need more coverage.

Some relevant libraries and services that might work for this:
* [Istanbul + nyc](https://istanbul.js.org/docs/tutorials/mocha/)
* [CodeCov](https://codecov.io)

[2018-12-11 02:21] mlarghydracept opened #3386 "Update Events Reference Examples on p5js.org to ES6"
Update the **Events** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the references in source files that fall under `@module Events`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 class

[2018-12-11 02:22] mlarghydracept opened #3387 "Update Image Reference Examples on p5js.org to ES6"
Update the **Image** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module Image`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.c

[2018-12-11 02:23] mlarghydracept opened #3388 "Update IO Reference Examples on p5js.org to ES6"
Update the **IO** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module IO`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com/pro

[2018-12-11 02:24] mlarghydracept opened #3389 "Update Math Reference Examples on p5js.org to ES6"
Update the **Math** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module Math`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https://github.com

[2018-12-11 02:24] kjhollen opened #3390 "i18n for FES messages"
Like #3384, we'd like to be able to change the language for error messages generated from the Friendly Error System. This ticket is to track updating the FES code to support internationalization; tickets for actual translations will be filed in the future.

[2018-12-11 02:25] mlarghydracept opened #3391 "Update Typography Reference Examples on p5js.org to ES6"
Update the **Typography** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module Typography`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes](https:

[2018-12-11 02:27] mlarghydracept opened #3392 "Update Lights, Camera Reference Examples on p5js.org to ES6"
Update the **Lights, Camera** section of the [p5js reference](https://p5js.org/reference/) to ES6. This will entail updating all of the examples that fall under `@module Lights, Camera`.

As a step forward in the transition to ES6 all of the reference examples on p5js.org should be updated to use ES6 standard. This will often mean simply switching 'var' to 'let' or in some cases [using es6 classes

[2018-12-11 05:08] vedhant commented on #3375
Is this to be added to 2D Rendering?

[2018-12-11 06:37] lmccart commented on #3375
this method could just be an alias that calls `p5.prototype.ellipse(x, y, 2*r, 2*r)`

[2018-12-11 06:37] lmccart commented on #3376
this method could just be an alias that calls `p5.prototype.rect(x, y, s, s)`

[2018-12-11 08:07] vedhant commented on #3375
Yup.
I would like to do it!

[2018-12-11 14:21] Remcodejong commented on #3381
I'd like to work on this issue!
I guess I would first have to change var to let, and see if classes could be used instead of functions?

[2018-12-11 15:24] vedhant commented on #3389
Should i also implement the usage of arrow functions in the examples?

[2018-12-11 15:45] mlarghydracept commented on #3389
I think the goal is to write these examples for absolute beginners. I can't think of an instance when an arrow function would be the clearest possible approach for an absolute beginner. Functions are already a difficult concept for many early programmers, making functions anonymous might be one step too advanced for the purpose of these examples. That said, if you feel there is a strong case for u

[2018-12-11 15:51] mlarghydracept commented on #3381
I think changing `var` to `let` should be enough in this case but if you think other changes are necessary then feel free to ask about specific suggestions on here. Just remember that the goal is to make sure that these examples are written for absolute beginners, so ES6 features only need to be used when they are foundational to how modern javascript is written.

[2018-12-11 16:19] grege2 commented on #3363
Hi @pashatechnic

I spent some time on this but couldn't solve it. Annoying. It must be a simple oversight about loading and restoring pixels, and jumping between the onscreen canvas and the offscreen graphics context. This happens a lot. Check your use of that very carefully, and check that some alpha gotcha is not happening. Anytime you blend with alpha there's room for error - accidentally supp

[2018-12-11 17:18] montoyamoraga commented on #3376
would that be adding to the file the src/core/shape/2d_primitives.js the following?
I am trying to figure it out.

p5.prototype.square = function(x, y, s) {
  p5.prototype.rect(x, y, s, s);
}

[2018-12-11 17:22] lmccart commented on #3376
@montoyamoraga I think this would do it, though I think you want to use `this.rect()` rather than `p5.prototype.rect()` so rectMode() is taken into consideration. and then adding documentation too. documentation could be based on the rect() docs and modified.

[2018-12-11 19:23] Remcodejong commented on #3381
Just to confirm, I need to change the examples in the src file, wherevere where is a ```@module Rendering``` at the top, right?

[2018-12-11 19:41] mlarghydracept commented on #3381
@Remcodejong  yes that is correct. [There are some cases in which the module is set somewhere other than at the top of the file](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L212). I will update all of the relevant issues to be more accurate when I get a chance. But yes, I think the best approach is to do a folder wide search for occurrences of `@module Rendering`.

[2018-12-12 07:03] vedhant commented on #3389
[code]
Should I use let for global variables too ( v0 and v1 in first line ) ?

[2018-12-12 08:07] figraham commented on #3387
I’m planning to work on this issue. I do have a question though. It's part best practice and part beginner friendliness. @mlarghydracept @lmccart Should I use arrow notation for named functions? (like `foo = () => {}`)

[2018-12-12 13:45] limzykenneth commented on #3378
Promises are currently polyfilled so considerations can be made about removing the polyfill as well

[2018-12-12 14:02] limzykenneth commented on #3372
Is there a timeline/guide/steps for the transition to ES6 in general? I just saw a bunch of ES6 transition issues and PR but have no idea the criteria (in terms of target compatibility) or the priorities other than the milestones tags. Is it possible to draft a document/wiki on github to at least outline compatibility targets and even better a rough timeline?

[2018-12-12 20:21] vipulrawat commented on #3385
One thing but might not be preferable as p5.js is already built up on mocha.
If p5.js is targeting whole new set of paradigm with all es6 features, then one can think on migrating to [jest](https://jestjs.io/).
Reason being:
- I think many unit tests are missing, so anyways lots of new unit tests are going to be written.
- [Istanbul is inbuilt in jest](https://istanbul.js.org/docs/tutorials/jest/)

[2018-12-12 23:52] Noxilex opened #3396 "setPath() doesn't call the callbackError when the path is not working"
#### Nature of issue?

- [X] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other: "Library : p5.sound.js "

#### Which platform were you using when you encountered this?

- [ ] M

[2018-12-13 07:12] Spongman opened #3398 "webgl: lighting state lost between draw calls"
0.7.2:

EDIT: @sanketsingh24's example below doesn't require the `resizeCanvas()` call.

calling `resizeCanvas()` breaks lighting:

[code]

![image](https://user-images.githubusercontent.com/1088194/49921698-4228fd00-fe63-11e8-949a-2a2783930b01.png)

https://codepen.io/Spongman/pen/yGYQyX?editors=1010

[2018-12-13 17:36] TanviKumar commented on #3369
#3399 aims to close this issue

[2018-12-13 18:01] TanviKumar commented on #3391
#3400 aims to solve this

[2018-12-13 18:18] figraham commented on #3387
Disregard previous question. I made the changes but I'm having problems passing the sample-linter (`./util/sample-linter.js`) when committing changes. I switched back to the master branch and hit the a similar error when running `npm run grunt` so I don't think it's my changes.

I'll dig into this problem later when I have more time but in the mean time if anyone has any pointers that would be hel

[2018-12-13 18:44] Spongman opened #3402 "travis builds are breaking (again)"
travis broke something behind the scenes and builds have been breaking since 12/5:
- https://travis-ci.org/processing/p5.js/builds/464015031

this is quite unfortunate given the sudden increase in PRs recently. every single one is failing for the same reason:
- https://travis-ci.org/processing/p5.js/pull_requests

[2018-12-13 19:16] mlarghydracept commented on #3389
This is open for discussion but imo `let` makes more sense even for global variables. Block-scoping is more inline with most other programming languages, and I think that the difference between `var` and `let` would  be confusing for absolute beginners.

[2018-12-13 19:35] burkus commented on #3392
Most of these seem pretty simple, would just changing instances of `var` to `let` be good? Do you want values that are never changed to be to constant? Also, do you want to replace all `function` instances with constant arrow function declarations?

I think some regex search and replace could update all of that, although the change is somewhat arbitrary unless it's purely for consistency.

[2018-12-13 19:59] Spongman commented on #3402
i just set up a CI azure pipeline for my repo, and it's working fine. so it must be something specific to travis' environment. @BanzaiMan

[2018-12-13 20:11] BanzaiMan commented on #3402
How is "blob" getting in the URL? https://travis-ci.org/processing/p5.js/jobs/464015032#L596 It is not something Travis CI should be doing.

[2018-12-13 20:18] Spongman commented on #3402
not sure. don't know that that is actually a problem.

looking at the commit history: https://github.com/processing/p5.js/commits/master i see that the build for d6b811d5e9f5b88d09e2c25db5409676984625eb succeeded, and the build for the *next* commit (777ad7049ed8ef4931a9078871a20fdc51e97ae4) failed.

here's the diff for that commit that 'caused' the failure: https://github.com/processing/p5.js/com

[2018-12-13 20:37] figraham commented on #3387
@Spongman Thanks for the advice! Turns out it was the line-endings. Followed this [guide](https://help.github.com/articles/dealing-with-line-endings/) and everything seems is working great now.

[2018-12-13 21:37] BanzaiMan commented on #3402
Try restarting previously passing builds. If they fail now, I suspect changes in underlying dependencies are causing problems. (For example, Chrome was updated from [70.0.3538.110-1](https://travis-ci.org/processing/p5.js/jobs/462464275#L423) to [71.0.3578.80-1](https://travis-ci.org/processing/p5.js/jobs/464015601#L423).)

[2018-12-14 17:54] outofambit commented on #3402
is it worth looking into switching to circleci from travis? i could put up a PR for that in the next day or two.

[2018-12-14 18:54] BanzaiMan commented on #3402
How does CircleCI provide older versions of Chrome? I do not think Google distributes anything but the stable one.

[2018-12-14 19:02] Spongman commented on #3402
yeah, i don't think pinning the version is a good idea, regardless of whether or not it's possible.

[2018-12-14 21:55] limzykenneth commented on #3402
All tests pass with Chrome 71 on macOS Mojave

[code]

[2018-12-14 23:10] Spongman commented on #3402
i have found that the tests start passing again if the following line is commented out:

https://github.com/processing/p5.js/blob/9a0a510dd4f16406d0386459322010ad95874c4b/lib/addons/p5.sound.js#L4514

i think this might be a good fix for now until we find some compatible way to compute the `Tone.Context.lag` property.

[2018-12-17 01:51] rakeshcheekatimala commented on #3385
I want to join as a contributor, I have a basic understanding of Jest and writing Unit Test Cases. Please let me know your thoughts.

[2018-12-17 17:20] vedhant commented on #3388
I have send a PR for this issue. However, by mistake my previous 2 commits (where I solved #3389) are also included in this PR.
I am not sure what to do now.
Can anyone help me out? What should I do ?

[2018-12-18 00:09] vipulrawat opened #3409 "Removing Grunt ?"
I think that p5.js is planning a big overhaul. Why not removing Grunt task runner from all the place?
__Grunt is good but its hard to manage, update and even build process takes extra time. For me, its an added layer of bloatware with lots of files and configuration which are not updated, also it relies heavily on plugins that are not maintained now in 2018.__
Is there any way that we can shift to

[2018-12-18 00:11] Spongman commented on #3409
i did a gulp port a while back which worked quite well. unfortunately, though. moving from grunt isn't going to fix the mocha issues that are breaking the travis builds at this time.

[2018-12-18 00:19] vipulrawat commented on #3409
Oh Yes, this is definitely not a solution to the Travis issue But the Grunt build process is tedious and outdated too. This porting thought just came in between debugging the Travis issue.

[2018-12-18 00:46] Spongman commented on #3402
i have a hacked-up mocha-chrome.js that uses puppeteer instead. it runs the tests, but it still needs some work to handle edge cases and failures.

https://github.com/Spongman/p5.js/tree/mocha-puppeteer

[2018-12-18 07:43] dhowe opened #3410 "strokeCap() not defined in WEBGL"
Ideally this would be implemented, but at very least should output a 'not-yet-implemented' warning rather than crash the sketch.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] U

[2018-12-18 07:51] dhowe opened #3411 "line broken in webgl?"
To recreate:
1. Go to this page: https://p5js.org/examples/data-variables.html
2. Enable WEBGL: `  createCanvas(720, 400, WEBGL);`
3. Comment out the strokeCap() line
4. Note that only one set of lines shows, rather than three

#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] WebGL

![image](https://user-images.githubusercontent.com/737638/50139449-bdb00180

[2018-12-18 08:15] vedhant commented on #3389
#3405 solves this!

[2018-12-18 12:06] verma-varsha commented on #3380
Hi! I would like to work on this issue

[2018-12-18 15:15] dbistuer opened #3412 "On my project in git don't finish to load canvas"
Hi there!

#### Nature of issue?

- [ X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

[2018-12-18 18:05] Spongman opened #3414 "invalid warning during 3d `bezier` call"
~~current master (not 0.7.2)~~ fef6c41

when running the `bezierDetail` example, the following invalid error is given:

[2018-12-18 18:34] Spongman commented on #3414
looks like this was introduced here: fef6c41e2c1c896790ad87a447f6af8c8735f08e

@aferriss can you take a look?

[2018-12-19 14:04] limzykenneth commented on #3412
From just looking at your page, there are errors about missing variable reference, `myPacman` specifically. If `preload` throws an error such as this, it will not finish and thus the sketch will not run. Problrms with debugging your own code are best posted on the [forum](https://discourse.processing.org/), github is used mostly for bug reports or feature request. If you can determine it is indeed

[2018-12-19 14:04] #3412 closed

[2018-12-19 16:09] aferriss commented on #3414
@spongman happy to look but I'm sans computer for the next couple weeks so it might be a little while.

[2018-12-20 09:19] clinckzone commented on #3382
I would love to help out by working on this issue!

[2018-12-20 15:29] dhowe opened #3416 "question: how to load a json file in preload only if it exists"
Tried this with with a try/catch in preload and got the error below, after which the sketch hangs on 'Loading'. Might be nice if there was a way to load, for example, a .json config file in preload (without being forced to use the callback version of loadJSON) and have the sketch continue if its not there...

[code]

[2018-12-20 17:11] Spongman commented on #3402
can someone test that my fix #3415 works on a mac (with and without test failures) ? i have tested on windows, ubuntu and travis/docker.

[2018-12-21 19:33] limzykenneth commented on #3416
Does it block execution? Does it show with p5.min.js? Is the error callback called when file is not present?

The first message looks like something FES throws. The second message is it coming from [this line](https://github.com/processing/p5.js/blob/master/src/io/files.js#L1142)?

[2018-12-22 14:18] sanketsingh24 commented on #3411
@dhowe I think that is because in WEBGL mode, coordinate (0,0,0) is in the middle of the canvas, as written in the [wiki](https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5#3d-coordinate-system). So I think it doesn't behaves strangely.

[2018-12-22 17:37] sanketsingh24 commented on #3398
@Spongman  This also renders the same output, so I don't think there's any problem with ```resizeCanvas()```.

[code]

But I am not sure what is the desired output. :(

https://codepen.io/sanketsingh24/pen/romBgZ

[2018-12-22 20:45] #3388 closed

[2018-12-22 20:45] #3389 closed

[2018-12-22 20:46] #3370 closed

[2018-12-22 20:46] #3391 closed

[2018-12-22 20:49] lmccart commented on #3381
this is fixed with https://github.com/processing/p5.js/pull/3395

[2018-12-22 20:49] #3381 closed

[2018-12-22 20:50] #3369 closed

[2018-12-22 20:52] lmccart commented on #3376
resolved with https://github.com/processing/p5.js/pull/3393

[2018-12-22 20:53] #3386 closed

[2018-12-22 21:56] #3376 closed

[2018-12-22 21:59] #3366 closed

[2018-12-22 21:59] lmccart commented on #3366
thanks, I've added a clarifying comment that this example is demonstrating how things would work if there were already a div on the page with this id

[2018-12-23 00:43] lmccart opened #3418 "p5.js 1.0 roadmap"
I've just posted a first draft of a [roadmap to 1.0](https://github.com/processing/p5.js/blob/master/developer_docs/roadmap.md) in the `developer_docs` folder.

This document is a list of possible features, improvements, and maintenance items for a future 1.0 version of p5.js. The first draft was created by the working group at UCLA Design Media Arts and is put out for your feedback. This is a wor

[2018-12-23 00:43] lmccart commented on #3372
@limzykenneth I just added a document that represents a first draft of a [roadmap to 1.0](https://github.com/processing/p5.js/blob/master/developer_docs/roadmap.md) including ES6 transition, comments welcome on [this issue](https://github.com/processing/p5.js/issues/3418).

In terms of compatibility targets, does [this supported browsers doc](https://github.com/processing/p5.js/blob/master/develop

[2018-12-23 01:09] grege2 commented on #3366
Great. Sorry to be reporting such trivia when you are in a storm of ES6 updates and all the rest. Ciao.

[2018-12-23 01:14] lmccart commented on #3366
it's all helpful!

[2018-12-23 04:56] figraham commented on #3379
I'll work on this.

[2018-12-23 06:34] AnimeshSinha1309 commented on #3375
Okay, seems like no one is working on this, hope it's okay for me to do this.

[2018-12-23 06:37] iProgramMC commented on #3177
That's why I moved my page to GitHub Pages (for non-WebClient C# stuff, as that won't work with GH Pages).

[2018-12-23 06:38] iProgramMC commented on #3177
Also, Spongman, it's 000webhost's fault.

[2018-12-23 07:59] nimishagarwal76 commented on #3375
#3419  resolves this issue

[2018-12-23 09:07] grege2 commented on #3418
I like this a lot ..

"For 1.0 release, drop a sweet new set of curated examples from artists and
coders."

A quite large application example, which shows (reasonably) well-coded and
working solutions to a broad range of p5.js design issues, which is to say
the whole suite of interactive 2D/3D graphics issues, and good software
design - help and documentation, error management and logging, tracing

[2018-12-23 11:34] Spongman commented on #3398
Hmmm what browser are you running where you see your example give that result? It looks fine on mine.

[2018-12-23 11:57] sanketsingh24 commented on #3398
I'm running firefox and getting the same output from both codes.

[2018-12-23 12:04] sanketsingh24 commented on #3373
Would like to work on this issue today :)

[2018-12-23 17:46] #3392 closed

[2018-12-23 17:47] #3374 closed

[2018-12-23 17:48] lmccart commented on #3387
fixed with #3404

[2018-12-23 17:48] #3387 closed

[2018-12-24 00:08] lmccart commented on #3375
addressed with https://github.com/processing/p5.js/pull/3419

[2018-12-24 00:08] #3375 closed

[2018-12-24 00:30] limzykenneth commented on #3372
The document is great, I'll have a closer look when I get a chance.

[2018-12-24 08:09] figraham opened #3422 "createColorPicker() from p5.dom is Missing from Reference"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
part of p5.dom

#### Details about the bug:

`createColorPicker()` is missi

[2018-12-24 08:31] Spongman commented on #3398
ah, i see it now. it doesn't repro in iOS safari for some reason. i think your example is closer to the issue. it's probably related to some shader state getting corrupted between frames.

[2018-12-24 10:05] faxinadu opened #3423 "Current solution encoding saveStrings() to UTF-8 is not adequate for all situations"
#### Nature of issue?

- [ x] Found a bug
- [ x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [x ] IO

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.7.2 September 02, 2018
- Web browser and version: Chrome 1.0.3578.98 (Official Build) (64-bit

[2018-12-26 02:39] vipulrawat commented on #3409
Result of `npm audit`:
15 out of 16 vulnerabilites are of grunt plugins.
Log file is in json format.
[audit.log](https://github.com/processing/p5.js/files/2709260/audit.log)

[2018-12-26 07:37] bigmstone opened #3424 "ES6 Class Extension"
I see mention of ES6 support around several issues. Most notibly [this comment](https://github.com/processing/p5.js/issues/2215#issuecomment-334813299) is closest to what I'm after. I'm brand new to P5. So I know little of its internals. I hacked together [this](https://github.com/bigmstone/p5.js/pull/1) tonight to get somewhat what I'm after. ~Though I don't love the `super` API.~ Is there any pl

[2018-12-26 12:13] dhowe commented on #3409
gulp isn't much better imho

[2018-12-26 16:40] vipulrawat commented on #3409
maybe gulp isn't better. but we can migrate to a less complex and more secure architecture and remove these vulnerable dependecies.

[2018-12-26 17:05] outofambit commented on #3409
I agree we could make the build infrastructure less complex and that it would be good to move off of grunt at this point.

I would favor simply using npm scripts over grunt or gulp. For more complex tasks, we can simply use a node script and call it from npm. I think this would make the code more legible and easier to follow for devs and it would give us the opportunity to make the tooling more fr

[2018-12-26 17:07] outofambit commented on #3385
I started working on this and am hitting a number of unexpected bumps to completing it. (Currently, I am fighting with instrumenting the code and uglifyjs's syntax parsing limitations.) Will update as things progress! 🚀

[2018-12-26 17:17] outofambit opened #3425 "Move away from browserify?"
While working on #3385, (and from discussions in #3409) I can't help but wonder if this project would be better served by a babel + webpack build process over the current browserify + uglify infrastructure.

I _think_ we can replicate the existing behavior with [babel](https://babeljs.io/), using [babel-preset-env](https://babeljs.io/docs/en/babel-preset-env) and [babel-minify](https://github.com/

[2018-12-26 18:41] limzykenneth commented on #3425
What would be the benefit of moving from browserify to webpack or rollup? What would be the drawbacks, if any?

[2018-12-26 18:47] limzykenneth commented on #3409
I used to use npm script exclusively but I find it hard to debug the more tooling that is involved. In a way you will either need some bash-fu (which have cross platform compatibility issue) or encapsulate those logic into node scripts (which sometimes makes you wonder why you are recreating the things that build tools like grunt and gulp already does out of the box), I think at a certain point th

[2018-12-26 19:43] unjust commented on #3418
If "Phase 3 Codebase" is implementing the p5 lib with es6 features - I'm thinking this should be started earlier so we can use documentation and examples against the new codebase. I thing things can be done a bit in parallel, but we should be upgrading the codebase before the documentation.

[2018-12-26 19:56] unjust commented on #3328
Apologies if my closing and opening another pull request to fix this got lost somehow. Or maybe it doesn't fit with the es6 roadmap ?

This is the fix https://github.com/processing/p5.js/pull/3358

[2018-12-26 19:57] Spongman commented on #3409
I think there's definitely a benefit in re-using pre-built tools wherever possible (be it grunt, gulp, webpack, whatever...). Sure, you can reinvent the wheel. But often that leads to a solution that is less easy for others to understand.

[2018-12-26 20:31] outofambit commented on #3409
@limzykenneth I 100% agree. that's a really good point!

[2018-12-27 02:16] bigmstone commented on #3425
**Disclaimer:** I am a `webpack`/`babel` user which artificially inflates my desire to see it in other places. I also help maintain a `gulp`/`browserify` app as part of my day job, and honestly don't have much bad to say about it. It's mainly set it and forget it. We have all the features I would want from a normal `webpack` setup. Including hot reload. Also use `babelify`, so we have access lates

[2018-12-27 04:14] bigmstone commented on #3424
Playing around further with that branch. Creating a second class and the experience broke down a bit. Worked up a solution [here](https://gist.github.com/bigmstone/5b80af4a2f4635aa19c7044792bc598e). `Builder` could be worked into P5, and only copy over public methods instead of the kitchen sink. I'm recreating @shiffman's latest snowflake to see if there's anything obvious I'm missing.

[2018-12-27 09:02] Spongman commented on #3425
with webpack, how easy is it to run custom build steps? for example, something like the grunt task defined in `eslint-samples.js` ?

BTW: there's an example of a babelified, ES6 version of p5 over here: #3394. still uses grunt, but hey.

[2018-12-27 09:43] limzykenneth commented on #3425
If there isn't a strong benefit to switch build tool then the effort may not be worth the reward so that's why I'm asking.

Out of curiosity, because I haven't have a project that uses webpack or rollup but I want to try, how do they integrate with test runner like mocha or linters like eslint? Do they run with plugins on top or are they completely seperate, ie run with two shell commands (or one

[2018-12-27 10:04] Prfect23 opened #3428 "Typo on your documentation // keyPressed()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-27 16:32] limzykenneth commented on #3409
As a first we can look at the npm audit packages with vulnerabilities. I have marked out `grunt-release-it`, `grunt-saucelabs` as potential packages that can be removed and/or replaced. I cannot get the saucelabs test to run without extra config on my local machine and I don't know how much it is used anyway. If cross browser automatic testing is desired we can look into karma which is already in

[2018-12-27 20:31] limzykenneth commented on #3425
When I was looking through the dependencies to find obsolete ones `derequire` do stuck out as something I don't understand why it is there (still don't, really). I have heard of the complex configuration file of webpack and grunt seems to be comparable in terms of config complexity. Parcel on the other hand was something that I dipped my toe into recently and only gave up because it doesn't suppor

[2018-12-28 02:11] grege2 commented on #3428
I'm happy to have a go at this one, if it's approved as needing doing, it's
pretty minor. A simple typo would be an easy start to contributing.

I've been forking p5.js and poking around as per the instructions at
https://github.com/processing/p5.js/tree/master/developer_docs . Working on
Mac 10.13.5, latest Chrome, npm 6.4.1, Node.js 10.15.0, haven't checked
revs of anything else but it was only

[2018-12-28 04:01] bigmstone commented on #3425
There are commonly used features that haven't been fully standardized yet. [Field declarations](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes#Field_declarations) being one. Now that the industry seems to have centered around `babel` this will likely be a "norm" for the foreseeable future as the language evolves. It's also easy to get language feature support for lots of

[2018-12-28 05:34] lmccart commented on #3428
At @grege2 please do have a look, thank you! I'm not sure if this is one that has been fixed already and just hasn't been released to the website (the reference is updated when new p5.js versions are released), but you should be able to tell by looking at the source code.

[2018-12-28 05:40] lmccart commented on #3425
I don't currently have a strong opinion here, I need to do some more research into the different options before I can weigh in more substantively. But I'm excited about exploring possibilities for improving the build system. One note @bigmstone, it is indeed a goal that beginner programmers find the p5.js ecosystem friendly enough to make contributions. This is different than a lot of software pro

[2018-12-28 10:56] grege2 commented on #3428
Hi Lauren,

Looks like this typo has not been fixed. I have fixed it and re-built p5.js
in my forked, cloned-to-local version. Sorry, how do I  a) View it as an
updated local reference page for keyPressed(), and b) Upload back to my
GitHub forked version (git push, perhaps). The instructions for this are
pretty sparse. And while I'm here, if the "Pull Request" is a one-line or a
one-button thing,

[2018-12-28 16:11] lmccart commented on #3428
Here are instructions for [generating and previewing documentation](https://github.com/processing/p5.js/blob/master/developer_docs/inline_documentation.md#generating-documentation), [uploading and creating for a pull request](https://github.com/processing/p5.js/blob/master/developer_docs/preparing_a_pull_request.md). All of the relevant docs can be found in the [developer_docs](https://github.com/

[2018-12-28 18:06] grege2 commented on #3428
Thanks. I didn't look hard enough.
Looking forward to "great glory"  :=)

On Sat, 29 Dec 2018 at 03:11, Lauren McCarthy <notifications@github.com>
wrote:

--
*Greg Edwards*

[2018-12-29 00:08] outofambit commented on #3425
There's a lot of other things we could have babel do, but I think the strongest case for babel in p5js is to ensure backward compatibility with older browser versions (or ones that are the minority in not supporting an ES syntax/feature) using [babel-preset-env](https://babeljs.io/docs/en/babel-preset-env).

Supporting a [range of browsers](https://github.com/processing/p5.js/blob/master/developer

[2018-12-29 06:26] zzhhbyt1 opened #3430 "endShape(CLOSE) won't treat the beginning point like a join"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-29 16:44] lmccart commented on #3430
is this the same issue being described here: https://github.com/processing/p5.js/issues/3352?

[2018-12-29 16:45] #3373 closed

[2018-12-29 16:50] hydrosquall commented on #3425
One key benefit of `rollup` over parcel that I haven't seen mentioned in this discussion yet is that because of techniques like `tree-shaking`, it has the potential to grant significantly (10x) faster build times + smaller bundle sizes.

https://x-team.com/blog/rollup-webpack-parcel-comparison/

[2018-12-29 17:02] limzykenneth commented on #3425
@hydrosquall Pacel also has [tree shaking support](https://parceljs.org/cli.html#enable-experimental-scope-hoisting/tree-shaking-support) albeit experimental still, and Parcel also caches builds so according to them provides even faster builds, not sure how it compares for us though.

[2018-12-29 22:42] zzhhbyt1 commented on #3430
I've seen that issue. I think mine is different.
In this issue I'm talking about the line's "Cap" shape is not intended but my line did close.
In his issue he's talking about the line won't even close.

[2018-12-29 22:45] lmccart commented on #3430
I see, thank you for the clarification.

[2019-01-01 19:44] coreygo commented on #3425
I've too have been trying to reduce the size of p5 as much as possible for a single sketch which uses very few of the features in p5 and am limited by the current build process.

I'm also having a separate issue using p5 and [Gatsby](https://www.gatsbyjs.org/docs/debugging-html-builds/) together. I've tried various workarounds as part of the debug process but no such luck in my case… @aendrew has

[2019-01-01 20:05] lmccart commented on #3425
@coreygo have you tried this? https://github.com/processing/p5.js/blob/master/developer_docs/custom_p5_build.md

[2019-01-01 22:06] coreygo commented on #3425
@lmccart yep… 😃 I was actually about to update that doc since it's not currently accurate.

* `grunt` fails, it should be `npm run grunt combineModules`
* `core/shape*` isn't included as part of core by default — so 2d_primitives like line() won't work
* `npm run grunt` is a missing step after `npm install`, without that step running `npm run grunt combineModules` fails with `Fatal error: Cannot f

[2019-01-02 01:09] #3430 closed

[2019-01-02 01:09] lmccart commented on #3428
fixed with https://github.com/processing/p5.js/pull/3432

[2019-01-02 01:09] #3428 closed

[2019-01-03 09:58] dhowe opened #3435 "Slower rendering of custom fonts (.otf, .ttf, etc)"
It has been noted that there is a significant performance hit when using a custom font (.otf or .ttf) vs the default or other browser-fonts (see [this post](https://stackoverflow.com/questions/54010559/why-are-custom-fonts-slowing-down-my-program) for one example). I've looked at the p5.js text rendering code and I don't think (others are welcome to chime in) there is much that can be done in term

[2019-01-04 03:53] dhowe commented on #3435
After a bit of profiling it seems that _handleAlignment is responsible for more of the time than getPath

![image](https://user-images.githubusercontent.com/737638/50673085-ac722f00-1016-11e9-8ec0-682dbbfc8e6e.png)

[2019-01-04 18:51] Spongman opened #3436 "p5.Font.textBounds has memory leak"
0.7.2

`p5.Font.textBounds()` caches its results based on the input string. this cache grows without limit and can result in crashing the browser in long-running sketches that use it.

pared-down example here: https://codepen.io/Spongman/pen/wRmzzV?editors=0010

[2019-01-05 00:34] dhowe commented on #3436
Good catch -- I vaguely remember a fixed-size cache on an earlier todo list, but apparently never got done. Is there other such caching happening in the lib? If so, it might be preferable to adopt a uniform approach, perhaps with a memoization library.

If not, then perhaps the best option would be to simply disable this cache and advise users not to recompute this data for the same string/positio

[2019-01-05 01:02] Spongman commented on #3436
there are other unlimited caches that i know of, although none that i know of that are as easy to blow up like this one.

delimiters: definitely.

[2019-01-06 07:47] yashank09 commented on #2658
Hi guys, I'm getting error `createImg is not defined` while using createImg and the latest version of p5. Has this been changed or removed in the current version ?

[2019-01-07 02:09] lmccart commented on #3418
I agree @unjust. The first phase consists of just updating the current examples. I imagine most of the ES6 port will not change that much of the user facing API. For the parts that do change, we'll update the documentation and examples at the same time to reflect these changes, as you suggest.

[2019-01-07 02:42] dhowe commented on #3436
@lmccart any thoughts on caching/memoization going forward? Is this something we want to do generally n p5.js, and if so, should we consider a uniform implementation? Or is it instead something we can leave to the client (with notes in docs as needed) ?

[2019-01-07 12:55] bashbers commented on #3119
Doesnt seem to be fixed in 0.7.2. Below is an image using WEBGL and using P2D side-to-side:
![image](https://user-images.githubusercontent.com/23037527/50769288-ccf2f100-1283-11e9-9882-afd974060de4.png)

![image](https://user-images.githubusercontent.com/23037527/50769311-d5e3c280-1283-11e9-913a-413e47af703f.png)

[2019-01-07 17:57] sanketsingh24 commented on #3265
Hey! I would like to take up this issue!

[2019-01-07 21:31] sanketsingh24 commented on #3265
After some debugging, I think the problem is with `push() `and `pop()` used in `setattributes()`.  [`push()` in `RendererGL` module saves the `_curCamera` properties ](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L785)and persists with them even after `resizeCanvas()` changes them.

I think this was not reproducible in 0.7.1 because `_computeCameraDefaultSettings()` a

[2019-01-08 12:00] lilijialiang commented on #1824
I also have the same question about this problem. When I describe the font, I also want to get the points that coincide with the font. What should I do?

[2019-01-08 12:47] sanketsingh24 commented on #3265
Used the following example to debug:

function setup() {
  createCanvas(100, 100, WEBGL);
  setAttributes('foobar', true);
}

[code]

https://codepen.io/sanketsingh24/pen/aPKRGK

[2019-01-08 16:44] dellaert commented on #2633
Jordan, I'm very interested in flow types as well. Was a separate repo ever created? If so, where can I find it?

[2019-01-08 16:52] dhowe commented on #1824
Can you clarify your question @lilijialiang ? Are you saying that you want to draw text with the font at a certain size AND get the points for the same text/size? I think this is what the [reference example](https://p5js.org/reference/#/p5.Font/textBounds) shows...

[2019-01-08 16:52] dhowe commented on #1824
@prtysh otherwise I think this can be closed

[2019-01-08 17:05] dhowe commented on #3436
in above commit, I've fixed the cacheKey bug and disabled the textBounds cache (at least for now) @Spongman want to give a check?

[2019-01-08 17:07] dhowe opened #3439 "Errors/warnings on build"
I imagine these are spurious errors or warnings, but there are many of each and they are (at least) distracting when building...

1. `You must first call texture() before using vertex() with image based u and v coordinates`
2. `(node:43277) UnhandledPromiseRejectionWarning: Error: Protocol error` `(Runtime.callFunctionOn): Object reference chain is too long`

<details>

[code]
</details>

[2019-01-08 17:43] dhowe commented on #3416
The sketch hangs in [the preload case](https://editor.p5js.org/rednoyz/sketches/r1Jp1DfzV):

![image](https://user-images.githubusercontent.com/737638/50848627-bd70c680-13af-11e9-9265-64123effe598.png)

which happens even with a try/catch block:

![image](https://user-images.githubusercontent.com/737638/50848701-e5602a00-13af-11e9-8247-a2197f348d32.png)

and in the preload case:

[2019-01-08 18:32] Spongman commented on #3439
the first one is #3414

I was unable to determine the cause of the promise rejection warning. the surrounding tests all pass, and they fail correctly when altered.

[2019-01-08 18:34] Spongman commented on #3265
godo catch. it looks like `resizeCanvas` needs to force an update to the camera.

i wonder how this should work if a non-default camera is configured?

[2019-01-08 19:07] j6k4m8 commented on #2633
This is in progress! We'll hopefully publish something shortly; I'll reach
out once something public exists.
ᐧ

On Tue, Jan 8, 2019 at 11:45 AM Frank Dellaert <notifications@github.com>
wrote:

[2019-01-09 02:48] Spongman commented on #3416
i'm not sure if this is intentional or nor, but i think it's because the `_decrementPreload()` function is only called in the 'success' callback that's passed to `httpDo` by `loadJSON`.

https://github.com/processing/p5.js/blob/1f1463217982fc1ec9416ea370476d4f98597342/src/io/files.js#L155-L164
if we want failure to also progress to `setup()`, then i think the 'error' callback also needs to call `_

[2019-01-09 10:33] limzykenneth commented on #3416
I think this is intentional behaviour because when you are loading a file in preload without error callbacks the rest of the sketch code may be expecting sucessful load of the file if they are executed. If the sketch proceeds from preload even if it is a 404 the rest of the sketch may just error out itself expecting a file to have already been loaded.

@Spongman The inconsistency probably is due t

[2019-01-09 15:43] Ajayneethikannan commented on #3359
Hey @Leiyufazhuangjia ! I cloned your code and tried to fix it , this is what I got:<br/>
You forgot to call the background() method in the draw function , which is used to clear the display window at the beginning of every frame. Since it was not used, the ellipses created in the first frame were never removed and it appeared as if the video was stuck. <br/>
Link to the cloned sketch:  https://ed

[2019-01-09 15:51] sanketsingh24 commented on #3265
@Spongman One of the solution I can presently think of is that changing `pop()` to update only when camera type is `custom`, and bypass when cameraType is `default`. What are your thoughts on this?

[2019-01-09 18:07] Spongman commented on #3265
that might work, but i'm worried that it might affect the way `pop` works in other circumstances. can you explain the mechanism by which the `push`/`pop` calls cause the canvas to be sized incorrectly?

[2019-01-09 18:19] Spongman commented on #3265
i think the real cause here is that the camera has a `_renderer` property that's getting out of sync.

if you hit a breakpoint on the first line of `p5.prototype.resizeCanvas()`, then you'll see that `this._renderer._curCamera._renderer === this._renderer` is `false`.

[2019-01-09 21:45] sanketsingh24 commented on #3265
Oh yes, totally missed that my solution can break alot of things, my bad.

According to me, the `viewport` is updating, but the `aspectRatio` and other properties inside `_curCamera` are not updating, because the whole `_curCamera` is pushed and when `resizeCanvas` is called, `_curCamera` doesn't update and gets out of sync, as you correctly noted.

I think we need to place the invariant in `resiz

[2019-01-10 02:06] dhowe commented on #3416
Is there a reason not to throw an error for the preload case, which the user could catch in the admittedly rare case where this was useful? Sketch would still terminate normally if not caught..

[2019-01-10 02:09] Spongman commented on #3416
the problem is that the `throw` doesn't occur until after the `loadXXX` call returns (it happens during the callback). so there's no opportunity to `catch`. in addition, for this reason, i don't think it makes sense to `throw` in the `httpDo` callbacks. there's no user code that can catch that exception, and `setup` won't get called anyway, since `_decrementPreload()` won't have been called in tha

[2019-01-10 02:31] meiamsome commented on #3416
I don't think we can reasonably achieve this in the current setup.
You can do this:
[code]
But obviously `_decrementPreload` is internal and should not really be used in this manner.

@Spongman you are right that throwing in those callbacks is a bit strange - mostly they just cause an uncaught promise rejection, which in most browsers is just ignored. I converted some of these to `console.error` a

[2019-01-10 02:42] Spongman commented on #3416
i'm strongly in favor of the `await loadXXXAsync` in an `async setup`.

[code]

[2019-01-10 05:13] lmccart commented on #3436
@dhowe I think we'd prefer to leave caching up to users and note this in the doc

[2019-01-10 05:13] lmccart commented on #3436
fixed with https://github.com/processing/p5.js/pull/3438

[2019-01-10 05:13] #3436 closed

[2019-01-10 05:13] lmccart commented on #3436
https://github.com/processing/p5.js/pull/3438

[2019-01-10 10:01] limzykenneth commented on #3416
I think eventually we will want to move to better support promise based `loadXXX` functions, to be able to use it with async/await is great in terms of beginner friendlyness but from what I see this is still pretty low priority even for the library code base update to ES6.

[2019-01-10 10:09] dhowe commented on #3436
caching is probably the wrong word, rather memoization of expensive internal functions, but nonetheless this makes sense to me (at least for now)...

[2019-01-10 11:20] vedhant commented on #3398
I get the problem mentioned by @Spongman if I use p5 editor in chrome.
However i get it when i place the line ```directionalLight(255, 255, 255, 0, 0, -1); ``` in the setup function as in the example given by @Spongman.
So ```resizeCanvas()``` is breaking the lighting.

Anyways lighting still breaks when ```directionalLight()``` is used in the draw loop.

[2019-01-10 13:39] vanpana opened #3441 "TypeScript p5 inheritance"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-01-10 13:43] dlefur opened #3442 "Input file selecting and callback"
#### Feature enhancement details:

#### New feature details:

Hello,
After selecting an **input file** from the html file, how to launch the callback ?
Would it be possible to have something like :
`let inputFile=select("#inputFile");`
`inputFile.change(myCallback);`

Cordially.

[2019-01-10 17:39] lmccart commented on #3442
Something like this?

[code]

[2019-01-10 17:40] lmccart commented on #3441
Hi @vanpana the typescript p5 definitions are maintained by another user, you can log the issue here: https://github.com/p5-types/p5.ts

[2019-01-10 17:40] #3441 closed

[2019-01-10 17:42] lmccart opened #3444 "createFile Input reference example not rendering"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x ] Documentation

#### Details about the bug:

The reference example for [createFileInput](https://p5js.org/reference/#/p5/createFileInput) is not rendering correctly.

[2019-01-10 17:43] dlefur commented on #3442
Hello,
yes, I know that solution.
But is it possible to use an input file created in the html file (with select()) and then select it and use it in the p5.js file ?
I do it for an input text but I don't know if it is possible for an input file...

[2019-01-10 17:45] lmccart commented on #3442
Can you clarify what you mean by "input file"?

[2019-01-10 17:47] dlefur commented on #3442
I mean `<input type="file" id="inputFile">`.

[2019-01-10 17:54] Spongman commented on #3442
Try `inputFile.changed(myCallback)`

[2019-01-10 18:15] dlefur commented on #3442
Let see my sketch : [https://editor.p5js.org/dlefur@gmail.com/sketches/rygPFZrME](https://editor.p5js.org/dlefur@gmail.com/sketches/rygPFZrME)

The callback is really called. But I don't know how to access the file. It returns an event.

[2019-01-10 18:20] lmccart commented on #3442
something like this should work
[code]
more here: https://www.html5rocks.com/en/tutorials/file/dndfiles/

[2019-01-10 18:44] dlefur commented on #3442
Thank you.
I did manage to access the content : https://editor.p5js.org/dlefur@gmail.com/sketches/rygPFZrME

But it is not as simple as I thought. I will use createInputFile() ...

Cordially.

[2019-01-10 18:44] #3442 closed

[2019-01-10 19:49] vanpana commented on #3441
Hello! Thanks for the quick answer! I have asked and I was told to find a way to extend p5 using ES6 classes. Is there any wiki related to this?

[2019-01-11 10:04] bengrosser commented on #3278
I'm also seeing this. Is there an ETA on this bug? Was hoping to switch to p5.js and the p5js editor for teaching this spring (have used Processing in past), but not being able to access the video pixels array is probably a showstopper for me. Or is there a workaround to get the data? Looks to me like the video.pixels array is just empty.

[2019-01-11 10:57] sanketsingh24 commented on #3265
What I think is happening

-  `createCanvas` is called, which forms p5 instance's renderer as `renderer1`, and has `camera1` as its `_curCamera`.
-  `setattributes` is called, where `push()` is present, which pushes `camera1` to `properties`.
-  Now, `resizeCanvas` is called, which forms a new `renderer2` with different width, height and other  properties.
-  Now `_resize` in `p5.camera` is called

[2019-01-11 14:39] a4ankit opened #3445 "Can we use image instead of video in createCapture() to add Images in dataset"
Hi,

We are using FeatureExtraction to get classification and regression since it using   `video = createCapture(VIDEO);` so can we use images in place of video to add our images in the dataset and also want to train that image.

I'm using https://ml5js.org/docs/custom-classifier and https://ml5js.org/docs/custom-regression for reference.

Thanks

[2019-01-11 22:18] lmccart commented on #3445
this should be possible using `VIDEO`, and then writing code to save out individual frames as images.
the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post.

[2019-01-11 22:18] #3445 closed

[2019-01-11 22:42] lmccart commented on #3441
maybe this helps? https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2019-01-12 13:56] Ajayneethikannan commented on #3444
I would like to work on this issue!

[2019-01-12 15:10] limzykenneth commented on #3444
@Ajayneethikannan Do go ahead! It is missing HTML tags so it isn't rendering correctly.

[2019-01-12 17:46] nebbles opened #3447 "setting canvas style position property doesn't work"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: current CDN version
- Web browser and version: 71.0.3578.98 (Official Build) (64-bit)
- Operating System: macOS 10.14.2
- Steps to reproduce this:

Set

[2019-01-12 19:35] LakshSingla commented on #3372
@lmccart I would like to take up this issue, but since there were issues regarding the change of build systems and task runners ( #3409 #3425 ), is this issue still relevant ??

[2019-01-12 19:38] Ajayneethikannan commented on #3444
@limzykenneth I checked the example present in the inline documentation of the createFileInput method,
and it contains the proper HTML tags.<br/>
I checked the commit history of p5.dom.js and the tags were fixed a long time ago (https://github.com/processing/p5.js/commit/3f99a89ad714cb9483f7354179e167d5392c5761#diff-84dfcaf5d56a24f4ee13a32c644817b0)

But I found that the data.json and data.min.jso

[2019-01-12 19:40] Ajayneethikannan commented on #3447
I tried to read the **p5.dom.js** library file and got the following results('sorry if it is a long message'):

The following is the style function from p5.dom.js:

[code]
since the prop 'position' results in invoking another function which is:
[code]
since ('position', 'fixed') will be finally passed as an arguments array of size 1 to the position function, and there is no case to handle that con

[2019-01-12 20:14] limzykenneth commented on #3444
@Ajayneethikannan Actually on further investigation this is a different problem linked to the website itself. You can checkout the [developer docs](https://github.com/processing/p5.js/tree/master/developer_docs) for more information about how things are built.

@lmccart The `data.min.json` version has reverted back to 0.6.1, I thought we managed to fixed that already? Will look into this further e

[2019-01-12 20:20] nebbles commented on #3447
Had a look into this and a further dig around finally led me to [a Reddit post](https://www.reddit.com/r/processing/comments/6thlux/how_to_make_p5_sketch_fixed_position_on_webpage/) which tried out a manual override.

So I tried
[code]
which worked as it should do.

So it seems the problem is indeed narrowed down to the `p5.Element.prototype.position` you found not assigning the styling properly.

[2019-01-13 00:38] hellonearthis commented on #1075
I see this reference to the p5.dom has been added to the top of the reference page.
Wouldn't it be better places at the https://p5js.org/reference/#group-DOM section.
If there a way to add to these groups to add this kind of reference information?

[2019-01-13 01:35] hellonearthis opened #3449 "Should the P5 variable definitions be converted to let and const from var"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

Kind of everyware.

[2019-01-13 02:40] hellonearthis commented on #3386
But prettier doesn't like you not having ; on the end of lines and in ES6 they are not needed.

[2019-01-13 02:49] hellonearthis opened #3450 "Examples involving keyboard events, only one works"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Events

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

Was adding to the event keyboard examples and noticed  that only the 1st example actually functions and the following examples don't function.   see https://p5js.org/reference/#/p5/keyPres

[2019-01-13 03:02] hellonearthis commented on #3382
Does that mean removing the ; as it's not needed in ES6  but prettier still wants it.

[2019-01-13 12:40] CranShawdy commented on #3208
Isn't this issue still present? For me it is but also this one seems closed, I'm not sure if it's meant to be, because in #3209 there isn't a solution to this, yet. Am I wrong?

[2019-01-13 14:40] Ajayneethikannan commented on #3422
@limzykenneth Could this issue be also caused due to the same problem as in #3444 ?
The last time **data.json** file was updated,  was in this commit,
https://github.com/processing/p5.js-website/commit/4425d5d2815c261a9748808efbfe8805dc65258d (May 2018)
and the **createColorPicker** was added afterwards through this commit
ef00da5d0481d36c5a096b1b910ae126e1d69642 (July 2018)

[2019-01-13 15:19] limzykenneth commented on #3422
Probably yes, the reference is stuck on 0.6.1 version of p5.js

[2019-01-13 17:47] LakshSingla commented on #3372
@limzykenneth #3451 tackles this issue.

[2019-01-13 23:13] #3449 closed

[2019-01-14 04:17] lmccart commented on #3444
@limzykenneth I tried running this and got this error:
[code]
I'm guessing I'm missing a login or token setting. Is this `grunt release-docs` command in the docs somewhere where I can see if there are further instructions?

[2019-01-14 06:03] Spongman commented on #3444
it looks like `release-docs` can't be run directly. you would need to run `release-p5` in order to initialize the configuration correctly, however that's going to push a whole new release out. maybe try commenting out all but step 4 in `release-p5.js` ?

[2019-01-14 07:32] danielemichieletto commented on #3293
I confirm the bug, also with firefox chrome in iOS 12.1.2

[2019-01-14 09:32] closebang opened #3452 "beginShape(TRIANGLE_STRIP) is not working properly"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.2
- Web browser and version: Chrome 71.0.3578.98, Firefox 63.0.3
- Operating System: MacOS 10.14
- Steps to reproduce this:
In the WEBGL its look like the "beginShape(TR

[2019-01-14 12:18] limzykenneth commented on #3386
@hellonearthis Default setting of prettier [recommends semicolons](https://prettier.io/docs/en/options.html#semicolons), they were optional since a long time ago but this discussion is already covered in another issue.

[2019-01-14 12:52] nour023 opened #3453 "saveCanvas() works fine but it cant save the p5s dom"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-01-14 15:55] lmccart commented on #3453
This is the correct behavior, saveCanvas() saves only the canvas element, created by createCanvas(). I think there's not any good way to save out the whole screen from within the JS code, easiest would be to take a screenshot or to use a program to automate this task.

[2019-01-14 16:34] sanketsingh24 commented on #3265
Yes, I also think that, if we implement the fix in `resize` it might break the whole thing. I also think the same, fix needs to be in `setattributes`.

[2019-01-14 16:41] nour023 commented on #3453
that's a pity .. cause i have some elements like icons  created by  "createDiv" and saveCanvas() saves  the whole page and my page's width and hieght are quite bigger than innerWidth and innerHeight .. screenshot will take only (innerWidth*innerHeight) .. thank you :)

[2019-01-14 18:06] AdilRabbani commented on #3452
Are you sure your loop is correct? This one gives me correct results for both 2D and 3D.

[code]

2D            |  3D
:-------------------------:|:-------------------------:
![2d](https://user-images.githubusercontent.com/15272015/51131186-ca2e6800-1850-11e9-8a37-874a7d72ef4e.PNG)|![3d](https://user-images.githubusercontent.com/15272015/51131192-cef31c00-1850-11e9-9ba9-6b051dedf533.PNG)

[2019-01-14 18:15] Spongman commented on #3265
I think we want to do the `push`/`pop` dance every time, since it’s creating a brand new canvas & 3d context and we want to make sure all the properties are copied across. This isn’t just to preserve the camera state.

[2019-01-14 19:03] closebang commented on #3452
Hey @AdilRabbani,

I tried your loop and its look diffrent for me.

Which OS / Browser are you using?

<img width="303" alt="bildschirmfoto 2019-01-14 um 20 02 40" src="https://user-images.githubusercontent.com/7612464/51134277-63e91b80-1837-11e9-89eb-e97d4e93aa87.png">

[2019-01-14 20:14] sanketsingh24 commented on #3265
Sorry for mistyping, I just read what I wrote and I didn't phrase it clearly :sweat_smile:.

Some possible fixes -
1.  I meant that we can `push` the `_curCamera` only when `cameraType` is `custom`, because when `cameraType` is `default`, we compute it again [here from scratch](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Camera.js#L931).

2.  I think when `resizeCanvas()` is calle

[2019-01-14 20:57] closebang commented on #3452
Hey,

yes thanks, with building from Master is helping 👍

I also found a mistake made by me. In the first loop Its have to be y ( for the rows) and x (for the cols )🙈

Here compare the two builds:

Website CDN 0.7.2:
<img width="299" alt="bildschirmfoto 2019-01-14 um 21 51 21" src="https://user-images.githubusercontent.com/7612464/51140555-15437d80-1847-11e9-97fc-61def895c37e.png">

Build from Mas

[2019-01-14 20:57] #3452 closed

[2019-01-15 09:35] nour023 commented on #3453
hello

Le lun. 14 janv. 2019 à 16:55, Lauren McCarthy <notifications@github.com> a
écrit :

[2019-01-15 10:14] hellonearthis commented on #3453
I did a little googling on this,  was hoping I could find a way to access chrome's command panel to use it's screenshot features via javascript. nope.

Next I saw that people were converting the dom to svg then  rendering that to a canvas.
Here's a few links.
http://html2canvas.hertzen.com/documentation
https://github.com/miohtama/Krusovice/blob/master/src/tools/html2svg2canvas.js
http://docs.w3cu

[2019-01-15 17:45] hkirat commented on #3450
Hi @hellonearthis
I would like to work on this issue.

[2019-01-15 18:57] #3453 closed

[2019-01-15 19:03] sanketsingh24 commented on #3246
I think this is due to the fact that `_curCamera` uses radians to compute FOV properties and there is no condition when `this._angleMode` is degrees. Shall I send a PR to fix this?

[2019-01-16 10:54] sanketsingh24 commented on #3246
@Spongman Yes you are right. I also think that.

[2019-01-16 11:01] michelefenu commented on #3382
@hellonearthis I can not figure out if you're already working on this :) Otherwise I can work on it

[2019-01-16 11:03] sanketsingh24 commented on #3265
@Spongman Please review.

[2019-01-16 14:37] a4ankit opened #3459 "Save Images and Train them and get results"
We are using 'imageClassifier' and 'featureExtractor' methods to recognize images using ml5-library and p5.js. We have successfully recognized the images with your Pre-trained model.
We are successfully implemented featureExtractor.classification(video, VideoReady) function to add a poses using a video element. But now we want to add an image using featureExtractor's addImage() function as it show

[2019-01-16 16:49] lmccart commented on #3459
the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2019-01-16 16:49] #3459 closed

[2019-01-16 16:50] #3246 closed

[2019-01-16 17:47] dinesh196 commented on #3367
@Ajayneethikannan  since there are a number of pages, I would also like to help in updating the snippets and thus, this issue.

[2019-01-17 05:19] lmccart commented on #3444
ok, looks like we're good now. I ran the command as you instructed and docs updated to 0.7.2, which is the latest. agree this doesn't need to be documented publicly.

[2019-01-17 05:19] #3444 closed

[2019-01-17 07:08] CheshtaKumar commented on #1496
I'm trying to connect an IP Camera instead of a droidcam or webcam. Is it possible ? If yes, Please suggest on how to use an IP Camera with p5.js

[2019-01-17 09:39] CheshtaKumar commented on #1496
Hi
I'm trying to integrate IP camera with p5.js .Is this possible ? If yes, Please suggest how can I do that.

Thanks in advance

[2019-01-17 11:13] closebang opened #3460 "beginShape close end is not working"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: master from 17.01.2019
- Web browser and version: Chrome, Firefox
- Operating System: MacOS Mojave
- Steps to reproduce this:

I did some learning and s

[2019-01-17 18:39] sanketsingh24 commented on #3460
This was recently implemented in #3433 by @AdilRabbani. Though this behaviour is certainly incorrect.

[2019-01-17 20:03] sanketsingh24 opened #3461 "Feature request: resetShader()"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] WebGL (Shader)

#### New feature details:
In Processing, resetShader() is a function which restores the default shader. Wouldn't it be nice if it
is also present here? There are always some workarounds, but this will surely be easier to use, for both the beginners (Like me) and for the experienced one'

[2019-01-17 20:38] AdilRabbani commented on #3460
Before #3433 closePath() was being called after stroke() in the function `p5.Renderer2D.prototype._doFillStrokeClose()`. Looking at a [simple example](https://www.w3schools.com/tags/canvas_closepath.asp), it is clear that closePath() doesn't really 'close path' if it is called after stroke(). So it seems that the method wasn't really doing anything in the function before #3433.

I apologize that I

[2019-01-18 15:02] AdilRabbani commented on #3460
@closebang @sanketsingh24 would you care to test #3462?

[2019-01-18 16:43] msawired opened #3463 "createImg causing cross-origin errors on cross-origin image loads."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-01-19 12:53] klevstul opened #3464 "ReferenceError: square is not defined"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.7.2 September 02, 2018
- Web browser and version: firefox 64.0.2
- Operating System: manjaro linux

#### Steps to reproduce this:

- visit htt

[2019-01-19 14:17] sanketsingh24 commented on #3464
I think this error arises because this was implemented in PR #3393 some days ago, and this error doesn't shows up when docs are built locally. Probably because online reference docs were built two days ago (in #3444) by @lmccart  but the p5 version used by reference is still v0.7.2 (commit in #3393 is not included in v0.7.2). @limzykenneth  @Spongman can you help me here please?

[2019-01-19 14:20] limzykenneth commented on #3464
The only immediate solution I can think of is to either revert back to the 0.7.2 tag then run the `release-docs` task or push out a new version. I didn't anticipate this problem back in #3444...

[2019-01-20 20:35] #3460 closed

[2019-01-20 21:00] lmccart commented on #3464
I posted a new release so `square()` should be in there now. However, I wasn't able to get the docs to release the latest version on the website. the `grunt release-p5` command threw an error. I tried to rerun with `grunt release-docs` and got this printout:
[code]

[2019-01-20 21:31] lmccart commented on #3464
yeah you're right ref is up to date. so it's not a critical error but one we might want to remove to alleviate confusion

[2019-01-20 21:31] #3464 closed

[2019-01-20 21:32] limzykenneth commented on #3464
Yeah, looking into it now and something seems weird, I'll report back when I find something out.

[2019-01-20 21:54] limzykenneth opened #3465 "Release docs task git behaviour"
Continuing from #3464, I think I've managed to track where the problem came from but my git knowledge (maybe even shell knowledge) isn't good enough to understand the behaviour. The problem lies in this block of code in [release-docs.js](https://github.com/processing/p5.js/blob/master/tasks/release/release-docs.js):

[code]
Most notably this:
[code]

Apparently git is printing identical message to

[2019-01-20 23:31] meiamsome commented on #3465
GitHub recently started sending these messages when you push, yes. It would be better to check the return code of the command for failure instead. It looks like [any non-zero return code would actually result in `error` being set](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback), so we should be fine to drop the condition on `stderr`. Perhaps pri

[2019-01-21 01:30] datramt opened #3466 "oblong arc() draws angles inconsistently"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-01-21 13:05] vedhant commented on #3461
This feature sounds nice. Although I'm a beginner in webgl I would like to work on this feature. I would like to listen to your approach to implement this.

[2019-01-21 15:45] limzykenneth commented on #3465
I'll file a PR removing the check for `stderr` then.

[2019-01-21 19:55] #3465 closed

[2019-01-22 13:52] vedhant commented on #3466
You are right. There is inconsistency in the way angle is used in arc().
Can I work on this issue @datramt  @Spongman @lmccart ?

[2019-01-22 13:59] vedhant commented on #2182
If no one is working on this currently, I am willing to contribute to this issue!

[2019-01-22 15:42] #3382 closed

[2019-01-22 17:39] lmccart commented on #3466
@vedhant certainly!

[2019-01-23 03:33] Trimad opened #3473 "Vertex is now seemingly totally broken"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-01-23 04:14] Trimad commented on #3473
Another development:

So I've discovered that if I texture my shape with an image, the program works as intended. Problem is, I don't want to texture my shape. Working code:

[code]

![textured](https://user-images.githubusercontent.com/13515006/51582713-61a74280-1e71-11e9-80d6-4e5742115c70.png)

[2019-01-23 06:27] mattt-b opened #3474 "Problem importing p5.dom in webpack project"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Other (specify if possible)
p5.dom

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3
- Steps to reproduce this:

I am using p5js 0.7.3 with webpack. I do not get this error with 0.7..2. When using the global script tags in

[2019-01-23 11:12] limzykenneth commented on #3473
@Trimad Have you tried the sketches outside of the Processing p5.js mode? The mode is not maintained officially and will likely be out of date. If you wish to run you code locally you will need to follow steps lay out [here](https://p5js.org/get-started/)

[2019-01-23 11:17] limzykenneth commented on #3474
`p5` needs to be defined first in `p5.js` before loading in `p5.dom.js`. Without knowing how you are using webpack to package the two scripts it's hard to tell what the problem is. If moving the loading order of the scripts solve your problem then there likely isn't going to be a further problem.

[2019-01-23 14:53] mattt-b commented on #3474
In short:
* [these two functions](https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L3225) cause the scripts to not load in webpack. Moving them into the block above where their parent class is defined fixes it for webpack, and continues to work for normal script tag version of p5js.
* `drop()` is listed as a core p5js function, but will not work unless p5.dom is included (this

[2019-01-23 15:03] limzykenneth commented on #3474
The two functions were added a few months ago which is why the problem isn't present in 0.7.2, we can make the change so that it is included in the block as currently it is looking for a global p5 object which doesn't exist in the case of packaged builds like webpack.

As for the issue with `drop()` is it related to this issue (ie. importing into webpack)? If not can a separate issue be filed for

[2019-01-23 15:39] mattt-b commented on #3474
Only in the sense that I believe the same change will fix both issues. I'll make another issue and a PR for both.

[2019-01-23 17:23] mattt-b opened #3476 "Element.drop requires p5.dom despite being a 'core' feature"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: Tested at least 0.6.1 to 0.7.3

[Element.drop()](https://p5js.org/reference/#/p5.Element/drop) is listed as a `core` feature, but it requires [p5.dom](https://p5js.org/reference/#/libraries/p5.dom) since it depends on [p5.File](https://

[2019-01-23 20:12] lmccart commented on #3473
If you want to report issues with processing p5.js mode, you can do that here: https://github.com/fathominfo/processing-p5js-mode

[2019-01-24 08:36] vedhant commented on #3380
@lmccart  can I work on this issue if @verma-varsha  is not working on it currently?

[2019-01-24 12:49] nimishagarwal76 commented on #2530
@kjhollen is this issue still fresh, I would like to upon it

[2019-01-24 12:56] Ajayneethikannan commented on #3422
After the updation of the reference , the createColorPicker examples can be seen in the website , but the p5 and p5-dom versions are presently in v0.5.4 (October 20, 2016), so the example is throwing reference error currently. Should I make a pull request by updating the two files (p5.min.js and p5-dom.min.js) or should this be handled in a different way ? Help please @limzykenneth !

[2019-01-24 16:10] lmccart commented on #3476
I would suggest we move `drop()` to the p5.dom library. It feels like a more specialized function. The methods in p5.js are meant to be the most basic set needed to have basic DOM interactions. Since `createFileInput()` is in p5.dom, for example, it would make sense to have `drop()` there too

[2019-01-24 17:10] Narrathek opened #3479 ":question How works the _validateParameters function in 2d_primitives.js"
### Or to be more precise, how does the parameter validation generally work in p5?

[2019-01-24 18:10] Spongman commented on #3479
the method arguments are defined in the YUIdoc comments above each method's implementation. those comments are compiled into a file `data.json` during the build, which is included in the debug version of the library. the `_validateParameters` function checks that the passed parameters agree with the declared arguments:
https://github.com/processing/p5.js/blob/23a917e57e90988fe1262a8e537786478c9db0

[2019-01-24 18:15] Narrathek commented on #3479
Thank u

[2019-01-24 18:15] #3479 closed

[2019-01-24 23:52] limzykenneth commented on #3422
I'm not sure I understand what you mean. The version of p5.js and p5.dom.js on the website are both 0.7.3 at the moment. `createColorPicker`'s example is also working, just the layout needs to be tweaked.

[2019-01-25 02:14] #3473 closed

[2019-01-25 02:17] #3474 closed

[2019-01-25 02:17] lmccart commented on #3476
fixed with https://github.com/processing/p5.js/pull/3477

[2019-01-25 07:46] Ajayneethikannan commented on #3422
Oh , I am really sorry ! I must have made a mistake while checking. Sorry for disturbing you!

[2019-01-25 11:40] #3422 closed

[2019-01-25 12:18] Ajayneethikannan commented on #3270
I would like to work on this issue !

[2019-01-25 13:09] cellineK opened #3480 "Error Code: 800A03EC"
**Hi guys, I need help to open p5.js file.**

I downloaded p5.js for window version.

When I finish my work and try to open the saved file, I can't open it with an error message.

It says,

Error: ',' is required.
Code: 800A03EC
Source: Microsoft JScript compilation error

What should I do to fix this problem?
I need your help!
Thanks!

![default](https://user-images.githubusercontent.com/46487233

[2019-01-25 13:58] Ajayneethikannan commented on #3270
I tried to fix the issue and this is what I came up with:
Whenever we use the createImg function to create the image with the given data, the corresponding height and width of the image are initially set to 0, before the image has finished loading by the browser.
So when we attempt to calculate the automatic height or width, the calculation results in NaN.

[2019-01-25 19:56] sanketsingh24 commented on #3480
Looking at the screenshot, the file is compiled by jscript, which is a very old version of javascript (p5.js is based on this). Try opening the file in the latest version of chrome, firefox, or MS edge.

[2019-01-25 20:05] Spongman commented on #3480
you are getting this error because you have double-clicked on the `sketch.js` file in explorer and it's trying to run it with the desktop javascript interpreter. in order to see your sketch, you'll need to view the `index.html` file in your browser. for simple cases you can just double-click on the `index.html` file and it will open in your default browser, but you're going to want to eventually s

[2019-01-26 20:18] #3480 closed

[2019-01-27 00:02] aferriss commented on #3414
I finally had a chance to look this over and filed https://github.com/processing/p5.js/pull/3483 which should hopefully fix in these instances.

[2019-01-27 03:10] #3414 closed

[2019-01-27 22:43] joecridge commented on #3318
So I took some liberty with ‘shortly’ 😆, but I’m working on this now 🤓.

[2019-01-28 04:18] sc231997 commented on #3450
@hellonearthis I would like to work on this.

[2019-01-28 09:54] sc231997 commented on #3450
@hellonearthis
I want to try to fix this.
Where can I find the code where keyPressed() is implemented?

[2019-01-28 10:34] hellonearthis commented on #3450
I have no idea where the code is,  i guess the issue is around having to things tapping into the keyboard event.  But on the demos, i can stop both demos and then try to start the 2nd demo with no luck.

Having only one example is the current fix but it's no solution.

[2019-01-28 11:38] cellineK commented on #3480
Thanks for your reply spongman.
But what if i want to open Java script file and change some code which I have done?

[2019-01-28 12:19] sanketsingh24 commented on #3480
You need an editor for that. The most basic editor available in Windows is Notepad, you need to open the file in it. Some other popular editors are Brackets, Sublime text, Atom, VSCode, Notepad++, etc.

[2019-01-28 12:32] limzykenneth commented on #3450
`keyPressed()` is defined in [here](https://github.com/processing/p5.js/blob/master/src/events/keyboard.js#L176). I would suggest determining whether the problem is limited to the reference page or is it a general bug in the library first before attempting to fix anything.

[2019-01-28 13:06] sc231997 commented on #3450
In `keyIsDown()` reference page also we have two examples and there the function is working as expected. So maybe there is an issue with the library.

@limzykenneth can you have the look and tell what may be the issue.

I am new here so not much idea with code base still learning. :)

[2019-01-28 16:18] Spongman commented on #3450
It might be helpful to find which git commit (if any) introduced the bug. `git bisect` Can be used for this.

[2019-01-28 18:32] vanyamil opened #3485 "Shader failure on Ubuntu Firefox"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering
- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: NPM version 0.7.2
- Web browser and version: Firefox 64.0 (Build ID 20181207230928)
- Operating System: Ubuntu 16.04.5 LTS (Xenial)
- Steps

[2019-01-29 02:22] inkiebeard opened #3486 "Dynamic Getters"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: Chrome - 71.0.3578.98
- Operating System: Windows 10
- Steps to reproduce this:

Have a button that allows for

[2019-01-29 22:34] ikselven commented on #3346
Firefox 65 has been released today. I cannot reproduce the issue anymore and the example works fine now.

[2019-01-29 22:34] #3346 closed

[2019-01-30 18:20] ScottGrogin opened #3487 "Feature request: fract()"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
I think that having a fract() function to return

[2019-01-30 18:50] ScottGrogin commented on #3487
I recognize that there are easy ways for people to implement fract() on their own, but there other functions in p5js that are just as easy to implement. You could argue that a function sq() isn't really needed because it just returns the value passed through multiplied by itself.

[2019-01-30 18:58] vedhant commented on #3487
If this feature is to be added, I would like to do it.

[2019-02-01 13:57] Ajayneethikannan commented on #3270
As I was going through the docs, I noticed that createImg function had a callback parameter,called after the image has loaded , and I believe that the correct way to call the  methods  on the image object would be to call it inside the callback function.
so changing this code :

``let img = createImg(data.message);
 img.size(500, AUTO);``

to:

`let img = createImg(data.message,  () => img.size(50

[2019-02-01 18:17] 606ep commented on #2658
looks like now it is called `loadImage`

[2019-02-02 19:11] grege2 opened #3490 "0.7.3 not obeying angleMode(DEGREES) in WEBGL mode"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: Chrome 71.0.3578.98
- Operating System: Mac 10.14.2

- Steps to reproduce this:

It seems like p5.js 0.7.3 is not obeying angleMode(DEGREES

[2019-02-02 19:36] sanketsingh24 commented on #3490
I changed the code in #3458, will take up this issue and try to solve it.

[2019-02-02 22:35] grege2 commented on #3490
@Spongman @sanketsingh24  Thanks for fixing this.

[2019-02-02 23:32] GlitchIT commented on #3486
That's absolutely true, my example was more a quick & dirty + simplicity to show the sort of variables that might need to be accessed. I'm by no means an expert in how the library is currently written, was just giving a possible function & more context for the end result of the feature request.

@Spongman do you know of any other way to determine if p5.instance._loop is true/false? Calling `loop()

[2019-02-03 00:02] Spongman commented on #3435
while it won't help in all cases, for this particular example, the following additional check knocks ~25% off the running time:

https://github.com/processing/p5.js/blob/edb41cf513efafd3734221a3b8cdc266f90d6bb3/src/typography/p5.Font.js#L448

to:
[code]

when the `_textWidth` call is unavoidable, i think it's a lost opportunity that the `getPath` call doesn't return the accumulated `advanceWidth`

[2019-02-03 00:07] Spongman commented on #3486
i think, in lieu of changing the API, the stimplest solution is to fix the stack overflow bug in `loop()`:

[code]

[2019-02-03 18:13] Blingboy740 opened #3492 "I NEED HELP"
I have the complete library installed and after trying to run this code:

let names;

function preload(){
  names = loadStrings("names.txt");

}
function setup() {
  createCanvas(windowWidth,windowHeight);
  console.log(names);
}

function draw() {

}

i get this error :
p5.min.js:3 Fetch API cannot load file:///C:/Users/Bogdan%20Cuciureanu/Desktop/p5/empty-example/names.txt. URL scheme must be "h

[2019-02-03 18:52] hellonearthis commented on #3492
It's a security feature with Chrome that protects users by forcing file access to be via https.
Solutions :
use a server with https like xamp
Use vscode live server with it configured to https
Use Firefox (I think it doesn't have this issue)
Use the P5 Web editor

[2019-02-03 19:00] limzykenneth commented on #3492
Hi @Blingboy740, in the web environment if you want to load in external files (ie. something like `loadStrings`) you need to serve your webpage with a web server (remote or local). Have a look at [this page](https://github.com/processing/p5.js/wiki/Local-server) for some options for running a local web server. Otherwise you can use the [web editor](https://editor.p5js.org/) to run your code which

[2019-02-03 19:00] #3492 closed

[2019-02-03 22:20] Spongman opened #3493 "get() returns pixel/image inconsitently"
re: https://codepen.io/Spongman/pen/wNeoJd?editors=0011

here's a table of the return type of `get(x,y,w,h)` based on different values for passed parameters.

[code]

there's a lot of strange inconsitencies here, and IMO _only_ `get(number, number)` should return a pixel array, and _everything_ else should return an `Image` (or perhaps an error).

ie, it I believe it would be more consistent if it

[2019-02-03 22:56] hellonearthis commented on #3493
1 x 1 should be a pixel

[2019-02-03 23:41] arapl3y commented on #3119
I'm still getting this issue in the p5 web editor
[code]

outputs:
![screen shot 2019-02-04 at 10 39 34 am](https://user-images.githubusercontent.com/14939268/52184580-5ab50280-2869-11e9-9ff6-8a0261f756ae.png)

[2019-02-03 23:54] makeyourownalgorithmicart opened #3494 "circle(radius) breaks my code and teaching resources, future plans for it to change again?"
Hi

I [previously](https://github.com/processing/p5.js/issues/2305) proposed changes to p5js to make the language easier for younger and non-technical newcomers, in line with the processing foundations own aims and objectives for reach and accessibility. They were reacted at the time.

I went on and created my own [simple.js](https://github.com/makeyourownalgorithmicart/simple.js/wiki) library whi

[2019-02-04 00:32] hellonearthis commented on #3494
Why not just have diameter = radius * 2 or use diameter / 2 when calling circle/ellipse .
The center point of  circles and rectangles are also different unless rectmode is used.
Random looks mostly the same, apart from yours has a floor included.

With the few number of functions in simple,js it should be easy to update that to work with P5.js

[2019-02-04 02:42] Spongman commented on #3493
well, currently 1x1 _does_ return a pixel, and that's one of the inconsitencies i was talking about.

there is already a way to return the pixel value at a given point: `get(x,y)`, there's no need to have `get(x,y,1,1)` do the same thing especially since there is currently _no_ way to get a 1x1 `Image` from that method.

IMHO the result of an overloaded method should depend on the _types_ of its a

[2019-02-04 02:58] Spongman commented on #3493
just putting some links in here for reference:

- #2720 Get() only returns pixel
- #2330 get() image function trouble with w,h parameters
- #1040 p5.Renderer2D.get() not working with bounds outside the top or left side of canvas
- #1041 Fix for get() not working with bounds outside the top or left side of canvas
- #1038 p5.Renderer2D.get() partially handles overlapping and does not handle cropping

[2019-02-04 04:36] lmccart commented on #3494
Hey @makeyourownalgorithmicart thanks for your post! We did in fact implement `circle()` directly based on your feedback and are super excited about your library. Sorry it took a while. I think we just got the implementation details not quite right. An enthusiastic contributor responded to the request for circle() addition and it got merged, all before there was a lot of time for comment. We're to

[2019-02-04 10:11] AdilRabbani commented on #3119
I believe the p5 web editor is not updated with the latest version. I am getting correct results for the above example when building from the master branch.
[code]
Outputs:

![result](https://user-images.githubusercontent.com/15272015/52201943-decdb100-288e-11e9-80af-19b1582a6e37.PNG)

[2019-02-04 10:59] AdilRabbani commented on #3119
Also getting correct results for Version 0.7.3 from the [official website](https://p5js.org/download/).

[2019-02-04 12:54] makeyourownalgorithmicart commented on #3494
hi @lmccart thanks for taking the time to get back to us, and also for making a thoughtful and considered comment.

I totally sympathise with the bandwidth issue! I also do this entirely in volunteer time, including teaching kids and developing teaching resources.

---

On the raising awareness / social media / blogs point - I do think it is important for several reasons:

- We need to reach peopl

[2019-02-04 17:03] stalgiag commented on #3119
Thanks for checking @AdilRabbani!

[2019-02-04 17:03] #3119 closed

[2019-02-04 18:24] Spongman commented on #3493
here's an example that demonstrates the returned value of `get(x,y,w,h)` changing type from image to pixel array when the bounds go out of range. the rectangle is drawn red when the type is wrong:

https://codepen.io/Spongman/pen/dazybG?editors=0011

here's an example where instead of returning a 1x1 image, it returns a pixel array. this time it just crashes:

https://codepen.io/Spongman/pen/rPzNZ

[2019-02-04 18:54] Spongman opened #3496 "loop() issues"
re: #3242, #3495

i see a couple of issues with loop() currently:

1) calling loop() inside draw() when looping is currently enabled, causes a recursive call to draw which can go infinite.
2) calling loop() inside setup() also calls draw() which can cause weird side-effects.

here's a sketch that illustrates this:

https://codepen.io/Spongman/pen/WPEbeB?editors=0011

[2019-02-04 21:10] meiamsome commented on #3496
I think these tests would describe the problems well, and should be added to the repo:
[code]

Both fail on the current master, as expected.

[2019-02-05 02:34] stalgiag commented on #2707
Hi @Bjvanminnen I can't reproduce this so I am going to close for now. Feel free to ping here if you see this pop up again.

[2019-02-05 02:34] #2707 closed

[2019-02-05 02:53] grege2 commented on #3490
@Spongman @sanketsingh24
Just fyi, I've modified my code to always use Radians mode, ie. the default, and everything works fine at 0.7.2 and 0.7.3. So I'm a happy camper. No need to rush out a 0.7.4 for me :=)

[2019-02-05 12:35] infusion opened #3498 "You must first call texture() before using vertex() with image based u and v coordinates"
Hello,

I just updated my dev branch from 0.7.2 to 0.7.3 and get tons of warnings for each attempt to draw lines, vertices and so on in WEBGL. The library still works perfectly well but it is not possible to work with this version due to the massive amount of warnings. Here is a simple example to reproduce:

[code]

Thanks Robert

[2019-02-05 13:45] sanketsingh24 commented on #3498
I think this is fixed in #3483, but it is not present in v0.7.3, and will be present in the next version release, so I guess you can use the build from the master branch, which does not have this problem.

[2019-02-05 22:49] makeyourownalgorithmicart commented on #3494
I suspect this issue has lost momentum.

What's the best thing I can do? Prepare a PR?

(I'll have to learn how to do this, I've never done one before...)

[2019-02-05 23:58] montoyamoraga commented on #3494
hi everyone!
i also agree that circle() should use diameter instead of radius
i just did pull request #3499 to try to fix it, I'm not totally sure if what I did is right,
can someone help me check if it's right?

[2019-02-06 00:06] hellonearthis commented on #3494
I like the idea of a mode setting so users can select radius or diameter.

[2019-02-06 00:12] montoyamoraga commented on #3494
Hi @hellonearthis !
Yes, I agree that users should be able to select either radius or diameter, and I think
ellipseMode() should affect the settings of the circle, since a circle is a special case of an ellipse, with equal width and height. The same goes for rectMode() affecting rect() and square().

I think that since circle() and square() are aliases for ellipse() and rect(), this behaviour is a

[2019-02-06 00:17] meiamsome commented on #3494
@montoyamoraga

You are correct, `ellipseMode` does already affect `circle`, but it is very clearly wrong - in diameter mode the third parameter is the radius of the circle. In radius mode it is half the radius, which leads to the conclusion that this was just a mistake.

[2019-02-06 00:21] intuitivetextmining commented on #3494
default should be diameter

I've successfully changed the source code and will post my changes on the next few minutes

[2019-02-06 00:31] intuitivetextmining commented on #3494
ps @meiamsome .. hello from Cornwall! (I also used to live in Bristol ..)

[2019-02-06 00:37] Spongman commented on #3494
is all the `arguments` array manipulation still necessary?

wouldn't it be simpler and less prone to deoptimization,  just to call `this.ellipse(x, y, r, r)` ?

[2019-02-06 00:40] meiamsome commented on #3494
@Spongman
There's no reason we couldn't just do `p5.prototype.circle = p5.prototype.ellipse` as `ellipse` already handles the 3 argument case... depending upon if we care about the behaviour when someone calls circle with 4 arguments.

(@intuitivetextmining oh, hello :P )

[2019-02-06 00:42] Spongman commented on #3494
having a separate definition _would_ allow parameter validation to happen...

[2019-02-06 10:10] infusion commented on #3498
Yep, the patch looks good. For when is v0.7.4 planned?

[2019-02-06 11:07] makeyourownalgorithmicart commented on #3494
great! looks like we have a solution.

what are the next steps? do we have to ask someone to "approve it" .. or is it a "board" decision?

do we need to consult more widely?

(thanks @meiamsome and @montoyamoraga @Spongman for helping on this)

[2019-02-06 11:20] sanketsingh24 commented on #3498
I don't have idea about the next minor version, but the next major version v0.8.0 is scheduled on 31st March

[2019-02-06 13:13] makeyourownalgorithmicart commented on #3494
I learned how to create a PR

here it is: [https://github.com/processing/p5.js/pull/3500](https://github.com/processing/p5.js/pull/3500)

[2019-02-06 14:16] sanketsingh24 commented on #3061
I think we can add `setattribute` to preload, maybe change the name and the method to like `preloadattribute` and implement what @stalgiag said in the first approach.

OR, we can add an optional argument to `createcanvas` which accepts an object with property name and values, but it would certainly add a little load on the function, but it would save the time taken to recreate an entire context ag

[2019-02-06 16:31] lmccart commented on #3494
Thanks @makeyourownalgorithmicart I'm going to try to merge #3499 which has the same change as soon as we get one small edit taken care of.

Regarding your notes about raising awareness / social media / blogs: thanks for these thoughts. To be clear, I was not arguing against this at all, I am completely in favor of all of it. I was mentioning that it is a lot to take on and so any help is very muc

[2019-02-06 16:46] makeyourownalgorithmicart commented on #3494
thanks @lmccart that makes a lot of sense.

and @saberkhaniscool I'd be very happy to discuss ideas and wha I've learned my experience with you.

great work!

[2019-02-06 18:27] saberkhaniscool commented on #3494
Hi @makeyourownalgorithmicart would love to hear your thoughts. Wanna drop me an email so we can get started. It is in my bio.

[2019-02-06 19:27] grege2 commented on #3498
Hi @sanketsingh24 @lmccart
I didn't know there were release schedules. That could be useful, eg. I'm sending some colleagues new code, but if a release might happen in a few days or a week I would wait and test against it. Is a schedule (and planned content?) viewable anywhere ? Thanks. (Also, and this isn't said enough, thanks to everyone here for a great product. The ease and flexibility of desi

[2019-02-06 19:41] lmccart commented on #3498
@grege2 we have a [0.8.0 release](https://github.com/processing/p5.js/milestones) targeting march 31, but don't have a schedule for minor releases in the interim, it's really as we can do them. we'd like to get to a point where we have more scheduled releases, but we're not there yet.

[2019-02-06 20:16] montoyamoraga commented on #3494
thanks everyone!
I just updated #3499 to fix the var instead of let.
now it passes the travis checking, and its ready to be merged.
can anyone double check that what I wrote is right? go p5.js =)

[2019-02-07 12:01] sanketsingh24 commented on #3485
are you able to reproduce this error in v0.7.3?

[2019-02-07 18:15] vanyamil commented on #3485
Actually, v0.7.3 has its own issues; I can't use it at all due to some function in p5.File failing its imports.

[2019-02-07 18:21] sanketsingh24 commented on #3485
Can you please elaborate more on this? If possible, can you share your code?

[2019-02-07 19:00] vanyamil commented on #3485
https://github.com/vanyamil/vanyamil.github.io/tree/7e1c84b564c7929704adc2e58e2e0bb1059b261d

[2019-02-07 21:10] #3250 closed

[2019-02-08 00:19] Spongman opened #3501 "cropping manual test is broken"
since the order of `image()` parameters was switched in 6ac5bc00e101c739e1c423939294a8db51cf3210, the '/test/manual-test-examples/p5.Image/cropping.html' sample has been broken.

[2019-02-08 01:16] stalgiag opened #3503 "some webgl texture manual tests are broken"
Several WebGL manual test examples are broken since #3056. These can be fixed by setting `textureMode(NORMAL)` in setup or by changing the coordinates to use the image dimensions instead of 1.

Broken tests include:
[immediateMode/texture](https://github.com/processing/p5.js/tree/master/test/manual-test-examples/webgl/immediateMode/texture)
[immediateMode/minTextureAndFill](https://github.com/proc

[2019-02-08 01:23] #3501 closed

[2019-02-08 02:52] Spongman opened #3505 "Color.toString() is slow"
0.7.3

i noticed, while profiling `MediaElement.get()` using the ‘loadPixels’ manual test, that a large chunk of the total time is taken up in `Color.toString()`.

if you call `stroke()` or `fill()` in a loop, then this method is called a bunch.

![image](https://user-images.githubusercontent.com/1088194/52842019-a1e59380-30b2-11e9-81d3-a52e9eca3673.png)

[2019-02-08 17:30] odvnpx commented on #3293
Confirm same issue on iOS 12.1.4.

[2019-02-09 06:12] Ajayneethikannan opened #3508 "keyPressed works only for one instance of p5.js"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-09 07:37] meiamsome commented on #3508
This is a duplicate of #3193, I believe.

[2019-02-09 07:48] Ajayneethikannan commented on #3508
Oh I am sorry, I will work on that issue then ,  thank you ! Should I close this issue?

[2019-02-09 07:52] meiamsome commented on #3508
@Ajayneethikannan Yep, I think so - hopefully the comments on there will be helpful :)

[2019-02-09 07:53] Ajayneethikannan commented on #3193
Can I work on this issue ? I too believe that downKeys should be present separately for every instance.

[2019-02-09 07:54] #3508 closed

[2019-02-09 10:25] hellonearthis opened #3509 "shapeMode() new feature"
Processing has a [shapeMode() function](https://processing.org/reference/shapeMode_.html) that lets you set the draw position to be `CENTER, CORNER or CORNERS`  This is missing from P5 and means that [extra work is needed when defining a shape.](https://discourse.processing.org/t/changing-center-point-of-a-vertex-shape-for-rotation/8239)

- [x] New feature request

#### Most appropriate sub-area o

[2019-02-09 12:21] sanketsingh24 commented on #3509
Really cool feature :+1:  Would like to work on this. Although I am not free this weekend, would implement the feature on Monday.

PS - Also, can you please change the title to remove typo?

[2019-02-09 17:16] shiffman commented on #3380
As a reference @wenheLI and @NHibiki created this library as part of an open source class at ITP!

https://github.com/wenheLI/p5.gif/

[2019-02-10 02:16] bmoren commented on #2765
I would like to re-open this issue in relationship to the web editor & it's auto-reload functionality specifically:

#### from the reference:
`Note that calling print() without any arguments invokes the window.print() function which opens the browser's print dialog. To print a blank line to console you can write print('\n').`

This functionality along with the auto sketch reload means that if you

[2019-02-10 05:03] Spongman commented on #2765
A problem with this approach is that `print();` is a native javascript API that existing and/or non-p5 scripts may depend on.

It might be worth investigating why the web editor is behaving the way you describe. Maybe it’s running the sketch inside the print-preview panel, and the nested sketch is itself calling `print()` ad nauseam. If this is the cause, perhaps there is a way to disable `print()

[2019-02-10 19:05] Ajayneethikannan opened #3510 "multiple elements having same id"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) - independent of device

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: Google

[2019-02-10 19:07] Ajayneethikannan commented on #3510
I would love to solve this issue, if it is considered as a valid enhancement. Thank you!

[2019-02-10 23:13] bmoren commented on #2765
Fixing the editor could be a good step, but with 1.0 coming up it's important to lock down syntax like this ahead of it if there is the potential for change.

There have been a number of issues opened here and in the online editor, a quick search reveals:

#3264 #2360 #1597 #1491 #887 #871

looks like the discussion on the current implementation happened here:
#1579

and over on the editor:
https:

[2019-02-10 23:33] meiamsome commented on #2765
Personally, I think p5 should back down from overriding `print` at all, and prefer to rename to function or delete it in its entirety. Is it harder for a new user to learn "`console.log(<>)`" than it is to learn "`print(<>)` but you have to but something in the brackets otherwise it will try to print out the document so you have to be careful not to run it when in that state"? I wouldn't think so,

[2019-02-10 23:44] bmoren commented on #2765
I do think you're overstating the ease for a lot of contexts p5 is used in. At least for an understanding of the functionality, but maybe less so in the sense of just saying use this instead of that, ultimately it's just vocab that the user has to internalize. (this is what I end up doing in class) But to a 10 year old, or an 18-22yo for that matter print() is friendlier than getting into object s

[2019-02-11 01:18] meiamsome commented on #2765
I can definitely see that there are benefits to not having the object stuff involved, and that that would be easier for new users.

I still don't really understand why `print` is used for a beginner anyway?

If you open your browser's log panel it's called "console".
In the p5js editor it is also called "console".
Nothing to me about outputting onto a console has ever screamed "print" as the word

[2019-02-11 01:41] lmccart commented on #3494
fixed iwth #3499 🙌

[2019-02-11 01:41] #3494 closed

[2019-02-11 02:38] meiamsome commented on #3493
What's the purpose of overloading this function so much?
`getImage(x?, y?, w?, h?)`
and
`getPixel(x, y)` or `getColor(x, y)`or `colorAt(x, y)` or `pixelAt(x, y)`
Would seem to be both way more descriptive and less ambiguous. I understand this current design comes from Processing but it is far harder to work with when we don't have compile-time type checking to help users.

[2019-02-11 03:34] nsrinivasan80 opened #3511 "How to open the Java Script console in Chrome?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-11 03:36] nsrinivasan80 commented on #3511
I am unable to open the Java Script Console as described in the Make book.
Please help.

[2019-02-11 03:37] montoyamoraga commented on #3511
Hi @nsrinivasan80
I will take a look at the Make book to check how it is said,
can you try using the methods pointed out here?
https://stackoverflow.com/questions/66420/how-do-you-launch-the-javascript-debugger-in-google-chrome?

[2019-02-11 05:25] bmoren commented on #2765
I'm not attached to `print()` as the name, although I understand it's historical context and most importantly the carry over from processing. `console()` alone would be the most logical in my mind, although I'm sure it would cause issues with the js console object. I agree that it should be part of a bigger conversation! fwiw, in my mind, printing to the console and printing the sketch are two tot

[2019-02-11 06:17] Spongman commented on #2765
My vote is to revert to`println` to both avoid this conflict and maintain compatibility with processing/arduino.

[2019-02-11 07:01] shakeabi commented on #3503
I'd love to take a swing at this, if nobody else is working on it yet.

[2019-02-11 08:04] icq4ever opened #3512 "circle() is not definded on web editor"
on webeditor, circle() function is not working. I can see this error.

[code]

#### Nature of issue?

- [v] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [v] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possib

[2019-02-11 08:16] Ajayneethikannan commented on #3512
Hi @icq4ever ! Can you provide link to your sketch. It would be helpful for people to solve your issue.

[2019-02-11 09:52] sanketsingh24 commented on #3512
Probably this is because the p5 version on editor is not up to date(not so sure)? You should report the error [here](https://github.com/processing/p5.js-web-editor/issues), that repository is specific for the p5 web editor.

[2019-02-11 13:01] k-malek commented on #3512
Same with square()

I use rect() and ellipse() instead. Ex. ellipse(100,100,20,20). I feel like I already got used to it ;p

[2019-02-11 14:07] sanketsingh24 commented on #3512
Ok, now I think it is because the p5 version editor uses is still v0.7.2, but the current p5 version is v0.7.3, and square() and circle() were first introduced in v0.7.3. So I think it is better to close the issue here and open a new one [here](https://github.com/processing/p5.js-web-editor/issues).

[2019-02-11 14:30] icq4ever commented on #3512
@sanketsingh24 thanks! I'll close this issue and open there :)

[2019-02-11 14:30] #3512 closed

[2019-02-11 15:41] nsrinivasan80 commented on #3511
I am unable to open the Java Script console in Chrome.
I followed the instructions given in the book, "Make"

--N. Srinivasan

On Sun, Feb 10, 2019 at 7:34 PM nsrinivasan80 <notifications@github.com>
wrote:

[2019-02-11 15:50] sanketsingh24 commented on #3511
If you are on windows or Linux, CTRL + SHIFT + J works on most browsers (including firefox, chrome, chromium, i don't know about MS Edge though). On Mac, Use ⌥ + ⌘ + J to open Developer Tools and bring focus to the Console.

[2019-02-11 16:17] nsrinivasan80 commented on #3511
I get this error message:
Failed to load resource: the server responded with a status of 500 (Request
Blocked)
--N. Srinivasan

On Mon, Feb 11, 2019 at 7:51 AM Sanket Singh <notifications@github.com>
wrote:

[2019-02-11 18:37] stalgiag commented on #3503
That would be great @shakeabi

[2019-02-11 22:20] stalgiag commented on #3511
Hi @nsrinivasan80 the Github issues section is available for discussions about features and bugs that are relevant for contributors as they work together to develop this library. Unless you believe that something is broken or not working as expected then I recommend asking questions in [the p5 category of the processing discourse page](https://discourse.processing.org/c/p5js). That forum is a grea

[2019-02-11 22:20] #3511 closed

[2019-02-11 22:57] bmoren commented on #2765
does it make sense to re-open this issue for more community discussion?

[2019-02-11 23:17] aferriss commented on #2765
Is there any merit in having the editor handle this problem? If we detect that print() is being called too many times within a certain time interval we could log a warning to the user in the console to be careful with placing print inside of a function that is called every frame and prevent it from firing for x number of frames/seconds. At the moment I can't think of a situation in which someone w

[2019-02-11 23:28] Spongman commented on #2765
may we can just disable `window.print()` when it's called from within the `draw()` function? this would still allow calling it from within event handlers. there could be an appropriate warning printed to the console when `print()` is called from within `draw()` and maybe a global variable (eg, `p5.enableLegacyPrint`) that re-enables the original behavior.

[2019-02-12 00:25] #3490 closed

[2019-02-12 01:38] stalgiag commented on #2734
Just putting a note here that the [ThreeJS implementation of this loader](https://github.com/mrdoob/three.js/blob/master/examples/js/loaders/STLLoader.js) is already fairly close to something that would work for us.

[2019-02-12 01:40] stalgiag commented on #2728
perhaps this will be fixed by #3076 or something similar?

[2019-02-12 01:55] #3265 closed

[2019-02-12 11:51] MakoMakox opened #3516 "Is there a way to find the drop of a song using p5.js audio module?"
Is there a way to find the drop of a song using p5.js audio module?
How should I proceed ? Thank you for your time

[2019-02-12 11:55] hellonearthis commented on #3516
Might be better to ask here.
https://discourse.processing.org/c/p5js/p5js-questions

[2019-02-12 19:44] #3503 closed

[2019-02-12 20:09] stalgiag commented on #2805
[Unable to create a shader program without both frag and vert](https://stackoverflow.com/questions/45038172/is-it-possible-to-create-webgl-programs-with-only-vertex-shaders). It seems that to fix this we should either change the documentation so that both parameters are required or add a basic backup frag shader to load when the [shader's frag source is undefined](https://github.com/processing/p5.

[2019-02-12 22:44] stalgiag commented on #2805
I think that it makes sense to require both the vert and frag. I [quickly made a branch](https://github.com/stalgiag/p5.js/commit/ca4376e81ae1f1996a6b07b84f2318c2c0b88b6c) that assigns a default frag shader to any shader created without a frag but this opens up questions about why the frag is optional and not the vert. I think use cases where a user wants to use a custom vertex shader but doesn't

[2019-02-12 22:56] #3410 closed

[2019-02-12 23:02] stalgiag commented on #3516
Yes, @hellonearthis is correct. The github issues section is reserved for bugs and feature discussions. The discourse page should help though. Good luck @MakoMakox !

[2019-02-12 23:02] #3516 closed

[2019-02-12 23:34] stalgiag commented on #3383
I am not sure that I see any major problems with any of the examples in the [ Lighting section of reference.](https://p5js.org/reference/#group-Lights,%20Camera). Maybe I am missing something?

@vibss2397 I think you might be able to make an improvement to the [directional light example](https://p5js.org/reference/#/p5/directionalLight) by bringing the light to the camera side of the sphere on the

[2019-02-12 23:45] stalgiag commented on #3348
Hi @martinleopold this no longer reproduces in master. As far as defaults for antialiasing and resetting of fill and stroke, this is because of the fact that a new context is created when you call smooth.  This is just part of the current implementation of smoothing. Perhaps a future documentation change is order but since the main problem here is gone I will close this for organizational purposes

[2019-02-12 23:45] #3348 closed

[2019-02-13 10:26] Dhomiss opened #3517 "constrain(), when low > high, returns high"
Found that [`constrain()`](https://p5js.org/examples/input-constrain.html) just outputs `high` if `low` is greater than `high`. e.g.
[code]
Which wasn't very helpful in the situation I was using it.
Perhaps it would be better that when `low` is greater than `high` the values are swapped?
[code]
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [

[2019-02-13 13:15] limzykenneth commented on #2765
I'll reopen this issue as I think with the p5 editor problem (I also had that in class just last week) it is worth reinvestigating this again. It would be nice to solve this problem in the library instead of just in the editor as the problem are essentially the same in both cases.

Personally, I think @Spongman's proposal of disabling `window.print()` in `draw()` sounds appealing to me and I think

[2019-02-13 20:59] grege2 commented on #3517
Great catch @Dhomiss. You're right, there's absolutely no validation of the args to constrain(), it assumes low < high. I agree with you, that a reasonable fix would be to reverse low and high when low > high. Other related calls like min() and max() don't assume any order in the args, a user would reasonably like to interpret the constrain() call as "keep my value between these two other values".

[2019-02-13 21:20] Ajayneethikannan commented on #3359
Hi @Leiyufazhuangjia ! I remember earlier that this sketch does not work if you do not call background method. It was by luck the sketch started working when background function was called,  I tried to find out what the bug was, and after a long time , I have finally found the issue.

Even though calling the background method seems to be enough to make the sketch functional, it is hiding a pretty

[2019-02-13 22:28] grege2 commented on #3517
Having jumped in with my $0.02, I'll put my hand up to fix this. I'll wait a day or two to see if the community has any comment.

[2019-02-13 23:45] limzykenneth commented on #3517
My opinion is that automatically swapping them around when `low > high` is too magical. It complicates what the function actually does by making the logic flow ambiguous. If validate parameters can check to make sure that `low < high` and if not send a friendly error message, that would be better in my opinion.

[2019-02-14 00:05] Spongman commented on #3517
i think that testing the relative values of parameter is currently beyond the scope of the parameter validation stuff. it's really limited to the _types_ of parameters as far as those that can be encoded in the YUI docs. YUIdocs _does_ have the capability for declaring some very simple limits on the values of parameters (such as '>= <constant>'), but the parameter validation stuff in `p5` doesn't

[2019-02-14 01:48] meiamsome commented on #3517
I think this may be too magical. Particularly, I think this is a problem with `map()` where putting in the arguments backwards changes the behaviour in a logically consistent way. The question becomes, if we force the order here to be correct, why wouldn't map do that too, which would break a lot of use cases for map.

+1 for giving a FES error if possible, though, not from `_validateParameters` -

[2019-02-14 01:53] meiamsome commented on #3359
@Ajayneethikannan Nice analysis, looks like this is the same bug that is fixed in #3504 then?

[2019-02-14 11:21] Ajayneethikannan commented on #3359
Oh yes ! I will try to help there, thank you for referring to the PR  !

[2019-02-14 13:16] limzykenneth commented on #3359
@Ajayneethikannan `_pixelsDirty` is an optimization to make `get()` faster. Have a look at #2832 and #2833 for some context.

[2019-02-14 13:18] limzykenneth commented on #3517
If that is possible it would be great, I 'm that familiar with the inner workings of FES so I shall defer here. 😉

[2019-02-14 13:34] Ajayneethikannan commented on #3359
Got it , Thank you @limzykenneth !

[2019-02-14 16:47] cristigoia opened #3518 "ambientLight breaks rendering on iOS mobile devices"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [ ] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: Chrome / Safari
- Operating System: iOS 12 & iOS 11
- Steps to repro

[2019-02-14 17:25] GodWoold commented on #3320
Hi! I tried a little something but it's quite goofy

check it --> [https://editor.p5js.org/ThatsTrue/sketches/3Y2hmBc7v](url)

[2019-02-14 17:26] GodWoold commented on #3320
Hi! I tried a little something but it's quite goofy
check it --> https://editor.p5js.org/ThatsTrue/sketches/3Y2hmBc7v

[2019-02-14 21:02] grege2 commented on #3517
Thanks @meiamsome, I see map() does do the mathematically correct thing with backwards ranges. I gave it a little thrashing here [here](https://editor.p5js.org/grege2/sketches/bpHqHuTDF) Anyway you can see it must do the consistent thing from the clean code. But .. it does have to do a messy range test when it does the "withinBounds" check, since it uses constrain() for that. (Seems like constrain

[2019-02-14 21:40] Spongman commented on #3517
i would rather not add extensions to FES that serve a single purpose. if there's a specific parameter validation that needs to happen for a given method, i think that the best place for that code is in the method itself, not somewhere that's called by nearly every other public method in the library.

[2019-02-15 14:04] Ajayneethikannan opened #3522 "Doubt: Filter function in pixels.js"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Image

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: Google Chrome 64 bit 72.0.3626.96
- Operating System: Ubuntu 16.04
- Steps to reproduc

[2019-02-15 16:58] Spongman commented on #950
yeah, i'm seeing 86% in `closePath` alone i doubt there's much that can be done here.

![image](https://user-images.githubusercontent.com/1088194/52871841-d2075380-30ff-11e9-8c2c-9dfa3d3cb104.png)

[2019-02-15 17:02] dhowe commented on #950
that seems strange... I wonder if we can recreate a minimal test of this using only opentype.js

[2019-02-15 17:16] Spongman commented on #950
maybe. i think it may be just that it's a really complicated font. i loaded it into the Windows system font viewer, and it pegs a CPU core just rendering a few lines of it.

[2019-02-16 08:12] pbouigue opened #3523 "P5js Dom, ReferenceError: createDiv is not defined"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-02-16 08:41] Ajayneethikannan commented on #3523
Hi @pbouigue ! From what you have mentioned , it appears that the code you have written is has no error and there seems to be no error in the library itself , as it is working fine in other platforms you have tested.

If you believe the issue to be specific to the library itself, please do share screenshots, links and steps to reproduce the bug, as it will help the maintainers to correct the issue

[2019-02-16 16:03] lmccart commented on #3523
I don't think you can just insert p5 code straight into wordpress, but here is a plugin that helps you do it: https://wordpress.org/plugins/wp-p5js-block/

[2019-02-16 16:03] #3523 closed

[2019-02-16 16:04] #3463 closed

[2019-02-17 17:22] lmccart commented on #3517
I think it makes sense to leave this as is for the reasons everyone has elaborated here. We may add a FES extension in the future but as @Spongman suggests, it would be nice to do a more complete pass and see if there are a number of cases where this type of checking would be useful, and build the functionality around this broader set of uses cases. For now, perhaps we can close this particular is

[2019-02-17 17:25] lmccart commented on #3435
@dhowe is this the same issue as https://github.com/processing/p5.js/issues/950? can we close one of them?

[2019-02-17 17:29] #3159 closed

[2019-02-17 17:32] lmccart commented on #3498
I'm closing this since the issue has been addressed in the codebase.

[2019-02-17 17:32] #3498 closed

[2019-02-17 17:37] lmccart commented on #2274
Yeah, I believe this is correct behavior but the documentation could add a note about this. Processing parity is not a goal here, so we're free to design this library as we'd like.

[2019-02-17 17:39] lmccart commented on #3510
I like this warning idea and we're currently thinking about adding some functionality for Friendly Error System that checks the logic of arguments passed in. That's a longer term effort. For now, a good fix might be to add some info to the documentation recommending that only one element have a particular id per sketch, and directing users to look at class() instead.

[2019-02-17 19:17] grege2 commented on #3517
Ok by me.

On Mon, 18 Feb 2019 at 04:22, Lauren McCarthy <notifications@github.com>
wrote:

--
*Greg Edwards*

[2019-02-17 19:21] #3517 closed

[2019-02-17 20:10] tigoe commented on #2911
It's not just audio playback, I'm getting the same error when I try to use AudioIn and fft to do tone detection.

See https://github.com/tigoe/p5js_examples/tree/master/toneDetect for an example that fails reliably.

[2019-02-17 23:34] FreddieRa opened #3524 "3D Text in WebGL"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-18 03:50] dhowe commented on #2911
Seems to me we either need to fix the fatal bugs (eg https://github.com/processing/p5.js-sound/issues/88) in p5.sound or give up on it and instruct folks to use something like tone.js. If the latter, then we don't need to worry too much about this...  Very frustrating for students to use the sound lib and then have it crash their sketches whenever they let them run for a while

[2019-02-18 04:19] dhowe commented on #3524
This has been discussed previously (see https://github.com/processing/p5.js/issues/2183, https://github.com/processing/p5.js/issues/1177, ). One approach would be a simple cube font, like you have above... a more general, though more complex, option would be to use opentype paths extruded along the z-axis, which should allow for use of a wide range of fonts

[2019-02-18 15:32] lmccart commented on #3372
closed with #3451

[2019-02-18 15:39] #3505 closed

[2019-02-18 15:50] lmccart commented on #1779
fixed with https://github.com/processing/p5.js/pull/3097

[2019-02-18 15:50] #1779 closed

[2019-02-18 17:24] lmccart commented on #3367
closed with #3454

[2019-02-18 17:24] #3367 closed

[2019-02-18 19:59] stalgiag commented on #3293
Hi @danielemichieletto & @odvnpx, do you have the same hardware as sjscotti (Iphone 8+ or Iphone X)? Trying to narrow this down and want to determine if it is hardware as @sjscotti suggested. If it is hardware, then maybe it's connected to the [A11 Chip](https://en.wikipedia.org/wiki/Apple_A11)?

[2019-02-18 20:35] odvnpx commented on #3293
@stalgiag hey, my device is an iPhone XR.

[2019-02-18 22:14] stalgiag commented on #3518
Hi @cristigoia Thanks for submitting this well-documented issue! I am having trouble reproducing the bug in Safari on iOS 11 iPhone 6. Anybody else able to test this on a different iOS device ?

Also, @cristigoia, would you mind trying to narrow down the issue to either `ambientLight` or `directionalLight` since you said it is the lights that are breaking the sketch on your device?

[2019-02-18 23:22] GodWoold commented on #2799
Solved ✓ https://editor.p5js.org/ThatsTrue/sketches/bMPCzWQFl

[2019-02-18 23:24] GodWoold commented on #3320
Solved ✓ https://editor.p5js.org/ThatsTrue/sketches/QmHcXTd_o (works for p5.js up to u to convert it to processing)

[2019-02-19 07:32] danielemichieletto commented on #3293
@stalgiag <https://github.com/stalgiag> hey, my device is an iPhone 8 and iphone 6s

[2019-02-19 11:23] FreddieRa commented on #3524
Using an algorithm to find rectangles in the array and drawing those instead, it now renders text in 3D roughly 10x faster than a cube font (~50 fps).

Sketch:
https://www.openprocessing.org/sketch/669863

Code:
https://github.com/FreddieRa/P5JS/tree/master/3DText2.0

[2019-02-19 11:44] FreddieRa commented on #3524
With about 2 seconds load time it can draw letters with a resolution of 100*100 at that same frameRate, since the number of rectangles doesn't scale linearly with resolution. This is also not limited to letters. Any black and white bitmap of any resolution can use this with a little adaptation.

[2019-02-19 16:06] cristigoia commented on #3518
@stalgiag Sure thing. The issue persists with only the ambientLight active.

[2019-02-19 22:10] catarak commented on #2765
Just had a chance to read this thread. I'm not sure if it makes sense to handle this issue in the p5.js library or in the web editor. On the one hand, this seems to be an issue with the library—you can cause the print dialog to appear infinitely without the web editor. On the other hand, it seems to come up more often because of the web editor auto-refresh option.

A thought with respect to disabl

[2019-02-20 07:19] Spongman opened #3525 "square(x,y,s,r) doesn't work"
0.7.3

https://p5js.org/reference/#/p5/square

the middle example should have rounded corners.

![image](https://user-images.githubusercontent.com/1088194/53073329-93c1b980-349c-11e9-8aab-01c5f7756853.png)

this fixes it for me:
[code]

[2019-02-20 10:01] danielemichieletto commented on #3293
a workaround of the problem is to use **vertex** instead of plane and set first  textureMode(NORMAL);

beginShape();
  vertex(-larg, -alt, 0, 0);
  vertex(larg, -alt, 1, 0);
  vertex(larg, alt, 1, 1);
  vertex(-larg, alt, 0, 1);
  endShape();

[2019-02-21 00:50] stalgiag commented on #3485
I can confirm that the link you provided works fine in chrome&firefox for Windows

[2019-02-21 18:26] tolkanabroski opened #3526 "applyMatrix() documentation missing description"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-22 10:13] raphaelschaad commented on #458
I understand this is tricky and closed, but in summary, if one would like to procedurally generate an SVG, is p5js' recommendation to not use p5js and instead use one of the alternatives listed in this thread?

[2019-02-22 12:26] joepdooper opened #3528 "TypeError: 'undefined' is not an object (evaluating 'window.performance.now')"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-02-22 13:05] limzykenneth commented on #458
@raphaelschaad For now yes. There's no official support of SVG in p5.js and none planned for the immediate future. I would personally recommend [rune.js](https://runemadsen.github.io/rune.js/) (as mentioned above) for an easy to use and easy to get started with, SVG library.

[2019-02-22 13:11] limzykenneth commented on #3528
Hi @joepdooper, do you have a simple code example that demonstrate this behaviour?

[2019-02-22 13:40] joepdooper commented on #3528
The code in action is here:
[https://dooper.io/montauk-v4/](https://dooper.io/montauk-v4/).
[https://dooper.io/montauk-v4/js/sketch.js](https://dooper.io/montauk-v4/js/sketch.js)

And the problem only occurs on Mobile Safari.

[2019-02-22 13:45] meiamsome commented on #3528
The polyfill for this was removed from P5 a few months ago - (see #2797 )

That browser appears to be very old, but you should be able to get it to work by adding a suitable polyfill to your page manually.

It looks like you might be able to get away with just adding this to your html before p5:
`<script src="https://polyfill.io/v3/polyfill.min.js?features=performance.now"></script>`

[2019-02-22 16:20] joepdooper commented on #3528
@meiamsome thanks a lot! The errors are gone.

The only thing now it doesn't start playing… but that's for me to figure out.

Thanks again!

[2019-02-22 16:20] #3528 closed

[2019-02-22 18:41] stalgiag commented on #3524
@FreddieRa it would be cool to make [this into a library](https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md) that works more generally with any graphics object to turn it into a voxels object. This demo has a really charming visual effect and I can imagine something that expands on it that makes for fun options for transition from 2D to 3D.

I think that for core

[2019-02-22 18:56] FreddieRa commented on #3524
@stalgiag I've already started work on creating a library out of this now I've got it working for images and canvases. I'll update the thread when I'm finsihed. Thanks for the advice.

[2019-02-23 16:39] #3278 closed

[2019-02-23 16:39] #3359 closed

[2019-02-23 21:07] takyano opened #3529 "rack nsynthi"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-23 22:53] travigd opened #3530 "Change Explicit Reference to `document`"
This is causing some issues in a project where we use IFrames and share some libraries between them (explicitly, https://github.com/JuliaGizmos/WebIO.jl/issues/225 is where I lay out the issues we're facing).

Essentially, I'd like to change this line
https://github.com/processing/p5.js/blob/edb41cf513efafd3734221a3b8cdc266f90d6bb3/src/core/main.js#L342
to be something more like
[code]

I can open

[2019-02-24 15:02] limzykenneth commented on #3529
@takyano Can you provide more info about what the issue you encountered is about? I'm going to close this issue for now.

[2019-02-24 15:02] #3529 closed

[2019-02-24 19:18] meiamsome commented on #3530
I think there's definitely some merit to such a change - although there are plenty of instances where we're using `document` elsewhere in the library that might also need similar checking?

This seems helpful in a general case too because it would prevent us walking over all canvases on the page that don't belong to us and hiding them all. (Use case of multiple p5 sketches, or just being included

[2019-02-24 19:29] Spongman commented on #3530
could we use the `p5.prototype._elements` array for this?

[2019-02-24 21:45] bomoko commented on #2182
Yeah, I'm not sure about the status of this - I submitted a PR (#2211) back in 2017, but nothing came of it. I'm going to close that since things have changed significantly since there form an architecture perspective and open it up for whomever is interested in addressing it.

[2019-02-24 22:44] #3525 closed

[2019-02-24 22:48] outofambit opened #3532 "avoid use of arguments in square()"
brought up in #3525 and https://github.com/processing/p5.js/pull/3531#issuecomment-466808663

alternate implementation proposed by @Spongman :
[code]

this should be more performant than the current implementation (which uses `arguments`).

https://github.com/processing/p5.js/blob/571bd7a52ae7afdb056cfc0b9ea53927514f507c/src/core/shape/2d_primitives.js#L517-L522

[2019-02-24 23:10] Spongman commented on #3532
just to expand on this: in general whenever the `arguments` object is mutated, or passed to a method (except as the 2nd argument of `function.apply`) the runtime has to copy the stack-allocated `arguments` object to a heap-allocated, garbage collected temporary proxy object. additionally, the added complexity of this often can result in the method no longer being eligible for native code generatio

[2019-02-25 14:49] OleksiiBulba opened #3533 "Adding hasClass and toggleClass to p5.dom.js (and fix addClass)"
#### Nature of issue?

- [x] Bug with addClass method in p5.Element
- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] p5 DOM

#### Which platform were you using when you encountered this?

- [x] All devices

#### Details about the bug:
* p5.js version: 0.7.3
* Web browser and version: Google Chrome 64 bit 72.0.3626.109
* Operating System: Windows 10 Enterprise; ve

[2019-02-25 15:08] sanketsingh24 commented on #3509
Hello, What I found out was there is no `shape()` function in p5, but the support for .OBJ files is via `model()`, while there is [no native support for](https://github.com/processing/p5.js/issues/3274#issuecomment-435718545) .SVG files, but can be added via `image()`, which has the same `imagemode()`. Well, I don't see the need for the `shapemode()` feature, but something on the lines of `modelmo

[2019-02-25 19:52] stalgiag opened #3536 "change load order preload method"
This feature request is based on the discussion in #3347.

Essentially some users may want a p5 sketch to load first when used as an element on a page with a high number of external assets. @calebegg proposed that this could be achieved by initializing p5 with the [DOMContentLoaded](https://developer.mozilla.org/en-US/docs/Web/Events/DOMContentLoaded) event rather than the [load](https://developer

[2019-02-25 20:23] hellonearthis commented on #3509
I was asking about shapeMode() in relation to beginShape() used in making custom shapes.
Even having access to it's width and height would help.
SVG would be a different story.

[2019-02-25 20:41] stalgiag commented on #3509
Hi @sanketsingh24 I believe the requested feature is an equivalent to [rectMode](https://github.com/processing/p5.js/blob/master/src/core/shape/attributes.js#L169) for custom shapes made with `beginShape()` in the 2D renderer. @hellonearthis I think that making this would present a number of challenges because there currently is not an equivalent to [PShape](https://processing.org/reference/PShape

[2019-02-25 21:20] #3191 closed

[2019-02-25 21:20] #3363 closed

[2019-02-25 22:12] hellonearthis commented on #3509
I think your over complexing it. Yes, it would be an equivalent of rectMode.  It would not be an SVG related thing as far as I can tell.  It would be an attribute of  beginShare().
Maybe I should have said it was `beginShapeMode( CORNER || CORNERS || RADIUS || CENTER )`
I don't see an easy way to do it as a p5 custom shape doesn't built/record it's width or height as it's being constructed.  So a

[2019-02-25 22:31] stalgiag commented on #3509
I agree this is separate from SVG support, but the requested feature would suggest a p5.Shape class that stores and updates info about the bounds and mode so that it can shift drawing accordingly.

[2019-02-25 23:57] stalgiag commented on #2530
Hi @nimishagarwal76 feel free to jump on this if you would still like!

[2019-02-26 16:08] sanketsingh24 commented on #3509
Ok, so it should be only for custom shapes made by `beginshape()` ? I would start to work on this now.

[2019-02-26 17:35] Ajayneethikannan commented on #3380
Hello @lmccart @shiffman @meiamsome !

I would love to solve this issue !

Since we are trying to implement gifs,  can we consider this as an ad hoc solution ,
we can use gifs in the canvas by converting the gif to a video format, and draw the video to the canvas ,
using the already robust video support in the library.
This has its own advantages, as converting a gif to a video drastically reduces

[2019-02-26 18:45] meiamsome commented on #3380
I think this issue needs to be more scoped out than it currently is...
If I have a gif with 10 frames that have a number from 0 to 9 written on them in order, with 1 second of delay on them then:

- Should the first frame rendered from the gif always be the 0 frame?

- If I have a sketch running at 30fps, do I expect to see the number change:
 a. Every Frame
 b. Every Second

- Assuming B, If I ha

[2019-02-26 20:27] Ajayneethikannan commented on #3380
@meiamsome Thank you for suggesting the different cases that need to be handled !

On the basis of your questions, I believe creating a sprite class would be helpful, where handling gifs would be one of its functionality . I would love to hear people's thoughts on this

- The first frame to be rendered must be able to be given as a parameter ( perhaps in the constructor function )
- I think the ch

[2019-02-26 22:12] shaharyar-shamshi opened #3538 "updating node modules"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-26 22:13] shaharyar-shamshi commented on #3538
I would like to solve this issue

[2019-02-26 22:18] ffd8 opened #3539 "WEBGL with OTF fonts, sending constant warning"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-26 22:47] Spongman commented on #3539
that's weird. can you share the `.otf` file you're having trouble with?

here's a version of your sketch that uses an .`otf` font: https://codepen.io/Spongman/pen/aMzaze?editors=0011 does it work for you?

[2019-02-26 23:31] ffd8 commented on #3539
Ahaaa! Was backtracking the `_isOpenType()` function and trying to figure out how/why it wasn't ready when called.

Great find – although a bit strange the callback function doesn't handle it.. closing since your technique works, but interested if it could be integrated into callback to avoid need of preload?

Thanks for the quick reply and codepen[s]!

[2019-02-26 23:31] #3539 closed

[2019-02-27 01:07] Spongman commented on #3539
The callback does work, that why you don’t see the error in that case.

The issue is that the rest of `setup()` and subsequent calls to `draw()` complete before the callback is invoked.

Once the callback calls `fontFace()` the errors in `draw()` cease.

[2019-02-27 02:23] #3526 closed

[2019-02-27 02:36] stalgiag opened #3541 "prettier-ignore displays in two code examples"
Currently `prettier-ignore` lines written inside of examples are displaying as comments on the examples. This isn't a pressing issue but could easily be a bit perplexing for people reading the reference. This currently is only a problem in the [bezierDetail example](https://p5js.org/reference/#/p5/bezierDetail) and the incoming RendererGL [applyMatrix example](https://github.com/processing/p5.js/c

[2019-02-27 14:01] limzykenneth commented on #3380
My thoughts: I think the behaviour should be as close to DOM behaviour as possible and where undefined be what the user would expect out of the gif they loaded. To elaborate:

Yes, I least that's what I would expect intuitively.

      a. Every Frame
      b. Every Second

I would go for "b", as mentioned at the beginnning, that's what I expect the gif to do (when opening it up directly in a brows

[2019-02-27 14:18] limzykenneth commented on #3538
If there is a minor or patch version available for those packages, you can go ahead and update them, run the whole build as well to make sure nothing breaks before commiting the changes.

If the newer version is a major version or if the version is still 0.x.x then you will need to find out what the changes are and open a new separate issue for them if necessary.

[2019-02-27 16:55] ihsavru commented on #3532
I'd like to work on this

[2019-02-27 17:34] shaharyar-shamshi commented on #3538
@limzykenneth thanks for reply actually when I moved forward with this issue I analysed there are many issue with code formatting prettier issue (npm run grunt failed due to this) I am sending pr of it first

[2019-02-27 17:35] haschdl opened #3545 "Documentation for clear() is unclear"
The documentation for `clear()` states that "This function only works on p5.Canvas objects created with the createCanvas() function", while this does not seem to be case, [as any simple test can show](https://editor.p5js.org/haschdl/sketches/kKukXzTxq). Maybe there was another subtlety the author was trying to convey, or did I not understand it correctly?

https://github.com/processing/p5.js/blob/

[2019-02-27 17:39] shaharyar-shamshi opened #3546 "solve Prettier issue for code quality"
when running the **npm run grunt** it is giving lot of prettier issue I want to open PR of it

![screenshot from 2019-02-27 23-07-48](https://user-images.githubusercontent.com/17377195/53510730-ae231500-3ae4-11e9-9b20-2f765b439907.png)

[2019-02-27 17:41] shaharyar-shamshi commented on #3546
@limzykenneth  should I open the PR

[2019-02-27 17:51] Spongman commented on #3546
i think this is because you updated the eslint package too far. i'd recommend resetting and just running an `npm audit --fix` instead of updating everything all the way.

[2019-02-27 17:54] Spongman commented on #3545
i think its implying that it doesn't clear the whole HTML page; it only clears the canvas.

this stems from the differences between p5 and Processing where the 'canvas' _is_ everything whereas in p5 you can have other elements on the page that `clear()` does not affect.

[2019-02-27 18:07] zetec30 commented on #1749
Use CSS z-, -1

[2019-02-27 18:10] #3546 closed

[2019-02-27 19:06] FreddieRa opened #3548 "Calling size() on a p5.graphic object automatically draws it"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-02-27 19:46] Ajayneethikannan commented on #3380
@limzykenneth thank you very much for your suggestions !

The current implementation I have in mind, after referring online and looking into the library referenced by @shiffman , is to parse the gif into its constituent images, and store them together, to be displayed in the canvas , mostly by using the image function.

If I can continue on this discussion,

I understand the importance of this , b

[2019-02-27 22:06] Spongman commented on #3548
maybe `size()` is causing the `Graphics`'s canvas to be made visible?

[2019-02-27 22:34] bishopZ commented on #3439
I am getting this `texture()` error on any WEBGL sketch I run that includes `vertex()`.

Consider [this sketch](https://editor.p5js.org/bishopz/sketches/8LJDNbAQt) that takes it's code from [the documentation](https://p5js.org/reference/#/p5/vertex). Or [this sketch](https://editor.p5js.org/bishopz/sketches/vYmc0_PE5) taken from [this previous Github issue](https://github.com/processing/p5.js/issu

[2019-02-28 01:51] #3532 closed

[2019-02-28 02:07] #3538 closed

[2019-02-28 14:45] shiffman opened #3549 "createCapture() and loadPixels() in 0.7.2+ not working?"
#### Nature of issue?
-  Found a bug

#### Most appropriate sub-area of p5.js?
-  Image

I am not able to get pixels of a video from a webcam in version `0.7.2` or `0.7.3`. The code works in `0.7.1` returning a non-zero pixel length.

[code]

[2019-02-28 15:01] Ajayneethikannan commented on #3549
I think this was corrected through https://github.com/processing/p5.js/pull/3504 by @Spongman !

[2019-02-28 15:11] lmccart commented on #3510
resolved with #3534

[2019-02-28 15:11] #3510 closed

[2019-02-28 17:50] bendgk opened #3550 "createImage() example is not working"
#### Nature of issue?

[X] Found a bug

#### Most appropriate sub-area of p5.js?
- [X] Image

#### Which platform were you using when you encountered this?
- [X] Desktop/Laptop
Mac Book Pro 13-inch (2018)

#### Details about the bug:

- p5.js version: 0.7.1
- Web browser and version: Google Chrome Version 72.0.3626.119 (Official Build) (64-bit)
- Operating System: MacOSX High Sierra 10.13.6
- Step

[2019-02-28 17:52] bendgk commented on #3550
my `console.log(img)` shows that everything is fine?
![image](https://user-images.githubusercontent.com/13898102/53587188-5c63a480-3b4f-11e9-9490-3ba6b7d22d53.png)

[2019-02-28 17:54] #3550 closed

[2019-02-28 17:55] bendgk commented on #3550
adding a `image(img, 0, 0);` fixed the issue

[2019-02-28 19:03] ihsavru commented on #3379
@figraham are you still working on this?

[2019-02-28 20:18] #3541 closed

[2019-02-28 22:48] figraham commented on #3379
Sorry I forgot about this. I'll finish it up soon.

[2019-02-28 23:14] stalgiag commented on #2926
Closing as I wasn't able to detect framerate changes in 0.7.2 with the included example. If you can still repro then feel free to post something here and I will repoen

[2019-02-28 23:14] #2926 closed

[2019-02-28 23:21] stalgiag commented on #2161
I am closing because I think that this original request has been filled for the most part. While it isn't the exact api that you requested, the [camera](https://p5js.org/reference/#/p5/camera) function provides something functionally similar to this with `centerX`, `centerY`, and `centerZ` parameters.

[2019-02-28 23:21] #2161 closed

[2019-02-28 23:59] #2189 closed

[2019-03-01 01:05] #3383 closed

[2019-03-01 01:12] stalgiag commented on #3294
Thanks for filing the issues. This wasw fixed with #3535.

[2019-03-01 01:12] #3294 closed

[2019-03-01 01:26] stalgiag commented on #2805
I am closing this as it was decided to require both arguments and this new requirement was put in place by #2996. Thanks for filing the issue!

[2019-03-01 01:26] #2805 closed

[2019-03-01 01:31] stalgiag commented on #2645
Help is still needed with this. The todo is add a function called `lights` that calls the other light functions as @kjhollen explains above. #3112 can be looked at for some clues on how to do example docs and manual tests, but the method only needs to do what is outline in @kjhollen 's comment above.

[2019-03-01 03:10] stalgiag commented on #3061
Hi @sanketsingh24, I don't think it is necessary to have a separate preload function. `setAttributes` never doesn't need to do anything asynchronously and there is no read/write happening. I think it is best to keep it simple and do as @mattdesl suggests and just do this with a single private variable. The only tricky thing is that this needs to work when the current renderer is 2D as is the case

[2019-03-01 10:40] limzykenneth commented on #3380
This means when the frameRate is very low (very large elapsed time ), it can result in the skipping of the frames of the gif. Also , a situation , though quite rare, is that the time delay between different frames of the gif can be different, adding to the complexity.

For me in this case I think of the loaded gif as you mentioned in the beginning to be a series of images (a data structure) and p5

[2019-03-01 12:42] limzykenneth commented on #3545
I may be missing something obvious here but I'm not entirely sure what you meant here. The test sketch you shared showed that `background(255)` and `clear()` is working "identically" (in quotemarks because they are not entirely the same but that's unrealted details). So are you expecting them to behave differently or are you seeing different behaviour or something else? Basically what does the des

[2019-03-01 13:06] haschdl commented on #3545
The way it’s written it sounds like it *only works* if you do

[code]

I didn’t imply there was bug, just that the documentation is unnecessarily
complicated by mentioning  all of that, when it could be simply “Clears the
canvas”.

On Fri, 1 Mar 2019 at 13.42, Kenneth Lim <notifications@github.com> wrote:

--
Half Scheidl
+358 40 1873 271

[2019-03-01 14:06] AidanNelson commented on #2161
If you create a camera object using `let cam = createCamera()` you are able to then use `cam.pan(delta)` and `cam.tilt(delta).` More info on that API here: https://p5js.org/reference/#/p5.Camera

[2019-03-01 17:51] Ajayneethikannan commented on #3380
Got it :+1: Thank you @limzykenneth !

[2019-03-01 20:40] EndBug commented on #2645
Hi guys! Seeing the last comment and the interest that this issue gained I decided to try it myself with PR #3553
At the moment works in Node 10 but has failed the test for Node 8: can someone help me figure out why?

[2019-03-01 20:53] clay53 opened #3554 "Add support for more "points" in curvePoint() & bezierPoint()"
#### Nature of issue?

- [ ] Found a bug
- [y] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [y] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-01 21:06] stalgiag commented on #2645
Hi @EndBug this was unrelated to your code. I restarted the build. This time it was successful. I will open an issue. If this happens again restart the Travis CI build.

[2019-03-01 21:13] stalgiag opened #3555 "Travis build for Node 8 fail sometimes"
The Travis builds for Node 8 are failing occasionally. The problem seems to be [that this unit test](https://github.com/processing/p5.js/blob/master/test/unit/webgl/p5.Texture.js#L111) occasionally fails because the texture being passed is sometimes [not passing this conditional ](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Texture.js#L311).

~~Note that this test never fails with

[2019-03-01 22:20] stalgiag commented on #3555
Correction: this is failing locally.

Probably some discrepancy between the way that textures are stored and retrieved introduced with the merging of #3535 and #3537. (see [RendererGL._tex](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L134) vs [RendererGL.textures](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L128). I will revert the latt

[2019-03-01 22:53] stalgiag commented on #3555
Update: Apparently this only fails locally sometimes

[2019-03-01 23:48] sanketsingh24 commented on #3555
Ok so problem is [here](https://github.com/processing/p5.js/blob/master/test/unit/assets/nyan_cat.gif), called [here](https://github.com/processing/p5.js/blob/master/test/unit/webgl/p5.Texture.js#L15). This GIF has a size of `50*50 pixels`, so width is `50 pixels` and vice versa, which is not a power of `2`. Sometimes (like, the most of times), for some reason, `texImg1` is `1*1 pixels`, so at tho

[2019-03-02 00:34] sanketsingh24 commented on #3555
Changing [`setup()`](https://github.com/processing/p5.js/blob/master/test/unit/webgl/p5.Texture.js#L11) to this would make sure `texImg1` is loaded and ready to go, and would make the tests consistent, now just need to replace GIF with one which has dimensions in power of 2s.
[code]

[2019-03-02 00:43] stalgiag commented on #3555
Thanks for the detective work @sanketsingh24! That all makes sense. So when the tests were passing is when the tests were actually failing. You can add another asset if you would like something that is 2x2 should be fine. I would say resize nyan_cat but it is used in many places.

[2019-03-02 00:51] stalgiag commented on #3555
Or actually, you could just use `createGraphics` there. The image loading to texture is proven by `texImg2`. Your choice!

[2019-03-02 01:26] stalgiag commented on #3555
Assuming you are going to handle fixing the test @sanketsingh24? Let me know if not and I can make the changes.

[2019-03-02 01:39] Spongman commented on #3555
shouldn't these `loadImage()` calls be done in a `preload()` method?

[2019-03-02 01:47] stalgiag commented on #3555
Yes or `createGraphics` could be used. `preload` + `loadImage` covers more I suppose.

[2019-03-02 01:47] meiamsome commented on #3555
@Spongman yes, and currently `setup` is not set to be asynchronous to wait for p5 to set itself up:
[code]

That said, I would advocate these tests be translated to use the `promisedSketch`/`testSketchWithPromise` methods so that each test can have an isolated environment and have correct preload/setup behaviours

[2019-03-02 03:50] sanketsingh24 commented on #3555
I also think using something like promisedSketch is better here.

@stalgiag I will be in my class for next few hours, If the changes are urgent, as it seems , please go ahead

[2019-03-02 11:58] Mamboleoo opened #3558 "Noise never gets close to 0.0 nor 1.0"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Math

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible)

#### Details about the bug:

- p5.js version: **v0.7.3 January 20, 2019**
- Web browser and version: **All of them**

Hey there,
I'm currently playi

[2019-03-02 12:43] Ajayneethikannan commented on #3558
I think it's the intended behavior due to the  bell curve distribution of the function,
mentioned by Dan in this video,
https://www.youtube.com/watch?v=YcdldZ1E9gU

[2019-03-02 13:10] Mamboleoo commented on #3558
Oh I see, so I guess I only have two solutions then.
- Trying to fix the results by mapping the results from ~[0.3, 0.6] to [0, 1]
- Using an external noise algorithm

[2019-03-02 13:23] Ajayneethikannan commented on #3380
Upon doing some research on the problem,
this is the implementation I have in my mind:

- A gif parser (inspired by https://stackoverflow.com/questions/48234696/how-to-put-a-gif-with-canvas)
The parser will convert each frame of the gif into p5.Image instances

Reason: Currently , I am planning to write the parser based on the [referenced code](https://stackoverflow.com/questions/48234696/how-to-p

[2019-03-02 13:35] limzykenneth commented on #3380
I would prefer not to have a separate class for gifs as that adds additional difficulty for the user to use this functionality. Also the code referenced in the stackoverflow answer have a caveat of "NOT for commercial use" which although I don't know how enforceable it is, I'm not comfortable with recommending its usage here.

I would suggest to hold off on actual implementation for the moment as

[2019-03-02 13:52] Ajayneethikannan commented on #3380
@limzykenneth , I am sorry for wording it incorrectly, what I meant was that it is better to write our own parser based on GIF89 standards (not copy the code in the stack overflow answer) , such that it is highly flexible to our needs,  removing any dependency issues if we use any external library specifically for this.

Yes I understand your concerns regarding the overall consensus, and I am read

[2019-03-02 14:22] b2renger commented on #3558
@Mamboleoo if you want you could use noise as a speed instead of as a position ie use the noise to add something to both coordinates

[2019-03-02 14:22] #3558 closed

[2019-03-02 16:54] lmccart opened #3559 "add welcome bot to repository?"
I was thinking it might be nice to add [welcome-bot](https://github.com/apps/the-welcome-bot) to this repository, and to p5.js-website. This is an automated bot that would say hi to new contributors, perhaps direct them to key places in the repo to get started, and invite them to add themselves to the [contributors list](https://github.com/processing/p5.js#contributors) in the readme. Thoughts? Do

[2019-03-02 18:00] Ajayneethikannan commented on #3447
This is very similar to the issue #2630,
and it seems the best solution , adhering to the existing reference and code structure , would be
to set the position css using :
[code]
as the reference states that when the first argument is 'rotate', 'translate', or 'position',
it takes only numbers as the values.
May be we can modify the reference , to make it clear how to pass values for these special

[2019-03-02 19:37] #3555 closed

[2019-03-02 19:40] stalgiag commented on #3559
I think this is a great idea. Maybe it is a matter of taste but I find these kinds of bots to be charming and welcoming.

[2019-03-02 20:21] sanketsingh24 opened #3561 "[WIP]GSOC 2019:Ideas needed for Improving p5.js WebGL functionality"
#### Nature of issue?

- [x] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] WebGL (Mostly)

Hey! My name is Sanket Singh, and I intend to work on improving and enhancing the WebGL mode in this year's Google Summer Of Code. I have been contributing to p5.js since last December, so I know basic things about p5 and its workflow. At the moment,

[2019-03-02 20:47] #2645 closed

[2019-03-02 22:31] Ajayneethikannan commented on #3398
Hello ! I noticed that the bug disappears , when you call directionalLight is called before calling sphere(),
as shown here https://codepen.io/AjayTDM/pen/jJqvga?editors=1010
Hopefully its of help !

[2019-03-03 01:31] hellonearthis commented on #3558
there is a nice Open simplex noise library here. [https://github.com/blindman67/SimplexNoiseJS](https://github.com/blindman67/SimplexNoiseJS)  Not as fast at the perlin noise,  so map() might be a better choice.  @shiffman did a great [live show last week on simplex noise](https://www.youtube.com/watch?v=O6dsGXhD0sc) in Java but was good to see the difference between the two noise types.

[2019-03-03 07:07] Ajayneethikannan opened #3563 "Create a friendly wrapper over webStorage API"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Utilities
- [x] Other (specify if possible) - DOM

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible)

#### New feature details:

Many times, people would have been need of local Storage to store pe

[2019-03-03 07:38] ihsavru commented on #3559
I would love to work on this!

[2019-03-03 12:37] nebbles commented on #3447
So when I put together to the PR #3448 to address this issue, it seemed most appropriate to update the `p5.Element.prototype.position` since `style()` was calling that (along with the corresponding ones for rotation, etc.).

[It seems, however,](https://github.com/processing/p5.js/pull/3448#issuecomment-453985361) that it is actually `style()` that is in the wrong by calling `position` so I think

[2019-03-03 19:32] outofambit commented on #3559
yes!! i think this would be great!

[2019-03-03 19:37] outofambit commented on #3533
hi @OleksiiBulba ! thanks for this great write up! this seems like a really sensible addition. would you like to open a pull request for these fixes? i'm happy to work with you on getting this tested and merged!

[2019-03-03 19:38] lmccart commented on #3563
There are a number of well-supported js libraries that do this and work well with p5.js, for example:
https://github.com/marcuswestin/store.js
 https://github.com/nbubna/store

I think by the time you're using local storage, most users have enough knowledge to understand how to add in an additional library. So I would be hesitant to reinvent the wheel in this case.

[2019-03-03 19:43] Ajayneethikannan commented on #3563
I agree. I will close this issue then 👍

[2019-03-03 19:43] #3563 closed

[2019-03-03 19:57] grege2 commented on #3559
Sounds good. New contributors may mostly not be familiar with GitHub, anything that makes it seem more friendly and that you're making some kind of progress could be good. The stuff you get from the new forum is good I think, ie. "Congrats, you read all the Beginners Intro!", "Wow, you made your first comment on a post" etc. It makes you want to read more doco and try more stuff, even though you k

[2019-03-04 08:36] Ajayneethikannan opened #3564 "Issues with CORS in image"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Image
- [x] Other (specify if possible) - DOM

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:   All browsers
- Operating System:  All OS
- Steps to reproduce this:

[code]

###

[2019-03-04 15:46] Ajayneethikannan commented on #3193
Can I please know the status of this issue ? I would love to contribute to this issue, and the step I will take is
- converting  ` var downKeys = {};`  to  be separate for every instance `this.downkeys = {}`

As mentioned by @Zalastax , about writing tests before implementing the feature,
the tests that I thought which needed to be done are ,
considering two sketch instances, ( for the keyPressed

[2019-03-04 16:23] Ajayneethikannan commented on #3193
Also this is my first time writing an unit test , I would be really grateful if someone could help me out regarding the bug in this test :sweat_smile: ,
[code]

This is the test I tried to check if both the keyPressed functions are executing same number of times.
But neither of the keyPressed functions are called , even though the p5.prototype._onkeydown function is called. Somehow the 'this' vari

[2019-03-04 18:14] Ajayneethikannan commented on #3380
Continuing the discussion, if we consider decompressing the gifs into the individual frames (I am unaware of any other implementation at the moment ) , what is the general view on using external libraries to achieve this ?  I was able to find a few good libraries such as

-  [gifuct.js](https://github.com/matt-way/gifuct-js)
-  [jsgif](http://slbkbs.org/jsgif/)

which handle this part well

Imho,

[2019-03-04 22:41] stalgiag opened #3565 "Community Live Chat at 10:00 PST"
Hi Everyone!

We wanted to experiment with new types of community engagement and one thought is to host a live chat meetup for current, past, or future contributors. The hope is that this format will facillitate a different type of conversation than is possible [on the forum](https://discourse.processing.org/) or on this repository page. The live format might allow for a more fluid casual conversa

[2019-03-04 22:41] stalgiag opened #3566 "Community Live Chat at 10:00 PDT MARCH 12"
**Update:** The link for the chat is at https://gitter.im/processing/p5.js. If you don't have a Gitter account it is very easy to sign up with your Github account. See you at 10 PST!

Hi Everyone!

We wanted to experiment with new types of community engagement and one thought is to host a live chat meetup for current, past, or future contributors. The hope is that this format will facillitate a di

[2019-03-04 23:00] #3565 closed

[2019-03-05 05:29] ihsavru opened #3567 "GSoC 2019: Improve p5.js unit tests"
I am interested in working on improving the unit tests for p5.js. (I am not quite sure if I should post this on the issue tracker or the forum?) There aren't any existing issues on GitHub which would help me get started with testing. As mentioned in the Project List, this project would start with a survey to understand which areas are in need of unit tests and which are sufficiently covered. I wen

[2019-03-05 10:21] limzykenneth opened #3568 "Edit access of wiki"
Given that we have moved the developer docs from the wiki to the repository itself, the wiki have fewer pages left and I'm questioning whether we should move the rest of the content or limit the editing of the wiki to contributors only.

The reason I'm asking this is that over the past week or more I have been repeatedly undoing, I won't say malicious but I have no idea how it came about, changes

[2019-03-05 14:12] limzykenneth commented on #3566
I will probably drop in and out if I can, got a class on that time slot exactly but really look forward to this!

[2019-03-05 14:28] limzykenneth commented on #3447
I think if `style()` with `'position'` as its first parameter would call `p5.Element.prototype.position` it is duplicating functionality and make using positioning other than `absolute` confusing if not difficult (`style('position', 10, 100)` and `style('position: fixed')` looking similar but drastically different pactically).

As mentioned in the PR, I think `style()` should deal with CSS directl

[2019-03-05 15:51] rruubboott opened #3569 "keyPressed() only works once per key (for certain keys) in Chrome, keyReleased() not at all"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Events

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version:
v0.7.3
- Web browser and version:
72.0.3626.119
- Operating System:
macOS mojave
- Steps to reproduce this:

keyPressed() will fire once for any of the arrow keys, then ne

[2019-03-05 16:41] Ajayneethikannan opened #3570 "Additional parameter for position function."
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Other (specify if possible) DOM

#### Which platform were you using when you encountered this?

- [x] Others (specify if possible) Device Independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser independent
- Operating System:  OS independent
- Ste

[2019-03-05 19:09] sanketsingh24 commented on #3561
`spotLight(v1, v2, v3, x, y, z, nx, ny, nz, angle, concentration)`-
We can understand this by taking the example of the torch. It is essentially an extension of `pointlight()` while also considering the opening of the torch, the direction of the torch, and torch's strength.

Arguments -
1. The torch's light has a color, depicted by the three RGB values `v1,v2,v3` or we can pass `p5.color` object.

[2019-03-05 20:06] outofambit commented on #3567
Hi again @ihsavru! Thanks for this list. If you're interested in working on some of these outside of Google Summer of Code, I can help get you started now! If you have questions about an idea or need guidance on forming your proposal for Google Summer of Code, please post to the [Processing Forum](https://discourse.processing.org). Thanks!

[2019-03-05 20:10] sanketsingh24 commented on #3569
I feel this is same as #3450 and #3193, the solution is being discussed there atm.

[2019-03-05 20:12] sanketsingh24 commented on #3450
@Ajayneethikannan is this same as #3193, I haven't been following the discussion for some time.

[2019-03-05 20:13] outofambit commented on #3568
@limzykenneth sorry you've been dealing with that. 😕 i'm in favor of at least limiting editing the wiki to contributors. perhaps we can put a note on the landing page of the wiki that if someone would like access to contribute to the pages there?

i'm not familiar enough with the content there to have an opinion on moving it, so i'll defer to others on that point.

[2019-03-05 20:15] sanketsingh24 commented on #3561
`emissiveMaterial(v1, v2, v3)`-
Here, the material doesn't emit the light, it just glows. So the neighboring objects don't react to its light, but if there is no light, you can still see the `emissivematerial()`. It can be a lot like ambient material. You can also check this demonstration to understand more-

![image](https://user-images.githubusercontent.com/24548786/53833726-3c007380-3faf-11e9-8

[2019-03-05 20:17] Spongman commented on #3561
*sigh*  #2547

[2019-03-05 20:20] outofambit commented on #3569
@ruairimurphy thanks for filing this issue, this is a really helpful write up!

@sanketsingh24 this issue looks different than #3193 as it doesn't rely on having multiple sketches to reproduce the bug and #3450 hasn't been investigated enough to know if its a bug in the library or just mistakes in the examples. i'd like to keep this issue open and separate (but its good to have them all linked tog

[2019-03-05 20:29] Spongman commented on #3568
weird. i noticed that one of the commits is basically a bunch of text from openprocessing.org. maybe they have a bug that's doing this?

[2019-03-05 20:32] Ajayneethikannan commented on #3450
@sanketsingh24 Yes it is !  . I will make a pull request as soon as my doubts regarding the issue have been cleared.
Thank you for mentioning it !

[2019-03-05 20:44] limzykenneth commented on #3568
@Spongman Potentially somewhere has a hard link to the page and when it doesn't exist github just automatically goes to create new wiki page for it. Why the specific content is inputed? No idea.

[2019-03-05 20:54] Ajayneethikannan commented on #3450
@outofambit with reference to your comment #3569  , I think that the bug is mostly due to the global downkey variable as in #3193 . For confirmation ,we can the event listeners registered for keydown event on the chrome developer tools , and there are three event listeners corresponding to three sketches. If we remove any two event listeners , we can see the keyPressed function working in the rema

[2019-03-06 01:55] MarkGamed7794 opened #3571 "Period detecting as backspace/delete"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-06 05:50] lmccart commented on #3571
@MarkGamed7794 thanks for reporting this.
I think there's definitely a bug here, but as a quick fix for your code, you can use `function keyPressed()` instead of `function keyTyped()`. This doesn't solve the underlying issue but might help in the meantime.

[2019-03-06 05:52] lmccart commented on #3568
I think the reason for keeping the tutorials in the wiki was (1) they didn't seem to make sense in the developer_docs folder, or in the code part of the repo in general. But mostly (2) we wanted to make editing them faster and more accessible than going through the whole process of a PR. I think limiting to contributors only makes sense, and making the process for getting edit access very clear. (

[2019-03-06 05:54] lmccart commented on #3561
hi @sanketsingh24 thanks for your interest! we're discussing GSOC ideas over on the [processing forum](https://discourse.processing.org) so it's all in one place for everyone to see and contribute ideas to. feel free to open a thread over there.

[2019-03-06 06:06] lmccart commented on #3545
I see, I think the confusion is with the word "object" because if you're not storing a pointer, it may not be clear you're creating an object. In any case, this subtlety is completely removed from the actual point that I think the text is trying to make, which is that `clear()` will not clear objects created by functions like `createDiv()` or `createVideo()` for example. We could just say this mor

[2019-03-06 06:15] lmccart opened #3572 "p5.js reference points to textMode() which doesn't yet exist"
_From @ffd8 on February 13, 2019 17:2_

While parsing the offline p5.js reference (data.js) and discovered that `push()` + `pop()` both link to a non-existant `textMode()` in their descriptions. Of course would be great to have a `textMode()`, but until then, should drop it from linkable references.

_Copied from original issue: processing/p5.js-website#392_

[2019-03-06 06:15] lmccart commented on #3572
_From @limzykenneth on February 13, 2019 23:52_

Good catch, not sure why this gone unnoticed for such a long time. To clarify this also applies to the live reference on https://p5js.org/reference as well. There doesn't seem to ever have been a `textMode()` in p5.js, it's likely a remnant from Processing when copying the reference over. The fix will need to be applied over at the [main p5.js repo]

[2019-03-06 06:44] lmccart commented on #3270
@Ajayneethikannan this is the correct solution. so the code is working properly. however, it would be helpful to have some documentation to make this clear. I would suggest we update the [documentation for the `AUTO` constant](https://p5js.org/reference/#/p5/auto), right now it is very empty. we could include your code above as an example on that page of how to use it.

[2019-03-06 06:52] #3353 closed

[2019-03-06 06:55] lmccart commented on #2865
closing this, all key info has been moved over here: https://github.com/processing/p5.js/blob/master/developer_docs/contributing_documentation.md
we can continue to open specific issues for documentation that needs work, and maybe reopen this issue for the next mozsprint

[2019-03-06 06:59] lmccart commented on #2630
I'm going to close this one as it's discussed more thoroughly and tracked over here now: https://github.com/processing/p5.js/issues/3447

[2019-03-06 06:59] #2630 closed

[2019-03-06 08:13] ihsavru commented on #3567
@outofambit Sure, I would like to work on this. How can I get started?

[2019-03-06 10:46] Ajayneethikannan commented on #3270
Sounds great to me !

[2019-03-06 15:01] sanketsingh24 commented on #3561
Hello @lmccart, I posted this on the [forum](https://discourse.processing.org/t/ideas-and-suggestions-needed-for-improving-p5-js-webgl-mode-in-gsoc-2019/8865) too at the same time. I was just unsure where to post it so I am updating both :(

[2019-03-06 16:38] #3561 closed

[2019-03-06 16:51] sanketsingh24 opened #3574 "should setUnform work on a shader before shader() is called?"
EDIT:The main issue has been resolved and discussion for new idea started from [here](https://github.com/processing/p5.js/issues/3574#issuecomment-470211811).

#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3
- Web

[2019-03-06 17:19] Spongman commented on #3574
Can you try also moving the `setUniform` call into `draw()` after the `shader()` call?

[2019-03-06 17:52] sanketsingh24 commented on #3574
@Spongman Oh yea it does, I understand now, kind of missed that line :sweat:

[2019-03-06 17:56] Spongman opened #3575 "webgl: 'mixedMode' manual calls `normalMaterial` incorrectly"
`normalMaterial()` doesn't take these parameters:
https://github.com/processing/p5.js/blob/b2d1abce3ab5ebdeeb93558645405072521eaa13/test/manual-test-examples/webgl/mixedMode/sketch.js#L16

[2019-03-06 18:00] #3572 closed

[2019-03-06 18:02] Spongman commented on #3574
it doesn't right now because the shader isn't initialized until the sketch calls the `p5.shader()` method.

i guess that poses a good question: should `setUnform` work on a shader before `shader()` is called?

[2019-03-06 18:31] Whitevinyl opened #3576 "Stroke rounding inconsistency"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-06 19:04] sanketsingh24 commented on #3574
Yea I thought the same.

I think this can be done by storing all the `setuniform` calls, and applying them after `shader()` is done?

BTW I think there needs to be an error reporting failure of `setUniform` [here](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Shader.js#L287).

[2019-03-07 00:32] outofambit commented on #3567
@ihsavru awesome! 😄 Looking at the list above, I think a good place to start is [`modeAdjust()`](https://github.com/outofambit/p5.js/blob/a6f762c570925f78bd4980745552b43156ac8049/src/core/helpers.js#L10-L20). Lets work towards having a PR with tests for that function.

Some background on our unit testing framework:
* you can run the unit tests with `npm test`
* we use [mocha](https://mochajs.org)

[2019-03-07 00:39] outofambit commented on #3450
@Ajayneethikannan ohhh yes, that all makes sense! thanks for digging into this! 💟

I'm going to close this issue in favor of continuing the discussion/work in #3193 since it accurately describes the underlying issue causing the symptoms documented in this issue description. Thanks all!

[2019-03-07 00:39] #3450 closed

[2019-03-07 01:15] Pancolar opened #3577 "createVector returns undefined when executed in draw()"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-07 05:58] kousun12 commented on #3474
@lmccart is there a new release planned any time soon? Also came across the issue that was fixed here trying to use webpack with the latest p5

[2019-03-07 11:14] sanketsingh24 commented on #3577
I was not able to reproduce the error, can you please give us a snippet?

[2019-03-07 11:23] Pancolar commented on #3577
I take the issue back. I have another problem in my code, and made some stupid mistakes while trying to fix it. (I moved the call to the function in which the vector is rotated to outside draw(). That does not seem to be allowed)

[2019-03-07 14:31] Ajayneethikannan commented on #3576
This seems to be because of the optimisation for cleaner stroke lines like this ,
[code]

which is present in the case of rect,  and line , but not in the case of other shapes such as triangle, and quad.

If this should suffice as a solution, I am ready to make the changes by adding/removing the optimisation for crisp stroke everywhere .

Would love to hear more suggestions ,
Thank you !

[2019-03-07 14:54] #3577 closed

[2019-03-07 16:25] stalgiag commented on #3575
To do: fix the call to `normalMaterial` in [mixedMode](https://github.com/processing/p5.js/blob/master/test/manual-test-examples/webgl/mixedMode/sketch.js) to follow the [current proper usage](https://p5js.org/reference/#/p5/normalMaterial). (hint: no arguments)

[2019-03-07 16:31] stalgiag commented on #3574
My instinct is to say no. Making this work would require keeping track of applied uniforms before the uniforms outside of the shader object or at least before initialization, and the gains aren't that significant imo. I can't think of a use case when it would be really advantageous to modify uniforms before applying the shader.

[2019-03-07 16:36] sanketsingh24 commented on #3574
I don't think it would affect anything other than a user's experience, it just adds up another unnecessary element in core. I would close this out now.

[2019-03-07 16:36] #3574 closed

[2019-03-07 18:28] vedhant commented on #3571
@lmccart I have tried digging into what actually causes this problem.
What I found was that there is an issue with event **keypress** itself. This event is giving out wrong e.keyCode and e.which values which causes this issue. For example, the character '**.**' has e.which value 190 whereas keypress shows it as 46. Clearly, there is an issue with the event itself and not the underlying code of p5.

[2019-03-07 18:45] ihsavru commented on #3567
@outofambit how do i run an individual test?

[2019-03-07 19:25] sanketsingh24 commented on #3567
you can easily do it by appending `.only` on suite or test.

[2019-03-07 20:03] outofambit commented on #3567
yeah i think that's the easiest approach! we just have to be careful not to commit the `.only`.

for example:

[code]

[2019-03-07 20:24] outofambit commented on #3571
@vedhant thanks for investigating this!

This makes sense to me! @lmccart and @vedhant, do you think we should reimplement some kind of key press filtering to maintain the current behavior of `keyTyped()`, or remove `keyTyped()`? I think i'm in favor of that if it's easy to implement, but I don't feel strongly.

[2019-03-07 20:26] Spongman commented on #3571
aren't the behaviors of `keypressed` and `keydown` quite different? especially with respect to auto-repeat?

[2019-03-07 20:38] lmccart commented on #3571
as I recall, last we implemented things `keyPressed()` would only give capitals letters as the key?
anyway it would be great to go over `keyPressed()`, `keyTyped()`, and `keyReleased()` and update to support the current key functionality across browsers.

[2019-03-07 21:14] Ajayneethikannan commented on #3380
Hello everyone !

I would love to take up this issue to work with the processing foundation this summer , and I have written in the processing forum about some of the features I would like to implement :
[Introduction](https://discourse.processing.org/t/gsoc-2019-introduction/9045)
[Feature details](https://discourse.processing.org/t/gsoc-2019-an-implementation-for-drawing-gifs-on-the-canvas/9046)

[2019-03-07 21:24] gregorfa opened #3579 "blendMode(NORMAL) reset"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-07 21:26] gregorfa commented on #3579
blendMode(NORMAL) doesn’t seem to work here. If you use another mode (DARKEST for example) it will change, but revert to normal does not seem to work. What am I missing?

function setup() {
createCanvas(400, 400);
}

function draw() {
background(220);

blendMode(LIGHTEST);
strokeWeight(30);
stroke(80, 150, 255);
line(25, 25, 75, 75);
//this does not seem to have any effect
blendMode(NORMAL);

stro

[2019-03-07 22:29] meiamsome commented on #3193
@Ajayneethikannan I suspect that the case is that there is already another sketch on the page from other tests that haven't properly cleaned up after themselves, and as the tests aren't isolated we get that one of those sketches gets the key press and not one of the two in your test. Therefore, both `count1` and `count2` are equal.

Indeed, if we change your codepen to launch another instance firs

[2019-03-07 23:15] stalgiag commented on #3579
I haven't looked in to the `blendMode` section before but it seems like the [`NORMAL` constant](https://github.com/processing/p5.js/blob/master/src/core/constants.js#L499) is going to evaluate to 'normal' when [being passed to `globalCompositeOperation`](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L168) when it should [probably be 'source-over'.](https://developer.moz

[2019-03-07 23:20] Bubblebyb commented on #3141
On 0.7.3, still getting this error.

[2019-03-07 23:45] EOstling commented on #3575
Has anybody claimed this? If not I would like to take this issue.

[2019-03-08 00:23] stalgiag commented on #3575
great! go for it @EOstling !

[2019-03-08 02:04] ComputerCarl commented on #2658
How about leaving it for backward compatibility and issuing a warning? There are many tutorials on the web using `createImg` and it's frustrating trying to diagnose when one is new to P5.

[2019-03-08 06:43] Ajayneethikannan commented on #3193
Thank you very much for clearing my doubts,  @meiamsome !

[2019-03-08 16:22] salus-sage commented on #3564
my 2 cents considering browser security restrictions, not sure what will be the best hack for this problem.
what i found in image/loading_displaying.js
[code]
also i see a link to mdn https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image
with below code snippet. but as you can see in this [highlighted section](https://hyp.is/zCVX_kG9Eem8bWsg-kqKFg/developer.mozilla.org/en-US/docs/We

[2019-03-08 17:05] Ajayneethikannan commented on #3564
@salus-sage Thank you very much for your suggestions !
I agree that CORS is not guaranteed to work if we are attempting to load images from a host not in our control.
Some more observations I was able to make are :
- You can still use most of the  CORS blocked images (such as loading and drawing on the canvas) if you do not specify the crossOrigin header. But in these cases the canvas is 'tainted'

[2019-03-08 22:51] #3496 closed

[2019-03-08 23:26] stalgiag commented on #3579
Hi @gregorfa actually I just got a chance to test this bug and I wasn't able to reproduce it in Chrome and Windows 10.

Here is a screenshot of your example code with `blendMode(NORMAL)` commented out:
![Screenshot (22)](https://user-images.githubusercontent.com/10382506/54061567-4476cb00-41b6-11e9-9ebe-0458dd4d9509.png)

and with `blendMode(NORMAL)`
![Screenshot (23)](https://user-images.githubus