[2021-10-31 12:46] limzykenneth commented on #5465
The original vector here probably should be `createVector(3, 4, 0)`

[2021-10-31 13:32] pifragile opened #5467 "Strange behavior of get() and image()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-10-31 14:33] golanlevin commented on #5467
Just a guess here, but. The repeated ```get()``` / ```image()``` commands effectively sets up a "feedback buffer" in which any minuscule imperfections in graphics rendering propagate and accumulate over time. To see what I mean, compare the outputs of the two programs below, which differ only in whether ```noSmooth()``` is called in Line 5. (An identical difference can be seen if you insert ```pix

[2021-10-31 16:11] limzykenneth commented on #5467
@pifragile It is as @golanlevin explained above and thus it is expected behaviour. To put in in simpler terms, when drawing ellipse, the edge is usually anti-aliased by having semi transparent pixels to give the impression of being a smooth ellipse. By drawing semi transparent pixels on top of semi transparent pixels as your sketch shows there, those pixels will become fully opaque eventually, giv

[2021-10-31 18:27] pifragile commented on #5467
ok, makes sense. thanks to both of you @golanlevin @limzykenneth !

[2021-10-31 18:27] #5467 closed

[2021-11-01 09:42] soegaard opened #5468 "Imprecise description of strokeWeight"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible) - documentatio

[2021-11-03 03:42] lmccart commented on #5427
Just following up on this... would you all be open to receiving PRs that add the `describe()` line into the example templates and possibly into the FES, too? I'm happy to put something together if it's of interest.

[2021-11-03 13:47] limzykenneth commented on #5367
TLDR: I manage to remove the reference to the p5 instance from p5.Vector objects and everything seems to work now. Will file a PR.

---

For posterity:

So I've looked into some potential solutions and the first is to remove cyclic reference entirely. This proves to be very difficult as not just `p5._curElement` has cyclic reference, `p5._elements`, `p5._renderer`, and `p5._preloadMethods` all hav

[2021-11-03 18:05] catarak commented on #5427
Absolutely! I'll create an issue in the editor repository.

[2021-11-03 19:34] lm-n commented on #5427
This is all super exciting ❤️ ❤️ ❤️  I'm a bit overwhelmed rn to implement any changes but happy to chat or review code. 🙇  🙏 🙇 🙏 🙇

[2021-11-05 19:42] outofambit commented on #5427
i would, yes! :D

[2021-11-07 00:42] chrsmlls333 opened #5470 "Including a p5.Vector in saveJSON throws a circular structure error"
Submitting an object with a p5.Vector object throws a TypeError. Test code and associated error:
[code]
[code]

## I think two solutions are possible:

1. ### Filter out any p5 object properties transparent to the end user.
    This would involve assessing p5.Vector and any other built-in classes for error-throwing content and making a custom replacer function to replace these with simplified or s

[2021-11-07 00:44] chrsmlls333 commented on #5470
Oh, there is already a pull request to solve the vector issue specifically. https://github.com/processing/p5.js/pull/5469

Still, this may be present for other structures?

[2021-11-07 17:45] limzykenneth commented on #5470
#5469 will solve this problem for p5.Vector. Cyclic reference is still in the p5 instance itself and it will not be possible to be refactor out easily. I haven't come across anywhere else where it is a problem yet but if you find one let us know and we can look into it.

[2021-11-07 18:18] chrsmlls333 commented on #5470
Would it make sense to filter out p5 instances here regardless? That could be a blanket fix for beginners' accessibility.

[2021-11-07 22:53] limzykenneth commented on #5470
What do you mean?

[2021-11-09 03:19] KevinWorkman opened #5472 "Consider updating noSmooth() reference"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-11-09 20:12] aferriss commented on #5472
I might be wrong, but I think noSmooth() will only work in webGL mode. Maybe we could add something to the docs here to clarify this.

I think for images you can also try canvasCtx.imageSmoothingEnabled = false;

[2021-11-10 11:49] limzykenneth commented on #5472
`noSmooth()` does work in 2D as well but only on resized images (it is using `imageSmoothingEnabled`).

[code]

[2021-11-12 12:22] dhowe commented on #5462
So this is fine with single or multiple spaces, including tabs, and can be merged as is
I do notice a possible issue with line breaks, but will create a new ticket for this

[2021-11-12 12:28] dhowe opened #5474 "textToPoints() not handling line-breaks correctly"
textToPoints() inserts a blank character instead of a line-break

For the string 'B\nA', text() (in white) handles linebreak correctly, while textToPoints() does not:

<img width="231" alt="image" src="https://user-images.githubusercontent.com/737638/141467173-98d40d7d-5211-4d57-ae6a-26219af5ff91.png">

[code]

[2021-11-13 17:47] sixhat commented on #5474
Does this happens with other non-printing characters, like '\t', spaces, etc...

[2021-11-13 17:56] dhowe commented on #5474
tab and spaces, definitely not
I suppose we will need to catch line break chars (\r, \n etc.) and insert our own linebreaks

[2021-11-14 19:18] Palaksharma23 commented on #5175
Can I work on this issue , if no one is working on it. I would love to work on this issue .

[2021-11-14 19:49] paulcanning commented on #5175
@Palaksharma23 this was already assigned to someone if you look at the activity log

[2021-11-15 13:02] two-ticks commented on #5175
Hi @Palaksharma23! I am working on this issue in PR #5225. I have fixed the problem partially (not optimized), it would be great if you can fix the issue. If you have any improvements or want it to be reassigned to you, you can ask maintainers on the PR (#5225).

[2021-11-16 04:37] #5367 closed

[2021-11-16 05:01] #5380 closed

[2021-11-16 13:35] limzykenneth commented on #5470
Resolved by #5469

[2021-11-16 13:35] #5470 closed

[2021-11-16 16:55] meh-who opened #5475 "Incompatibility between p5.ble.js and full-screen share"
p5.ble.js used to work when present in share/full-screen mode, now it no longer works and gives the error message:

Error: SecurityError: requestDevice() called from cross-origin iframe.

Any ways to fix it or go back to previous full-screen version?

[2021-11-17 16:49] inaridarkfox4231 commented on #5129
I already using customPointShader...(https://openprocessing.org/sketch/1182719).

[2021-11-20 22:00] burnedsap opened #5476 "Top Bar on embed window"
Hello,

I see that there's a top bar with the p5js logo and the button to the code added on the embeds–can we remove this? It causes the embeds to have scroll bars (especially on embeds posted on websites before this bar was introduced. Is there a way to embed sketches from the editor without this top bar?

![Screenshot 2021-11-20 at 4 54 45 PM](https://user-images.githubusercontent.com/4111699/14

[2021-11-21 14:07] ccccooooddddyyyy opened #5477 "TypeError: null is not an object (evaluating 'this.drawingContext.scale')"
I'm very new to the community so  I can't really write all aspects of the problem.
I just want to open an issue I don't know what to do next. Please do ask me questions.

```TypeError: null is not an object (evaluating 'this.drawingContext.scale')```

[code]

The issue seems to more likely to happen when I render 100x canvas in a page:
[code]

<img width="513" alt="CleanShot 2021-11-21 at 20 38 16

[2021-11-21 14:42] limzykenneth commented on #5476
Hi, this is an issue specific to the web editor which is maintained in a separate repo. You should file this issue [here](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks.

[2021-11-21 14:42] #5476 closed

[2021-11-21 14:45] limzykenneth commented on #5477
Hi @ccccooooddddyyyy, can you provide a simple example that we can run that reproduces this problem? Ideally without being a react component. Thanks.

[2021-11-21 18:11] ccccooooddddyyyy commented on #5477
Hello @limzykenneth,
I also included:
- Axios, useSWR for fetching heavy data.
- Styling with CSS grid (what I think can be the main reason because the canvas width & height calculated by div size)

Codesandbox: https://codesandbox.io/s/mystifying-matan-2ee3x
Preview link: https://7lf8g.sse.codesandbox.io/ (Tap screen to route between pages)

Tested on iOS Safari 15.1
If you go back & forth too co

[2021-11-21 18:51] limzykenneth commented on #5477
I'm afraid you really have to simplify it here as I cannot debug the whole code that you have. Running the preview link you provided also doesn't give the same error that you've shown here.

[2021-11-21 19:09] reejuBhattacharya commented on #5472
Hi, if this issue is free, can I work on it?

[2021-11-21 19:19] reejuBhattacharya commented on #5468
Is this a documentation issue? If it is, I would like to work on it, if available

[2021-11-22 19:55] clankill3r commented on #4879
This does not work for me with videos.
I have ` vid.hide();` and draw the video frames using the image function.
I can get a normal image to have the `noSmooth()` look, but the video is always using the LINEAR.
Any help would be welcome.

[2021-11-24 17:58] j-stodd opened #5478 "Text wrap not working"
I am unsure why text wrap is not working. I specified the parameters as text(str,x,y,w,h) and it did not  create a textbox to wrap the text within. I tried changing everything, the string, the parameters, the rectMode() and other things. I even downloaded the p5js files again and injected them into my project again. Didnt do anything.

The weirdest thing about this is it was working before a few w

[2021-11-24 22:40] willmartian commented on #5414
Hey @limzykenneth! I implemented this functionality and opened a PR [here.](https://github.com/processing/p5.js/pull/5479)

Let me know if you have any suggestions regarding what I currently have--I mainly just transposed the existing markdown templates. Feel free to [open an example issue](https://github.com/willmartian/p5.js/issues/new/choose) in my fork if you want to try it out.

[2021-11-24 23:37] limzykenneth commented on #5478
Hi @j-stodd, can you provide a basic code snippet that we can use to replicate your problem? Thanks.

[2021-11-25 16:00] willmartian commented on #5477
Hey @ccccooooddddyyyy, it looks like this might be performance-related issue of your app creating multiple canvases.

Using your code sandbox preview link, I am able to reproduce the issue if I repeatedly click back and forth between the two pages:

<img width="773" alt="image" src="https://user-images.githubusercontent.com/17113462/143466667-279b7a4a-4d14-4cba-ae11-5b729a66e595.png">

Note that I

[2021-11-25 19:28] j-stodd commented on #5478
Yes. here is the sketch: https://editor.p5js.org/Jstodd/sketches/klBXzGjCA

And here is the screenshots of it NOT working in the brave browser, but it working and giving the expected behavior in the firefox browser
![BraveBrowser](https://user-images.githubusercontent.com/65479705/143492908-f9927ba3-e1c0-4553-bc04-06399af1b59d.png)
![FireFox](https://user-images.githubusercontent.com/65479705/1434

[2021-11-26 03:56] dhowe commented on #5478
I'm not able to recreate this with the current Brave on OSX (see below). Can you include your OS/version?

Brave: Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (x86_64)
OS X: 11.3 (Big Sur)

<img width="880" alt="Screenshot 2021-11-26 at 11 54 05 AM" src="https://user-images.githubusercontent.com/737638/143524432-82526b6a-c239-4a7e-97c3-e281757bf6d3.png">

[2021-11-26 07:52] awelles commented on #5403
On my mac (Big Sur) this bug appears in Chrome, but everything looks fine in FireFox and Safari.

Google Chrome
Version 96.0.4664.55 (Official Build) (x86_64)

Firefox Developer
95.0b12 (64-bit)

Safari
Version 15.0 (16612.1.29.41.4, 16612)

[2021-11-27 16:47] chosamuel opened #5481 "Sending number arrays as shader uniform doesn't behave properly"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-11-28 03:15] j-stodd commented on #5478
I am using v 1.32.106. My operating system is Ubunto 20.04 LTS (Linux).
![braveversion](https://user-images.githubusercontent.com/65479705/143727450-76db53e1-b887-4fe0-a0e7-22c45c53fc53.png)

[2021-11-28 03:26] j-stodd commented on #5478
Alright I just Updated Brave to the same version you have, "Version 1.32.113 Chromium: 96.0.4664.45 (Official Build) (64-bit)". the problem persists.
![updatedbrave](https://user-images.githubusercontent.com/65479705/143727674-8a58ab31-0f0a-49c7-8de6-2359ce1bd53e.png)

[2021-11-28 05:12] dhowe commented on #5478
Hmm, very strange. I also cannot recreate this on current Brave for Ubuntu 18.04. Does anyone have a Ubunto 20.04 to test on?
<img width="519" alt="Screenshot 2021-11-28 at 1 10 31 PM" src="https://user-images.githubusercontent.com/737638/143730483-091677cb-66f9-4191-bd40-dac4986a9cde.png">

[2021-11-28 05:28] Nitin-Rana commented on #5478
I have Ubuntu 20.04 and using Brave(Version 1.29.79 Chromium: 93.0.4577.63 (Official Build) (64-bit)) and I also can't recreate it.

[2021-11-28 06:16] frigorific44 commented on #5434
So, what seems to be going on is that since `pInst.deltaTime` is actually the difference between `pInst._lastFrameTime` and its previously held value, using `pInst._lastFrameTime + pInst.deltaTime` as `curTime` is an estimate. When the focus is moved back to the window after having been un-focused for a while, the time between frames quickly drops, so there is a frame which way over-estimates with

[2021-11-28 15:55] limzykenneth commented on #5478
@j-stodd Could it be a browser extension or settings in brave that is altering the rendering somehow?

[2021-11-28 18:44] j-stodd commented on #5478
Yes! If i turn off brave shields, it works properly... But this is still a problem. Why is brave shields preventing p5js from formatting text properly? that is very strange. And creates a bad ux for anyone using my app. Is p5js doing something brave thinks is creepy? Its saying it blocked a tracker. And no i didn't change any settings i dont think, if i did then they were minimal and i dont unders

[2021-11-28 19:26] limzykenneth commented on #5478
Blocking google analytics is pretty common and shouldn't break things like this (I use privacy badger to block google analytics as well). Just to confirm this is the problem would it be possible for you to run the sketch from a local server (ie. not from the p5.js editor) and see if the problem is still there?

[2021-11-28 19:59] j-stodd commented on #5478
Well if i understand what you mean, then i already have. i originally found the bug on my app which has a nodejs server involved. I was still using brave to view the frontend though. The problem persists using my own local server. So then i guess youre right and its probably not google analytics?

I just now tested it again, yes its still broken in my app, and it does in fact "fix" it if i disable

[2021-11-28 20:25] dhowe commented on #5478
unrelated to the specific problem here, but why are we using google analytics in the p5.js editor?

[2021-11-28 20:56] limzykenneth commented on #5478
@j-stodd In that case the problem is probably a bit more unusual than expected and unless we can figure out what brave shield is trying to do I expect it would be hard to fix on our side, a quick glance at the text rendering code I don't see anything obvious that should be affecting this.

You may want to reach out to Brave (or search their forums) to see if something similar has happened before.

[2021-11-29 00:31] j-stodd commented on #5478
I just turned off strict block fingerprinting and switched it to standard block fingerprinting, and that fixed the text wrap without turning brave shields off. Maybe thats why others couldnt replicate the problem. Try turning that on and maybe youll see the same thing as me.

Even though that part is figured out, I still cant fathom why this would break a text wrap

[2021-11-29 09:10] Veroaghe opened #5485 "Reference example for millis() incomplete"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible):
[example at "m

[2021-11-30 01:40] dhowe commented on #5478
have you inspected and compared the CSS between the two versions?

[2021-11-30 17:44] j-stodd commented on #5478
I dont think i see a difference
![1](https://user-images.githubusercontent.com/65479705/144099886-0bb1ae69-1cfc-4253-a0fc-628c9a625636.png)
![2](https://user-images.githubusercontent.com/65479705/144099889-1ba9af7b-e9be-400a-b8bf-4a0555e7d817.png)

[2021-11-30 19:08] #5481 closed

[2021-12-01 12:48] RichardDL99 opened #5486 "Mobile Acceleration examples not working."
Example ex00_Acceleration_Ball_Bounce used to work in 2018 but doesn't now.  I tried it on 2 phones today.  (Android 6.0.1, Android 10).  I made a small program just showing the AccelerationX,Y,Z values - always zero. I guess the code hasn't changed so the problem is security on the phone. I've tried giving Chrome all the permissions available - no better.   ex03_Shake_Ball_Bounce the same.

This

[2021-12-01 19:42] reejuBhattacharya commented on #5485
Hi!
Can you give some more details on what exact issue you are facing?

[2021-12-02 01:13] Veroaghe commented on #5485
[The example at "millis()" reference page on p5.js website is not updating.](https://p5js.org/reference/#/p5/millis)
The code isn't set within a draw() function, so the canvas is only showing the first frame. If it were set inside a draw() function, the number would continuously get larger.

[2021-12-02 16:41] IamEzio opened #5489 "Typo in Hindi translation of the contributor_docs"
I found two translation mistakes in the Hindi translation of the contributor_docs. The link to file can be found [here](https://github.com/processing/p5.js/blob/main/contributor_docs/hi/README.md)
 1. Hindi translation of the docs misses the logical NOT operator
![Error2](https://user-images.githubusercontent.com/89375125/144286118-b4bcd50c-25ab-484f-82e5-8fce3340cb1f.jpg)
![Error2 b](https://user

[2021-12-02 19:27] nabsiddiqui opened #5490 "Unable to addImage to Feature Extractor"
Hello,

I am working on a simple example to classify Covid lungs based on a Kaggle dataset. I am only using the first 120 images for testing. I have looked through all the bugs, but I still can't seem to figure out how to add a p5 Image to a feature extractor. Currently, I receive the following error:

<img width="715" alt="Screen Shot 2021-12-02 at 2 24 45 PM" src="https://user-images.githubuserc

[2021-12-02 19:34] #5490 closed

[2021-12-02 21:19] awelles commented on #5485
Created a pull request for the website repo.

https://github.com/processing/p5.js-website/pull/1100

Changes the example from:

[code]

To:

[code]

so the clock ticks.

[2021-12-04 01:59] rzeta0 opened #5491 "angleMode(DEGREES) ignored by Math.cos() Math.sin() ?"
It looks like angleMode(DEGREES) is ignored by Math.cos() Math.sin().

My old drawings all work fine with older versions of p5js, so this looks like a new bug.

[code]

results in the wrong answers

[code]

[2021-12-04 03:16] aferriss commented on #5491
Hi @rzeta0

Any function that is prefixed with `Math.` is part of native javascript, and not part of p5. Anglemode and other p5 functions will never affect those functions.

If you drop the Math. prefix however, there is a p5 version of cos and sine that will respect the angle mode.

The following should work like you expect.

[code]
Going to close the issue for now, but please feel free to reopen

[2021-12-04 03:16] #5491 closed

[2021-12-04 04:36] sambhavsaxena commented on #5489
can i work on this?

[2021-12-04 17:58] limzykenneth commented on #5489
@IamEzio You can go ahead and submit the PR. Thanks.

@sambhavsaxena Thanks for your interest but since @IamEzio already have a PR ready I'll let them submit it instead. You can check out some of the other issues here that may need help with.

[2021-12-04 17:59] limzykenneth commented on #5486
Probably related to some permission request API. I haven't got time to look into this but I plan to have a look at this eventually if someone else didn't get to this first.

[2021-12-05 02:16] montoyamoraga commented on #5485
closed due to explanation on [#1100](https://github.com/processing/p5.js-website/pull/1100)

[2021-12-05 02:16] #5485 closed

[2021-12-05 19:21] awelles commented on #5403
This appears to be purely a Chrome bug.

jsFiddle of bug replication without p5js: https://jsfiddle.net/k0ts7en2/1

I sent a bug report to Google.

For the curious, Chrome is fine if you remove the transform on the context (at least with those curve points):

[code]

[2021-12-07 00:47] gwhitney commented on #1293
Commenting from the project referenced just above: the problem seems even worse when one is using p5 from Typescript, in that if one declares, say, a class instance variable `myColor: p5.Color;` it will produce a complaint about myColor not being initialized; but it seems particularly tricky to initialize such a variable since even the default constructor as in `myColor: p5.Color = new p5.Color();

[2021-12-07 10:42] awelles commented on #5422
Here's code + output showing what I think @stigmollerhansen is describing.

This:

[code]

produces this, grouping the checkbox and label in a div:

[code]

This, with no label given to `createCheckbox`:

[code]

produces this:

[code]

I believe @stigmollerhansen is suggesting that if not given a label `createCheckbox` should produce this instead:

[code]

[2021-12-07 12:01] awelles commented on #5284
*If* you want circle to respond to `CORNERS` you could do something like this: Taking the third parameter in `circle(a,b,c)` as the `x` coordinate of the second corner calculate the fourth parameter to `ellipse` so that your corners describe a square.

`circle(x1, y, x2)` should become `ellipse(x1, y, x2, y + x2 - x1)`.

`circle(10, 30, 70)`, for instance, would become `ellipse(10, 30, 70, 90)`, s

[2021-12-07 16:20] #4854 closed

[2021-12-07 16:29] #5489 closed

[2021-12-07 16:44] limzykenneth commented on #5475
I believe your problems are with the online editor. Currently all sketch (even fullscreen ones) are run through an iframe which cannot call requestDevice(). You may want to file an issue with the web editor team [here](https://github.com/processing/p5.js-web-editor/issues) and see if there can be a away around it. Otherwise you can try running a local server.

I'm closing this for now as it's not

[2021-12-07 16:44] #5475 closed

[2021-12-08 00:23] cutandpost opened #5496 "p5js copy() function - but it won't paste..."
Hello!

I've been playing with the copy() function and following examples online but when I use it I can't seem to get what has been copied to stay pasted - it flashes up for an instant. I perhaps thought this was because I had put it in draw() and examples I had seen had it in setup() however, I saw an example that used it in mouseDrag - that code worked perfectly and I emulated it in my code, or

[2021-12-08 00:30] cutandpost commented on #5496
Thank you!

On Wed, 8 Dec 2021, 00:24 welcome[bot], ***@***.***> wrote:

[2021-12-08 03:06] awelles commented on #5496
Hi @cutandpost,

The first line in your `draw()` clears your canvas and sets everything black:

[code]

Then six images are loaded every loop, so they'll appear in the same place all the time, being redrawn after being cleared:

[code]

Finally you randomly generate parameters to call copy with:

[code]

If you were to call copy with these random parameters _every_ loop a randomly placed copy woul

[2021-12-08 03:38] awelles commented on #5442
Related to #5455

[2021-12-08 09:30] stigmollerhansen commented on #5422
Exactly what I meant, @awelles!

Thank you for your follow-up code example and for bringing this issue to my attention again.

[2021-12-08 09:43] cutandpost commented on #5496
Hi there!

Oh so simple yes thats done it - ive put the background() and the images
into setup() and its sorted it out, thank you!

On Wed, 8 Dec 2021, 03:06 A Welles, ***@***.***> wrote:

[2021-12-08 17:56] oleboleskole3 opened #5497 "p5.Vector.setHeading uses radians, even when angleMode(DEGREES) is specified"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [x] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-08 22:42] #5496 closed

[2021-12-08 22:57] #5468 closed

[2021-12-08 23:45] awelles commented on #5497
`p5.Vector.fromAngle()` and `p5.Vector.fromAngles()` also ignore `angleMode(DEGREES)`

[2021-12-09 18:59] orgicus commented on #5472
@limzykenneth I still see anti-aliasing artefacts when running your example in the p5 web editor.

I did get the expected aliased output by:
- using `noSmooth()` on both the global p5.Graphics instance and the `pg` buffer
- creating `pg` as WEBGL
- setting pixel density to 1 (though I suspect this is due to OSX retina display): this + `WEBGL` mode seem to have some funny effects on coordinates

[c

[2021-12-09 23:03] limzykenneth commented on #5472
That is because of `pixelDensity()` as p5 is actually doing some behind the scenes stuff to make the same set of coordinates work regardless of the screen pixel density so in this case it ended up not having as pronounced an effect. If you toggle the `noSmooth()` on and off you should see a difference (reduce the p5.Graphics size to see a more pronounced difference).

If you needed absolutely no s

[2021-12-10 12:06] ffd8 commented on #5474
Being able to add `\n` line breaks to `textToPoints()` would be huge and oh so useful!
I'm not so sure that opentype.js supports it?

[2021-12-10 12:12] dhowe commented on #5474
no, I think it would just require computing the layout for the entire string (as we do with text()), then handling each line (after line breaks) separately

and this is also the workaround we can suggest in the meantime: 'pass each line to textToPoints() separately`

[2021-12-10 13:21] saiakarsh193 opened #5499 "angleMode not changing for external canvas"
The angleMode is not changing when I use it on a new canvas (created using createGraphics).

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [x] Math
- [ ] Unit Testing
-

[2021-12-12 01:12] limzykenneth commented on #5499
I'm not fully sure what the use case would be here, can you perhaps provide a short snippet of intended usage? Thanks.

[2021-12-12 06:31] #5398 closed

[2021-12-12 13:16] JaPatGitHub opened #5501 "Remove `touchX`, `touchY` from wiki"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other -Wiki

#### Details about the bug:

-

[2021-12-13 12:31] reejuBhattacharya opened #5504 "remove method of createRadio does not work in all cases"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-13 12:35] reejuBhattacharya commented on #5504
This issue is related to issue #5374 and solution is similar to the solution to that problem. I have solved it and will push a pull request as soon as my previous PR is merged.

[2021-12-13 15:58] reejuBhattacharya commented on #5463
I tested the hours() function and could not replicate the error. For me, it returned between range 0-23, as it should.

[2021-12-13 17:54] ctrlbru opened #5505 "Blurred straight lines in 2D mode from 0.7.3 to 0.8.0 (up to 1.4.0)"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-13 21:34] limzykenneth commented on #5505
The change came in ea260a098ab7c9195b090e91f9b4a4df380a2a57 / #3619 to fix issue reported in #3576 which has to do with stroke alignment of shapes. I'm not 100% familiar with how things work in these parts but any fix to this issue will need to take into account the original issue.

[2021-12-13 21:36] limzykenneth commented on #5463
Closing as we can't replicate this. @eents If you can provide an example that replicates your problem, do let us know. Thanks.

[2021-12-13 21:36] #5463 closed

[2021-12-13 21:41] limzykenneth commented on #5499
The angle mode is set per p5 instance instead of per graphics instance. The difference being functions such as `cos()` `sin()` etc are not related to the canvas created by `createCanvas` or graphics created by `createGraphics` but rather to the p5 instance itself (created by implicit `new p5()` or explicit `new p5(sketch)` calls), which means there is no `angleMode` function that you can call on p

[2021-12-13 22:20] limzykenneth commented on #5478
I manage to do a bit of testing and found where the problem is. Brave with strict fingerprinting blocking is preventing the usage of `measureText()` [here](https://github.com/processing/p5.js/blob/main/src/core/p5.Renderer2D.js#L1189) (it always returns 0 instead of the measured render width of the text) which without that information there's no way we can do text warp. As seen in the linked code,

[2021-12-13 22:20] #5478 closed

[2021-12-13 22:22] ctrlbru commented on #5505
Oh well... it looks like calling translate(0.5, 0.5) before rect is enough to fix it, I guess I'll go with that.

[2021-12-13 22:22] #5505 closed

[2021-12-14 02:13] saiakarsh193 commented on #5499
OK, thanks for the clarification. Sorry for the false alarm.

[2021-12-14 02:13] #5499 closed

[2021-12-15 16:01] limzykenneth commented on #5501
Removed those references. Thanks.

[2021-12-15 16:01] #5501 closed

[2021-12-15 16:11] #5403 closed

[2021-12-15 16:12] limzykenneth commented on #5462
Fixed by #5466

[2021-12-15 16:12] #5462 closed

[2021-12-15 16:57] stalgiag commented on #5464
Hi! Thanks for the issue.

Not sure what this is off the top of my head and I can't investigate now. I'll just add that this particular sketch is 'fixed' by adding `translate(0, 0, 200);` to the top of the `cube()` function. Hopefully this is helpful in tracking down the issue!

[2021-12-18 03:09] nobody5050 opened #5506 "noSmooth() does nothing on images loaded via preload"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-18 03:11] nobody5050 commented on #5506
here's an example image that I used to test
![pixelArt](https://user-images.githubusercontent.com/32989720/146627055-c36f6306-94b2-4f11-8aae-34afb1810c8c.png)

[2021-12-19 00:26] sflanker opened #5507 "User defined shaders are never used when a texture is specified because isTextureShader always returns false."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-19 00:27] sflanker commented on #5507
Example with workaround in place: https://openprocessing.org/sketch/1406878

Credit for finding the bug: https://discourse.processing.org/t/paint-an-image-with-transparency-on-a-quad-via-a-fragment-shader/34189

[2021-12-20 02:08] aferriss commented on #5507
I believe that the `texture()` function is not intended to be used with custom shaders, and is more meant as a quick way to texture geometry. When using the `shader()` function, you are expected to pass your own uniforms to the shader.

If you want to send your texture to the shader directly, you can add this line after the call to the `shader(shdr);` function.

[code]

I'm going to close this iss

[2021-12-20 02:45] sflanker commented on #5507
@aferriss I disagree with the current behavior being considered by design for the following reasons:

1. If you do not have a texture set, UV coordinate normalization will not happen and the `vertex()` function will spam the logs with `'You must first call texture() before using vertex() with image based u and v coordinates'` even if you pre-normalize your UVs.
2. While I haven't tested it the way

[2021-12-20 06:20] aferriss commented on #5507
Happy to reopen! I'll take another look at this later when I have some more time. Thanks for the detailed writeup!

[2021-12-20 09:09] sflanker commented on #5507
Great, no rush, thank you for looking into it. As I said I'd like to contribute the fix myself as soon as I have the time.

[2021-12-20 09:50] jackcruden opened #5509 "Drawing webgl graphics on a 2d canvas not updating"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-20 17:49] yifanmai commented on #5174
I just open a PR #5508 that puts @stalgiag's code snippet into the mask method.

[2021-12-21 08:33] ArthurGW commented on #5421
As a side note, another way to get `ambientMaterial(...)` to work after `noFill()` is to first call `normalMaterial()`, which also contains a call to set `this._renderer._doFill=true`. Since there is precedent for this when setting normal material, it makes sense to me to do the same when setting ambient material (and any other).

[2021-12-22 23:27] aferriss commented on #5507
First off, I'll say that I think this is probably a change worth making, as it's a really small update, and doesn't seem to impact anything else. However, I'm still not sure that this was the original intention for the texture function, but I do think it is an interesting workaround to send a texture to a shader.

To your points:
1. We should revisit why this warning is here, and if we want to kee

[2021-12-22 23:56] aferriss opened #5511 "GIF's don't update when using setUniform"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-23 00:06] aferriss opened #5512 "Remove UV warning when setting textures with setUniform()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-23 00:21] aferriss commented on #5509
When you use a createGraphics object, many things aren't handled for you anymore. One of those things is blending and transformations. If you add img.push() and img.pop() before and after your drawing code, I think your sketch may look correct again.

[code]

[2021-12-23 00:36] aferriss commented on #5509
Actually, when testing this, I noticed that there is something else going on. It seems that depth is not being cleared when using createGraphics buffers, leading to weird artifacts. You can get around it by manually clearing the depth, but we should fix this. Going to open a separate issue to describe it in more detail.

Feel free to reopen this issue if you still have questions!

[2021-12-23 00:36] #5509 closed

[2021-12-23 00:43] aferriss opened #5513 "clear() function doesn't clear when using a createGraphics buffer in webGL mode"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-23 00:51] aferriss opened #5514 "Depth is not being cleared on webGL graphics objects."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-23 02:09] aferriss commented on #5514
Actually, I think this is happening by design, but since it keeps popping up and even I keep forgetting about it, I wonder if we should do something to make it more obvious that this is the default behavior.

I think that the `reset()` function will clear the depth buffer, but we should make this more clear in the documentation.

[2021-12-23 03:17] #5282 closed

[2021-12-23 17:12] jackcruden commented on #5509
Awesome, thank you for taking the time to check it out.

[2021-12-24 14:26] ccccooooddddyyyy commented on #5477
Yes, thank you.
I can confirm this is a memory-related issue. I had to lower the number of canvases rendered and were looping at a time.

[2021-12-24 23:46] aferriss opened #5516 "Questions about p5.RendererGL.getTexture()"
I think there may be something off with the implementation of the getTexture() function. The function looks like this:

[code]

However, nowhere in the renderer or anywhere else in the codebase are we ever pushing anything into `this.textures`, so the loop will never do anything, since we're not storing textures anywhere.

Moreover, I'm suspicious of that if statement inside of the loop. Even if w

[2021-12-25 12:11] dethe commented on #3998
You can use P5's `push()` and `pop()` instead of drawingContext's `save()` and `restore`. I have been using `clip()` more and more and would love to see it exposed in P5. All the implementation really needs for 2D is:

[code]

But of course, then it would need documentation and possibly a parallel implementation in WEBGL mode. Until then, I monkeypatch with the above.

[2021-12-26 20:36] ScottGrogin commented on #5238
I was having similar issues while trying to load in images and I found that calling new p5() with window.onload got preload to work.

[code]

[2021-12-27 00:11] dethe opened #5518 "Improve mapping of blendMode to globalCompositeOperation"
### Better documentation of blendModes and what they do (and do not) cover would be helpful

* Specify mappings of canvas globalCompositeOperation types to blendModes, i.e.:
  * `source-over` -> `BLEND`
  * `destination-out` -> `REMOVE`
  * [etc.]
* Specify which globalCompositeOperation types are *not* implemented in P5, i.e.:
  * `destination-in`
  * `source-atop`
  * [any others]

#### Most app

[2021-12-27 00:51] #5477 closed

[2021-12-27 14:04] sepulm01 commented on #4634
Hi, I had the very same problem: I try to load image form https://storage.googleapis.com  like that:
bg = loadImage('https://storage.googleapis.com/file2net-a30e6/fotos/e647b44c54258d89.jpg?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=labelflow%40file2net-a....
and the answer is:
Access to fetch at 'https://storage.googleapis.com/file2net-a30e6/fotos/e647b44c54258d89.jpg?X-Goog-Algorith

[2021-12-29 06:15] jonashw commented on #2218
Confirmed this does not work on chrome for Android over HTTP.  With HTTPS, it works.

[2021-12-29 20:12] stemcoding opened #5520 "saveTable works on iPad in Safari but not on chrome or firefox"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [X] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-29 20:29] stemcoding commented on #5358
On my iPad when you try to draw on the kaleidoscope, touching the sketch just keeps moving the sketch around. It never draws anything because mousePressed never gets run because it's a touch screen.

I think this is more of a request to improve the example documentation.

[2021-12-30 19:44] #5513 closed

[2021-12-30 19:46] #5507 closed

[2021-12-30 20:10] stalgiag commented on #5516
@aferriss that is interesting. I did some digging and most of this logic appears to be introduced with #2112. The conversation in that PR makes the purpose of the function and intended performance trade-off a little more clear but I have to admit that I still don't fully understand. I *think* that when a Sampler2D uniform is set, a new texture is created if it doesn't already exist in the textures

[2021-12-30 20:12] #5434 closed

[2021-12-30 20:15] stalgiag opened #5521 "Non-looping GIFs in unfocused tabs never paint final frame"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-12-30 22:05] Hima87 opened #5522 "How do I download my sketch as a video or a gif through the p5js web editor"
<!--
Hi there!

i wrote a code and I want to download the file as a gif or a video ,i know how to download this as a SVG file but it comes as a still image
this is the code ,i am very new to  p5js  let alone coding ,would appreciate any help or directions ,

thanks
here is my code

index html

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1

[2021-12-30 22:07] Hima87 commented on #5522
Hi there!

i wrote a code and I want to download the file as a gif or a video ,i know how to download this as a SVG file but it comes as a still image
this is the code ,i am very new to  p5js  let alone coding ,would appreciate any help or directions ,

thanks
here is my code

index html

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/

[2021-12-30 22:41] stalgiag commented on #5514
I often forget about this too but yes, `reset()` is the intended way to make a graphic object behave like the main canvas. The documentation on this is pretty sparse though, one needs to know what they are looking for to arrive at the relevant info and the `reset()` documentation does not mention depth.

[2022-01-01 18:41] brianpeiris commented on #5522
Take a look at the saveFrames function, or ccapture.js that is linked there in the docs: https://p5js.org/reference/#/p5/saveFrames

You could also use an external program to capture your screen, like OBS or ShareX

[2022-01-01 21:13] brianpeiris opened #5523 "Preload logic fails when using p5.sound, slow assets and instance mode"
p5 fails to preload assets correctly in a particular scenario. If you use p5.sound, an instance mode sketch, and you have slow-loading assets in your HTML.

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Steps to reproduce:
I've prepared a minimal reproduction:
1. Visit in Chrome or Firefox https://p5-sound-race-bug.glitch.me/
2. See that the canvas (in the blue bo

[2022-01-03 21:59] j-stodd opened #5524 "mouseIsPressed gets stuck on true"
If you click on an alert caused by a click or click on your console, mouseIsPressed will be stuck on "true", and if you hover your mouse over a button youve created, its going to set it off.

Quick fix: Im able to fix it for myself, by setting mouseIsPressed = false in my looped code, that way it force resets it to false every frame.

[2022-01-04 20:16] j-stodd opened #5525 "Formatting a button to a new size doesn't necessarily change its width and height properties"
Formatting a button to a new size doesn't necessarily change its width and height properties

Code example here: https://editor.p5js.org/Jstodd/sketches/klBXzGjCA

Try clicking the button in this example. If you are too far to the right, it will not click. Why? I styled the size, and i called the width and height, so why doesn't it work as expected?

[2022-01-05 02:46] Sarang-R-119 opened #5526 "totalHeight is not defined when setting horizontal and vertical alignment"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2022-01-05 15:36] limzykenneth commented on #5525
The `width` and `height` values are not updated automatically if the element's size is modified via CSS after creation. If you want to change the size of the element after creation you can use the [`size`](https://p5js.org/reference/#/p5.Element/size) method instead which will update the `width` and `height` values.

[2022-01-05 15:43] limzykenneth commented on #5526
This has been fixed by #5366 but not released yet.

[2022-01-05 20:37] j-stodd commented on #5525
Where is that in the reference? This was not obvious to me, i thought i had done something wrong and i didnt realize style() didnt update the javascript properties

[2022-01-05 21:10] Sarang-R-119 commented on #5526
Thanks, @limzykenneth for answering and leading me to the issue with the solution. However, I am using p5.min.js and I am unable to figure out how to solve the issue of the undefined variable totalHeight. Since the solution is not released yet, is there a short fix I can do to avoid this error?

[2022-01-06 00:07] limzykenneth commented on #5526
Depending on how you are laying out your text on the canvas, you can maybe simulate that effect by ofsetting the y position manually.

[2022-01-06 02:22] Sarang-R-119 commented on #5526
Oh, I see, well I have done that by taking the midpoint between the top and bottom (min and max) y values of the text box with some offset. Thanks anyway!

[2022-01-06 03:08] ErrorBot1122 opened #5527 "[F-REQ] whileLoadingCallback for images"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [x] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature e

[2022-01-06 09:18] dhowe commented on #5526
do we have a timeline for release?

[2022-01-06 12:59] limzykenneth commented on #5526
pinging @outofambit @Qianqianye

[2022-01-08 00:15] nickmcintyre opened #5528 "Edits to reference material"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details a

[2022-01-08 13:41] limzykenneth commented on #5528
You can go ahead and file them with one PR. No specific way to do this but it could take longer for us to review this if it is a big PR, so just be patient with it.

[2022-01-09 20:55] limzykenneth commented on #5527
Hi @ErrorBot1122, we require new feature requests to indicate how the feature will increase access to p5.js, you can read more about it [here](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md). If possible, do include a line in this issue specifying how this feature will meet the above requirements. Thanks!

[2022-01-10 09:17] reejuBhattacharya commented on #5524
I have been trying to reproduce the bug on other browsers and observed the following:

On Firefox, I could not reproduce the bug and the code ran as expected.
![image](https://user-images.githubusercontent.com/40564575/148740922-df5292d8-a416-4229-bde1-45f9bec98c30.png)

However, on Chrome, the code deviated from its expected behavior. After the first mouse-click and after the alert box was displa

[2022-01-11 09:24] deviparikh commented on #2732
+1 that this feature would be great to have!

[2022-01-12 15:47] vsquared opened #5529 "loadImage"
https://github.com/processing/p5.js/blob/cb3f59740bcb71ba5e2bee820bb1f784004d85ef/src/image/loading_displaying.js#L333

let img;
function preload() {
  img = loadImage('xxxxxx.jpg');
}
function setup() {
  // Top-left corner of the img is at (0, 0)
  // Width and height are the img's original width and height
	**createCanvas(img.width, img.height);  //Added this line**
  image(img, 0, 0);
}

Pleas

[2022-01-12 19:08] montoyamoraga opened #5530 "add backlog of people to all-contributors"
i'm going through some issues and pull requests in the last ~4 months and adding people as contributors on this thread

[2022-01-12 19:09] montoyamoraga commented on #5530
@all-contributors please add @akshatnema for code in https://github.com/processing/p5.js-website/pull/1107

[2022-01-12 19:10] montoyamoraga commented on #5530
@all-contributors please add @IamEzio for bug in https://github.com/processing/p5.js-website/issues/1101

[2022-01-12 19:14] montoyamoraga commented on #5530
@all-contributors please add @Himanshu664 for bug in https://github.com/processing/p5.js-website/pull/1106

[2022-01-12 19:17] montoyamoraga commented on #5522
hi everyone! thanks :)
for code questions please let's use the forum
https://discourse.processing.org/
see you there!

[2022-01-12 19:17] #5522 closed

[2022-01-12 19:20] montoyamoraga commented on #5530
@all-contributors please add @chosamuel for bug in https://github.com/processing/p5.js/issues/5530

[2022-01-12 19:56] stalgiag commented on #5529
Hi thanks for the issue. By default p5 makes a canvas that is 100x100 when `createCanvas()` is absent. This is outlined in the [createCanvas reference.](https://p5js.org/reference/#/p5/createCanvas). This means that the `loadImage()` [example](https://p5js.org/reference/#/p5/loadImage) works currently.

Closing this for organizational purposes.

[2022-01-12 19:56] #5529 closed

[2022-01-12 20:30] vsquared commented on #5529
Thanks for looking into it.  Maybe add a comment telling the user to add a
createCanvas() if they want to see a decent sized image.  A user typically
expects to see a robust sized image, not a postage stamp in the middle of
the screen.

On Wed, Jan 12, 2022 at 1:56 PM Stalgia Grigg ***@***.***>
wrote:

[2022-01-13 03:19] montoyamoraga commented on #5530
@all-contributors add @TOrfevres for bug

[2022-01-13 03:21] montoyamoraga commented on #5530
@all-contributors add @reejuBhattacharya for code in #5465

[2022-01-13 03:22] montoyamoraga commented on #5530
@all-contributors add @JaPatGitHub for docs in #5501

[2022-01-13 03:23] montoyamoraga commented on #5530
@all-contributors please add @Zearin for doc in #5500

[2022-01-13 03:26] montoyamoraga commented on #5530
@all-contributors please add @pifragile for bug in #5462

[2022-01-13 03:28] montoyamoraga commented on #5530
@all-contributors please add @KevinWorkman for doc in #5472

[2022-01-13 03:29] montoyamoraga commented on #5530
@all-contributors please add @JetStarBlues for code in #5283

[2022-01-13 03:32] montoyamoraga commented on #5530
@all-contributors please add @j-stodd for bug in #5478

[2022-01-13 03:33] montoyamoraga commented on #5530
@all-contributors please add @soegaard for doc in #5468

[2022-01-13 03:34] montoyamoraga commented on #5530
@all-contributors please add @reejuBhattacharya for code in #5480

[2022-01-13 03:34] montoyamoraga commented on #5530
@all-contributors please add @oleboleskole3 for bug in #5497

[2022-01-13 03:36] montoyamoraga commented on #5530
@all-contributors please add @awelles for bug in #5497

[2022-01-13 11:20] #5465 closed

[2022-01-13 12:52] soegaard commented on #5528
The intention was probably to write:

    rectX += 1;

The effect is the same. The command

     rectX = rectX += 1;

is parsed as

     rectX = (rectX += 1);
.

First `(rectX += 1)` is evaluated. The effect is to increment rectX and the value of the expression
is the new value. This new value is then, due to

         rectX =

stored in rectX.

That is, the mistake is benign in the sense that the

[2022-01-13 13:22] montoyamoraga commented on #5530
@all-contributors please add @andreiantonescu for bug in #5403

[2022-01-13 13:23] montoyamoraga commented on #5530
@all-contributors please add @awelles for bug in #5403

[2022-01-13 13:24] montoyamoraga commented on #5530
@all-contributors please add @dipamsen for bug in #5284

[2022-01-13 13:30] montoyamoraga commented on #5530
@all-contributors please add @soegaard for bug in [#1108](https://github.com/processing/p5.js-website/pull/1108)

[2022-01-13 13:39] montoyamoraga commented on #5530
@all-contributors please add @stigmollerhansen for bug in #5422

[2022-01-13 13:43] montoyamoraga commented on #4634
hi @sepulm01 for questions about code please review our forum :)
https://discourse.processing.org/

[2022-01-13 13:49] montoyamoraga commented on #5530
@all-contributors please add @willmartian for ideas in #5479

[2022-01-13 13:50] montoyamoraga commented on #5530
i'm done until mid January 2022, yay, this issue is closed now

[2022-01-13 13:50] #5530 closed

[2022-01-14 16:54] outofambit commented on #5530
thank you so much @montoyamoraga!! 💖

[2022-01-14 20:08] aferriss opened #5552 "Should webGL alpha default to false?"
I was looking into the issues described in #5451 & #5195  and testing out how alpha blending is working with webGL mode. I think that the current behavior is causing a fair amount of confusion and unexpected results.

Here is a red square on black with 50% opacity, two ways. The first is just using css with a red div on a black div. The second is p5's default drawing mode.

[Example Sketch](https:

[2022-01-14 20:09] aferriss commented on #5451
I think you should also be able to call `setAttributes('alpha', false); ` somewhere in your sketch to fix this issue.

[2022-01-14 21:29] stalgiag commented on #5552
Thanks for the clear research and write-up!

This is a bit of a point of flip-flopping on my part historically. 'alpha' was false by default until [this PR](https://github.com/processing/p5.js/pull/3835) which was in response to [this issue](https://github.com/processing/p5.js/issues/3816).

The goal was to make the default behavior feel as close to the 2D renderer as possible, in that specific in

[2022-01-15 02:35] Qianqianye commented on #5530
Thanks @montoyamoraga!!

[2022-01-15 03:35] aferriss opened #5556 "Adding a settings argument to p5.Texture"
### Feature enhancement details:

I'd like to add an additional argument to the p5.Texture constructor that would allow more of the internal settings to be changed. I'm working on [p5Fbo](https://github.com/aferriss/p5Fbo), and one thing I'd like to enable is floating point textures. Float textures would allow more complex general purpose GPU programming, by allowing the texture to store values ou

[2022-01-15 07:27] reejuBhattacharya commented on #5422
@limzykenneth @outofambit
I attempted to solve this issue and noticed that, in the `createCheckbox` function, we create the surrounding`<div>` and append the `checkbox` to it before validating whether `argument[0]`, i.e, 'label' is null or not. This creates the unnecessary `<div>` in question.

A simple workaround would be to add an `else` block after the `if` statement which validates whether 'la

[2022-01-15 18:35] nickmcintyre commented on #5528
Agreed! The code runs fine, but it probably wasn't the original author's intent to highlight this particular language feature. The statement happens to be illegal in Python and caught my attention, so I highlighted it.

The rest of my suggested edits are all minor typos and grammatical errors.

[2022-01-16 02:49] unjust opened #5561 "add contributor..."
@all-contributors please add @unjust for code, bug

[2022-01-16 02:50] unjust commented on #5561
long overdue, hope this works 🤞  . also looking for new issues to fix.

[2022-01-16 02:58] unjust commented on #5561
@all-contributors please add @unjust for code in #3344

[2022-01-16 02:59] unjust commented on #5561
@all-contributors please add @unjust for bug in #3344

[2022-01-16 16:47] limzykenneth commented on #5525
It is a bit of an edge case and so it probably wasn't realized that `style()` can possibly change the value of width and height of an element. We can possibly make it so that calling `style()` do update those properties.

[2022-01-16 19:38] RichardDL99 opened #5563 "Console Window Useability Enhancements."
I've just started using Processing 4.0b2 (On W10) and I want to tell you a few things about the console window (cw).

Vertical: Wouldn't it be nice to be able to put the cw vertically up the (right) side of the main window?  When you are working on the code you don't want vital screen height taken by the console window, so close it.  Yes, but if you could put it beside the code then you'd have a g

[2022-01-17 03:54] aferriss commented on #5563
Hi, I think you meant to put this in the desktop processing repo. This repo is for p5.js, the javascript library. I believe this is the one you're looking for: https://github.com/processing/processing4

Feel free to re-open if I'm mistaken!

[2022-01-17 03:54] #5563 closed

[2022-01-17 09:02] danieljamesross opened #5564 "Unnecessary word in docs"
https://p5js.org/reference/#/p5/curveVertex

`Description`, paragraph 2, 1st sentence there is an extra `a`.

[2022-01-17 13:53] yama-yeah opened #5565 "resetMatrix can't work on webgl"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2022-01-18 09:21] c0d3rman commented on #5244
Bump, just wasted an hour on this issue.

[2022-01-18 13:58] #5374 closed

[2022-01-19 01:16] khanjasir90 commented on #5564
@danieljamesross can i take this up

[2022-01-19 10:34] limzykenneth commented on #5564
@khanjasir90 This is already being worked on in #5566. Thanks.

[2022-01-19 16:26] mutterer opened #5567 "getURLParams() not working in fullscreen share mode"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-01-19 21:52] #5564 closed

[2022-01-19 21:56] limzykenneth commented on #5567
Is this issue specific to the web editor? If so you can move it [here](https://github.com/processing/p5.js-web-editor/issues) as we do not maintain the web editor in this repo. Thanks.

[2022-01-19 22:13] rsodre commented on #37
I don't understand why this has been closed.
This is a fair request, to implement a great Processing feature, and was not addressed by #458 as mentioned.
Please reopen it, even if it's not on the roadmap, it should be.

[2022-01-20 01:55] Qianqianye opened #5568 "1.4.1 Release"
### Topic

We'd like to do a release of p5 soon! 🎉 I think the next release version should be `1.4.1`. Is there anything else specific we need to get merged in before then? I'm thinking we can plan for the week of Jan 31.

Does that sound right to everybody?

@limzykenneth @stalgiag @outofambit @montoyamoraga

[2022-01-20 08:09] stampyzfanz commented on #5521
Reproduced with example sketch: https://editor.p5js.org/stampyzfanz/sketches/Wn9GsiQs2

[2022-01-20 09:05] stampyzfanz commented on #5524
As shown by this sketch: https://editor.p5js.org/stampyzfanz/sketches/BEh2Ti-3s, the mouseup event is not triggered when an alert box is closed and the cursor is lifted (at least on my browser, Chrome). By commenting out the alert call, one can validate that it is normally triggered as expected. Internally, p5.js changes mouseIsPressed on the mousedown and mouseup calls.

Your quick fix means that

[2022-01-20 09:12] #5567 closed

[2022-01-20 13:01] limzykenneth commented on #5568
No urgent fix that needs to be merged at the moment. There are a few open PRs but they will take some time to review and isn't any major bug fix so we don't have to wait for those. Not including the GIF and WebGL stuff though as I'm not following those.

[2022-01-20 15:27] stalgiag commented on #5565
In this example, `resetMatrix()` is going to make it feel like you are inside of the box. If you want to move back to the starting position after resetting the matrix you can call `translate(0, 0, -350)`.

[2022-01-20 15:32] #5552 closed

[2022-01-20 15:35] stalgiag commented on #5568
I don't think there is anything urgent but @aferriss would know more on the WebGL front.

[2022-01-20 18:30] aferriss commented on #5568
I don't believe there's anything major outstanding in webGL land either. Although, I would love to try and get https://github.com/processing/p5.js/pull/5557 merged before the release is built. I'll try and get it finalized asap!

[2022-01-20 19:06] aferriss opened #5571 "Should webGL mode be backed by a framebuffer?"
### Should webGL mode be backed by a framebuffer (or p5.Graphics object)?

I was thinking a bit about webGL mode and how we might achieve better parity with the 2d renderer.  Currently, webGL mode renders content directly to the canvas. If instead we rendered to a framebuffer, we could use the main scene as a texture, and add a post processing stage, which is what is actually drawn to the screen.

[2022-01-21 17:29] #5421 closed

[2022-01-21 19:50] reejuBhattacharya opened #5574 "Incorrect parameter description for p5.Geometry"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-01-21 20:14] montoyamoraga commented on #5568
i will be checking any issues and PRs to see what i can help with to make it happen :)

[2022-01-21 20:27] aferriss commented on #5574
Yep, good catch! Should probably be vertical. I would also say that I think this is kind of a confusing description. Maybe something better might be:

detailX — Integer: Number of vertices along the x axis
detailY — Integer: Number of vertices along the y axis

[2022-01-21 21:15] reejuBhattacharya commented on #5574
Thanks, I'll send a pull request fixing this asap!

[2022-01-22 02:28] aferriss commented on #5001
I did a little digging into this (I know it took a year, sorry). And I think it will be pretty simple to implement using the vertex and quadratic vertex functions, which is how desktop processing does it. I just copied their implementation to JS and it seems to work pretty well.

One issue is that it does not generate any uv's by default, so we will need to do something to figure that out. Since u

[2022-01-22 07:13] #5504 closed

[2022-01-22 13:30] reejuBhattacharya opened #5576 "Incorrect link to reference in FES in p5.[Class] errors"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-01-22 15:08] reejuBhattacharya commented on #5576
I have been digging through the FES files and I think I have come close to the cause of the bug.
In this case, a `TypeError` is thrown of type _Undefined_, and the `_friendlyError` function is called and `translator(...)` is passed as argument.
`_friendlyError` takes takes 3 arguments,

- `message` for the message to be printed
- `func` for the name of the function causing error (This is important

[2022-01-22 17:24] #5574 closed

[2022-01-23 11:13] taganz opened #5579 "Incorrect spanish help translation for height"
### Topic

This page has errors: https://p5js.org/es/reference/#/p5/height

Correct values in bold:

Variable de sistema que almacena la altura del lienzo dibujado. Este valor es definido por el **segundo** parámetro de la función createCanvas(). Por ejemplo, la llamada a la función (320, 240) define la variable **height** al valor 240. El valor por defecto de ancho es de 100 si es que createCanva

[2022-01-25 03:07] billyjacobson commented on #5358
Hey I noticed this issue too, but only when working with the fullscreen preview.

This works https://editor.p5js.org/theannalytical/sketches/O5YXBtzC3
But this doesn't (same code) https://editor.p5js.org/theannalytical/full/O5YXBtzC3

Just using simple touch code here too

[code]

[2022-01-25 16:41] almchung commented on #5576
Hi, I may not be the right person to answer this question, but I'll share my thoughts on this just in case it helps!

In the case where `func` is undefined, the condition `func == null` will actually be `true` and you will have a message without the link to a reference. Now, if the condition was `func === null` this code would not work.

This code makes sense, in a scenario where the FES didn't de

[2022-01-26 09:49] c0d3rman commented on #2765
I teach students using p5js, and I cannot tell you how many times one of them starts typing a print statement in their draw function with auto-refresh on and then immediately gets trapped in an infinite loop of print dialogs opening. Which makes them lose all of their unsaved code (which is usually most of it, students don't save).
The print dialog is just not this important. At the very least, th

[2022-01-27 03:26] Asilver-jpg commented on #5435
Been looking for the last 5 hours on a solution for this that actually works. Tried in instance mode and with various p5-react wrappers to no avail and been on tons of github threads. I'm at the point where I am just using an external library to handle sound/sound analysis and passing the data in props with a wrapper. Would love to see this fixed since p5js' implementation is simple to use and it'

[2022-01-29 14:53] aquaresima commented on #5238
Hi, I have the same issue.

I tried the code by @dhowe  (https://editor.p5js.org/rednoyz/sketches/EjxQSJyVj)

I verify that the font is actually in the directory by clicking on the link and downloading it.

Can you help me, I really cannot understand why this happens!

I get this error:
[code]

[2022-01-29 17:29] limzykenneth commented on #5238
@aquaresima Loading external files including fonts will require running a server. Loading files will not work locally over the `file://` protocol usually seen when running the html file directly instead of through a server. You can read more [here](https://github.com/processing/p5.js/wiki/Local-server).

[2022-01-29 17:46] aquaresima commented on #5238
Thanks, I was reading indeed!
Let's say that I can put this on the web-server that I use to share my content online. When I refer to point to that [link](https://www.inventati.org/debris/ws4ej/fonts/)

I get this other error:

'Access-Control-Allow-Origin' header

WTH?

[2022-01-29 18:01] limzykenneth commented on #5238
If your sketch and the web server hosting the resource is not on the same domain, the server hosting the resource will need to include the 'Access-Control-Allow-Origin' header with the right value in order for any other site to use the resource. It is generally called CORS headers. More [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

If you are trying to develop a sketch locally,

[2022-01-30 15:30] fanbyprinciple opened #5583 "Way to pass background object to functions other than `setup` and `draw`"
### Increasing Access

The method currently stops me from resetting the background color from button press

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [X] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ]

[2022-01-30 16:12] limzykenneth commented on #5583
Hi @fanbyprinciple, I'm not sure what you mean here. Can you perhaps provide some sample use case code so I can get a better idea of what you are trying to do? Thanks.

[2022-01-30 16:51] outofambit commented on #5526
new release coming in the next week! see #5568 for more :D

[2022-01-30 16:51] #5526 closed

[2022-01-30 21:55] Zearin opened #5584 "Add missing accessibility description to p5.Color._parseInputs()"
### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-01-31 21:55] limzykenneth commented on #5579
Hi, would you like to contribute a fix to this? If so you can file a PR for this when ready. Thanks!

[2022-01-31 22:02] limzykenneth commented on #5524
@stampyzfanz I would prefer not to tie the behaviour of `mouseIsPressed` to the animation loop, one is because it is more idiomatic for it to be controlled by the mouse events which usually is not in sync with the animation loop; two is because if the user does not run the animation loop (with `noLoop()`) but is using `mouseIsPressed` in some other places outside of `draw()`, the value will not be

[2022-02-01 09:05] taganz commented on #5579
Ok, let me see...

[2022-02-01 11:23] sumitbathla commented on #5346
@The-Warlord @limzykenneth Hey! I've looked at the code and have found the probable root cause. Is it fine if I work on this?

[2022-02-01 13:45] sumitbathla commented on #5346
At first glance, the problem seems to be with `mapToReference` method in `src/core/friendly_errors/fes_core.js` (also mentioned in  #5576).

A simple fix would be replacing `methodParts.length === 1 ? func : methodParts.slice(2).join('/');` with `methodParts.length === 1 ? func : methodParts.slice(2).join('.');` on line 141 (Image below).

![image](https://user-images.githubusercontent.com/8720119

[2022-02-01 13:54] sumitbathla commented on #5346
Since, `color` is also a method, a better display of the above comment could be using `graphics`.

Using `.concat(referenceSection, '/')`

![image](https://user-images.githubusercontent.com/87201197/151980662-0b805173-7027-4d89-8c47-a99bb1649384.png)

Using `.concat(referenceSection, '.')`

![image](https://user-images.githubusercontent.com/87201197/151980934-c7157e06-2cd7-43bc-8cdf-c4bc5ba0743d.p

[2022-02-01 14:56] stalgiag commented on #5565
Glad it helped. I am going to close for organizational purposes with the hope that it is clear that resetMatrix resets the matrix to the origin, not to the default location.

[2022-02-01 14:56] #5565 closed

[2022-02-01 17:52] aferrero opened #5585 "loadImage function is not returning value"
### Topic

Hi there!
Is the loadImage() function working? I am trying to load a image  but when draw it has not value and returns an error.

I have tried every way possible and always same result.

[2022-02-01 23:29] limzykenneth commented on #5585
You may need to run a local server for loading images if you are not already doing this: https://github.com/processing/p5.js/wiki/Local-server. Alternatively you can use the [web editor](https://editor.p5js.org) directly from your browser.

If you need further help with your own code, please direct your questions to the [forum](https://discourse.processing.org) unless there are more specific cases

[2022-02-01 23:29] #5585 closed

[2022-02-01 23:33] limzykenneth commented on #5346
@sumitbathla The p5.js-release repo is not meant to be modified directly as it serves as a place for us to stage new releases automatically that will be read by other automated tools. You should instead make the changes in the p5.js repo here and build using `npm run build` then a version with your changes will be present in the `lib/` folder which you can use to test if your changes worked.

[2022-02-02 06:30] redlif345 commented on #2309
Hii , this is Reshu really want to contribute to the p5.js-website repo .I have done with the setup approx but i am facing an error in the setup plz..help `me` with this `error` mentioning below
`Running "i18n" task
Error: spawn git ENOENT
    at Process.ChildProcess._handle.onexit (node:internal/child_process:282:19)
    at onErrorNT (node:internal/child_process:477:16)
    at processTicksAndReje

[2022-02-02 17:03] prakhar3062 commented on #2865
I would love to contribute but need little more explanation where you wanted update

[2022-02-02 21:14] koljam opened #5587 "textAlign() doesn't center multiline text properly"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-02-02 21:27] jbakse opened #5588 "mouseMoved() called before preloading completes"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [X] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-02-03 01:56] Qianqianye commented on #5568
Thanks everyone!
[1.4.1 Release](https://github.com/processing/p5.js/releases/tag/v1.4.1) is out! 🎉💗🌸

[2022-02-03 01:56] #5568 closed

[2022-02-03 04:53] eharkins100 opened #5589 "Reference Page is not searching correctly"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-02-03 05:25] stevenwmarks commented on #5589
Similar problem. If I click on a topic, say arc under 2D Primitives, nothing happens. I remain on the Reference page.

[2022-02-03 07:21] sumitbathla commented on #5346
Thank you for pointing me in the right direction. I'll just create a PR for the above.

[2022-02-03 08:54] seraph822 commented on #5589
i don't code but i was watching my sister on a video chat and she ran into the same issues in the Reference page so I went to poke around briefly myself and ran into the same:
clicking links to any topic page doesn't load it up, you just stay on the main page even though the url clearly changes in the address bar; if you reload the page like that it will load up the proper topic page but the page

[2022-02-03 17:11] bfallc commented on #5589
Same issue. Opening in a new tab is only way to navigate to linked page entry. Also, all the typical live code demos on reference pages seem broken/nonfunctional. Accessing the most recent capture (Jan 22nd, 2022) of the reference page on archive.org produces correct page functionality.

Tested in Firefox 96.0.3 and Chrome 97.0.4692.99

[2022-02-03 18:28] fanbyprinciple commented on #5583
Hello @limzykenneth, I just wanted clarification over whether I can use objects like `background` in functions other than `draw()` and `setup()`.  I was trying to use them outside here https://editor.p5js.org/fanbyprinciple/sketches/s5c0thgLn but was not able to change background color. (It might be that I am making a very obvious mistake) . Thank you for your time.

[2022-02-03 18:33] limzykenneth commented on #5583
It is possible to use functions like `background()` in places other than `draw()` or `setup()` however functions like `background()` must be run after p5 has started. The easiest way to know that p5 has started is to check if `setup()` has already run, which can be achieved by using a boolean variable that changes value in setup to keep track of this status.

If you need help with your own code, p

[2022-02-03 18:33] #5583 closed

[2022-02-03 19:26] calebfoss commented on #5589
For website issues, the best place to raise those is https://github.com/processing/p5.js-website/issues

This looks like the same issue as https://github.com/processing/p5.js-website/issues/1131 and https://github.com/processing/p5.js-website/issues/1128, which appear to be caused by the data in the minified versions of the core and sound libraries being removed. I've added this PR to address the

[2022-02-03 20:45] limzykenneth commented on #5589
Should be fixed now.

[2022-02-03 20:45] #5589 closed

[2022-02-04 00:23] eharkins100 commented on #5589
It's working fine for me now

Thank you Kenneth, once again!!

Your rapid response is greatly appreciated.

On Thu, Feb 3, 2022 at 5:45 PM Kenneth Lim ***@***.***> wrote:

--
*Ed Harkins*
Middle School Technology
***@***.*** | +56 9 8198 9359
*he/him/his*

--

                                                                           
         <https://www.facebook.com/NidoDeAguilasChile/>    
<ht

[2022-02-04 00:36] stevenwmarks commented on #5589
thank you!

[2022-02-04 14:24] fedeb95 commented on #5155
I was trying to do this too and it didn't work... would be cool to set directly pixels using WEBGL context

[2022-02-04 17:31] aferriss commented on #5155
I think you may be better off just drawing your webGL buffer to a graphics object that is not in webGL mode, doing your pixel manipulation there, and then drawing that back to the webGL canvas.
Here's a small example. It's sort of hacky, but maybe works better than what I suggested above.

https://editor.p5js.org/aferriss/sketches/BEGhjqE6-

[2022-02-04 17:40] taganz commented on #5579
Done. Let me know if everything is ok as I'm not a github expert....

[2022-02-06 10:35] aferrero commented on #4749
I am having the same error, it seems like loadImage() is not returning value

[2022-02-06 11:36] dhowe commented on #5587
This should be fixed in the recent 1.4.1 release. Please reopen if not:

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/737638/152678970-b880074a-3ff4-4bb2-965d-b746b3e3ca07.png">

[2022-02-06 11:37] #5587 closed

[2022-02-08 14:37] mdsimar1901 commented on #5527
Hey I would like to do this issue

[2022-02-09 13:19] KrishGarg commented on #4749
@aferrero My issue was of a typo in a variable name, you can check for the same, or open another issue.

[2022-02-09 15:26] ChaitanyaChouahn commented on #1573
bro the file p5play.js is already there and it is showing a error
@aniban0104

[2022-02-10 08:07] Manan17 commented on #2865
I would love to contribute but need little more explanation where you wanted update

[2022-02-13 18:34] hapiel opened #5601 "curvePoint does not adjust to curveTightness"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-02-16 06:38] zturtledog opened #5602 "rect curvature causing renderer error"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-02-16 06:41] zturtledog commented on #5602
the same is happening with a line that uses the same width value

[2022-02-16 09:15] sflanker opened #5603 "The selected function for radio buttons created with createRadio does not work when making multiple changes to which option is selected."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-02-16 09:16] sflanker commented on #5603
Credit for finding the issue: https://discourse.processing.org/t/calling-selected-value-multiple-times-on-a-radio-button-does-not-change-the-selected-option/35194/3

[2022-02-16 09:39] reejuBhattacharya commented on #5602
`tl`, `tr`, `br` and `bl` (for the corner parameters) take **Number** values as input, but in the given example, **String** values have been provided. On giving the same input as **Number**, it is rendered correctly.

![image](https://user-images.githubusercontent.com/40564575/154236923-6e6c96cb-a336-4dad-ae0f-219bdd089688.png)

Does this solve your problem?

[2022-02-17 03:24] zturtledog commented on #5602
yes, thank you

[2022-02-17 03:24] #5602 closed

[2022-02-18 13:36] limzykenneth commented on #5588
As noted this is working as documented, the mouse handlers are bound when the p5 instance is created, while we can change it so that they are created after setup run, it will be a breaking change and also be limiting in some ways. In your case you can have an additional boolean variable that check if the code has got to `setup()` already or not by setting its initial value as `false` then changing

[2022-02-18 13:36] #5588 closed

[2022-02-18 13:45] #5191 closed

[2022-02-18 14:52] jbakse commented on #5588
Both limzykenneth and I mentioned a workaround for this. Here it is in code, in case it might help someone.

[code]

[2022-02-18 14:52] limzykenneth commented on #5497
Fixing this would probably count as a breaking change so I'm not 100% sure if we want to fix this as this stage. Alternatively on the vector and angle related functions documentation we can add a note about this and suggestion to use `radians()` to convert the values where needed.

[2022-02-19 03:49] tillmanjex commented on #3169
Would also really love this 🙏

[2022-02-19 22:05] Yash621 commented on #5511
@aferriss can I work on this issue ?

[2022-02-19 22:05] Yash621 commented on #5512
@aferriss can I work on this issue ?

[2022-02-19 22:06] Yash621 commented on #5518
@dethe  I would like to take this up !

[2022-02-19 22:08] Yash621 commented on #5601
@hapiel  can I work on this issue ?

[2022-02-19 22:36] hapiel commented on #5601
Of course! I had a quick look if I could fix it myself but I think it's
beyond what I'm capable of. So yes, please :)

On Sat, Feb 19, 2022, 23:08 Yash Goel ***@***.***> wrote:

[2022-02-21 06:17] hellonearthis opened #5607 "Fonts, Variable weight"
### Increasing Access

Unsure

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specif

[2022-02-21 16:15] skoobiii opened #5608 "Bti.vx"
https://translations.telegram.org/en/android_x/

[2022-02-21 16:22] skoobiii commented on #5608
# > https~~^
z.~~://translations.telegram.org/en/android_x/

I'm using Gboard to type in English (Canada) (QWE8-087349-322
- [ ] 36.png](https://user,-images.gisercontent.com/79233997/15499Use the edit icon to pin, add or delete clips.412386-5e350bf8-3a20-441c-ac77-77bda525347f.png)___@l- - A[]()rt[]()`a`a to - - - - - - - - - - - - ___~~_~~~~_

[2022-02-21 17:06] #5608 closed

[2022-02-21 22:16] nakednous opened #5609 "how to register a p5.RendererGL method in pre?"
### Topic

no totally sure if here is the right place to ask this (please let me know otherwise), but I'm implementing a utility lib having some `p5.RendererGL` functions of my own, some of them that needed to be called in `pre`:

[code]
And then registering the method in `pre` as suggested [here](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md#use-registermeth

[2022-02-21 23:48] aferriss commented on #5512
@Yash621 Of course, go right ahead!

[2022-02-21 23:48] aferriss commented on #5511
@Yash621 That would be great, thank you!

[2022-02-21 23:53] aferriss commented on #5609
I've never worked with the registerMethod functions before, but it sounds like maybe the uMVMatrix is out of scope. Can you log p5.RendererGL in pre and inspect what properties are attached to it?

[2022-02-22 12:25] yangren72 opened #5610 "Old version of p5 runs faster?"
### Topic

I have been running a image/pixel based code on p5 web editor and I found that the old version 0.7.2  of p5.js runs faster than the current 1.4.0?

[here](https://editor.p5js.org/yangren72/sketches/Npt0tom9x) is a link to my code.

In the code I show the frame rate on the top left corner. When I am running it with version 0.7.2, it runs more than 2 times higher frame rate than when I am

[2022-02-22 15:29] montoyamoraga commented on #5561
some conflicts, closing and trying again, one sec

[2022-02-22 15:30] montoyamoraga commented on #5561
@all-contributors please add @unjust for bug

[2022-02-22 15:31] montoyamoraga commented on #5561
closed by #5611, thanks @unjust! :)

[2022-02-22 15:31] #5561 closed

[2022-02-23 06:08] yangren72 commented on #5610
@limzykenneth Thank you for your reply! It was very helpful. I am looking into it and test things out!

[2022-02-24 10:19] timmb opened #5615 "p5.min.js does not include the licenses for bundled third party libraries (or itself)"
### Topic

The released [p5.min.js](https://github.com/processing/p5.js/releases/download/v1.4.1/p5.min.js) file contains no license for p5js nor any licenses for the third party dependencies. However, searching through [p5.js](https://github.com/processing/p5.js/releases/download/v1.4.1/p5.js) there are a few licenses left in there. (e.g. search for the text "MIT License"

I don't have much knowl

[2022-02-24 11:33] oscarsanzsanchez-arup opened #5616 "blend mode REMOVE is not in constants file"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-02-25 16:13] #5603 closed

[2022-02-25 16:14] limzykenneth commented on #5610
@yangren72 If you need more help with your own code, do direct your questions to the [forum](https://discourse.processing.org). I'm closing this for now. Thanks.

[2022-02-25 16:14] #5610 closed

[2022-02-26 16:07] willmartian opened #5617 "Formal stance on p5.js + NFTs/blockchain/cryptocurrency"
### Topic

There has been an influx of people interested in using p5 for making NFTs. I think NFTs and similar technologies go against core values of the project: increasing access, freedom of information, and open digital expression.

- The environmental impact of blockchain technologies disproportionately harms the global south.
- The speculative nature of NFTs and cryptocurrencies supports inco

[2022-02-27 06:29] irajgreenberg commented on #5617
Hi willmartian. Thanks for your comment and starting this topic. Could there be a statement short of straight condemnation? For example, the clean NFT movement and open generative marketplaces are offering some alt opportunities. I know a number of sites that are now working to help fundraise for  Ukraine. Yes, there is so much wrong and predatory, but perhaps also some rays of hope poking through

[2022-02-28 18:30] camelCaseSensitive commented on #5617
We've already decided to not allow any NFT promotion on /r/p5js since the spam posts/ self promo was getting out of control.

[2022-03-01 05:21] dhowe commented on #5617
Perhaps useful as well to

[2022-03-01 05:28] willmartian commented on #5617
Hi @dhowe, could you offer some kind of reason as to why this issue was closed?

[2022-03-01 05:55] dhowe commented on #5617
sorry, my mistake

[2022-03-01 06:21] willmartian commented on #5449
It looks like an error is thrown when instantiating a new color, perhaps we could use the same message? https://github.com/processing/p5.js/blob/e46fa4d5ad9ba4cad771ac7b7bc01d1f099f3fa3/src/color/p5.Color.js#L41

Additionally, should we just convert the `mode` argument to lowercase before comparing? I feel like this might be an easy mistake to make.

[2022-03-01 11:51] skoobiii commented on #5608
#5608

On Mon, Feb 21, 2022, 2:07 PM Stalgia Grigg ***@***.***>
wrote:

[2022-03-01 13:24] gregsadetsky commented on #5449
I think that this error message is great, and your suggestion to convert to lowercase is really good as well! That would definitely have caught/saved me originally when passing "HSL".

[2022-03-03 03:36] tegacodes opened #5619 "Extra files in p5 download?"
### Topic

hey folks, I noticed there are couple of extra files in the zip p5 download. One called p5-test.js and one called p5-pre-min.js. Wondering if these have been left in by accident?

[2022-03-03 17:12] montoyamoraga commented on #5374
@all-contributors please add @KouichiMatsuda for bug

[2022-03-03 17:33] montoyamoraga commented on #5530
@all-contributors please add @Divyansh013 for translation in https://github.com/processing/p5.js-website/pull/1122

[2022-03-03 17:38] montoyamoraga commented on #5530
@all-contributors please add @cas-c4ta for bug in https://github.com/processing/p5.js-website/issues/1128

[2022-03-03 17:39] montoyamoraga commented on #5530
@all-contributors please add @danieljamesross for bug in https://github.com/processing/p5.js-website/issues/1129

[2022-03-03 19:28] soegaard commented on #5530
@montoyamoraga  Consider creating a new pull request for future additions.
Reusing this PR means earlier contributors keep getting mails.

[2022-03-05 08:35] Willyham commented on #5497
Please add this to the docs 🙏 . I just got tripped up by this for a few hours until I read the source and realised it only took radians as input.

[2022-03-05 21:04] darthgrayter commented on #37
I agree, I feel like this should be a default feature.

[2022-03-08 01:09] Omay238 opened #5628 "Don't blur resized images"
### Increasing Access

It would make it easier to create programs with pixel art.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typogr

[2022-03-09 01:58] willmartian opened #5629 "Decoupling the Friendly Error System to a standalone package"
### Increasing Access

I believe the Friendly Error System increases access by helping novice users recover from coding errors. Decoupling the Friendly Error System to a standalone package might further increase access in other projects.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [

[2022-03-09 03:26] HSchmale16 opened #5630 "Documentation for DOM Library"
### Topic

I'm currently trying to embed p5.js into my jekyll blog to show case some things and maybe build some games with it. However, the `createSlider` function puts the slider outside of the `<main>` tag where the canvas is created. Is there a way to modify or patch the dom functions so that embedding is easier?

I've tried using `slider.position(10,10)` but that's the location within the ent

[2022-03-09 19:52] Ryuyxx commented on #5630
Since you can't just draw HTML into a canvas, it is necessary to use absolute location. Here is one way to make it easier.
[code]

<br />

If you want to move the slider into `<main>`,

[code]

[2022-03-09 22:09] sflanker opened #5631 "beginShape(TESS) does not respect UV coordinates when tessellating."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-03-09 22:13] limzykenneth commented on #5630
@HSchmale16 You can nest the slider inside any container in the DOM using the [`.parent()` method](https://p5js.org/reference/#/p5.Element/parent).

if you need further help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2022-03-09 22:13] #5630 closed

[2022-03-09 22:22] limzykenneth commented on #5497
I'm having a reverse on opinion here and think all angle related methods under p5.Vector probably should be respecting `angleMode()` because `heading()` and `angleBetween()` are already doing so but the rest isn't, creating a pretty inconsistent experience that will more likely to be viewed as a bug.

[2022-03-09 22:23] limzykenneth commented on #5619
Yes, those are extra intermediate files generated during the build and probably should have been cleaned up at the end of the build.

[2022-03-09 22:27] limzykenneth commented on #5616
@oscarsanzsanchez-arup Would you like to create a PR and add the missing entry to the constants file?

[2022-03-09 22:30] limzykenneth commented on #5528
Addressed by #5560

[2022-03-09 22:30] #5528 closed

[2022-03-10 01:14] VelizarHristov commented on #2832
I agree - it would be great if there was a get() method which for its arguments takes x, y, and a pixels array.
(And possibly the pixel density, if it takes a non-trivial amount of compute to calculate every time)

[2022-03-11 07:23] reejuBhattacharya opened #5632 "FES not triggering in certain cases."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-03-11 13:58] limzykenneth commented on #5629
I think this is a great idea and should be something we work towards. At the same time I can see there probably will need to be quite a bit of effort to get something working well enough for general use, which is to say I think it is something good for a GSoC or Processing Fellowship project.

[2022-03-11 18:36] Kinrany opened #5633 "Adopt vue-p5?"
Hi! A few years ago I created a p5.js wrapper for Vue frontend framework: https://github.com/Kinrany/vue-p5

Unfortunately at this point I barely ever use p5, Vue or even JS, which frankly makes me a poor maintainer of the library. (Not that there's a lot to maintain: I answer about a couple of questions a year.)

So I wonder if making the library a part of the Processing org would make sense.

[2022-03-11 21:48] entozoon commented on #193
Yes, a more up to date example is:
https://p5js.org/reference/#/p5/resizeCanvas

[2022-03-11 22:02] proxycase commented on #5524
I wonder about accessibility concerns, but I'm wondering if checking for mouse pressed condition on a canvas or window onBlur event would be necessary to catch this edge case.

[2022-03-11 22:10] proxycase commented on #5427
Are there linter setups available for p5js? For example, eslint in one of my projects will warn me immediately if I don't have an alt tag on my img elements

[2022-03-12 04:46] Ryuyxx commented on #5633
Since Github issues are not often checked, I suggest you post this on [here.](https://discourse.processing.org/)

[2022-03-12 22:54] mkmori opened #5634 "Clear() background with WEBGL p5.Graphics stopped working v1.4.1"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-03-13 05:00] mkmori commented on #5552
I became aware of this issue and how it was resolved in researching my new/old issue: [https://github.com/processing/p5.js/issues/5634](https://github.com/processing/p5.js/issues/5634)

For what it's worth, (besides being late to the conversation!) I feel the fix implemented in 1.4.1 benefits a particular use of WEBGL as the primary drawing context, at the expense of other expected or discoverable

[2022-03-15 01:42] rinkydevi commented on #5628
hey @Omay238  i would like to work on this issue

[2022-03-15 04:10] rinkydevi commented on #5619
hey @limzykenneth i would love to work on this

[2022-03-15 17:54] bejucoo commented on #4403
I had the same issue when I used `drawingContext.shadowBlur` and `blendMode(LIGHTEST)` in the same function. I tried separating the code in two different functions and now it works properly in Firefox (Windows 10).

[2022-03-16 06:38] stampyzfanz opened #5636 "Should issues be automatically labelled for the appropriate area of p5.js"
### Topic
I am proposing a GitHub Action to be employed to automatically label new issues based on which checkboxes are checked in the "relevant part of p5.js" section. This section is included in all issue forms except for the discussion form.

![image](https://user-images.githubusercontent.com/34364128/158528167-4a4eda3e-7521-440f-8bf7-f693240a3761.png)
![image](https://user-images.githubusercon

[2022-03-16 07:30] stampyzfanz opened #5637 "Welcome bot necessarily asks new users to follow the issue template on an issue form"
### Topic

The Welcome bot says "Welcome! 👋 Thanks for opening your first issue here! And to ensure the community is able to respond to your issue, be sure to follow the issue template if you haven't already" to new users creating an issue.

I don't think this is necessary because p5.js is now using issue forms, which force the issue to include the relevant sections. If it is still necessary for u

[2022-03-18 15:50] limzykenneth commented on #5637
Didn't think of updating this message when we were moving to the new issue template. Yes, this message should probably be updated accordingly.

[2022-03-18 15:51] #5363 closed

[2022-03-18 15:54] limzykenneth commented on #5619
@rinkydevi Sure, I'll assign the issue to you.

[2022-03-19 20:42] mkmori commented on #5634
Sorry if I panicked in re-reporting this issue! I understand the cause now (design decision in 1.4.1), so I'm going to close it....

I can call setAttributes('alpha', true) on my p5.Graphics objects as advertised, for masking and compositing purposes etc. As long as I can clear the background pixels, I don't have strong expectations when rendering non-opaque geometry in p5js anyway...pending some

[2022-03-19 20:42] #5634 closed

[2022-03-19 21:59] juliendorra opened #5641 "Bridges between modern JavaScript image manipulation and p5.Image (createImageFromBitmap)"
### Increasing Access

unsure

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specif

[2022-03-19 22:26] mkmori commented on #5634
I forgot to add one other thing: I will try to read the source and understand myself, but just toggling 'alpha' using setAttributes(), I was wondering if it might be feasible to automatically turn alpha on for a WEBGL buffer when clear() is called in that context, and leave it on until/if the background color alpha is set to 100% (255)...?

My idea being, if someone (like me!) is clearing the buff

[2022-03-20 00:38] stampyzfanz commented on #5636
I created a functional prototype that implements this idea in [one of my repositories](https://github.com/stampyzfanz/TestingGithubActions/issues). It uses GitHub's [RegEx Issue Labeler](https://github.com/marketplace/actions/regex-issue-labeler) which is probably overkill but it works. It might not be elegant using both the bot and the GitHub Action, but they should be able to co-exist.

[2022-03-21 19:37] captainmpc commented on #3610
Ok maybe this is off topic considering the first function of `tint()` but as we need to call `tint`to make an image transparent , this idea seems to be good. Or maybe add ALPHA + factor parameter to blendMode() do the trick :)

[2022-03-21 21:40] torinmb commented on #2536
Just wanted to revisit this thread since WebGL 2 has support on all major browsers now.
The only exception is IE, but there's support for Edge.
https://caniuse.com/webgl2

[Three.js opted to change](https://threejs.org/docs/#api/en/renderers/WebGL1Renderer) their default WebGL renderer to WebGL2 and provide a helper function for WebGL1 if needed for backward compatibility.

[2022-03-21 23:48] Qianqianye commented on #5619
Thanks @tegacodes for pointing it out. I just fixed the zip file in the p5 download for the latest release, so the extra files are no longer in the zip file.

Thanks @limzykenneth for following up with this issue. There have been extra files in the zip file during the last few releases, which we didn’t catch.

@rinkydevi  I think the work left to do here is to change the release process in the fut

[2022-03-22 00:02] Qianqianye commented on #5632
Thanks @[reejuBhattacharya](https://github.com/reejuBhattacharya) for raising this issue.
Hi @almchung @Aloneduckling, do you have any thoughts on this? Thanks!

[2022-03-22 00:31] almchung commented on #5632
Hi @reejuBhattacharya, thank you for reporting this issue!
Would you provide us version of p5.js you are using for running these tests?

I confirm that I get no FES messages using v1.4.0 (`https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js`) but get corresponding FES messages switching to v1.4.1 (`https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js`).

[2022-03-22 02:56] Aloneduckling commented on #5632
@reejuBhattacharya thanks for opening the issue.
The FES messages appear when we switch to V1.4.1 as mentioned by @almchung.
Currently, the p5.js web editor is using V1.4.0 which is the reason why there are no FES messages.

You can update the src in the script tag in the `index.html` file in the web editor and it will work fine.
![image](https://user-images.githubusercontent.com/54030684/15939788

[2022-03-22 05:38] reejuBhattacharya commented on #5632
Yep, that does clear my doubts. Thanks for the help, everyone!

As a side note, is there any particular reason the p5.js web editor is still using v1.4.0 ?

[2022-03-22 05:42] aferriss commented on #2536
I'd be open to the change but i think we need to clearly define what the benefits to p5 would be both in terms of features and accessibility.

From glancing through the changes in webgl2, outside of some performance improvements, I'm not sure that I see big benefits for us, especially since our renderer is fairly limited in what it can do. I'd be happy to be wrong though!

Is there something speci

[2022-03-22 05:45] Qianqianye commented on #5632
Thanks @almchung and @Aloneduckling!
@catarak, can you share some thoughts on the editor related question @reejuBhattacharya asked? Thanks!

[2022-03-22 05:50] Qianqianye commented on #5615
Thanks @timmb for pointing this out.

@outofambit, can you share some thoughts on this? Thanks.

[2022-03-22 06:02] Qianqianye commented on #5456
Thanks @limzykenneth for answering this. Would it be okay to close this issue  for now @clankill3r? Thank you!

[2022-03-22 09:16] clankill3r commented on #5456
I don't know, I still think it makes sense to include them in the repository or to add a note about `npm install`.

[2022-03-23 12:46] alec-kr commented on #5628
Hey @Omay238. Can I work on this issue?

[2022-03-23 13:09] alec-kr commented on #5607
Hey @hellonearthis, I would be happy to work on this issue.

Are you suggesting that we add a "fontWeight" attribute to the ```text()``` function? Example:

[code]

Or should a ```fontWeight()``` function be added instead? Example:
[code]

[2022-03-23 14:26] limzykenneth commented on #5456
The main way to get a copy of p5.js is meant to be through one of the release channel (website download, CDN, GitHub Release) and it is not common to include build artifacts which the p5.js file is in the repo itself.

One reason is that the current HEAD version of p5.js is not guaranteed to be stable or working so it isn't recommended that it be used.

Another reason is that including the build a

[2022-03-23 15:19] rennis250 commented on #2536
Is it possible though that WebGL 1 will be deprecated and then no longer supported in browsers at some point, or is the idea similar to HTML/CSS, where even the oldest versions of WebGL need to be supported in all browsers for as long as possible?

[2022-03-23 15:51] aferriss commented on #2536
I suppose anything is possible, but at this point I haven't heard anything about webGL1 being deprecated. I think it would be unlikely that that would happen, but I'm not privy to the plans of whoever is defining the webGL standards.

[2022-03-23 15:57] stalgiag commented on #2536
I would be surprised if webgl1 was deprecated but who knows.

Perhaps an argument could be made that webgl2 is the most common basis for current and future shader examples so by updating we make these examples/tutorials/educational resources relevant to people working with p5?

[2022-03-23 16:06] limzykenneth commented on #2536
It is hard to speculate about what the standards will do, eg. I've also heard WebGPU will supercede WebGL entirely but obviously it isn't really ready for prime time yet.

For me the consideration is the current recommendation of the standards, if the standards says nothing about the deprecation of WebGL 1, I don't think it is something we need to take into consideration. Even if at some point it

[2022-03-23 16:58] JuanIrache commented on #5155
Any updates on this? Thank you.

[2022-03-24 11:27] rennis250 commented on #2536
The basic switch is indeed only 2 steps and quite easy:

https://webgl2fundamentals.org/webgl/lessons/webgl1-to-webgl2.html

Taking advantage of the advanced features is another ordeal.

[2022-03-24 16:17] dhowe commented on #5607
I would vote against
`text(str, x, y, fontWeight, [x2], [y2])`

[2022-03-25 03:55] Qianqianye commented on #5617
Thanks for raising this issue, @willmartian. Thanks @irajgreenberg and @limzykenneth for sharing your thoughts.

p5.js is created with a focus on making coding accessible and inclusive for artists, designers, educators, beginners, and anyone else! In the past, p5.js has had few official statements on specific issues. It's been more communicating through actions and discussions. I think some of thi

[2022-03-26 01:03] Qianqianye commented on #4801
Hi @limzykenneth @outofambit @montoyamoraga. Shall we include the breakdown of different types of PRs and the review requirements @limzykenneth proposed to the [steward](https://github.com/processing/p5.js#stewards) description or somewhere in the Contributor Docs (https://github.com/processing/p5.js/tree/main/contributor_docs)? It'd be nice to have this info available outside of this issue.

[2022-03-26 04:13] Qianqianye commented on #5556
Thanks @aferriss. Adding an optional settings argument to the p5.Texture constructor sounds interesting.
 @stalgiag and @kjhollen, can you share some thoughts on this issue? Thanks!

[2022-03-26 04:16] #5451 closed

[2022-03-27 13:56] limzykenneth commented on #5607
I think with limited support (only built-in fonts) I'm less inclined to include this feature as is.

One is that it create special cases that can be easily missed and potentially create confusion from users about why their custom font doesn't work with font weight. Two is that even in the case that a developer is using built-in font, there is no guarantee that their users will have the same font a

[2022-03-27 14:01] reejuBhattacharya opened #5646 "httpGet does not show FES message"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-03-27 14:36] limzykenneth commented on #4801
We can consolidate what we have here with what's already written [here](https://github.com/processing/p5.js/tree/main/contributor_docs#github-issue-flow) and [here](https://github.com/processing/p5.js/blob/main/contributor_docs/organization.md).

[2022-03-28 23:03] stalgiag commented on #5556
This sounds like a great and simple addition!

[2022-03-28 23:04] stalgiag commented on #5556
closed by #5557

[2022-03-28 23:04] #5556 closed

[2022-03-29 00:40] montoyamoraga commented on #4801
hi everyone, sounds great, i'm happy to help consolidate those so that it's more available yeah :)

[2022-03-29 02:16] sflanker commented on #4482
This is related to https://github.com/processing/p5.js/issues/3736. Fragments the get drawn out of order (i.e. front most triangle drawn before occluded triangle), will take precedence over fragments behind them even when they have low alpha values. The best solution is to draw all triangles back to front which works so long as you don't have intersecting triangles. However when you don't have con

[2022-03-29 09:35] reejuBhattacharya opened #5649 "Some p5.js functions do not make a call to _validateParameters (FES)"
### Topic

I was not sure whether this was a bug or intentional behaviour, so I filed it under discussion...

I have noticed that a large number of functions do not make a call to `_validateParameters()`, while others do. This leads to different types of error messages being produced when incorrect parameters are passed to each of them. For example:

 `fill()` and `stroke()` both do **not** make a

[2022-03-29 15:55] Falling10fruit opened #5650 "Should add error message when Canvas.parent couldn't be found"
### Increasing Access

This will help beginners, especially if they're copying a project as a template.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Uni

[2022-03-29 23:09] nakednous commented on #5609
yeah it seems so. I found a way without registering the method in `pre`. Thanks.

[2022-03-29 23:09] #5609 closed

[2022-03-30 14:12] jesi-rgb commented on #5118
Hi there everyone!

I got here through the project list that Processing has published for GSoC 2022.

As far as I can see, the discussion states that this is indeed a wanted feature, but that it may not fulfil a complete GSoC project, though it is published as a potential project.

I am writing to ask what is the state of this discussion, since I see the last comment was exactly a year ago. I am a

[2022-03-30 18:00] stalgiag commented on #5118
Hi @jesi-rgb thanks for this question! GSoC is structured a little bit differently this year. Applicants choose between two different project scopes when applying: 175 hours (medium) and 350 hours (large). I can imagine a 175 hour or medium-sized project that proposes implementing p5.GifWriter, adding all of the utility functions necessary to work with it, writing tests, and writing examples. This

[2022-03-30 18:27] jesi-rgb commented on #5118
@stalgiag nice to hear!

I would be very glad to implement this feature, since I myself am a particular user that's struggled with this particular topic. Publishing the beautiful animation you've just created to the web should be just as easy as a download button.

May I ask who could be the potential mentor to contact and ask feedback to?

Thanks much! 🙏🏻

[2022-03-30 21:12] stalgiag commented on #5187
Closing due to inactivity and failure to reproduce.

[2022-03-30 21:12] #5187 closed

[2022-03-30 21:18] stalgiag commented on #5118
I am not sure who is mentoring this year but when you are ready you can make a post on the Summer of Code category on the Discourse (where these discussions take place) and tag me. I would be happy to give feedback on your proposal.

[2022-03-30 21:20] Qianqianye commented on #4801
Thanks @montoyamoraga. I just assigned the issue to you. Please go ahead and start consolidating the info where you see fit. Thank you!

[2022-03-30 23:11] limzykenneth commented on #5650
Hi @Falling10fruit, I don't quite understand what you are referring to here in this issue, can you perhaps expand on it a bit more? Some sample code would be great as well. Thanks.

[2022-04-01 12:19] limzykenneth commented on #5607
I would prefer such a feature be available for user loaded font so unless than can be implemented I would suggest shelving this for now.

[2022-04-01 12:25] limzykenneth commented on #5649
The `validateParameters` function is not able to handle all kinds of function signature that we use, so there will be some functions that just doesn't work with `validateParameters`. If you find some that could work but isn't using `validateParameters` you can list them here.

[2022-04-02 04:09] Tezumie commented on #5155
I was having this same issue, I use pixels to create a filter for my sketches. doesn't work in WebGL :(

[2022-04-02 16:50] nakednous commented on #2536
I'm currently implementing shadow mapping (without success) and I think the ability to  output custom variables in the fragment shader presented in WEBGL2 would make it much more easier.

[2022-04-03 09:48] Falling10fruit commented on #5650
That didn't happen to me

[2022-04-03 10:38] nathanielstern77 commented on #5526
Issue seems to still occur in Safari (works in Firefox and Chrome, but gives error in Safari). Any way to define totalHeight myself? TY!

[2022-04-03 10:53] jaivanti commented on #5153
Actually, when I am running that code....The code works completely fine ...even after 30 mins or so....I suppose it can be some OS or browser based issue only and perhaps not the editor problem

[2022-04-03 13:48] limzykenneth commented on #5650
Are you using p5.js (instead of p5.min.js) as FES is not included in the minified version.

[2022-04-03 14:18] #5153 closed

[2022-04-04 03:48] Falling10fruit commented on #5650
*Doesn't understand* Um, yes I'm using p5.js through the script tag in VSCode

[2022-04-04 15:55] AnujSsStw opened #5653 "Change of font family for paragraph section."
### Topic

##  Times font looks good on headlines and small short descriptions but for paragraphs, it becomes a bit can say not so good looking/plain font that we all want to change at the start of every web project.  Overall it just doesn't feel right.

it's all my opinion love hear more about it. And why do you guys think it's good?

[2022-04-04 16:28] deshudiosh opened #5654 "Issue with color blending when there is alpha involved."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [X] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [X] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-05 14:22] justlucdewit commented on #5650
@Falling10fruit what @limzykenneth meant was if you were using the minified version of p5.js, because FES is not included in the minified version

check if your version is the minified one by looking if the js file that you include to include p5js ends with .min.js or just with .js
if you still cant figure that out, then please send us the src="" attribute of the script tag that includes p5

[2022-04-05 14:44] #5653 closed

[2022-04-05 16:56] almchung commented on #5453
This project will be on hold until the 2022 GSoC+Fellowship calls are done and the development direction for the FES becomes clearer. Thank you!

[2022-04-05 20:33] AnmolBansalDEV commented on #5617
I sincerely disagree with your stance. Although I'm a beginner and new to this community, I think the usage of p5.js for creating NFTs is increasing the accessibility of p5.js to artists and people from different communities. For the first time, the NFTs have opened gates for artists to become financially independent without the need of any art gallery or a middleman. And this is driving young und

[2022-04-05 20:45] camelCaseSensitive commented on #5617
Is this true?  From what I've seen NFTs are valued mainly on hype rather than artistic quality.

[2022-04-05 20:50] AnmolBansalDEV commented on #5617
yes, it has. Take the example of Daniel, founder of Hashlips, he was a full-time software developer but couldn't pursue his passion for drawing and art.  Now, thanks to NFTs he has left his job and now is all in nfts.

https://youtu.be/R_xeTle2WdE

[2022-04-05 21:33] camelCaseSensitive commented on #5617
Every MLM has a success story but that doesn't mean it's a reliable way to make money.  It also seems that he created an entire NFT community through his tutorials and youtube channel etc. which is my point, if you just mint your art without a following no one is going to buy it just because they like how it looks.

[2022-04-06 06:42] Falling10fruit commented on #5650
Oh, I'm using p5.js, not p5.min.js

[2022-04-06 08:53] yadroRus opened #5658 "issue with trim function"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-04-06 12:11] limzykenneth commented on #5650
@Falling10fruit Can you share a simplified version of your project with us (HTML and JS)?

[2022-04-06 12:13] limzykenneth commented on #5658
@yadroRus I cannot replicate this, can you fill in the rest of the issue template, specifically the browser and OS versions? Also `.trim()` is not a p5.js function but rather native javascript string method.

[2022-04-06 14:29] Falling10fruit commented on #5650
`<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>p5.js example</title>
        <style>
            body {
                padding: 0;
                margin: 0;
            }
        </style>
        <script src="../p5.js"></script>

        <script src="sketch.js"></script>
    <

[2022-04-06 14:54] Falling10fruit commented on #5650
Do I have to make a respitory?

[2022-04-07 01:08] Falling10fruit commented on #5650
To simplify my mistake up there, all I did was add `var Canvas = createCanvas(0,0,);` & `Canvas.parent("Non-existent_Tag");` in the empty example.

[2022-04-07 03:30] montoyamoraga commented on #5637
@all-contributors please add @stampyzfanz for docs

[2022-04-07 15:24] tapioca24 commented on #5118
Hi everyone!

I am so excited to see this discussion!
I started using p5.js and realized there was no easy way to record my sketches. Here are my thoughts on this subject

As @GregStanton said, both ease of use and flexibility are important.

For ease of use, I think a GUI like the recording button is a great option. Adding code for recording to a sketch is difficult for a beginner. Also, it would

[2022-04-08 14:39] limzykenneth commented on #5658
Using the following code I'm still not able to replicate this problem

[code]

[2022-04-08 14:45] limzykenneth commented on #5650
Using the following sketch and p5.js 1.4.1 I'm still not able to replicate the issue

[code]

FES message in console:
[code]

Can you try replacing the p5.js src URL value to `https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js`?

[2022-04-08 16:55] LondonJammo commented on #1177
Any progress on this?
Also looking for 2D standard rendered text (flat to user/screen) but able to be positioned in 3D space in WEBGL

[2022-04-09 04:32] FelipeSuarezPlazas opened #5660 "rotate() and setHeading does exactly the same in the web examples :c"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [X] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-09 04:35] #5660 closed

[2022-04-09 09:38] Falling10fruit commented on #5650
![image](https://user-images.githubusercontent.com/85048907/162566307-7c242967-7511-4859-beb5-0ce48f3ef47b.png)

No difference

[2022-04-09 13:37] limzykenneth commented on #5650
Have you tried replacing the script tag URL as mentioned?

[2022-04-10 06:53] Falling10fruit commented on #5650
Yes I did that
![image](https://user-images.githubusercontent.com/85048907/162606273-d737384c-52dd-4dd1-a311-fdfa305f12a9.png)

[2022-04-10 23:30] limzykenneth commented on #5650
But the error in the debug console doesn't show that the error comes from the CDN version but from a local file instead.

[2022-04-11 01:01] Falling10fruit commented on #5650
So how do I do that?

[2022-04-14 04:40] aafiyahtech commented on #4630
Hi @zenozeng Cool, let me check

There could be huge scope if we could import an SVG as a shape and then manipulate it in p5js, as the native shape doesn't properly support the translate function. So moving the shape becomes difficult

[2022-04-14 19:06] limzykenneth commented on #5650
I'm not entirely sure how you are currently running the html file as I'm expecting console messages from the browser console but you are showing the debug console in VSCode (I don't use it much) so I can't advise much from the provided info. You may want to move your question to the [forum](https://discourse.processing.org) as it pertains more to your own code and I can't replicate the mentioned i

[2022-04-15 04:57] Falling10fruit commented on #5650
The debug console in VS Code is pretty much the same with the browser console. But instead it also gathers data from other tabs in the same window. Note that it creates a new window so it doesn't interfere with other tabs that I'm currently using.

[2022-04-16 23:54] hungerburg opened #5662 "Aliasing of strokes on canvas size not an even number"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-17 08:19] hungerburg commented on #5662
Created a self-contained simple version - https://myzel.net/js/p5-canvas-odd.html

Sometimes, it is due to strokeWeight, sometimes I have seen, though, odd numbered canvas size also produces the effect.

PS: Bug sounds a bit harsh. P5.js rocks :)

[2022-04-17 10:22] error-four-o-four opened #5663 "p5.Element.mousePressed doesn't pass the event argument to the called function"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-17 10:54] error-four-o-four commented on #5663
Hey there,

for comparison:
attaching the same event to `cnv.mouseReleased()` logs the event in the console.

The solution is to pass the event argument here:
[https://github.com/processing/p5.js/blob/0112c3aa1adf4404d696e68e116add053e03fd93/src/core/p5.Element.js#L231](https://github.com/processing/p5.js/blob/0112c3aa1adf4404d696e68e116add053e03fd93/src/core/p5.Element.js#L231)
[code]

[2022-04-18 01:25] jthomerson opened #5665 "Browsers assign pixels inconsistently"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-22 13:45] limzykenneth commented on #5665
As you have mentioned, this is probably down to individual browser's implementation. While Firefox and Safari are likely still using Cairo as a backing graphics engine, the detailed implementation of things such as anti-aliasing probably is different, and Chrome uses Skia as the graphics engine so we can expect different behaviour as well.

The main thing that caused your problem is that you are t

[2022-04-22 13:45] #5665 closed

[2022-04-22 13:52] limzykenneth commented on #5662
This is likely due to the quirks of subpixel drawing and related to #4269. Stroke is drawn from the center of a pixel which is why even if you are not using subpixels, the same problem still applies. One way to get around it is to offset drawings by half a pixel to make the stroke always be drawn from between two pixels.

[2022-04-22 23:09] hungerburg commented on #5662
Curiously, the stroke in my case is an even number, so it should happily centre itself; but your suggestion rocks, https://myzel.net/js/p5-canvas-half.html :)

[code]

Looks like the strokes are cased with a single pixel alias, and white casing is too weak to erase black casing.

[2022-04-23 13:22] limzykenneth commented on #5662
Even or odd number stroke weight probably doesn't matter here as it is still drawing half pixels because the stroke is drawn from the middle of a single pixel.

Glad that it helped, I'm going to close this for now. Thanks.

[2022-04-23 13:22] #5662 closed

[2022-04-24 08:20] hungerburg commented on #5662
After using the +0.5 workaround in my original sketch, it did not work. The sketch requires, that a white stroke exactly cancels a black stroke in the same position. I found another way to get a true "noSmooth()". This does not need to add 0.5 to the position of the strokes:

If the dimension of the canvas is an odd number, make the width of the stroke an odd number too, otherwise, make it an even

[2022-04-24 14:20] jthomerson commented on #5665
@limzykenneth thanks! I figured it was something like that, but wanted to report it so an expert could check. I appreciate your time. Thanks again.

[2022-04-25 19:19] montoyamoraga commented on #4801
hi sorry i haven't done it and i won't be able to soon, so i unassigned

[2022-04-26 05:38] Falling10fruit commented on #5650
Also, I don't have an account for the forums.

[2022-04-26 05:39] Falling10fruit commented on #5628
I need this, this is a great idea

[2022-04-26 10:38] Dainess commented on #4373
I'd like to point out as of April 2022 I fould the same problem as OP, when I call return false on mousePressed() it breaks the code in keyPressed()

[2022-04-27 10:11] Teufeuleu commented on #1229
Any news on this topic? Seems that the issue is still here at the time of p5js__1.4.1.
Even with preload() not being called, I get both success and error callbacks fired from a loadImage().
And it seems that the success callback is not fired once the image is fully loaded as expected, but immediately after loadImage.

But after some more investigation it seems that this does not happen (and loadIm

[2022-04-27 15:38] stalgiag commented on #1177
[This feature is available.](https://p5js.org/reference/#/p5/text)

[2022-04-28 19:16] jbakse commented on #5472
Hello All,

*Intro*

I'm working on a sketch in which I want to disable all antialiasing, ran into the limitations of `noSmooth()` and found this issue.

I agree that the noSmooth() documentation probably needs to be updated. I think it is currently misleading about what noSmooth() can and can't do.

*Examples*
I've made some example sketches (v1.4.1) that might be helpful.

[Aliasing in P2D](http

[2022-04-29 14:17] Michal8705 opened #5667 "Problem with a touch event on mobile device"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-04-30 06:25] mlantin opened #5668 "Texture from IMG element does not use actual dimensions of image"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-05-03 20:33] mugungalabz commented on #5617
A formal stance against NFTs is going to put the processing foundation on the wrong side of history. Its an incredibly exciting, energetic space and there are many artists and developers doing amazing things with p5.js and using it for NFTs. Also, The 3 original bullet points are incorrect, and make it sound like you don't like NFTs for personal resentment issues, not real reasons.

- Environmenta

[2022-05-05 17:41] Michal8705 commented on #5667
Hi, sorry for the late reply, but I'm on vacation. The error occurred on Chrome on iPhone 7 with iOS. I checked on Xiaomi with Android and the error didn't appear. Interestingly, the error didn't appear when I transferred the code to Github Pages. There, it works fine on every device. So the first conclusion is that the problem is with the web editor. However, I will try to do more tests.

[2022-05-07 17:51] ianstormtaylor opened #5670 "Add dashed lines to the core API"
### Increasing Access

Unsure. But I believe it would reduce the mental barriers to a very common goal, which feels like increasing access for people with less math-heavy or programming-heavy backgrounds.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
-

[2022-05-11 12:04] Falling10fruit opened #5673 "What's the difference between let and var?"
### Increasing Access

I use var instead of let and it didn't seem to change anything, removing let would clear some confusion between people who use var and let.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [

[2022-05-12 10:28] jagadeeshCoder commented on #4206
nice idea about gltf parser in p5.js

[2022-05-12 10:45] jagadeeshCoder commented on #1771
how to add .gltf model in p5.js

[2022-05-12 10:51] jagadeeshCoder opened #5674 "how to add .gltf loder in p5.js"
### Increasing Access

this new feature helps in animating and also for 3d games

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typogra

[2022-05-12 10:52] jagadeeshCoder commented on #5674
how to add .gltf in p5.js
there is any way to add .gltf in p5.js

[2022-05-12 17:07] lindapaiste commented on #5673
If you're a beginner you can use `var` and it won't break anything.  It does make your code more prone to bugs because you might be unintentionally using the same variable in multiple places.  Advanced coders who understand when to use `let` vs `const` will typically never use `var` at all.

There are subtle differences between how the two behave.  [MDN has a good explanation](https://developer.mo

[2022-05-12 17:34] lindapaiste opened #5675 "Suggestion: include an error message when drawing shapes with `NaN` values."
### Increasing Access

If the user tries to draw a shape where any of the arguments are `NaN` it does not draw anything.  I would expect that it would log an error using the friendly error system so that the user knows why their code didn't do what they intended.  This would make it much easier for beginners to debug their code.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Ac

[2022-05-12 18:55] limzykenneth commented on #5673
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2022-05-12 18:55] #5673 closed

[2022-05-13 02:07] Falling10fruit commented on #5673
Thanks for clarifying

[2022-05-13 13:18] jagadeeshCoder commented on #5674
i also want to add my gltf models in p5.js
gltf loder is so help ful to  make 3d games in p5.js

[2022-05-15 14:37] stalgiag commented on #5674
p5.js does not support GLTF. Check out babylon.js or three.js.

[2022-05-15 14:37] #5674 closed

[2022-05-17 07:55] jagadeeshCoder commented on #5674
To Stalgiag

I dont want to go to babylon.js or three.js.
because they are so tough and they are not satysfyng me in 3d rendering as p5.js

[2022-05-17 12:17] stalgiag commented on #5674
Hi @jagadeeshCoder thanks for letting me know. The goal of p5's WebGL mode is to give a space to play with p5's syntax in a 3D space. This means that we only offer primitive geometry, simple lighting, limited materials, and two options for 3D model loading. These two options were chosen because they are the most common file formats for people first learning how to make models. GLTF is a more advan

[2022-05-18 03:58] lindapaiste opened #5677 "Library functions registered with `registerPreloadMethod` keep calling `_incrementPreload` after preloading is done."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-05-20 19:15] mkmori commented on #5654
Yes, no matter how many times the shape is drawn, the achievable color seems dependent on the alpha value. Please find an even simpler example below. (Fyi, the effect is the same, but the sketch linked above references an earlier version of p5.js (0.10.2).)

[code]
![image](https://user-images.githubusercontent.com/4692695/169596467-585bc0eb-cc0f-46c1-b976-6f699b319c82.png)

[2022-05-20 19:19] mkmori commented on #5654
Cf. https://github.com/processing/p5.js/issues/5179

[2022-05-20 20:42] aferriss commented on #5654
I think this is happening because of the anti-aliasing on the edge of your shape. The anti-aliased pixels are stacking up over time, since you are not clearing the background in any way. Try putting a call to `clear()` in the draw loop before you draw the image and see if the problem still remains.

[2022-05-20 21:52] deshudiosh commented on #5654
It's not about the edges, it's about the color in the middle of the circle. It's totally wrong.

[2022-05-21 07:46] jesi-rgb commented on #5118
Hello, everyone! I am very excited to tell you that I am now a GSoC contributor for the processing foundation! My project aims to solve the very problem stated here in this conversation, so hopefully we'll be able to create an easy and fast method to download gif files directly.

Thanks a lot for your time and I am super excited to get to know you all! Have a great summer!

[2022-05-21 20:45] yashlamba commented on #5521
Hi, new to p5.js and looking forward to contribute!

I looked into this issue and it comes down to how we evaluate number of frames to skip here:
https://github.com/processing/p5.js/blob/c3f4121619174db5eaaf09b8ca51c93d530caa27/src/image/p5.Image.js#L236
and this condition:
https://github.com/processing/p5.js/blob/c3f4121619174db5eaaf09b8ca51c93d530caa27/src/image/p5.Image.js#L241-L243

I would li

[2022-05-25 20:10] jbakse commented on #5588
Another wrinkle on this that I didn't notice before: mouseMoved() and other events can be called before setup() but it looks like mouseX and mouseY are NOT updated before setup(). I don't think this is documented, and it is likely unintended?

[code]

[2022-05-26 07:52] Qiguang opened #5680 "information on reference page about displayWidth seems not correct"
### Topic

Hi all,
I'm not sure if it's an appropriate topic here.
I‘m just trying to improve the document on p5.js [site](https://p5js.org/reference/#p5/displayWidth).
But I didn't find a proper place, it's not a bug of code base, not a behavior issue of the site, not a new feature, not a translation error.

on the page, it says:

After test, I found that I cannot use `displayWidth` directly to c

[2022-05-27 10:36] limzykenneth commented on #5628
While something like `img.noSmooth()` can possibly be considered to affect `resize()`, is there a reason why using the global `noSmooth()` and drawing the pixel art at the desired size (`image(img, x, y, width, height)`) not be a feasible solution?

It is also a more efficient method as opposed to using `resize()` if you need to draw the same pixel art at many different sizes or using a spriteshee

[2022-05-27 13:42] PandaBalls opened #5681 "Can't render sketch if included p5.sound.min.js in Index.html header"
### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-05-27 14:04] Falling10fruit commented on #5628
Oh, I didn't know it existed

[2022-05-27 14:14] jagadeeshCoder commented on #5674
can you help me on making a 3d game website.
url  " https://alpha-1238.web.app/ " this is my website
please help me on making 3d game on it

[2022-05-27 14:15] jagadeeshCoder commented on #5674
i want to add gltf models in my website

[2022-05-28 15:00] balandinodidonato commented on #5354
Is there any news on this? I'm trying to get an FPS of 50 and it is impossible. Any advice?

[2022-05-28 15:28] 0xJonas commented on #5354
I don't know of anything that has been done regarding this issue. However, even when this would be addressed, getting a true 50 FPS framerate would not be possible. The reason for this is that the browser itself runs (usually) at a framerate of 60 FPS and there is nothing p5.js could do to change that. The least p5.js could do is to periodically skip rendering frames, so that there is an average o

[2022-05-29 17:22] vicdoval commented on #4879
Hi @aferriss!
Do you know any trick to make this work with canvas created via createGraphics?
it returns that getTexture is not a function.
Also It would be great if It could be set to all textures at the same time, I have many (arrays with arrays of images) Any Idea?

[2022-05-29 20:50] blechdavier commented on #4879
Hey @vicdoval
I’m not at a computer right now; there might be a property on the drawingContext

maybe try setting drawingContext.setInterpolation(NEAREST, NEAREST) and see where that gets you

[2022-05-29 23:52] silverslither opened #5684 "Frame Rate significantly higher than target on high refresh rate displays (>200Hz)"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-04 07:35] endurance21 opened #5685 "SaveFrames() misses some frames"
### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-04 07:51] endurance21 commented on #5685
My diagnosis  and Understanding :

In the implementation of `saveFrame` API  here https://github.com/processing/p5.js/blob/4b36461ffc120908beb2421ee6db263817544614/src/image/image.js#L455

Let's focus on key arguments here, that is
1. duration
2. fps

if the duration is 1 sec and fps is 25 that essentially means 1*25 frames should be recorded.

scrolling down, we can encounter the following two  p

[2022-06-05 15:44] Nemo1999 commented on #3610
Thank you so much! @davepagurek
I am making a complex 2D animation which requires tinting multiple images with continuously changing alpha value.  (See [here]( https://nemo1999.github.io/HAHA-GCAT/) for a demo)
This effect is impossible with default implementation, but your solution makes it work  smoothly !

[2022-06-06 21:16] MikeMaksy opened #5686 "Script Error"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-07 13:37] #5686 closed

[2022-06-07 17:06] jesi-rgb commented on #5685
I get the exact same behaviour. I would love to know from the team what are the exact intentions behind this function: if it was actually meant to save an arbitrary number of frames for a given animation and that means this is a bug, or if, on the other hand, there was a deliberate decision on capping the number of frames being processed so the sketch does not get blocked if there is a lot to proc

[2022-06-08 20:13] itsgalo opened #5687 "createShader() documentation missing on correct usage with createGraphics()"
### Topic

It would be great to add a note and perhaps an example on the correct usage for createShader() on separate createGraphics() objects. It is not clear that to create a shader on non-main-canvas renderers, one has to call the function on the renderer object created by createGraphics(), as in: renderer.createShader(vert, frag). This would clarify the usage when using multiple shaders on dif

[2022-06-08 20:40] ffd8 opened #5688 "Contributor Docs - Development Process - out of date?"
### Topic

Just setting up a new machine (M1 MBP) and trying to get setup again for compiling p5.js – did an upstream grab for my local repo, switched to a new branch based on 'main' – trying to follow the [Development Process](https://github.com/processing/p5.js/tree/main/contributor_docs#development-process) of the contributor docs – but running into an issue at step 5 using Grunt. Ran `npm ci`

[2022-06-11 12:54] limzykenneth commented on #5688
There seems to be something going on on NPM side about this: https://github.com/npm/cli/issues/4992

I'm looking into a workaround for us.

[2022-06-11 22:15] ffd8 commented on #5688
Thanks for looking into this and relieving to learn that it's a general issue and not just on my end.
Will consider downgrading and see how it works, since seems v16+ is intended for apple silicon.

[2022-06-13 01:40] ofZach opened #5690 "webgl pixel density adjustments lead to inconsistent results across browsers"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-13 18:19] aferriss commented on #5690
Hey Zach, I believe this is actually an issue with different browser vendors and not p5. There's a couple different values to watch here.

First we have webGL's viewport dimensions. This is what p5 is setting when you make a big canvas or set the pixel density really high. Effectively `gl.viewport(x, y, w, h)`. You can inspect these dimensions by doing
[code]
On my machine these are 16384x16384.

[2022-06-13 18:29] ofZach commented on #5690
ah thanks!  that's super helpful (and similar-is to results I saw) -- so I'm going to close this as your answer gives enough info for how to fix the discrepancy.    I will check out the fbo options -- in my experience with OF the solution I always go to is to use maxTexture size for the largest possible FBO for large scale offscreen drawing.

[2022-06-13 18:29] #5690 closed

[2022-06-13 19:22] aferriss commented on #5690
One gotcha with fbo's in webGL is that at least in webGL1, they don't do any antialiasing for 3d geometry. So you may see some differences depending on what you're doing. The other thing is that they render with the y uv flipped. An easy fix, but sometimes annoying if you have a ping pong buffer or feedback loop type thing happening.

[2022-06-14 00:16] Qianqianye commented on #4831
Thanks @jywarren for opening this issue. Since we have merged p5.dom.js into p5.js for the v1.0 release and announced the merge more than 2 years ago, I believe a deprecation notice is not a priority any more. So I will close this issue for now. Thank you!

[2022-06-14 00:16] #4831 closed

[2022-06-15 01:41] jasonfyw opened #5692 "movedX and movedY undefined on touchscreen devices"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-15 18:20] louissse commented on #5145
Hi, did this ever get implemented? I'm really missing it

[2022-06-17 10:24] limzykenneth commented on #5692
`movedX` and `movedY` in p5.js is directly taking from the mouse event [`movementX` and `movementY`](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/movementX) values. It seems those values are not prevent in a touch interface. You may need to find other ways around for what you are trying to do here.

[2022-06-17 16:56] limzykenneth commented on #5685
@endurance21 What's happening is actually much simpler than that, p5.js limits the maximum frame rate to 22 and the maximum duration to 15, any values outside of this range will be clamped back down to 22 and 15. It isn't made very clear in the documentation and I think we should clarify it better.

@jesi-rgb As alluded to in the reference, `saveFrames()` is not meant to be used to save an arbitra

[2022-06-17 17:08] jesi-rgb commented on #5685
@limzykenneth gotcha! everything clear! we can actually change that real quick in the docs!

[2022-06-20 00:22] bxuserx opened #5695 "P5 website reference page fails to load"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-06-20 21:12] limzykenneth commented on #5695
@bxuserx I'm not able to replicate this problem. Do you have extensions installed on Chrome? If so can you try disabling them? If that doesn't solve it can you try a different machine with Chrome?

[2022-06-21 06:20] liudonghua123 opened #5696 "GET https://cdn.jsdelivr.net/gh/processing/p5.accessibility@v0.1.1/dist/p5.accessibility.js net::ERR_ABORTED 404"
### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-21 11:40] reona396 opened #5697 "When creating an image with createGraphics(), the image is corrupted if the size is specified as a decimal"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-23 13:59] jasonfyw commented on #5692
Understood. I'll see what other options are available.

[2022-06-23 13:59] #5692 closed

[2022-06-23 15:30] limzykenneth commented on #5696
Hi @liudonghua123, is this a p5.js web editor specific problem? If so can you file this issue at the [web editor's repo](https://github.com/processing/p5.js-web-editor/issues) instead? Thanks!

[2022-06-23 15:53] limzykenneth commented on #5697
I'm not sure if there will be an easy way to make canvas with fractional dimensions work without some kind of undefined behaviour as it is not expected that fractional dimensions would be used to define those dimensions (that I know of). Is there a reason for wanting to use fractional dimensions for defining canvas sizes?

P.S. I quite like the glitchy effect regardless 😝

[2022-06-23 20:30] #5456 closed

[2022-06-24 00:04] #5685 closed

[2022-06-24 00:11] Qianqianye commented on #5658
Thanks @yadroRus. I'm closing this for organizational purposes. Please reopen if you can provide more info replicates this issue. Thanks!

[2022-06-24 00:11] #5658 closed

[2022-06-24 00:27] Qianqianye commented on #5632
Since this is more of a issue for [p5.js Web Editor](https://github.com/processing/p5.js-web-editor) now, I'm closing this for organizational purposes. Thank you!

[2022-06-24 00:27] #5632 closed

[2022-06-24 00:34] Qianqianye commented on #5633
Hi @Kinrany! I think this feature is beyond the scope of the p5.js api (we try to keep as minimal as possible) but it could be a great starting point for an add-on library. see the docs here for how to create an add-on: https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md

[2022-06-24 00:34] #5633 closed

[2022-06-24 03:14] reona396 commented on #5697
I encountered this bug when I was multiplying a decimal to adjust the canvas size to a larger or smaller size.
So, because I was matching that canvas size with the size of the image created in createGraphics(), a fraction was entered in the createGraphics() size specification.

[2022-06-24 09:46] limzykenneth commented on #5697
Could you `floor()` the values passed to `createGraphics()` so that they will always be integers?

[2022-06-24 17:15] flargus commented on #5668
Hey, I'm having a similar issue with textureWrap()
Did you find a workaround to this problem?

[2022-06-24 23:02] Qianqianye commented on #5322
Thanks @itarnyagin for putting this issue out. @limzykenneth and @montoyamoraga, are there any reasons that we have empty VIDEO and AUDIO sections in the reference?

[2022-06-25 07:01] reona396 commented on #5697
If you use `floor()`, it works fine.
As you said, it is an irregular case to specify a decimal number.
Therefore, I think p5.js can use `floor()` internally to convert it to an integer in advance.

[2022-06-26 01:11] hellostorman opened #5699 "Shader Texture Doesn't Work For Custom Bezier Shapes"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-26 12:44] ofZach commented on #5690
this is probably a separate issue, but in case it's useful I've noticed that if I change pixelDensity after createCanvas with webgl (say to render higher res on key pressed) the canvas size changes (ie, the output image if I save) but the gl.drawingBufferWidth and height do not -- meaning, if I use them in my shader, the sketch is scaled based on the relative change density....

I can't 100% tell

[2022-06-26 12:45] ofZach commented on #5690
again, probably a good case for using an FBO :)

[2022-06-27 07:36] YoriKv commented on #4911
Please re-open this issue. As someone learning P5 JS for the first time I had to find **this issue** to figure out where the assets were. Each example page should link to the relevant assets or at the very least link to the assets directory.

[2022-06-27 10:22] limzykenneth commented on #4911
This issue was specifically asking for the location of the example assets, if there is suggestion of how we can better handle example assets please do open a new issue. Issues are kind of like to-do list for us to we couldn't keep an issue open for just documentation purpose. Thanks!

[2022-06-27 17:36] #5617 closed

[2022-06-27 17:40] Qianqianye commented on #5395
Thank you! I will send you an email to discuss further.

[2022-06-27 17:40] #5395 closed

[2022-06-28 00:27] Qianqianye commented on #4789
Thanks @vulongphan I just assigned you.

[2022-06-28 00:30] Qianqianye commented on #950
This issue is similar to the one at [3435](https://github.com/processing/p5.js/issues/3435), so I am closing it for organization purpose. Thank you!

[2022-06-28 00:30] #950 closed

[2022-06-28 00:32] #3351 closed

[2022-06-28 00:41] Qianqianye commented on #2865
Thanks @thinklikeadesigner @prakhar3062 @Manan17. You can take a look issues with label '[help wanted](https://github.com/processing/p5.js/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22)', or read the [contributing documentation](https://github.com/processing/p5.js/blob/main/contributor_docs/contributing_documentation.md) for different ways of contributing.

[2022-06-28 00:43] Qianqianye commented on #5142
Thanks @two-ticks. I just assigned you on this.

[2022-06-28 01:47] Qianqianye opened #5700 "1.4.2 Release"
### Topic

I think we can plan for a new release of p5 at the week of July 18! 🎉 The next release version could be `1.4.2`. Is there anything specific we need to get merged in before then?

Does that sound right to everybody?

@limzykenneth @stalgiag @outofambit @montoyamoraga @aferriss

[2022-06-28 01:53] Qianqianye commented on #5695
Hi @bxuserx. Could  you please open this issue at the [p5.js Website repo](https://github.com/processing/p5.js-website)? I am closing this issue for organization purpose. Thank you!

[2022-06-28 01:53] #5695 closed

[2022-06-28 09:50] ofZach commented on #5690
to follow up (and apologies for moving this in another direction) I found a combination of

[code]
worked -- I will open another issue as I feel like it's a little unclear how pixelDensity should work with webgl and to make sure I understand what's going on under the hood.    My impression (and again, I don't 100% understand things so apologies if I'm off here) is that calling pixelDensity after t

[2022-06-28 21:46] hamzhfreajat commented on #5681
The `<script src="libraries/p5.sound.min.js"></script>` should be added at the bottom of the page I think before </body> tag and make sure that you have all the requirement of this file

[2022-06-29 07:43] DaveHoskins commented on #2536
I recently couldn’t use a random hash generator, because it used a uvec2, and was very surprised p5 was not accepting WebGL2 as a canvas. Especially this year, as now all Apple products are  using Angle to support WebGL 2. So now all OSs can use it.

[2022-06-29 17:43] mlantin commented on #5668
No I didn't find an elegant workaround. I ended up loading the image twice (once through the img element and once with loadimage). I did look through the p5.js code to see if it would be a simple fix. It's not. The width/height are used quite generically so it would be a bigger fix to suss out when to use naturalWidth/Height instead. I'm neck deep in a project right now so I can't volunteer to fix

[2022-06-30 22:47] msed21 opened #5702 "p5.Element.style() does not correctly update the width, height, left, and top properties if they are changed in the CSS."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-06-30 22:49] msed21 commented on #5702
Related to issue #5525

[2022-07-01 02:43] msed21 commented on #5702
I have created a pull request that resolves this issue. See above.

[2022-07-01 02:43] msed21 commented on #5525
I have created a pull request that resolves this issue. See above.

[2022-07-01 16:21] aceslowman opened #5705 "Add describe() to all 3D related examples in documentation"
### Increasing Access

As it is already present in a number of other examples, continuing to add describe() to examples is a good opportunity to make the documentation more accessible and also raise the visibility of describe() to encourage more use.

### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/

[2022-07-03 00:05] Qianqianye commented on #5700
Also, here are some issues we should check before the 1.4.2 release:

- Documentation update actions [#1133](https://github.com/processing/p5.js-website/issues/1133)
- Extra files in p5 download? #5619

[2022-07-03 04:52] Qianqianye commented on #2309
@all-contributors please add @Qianqianye for code, design, doc, eventOrganizing, review, translation

[2022-07-03 11:12] jesi-rgb commented on #4998
Hi! Stumbled upon this issue looking for the keyword _linter_ in the issues, since I am experimenting the exact problem here described.

As @limzykenneth mentioned, it should be a "set and forget", but as I am now trying to implement some functionality, 90% of the time has been spent dealing with the VSCode prettier extension yelling that it is an old version. I have to reconfigure prettier and re

[2022-07-03 17:52] Qianqianye commented on #5571
@davepagurek recently released a p5.js library called [p5.Framebuffer](https://github.com/davepagurek/p5.Framebuffer). Maybe @davepagurek can share some thoughts on this?
Also inviting two GSoC contributors to this discussion who will work on webGL related issues  this year: @aceslowman mentored by @kjhollen @ShenpaiSharma mentored by @calebfoss. Any thoughts? Thank you!

[2022-07-05 12:14] davepagurek commented on #5571
Hi! I'd love to see first-class support for framebuffers in p5. I could also see a world where `p5.Graphics` is backed by framebuffers instead of separate canvases for better performance, similar to how openFrameworks functions. The main drawback I can see to that farther-future vision is backwards compatibility with `p5.Graphics`, since you wouldn't be able to do things like interleave draw calls

[2022-07-05 12:44] davepagurek commented on #5670
I have [an implementation of a fast `getPointAtLength` method for Bezier curves](https://codepen.io/davepvm/pen/mdmPJaa) that I've been [using in p5 sketches](https://openprocessing.org/sketch/1452264) for a little while now. We could potentially use a method like this to do a rendering-agnostic dash. It would just require knowing how to convert primitives to bezier segments. Catmull-Rom curves al

[2022-07-05 23:49] #5705 closed

[2022-07-05 23:56] kjhollen commented on #5308
tagging @ShenpaiSharma as relevant to your GSoC project!

[2022-07-06 00:17] golanlevin opened #5710 "nf() produces problematic string-formatting of very large or small numbers"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [X] Math
- [X] Unit Testing
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-07-07 04:33] #5637 closed

[2022-07-07 07:37] sandstrom commented on #5641
For reference, here is an open issues in the Webkit (Safari) bug tracker:
- https://bugs.webkit.org/show_bug.cgi?id=182424

Also unclear if the `options` argument is supported by Webkit.

[2022-07-07 17:49] Qianqianye commented on #2309
@all-contributors please add @adarrssh for translation

[2022-07-07 17:53] Qianqianye commented on #2309
@all-contributors please add @kaabe1 for design, eventOrganizing

[2022-07-07 17:57] Qianqianye commented on #2309
@all-contributors please add @kaabe1 for design, eventOrganizing

[2022-07-07 17:59] Qianqianye commented on #2309
@all-contributors please add @kaabe1 for design, eventOrganizing

[2022-07-08 03:00] Qianqianye commented on #2309
@all-contributors please add @Guirdo for translation

[2022-07-09 08:49] 3ru commented on #2309
@all-contributors please add @3ru for bug,review,code

[2022-07-09 08:50] 3ru commented on #2309
@all-contributors please add @3ru for bug, review, code

[2022-07-09 17:25] aceslowman opened #5717 "Create a Basic Feedback Effect for the Examples Page"
### Increasing Access

Texture feedback is a simple and easy to use effect that can sometimes be difficult for newcomers to figure out in a straightforward way. I am proposing a simple example for the website that shows how to create texture feedback without shaders, which will be easy to learn from and extend.

I will be taking on this task myself as part of my work on WebGL examples and document

[2022-07-09 20:33] Qianqianye commented on #5717
Sounds great @aceslowman! Just wondering if this issue will be a better fit in the [p5.js-website ](https://github.com/processing/p5.js-website)repo? You might also want to check out the [p5.js Website / Translation Stewards Open Call 🎉 #1220](https://github.com/processing/p5.js-website/issues/1220), in which we have a focus area about the example page.

[2022-07-11 10:59] Spaxe opened #5718 "deviceShaken() does not work on Android >= 11.0"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-07-11 16:24] Qianqianye commented on #5717
Yes, let's close this one for now. Thanks @aceslowman!

[2022-07-11 16:24] #5717 closed

[2022-07-12 01:50] Qianqianye opened #5719 "p5.js Stewards Open Call 🎊"
### Topic

### p5.js Stewards
Hi! We'd love to invite more contributors to be the stewards of the p5.js library! 🎊

Stewards are contributors that are particularly involved, familiar, or responsive to certain areas of the project. Their role is to help provide context and guidance to others working on p5.js. If you have a question about contributing to a particular area, you can tag the listed ste

[2022-07-12 02:24] kungfuchicken commented on #5719
I'm interested.

[2022-07-12 02:28] Qianqianye commented on #5719
Thanks @kungfuchicken! Can you mention which area(s) you are interested in stewarding?

[2022-07-12 02:45] cgusb commented on #5719
I'm interested in being an image steward! I'm currently getting ready to defend my thesis next month though so I'll probably hold off until after then before I dive into the source code & start figuring out how things work

[2022-07-12 03:35] TetroGem opened #5720 "Add a function for specifying how to draw an image within set bounds without distorting its aspect ratio"
### Increasing Access

This would allow p5 users to easily do things such as have unstretched images cover the entire background of a sketch, without needing to do the math required to find the scaling needed to have it cover the needed area, or only fit inside of it if wanted instead.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes

[2022-07-12 05:02] Qianqianye commented on #5180
Thanks @LEMIBANDDEXARI for translating the website and @limzykenneth for offering feedback! I have added your website to the [Externally hosted language versions](https://github.com/processing/p5.js-website#externally-hosted-language-versions) section of the p5.js-website README, along with other external hosted translated p5.js websites. Please open an issue at [p5.js-website](https://github.com/

[2022-07-12 05:02] #5180 closed

[2022-07-12 05:08] Qianqianye commented on #5180
@all-contributors please add @LEMIBANDDEXARI for translation

[2022-07-12 05:18] photon-niko commented on #5719
Ooohhh I'm interested in the image area of p5js. I've messed around a bit with images before. I'm curious to learn more about them and want to contribute in any way I can :)

[2022-07-12 05:24] Qianqianye commented on #5118
Congrats @jesi-rgb! I look forward to seeing what you will create during GSoC.

[2022-07-12 05:42] Qianqianye commented on #5719
Thanks @kungfuchicken, @cgusb and @photon-niko! Just added your names in the [stewards section](https://github.com/processing/p5.js#stewards). 🎊
Please feel free to review some existing issues labeled with the focus area(s) of your interests. Thank you!

[2022-07-12 09:59] davepagurek commented on #5719
Hi, I've been working a lot with p5's WebGL innards recently and would be interested in helping out in that section! I see it's already well covered with GSoC but if help is needed anyway (or after GSoC) I'm happy to jump in 🙂

[2022-07-12 10:42] davepagurek commented on #5720
I think this sort of feature would be really useful! I've had to write manual versions of this a number of times for projects. Thanks for all the detailed diagrams too!

Some API questions and suggestions:
- CSS has a similar API for [background-size](https://developer.mozilla.org/en-US/docs/Web/CSS/background-size), and they use `cover` and `contain` instead of extend/shrink. We don't need to mat

[2022-07-12 11:14] KleoP commented on #5719
I'm interested in being a steward in both Image and Color. I'm new to coding and P5.js (well, new to modern coding), and my background is in electron microscopy and fine arts; I'm a digital collage artist, teaching myself to draw and collage in P5.js.

[2022-07-12 17:25] jeffawang commented on #5719
Hey there! I happened upon this thread and would love to contribute some time and effort here.

I could be down to help steward Math, Core, and/or WebGL (though yeah it seems there's already quite a few stewards there). I've used these features of p5, but I haven't contributed to the p5 codebase yet. I'd be happy to dig into the code for a deeper understanding soon :)

[2022-07-12 19:58] TetroGem commented on #5720
I do really like the idea to change the names of EXTEND and SHRINK to COVER and CONTAIN! I didn't know about the CSS API, but having them be consistent with that could help easily familiarize those who have done similar work in CSS with images.

I feel that this function would definitely work better as a one-off drawing function rather than one that persists like imageMode(), since most of the tim

[2022-07-12 20:36] murilopolese commented on #5719
Super interested in learning more and supporting development of the color modules :)

[2022-07-12 20:47] joshuaalm commented on #5719
I would love to contribute.  I'm not sure which of those categories suits me best, but I have a large number of sketches on my OpenProcessing profile: https://openprocessing.org/user/66875.  If anyone would like to view them and suggest an area, I'd appreciate it.

[2022-07-12 21:53] AdilRabbani commented on #5719
Hey I would also be happy to be added to the stewards for WebGL and Math. I was previously a GSoC student in 2018 and implemented some WebGL features for p5.js (https://medium.com/processing-foundation/gsoc-2018-my-summer-with-processing-foundation-5e5904e816fa) 😃 I kept contributing for a while but stopped as I got super busy with my masters. @stalgiag I'm really sorry if I wasn't able to reply t

[2022-07-12 21:54] davepagurek commented on #5720
This is great, I like this design a lot!

Starting from  `image(img, bx, by, bWidth], bHeight) and then incrementally adding fit parameters feels right, and like a small enough jump. My only worry would be that seeing all the options in the docs would be overwhelming, but like you showed above, it's really just two options, with optional parameters. So maybe leaning on having good examples is the

[2022-07-12 22:13] Qianqianye commented on #5145
Please go ahead and put together a Pull Request. Thank you!

[2022-07-12 22:16] Qianqianye commented on #5681
Hi! I'm closing this for organizational purposes. Please reopen if you can provide a longer code snippet that illustrates the issue. Thanks!

[2022-07-12 22:16] #5681 closed

[2022-07-12 23:04] almchung commented on #5719
I'd love to continue contributing to`Friendly Errors`. I may also be able to help `Localization Tools` with some guidance :)

[2022-07-13 00:00] davepagurek commented on #5699
Hi! I think this might be an issue with the shader and not an issue with Bezier shapes. If you replace your Vertex shader with the following code, your example works if you apply the shader directly to the shape:

[code]

The `gl_Position` output uses units where the screen in the range [-1, 1]. P5's `uProjectionMatrix` is intended to map world-space coordinates into that range. (Applying P5's `uM

[2022-07-13 00:09] TetroGem commented on #5720
I can see this being a good method for making the function have less clutter, so this is definitely an option if that is deemed to be too big of an issue. I do also like the added benefit of then allowing for only the yAlign / xAlign to be defined without the other. Although, it is not too much harder to also just type the CENTER constant in-place for the xAlign parameter in the current version to

[2022-07-13 00:20] davepagurek commented on #5720
That makes sense! I'll wait for some p5 image people to see if they've got any opinions but I'd feel good about going down your preferred route.

@stalgiag I think this is your area, how do you feel about this proposal?

[2022-07-13 01:00] davepagurek commented on #5631
I looked into this a little bit to see what it would involve. Our tesselation uses libtess, and I've found another  I'm not 100% sure this is correct but I've found another library using libtess and it [seems to indicate that it supports arbitrary vertex dimensions.](https://github.com/floorplanner/polygon-tools#using-the-tesselator). The idea being, instead of passing in `[x, y, z]` per vertex, w

[2022-07-13 01:21] davepagurek commented on #5516
Hi, I've spent a bit of time optimizing WebGL renders in P5 for work, so I've taken a look at the performance of textures recently!

This is also how I understand this function!

I can confirm that it's hitting the early return. My main use cases are drawing `p5.Image` objects, `p5.Graphics` objects, and video `p5.MediaElement` objects, and all of these are persistent objects, so object equality c

[2022-07-13 02:05] Qianqianye commented on #5441
Hi @jiharu! I'm closing this for organizational purposes. Please reopen it if you can provide an example like @limzykenneth suggested that illustrates the issue. Thanks!

[2022-07-13 02:05] #5441 closed

[2022-07-13 02:07] Qianqianye commented on #5428
We are not seeing a clear explanation of how this issue [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this issue for now. If an access statement can be added to the issue request, please feel welcome to reopen. Thank you!

[2022-07-13 02:07] #5428 closed

[2022-07-13 02:16] #5392 closed

[2022-07-13 02:19] davepagurek commented on #5393
Adding on to the existing discussion, a few more ideas:

There are [kind of already docs for `p5.Geometry`](https://p5js.org/reference/#/p5.Geometry), but just lacking concrete examples. When people ask about it on the p5 discord I normally point them to the source code for shapes like `sphere`. Maybe the lowest impact change would be to just add more content to that page? I have an example [makin

[2022-07-13 02:29] Qianqianye commented on #5197
I'm closing this for organizational purposes. Please feel free to reopen this issue if you can provide more tests that illustrate the issue. Thanks!

[2022-07-13 02:29] #5197 closed

[2022-07-13 04:51] #4392 closed

[2022-07-13 06:45] WaliyaYohannaJoseph commented on #5719
I am interested !

[2022-07-13 07:32] hellostorman commented on #5699
Hi Dave, cheers for your thorough response! I'm a bit new to all this, especially GLSL. I tried replacing the vertex shader with your snippet, and got no errors but also got a blank sketch. I wasn't really sure what you meant by apply the shader directly to the shape, is that different from the `texture(shaderTexture)` I did before the `beginShape()`?

![image](https://user-images.githubuserconten

[2022-07-13 10:12] davepagurek commented on #5699
Sorry, I wasn't super clear on that part! Instead of using `texture` and a graphics object at all, you can replace your `draw` function with this:
[code]

This, plus the vertex shader I mentioned, looks like this for me:
![image](https://user-images.githubusercontent.com/5315059/178706248-4f9ba84b-47fd-4772-983d-b2a1d78c1f5a.png)

This is a thing that p5 can't do just yet! There are two things pre

[2022-07-13 10:31] hellostorman commented on #5699
Ahh okay I understand now! For my specific use case I don't think I'll be able to use this method but nice to know for the future.

That's exactly what I was looking for, I'll open up an issue after this. I think the normal `vertex` call workaround is the way to go for me right now.

Anyway, super grateful that you took the time for this. Have a good one!

[2022-07-13 10:40] hellostorman opened #5722 "Pass Texture Coordinates to bezierVertex, quadraticVertex, and curveVertex"
### Increasing Access

Unsure

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specif

[2022-07-13 11:40] davepagurek commented on #5722
I can see this as a way to drop the barrier to entry for making more organic looking 3D shapes that you can render with the same tools p5 gives you for its own 3D primitives. To do this right now, you'd have to do a lot of math yourself, or learn 3D modelling software and export a model, and that has a large time cost (and potentially a monetary cost.)

This will also need https://github.com/proce

[2022-07-13 15:32] stalgiag commented on #5720
Hi @TetroGem thank you this detailed and considered proposal! Also @davepagurek thanks for jumping in and generating a valuable conversation. I really enjoyed reading the back and forth. While I am a steward of the Image section, this is more out of my relationship to GIFs and image decoding/encoding. Much of the design of `image()` predates my involvement. This just means that my opinion comes fr

[2022-07-13 15:46] davepagurek commented on #5720
My main use case is that I have an image that I want to be centered and resized to fit inside a box. Say I've got an image of a bird cage (the box) and an image of a bird (the image) and I want to always draw the bird centered inside the cage.

The logic I'd need to write to accomplish this gets pretty complicated when you consider the different combinations of aspect ratios:
[code]

Another scena

[2022-07-13 16:04] TetroGem commented on #5720
Another example of using COVER I use very often would be to cover the entire background of a sketch with an image, and allowing it update live based on both the size of the canvas (if it changes) and making sure it would work with any image passed into it. Currently, the code to do this would look like:
`image(img, width / 2, height / 2,
    img.width > img.height ? height / img.height * img.width

[2022-07-13 16:17] stalgiag commented on #5720
Thanks!

I can see the value. I would personally opt to use DOM elements in the image gallery and background examples but I see the value for others.

As for the design, wouldn't the simplest possible change that doesn't break current functionality be:
[code]
or something similar with an options object replacing `fit, xAlign, yAlign`.

[2022-07-13 16:28] davepagurek commented on #5720
I think so! Tell me if I'm not on the same page but that's also how I'm reading @TetroGem's second proposal -- just those extra parameters, but with the sx, sy, etc renamed to be bx, by, etc. In any case I think that change feels minimal but quite useful :)

[2022-07-13 16:42] davepagurek commented on #5720
Oh, my apologies, it is slightly different. Here's everything in one place so you can compare side-by-side:
[code]

The difference between the last two being, the destination/box size should be equivalent, and the `sWidth`/`sHeight` parameters are preserved to let you fit a portion of the source image into that destination box. This last one seems good to me!

[2022-07-13 21:50] davepagurek commented on #5668
I just double checked and confirmed that if we override the existing `p5.Texture` functions and make them use `naturalWidth` and `naturalHeight`, then [textures successfully wrap.](https://editor.p5js.org/davepagurek/sketches/IXgpMfbO-) So I agree that the fix for this would be to update [the constructor](https://github.com/processing/p5.js/blob/ea0fa1d270003437c2750da0438d48e93954ea02/src/webgl/p

[2022-07-14 05:53] aahdee commented on #5719
Hello! Id love to be a steward for the color section

[2022-07-14 13:49] celes17 commented on #1815
This one exactly solved my problem.

[2022-07-14 23:34] Qianqianye commented on #5719
Thanks @aahdee ! Just added your name in the [stewards section](https://github.com/processing/p5.js#stewards). 🎊
Please feel free to review some existing issues labeled with the focus area of your interest,  [`area:color`](https://github.com/processing/p5.js/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%3Acolor+). ☺️

[2022-07-15 00:55] IkeB108 opened #5723 "p5 logs a message every time noSmooth() is called on a graphics object"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-07-15 02:12] #5175 closed

[2022-07-15 02:38] golanlevin commented on #5670
Respectfully, here's a contrary voice.

In my book for educators, written with Tega Brain, "Code as Creative Medium", we offer the problem of creating one's own dashed line as a suggested assignment for a beginning programmer. Our feeling was that this is comparatively basic problem that integrates a student's understanding of iteration, some basic mathematics, and a good opportunity to use a func

[2022-07-15 05:50] Qianqianye commented on #2309
@all-contributors please add @probablyvivek for translation

[2022-07-15 08:13] error-four-o-four opened #5725 "Improve Keyboard Events"
### Increasing Access

This feature would allow p5 users to easily read keyCodes that are held down at the same time.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ]

[2022-07-15 15:49] b2p5 commented on #5719
I would love to contribute. I'm not sure which of those categories suits me best, but I have a Blockchain Explorer https://b2p5.github.io/excabit/. If anyone would like to view them and suggest an area, I'd appreciate it.

[2022-07-16 05:42] Qianqianye commented on #5636
Thank you @stampyzfanz @stalgiag and @limzykenneth for the conversation. I went ahead and cleaned up the labels a bit based on @limzykenneth's suggestions. Below are some other label updates:
- All the `Area` labels are now coordinated with the [src folder](https://github.com/processing/p5.js/tree/main/src) structure.
- Updated some old label's names to `Build Process`, `Unit Testing`,` Localizati

[2022-07-16 10:20] Spaxe commented on #5718
I tested the `deviceShaken()` once more: https://openprocessing.org/sketch/1615161
Still doesn't work on Android 12, works on iPad 15.

Also discovered that https://p5js.org/reference/#/p5/accelerationX works on my Android 12 ... so I'm not sure how or why.

[2022-07-16 10:37] Spaxe commented on #5718
Update: works on Chrome today... weird.
Doesn't work on Firefox.

[2022-07-16 11:09] error-four-o-four commented on #5725
Additionally it's necessary to change the `_onblur` method to make this work.

[code]

[2022-07-16 12:44] limzykenneth commented on #5636
I think this is fine to leave it as `area`.

This info should be available as the issue template is filled in so I don't think this is as necessary, and I don't think a scenario in which one would specifically filter by browser or OS comes up often.

👍

[2022-07-16 15:10] murilopolese commented on #5654
Hey, @deshudiosh! I'm trying to learn more about colors and checking if I can help with this bug :)

I do not have any answers yet but I'd like to share a little bit of my exploration in the hopes it's going to be clear for someone more experient.

If I instead of drawing on the `p5.Graphic` object, draw straight into the canvas, I get the correct and expected result (still shows antialising artif

[2022-07-16 15:24] murilopolese commented on #5364
Hey, @MrBean3737! 👋

May I ask you what was the output you were expecting to happen?

English is not my first language so I might be projecting my own struggles but I think there might be a misunderstanding about `fill` as in "fill my shapes with this color" and `fill` as in "fill this array with a value".

[2022-07-16 17:56] #5723 closed

[2022-07-16 17:57] Qianqianye commented on #5723
Thanks @IkeB108 for opening the issue and @limzykenneth for fixing it.

[2022-07-16 20:05] Qianqianye commented on #5619
Hi @rinkydevi, thanks for your interests in working on this issue. Just want to check in with you to see if you are still available working on this. Otherwise, we can un-assign you to avoid confusion. Thank you!

[2022-07-17 07:52] #5160 closed

[2022-07-17 18:58] Qianqianye commented on #5710
Thanks @golanlevin! Adding the Math and Utilities Stewards @limzykenneth, @jeffawang, @AdilRabbani, and @kungfuchicken to take a look at this issue.

[2022-07-17 19:09] Qianqianye commented on #5464
Thanks @prichodko for the issue and @stalgiag for offering a fix. Are we good with closing this issue for now for organizational purpose or should we keep it open to gather more discussion?

[2022-07-17 19:25] KevinGrajeda commented on #5497
Functions in p5.Vector taking angleMode() into consideration:
- [x] [heading()](https://p5js.org/reference/#/p5.Vector/heading)
- [ ] [setHeading()](https://p5js.org/reference/#/p5.Vector/setHeading)
- [x] [rotate()](https://p5js.org/reference/#/p5.Vector/rotate)
- [x] [angleBetween()](https://p5js.org/reference/#/p5.Vector/angleBetween)
- [ ] [fromAngle()](https://p5js.org/reference/#/p5.Vector/f

[2022-07-18 22:55] Qianqianye commented on #5210
Thanks @matiasvlevi. We are not seeing a further explanation of how this issue [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this issue for now. If you can add: 1) a more detailed access statement and 2) more info responding to @micuat's suggest to the feature request, please feel welcome to reopen it. Thank you!

[2022-07-18 22:55] #5210 closed

[2022-07-19 02:55] KevinGrajeda commented on #5497
@jeffawang, @AdilRabbani, I would also like to know your opinion.

[2022-07-19 04:17] matiasvlevi commented on #5210
Expanding access? I am curious as to how a piece of code could be of help to a minority such as people of color or marginalized genders. Why would marginalized people need something more from a JavaScript library? Why can we assume that X type of people needs Y type of assistance? Code is just code, you learn from it, and you teach with it, minorities have nothing to do with it.

Keep this issue c

[2022-07-19 04:55] limzykenneth commented on #5497
@KevinGrajeda You can file PRs to apply angle mode to those functions.

[2022-07-19 06:51] golanlevin commented on #5210
Hi @matiasvlevi,
There are lots of ways of increasing access, and many different kinds of audiences who can be helped by this effort.

One of the p5 community's initiatives for doing so is to make it easier for people with _disabilities_ to use and create software. Some examples of a piece of code that do this are the [`describe()`](https://p5js.org/reference/#/p5/describe) and [`textOutput()`](ht

[2022-07-19 13:38] davepagurek commented on #5725
Would the existing `keyIsDown` method handle this use casse? https://p5js.org/reference/#/p5/keyIsDown It provides a public method that accesses the `_downKeys` object internally:
https://github.com/processing/p5.js/blob/v1.4.1/src/events/keyboard.js#L381

The `keyIsDown` method might also need this if your example needs it. Is this to handle the case where you press down a key, then unfocus the w

[2022-07-19 16:19] KevinWorkman opened #5734 "reserved function "width" error message shows for valid code"
I'm using the latest version of the p5.js editor (p5.js version 1.4.1), and I have code like this:

[code]

When I run the sketch, the code works fine and I see a circle, but I also see this error message in the console:

[code]

#### Details about the bug:

- p5.js version: 1.4.1
- Web browser and version: Chrome 103.0.5060.114
- Operating System: Windows 10
- Steps to reproduce this: Run this sk

[2022-07-19 16:33] stalgiag commented on #5464
I think we can close this as an edge case and see if the issue pops up again in a way that is more broadly reproducible.

[2022-07-19 16:33] #5464 closed

[2022-07-19 17:17] jeffawang commented on #5497
Thanks for finding other instances that need to change. I agree witih @limzykenneth's conclusion that it's a breaking change but that it's worth fixing for consistency.

[2022-07-19 18:31] jeffawang commented on #5710
@golanlevin, you said you'd "...expected to see something on the screen like 0.00...," and this would have been my expectation too. My opinion is that changing `nf()` to behave that way would be a good fix.

For small numbers, when we use `nf()` and specify a number of digits to the right, we already opt in to rounding and loss of precision. Switching to a different behavior at some browser-chosen

[2022-07-19 18:34] Qianqianye commented on #5710
Thanks @jeffawang. Just added the discussion label. We are working on optimizing the labeling process, and we will make sure the stewards can add labels in the future.

[2022-07-19 20:34] Qianqianye commented on #4801
@limzykenneth will lead the process of creating a steward guide as part of the Season of Docs 2022 project - [Organize and Develop p5.js Contributor Docs](https://github.com/processing/p5.js/wiki/Season-of-Docs-2022-Organization-Application---p5.js) 🎉. We will keep this issue open until the PR guide is up.

[2022-07-20 03:02] golanlevin commented on #5710
Thanks @jeffawang.

The behavior of the `nf()` function is stranger than I expected. Here's some code, which takes negative powers of `TWO_PI`:
[code]

...and here's what it prints out. Check out the unexpected behavior in line 8!

[code]

[2022-07-20 03:21] jeffawang commented on #5710
Ah yes, I think that is similar behavior in that the change happens when javascript changes to scientific notation. I believe mine had it because there was no decimal point in my numbers, but yours does have it. I think it's reasonable to expect line 8 and beyond in your example to be `0.00000`.

[2022-07-20 16:58] maxgmer opened #5728 "P5.js 1.0.0 is different in different distributions."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [X] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

### p5.js versi

[2022-07-20 18:51] Qianqianye commented on #2309
@all-contributors please add @anniezhengg for code, design

[2022-07-20 19:28] Qianqianye commented on #5636
Thanks @limzykenneth!
Hey @stampyzfanz, do you have any thoughts about the recent label updates? Will you be interested working on this issue? Thank you!

[2022-07-20 19:34] Qianqianye commented on #5719
Thanks @SamirDhoke! Just added your name in the [stewards section](https://github.com/processing/p5.js#stewards)

Thanks for your interests @b2p5, maybe you can take a look at some existing issues and pick one area of interest to start with. You can change the focus area later too.

[2022-07-20 19:40] Qianqianye commented on #5571
Thanks @davepagurek. I'm inviting more WebGL stewards to this discussion @stalgiag @jeffawang @AdilRabbani

[2022-07-20 22:13] davepagurek commented on #5571
Adding some more thoughts: I feel like the biggest benefit of using framebuffers and shaders where possible instead of separate canvases and `loadPixels`/`updatePixels` is performance. Even if it introduces no new features, I think it matters because performance seems like part of accessibility to me. Some cool sketches are currently just not a good experience on older or cheaper hardware (especia

[2022-07-21 02:00] Qianqianye commented on #2309
@all-contributors please add @SNP0301 for translation

[2022-07-21 02:05] limzykenneth commented on #5728
@jakerockland There were some release problems back when 1.0.0 was released #4336. As noticed, the only difference should be the headers only.

@maxgmer Before digging deeper, is there a specific reason why you would need to use 1.0.0?

[2022-07-21 07:54] maxgmer commented on #5728
@jakerockland sorry, my description wasn't detailed enough. From github I downloaded non-minified version, non-minified one is definitely different (but won't be able to see with diff checked as, obviously, minified and non-minified versions are different). That is why in steps to reproduce I said to try them instead of running through diff checker.

[2022-07-21 07:57] maxgmer commented on #5728
@limzykenneth artblocks.io restricts p5js to 1.0.0. I actually already asked them where they take their 1.0.0 p5js from and just made my script take it from the same place, so the question about where to take 1.0.0 from is resolved.

But the library difference might create confusion for sure.

[2022-07-21 10:01] WaliyaYohannaJoseph commented on #5719
Hi,
My macbook is stolen.

 Yohanna Joseph Waliya
Enseignant et chercheur à l'université de Calabar.
UNESCO Janusz Korczak Fellow, ELO Research Fellow, Winner of Janusz Korczak  Prize for Global South 2020, 
Creator & Curator of MAELD & ADELD 
Executive Director of AELA & ADELI
Web: https://africanelit.org/ 
Auteur  de La récolte de vie, Climatophosis (Winner Best Use of DH for Fun 2020)  etc.
Mai

[2022-07-21 11:35] stampyzfanz commented on #5636
All the labels look good to me except maybe _gif_ and _dependencies_ which could be capitalized for consistency. Additionally friendly-errors is the only multi word issue using kebab case. I am interesting in working on this issue and have a working prototype with all the correct labels [here](https://github.com/stampyzfanz/TestingGithubActions/issues) which should be able to be added here. It use

[2022-07-21 13:16] stalgiag commented on #5571
I agree that performance is an important part of accessibility.

Do you imagine the interface changing in any way?

Would the performance updates in this proposal only apply to sketcches where p5.Graphics objects are being used to manage shader passes?

Do you see any features other than `filter` made possible by this proposal that bring it closer to parity with 2D or Processing OpenGL?

[2022-07-21 14:50] davepagurek commented on #5571
For a fast `filter()` implementation, I think we can keep the same interface.

For the farther future thing where graphics are backed by framebuffers on one canvas, ideally it would also use the same interface, but I'd need to think a bit harder to make sure that's possible. I don't think it's possible to preserve some operations while using framebuffers as graphics (like drawing a webgl graphic t