[2020-07-28 20:08] aferriss commented on #4718
Hi @OMGChase ,

Try doing a vertical flip on the uv map. That seemed to fix it for me here: https://editor.p5js.org/buckWorkshop/sketches/n3PZ68taL

[2020-07-29 06:25] OMGChase commented on #4718
Yes! That's the trick.

Thank you!

[2020-07-29 06:25] #4718 closed

[2020-07-29 07:53] AbrarShahriar commented on #2337
@kathyveloso it would be a great help if you tell how you solved it. I am working on an ecosystem and in the saw situation as you were once. Thanks in advance 🙂

[2020-07-29 08:47] matvs commented on #4714
It seems to me, that there is actually nothing wrong with `resetShader()` function.

In my [previous example](https://editor.p5js.org/matvs/sketches/_rtBhhm-h) one can see, that the green square is actually rendered, but either drawing order is false or z coordinate of red square is higher.

It looks like it is the latter, because adjusting position.z in vertex shader solves the issue: https://edi

[2020-07-29 15:45] #4694 closed

[2020-07-29 17:32] Rizz0S commented on #4711
I can take this if it's open!

[2020-07-29 18:59] aferriss commented on #4711
@Rizz0S That'd be great, thank you!

[2020-07-30 00:45] lm-n opened #4721 "Web accessibility next steps [conversation]"
Hi there!

@kjhollen and I have been working on web accessibility for p5.js during the summer. We want to open up the conversation about what should happen next and where should our community direct its energy.

Our current work includes:
[@CleezyITP & @lmccart let's find some time to go over these and some of the questions below. I'll be emailing you soon 😄 !]
- #4654 describe() and describeEleme

[2020-07-30 12:12] kllsamui commented on #4373
sounds right, @micuat
see the same https://editor.p5js.org/kll/sketches/tLtOxsq78 here.

[2020-07-30 14:25] SpilledMilkCOM opened #4722 "Clipping Y-Axis Lines"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

Only the lines that represent the Y axis are being clipped; all other primitives seem fine.  My sample sketch is at the following link:  h

[2020-07-30 14:27] divided7 opened #4723 "stroke() is not a function"
#### Most appropriate sub-area of p5.js?

- [X ] Color
- [X ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version : Google Chrome | 84.0.4147.105
- Operating System: Windows
- Steps to reproduce this:

[2020-07-30 14:42] #4723 closed

[2020-07-30 15:29] Mindrix95 opened #4724 "Perlin noise patterns"
Hi,

When i use the noise function, i can see the noise making paterns, i've made an exemple  :

https://editor.p5js.org/nicomaindroult/present/hdW3B7soM

We can see shapes repeating, maybe I'm doing something wrong.

Can you help me to have a nice random perlin noise please ?

Thanks for your help and for your work on this project,

Regards

[2020-07-30 17:28] catarak commented on #4721
This is really exciting and just let me know what you need from me to support this work!

[2020-07-30 19:30] bwstewart79 opened #4725 "reporting bug in createButton"
#### Most appropriate sub-area of p5.js?

- [x] Dom

#### Details about the bug:

- p5.js version: "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"
- Web browser and version: Chrome: version 84.0.4147.105 (Official Build) (64-bit) (cohort: Stable)
Firefox: version 78.0.2 (64-bit)
- Operating System: Windows 10 OS Version 1909 (Build 18363.836)
Ubuntu 20.04
- Steps to reproduce this:
Her

[2020-07-30 22:44] aferriss commented on #4714
Ah, this is good to know! Thanks for looking into it. I wonder if there is anything we can add to the docs to make people aware of the fact that depth will be taken into account over draw order.

[2020-07-31 08:11] curiouscod3 commented on #2375
loadSound Doesn't work!

[2020-07-31 09:31] OrionStark commented on #2375
Hey, could you tell us more about what happened?. Maybe you could show us the error message

[2020-07-31 10:34] limzykenneth commented on #4725
This has been fixed in the latest release. You can change the URL to the library to `https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js` in order to use it.

[2020-07-31 10:34] #4725 closed

[2020-07-31 13:55] stalgiag commented on #4722
Hi and welcome! I am a bit confused by what the precise problem is. Can you make a simpler sketch that shows the problem or explain in more detail the difference between expected and actual results. Thanks!

[2020-07-31 23:55] SpilledMilkCOM commented on #4722
When you hit play, the two Y-axes (the short ones) are disappearing when pointing away from the viewport.  I kept the spheres in the model to show that the spheres are NOT being clipped.  I'll adjust it and remove some of the primitives.  I removed the X and Z primitives, and left the 4 Y primitives (the two lines and two spheres).  The lines are being clipped and yet the spheres are not.  Also, w

[2020-08-01 11:03] ednl commented on #4707
I could invent some amendment to that function in p5.Renderer2D.js, but I am relatively new to p5js and certainly to the actual code behind it, and I don't know whether this is by design, or what the implications are for a very local change there. Would other parts change behaviour, or break? Maybe the performance would suffer greatly?

[2020-08-01 12:01] stalgiag commented on #4722
Thanks for the more detailed explanation. I am unable to reproduce (or see) any clipping that appears abnormal on Mac OS X with latest Firefox and Chrome. The only time that the line disappears is when foreshortening is so severe that it appears as a single dot but this is expected behavior when pivoting the line towards the view. It is possible that this is a Windows/Edge specific problem.

[2020-08-02 01:00] jh97uk commented on #3900
Hi @violetcraze are you aware of what library this belongs to? Masking on Graphics is crucial for my new project.

[2020-08-02 08:28] parthghughri commented on #3210
Again getting same issue, Firefox version 79.0 (64-bit)

![image](https://user-images.githubusercontent.com/16538468/89118983-163f0d00-d4c8-11ea-9977-b44a5f4d2273.png)

[2020-08-02 10:20] limzykenneth commented on #3210
@parthghughri The p5.js version that is used in the linked sketch is very old (0.6.0). Update it to the latest version (1.1.9) in `index.html` and it should work as expected. You will need to remove the line requiring p5.dom.js as well since it has since been merged with the main library.

[2020-08-02 13:13] parthghughri commented on #3210
Thank You!

Thanks, I wasn't aware of that older version.

[2020-08-02 14:04] violetcraze commented on #3900
@jh97uk never got around to making a library. If you're project is just using 2d you can probably just use the function from my initial sketch. And I think there was another sketch somewhere in this thread with a 3d function that I think might have been merged and is part of p5 core now.

Sorry I can't be more helpful. You could look into pixi.js, three.js, or openframeworks compiled to web assemb

[2020-08-02 18:04] ScottGrogin commented on #4724
Hi Mindrix,

I would recommend trying out using noise octaves for better patterns. You could also add in layered trig functions to your noise for more variety. Here is a web page that helped me understand layering noise https://thebookofshaders.com/13/

Good Luck!

[2020-08-03 06:22] #4716 closed

[2020-08-03 17:20] SpilledMilkCOM commented on #4722
I attached screen shots of what I see in Edge/Chromium.  I see the same issue in Chrome.  I don't see the issue on my iPhone.  The clipped piece shows up as slightly thinner lines on my phone.

![Annotation 2020-08-03 111248](https://user-images.githubusercontent.com/22199284/89209040-c53c2100-d57a-11ea-9dba-d7880a75cbfc.png)
![Annotation 2020-08-03 111248-2](https://user-images.githubusercontent.

[2020-08-04 01:19] jh97uk commented on #3998
Hi. I'm looking for something similar to you @grege2 ... Did you come up with any solutions at all? I really need clipping for individual shapes within p5JS... I need to be able to draw text within a rect that doesnt exceed its bounds.

Thanks!

[2020-08-04 13:23] stalgiag commented on #4722
Okay! Just got a chance to check this out on Chrome/Windows. I am able to reproduce on 0.10.2 but the issue is gone on 1.0.0 and 1.1.9. I am unsure what caused the problem but there was a fairly extensive rewrite of core WebGL code between those versions so something likely fixed it during those changes.

I am going to mark this as resolved since the current codebase and the most recent releases a

[2020-08-04 13:23] #4722 closed

[2020-08-04 13:45] stalgiag commented on #4721
So stoked for these additions!

There is a lot to respond to here but I'll start by adding thoughts on two points:

I think WebGL mode would benefit most from 3D sound or something akin to [Three.JS' PositionalAudio](https://threejs.org/docs/#api/en/audio/PositionalAudio). In some ways converting a 3D visual experience to an auditory experience is easier than doing the same with a 2D visual experi

[2020-08-05 10:57] limzykenneth commented on #4724
As far as I know, at larger scale, perlin noise do have periodicity which is why most usage will scale it down in steps of more or less 0.01. You can have a look at [`noiseDetail`](https://p5js.org/reference/#/p5/noiseDetail) if you want to tweak the characteristic of the noise while using smaller scale steps.

[2020-08-05 10:57] #4724 closed

[2020-08-07 01:24] jh97uk commented on #3998
Update:

A couple days later, I've got a small example working:
https://editor.p5js.org/Jh97uk/sketches/r2fiAiSlb
[code]
This works perfectly for what I wanted it for. Hopefully this helps someone!

[2020-08-07 21:42] #4669 closed

[2020-08-08 09:15] PraneetBoggarapu commented on #2736
Did you figure this out?
I'm having the same situtation right now.
Can you help me

[2020-08-08 10:13] NoahRGB opened #4728 "Broken link at bottom of reference at p5js.org"
- [x] Other (specify if possible)

#### Details about the bug:

The link at the bottom of the reference for issuing a pull request is broken, it takes you to a "Page Not Found":

![image](https://user-images.githubusercontent.com/53534149/89707639-0613ab80-d968-11ea-81e5-b5cab36aa381.png)

The src/math/calculation.js link brings you to this page:

![image](https://user-images.githubusercontent.com

[2020-08-08 14:46] haideralipunjabi commented on #4728
I think they switched the branch name from `1.1.8` to `main`, breaking all such links

[2020-08-08 15:15] haideralipunjabi commented on #4728
After going through the whole code, it should be working fine as `version: 1.1.9` in `package.json`. I think some command dealing with the generation of the reference needs to be run.

[2020-08-08 17:08] Hendiadyoin1 commented on #2736
Maybe use an iframe if you want multiple Instances of p5  to work

[2020-08-08 17:36] JakeTrock opened #4729 "Class Functions throw error when arguments passed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

[2020-08-08 17:44] #4729 closed

[2020-08-08 17:46] JakeTrock commented on #4729
accidentally hit enter and opened this issue, may reopen it if error persists

[2020-08-08 18:10] haideralipunjabi commented on #2736
Maybe this might help
https://codingtrain.github.io/12oclocks

https://github.com/CodingTrain/12oclocks

[2020-08-08 18:14] JakeTrock commented on #4729
I found the error. how embarrasing

[2020-08-10 12:10] trantiendev opened #4731 "DrawingContext shadowBlur low performance"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

## Hi there
I have some problems when using shadowBlur, I created particles just like this https://p5js.org/examples/simulate-particles.html
But when I using this code

[2020-08-10 13:53] SpilledMilkCOM commented on #4722
When I use the p5.js editor online, how do I choose the version?  I don't even know what version I'm using when I use that editor.  THANK YOU for taking a look at this.

[2020-08-10 13:58] stalgiag commented on #4722
If you click the right-facing arrow underneath the play button it reveals the file explorer. In the file explorer, you can click index.html and change the script line as explained in my prior comment. A new sketch made in the editor should also have 1.1.9 by default at the moment so you can simply copy your code over into the new sketch window.

[2020-08-10 17:04] suprim12 opened #4732 "p5 is not defined in /node_modules/p5/lib/addons/p5.sound.js:4323"
### Error Remake on Using npm in React App

import * as p5 from "p5";
import "p5/lib/addons/p5.sound";

[2020-08-10 17:39] antiboredom commented on #1339
@neefrehman I've had success by creating a `jsconfig.json` with this in it:

[code]

[2020-08-10 20:04] limzykenneth commented on #4731
`shadowBlur` is a native HTML canvas function and not a p5.js specific feature so we cannot provide support here. Blur in general is a very slow process and running it constantly in an animation loop will result in slow down in performance.

If you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug report

[2020-08-10 20:04] #4731 closed

[2020-08-10 20:34] SpilledMilkCOM commented on #4722
THANK YOU!!  That did the trick!

[2020-08-11 15:23] jeong opened #4734 "Broken link"
#### Most appropriate sub-area of p5.js?
- [x] Other (specify if possible)

#### Details about the bug:
There is a broken link in [contributor_docs/organization.md](https://github.com/processing/p5.js/blob/main/contributor_docs/organization.md) page.

[the online editor](https://github.com/processing/p5.js/blob/main/contributor_docs/editor.p5js.org
) link shows "Page not found" error.

![p5 js](ht

[2020-08-12 06:45] Zixin-Ye opened #4735 "An error in Chinese translation"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other

#### Feature enhancement details:
For function map() , parameter ‘stop1’ should be translated to ''现在值的最高值'', rather than '现在值的最低值'.

https://p5js.org/zh-Hans/reference/#/p5/map

[2020-08-12 09:56] limzykenneth commented on #4735
Thanks @Zixin-Ye, would you like to make the changes and file a PR?

[2020-08-12 18:01] 13sfaith commented on #4734
I would like to work on this issue as my first contribution.

[2020-08-12 18:39] #4734 closed

[2020-08-13 04:00] yonghuming opened #4737 "error Prop type `object` is forbidden react/forbid-prop-types"
after run ```npm start```
i got errors
 error  Prop type `object` is forbidden  react/forbid-prop-types
[code]
i have no idea to figure this

[2020-08-13 06:03] yonghuming opened #4739 "need apikey for mailgun when deploy using docker"
i run
[code]
and then get error msg
[code]

[2020-08-13 12:07] w-mcilhagga opened #4740 "bug/undocumented "feature" in getItem( )"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v1.0.0
- Web browser and version: 84.0.4147.125 (Official Build) (64-bit)
- Operating System: windows 10
- Steps to repr

[2020-08-13 15:54] limzykenneth commented on #4739
Hi @yonghuming, this is the repo for the library, this issue should be posted to the web editor's repo [here](https://github.com/processing/p5.js-web-editor/issues). Thanks.

[2020-08-14 12:46] #4739 closed

[2020-08-14 12:46] limzykenneth commented on #4737
Hi @yonghuming, this is the repo for the library, this issue should be posted to the web editor's repo here. Thanks.

[2020-08-14 12:46] #4737 closed

[2020-08-14 12:47] #4740 closed

[2020-08-15 03:22] slowizzm opened #4742 "loadTable() not loading data from published Google Sheets"
I can get data to load when using the share link, but that returns a lot of garbage.
This has worked previously (Mid April) but now those sketches don't work either.

Issues in ...
Local server and the web editor.
Firefox and Safari.
Macbook Mid-2015 - Catalina v10.15.6

[code]

console log
[code]

[2020-08-15 11:36] limzykenneth commented on #4742
It seems Google Sheets does not allow the loading of data cross origin, you can read about it [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

[2020-08-15 12:03] akshay-99 commented on #4742
@slowizzm Just to add on to the previous comment, for many sites that don't support cross-origin data requests you might find it useful to use a third-party "CORS Proxy" as seen here: https://editor.p5js.org/akshay.padte/sketches/2xn-zfhWN
It may not be completely reliable though

[2020-08-15 15:06] mkmori commented on #4735
Hi, @limzykenneth , @Zixin-Ye : I've never done a pull request...but this _seemed_ doable for me! :)

Due to issue #4728 , the documentation points to the wrong version (1.1.8), but substituting "1.1.9"...I see only the English source...? Where/How would @Zixin-Ye or me find the Simplified Chinese?

[2020-08-15 15:39] slowizzm commented on #4742
@akshay-99 Thank you, your suggestions seems to be working so far for me.

[2020-08-15 15:40] #4742 closed

[2020-08-15 15:49] Zixin-Ye commented on #4735
@limzykenneth @mkmori
Hi,

I'm really willing to fix it and I tried. But I also can not find the right place to change the Chinese translation text.

[2020-08-15 19:19] mkmori opened #4743 "`modelX/Y/Z()` and `screenX/Y/Z()` for p5.js (WebGL)"
### How would this new feature help increase access to p5.js?

This feature set would increase access by improving feature parity between Java P5 and p5.js. Js seems more accessible than Java these days, (esp. on the Web), and both are learning tools, so I feel, where possible, equivalent functionality would be desirable.

I also believe 3D is a core Processing.org feature, offering a uniquely low

[2020-08-15 19:39] mkmori commented on #4735
@Zixin-Ye : A step closer???? I found the source text...if you know how to GitHub! (Fork and pull request? @limzykenneth ?)

[https://github.com/processing/p5.js-website/blob/main/src/data/reference/zh-Hans.json](https://github.com/processing/p5.js-website/blob/main/src/data/reference/zh-Hans.json)

[2020-08-15 22:04] limzykenneth commented on #4735
@mkmori Yes, that's the source for the translation file, and you can just fork the website repo, make the changes, then file a pull request from your fork to the main branch of the website repo. You can checkout GitHub help page for detailed guides. Let me know if you need help.

[2020-08-15 22:33] WojtekTB opened #4744 "Replace color in images feature"
### How would this new feature help increase access to p5.js?
This, along with other image editing tools, will give designers and artists more power over image manipulation without having to build their own functions that might be inefficient or too complicated for them. For example if someone wanted to make a sketch where a specific color of the image is changed to #000000 (transparent) and then

[2020-08-15 22:46] WojtekTB opened #4745 "A built in feature to convert uploaded images to a p5js image object"
### How would this new feature help increase access to p5.js?
Right now there is a way to make an upload element through a p5js DOM library, but there is no built in way to then get the uploaded image and convert it to a p5js image object. I believe that this feature being built in would help a lot of projects to be more interactive as now people could make projects where the sketch interacts with

[2020-08-15 23:44] mkmori commented on #4735
@limzykenneth I think I got it--first time for everything! :) Anything else to do on my part?

[2020-08-16 09:04] #4735 closed

[2020-08-16 09:04] limzykenneth commented on #4735
All good, thanks!

[2020-08-16 19:17] Swapnil-2001 opened #4747 "The index.html file does not open in the browser unless the link to 'p5.sound.min.js' is removed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Google Chrome version 84.0.4147.125
- Operating System: Windows 10 Pro, version 1903
- S

[2020-08-16 20:58] limzykenneth commented on #4747
The script should still run without issue as those should be blocking errors preventing p5.js from running. You can try running the sketch from a local server, checkout [this page](https://github.com/processing/p5.js/wiki/Local-server) for how to do that.

[2020-08-17 05:37] arvind088 opened #4748 "how to createCanvas to the center in p5js editor"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

[2020-08-17 06:25] Swapnil-2001 commented on #4747
Thank you, I'll certainly try that.
And, it might really be a problem at my end, but the file just would not open -- it would keep showing me a 'loading...' screen.

[2020-08-17 06:48] Swapnil-2001 commented on #4748
You may use a variable to store a pointer to the canvas you created, and then call **.position()** on this variable.
[https://p5js.org/reference/#/p5.Element/position](url)
You can adjust the position as you like.
There might be a better way to do it but this is one way.

[2020-08-17 08:49] limzykenneth commented on #4748
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-08-17 08:49] #4748 closed

[2020-08-17 12:13] KrishGarg opened #4749 "Uncaught TypeError: Cannot read property 'width' of undefined (Image Function)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v0.8.0
- Web browser and version: Chrome | Version: 84.0.4147.125
- Operating System: Windows | Version: 10.0.19041 Build

[2020-08-17 16:57] limzykenneth commented on #4749
the p5.js version you are using (`0.8.0`) is rather old, please try updating to the latest version (`1.1.9`) and try again.

Generally if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-08-17 16:57] #4749 closed

[2020-08-17 16:57] limzykenneth commented on #4744
I think this is a bit too specific and out of scope of the project. It would work great as an addon library though.

[2020-08-17 19:21] jimmymorris commented on #4630
+1 for this

[2020-08-18 02:42] LingDong- opened #4750 "Behavior of rotationX/Y/Z and accelerationX/Y/Z on mobile browsers"
Hi, I would like to report some inconsistencies/failures of rotationX/Y/Z and accelerationX/Y/Z on different mobile browsers, and propose some fixes.

- A demo comparing current behavior and my patches can be found at [https://p5-accelerometer-test.glitch.me/](https://p5-accelerometer-test.glitch.me/)
- The full code of the above can be found at [https://glitch.com/edit/#!/p5-accelerometer-test](h

[2020-08-18 13:45] NamanSharma5 opened #4752 "Moving canvas around screen dynamically rather than fixed at beginning with setup()."
#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Feature enhancement details:
Can you add functionality (if it does not already exist) , allowing users to move the canvas around based on button presses/ window resizing /etc ? This would be ideal if users resize the window allowing for canvas to be made smaller and re-positioned.

This can be facilitated through the d

[2020-08-18 16:19] montoyamoraga commented on #4752
hi @NamanSharma5, thank you for your suggestion!

we have functions intended for this, maybe it should be converted to a tutorial?

i wrote this script for showing how to re-position the canvas

https://editor.p5js.org/montoyamoraga/sketches/2Zxxu_GxA

and here i am pasting it too :)

// variable to store canvas object
let myCanvas = null;

// variables for storing an offset to compensate for chan

[2020-08-18 19:14] MikhaelOP9 opened #4754 "p5.score doesn't work"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- X Sound

#### Details about the bug:

- p5.js version: /** [p5.sound]  Version: 0.3.12 - 2020-06-26 */
- Web browser and version: Firefox 79
- Operating System: Windows
- Steps to reproduce this: the

[2020-08-18 19:16] MikhaelOP9 commented on #4754
let hh, kick, glitch, myPart, myPartB,  sliderGlitch, sliderKick, sliderHh,
glitchRate, button, buttonStop, score;

let hhPat = [0,0,1,0,0,2,1,0];
let hhPatB = [1,1,1,1,1,2,1,1];
let kickPat = [1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0];
let kickPatB = [1,1,1,1,1,1,1,1];
let glitchPat = [2,0,0,0,2,0,0,0,2,0,0,2,0,0,2,0];
let glitchPatB = [2,2,2,2,2,8,8,0,2,0,0,2,0,0,2,0];

function preload() {
  hh = loadSo

[2020-08-19 04:01] chanof commented on #4401
Hi does anybody find a solution?

[2020-08-19 04:20] pedrotpo commented on #4645
Hello! Wanted to see if I could tackle some of the examples (except for the ones @1lias might be currently working on, of course). Are there any examples up for grabs?

[2020-08-19 12:12] limzykenneth commented on #4750
Thanks for the write up.

p5.js doesn't aim to handle this directly and a user side fix is relatively [straightforward](https://github.com/processing/p5.js/issues/4367#issuecomment-599093466). We can just document this behaviour and fix instead of implementing another function that is just a thin wrapper around it.

For me acceleration is working fine on iOS with a 1st gen iPhone SE. Do you have p

[2020-08-19 12:23] limzykenneth commented on #4645
@pedrotpo As far as I know, there isn't any of them that are being worked on. If you like, leave a comment here with a shortlist of examples you are working on then we can track who is working on what. Thanks!

[2020-08-19 15:59] TakumaKira commented on #4707
Hi @ednl,

I looked into the change history of the repository, and I couldn't find any reason the conditional statement on line 559 is needed. Also, the unit test for my changes passed. So I believe this library can allow your case and created the PR #4756 to allow drawing a point with strokeWeight < 1.

[2020-08-19 16:44] TakumaKira commented on #2309
@all-contributors I'm not good at manipulating git and had included the change in the PR of the contribution itself #4756. Please tell me if I have to do something to be added...

[2020-08-19 16:46] TakumaKira commented on #2309
@all-contributors please add @TakumaKira for bug, code and test.

[2020-08-19 19:13] ednl commented on #4707
@TakumaKira Fantastic, thanks.

[2020-08-19 19:45] LingDong- commented on #4750
Hi, thank you for the reply.

Sounds reasonable, but I hope the documented fix will be more sophisticated than the relatively straightforward snippet you linked to. If the device does not require asking for permission or implements it in another way than `DeviceOrientationEvent.requestPermission`, users will get an error by pressing the button. If you take this into account (and possibly many othe

[2020-08-19 21:13] stevenraysimon commented on #4588
Yes, so here are some screenshots of what is happening for me in IE 11
![uspecified-error](https://user-images.githubusercontent.com/10055349/90690211-eb2e1a80-e236-11ea-9ddf-15909140fa7f.jpg)

[2020-08-20 00:42] chanof opened #4758 "Integrate P5.js canvas into bootstrap template"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (canvas into div, P5.js vs CSS)

#### Details about the bug:
P5 version: p5.js v0.10.2 October 14, 2019

Tested on Safari and Chrome with same result.

Im trying to insert a P5.js sketch ins

[2020-08-20 04:17] chanof commented on #4758
By using the p5 web editor it was out fixed.

[2020-08-20 04:17] #4758 closed

[2020-08-20 16:47] bobcgausa opened #4759 "CreateImg Fails if all 4 args present, works with 3 args!!"
#### Most appropriate sub-area of p5.js?

- [X ] Dom)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System: <!- iPad latestiOS -->
- Steps to reproduce this:

[2020-08-20 19:40] Swapnil-2001 opened #4760 "Addition of modulus function in p5.js reference"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
The p5.js reference does not currently have a modulus function built into it. Would it be useful if there was an implementation of th

[2020-08-24 04:32] miningape commented on #4747
I've had this same issue, I solved it by using another source for that library, so it seems like theres something wrong with the file supplied

[2020-08-24 04:51] miningape commented on #4684
You can add this as a function in your code

[code]

I havent tested it but this should work, ill try adding it to p5 soon

[2020-08-24 07:44] #4611 closed

[2020-08-24 14:24] #4710 closed

[2020-08-26 04:14] marcusround opened #4766 "SaveTable not handling commas as expected"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v1.1.9
- Web browser and version: Firefox 79.0, Chrome 84.0.4147.135
- Operating System: Windows 10
- Steps to reproduce

[2020-08-26 04:35] marcusround commented on #4766
As a further example,

With file `old.csv`:

[code]

Run this sketch:
[code]

Get this output:
[code]

The `"` have been dropped.

[2020-08-26 09:42] MuLx10 commented on #4766
Hello @marcusround , I faced a similar issue. So I created a patch for the same. I shall create a Pull Request for the same.

[2020-08-26 13:42] samdelong opened #4767 "Implementation of p5.Vector setHeading()"
I am opening a new issue to implement a `setHeading` method for the p5.Vector class. Currently, p5 contains a function `rotate()`, which rotates the vector `by` a certain value, but no such method exists for setting the vector's rotation to an explicit direction. I currently have something working, and am planning to pull request an implementation.

An implementation would look as follows:
[code]

[2020-08-26 14:42] MuLx10 commented on #4766
I thought of inserting a check [here](https://github.com/processing/p5.js/blob/c1c672272ba613ed713a1a26463a8376565e0792/src/io/files.js#L1721) and [here](https://github.com/processing/p5.js/blob/3f0b2f0fe575dc81c724474154f5b23a517b7233/src/data/p5.TypedDict.js#L349) to see if the element type is string, and then accordingly surround that with quotation marks.

[code]

I'd love thoughts or advice o

[2020-08-27 02:46] montoyamoraga opened #4771 "add chtushar as a contributor"
@all-contributors please add @chtushar for documentation

[2020-08-27 02:47] montoyamoraga commented on #4771
@all-contributors please add @chtushar for docs

[2020-08-27 02:50] #4771 closed

[2020-08-27 04:19] chtushar commented on #4771
@montoyamoraga Thankyou so much :). Can you add me for code as well because my commits were merged yesterday?
[Link to my commits](https://github.com/processing/p5.js-website/commits?author=chtushar)

[2020-08-27 14:11] montoyamoraga commented on #4771
@all-contributors please add @chtushar for code

[2020-08-28 13:57] surajsurajsuraj commented on #4766
Hello @MuLx10 , I think instead of checking if it is a string, you should be checking:

- if it has comma separated values.
- if the ['ext' is 'csv'](https://github.com/processing/p5.js/blob/c1c672272ba613ed713a1a26463a8376565e0792/src/io/files.js#L1699)  then only you need to insert double quotes since in [.tsv](https://github.com/processing/p5.js/blob/c1c672272ba613ed713a1a26463a8376565e0792/src

[2020-08-28 14:06] surajsurajsuraj commented on #4766
Although I think there is also a code redundancy at this [else if](https://github.com/processing/p5.js/blob/c1c672272ba613ed713a1a26463a8376565e0792/src/io/files.js#L1722)  which is not required because the ending [else](https://github.com/processing/p5.js/blob/c1c672272ba613ed713a1a26463a8376565e0792/src/io/files.js#L1724) also has the same code.

[2020-08-28 16:27] MuLx10 commented on #4766
@surajsurajsuraj That would be great, but the issue is to check whether the string includes a `,` it needs to check the entire string, which may be a problem if strings are very long.
I believe we should prefer performance over redundancy.

[2020-08-28 16:42] surajsurajsuraj commented on #4766
@MuLx10  You are right it will indeed create a problem. Then we have to think and wait of an efficient solution.
I think a commit should be made and issue should remain open with a different title and type to increases the efficiency.

[2020-08-28 16:55] surajsurajsuraj commented on #4766
@MuLx10  If you refer to src/io/p5.Table.js , they have used regex for identifying and modifying values hence I don't think a simple `include` which has lesser complexity than all of them will have any major impact on the performance.

[2020-08-29 05:55] surajsurajsuraj commented on #4747
Same issue

[2020-08-29 22:44] mishazawa commented on #4767
Hello.

AFAIK: vector is object that have _direction_ and length. By creating vector you already set his rotation that point to direction.

Take a look at [fromAngle](https://p5js.org/reference/#/p5.Vector/fromAngle) function. I think it doing exactly what you want.

Probably this operation may be cheaper (for CPU cycles) when you create new vector and rotate it. Because `heading()` calculates arc

[2020-08-30 04:26] samdelong commented on #4767
Hi mishazawa

The issue with creating a new vector altogether with `fromAngle()` would be any user-defined characteristics of the vector would be erased. However I can see why my implementation would be poor practice for performance.

Perhaps we could copy the code from `fromAngle()`, but instead of returning a new vector, we just modify the vector in the current context?

[2020-08-30 09:36] AadiDasLM opened #4780 "Center function is not working.."
The rectMode(CENTER) is not working even when I write center in capital letters.
![The Issue)](https://user-images.githubusercontent.com/70469181/91655943-3d422c00-ead2-11ea-8514-f62d74c1e1cb.png)

[2020-08-30 10:05] limzykenneth commented on #4780
It is working as intended, I'm not sure what the expectation here is but `rectMode(CENTER)` changes the way the four arguments (`50, 50, 30, 30` in this case) is interpretated, in that the first two arguments define where the **center** of the rectangle should be (instead of where the **top left** corner of the rectangle which is the default).

If you meant to place the rectangle at the center of

[2020-08-30 10:05] #4780 closed

[2020-08-30 10:49] mishazawa commented on #4767
Which ones? Vector has only [x, y, z] properties.
If you trying to store any other data inside vector f.e.:
[code]
I highly recommend not to do it. Because vector is designed to store only direction and length (through coordinates).
Instead you could create your own structure f.e.:
[code]

Proper way is to create new vector. I don't see any use cases when you should modify vector instead just re-w

[2020-08-31 00:10] mkmori commented on #4743
I think I've figured out a partial workaround (for my purposes) for the missing modelX/Y/Z() functions, using the canvas "Model View" matrix _uMVMatrix_ and p5.Matrix functions:

https://editor.p5js.org/mkmori.05/sketches/uoPdThLGU

`myCanvas = createCanvas( 100, 100, WEBGL ); //to get canvas context....`
`//myMvMat = myCanvas.uMVMatrix; //this doesn't seem to work...idk why....`
`copiedMatrix = m

[2020-08-31 02:00] MDeter67 opened #4783 "Random is not defined"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [let r = random (0,180;)] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

I am using macOS Catalina 10.15 with Microsoft Edge Version 85.0.564.41. Whe

[2020-08-31 02:28] connieliu0 commented on #2309
@all-contributors please add @connieliu0 for code and design.

[2020-08-31 06:39] anchnk commented on #4783
Hello @MDeter67,

Thank you for opening this issue.

* Do you have any minimal code example that would allow us to reproduce the problem?
* Are you trying to use the `random` function outside p5 functions (i.e before `setup()`)?

If yes, I would suggest that you have a look at [this article](https://github.com/processing/p5.js/wiki/p5.js-overview#why-cant-i-assign-variables-using-p5-functions-and-

[2020-08-31 17:56] #4408 closed

[2020-09-01 02:12] isaacvr opened #4789 "Fill function is not working for certain orientations in WEBGL"
When I combine lines and curves, there are certain orientations where the `fill` function doesn't work properly. In the example below, I draw that shape (that is one of the stickers of the Ivy cube) horizontally and it doesn't fill the shape, but vertically it does. What is happening here?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Color
- [ ] Core/Env

[2020-09-01 13:51] samdelong commented on #4767
I can see where you're coming from, but often times p5.js is used by beginners, and having to create a new vector using `fromAngle()` is pretty unintuitive. I think a `setHeading()` function would help ease some confusion. If not it's own implementation, an alias would still be helpful.

Also just to note, a vector's `z` property would be lost if using the `fromAngle()` function. Even though the `

[2020-09-01 16:26] SouzaGuilherme commented on #2263
Hello, I see that there is still a limit on vertices. When using a parser (https://webgl2fundamentals.org/) browsers support such a quantity. Wouldn't p5.js achieve the same? (I don't know the lib in-depth, I'm trying to use it)

[2020-09-02 12:51] juandelperal opened #4790 "Variable fonts manipulation in p5"
### How would this new feature help increase access to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Are there any plans to add variable fo

[2020-09-02 14:28] limzykenneth commented on #4790
This has been discussed in #4511 and #2522.

[2020-09-05 02:28] #4783 closed

[2020-09-06 10:07] tobidot commented on #4669
Had the same issue, took me a while to even consider that
p5.setup might have been called twice.
So i just test now if setup has already been executed and skip it.

[2020-09-07 11:37] juandelperal commented on #4790
OK, thanks, will close this issue

[2020-09-07 11:37] #4790 closed

[2020-09-07 12:45] micuat opened #5151 "p5.Vector explanation of setMag"
**Actual Behaviour**

in https://p5js.org/reference/#/p5.Vector

 **Expected Behaviour**

if I understand correctly

[2020-09-08 12:52] micuat opened #4791 "p5.Geometry.prototype._getFaceNormal: face has colinear sides or a repeated vertex"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: any
- Operating System: any
- Steps to reproduce

[2020-09-08 21:31] Haksell opened #4792 "randomGaussian() with sd=0"
When using `randomGaussian(mean, 0)`, the function should return the mean. It does not.

From my tests, it looks like the sd is replaced with a value of 1.

It might not sound useful to add this functionality but my animation has a slider to control the randomness. When it is at 0, I want the animation to be fully deterministic.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web A

[2020-09-09 11:48] limzykenneth commented on #4792
This line [here](https://github.com/processing/p5.js/blob/1.1.9/src/math/random.js#L227) should check existence of `sd` instead of using the `||` operator which will evaluate `0` as falsy thus changing the value to `1`.

[2020-09-10 02:51] Haksell commented on #4792
It looks like you can use the [null-coalescing operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_Coalescing_Operator) (`const s = sd ?? 1;`), which is made specially for this case (and "").
It is from ES2020 though, so depending on how the library is built, might not be a good idea. https://caniuse.com/mdn-javascript_operators_nullish_coalescing

[2020-09-13 13:24] sushant52 opened #4794 "Incorrect behaviour with the borders in a grid"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
I have provided a link to the code. It is supposed to generate a 2D grid with borders and select a

[2020-09-13 15:04] limzykenneth commented on #4794
It seems like a very low level hardware or browser implementation issue, as such not much we can solve as is.

I would suggest not using stroke in this case for drawing a grid, instead use `line()` instead to draw the grid on top of the rectangles drawn without a stroke. The result should be more consistent that way. If you need further help do post them on the [forum](https://discourse.processing

[2020-09-13 15:04] #4794 closed

[2020-09-14 09:40] limzykenneth commented on #4792
The library does use babel support newer syntax although I'm not sure if babel support nullish coalescing yet. @outofambit Do you perhaps know more about the possibility here?

[2020-09-14 17:01] ronenwo commented on #2375
I needed something similar - i wanted in angular to add p5.play.

angular.json:

"scripts": [
              {
              "input": "node_modules/p5/lib/p5.min.js",
              "inject": true,
              "bundleName": "p5"
              },
              {
              "input": "node_modules/p5/lib/addons/p5.sound.js",
              "inject": true,
              "bundleName": "p5.sound" },

[2020-09-15 04:55] TheRogue12 opened #4795 "function keyPressed() not working"
Whenever I try to use the keyPressed() function in my program, it doesn't work (no matter where I call it). Is the function broken, or am I doing something wrong? Here is my program:
`var x, y;
var shape;

function setup() {
  createCanvas(400, 400);
  background(0);
  smooth();
  stroke(255, 0, 255);
  fill(255, 0, 255);
  x = 0;
  y = 0;
  shape = 0;
}

function draw() {
  background(0, 0, 0, 20

[2020-09-15 04:55] #4795 closed

[2020-09-16 13:05] Moosdijk opened #4796 "arrayCopy is depreciated"
Hi all,

I've noticed that the arrayCopy() function will be removed from further versions of p5.js, but the [reference page](https://p5js.org/reference/#/p5/arrayCopy) does not list an alternative.

Is there an alternative in the works, a better option or will we have to go back to for() loops (which the reference page states is less efficient)?

Thanks!

[2020-09-17 10:35] limzykenneth commented on #4796
You can use the native [`copyWithin`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/copyWithin) instead.

[2020-09-17 11:12] Moosdijk commented on #4796
thanks for your help!

I have also noticed that [shorten()](https://p5js.org/reference/#/p5/shorten) and [sort](https://p5js.org/reference/#/p5/sort) do have an alternative. Maybe it's worth updating the arrayCopy reference too.

[2020-09-17 18:35] dipamsen opened #4797 "p5.Element.parent() should return p5.Element instance"
#### Most appropriate sub-area of p5.js?

- DOM

#### Feature enhancement details:

`p5.Element.prototype.child()` and `p5.Element.prototype.parent()` should return `p5.Element` instance instead of returning HTML DOM node so that `.show()`, `.hide()` and other `p5.Element` functions can be called.

Current:
[code]
Suggested:
[code]

We won't be losing any functionality as DOM node can be accessed

[2020-09-17 21:15] limzykenneth commented on #4797
This is technically a breaking change so I wouldn't recommend changing the implementation at this point.

[2020-09-17 21:17] limzykenneth commented on #4796
The alternative should have been listed but it's not rendered on page (it is in the inline reference). I'll reopen this issue to track that the reference should include suggestion for alternative.

[2020-09-19 13:13] Aloneduckling commented on #4645
Hello! I am working on this issue.
I have already worked on the code (removed norender class from the required divs). The examples are now executing. But when I preview the website locally there seems to be some problem with the CSS. I have not changed any code exept the one mentioned.
![dispProblem](https://user-images.githubusercontent.com/54030684/93668067-d815a100-faa7-11ea-83dc-8ba213630449.p

[2020-09-19 13:15] limzykenneth commented on #4645
I'm doing some work on the CSS at the moment as things are not looking right on the website. Maybe you will need to wait until that is done, I'm estimating a couple days to finish.

[2020-09-19 14:29] Aloneduckling commented on #4645
Ok! I will wait then.

[2020-09-19 17:48] HeroicHitesh commented on #4796
@limzykenneth I guess the alternative is not listed as you can see [here](https://github.com/processing/p5.js/blob/04cd6850a674335b3d5f759b039e0144a103a2fc/src/utilities/array_functions.js#L51)
I am ready to work on this issue, let me know if I can start working on it.

[2020-09-19 19:16] alsumwas opened #4798 "Live Input Sound"
I was playing around with one of the examples and found that it doesn't work outside of the editor.   The red dot indicating that audio is inputing is active but the ball does not go up when you make noise.
here is the sample in the editor, you have to go to share and open it in a browser to see it not work.

https://editor.p5js.org/p5/sketches/sWixDmW4K8

[2020-09-19 23:16] limzykenneth commented on #4798
The mic input requires a user input in order to start recording audio, it is a relatively recent change so the sample code is not up to date. We provided a function to help with this called `usertStartAudio`, you can see how to use it [here](https://p5js.org/reference/#/p5/userStartAudio) and [here](https://p5js.org/reference/#/p5.AudioIn).

When in the editor it works because clicking on the run

[2020-09-19 23:16] #4798 closed

[2020-09-21 00:02] outofambit commented on #4792
I took a quick look at this and while our babel build process does support this, our linter isn't setup to handle it. I think we would need to use https://github.com/babel/babel-eslint for eslint's parsing for that to longer be an issue. (Right now eslint uses a built-in parser, which doesn't include features that aren't officially part of the JS spec.

[2020-09-21 10:23] limzykenneth commented on #4792
Does setting `env` in `.eslintrc` to `es2020` helps the linting pass? I have a different project that uses the related optional chaining operator (`?.`) that passes linting when set to `es2020`.

[2020-09-21 10:26] #4466 closed

[2020-09-21 16:18] mcturner1995 opened #4801 "PR Process"
Hi Everyone,

My name is Moira and I am the new project lead for p5. As part of my role, I tend to the PRs of the p5 project and p5 website. However, I wanted to get some community input about the PR review process and empower you all to take more ownership of the process. Specifically, my questions are:
How many reviewers should take a look at a PR before it’s ready to merge?
Who should have acce

[2020-09-22 02:19] TheoNeUpKid88 commented on #2309
code: 💻

[2020-09-22 05:42] lmccart commented on #2309
@all-contributors please add @TheoNeUpKid88 for code

[2020-09-22 13:58] montoyamoraga opened #4803 "add @bboure to all-contributors"
@all-contributors please add @bboure for docs

[2020-09-22 14:01] montoyamoraga commented on #4803
closed by  #4804

[2020-09-22 14:01] #4803 closed

[2020-09-22 14:04] montoyamoraga commented on #4801
hi @mcturner1995 :)
my guess is at least 1 person reviewing each PR,
i try to take care of the issues i know how to handle,
and sometimes ask for review of people who i know can take care of them

maybe we can formalize the process of knowing who can help with what,
we could ask the most active contributors on the repos to this section
https://github.com/processing/p5.js#stewards

[2020-09-22 19:37] aspdev91 opened #4805 "P5 Rendering Bug in iOS Webkit (Black bars and sticky)"
Hi there!

I'm trying to render a video stream from iOS into P5 and ran into this issue where it seems like the video stream is rendered with a boxed, sticky styling. I attached a brief video below of how it looks. I tried to add the video into p.image(...) and nothing is displayed. You can see the video is stuck to the bottom when scrolling.

https://youtu.be/LyqjIzqGy0Y

There's no css files or

[2020-09-22 22:24] limzykenneth commented on #4801
There was some discussion in #3893 and #4230 around this which led to the ideas of stewards that @montoyamoraga linked to.

I think it is good to formalize stewards for different types of contributions to the repos (including the website) and these stewards, apart from being familiar with said area, will also be able to approve and merge the PRs for the most part. A steward will also be responsibl

[2020-09-22 22:27] limzykenneth commented on #4805
Hi @aspdev91

Does this only happens in the Cordova based app or generally? It would be helpful if you can provide a minimal example that we can look at without having to setup a whole Cordova app. Thanks.

[2020-09-22 23:42] aspdev91 commented on #4805
@limzykenneth  I did some further testing without P5 and it seems like this is quite specific to WKWebView. Thanks for helping. Closing this out.

[2020-09-22 23:42] #4805 closed

[2020-09-23 01:18] joemckay5 opened #4807 "Friendly error message for size"
#### Nature of issue?
"Friendly" error message for mistakenly writing size() instead of createCanvas() is incomplete.

- Found a bug (typo really).

The error returns:
"p5.js says: It seems that you may have accidently written size instead of line (bla bla bla)."

[2020-09-23 13:36] yashkhasgiwala opened #4806 "Function to trigger keypress if a certain condition is met."
### How would this new feature help increase access to p5.js?
KeyPress trigger will enable automation and p5.js will have an event handler like the one in jQuery.

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebG

[2020-09-23 13:58] coby1kenobi commented on #1437
Worked for me too! Thanks for this

[2020-09-23 18:43] akshay-99 commented on #4807
Hey @joemckay5 I don't seem to understand the problem here, in terms of what is incomplete or what is the typo. Can you please share the sketch that leads to the message?

[2020-09-23 18:47] dev348 opened #4808 "poseNet nn model using p5.js online editor"
Uncaught TypeError: Cannot read property 'split' of undefined (: line 50)
![image](https://user-images.githubusercontent.com/47909485/94055987-48e7f080-fdfb-11ea-8da9-bbba6420028f.png)

[2020-09-23 18:50] joemckay5 commented on #4807
Sorry for posting in the wrong forum catarak.
The error message is missing the word "createCanvas".   So  it should read:
It seems that you may have accidently written size instead of createCanvas on line()
You can replicate the error by using size instead of createCanvas because you're old and your brain doesn't want to do new things. :)

[2020-09-23 19:11] lmccart commented on #4808
hi @dev348 this looks like it may be an issue with ml5, since it's flagging the line that says "load", which is not a p5 function but a ml5 one. you could try posting your issue on the [ml5 issues](https://github.com/ml5js/ml5-library/issues), or on the [processing forum](https://discourse.processing.org/) for more p5 coding help.

[2020-09-23 19:56] limzykenneth commented on #4806
I don't think the accessibility requirement is met here as I don't see how automation and jQuery parity increase access. It is also not too hard to trigger a keypress function directly with Javascript:

[code]

should trigger a `keypress` event as if the `h` key is pressed and will be picked up by p5.js and any other library.

[2020-09-23 19:56] akshay-99 commented on #4807
@joemckay5 I now see that you were referencing the [size()](https://processing.org/reference/size_.html) function in Java Processing, which is somewhat of similar in use to `createCanvas()`. The friendly error system does not attempt to match things across the separate interpretations (Processing and p5).
As of now, it simply looks in the p5 reference to find something similar in spelling. In this

[2020-09-23 20:01] limzykenneth commented on #4807
@akshay-99 Is there a threhold in terms of similarity that we can tweak for this? Although `line()` is the closest in terms of spelling to `size()` I would say that should be over the threshold for what we should try and match to a specific function and it should just report as an undefined symbol.

[2020-09-23 20:02] #4808 closed

[2020-09-23 20:08] akshay-99 commented on #4807
@limzykenneth I agree. The threshold currently is 2 wrong characters. A threshold of 1 might be too small. It may be possible to account for the probabilities of misspelling a character (using keyboard layouts and stuff), which I am guessing is what more complex algorithms do. Or it the threshold could be variably set to 2 or 1/4 th of word length, whichever is smaller

[2020-09-23 20:13] limzykenneth commented on #4807
Keyboard layouts will probably be a bit unpractical as there are many types of keyboard layout and we can't be sure which the user is using. Basing it on word length could be something to consider.

[2020-09-24 13:16] Pedroxam commented on #3167
Adding shadow to objects is easy :

var context = drawingContext; // or p5.drawingContext
context .shadowOffsetX = 5;
context .shadowOffsetY = -5;
context .shadowBlur = 10;
context .shadowColor = '#FFF';
`

[2020-09-24 20:58] bobcgausa opened #4809 "New p5 svg library, would like some testers"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [library ] Other (specify if possible)

#### Feature enhancement details: https://editor.p5js.org/Bobcook47/sketches/Dk3Osbx3z
Library and many test programs ar

[2020-09-24 21:05] bobcgausa commented on #4630
https://editor.p5js.org/Bobcook47/sketches/Dk3Osbx3z
Can’t help with export
But am lookin for testers on import
Library handles some files and fragments

[2020-09-25 09:42] yashkhasgiwala commented on #4806
@limzykenneth I tried this, it did not work.

[2020-09-25 13:41] #4766 closed

[2020-09-25 22:37] 7Hero commented on #4269
When w and h are even numbers the line is 2 px thick , if the height and witdh are odd then the line will be one pixel.
0,0 doesn't start from the pixel , but between  the pixels.

[2020-09-25 23:40] patleahy opened #4810 "analyze() incorrect written with upper case A in help page for getEnergy"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

p5.sound

#### Details about the bug:

The help page here: https://p5js.org/reference/#/p5.FFT/getEnergy
contains references to

[2020-09-26 13:59] pawki07 opened #4811 "I would like to add some new apis to the list in the wiki page named Loading external files: AJAX, XML, JSON. Please allow me the access to edit it."
### How would this new feature help increase access to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

[2020-09-26 14:03] pawki07 commented on #4811
Th feature which I will add will add some more information to the above mentioned wiki page.

[2020-09-26 15:53] limzykenneth commented on #4811
Hi @pawki07, can you elaborate more on what exactly you are thinking of adding to the wiki?

[2020-09-27 19:57] outofambit commented on #4806
@yashkhasgiwala I agree with @limzykenneth, this would be a new feature and I don't see an angle for [increasing accessibility](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) here. Please post to the [p5.js forum](https://discourse.processing.org/c/p5js/) if you need help with simulating a key click manually.

Happy to revisit this if someone has an argument for how this

[2020-09-27 19:57] #4806 closed

[2020-09-28 03:45] m-hops opened #4812 "Tint is slowing down performance significantly"
Hi there,

I'm sorry if this is the incorrect are to post this in, but I am noticing significant slow down when I apply a tint to an image. When I remove the tint effect, everything goes back to normal.

The code, at least the relevant part, looks like this:

let spotlightSpecs = {
  offsetX: -1300,
  offsetY: -800,
}

function preload(){
spotlight = loadImage('assets/images/Spotlight Effect.png')

[2020-09-28 03:47] #4812 closed

[2020-09-28 18:25] limzykenneth commented on #4796
@HeroicHitesh Sorry for the late reply. Yes you can go ahead and add the alternative, you can just copy the one that is listed [here](https://github.com/processing/p5.js/blob/04cd6850a674335b3d5f759b039e0144a103a2fc/src/utilities/array_functions.js#L75). Thanks!

[2020-09-28 18:26] limzykenneth commented on #4645
@Aloneduckling The changes are merged now so you can start with this if you like.

[2020-09-29 02:52] lmccart commented on #4809
hey @bobcgausa these are issues are mostly for problems with the library or new feature requests. for more response and feedback on your library, I would suggest posting on our [forum](https://discourse.processing.org/)

[2020-09-29 03:07] Aloneduckling commented on #4645
Ok thanks!

[2020-09-29 07:38] pawki07 commented on #4811
I would like to add some more APIs in the list.

On Sat, 26 Sep 2020 at 21:23, Kenneth Lim <notifications@github.com> wrote:

[2020-09-29 09:44] nakul-shahdadpuri commented on #4811
@pawki07 The following [APIs](https://p5js.org/reference/#group-IO) already exist for loading JSON and XML files. Also for contributing to p5.js, you do not need explicit write access. You can try to fork the repo and make the changes there and then initiate a [pull request](https://opensource.com/article/19/7/create-pull-request-github). :)

[2020-09-29 09:58] pawki07 commented on #4811
That's great. Thank you for your help.

On Tue, 29 Sep 2020 at 15:14, Nakul Shahdadpuri <notifications@github.com>
wrote:

[2020-09-29 13:07] #4796 closed

[2020-09-29 13:51] limzykenneth commented on #4811
The wiki edit access do require permission and isn't editable via a PR. However I still need the exact intended changes you want to make before I can grant edit access.

[2020-09-29 13:54] #4809 closed

[2020-09-30 17:30] tyrannny opened #4815 "createVector is not defined"
### How would this new feature help increase access to p5.js?

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Hi, please add the feature to allow us

[2020-09-30 19:05] dougjam opened #4816 "Improved documentation for p5.Element style"
-#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

The documentation for p5.Element style is very light:
  https://p5js.org/reference/#/p5.Ele

[2020-09-30 21:16] limzykenneth commented on #4816
It isn't really practical to list the available options as `style` accepts any valid CSS property of which there are many and the ways to use each property are themselves varied as well, it will be like trying to document a whole programming language into this one function's reference.

[2020-09-30 21:59] samporapeli commented on #2865
Hello :wave:

I noticed a tiny incoherence in [this reference page](https://p5js.org/reference/#/p5/dist) and decided to fix it (in a way that makes sense to me). I created [a pull request draft #4817](https://github.com/processing/p5.js/pull/4817) and would appreciate if I could get some feedback on it :)

Best,
Sampo

[2020-10-01 00:56] owenbmcc opened #4818 "Animated GIF frame delay off when drawing multiple times per frame"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Rendering an animated GIF multiple times in one frame causes the frame rate to increase rela

[2020-10-01 02:48] Aloneduckling commented on #4645
hello! I have created a pull request. Please check it.
Thanks,
Aloneduckling

[2020-10-01 02:53] Aloneduckling commented on #4645
Just asking, should I add my name to the contribution list?

[2020-10-01 07:26] dhowe opened #4820 "Suggestion: provide shader for each p5js filter"
Suggestion: make available the set of filters in p5js (currently THRESHOLD, GRAY, OPAQUE, INVERT, POSTERIZE, BLUR, ERODE, DILATE) as shaders (with the same names), so that users can more easily port sketches between default and WEBGL renderers.

USE-CASE: Student has performance problems in sketch using filters. Instructor would like to suggest WEBGL, but the filter doesn't exist as a shader (or i

[2020-10-01 23:48] musabkilic commented on #4792
How about using default parameters(`randomGaussian = function(mean, sd = 1)`), see https://caniuse.com/mdn-javascript_functions_default_parameters . Or `const s = sd === 0 ? 0 : sd || 1;`?

[2020-10-02 09:57] limzykenneth commented on #4792
Yes, I think default parameters could be a good solution.

[2020-10-02 11:16] musabkilic commented on #4792
Cool! Setting sd to 1 with default parameters, removing s altogether and replacing it with sd. I think I can send a pull request in a couple of hours.

[2020-10-02 15:10] alsumwas opened #4823 "Downloaded Sketches not Working in Chrome"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

None o

[2020-10-02 17:11] akshay-99 commented on #4818
Hi @owenbmcc that's interesting. So as correctly identified in your fix, the problem happens because [`timeDisplayed`](https://github.com/processing/p5.js/blob/3f0b2f0fe575dc81c724474154f5b23a517b7233/src/image/p5.Image.js#L228) is updated each time the gif is drawn. If the same GIF instance is drawn multiple times in a frame, `timeDisplayed` will be updated multiple times in the same frame. This

[2020-10-02 19:02] lmccart commented on #4823
this looks like an issue with p5.sound. i will transfer your issue to that repository.

[2020-10-02 21:14] stalgiag commented on #4818
Thanks for reporting this @owenbmcc ! Also -- hi! I also teach at a CUNY school (CCNY).

So since I didn't think to prepare for this behavior when making the GIF functionality, I decided to take a crack at fixing it. @akshay-99 I mostly took your suggestion. This was what I wanted to do when originally implementing the GIFs but I didn't because of potential differences between when the GIF is load

[2020-10-02 21:26] stalgiag commented on #4820
Interesting idea! @aferriss has already done most (all?) of the hard work [for this in this repo.](https://github.com/aferriss/p5jsShaderExamples)

Typically, I would direct a student to this repo when I was suggesting this route. But perhaps it is worth the addition to library size (likely small) to have these as p5.Shader constants.

I think that performance is really important to consider right

[2020-10-02 21:35] stalgiag commented on #4815
Hi! I would [recommend reading this to learn more](https://github.com/processing/p5.js/wiki/p5.js-overview#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup) and then if your project requires access to p5 functions in the global space I would check out [on-demand global mode](https://github.com/processing/p5.js/wiki/p5.js-overview#why-cant-i-assign-variables-using-p5-functi

[2020-10-02 21:35] #4815 closed

[2020-10-03 16:34] dhowe commented on #4820
Exactly -- I think it would largely be a question of syncing up the names. And seems a good thing to do whether or not we want to have them invoked automatically when use the GL renderer.

[2020-10-03 21:47] outofambit commented on #4801
Hi @mcturner1995! Thanks for starting this conversation :)

@limzykenneth I love that breakdown of different types of PRs and the review requirements you proposed there. That sounds great to me. :)

Yeah (I think?) that was the initial intention for the stewards concept. (I've been slow to add myself there, but going to do that soon. @limzykenneth @montoyamoraga no pressure, but I think you'd be g

[2020-10-03 22:10] montoyamoraga commented on #4801
hi @outofambit i just saw your PR request, it looks great to me, and yes i would love to be added as steward, i will do my own PR soon about it too, and i agree with the breakdown of @limzykenneth of PRs :)

in my case i try to merge PRs that i am comfortable with, and also close issues that are either stale or need no further discussion, and also i try to add people to the all-contributors list,

[2020-10-04 17:29] outofambit commented on #4792
This might work! i think we'll have to upgrade eslint to use that, but that's not a big deal.

[2020-10-04 17:56] outofambit commented on #4820
This sounds like a great idea to me! 💜

[2020-10-05 02:42] gregsadetsky opened #4828 "`loadStrings` fails to load files with large number of lines (>100k)"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: main branch as of Oct 4 2020, commit c1640a7cb11c25145e9b9dd561ba27f7b49fcde4
- W

[2020-10-05 04:04] Picucu opened #4830 "DOM color picker not working on windows 10 chrome?"
Hi! I was trying out the color picker DOM widget but the page just turns blank, anyone have any ideas why? I put the DOM library in the html and I tried with the pre made example code on the website too, but nothing seems to work. It does work normally in the web editor though. Any Ideas?

[2020-10-05 11:08] limzykenneth commented on #4830
Hi @Picucu, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-10-05 11:08] #4830 closed

[2020-10-05 13:57] jywarren opened #4831 "p5.dom.js deprecation notice and removal from contributor-docs"
Hi all, first, <3<3<3 for p5js -- 🎉  i love this community! Thanks in advance.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- Steps to reprodu

[2020-10-05 14:40] DhairyaBahl commented on #4711
@aferriss I would like to work on this issue if its available ??

[2020-10-05 16:02] montoyamoraga commented on #4831
hi @jywarren, you are on the right track, we merged p5.dom.js into p5.js,
it was announced for v1.0 release on this article
https://medium.com/processing-foundation/p5-js-1-0-is-here-b7267140753a

i didn't understand the problem with the CDN, i opened the link
https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js
and there was a file there, is that not p5.dom.min.js?

[2020-10-05 16:06] montoyamoraga commented on #4831
and yes, you are right, the document at
https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md
needs to be updated to reflect that p5.dom.js was merged in the core, the example mentioned should be taken from the p5.sound.js, (p5 accesibility as far as i know is being merged into p5.js so no need to mention it on this doc).

[2020-10-05 17:03] novachief101 opened #4833 "Support for colour gradients"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
Before switching to p5js, I learnt the Canvas API (which, as far as I know, is what along wit

[2020-10-05 17:03] Vannman774 opened #4834 "What Is wrong with Create Sprite?"
If someone could let me know how I am to add a sprite to my canvas, that would be great! I am new to p5 and I could use some help.
               Thanks!

![image](https://user-images.githubusercontent.com/71670022/95109835-1e573b00-070b-11eb-8afd-462d158aafb6.png)

[2020-10-05 17:18] surajsurajsuraj commented on #4834
You can use semi-colon(;) or don't enter anything for ending the statement.
A comma after 'var tower' will give an error.

[2020-10-06 10:39] limzykenneth commented on #4792
@outofambit Can you have a look at #4822 and if that works we can defer changing eslint rules until we need it.

[2020-10-06 10:45] limzykenneth commented on #4833
To me this sound like an interesting idea, however currently we have decided to only accept new features that increases access (you can read more [here](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md)). Can perhaps a case for increased access be made here for this feature?

[2020-10-06 10:48] limzykenneth commented on #4834
Hi, you have a comma at the end of the first line after `var tower` which is causing the syntax error (it is expecting another variable name), remove that comma and it should run.

If you need futher help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-10-06 10:48] #4834 closed

[2020-10-06 11:55] novachief101 commented on #4833
I'm sorry I didn't read contributor docs, thanks for the reply.

[2020-10-06 13:52] montoyamoraga commented on #4833
thanks @novachief101 !
i will close this issue for now, thank you for your contribution
(and don't be sprry about your english, it's great :) )

[2020-10-06 13:52] #4833 closed

[2020-10-06 15:22] jywarren commented on #4831
Strange... i'm sorry, you're right, the CDNs seem to be working now. I've changed my demo now so it's hard to backtrack and see, but the CDN files themselves seem to load fine. Maybe it was intermittent? Sorry to bother!

Would you like me to take on the docs changes in a PR? I'm happy to just cut out the parts about the independent `dom.js` file and perhaps put a parenthetical note that it is now

[2020-10-06 15:28] montoyamoraga commented on #4831
@jywarren thanks for pointing all of that out!

about the docs changes, they need to be updated, and for that we need to have an example that uses the p5.sound.js library, and remove the DOM ones, it seems like a long fix, if you want to tackle it please submit a PR and mention this issue :)

as for leaving a deprecation notice on the p5.dom.js old link, i have no idea, i'm tagging @limzykenneth w

[2020-10-06 15:45] jywarren commented on #4831
OK, i'll try to dive into this in the next day or two but leaving it open to anyone else too if someone is faster 😄  -- anyone can just leave a comment here so we don't overlap! Thanks!

[2020-10-07 13:54] stalgiag opened #4839 "Should deltaTime account for throttling of unfocused tab?"
Hi! This came up while fixing a problem with duplicate GIF timing (see discussion in #4824 ). Wanted to ask a larger question about timing and `deltaTime` here before throwing a workaround into the GIF timing.

My question is: Should a coder expect there to be unpredictable spikes in `deltaTime` when coming back to a sketch after switching tabs?

[This sketch illustrates this.](https://editor.p5js

[2020-10-07 13:57] #4792 closed

[2020-10-07 14:01] limzykenneth commented on #4831
A deprecation notice could be misleading, a redirect to [`p5.Element`](https://p5js.org/reference/#/p5.Element) could be considered though I can't think of an elegant way to do it except for redirecting with JS.

[2020-10-07 14:08] limzykenneth commented on #4839
I'm thinking of this in terms of physics engine update, would the expectation be that the physics stops on unfocus? Also I'm not 100% sure the animation frame pausing on unfocus behaviour is consistent enough to not cause sync issues.

From my experience (ie. may be wrong) unfocus event also fires when the window is not active but the tab is on top, in which case the animation frame do continue to

[2020-10-07 19:06] reaper787 opened #4841 "mouseX and mouseY"
mouseX and moseY dont work` `

[2020-10-07 19:38] montoyamoraga commented on #4841
hi @reaper787, thanks! most probably they work and there is a problem with your particular code,
we suggest uploading an example using the editor.p5js.org,
and share that link on our forum discourse.processing.org/ to ask for help :)
i will close this issue for now

[2020-10-07 19:38] #4841 closed

[2020-10-08 07:41] OrionStark commented on #2375
@ronenwo Is it working?

[2020-10-08 16:08] nsmarino opened #4842 "Link to Luisa Pereira's 'Looking Inside p5.js' on Contributors Intro page results in 404"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Contributor Docs)

#### Details about the bug:
Link to Luisa Pereira's 'Looking Inside p5.js' on the [Contributors Intro](https://p5js.org/contributo

[2020-10-08 16:31] nsmarino commented on #4842
The videos (2 in english and 2 in spanish) can be found at also be found in a different location on luisapereira.net [here](https://www.luisapereira.net/teaching/materials/processing-foundation). Perhaps we could update the readme to reflect this?

[2020-10-08 20:09] #4828 closed

[2020-10-08 20:13] limzykenneth commented on #4842
@nsmarino Feel free to submit a PR with those links updated to where the tutorial is at now. Thanks.

[2020-10-09 01:31] lumiaalvarez opened #4843 "Posible example error in Amplitude Reference"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible)

#### Feature enhancement details:

Hi, in Amplitude reference (exactly https://p5js.org/reference/#/p5.Amplitude), the example

[2020-10-09 13:06] nsmarino commented on #4842
Great, I will take care of this today.

[2020-10-09 13:36] #4842 closed

[2020-10-09 22:16] outofambit opened #4848 "Add more areas to issue templates"
Here's what's on my list so far, please suggest more if you have them!

- build process
- localization tools
- unit testing
- friendly errors

(discussed with @limzykenneth in https://github.com/processing/p5.js/pull/4825#issuecomment-703991670)

[2020-10-10 18:18] outofambit commented on #4839
I agree with this. Maybe the thing to do here is add to the documentation for deltaTime to communicate this unique case?

From a quick look around the internet, it doesn't seem like there are ways to influence browser-level refresh throttling when tabs aren't foregrounded. (Unless you played audio file in the webpage, which should prevent the throttling.)

I also found that there's [events tied to

[2020-10-11 14:12] Nisseboy opened #4850 "Missing project"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ x] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Google Chrome | 85.0.4183.121 (Official Build) 

[2020-10-11 14:38] limzykenneth commented on #4839
I haven't come across the Page Visibility events before and a quick read through it I'm still not sure does it ties to the pausing of `requestAnimationFrame`? I'm a bit more reluctant to add additional APIs like `onWebPageHidden/Shown`, it would be best if this can be handled by the library itself.

[2020-10-11 14:41] limzykenneth commented on #4850
@Nisseboy I think you probably meant to file this at the [web editor repo](https://github.com/processing/p5.js-web-editor), this is the repo for the p5.js library only. From your description it sounds like you didn't save the first project before creating a new one, projects are not saved by default.

I'm closing this issue here, if you have further problems with the editor please file the issue t

[2020-10-11 14:41] #4850 closed

[2020-10-11 23:02] limzykenneth commented on #4811
I'm closing this for now but feel free to respond to the above query and I can reopen the issue if still relevant.

[2020-10-11 23:02] #4811 closed

[2020-10-11 23:05] limzykenneth commented on #4744
@WojtekTB Sorry for the very late reply. You can [start here](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md) for a tutorial about creating an addon library. I'm closing this issue for now but feel free to continue discussions here if you like.

[2020-10-11 23:05] #4744 closed

[2020-10-12 04:42] #4818 closed

[2020-10-12 04:45] violetcraze commented on #4745
Don't know if `createFileInput()` was created in response to this issue but seems like it can be closed now, since the feature already exists.

@WojtekTB If you're still interested here's a link to the reference page: https://p5js.org/reference/#/p5/createFileInput.

[2020-10-12 04:45] #4745 closed

[2020-10-13 03:16] owenbmcc commented on #4839
Fwiw, I use three.js as well, so out of curiosity I did a test on the three.js [clock](https://github.com/mrdoob/three.js/blob/dev/src/core/Clock.js) which has a `getDelta` method that is similar to `deltaTime` in p5 and the tests I did have the same issue as p5 when pausing the animation or changing window focus, the value of `getDelta()` spikes and the animation either jumps or gets stuck.

p5 h

[2020-10-13 08:21] Mark2Mark commented on #4790
The referencing in all discussing issues is an endless loop. If you follow any links that claim "it has been discussed here" you’ll always see the same answer and eventually come back to where you started, without finding an actual issue that’s left open.

Just want to make you aware that the implementation of Variable Fonts might get lost. It should not, Variable Fonts are no marginal fun technol

[2020-10-13 08:23] Mark2Mark commented on #2522
The referencing in all discussing issues is an endless loop. If you follow any links that claim "it has been discussed here" you’ll always see the same answer and eventually come back to where you started, without finding an actual issue that’s left open.

Just want to make you aware that the implementation of Variable Fonts might get lost. It should not, Variable Fonts are no marginal fun technol

[2020-10-13 09:53] limzykenneth commented on #4839
@owenbmcc I wouldn't recommend tying it to blur and focus event as you mentioned switching focus while the window is still visible will fire the blur event as well and I find that potentially unusable especially since I can't pop the developer console out and monitor behaviour there. The page visibility API as mentioned above could be a solution but without trying it I don't know what its actual b

[2020-10-13 15:44] owenbmcc commented on #4839
@limzykenneth I agree that makes sense.

I should have explained more clearly, the solution I came up with for the unfocused tab issue wouldn't pause the sketch completely if you open the console or focus another program.  My approach was to set `deltaTime` to 0 only in the frame directly following a blur event, so if you switch tabs and `requestAnimationFrame` is no longer running, when you retur

[2020-10-14 07:31] weslord opened #4852 "Add static versions of vector functions"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Sometimes I want to use a vector's normalized form in an equation, but I don't want to mutat

[2020-10-14 12:24] dipamsen opened #4854 "Label is not clickable on Radio Buttons with createRadio()"
#### Most appropriate sub-area of p5.js?

- [x] Dom

#### Feature enhancement details:

In radiobutton made with `createRadio()`, when the label is clicked, the RadioButton doesn't get selected.

Current Functionality:
[code]

Enhancement:
 Use unique ID for each `input` `type=radio`, and then use `for` attribute on `label` with that ID
[code]

[2020-10-15 11:14] Toodle-ux opened #4855 "Cannot open p5 online editor on Mac"
I cannot open p5 online editor on Mac, using Chrome or Safari. But I can open the editor on Windows using the same Internet connection...

[2020-10-15 19:11] weslord commented on #4839
For what it's worth, as a user I expect `deltaTime` to be the actual time between frames. If something causes a big drop in framerate, I'd hope to see a big spike in `deltaTime`.

I would much prefer a warning in the documentation explaining that browsers may stop rendering animations when backgrounded, than p5 assuming that I want an artificially small/consistent `deltaTime`.

[2020-10-16 09:40] limzykenneth commented on #4839
@weslord I think that is a reasonable expectation as well.

[2020-10-16 10:35] devangmukherjee commented on #4854
Hi, I would like to work on this issue.

[2020-10-16 13:23] limzykenneth commented on #4854
I would prefer for the relationship to be established with nesting like below:

[code]

To leave open the possibility of user assigned `id`.

[2020-10-16 17:26] stalgiag commented on #4839
I feel differently about this but not enough to advocate for a change.

In general, I do expect `deltaTime` to be the actual time between frames. But I guess I don't ever expect the time between frames to be inconsistent & unpredictable. Coming from Unity, where I primarily work and the original inspiration for `deltaTime` I believe, `deltaTime` can be relied on to never spike in a way that breaks

[2020-10-18 11:17] samyakbambole opened #4861 "High Contrast Mode Bug"
Whenever I visit to someone else's code in full-screen mode, the `</>` icon on the top-right isn't visible properly.

[2020-10-18 11:18] #4861 closed

[2020-10-19 08:44] dievardump opened #4862 "document.cookie should be catched when in environment where it's not a safe operation"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9 (but I guess all using document.cookie)
- Web browser and version: all
- Op

[2020-10-20 16:27] shocknoble commented on #2309
@all-contributors please add @shocknoble for doc

[2020-10-20 17:05] edwin-channel commented on #4275
default camera position is (0,0,625)

[2020-10-21 05:07] kieranbrowne opened #4866 "texture() ignoring uvs for .obj file"
Hi there,

I'm trying to import a basic 3d .obj file and texture into p5js, but the texture appears to be ignoring the uv information in the obj file and misplacing the texture. I've written the equivalent program in processing 3 and it display correctly, so I can be pretty sure it's not an issue with the obj and texture files.

Am I doing something silly, or is this a genuine bug?

#### Most appr

[2020-10-21 08:58] EmmanuelPil opened #4867 "Monitor scale problem."
- screen scale problem.

Hi.
I'm using a Windows 7 Ultimate 64bit PC with the latest Chrome version.
It's quite common to use at least a 125 % 'scale' screen setting for medium to larger screen resolutions.
And they can be changed rapidly to test. But if you leave the normal 'browser' zoom at 100% the sketches are not playing properly.
For example in [this sketch](https://www.openprocessing.org/sk

[2020-10-21 14:38] stalgiag commented on #4866
Hi! I know that the [UVs are parsing correctly with some files](https://editor.p5js.org/stalgiag/sketches/ddWWhe1b1) but maybe there is a need to compare the UV parsing here to what is done in Processing to provide greater suport.

Anyone is welcome to take a look.

[2020-10-21 17:02] liampuk commented on #2309
@all-contributors please add @liampuk for code

[2020-10-22 08:24] ClmnsRck opened #4869 "Image resize does not work properly in Safari, Firefox and IE/Edge"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: p5.js v1.1.9 July 22, 2020
- Web browser and version: Version 14.0 (15610.1.28.1.

[2020-10-22 15:37] flomerboy opened #4870 "Animated mask for images OR let fill take an image as an argument"
### How would this new feature help increase access to p5.js?
I think it depends on the interpretation, but it seems like it would be very challenging to animate the mask of an image, so supporting this in a simple way would make that kind of creation more within reach. It's lowering the floor necessary to create this kind of behavior. I'm sure there are some very complicated ways to address this

[2020-10-22 20:07] owenbmcc opened #4871 "When pressing enter, the key value is set to empty string until enter is released"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9

In this [example](https://editor.p5js.org/owenroberts/sketches/g5LthBL4G)

[2020-10-22 21:23] limzykenneth commented on #4871
Did you mean substituting the one for `_onkeypress` and `_onkeyup` for the one used in `_onkeydown`? If so I think it's an alright change and the form in `_onkeydown` seems to be the latest implemented in #2898 solving #2893.

[2020-10-23 14:18] jathomaz opened #4872 "CORS request not HTTP"
- [x ] Image

#### Details about the bug:
I cannot display ANY image on any platform. All get CORS request NOT HTTP. Please help.

- p5.js version: v1.1.9 July 22, 2020
- Web browser and version: "chrome://Version 86.0.4240.111 (Official Build) (64-bit)
Firefox: version 81

- Operating System:
- Steps to reproduce this: Windows 10

CODE: let bg;
let y = 0;

function setup() {
  // The background i

[2020-10-23 16:03] limzykenneth commented on #4872
You will need to run the sketch with a local server, see [here](https://github.com/processing/p5.js/wiki/Local-server) for more info. If you need further help, do post your question on the [forum](https://discourse.processing.org). Thanks.

[2020-10-23 16:03] #4872 closed

[2020-10-23 16:30] stalgiag commented on #4869
Hi and welcome @ClmnsRck !

Can you offer a simpler sketch. The ideal test sketch has as few lines of code as possible, the minimum necessary to reproduce the bug. I am able to get `p5.Image.resize` working correctly on both latest Safari and latest Firefox [with this sketch](https://editor.p5js.org/stalgiag/sketches/6mUteCc3r).

[2020-10-23 16:52] owenbmcc commented on #4871
@limzykenneth I'm not sure but I think you may have swapped functions?

In #2898 it looks like both `_onkeydown` and `_onkeyup` were updated to use
`this._setProperty('key', event.key || String.fromCharCode(e.which) || e.which);`
to set the `key` property.

`_onkeypress` was not changed, it uses
`this._setProperty('key', String.fromCharCode(e.which));`.

My proposal is to update `_onkeypress` to u

[2020-10-23 16:55] limzykenneth commented on #4871
Ah, I was looking at an older diff and didn't realize onkeyup has been updated as well. Yes I do mean to update them to `this._setProperty('key', event.key || String.fromCharCode(e.which) || e.which);` overall. You can go ahead with a PR.

[2020-10-24 11:54] jathomaz commented on #4872
I do not consider this action closed. I cannot run any sketch that displays
an image in any browser: i.e.Chrome, Firefox. My sketches work fine in the
on-line P5.js editor, but not outside of the local environment. Are you
saying that the P5.JS is not "industrial", that it's just a toy? We cannot
download our folders and run on a real browser? What's the point, then? I
am not good at coding JS, bu

[2020-10-24 12:54] limzykenneth commented on #4872
The local sketch will need to be served through a local server in order for any loading functions to work. That is the case for all browsers and regardless of whether you are using p5.js or not, it is a limitation imposed by the browsers. The linked wiki article provides many different methods of creating a local server to serve your sketch and they should let you load images in your p5.js sketch

[2020-10-25 03:27] #4848 closed

[2020-10-25 04:45] Davis9120 opened #4874 "Requesting font list"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
I would be happy if it was easier to change fonts. I found it hard to find the path of .ttfs and .otfs.
Best if url to assets or list of .ttfs and .otfs were in the error popups.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)

[2020-10-25 11:03] PaulKsi opened #4875 "https://p5js.org/reference/#/p5.AudioIn/getSources 404 error"
404 error
https://p5js.org/reference/#/p5.AudioIn/getSources
and i get , how to list all devices?

This browser does not support MediaStreamTrack.getSources()
(index):86 Uncaught TypeError: Cannot read property 'getSources' of undefined
    at e.div.setup ((index):86)
    at e.<anonymous> (p5.min.js:4)
    at e.<anonymous> (p5.min.js:4)
div.setup @ (index):86
(anonymous) @ p5.min.js:4
(anonymous)

[2020-10-25 13:32] jathomaz commented on #4875
I am pretty sure, haven't tested it yet, but P5.JS will not support ANY
preload call, be it for audio, vidio, images, etc. In my estimation, pretty
useless without that.

On Sun, Oct 25, 2020 at 6:03 AM Paul Ksi <notifications@github.com> wrote:

[2020-10-25 16:37] limzykenneth commented on #4874
I'm not 100% sure what you mean here but the file paths to file available or fonts installed on the system are both not something that can be accessed by the browser with any conventional means. In other words, there is no way for the p5.js sketch to know what the paths to any ttf or otf files you have as assets unless it is already provided as part of the sketch.

[2020-10-25 16:39] limzykenneth commented on #4875
Seems to be some typos on the documentation, I'll redirect this issue to the p5.js sound repo.

[2020-10-25 16:44] limzykenneth commented on #4867
Hi @EmmanuelPil, can you take some screenshots of the problem demonstrating expected and actual behaviour? It is a bit hard for me to diagnose what the problem is from just reading your description and looking at sketches without knowing what they should look like in the first place. Thanks!

[2020-10-25 16:57] limzykenneth commented on #4862
As far as I know, p5.js itself doesn't set any cookies and there certainly isn't any reference to cookies in the source itself. Looking at the built library and where the error originates from I think it may be a polyfill added by Babel, maybe to get around lack of `localStorage` support. @outofambit @stalgiag Can you have a look at this as you are more familiar with Babel/localStorage respectivel

[2020-10-25 18:20] EmmanuelPil commented on #4867
Thank you for looking into this. My windows scale (or sometimes called video) setting = 125 %  on my 1920 * 1080 monitor,
otherwise, the font and other items are far too small.
When I leave the normal zoom at 100% in the Chrome browser, the arrow points of the vector-lines in the sketch linked above, are not drawn. When I set the zoom to 80%, they are. In the second sketch, with no zoom adjustment

[2020-10-25 20:05] blechdavier opened #4876 "Issue with model() drawing the wrong thing"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-10-25 20:07] blechdavier commented on #4876
Sorry for bad formatting..  this is my first github post and I dont know how to work this

[2020-10-25 20:41] dievardump commented on #4862
From what I got, the cookies are read for the i18n (I noticed since then that the minified version of p5js works in a Sandboxed iframe for example, because there is not i18n loaded in the min).

[2020-10-26 12:31] blechdavier commented on #4876
I

[2020-10-26 12:31] #4876 closed

[2020-10-26 15:41] limzykenneth commented on #4862
Digging a bit I believe it does indeed come from i18n and specifically [i18next-browser-languageDetector](https://github.com/i18next/i18next-browser-languageDetector). Perhaps the detector options can be tweaked manually to avoid this problem.

[2020-10-27 17:02] Davis9120 commented on #4874
Thank you for the reply and sorry for the late response. I didn't get how to change the font of words to the Italic version of Comic Sans MS when I posted the request. At the time, I thought that font data were packaged somewhere in the p5.js, but that's not the case, am I right?

[2020-10-27 17:33] Davis9120 commented on #4874
Finally got what I wanted. Thx a lot!(　＾▽＾)

[2020-10-27 17:33] #4874 closed

[2020-10-27 19:36] limzykenneth commented on #2309
@all-contributors please add @rt1301 for code

[2020-10-27 19:37] #4871 closed

[2020-10-27 19:41] limzykenneth commented on #4867
I don't have a Windows machine to test and also not too familiar with WebGL. I'll refer to @stalgiag to have a look at this. Would be helpful if you can create a bare minimum example then we can get testing the problem quickly.

[2020-10-27 19:48] blechdavier opened #4879 "noSmooth() doesn't turn off texture blurring in WEBGL mode"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-10-27 19:50] blechdavier commented on #4789
What do you mean by changing the last vertex to (0, 100, 0)?  Like the last vertex(), or something in the quadraticVertex, or...

[2020-10-27 19:52] blechdavier commented on #4789
Ohhhh...  You just have to comment out the translate() on line 8, and change the quadraticVertex() on line 19 to `quadraticVertex(0, 100, 0, 100, 0, 0);`

[2020-10-27 21:52] EmmanuelPil commented on #4867
Of course. I should have done that in the beginning.
I have tracked down the problem.
It is the strokeWeight() function that in a bigger scale percentage amplifies incorrectly.
Testing this code with different browser zoom settings at higher than 125% monitor scale will make this obvious.

[code]

[2020-10-27 22:26] stalgiag commented on #4867
@EmmanuelPil thanks for the simple example. I tested extensively at zoom settings ranging from 30% to 300% and could not see any issues on my Mac with latest Chrome or Firefox. I will test again on Windows when I get a chance.

[2020-10-28 03:54] EmmanuelPil commented on #4867
Thanks. Just to clarify, It's not just the browser zoom. It only happens when using the windows scale setting above 100%.
See this link.  https://www.windowscentral.com/how-set-custom-display-scaling-setting-windows-10

[2020-10-28 09:32] dievardump commented on #4862
Do you have some doc on where it is possible to tweak it when configurating p5.js? I've got a hard time finding api that is not processing related.

The sandboxed iframe I use is for any user to run any code, and sometimes add any dependency they want. So I need to add things like:

[code]

in the rendering iframe.

[2020-10-28 21:27] jay20162016 commented on #4708
It seems that there is still a substantial amount of documentation in the minified version.

[2020-10-28 22:17] neefrehman commented on #4708
It looks like a new release hasn't been published since #4709 was merged with the fix. I'm still using 1.1.4

[2020-10-28 22:18] jay20162016 commented on #4708
1.19 doesn't have the fix either.

[2020-10-28 22:22] neefrehman commented on #4708
#4709 was merged the day after 1.1.9 was published, so the next release should contain the fix. Although I'm not sure when that will be. This seems like quite a big issue to wait so long to publish a fix for

[2020-10-28 23:38] lmccart commented on #4708
hey all, thanks for your patience. we're operating at reduced capacity in "maintenance mode" right now, so releases will be coming more slowly. i'll do my best to get something out in the next couple weeks. [see statement here](https://medium.com/processing-foundation/p5-js-leave-of-absence-70dc58e14da9)

[2020-10-30 03:20] outofambit commented on #4862
@limzykenneth thanks for tracking this down to [i18next-browser-languageDetector](https://github.com/i18next/i18next-browser-languageDetector)! I originally added this dependency as part of the friendly error localization work.

I took a look at the [configuration docs](https://github.com/i18next/i18next-browser-languageDetector#detector-options) and we might be able to disable the cookie caching

[2020-11-01 03:58] kieranbrowne commented on #4866
So I figured out that the y values for the uvs are inverted.

It's possible to reverse them like so:
[code]

And this fixes the problem. See updated sketch: <https://editor.p5js.org/kbrowne/sketches/o_PYbAgLl>

This leaves open the question of why uvs appear to be parsed correctly for the file @stalgiag mentioned.
I rendered the capsule object and texture into processing and it displayed like so:

[2020-11-01 06:47] lmccart commented on #4879
noSmooth() is the default rendering state in WEBGL mode, is it smooth() that you're actually looking for?

[2020-11-01 06:51] lmccart commented on #4870
@flomerboy please take a look at our [access statement](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md). right now the access explanation sounds very broad, I'm not quite sure how this feature would increase access for people who are excluded from the p5.js community. If it doesn't, I think we will table this idea in order to prioritize others that more urgently address a

[2020-11-01 16:27] stungeye opened #4881 "WEBGL Alpha Channel for Colors Produces Different Output Compared with Java Processing"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-01 18:34] flomerboy commented on #4870
@lmccart thanks for linking me to that. The examples are very helpful. I don't think this applies then, it's probably not a "beginner" use case then so I don't think it counts. I eventually found a workaround with a less elegant but good enough approach to the animation and I imagine others could do the same. I think it's great that p5 is focusing on access.

[2020-11-02 04:27] nisarhassan12 opened #4882 "easier code contributions + reviews via the online one click setup"
Hi. I work for https://gitpod.io (An online IDE which is free for Open Source) and we're currently on a mission to simplify contributors onboarding for popular Open Source projects via fully automating the development setup.

In case of this project as specified in #4859 Anyone would be able to start a workspace in one-click where Gitpod will automatically:

- clone the `p5.js` repo.
- install all

[2020-11-02 12:11] limzykenneth commented on #4882
I personally am hesitant to include additional configs that are not directly required in the development of the project in the repo. Things like `.eslintrc` directly helps with the build; `.editorconfig` works across any editors that supports it creating a more seamless development experience; `.github` contains automated CI that ensures code contributions pass tests etc. I'm not too fond of `.vsc

[2020-11-02 13:00] artze commented on #4747
I'm able to replicate the issue highlighted by OP, by downloading `p5.js complete` from [here](https://p5js.org/download/) and opening `/empty-example/index.html` with Chromium browser.

As suggested [above](https://github.com/processing/p5.js/issues/4747#issuecomment-674577007), I could get it working with `http-server` npm. Following is what i did:
1. Run `http-server` at **project root**
2. Go

[2020-11-02 16:01] cursorweb opened #4883 "Resizing Canvas not working when in scoped mode."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-02 18:00] aferriss commented on #4879
Hi @blechdavier ! I believe what you're looking to accomplish is possible by disabling the bilinear texture interpolation in webGL mode. You should be able to set the texture interpolation by calling `setInterpolation(NEAREST, NEAREST)` on a webgl texture object. See below:

[code]

Here is also a working example where you can click to see the difference between the two modes.
https://editor.p5js.

[2020-11-02 18:08] lmccart commented on #4870
Thanks @nisarhassan12 for your understanding and support!

[2020-11-02 18:08] #4870 closed

[2020-11-02 18:12] lmccart commented on #4883
Hm I'm not able to reproduce this. Here's an example I used in the editor:
https://editor.p5js.org/lmccart/sketches/21W8FY-U4

Can you tell us what error or behavior you're seeing?

[2020-11-02 22:42] JimSwift opened #4884 "p5.js code fails to execute when pressing up, left and space together"
- p5.js version: v1.1.9
- Web browser and version: Chrome v86.0.4240.183
- Operating System: Windows 10
- Steps to reproduce this:

Hi, I'm having a problem in which the code located in my `keyPressed()` function is failing to execute specifically when my square is travelling in a diagonal direction towards the top left of the screen. i.e while it's travelling negatively accross the X and Y axis.

[2020-11-03 05:48] KKVANONYMOUS commented on #4884
@JimSwift
The code works perfectly fine on my side
Chrome: v86.0.4240.183
OS: Windows 10

Can you please elaborate your error?

[2020-11-03 07:48] a-y-u-s-h opened #4885 "[BUG] Instance mode - mousePressed fires when user clicks anywhere on document."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-03 10:12] limzykenneth commented on #4884
It could be a keyboard specific issue. Most keyboards have limits on how many keys can be pressed at once while still being recognized by the OS, although 3 keys is a bit too low for it to be practical so maybe it isn't that. You will have to do more tests including those outside of p5.js to determine where the problem lies.

[2020-11-03 10:15] limzykenneth commented on #4885
I'm not sure that is the expectation. `mousePressed` from the documentation says "is called once after every time a mouse button is pressed." it does not imply where it should be pressed. If only mouse press inside the canvas should be captured, [`p5.Element.mousePressed()`](https://p5js.org/reference/#/p5.Element/mousePressed) should be used instead.

[2020-11-03 10:30] limzykenneth commented on #4747
@artze Since the existing instructions isn't sufficient anymore you can file a PR and we'll see how we can word the guide to still be as accessible as possible. Thanks.

[2020-11-03 10:32] limzykenneth commented on #4862
@outofambit I think a good set of defaults should be enough and exposing the config to users is a bit overkill also considering it isn't included in the minified build.

[2020-11-03 10:42] limzykenneth commented on #4882
@nisarhassan12 I just found about [definitely-gp](https://github.com/gitpod-io/definitely-gp) and couldn't the configurations all live in this repo instead? I can see it is inspired by definitely-typed which is a great project which while p5.js doesn't maintain its own typescript definition in this repo, it is still available from definitely-typed and users of typescript gets to use it for type ch

[2020-11-03 13:12] JimSwift commented on #4884
oh right, wonder if this is isolated to my machine then which is a shame for me!

when I add all other directonal keys and test it works fine in every direction when I press space, so it can't be a limited number of key presses. It only seems to be a problem specifically with up+left+space. I've found that if I replace the space with an any other key it seems to correct the problem, so I can live

[2020-11-03 13:12] #4884 closed

[2020-11-03 13:31] nisarhassan12 commented on #4882
Thanks, @limzykenneth The point is to keep the configuration versioned alongside your project (same as with a CI file).

I will make the PR for moving the config files to [definitely-gp](https://github.com/gitpod-io/definitely-gp).

[2020-11-03 13:51] akshay-99 commented on #4862
@outofambit @limzykenneth  I think we should be able to safely disable cookie caching and only use `localStorage`. I didn't make any changes that would require cookies specifically.

[2020-11-03 15:28] dievardump commented on #4862
Just as information, sadly, the use of localStorage is as insecure as the use of document.cookie in a sandboxed iframe.

[2020-11-03 16:25] cursorweb commented on #4883
oh sorry, i just found out it was a mistake on my end, so sorry about this!

[2020-11-03 16:25] #4883 closed

[2020-11-03 16:35] limzykenneth commented on #4862
Do we know what `i18next-browser-languageDetector` is using these browser storage for?

[2020-11-03 18:47] akshay-99 commented on #4862
@limzykenneth It uses it to cache the current language. To be honest, I don't know if we need to do that with p5.

I think i18next implements language caching so that it can be used alongside a user-controlled language toggle. One of the ways `i18next-browser-languageDetector` actually detects the language is through the `navigator.language` property. As far as I know, it is directly linked to the

[2020-11-04 01:23] artze commented on #4747
@limzykenneth ok I will do that

[2020-11-04 08:09] a-y-u-s-h commented on #4885
In a react application with multiple canvases and many buttons or controls, etc - this becomes extremely undesirable because mousePressed shouldn't leak outside of canvas. IMO `s.mousePressed` should be an event on the canvas and `p5.Element.mousePressed` for everything else associated with that canvas. In earlier versions this worked great.

[2020-11-04 08:27] #4885 closed

[2020-11-04 16:31] dievardump commented on #4862
`navigator.language` works well in a sandboxed iframe.

document.cookie and localStorage are not allowed so unknown script won't be able to access data that could harm the current user (session cookies and so on). The navigator language poses no threat.

[2020-11-04 19:21] blechdavier commented on #4879
THANK YOU @aferriss!!!!

[2020-11-04 19:21] #4879 closed

[2020-11-04 19:39] a-y-u-s-h opened #4886 "Support for 2D shadows."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New featu

[2020-11-05 14:06] #4882 closed

[2020-11-05 22:42] Quofs opened #4887 "Spelling error on the "p5.SoundLoop" reference page"
In the "bpm" field, "parameter" is spelled incorrectly. It is currently spelled "paramter" and is missing the first 'e.'

[2020-11-06 08:02] KKVANONYMOUS commented on #4887
@Quofs @limzykenneth
I was able to reproduce the issue and would love to work on it

[2020-11-06 09:49] bharathsatheesan commented on #2309
code: 💻

[2020-11-06 17:26] rt1301 commented on #4752
In the above example, if the myCanvas.position code is implemented while the mouseIsPressed, the canvas will move in a smoother manner

[2020-11-06 17:30] ffd8 commented on #4759
Ran into this issue now.. playing around with [thispersondoesnotexist.com](https://thispersondoesnotexist.com).

If I try loading a single image, no problem:

[code]

Hoped to grab a collection of images, so the plan was to push them into an array once loaded:
[code]

Seems that CORS is no problem when not specifying that param on a request... when specified it fails– even with an empty string (in

[2020-11-06 17:45] limzykenneth commented on #4759
What the parameter does is directly setting the `crossorigin` [attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/crossorigin) on the `<img>` element created by the function and in the spec, an empty string is still a valid value (it gets treated as `anonymous`).

If you wish to not set the cross origin parameter and still use the callback, you can use null as you have done or

[2020-11-06 19:26] ffd8 commented on #4759
Aha – I didn't see that one could also just give the callback function without the `alt` and `crossOrgin`! Based on the 2 syntax examples, seemed like it was all or none...

[2020-11-07 06:44] nisarhassan12 commented on #4882
@limzykenneth I have made a Pr to add this repo to definitely-gp https://github.com/gitpod-io/definitely-gp/pull/60 and in order for the test suite to work in Gitpod, this change has to be merged https://github.com/processing/p5.js/pull/4859/files#r519135412.

[2020-11-07 10:45] rt1301 commented on #1967
Is this issue still open?

[2020-11-08 17:33] hatcatpat opened #4889 ""Save Image As" is actually just "Save Image""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-08 18:32] ashwalk33r commented on #4867
I can confirm problems with that.

When using Windows Text and UI scale on 125% (those are 2 separate settings) my canvas is 2 times bigger and pixelDensity is 2.
When I lower it to 100% canvas has exact measures and pixelDensity is 1.
I use this feature as my eyesight is impaired and cant really use computer without it.

But why p5js bugs on this?

[2020-11-08 18:55] doxanthropos commented on #4889
Just to help with testing this:
(Tested on Windows 10 with current browser versions)
Chrome behaves as described in this issue, but it does so for all canvas elements, not only p5.
Firefox "Save Image As" works as expected for images and canvas elements alike.
So it looks like this is a bug in Chrome and therefore Chromium.

[2020-11-08 19:01] hatcatpat commented on #4889
Oh yep you are right, it works perfectly in Firefox and the bug exists
Chrome for all canvas elements.

On Sun, Nov 8, 2020 at 6:55 PM Knut Jackowski <notifications@github.com>
wrote:

[2020-11-08 19:03] hatcatpat commented on #4889
It's a bug in Chrome with saving any canvas element. Works in Firefox

[2020-11-08 19:03] #4889 closed

[2020-11-08 19:06] doxanthropos commented on #4889
It's already a [reported as a bug in chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=1113770&q=save%20image%20as%20canvas&can=2).

[2020-11-08 19:10] amygoodchild opened #4890 "Unneccessary friendly error message on min() max()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-08 20:07] limzykenneth commented on #4890
The FES here is checking the function call with the function signature as defined in the documentation, it has some limations so not all functions has parameter validation enabled. In this case parameter validation should probably be disabled for `max()` and probably `min()` as well.

[2020-11-09 15:36] akshay-99 commented on #4862
If everyone here agrees, I can make a small edit by around this weekend to stop i18next from accessing local storage or cookies. I don't think it should cause a problem

[2020-11-09 16:19] limzykenneth commented on #4862
I think you can go ahead.

[2020-11-09 21:25] rorywalsh opened #4891 "p5.Part onStep() doesn't loop..."
[This](https://github.com/processing/p5.js/issues/1676#) issue was closed in 2016 but it's still hasn't been fixed as far as I can tell. Check out [this](https://editor.p5js.org/rorywalsh/sketches/rB6G7ARVI) simple sketch. Once the initial either notes have played the onStep() callback stops getting called. Any ideas?

[2020-11-10 13:57] GeorgeSikora opened #4893 "WebGL TEXT - overdraws lines or missing pixels"
#### Most appropriate sub-area of p5.js?
- [x] WebGL
- Text
- Font

#### Details about the bug:

- p5.js version: v0.10.2 October 14, 2019
- Web browser and version: Google Chrome | 86.0.4240.183
- Operating System: Windows 10
- Steps to reproduce this: I tried lot of fonts, and with every font, there were the dead pixels and some lines when i want to display some text.

There is some code, where

[2020-11-10 14:52] stalgiag commented on #4893
Unable to recreate [with this sketch](https://editor.p5js.org/stalgiag/sketches/SCUAEUIbc) in the latest Chrome or Firefox on Mac using either p5 v0.10.2 or 1.1.9.

Could be a problem with your font files or it could be a Windows-specific problem.

Are you able to recreate with the font file used in the linked example?

[2020-11-10 16:03] stalgiag commented on #4866
Thank you @kieranbrowne! I think we should follow Processing on this. [It appears that](https://github.com/KhronosGroup/glTF-Sample-Viewer/issues/16#issuecomment-307239311) the lower-left pixel is `0,0` in most model format conventions and WebGL is the only one that needs to flip. This was likely not known when first implementing the loader.

[2020-11-10 16:16] stalgiag commented on #4881
Hi @stungeye cool sketch!

This is due to the fact that with WebGL the canvas itself is on top of another element (the document). We have experimented with different default behavior and this gets reported as a bug whenever we switch it. The problem is that some amount of blending with the background document is expected to be possible.

Long story short, you can get the same colors as Processing

[2020-11-10 17:20] stungeye commented on #4881
I'm glad there's such a simple fix (which worked btw).

Just so that I'm fully clear, is there a simple use case you could point to where you'd want document blending? I mean is it just the aesthetics of making a sketch "fit in" when embedded on a web page with something like a textured background?

Also, is there a way to change the amount of blending with the document other than completely disab

[2020-11-10 18:46] blechdavier commented on #4886
are there 3d shadows supported?

[2020-11-10 19:36] limzykenneth commented on #4886
Hi @a-y-u-s-h, we currently require any new feature requests to make the case for how the proposed new feature increases access of the project. You can read more [here](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md). As it stands currently, I don't think this particular feature request has made the requirement. You can still make an argument for its inclusion if you can

[2020-11-10 20:18] NahuelMaid opened #4894 "p5.js editor not allowing to duplicate/save some sketches"
- [x] Build tools and processes
- [x] Core/Environment/Rendering
- [x] Other

Hi there!

For any reason, online p5.js editor is not working on duplicating sketches. When I duplicate a sketch from the editor view, it does it but the new copy does not work well (some videos do not play, the project takes a lot of time to load, etc.). When I try to duplicate a sketch from the sketches list, it doesn'

[2020-11-11 00:01] #4894 closed

[2020-11-11 00:49] a-y-u-s-h commented on #4886
Hi @limzykenneth. Honestly, I have no idea about how Web Accessibility works with canvas. I just thought that screen readers read DOM node attributes until now (half knowledge) and canvas being an image getting rendered again and again it must be something different. So all I can say is that yeah it's just a feature suggestion - because to me this feature feels not any different from already imple

[2020-11-11 01:07] lmccart commented on #4882
thanks for raising this @nisarhassan12 and nice find @limzykenneth. this single change that needs merging looks good to me, but I'll let @limzykenneth test first on linux.

[2020-11-11 10:31] BharathKumarRavichandran opened #4895 "Update dom to ES6 implementation"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature e

[2020-11-11 20:54] nicolasbaez commented on #1815
function touchEnded(event) {
		if(event.type!='mouseup'){
			//your code :)
		}
	}

[2020-11-11 23:51] montoyamoraga opened #4896 "adding two new contributors"

[2020-11-11 23:52] montoyamoraga commented on #4896
@all-contributors please add @rt1301 for docs

[2020-11-11 23:53] montoyamoraga commented on #4896
@all-contributors please add @KKVANONYMOUS for docs

[2020-11-11 23:53] #4896 closed

[2020-11-12 12:55] ffd8 opened #4899 "createShader() won't apply to texture / layers, but loadShader() does...?"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Chrome 86.0.4240.183
- Operating System: MacOS 10.13.6
- Steps to reproduce this:

Getting into shaders with p5.js = !! And ran into a strange issue while trying to use a shader as a texture of a 3d primative, rather than directly rendered. I'm trying to use vert/fr

[2020-11-12 19:21] aferriss commented on #4899
@ffd8 I think in your example where it's failing you need to call:
[code]

[2020-11-12 20:55] ffd8 commented on #4899
@aferriss many thanks! Makes perfect sense now looking closer at all the other functions being `p5.prototype.______` and using them with `tex.` as prefix. Somehow flew right over my head while calling `createShader()` to do the same.. ugh.

I'll try extending the current ref example for this function, so it's clear to the next person (or my future self).

[2020-11-12 20:55] #4899 closed

[2020-11-13 13:08] timhae commented on #2619
Sorry for the necrobump, I just wanted to mention that `html, body { padding: 0; margin: 0; }` should also be included in [the wiki](https://github.com/processing/p5.js/wiki/Positioning-your-canvas).

[2020-11-13 21:56] #4881 closed

[2020-11-15 04:16] lmccart commented on #2619
@timhae would be you be up for editing it directly with what you had in mind? I can give you edit access

[2020-11-15 17:31] TanishqPal opened #4900 "New function to display table on canvas in nice format"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
I think it would be nice to have a function that takes a table and displays it to a canvas like an MS Excel or Google sheets

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core

[2020-11-16 15:48] limzykenneth commented on #4900
I think this is out of scope for p5.js but such a functionality would fit very well in an [addon library](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md) or even a standalone library creating HTML `<table>` elements directly (maybe such a thing already exist).

[2020-11-17 05:46] shreyas-sovani commented on #1573
what about drawSprites() error???

[2020-11-17 06:12] artze commented on #4747
@limzykenneth https://github.com/processing/p5.js-website/issues/885 is resolved. Suggest to close this issue as well.

[2020-11-17 09:21] #4747 closed

[2020-11-17 18:15] GeorgeSikora opened #4902 "WEBGL transparency not working with DEPTH_FUNC, making layer system for game"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL

#### Details about the bug:

- p5.js version: v0

[2020-11-17 18:48] Diggingwings opened #4903 "CreateSprite and DrawSprite is not working"
<--
Hi there!

When I'm trying to use create sprite or drawSprites, it says undefined and it says this on anything I use.
-->

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x ] IO (Input/Output)
- [ ] Localizat

[2020-11-17 22:19] aferriss commented on #4902
Hi @GeorgeSikora

I believe you're running into a classic problem with depth and transparency that doesn't really have to do with p5. In order to fix your issue, I think all you need to do is draw your elements in order from furthest to nearest. I don't think you need to use the z value in your translations either. Here's an example for you to look at.

https://editor.p5js.org/aferriss/sketches/rS

[2020-11-17 22:19] #4902 closed

[2020-11-18 02:49] Vbbab opened #4905 "p5.js Documentation: HTML element not escaped properly"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other: **Documentation rendering issue**

#

[2020-11-18 04:20] CoderUmesh-jpg opened #4906 "A ERROR"
Actually i am getting a error in this code
}else{

 } ;

[2020-11-18 05:17] montoyamoraga commented on #4906
hi @CoderUmesh-jpg please check out a tutorial of JavaScript to review if/else statements, here is one, best!
https://www.w3schools.com/Js/js_if_else.asp

[2020-11-18 05:17] #4906 closed

[2020-11-18 20:22] limzykenneth commented on #4903
`createSprite` and `drawSprite` are functions specific to [p5.play](https://molleindustria.github.io/p5.play/) so make sure that you have included p5.play as an addon library in your html file. If you are still having problem, you should raise this issue with p5.play directly [here](https://github.com/molleindustria/p5.play/issues) as we do not maintain addon libraries such as p5.play directly. Th

[2020-11-18 20:22] #4903 closed

[2020-11-18 20:33] limzykenneth commented on #4905
This has been fixed in #4764 but the reference will not be updated until a new version is released so the fix will go live when the next version is released.

[2020-11-18 21:57] aferriss commented on #4852
This sounds like a good addition to me. There are already a number of static vector math functions available. My guess is that a few of them were just overlooked. For instance, we're also missing one for `p5.Vector.magSq()`.

You can see the static versions of these [functions here](https://github.com/processing/p5.js/blob/3f0b2f0fe575dc81c724474154f5b23a517b7233/src/math/p5.Vector.js#L2247)

[2020-11-18 23:32] #4862 closed

[2020-11-19 04:35] Vbbab commented on #4905
OK, thanks for letting me know! Sent from Mail for Windows 10 From: Kenneth LimSent: Wednesday, November 18, 2020 12:33 PMTo: processing/p5.jsCc: Vbbab; AuthorSubject: Re: [processing/p5.js] p5.js Documentation: HTML element not escaped properly (#4905) This has been fixed in #4764 but the reference will not be updated until a new version is released so the fix will go live when the next version i

[2020-11-19 04:36] Vbbab commented on #4905
OK, thanks for letting me know!

[2020-11-19 04:57] #4905 closed

[2020-11-19 10:24] 01010101 opened #4908 ""this.elt.srcObject is null" error when removing a MediaElement (video)"
- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- We

[2020-11-19 22:24] limzykenneth commented on #4908
I think the fixes you proposed should work without issue but better to test it. If you want to file a PR, you can go ahead, I'll be able to test a fix easier when a PR is in place. One change to your fix however is to change `if (undefined != sources)` to `if (sources !== null)` to compare directly against `null`.

[2020-11-20 13:50] lwlsn opened #4909 "Auto-refresh and loops"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-11-20 16:18] iKittyCode opened #4910 "In the web editor if I press the backspace key 2 the name"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details a

[2020-11-20 16:19] iKittyCode commented on #4910
When I press the backspace key in the web editor then it backspaces the whole project

[2020-11-21 15:29] outofambit commented on #4910
hi @iKittyCode could you share more about what you mean by "backspaces the whole project?" is something getting deleted? thank you!

[2020-11-21 17:23] iKittyCode commented on #4910
It starts delting every thing in the project line by line

[2020-11-21 22:15] limzykenneth commented on #4909
Hi @lwlsn, you should follow [this issue](https://github.com/processing/p5.js-web-editor/issues/698) over on the web editor's repo, we don't maintain the web editor here (this repo only contains the p5.js source code) and you should follow up with the maintainers of the web editor. Thanks.

I'm closing this issue for now.

[2020-11-21 22:15] #4909 closed

[2020-11-21 22:16] limzykenneth commented on #4852
I personally don't mind this addition but I do wonder how this fit into the accessibility requirement for adding new features.

[2020-11-21 22:22] limzykenneth commented on #4895
@BharathKumarRavichandran I think you can go ahead with the changes and file a PR. Do note the convention of not using bracket syntax for object member functions. Thanks.

[2020-11-21 22:28] limzykenneth commented on #4886
Accessibility in our case is not limited to the Web Accessibility API but rather a broader and self-reflective understanding of what accessibility means. It is not entirely your responsibility to come up with an accessibility argument for this feature so don't worry if you can't think of something, maybe this feature resonate with someone else in terms of giving them more access to the project and

[2020-11-22 01:05] vennsoh commented on #4479
Same, webpack + p5 seems tricky.

[2020-11-22 05:28] lonce opened #4911 "Where are the assets in the Examples?"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

#### Details

[2020-11-22 06:30] KKVANONYMOUS opened #4912 "Radio Buttons are not aligned properly in the second example of createRadio() reference"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-22 10:44] BazTheLinuxGuy commented on #4912
Unsubscribe

On Sun, Nov 22, 2020 at 12:30 AM welcome[bot] <notifications@github.com>
wrote:

[2020-11-22 10:53] R4ph3rd opened #4913 "Pupeeter causing blocking issue during running grunt"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-11-22 11:16] limzykenneth commented on #4911
The assets are stored [here](https://p5js.org/assets/examples/assets/) on the website. The structure is a bit weird because of how the example pages work.

[2020-11-22 11:39] limzykenneth commented on #4913
The pupeteer version used in this repo is pretty only indeed. Will need some time to test upgrading to the latest version doesn't break anything though.

[2020-11-22 11:52] BharathKumarRavichandran opened #4915 "Update Typography to ES6"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature e

[2020-11-22 12:00] #4895 closed

[2020-11-22 12:01] #4915 closed

[2020-11-22 17:38] Vamoss opened #4918 "Remove loadTable() console.log"
#### Most appropriate sub-area of p5.js?
- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details ab

[2020-11-23 04:57] KKVANONYMOUS commented on #4912
Hi ,@limzykenneth Please see that if this issue is legible or not.
If yes, then please assign it to me

[2020-11-23 09:37] limzykenneth commented on #4912
I'd actually prefer the radio buttons to be vertical instead of horizontal if that is possible.

[2020-11-23 09:42] KKVANONYMOUS commented on #4912
Yup, that's a good idea. I will work on it

[2020-11-23 09:59] #4918 closed

[2020-11-23 14:15] #4912 closed

[2020-11-24 03:54] GregStanton commented on #4900
### Canvas vs HTML
Ooh! I'm actually working on a library now that can display and style tables, and I need to decide if I should display them on the canvas, if I should display them as HTML tables, or if I should try to do both. Do you have a preference?

### What I have so far
Specifically, I'm refactoring (and eventually extending) a library that I originally wrote in ProcessingJS, so that it w

[2020-11-24 16:43] limzykenneth commented on #4900
@GregStanton Sound like a really interesting project!

Your analysis of canvas vs HTML table are pretty much on point and it is a trade off between ease of interactibility/interoperability with the canvas and accessibility. In the ideal world, both would be an option so the user can choose to render the tabular data either in canvas or as HTML table but that might take some work though.

[2020-11-25 00:01] GregStanton commented on #4900
@limzykenneth Thanks so much for the feedback and for sharing your expertise! I'm really glad you think the project sounds interesting :) I may need to prioritize either canvas tables or HTML tables in the short term, but it would be nice to implement both options in the long term, since that seems to be ideal as you suggested.

[2020-11-25 20:45] limzykenneth commented on #4900
I'm closing the issue for organizational purpose but feel free to continue the discussion here if needed.

[2020-11-25 20:45] #4900 closed

[2020-11-25 21:33] outofambit commented on #4910
@iKittyCode gotcha, thanks. I'm going to transfer this issue to the repo for the p5.js web editor since this is specific to that project. If you can attach a GIF of this bug happening and add your browser and operating system versions to this issue that would be very helpful for them! thank you!

[2020-11-25 21:37] outofambit commented on #4910
@iKittyCode unfortunately it looks like i don't have the right permissions to transfer the issue. could you please file a new bug at https://github.com/processing/p5.js-web-editor/issues/new? sorry about that!

[2020-11-25 21:37] #4910 closed

[2020-11-26 16:56] #4911 closed

[2020-11-26 17:27] covalentbond opened #4921 "Adding hindi translation of files in contributor docs"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature e

[2020-11-26 17:30] covalentbond commented on #4921
@KKVANONYMOUS @BharathKumarRavichandran guys I saw you contributing recently, would you like to assist me by completing the files which will be left out afterwards. I mentioned the files which I will be translating

[2020-11-26 18:29] BharathKumarRavichandran commented on #4921
Hey @covalentbond, I'm not familiar with Hindi, so I don't think I would be of much in this issue. But I would like to pitch in if there's any other work.

[2020-11-27 03:04] KKVANONYMOUS commented on #4921
@covalentbond Ya sure!! Please do let me know if you require any help.

[2020-11-27 10:58] covalentbond commented on #4921
@KKVANONYMOUS you may look into https://github.com/processing/p5.js/tree/main/contributor_docs and add those which are left out in this https://github.com/processing/p5.js/tree/main/contributor_docs/hi

[2020-11-28 16:48] TraXIcoN commented on #4893
I am also not able to reproduce this issue!

[2020-11-28 17:01] TraXIcoN commented on #4890
@limzykenneth can I work on this issue??
P.S New to this project...

[2020-11-28 17:34] #4921 closed

[2020-11-28 20:34] limzykenneth commented on #4890
@TraXIcoN Sure, go ahead! I'll assign the issue to you.

[2020-11-29 11:37] TraXIcoN commented on #4890
I am not able to test the changes I made...
The error is coming similar to the one in this issue [#2361](https://github.com/processing/p5.js/issues/2361)

This is the error I am getting:-
[code]

I even did a clean npm install by removing the existing node_modules folder and the npm cache

[2020-11-30 11:08] seldomU opened #4926 "docs seem wrong about textFont return type"
The documentation page on textFont() gives the impression that the method returns the current font object. This seems to only work when a font has been loaded before. When working with the default font, `textFont()` returns a string, the font name. When called with a name as argument, e.g. `textFont("sans-serif")`, it returns the p5 object.

Is it at all possible to get a font object for the defau

[2020-11-30 12:58] dhowe commented on #4926
The way textToPoints works (if I remember correctly) is that it uses the glyph data within a .ttf or .otf font. So if there is no font loaded (by the user) there is no glyph data to be accessed.

To provide this functionality in the future we'd need to bundle a freely-usable .ttf or .otf font, for which there is some cost in the size of the package. But if we can find a small-enough font (or creat

[2020-11-30 14:12] seldomU commented on #4926
Thank you. I figured as much after looking at the source.

[2020-11-30 16:38] limzykenneth commented on #4890
Can you post some information about your environment? Node.js and NPM version, OS, etc.

[2020-11-30 16:57] TraXIcoN commented on #4890
OS: Windows 10 Version 1909(OS Build 18363. 1198)
Node.js: v13.11.0
npm: v6.13.7

[2020-11-30 19:07] aferriss commented on #4852
I think that this could fit into the accessibility requirement in that it makes the library more predictable and uniform for people new to programming / creative coding / vector math. The current scattershot state of vector math with half of the functions containing static versions, and half that don't feels to me like static functions were just added sporadically as different contributors needed

[2020-12-01 00:32] EnginKARATAS opened #4927 "Loading... issue when open p5 project"
Hi

For explain this issue I want to show a example.

When I download and open

#CodingTrain/Flappy-Bird-Clone/index.html

that shows me only a text and this text is "Loading..."

I taken this issue several time, different times.

<img width="475" alt="Screenshot_4" src="https://user-images.githubusercontent.com/43602725/100681908-dad52200-3385-11eb-9e31-9d5775089faf.png">

- [x] Accessibility (We

[2020-12-01 10:08] limzykenneth commented on #4927
Are you running the sketch over a local web server? Have a look at [this page](https://github.com/processing/p5.js/wiki/Local-server) to see how to set one up. You will need the local server in order for the image assets to load in.

[2020-12-02 07:43] theodgr opened #4928 "draw() problem"
- [x] Events

- p5.js version: /*! p5.js v1.1.9 July 22, 2020 */
- Web browser and version:  87.0.4280.66 (Επίσημη έκδοση) (64-bit)
- Operating System: <!-- Ex: Windows10

the code
[code]

[2020-12-02 10:27] limzykenneth commented on #4928
Hi @theodgr, can you explain what the problem you encountered is? Would be helpful to know what is the expected behaviour and what is the actual behaviour. Thanks.

[2020-12-02 11:35] limzykenneth commented on #4852
Thanks for compiling that table @aferriss, that's really useful!

The basis in which a function has a static version or not is based on whether the equivalent function in Processing has static version or not (what Processing based it on though I have no idea), so this is mostly decision made almost at the very beginning.

I think the argument made about making the library more uniform and predicta

[2020-12-02 11:38] limzykenneth commented on #4890
Do you have any local eslint rule defined? Including in parent folders of where you are keeping the p5.js source code?

If you still can't identify an obvious source, can you try and edit where prettier is complaining about and see if you can get rid of the errors that way? If that is successful, go ahead and file a PR with those changes, I'll check it locally to see if those modifications causes

[2020-12-02 13:37] EnginKARATAS commented on #4927
@limzykenneth Thank you! This worked and solved my problem clearly

[2020-12-02 13:38] #4927 closed

[2020-12-02 15:32] stalgiag commented on #4852
This issue was a joy to read. Thanks for the clear writing and thorough research everyone.

It may be more of a philosophical discussion but I think that predictability falls under the umbrella of accessibility. I too find myself 'having to look up documentation to see if a function is static, functional, or modifies the callee'. An argument could be made that the mutative prototype version encour

[2020-12-02 16:30] montoyamoraga commented on #4852
hey thanks @limzykenneth , i like what @aferriss proposes about making the "library more predictable and uniform"
i agree with @stalgiag and support adding the static versions ~

[2020-12-02 17:56] weslord commented on #4852
Cool, barring any objections I'll put together a PR for this.

Since it will be my first contribution here I'm thinking I'll start with `.normalize()`, get some eyeballs on that first commit, and once I've got confirmation that I haven't missed anything (docs, tests, etc) I'll move on to the others. Sounds good?

[2020-12-02 18:04] aferriss commented on #4852
@weslord that sounds like a great plan! Thanks for the input everyone :D

[2020-12-02 18:48] covalentbond commented on #4852
Heyy @weslord would you mind, if I can also assist you in this issue. I am also new contributing here
Before working on any function. I may ask or inform you prior working on function, so that we don't end up writing the code for the same function.
For instance, I would like to start with `MagSq` function. Thanks :)

[2020-12-02 19:09] lmccart commented on #4852
thanks everyone, this sounds like a good plan! I wanted to point out that we have a pattern of adding readme files to each folder, to help explain the files inside and the key ideas/notes for the code. here is an example of the [src/](https://github.com/processing/p5.js/tree/main/src) and the [src/core/](https://github.com/processing/p5.js/tree/main/src/core) folders. this is a very in progress th

[2020-12-02 19:10] limzykenneth commented on #4852
@weslord I've assigned the issue to you. @covalentbond Do coordinate with @weslord if you wish to help out with this issue.  Thanks all.

[2020-12-03 07:23] theodgr commented on #4928
Hello @limzykenneth. During the development of a project I encountered a problem. I started removing pieces of code until I found it below and for that I sent a small piece of code. The draw is a loop. is running continuously. So very correctly when the scketch opens we see lines being created on the screen following the mouse. if we press the mouse very correctly we will see a drawing on the scre

[2020-12-03 08:18] MysteryBlokHed commented on #4928
It looks like the `noStroke()` being called in `mouseDragged()` makes the line invisible, since lines use stroke. Calling `stroke()` before the line is drawn should do the trick:
[code]

[2020-12-03 09:46] theodgr commented on #4928
I feel a little stupid now, :))
but is it possible you want to make a line with nostroke ??
thank you very much for your time.

[2020-12-03 09:46] #4928 closed

[2020-12-03 10:12] TraXIcoN commented on #4890
I don''t know why the error was not clearing out....for now I just installed linux on my machine and did it :P
I will ask the windows problem in the discussion forum and see if anyone can help me with that...anyways this was a great first experience thanks for assigning me this issue!!

[2020-12-03 18:58] dannewoo opened #4931 "loadSound pause() method working similarly to stop()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details a

[2020-12-04 03:40] #4890 closed

[2020-12-04 11:27] OutdatedGuy opened #4933 "Giving Errors when .play() is called"
![Screenshot 2020-12-04 165149](https://user-images.githubusercontent.com/74326345/101157999-07708e80-3651-11eb-897c-05dfe8abbc81.png)
- p5.js version: v1.1.9 July 22, 2020
- p5.sound.js version: Version: 0.3.12 - 2020-01-06
- Web browser and version: In all web browsers(chrome, firefox and edge atleast)
- Operating System: Windows 10 Home Single Language
- Steps to reproduce this:
Use .play() in

[2020-12-04 13:13] limzykenneth commented on #4933
Hi @OutdatedGuy, can you share a minimal sketch code that demonstrates the problem? Thanks.

[2020-12-04 14:13] OutdatedGuy commented on #4933
Hi @limzykenneth, Thanks for Replying.

The problem is that the code is running and the sound is also playing, but in the console of any browser it shows the error msg (image in the issue).

If you all the code details, it's uploaded [here](https://github.com/OutdatedGuy/Multiplayer-Snake)

For the part of code it gets error:

eat() {
		for(var f = 0; f < FoodX.length; f++) {
			if (this.x == Food

[2020-12-04 18:55] da091005 opened #4934 "mousePressed/touch"
#### Nature of issue?

- Found a bug

#### Details about the bug:
In both the mousePressed() and touchStarted functions, the mousepress/ touch is not constrained to within the canvas element. If I click anywhere on the page it calls that function. I don't know if this is a known "feature" but the example pages for both say to "click within the image to change the square's value"

I know that I can

[2020-12-05 11:01] limzykenneth commented on #4934
The behaviour you are seeing (clicking anywhere in the window triggers the `mousePressed` function) is fully intended, the global `mousePressed` function (and aother global event functions) is bound to the `window` object so clicking anywhere in the window will trigger it.

To constrain the click to just the canvas (or in fact any DOM element), you don't have to check mouse position, instead you c

[2020-12-05 11:46] limzykenneth commented on #4933
Had a look into this and found that it has already been fixed in https://github.com/processing/p5.js-sound/pull/542. The fix will be available in the next release. As far as I can tell the error is not blocking so you can ignore the error for now and code as usual.

[2020-12-05 11:46] #4933 closed

[2020-12-05 19:09] OutdatedGuy commented on #4933
Okay, Thanks for the Info and Help! 😊

[2020-12-05 19:57] trych commented on #4223
I have a sketch, where `pmouseX` does not work at all, but has a certain constant – but seemingly random – value on each frame (like 107 or 366, no idea where these numbers are coming from). This value then stays with `pmouseX`, no matter how much I move the mouse. Is this the same issue, or should I open a new issue for that?

[2020-12-05 23:00] limzykenneth commented on #4223
@trych You will have to include a minimal sketch demonstrating the issue as I can't determine from your description alone whether it's a related issue or not. Thanks.

[2020-12-06 10:23] JuanIrache commented on #458
In case it helps someone, here's my workaround. It's long-ish and probably does not apply to most use-cases, but anyway.

p5 can import at least one type of vector shapes: fonts.

So I downloaded FontForge and started a font project. Every SVG I want to use in my project, I import it in the cell for a particular letter. I then generate a TTF font file.

In p5, I load that font file and then just d

[2020-12-06 15:14] stalgiag commented on #4867
Hi @EmmanuelPil I got a chance to look at this with Windows. I adjusted the windows scale setting and up and down. I didn't notice a change in the example code you posted. Perhaps it is subtle and I am missing it? Can you post a picture of what renders on your computer with that sketch when your scale is at 125%? Thanks!

[2020-12-06 15:52] stalgiag opened #4935 "loadX functions add undeclared return variables to the global scope."
#### Most appropriate sub-area of p5.js?

- [x] Loading

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Any

This works without errors.

[code]

[Here's a link.](https://editor.p5js.org/stalgiag/sketches/Py8d1rcJ0) It is making my students distrust me 😅

[2020-12-06 16:00] EmmanuelPil commented on #4867
![80 percent zoom 100 percent scale](https://user-images.githubusercontent.com/31894775/101285053-fabf7800-37c1-11eb-8982-6f5bbded88c2.png)
![100 percent zoom 100% percent scale](https://user-images.githubusercontent.com/31894775/101285055-ff842c00-37c1-11eb-9b92-0335945280f3.png)
![80 percent zoom 125 percent scale](https://user-images.githubusercontent.com/31894775/101285060-07dc6700-37c2-11eb-8

[2020-12-06 16:19] lmccart commented on #4935
Hm I think this is a correct behavior. Here's the typical way of using preload:

[code]

The reason you get that error if you declare `let variableThatWasNeverDeclared ` in `preload()` is that in the `image()` line, it has no knowledge of the variable, because it's scope was limited only to the `preload()` function. If you skip the declaration, as you have it, JS defaults to adding that variable t

[2020-12-06 16:32] stalgiag commented on #4935
Nope that solves it. Thank you!

I didn't realize that you could skip declaration and automatically add variables to the global object in non-strict mode.

Reading over the strict mode documentation, I can't help but feel like strict mode is better suited to learning and the starter sketch in the online editor should use it. But that is another conversation. Thanks for patiently answering my quest

[2020-12-06 16:32] #4935 closed

[2020-12-07 04:29] covalentbond commented on #2309
@all-contributors please add @covalentbond for bug, code and doc.

[2020-12-07 14:41] gvrancken opened #4937 "erase() does not erase to background color"
If I paste the first example into the web editor, it looks different: the erase also erases the background.
Example: https://editor.p5js.org/vrancken.gilbert/sketches/Gw0mO070m

[2020-12-07 16:10] limzykenneth commented on #4937
For me the reference example matches the link you shared? Are you seeing or expecting a different behaviour?

`erase()` does not erase to the background but rather erases everything on the canvas, including background, effectively turning the pixels transparent.

[2020-12-07 17:20] LsHallo opened #4938 "Images disappear for one frame"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-07 17:22] LsHallo commented on #4938
Swapping the images for a simple rect() call has the same behaviour.

[2020-12-07 17:30] LsHallo commented on #4938
![A_framesStacked](https://user-images.githubusercontent.com/22171518/101384117-4c4b2e00-38ba-11eb-952b-9c02f7c221a9.gif)
GIF is maybe a better way to show the ones disappearing.

[2020-12-07 18:12] gvrancken commented on #4937
Ah I see, I see a black circle, because I have dark mode on, so it erases to the dark browser color.

[2020-12-07 18:27] lmccart commented on #4938
@LsHallo could you post a snippet of your code here? (rather than making it a download zip, because not everyone feels comfortable downloading zips from the web when they don't know the author)

[2020-12-07 18:54] LsHallo commented on #4938
Ok here is all my code:
`main.js`:
[code]

`flake.js`:
[code]

[2020-12-07 19:39] #4937 closed

[2020-12-08 07:44] lmccart commented on #4938
@LsHallo I tried running the code but couldn't get it to run without errors. We really need a concise snippet that illustrates your problem in order to solve this as a bug. I would suggest the best way to get help with this is to post it on the [forum](https://discourse.processing.org/) where you can get more code debugging help. Thanks!

[2020-12-08 07:46] lmccart commented on #4926
Sorry, I accidentally closed this. Since this is a feature request, it would be helpful to have an answer to the PR template that asks: How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

[2020-12-08 08:32] seldomU commented on #4926
The documentation for `textFont()`'s return value doesn't mention two cases:

1. no font file has been loaded -- the current font name is returned as a string
2. the argument is a font name, like "sans-serif" -- the P5 object(!) is returned

As I user, I'd have wanted to know that.

[2020-12-08 14:18] LsHallo commented on #4938
The code should run without problem. It was however not a problem with p5 but my code. I was removing elements from the array and then looping over the next element not realizing the indexes just changed so i effectively skipped one.

[2020-12-08 14:18] #4938 closed

[2020-12-08 16:53] lmccart commented on #4926
Ah ok, so this is more of a missing documentation bug. Thanks for clarifying!

[2020-12-09 06:21] tannerdolby opened #4939 "Typo on download page within Complete Library section"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (On the web client)

#### Details abo

[2020-12-09 07:39] tannerdolby commented on #4939
I forked the repo and looked over the files, I wasn't able to find exactly where the HTML is being rendered from to fix the spacing typo. If you can instruct me as to where the file is that contains the Markup for [downloads](https://p5js.org/download/), I'm happy to fix it and submit a PR.

[2020-12-09 13:43] jcelerier commented on #4405
Hello,
since this monday I'm hitting the exact same error, as soon I am logging in, tried on both Windows and Linux with Chrome and Firefox.
Also getting weird noises sometimes.

[2020-12-09 17:00] stalgiag commented on #4867
Thank you @EmmanuelPil ! This is really helpful. Sorry it took me so long to see. Sometimes the more obvious something is the harder it is to see.

I looked into it and the reason this is happening is that the `RendererGL.pointSize` [property](https://github.com/processing/p5.js/blob/main/src/webgl/p5.RendererGL.js#L193) is not modified by `pixelDensity`. It seems a bit odd to me that we are track

[2020-12-09 20:52] limzykenneth commented on #4405
@jcelerier Can you share a link to an example sketch that shows the problem?

[2020-12-09 21:36] jcelerier commented on #4405
@limzykenneth I have the issue with every sketch - just opening https://editor.p5js.org/ gives me the error.
I'll have the "weird sound" on more complex sketches - will try to find some -, but it will be there or not randomly if I refresh the page.

![that](https://user-images.githubusercontent.com/2772730/101691342-dc31d900-3a6e-11eb-8443-ea06bd97750e.png)

[2020-12-09 22:12] akshay-99 commented on #4405
So I just looked it up. Apparently, it might be something with the web editor's accessibility features, as discussed in [this issue](https://github.com/processing/p5.js-web-editor/issues/1208). I was able to replicate this by turning on any of the checkboxes under "Accessible text-based canvas" in accessibility settings.

The accessibility settings would explain the sound too if you have "Lint war

[2020-12-10 06:28] TanishqPal commented on #4900
Hi @GregStanton sorry for replying very late

Your project really intrigues me.

I actually have do not have any reason for wanting canvas table Now that I think about it, HTML table would be nicer because of the ease of modification of styles. Also as you mentioned HTML is more accessible.

How can I help you in the project ?

[2020-12-10 09:33] jcelerier commented on #4405
Okay, had a checkbox checked there indeed (weird, first time I go to that menu), and indeed disabling it I don't see the warning for now.

[2020-12-10 14:37] montoyamoraga opened #4940 "add @tannerdolby as contributor"
@all-contributors please add @tannerdolby for code

[2020-12-10 14:39] montoyamoraga commented on #4940
@all-contributors please add @tannerdolby for code

[2020-12-10 15:44] #4940 closed

[2020-12-10 17:01] tannerdolby commented on #4940
Thank you @montoyamoraga!

[2020-12-11 04:38] phalkeerat opened #4943 "visual studio showing drawSprites() and createSprite()is not defined"
i am trying to make a 2d racer game and whenever i call the createSprite function it shows "Uncaught ReferenceError: createSprite is not defined" please help me about that

[2020-12-11 09:35] limzykenneth commented on #4943
`createSprite` is a [p5.play](https://github.com/molleindustria/p5.play/) specific function and isn't maintained by p5.js directly. You should file an issue with p5.play instead. You may also want to ask on the [forum](https:discourse.processing.org) first before opening an issue with p5.play. Thanks.

[2020-12-11 09:35] #4943 closed

[2020-12-11 14:11] Hari3 opened #4944 "p5.js v1.1.9: list updated after for..of loop gets reflected in the body of for..of loop."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-11 14:39] Hari3 commented on #4944
I'm sorry.
Seems like this is what JS script does.

Closing this, as this is not an issue with p5

[2020-12-11 14:39] #4944 closed

[2020-12-11 16:17] burnedsap commented on #4767
I agree, I think it would be handy to have a `setHeading()` function.

[2020-12-11 17:00] samdelong commented on #4767
As per @mishazawa s suggestion, I edited the setHeading() functions implementation to more closely represent the fromAngle() function, but without the need to create a new object. I still think this feature would improve the p5.js library.

[2020-12-12 16:29] #4869 closed

[2020-12-12 17:13] limzykenneth commented on #4767
Thanks for the discussions! I'm ok with this being added, can someone else have a look at this proposal and if it's ok, we'll merge it? @lmccart @montoyamoraga @outofambit @stalgiag

[2020-12-12 20:10] samdelong commented on #4767
I included that this method would only work for 2d vectors in the method documentation. Im not sure if something should prevent a user from rotating a 3d vector...maybe a console warning would be helpful here?

[2020-12-12 23:38] #4767 closed

[2020-12-13 06:48] 0xShree opened #4945 "Need copy to clipboard button on get started page"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-13 15:44] samdelong commented on #2309
@all-contributors please add @samdelong for code

[2020-12-14 09:29] umacat opened #4947 "Image not loading"
//Hello,

//I'm using this code :

let img;
function preload() {
  img = loadImage('u.jpg');
}
function setup() {
  // Top-left corner of the img is at (0, 0)
  // Width and height are the img's original width and height
  image(img, 0, 0);
}

//i try also this one:

let img;
function preload() {
  img = loadImage('u.jpg');
}
function setup() {
  // Top-left corner of the img is at (0, 0)
  // Wid

[2020-12-14 11:31] daskalgg commented on #4947
If the image is in a sub-folder you probably need to  change
 `img = loadImage('u.jpg');`
to
`img = loadImage('data/u.jpg');`

[2020-12-14 14:52] umacat commented on #4947
So simple...

Thank you!!!

[2020-12-14 15:08] #4947 closed

[2020-12-14 15:41] dongjoon9331 opened #4948 "In the radio buttons, the option()'s two arguments are reversed."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-14 17:09] limzykenneth commented on #4948
Hi @dongjoon9331, to clarify, do you mean the behaviour in the library isn't what you expected or the documentation example isn't what you expected?

At further down the page the documentation for the `.option()` method it says:

The `label` is what is displayed on the page, while `value` is the form value of the element.

Basically from what I see the behaviour of the code is as I expected, unles

[2020-12-14 21:10] Henhenz1 opened #4949 "Conflicting HSB info in Color and colorMode() pages"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-14 21:52] bianchinicecilia opened #4950 "Sound reaction on Safari iPhone 6, works only with headphones or speakers"
Hi all, I've a sketch with a 2D sound reaction and an Obj. When on iPhone Safari the audio works only on speakers or headphones. Works properly on Android.

Here's the project I'm working on:
https://holly-jolly-world.ceciliabianchini.com/

Any idea on how to solve it? Thanks in advance :)

[2020-12-14 21:58] limzykenneth commented on #4949
@Henhenz1 Good spot, it is a mistake on the Color Learn page. If you want to submit a fix let me know and I'll assign the issue to you. Thanks.

[2020-12-15 00:05] dongjoon9331 commented on #4948
In previous versions of p5.js, it worked as .option([label], value).
By the way, it seems to work as .option(value, [label]) in the latest version.

In the second example, the name of the food is printed as the price. This obviously means that the order of the .option() arguments has changed.

[2020-12-15 03:37] dongjoon9331 commented on #4948
The problem is that it was used as .option ([label], value) in previous versions.
If it is programmed according to the previous version of the library, just replacing p5.dom.js will destroy all existing programs.

[2020-12-15 11:29] limzykenneth commented on #4948
The changes to `createRadio` was made in #4430 and the breaking changes was not noticed back then. @lmccart Technically this is a breaking change introduced after 1.0.0 (changes made between 1.0.0 and 1.1.3 releases), the current API matches the rest of the library but it does mean sketches written between 1.0.0 (29 Feb 2020) and 1.1.3 (22 Jul 2020) would be affected.

@dongjoon9331 For sketches b

[2020-12-15 14:31] archtaurus opened #4954 "w, 0 and infinty"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [x] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-15 14:35] limzykenneth commented on #4954
If `x1` and `x2` are 0, `w` is 0 and the condition for the `while` loop will be true which means it will continue the `while` loop until it is no longer 0 nor >=1.

[2020-12-15 14:39] archtaurus commented on #4954
Noway, 0 &gt;= 1 == true ?

------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Kenneth Lim";<notifications@github.com&gt;;
Date: &nbsp;Dec 15, 2020
To: &nbsp;"processing/p5.js"<p5.js@noreply.github.com&gt;;
Cc: &nbsp;"赵鑫"<7176466@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
Subject: &nbsp;Re: [processing/p5.js] w, 0 and infinty (#4954)

If x1 and x2 are 0, w is 0 and the

[2020-12-15 14:41] limzykenneth commented on #4954
[code]

if the condition is true (`w` is `0` or `w` is `>=1`) the `while` loop continues generating new value for `w` until `w !=0` and `w < 1`.

[2020-12-15 15:03] archtaurus commented on #4954
That's it.

------------------&nbsp;Original&nbsp;------------------
From:                                                                                                                        "processing/p5.js"                                                                                    <notifications@github.com&gt;;
Date:&nbsp;Tue, Dec 15, 2020 10:42 PM
To:&nbsp;"processing/p5.js"<p5.js@n

[2020-12-15 15:05] limzykenneth commented on #4954
Ah I see, my bad. I've been reading things the other way round in the PR diff.

[2020-12-15 15:06] #4954 closed

[2020-12-15 20:15] rt1301 commented on #4949
@limzykenneth Is this issue open? If possible can I work on this?

[2020-12-16 02:21] dongjoon9331 commented on #4948
@limzykenneth Okay, I see.
However, it's really difficult to modify a lot of my code in order to change the p5.js library.
Thank you for your reply.

[2020-12-16 13:09] thel3l commented on #458
This is somewhere between 'genius' and 'ohgod' but thanks for the hack :)
Will solve my issue temporarily.

[2020-12-16 13:49] bmoren commented on #458
So much of this thread and line of thought is around generating and exporting SVGS.
I suppose that you get a limited support with the fonts (control color and thickness, etc)
Do you have an example of this you can share @JuanIrache ? sounds interesting!

As for importing SVG's p5 can handle them just fine using the image functionality eg.

[code]
But you have no control over the inner workings onc

[2020-12-16 15:17] bobcgausa commented on #458
My p5 svg library with many examples has a link posted.Bob CookOn Dec 16, 2020 8:49 AM, Ben Moren <notifications@github.com> wrote:
So much of this thread and line of thought is around generating and exporting SVGS.
I suppose that you get a limited support with the fonts (control color and thickness, etc)
Do you have an example of this you can share @JuanIrache ? sounds interesting!
As for importi

[2020-12-16 15:39] KKVANONYMOUS commented on #4908
@limzykenneth If this issue is open, I would like to work on it

[2020-12-18 01:08] montoyamoraga commented on #4037
since there was a workaround that worked, i am closing this issue, feel free to reopen if needed.

[2020-12-18 01:08] #4037 closed

[2020-12-18 08:45] limzykenneth commented on #4908
@KKVANONYMOUS Sure, go ahead. I'll assign the issue to you.

[2020-12-18 16:00] liubq7 opened #4955 "loadImage() would display last frame of gif and cause error after playing ends"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-18 18:30] stalgiag commented on #4955
Welcome!

The first issue you describe (last frame painted at first) [has been fixed with this commit](https://github.com/processing/p5.js/pull/4824/commits/b36acc2b41261e0d860f7bea4bfb986390d5ca05) and will be in the next release.

I am unable to recreate the second error and this may be specific to your GIF file. [Here is your code using a gif from GIPHY.](https://editor.p5js.org/stalgiag/sketch

[2020-12-18 18:39] stalgiag opened #4956 "size() throws error with p5.Graphics"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: latest Firefox and Chrome
- Operating System: macOS 14
- Steps to reproduce this:

`p5.Graphics.size()` throws this error:
[code]

This is specific to p5.Graphics. Other p5.Element-derived objects can resize as expected.

[Here is an example ske

[2020-12-18 18:46] stalgiag commented on #4956
Note that `p5.Graphics.resizeCanvas()`is a perfectly functioning workaround for this but this should still be fixed or a friendlier error should be thrown.

[2020-12-18 19:08] lmccart commented on #4948
@limzykenneth thanks for the clarification. while it is a breaking change, it looks like it was made to support the optional second argument, which makes sense to me. I'd suggest we keep as is, but update the example in the documentation to make more sense (flip the strings and numbers in the `option()` calls)

[2020-12-19 02:07] liubq7 commented on #4955
Hello!

Using gif from GIPHY also works on my side, but the error will occur if I use local image.

[2020-12-19 04:38] liubq7 commented on #4955
Sorry! As for the second error, I just tried another local gif and it works! It seems it's because the gif I used before can't loop.

[2020-12-19 04:38] #4955 closed

[2020-12-20 04:37] #4908 closed

[2020-12-20 07:09] #4867 closed

[2020-12-20 07:16] #4948 closed

[2020-12-20 09:39] pirelaurent opened #4958 "in Webgl Mode, textAscent() stays sticked to the first call result and is never updated."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2020-12-20 17:21] #4913 closed

[2020-12-20 20:26] Ongshu777 commented on #4405
@akshay-99  Thank you for the workaround.

It appears that if the `Settings -> Accessibility -> Accessible text-based canvas -> Sound` is checked, the error will appear.

While this can get around the issue, I still think that the issue is not fully resolved. For example, a person who would want the setting turned on would still receive this error.

[2020-12-21 02:19] Nahiiko opened #4960 "Endshape in Instance mode doesn't work if called from mouseDragged"
Hi guys !

This is my code:

var s1 = function( sketch ) {
  sketch.setup = function() {
    let canvas1 = sketch.createCanvas(400, 400, sketch.WEBGL);
    canvas1.position(0,0);
    canvas1.background("blue");
  }
  sketch.mousePressed = function(){
    sketch.beginShape();
    sketch.fill("green");
  }

  sketch.mouseDragged = function(){
      sketch.curveVertex(sketch.mouseX-200,sketch.mouseY-

[2020-12-21 06:15] Saad-py opened #4961 "Variable Problem"
Hi, so I was trying to make a program that is like a pattern or zigzag.

My code:
`let a = 0;
let b = 20;
let c = 40;

function setup() {
  createCanvas(400, 400);
}

function draw() {
  stroke(255);
  background(220);
  line(a, a, b, b);
  line(b, b, c, a);

  line(c, a, b + c, b);
  line(b + c, b, c + c, a);

}
`

The problem here is that I want to c = 80, but when I type c += 40 or c = 80 it ch

[2020-12-21 06:16] Saad-py commented on #4961
If a use a for loop in some way, the c += 40 goes infinite.

Please help me

[2020-12-21 06:54] akshay-99 commented on #4405
It's mostly a thing with p5.accessibilty, which is automatically imported by the editor when accessibility settings are on. `createElement` is defined as a global function there on [line 724](https://github.com/processing/p5.accessibility/blob/v0.2.0/dist/p5.accessibility.js#L724). It is this definition that clashes when the main library's core initialization process tries to create its own `creat

[2020-12-21 07:35] Ongshu777 commented on #4405
@akshay-99

That is a lot of insight to the problem. This would suggest that the function on line 724 should be renamed or (if possible) removed.

[2020-12-21 09:27] CarstenHoyer commented on #4127
It's been a year. Perhaps it could be prioritized now? I would be interested in putting some work into it.

In my mind, I think we would need a esm-init.js, that would abandon the global p5 instance approach.

I think this would be wortwhile, because it:
* would make the code tree shakeable
* Would make p5 more usable in other libraries
* make the bundle size for other modules smaller - ie a react

[2020-12-21 16:08] limzykenneth commented on #4961
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-12-21 16:08] #4961 closed

[2020-12-21 16:11] limzykenneth commented on #4960
`beginShape()` should be called as a pair with `endShape()` meaning it should be in the `draw()` function as well. If you need more help with your own code, please direct your questions to the [forum](https://discourse.processing.org). Thanks!

[2020-12-21 16:11] #4960 closed

[2020-12-21 16:12] limzykenneth commented on #4405
I would suggest redirecting this issue to the p5.accessibility repo if possible. Thanks.

[2020-12-21 17:11] #4405 closed

[2020-12-22 06:17] MarcSkovMadsen opened #4964 "p5.js works with HoloViz Panel. I.e. you can use it with Python and in Jupyter notebooks."
I just wanted to share the information that a Panel user showcased how to use HoloViz Panel with p5.js.

Right now it's just communication from backend (python) to front end. But it would be possible to enable bidirectional communication and use this create awesome analytics apps in Python like I do at [awesome-panel](https://awesome-panel.org) or use it in Jupyter Notebooks. Panel works in jupyte

[2020-12-22 14:23] edwardmonk opened #4965 "Would like to edit API examples to include Smithsonian Institution API from Data.gov."
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-22 15:48] limzykenneth commented on #4965
@edwardmonk That sounds good to me, do you have a link to the API for the section to link to?

[2020-12-23 08:39] dhowe commented on #4965
Looks quite cool, but would be great to have some better docs before making this live:

![image](https://user-images.githubusercontent.com/737638/102977059-70a33d80-453d-11eb-8e5d-95ca36d579af.png)

[2020-12-23 12:47] highonweb commented on #4956
there is nothing in reference page about size method

[2020-12-23 14:27] stalgiag commented on #4956
Hi! [p5.Graphics](https://p5js.org/reference/#/p5.Graphics) extends [p5.Element](https://p5js.org/reference/#/p5.Element) which has [a size() method](https://p5js.org/reference/#/p5.Element/size).

[Here it is in](https://github.com/processing/p5.js/blob/main/src/dom/dom.js#L2112) the library.

[2020-12-23 17:54] highonweb commented on #4956
can I try to fix this issue ?

[2020-12-24 14:07] stalgiag commented on #4956
Sure @highonweb !

[2020-12-24 14:11] #4288 closed

[2020-12-24 19:54] lmccart commented on #4965
@edwardmonk thanks! I've just sent you a repo invite. once you accept you should be able to edit the wiki page directly.

[2020-12-24 19:56] lmccart commented on #4956
@highonweb thanks! I think the `size()` method won't work for p5.Graphics because it needs a bit more than simply resizing the element, and so `resizeCanvas()` is the correct method to use. To fix this issue, you could use a friendly error message to alert users trying to call this method to use `resizeCanvas()` instead.

[2020-12-24 19:58] lmccart commented on #4964
Thanks @MarcSkovMadsen this is great! I would suggest posting this in the [forum](https://discourse.processing.org/c/p5js/10) so this info sticks around and others can use it. Since this isn't a bug or feature request, I'm going to close the issue here.

[2020-12-24 19:58] #4964 closed

[2020-12-24 22:22] MarcSkovMadsen commented on #4964
Thanks i Will. Did not know about forum.

[2020-12-25 13:48] highonweb commented on #4956
@stalgiag can you review my PR

[2020-12-25 19:23] qqqwwweeerrrtttt12123 opened #4968 "In p5.Element.prototype.parent() replace document.getElementById with document.querySelector"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2020-12-25 19:47] rt1301 commented on #4949
@montoyamoraga  @limzykenneth  Should this issue be shifted to the p5.js-website repo, since the updation is basically in the website files?

[2020-12-26 07:09] montoyamoraga commented on #4949
@rt1301 yes i think you are right, transferring you there ~

[2020-12-26 09:27] siv2r opened #4969 "Updating p5.sound.js"
Hi :wave:,

I encountered the error below while trying to play an mp3 file in my sketch using the [p5.sound.js](https://github.com/processing/p5.js/tree/main/lib/addons) (provided under lib/addon in this repo).

![Screenshot from 2020-12-26 12-07-35 (1)](https://user-images.githubusercontent.com/56887198/103148822-bbb19080-4789-11eb-8b86-f35e38754a56.png)
I found out that this error has already be

[2020-12-26 16:43] siv2r commented on #4968
Hello everyone,
Does this issue need to be worked on? If so, I can start working on it

[2020-12-27 00:06] limzykenneth commented on #4968
This would be a breaking change as with `querySelector` it will see lots of existing code that uses element ID without the `#` prefix as a tag selector. Since this will be a breaking change, we probably won't be condering it at this point in time.

[2020-12-27 05:45] siv2r commented on #4968
Sure, thanks for the info :)

[2020-12-27 16:56] limzykenneth commented on #1967
It's been too long since I last looked at this issue and I'm no longer sure if it still applies anymore. If the function is still something that is missing and desired, a new issue can be filed with the newly required accessibility requirement for new features. Closing this for now.

[2020-12-27 16:56] #1967 closed

[2020-12-28 12:50] #4969 closed

[2020-12-29 07:15] PandaBalls opened #4970 "createGraphics size limitation"
Is it possible to set larger graphics size,
[code]
Chrome downloader will not find the pg file..
Looks like beyond the graphics size limitation??

[2020-12-29 07:31] lmccart commented on #4970
The p5.Graphics limitation is based on the underlying HTML5 Canvas limitation, which will vary depending on browser and hardware. Here's some more on [stackoverflow](https://stackoverflow.com/questions/6081483/maximum-size-of-a-canvas-element#:~:text=mobile%20devices%3A%2D-,The%20maximum%20size%20for%20a%20canvas%20element%20is%203%20megapixels,equal%20than%20256%20MB%20RAM.) and [mozilla.org](htt

[2020-12-29 16:00] Heinrich-XIAO opened #4971 "createA"

[2020-12-29 16:02] Heinrich-XIAO commented on #4971
There is a problem in the createA function. It makes lots and lots of links

[2020-12-29 16:02] Heinrich-XIAO commented on #4971
``function setup() {

}

function draw() {
  createA('http://p5js.org/', 'this is a link');
}

[2020-12-29 16:06] Heinrich-XIAO commented on #4971
I can just add a noLoop(); function

[2020-12-29 16:06] #4971 closed

[2020-12-30 14:30] siv2r commented on #4852
I would like to take a shot at this issue.  @weslord @covalentbond Can you let me know which functions are you working on? I am planning to work on the `rotate()` function. Thanks!

[2020-12-31 13:05] thmjones2007 opened #4973 "loadAnimation() not working"
load Animation and create Sprite are not working in my program can anyone help

Here is the link:
[https://editor.p5js.org/thmjones2007/sketches/A1hB8R5HK]

[2020-12-31 13:32] razetime commented on #4973
You haven't given proper links to your files.

[2020-12-31 16:25] limzykenneth commented on #4973
Hi @thmjones2007, `loadAnimation` and `createSprite` are not p5.js functions but rather functions related to [p5.play](https://github.com/molleindustria/p5.play/) which is not maintained here. You should direct your issue there. Thanks!

[2020-12-31 16:25] #4973 closed

[2021-01-01 17:20] jcelerier opened #4974 "webgl: fill does not respect HSB mode"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-01 19:26] EmeraldBlackbird opened #4975 "color.toString("#rrggbbaa") doesn't work for alpha value when alpha is less than 16."
#### Most appropriate sub-area of p5.js?

- [x ] Color

#### Details about the bug:

[code]
prints `#ff000000`.

As you can see, the hexadecimal alpha value has become zero. This happens for all alpha values less than sixteen.

For now I am fixing this by doing
[code]
which prints `#ff00005`, as it should.

[2021-01-01 22:52] felipecustodio commented on #4816
The third example is very intrusive and ends up getting in the way of reading and using the website.

![image](https://user-images.githubusercontent.com/4261743/103447502-e3619680-4c6a-11eb-949f-36b9da8628c2.png)

[2021-01-02 04:08] KKVANONYMOUS commented on #4974
@jcelerier I guess the `lights()` method creates the illusion that fill is not responding to HSB mode
If you use the following piece of code, you can see the difference.
[code]
Note that I have intentionally changed the `stroke` method. Otherwise, we would not be able to differentiate between `fill` and `stroke` methods.

[2021-01-02 11:05] jcelerier commented on #4974
But what if one wants to use lights() ? e.g. given

[code]

I'd expect the color of the sphere to cycle through the hues, not to go from black to red

[2021-01-02 12:40] ritik307 commented on #4645
hi there, I am kinda confused on what kind of executable examples should i make.

[2021-01-02 18:20] stalgiag commented on #4974
Thanks for the issue @jcelerier ! I think this is due to the fact that `lights()` is then also using HSB. The functions `lights()` calls :
[code]
which produces the red to black in the example you posted because 128 is a very bright red with `colorMode(HSB, 100)`. A fix for this in the library would be to reset the color mode to default before calling the functions in `lights()` or calling differe

[2021-01-03 02:12] limzykenneth commented on #4816
Hi @felipecustodio, can you open a separate issue for that? Thanks!

[2021-01-03 14:34] nullify0000 opened #4976 "Text Anti-Aliasing"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-03 15:13] limzykenneth commented on #4976
Hi @nullify0000, the `setAttributes` function is a WebGL mode function and won't have an effect on text. You can try [`noSmooth`](https://p5js.org/reference/#/p5/noSmooth) to see if it works for you.

[2021-01-04 03:38] #4970 closed

[2021-01-04 03:39] lmccart commented on #4965
@edwardmonk you should have edit access now, so I'll close this issue, but let us know if you need any help figuring out how to add this. thanks!

[2021-01-04 03:39] #4965 closed

[2021-01-04 12:04] limzykenneth commented on #4975
Small typo [here](https://github.com/processing/p5.js/blob/main/src/color/p5.Color.js#L107) (index should be `3` instead of `2` when less than 16.

[2021-01-04 12:06] limzykenneth commented on #4645
@ritik307 This issue is already being addressed, if you are interested in contributing do have a look at other open issues. Thanks.

[2021-01-04 12:40] ritik307 commented on #4645
Ok...will find some other issues.

[2021-01-04 13:09] siv2r commented on #4852
I have curated a list of vector functions (table provided by @aferriss) that needs a static counterpart. This is my perspective, and I would love to hear your thoughts about this before diving into the implementation. @lmccart @limzykenneth @aferriss @montoyamoraga

<table>
    <thead>
        <tr>
            <th>Function</th>
            <th>Static version needed?</th>
            <th>Reasoning<

[2021-01-04 13:17] blechdavier opened #4977 "Texture Bleeding in WEBGL even with padding"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-04 13:36] blechdavier commented on #4977
Using Macbook Air (Intel HD Graphics 6000 1536 MB)

[2021-01-04 16:43] #4645 closed

[2021-01-04 17:26] weslord commented on #4852
Thanks for the help on `rotate()`, @siv2r! I'd prefer to work on the rest of the functions myself, if you don't mind.

Between proposing this issue and being assigned it, I've become much more busy, but I am still working on this and I expect I'll have time to finish it off over the next few weeks.

If there's still no progress from me after the 17th, please re-assign this.

[2021-01-04 19:07] siv2r commented on #4852
Sure go ahead!! Do let me know if we could possibly coordinate to get this done faster.

[2021-01-05 01:56] SirCodyC commented on #1516
I've encountered a similar issue and came up with a quick-fix work-around using `pixelDensity()`. This may not be effective for all purposes, but I've decided to share it, since this one line of code may be a big time saver for those with artistic application.

Flower Generator (p5.js Web Editor) --> [https://editor.p5js.org/cody.crary78/full/VbF4i1aXI](url)

This program efficiently draws flowers

[2021-01-05 06:50] felds opened #4978 "Although box() accepts a vector, it generates a warning"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-05 13:46] siv2r commented on #4978
I am not sure about passing the vector `x` as `box(x)` will work. I think the parameters for the `box()` must be numbers (mentioned on its [reference page](https://p5js.org/reference/#/p5/box)).

Separating the vector components before passing them to `box()` works.
[code]

[2021-01-05 13:56] akshay-99 commented on #4978
The reason for this working seems more likely to be a lucky accident due to the way the source code is written, rather than an intended way of use.

 `box()` treats the entire vector as `width`. But later in the drawing process, the `scale()` function is called internally which does accept a vector and hence can work with it.

[2021-01-06 10:54] montoyamoraga opened #4980 "add frappelatte28 as a contributor"

[2021-01-06 10:54] montoyamoraga commented on #4980
@all-contributors please add @frappelatte 28 for code

[2021-01-06 10:55] montoyamoraga commented on #4980
@all-contributors please add @frappelatte28 for code

[2021-01-06 10:55] montoyamoraga commented on #4980
for contributing at https://github.com/processing/p5.js-sound/pull/568

[2021-01-06 10:57] #4980 closed

[2021-01-06 18:20] catarak opened #4982 "Travis CI builds currently disabled"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) DevOps

#### De

[2021-01-06 18:48] outofambit commented on #4982
@catarak thanks for the heads up! 💖 this repo doesn't use travis ci anymore, we're on github actions now, so it shouldn't be directly affected.

[2021-01-06 20:05] catarak commented on #4982
Oh perfect! The p5.js website, p5.js sound, and the p5.js Web Editor all still do. For now we can try to get some credits but maybe these should all be moved to GitHub actions as well?

[2021-01-06 22:56] JetStarBlues opened #4983 "p5.Graphics throws error if try to draw shape before specifying a fill or stroke (v1.2.0)"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-07 12:34] limzykenneth commented on #4983
From what I can find this seems to be a case of the accessible output wasn't initialized for p5.Graphics. I'm not too familiar with the system, @lm-n can you have a look?

[2021-01-07 15:10] #4975 closed

[2021-01-08 15:31] vulongphan commented on #4974
@stalgiag Could I take on this issue?

[2021-01-08 15:36] bhavya200811 commented on #1573
Uncaught ReferenceError: createSprite is not defined (sketch: line 28)
this is what p5js says when I write any code. I dont know what to do ?

[2021-01-08 17:01] AliaNeedsHelp opened #4985 "p5.js seems to have been imported multiple times."
- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] [Core/Environment/Rendering]
- [ ] Data
- [ ] DOM
- [ ] Events
- [Yes? ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Details about the bug:

I'm not sure whether or not this is a bug with the Frie

[2021-01-09 16:56] lmccart commented on #4982
thanks @catarak! I just discovered this yesterday and was about to email you, guess you're way ahead of me. I've logged the website issue here https://github.com/processing/p5.js-website/issues/920

[2021-01-09 20:20] SurekhaNandiyal opened #4987 "Chrome extension support - not calling setup() & draw()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-10 11:58] limzykenneth commented on #4985
Is there a specific reason you are calling `new p5()` manually? The library usually takes care of it so you don't need to when using global mode.

[2021-01-10 12:01] limzykenneth commented on #4982
Not sure how much effort is required to get additional credits from Travis and how often we need to do this, if it gets too much we may want to consider spending some effort moving to GitHub Actions entirely.

[2021-01-10 12:04] limzykenneth commented on #4987
I've never tried this before so can't say why for sure. Is there any error messages that you can see?

[2021-01-10 12:12] fal-works opened #4988 "[docs] fix inline docs of windowResized and other event handler functions etc."
Most appropriate sub-area of p5.js?
- [x] Accessibility (Web Accessibility)

My main intension is to supplement the machine-readable documentation that some other projects (such as [p5.ts](https://github.com/p5-types/p5.ts)) rely on.

---

I've found some points to be fixed in the inline documentation.
Will be happy to create a pull request (not very familiar with it though; will read the contribu

[2021-01-10 14:30] fal-works commented on #3692
For anyone who reached here:
I just had the same issue, and after doing the below `eslint-samples:source` succeeded.

1. Set autocrlf so that the line endings will be automatically converted: `git config --local core.autocrlf true`
2. Remove all files except `.git` and restore them again by `git restore .`

Had then another error in the succeeding test task, but anyway :)

[2021-01-10 16:19] fal-works commented on #4913
If this might help anyone else:
I had the same "Object reference chain is too long" error even though puppeteer is the latest (v5.5.0).
And after switching my Node.js to the LTS version (v15.5.1 -> v14.15.4) the test task completes successfully.

[2021-01-11 11:55] siv2r commented on #4831
@jywarren is this issue up for grabs? I would like to work on this.

[2021-01-11 13:23] NSDesign opened #4990 "Inheritance example does not actually implement inheritance using the extends keyword"
Hi there,

Unlike the [Processing.org inheritance example](https://processing.org/examples/inheritance.html)  the [P5.js doesn't actually implement class inheritance](https://p5js.org/examples/objects-inheritance.html). Instead two separate classes are defined, each effectively defining their own separate spin methods. Whereas, the processing.org example, both the classes SpinArms and SpinSpots ex

[2021-01-11 16:51] outofambit commented on #4982
I think moving everything to GitHub Actions probably makes the most sense (at least long-term). its usually not too hard to move things over after you figure out a couple random gotchas.

from a quick glance at the travis config in p5.js-website, that one should be easy. the p5.js-web-editor config itself looks a little more involved but probably fine. I saw it uses some shell scripts that we'd ne

[2021-01-11 16:52] catarak commented on #4982
I messaged Travis CI support again but I still haven't heard back...

@outofambit I agree! I think in the meantime we can pay for a month or so of Travis CI so builds work while we migrate over the GitHub Actions.