[2018-07-29 21:20] joecridge commented on #1779
Awesome, thanks for looking into it. It would be good to rule out p5 if we can, but if it’s a browser bug it’s probably not going anywhere soon (and it seems to be at least 6 months old), so Adil’s fix is probably the best way forward. @AdilRabbani do you want to re-open #3097? 😆

[2018-07-30 08:50] gdad-s-river opened #3100 "Unwanted Dependency on grunt-mocha in npm package"
#### Nature of issue?

- [x] Found a _possible_ bug

#### Most appropriate sub-area of p5.js?

- [x] Other — NPM package

#### Details about the bug:

`grunt-mocha` is a dependency shown on p5 npm package (which, if needed should be devDependency, I guess?)

<img width="1280" alt="screen shot 2018-07-30 at 2 09 50 pm" src="https://user-images.githubusercontent.com/4655633/43387044-0249d12a-9403-11

[2018-07-30 16:38] chrisdothtml commented on #1567
For anyone else coming here from google, you can also use `Image.get`:

[code]

[2018-07-30 18:25] aferriss commented on #1792
Hey, I just came across this bug as well. What was eventually decided upon? It still seems to haunt the rendering of ellipses, though no other shapes seem to be affected as far as I can tell. Here's an example

http://alpha.editor.p5js.org/aferriss/sketches/BykDvC2VQ

[2018-07-31 04:14] lmccart commented on #3008
Ok I looked into this more. I was able to reproduce the error. The problem is with bluetooth keyboard + iOS safari, and is described clearly in [the link @chrisorban posted above](https://stackoverflow.com/questions/45924702/ipad-bluetooth-keyboard-returns-keycode-of-0-for-any-key-with-onkeyup) in the post's question and first answer. This isn't an issue with the p5.js library itself.

The reason

[2018-07-31 04:45] chrisorban commented on #3008
I agree it's a pretty deep issue that would require some pretty substantial changes to keyboard.js.

Unfortunately, keyTyped() is not going to work because I need to be able to figure out if two keys are being pressed so I can move a little circle in a diagonal direction. My original concern was getting keyIsDown() to work correctly on on the iPad keyboard, but it turns out it doesn't because keyP

[2018-07-31 05:00] lmccart commented on #3008
There's actually just not any good way to tell if a key is down while using a bluetooth keyboard because of the bug you found described in that post. Basically, the keyup event returns
[code]
Where the "which" property normally displays the keycode of the key that was raised. so even if we had an alternative version of the keyboard.js file, there's not any way to detect which key was released sinc

[2018-07-31 05:06] chrisorban commented on #3008
Oh well. I wonder if Processing for the iPad has this same problem or not. That's the only other workaround I can think of at this point. Ohio State has committed to purchasing the apple brand keyboard for all 10,000 incoming freshman. There's no stopping that.

[2018-07-31 05:09] chrisorban commented on #3008
Maybe you're right. A wired keyboard might solve the problem.

[2018-07-31 06:10] lmccart commented on #3096
p5.js currently uses ES5. we will shortly be undertaking efforts to update to ES6.

here are some templates for using p5.js with Babel and TS:
https://github.com/apitaru/P5JS-ES6-Babel-Webpack-Starter
https://github.com/mkontogiannis/p5.js-es6-babel-sass-webpack-boilerplate
https://github.com/p5-types/p5.ts
https://github.com/Gaweph/p5-typescript-starter

[2018-07-31 06:10] #3096 closed

[2018-07-31 06:59] limzykenneth commented on #3100
Should have been solved but #2837 also reports this issue unsolved but it may need to wait for the next release, I'm not sure. @lmccart

[2018-07-31 08:52] doxanthropos commented on #2901
Would you mind if I take that? @L05 seems to not be interested?

[2018-07-31 09:53] AdilRabbani commented on #2183
Hey @Spongman is the technique you used the same as this paper? http://jcgt.org/published/0006/02/02/paper.pdf

[2018-07-31 14:43] lmccart commented on #2901
@doxanthropos please go ahead, thanks!

[2018-07-31 15:10] lmccart commented on #3087
fixed with https://github.com/processing/p5.js/pull/3102

[2018-07-31 15:10] #3087 closed

[2018-07-31 21:09] Spongman commented on #2183
yeah, it looks like that's quite similar to what i ended up with. i originally had a single curve array for each glyph, but i found that didn't scale well for complex fonts like [nardis](https://www.fonts4free.net/nardis-font.html) since the fragment shader had to always test every curve against each pixel. i then tried separating the curves into a n MxN grid, but while the fragment shader perform

[2018-07-31 21:59] moritz157 opened #3106 "Gamepad Support"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
It would be nice to have gamepad support using t

[2018-08-01 01:22] #2901 closed, assigned to nobody

[2018-08-01 08:42] limzykenneth commented on #3106
I was briefly looking into the Gamepad API last month and found that the implementation across browsers differs quite significantly, especially in key bindings, controller detection, and controller namings.

Until the implementations across browsers significantly stabilized, it may be very difficult to properly implement this.

[2018-08-01 10:56] phywand opened #3107 "Unsupported kern table version."
Morning..

#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Typography

#### Which platform were you using when you encountered this?

- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.5.11 June 01, 2017
- Web browser and version: Safari 11.1.2
- Operating System: OSX 10:13:6

-I switched a  font from OpenSans(google font) to Ren

[2018-08-02 02:59] dhowe commented on #3107
See [this ticket](https://github.com/nodebox/opentype.js/issues/244). Can we verify the p5js and opentype versions that fail here?

[2018-08-02 03:45] OsakaStarbux opened #3108 "Reference documentation for the curvePoints may be wrong"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible) curvePoints() documentation

#### Which platform were you using when you

[2018-08-02 06:50] phywand commented on #3107
So I upgraded to p5.js v0.6.1 April 27, 2018 and the error went away. I hope 0.6.1 is a superset of 0.5.11, so nothing else breaks. Sorry not to be up to date with p5js. And thanks for getting back. Next time, if there is one, I'll check the versions first: and the tickets if I remember how to find them.

[2018-08-02 11:31] limzykenneth commented on #3107
We updated opentype.js in between these versions so that may have fixed the problem. If you found anything broken, just open a new issue, thanks.

[2018-08-02 11:31] #3107 closed

[2018-08-02 11:37] IceDune commented on #2645
@EndBug @Spongman @kjhollen , can i work on this pls?

[2018-08-02 16:58] AdilRabbani commented on #2183
Hey @mlarghydracept and @kjhollen probably the easiest way to render text in webGL in p5.js right now is :
[code]
There are some drawbacks though. We are using a 2D text as a texture here and this would give blurry text when the camera is moved. This basically means we need a new texture to be rendered for every 'changed view'.

### **SDF text to the Rescue**
A Signed Distance Field rendering woul

[2018-08-02 19:48] hany0526 opened #3109 "How can save SoundRecorder as ogg or mp3 file ??"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-03 04:46] mlarghydracept commented on #2183
Thank you for the thorough and well-researched post @AdilRabbani! I agree that @Spongman's approach is already working quite nicely and that your energy might be better spent elsewhere. There are still plenty of issues and features to tackle :-)

[2018-08-03 06:33] Spongman commented on #2183
indeed, that's great stuff. i hadn't seen the zooming demo before, it's pretty amazing that you can get that kind of performance from webgl!

if nobody has any objections, i'll clean up by branch a bit and submit a PR...

[2018-08-03 12:31] K1ngjulien opened #3111 "Typescript definitons in NPM package not up to date"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] WebGL
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] Other (Typescript)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet

[2018-08-03 12:41] K1ngjulien commented on #3111
UPDATE: It seems to me that the "global.d.ts" and "index.d.ts" from the *p5-types* repository actually get swapped in the build process.

p5-types/index.d.ts => npm-package/p5.global-mode.d.ts
p5-types/global.d.ts => npm-package/p5.d.ts

[2018-08-03 13:01] K1ngjulien commented on #3109
Here is the Refence page for the sound recorder. it clearly shows how to save sound files
https://p5js.org/examples/sound-record-save-audio.html

[2018-08-03 14:59] mlarghydracept commented on #2183
@Spongman that sounds good to me! Also, I suggest that @AdilRabbani works with you on reviewing the code for that PR since he has spent a significant amount of time researching this topic.

[2018-08-04 03:17] limzykenneth commented on #3109
@hany0526 p5.Sound currently don't directly support saving to ogg or mp3 files, only to wav files. You will need to convert them yourself once saved. You can open an issue at https://github.com/processing/p5.js-sound if you wish to request for this feature (though I'm not sure how possible it is to implement).

In future, this kind of question is better for the [forum](https://discourse.processing

[2018-08-04 03:17] #3109 closed

[2018-08-04 15:30] micuat opened #3113 "video speed() needs to be called after play()"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-04 19:13] Spongman opened #3114 "webgl: add .glsl minification to the build"
i think, for release builds, it would be nice to minify the .glsl files.

[2018-08-05 02:07] chrisorban commented on #3008
I stumbled across this post which mentions that the ACE editor managed to fix a similar issue:

https://github.com/xtermjs/xterm.js/issues/1101

They provide a link to the source for ACE where someone figured out a workaround.

Let me know if this helps.

[2018-08-05 03:01] micuat commented on #3113
ok I found that this problem is because video is not loaded yet when `speed()` is called.

However, even though I add `createVideo()` in `preload()`, `speed()` does not take into effect
http://alpha.editor.p5js.org/micuat/sketches/BJO5vJErQ

I need to explicitly load `setup()` after video loading is finished
http://alpha.editor.p5js.org/micuat/sketches/H17mu1VBm

I supposed that, like loading imag

[2018-08-05 10:27] 4skinSkywalker opened #3117 "drop() doesn't draw in canvas"
I'm using Google Chrome ver. 67.0.3396.99

I'm trying out the example [p5.js | drop()](https://p5js.org/reference/#/p5.Element/drop).
It drops without switching to a new page, but it doesn't draw anything on the canvas.

I've also tried it in a separate script and Iìve seen I can read successfully all file metadata, but still cannot draw on the canvas.

Also when I use drop(), both dragOver() and

[2018-08-05 14:01] unoudos opened #3118 "error open loadJSON p5js 0.6.1"
When you try to open it, it gives you the message TypeError: b.text is not a function
    at p5.min.js:10
﻿

but if you do it with version 0.6.0 it works correctly

code
let url = 'http://api.open-notify.org/iss-now.json'

function setup(){
	createCanvas(600,400);
 askISS();
}

function askISS(){
 loadJSON(url, gotData, 'jsonp');
}

function gotData(data){
	console.log(data);
 }
function draw(){

[2018-08-05 15:20] binkpitch opened #3119 "TRIANGLE_STRIP in WEBGL has wrong vertex connection"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-05 17:34] AdilRabbani commented on #3119
Hey @mlarghydracept correct me if I'm wrong but shouldn't this be fixed by adding :
[code]
when the edges are being pushed in [p5.RendererGL.prototype.endShape](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.Immediate.js#L120).

[2018-08-06 04:30] limzykenneth commented on #3118
This is fixed in #2855 which will be included in the next release 0.6.2

[2018-08-06 04:30] #3118 closed

[2018-08-06 04:37] limzykenneth commented on #3117
Can confirm that it works in Firefox but not Chrome nor Safari.

[2018-08-06 17:06] Spongman opened #3121 "crash validating incorrectly-documented Constant-typed parameter"
(master)

the documentation-parsing code for Constant-typed parameters expects a well-formed description of the for "either <value>, <value> or <value>". currently, if the description doesn't match this form then validateParameters crashes during validation.

1) it shouldn't crash
2) the yui preprocessor (`docs/preprocessor.js:extractConsts`) should throw a build error when encountering a malforme

[2018-08-07 13:36] micuat commented on #2911
I've encountered this problem with latest chrome when playing videos. Muted video can be autoplayed but `video.volume(0)` is not enough - only `video.elt.muted = true` works

[2018-08-07 20:06] uberubert commented on #2064
I struggled with resizeCanvas for a long while when working with graphics objects created with "createGraphics". The answer by limzykenneth, suggesting to simply set the width and height properties directly, worked perfectly!

I would suggest adding an entry to the reference on resizeCanvas about this or, alternatively, add a utility function called "resizeGraphics" if only to make this intuitive

[2018-08-07 20:18] paulcanning opened #3123 "document loadedmetadata property for video element"
When dealing with images, I can load an image in setup, then use `get()` to fetch a section of the image.

Is there a way to do this with video capture?

I tried by having `createCapture(VIDEO)` in `setup()` and then in `draw()` I tried using `var foo =
capture.get(x, y, w, h)` and then `image(foo, x, y, w, h)` but I got an error about drawImage.

The error:

`Failed to execute 'drawImage' on 'Can

[2018-08-08 02:04] lmccart commented on #3123
this should work
[code]

[2018-08-08 02:14] lmccart commented on #3100
yes that's correct @limzykenneth. I'm working on getting a new release out this week.

[2018-08-08 02:14] #3100 closed

[2018-08-08 02:15] lmccart commented on #3123
updating the title to reflect todo

[2018-08-08 02:17] lmccart commented on #3113
that's correct, as the reference says "Nothing besides load calls (loadImage, loadJSON, loadFont, loadStrings, etc.) should be inside preload function."

there is, however, a currently undocumented `loadedmetadata` property. see the example here for how to use it. https://github.com/processing/p5.js/issues/3123

I'm going to close this issue since resolution of the other one should address this pr

[2018-08-08 02:28] lmccart commented on #3117
hm it appears to be a difference in how fast the browsers load the image files. these versions of the example work, but are more complicated. thoughts? I think the third one is the simplest to follow.

[code]

[code]

[code]

[2018-08-08 05:28] micuat commented on #3113
@lmccart sounds good. I guess it's also useful to document that initialize operations (e.g., `speed()`) should be in the callback of `createVideo()` instead of `setup()`.

[2018-08-08 06:13] lmccart commented on #3113
oh I see, there is actually an additional issue here. thanks

[2018-08-08 08:55] 4skinSkywalker commented on #3117
Yes the problem seems the load time.

First and second example work, third doesn't because Lauren has forgot to define drawFile (otherwise it would work).

Specifically, using the _successCallback_ of _createImg()_ make it works:
`function gotFile(file) {
  var img = createImg(file.data, () => {
    image(img, 0, 0, width, height);
  }).hide();
}`

Thanks Kenneth and Lauren

[2018-08-08 10:30] rsummr opened #3126 "Custom function incompatible with image() in the draw loop when both take mouseX,mouseY as coordinates?"
#### Most appropriate sub-area of p5.js?
- [x] Events
#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug: p5.js on Chrome (MacOSX) via Open Processing

Scroll to function draw() for description of the problem. Complete code minus image URLs below:

`var bgImg;
var whitewall;
var wallSections =[]

function preload(){
 bgImg = loadImage(...

[2018-08-08 12:12] paulcanning commented on #3123
That helps a lot, thanks! I was using `if (c.widtrh > 0)` 😄

[2018-08-08 18:09] QuentinRoy opened #3130 "grunt-mocha should be a devDependency"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) npm publishing

#### Which platform were you using when you encountered thi

[2018-08-08 18:32] Spongman commented on #3130
i believe this is already fixed in master and should be fixed in the next release.

[2018-08-08 18:33] QuentinRoy commented on #3130
Apologies this is true.

[2018-08-08 18:33] #3130 closed

[2018-08-08 18:35] Spongman commented on #3130
no apologies necessary. there's no such thing as a bad bug report!

[2018-08-08 18:46] Spongman commented on #2503
does anyone have a solution to the fact that what p5.js does - define a single class across many files - doesn't seem to be well supported by es2015 modules or ES6 language features?

[2018-08-08 19:37] dyqally commented on #1043
Hi, just to follow up and check in if there's any alternative/update way of displaying two captures from two different webcams on the same page? Tried the example provide by @lmccart but I when I run it I got errors saying connection refused. Thank you very much in advanced !

[2018-08-08 19:39] lmccart commented on #3123
reopening this to remind us to document this property

[2018-08-08 19:40] lmccart commented on #3126
the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2018-08-08 19:40] #3126 closed

[2018-08-08 20:08] Zalastax commented on #2503
I don't think there are any problems with augmenting the p5 "class" from multiple files - modules can handle it fine.
If we want to use classes, [this](https://stackoverflow.com/questions/32699889/es6-declare-a-prototype-method-on-a-class-with-an-import-statement) is one method of doing so. I basically did exactly this in [another project](https://github.com/Zalastax/openschedule/blob/master/src/r

[2018-08-08 21:01] Spongman commented on #2503
yeah, that's kind of what i was worried about: every method definition requires at least two additional lines of boiler-plate just to shoehorn it into the prototype. i guess i'd like to see a complete example of a class defined in, say, 3 files with functions in each referencing properties & methods in the other files. i don't know that this is even possible in typescript without defining everythi

[2018-08-08 21:09] lobertrand opened #3131 "Zooming in browser breaks the clear() function (version 0.6.1)"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.6.1
- Web browser and version: Google Chrome 68.0.3440.84 and Microsoft Edge 42.17134.1.0
- Operating System: Windows 10
- Steps to reproduce this:

[2018-08-08 21:18] Spongman commented on #3131
i believe this is a dupe of #2846 which should be fixed in the next release of p5.

[2018-08-08 21:27] lobertrand commented on #3131
@Spongman You're certainly right, sorry for that, I'm new to GitHub ^^

[2018-08-08 21:27] #3131 closed

[2018-08-08 21:29] Spongman commented on #3131
no worries. thanks for the bug report!

[2018-08-08 22:11] Zalastax commented on #2503
TypeScript is only a consideration for the far future. I mentioned it just to illustrate that it's a well recognized pattern. ES6 modules shouldn't add any boilerplate at all.
If we eventually want to consider TypeScript, partial classes by naming an interface the same thing as the class + using the prototype is well supported. It might be the case that another structure will suit us better then b

[2018-08-08 22:16] Spongman commented on #2503
sorry, yes i dind't mean to complicate things with typescript, i just know that typescript doesn't support partial classes (which is basically how p5.js is structured) and the reason usually given for this is that es2015 modules don't really support this kind of structure. but if you have some way of doing this nicely that's great!

[2018-08-08 22:48] AbhimanyuAryan opened #3132 "failed to load resource whenever i run http-server and browser-sync"
Failed to load resource: the server responded with a status of 404 (Not Found)

This is the body of html after writing img tags in p5
[code]

[2018-08-08 22:58] montoyamoraga commented on #3132
Hi @AbhimanyuAryan !
This space is used for developing p5.js, reporting bugs, and proposing changes.
The space for doubts and questions about the use of p5.js is our [Processing forum](http://discourse.processing.org/), please use it for future questions =)
Best!

[2018-08-08 22:58] #3132 closed

[2018-08-09 03:33] MichaelPaulukonis commented on #1741
@lmccart Should this remain closed, or should the following comments be deleted?

https://github.com/processing/p5.js/blob/a9c0627a4ee2ebb7f28743b5a685b11fc715e4c6/src/image/loading_displaying.js#L269

That code also references https://github.com/processing/p5.js/issues/1673 which has been closed as well.

[2018-08-09 22:06] Zalastax commented on #2503
I went and tried this out, both [with](https://github.com/Zalastax/p5.js/tree/rollup) and [without](https://github.com/Zalastax/p5.js/tree/rollup-no-babel) babel.
Since we augment p5 not only as a class, but also as a module, some trickery is needed. E.g. if a file is [converted from commonjs to modules](https://github.com/Zalastax/p5.js/blob/07a9875a3c4f111cd583fb91a45f8a482a872400/src/webgl/p5.R

[2018-08-10 02:00] lmccart commented on #1792
@aferriss this should be caught by the friendly errors, updated in the forthcoming release

[2018-08-10 02:09] lmccart commented on #1741
@MichaelPaulukonis this has been resolved as far as I can tell, and the comments should be removed

[2018-08-10 02:14] #3123 closed

[2018-08-10 02:39] lmccart commented on #3111
typescript support has been moved to the library you linked, future npm packages will not contain typescript.

[2018-08-10 02:39] #3111 closed

[2018-08-10 02:40] #3113 closed

[2018-08-10 02:40] lmccart commented on #3113
this has been fixed so you shouldn't need to check the loadedmetadata property. however note that to get the correct console.log readout, you will need to update your log line to:
[code]

[2018-08-10 02:43] lmccart commented on #3021
was there a resolution here?

[2018-08-10 02:45] #3121 closed

[2018-08-10 02:56] lmccart commented on #3108
I believe you are correct, thank you for the clear and thorough write-up.

[2018-08-10 02:59] #3108 closed

[2018-08-10 03:44] lmccart opened #3135 ""postinstall": "patch-package" causing npm download error"
this line in package.json is causing an error when downloading p5 via npm, because it requires package "patch-package"
[code]

is there a version of postinstall that only runs for development downloads? would this be "prepare"?

cc @Spongman

[2018-08-10 03:47] lmccart commented on #3008
thanks @chrisorban. this looks like a fix that would need to happen in the p5.js web editor, it can't be done by the p5.js library alone. you might suggest it over there.
sadly, I'm going to close this one for now as I think we've exhausted every reasonable possibility for addressing this with the library itself. I'm sorry we're not able to help with this one, but it's just a really frustrating is

[2018-08-10 03:47] #3008 closed

[2018-08-10 04:02] Spongman commented on #3135
I believe so. I'm not sure exactly why it was changed to post-install (I never had any issues with it before), but I think changing it back would be fine to fix the npm error.

[2018-08-10 04:51] Spongman commented on #3135
ok, it looks like the only issue with using `prepare` is that `npm ci` doesn't work. :man_shrugging:

[2018-08-10 18:35] lmccart commented on #2504
fixed with https://github.com/processing/p5.js/pull/3089

[2018-08-10 18:35] #2504 closed

[2018-08-10 23:07] #3135 closed

[2018-08-10 23:10] AidanNelson commented on #3021
Yes, the webgl-gsoc-2018 version of orbitControl() now tracks this state internally per Kate's suggestion above!

[2018-08-10 23:10] #3021 closed

[2018-08-11 16:31] HoangTran0410 opened #3137 "image()"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-12 11:56] Creechie opened #3141 "button.mousePressed() broken?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-12 13:50] TanviKumar commented on #2904
This issue can now be closed since the example has been changed!

[2018-08-12 14:27] TanviKumar commented on #2661
#3127 solves this

[2018-08-12 14:27] TanviKumar commented on #2216
#3127 solves this

[2018-08-12 23:10] LadySith commented on #3003
Hi @i3games ,

Yes. According to the documentation displayWidth/displayHeight (p5) returns screen.width/screen.height (javascript) and windowWidth/windowHeight (p5) returns window.innerWidth/window.innerHeight (javascript). I don't think it would be necessary to modify the functions. As you mentioned, if you would like to return your actual device screen size you can multiply displayWidth by displ

[2018-08-13 03:34] #2981 closed

[2018-08-13 03:34] lmccart commented on #2216
fixed with #3127

[2018-08-13 03:34] #2216 closed

[2018-08-13 03:34] lmccart commented on #2661
fixed with #3127

[2018-08-13 03:34] #2661 closed

[2018-08-13 03:35] #3052 closed

[2018-08-13 03:35] lmccart commented on #3052
thanks all! stay tuned for the new video..

[2018-08-13 03:37] #2258 closed

[2018-08-13 03:40] lmccart commented on #2652
these are actually two different functions. dan is using the [Array.splice()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice) function which is not part of the p5.js library, but is just plain JS. the p5.js array() function has somewhat different functionality and use. we are planning to remove all array functions from p5.js and rely on native JS ones

[2018-08-13 03:40] #2652 closed

[2018-08-13 03:40] lmccart commented on #2652
these are actually two different functions. dan is using the [Array.splice()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice) function which is not part of the p5.js library, but is just plain JS. the p5.js array() function has somewhat different functionality and use. we are planning to remove all array functions from p5.js and rely on native JS ones

[2018-08-13 03:42] lmccart commented on #2705
thanks @TanviKumar. my sense is that this is a bit beyond the scope of the p5.js library at the moment, but could be a good starting point for a p5.js color addon library if you wanted to start one. I'm going to close this for now, and we can revisit in the future if it starts to feel more necessary for the core library.

[2018-08-13 03:42] #2705 closed

[2018-08-13 03:43] #2747 closed

[2018-08-13 03:44] lmccart commented on #1954
thanks for the help everyone! closing this one as https://github.com/processing/p5.js/issues/2865 seems to cover this with clearer explanations

[2018-08-13 03:44] #1954 closed

[2018-08-13 04:13] limzykenneth commented on #3141
It seems `this._pInst` at https://github.com/processing/p5.js/blob/master/src/core/p5.Element.js#L239 appears to be undefined.

[2018-08-13 13:32] AbhimanyuAryan commented on #1339
can someone build a node module for it? Keep it in project again and again seems like a headache

[2018-08-13 15:42] i3games commented on #3003
I'm ok closing the issue. I would still suggest to mention on [https://p5js.org/reference/#/p5/displayWidth](https://p5js.org/reference/#/p5/displayWidth) / [https://p5js.org/reference/#/p5/displayHeight](https://p5js.org/reference/#/p5/displayHeight) that these do not return the actual display resolutions.

[2018-08-13 20:06] badrrada commented on #836
@OhJia are these events function or variables ??

[2018-08-13 20:41] PassLn opened #3143 "saveTable() wrong csv output"
Hi,
I have a problem when I saved table in csv.
CSV tables are saved with a new line after any element.

For example, the following code:

[code]

Gives the following result ( I try to open in OpenOffice Calc, Excel and Notepad++, it's always the same)
id,
species,
name
0,
Panthera leo,
Lion

But the result should be this:

id,species,name
0,Panthera leo,Lion

Could you help me?

#### Nature of is

[2018-08-14 00:58] Spongman commented on #3143
this doesn't look like a valid p5.js version, the latest version is 0.7.1. can you take a look at your p5.js script file? the version should be near the beginning of the first line.

[2018-08-14 13:09] PassLn commented on #3143
Sorry, I mixed "p5.js Mode 1.0.4" (which is for the IDE) and "p5.js v0.5.7"

I downloaded the latest version of Processing 3 yesterday and I thought that it was made with the latest version of P5js but it was not the case. In fact, it contains version 0.5.7. In order to use 0.7.1, I had to download the minified version from the P5js website, and replace the p5.min.js file in the /java/reference/ja

[2018-08-15 10:40] mafaruk opened #3147 "can I use P5.js in android studio?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-08-15 12:50] kotobuki opened #3148 "mousePressed won't work for buttons with v0.7.0 or later"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-15 16:15] makeyourownalgorithmicart commented on #2305
support for nested loops now included

https://github.com/makeyourownalgorithmicart/simple.js/wiki/repeat()

<img width="797" alt="three_forms_of_repeat_simplejs" src="https://user-images.githubusercontent.com/29485854/44159243-bec2ef00-a0ae-11e8-94f9-68a164652591.png">

[2018-08-15 17:32] lmccart commented on #3148
thanks this is tracked here https://github.com/processing/p5.js/issues/3141

[2018-08-15 17:32] #3148 closed

[2018-08-15 17:33] lmccart commented on #3147
p5.js works anywhere html5 and js are supported. https://stackoverflow.com/questions/17137577/add-js-and-css-support-to-android-studio-project

[2018-08-15 17:33] #3147 closed

[2018-08-16 17:08] CreativeCode opened #3153 "video.get() seems to freeze live stream of the video"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (DOM?)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch

[2018-08-16 18:29] Spongman commented on #3153
can you try this with 0.7.1?

[2018-08-17 00:33] Zalastax opened #3156 "Confusion between .elt and .canvas"
@Spongman highlights in #3155 that there is a confusion between the properties `.elt` and `.canvas` causing us to write defensive code like so: https://github.com/processing/p5.js/blob/5a46133fdc3e8c42fda1c1888864cf499940d86d/src/core/p5.Renderer2D.js#L112

What is the purpose of having both `.elt` and `.canvas`? How can it be that the canvas should sometimes come from `.elt` and sometimes from `.

[2018-08-17 00:39] Spongman commented on #3156
the solution to the #3155 issue is unrelated to this. `p5.MediaElement` _does_ actually require both `.elt` _and_ `.canvas` properties - the `.elt` is the video element, and the `.canvas` is the bitmap cache that supports `get` & `set`.

the issue here is that `p5.Element` defines a `.elt` property, `p5.Graphics`, `p5.Renderer` derive from `p5.Element` (so inherit the `.elt` property), but they _a

[2018-08-17 05:26] Spongman opened #3157 "docs are down"
https://p5js.org/assets/js/p5.min.js:
[code]

[2018-08-17 06:04] Spongman commented on #3157
seems to be fixed now.

[2018-08-17 06:04] #3157 closed

[2018-08-17 13:01] Zalastax commented on #3039
Yes, RunKit is server-side so I don't think there's any  example we could add that would be useful in that context. I would like us to provide usage examples with build tools like webpack - which we for now only have in https://github.com/p5-types/p5.ts as far as I know.

Reopen the issue if you have an idea of an example that could be useful when run in RunKit.

[2018-08-17 13:01] #3039 closed

[2018-08-17 13:11] #3037 closed

[2018-08-17 15:05] ashleyjamesbrown commented on #3141
Can I ask if this is fixed ?

[2018-08-17 19:07] noisefactor opened #3159 "Stroke cap style doesn't apply to point() as in Processing"
The behavior relating strokeCap() and point() is not the same in p5js as in Processing. For example,
the following will produce squares when clicking in Processing, but it generates circles in p5js.
[code]
[code]

[2018-08-17 20:19] Spongman commented on #3156
it does look a bit like that, yes. although instead of those functions accepting parameters of different types, they're invoked with `this` being objects of different types. just a syntactic difference.

i'm not sure there's anything short of major architectural reworking that can be done to fix this right now.

but... my pie-in-the-sky idea: instead of `p5.Graphics` 'borrowing' methods from `p5`,

[2018-08-17 23:17] stuleelight opened #3163 "p5.js:48602 Uncaught TypeError: Cannot read property '_setProperty' of undefined (eventPrependedFxn @ p5.js:48602)"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-17 23:27] jaspertravers opened #3164 "Online Reference Source Link Error"
At the bottom of https://p5js.org/reference/#/p5/vertex the link to the github documentation is broken. This issue persists in most of the subsections of **Shape** in the online reference.

search `src/core/vertex.js`

The links for all files under `/src/core/shape` (namely `2d_primitives.js`, `attributes.js`, `curves.js` and `vertex.js`) are broken from the reference manual to the github source.

[2018-08-17 23:31] Spongman commented on #3163
yup, this is a bug (actually a dupe of #3141). i'd recommend using p5.js version 0.6.1 for now until a fix for this is released.

[2018-08-18 00:57] stuleelight commented on #3163
Thank you so much! Makes sense since the tutorial is using that version as well.

[2018-08-18 00:57] #3163 closed

[2018-08-18 14:00] Zalastax commented on #2503
@lmccart could you chime in on how you want to proceed?
We have rollup working and it does not require changing the whole project at once. What it gives us is access to ES6 modules. It is possible to use with or without babel.

I'd like us to

1. Replace browserify with rollup
2. Enable ESLint rule [no-commonjs](https://github.com/benmosher/eslint-plugin-import/blob/HEAD/docs/rules/no-commonjs.md)

[2018-08-18 14:36] Zalastax commented on #3141
@ashleyjamesbrown it will be fixed once #3150 is merged.

[2018-08-19 00:01] Zalastax commented on #3093
This was a tricky bug to hunt down.
Those errors are generated when `_createFriendlyGlobalFunctionBinder` is called, which happens when sketch is not defined https://github.com/processing/p5.js/blob/438b59617fd98cae7e4d88a64a6763a229d9f017/src/core/main.js#L503-L528
Looking at the trace I found that this happens at https://github.com/processing/p5.js/blob/438b59617fd98cae7e4d88a64a6763a229d9f017/s

[2018-08-19 14:49] #3003 closed

[2018-08-19 18:25] #3004 closed

[2018-08-20 13:26] Zalastax commented on #815
Looking at `registerPreloadMethod` it seems to me that its main feature is that the p5 instance is bound to every registered method during preload(the registry is shared among all instances). It also calls `_incrementPreload` but the methods themselves have to call `_decrementPreload` so they might as well call `_incrementPreload` as well. Doing so should, as far as I see, make `_wrapPreload` do n

[2018-08-20 13:53] TanviKumar opened #3167 "Shadows for p5"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Currently p5.js does not have any support for sh

[2018-08-20 19:36] kazimsanlav opened #3168 "dom-drop example code from p5.js doesn't work"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-21 04:12] limzykenneth commented on #3168
Possibly related to #3117, can you try the method described there and if you still encounter a problem, let us know. Thanks. @kazimsanlav

[2018-08-21 05:30] kazimsanlav commented on #3168
Yes, it was the same issue and that method worked. Thanks. @limzykenneth

[2018-08-21 05:30] #3168 closed

[2018-08-21 05:49] Spongman commented on #3117
`loadImage()` also works here, and avoids the explicit creation of an image element that requires hiding:

[code]

[2018-08-21 20:31] jbrundage opened #3169 "Click/Hover detection for 3d shapes?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-22 05:37] robotrobo opened #3170 "Can't post xml data using the httpPost() function;stringify error"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] Events
- [ ] Image
- [X] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] XML

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)

[2018-08-22 08:15] Podatus opened #3171 "broken example : DOM >Input and Button"
this DOM example did not work [dom-input-and-button](https://p5js.org/examples/dom-input-and-button.html)
because of the `mousePressed()` event ; maybe it should be replaced by the `mouseClicked()` one

related to [#3141](https://github.com/processing/p5.js/issues/3141)

[2018-08-22 12:34] Zalastax commented on #3170
What happens if you write
[code]

We can probably make this a bit user friendly so I'll open another issue about that if my suggestion works.

[2018-08-22 13:30] robotrobo commented on #3170
Doing this gives no error but it just posts this part to the server -

instead of the actual XML file.

As a result, the server response with an unknown request error.

[2018-08-22 15:37] 4skinSkywalker opened #3172 "vector.setMag() behavior"
Hi guys, I'm a bit confused about the `setMag()` method.

**Should**
`vector.setMag( vector.dot( another ) ) `
**have the same result of**
[code]
**?**

Thanks in advance ;)

[2018-08-22 21:04] islemaster commented on #83
For anyone running across this thread frustrated by the dead link above, the most recent resource I've found is [developer_docs/supported_browsers.md](https://github.com/processing/p5.js/blob/master/developer_docs/supported_browsers.md).

[2018-08-23 14:47] Zalastax commented on #3172
Yes!
That's actually how it's implemented.
https://github.com/processing/p5.js/blob/a64959e2722c4cad9327246be494f0b472ccd54c/src/math/p5.Vector.js#L996-L998

[2018-08-23 14:47] #3172 closed

[2018-08-23 17:03] 4skinSkywalker commented on #3172
I feel the two approaches are different in this particular case because object in JS are passed by reference...
Take the following 'real' example:

var A = createVector( 2, 3 )
var B = createVector( 2, 3 )
A.setMag( A.dot( B ) )
log( A ) => Vector {p5: p5, x: 7.211102550927979, y: 10.816653826391969, z: 0, name: "p5.Vector"}

// Reset vector A
A = createVector( 2, 3 )

A.normalize()
A.mult( A.dot(

[2018-08-23 17:28] meiamsome commented on #3172
@4skinSkywalker
It's to do with the order of operations, you would need to calculate `a.dot(b)` before normalizing a:

[code]

[2018-08-24 11:41] limzykenneth commented on #3170
The "datatype" parameter of `httpPost` is meant to define the return type of data from the server, the data to be sent to the server, `httpPost` itself should be able to infer its type and make the right decision on how to handle it. That being said, it only handles two types for now: objects and boolean values.

For objects, which include p5.XML (what `loadXML` returns), it simply pass it directl

[2018-08-24 15:12] 4skinSkywalker commented on #3172
@meiamsome
So you say the following shouldn't work.
[code]
But it is actually working... It is the counterpart with `setMag()` which is not.

[2018-08-24 17:33] meiamsome commented on #3172
@4skinSkywalker
It's not really a matter of should or shouldn't work, it's about what you're computing
[code]
Calculates
![equation](https://latex.codecogs.com/gif.latex?%5Cdfrac%7BA%7D%7B%7CA%7C%7D%20%5Cleft%20%28%20%5Cdfrac%7BA%7D%7B%7CA%7C%7D%20%5Ccdot%20B%20%5Cright%20%29)
And given that A and B are the same, you get
![equation2](https://latex.codecogs.com/gif.latex?%5Cdfrac%7BA%7D%7B%7CA%7C%7

[2018-08-24 23:45] Zalastax commented on #3170
How come we have a custom implementation of XML parsing and don't import one that is suitable instead? It's a big task to maintain all the code we have and I personally would like to outsource difficult code like XML parsing to a library focused on doing one thing very well.
We could wrap the library with some custom class if we want to maintain the current API.

[2018-08-25 08:54] limzykenneth commented on #3170
@Zalastax The current implementation probably is a translation from Processing, including a custom implementation.

I think if the native DOMParser API is good enough for what we need, we can use that and if not then a lightweight library wouldn't be a bad idea either. However, anything heavier than that should at least wait until a build process with tree shaking is ready otherwise we risk adding

[2018-08-25 20:00] Zalastax commented on #3170
Glad to hear that we already use the DOMParser! So, if we modify p5.XML to work against a DOM Document (I'm guessing it's not represented as that already) we could both remove some code from the parser and get serialization for free via XMLSerializer?
As long as browsers behave alike I think that would be the neatest solution.

[2018-08-26 02:59] limzykenneth commented on #3170
When it's working against a DOM we can pretty much assume they work cross browser similarly as we would work with it the same way as the main Document DOM and query it the same way. It would be nice if p5.XML is simply an abstraction for the DOM then we can easily extract the DOM to be passed to XMLSerializer.

As it is now we lose any underlying reference to the XML DOM when we parse to p5.XML wh

[2018-08-26 03:06] JuanGaray93 opened #3173 "createVector() converts float to int!"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-26 12:44] ankeris opened #3174 "KeyIsDown event failing on Chrome windows 10"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-26 19:45] lmccart commented on #3164
thanks! fixed with https://github.com/processing/p5.js-website/commit/5306ea719564714cdb1aae20e45dac183e841e14

[2018-08-26 19:45] #3164 closed

[2018-08-26 19:53] lmccart commented on #3173
@JuanGaray93 can you give more of a snippet that demonstrates the issue? when I try this simple example, the vector seems to get created and set correctly, outputting a magnitude > 0:
[code]
if you need help debugging a larger sketch or project, please post in the forum for more help: https://discourse.processing.org/

[2018-08-26 19:54] lmccart commented on #3169
an example would be great. i'll let the webgl team speak to whether this makes sense for the core library right now.

[2018-08-26 19:56] #3141 closed

[2018-08-26 19:58] #3093 closed

[2018-08-26 20:01] lmccart commented on #3035
this function might be a bit specific for such a general purpose library -- one thing we want to avoid is newcomers looking at the reference page and seeing many functions whose use are confusing for them. maybe it would be better to have an examples on the examples page that demonstrates how to call some native canvas JS within a sketch to address this issue? (presuming that is possible with the

[2018-08-26 20:02] lmccart commented on #3106
I'm not seeing a lot of energy currently around this one, and based on @limzykenneth's point, I think this function is beyond the scope of the p5.js api in the gamepad API's current state. but it could be a great starting point for an addon library. see the docs here for how to create an addon: https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2018-08-26 20:02] #3106 closed

[2018-08-26 20:06] #1101 closed

[2018-08-26 20:06] #2834 closed

[2018-08-26 20:12] #3153 closed

[2018-08-26 20:15] lmccart commented on #3143
hi @PassLn p5.js mode in processing is a separate project and we don't have control over the versioning from here. you could try posting over on that repo: https://github.com/fathominfo/processing-p5js-mode

[2018-08-26 20:15] #3143 closed

[2018-08-27 14:07] vogtadi opened #3175 "calling pixelDensity() with no args messes with graphic context (calls thereafter behave incorrect)"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-08-27 17:35] dhowe commented on #105
is there any readable documentation on coding style for the project? i was unable to quickly pull it up when asked, and would pretty useful for new contributors (imho)...

[2018-08-27 17:42] lmccart commented on #105
not currently. contributions welcome https://github.com/processing/p5.js/tree/master/developer_docs#code-syntax

[2018-08-27 17:51] robotrobo commented on #3170
I tried using the built-in XML DOM which worked perfectly fine with the httpPost method using the following code -

    list = loadStrings("ListLedgers.xml");
    function setup(){
    list = list.join('');
    parser = new DOMParser();
    xmlDoc =      parser.parseFromString(list,"text/xml")
    httpPost(url,"xml",list,yay,oops);
    }

[2018-08-28 05:27] lmccart commented on #3175
fixed with #3176

[2018-08-28 05:27] #3175 closed

[2018-08-28 11:51] iProgramMC opened #3177 "p5.js not working on AOSP browser"
#### Nature of issue

- Found a bug

#### Most appropriate sub-area of p5.js

- Core/Environment/Rendering

#### Which platform were you using when you encountered this

- Android phone

#### Details about the bug:

- p5.js version: 0.7.1
- Web browser and version: AOSP Browser (Android 4.2.2)
- Operating System: Android 4.2.2
- Steps to reproduce this:
enter growalonegame.000webhostapp.com/demo/

[2018-08-28 14:38] el-schneider commented on #1507
@hamoid
Hi Abe, can you elaborate a bit on your solution? Or do you have an example? For me it didn't work.
I used the disabling/enabling of the z-buffer in processing and it is really usefull.

[2018-08-28 15:17] hamoid commented on #1507
Hi! I only figured out how to disable depth test (commented line):
[code]

![1](https://user-images.githubusercontent.com/108264/44732706-313bc200-aae6-11e8-9b3a-b3d141ffaa7c.png)
![2](https://user-images.githubusercontent.com/108264/44732707-313bc200-aae6-11e8-8778-4d3354cabd33.png)

[2018-08-28 18:15] Spongman commented on #3177
not sure if it's related, but Chrome on Windows gives me a malware warning for that page:

![image](https://user-images.githubusercontent.com/1088194/44742039-b35ec300-aab3-11e8-9e21-e51b432a99a2.png)

[2018-08-29 01:04] JuanGaray93 commented on #3173
@lmccart I wasn't able to reproduce the issue, I spent a lot of time debugging when I had this problem but I didn't commit the code while I was doing it so sadly I can't verify if I was the buggy one (which is probably the case). Sorry to have bothered you and thank you for your time. I'll post in the forum next time with some archive of my code.

[2018-08-29 01:04] #3173 closed

[2018-08-29 19:48] catarak opened #3178 "Disable Friendly Errors sometimes doesn't work"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible): Friendly Errors

#### Which platform were you using when you encountered t

[2018-08-29 20:52] #2183 closed

[2018-08-29 20:55] Spongman opened #3179 "webgl: text() requires opentype font"
continuing discussion on the opentype/`preload` requirement for webgl `text()`:

from #3110:

[2018-08-30 05:00] richardkmichael opened #3180 "WEBGL, smooth() and parent() do not seem to work correctly."
Update: The new online editor is nice! So I used it (and a bit of CSS) to help [demo this issue](https://editor.p5js.org/rmichael/sketches/BkOWCDvwQ). :-)

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Mat

[2018-08-30 07:58] limzykenneth commented on #3177
I don't think there are any plans to support AOSP browser (at least not fully) as it is usually very outdated. The support table on the developer docs are a couple years outdated as well, which we probably should rewrite to keep it up to date.

However, given it is Blink and V8 it should still work most of the time. You will have to provide us with more specifics on how p5.js is not working on AOS

[2018-08-30 08:02] limzykenneth commented on #3170
@robotrobo That will work but you won't be able to manipulate the XML with p5.js before sending it off to the server.

Took a few days to get back here but I believe all functionality of p5.XML can be replaced with native DOM query API. If I get some time this week, I'll try implementing it.

[2018-08-30 17:32] Spongman commented on #3179
here's a table showing impact sizes of including the (bsae64-encoded) Latin subset of Apache Licensed Google [Roboto Font](https://fonts.google.com/specimen/Roboto?selection.family=Roboto) in the library:

Format | Compressed | Size (KiB)
-- | -- | --
ttf | no | 46.7
ttf | yes | 24.4
woff2 | no | 20.4
woff2 | yes | 15.5

`woff2` would only be available once opentype.js supports it (it doesn't yet)

[2018-08-30 18:13] lmccart commented on #3178
I believe the disabling refers to the removal of the type checking for arguments, which is what slows down the code. In the case of loading images or fonts, an error is returned by the browser if the file isn't found, and the FES just adds some info to make it a little clearer. We could of course prevent this, but it's not causing any performance slowdown in these cases. Or maybe we need to change

[2018-08-30 18:43] catarak commented on #3178
Got it. I agree that the naming change would be confusing to beginners. Maybe just the documentation could be updated? Is it documented outside of the wiki (https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance#disable-the-friendly-error-system)?

[2018-08-31 07:38] limzykenneth commented on #3179
Adding ~20-40 KiB to the library to support default font for webgl text for me doesn't worth the trade off as it is a really specific functionality, it could unnecessarily slow down page load for users not using webgl at all especially over mobile connection.

Can some kind of message be provided either in console or on screen to remind the users to load in the required font? As I understand the o

[2018-08-31 18:08] Spongman commented on #3179
yeah, i agree. i think solid user education is the better choice.

[2018-08-31 20:49] mlarghydracept commented on #3179
I agree 100%. I think the average user that is working with 3D shouldn't be too deterred by setting up the font with preload. I guess we can take a wait and see approach. Wait till a version with GL text is published, and see if the reference explanation that is in place is enough for users to avoid the problem. It might be a good idea to give a more elaborate [explanation here](https://github.com

[2018-09-01 22:37] #3178 closed

[2018-09-01 22:38] lmccart commented on #3178
Thanks, I've updated the documentation in the wiki and in the developer docs.

[2018-09-01 22:40] #2999 closed

[2018-09-01 22:42] lmccart commented on #3173
ok thanks for the update @JuanGaray93

[2018-09-01 22:54] lmccart commented on #2503
Hi all, thanks for the work and discussion on this. Yes, we are moving to ES6. The target timeline is still being finalized on this. I would like to pause on rollup+ES6 and other ES6 updating until we've officially kicked things off. You can expect an update in the next month or two with more of a timeline on this. I'm also working on adding milestones and timeline for the repo, so we have a bette

[2018-09-01 23:11] lmccart commented on #3177
thanks for reporting @iProgramMC. as @limzykenneth mentions, AOSP is not supported. you can see the full list of supported browsers [here](https://github.com/processing/p5.js/edit/master/developer_docs/supported_browsers.md) without seeing your example page, it's difficult to tell what's wrong, so I'm going to close this one. sorry we can't help!

[2018-09-01 23:11] #3177 closed

[2018-09-01 23:15] lmccart commented on #3090
@Siiiimon could you try updating to node10 and see if it resolves things?

[2018-09-01 23:28] lmccart commented on #3091
note: it would be great to add these examples / reference update for all mouse and touch functions

[2018-09-01 23:32] lmccart commented on #3167
I'm not seeing a lot of response around this one right now and I think it may be beyond the scope of the library for now. It is possible to call these methods natively on the canvas object, so I'm not sure a wrapper of these is necessary. Let's revisit in the future if others express the same need. Thanks @TanviKumar

[2018-09-01 23:32] #3167 closed

[2018-09-01 23:51] lmccart commented on #3180
could be related to this https://github.com/processing/p5.js/issues/3061?

[2018-09-02 01:13] firehacker12 opened #3183 "Not to sure if i'm just not using tint() right but it doesn't change the opacity of my object."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-02 02:48] richardkmichael commented on #3180
@lmccart Ah, thank you. I hadn't seen that, but I noticed #3027 (smooth is implemented as antialiasing using `setAttribute`).

[2018-09-02 05:54] micuat opened #3184 "Textures Example not working"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-09-02 08:15] Spongman commented on #3184
Uh-oh.

[2018-09-02 15:14] micuat commented on #3184
@lmccart I thought so but in other script I'm working on, I did mute the video but still it doesn't start automatically. When I reload the page and click on the canvas many times, it starts loading but not sure if this is reproducible

[2018-09-02 18:35] mlarghydracept commented on #3184
I am unable to fully reproduce this but I can see what you mean. For me the website example didn't autoplay (with console message you posted), but only the very first time I tried to load it. I made another [example here](https://mlarghydracept.github.io/test-texture-gl-release/) that starts muted. It autoplays correctly for me in Chrome (same version as you). I can't recreate the problem when the

[2018-09-02 20:25] tmarasco125 opened #3185 "mousePressed not working on DOM buttons (p5.js 0.7.1)"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-09-02 20:28] Spongman commented on #3185
yes, this is indeed an issue in 0.7.1. it has been fixed in #3141 and will be in the next release.

[2018-09-02 20:31] Spongman commented on #3141
could we possibly cherry-pick this fix into a special branch off 0.7.1 and release that? it seems like this is a somewhat critical issue that deserves to be fixed outside the regular release schedule.

[2018-09-02 20:50] tmarasco125 commented on #3185
Thank you! Sorry for any double posting on the issue.

[2018-09-02 20:52] Spongman commented on #3185
no problem whatsoever.

[2018-09-02 23:32] lmccart commented on #3185
this should be fixed in the newest release 0.7.2

[2018-09-02 23:32] #3185 closed

[2018-09-03 01:26] micuat commented on #3184
@mlarghydracept your example works fine for me both on Chrome and Safari. And yes, it maybe another problem with my script but I will leave it for now and open a new issue when I find an example that illustrates my problem.

So I guess what is needed is to add

      vid.elt.muted = true

above the line https://github.com/processing/p5.js-website/blob/master/src/data/examples/en/20_3D/04_textures.

[2018-09-03 03:14] kfrajer opened #3186 "P5.DOM.js library: Reference needs blue/black"
Hi

I was checking the reference for the p5 dom library [here](https://p5js.org/reference/#/libraries/p5.dom).

It says:

However, all the links shown there are blue. Could you correct this please? I am not familiar with the dom library and having this amended will clarify the usage.

Kf

Sorry for the blue highlighting... not my intention

![p5dom-ref-bug](https://user-images.githubusercontent.co

[2018-09-03 22:05] lmccart commented on #3186
This is correct. All these functions listed are included in the p5.dom.js file, not in the core p5.js library. So if you want to use the, you will need to include that file in your index.html file. By default, the web editor and the example project already include this file.

[2018-09-03 22:06] lmccart commented on #3186
Oh I see, there are no methods listed in black. So I guess that sentence could be removed completely from the text at the top. That would cause less confusion I think?

[2018-09-03 22:16] kfrajer commented on #3186
Hi Lauren, I remember this list had some entries in black and some in blue. As described in the preamble of the page, some functions are part of the p5.js core. I am not familiar with the source code to tell them apart.  -Kf

[2018-09-03 22:17] tianrandesign opened #3187 "function gotData(data) not working for openweathermap API"
I used the web editor and tried this [openweathermap API](http://api.openweathermap.org/data/2.5/forecast/daily?q=London&appid=ad6e239ec0ac58d0a9836e942aac97eb&cnt=16&units=metric)

when I want to print out the data using
console.log(data);
I got this error:
TypeError: Failed to fetch

It looks like this function " function gotData(data) " didn't work.
Please help out! Thanks in advance!

Here is

[2018-09-03 22:27] #3187 closed

[2018-09-04 05:44] MarellaB commented on #3119
Still seeing this issue in version 0.7.2 any news on a fix? Works just fine with 2d, but switching to WEBGL renders a line loop instead it seems.

![image](https://user-images.githubusercontent.com/10491114/45012145-d32a4580-afe3-11e8-8bea-a12458d5b014.png)
Renders this with 2d
![image](https://user-images.githubusercontent.com/10491114/45012159-dae9ea00-afe3-11e8-90e0-73ba59db060d.png)
but as soo

[2018-09-04 19:45] ashish1729 opened #3188 "confusing documentation of drop() function in p5.dom"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-06 07:28] lmccart commented on #3020
related https://github.com/processing/p5.js-website/issues/72

[2018-09-06 17:18] limzykenneth opened #3189 "p5.XML implementation details"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
I'm currently working on a new implement

[2018-09-06 17:26] Spongman commented on #3189
The existing behavior you described in 1 & 2 wrt handling of text nodes sounds consistent with the way other XML Dom APIs behave - and indeed is in line with the semantics of xml itself.

I would recommend retaining compatibility with the existing code if possible.

[2018-09-06 17:26] Spongman commented on #3189
The existing behavior you described in 1 & 2 wrt handling of text nodes sounds consistent with the way other XML Dom APIs behave - and indeed is in line with the semantics of xml itself.

I would recommend retaining compatibility with the existing code if possible.

[2018-09-06 17:41] limzykenneth commented on #3189
For 1, from [here](https://developer.mozilla.org/en-US/docs/Web/API/Node/childNodes) and [here](https://stackoverflow.com/questions/6766721/why-are-there-text-nodes-in-my-xml-file) I understand that the `#text` node is a result of parsing new lines which if it is desired they are retained for compatibility with the XML specification then it should be fine. However, the documentation mentions

Whic

[2018-09-06 18:17] Spongman opened #3190 "reference docs out of date"
the docs @ https://p5js.org/reference/ are currently the ~~0.7.1~~ 0.6.1 😲  docs, whereas the library that it uses, and the download lins are 0.7.2.

i wonder if there's a way to automate pushing the docs simultaneously with the library? also, maybe there's a way to include the release version in the footer of the docs pages?

[2018-09-07 00:32] vixo777 opened #3191 "Loadpixels / updatepixels combo causes drawing to stop"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-07 00:47] vixo777 commented on #3191
Looking at the code I'm understanding that updatePixels requires parameters to be provided (in my example I was calling them without parameters). I tried calling updatePixels(0,0,width,height) without results. Then I tried updatePixels(1,1,width, height) and it started working with the undesired effect of  scrolling diagonally, so finally I tried updatePixels(0,0,width-1, height-1) and it worked!

[2018-09-07 01:06] Spongman commented on #3191
yes, this is a bug. it looks like the `_pixelsDirty` flag is not getting set correctly.

for now, try this:
[code]

[2018-09-07 03:11] limzykenneth commented on #3190
I thought the release task already automatically updates the docs as well?

+1 for the release version in the docs page.

[2018-09-07 03:15] limzykenneth commented on #3189
Looking at it closer it seems I have overlooked that it is possible to mix text nodes and elements under the same parent. I'm not sure what is the best way to handle these without making the whole API too complex and just a clone of native API.

If it is desired, we can retain existing behavior (but uses native API while returning the same things), and make the DOM property under p5.XML public so

[2018-09-07 04:41] Spongman commented on #3189
I think its a reasonable assumption that text nodes would only be leaf nodes, but XML closely follows the HTML semantics. Indeed an XHTML document is just that - a `body` element will often have text and element nodes intermingled, for example.

[2018-09-07 04:41] Spongman commented on #3189
I think its a reasonable assumption that text nodes would only be leaf nodes, but XML closely follows the HTML semantics. Indeed an XHTML document is just that - a `body` element will often have text and element nodes intermingled, for example.

[2018-09-07 15:42] vogtadi opened #3193 "multiple sketches: keyPressed in only one of them, but keyTyped in all of them"
related to Issue #1492

#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Events

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.2
- Web browser and version: Chrome Version 68.0.3440.106 (Official Build) (64-bit)
- Operating System: MacOS 10.13.6
- Steps to reproduce this

[2018-09-07 16:29] vogtadi commented on #3193
workaround:
In the first instance catch the keyPressed & keyReleased event. For each other instance, call a delegateFunction, which copies over the state of the p5 members "isKeyPressed", "keyIsPressed", "keyCode" and "key", then call the keyPressed or keyReleased event handler.

[2018-09-07 18:48] Spongman commented on #3193
this is caused by the fact that `downKeys` is global, shared between all sketches, and for each event only one sketch makes it past this check:
https://github.com/processing/p5.js/blob/497dac295f33c97539ed82fa87c51fa30e7f99eb/src/events/keyboard.js#L177-L180

`downKeys` was made global in this commit: https://github.com/processing/p5.js/commit/3e311d6617e085a91fa1b397178a533751e15637

I'm not sure

[2018-09-07 19:45] Zalastax commented on #3190
https://github.com/processing/p5.js-website/pull/260 shows how the release version can be included in the docs - it just needs a design!

This happened in the last release as well, see https://github.com/processing/p5.js/issues/3164 and https://github.com/processing/p5.js-website/pull/254#issuecomment-416065295.

[2018-09-08 01:27] rmib200 commented on #2180
Yes, it isn't implemented yet? This is extremely useful.

[2018-09-08 19:49] mm909 commented on #3141
Still having this issue. Has it been resolved?

[2018-09-08 19:55] mm909 commented on #3141
Have the p5.js libs been updated on the p5.js website? I manually updated my dom lib based on issue  #3150 and it is working. Thank you for all the help.

[2018-09-09 04:37] Spongman commented on #3141
yup, 0.7.2 includes a fix for this ;-)

[2018-09-09 04:40] Spongman opened #3196 "webgl: RendererGL test is broken"
in master right now, if you run `npm run dev`, and navigate to `/test/test.html` with the debugger console open, you'll see an `Error` thrown when the RendererGL test starts to run. this error isn't caught by the test framework (because it's thrown during the suite setup phase) and so that test suite doesn't run at all.

[2018-09-09 14:54] EthanHermsey opened #3198 "loadFont reference page; DOM element font-family == filename"
Hey there,

Took me an hour to figure out that you need to specify the filename.
I was looking at p5.Font.font.names.fontFamily.
Only after reading the loadFont code, I figured out it adds the filename as a font-face.

Thank you for p5.
Greeting, Ethan.

[2018-09-10 21:17] Spongman opened #3200 "sound tests are failing"
the latest sound library merge #3195 included a broken test that's causing all subsequent travis builds to fail (https://travis-ci.org/processing/p5.js/builds/426166289).

the test is failing because https://github.com/processing/p5.js-sound/issues/318 and https://github.com/processing/p5.js-sound/issues/319

both these issues are fixed in https://github.com/processing/p5.js-sound/pull/320

[2018-09-10 21:29] Spongman commented on #3190
i'm reasonably sure the docs are out of date as described.

compare https://p5js.org/reference/#/p5/text
with https://github.com/processing/p5.js/releases/download/0.7.2/p5.js, line 69969

[2018-09-10 21:34] Spongman commented on #3190
actually, i think it's worse than i originally guessed.

it looks like the docs are actually still the `0.6.1` docs.

from `https://p5js.org/reference/data.min.json`:
[code]

[2018-09-10 21:52] Zalastax commented on #3193
https://github.com/processing/p5.js/commit/3e311d6617e085a91fa1b397178a533751e15637 doesn't make it more global than it was before so it is a variable that has always been global. Before, it was a global variable via the prototype chain.

To fix this I'd prefer if we start by writing a test that detects the inappropriate behaviour by running two sketches where events in one sketch affects the othe

[2018-09-10 22:13] Spongman commented on #3193
oops, you're right. i was confused by the prototype variable thing.

my vote is for this to become instance-local.

[2018-09-10 23:13] fepegar commented on #871
I tried to print a blank line doing `print()` in a function of a class, in the web editor. I call that function (method? I'm a Python person) in `draw()`. I do
[code]

Now the print dialog keeps popping up and can't modify my sketch, which I guess I'm losing forever (no big deal in this case). Auto-refresh is enabled and I cannot change it either.

Is this expected? I wish the editor had warned me

[2018-09-11 02:11] limzykenneth commented on #3190
Right didn't expect it to be a version that old which confuses me before. I'll have a look at what went wrong here.

[2018-09-11 02:30] #3200 closed

[2018-09-11 03:08] limzykenneth commented on #3190
From what I find it probably have something to do work my previous work on simplifying the docs build process, as it stopped updating since then. However, I'm not sure where in the process it went wrong.

The first step is to generate data.json with yuidoc which the build steps still do fine and generate the latest from source, the generated files however are not committed (`docs/reference`). Next

[2018-09-11 17:08] Spongman opened #3206 "webgl: gHash contains stale buffers after setAttributes"
0.7.2, webgl:

after `setAttributes()`, during which a new context is created, the retained-mode `gHash` geometry cache still contains buffers from the old context.

(`hashCount` is global, shared between instances)

[2018-09-11 18:19] #3190 closed

[2018-09-12 07:00] pioug commented on #3090
_I just came across this issue by googling the error._

It seems like Chrome recently disallowed assigning `ConvolverNode.buffer` more that once.

[2018-09-12 14:31] shiffman opened #3208 "dragOver() and drop() not working together?"
This is a bug I think I have found with p5.dom.js. Here is an example:

https://editor.p5js.org/icm/sketches/HJuRys8_X

If you drag a file over the canvas, it will turn red (according to how `dragOver()` should work. However, if I comment back in the `drop()` method for receiving the file, the `dragOver()` event ceases to function.)

[code]

I went back and found that the code above works with `0.

[2018-09-12 18:26] Spongman commented on #3208
i think the calls to `stopPropagation()` in `p5.prototype.Element.drop()` are what's causing this issue. I also don't think they're necessary i think calling `preventDefault()` is sufficient to override the browser's default behavior - although browser differences may be a factor here. there's also an issue where the use of `attachListener` is causing the user-specified event handlers to be remove

[2018-09-12 19:46] kjhollen commented on #3179
I am in favor of keeping this open for now, in case someone sees this and comes up with another idea to solve the problem. :) but agree that storing the font in the library is not an ideal solution.

[2018-09-13 04:56] lmccart commented on #3114
I'm not seeing more energy around this one and it requires significant changes to the build process so I'd like to hold off on this for now.

[2018-09-13 04:56] #3114 closed

[2018-09-13 05:02] lmccart commented on #3159
Hm it makes sense to me that a point is a circle. There's no rule that p5.js has parity with Processing, so maybe it is ok to deviate here?

[2018-09-13 06:38] noisefactor commented on #3159
I feel as though it's removing a feature to leave it this way. point() is two parameters instead of four, so it permits square points with fewer parameters. It's only ever activated if people fiddle with strokeCap(), which I think is fairly uncommon. The Processing treatment of a point as related to stroke, as opposed to being a primitive shape, makes more sense to me.

[2018-09-13 08:14] lmccart commented on #3159
Yes I agree it's one less feature, but as you mention, it may be an uncommonly used one. If this doesn't break any intuitions for how a point should work in general, perhaps we can let this one go and focus our energy on other more critical unimplemented features and bug fixing?

[2018-09-13 08:14] #3169 closed

[2018-09-13 17:30] Utopiah opened #3210 "getUserMedia not supported in this browser error in Firefox when p5.sound is not included"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Image
- [x] IO
- [x] Utilities

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.5.16 October 11, 2017
- Web browser and version: Firefox 62.0
- Operating System: Windows_NT 10.0
- Steps to reproduce this:
[code]

Found

[2018-09-14 19:29] Lukalotr opened #3214 "Parser Throws Errors When it Finds Keywords in Regex"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

(Wasn't sure exactly how to classify this)

#### Platform:

- [ ] Mobile/T

[2018-09-14 19:55] #2892 closed

[2018-09-14 21:05] meiamsome commented on #3214
Hello, is this on the p5 web editor? I can reproduce it there and not elsewhere, so I'd suggest raising an issue on the web editor's repo instead: https://github.com/processing/p5.js-web-editor/issues

[2018-09-14 21:07] Lukalotr commented on #3214
You’re right, my mistake. Thanks for your advice!

[2018-09-15 00:47] L05 commented on #3198
Hello Ethan,

Thank you for messaging. It seems the reference page for loadFont() lists the path parameter, explaining that it contains the "name of the file or url to load". The function description also says "The path to the font should be relative to the HTML file that links in your sketch."

Could you please specify which section of the loadFont() reference page may need further clarification?

[2018-09-15 16:33] Spongman opened #3216 "some base library reference examples require addon libraries"
0.7.2

a few reference examples in the base p5.js library's docs fail to run if the dom addon library isn't loaded. however, there's no indication that the code requires the user to load the addon library.

[code]

[2018-09-16 08:41] #3214 closed

[2018-09-16 18:55] parenparen opened #3219 "Missing "integrating other libraries" wiki page"
https://github.com/processing/p5.js/wiki/Integrating-other-libraries link is broken on https://p5js.org/learn/. It looks like the page might have been deleted.

[2018-09-16 23:51] julian-weinert commented on #2133
I stumbled across the same issue today. But I think I have a bit of a cleaner solution, than saving the density and applying it over and over again:

`pg.scale(1 / pixelDensity());`

[2018-09-17 00:46] julian-weinert commented on #2373
I don't want to create a new issue, if not necessary. I ran into the same issue today.

I have a graphics context which I'm keeping and constantly add lines to. This context is then drawn onto the main canvas. As soon as I either draw the context using `image()` or add lines with `buffer.line()` the memory shoots up into the GB and keeps rising until Safari kills the process.

[code]

@limzykennet

[2018-09-17 17:26] limzykenneth commented on #3189
I'm going to keep existing public behaviour as to not introduce breaking changes and I don't know enough about how people are using this to suggest breaking changes. For now if necessary, the user can directly manipulate or query the DOM if they wish. We can come back to this topic some other time maybe.

[2018-09-17 17:26] #3189 closed

[2018-09-18 06:07] Spongman commented on #3184
i'm running Chrome Version 69.0.3497.92 (Official Build) (64-bit) on Linux, and now I get:
[code]

here's the policy: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio

i was able to reliably reproduce this issue. using the browser's address bar helped to avoid interaction with the page.
clicking the page repeatedly while it loads causes the video to play, every ti

[2018-09-19 01:42] slowizzm opened #3223 "Feature Request: Letter-spacing (tracking)"
Sorry if there is already an issue open/closed, but I was unable to find anything regarding letter-spacing (tracking). I would like to be able to adjust the letter-spacing, is there a way to do this already, if not, is this a possible feature that can be added to p5?

thanks

[2018-09-20 05:01] petlil opened #3224 "DOMException error using p5.sound on Chrome 69"
The most recent version of Chrome (69) seems to have compatibility issues with some p5.sound objects. Chrome 68 does not exhibit the error.

The error reads:
"DOMException: Failed to set the 'buffer' property on 'ConvolverNode': Cannot set buffer to non-null after it has been already been set to a non-null buffer"

#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

[2018-09-20 17:48] DaforLynx opened #3225 "turnAxis has no description"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-09-21 13:31] marcrleonard commented on #1984
For what it's worth, it seemed to go away when I switched the script tag order. First, p5. Then, p5.dom

[2018-09-21 16:15] asfarley commented on #37
May I ask what happened here? That link gives a 404. I'm interested in the PShape functionality for rendering large point-clouds.

[2018-09-21 17:19] Spongman commented on #37
i believe that issue was moved here: https://github.com/processing/p5.js/issues/458

[2018-09-21 19:58] asfarley commented on #37
From my reading, that discussion is more about re-implementing p5.js to render SVG, rather than replacing PShape.

Really, what I want to do is optimize the display of a point-cloud with many thousands of points. Somewhere I read that PShape is the way to do this in Processing, hence my question.

Is there any recommended facility for making something like a vertex buffer to contain an object that

[2018-09-21 20:04] Spongman commented on #37
do you mean something like this: https://p5js.org/reference/#/p5/vertex ?

[2018-09-21 21:29] L05 commented on #3198
Hey @EthanHermsey,

Thanks for getting back to me with such a clear explanation. I see what you're saying, and I agree with your suggestion for adjusting the description text. I've updated it to:
"You can also use the font filename string (without the file extension) to style other HTML elements."

Best,
Carlos

[2018-09-22 05:25] Leiyufazhuangjia opened #3231 "keyCode event doesn't work in Chorme browser when using p5.js web editor"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-22 12:37] b2renger commented on #37
I think what @asfarley is referring to is creating a PShape object in which you could store points an geometric forms ready to be rendered in one call and I guess on the gpu

probably something like that : https://processing.org/tutorials/pshape/
Dan talks about it and refers to this as "retained" mode to draw VBO

[2018-09-22 16:38] asfarley commented on #37
@b2renger yes, that's exactly what I meant.

[2018-09-23 08:57] config2000 opened #3232 "Feature request"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-23 09:05] config2000 opened #3233 "Feature request: Add Enable() and Disable() to p5.DOM"
[*] New feature request

#### Most appropriate sub-area of p5.js?

- [* ] - p5.DOM

#### Feature enhancement details:

P5.DOM has **Show()** and **Hide()** for the elements but lacking complimentary **Enable()** and **Disable()**
I am writing a front-end GUI that relies on certain elements being disabled according to user data entered. So the additional two functions would be welcome.

[2018-09-23 11:33] yonghuming opened #3234 "confirm blendmodes are working as expected"
[code]
![image](https://user-images.githubusercontent.com/435079/45927533-20f0f880-bf67-11e8-8a6f-e052eb740d16.png)
in processing.py, bend do not affect backgound, but in p5.js i got
![image](https://user-images.githubusercontent.com/435079/45927537-47169880-bf67-11e8-8408-ca7a764f2174.png)
or this if i make ellipse move
![image](https://user-images.githubusercontent.com/435079/45927541-5b5a9580-b

[2018-09-23 11:35] yonghuming commented on #3234
seems in p5
![image](https://user-images.githubusercontent.com/435079/45927576-d6bc4700-bf67-11e8-810f-4b4e6cb5cae5.png)

[2018-09-23 11:38] yonghuming commented on #3234
https://editor.p5js.org/yonghuming/sketches/HyGfjlBtQ js code is here

[2018-09-23 13:06] lmccart commented on #3231
This issue was moved to processing/p5.js-web-editor#701

[2018-09-23 13:06] #3231 closed

[2018-09-23 17:36] zahaRala commented on #1739
Dear Developer
So, I am using Chrome and I think it still don´t work. Everythink I´ve seen in videos was very good, but in Chrome and Firefox it still don´t work :

`<script src="http://adi.nicolaiweitkemper.de/p5.sound.js"></script>

<h2 id="text"></h2>

<script>

var mic;

function setup() {
  mic = new p5.AudioIn();
  mic.start();
}

function draw() {
  var vol = mic.getLevel();
  document.getE

[2018-09-24 02:31] lmccart commented on #871
@fepegar the last line should be `print('\n')`
Calling `print()` without any arguments invokes the [`window.print()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/print) function which opens the print dialog.

@L05 let's add a line to the [print()](https://p5js.org/reference/#/p5/print) documentation that says:

[2018-09-24 16:57] zahaRala commented on #1739
My recording of the sound volume doesn´t work in chrome on PC, on my smartphone and my normal browser on my phone.
I just evven don´t get a request to use the audio.

So, I tryed it with this code :

`http://adi.nicolaiweitkemper.de/Lautsst%C3%A4rke%20TEST.html`

[2018-09-24 19:18] lmccart opened #3235 ""Uncaught Error: Error creating webgl context""
#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

- p5.js version: all (tested with 0.6.1 and 0.7.2)
- Web browser and version: chrome 69.0.3497.100
- Operating System: osx 10.13.6
- Steps to reproduce this:
All webgl examples seem to have stopped working since chr

[2018-09-24 20:03] meiamsome commented on #3235
Sounds like your chrome might have disabled hardware acceleration. Does this page work for you: https://get.webgl.org/ ? If not, check hardware acceleration option under settings -> advanced -> system settings

[2018-09-24 20:07] lmccart commented on #3235
oh! you're right, thank you! sorry about that, all is well :)

[2018-09-24 20:07] #3235 closed

[2018-09-24 21:11] kjhollen commented on #3235
whew 😅

[2018-09-24 21:40] dethe opened #3236 "use background() with p5.Graphics"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-24 23:11] dethe commented on #3236
OK, would still be nice if this worked, but looking at the code `background(image, alpha)` doesn't appear to be implemented anyway.  This workaround solved the immediate problem for me:

[code]

[2018-09-25 00:09] theluckyfellow opened #3237 "p5.js can't handle moderate size videos"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-09-25 17:43] Spongman commented on #3237
the reason it's crashing here is that p5 is trying to load the whole video into memory before creating a base64-encoded string version of it to play.

it's not directly supported (and it may not work on all browsers), but here's a way to pass an abstract url to the video element so that it will stream instead:

[code]

[2018-09-26 05:55] justinsunho commented on #2865
Hi @lmccart, is https://github.com/processing/p5.js/issues/1954 an up to date list of examples we could take on? Or is there an active list of tutorials that could be worked on? Don't want to be re-doing anyone else's work/ work that's already been done.

[2018-09-26 06:50] #3206 closed

[2018-09-27 05:32] theluckyfellow commented on #3237
I'm very grateful for your response. It has helped me a lot.

I've fairly new to javascript, and I normally code in Java. p5.js is a great tool but I don't feel that the documentation in the reference and tutorials is as complete as the Java mode. Having examples for loading videos[, here,](https://p5js.org/examples/dom-video-canvas.html) which will cause an error if a moderate size video is loade

[2018-09-27 17:36] #3236 closed

[2018-09-27 18:13] lmccart commented on #3216
example of reference entry that mentions dom library, we could use this same format https://p5js.org/reference/#/p5/createCapture

[2018-09-27 18:18] lmccart commented on #3216
- first, let's try to remove use of p5.dom in examples when not needed, [for example, this one could use mousePressed instead](https://p5js.org/reference/#/p5/saveJSON)
- then if necessary, add a text line explaining the use of p5.dom in example. note, the text above is for functions that require the p5.dom library. this issue is referring to examples that require the library but functions that do

[2018-09-28 06:29] justinsunho opened #3239 "Contributing Docs - Issue Assignment"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Developer Docs

#### Feature enhancement details:
The contribution docs mention to 'assign an issue to yourself'. That is not currently possible. New instructions should be written so that new, future collaborators know whether to ask @lmccart for i

[2018-09-28 14:15] #871 closed

[2018-09-28 16:41] PhilipRL opened #3240 "Feature Request: Return heading between two vectors with v1.heading(v2)"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.7.2

#### Feature enhancem

[2018-09-29 20:01] AdilRabbani commented on #2344
Hey, if I'm not wrong the TRIANGLE_STRIP issue is solved now after #3213. Shouldn't this be closed? The issue with TRIANGLES still persists though, but I think it would be better to make it a separate issue...

[2018-09-30 12:04] Alynva commented on #2373
@julian-weinert same here.

[2018-09-30 12:36] mkrasuski opened #3242 "Enhancement: result for loop()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-01 03:25] juandavidcruzs opened #3243 "Enhancement: Add more Cursors"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

There are a lot of cursors as seen on:

[2018-10-01 12:00] AdilRabbani commented on #2344
TRIANGLES fixed in #3244

[2018-10-01 18:37] mebble commented on #3242
Yeah not being able to read the state without changing it is a bad idea. An explicit method would be very useful, or perhaps a global variable? p5 already has `keyIsPressed` etc, so a variable like `isLooping` would be consistent with the API.

Also could you explain what you mean by making `loop()` and `noLoop()` chainable?

[2018-10-01 20:55] limzykenneth commented on #3242
Changing the behaviour of `loop()` and `noLoop()` will probably break a lot of existing code as they are used pretty often so it probably will not be considered, a global variable however I don't see why it won't be possible to have that. Overall I would like to have a way to query if the sketch is looping or not as well, otherwise I will need to have keep track on my own with a toggling variable

[2018-10-02 08:13] mebble commented on #3242
I'm new to p5 but I'd love to work on this. The basic idea is something like the following code snippet
[code]

[2018-10-02 22:31] Spongman opened #3246 "webgl: strange angleMode/resize/scaling issue"
0.7.2 webgl: https://codepen.io/Spongman/pen/pxggxg?editors=0010

[code]

initially looks like this:
![image](https://user-images.githubusercontent.com/1088194/46380661-064e0c00-c658-11e8-8495-1f7111466fa9.png)

but resizing the window, it redraws like this:
![image](https://user-images.githubusercontent.com/1088194/46380682-16fe8200-c658-11e8-93c1-1aec3e7b0cd1.png)

it doesn't repro if you take o

[2018-10-04 02:35] DaAwesomeP opened #3247 "Running .get() on a webcam capture sometimes incorrectly scaled"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-10-04 02:49] DaAwesomeP commented on #3247
Also, Safari always yields a blank image: https://github.com/face-game/face-game-content/pull/62/files?short_path=0ff3924#diff-0ff39249145722b2d67fe398e448a099

[2018-10-04 07:14] Spongman opened #3248 "webgl: cylinder normals are wrong"
0.7.2: https://codepen.io/Spongman/pen/mzPBeQ?editors=0010

![image](https://user-images.githubusercontent.com/1088194/46458329-443b5500-c76a-11e8-8169-608996b0a629.png)

the specular highlight err... highlights this issue. the normals for the top & bottom ring of vertices of a cylinder are wrong.

[2018-10-04 07:45] Spongman opened #3250 "webgl: cone normals are wrong"
0.7.2: https://codepen.io/Spongman/pen/aRNLrj?editors=0010

this one's quite subtle, it's easier to see if you watch the animation above.

![image](https://user-images.githubusercontent.com/1088194/46459621-430c2700-c76e-11e8-90da-61126232020d.png)

the issue is how the normals for the top section of the cone are calculated. the fix for this isn't quite as simple as removing the call to `computeNo

[2018-10-04 14:48] dhowe opened #3251 "Include info on options for p5.Font.textBounds()"
1. Include what font-size is chosen if no argument is supplied
2. Include info on the optional 'opentype options' argument

[2018-10-04 15:02] DaAwesomeP commented on #3247
I'm starting to believe that the scaling issue is with `videoInput.size()`. It must be scaling the `<video>` if it were drawn as a raw `<video>` element but not the data inside. It does however set the canvas size of the data inside without scaling it the video.

[2018-10-04 15:37] voidgraphics commented on #3180
Any updates on this matter? I'm still encountering this bug on 0.7.2. Or any workarounds so I can have smoothing and still manage to move my canvas to my other div?

If help is needed to squash this bug, I can help, I just need someone to point me in the right direction

Thanks :)

[2018-10-04 16:29] EthanHermsey opened #3252 "Suggestion: midiToString"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature suggestion

#### Most appropriate sub-area of p5.js?

- [x] Sound

#### New feature details:

Accepts midi, returns note + octave as string.

[code]

[2018-10-05 03:43] mohhasbias commented on #2182
Is this issue solved?
The status is still open.

[2018-10-05 14:19] limzykenneth commented on #3242
@mebble Do go ahead with your PR, if you can include tests and documentation then it will help greatly with getting it merge. If you need with with those, checkout the [developer docs](https://github.com/processing/p5.js/tree/master/developer_docs) or ask anyone here.

[2018-10-05 14:49] dfsp-spirit opened #3253 "The feature email address listed on the website is down"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other: Website

#### Details about the bug:

- The website lists the email address (feature@p5js.org) w

[2018-10-05 18:15] #3225 closed

[2018-10-05 22:12] chrisorban opened #3255 "Partial fix for iPad external keyboard functionality"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-10-06 01:49] lmccart commented on #3253
thanks @dfsp-spirit I will update this.
btw the [forum](https://discourse.processing.org/) should be open for registration.. can you tell me the error you're seeing? or is there a leftover link to the old archived forum somewhere?

[2018-10-06 02:27] chrisorban opened #3256 "Fix for iPad external keyboard arrow key functionality"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-10-06 09:11] dfsp-spirit commented on #3253
Hi @lmccart,

yes, the link to the old forum is displayed when you click on the _New Issue_ link here at github. It says:

And there it says:

[2018-10-06 16:18] unbenjami opened #3257 "P5 Save createGraphics issue "Uncaught TypeError: Cannot read property 'elt' of undefined""
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobi

[2018-10-06 18:20] Spongman opened #3258 "webgl: iOS12 per-pixel lighting is broken"
0.6.1->0.7.2

https://codepen.io/Spongman/pen/MPjGbq?editors=0010

i have only tried this on a single iOS12 device (an iPhone 6S), but on that device the per-pixel lighting is broken. it works fine on everything else i have tried it on, mac, windows, linux, android.

this may be a regresseion in iOS12 itself. i don't have access to other devices with different iOS versions.

![image](https://user-

[2018-10-06 21:07] lmccart commented on #3253
aha thank you. I will update this

[2018-10-06 21:09] lmccart commented on #3253
This issue was moved to processing/p5.js-website#267

[2018-10-06 21:09] #3253 closed

[2018-10-06 21:28] lmccart commented on #3242
We don't currently have getters for a lot of p5 settings set by the user. For example there's no getFill() getStroke() isSmoothed() etc. Since the state is known at the start (looping), couldn't the user easily keep a boolean variable to track for themselves whether the looping has been toggled?

[2018-10-06 21:31] #3170 closed

[2018-10-06 21:54] limzykenneth commented on #3242
That is how I currently keep track of the looping state. It does add a bit of extra code and I need to make sure to toggle whenever the looping state change in the code. I guess it is a nice to have at the very least but if it doesn't align with the intent of the library (as other states are also not readable) I'm not that attached to the idea as well.

[2018-10-07 03:23] Tyson1950 opened #3259 "difference in text and syntax for arguments for rect() in the reference"
Hi, Not sure if this is the appropriate place and I may be wrong because this is the first night I started learning JavaScript but I noticed in the reference area for p5.js for the rect() function there is a discrepancy between the wording in the text and the description in syntax. The text description says the 5th argument is top right corner but under syntax, it lists the 5th argument as [tl] an

[2018-10-07 07:54] unbenjami commented on #3257
Awesome! thank you!

[2018-10-07 14:10] LanceFun commented on #3259
Duplicate of #2879

[2018-10-07 14:11] Leiyufazhuangjia commented on #3208
omg! same isuue!
i have juse post the it there https://discourse.processing.org/t/dragover-and-dragleave-do-not-work/4208

[2018-10-07 14:26] Leiyufazhuangjia opened #3260 "p5 dom library did not set binding DOM element as Default"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-10-07 14:38] shiffman commented on #3260
I've tested this and can confirm the issue. The above code from @Leiyufazhuangjia works in version `0.6.1` but not in any of the `0.7.x` versions.

[2018-10-07 15:16] lmccart commented on #3259
thanks. just updated the reference, should be correct now: https://p5js.org/reference/#/p5/rect

[2018-10-07 15:16] #3259 closed

[2018-10-07 22:43] Spongman commented on #3260
Is this perhaps related to #3185?

[2018-10-08 02:40] DaAwesomeP commented on #3247
OK, I was able to create a workaround the issue with `window.devicePixelRatio`:

[code]
Basically, I scale up the camera image by the device pixel ratio to display it and scale it back down to process it.

[2018-10-08 05:28] abhi0977 commented on #193
@lmccart In safari when you directly maximise the screen then view will not get updated.

[2018-10-08 09:57] limzykenneth commented on #3260
The user's callback here: https://github.com/processing/p5.js/blob/master/src/core/p5.Element.js#L242 is not called with the correct context instead the internal function has its context bound with `adjustListener`, so changing the function call to `fxn.call(this)` seems to solve this problem.

Putting together a PR now.

[2018-10-08 12:28] nazhenhuiyi opened #3262 "https://p5js.org/reference/ is not okay?"
![image](https://user-images.githubusercontent.com/11942909/46608863-b29c6080-cb38-11e8-86ee-4a745399ed6c.png)

somebody can help me?

[2018-10-08 14:52] LanceFun commented on #3262
For me, the reference page works.  Are you still having this problem?  My first guess is the error was caused by loading the page when a new version of the reference was being built.

[2018-10-08 15:50] nazhenhuiyi commented on #3262
oh, I can open this with chrome stealth mode or firefox. it's weird, but thank you @LanceFun .

[2018-10-08 15:50] #3262 closed

[2018-10-08 16:42] Spongman commented on #3262
Sounds like a bad chrome extension.

[2018-10-09 16:11] Spongman commented on #193
Shouldn’t you be using `resiseCanvas()` if you want the tenderer to resize?

[2018-10-09 23:13] lee2sman opened #3264 "Print function opens print dialog even with a defined var if there is no setup/draw"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-10 13:11] limzykenneth commented on #3264
This is expected functionality, `print()` does not have its functionality overwritten before p5 is initialized, ie when `setup()` is defined and being called. It is the same as all the constants and functions in p5 being undefined if `setup()` isn't present or before it is called.

[2018-10-10 13:33] lee2sman commented on #3264
I see. Thanks.
I wonder if there's a way to give some warning on the console that can help identify this.

[2018-10-10 13:37] limzykenneth commented on #3264
The FES can potentially handle this but I wonder if it would be desired because if you are using instance mode and have a `print()` outside of your sketch meant to bring up the print dialog, it would still warn about it. Also the message thrown by FES on similar cases are usually meant to handle silent or hard to decipher error messages whereas in this case the print dialog serves as a pretty obvi

[2018-10-10 17:16] lee2sman commented on #3264
What do you think @almchung

[2018-10-10 17:23] Spongman opened #3265 "webgl: setAttributes() breaks resizeCanvas aspect"
new in 0.7.2 (doesn't repro in 0.7.1)

- https://codepen.io/Spongman/pen/KGmNrB?editors=1010
- resize the window
- notice the circle is stretched

calling `setAttributes()` causes `resizeCanvas()` to *not* set the aspect ratio of the canvas correctly.

[code]

[2018-10-11 02:08] Spongman commented on #2542
i think this can probably be closed now. the `ellipse()` call is now less than 1% of the total:

![image](https://user-images.githubusercontent.com/1088194/46776290-c9b98a80-ccbf-11e8-9c48-da923c0b5785.png)

[2018-10-11 09:15] pbouigue opened #3266 "change anchor point of a 3D primitive."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

Hey.

I was wondering if there was any way to change the anchor point of the plane in a 3D mode. By default, it's set to center.
like the rectMode(CENTER)
the planeMode(CENTER)

[2018-10-12 03:10] MichaelPaulukonis commented on #2065
The difference compared to processing.js is staggering.

[2018-10-12 03:34] Spongman commented on #2065
@michaelpaulukonis can you possibly post a sample that demonstrates the performance issue you’re seeing? It’s not surprising that Java is quicker in general, but there have been changes in this area recently to address this and it _should_ be improved, but there may well be more room for improvement...

[2018-10-12 21:01] Zalastax commented on #3242
I think you should just document the internal variables and if they have names that start with _ rename them. Write that the variable is read-only! An alternative if you want to be more fancy is to use a real **getter**. Making loop() return a boolean is more complicated than you need and it's also not great to force users to manage their own version of the data (it might go stale and it just make

[2018-10-12 21:15] lmccart commented on #3242
internal variables attached to p5 with underscore are named that way to decrease the chance there will be a conflict of names as all p5 properties and functions are bound to the window in global mode. we can talk about whether we'd like to move to getters across the library, but I think that is a broader issue since there are a number of setting methods that don't currently have them. so let's ope

[2018-10-13 01:41] orazdow commented on #1355
I am getting this error, even if the only line in my code is `radio = createRadio();` in setup().

The full error is:
p5.dom.min.js:1 Uncaught TypeError: a._validateParameters is not a function
    at e.a.createRadio (p5.dom.min.js:1)
    at setup (main.js:29)
    at e.<anonymous> (p5.min.js:4)
    at e.<anonymous> (p5.min.js:4)
    at new e (p5.min.js:4)
    at e (p5.min.js:3)

[2018-10-14 11:06] rottenoats opened #3267 "stroke color is applied to whole shape instead of each vertex"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-14 18:11] SphaeriCactus commented on #3243
I agree! I would love to see more cursors! :)

[2018-10-14 18:12] jeremychone opened #3269 "typescript types issue - Should be HTMLMediaElement"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] TYPES

#### Details about the bug:

- p5.js version: 0.7.2 (@types/p5 0.7.0)

#### Issue
Not sure this is the right place for p5 typescript bugs, but this is a probably bug with @types/p5

It seems it should `MediaElement` does not exist (but specified in the type) and `HTMLMediaElement` is the one to use.

[

[2018-10-14 18:15] SphaeriCactus commented on #3233
Sounds good!

[2018-10-15 13:52] alator21 commented on #1984
@marcrleonard  That worked for me too.Thank you.

[2018-10-16 14:56] EsdrasXavier commented on #3267
Hey, after a few minuts testing this issue I get the answer, I guess, when you put `beginShape();` without any argument a variable called "shapeKind" is null, than when needs to draw the var is null and don't match with any type of the possible draws. So if you pass as paramenter "QUAD_STRIP"  or "TRIANGLE_STRIP" like this:
[code]
must work,  but I do no if they did it on purpose or not, any way t

[2018-10-16 19:22] catarak opened #3270 "Using AUTO with p5.element.size() sets width or height to 0, rather than "auto""
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible) DOM

#### Which platform were you using when you encountered this?

- [ ] M

[2018-10-17 08:23] mikima opened #3271 "Set textStyle() both to Italic and Bold"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-19 13:49] hamoid commented on #2804
Is this the same bug? https://discourse.processing.org/t/custom-shape-not-filled-correctly-with-webgl/4631

[2018-10-19 22:43] Spongman commented on #2865
[code]

[2018-10-20 12:41] yonghuming opened #3273 "bug in drawing arc"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Details about the bug:

- Web browser and version: chrome latest
- Operating System: windows10
- Steps to reproduce this:

![image](https://user-images.githubusercontent.com/435079/47255616-b1f3ba80-d4a6-11e8-9e74-154dfcd32d8b.png)
i want to demostrate how the stop parameter of arc() functi

[2018-10-22 10:29] Timothy-Tolley opened #3274 "SVG not scaling correctly - blurry"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-22 22:01] lmccart opened #3275 "deviceMoved() and deviceShaken() should link to setMoveThreshold() and setShakeThreshold()"
Documentation for each mentions threshold but doesn't mention function to set these thresholds. The documentation should mention this and link directly to this function. It would also be nice to add a second example for each that demonstrates how to use these functions.

https://p5js.org/reference/#/p5/deviceMoved
https://p5js.org/reference/#/p5/deviceShaken
https://p5js.org/reference/#/p5/setMove

[2018-10-23 08:25] mikima opened #3277 "table.getObject() edit proposal"
In `p5.table` we have a `getObject()` function. When called, it creates an object with a property for each line having as property name the row index:
[code]

However, in most of the other libraries (like as d3.js) CSV are parsed as array containing objects:
[code]
This would be more meaningful in my opinion, since in this way we can use all the vanilla array operators provided by JS.

It would be

[2018-10-23 10:52] Timothy-Tolley commented on #1444
I've found that loadImage function doesn't work for SVG on firefox but does work on chrome and safari. I know SVG isnt explicitly supported but I think that the SVG loading is the issue on firefox. Firefox gives the error:

`InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable p5.js:13990
[55]</p5.Renderer2D.prototype.image
http://localhost:3000/assets/js/p5

[2018-10-23 15:18] slothdude commented on #1770
I was able to reproduce the error by using react router, p5-react-wrapper, and bootstrap. This error would pop up when following a `<Link />` react-router element from a page where I had a 3d sketch to a page just displaying "hi". I was also able to stop the error by changing the code in the p5.js lib folder by wrapping it in a null check like so:

[code]

I would like to submit a pull request if

[2018-10-23 20:57] catarak opened #3278 "loadPixels() does not work for video elements"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible) DOM: Video

#### Which platform were you using when you encountered this?

[2018-10-23 20:58] kendalled opened #3279 "Line 20 Comment has a typo"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Although in a comment, confused me when reading the p5 dom code)

#### Which platform were you u

[2018-10-23 20:59] kendalled commented on #3279
p5.dom.js - Line 20

[2018-10-24 01:30] Spongman commented on #3278
i believe this is fixed in #3221

[2018-10-24 01:34] catarak commented on #3278
@Spongman yeah, seems like it's the same bug!

[2018-10-24 15:15] reona396 opened #3280 "Mail address in community page doesn't work"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (p5.js web page)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tab

[2018-10-24 16:22] montoyamoraga commented on #3279
fixed by pull request #3276

[2018-10-24 16:22] #3279 closed

[2018-10-24 17:46] Emil0hman opened #3281 "Placeholder in createInput"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-24 17:50] Spongman commented on #3281
one way to do this is:
[code]

[2018-10-25 03:50] lmccart commented on #3280
thanks for reporting. the correct address should be hello@p5js.org

[2018-10-25 03:51] lmccart commented on #3280
This issue was moved to processing/p5.js-website#273

[2018-10-25 03:51] #3280 closed

[2018-10-25 04:22] drusepth opened #3282 "random() passed an array of vectors returns a string"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Utilities

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.6.1
- Web browser and version: Chrome 70
- Operating System: Windows 10

Steps to reproduce this:

* Open a console on a page with p5.js
* Execute `result = random(cr

[2018-10-25 07:49] Spongman commented on #3282
Try `random([ ... ])`

[2018-10-25 10:02] dirkk0 commented on #3224
Possibly related to this:
https://github.com/processing/p5.js/issues/3090

[2018-10-25 20:37] fergfluff opened #3283 "Addition to reference page for loadFont()"
#### Nature of issue?

- [ ] Found a bug
- [ x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-10-25 22:19] pakosaldanaort commented on #3240
@lmccart @PhilipRL  I will work on this  Existing feature enhancement

[2018-10-25 23:32] Spongman commented on #3283
is the p5.js library documentation going to assume that everyone is using the p5 web editor going forward?

the docs already include the sentence "The path to the font should be relative to the HTML file that links in your sketch." which covers the general case here.

[2018-10-26 01:56] drusepth commented on #3282
Whoopsies. Thanks!

[code]

[2018-10-26 01:58] Spongman commented on #3282
Actually, can you reopen this?  I think the string you’re seeing is still an issue.

[2018-10-26 03:12] lmccart commented on #3283
I think it's reasonable to add this in order to make the tools place nice together, but we should perhaps add to the beginning of that paragraph, "If you are using the [p5.js web editor](https://editor.p5js.org), "

[2018-10-26 03:47] dhowe commented on #3283
suggestion above sounds reasonable, but I think that we should avoid this general assumption

[2018-10-26 03:53] lmccart commented on #3283
@dhowe I agree. I guess I'm thinking there could be some middle ground where we don't assume anyone is using it but do provide some scaffolding for those that are

[2018-10-26 03:58] tneotc opened #3284 "the problem that cant add event"
[issue.txt](https://github.com/processing/p5.js/files/2517610/issue.txt)
[issue.txt](https://github.com/processing/p5.js/files/2517612/issue.txt)

#### Nature of issue?

- [√ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ √] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ]

[2018-10-26 06:34] INT-ZC opened #3285 "call back of createVideo does not return properly"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-28 02:52] dioptre opened #3287 "Connecting oscillator to a song is broken"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-10-28 04:11] lmccart commented on #3287
can you post a snippet that illustrates the problem? or a link to an example that's not working?

[2018-10-29 18:35] digitalfrost commented on #3283
The  [reference page](https://p5js.org/reference/#/p5/loadFont) for **loadFont()**

[2018-10-29 18:48] digitalfrost opened #3290 "Typo in loadFont() reference"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

There is a typo in the description section of the loadFont() [reference](https://p5js.org/reference/#/p5/loadFont)  :

[2018-10-29 19:10] digitalfrost commented on #3283
If included this should not be in the opening paragraph but in the description.

Personally I agree with @Spongman and do not think that the p5.js reference should be “littered” with references to the p5 web editor.

There should either be a specific section in the documentation about using p5.js with online code editors such as the p5 web editor, CodePen, JSFiddle, et al.

Or this should be part

[2018-10-30 05:17] lmccart commented on #3290
fixed with https://github.com/processing/p5.js/pull/3291

[2018-10-30 05:17] #3290 closed

[2018-10-30 10:11] digitalfrost commented on #3281
Is placeholder a custom attribute or are you trying to do this:

`<input type="text" value="placeholder">`

[2018-10-30 17:17] lmccart commented on #3275
closed with https://github.com/processing/p5.js/pull/3288 and https://github.com/processing/p5.js/pull/3289

[2018-10-30 17:17] #3275 closed

[2018-10-30 17:54] TanviKumar commented on #3271
Willing to take this up if this feature is to be added!

[2018-10-30 18:48] togergo commented on #3278
If I'm right, the video loadPixels push the data into a global (window.)pixels array, if you don't do anything, the just the loadPixels calls, the video with appear on canvas. So, if you work with canvas pixels, you can modify them pixels[index] = doSomething(pixels[index]) .. etc

I'm totally new, is it a workaround?

[2018-10-31 13:48] n-peugnet opened #3292 "p5.dom.js drop function reads .json files as base64 encoded with application/json type instead of a clear text/json type"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
  p5.File of p5.dom.js

#### Details about the bug:

- p5.js version: 0.6.0

[2018-10-31 18:43] sjscotti opened #3293 "Some Materials not working on iPhone in 3D"
#### Nature of issue?

- [XX ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ XX] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ XX]

[2018-10-31 18:50] dgennetten commented on #1339
Is there any update on this? Is @Spongman's p5.d.zip still the way to go?

[2018-11-01 13:36] limzykenneth commented on #3281
@digitalfrost `placeholder` is an existing attribute for input type of `text` (it shows a greyed out placeholder text when the field is empty)

@TanviKumar I think the method suggested by @Spongman is sufficient in this case, for me at least.

[2018-11-01 17:38] digitalfrost commented on #3281
@limzykenneth  - oh yes html5 - duh !

[2018-11-01 18:38] n-peugnet commented on #3292
Yes I just learned that this is the valid MIME type for `.json` files.
The solution you are proposing is probably the best, but I can't think of a better way than having an array containing every imaginable text MIME types.

Currently I am solving my problem like so:

[code]

[2018-11-01 18:50] Spongman commented on #3292
maybe it's worth doing something similar to what `httpDo` does? `.json` being returned as parsed objects.

[2018-11-01 19:22] JulesGalbraith opened #3294 "push() and pop() don't seem to apply to strokeWeight() in webgl"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobi

[2018-11-02 03:22] anassfiqhi opened #3295 "Please put more details"
Please put more details and explain more in the documentation,specifically for the parameters of each function because there is so. E beginners who they want to start with P5 but they are not confortable with the explanation or at least refer to other link who can explain the basic concepts

[2018-11-02 10:12] digitalfrost opened #3296 "Vulnerabilities in dependencies"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Security)

running **npm install** gives the following warning

`added 1511 packages from 1560 contributors and audited 9000 packages in 249.758s
found 21 vulnerabilities (9 low, 9 moderate, 2 high,

[2018-11-02 10:16] digitalfrost commented on #3296
A lot of the warnings are raised due to **grunt-contrib-yuidoc**
The p5.js project is already on the latest released version.

Link to the npm page for [**grunt-contrib-yuidoc**](https://www.npmjs.com/package/grunt-contrib-yuidoc?activeTab=dependencies)
The last release was 3 years ago.

[2018-11-02 10:18] digitalfrost commented on #3296
[grunt-saucelabs](https://www.npmjs.com/package/grunt-saucelabs) also causes a warning.
Last release was 2 years ago.
The p5.js project is already on the latest released version.

[2018-11-02 10:31] digitalfrost commented on #3296
The other warnings come from:

[grunt-update-json](grunt-update-json)
Last released 3 years ago.

[grunt-release-it](https://www.npmjs.com/package/grunt-release-it)
Last released 3 years ago.

[grunt-jscs](https://www.npmjs.com/package/grunt-jscs)
Last released 2 years ago

[2018-11-02 12:04] dhowe opened #3297 "Issue: 'size' fails as variable name"
Each week in class a student attempts to use 'size' as a variable name. And their sketch silently fails (at least in the editor), which is confusing. As size() is, I believe, only a function on numberDict, I wonder if there is a way to allow its use unqualified use?

On a separate but related note, why are we not using the friendly error mechanism by default in the online editor (including p5.js r

[2018-11-02 13:12] digitalfrost commented on #3297
I can reproduce this problem in CodePen: https://codepen.io/anon/pen/KrPxXY?editors=1111

Interestingly changing

`var size = 300;`

to

`let size = 300;`

works

[2018-11-02 13:30] limzykenneth commented on #3292
We might come across other files types in the future where the current checks breaks down but for now we can just deal with them on a case by case basis and not try to deal with everything at once.

@Spongman I think that is a good idea. Most people probably won't want to load in JSON without parsing it I guess.

[2018-11-02 13:50] digitalfrost commented on #3284
@tneotc
There is no **mouseover()** function in the core p5.js library
The available functions are listed [here](https://p5js.org/reference) . Please refer to the **events** section
This [example](https://p5js.org/examples/hello-p5-interactivity-1.html) should give you an idea as to how to solve your problem.

The p5.dom library has a **mouseOver()**  function : https://p5js.org/reference/#/p5.Ele

[2018-11-02 13:58] tneotc commented on #3284
so if my shape have different part,how can the mouseOver() do different behavior in different part?Looks like the shape is not an object? Only I create different canvas?

[2018-11-02 14:00] digitalfrost commented on #3273
Unable to reproduce issue:

CodePen: https://codepen.io/anon/pen/NEKOJr

[2018-11-02 15:56] Spongman commented on #3297
It should be quite simple to have the editor hook the FES functionality and report those errors to the user.

[2018-11-02 16:42] hackertron commented on #3266
is it still open ?

[2018-11-02 21:38] kylemcdonald commented on #3278
I can confirm this bug, and I can narrow it down a little: I have examples that use `loadPixels()` that work in 0.7.1 but not 0.7.2.

[2018-11-03 02:36] leohasanose opened #3298 "p5 round() method"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-11-03 10:36] ejgutierrez74 opened #3299 "Error in image displaying"
#### Nature of issue?

- [X ] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Image

#### Which platform were you using when you encountered this?

- [X ] Desktop/Laptop

#### Details about the bug:

- p5.js version: Complete version 0.7.2
- Web browser and version: Atom live server using Firefox 63.0 64 bits
- Operating System:Ubuntu 18.04.1
- Steps to reproduce this:
Following this

[2018-11-03 22:31] lmccart commented on #3299
Is this an issue with the tutorial's directions? In this case, please report it to the video tutorial author.

[2018-11-04 18:26] #3295 closed, assigned to nobody

[2018-11-04 19:15] L05 commented on #3271
Hey sorry @TanviKumar! I didn't see your reply before I had self-assigned. Did you still want to take this on? Let me know when you get a chance.

[2018-11-04 19:19] TanviKumar commented on #3271
@L05 I'll take this up, thanks!

[2018-11-04 22:59] #3287 closed

[2018-11-04 22:59] #3281 closed

[2018-11-04 23:02] lmccart commented on #3269
This is referring to the object type "p5.MediaElement", which is different than HTMLMediaElement.
However, the typescript definitions are independently maintained, so I would suggest posting this over [here](https://github.com/p5-types/p5.ts).

[2018-11-04 23:02] #3269 closed

[2018-11-04 23:03] #3260 closed

[2018-11-04 23:13] lmccart commented on #3285
In this case, you just need to pass the name of the callback function.
`video = createVideo('assets/video.mp4', fileLoad);`
If you write the full function call, it will get called immediately instead of waiting. If you are trying to call the function with a specific argument, you can wrap it in a function definition like this:
`video = createVideo('assets/video.mp4', function() { fileLoad; });`

[2018-11-04 23:13] #3285 closed

[2018-11-04 23:14] lmccart commented on #3264
I think this one is as clear as we can make it for now. We can revisit next time we work on the FES.

[2018-11-04 23:14] #3264 closed

[2018-11-04 23:16] lmccart commented on #3274
here is how you can scale things in proportion:
[code]

[2018-11-04 23:32] #2188 closed

[2018-11-04 23:35] lmccart commented on #2533
should be fixed now with https://github.com/processing/p5.js/pull/3077

[2018-11-04 23:35] #2533 closed

[2018-11-04 23:41] #2904 closed

[2018-11-04 23:42] lmccart commented on #2218
Since we weren't able to reproduce this one and haven't received any further updates, I'm going to close this for organizational purposes. Please feel free to comment and we can reopen if there is more info to help debug.

[2018-11-04 23:42] #2218 closed

[2018-11-04 23:43] #2542 closed

[2018-11-04 23:43] leohasanose commented on #3298
is it possible to round a number such as 43 to 45 or 67 to 70?

On Sun, Nov 4, 2018, 3:23 PM Nabil Ridhwanshah <notifications@github.com
wrote:

[2018-11-04 23:44] lmccart commented on #3267
thanks for reporting. this is tracked [here](https://github.com/processing/p5.js/issues/2274). currently we don't support per vertex coloring in p5.js.

[2018-11-04 23:44] #3267 closed

[2018-11-04 23:47] lmccart commented on #3284
thanks @tneotc please post this question on the [forum](https://discourse.processing.org) for more help.

[2018-11-04 23:47] #3284 closed

[2018-11-04 23:51] lmccart commented on #3273
I think the offset you're seeing is due to the ellipse not being a circle, and the math coming out strange as you try to calculate sin and cos around a circle. For example, if you modify the code to use 400 for both width and height, everything seems to align:
[code]

[2018-11-04 23:51] #3273 closed

[2018-11-04 23:52] lmccart commented on #3298
in this case, since JS support is already pretty good and straight forward, I think we can leave the more minimal p5 round() support as is. thanks @renabil

[2018-11-04 23:52] #3298 closed

[2018-11-04 23:53] lmccart commented on #3298
@leohasanose you could do this like `6.7.toFixed(0) * 10`

[2018-11-04 23:54] #3299 closed

[2018-11-04 23:58] lmccart commented on #3234
Our goal is not to have parity with processing.py, but it would be good to confirm that blendmode words align with processing, or built-in browser support. if these sets don't align (I think I recall that they don't), we should be clear about this.

[2018-11-05 00:00] lmccart commented on #3243
I think it might make sense to update the documentation and update native entering of strings, rather than adding more constants for each. this way we're not always falling behind. for example:
[code]

 it would be good to also include a link to the CSS cursor property reference page in the reference entry.

[2018-11-05 00:02] lmccart commented on #2935
closing this due to other higher priority tasks

[2018-11-05 00:02] #2935 closed

[2018-11-05 00:03] #2370 closed

[2018-11-05 00:04] lmccart commented on #2668
I think this may have been chrome specific and seems ok now. Please comment if anyone is still having the issue.

[2018-11-05 00:04] #2668 closed

[2018-11-05 00:05] lmccart commented on #3252
I think this function is beyond the scope of the p5.js api (we try to keep as minimal as possible) but it could be a great starting point for an addon library. see the docs here for how to create an addon: https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2018-11-05 00:05] #3252 closed

[2018-11-05 00:47] #2116 closed

[2018-11-05 00:59] lmccart commented on #3297
we were previously reporting an error when users entered size() to assist with transitioning from processing. I think we're far enough into p5.js as it's own project now that we no longer need this warning. I will remove this and it should enable use of size as a variable name without problem.

[2018-11-05 00:59] #3297 closed

[2018-11-05 01:02] #2063 closed

[2018-11-05 01:03] lmccart commented on #3239
thanks @justinsunho I agree this could be much clearer. while the docs could use a general rewrite to make things as clear as possible, a small step in the meantime would be to replace the line that says "assign an issue to yourself" with "comment on the issue that you plan to work on it"

[2018-11-05 01:30] lmccart commented on #3223
I think this function is beyond the scope of the p5.js api (we try to keep as minimal as possible) but it could be a great starting point for an addon library. see the docs here for how to create an addon: https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2018-11-05 01:30] #3223 closed

[2018-11-05 02:51] #3237 closed

[2018-11-05 02:52] #2344 closed

[2018-11-05 02:55] #3035 closed

[2018-11-05 02:56] lmccart commented on #2946
@kjhollen are you still planning to work on this one? if not, will you remove your assignment so others can claim it? or if you are, feel free to keep your name assigned to this, just wanted to check in.

[2018-11-05 09:31] ejgutierrez74 commented on #3299
Not an issue with tutorial as you can watch in the video, it works ok for him in Windows. I think that error is related to image displaying is different in Windows and Linux, and or is a bug in P5js or it has to be documented( displaying images in different way in Windows and Linux, dont know in MacOS).
If you can confirm this issue....

[2018-11-05 09:51] limzykenneth commented on #3299
@ejgutierrez74 The tutorial video is from January 2017, while I don't remember the sprite sheet image drawing function changing between then and now, I may be wrong. In any case, there are several releases between then and now so unless you can run the same code on Windows now with version 0.7.2 and confirm the order of parameters differs, we can't be sure the bug indeed exist. Thanks.

[2018-11-05 14:55] lmccart commented on #3271
fixed with #3301 thanks @TanviKumar

[2018-11-05 14:55] #3271 closed

[2018-11-05 16:35] justinsunho commented on #3239
I'll assign this issue to myself then!

[2018-11-05 17:58] Spongman commented on #3294
this is another bug due to the fact that webgl renderer state is kept in the shaders, and not in the renderers. this would have been fixed by #2670.

[2018-11-05 18:00] #3208 closed

[2018-11-05 20:07] lmccart commented on #3234
here's the blendmode page for reference: https://p5js.org/reference/#/p5/blendMode

[2018-11-05 21:20] digitalfrost commented on #3296
Just submitted a pull request to grunt-saucelabs to fix problems with lodash and saucelabs:
axemclion/grunt-saucelabs#231.
Also see axemclion/grunt-saucelabs#229 for ticket on vulnerabilities in grunt-saucelabs

[2018-11-06 12:34] ejgutierrez74 commented on #3299
I can confirm that at least in Windows 10 64bits it also only works the second option not the first one, so from july 2017 this instruction has changed. It should be reflected in the documentation. I think that parameters has changed. Thanks for your help.

Taken  yesterday from your web:
https://p5js.org/reference/#/p5/image

image(img, dx, dy, dWidth, dHeight, sx, sy, [sWidth], [sHeight])
img |

[2018-11-06 14:17] limzykenneth commented on #3299
The change probably was to bring it more inline with the default HTML canvas's signature. As long as the documentation reflects current behaviour of the library, there's nothing for us to change. You can ask the video tutorial's creator to update the tutorial if necessary.

[2018-11-07 09:18] ejgutierrez74 commented on #3299
Perhaps im wrong but : https://p5js.org/reference/#/p5/image
It says that you have to use image this way:
image(img, dx, dy, dWidth, dHeight, sx, sy, [sWidth], [sHeight])

And this is the way shown in the video that it doesnt work... first coordinates is the destination image ( dx and dy).And the function corrected that it works it has the source x and source y instead ( the "begin" of the image")

[2018-11-07 10:16] limzykenneth commented on #3299
For me the signature works as stated, ie `image(img, dx, dy, dWidth, dHeight, sx, sy, [sWidth], [sHeight])`. `dx`, `dy` is the location where the image will be on canvas; `dWidth`, `dHeight` is how big the image will be on canvas; `sx`, `sy` is the starting coordinates of the subsection rectangle within the image; `sWidth`, `sHeight` is how big the subsection rectangle will be.

I don't have time

[2018-11-07 13:20] aparrish commented on #2709
I agree with the thinking here but I wish you'd keep `shuffle()`—maybe reclassify it in the Math/Random section of the reference? There's no easy single-expression equivalent for `shuffle()` in JavaScript and I find myself using it in teaching and projects fairly frequently (way easier than copy/pasting whichever ramshackle fisher-yates implementation has floated to the top of a stack overflow thr

[2018-11-07 13:31] limzykenneth commented on #2709
I agree `shuffle` should be kept in some form as it isn't a duplicate of native js array function. @aparrish Maybe open a new issue for it?

[2018-11-07 13:51] vipulrawat commented on #3251
`textBounds(line, x, y, [fontSize], [options])`

I was trying to pass `options` explicitly but couldn't find any solution. Every time it is taking the parent element's properties (i.e. default 'left' and 'alphabetic'). I have tried several solutions even mocking the `this.parent` but the only thing that worked is changing the LEFT in `core/constants.js` to 'center' instead of 'left'.
I am not sure

[2018-11-07 19:19] lmccart commented on #3243
this has been addressed with #3306

[2018-11-07 19:19] #3243 closed

[2018-11-07 19:20] lmccart commented on #3251
@dhowe can you provide any helpful info here?

[2018-11-07 19:20] lmccart commented on #2709
yes this seems reasonable

[2018-11-07 22:38] aparrish opened #3307 "undeprecate shuffle()"
I agree with the thinking in #2709 but I wish you'd keep `shuffle()`—maybe reclassify it in the Math/Random section of the reference? There's no easy single-expression equivalent for `shuffle()` in JavaScript and I find myself using it in teaching and projects fairly frequently (way easier than copy/pasting whichever ramshackle fisher-yates implementation has floated to the top of a stack overflow

[2018-11-08 11:48] TanviKumar commented on #1901
What is the status of this issue currently?

[2018-11-08 11:50] limzykenneth commented on #1901
@TanviKumar Can't reproduce probably. Can be closed in my opinion.

[2018-11-08 11:59] dhowe commented on #3251
p5.Font.textBounds() use the metrics from the p5.Font, but inherits the font size (unless specified as 4th arg) and alignment of the _current context,_ as set by textAlign(),  textSize(), etc.

The options object (for all p5.Font functions)  is simply passed on to opentype, and is present primarily for future uses. There are relevant opentype options  for p5.Font.textToPoints(), but not for textBo

[2018-11-08 13:57] vipulrawat commented on #3234
Ok. It looks like there is an implementation difference in *ADD* `blendMode()`  between processing/processing.py and p5.js.

In p5.js *ADD* just adds two pixels that's why results to white everytime while in processing its
`C = min(A*factor + B, 255)`
What should be better changing the documentation or changing the implementation to sync. with processing?

[2018-11-09 00:59] #3307 closed

[2018-11-09 07:05] lmccart commented on #3256
closing this because there is an open PR with this code

[2018-11-09 07:05] #3256 closed

[2018-11-09 07:06] lmccart commented on #3234
I think the documentation "ADD - sum of A and B" is correct then, right? In this case, no need to make any further changes, this can be closed. Thanks for looking into it.

[2018-11-09 07:08] lmccart commented on #3233
you can do this like:
[code]

[2018-11-09 07:08] #3233 closed

[2018-11-09 07:12] lmccart commented on #3210
there's no setup or draw defined in your example code, so p5 is likely not getting initialized at all, causing createCapture() to fail perhaps. for more help, you can post on the forum: https://discourse.processing.org

[2018-11-09 07:15] lmccart commented on #3224
This issue was moved to processing/p5.js-sound#328

[2018-11-09 07:15] #3224 closed

[2018-11-09 07:17] lmccart commented on #3020
This issue was moved to processing/p5.js-website#284

[2018-11-09 07:17] #3020 closed

[2018-11-09 07:18] lmccart commented on #3019
This issue was moved to processing/p5.js-website#285

[2018-11-09 07:18] #3019 closed

[2018-11-09 08:17] Utopiah commented on #3210
It's unrelated to setup/draw, cf official example https://p5js.org/examples/dom-video-capture.html which does require p5.js-sound for something seemingly unrelated. Consequently I believe it's a bug in term of getUserMedia support being delegated (probably just better error handling) in `p5.js-sound`.

As mentioned in the linked ml5js PR adding p5.js-sound does make it work in Firefox so personall

[2018-11-09 11:03] vipulrawat commented on #3234
Ok. I am closing this issue now.

[2018-11-09 11:03] #3234 closed

[2018-11-09 15:10] lmccart commented on #3210
oh I see thank you.  here's an example illustrating the issue.
https://editor.p5js.org/lmccart/sketches/H1EZXQQ67

[2018-11-09 17:49] vipulrawat commented on #3251
I am closing this as default font size is added now and some reference is put in the docs about OpenType options.

[2018-11-09 17:49] #3251 closed

[2018-11-10 15:06] digitalfrost commented on #3296
Just submitted a pull request to **grunt-contrib-yuidoc** to fix some of the security vulnerabilities: gruntjs/grunt-contrib-yuidoc#35

[2018-11-10 23:51] aparrish opened #3309 "quadraticVertex() in contour anchors to the wrong X coordinate"
You can see the problem in this sketch: https://editor.p5js.org/allison.parrish/sketches/H1OqsJBa7

The quadratic vertex always gets anchored to the coordinate in the previous call to `vertex()`, but with the X coordinate set to zero.

I think the problem is a typo(?) in this line: https://github.com/processing/p5.js/blob/aeaf6865b0af2b8e302f305e6a573eb733ab1117/src/core/p5.Renderer2D.js#L810 `[0]

[2018-11-11 06:21] toniholzer opened #3310 "Teapot in p5.js reference example loadModel() nearly unvisible"
Hallo
Example loadModel() displays the teapot with a size of only some pixels.
The example works fine, if you scale up the teapot with the statement scale(12);

#### example of:
https://p5js.org/reference/#/p5/loadModel
https://p5js.org/reference/#/p5/model

#### corrected example:
//draw a spinning teapot
var teapot;
function preload() {  teapot = loadModel('assets/teapot.obj'); }
function setup(

[2018-11-11 12:28] GiorgioMartini opened #3311 "p5js cant use the fill function, but others like ellipse or stroke yes."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-11 12:34] #3311 closed

[2018-11-11 12:34] GiorgioMartini commented on #3311
it was a problem with my code: https://stackoverflow.com/questions/53248683/why-is-the-function-fill-not-found-but-the-rest-of-the-functions-on-the-library/53248749#53248749

[2018-11-12 07:01] vipulrawat commented on #2641
What I think so far from the disscussion and the issue:
**Function definitions** `nfs(num, [left], [right])` and `nf(num, [left], [right])`

I think `nfs()` and `nf()` are doing their job perfectly fine what they are meant to do *(apart from engineering format numbers)*.

So, the `nfs` intentionally prepends 0's if passed to it as a `left` argument if `left > length of integer part of the number`

[2018-11-12 10:52] vipulrawat commented on #3310
@lmccart It's looking like the reference page in p5.js website is taking all the examples (i.e. inline documentation) from version 0.6.1.
The above issue is already resolved in [this](https://github.com/processing/p5.js/pull/2968) PR. The version of p5.js is 0.7.2. But the reference page is not updated, seems like a manual process to update the reference page.

What is the process of 'reference pa

[2018-11-12 17:05] lmccart commented on #3310
@vipulrawat it's supposed to happen via [this task](https://github.com/processing/p5.js/blob/master/tasks/release/release-docs.js) when grunt release is run. more info on the [release process here](https://github.com/processing/p5.js/blob/master/developer_docs/release_process.md). it seems like some part of this is not working correctly though.

[2018-11-12 23:00] lmccart commented on #2641
Thanks for looking into this @vipulrawat. So if I am understanding correctly, the functions actually seem to be fine, but perhaps what is missing is a clear note in the description that the 0 padding behavior is expected.

Regarding the padding, I think this is the default behavior of the typeface and we need not account for it in the text() function itself, if the user can address this and see ex

[2018-11-12 23:21] kira8975 commented on #1339
You can download the typescript declarations through npm here https://www.npmjs.com/package/@types/p5

[2018-11-13 18:10] TiborUdvari opened #3315 "Axidraw p5 clean webusb interface"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### New feature details:

I'm looking to create an API to control my [axi

[2018-11-13 21:36] msgarnier opened #3316 "P5 Web Editor won't preview any sketches"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-11-14 06:38] lmccart commented on #2641
addressed with https://github.com/processing/p5.js/pull/3314

[2018-11-14 06:38] #2641 closed

[2018-11-14 06:39] lmccart commented on #3316
This issue was moved to processing/p5.js-web-editor#764

[2018-11-14 06:39] #3316 closed

[2018-11-14 22:03] mikima commented on #815
Hello,
I'm trying to fix the p5.geolocate library. At the moment, if used with p5 0.7.2 it throws an error.

The error was related to the `prototype.registerPreloadMethod`, this is the reason why i'm writing here.

Looking to [the documentation](https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md#use-registerpreloadmethod-to-register-names-of-methods-with-p5-that-m

[2018-11-15 03:52] jameshujun commented on #3278
Just to confirm kylemcdonald's comment, same bug on my project: Video capture loadPixels() works on 0.7.1 on Firefox but not on 0.7.2. But on Chrome both 0.7.1 and 0.7.2 works.

[2018-11-15 11:09] sarisarah opened #3317 "mouseReleased() not triggered by right-click but mousePressed() is"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-16 06:34] vipulrawat commented on #3317
@sarisarah By the default behavior of browser, the right mouse up event triggers the context-menu unless prevented. If you are looking for looking to grab the right mouse release event you should disable the default behavior of the browser using the following code in `function preload()`.
[code]

This function removes the context menu on right mouse click. Notice that after this you cannot get con

[2018-11-16 11:49] FedFod commented on #1507
`var gl = document.getElementById('defaultCanvas0').getContext('webgl');
	//gl.disable(gl.DEPTH_TEST);
`
Is this still working hamoid? Doesn't appear to have any effect on my sketch. Working in instance mode with one 2D sketch and one 3D sketch to which this is applied

[2018-11-16 12:14] hamoid commented on #1507
Hi @FedFod ! Did you try uncommenting `gl.disable(gl.DEPTH_TEST);` to disable depth test?

[2018-11-16 12:19] FedFod commented on #1507
Just realised that it doesn’t work in run time, must be set in the setup() function apparently. Solved thanks!

[2018-11-16 12:22] hamoid commented on #1507
Interactive version: https://editor.p5js.org/abe/sketches/rJm884hTQ

[2018-11-16 12:40] vipulrawat opened #3318 "PI as a number and as an unit of angle"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-11-16 20:18] Blingboy740 opened #3319 "Issue With TextSize() and StrokeWeight"
I don't know ifthis is happening due to the dis proportionality of strokeWeight() and textSize() but there is a problem with "A" in particular where it has a weird extra triangle at the top of the "A". You can check the enclosed file for a picture and p5.js sketch which shows the issue.

[ISSUE EXAMPLE RUNABLE.zip](https://github.com/processing/p5.js/files/2590751/ISSUE.EXAMPLE.RUNABLE.zip)

[2018-11-16 23:35] devinhalladay opened #3320 "Bring back textHeight()"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-17 00:02] sarisarah commented on #3317
Thanks - that's what I was looking for!

[2018-11-17 00:02] #3317 closed

[2018-11-17 07:34] mzed opened #3321 "curvePoint() Documentation incorrect"
#### Nature of issue?
- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:
- p5.js version: Documentation

I’m pretty sure that the documentation for the `curvePoint()` function in p5.js is wrong. It is here:
https://p5js.org/reference/#/p5/curveP

[2018-11-17 10:14] TanviKumar commented on #3319
The error can be replicated in the p5.js Web Editor with just the sketch code.
`var x;

function setup() {
  createCanvas(windowWidth, windowHeight);
}

function draw() {
  background(0);
  textSize(100);
  strokeWeight(30);
  stroke(255);
  text("AAAAAA TEST AAAAAA", 100, windowHeight / 2);
}

function windowResized() {
  resizeCanvas(windowWidth, windowHeight);
}`

Increasing the ratio of testSi

[2018-11-17 16:31] lmccart commented on #3321
fixed with https://github.com/processing/p5.js-website/commit/8e0c66b5a336b09d18042b1c494bb5cef5370f6a

[2018-11-17 16:31] #3321 closed

[2018-11-17 16:50] lmccart commented on #3315
I think this plan sounds good as an addon. I don't know about the specifics of axidraw so it's hard to give advice here. I would suggest posting to the forum for more discussion. https://discourse.processing.org

[2018-11-17 16:50] #3315 closed

[2018-11-17 16:51] lmccart opened #3322 "reference is not building correctly"
Running `grunt yui` currently builds a version of the [reference](https://p5js.org/reference/) lacking heading and translation buttons. Looks like there were some changes [here](https://github.com/processing/p5.js/commit/da936b4740b60b354f606863ad54a82359440d7e#diff-8929bd6276966eccdcc6f70e33ae64d6) but I'm not sure where the removed code went. Perhaps I'm just running the wrong command in which c

[2018-11-17 17:15] vipulrawat commented on #3322
Were these file changes in the recent commit in p5-website repo directly generated from `grunt yui`?

[2018-11-17 17:18] lmccart commented on #3322
yes. this was incorrect I realize now. the docs were out of date for reference building. working on a revert..

[2018-11-17 17:19] lmccart commented on #3322
@vipulrawat more over here: https://github.com/processing/p5.js/commit/da936b4740b60b354f606863ad54a82359440d7e#r31337713

[2018-11-17 21:15] limzykenneth commented on #3318
I believe this behaviour is intended. See this comment in the [source](https://github.com/processing/p5.js/blob/0.7.2/src/core/shape/2d_primitives.js#L105).

I'm not entirely sure what the reasoning is, maybe it is something Processing did and got translated over or maybe there are other reasons. In other words, it isn't a floating point precision or canvas rendering issue, just a decision that wa

[2018-11-18 16:20] #3310 closed, assigned to nobody

[2018-11-19 16:52] vipulrawat commented on #3318
According to the [source code](https://github.com/processing/p5.js/blob/0.7.2/src/core/shape/2d_primitives.js#L105), we are still unable to make a full circle using `startAngle` and `endAngle` to `0` and `2 * Math.PI` respectively. As the difference between the two is still equal to the difference between `0` and `TWO_PI`. For now I changed the example of TWO_PI

[2018-11-19 16:55] limzykenneth commented on #3318
Yes, that's what I'm saying, the underlying canvas API is able to handle `0` and `2*Math.PI` (try the second link I shared) but the source disabled that.

[2018-11-19 16:59] vipulrawat commented on #3318
Yup, got it. Still figuring out the possible reasoning for this.
What do you think of changing example of TWO_PI for now in #3325 ?

[2018-11-19 17:04] limzykenneth commented on #3318
The existing example for TWO_PI is not compatible with this part of the library but I prefer the idea of the original TWO_PI example so maybe wait till we find out why there's that check in `arc` before changing the example for TWO_PI.

[2018-11-19 17:05] vipulrawat commented on #3318
Ok. Sounds good to me.

[2018-11-19 19:43] unjust opened #3328 "3D renderer only has a 2D implementation of `quad`"
Trying to pass z coordinates to `quad` for 3d rendering doesn't work, there is no implementation for 12 args (which would contain `z`)

 https://github.com/processing/p5.js/blob/9851414f747384d708a556285876bc585a2c9e4f/src/webgl/3d_primitives.js#L1027-L1064

_Originally posted by @meiamsome in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MjMyMDgxNzM4/pull_requests/unread_timeline#issuecomme

[2018-11-19 19:44] unjust commented on #3328
It would be my first issue, but I can attempt to fix.

[2018-11-19 19:47] meiamsome commented on #3328
@unjust great! You can find an example of how to parse the arguments in both forms at once in the `bezier` function just below: https://github.com/processing/p5.js/blob/9851414f747384d708a556285876bc585a2c9e4f/src/webgl/3d_primitives.js#L1069-L1108

[2018-11-19 21:50] vipulrawat commented on #3319
It's not a problem with p5.js.This thing happens with native canvas elements.
Also, the extra triangle's size and visibility highly depend on the typeface you are using.

_Example: Using sans typefaces removes those extra triangle as sans doent have serifs (feet)_

You may want to check [this](https://jsfiddle.net/vipulrawat/kq4syu15/4/) for reference.
__In p5.js, you can use some good sans typefa

[2018-11-19 21:50] #3319 closed

[2018-11-20 00:56] #3322 closed

[2018-11-20 00:56] lmccart commented on #3239
fixed with https://github.com/processing/p5.js/pull/3323

[2018-11-20 00:56] #3239 closed

[2018-11-20 00:57] lmccart commented on #3239
thanks @justinsunho! add yourself as a [contributor on the readme page](https://github.com/processing/p5.js/blob/master/README.md#contributors) if you haven't already. instructions [here](https://github.com/processing/p5.js/issues/2309)

[2018-11-20 05:10] unjust commented on #3328
https://github.com/processing/p5.js/pull/3329

[2018-11-20 08:55] rnkn opened #3330 "Grunt build error"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Build

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2018-11-20 15:08] limzykenneth commented on #3330
The tests run in Chrome so without Chrome you will not be able to run the tests. You can still run the build with `grunt build`.

[2018-11-20 15:17] limzykenneth commented on #3319
This is a known issue (#3035), it is related to the default miter limit set by the Canvas API. For now you can access the underlying canvas and set the miter limit on there.

PS. @vipulrawat Georgia is a serif typeface

[2018-11-20 17:14] vipulrawat commented on #3319
Oh yes. Sorry, I think I missed this thing then. Also in Canavs API using only Georgia is solving the issue but in p5 both Georgia and Helvetica solved the issue. Then the miter limit is real solution by setting something like this
[code]

[2018-11-20 19:34] unjust commented on #2182
yea what's the status of this?

[2018-11-21 01:54] rnkn commented on #3330
Cool, thanks Kenneth.

[2018-11-21 01:54] #3330 closed

[2018-11-21 15:31] pietschj commented on #3210
this happens to me when following shiffmans tutorial on webcam classification with ml5.js on Win10x64 and Firefox v. 63.0.1

[2018-11-21 15:37] vipulrawat commented on #3318
I have seen processing (java) and processing.js
It is drawing full circle on passing value 0 to 2 * Math.PI.
[https://github.com/processing/processing/blob/master/core/src/processing/core/PGraphics.java#L2850](https://github.com/processing/processing/blob/master/core/src/processing/core/PGraphics.java#L2850)

[https://github.com/processing-js/processing-js/blob/master/src/Processing.js#L8041](http

[2018-11-21 19:59] grege2 opened #3332 "Improve reference page for lerp() - t can go outside [0,1]"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Math

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.2 Sep 02 2018

#### Feature enhancement details:

I suggest that the doco for lerp() add that it works fine for control parameter outside the [0,1] rang

[2018-11-21 22:55] davidhbigelow opened #3333 "improve triangle doc page."
It would be helpful to know what the "vertex" of the triangle is.  This is often used for translating the triangle.. and it is hard to know what the true vertex of the final triangle is.

[2018-11-21 23:34] vipulrawat commented on #3333
You means a method to get the vertices (x,y) of the triangle?

[2018-11-21 23:37] davidhbigelow commented on #3333
well... that would be helpful.... but I was thinking more along the lines of the centerpoint...
Or the start point for translation of the triangle.

I am assuming the first set of coordinates is the start point (vertex) that the rest of the triangle is built from.   But without clarification - it is easy to assume the middle point as the "vertex" -- but depends on how one thinks about triangles.

[2018-11-22 00:34] justinsunho opened #3335 "all-contributors commands/scripts not working"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?
- [x ] Other (all-contributors docs)

#### Details about the bug:

- Steps to reproduce this:

Running `all-contributors` outputs: `command not found` unless you globally install `all-contributors-cli`.

Likewise running `npm run contributors:add` and `co

[2018-11-22 18:05] vipulrawat commented on #3318
Ok this is an intentional choice at first place in p5.js #902. Then I think we should change documentation of [TWO_PI](https://p5js.org/reference/#/p5/TWO_PI) to some meaningful way.

[2018-11-22 20:20] limzykenneth commented on #3318
@lmccart @joecridge Is there a decision about what to do about this in #2919? Shall we change the documentation example to match current behaviour or was there some proposed changed that wasn't yet implemented?

[2018-11-22 22:11] joecridge commented on #3318
Hey all. We could deal with the floating point issues by quantizing `start` and `stop` to a sensible number of decimal price places right as they enter into the arc function. We could change the behaviour when `start` and `stop` map to the same point on the circle to draw a full circle rather than nothing (nothing was the choice in the past – maybe it was the wrong one – but you can’t have it both

[2018-11-22 22:48] joecridge commented on #3318
I’m happy to make a PR for all of this over the weekend (removing bandaids, quantizing, full circle when start/end touch, updating docs) if there aren’t any strong feelings otherwise? It would be good to get arcs behaving themselves for a little while 😜

[2018-11-23 02:30] lmccart commented on #3335
I periodically just run `all-contributors` on my end where I have it globally installed. Is this sufficient? Or do you know of a way to configure things so anyone can run it?

[2018-11-23 14:29] ThatIsAPseudo opened #3336 "Linestyle parameter for line() : solid, dotted, dashed,..."
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
_(Sorry for the grammatical mistakes, i'

[2018-11-23 19:49] ThatIsAPseudo opened #3337 "Optimize dist() with distsq() for comparison, without computing square root"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
The `dist()`function should have an opti

[2018-11-24 02:49] lmccart commented on #3318
@joecridge that would be great. if you want to take the lead on determining ideal arc functioning and implement it in a PR with documentation I think that would be a huge step forward.

[2018-11-24 11:40] ZhangBo1191 opened #3338 "ARC() ERROR on Electron?"
![](https://user-images.githubusercontent.com/36790218/48966287-8f0a7800-f009-11e8-9241-16211512482e.png)
This is a [Material-Clock](https://github.com/zlyfer/Material-Clock) that I try to use it by electron.
But this is the error.
I also asked a Issue on the project itself [Issue](https://github.com/zlyfer/Material-Clock/issues/1)
But the author tell me to ask it on p5js Issue.

[2018-11-24 15:49] lmccart commented on #3338
Hm it seems to run correctly in the p5.js editor, so maybe it is something specifically with electron. https://editor.p5js.org/lmccart/sketches/BkbTflDRX

It's difficult to tell what the error and what's going on with electron from such a complex example. This kind of problem is best discussed in the forum which is better suited for programming help: https://discourse.processing.org

[2018-11-24 15:49] #3338 closed

[2018-11-24 15:51] #3333 closed

[2018-11-24 15:54] lmccart commented on #3333
Yes, I think the triangle function and documentation are currently in line with the most [common mathematical definition of a triangle](https://www.mathopenref.com/triangle.html) so I think we can close this. If you have suggestion for further text to be added please let us know.

[2018-11-24 17:15] pgrenon1 opened #3339 "KeyIsDown() returns true every frame with Chrome extension Evernote Web Clipper"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-24 18:00] Remcodejong commented on #3336
[code]

Wouldn't this require the p5.js library inside the library itself?

[2018-11-24 18:01] chrisjaimes commented on #2375
hey @OrionStark can you show how to you imported the p5.sound library and then add it to the p5 constructor? thanks!

[2018-11-24 18:53] pgrenon1 commented on #3339
Here is the right link to that extension: https://evernote.com/features/webclipper

I am trying instance mode, but I'm not sure I am doing it right. I have classes that are defined in other files than my main sketch.js. Should this work anyway? Do I just have to wrap my sketch.js in a `var myp5 = new p5( function( sketch ) {
  // empty
});`? or do I need to link up my classes in the sketch instanc

[2018-11-24 18:56] lmccart commented on #3339
hi @pgrenon1 can you follow up on this by posting your question in the [discourse forum](https://discourse.processing.org)? that is the ideal place to get programming help and help debugging issues with outside tools. thanks!

[2018-11-24 18:56] #3339 closed

[2018-11-25 13:05] ThatIsAPseudo commented on #3336
It may, however since I'm still a beginner I do not really know if that's a problem or not...

[2018-11-25 17:35] lmccart commented on #3336
you can use the native [setLineDash()](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/setLineDash) function to make any kind of dotted or dashed line you want.  the `drawingContext` variable gives you access to the context. something like this:
[code]
https://editor.p5js.org/lmccart/sketches/HyC_2Id0X

[2018-11-25 18:16] Remcodejong commented on #3336
Think that this issue can be closed then

[2018-11-25 18:56] Remcodejong commented on #3337
This would require the z value of the point as well. Based off the original dist function in p5:
[code]
Something like this?

[2018-11-25 19:06] swirly opened #3340 "add a note to the p5.Element.size() function that resizeCanvas() should be used if resizing the canvas"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobi

[2018-11-25 19:12] Remcodejong commented on #3340
Just a formatting tip: try adding 3  ` to the begin and end of code and javascript at the beginning, so it formats it to javascript.

[2018-11-25 19:19] swirly commented on #3340
Ok.
Anyway, I've investigated some more and it's not related to scaling. It's really a resize problem, as can be seen with this new code :
[code]

[2018-11-25 19:21] swirly commented on #3340
The rectangle should always be centered, and it is not, really.

[2018-11-25 19:54] thomphil opened #3341 "mouseIsPressed p5.js documentation - example mistake"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-25 19:56] thomphil commented on #3341
Sorry my mistake.. it's push to console.log.

[2018-11-25 19:56] #3341 closed

[2018-11-25 20:33] #3336 closed

[2018-11-25 21:39] #3335 closed

[2018-11-25 22:53] ThatIsAPseudo commented on #3340
I tested your code in the [p5js web editor](https://editor.p5js.org), I do not see the trouble, the rectangle stays in the middle, same with Processing desktop editor in p5.js mode

However there is definitely an issue with the colors :
Can someone explain why the whole canvas is black when the `fill`and `background` color values are the same (for ex. 230), but colors become different as soon as t

[2018-11-25 22:56] ThatIsAPseudo commented on #3336
@lmccart Thank you very much 👍

[2018-11-25 23:11] carlaplotnicoff opened #3342 "My page just crashed and blank page opens. Lost my code. Please help! https://editor.p5js.org/carlaplotnicoff/sketches/SycQtp_pm"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-25 23:12] carlaplotnicoff commented on #3342
https://editor.p5js.org/carlaplotnicoff/sketches/SycQtp_pm

[2018-11-25 23:55] lmccart commented on #3342
i'm sorry to hear it. can you please post over here: http://github.com/processing/p5.js-web-editor
that is the dedicated repository for the web editor. thanks

[2018-11-25 23:55] #3342 closed

[2018-11-26 14:34] Remcodejong commented on #3337
I think that would be exactly the same as the normal distance function, but I could try to rework the suggestion, and ill get back to you

[2018-11-26 14:39] swirly commented on #3340
As I mentionned, I've already tried using resizeCanvas. But I've found the bug is not strictly related to p5js.
I've done a minimal test with you file lmccart, and saw that in my index.html, I load p5play.
Removing p5play makes everything works.
Why the hell is p5play doing something with resize ?

Just add this line in you index.html after p5js :
[code]
And the rect behaviour will be messy. I thi

[2018-11-26 14:41] swirly commented on #3340
Ok. Let's close the issue ... it's "by design" with the camera function in p5play

https://github.com/molleindustria/p5.play/issues/115

[2018-11-26 14:58] OrionStark commented on #2375
@chrisjaimesdev , hey, I just put these library in index.html
`<script src="./assets/p5js/p5.js"></script>
  <script src="./assets/p5js/p5.dom.js"></script>
<script src="./assets/p5js/p5.sound.js"></script>`

Then in the ts file, I put some codes like
`declare var p5:any;`
and then make a function to for the music module like

`var spectrum = function(myspectrum) {
      var music = null;
      va

[2018-11-26 15:23] unjust opened #3344 "3d rendered bezier curve args get overwritten"
Reorder argument setting to bezier in 3d mode, so original arg values aren't overwritten.

In the code below:
https://github.com/processing/p5.js/blob/master/src/webgl/3d_primitives.js#L1088
`x2` should = `z1`, but assigning `y2 = x2` afterwards is basically assigning `y2 = z1`.

 Demoing the bug:

<img width="817" alt="screen shot 2018-11-26 at 10 12 09 am" src="https://user-images.githubusercont

[2018-11-26 15:23] unjust commented on #3344
Fix in PR #3343

[2018-11-26 15:41] limzykenneth commented on #3210
I'm not encountering this issue in Firefox 63.0.3 on macOS Mojave

[2018-11-26 16:40] ThatIsAPseudo commented on #3337
It should be the sum of the square of the differences, shouldn't it? Just like in the `dist` function but without applying `sqrt`

[2018-11-26 16:48] Remcodejong commented on #3337
Like the variable r2 here?
https://editor.p5js.org/Remcodejong/sketches/HktaQoYC7

[2018-11-26 17:58] Spongman commented on #3337
Doesn’t `p5.Vector.dot()` already cover this?

[2018-11-26 18:09] ThatIsAPseudo commented on #3337
Yeah, exactly like this :
[code]

[2018-11-26 18:10] Remcodejong commented on #3337
I think that would still require a square root wouldn't it?
https://math.stackexchange.com/questions/1236465/euclidean-distance-and-dot-product

[2018-11-26 19:50] #3340 closed

[2018-11-27 00:15] lmccart commented on #3337
I think this function is beyond the scope of the p5.js api (we try to keep as minimal as possible) but it could be a great starting point for an addon library. see the docs here for how to create an addon: https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2018-11-27 07:55] Remcodejong commented on #3337
I could make it into a library if you would like? @ThatIsAPseudo

[2018-11-27 08:06] ThatIsAPseudo commented on #3337
Yes, in fact that would be cool to have a "more functions" library with such functions that aren't absolutely necessary but useful btw

[2018-11-27 11:56] Remcodejong commented on #3337
Ill open a thread on the forums to ask for suggestions! Think this issue can be closed then.

[2018-11-27 14:37] Leiyufazhuangjia commented on #3278
I confirm this , I met the same problem when using video.loadPixels(),it gave me empty thing,and i can not get the red green blue alpha value of video,pixels

[2018-11-27 16:00] ikselven opened #3346 "keyCode does not work properly for arrow keys in Firefox"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-27 17:17] #3337 closed

[2018-11-27 19:30] martinleopold opened #3348 "smooth() breaks ortho() and perspective() in WebGL"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-11-27 20:15] ThatIsAPseudo opened #3349 "Auto-update libraries ? (used to be a p5-editor's feature)"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (update libraries)

#### New feature details:

I saw that the deprecated p5 desktop editor used t

[2018-11-27 20:39] ThatIsAPseudo commented on #3346
I found a way to actually make the rectangle move, by pressing really quickly right-left-right-left arrows (dunno why)

[2018-11-27 21:55] ThatIsAPseudo commented on #3349
Indeed but this means you use the online file, you don't save it in order to use it offline later. It would be better if the cloud-based file was downloaded when it's available so that it would still be available  without any connexion. For the moment it just gives an error when I'm in airplane mode : `Failed to load resource: net::ERR_INTERNET_DISCONNECTED`

[2018-11-28 01:06] lmccart commented on #3346
@vipulrawat thanks for looking into this. I think it would be great to do a review and update of keyboard event handling as I don't think it's been touched in a little while, and as you mention, some things are out of date and not working. would you be interested in taking this on?

[2018-11-28 01:15] lmccart commented on #3349
because things change from version to version, it is not recommended that the p5.js file is automatically updated. it's best if you make this update when you feel it is necessary, and modify your project and test to make sure everything works once you've switched versions. you can manually update the file, and you could use the [cdn link](https://cdnjs.com/libraries/p5.js/) for easier updating (yo

[2018-11-28 01:16] Spongman commented on #3346
i just tested this on Firefox 63.0.3 and it works just fine. i'm not sure i understand the explanation above.

https://codepen.io/Spongman/pen/NELOLz?editors=0010

[2018-11-28 06:08] Utopiah commented on #3210
Still have the same problem on 63.0.3 (64-bit) on WIndows 10.

[2018-11-28 08:41] ThatIsAPseudo commented on #3346
Indeed, using `keyCode ==` works well on Codepen website but not on p5 web editor

[2018-11-28 08:59] ThatIsAPseudo commented on #3349
Ok that makes sense
I suggested that because I just replaced old libs by new ones in all my projects (no compatibility issue so far), that took a lot of time

No I was talking about the [desktop editor](https://github.com/processing/p5.js-editor) and more precisely about [this file](https://github.com/processing/p5.js-editor/blob/master/app/modes/p5/p5-mode.js) that I found by googling "auto updat

[2018-11-28 13:16] aparrish commented on #2630
I ran into this same behavior with 0.7.2. Here's a sketch to reproduce:

https://editor.p5js.org/allison.parrish/sketches/rJbDQMnR7

Using `elem.style('position', 'relative')` doesn't work (the position remains absolute), while `elem.style('position: relative')` works as expected. While [the documentation indicates](https://p5js.org/reference/#/p5.Element/style) that `"position"` as a parameter tr

[2018-11-28 13:16] vedhant commented on #3346
I tried this in firefox and it doesn't work for me too.
@lmccart I would love to take up on this issue.

[2018-11-28 14:03] ikselven commented on #3346
I'm reading the P5.js book at the moment and for learning purposes, I'm implementing the examples in their own HTML files. This is the full code used for the example I mentionend in the opening post:
[code]

Note: The included stylesheet is irrelevant here, it only sets the background colour of the body.

[2018-11-28 16:42] vedhant commented on #3346
I got it outside the web editor.
[code]

[2018-11-28 16:46] vedhant commented on #3346
@Spongman @lmccart  I would like to work on this issue.

[2018-11-28 16:51] vipulrawat commented on #3346
Ok. Here is a small insight into the issue. I have tested the code in these environments:
__Issue:__ The unexpected behavior of some code that involves keyboard event in chrome and firefox. The box is not able to move(smoothly) in firefox when using arrow (left, right) keys but works perfectly in chrome.
__p5.js__ v0.7.2
__Browsers:__ Chrome (v70.0.35), Firefox (v60.0.1)
__OS:__ Linux kernel 4.15.

[2018-11-28 17:15] Spongman commented on #3346
@vipulrawat can you try this with the latest version of firefox?

[2018-11-28 18:17] vedhant commented on #3346
i further investigated the issue and have concluded as following :

As mentioned above by @vipulrawat :
When Arrow key is pressed, the events fired up in chrome are:

- onkeydown
- onkeyup

and in firefox the events are:

- onkeydown
- onkeypress
- onkeyup

The documentation for onkeypress event as described in MDN web docs :

Clearly, when Arrow key is pressed the onkeypress event should not fire

[2018-11-28 19:05] vipulrawat commented on #3346
@vedhant Instead of using `e.which`, I think it's better to use `e.key` and update the keyboard events in p5. Reason being:
1. `e.which` is deprecated and may lose its effect in coming years with recent web engines.
2. `e.key` doesn't results out into Unicode. Also it has better fallback techniques like "dead key" or "unidentified key"

[2018-11-28 21:22] #3349 closed

[2018-11-29 03:21] vedhant commented on #3346
@vipulrawat Yes you are right. We should use e.key instead of e.which for all of the keyboard events.
I also checked e.key value for onkeypress in firefox and it gives correct results for non character values.

Can you allow me to do the changes?

[2018-11-29 23:30] joecridge commented on #3318
I didn’t get a chance last weekend, but I’ll hop on this shortly 🙂

[2018-11-30 03:54] fronofro commented on #871
Slightly different issue if you are using the p5js web editor and have auto-refresh on and type out print() before you put something in it you will get stuck in an endless loop of the print dialog showing up. Perhaps you should need to set a specific parameter for that default functionality to be called.

[2018-11-30 09:12] fepegar commented on #871
@fronofro [I had the same problem](https://github.com/processing/p5.js/issues/871#issuecomment-420091527).

[2018-12-01 11:33] letoast opened #3351 "WEBGL GL_OES_standard_derivatives not supported"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-01 18:28] bmoren opened #3352 "curveVertex() with endshape(CLOSE) does not close with a curve"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-01 23:15] Spongman commented on #3351
Very strange. Do you have a  link to a sketch that repros this? Maybe it’s a video driver issue?

[2018-12-01 23:18] bmoren commented on #3352
<img width="587" alt="screen shot 2018-12-01 at 5 17 49 pm" src="https://user-images.githubusercontent.com/1385996/49333898-12d5de80-f58d-11e8-9dea-dd51bb75f71d.png">

[2018-12-01 23:20] Spongman commented on #3352
My expectation would be to close the shape with a curved vertex similar to all the others.

[2018-12-02 02:38] bmoren commented on #3352
here's a better one with a fill for reference:
<img width="565" alt="screen shot 2018-12-01 at 8 38 20 pm" src="https://user-images.githubusercontent.com/1385996/49334983-15463180-f5a9-11e8-80cd-7814ee71526c.png">

[2018-12-02 17:32] dhowe commented on #3320
This is not totally straightforward. There are two ways to make multiline text in p5.js: a) to include line breaks (\\n) in your text-string, or b) to pass x,y,w,h to the text() command, which automatically breaks lines according to the implied rectangle.

For case a) one could easily enough split the string (on line breaks) into some number of substrings, then compute the sub-bounds for each usin

[2018-12-02 19:05] Spongman commented on #3351
Ah yes that makes sense. You _do_ have to call getExtension for it to be usable.

I’m not sure about the vertex shader, doesn’t that extension only made sense for fragments?

[2018-12-02 20:10] Spongman commented on #3320
i wonder, does it make sense for the user to supply the height of a bounding box? isn't the height a calculated result?

[2018-12-02 22:56] davidhbigelow opened #3353 "save() to a remote Location?"
Is there a way to save a canvas image to someplace other than a local file?

LIke post it to a remote location like AWS S3?

Or capture the data to a local variable that could then be posted to an HTTP server for saving remotely?

[2018-12-03 00:14] dhowe opened #3354 "Support 'justified' alignment as an option for textAlign"
Support 'JUSTIFIED' alignment as an option for textAlign(), so that we can have text that looks like below. Note: we would need to check that the optional 'width' param was specified to text() when using this alignment. If I remember correctly there is an nice dynamic programming solution to this problem.

![image](https://user-images.githubusercontent.com/737638/49346870-6a7e6200-f6d3-11e8-9147-0

[2018-12-03 00:15] bmoren commented on #3353
Hi @davidhbigelow ! Your question is more related to how to do something specific with the library, not an issue with the library itself. These issues are only for instances where there is a bug or feature request for the library itself. [(more info here)](https://github.com/processing/p5.js/blob/master/CONTRIBUTING.md) Questions related to using the library should be carried out in the community

[2018-12-03 00:24] dhowe opened #3355 "Layout of text() incorrect when 'width' parameter is supplied but not 'height'"
For such cases I believe the correct behavior is that the text begins (vertically) _inside_ the bounding box, and then continues until completion regardless of height (this might also be better documented...)

The current (incorrect) behavior is that the text begins one line above the bounding-box:

![image](https://user-images.githubusercontent.com/737638/49347035-268c5c80-f6d5-11e8-8775-a7865e27

[2018-12-03 08:10] hamoid opened #3356 "Transparency looks different in WEBGL/non WEBGL"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: I couldn't find out. The one today at https://editor.p5js.org/
- Web browser and version: Firefox 63.0.3
- Operating System: Ar

[2018-12-03 20:10] siusoon commented on #2367
i found this problem as well and attached two images with the name blurred and starting. It is quite obvious that when it runs longer time, the image get blurred over time. Here is the code:

var eachImage = [];
var displayImage = [];
var started = false;

const folder ="images/";

function setup() {
  createCanvas(1500,1000);
  loadJSON('object.json', gotData);
  background(180);
  frameRate(2);

[2018-12-04 03:04] unjust opened #3357 "`npm run dev` fails. open:dev not defined."
Can't run `npm run dev`.

Fails with
[code]

Looks like we are missing a script that was once there?
Is there a new dev workflow and the documentation is out of date?

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ]

[2018-12-04 09:29] Leiyufazhuangjia opened #3359 "Video Element Do not refresh when using video.get()"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other Capture dom element
#### Which platform were you using when you encountered this?

- [ ] Mobile

[2018-12-04 17:01] trobertsson opened #3360 "I just wanted to know how to use loadimage in asp.net mvc core"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-04 17:41] sanketsingh24 commented on #3332
I can work on this issue

[2018-12-05 12:55] limzykenneth commented on #2367
@siusoon You are resizing the image over and over again, image resize are not perfect processes especially if you downsized then upsized again you will lose details over time.

In your case, you would be better off copying the image from the `displayImage` array into the `pickImage` variable before resizing `pickImage`. See https://p5js.org/reference/#/p5.Image/copy

[2018-12-05 15:44] limzykenneth commented on #3360
Hi @trobertsson, question about your code and usage are best for the [forum](https://discourse.processing.org/) as github issues are used for bug reports and feature requests. Thanks.

[2018-12-05 15:44] #3360 closed

[2018-12-05 16:05] Yaniki commented on #3278
Confirmed: loadPixels(); doesn't work with video capture under p5js 0.7.2 (FireFox 63.0.3 64bit, Mojave).

[2018-12-05 17:30] vedhant commented on #3346
[code]
In the second comment, why is it mentioned that it is not guaranteed to be case sensitive?

[2018-12-05 18:07] vipulrawat commented on #3346
@vedhant Using key will be good until unless it is not breaking anything else in p5. One thing that I recommend is that other people in the p5js community will review when you make the PR.

[2018-12-05 19:51] lmccart commented on #3332
fixed with https://github.com/processing/p5.js/pull/3361

[2018-12-05 19:51] #3332 closed

[2018-12-06 09:09] ikselven commented on #3346
@savvysiddharth Do you have a link to a bug report on Mozilla's Bugzilla for this?

[2018-12-06 09:22] savvysiddharth commented on #3346
here's the bug report on bugzilla,
https://bugzilla.mozilla.org/show_bug.cgi?id=968056
which got fixed by this bug which is tracked as firefox65+,
https://bugzilla.mozilla.org/show_bug.cgi?id=1496288
@ikselven

[2018-12-06 23:32] lmccart commented on #871
ah interesting, @fronofro or @fepegar could one of you post this on the p5.js web editor issues: https://github.com/processing/p5.js-web-editor/issues

[2018-12-07 00:51] fepegar commented on #871
@catarak @lmccart

Where should the issue be opened?
https://github.com/processing/p5.js-web-editor/issues/614#issuecomment-379342235

https://github.com/processing/p5.js/issues/2765

[2018-12-07 00:54] lmccart commented on #871
note the issue is the one mentioned here: https://github.com/processing/p5.js/issues/871#issuecomment-443082621

[2018-12-07 16:41] catarak commented on #871
@fepegar you can go ahead and post this as an issue in the web editor. i'm honestly not sure how to approach this issue/what a solution looks like though!

[2018-12-07 18:57] fronofro commented on #871
@fepegar @lmccart @catarak looks like this issue was brought up in: https://github.com/processing/p5.js-web-editor/issues/743

Seems like their suggestion of needing a parameter to run the default print() functionality makes sense to avoid this.

[2018-12-07 19:07] catarak commented on #871
@fronofro i think the issue here is not that there isn't a solution, but it's a thing that can be triggered accidentally, which is impossible to close if it's in the draw loop. this might be one of those cases where the solution might just be to leave it. not sure though!

[2018-12-07 20:41] lminsky opened #3362 "print() function opens print dialog if you don't pass any parameters."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-12-07 22:31] lmccart commented on #3362
I'm sorry, I think there was some confusion in our conversation. This is by design, so as not to block the browser native [print method](https://developer.mozilla.org/en-US/docs/Web/API/Window/print). If there's a problem with the auto-refresh in the web editor calling the function too soon, that issue can be posted over there.

[2018-12-07 22:31] #3362 closed

[2018-12-08 18:20] davidhbigelow commented on #3353
Actually - this is not just a question but a suggestion.  It appears that the only current option is to save locally.

However, I have done some testing and found that a p5js canvas could be extracted via a toDataURL() request.

In our implementation, this is preferred.   But not perfect in that the image data is returned as a base64 stream.

Here is what I did to get this basically working:

<div