[2020-02-09 19:22] #4279 closed

[2020-02-09 19:33] stalgiag commented on #4274
Ah I think this is known but not desired behavior. The lighting shader [uses a uniform for](https://github.com/processing/p5.js/blob/master/src/webgl/shaders/phong.frag#L5) the fill color which won't handle any vertex level color variation.

Might be a relatively simple fix. I am not sure.

[2020-02-10 03:34] aferriss opened #4283 "Allow mult and div vector math functions to take 2 vectors as arguments"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Currently the vector math functions let you add or subtract two vectors together as `p5.Vector.add(v0, v1);` or `p5.Vector.sub(v0, v1)` but fo

[2020-02-10 15:39] jploskonka commented on #4137
I’m currently doing workshops with p5.js in Polish so I’m translating on the fly necessary website parts – I can try to get to this in structure way and put up some pull requests. I’m doing once a week workshops till end of June, so I’d put up some PRs touching parts I’m using for workshops (at least for beginning).

[2020-02-12 03:47] matheusb-comp opened #4284 "Texture on cylinder"
When adding an image [`texture()`](https://p5js.org/reference/#/p5/texture) to a cylinder, the image is placed in the cylinder as expected, except for a strange vertical line that looks like the texture image pressed in a very small width.

If the cylinder `detailX` is reduced to 4, it is possible to see that one of the faces have the entire texture image.

Example sketch: https://editor.p5js.org/

[2020-02-12 23:02] stalgiag commented on #4232
closed by #4282

[2020-02-12 23:02] #4232 closed

[2020-02-14 12:30] limzykenneth commented on #4264
I'm going to work on this. One question, when should it start counting?

1. When the instance is created (`new p5()` is called, internally or externally), before `preload()`
2. After `preload()` before `setup()`
3. After `setup()` before first call to `draw()`

[2020-02-14 16:37] sixhat commented on #4264
I think that from a user perspective (not the programmer perspective) the sketch starts when the first frame is rendered either when someone draws in `setup()` or otherwise in `draw()`, so I think the timer should start at the moment the canvas is first created as it is the first manifestation of something existing in the html page the user sees.

Another option would be to allow the user to expli

[2020-02-14 23:28] hellonearthis opened #4285 "Example for createVector() is very confusing."
#### Most appropriate sub-area of p5.js?

- [X] Math

#### Feature enhancement details:
The example used to explain the [createVector()](https://p5js.org/reference/#/p5/createVector)  is confusing and needs another simpler example that creates a vector using x y x  like the example in [p5.vector ](https://p5js.org/reference/#/p5.Vector)

[2020-02-15 00:12] aferriss commented on #4283
Also, I would add that I'd be happy to work on this if it gets the greenlight!

[2020-02-15 02:10] lmccart commented on #4264
I agree with @sixhat. Rather than a `startTimer()` I wonder about something like an optional argument `millis(0)` that could reset it. Could be useful for timing based looping sketches. But maybe that's a whole other can of worms..

[2020-02-15 11:46] limzykenneth commented on #4264
The existence of the canvas is not guaranteed (when `noCanvas()` is called) so I probably won't want to tie it to canvas creation. Multiple canvases can also be created in one instance as well. The first frame is technically the first call to `draw()` but since it is possible to do drawing in `setup()` I guess it may make sense to start calculating by then. I'm going to go with after `preload()` a

[2020-02-15 17:51] SIRHAMY opened #4287 "p5.Sounds's processPeaks() appears to be broken"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

#### Details about the bug:

- p5.js version: [p5.sound]  Version: 0.3.12 - 2020-01-06
- Web browser and version: 79.0.3945.130
- Operating System: Ubuntu 18
- Steps to reprodu

[2020-02-15 20:56] #4264 closed

[2020-02-16 03:23] Vamoss opened #4288 "Smooth Quad Distortion"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Quad distortion now:
https://editor.p5js.org/Vamoss/sketches/vWdWD1q4
![image](https://user-images.githubusercontent.com/245841/74598546-16e70280-5052-

[2020-02-16 11:33] sourabhdharpure commented on #4154
@limzykenneth I would like to work on this issue
We need to convert the value of e.beta, e.gamma, e.alpha values according to the angleMode.

I am getting the problem correctly?

[2020-02-16 12:43] limzykenneth commented on #4154
@sourabhdharpure Yes, that is correct. I'll assign the issue to you.

[2020-02-16 15:01] aajaggi commented on #4285
Hey @hellonearthis  can I work on this?

[2020-02-17 11:43] akdnfbf opened #4290 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 13:18] #4290 closed

[2020-02-17 17:16] helen773 opened #4291 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 18:47] aferriss commented on #4284
I think this is a bug related to the way that the cylinder vertices are constructed. I added a custom shader to visualize the uv's in your example. I believe what's happening is that when the uv's go from 1 back to 0, they get interpolated across the faces of the cylinder rather than snapping immediately from 1 - 0.

I think the fix for this probably requires digging into to the cylinder construct

[2020-02-17 19:06] heken375 opened #4292 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:05] #4284 closed

[2020-02-17 20:12] stalgiag commented on #4288
I like your example. I don't think we will be adding more features before the 1.0 release but this is a simple enough addition to consider adding in some capacity in the future.

Do you think it would be possible to rewrite this in such a way that the existing `quad` function could take `detailX` and `detailY` optional parameters?

This feature sits in an odd place because it is a combination of `

[2020-02-17 20:18] stalgiag commented on #4285
Good catch @hellonearthis ! The WebGL example is missing a call to a suitable material so you can't see what is happening. But more importantly, I think this doesn't need to be GL at all.

You are welcome to work on it @aajaggi . I would follow @hellonearthis 's advice and make this a simple example similar (but not identical) t[o the class example](https://p5js.org/reference/#/p5.Vector). Thanks!

[2020-02-17 20:29] stalgiag opened #4294 "Errors from fork emailed to users that merge pull requests"
The Twitter Together Github action is failing on @Mattlk13 's fork of p5.js and alerting anyone that makes a merge in the upstream (this repo) via email. The error is:
[code]
Because the fork is trying to run our twitter github actions but of course it cannot and should not. @gr2m has pointed out that it might be [due to some automatio](https://github.com/Mattlk13/p5.js/pull/92)n on that user's fo

[2020-02-17 21:01] gr2m commented on #4294
Oh I think I know what's going on. I check if the pull request head is a fork in which case I do not try to create a check run. In this particular pull request, the pull request head is not the fork, the base is the fork 🤔 I might just add a check for that, too, to resolve the problem. I made an issue here: https://github.com/gr2m/twitter-together/issues/104

[2020-02-17 22:15] #3570 closed

[2020-02-17 22:30] lmccart commented on #4255
closed with https://github.com/processing/p5.js/commit/d15e8134103306cf5a7bba72fe6f51a9d5153221#diff-2fcb5958254343c96eccf55e1de42208

[2020-02-17 22:30] #4255 closed

[2020-02-17 22:57] #4252 closed

[2020-02-17 23:41] aferriss commented on #4283
I went ahead and wrote this up here https://github.com/aferriss/p5.js/tree/vector-mult-div

I think it'd be a handy addition but it'd be great to get some feedback!

[2020-02-18 09:43] helen225 opened #4295 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:02] #4295 closed

[2020-02-18 10:13] helen225 opened #4296 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:35] #4296 closed

[2020-02-18 10:48] helen225 opened #4297 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:50] #4297 closed

[2020-02-18 12:14] helen225 opened #4298 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 18:25] shiffman opened #4301 "createVector() reference example clarity"
#### Most appropriate sub-area of p5.js?
* Math

#### Feature enhancement details:

Hi! I'm teaching about `p5.Vector` in my course this semester and students were confused by [the example provided with the reference](https://p5js.org/reference/#/p5/createVector) for `createVector()`.

[code]

Since it involves `WEBGL`, `sin()`, and `millis()` it's difficult to parse out what the vector is actuall

[2020-02-18 18:44] aferriss commented on #4301
@shiffman you are not alone! I believe someone is working on this https://github.com/processing/p5.js/issues/4285

[2020-02-18 20:13] shiffman commented on #4301
Oh, hah, indeed! The issue I'm guessing was filed by @hellonearthis after I showed the page during a live stream. . I noted to myself to file an issue and the internet is just much faster than me! I'll close this and follow-up can be in #4285. Feel free to use my example code above @aajaggi if you like!

[2020-02-18 20:13] #4301 closed

[2020-02-19 09:37] helena8823 opened #4303 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 17:16] kate5586 opened #4309 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:28] #4309 closed

[2020-02-19 18:26] dskeithbuck commented on #4283
I'd love to see this added, it was something I was missing on a recent project.

[2020-02-19 23:15] #4154 closed

[2020-02-20 07:54] nika7732 opened #4314 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-21 13:54] JimBrink opened #4317 "gain amp function requires numbers"
This is not an error but clarification would be helpful.  Modification of the code would be even better.
Documentation for p5.Gain's amp function says "Set the output level of the gain node.".  This is unlike the documentation for p5.Oscillator's amp function which clearly states "Set the amplitude between 0 and 1.0. Or, pass in an object such as an oscillator to modulate amplitude with an audio s

[2020-02-21 17:08] JimBrink opened #4318 "Documentation of p5.Oscillator is incomplete"
#3815 ## Most appropriate sub-area of p5.js?

- [ x] Other (specify if possible)
sound library
#### Details about the bug:
The documentation for p5.Oscillator is missing some existing trivial methods that may be useful.  Unfortunately, potential users normally can't use them if they do not know they exist.
getFreq()
getAmp()
getType()
getPan()

[2020-02-22 08:02] devashish1099 commented on #3625
@limzykenneth can u guide me where to look for solving this issue

[2020-02-22 13:09] aadarshvelu opened #4319 "How to manipulate Biquad Filters?"
So P5.js How to use the Biquad Filter using High pass and low pass?
There is no well Documentation Available...

When I used to create a Biquad filter it throws an error.
`
  var biquadFilter = audio.createBiquadFilter();
`
visualCtrl.js:107 Uncaught TypeError: Cannot read property 'createBiquadFilter' of undefined

[2020-02-22 13:54] limzykenneth commented on #3625
@singhvisha Are you still looking into this issue?

Hi @devashish1099, @singhvisha did asked to work on this first so I'll leave a few days for him to reply if he's still working on this issue. However, from the discussions above, there isn't a straightforward solution to this issue. If you want to have a crack at it anyway you can familiarize yourself with how preload and the loading functions wo

[2020-02-22 14:00] limzykenneth commented on #4283
I think this is fine to add. Any thoughts @stalgiag @lmccart?

[2020-02-23 17:58] yousifalyousifi opened #4320 "WebGL blendMode MULTIPLY gives unexpected results."
#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: current p5js editor
- Web browser and version: Firefox 72, Chrome 80
- Operating System: Windows 7
- Steps to reproduce this:

Unco

[2020-02-23 21:51] lmccart commented on #4283
@limzykenneth seems reasonable to me!

[2020-02-23 21:54] #3893 closed

[2020-02-24 00:32] stalgiag commented on #4320
Perhaps related to #4267 . I will check it out tomorrow. Thanks for the well-written issue!

[2020-02-24 00:36] stalgiag commented on #4283
Yeah I definitely agree with this addition. Thanks @aferriss !

[2020-02-24 06:25] debajitdeb11 commented on #4272
@limzykenneth Can I work on this issue?

[2020-02-24 10:02] limzykenneth commented on #4272
@debajitdeb11 Sure, do have a look at it. I'm not sure how would the FES detect `print("something")` is being used before initialization though as unlike the other functions, `print()` exist on the global scope. Let us know what you find, thanks!

[2020-02-24 16:15] akshay-99 commented on #3292
Hey @limzykenneth this is quite an old issue but can I try this?
Also maybe we can do the same thing as httpDo for xml data as well ?

[2020-02-24 16:31] limzykenneth commented on #3292
@akshay-99 Sure, go ahead! JSON should be parsed into an object while XML should be parsed into a p5.XML object. Let us know if you need help.

[2020-02-24 19:01] akshay-99 commented on #3292
@limzykenneth So I just need a bit of a clarification.

Currently, the function returns a `p5.File` to the callback.  Within this the `data` field contains either the text of the file or the base64 string. I am presuming that I should continue using p5.File for json and xml data as well.

My instinct was to replace the contents of `data` to an object or p5.XML respectively. But the reference docum

[2020-02-24 22:03] limzykenneth commented on #3292
The behaviour should more or less stay the same, ie. the loaded JSON data or XML data should be placed in the `data` field of the `p5.File` object as you proposed. The bit that needs to be changed in the code is where [type checking occurs](https://github.com/processing/p5.js/blob/0.6.1/src/core/p5.Element.js#L1009), and the idea is to support JSON and XML type and see where the parsing of the loa

[2020-02-24 22:33] devashish1099 commented on #4285
@stalgiag  can i work on this issue

[2020-02-24 22:36] devashish1099 commented on #3870
@stalgiag  can i work on this issue ,

[2020-02-24 22:40] devashish1099 commented on #3509
@stalgiag i would like to work on this issue

[2020-02-24 23:58] outofambit commented on #4204
small note that i think some work in #4233 will help set the stage for this infrastructure

[2020-02-25 01:54] #4262 closed

[2020-02-25 01:54] #4266 closed

[2020-02-25 01:54] #4320 closed

[2020-02-25 02:01] stalgiag opened #4323 "Immediate mode sometimes throws console warning in Chrome 79"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: master branch
- Web browser and version: Chrome 79.0.3945.130
- Operating System: Mac OSX 10.15.2
- Steps to reproduce this:
Some s

[2020-02-25 02:13] stalgiag commented on #3870
Hi @devashish1099 when there is already an assignee it is better to ask them directly if they wish to keep working on the issue. I would also only recommend doing this only if an assigned has been assigned without activity for more than 1 month.

[2020-02-25 02:15] stalgiag commented on #3509
Hi @devashish1099 I am not sure if we have a consensus on this feature yet.

I will add the discussion label to attract opinions on whether the community is in favor of adding a p5.Shape class.

[2020-02-25 02:16] stalgiag commented on #4285
@devashish1099 when there is already someone assigned to an issue it is best to give them a chance to work on it. If there has been no activity from @aajaggi after 1 month, then you should @ them directly to ask whether they would still like to work on the issue.

[2020-02-25 07:45] ArjunwadkarAjay commented on #4243
Can I claim this issue?

[2020-02-25 10:23] limzykenneth commented on #4243
@ArjunwadkarAjay I would like to get some opinions on this issue and workout the implementation outline before assinging anyone. Notably now that I've looked at this again, I a bit more hesitant to add this especially into the Typography module because the `line-height` property is added in CSS and not in the JS canvas API itself, which could cause problem with user defined CSS.

Any thoughts on t

[2020-02-25 10:52] devashish1099 commented on #3870
@singhvisha do you wish to keep working in this issue

[2020-02-25 11:33] akshay-99 commented on #3292
Yeah and hence I asked about the second option of keeping the `data` field as it is, and adding another field that contains the parsed stuff. But I guess that's not really a useful feature to have as users can simply parse textual data themselves in just one extra step.
So for now I would just go ahead and do what the issue originally asked for. Just making sure json files dont give us base64 data

[2020-02-25 11:40] limzykenneth commented on #3292
Do go ahead with that change but we need to finalize whether to parse the object or not before we merge otherwise to change it would be a breaking change which cannot be merged after the 1.0 release for some time.

[2020-02-25 12:15] n-peugnet commented on #3292
Hi, just to give my opinion as I was the original poster. It is quite a hassle to obtain a clear string from the base64 one, but it's really easy to convert a json string into a js object. So for the json mime I would be ok with a clear json string. Xml on the other hand is more difficult to parse in js as far as I know and you seem to already have a p5.xml object so for this one it would make sen

[2020-02-25 14:22] debajitdeb11 commented on #4272
Where is the source code for the online editor is located in the source file?
![editor](https://user-images.githubusercontent.com/11337871/75255709-5e1a8380-5808-11ea-9646-cf747fcb553f.png)

[2020-02-25 14:35] limzykenneth commented on #4272
The source code for the web editor is located in [another repo](https://github.com/processing/p5.js-web-editor) but why do you need the source code for it for this issue?

[2020-02-25 16:07] akshay-99 commented on #3292
I have added a simple fix for json. @limzykenneth  please take a look.
If needed I can parse XML by adding this code from httpDo here
[code]
Whether JSON and XML should be parsed is still up for discussion. But I am now of the belief that  it should be left to the users to parse the data if they want. :thinking:

[2020-02-25 22:48] #4323 closed

[2020-02-26 00:50] endurance21 opened #4327 "Brand logo is overlapping with inner layer in mobile view"
#### Most appropriate sub-area of p5.js?

- [x] Other (ui of P5.js)

#### Details about the bug:
https://p5js.org/reference/
Visit here in mobile view, the brand logo is colliding with inner div.
Looks awful. 🙁🙁
![Screenshot_20200226-061337](https://user-images.githubusercontent.com/43696525/75301111-e0826200-585f-11ea-9d0d-63fce87cae8c.jpg)

[2020-02-26 02:34] #4327 closed

[2020-02-26 02:34] endurance21 commented on #4327
issue transfered to
https://github.com/processing/p5.js-website/issues/554

[2020-02-26 09:49] akshay-99 commented on #3871
@stalgiag I would like to work on this issue

Also I noticed one more optimization issue [here](https://github.com/processing/p5.js/blob/master/src/image/image.js#L224)
As the indexOf lookup runs in linear time, this method proves extremely slow for larger GIFs ( A gif of size 8.7 MB took 7956 ms )
When I changed it to object lookup and tried it with the same GIF, it took just 899 ms.

I can work

[2020-02-26 10:54] sourabhdharpure commented on #4275
Hello @stalgiag
I would like to work on this issue
Can you please point me to the appropriate file or reference so that I can get the idea of the coordinate system?

[2020-02-26 11:38] limzykenneth commented on #3292
Ideally the behaviour of passing in either JSON or XML would be the same, ie if parsing XML, JSON should be parsed as well, vice versa. I'll comment on a couple details on the PR itself.

The reason I'm rethinking whether to parse the objects or not is based around the use case of `drop()`, since it is a function defined on `p5.Element` it could very well be that the file is dropped onto a `div` o

[2020-02-26 15:40] stalgiag commented on #3871
Haha that is a great speedup @akshay-99 ! And yes, feel free to work on it.

[2020-02-26 17:52] outofambit commented on #3292
@limzykenneth i agree! i think i'm in favor of parsing XML and JSON by default in `drop()`. since these are "data" text files (as opposed to `.rtf` or `.txt`), which i imagine are more useful for uploading a config or bunch of settings instead of putting text in the DOM. (and as you point out, serializing is much easier for both if that's what the sketch needs, so it feels like a safe option.)

[2020-02-27 01:13] ArjunwadkarAjay commented on #4243
Can we just pass a parameter in the function mentioned and manipulate the css's line height property a particular mentionedtext.Thereby allowing flexibility to programmer

[2020-02-27 01:14] ArjunwadkarAjay commented on #4243
And sorry for replying to you late, as I was stuck in exams.

[2020-02-27 09:06] akshay-99 commented on #3871
So my idea right now is to break down saveGif into two passes on the frames.
Pass 1 analyses all the palettes in all the frames and considers the most common one as the global palette.
Pass 2 uses this global palette as reference  and checks if the current frame needs a local palette of its own ( it has a color not contained in the considered global palette ). If so the local palette will we built

[2020-02-27 09:24] akshay-99 commented on #3292
@limzykenneth @outofambit yes that seems reasonable. If you say so I will go ahead and implement it.
But I had another question regarding handling files which are improper JSON or improper XML. DOMParser gives a document containing the error while JSON.parse throws an error. So should I do something to make this uniform. Like making both give an error or both give the unparsed text?

[2020-02-27 11:33] limzykenneth commented on #4243
I don't quite get what you mean here. The problem I have here is the `textLineHeight()` function would necessarily modify the CSS property of the canvas which could cause conflict with user defined styling defined with `p5.Element` or in user created stylesheet.

[2020-02-27 11:48] limzykenneth commented on #3292
@akshay-99 You can go ahead with the implementation of parsing the contents.

I think making the behaviour uniform might add too much complexity to the code, so I'm thinking of just preserving the existing behaviour which for the case of XML, means to just parse the returned error document from `DOMParser` and let the user handle it when they come across it. Unless you feel you can make the XML th

[2020-02-27 16:20] DivyamAhuja commented on #4285
@stalgiag Am beginner to this stuff...so to test this out I updated it with code provided in #4301 .So can I initiate a pull request

[2020-02-27 17:08] DivyamAhuja commented on #4275
@stalgiag I would like to work on this issue.

[2020-02-27 17:20] stalgiag commented on #4285
@DivyamAhuja as I said above, if someone is assigned to an issue then it is important to give them a chance to complete the task. @aajaggi is assigned to the issue. If after 1 month, @aajaggi has not made any work on the task, you can @ them to check to see if they still want to work on the issue.

[2020-02-27 17:21] stalgiag commented on #3871
That sounds like a good idea @akshay-99. Good luck!

[2020-02-27 17:32] stalgiag commented on #4275
@sourabhdharpure the relevant code is in [the p5.Camera file in src/webgl](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Camera.js).

@sourabhdharpure and @DivyamAhuja, before requesting to work on a new feature, we should be able to determine two things.
1. The feature is desirable for the community. People express interest in the feature.
2. The feature is technically feasible wit

[2020-02-27 19:54] AidanNelson commented on #4275
Hi All,

The eyeX, eyeY and eyeZ variables stored as part of a p5.Camera object refer to the camera's position in the world coordinate system.  So, @sourabhdharpure and @DivyamAhuja, from a technical perspective, adding a `cam.getPosition()` helper function is certainly possible, but these coordinates are also accessible directly if you've created a p5.Camera object using `createCamera()`.

See th

[2020-02-27 19:57] gromovadarya90 opened #4328 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:04] akshay-99 commented on #3871
@stalgiag there's this variable `gifFormatDelay` [here](https://github.com/processing/p5.js/blob/master/src/image/image.js#L210)
It isn't defined anywhere and appears only [once](https://github.com/processing/p5.js/search?q=gifFormatDelay&unscoped_q=gifFormatDelay) in the entire project.

So far I have been calling saveGif after removing `gifFormatDelay`, because if I run saveGif with that still i

[2020-02-27 20:08] #4328 closed

[2020-02-27 20:14] stalgiag commented on #3871
Ah @akshay-99 I must have missed that when I got rid of :-P

So that is my bad, I will remove it from the upstream right now (processing/master). But this is a good illustration of the fact that we need a GIF saving unit test. So as part of your changes, I would add one of those.

We can take it one step at a time though. Thanks for finding that!

[2020-02-27 20:16] flomerboy opened #4329 "model() does not respond to lighting as expected"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
0.10.2
- Web browser and version:
chrome  80.0.3987.122 (Official Build) (64-bit)
- Operating System:
mac Mojave 10.14.6
- Steps to

[2020-02-27 20:43] akshay-99 commented on #3871
@stalgiag  Also I noticed that the size of the GIF purely dependent on the size of the buffer created for GIFWriter.
I noticed this when I saw no change in filesize even after I used a global palette for all frames
So for a 1280x720 GIF of 25 Frames, the size comes to about 1270 * 720 * 25=23040000.
And sure enough, when I run saveGif and download it, the fize size is 23 MB.

So just to check I lo

[2020-02-28 03:22] hellonearthis commented on #4285
Anyone should be aloud to work on this and the best result should be
accepted into the repository.
It seems odd to discourage someone from trying.

On Fri, 28 Feb 2020 at 06:20, Stalgia Grigg <notifications@github.com>
wrote:

[2020-02-28 03:50] stalgiag commented on #4285
@hellonearthis the goal for the repo is to cultivate a culture that makes people feel comfortable trying to submit contributions when they haven't already. If someone asked to give the issue a try and was assigned through first-come-first-serve then it makes sense to give them a chance to work on it without other pull requests overriding them or intimidating them.

In critical situations, it might

[2020-02-28 06:14] devanghingu opened #4332 "p5.js and p5.sound.js not work with different machine"
Hey there,
i just made one front-end HTML project which take audio from user using `p5.js` and `p5.sound.js`.
Everything working fine with my HTML + p5 audio recording code. but when i integrated that HTML code with my DJANGO back-end. it works fine with only same computer(`http://localhost:8000/`). when i try to run DJANGO app from another machine(like `http://192.168.0.43:8000/`) it raise
follow

[2020-02-28 09:46] sourabhdharpure opened #4334 "GSoC 2020: Improve p5.js unit tests"
Hello, I would like to work on adding a unit test to the  p5.js. Before submitting my proposal for GSoC 2020, I want to add unit tests to a few files listed below so that I can get the idea of the project.

I have gone through the list of unit tests and the missing ones are listed down, please let me know if I missed anything or if there are more areas that need to be covered.

*Core
  p5.Renderer

[2020-02-28 13:43] limzykenneth commented on #4332
@devanghingu Can you fill out the issue template just so that we have enough info to debug your situation? Initial thoughts is that it may be due to the security policy of browsers and a `http://` connection to `192.168.x.x` address is not considered secure unless it is served over `https://`, but again, to confirm I will need more information.

[2020-02-28 14:15] devanghingu commented on #4332
Actually i figure out this issue. and ( @limzykenneth )you are right there. its happening due to security policy. so what i need to do when i want to test with my local machine?

[2020-02-28 14:20] limzykenneth commented on #4332
There's no straightforward way if you want to test it from a local machine to another local machine, what I would do in this case is to upload the site to a dev server online and test it through that.

[2020-02-28 14:20] #4332 closed

[2020-02-28 14:51] madelfino opened #4335 "Lighting issue with TRIANGLE_STRIP in WEBGL"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Chrome 80.0.3987.122 (Official Build) (64-bit)
- Operating System: Windows 10 OS Version 1903 (Build 18362.657)
- Steps to reproduce this:

[code]

What would you expect to happen?
![TriStripExpected](https://user-images.githubusercontent.com/3333527/75557427-fd888

[2020-02-28 17:19] #3390 closed

[2020-02-28 20:02] outofambit commented on #4272
i think this is a great place for FES. if someone is interested in working on it i’m also happy to answer questions, code review, whatever!

[2020-02-29 04:16] ArjunwadkarAjay commented on #4243
@limzykenneth I thought about CSS property you mentioned, but mostly it would change the text property of the font rendered on the web page and not on canvas.
@yashpandit and @limzykenneth can we do it by adding empty text element to achieve this.
 A function can be created which can add a empty text before and after the actual text.
Pls do take a look at the example and tell if this idea is corre

[2020-02-29 04:21] ArjunwadkarAjay commented on #4243
@limzykenneth I thought about CSS property you mentioned, but mostly it would change the text property of the font rendered on the web page and not on canvas.
@yashpandit and @limzykenneth can we do it by adding empty text element to achieve this.
A function can be created which can add a empty text before and after the actual text.
Pls do take a look at the example and tell if this idea is correc

[2020-02-29 04:51] ArjunwadkarAjay commented on #4243
So @yashpandit can try to work on this in the mentioned manner?
And @yashpandit and @limzykenneth plz tell if it is possible as well.

[2020-02-29 07:35] #3663 closed

[2020-02-29 07:49] akshay-99 commented on #3871
@stalgiag I was able to optimize further by using the transparency property of GIFs.
I observed that using global or local palettes had little impact on the size of the gifs.
It turned out that most of the GIFs that were blown up in size by saveGif originally used transparency as an optimization.
This was removed by saveGif by setting `transparent_index` to null for all frames.

Here are the sizes

[2020-02-29 10:13] limzykenneth commented on #4243
@ArjunwadkarAjay Yeah, you're right about CSS, not sure what I was on about. CSS should not come into this.

There isn't a need to draw an empty string to get some space as if you draw nothing there, nothing is there. You can just skip to drawing the first line `text('word', 10, 60);` then the next `text('word1', 10, 60+32+32);`. But this is also not quite what `textLineHeight()` is meant for.

As

[2020-02-29 12:49] DivyamAhuja commented on #4137
@stalgiag I would like to translate rest of Contributor Docs in Hindi as only README.md is translated by @iamrajiv .

[2020-02-29 15:42] akshay-99 commented on #4272
@debajitdeb11 if you are still working on this maybe `window.onbeforeprint` can help you? I am just guessing here but maybe using something like a check for `_setupDone` or similar inside it to call report to trigger a friendly warning message?

[2020-02-29 16:22] vanyamil opened #4353 "p5.Vector.Cross incorrect example"
### Issue description
The first example on the page linked below is incorrect : v1.cross(v2) returns a new PVector; it does not modify v1.

### URL(s) of affected page(s)
https://p5js.org/reference/#/p5.Vector/cross

### Proposed fix
Remove the first example. There is already emphasis in the description that this is the correct behaviour.

[2020-02-29 20:06] ffd8 opened #4336 "CDN link on jsdeliver needs version update"
#### Most appropriate sub-area of p5.js?
- [x] Other - CDN linking to library

🎉 on 1.0!
Looking to link to latest CDN, but found a minor issue with jsdeliver paths:
generic [https://cdn.jsdelivr.net/npm/p5](https://cdn.jsdelivr.net/npm/p5) – still points to v0.10.2
manual [https://cdn.jsdelivr.net/npm/p5@1.0.0](https://cdn.jsdelivr.net/npm/p5@1.0.0) - looks new, but still says v0.10.2 with today'

[2020-02-29 20:22] limzykenneth commented on #4336
The generic path for jsdelivr is supposed to link to the latest version, not sure how jsdelivr resolves that (while it is also not the recommended way to use it).

https://cdn.jsdelivr.net/npm/p5@1.0.0 is the link you'll get if you searched for p5 on jsdelivr and it is serving the latest version but the header as you pointed out is not showing the correct version, same as cdnjs. While the version

[2020-02-29 20:41] ffd8 commented on #4336
Yeah not sure why the generic path isn't updating.. perhaps just takes some time. I also wouldn't link to the generic path (though on the p5 website, that's where the ['download -> cdn'](https://p5js.org/download/) path points to. Mainly just wanted to point out that the header info for [@1.0.0](https://cdn.jsdelivr.net/npm/p5@1.0.0) still shows old version.

[2020-03-01 05:36] filipemeneses opened #4337 "Matrix functions"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

Started using p5.js yesterday and **it's amazing** to try thing out on the fly. I was tooling with the examples and doing 3 dimensional matrices alway

[2020-03-01 06:39] ArjunwadkarAjay commented on #4337
Hi @filipemeneses are you are asking is to apply a function on all elements of matrix.
To do this you could use map function in Javascript...
[https://medium.com/poka-techblog/simplify-your-javascript-use-map-reduce-and-filter-bd02c593cc2d](https://medium.com/poka-techblog/simplify-your-javascript-use-map-reduce-and-filter-bd02c593cc2d)
If this is not what you meant please explain me .

[2020-03-01 07:39] filipemeneses commented on #4337
Nope, but you have me an idea. My request is a feature that creates multi dimensional array given arguments and offer convenient functions. Using `map`, `reduce`, `filter` might be more effective, like:

[code]

A simple implementation of matrix (only works for 3d) would be:

[code]

[code]

[2020-03-01 12:07] limzykenneth commented on #4336
@lmccart I noticed you might had some difficulties running the release script yesterday? I don't mind having a look at the release step and possibly rewrite it to be easier to use but it depends on what problem you were having.

[2020-03-01 17:01] ArjunwadkarAjay commented on #4337
I understood what you are trying to say ,I also  believe that there must features to work with Matrices of n dimensions and to perform operations on them.
There must me something to initialize and use matrices easily in p5.
So ,can you assign me this issue to work and try to make using matrices easier in p5.

[2020-03-01 17:08] ArjunwadkarAjay commented on #4337
I understood what you are trying to say ,I also believe that there must features to work with Matrices of n dimensions and to perform operations on them.
There must me something to initialize and use matrices easily in p5.
So ,can you assign me this issue to work and give me a chance to make using matrices easier in p5.

[2020-03-01 18:41] stu01509 opened #4338 "README.md forum link outdated"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

README.md forum link seems outdated,
Maybe change the link https://forum.processing.org/two/categories/p5-js to https://discourse.processing.org/c/p5js

If yes, I will create a

[2020-03-01 20:07] stalgiag commented on #4137
Sounds good @DivyamAhuja !

[2020-03-01 21:56] limzykenneth commented on #4338
@stu01509 Go ahead with the change, I'll assign the issue to you. Thanks.

[2020-03-01 22:11] filipemeneses commented on #4337
We could open a project to implement [Array.prototype functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array) if it makes sense for use in matrices. I suggest we start with:

[code]

[2020-03-02 01:11] ArjunwadkarAjay commented on #4337
Yes, sure I will start working on implementing it..

[2020-03-02 01:13] ArjunwadkarAjay commented on #4337
Yes, sure we should do it together.I will start working on it.

[2020-03-02 05:36] #4338 closed

[2020-03-02 18:53] akshay-99 commented on #2681
Hey everyone!
Adding my two cents to this discussion.
This could be solved easily as an FES warning telling the user about the duplicate imports. But currently the FES produces [this](https://user-images.githubusercontent.com/38867671/75705959-6b40e200-5ce2-11ea-8f57-b1213322d2bf.png) barrage of messages for a duplicate p5 import.
So another FES message is easy to miss in this case. ( Not to menti

[2020-03-02 19:20] limzykenneth commented on #2681
@akshay-99 That's what the check for `p5` in the beginning that's mentioned above about. You'll just need to check for already existing definition of `p5` in the `window` object then if it exist don't initialize.

@ankur54 Sorry it is rather late but are you still interested in working on this? I'll assign @akshay-99 if you are no longer available or haven't reply in a couple days.

[2020-03-02 19:28] stalgiag commented on #4329
Hi @flomerboy thanks for the issue. The normals in your file seem good. I converted your file to obj to see if that changed the behavior, and the lighting is correct after the conversion. Perhaps something related to how `vertexNormals` are being decoded from Binary STL files. @sanketsingh24 do you have any ideas?

[2020-03-02 19:36] stalgiag commented on #4335
Hi thanks for the issue! It actually looks like both of those screenshots are broken because your point light should originate screen left.

All of those issues appear to be fixed in 1.0.

This sketch has correct looking lighting:
[code]

Gives you:
<img width="501" alt="Screen Shot 2020-03-02 at 11 35 28 AM" src="https://user-images.githubusercontent.com/10382506/75710772-f46ffe80-5c79-11ea-9839-

[2020-03-02 19:36] #4335 closed

[2020-03-02 21:54] fenilgandhi commented on #2865
Hey guys, i am working on updating description and adding examples for [p5.Geometry.js](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Geometry.js).

[2020-03-02 21:58] lmccart commented on #4336
hi all, sorry about this. @limzykenneth I did run into problems. I kept getting the error: "working dir must be clean. Please stage and commit your changes." I ended up having to do most of the release by hand, but accidentally published the wrong version to npm. there's no way to replace this file so we'll have to bump to 1.0.1 to do that. @limzykenneth if you want to take a look at the release s

[2020-03-02 22:10] limzykenneth commented on #4336
I'll try to do a release on my fork on github and namespace on npm so shouldn't need the login. I'll update you if I need something.

[2020-03-02 23:46] zampini28 opened #4341 "Test"
Test

[2020-03-03 00:01] AnuragGupta93 commented on #4329
@stalgiag I would like to work on this issue. It seems to me this problem arises due to incorrect parsing of STL files (either in vertex or vertexNormals). Sending a PR in a while.

[2020-03-03 00:27] AnuragGupta93 commented on #4341
@zampini28 What is the issue here?

[2020-03-03 00:47] flomerboy commented on #4329
Thanks for helping on this! The OBJ workaround should work for me but
consistent behavior is ideal.

On Mon, Mar 2, 2020 at 4:01 PM ANURAG GUPTA <notifications@github.com>
wrote:

[2020-03-03 00:59] AnuragGupta93 commented on #4329
@flomerboy This issue is fixed. You can use STL files after the merging of this PR.

[2020-03-03 03:40] sourabhdharpure commented on #4334
@outofambit can you please help me in picking the  appropriate file for adding unit tests, like which one would be a beginner-friendly so that it would be easy for me to get started

[2020-03-03 07:28] ArjunwadkarAjay commented on #4337
@filipemeneses I thought about the matrix and also started , but then realized that in computer graphics, there is almost no use of n dimensional matrices .
While p5 is a library for computer drawing and animation.
So @filipemeneses can you please tell your use case for n dimensional arrays.

[2020-03-03 10:25] #4341 closed

[2020-03-03 10:44] McGittyHub opened #4343 "1.0.0 broke syntax for square with rounded corners"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Steps to reproduce this:

[code]

[2020-03-03 13:42] AnuragGupta93 commented on #4343
@McGittyHub @stalgiag Working on this issue. It may have been arisen due to some typo during parsing arguments in `square` method. Fixing in a while.

[2020-03-03 13:46] AnuragGupta93 commented on #4343
@McGittyHub I don't think this is a bug. You must have created the canvas in WEBGL mode in version 1.0.0. That's why it is showing irrelevant behavior.
You can reproduce the code given below to get the desired output.
[code]

In WebGL mode, the addition argument represents:
[code]

That's why you are not getting the desired output.
@stalgiag You can close this issue.

[2020-03-03 13:51] McGittyHub commented on #4343
using your code produces:

![image](https://user-images.githubusercontent.com/2076567/75781877-48ecaa00-5d5e-11ea-99fc-58f08c63cd19.png)

I have to add a second 60 to get the desired (rounded square) result:
![image](https://user-images.githubusercontent.com/2076567/75781976-746f9480-5d5e-11ea-98bf-1b9d36226420.png)

[2020-03-03 14:07] AnuragGupta93 commented on #4343
@McGittyHub That's strange. On the Web Editor, I get:
![image](https://user-images.githubusercontent.com/35900375/75783147-13f44d80-5d86-11ea-846e-fd40d3da611d.png)
And for double 60, I got:
![image](https://user-images.githubusercontent.com/35900375/75783194-279fb400-5d86-11ea-8c12-db79b4809e40.png)

[2020-03-03 14:09] McGittyHub commented on #4343
Please make sure that you're in fact running the 1.0.0 version and not 0.10.2 as is default on the web editor:
![image](https://user-images.githubusercontent.com/2076567/75783465-e8ab3780-5d60-11ea-8339-876524d83222.png)

[2020-03-03 14:17] AnuragGupta93 commented on #4343
Oh my bad. I assumed the web editor to use v 1.0.0 but don't think that's the case. It's still using 0.10.2 somehow. Correcting in a while.

[2020-03-03 15:33] filipemeneses commented on #4337
@ArjunwadkarAjay You're right, I want for 2D and 3D, I only suggested n dimensional for convenience. I was testing Perlin noise and made a 3D 3x3x3 cube to visualize the algorithm in 3D

I didn't save the code, but it was something like this:

[code]

[2020-03-03 16:17] stalgiag commented on #4343
Thank you for the issue @McGittyHub !

Could it be the handling of arguments in [this function](https://github.com/processing/p5.js/blob/master/src/core/shape/2d_primitives.js#L641)? I can't parse this quickly enough right now but it seems plausible.

@outofambit would you be willing to take a look?

[2020-03-03 16:18] outofambit commented on #4343
@stalgiag that’s my best guess too, and it’s likely that i broke this since i touched it last 😂

will have a look later today!

thanks for reporting this @mcgittyhub!

[2020-03-03 17:05] makeyourownneuralnetwork opened #4345 "Image.pixels new (buggy) behaviour for non int indices"
The Image.pixels(indie) gets the R,G,B or A values from a pixel array.

Previously, it worked fine when the index was not-integer.

Now it fails in an unusual way that is not obvious. It still returns results with out stoppig the code or reporting an error/warning, but the pixel it actually returns is the wrong one.

My previous code, used as a teaching tutorial, worked fine .. then suddenly stopp

[2020-03-03 17:12] stalgiag commented on #4345
Hi @makeyourownneuralnetwork thanks for the issue and example code!

I am having a bit of trouble following. There is not a `pixels` method in p5. After calling `img.loadPixels()`, a p5.Image will have a `pixels` property which is [an array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Indexed_collections). Our library has no influence over how non-integer numbers are interpreted

[2020-03-03 18:02] makeyourownneuralnetwork commented on #4345
you are correct, after img.loadPixels() we have a pixels property. I didn't know this was a standard javascript array.

does this mean javasript's own behaviour had changed?

the code I use has not changed but over the last 2 years the behaviour did change.

if this is outside p5js then I'll close the issue.

[2020-03-03 18:02] #4345 closed

[2020-03-03 18:02] limzykenneth commented on #4336
@lmccart Did you run the release task as `grunt release-p5:major`? Because for me if `grunt release-it` is run it does throw the clean directory error, but not for `grunt release-p5`.

I think the whole thing can be cleaned up quite a bit but will require some degree of rewrite. At most I'm thinking of replacing `release-it` with `np` which can take care of everything related to releasing to npm a

[2020-03-04 07:10] AnuragGupta93 commented on #4343
@McGittyHub @stalgiag @outofambit Please take a look into the mentioned PR.

[2020-03-04 16:51] outofambit commented on #4337
hi @filipemeneses @ArjunwadkarAjay nice to see you working through this! are you planning to open a PR to p5 at some point? if so, i'd like to checkin about if this to see if its best incorporated in p5 itself or as a p5 library. this seems useful, but i don't know how much matrix math most p5 users encounter. do you have a sense for this?

@aferriss @stalgiag do you have thoughts? you're more fam

[2020-03-04 17:32] limzykenneth commented on #2681
@akshay-99 I'll assign this to you. Let us know if you need help with this. Thanks.

[2020-03-04 19:55] akshay-99 opened #4347 "There probably shouldn't be a test.only() used at /test/unit/io/files.js line 469"
So I was going through the code for the tests and felt that this was important to bring to the attention of the maintainers.
There probably shouldn't be a `test.only()` used [here](https://github.com/processing/p5.js/blob/65ed7a9b12f04a0efdbb6edc8766b9803a01254a/test/unit/io/files.js#L469)

I don't fully understand the tests yet so I am sorry if this ends up being stupid.

[2020-03-04 20:19] aferriss opened #4348 "p5.vector math signatures with the target argument return undefined when passed values"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: Master
- Web browser and version: All major browsers
- Operating System: OSX
- Steps to reproduce this:

I noticed that the vector

[2020-03-04 20:26] #4343 closed

[2020-03-04 20:29] #4329 closed

[2020-03-04 20:31] stalgiag commented on #4347
Thanks for finding that @akshay-99 . Luckily I think that since it is the only test in that suite this doesn't cause any other tests to not run. But we should still remove it in case any future tests go in this suite.

[2020-03-04 22:30] #3292 closed

[2020-03-05 02:48] taka1156 commented on #3906
https://youtu.be/AbB9ayaffTc

It seems that we can deal with this. (ios13 and iPadOS?)

![A7816866-6031-42E6-97EF-0BD228849577](https://user-images.githubusercontent.com/47517002/75942897-f1257e80-5ed6-11ea-9fdf-68dc1ca92de6.png)
Sorry for the unsightly English.

[2020-03-05 03:40] filipemeneses commented on #4337
@outofambit Currently I'm only using these functions. Maybe could also have a p5.Matrix class to handle matrix math operations.

[2020-03-05 06:04] akshay-99 commented on #4347
Unfortunately, that doesn't seem to be the case. When I remove `.only()` and try `npm test` on the current code on master, it runs a whole lot more test cases that didn't run before.
2 of them fail
This is in the "mochaChrome:test" (mochaChrome) task
[code]

@stalgiag @outofambit can you please confirm ?

This is the output with the .only() in place, as is in master
[code]

[2020-03-05 06:14] stalgiag commented on #4347
Hm I thought the `.only` only applies in the nest, but it appears to have different behavior. It looks like the `.only` was added about two months ago.

I can't look right now but I think the removal of the `.only` should happen along with fixing the broken tests and/or tested behavior.

[2020-03-05 06:52] akshay-99 commented on #4347
The first test failure was due to not passing a `method` argument to _friendlyError in the unit test itself. I am trying to work out second one.

[2020-03-05 10:01] akshay-99 commented on #4347
The second test failure appears to be due to a precision error. `Date.now()` gives time to the nearest millisecond while `window.performance.now()` used in `millis()` gives it to 0.000000001 milliseconds.
Every time, the test crashes due to an error < 0.5 ms. This was due to a change introduced in #4286 .
Perhaps we should replace the `Date.now()` in test to `window.performace.now()`as well ?
@sta

[2020-03-05 10:26] limzykenneth commented on #4347
@akshay-99 Is the two values being compared against each other? I'm not sure if changing it to `window.performance.now()` is going to make the comparison the same as it is made to avoid giving very precise measurement as a counter measure against Meltdown vulnerability.

You can still try though. If it doesn't work just round it up to the nearest millisecond which should be enough for our purpose.

[2020-03-05 12:18] akshay-99 commented on #4347
This did solve the failure of ` result should be greater than running time`
I am not getting why the test cases are running twice.
For example in the same run of `npm test` I got
[code]
and also
[code]

I checked a commit from early January and there too the test cases under the `mochaChrome:test" (mochaChrome)` task were running twice
For example, in the same run
[code]
appears [here](https://git

[2020-03-05 14:12] limzykenneth commented on #4348
I believe you are right on the pass by reference theory, don't have the capacity right now to test it out myself though.

I'm not sure how often the signature that takes `target` is used but since it is a publicly documented API we can't exactly remove it at this point since it is a breaking change. The idea of logging a warning could work though.

[2020-03-05 15:31] fenilgandhi commented on #2865
Hey guys, while updating documentation, i am facing 2 issues, if somebody can check and verify if these are legitimate bugs or it just might be a newbie mistake.

1. The alternative text for the examples in the reference documentation is not getting read by a screen reader even where it is available. You can check for the following methods [arc](https://p5js.org/reference/#/p5/arc), [quad](https:/

[2020-03-05 15:34] DivyamAhuja commented on #4348
![Screenshot from 2020-03-05 21-02-16](https://user-images.githubusercontent.com/39771050/75997039-c6621700-5f24-11ea-87b8-baab04978147.png)
@limzykenneth Something like this?
If this is okay then I can work on this...am learning a lot by going though the source code

[2020-03-05 18:22] limzykenneth commented on #2865
@fenilgandhi Is this the development preview of the documentation that is hosted in this repo (as opposed to the one on the website repo)? If so it could very possibly be that some of the code that is stored in this repo for the documentation preview has gone out of date and wasn't able to render the reference correctly.

[2020-03-05 18:47] fenilgandhi commented on #2865
Yes @limzykenneth, it is the development preview of documentation in this repo. If that may be the issue, I would like to fix it, can you give me some pointers on where to start looking from ?

[2020-03-05 20:09] limzykenneth commented on #2865
The code for rendering documentation in this repo is [here](https://github.com/processing/p5.js/tree/master/docs), while that is generated (awhile ago) from the original templates and scripts, now moved over to the website repo, [here](https://github.com/processing/p5.js-website/tree/master/src/yuidoc-p5-theme-src/scripts).

Honestly the codebase is quite convoluted so there's no pressure for you

[2020-03-05 20:43] fenilgandhi commented on #2865
Thank you soo much @limzykenneth. I think i would learn a lot fixing it so i would really like to have a go at it. Will get back to on it soon.

[2020-03-06 04:24] #4334 closed

[2020-03-06 13:37] ffd8 opened #4350 "beginShape()/endShape() ignores noFill() with WEBGL in 1.0"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 1.0
- Web browser and version: Safari + Brave
- Operating System: MacOS 10.13.6
- Steps to reproduce this:

Code for a complex shape, with `noFill()`, using WEBGL:
[code]

In v0.10.2 it renders as:
<img width="398" alt="Screen Shot 2020-03-06 at 14 33 09" src="https://user-images.githubusercontent.

[2020-03-06 13:41] DivyamAhuja opened #4351 "Can't initialise p5 in instance mode using constructor"
![Screenshot from 2020-03-06 18-59-31](https://user-images.githubusercontent.com/39771050/76087733-c45b8f00-5fdc-11ea-9ac6-952d349c3369.png)

Can Someone explain how this is supposed to work.
Going through code I was trying to go through code trying to initialise p5 in instance mode

This code with class is working but i can't get it working with sketch clousre in p5 constructor parameter

![Scree

[2020-03-06 13:58] ffd8 commented on #4086
After a few recent messages asking about the status, here's an example, where the linked `p5_textToPoints.js` file can be snagged and used to temp override `textToPoints()`:
[https://editor.p5js.org/ffd8/sketches/TaPWHTaH](https://editor.p5js.org/ffd8/sketches/TaPWHTaH)
(fixed a bug I had in previous versions above that killed function w/o options)

With 1.0 released 🎉– I'd like to bring this up a

[2020-03-06 15:24] DivyamAhuja commented on #4351
@stellartux

[2020-03-06 17:12] limzykenneth commented on #4351
To use instance mode, you can start by following examples layed out [here](https://github.com/processing/p5.js/wiki/Global-and-instance-mode). If you have further questions about using p5.js, you can ask them on the [forum](https://discourse.processing.org). Thanks.

[2020-03-06 17:12] #4351 closed

[2020-03-06 18:59] aferriss commented on #4348
@limzykenneth ok, added in all the signatures that I could think of. It makes the docs page look a little scary imo, but it should at least be comprehensive.

![Screen Shot 2020-03-06 at 10 58 38 AM](https://user-images.githubusercontent.com/3698659/76113771-92750900-5f99-11ea-8911-4fb13b1140df.png)

[2020-03-06 21:00] aferriss commented on #4337
@filipemeneses This does look very useful! But I'd agree with @outofambit that this is a pretty niche use case and probably better as a library of matrix helper functions. The only time I've found myself using matrices in p5 is when working directly with the webGL renderer on the library itself. Not that there aren't lots of other valid uses for them, but I'm guessing it's not that common.

[2020-03-07 15:06] akshay-99 commented on #4347
Okay it took me an embarrassingly long time to figure out that the second run of the unit tests was for the minified library. And now it makes sense that the 3 test cases fail only for the minified library as the translator is not initialised there.
@outofambit should I add an if condition `helpForMisusedAtTopLevelCode` to use the translator only if IS_MINIFIED is not set? This will correct these

[2020-03-07 16:21] sps014 opened #4352 "exporting WebGL 3d Model from p5"
Is there any way of exporting or downloading 3d model from p5 WEBGL renderer.
I want to create a 3d model in the browser and want to save that user model on the user machine if the user wants to download it.
I want the model to be in .obj or .stl file format.
Unfortunately, I was not able to find any exporting API for 3d model in P5 documentation.
Thank you.

[2020-03-08 04:53] DivyamAhuja commented on #4353
Yeah You are right.
Can I work on this and change the example?

[2020-03-08 10:54] sps014 commented on #4352
Any hint or suggestion to use an external 3d library capable of exporting 3d model to the client browser is also welcome.

[2020-03-08 11:42] limzykenneth commented on #4353
From my understanding, "static" here is the programming sense of the word "static", in that it is a method that is called directly from the class instead of the object instance. In this case "static" and "non-static" does not make any guarantee about whether the callee or arguments are modified or not.

The "static" keyword is also part of ES6 class syntax so although it is a jargon, it is still p

[2020-03-08 11:44] hellonearthis commented on #4352
Have you tried asking on https://discourse.processing.org/
coding trains discord channel https://discord.gg/bF5nTx

[2020-03-08 11:49] sps014 commented on #4352
Will try asking there.

[2020-03-08 14:50] DivyamAhuja commented on #4353
[code]
In here maybe the person wanted it to be like
[code]

as both static and non-static methods for cross product return a vector instead of setting value of vector v1 as cross product

so I think example must be updated
to
[code]

[2020-03-08 14:54] limzykenneth commented on #4353
@DivyamAhuja Yes the example should be updated to show that the value is return but the vector itself is not modified. But the use of "static" and "non-static" on the docs is not incorrect.

[2020-03-08 14:54] #4352 closed

[2020-03-09 07:02] ArjunwadkarAjay commented on #4337
@outofambit and @aferriss the p5 is currently used by beginners to programming.
The matrix library would be used by students learning core computer graphics to implement algorithms from basics.

[2020-03-09 07:43] DivyamAhuja commented on #4353
Yeah the use of "static" and "non static" is correct.

[2020-03-09 20:18] endurance21 opened #4356 "Build process fails due to < loadJSON documentation>"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:0.10.2

- Operating System:
 ubuntu 18.04
- Steps to reproduce this:
clone the repo and after installing dependencies  , just type g

[2020-03-09 20:27] akshay-99 commented on #4356
Hey @endurance21 I have come across this too. I don't exactly know what's causing it, just that the test is taking more than 4 seconds to finish and that's causing a timeout. I close a few browser tabs here and there to speed up my system a bit, and it starts working :sweat_smile:

I definitely shouldn't be happening though.

[2020-03-09 21:26] fenilgandhi opened #4357 "Update example to hide Canvas and limit video element width."
#### Most appropriate sub-area of p5.js?
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (DOM)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: 80.0.3987.122 (Official Build) (64-bit)
- Operating System: Linux (Manjaro)
- Steps to reproduce this:
In the examp

[2020-03-09 21:27] fenilgandhi commented on #4357
For reference, check [https://github.com/processing/p5.js-website/issues/579](https://github.com/processing/p5.js-website/issues/579)

[2020-03-09 23:57] fenilgandhi commented on #4137
@DivyamAhuja Hey, are you working on it ? if not, i would like to pick it up from there.

[2020-03-10 03:41] #4357 closed

[2020-03-10 06:43] nickmcintyre commented on #4337
@filipemeneses Agreed matrices would be nice to have in the ecosystem. There's actually an existing `p5.Matrix` class used for [graphics](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Matrix.js).

Now for a shameless plug... 😉

I've tinkered with a couple of approaches to building a more extensive math library for p5.js and made some progress wrapping TensorFlow.js. Take a look at [

[2020-03-10 08:17] DivyamAhuja commented on #4137
@fenilgandhi I have translated contributing_ddocumentation.md till now, and now I think it's not that necessary to translate all of contributor_docs.
If you are interested you can translate all other docs

[2020-03-10 09:06] DivyamAhuja commented on #4272
@akshay-99 the thing with calling print(...args) outside setup or draw is that it gets called before the library is loaded and browser calls window.print() . So I think it's hard for FES to detect it.
A better way to go around situation will be to have a static function p5.print() alongside this one.

[code]
@outofambit what do you suggest about this?
If there is way for it to be get detected by F

[2020-03-10 09:52] DivyamAhuja commented on #4356
I didn't encounter such error
![Screenshot from 2020-03-10 15-20-33](https://user-images.githubusercontent.com/39771050/76300480-c7a79100-62e2-11ea-96b4-55b6cc9c08e8.png)
maybe this depends upon machine to machine or network connection as that example loads data from internet.

am using p5 v1.0.0 tho but it was working just as fine earlier too.

[2020-03-10 10:45] endurance21 commented on #4356
@DivyamAhuja
 i mentioned the version 0.10.2

[2020-03-10 10:53] DivyamAhuja commented on #4356
it was working fine for me for v0.10.2

[2020-03-10 13:55] limzykenneth commented on #4356
As far as I can see the tests for `loadJSON()` does not fetch file over the internet and doesn't require an internet connection to run. The only thing that should slow it down significantly is the system file IO latency but again I'm not expecting it to be that slow. If it really is a latency problem you can try increasing the mocha time out value layed out [here](https://stackoverflow.com/questio

[2020-03-10 14:31] DivyamAhuja commented on #4356
@limzykenneth that example from loadJSON() does seem to be fetching file from internet..

I tried building it with my internet off and these were the results

![Screenshot from 2020-03-10 19-50-36](https://user-images.githubusercontent.com/39771050/76322575-94c4c380-6309-11ea-94a9-e99f6451d783.png)
![Screenshot from 2020-03-10 19-52-02](https://user-images.githubusercontent.com/39771050/76322580-9

[2020-03-10 14:33] DivyamAhuja commented on #4356
or maybe it can really be related to IO latency and can be solved by increasing mocha time out value

[2020-03-10 14:41] limzykenneth commented on #4356
@DivyamAhuja Yeah I see, that's the test for the reference examples. I though it was the unit tests failing. In that case, it could be due to internet speed. Do try to increase the mocha timeout value and see if that helps.

[2020-03-10 14:50] DivyamAhuja commented on #4275
I think you can directly access camera's coordinates in world space too using centerX, centerY, centerZ

[2020-03-10 14:59] endurance21 commented on #4356
@limzykenneth okay

[2020-03-10 15:37] amzon-ex commented on #645
Sorry, I'm new to p5 and just scaling the learning curve. Does this comment mean that the p5.dom library has been integrated into the main p5 library? That is, just downloading the main p5.js file would serve all purpose? Thanks.

[2020-03-10 15:41] limzykenneth commented on #645
@amzon-ex Yes, the DOM library has been merged into the core library, meaning any functionalities previously requiring p5.dom.js are all included directly in p5.js. If you have further questions, feel free to ask on the [forum](https://discourse.processing.org). Thanks!

[2020-03-10 17:16] aferriss commented on #4348
@DivyamAhuja I think it might make sense to wait until #4322 gets merged, but if you'd like to work on this that'd be great!

Maybe expand the warning to mention that the `target` parameter needs to be a `p5.Vector type`

[2020-03-10 17:40] filipemeneses commented on #4337
@nickmcintyre wooah, amazing library man! thanks for sharing here!

[2020-03-10 18:41] AidanNelson commented on #4275
@DivyamAhuja `centerX/Y/Z` actually refer to the coordinate where the camera is pointed (i.e. the center of the sketch) rather than where the camera is located.  The terminology is a bit confusing here...

To access the cameras position, you can use `eyeX/Y/Z`.

[2020-03-10 20:20] DivyamAhuja commented on #4275
@AidanNelson I got it.....too much thinking earlier got me confused and I took centerX/Y/Z for eyeX/Y/Z and vice versa

and I think a helper function might be good for getting position now (after getting confused myself once) and it won't have any impact on existing code

[2020-03-10 23:09] JimBrink opened #4360 "Wording of vol parameter description"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

#### Feature enhancement details:
The description of "vol" on the page https://p5js.org/reference/#/p5.Effect/amp reads " Number: amplitude between 0 and 1.0 (Optional)".  I be

[2020-03-11 09:15] DivyamAhuja commented on #4348
@aferriss Sure I will wait for #4322 to get merged as I think same has to be done for all static methods like add sub mult div which may take target vector as argument

[2020-03-11 09:49] hkmoon commented on #550
This tip works in Jupyter notebook too. Thanks, @brysonian !

[2020-03-11 12:56] sk1122 commented on #4137
I want to translate some docs to hindi..
Can I help you guys..

[2020-03-11 18:01] #4347 closed

[2020-03-11 18:14] DivyamAhuja commented on #4360
I think this issue belongs to p5 js sound repo

[2020-03-11 18:57] mhmd-22 opened #4363 "The width of line/stroke is bigger than the height"
#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: 6.13.4
- Web browser and version: Chrome 80.0.3987.132 (Checked other browsers and still persists)
- Operating System: Linux
- Steps to reproduce this: in this code. I plan to create a grid. if you look at the picture below(**see it in full resolution**) you'll see vertical line

[2020-03-11 19:30] mhmd-22 commented on #4363
oops. the actual problem is using a nested loop. it'll create vertical lines on every horizontal line created

sorry about that
[code]

[2020-03-11 19:30] #4363 closed

[2020-03-12 00:04] fenilgandhi opened #4364 "Inconsistent formats for specifying inline documentation"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Documentation)

#### Feature enhancement details:
The inline documentation which generates the reference documentation does have guidelines for specifying different blocks of documentation but lacks

[2020-03-12 09:14] DivyamAhuja commented on #4350
@stalgiag Should this issue be addressed? as fill(0,0,0,0) temporarily solves this
and other way I tried is by checking for this._doFill before drawImmediateFill is called
and it's working fine

![Screenshot from 2020-03-12 13-53-35](https://user-images.githubusercontent.com/39771050/76501913-20a13180-6469-11ea-9798-761822b54813.png)

So should I solve the issue this way ?

[2020-03-12 17:29] stalgiag commented on #4350
Thank you for reporting this @ffd8 !

Hi @DivyamAhuja yes that solution should work well. I think checking for `_doFill` works there. I would also check for `_doStroke` in the same way before `_drawImmediateStroke()`. It is implicit because the lineVertices will be empty when `_doStroke` is false but best to keep clear symmetry between those two.

Thank you!

[2020-03-12 18:55] #4364 closed

[2020-03-13 13:28] paolobaigueraunitn opened #4367 "deviceMoved() and deviceShaken() not firing"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.9.0
- Web browser and version: Chrome > 80.
- Operating System: Android >= 8.0
- Steps to reproduce this:
I've included p5.dom.js

[2020-03-13 14:44] DivyamAhuja commented on #4092
I think this(blur problem) is happening because after drawing image to canvas and then applying filter the alpha/transparency is lost and background pixels replace transparent pixels and when we apply filter to transparent image first, it still has alpha value so it blurs differently cause of alpha value and then gets drawn on canvas

https://editor.p5js.org/DivyamAhuja/sketches/Rk4Whc8N

https://

[2020-03-13 16:05] DivyamAhuja commented on #3916
p5._pInst.circle() should work

[2020-03-13 18:03] fenilgandhi commented on #4137
@sk1122, Sure go ahead with it.

[2020-03-13 18:28] fenilgandhi opened #4368 "Need to update inline documentation of different modules to be consistent with templates"
Since we now have a template for inline documentation across modules needs to be updated to be consistent with the template.

[2020-03-13 19:30] #4283 closed

[2020-03-13 22:18] JPatagonico opened #4370 "Autocomplete"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### New feature details:
Autocomplete for P5.JS in both the online editor and the Processing editor

[2020-03-13 22:26] #4350 closed

[2020-03-13 22:29] #3871 closed

[2020-03-14 00:13] aferriss commented on #4348
@DivyamAhuja we're all merged up!

[2020-03-14 00:42] fenilgandhi commented on #4285
@aajaggi, @hellonearthis Is anyone even working on this ?

[2020-03-14 04:10] DivyamAhuja commented on #4285
@fenilgandhi well I was working on this one but as @aajaggi was assigned so I decided to wait for a month and see

[2020-03-14 05:27] adriens opened #4372 "Unable to load a valid Json"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

I'm trying to consume an API hosted on Heroku developed on Spring Boot.

- p5.js version: Current online version at https://editor.p5js.org/
- Web b

[2020-03-14 05:46] adriens commented on #4372
Got it. Dummy error of mine bout the print function 👍

[2020-03-14 05:46] #4372 closed

[2020-03-14 07:12] BenMaydan opened #4373 "keyTyped does not work in conjunction with returning false in mousePressed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:  Chrome, version "80.0.3987.132"
- Operating System:  Windows 10 OS Version 1909
- Steps to reproduce th

[2020-03-14 07:30] akshay-99 opened #4374 "Format of the tests is wrong for suite p5.Element.prototype.position"
As discussed in #4339

[code]

Or as found [here](https://github.com/processing/p5.js/runs/507291467#step:5:5032),  based on the level of indentation, the testing framework seems to think that` p5.Element.prototype.position` is the parent suite for all subsequent suites.

I don't think it has any other side effects, but felt that it should be fixed nonetheless

[2020-03-14 08:04] DivyamAhuja commented on #4274
@stalgiag I made the following changes like adding varrying  vColor and attribute aVertexColor to them and commenting out uMaterialColor uniform

so now it takes pixel color data and computes light on it
is this the right approach?

https://editor.p5js.org/DivyamAhuja/sketches/cMS8QIfR

![Screenshot from 2020-03-14 13-30-00](https://user-images.githubusercontent.com/39771050/76677758-fdf15300-65f7

[2020-03-14 13:49] #4353 closed

[2020-03-14 14:20] pcgamer1 commented on #4370
Hi! I would like to work on the autocomplete feature.

[2020-03-14 14:38] pcgamer1 commented on #4373
We can use EventListeners to check whether the mouse was pressed or not rather than calling these functions and returning values. I would like to work on this.

[2020-03-14 14:40] pcgamer1 commented on #4373
I would like to work on this. Seems like an issue with an EventListener.

[2020-03-14 15:27] limzykenneth commented on #4373
@BenMaydan I'm not able to replicate this locally, can this be a web editor bug?

[2020-03-14 15:30] limzykenneth commented on #4370
@JPatagonico I believe there are some work relating to autocomplete already done on the [web editor repo](https://github.com/processing/p5.js-web-editor). Can you move this issue over there and close this one because this repo is more for tracking issues with the p5.js library itself. Thanks!

[2020-03-14 16:36] limzykenneth commented on #4367
It could possibly be a permission issue, I don't have an Android device to test but on iOS all of the accelerometer functions are not working because they now require an additional call to ask the users for permission to get the data. See more [here](https://stackoverflow.com/questions/56514116/how-do-i-get-deviceorientationevent-and-devicemotionevent-to-work-on-safari). See also #4037.

A way to

[2020-03-14 21:35] fenilgandhi commented on #4285
Cool, @DivyamAhuja since you were already working on it, you do it.

[2020-03-14 22:29] stalgiag commented on #4274
Hi @DivyamAhuja -- this is close but this breaks the behavior of geometry that doesn't have vertex color (retained geometry).

[Specular material sketch with 1.0.0](https://editor.p5js.org/stalgiag/sketches/E67AhXym)
[Same sketch with your build](https://editor.p5js.org/stalgiag/sketches/q2WQCPVu)

A default value for vertex color which is multiplied by material color should work for both cases, b

[2020-03-14 22:30] #4374 closed

[2020-03-14 22:34] stalgiag commented on #4285
Thanks for the patience everyone!

@aajaggi it has been roughly a month. Let me know if you want to keep working on this. No pressure! If we don't hear from you in 24 hours then we will let @DivyamAhuja give it a try. Feel free to @ me with any questions.

[2020-03-15 09:08] DivyamAhuja commented on #4274
@stalgiag  This one sure takes a lot of thinking for me. Maybe this issue can be addressed while adding functionality for applying multiple materials on geometry or maybe having different shader programs for both modes.
I want to apply for GSoC for improving WebGL functionality but I don't know where I can contact possible mentors or get proposal reviewed as am not able to contact anyone about Web

[2020-03-15 11:39] #4337 closed

[2020-03-15 12:44] DivyamAhuja commented on #4348
@aferriss so while implementing this, this time it was not logging(was showing hidden) in chrome(Ubuntu 18.04 LTS) but was working fine in Firefox. so any idea why this would've been happening and _friendlyError() system appends function name to [https://p5js.org/reference/#/p5/]("https://p5js.org/reference/#/p5/") URL so I was not able to correctly redirect to reference page for p5.Vector.add and

[2020-03-15 13:20] pcgamer1 commented on #4368
@all-contributors please add @pcgamer1 for code

[2020-03-15 17:34] stalgiag commented on #4274
Hi @DivyamAhuja no sweat! This stuff can be hard to parse. And yes, it could potentially be part of the larger material system overhaul.

If you want help thinking through your application for GSoC feel free to email me (in profile) or start a thread in the discourse and tagging me.

[2020-03-15 17:35] stalgiag commented on #4294
This seems to be fixed over here. Closing for now.

[2020-03-15 17:35] #4294 closed

[2020-03-15 17:36] gr2m commented on #4294
yay :)

[2020-03-15 21:02] abhishektanwar opened #4382 "Stop forming/executing of waveform"
I am plotting the waveform by capturing the input using microphone . When a button is clicked waveform starts . But when I click the button again(if else logic implemented) I want the waveform to stop plotting and stop its further execution and capturing through mic.
Please help

document.getElementById("graph").addEventListener("click",function(event){
  if(document.getElementById("graph").value

[2020-03-16 13:29] DivyamAhuja commented on #4274
Thanks @stalgiag I have mailed you Project proposal
and Thanks in advance again

[2020-03-16 15:22] akshay-99 opened #4385 "Improving Test Coverage"
Hey, so I stumbled upon this report.
![image](https://user-images.githubusercontent.com/38867671/76765736-e57e6580-67bc-11ea-8550-532f2c55c54b.png)
I felt there is certainly a lot of scope for work here.
We can get it up to 80-85% total coverage to make things more robust. This includes adding tests for uncovered functions ( particularly in `dom`, `image` and `io` ).

But even then, coverage won't

[2020-03-16 16:07] flomerboy commented on #4329
What version of the library will this work in? Still observing the bug in my project

[2020-03-16 16:54] limzykenneth commented on #4382
Hi @abhishektanwar, we use github issues mostly for bug tracking or feature requests relating to p5.js itself, if you need help with your own code you can post it on the [forum](https://discourse.processing.org). Thanks!

[2020-03-16 16:54] #4382 closed

[2020-03-16 19:35] #4285 closed

[2020-03-17 06:52] fenilgandhi commented on #4385
Hey, even i am working on improving test coverage ratio, and i totally agree with your observation. As a matter of fact, starting from today, i am going to start working on it, atleast for 2 more weeks. So just to avoid stepping on each others toes, i think we should split up modules and work on them individually. Let me know what you think. Best of luck for your GSOC experience.

[2020-03-17 06:53] fenilgandhi commented on #4385
For starters, i am picking up working on `dom` module.

[2020-03-17 08:00] akshay-99 commented on #4385
@fenilgandhi I am waiting for a nod from some of the people here and hearing their opinions before jumping into things. I didn't know that you were working on the test coverage too, seeing the daily good work you are putting in with the inline documentation task. But yes, we can work together!

@outofambit @stalgiag @limzykenneth what do you think about the coverage and the verifying the final out

[2020-03-17 12:05] sk1122 opened #4387 "@all-contributors please add @sk1122 for documentation"

[2020-03-17 14:06] DivyamAhuja commented on #4385
@akshay-99 @fenilgandhi you both are doing great work...well it will be nice if test case coverage area is increased... especially for WebGL part for me.....btw have you submitted your draft proposal or you still waiting to get it reviewed here

[2020-03-17 19:40] Ongshu777 opened #4389 "p5 line() function saying that only two arguments were present when 4 were given."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Chrome 80.0.3987.132
- Operating System:  Windows 10
- Steps to reproduce this:

[code]
I think,

[2020-03-17 19:40] vanyamil opened #4390 "Instance mode resizeCanvas doesn't change pixels array?"
#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: NPM 1.0.0
- Web browser and version: Chrome 80.0.3987.132, but shouldn't matter?
- Operating System: Windows 10 Build 18362
- Steps to reproduce this:
Here is the rough outline of my code (trying to work on a ray-tracer):

Main file:
[code]

Scene.js
[code]

It looks like when `

[2020-03-17 20:57] #4390 closed

[2020-03-17 20:57] vanyamil commented on #4390
Looks like it could be an issue with exact timing - possibly updatePixels and loadPixels could be in a race condition. Modifying a couple of lines fixed it for now.

[2020-03-17 23:51] mjaything commented on #4137
Hello, I would like to translate README.md file into Korean, if no one has done it yet. Please let me know if anyone is in progress -- it would help me to avoid the overlap! ;-)

[2020-03-18 00:48] aferriss commented on #4348
@DivyamAhuja Can you clarify, what wasn't logging? I think you can probably just use `console.warn` instead of fes since the vector math function urls are a little weird.

[2020-03-18 07:45] DivyamAhuja commented on #4389
https://editor.p5js.org/DivyamAhuja/sketches/3AsTbVfU

am not able to reproduce same problem

[2020-03-18 07:52] DivyamAhuja commented on #4348
FES for logging link to reference has this call
![Screenshot from 2020-03-18 13-17-36](https://user-images.githubusercontent.com/39771050/76937504-ecbb8580-691a-11ea-99b0-e45889a48244.png)

but p5.Vector functions have reference URL as such -
https://p5js.org/reference/#/p5.Vector/add

so I don't think we can pass something to func parameter to link it to reference page for function, so i just lef

[2020-03-18 10:12] DivyamAhuja opened #4391 "The location of point light is not changing with mouse in p5.js version 1.0.0"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
The location of point light is not changing with mouse in p5.js version 1.0.0
`pointLight(255, 0, 0, mouseX - width/2, mouseY - height/2, 200); `

-

[2020-03-18 11:34] fenilgandhi commented on #4385
@akshay-99, since you are starting off afresh, i have a suggestion which you can use, i read through test files of a few modules and realised that the tests have a lot of disparity in them. Maybe as a part of improving the test coverage, you can document the guidelines for unit testing. In a long term scenario, this would improve not only the coverage but also the quality of the test.
Here's a ref

[2020-03-18 11:43] fenilgandhi opened #4392 "Enhancing quality of existing tests and adding missing unit tests."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Tests)

#### Feature enhancement details:
The test coverage for modules like `dom`, `image` and `io` is pretty low. Also some of the existing test can be improved.
For more reference, check out #4385

[2020-03-18 12:44] fenilgandhi commented on #4389
+1 @DivyamAhuja ,  even i cannot reproducethis bug.

Hey, @Ongshu777, are you sure this is the exact code that you were testing because in your given code even `rotate` would definetly give an error. As `rotate` expects a number array or a p5 vector in the second parameter while you have passed a number.

[2020-03-18 14:57] Ongshu777 commented on #4389
Right. It's actually a `translate`. Edited.

[2020-03-18 15:32] akshay-99 commented on #4389
@Ongshu777 Hi there! Even with translate it still seems to work properly as seen here
https://editor.p5js.org/akshay.padte/sketches/tOVTEUcUb

Or as @DivyamAhuja pointed out with his link, it worked with rotate too.

There must be something else at play here.
Can you please verify if the version you mentioned is correct or provide more details to the problem?

[2020-03-18 15:42] akshay-99 commented on #4385
@fenilgandhi though I agree that the tests have some disparity in them, I felt most of it was a necessary difference of style needed for that particular unit. And I also feel that the guidelines are sufficiently documented giving an example and structure, at least as of now.
And I feel putting too much focus on pedantic details that cannot automatically be enforced is counterintuitive and may disc

[2020-03-18 16:51] Bookworm320 opened #4393 "Error w/ functions in classes"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible) Issue with class arguments

#### Details about the bug: When trying to use classes in the web editor it claims the ellipse in the class was expecting at least 3 arguments but on

[2020-03-18 17:12] DivyamAhuja commented on #4393
Hi @Bookworm320, well the problem in your code is basically a typo. You have typed `cronstructor()` as `constructer()`, that's why your code is not working.
Here is a link right code : -
https://editor.p5js.org/DivyamAhuja/sketches/yvYgwusJg

[2020-03-18 17:33] aferriss commented on #4348
@DivyamAhuja Out of curiosity, what does the url look like that gets passed to FES?

[2020-03-18 17:57] DivyamAhuja commented on #4348
@aferriss The full URL depends upon `method` parameter that we pass to `p5._friendlyError(message, method)` function, which calls a `report(message, func, color)` method
and whatever string we pass as `method ` parameter gets appended at end of `http://p5js.org/reference/#p5/` URL string.
So if I pass `'add'` it will link to `http://p5js.org/reference/#p5/add` and if I pass `'p5.Vector.add'` then

[2020-03-18 18:08] #4393 closed

[2020-03-18 18:09] aferriss commented on #4348
@DivyamAhuja Makes sense, thank you for explaining. Can you please open a separate issue regarding this problem?

In the meantime I think your solution of leaving the method parameter empty is fine.

[2020-03-18 18:41] Bookworm320 commented on #4393
Thank you for setting me straight :)

On Wed, Mar 18, 2020, 1:12 PM Shirou <notifications@github.com> wrote:

[2020-03-18 19:54] paolobaigueraunitn commented on #4367
Sorry for the long wait..
It was both the suggested problema and the fact that i did not use https (for Android).
However deviceShaken() still not work on iOS 13+.

[2020-03-18 21:01] Ongshu777 commented on #4389
@akshay-99  The version is the one in p5.js editor.

[2020-03-18 23:05] DivyamAhuja commented on #4389
@Ongshu777 Is it working correctly with the links we provided? and can you provide link to code in editor... because sometimes it maybe pe problem with other part of code or slight negligence which can cause error

[2020-03-19 02:46] Vamoss commented on #4288
Great, I saw 1.0 was released, congratulations!

Totally agree, the `quad` function could be already replaced by this one, as you can see, the default `detailX`and `detailY` is 8, if you change the default to 2, the result will be the same of `quad` function.

[2020-03-19 08:39] Ongshu777 commented on #4389
@DivyamAhuja That project was changed, so I can't provide a link.

[2020-03-19 17:02] DivyamAhuja commented on #4391
@stalgiag @akshay-99 can you help me check this out

[2020-03-19 17:06] akshay-99 commented on #4391
Sure. Let me have a look. I'll get back to you soon

[2020-03-20 00:20] fenilgandhi opened #4394 "createSelect does not handle existing dom elements"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (dom)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 80.0.3987.122
- Operating System: Manjaro 19.0.2 Kyria (Linux 4.19.108-1-MANJARO)
- Steps to reproduce this

[2020-03-20 00:32] fenilgandhi commented on #4394
For reference, here's a sketch file
https://editor.p5js.org/fenilgandhi/sketches/SXJ_YnVM

[2020-03-20 08:46] fenilgandhi commented on #4394
And for future reference if i find myself in a condition where the documentation says it should do something but the implementation does not, what should be my source of truth, documentation or implementation or something else ? Can someone help me out on this one. @lmccart, @limzykenneth

[2020-03-20 11:04] limzykenneth commented on #4137
@mjaything You can go ahead with it. You can open an issue specifically for Korean translation of the contributor's docs if you want then I can assign the issue to you just as a record that you are working on this, you don't have to though.

[2020-03-20 11:08] mjaything commented on #4137
@limzykenneth Hi Kenneth, thanks for the comment. I am almost done with the translation of the readme.md file alone. At the moment, I am unsure if I should make a GSoC proposal for a p5.js web editor internationalization or the whole contributor_docs, or both. But anyways, yes if you could assign the issue, I would be able to contribute with the Korean readme.md at least, in few days! :)

[2020-03-20 11:08] limzykenneth commented on #4385
I'm not too involved with the testing setup but as with all other parts of the p5.js projects the key thing to consider is the beginner experience. We want to encourage more people to take a peek at the underlying code (including test codes) without the need of too much prior knowledge.

[2020-03-20 11:10] limzykenneth commented on #4392
I'm not too sure but wouldn't this issue be covered by #4385 already? Or is this about something else unrelated?

[2020-03-20 11:15] limzykenneth commented on #4367
@paolobaigueraunitn Does it still not work with the example code I posted above? In iOS Safari you may need to enable it in Preferences as well.

[2020-03-20 11:31] akshay-99 commented on #4385
@limzykenneth I agree that beginner friendliness is a prime objective. From experience, I can recount an issue which I faced while exploring the tests for the first time as a beginner. As far as I can see, the It doesn't mention anywhere why there are three different runs of tests
1. Examples
2. Unminified JS
3. Minified JS

Why 2nd and 3rd runs are different was confusing for me to figure out at

[2020-03-20 11:38] fenilgandhi commented on #4392
#4385 is a more generalised issue for discussing about the condition of testing as a whole. Whilst i would only be cover 2 or 3 modules and try to improve the quality of existing test and add missing ones. Also since #4385 is used by @akshay-99 to discuss about his GSOC proposal, i thought it would be better to have a seperate issue.

[2020-03-20 11:39] Eswaraprasadp opened #4396 "Build error with grunt script"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Build error)

#### Details about the bug:

- Web browser and version:
Chromium: 79.0.3945.79 (Official Build)
Firefox: 71.0

- Operating System: Ubuntu 18.04.3 (64-bit)
- Steps to reproduce this:
[co

[2020-03-20 11:45] fenilgandhi commented on #4385
My $0.02, you mentioned that it takes a lot of time for trial and error approach, for which you can use the `--keepalive` flag or better add the following command to package.json file.
[code]

[2020-03-20 11:49] limzykenneth commented on #4394
It depends. For the most part because we are now at semver 1.0.0 it means breaking changes cannot be introduced within a major version, so it means the implementation should take priority, unless it is obviously incorrect. For this case however, the implementation contradicts with itself which means it is a bug that should be fixed in the implementation itself.

As I understand it, `createSelect()

[2020-03-20 11:51] paolobaigueraunitn commented on #4367
I enabled preferences and It still did not work. It's a rather weird issue since it actually gives me the accX,Y,Z values and it's therefore able to access the accelerometer.
In android it works perfectly, but it does not respond in iOS 13+ at all.

[2020-03-20 11:54] limzykenneth commented on #4367
That's odd. Are you using 1.0.0 version of the library? If you can try and get a inspector running in desktop Safari connected to the mobile Safari and see if it gives any error or something. I don't have the capacity to test this out fully myself so if you can help debug this that would be very helpful! Thanks.

[2020-03-20 12:10] paolobaigueraunitn commented on #4367
I'll try and get back to you!
Sorry, but i'm dealing with this within a project so I've got a rather big amount of issues to get past me so I'll do this as soon as i can.

[2020-03-20 13:32] DivyamAhuja commented on #4396
@Eswaraprasadp What's the version of node and npm that you are using

[2020-03-20 13:44] Eswaraprasadp commented on #4396
@DivyamAhuja I am using npm 6.12.0

[2020-03-20 16:55] Eswaraprasadp commented on #4396
It seems that the problem is with generating docs in the grunt script, as I get the same error with npm run docs.

[2020-03-20 18:08] akshay-99 commented on #4385
@fenilgandhi sorry I didn't quite get you :sweat_smile:
I tried what you said and it starts up a development server. But it doesn't seem to track anything?
I tried changing updating the tests and the source but it doesn't seem to do anything when a change is made. Maybe I might be doing something wrong?

[2020-03-20 18:41] DivyamAhuja commented on #4391
Thanks @akshay-99

[2020-03-20 19:32] DivyamAhuja commented on #4348
Yeah sure @aferriss . BTW I wanna take WebGL API for p5 as project for GSoC 2020. but am not sure about how much I can add to it, like it lacks Shadows , some Material System flaws and  optimizations, but idk where I can talk about it as Possible Mentors for project are unknown for now. So can you guide me through it?

[2020-03-20 19:39] DivyamAhuja opened #4398 "p5._friendlyError() can't provide reference link for methods like p5.Vector.add"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Friendly Error System)

#### Feature enhancement details:
The current `p5._friendlyError(message, method)` call appends `method` string in front of https://p5js.org/reference/#p5/ URL to link to refe

[2020-03-20 20:07] aferriss commented on #4348
@DivyamAhuja That's great! I'm mentoring this summer for gsoc and looking for students interested in helping out with webGL. I think there's probably lots of room for bug fixes and there's quite a few webGL related issues open right now.

Probably best to move this discussion over to the processing forums [here](https://discourse.processing.org/c/summer-of-code/26). I believe the first step would

[2020-03-20 22:55] akshay-99 commented on #4391
Hi @DivyamAhuja  sorry for the delay. I found that the issue is introduced in #4136, more specifically, [this particular commit](https://github.com/processing/p5.js/pull/4136/commits/8686a4ece74bf4c1bf0613481a268e33ecd35cfa)

If I comment out the `if else` block starting from line 359 in `src/webgl/p5.Shader.js`, it starts working again. I am still trying to figure out why this happens.

[2020-03-20 23:40] akshay-99 commented on #4391
Okay @DivyamAhuja I found the problem. So uniform `uPointLightPosition` is of the type `gl.FLOAT_VEC3`
However  `uniform.isArray` is currently defined as
[code]

Just including `FLOAT_VEC3` like below fixes the issue
[code]

What happens right now with the code on master is that the `uniform.isArray` check gives false at line 359. This means we are assigning arrays with the = operator, and compari

[2020-03-21 00:02] stalgiag commented on #4391
@akshay-99 that is right! It was an unintentional omission. Thanks for finding it!

[2020-03-21 00:27] akshay-99 commented on #4391
@stalgiag There are also `gl.FLOAT_VEC2` and `gl.FLOAT_VEC4`. I am assuming they should be included too?

[2020-03-21 02:12] fenilgandhi commented on #4385
Ok, let me more clear.
- Add a `.only` to the `suite` of your module and your method.
- You can add the given line to package.json and then run `npm run test:dev`.
- It will run the server and watch for changes in files.
- Open [http://localhost:9001/test/test.html](http://localhost:9001/test/test.html) and you can verify your tests there. After making changes, you can refresh this page to get lat

[2020-03-21 08:06] DivyamAhuja commented on #4391
Thanks @akshay-99 for finding this bug!

[2020-03-21 15:14] stalgiag commented on #4391
@akshay-99 yes please add `FLOAT_VEC2`, `FLOAT_VEC3`, and `FLOAT_VEC4`. Thank you!

[2020-03-21 19:23] akshay-99 commented on #4385
@fenilgandhi I get you now. That was a great tip! Thanks!

[2020-03-21 20:53] eharkins100 opened #4399 "Imprecise console.log error message to a misspelling"
<
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X ] Other (imprecise console.log error message)

#### Details about the bug: the console.log said that ellipse was expecting a different argument, however my mistake was misspelling the word "constructor" as

[2020-03-22 06:21] mag911 commented on #4208
Found a stray link whilst trying to read about p5.dom

https://p5js.org/examples/dom-modifying-the-dom.html

Modifying the DOM

Create DOM elements and modify their properties every time draw() is called. You will need to include the "**[p5.dom library](http://p5js.org/reference/#/libraries/p5.dom)**" for this example to work in your own project.

[2020-03-22 06:27] mag911 opened #4400 "Stray link to p5.dom (also #4208)"
Found a stray link whilst trying to read about p5.dom

On this page:

https://p5js.org/examples/dom-modifying-the-dom.html

### Modifying the DOM

Create DOM elements and modify their properties every time draw() is called. You will need to include the "[p5.dom library](http://p5js.org/reference/#/libraries/p5.dom)" for this example to work in your own project.

similar to this issue #4208

[2020-03-22 11:20] edorfaus opened #4401 "beginShape(QUADS) does not work in WebGL mode"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Firefox 73.0
- Operating System: Linux 5.3.0 (Ubuntu 19.10)
- Steps to reproduce this:
  Try to draw a QUADS shape with fill, e.g. like this:
[code]
  According to the `beginShape()` reference documentation, this should draw two separate quads, which I expect to be

[2020-03-22 16:54] stalgiag commented on #4401
Thank you @edorfaus! This warning should be added back in here until quads are handled correctly.

[2020-03-22 16:57] stalgiag commented on #4396
This looks like a permissions issue. I would update node and also make sure that you are logged into an account that has read/write permissions to the p5 source folders.

[2020-03-22 20:49] ykabusalah commented on #2865
Has anyone completed this? Could I try tackling this issue?

[2020-03-22 20:49] ykabusalah commented on #4398
Could I try tackling this issue?

[2020-03-22 20:50] ykabusalah commented on #4223
Has anyone been assigned to this? Could I tackle this?

[2020-03-23 01:09] aferriss commented on #4398
@ykabusalah That would be great, thank you!

[2020-03-23 02:43] lmccart commented on #2865
@ykabusalah you are welcome to contribute documentation, just open a pull request and we can review.

[2020-03-23 02:49] #4394 closed

[2020-03-23 03:01] #4348 closed

[2020-03-23 03:17] hellonearthis opened #4403 "blendMode() not working right in firefox on windows 10"
I was working on this [https://www.openprocessing.org/sketch/854431](https://www.openprocessing.org/sketch/854431) and noticed it doesn't look the same when opened in firefox vs how it looks in chrome.  This problem only seems to affect windows and not apple os

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: 1.0.0

- Web br

[2020-03-23 13:22] limzykenneth commented on #4399
Hi @eharkins100 do you have a sample code demonstrating the issue? Thanks.

[2020-03-23 13:37] limzykenneth commented on #4223
@ykabusalah No assignment has been made yet as we are still figuring out where the problem is and where any potential solution is. You can have a look at the problem and let us know here what you think. Thanks.

[2020-03-23 13:48] limzykenneth commented on #4403
I'm on macOS Firefox 74 (latest stable release) and can't replicate this. @hellonearthis Can you try Firefox 74 on Windows to see if it still present as a bug?

[2020-03-23 16:17] DivyamAhuja commented on #4403
I can't replicate this too, on Ubuntu 18.04

![Screenshot from 2020-03-23 21-46-31](https://user-images.githubusercontent.com/39771050/77338084-d1ec7500-6d4f-11ea-8037-c6a0a15c5529.png)

[2020-03-23 16:19] akshay-99 commented on #4391
@DivyamAhuja were you working on something, encountered this issue and then incorporated these changes yourself? Or should I go ahead and open up a PR?

[2020-03-23 16:43] akshay-99 commented on #4385
This has been here for some time now.  :sweat_smile:
@outofambit @lmccart @limzykenneth @stalgiag I could start working on the above stuff right away but I don't want to start with a barrage of pull requests without a go-ahead of sorts :sweat_smile:

[2020-03-23 16:43] eharkins100 commented on #4399
hi Kenneth,

*this is my bubble.js file with the typo "coonstructor"*

class Bubble {
  coonstructor(x, y, r) {
    this.x = x;
    this.y = y;
    this.r = r;
  }
  show() {
    stroke(255, 255, 0);
    fill(175);
    strokeWeight(2);
    ellipse(this.x, this.y, this.r * 2);
  }
  move() {
    this.x = this.x + random(-5, 5);
    this.y = this.y + random(-5, 5);
  }
}

*here is the console.log ou

[2020-03-23 16:51] DivyamAhuja commented on #4391
@akshay-99 You should go ahead and open a PR for this issue, I was just experimenting current material system of p5.js while I encountered this issue, so I haven't incorporated these changes yet.

[2020-03-23 17:16] limzykenneth commented on #4385
I'm not following this issue very well so if you can clarify a bit for me that would be great. Is this about improving test coverage by creating missing unit tests or is it about looking at the way tests are structured and run?

[2020-03-23 17:22] limzykenneth commented on #4399
`constructor` in this case is a Javascript keyword, unlike something like `strokeWeight` which is defined in the library itself, we have no way of checking whether `constructor` is correctly spelled or not.

[2020-03-23 17:25] eharkins100 commented on #4399
oh okay ..that makes sense

well thanks Kenneth for the quick response

On Mon, Mar 23, 2020 at 2:22 PM Kenneth Lim <notifications@github.com>
wrote:

--
*Ed Harkins*
Middle School Technology
eharkins@nido.cl | +56 9 8198 9359

--
_Confidentiality Notice: This email and any attachments contain information
belonging to Nido de Aguilas which may be confidential. This information is
intended solely f

[2020-03-23 17:33] matheusb-comp opened #4404 "Rendering text (WEBGL on Android)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Google Chrome 80.0.3987.119
- Operating System: Android 7.1.2 N2G47H
- Example Sketch: https://ed

[2020-03-23 17:51] Ongshu777 opened #4405 "p5.js' web editor gives the "createElement()" error when simply running the default template."
#4405
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
Web editor.

- p5.js version: The one in the web editor
- Web browser and version: Chrome 80.0.3987.149
- Operating System: Windows 10
- Steps to reproduce this: For me, just running the default code in the web edi

[2020-03-23 18:11] stalgiag commented on #4403
I am able to replicate this on Windows 10.0.18362 with Firefox 74.0.

[2020-03-23 18:20] stalgiag commented on #4404
Hi @matheusb-comp thanks for the well-written issue!

I am unable to replicate on:
- Android 10 QKQ1.190825.002
- Chrome 80.0.3987.149

I see that you are using a relatively old Android OS. I am not sure if this is the issue but seems like the biggest difference between our phones.

Here is a screenshot of your sketch:
![Screenshot_2020-03-23-11-14-51-843_com android chrome](https://user-images.gi

[2020-03-23 18:26] stalgiag commented on #4405
Hi @Ongshu777 !

Can you give a bit more information? By default code do you mean:
[code]
?

Also, can you give the version numbers for your browser and operating system? You can see your chrome version by going to `chrome://version` in your browser URL bar. You can check your Windows version with the "System Information" application. Thanks!

[2020-03-23 18:32] matheusb-comp commented on #4404
Thanks for the response!
It really seems to be a problem on my phone. I thought it could be a bug in the library since it only happened when rendering text, while the geometries work.
But I tried on another phone with Android 9 and the sketch also works.

Sorry for the non-issue, but at least it will be registered, if anyone else runs at this problem.

[2020-03-23 18:32] #4404 closed

[2020-03-23 18:45] akshay-99 commented on #4385
@limzykenneth Though I originally created it for adding new unit tests and to extend some existing ones, as the discussion progressed I realised there are some things that could be added to the contributor docs that could help beginners. I think this fits under the umbrella of "improvement" too so I didn't think it needed a separate issue

[2020-03-23 18:50] Ongshu777 commented on #4405
@stalgiag Yes, the very code. No changes to the code when entering https://editor.p5js.org/#. And the version is edited in.

[2020-03-24 03:14] wxw68 opened #4407 "When my browser zooms over 100%, the function createCanvas generates twice the width and height of the set。"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
![image](https://user-images.githubusercontent.com/19421528/77384393-40691b80-6dc0-11ea-87f0-f0eddc0e560a.png)

- p5.js version: p5.js version: 1.0.0

[2020-03-24 07:36] #4407 closed

[2020-03-24 07:36] wxw68 commented on #4407
pixelDensity(1);

[2020-03-24 08:04] fenilgandhi commented on #2865
Oh hey, @ykabusalah, Yes i have solved the issue with CSS overflow for canvas over here. [https://github.com/processing/p5.js-website/pull/580](https://github.com/processing/p5.js-website/pull/580). But the docs in development mode can definitely benefit from some CSS updates. So feel free to work on it and open a PR.

[2020-03-24 13:27] fenilgandhi commented on #4405
hey @Ongshu777, could not reproduce this. Are you sure, you are not missing out on something ?

![Screenshot from 2020-03-24 18-52-14](https://user-images.githubusercontent.com/9128903/77430089-a4abcf80-6e00-11ea-96ff-828d0d9f6728.png)

[2020-03-24 14:07] Ongshu777 commented on #4405
@fenilgandhi  I don't know why you couldn't but:

![image](https://user-images.githubusercontent.com/51079288/77434247-7a461c00-6dd8-11ea-87ab-56df0e2ed89b.png)

![image](https://user-images.githubusercontent.com/51079288/77434377-acf01480-6dd8-11ea-8d9b-b2a370f35734.png)

![image](https://user-images.githubusercontent.com/51079288/77434410-b8dbd680-6dd8-11ea-9ad7-4ba75141596e.png)

[2020-03-24 15:40] akshay-99 commented on #4405
@Ongshu777 Hmm that's really weird. Can you try this in incognito mode with all extensions and addons disabled? There might be something else that is interfering here with p5. Also can you show browser console output? This can be seen by pressing  **ctrl+shift+i** and then clicking on the tab that says "console".

[2020-03-24 15:41] mjaything opened #4408 "Translation of contributor_docs into Korean"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible): Internationalization

#### New feature details:
I have finished the Korean translation of the README.md of contributor_docs(#4137). Please assign me to the issue.

[2020-03-24 15:42] mjaything commented on #4408
@limzykenneth If you could assign me, I will make a PR. Thanks!

[2020-03-24 15:49] mjaything commented on #4408
@limzykenneth thanks! By the way, I've mislabled the issue. Sorry!

[2020-03-24 16:43] DivyamAhuja commented on #4405
Yes @Ongshu777 can you send screenshot of developer tools console. that might help determine where `createElement()` method is getting defined.....maybe it's same as what @akshay-99 said some add-on interfering with code in editor.

![Screenshot from 2020-03-24 22-10-58](https://user-images.githubusercontent.com/39771050/77452785-5c9aa600-6e1c-11ea-8d10-1ed7ec758153.png)

[2020-03-24 19:43] Ongshu777 commented on #4405
@DivyamAhuja As requested:
Browser Console Image:

![image](https://user-images.githubusercontent.com/51079288/77469661-577f2c00-6e07-11ea-8bab-a567ba8d7e2f.png)

I tried on Incognito mode, and the error didn't appear. But the strange thing is, I don't have any browser extensions or add-ons in this browser (as seen in all the screenshots). So why is that happening?

[2020-03-24 21:04] #4391 closed

[2020-03-24 22:35] ykabusalah commented on #4400
Can I try doing this?

[2020-03-24 22:36] ykabusalah commented on #2865
Alright awesome. I'll do that. Can you assign me? @fenilgandhi

[2020-03-24 22:39] lmccart commented on #2865
@ykabusalah we're not assigning people via the interface for this one because more than one person can work on it at once, and we don't want to discourage them. but you consider yourself "assigned" :)

[2020-03-25 01:44] ykabusalah commented on #4400
I have a question. Is the actual website being deployed from somewhere other than Github? If so, it's possible that the Github repo might be missing some files. The website's Github repository doesn't include a file for the "Examples" page, which is where the issue is said to be found.

[2020-03-25 01:55] mag911 commented on #4400
Hi Yousef,
I don't believe any pages are missing. If you look at issue #4208 , you'll see Lauren made the comment:

"_p5.dom has been merged into the core library_"

This is why there is no p5.dom link anymore. It all makes sense, just that a bit of housekeeping (page editing / wordsmithing) needs doing on:
https://p5js.org/examples/dom-modifying-the-dom.html

[2020-03-25 04:09] fenilgandhi commented on #4405
Hey @Ongshu777, let's try one thing. Since you are on the editor, login, and save the sketch. then can you share that link with us, so we can have a look and check if it's the sketch or just something with your browser.

[2020-03-25 04:54] fenilgandhi commented on #4392
Just for ease of review and merging, i am going to break this work in bundled PRs each with changes of 7-8 methods.

### DOM TESTING

##### NEW PR : create Methods
  - createImg
  - createRadio
  - createColorPicker
  - createInput
  - createFileInput
  - createMedia
  - createVideo
  - createAudio
  - navigator.mediaDevices
  - navigator.mediaDevices.getUserMedia
  - createCapture
  - createEleme

[2020-03-25 05:20] fenilgandhi opened #4410 "Splitting up methods as individual functions in favour of readability and testing"
In dom module, [methods CreateDiv, CreateP, CreateSpan](https://github.com/processing/p5.js/blob/f176e7029df9c5f0b34709a378a5e897039927ec/src/dom/dom.js#L376-L400) are bundled up which makes it hard to discover them. It is not good for testing and breaks pattern of how methods should be written. So in favor of ease of readablility and testing, i would like to write them individually.

[2020-03-25 06:53] Ongshu777 commented on #4405
@fenilgandhi Here's [the link](https://editor.p5js.org/ongshu777/present/vTSfp9nvn)

[2020-03-25 06:55] Ongshu777 commented on #4405
@fenilgandhi Here's [the link](https://editor.p5js.org/ongshu777/sketches/vTSfp9nvn)

[2020-03-25 07:03] fenilgandhi commented on #4405
Ok i tried and it works fine, so i think it's only something related to your browser. You can try one of the following things and see what works.
- Empty Cache and hard Reload
- Clean your cookies and cache of website
- Try with a different browser maybe ?

[2020-03-25 08:25] ViraajRandhawa opened #4412 ""p5 had problems creating the global function "Animation", possibly because your code is already using that name as a variable. You may want to rename your variable to something else." error"
"p5 had problems creating the global function "Animation", possibly because your code is already using that name as a variable. You may want to rename your variable to something else."

 this error is not letting my image load in p5 editor.

[2020-03-25 08:27] ViraajRandhawa commented on #4412
and my preview is also not loading

[2020-03-25 10:42] fenilgandhi commented on #4412
Can you post your code over here ? or better yet, save it as a sketch and post the link to the sketch.

[2020-03-25 10:53] fenilgandhi opened #4413 "removeElements does not remove all the elements from the DOM"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] DOM
- [ ] Other ()

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version:Chrome 80.0.3987.122
- Operating System: Manjaro 19.0.2 Kyria (Linux 4.19.108-1-MANJARO)

- Steps to reprodu

[2020-03-25 13:20] jrobinson01 opened #4415 "Canvas created in shadow dom is hidden indefinitely"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 80
- Operating System: OSX Mojave
- Steps to reproduce this:
Here's a [codepen](https://cod

[2020-03-25 14:45] #4413 closed

[2020-03-25 14:45] limzykenneth commented on #4400
@ykabusalah The website is built on github using travis into the [gh-pages](https://github.com/processing/p5.js-website/tree/gh-pages) branch. What you see on that branch should reflect what appears on the production server.

[2020-03-25 14:46] #4410 closed

[2020-03-25 14:55] limzykenneth commented on #4405
@Ongshu777  For some reason the `createElement` variable has already been set on the `window` object. Can you try typing `createElement` into the browser console, hit enter, and let us know what it returns?

[2020-03-25 14:58] limzykenneth commented on #4412
Possibly related to #4405.

@ViraajRandhawa Can you fill in the default issue template otherwise we don't have enough information to help you. Basically we need the p5.js version used, the browser version, the OS version, and a simple example code to replicate the problem. Thanks.

[2020-03-25 17:26] jeffThompson opened #4416 "Updating BrowserSync info in Wiki"
I've been learning to use P5JS with Sublime and have a few updates that I think will be helpful in the [`browser-sync` section of the `Local Server` wiki page](https://github.com/processing/p5.js/wiki/Local-server).

TLDR: there is an option listed that's not necessary and another that might be helpful for folks to include. Happy to update if you can add me as a contributor!

[2020-03-25 19:01] Ongshu777 commented on #4405
@limzykenneth I get:
![image](https://user-images.githubusercontent.com/51079288/77571680-a55a6980-6ec5-11ea-8a84-09265b09f8b1.png)

[2020-03-25 20:02] DivyamAhuja commented on #4405
@Ongshu777 You are getting this cause you are logging it after the p5 script is loaded try running `console.log()` from inside the script before function setup

[2020-03-25 21:14] limzykenneth commented on #4405
@Ongshu777 I should have asked this earlier but does whatever sketch you write run at all for you? If it does run as expected without any problems, I would say you can just ignore this message, it's not an error just a message and in this case may be a false positive.

[2020-03-25 21:16] limzykenneth commented on #4416
Hi @jeffThompson, which specific part of the `browser-sync` option are you thinking of changing?

[2020-03-25 21:43] jeffThompson commented on #4416
@limzykenneth – a couple of things:

* The wiki suggests both `-f` and `-w`, but from my research it looks like `-f` is for specifying specific files it should watch. I think just `-w` makes the most sense. I'd also maybe suggest expanding it to the full `--watch` just so it's clearer without looking at the docs
* I think a link to the `browser-sync` doc page would also be helpful, especially beca

[2020-03-25 22:42] mattfan00 opened #4417 "Link to tutorial page in contributing docs is invalid"
In the [contributor docs](https://github.com/processing/p5.js/tree/master/contributor_docs), the link to the [p5 learning page](https://p5js.org/learn/) is incorrect. Right now the link leads to an invalid page. Additionally, the second link in the bullet point is not linked correctly either. It is supposed to route to [this](https://p5js.org/learn/tutorial-guide.html) link. Attached is a screensh

[2020-03-26 09:30] ponchicken opened #4419 "Inaccurate calculation of vertical textAlign position"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0 & in web editor
- Web browser and version: 80.0.3987.149
- Operating System: Windows 10, MacOS Catalina
- Steps to reproduce

[2020-03-26 09:33] ponchicken commented on #4419
[Here is the link to an example](https://editor.p5js.org/ponchicken/sketches/qjYqeSuAD)

[2020-03-26 11:06] akshay-99 commented on #4419
From what I understand this seems to be an issue in the library code [here](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer.js#L245).

Since the `textWidth` (the actual width of the text ) turns out to be more than the provided width, the intention here was to increase the `totalHeight` of the line and to break up the text into multiple lines as seen in this sketch.
https://ed

[2020-03-26 11:48] ponchicken commented on #4419
Seems like it. Maybe we can at least check if `n > 1` before increasing `totalHeight`? 🤔
Or if `n == 1` split it into two parts

[2020-03-26 13:28] nazimba opened #4420 "Animated Gif New Implementation Too slow loading?"
Great implementation of animated gifs with p5.js but I have noticed that loading a small gif of less than 500kb takes a long time, around 2 seconds to finish uploading to a local server. I would like to know what it is due to be able to correct it in some way. Thank you!

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [x

[2020-03-26 13:53] nazimba opened #4421 "Animated Gif doesn't work inside a createGraphics()?"
I’m trying to display animated gif within an image created with createImage() but it apparently doesn’t work with the great new gif update made for p5.js? Is this possible? Or am I forgetting something?

let img, gif;

function preload() {
  gif = loadImage('assets/test.gif');
}

function setup() {
  createCanvas(960, 540);
  img = createImage(320, 180);
}

function draw() {
  img.image(gif,0,0);

[2020-03-26 15:25] akshay-99 commented on #4419
That could still cause issues if the longer word comes later in a sentence. Like in this sketch https://editor.p5js.org/akshay_07cf/sketches/bhpN46kAX

What I thought was to keep a track of the number of words added so far in `testLine`, I saw it resets every time a split happens. So if `testLine` only has one word i.e the current line only has one word, don't adjust the height.

[2020-03-26 15:28] akshay-99 commented on #4419
@lmccart @limzykenneth I will go ahead and patch this?

[2020-03-26 15:57] limzykenneth commented on #4419
@akshay-99 Sounds good, do go ahead. I'll assign the issue to you.

[2020-03-26 16:40] stalgiag commented on #4420
Hello @nazimba thanks for the issue. This could be caused by a number of factors including your browser and hardware. Can you give more details about your setup (OS, Browser, p5 Version)?

I will say that I just tested on my laptop with p5 1.0, Mac OS 10.15.2, and Chrome 80.0.3987.149 and [this GIF](https://inspgr.id/app/uploads/2017/09/illustration-magoz-feature.gif) which is 2.34 MB loaded in 90

[2020-03-26 16:48] stalgiag commented on #4421
Hi @nazimba --

[`createImage()`](https://p5js.org/reference/#/p5/createImage) returns a [p5.Image](https://p5js.org/reference/#/p5.Image) which does not have a `.image()` method.

I think you might be looking for `createGraphics()`. This sketch will work for example:
[code]

[2020-03-26 17:09] stalgiag commented on #4417
Hi @mattfan00 welcome and thanks for the issue! We would love to have you contribute and fix this! I am going to assign the issue to you.

[2020-03-26 17:13] ykabusalah commented on #2865
I have some thoughts and would like your feedback if possible:

The asterisk-design-element on the https://p5js.org/get-started/ page causes an accessibility issue; the language controls are inaccessible to color blind users due to the colors of the asterix and the color of the languages. Either move the asterix below the language or change colors of the language bar on that page
* The asterisk-de

[2020-03-26 19:22] fenilgandhi opened #4425 "Fixup incorrect implementation of methods in Dom"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
While writing tests for methods in `dom` module, i noticed more than a few methods have missing edge case handling, incorrect handling of o

[2020-03-26 19:26] fenilgandhi commented on #4425
[`createInput`](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L992-L1018) - the arguments are not correctly parsed. If the user wants to set any falsy value to the input, they will not be able to do so.

[2020-03-26 19:38] fenilgandhi commented on #4425
[`createRadio`](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L768-L904)
1. The documentation is not matching with the implementation. The documentations say one param `divId` is allowed, while implementation reads `existing_radios`.
2. Also `divId` represents id of id and input respectively, so there should be two params or an array but only a string is mentioned.
3. The implemen

[2020-03-26 19:42] fenilgandhi commented on #4425
[`createFileInput`](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L1020-L1091) - It takes 2 input params, a callback and a multiple both of which are optional. The current implementation would not allow the method to be called with only multiple=true and no value of callback.

[2020-03-26 19:54] limzykenneth commented on #4425
`createInput` - should be pretty straightforward to fix and not a big change so you can probably just go ahead with it.

`createRadio` - the functionality of `createRadio()` was changed at some point but the documentation did not change to reflect that. The intended functionality should be similar to `createSelect()` I think so if you want to reimplement it, try and copy the pattern of `createSele

[2020-03-26 20:14] fenilgandhi commented on #4425
Thanks @limzykenneth. i will get on with the required changes.

[2020-03-26 21:14] Ongshu777 commented on #4405
*Before Setup* gives me:
![image](https://user-images.githubusercontent.com/51079288/77697422-bf1fad80-6fa6-11ea-9b8f-4f986ce05ecc.png)

[2020-03-26 22:09] nazimba commented on #4421
Hello! Thanks for your help. It's true what you say, it was a typing error because it doesn't really work with createGraphics () either. Have you tested it? You can't even make a mask out of them either.

[2020-03-26 22:17] nazimba commented on #4420
You are right with what you say! The console say that loads it in less than 30ms but for some reason the loading of the [animated gif](https://moisesnazim.files.wordpress.com/2020/03/low_0010_00.gif?resize=438%2C438) hangs me the normal behavior of my browser both in Microsoft Edge, as in Chrome Version 80.0.3987.149 (Official Build) (64 bits) working with an AMD Ryzen with 16GB RAM. I have even r

[2020-03-26 22:31] akshay-99 commented on #4272
@DivyamAhuja I am sorry I didn't reply earlier. I must have missed this comment somehow.
When we use global mode, all of p5's API functions get attached to the window object when p5 is initialised.

Also you are right that the call is made before the library initialises. And hence my mention of`_setupDone` was wrong. But we can still use `window.onbeforeprint` :smile:
The FES has `helpForMisusedAt

[2020-03-26 22:38] akshay-99 commented on #4272
It is interesting to note that there is another way to handle this, one that is not just limited to `print` but can work for anything else in the `window` object that may conflict with p5

We can simply redefine the function in the `window` object to make it pass through the FES before it executes its original task.
Lets assume we have a function `something` that is both defined in p5 and the `win

[2020-03-27 00:17] mjaything opened #4428 "Link to i18next is broken in internationalization.md in contributor_docs directory"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible) Documentation

#### Details about the bug:
The link to i18next is broken in internationalization.md in contributor_docs directory.
Simply replace the link to https://ww

[2020-03-27 00:49] #4417 closed

[2020-03-27 05:24] Codlngman opened #4429 "createCanvas issue need help"
![coding issue](https://user-images.githubusercontent.com/62736745/77724475-116dc800-6fc1-11ea-9fa1-3c52da04ffb7.JPG)

it just dose not like line 21 even thought that is what the tutorial says so idk what I am doing wrong. I am new to coding so this could be my fault so sorry if its some really simple solution.

[2020-03-27 05:37] montoyamoraga commented on #4429
hi @Codlngman, thank you for your question, the right place for questions is our forum at https://discourse.processing.org/, so i am going to close this issue.

this repository is for development of p5.js, not for coding questions, but i will give you this pointers:

1. you can only have one setup() function, you have 3 on your code.
2. your line 21 is CSS, a different language. In the template of

[2020-03-27 05:37] #4429 closed

[2020-03-27 12:14] jtoy commented on #1249
@aatishb and @lmccart why is quaternion support not directly in p5js? @aatishb anyway to get your changes into main? I check every year or so and see that the 3D stuff is not really a priority for p5. If there is interest I would be interested in adding it in.

[2020-03-27 14:15] carlesgutierrez commented on #4425
Hi,
 I'm getting errors using select "[p5js select reference](https://p5js.org/reference/#/p5/select)"
 Any relation to this?
erros:

Failed to execute 'registerProcessor' on 'AudioWorkletGlobalScope': A class with name:'recorder-processor' is already registered.
    at blob

[2020-03-27 14:21] limzykenneth commented on #4425
@carlesgutierrez Doesn't seem like it. Looking at the error message it seems to be more due to some audio issue. Do you see the same error on other pages of the reference or only on the page for `select()`? May be better to open a new issue for this as I don't think it's related.

[2020-03-27 14:32] limzykenneth commented on #4428
Good catch. I can assign this to you if you want.

[2020-03-27 14:35] #4399 closed

[2020-03-27 14:39] mjaything commented on #4428
Yes, please do so!

[2020-03-27 18:24] akshay-99 commented on #4255
Hey. I had an idea which I wanted to discuss, which would involve shifting the FES towards taking a more active role.  Currently, the FES can only respond when an event happens or if it is directly called from somewhere.

I was wondering, if the `setup()` `draw()` and any other functions the users declare will be attached to the window object, their code will be visible to the library using someth

[2020-03-27 23:42] #4428 closed

[2020-03-28 01:06] ykabusalah commented on #4400
I have attempted to fix this issue here: https://github.com/processing/p5.js-website/pull/633.

[2020-03-28 05:23] fenilgandhi commented on #4425
Yes, even i have seen that issue on a lot of pages.
@carlesgutierrez It's totally unrelated to this issue but do create an issue.
I would try to fix it, once i am finish my current task in hand.

[2020-03-28 14:01] DivyamAhuja commented on #4421
https://editor.p5js.org/DivyamAhuja/sketches/2saib5V_V

Well I noticed something weird like if we just use the above code by @stalgiag it will show static image of gif, but if we call `image(gif, 320, 0)` then it starts animating the both gifs.

you can see that by uncommenting the line in my sketch.

[2020-03-28 15:10] nazimba commented on #4421
You are right. I assumed it was a problem with the online editor for p5 but obviously the same thing happens on my local server. It is the same behavior that it had before the implementation of p5.js to visualize animated gifs without external libraries.

[2020-03-28 15:14] DivyamAhuja commented on #4403
I am able replicate this bug on Windows 10 firefox but not on Ubuntu 18.04 firefox

[2020-03-28 17:28] stalgiag commented on #4421
I am seeing this locally as well. It is because `pInst.deltaTime` [in this line is](https://github.com/processing/p5.js/blob/master/src/image/p5.Image.js#L230) always 0 when this function is called from a graphics object Renderer2D.

[2020-03-28 20:52] akshay-99 commented on #4255
I am sorry on a closer look this would not solve this issue until I can read the entire sketch file somehow :see_no_evil: . I was thinking of another case where the overriding happens within the functions setup or draw. for eg if scale() were to be overriden by a variable scale inside draw. I was thinking about local variables not global. Sorry

[2020-03-29 13:49] jtoy commented on #3179
what about showing the location of a default font to download from as well?

[2020-03-29 14:09] DivyamAhuja commented on #4421
I can't figure out why it's happening cause `c1/c2._pInst.deltaTime` is returning same value for both.
https://editor.p5js.org/DivyamAhuja/sketches/XSVTNmkLz

Is it related to context or this binding or maybe `this.gifProperties`?

[2020-03-29 14:19] paolobaigueraunitn commented on #4367
Hi!
I manage to check it.
No error is displayed. Everything's works fine except for the deviceShaken() method in iOS 13+.
There are ofCourse some workarounds, but they are pretty complicated (in my case I recurred to some DNN stuff...).
Sorry I could not help more.

Thanks.

[2020-03-29 16:15] lenincompres opened #4436 "The square function fails when drawing rounded corners"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: latest relased
- Web browser and version: Chromium and Firefox
- Operating System: Windows
- Steps to reproduce this: Ju

[2020-03-29 18:43] stalgiag commented on #4421
[In this line](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L138) `this._pInst` actually points to the graphics object which does not have an updating deltaTime. If you change that line to `this._pInst._pInst` it will work when the GIF is playing inside of a graphic object (as with this issue) but it will break when the GIF is being drawn directly into the canvas.

The

[2020-03-29 19:12] DivyamAhuja commented on #4421
Yeah sure @stalgiag, I will try solving this one.

[2020-03-29 20:07] DivyamAhuja commented on #4436
This bug has already been solved in current code (1.0.1). This bug exists in version 1.0.0 but not in current code.

[2020-03-29 22:32] lmccart commented on #4336
@limzykenneth as best I recall, I ran `grunt release-p5:1.0.0`, following the direction in the [contributor docs](https://github.com/processing/p5.js/blob/master/contributor_docs/release_process.md#usage). but it is possible I got it wrong.

the `np` plan sounds reasonable. maybe separating these into different tasks triggered by webhooks makes debugging a little easier, instead of one script that

[2020-03-30 11:05] akshay-99 commented on #4272
@debajitdeb11 @DivyamAhuja is anyone working on this?

[2020-03-30 11:33] DivyamAhuja commented on #4272
@akshay-99 No, am not working on it. You can continue working on it if you want.

[2020-03-30 13:01] DivyamAhuja commented on #4421
@stalgiag  I went with the direct(hacky) way, as graphics objects keeping track of deltaTime might be tricky. So I think fixing it this way will be better for now.

[2020-03-30 13:24] hellonearthis commented on #4272
BTW calling print();  with no parameters invokes the browsers print dialog.
Which is really bad when using an online IDE like https://jsitor.com/ with auto run on
and you type print() before entering what to print in the draw loop.

Having a command to override the system print would be great, NoPrintDialog();

[2020-03-30 13:30] akshay-99 opened #4441 "FES contributor docs: link to performance test is dead"
From the docs

https://github.com/processing/p5.js-website/blob/master/dist/assets/learn/performance/code/friendly-error-system/ is dead
and should be updated to https://github.com/processing/p5.js-website/tree/master/src/assets/learn/performance/code/friendly-error-system

[2020-03-30 14:29] DivyamAhuja commented on #4272
I think overriding default print function with this should work.
[code]
current implementation adds print function to p5 class while overriding window.print will be helpful I think.
https://editor.p5js.org/DivyamAhuja/sketches/6zIHhzpg0

[2020-03-30 15:00] akshay-99 commented on #4272
@DivyamAhuja ah that's interesting. I was talking about overriding it for catching its use for outside setup and draw to warn the user. But your idea of removing p5.prototype.print and overriding window directly is simpler.

One question I have in mind is instance mode, as this would leak p5's functionality to the global object even in instance mode. So hypothetically if the user is also using som

[2020-03-30 15:12] #4441 closed

[2020-03-30 15:16] #2681 closed

[2020-03-30 15:19] #4436 closed

[2020-03-30 16:02] DivyamAhuja commented on #4272
@akshay-99 Yeah, I didn't think of a case with multiple libraries. In this case overriding may really be flawed

[2020-03-30 16:21] stuart321 opened #4443 "loadImage() documentation - mention base64 string as a parameter"
Documentation could state that `loadImage()` accepts a base64 encoded image as a parameter (example: https://stackoverflow.com/a/51162033), as an alternative to the file path. I found this useful to avoid the CORS block when testing locally (if one doesn't wish to setup a webserver).

https://github.com/processing/p5.js/blob/f503b0b81aa86671e8ea900133985b3d26556dac/src/image/loading_displaying.js#

[2020-03-30 20:22] limzykenneth commented on #4336
I don't think the release step accepts semver number as argument, so passing `1.0.0` could possibly cause some unknown state to occur.

I may have some time next week to work on using `np` and such.

For bower, we can also move the repo from your account to the Processing account, just as a step for moving towards the next person who will lead the project. Then we won't need to keep a built librar

[2020-03-30 20:28] limzykenneth commented on #4403
Hmm...seems to be Windows only. Anyone has any idea? I'm not familiar enough with Windows to say...

[2020-03-30 21:12] siusoon commented on #802
I'm hitting this issue now too. createImg() works partially for loading cross domain image if you just plan to display the image, but if you want to do loadpixels  e.g
[code]
this won't work

[2020-03-31 00:33] ffd8 opened #4445 "orbitControl() ignored on layer / createGraphics() WEBGL offscreen buffer"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering
- [x] WebGL

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 80.0.3987.149
- Operating System: MacOS 10.13.6
- Steps to reproduce this:

Have always wished there was an opacity option on `background()` when using `WEBGL` render (*sneaky request in this bug issue*) – so as a work around,

[2020-03-31 11:32] Eswaraprasadp commented on #4396
Hi @stalgiag , I tried building as a root user, but still I am experiencing the same build error.

[2020-03-31 17:26] DivyamAhuja commented on #4445
orbitControl method works on p5 Instance so you can't call it from graphics object like lay.orbitControl() and it works for a p5 Instance as a whole not for specific renderer graphics object.

@stalgiag  should orbitControl be made a method of renderer instead of p5 instance?
or maybe all interaction method should be specific to graphics object?

[2020-03-31 19:20] stalgiag commented on #4420
Are you loading the GIF in `preload()`? Can you post a simplified version of the code that you are using?

With the GIF you provided on my laptop with similar specs and the same version of Chrome, I am seeing about 200 ms total to load the GIF, decode it, and build the animated `p5.Image` object. I think this is within the realm of expected load time for a GIF of this size. For me, the browser nev

[2020-03-31 19:33] stalgiag commented on #4445
I think that this could occur at the renderer level. What do you think @AidanNelson ?

[2020-03-31 20:44] adriens opened #4446 "Processing live video from youtube (or vimeo)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [x] Video

#### New feature details:

In the actual VIDEO Object, could you please provide some code sample to process a live video stream (youtube or vimeo) ? That could lead to a wide number of crea

[2020-04-01 01:06] jasonsbarr commented on #3039
You can create views in Runkit though, including HTML views. For example, they have views you can customize called Value Viewers that could probably be used to create an example application.

[Value Viewer documentation](https://runkit.com/docs/value-viewers)

[2020-04-01 05:35] Drafffffff opened #4447 "There is an error in the Chinese reference."
https://p5js.org/zh-Hans/reference/#/p5/pow

![](http://pic.drafff.art//drafff/20200401133345.png)

There are two 底数 ，actually, the second 底数 should be 指数。

[2020-04-01 11:23] limzykenneth commented on #4447
Hi @Drafffffff, thanks for catching that. Do you want to create a PR to fix this?

[2020-04-01 12:01] limzykenneth commented on #4446
Hi @adriens, are you talking about the [`VIDEO`](https://p5js.org/reference/#/p5/VIDEO) constant that is used in [`createCapture`](https://p5js.org/reference/#/p5/createCapture)? This function is specifically used for getting video feed from the webcam or audio from microphone.

If you want to get a live streamed video, you will need the URL of the video and use [`https://p5js.org/reference/#/p5/c

[2020-04-01 12:26] Drafffffff commented on #4447
Sure,but I can't find the repo of reference.

[2020-04-01 12:28] limzykenneth commented on #4447
The translation for the reference is stored in this repo, you can start by going through the instructions [here](https://github.com/processing/p5.js-website/blob/master/contributor_docs/i18n_contribution.md#translation-of-reference)

[2020-04-01 13:06] Drafffffff commented on #4447
![](http://pic.drafff.art//drafff/20200401210236.png)

 In `zh-Hans.json` , the translation is  correct. @limzykenneth

What's the problem?

[2020-04-01 17:39] adriens commented on #4446
Hi @limzykenneth , yes, you got it, what I'm intersted in is to be able to deal and interact with a live stremaed video. I'l tka e closer look to https://p5js.org/reference/#/p5/createVideo

Thanks a lot for your answer 🙏

[2020-04-01 17:45] adriens commented on #4446
Still it looks lie htis function takes files as parameters and not urls, the following (very stupide code, sorry) has no effect :

[code]

[2020-04-01 17:47] adriens commented on #4446
The documentations talks about

The first parameter can be either a single string path to a video file, or an array of string paths to different formats of the same video.

Which let me thinks it cannot handle a web url. Mybe an another function, which I could not manage to find

[2020-04-01 17:49] adriens commented on #4446
Same question here: https://discourse.processing.org/t/loading-video-from-url/5480

[2020-04-01 17:53] adriens commented on #4446
Maybe use this one https://p5js.org/reference/#/p5.MediaElement

but I could not find ready to use code snippet

[2020-04-01 18:29] limzykenneth commented on #4446
You should continue your queries on the forum as we use github issues mainly for feature request and bug fixes. I'm closing this issue but to help you out a bit, the URL you are supposed to pass into `createVideo` needs to be the URL of the video itself, not to a page where the video is (which means youtube links are not acceptable).

[2020-04-01 18:29] #4446 closed

[2020-04-01 20:40] adriens commented on #4446
Could it not be a feature request hence ? To be able to interact natively with a youtue/vimeo url ?

[2020-04-01 20:44] limzykenneth commented on #4446
We don't add specific support for non-standard third party services and one of the main reason is that the way youtube/vimeo's video URL structure is not something we can control, if for example youtube changed how it form the video URL, we will have to change it in the repo as well not to mention all older code will break along with that change.

We also cannot guarantee using a direct video link

[2020-04-01 20:54] adriens commented on #4446
Makes sense. Thanks a lot for detailed answer. 👍

[2020-04-01 22:49] ProgrammingLife opened #4448 "textWidth doesn't work: ReferenceError: can't access lexical declaration `textWidth' before initialization"
This sample https://p5js.org/reference/#/p5/textWidth doesn't work for me:
"ReferenceError: can't access lexical declaration `textWidth' before initialization"

[2020-04-01 22:59] akshay-99 commented on #4448
Hi @ProgrammingLife! Does it not show an output on the example link itself?  Or does the error happen in your own sketch? If so, can you provide more details, such as the code you wrote, the p5 version you are using, and the browser you are using?

[2020-04-01 23:16] ProgrammingLife commented on #1316
It doesn't fixed yet. Now it works wrong for horizontal center alignment.

[2020-04-01 23:18] ProgrammingLife opened #4449 "textBounds for multilined text"
How to calculate bounds for multilined text? Also I don't have any chance to find bounds for a text inside of a rect, such as:
`text(veryLongText, 50, 50, 200, 400)`

As for manually multilined text, that's what I'm talking about:
[code]

![](https://i.imgur.com/M5DUmFq.png)

[2020-04-02 01:53] ProgrammingLife opened #4450 "font.textBounds calculates in a wrong way"
I'm using the last version of P5js.
Linux Mint 19.1
Firefox: 72.0.2 (64-bit)
Font: https://p5js.org/reference/assets/Regular.otf

My sketch is:
[code]

And the output is:
![](https://i.imgur.com/LYvgnFz.png)

[2020-04-02 01:59] #4450 closed

[2020-04-02 02:27] mattfan00 opened #4452 "Examples of square() not showing up properly in the references"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible) Reference not displaying correctly

#### Details about the bug:

- p5.js version: Bug occurring on the website
- Web browser and version: Chrome 80.0.3987.149
- Operat

[2020-04-02 07:10] maxdevjs commented on #4452
Note:

- seems to me that the cause is the interpretation of the `top-left` (first) argument
- with a corner radius value greater than the side size, the generated squares acquire an oblong (`y` growing) shape

[2020-04-02 10:47] limzykenneth commented on #4452
This is a bug present in `1.0.0`, the editor is using `0.10.2` so it doesn't show up there. This is fixed in #4346 and will be included in the next release.

[2020-04-02 10:47] #4452 closed

[2020-04-02 14:24] everythingability opened #4453 "Present link is 404'd"
Hi,

is it me or do you get a 404 when using the **fullscreen** link for this project?

https://editor.p5js.org/remarkability/sketches/mSkuADqwe

[2020-04-02 15:44] limzykenneth commented on #4453
The fullscreen link (https://editor.p5js.org/remarkability/full/mSkuADqwe) is working fine for me. If you think there is an issue with the web editor you can open an issue on the web editor [repository](https://github.com/processing/p5.js-web-editor). Thanks.

[2020-04-02 15:44] #4453 closed

[2020-04-02 18:42] everythingability commented on #4453
Thank you... It IS for me now... but was 404ing for months...

On Thu, 2 Apr 2020 at 16:45, Kenneth Lim <notifications@github.com> wrote:

[2020-04-02 21:19] micuat opened #4455 "drawingContext always returns 2d"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: chrome
- Operating System: win
- Steps to reproduce this:
https://editor.p5js.org/micua

[2020-04-03 00:49] mojosoeun commented on #4408
Hi, @mjaything, How about translating the other documents in the contributor's docs folder together, for example, contributing_documentation.md, creating_libraries.md, etc. I think it might be good to translate other documents into Korean. I'm translating the contributing_documentation.md now, let's split up the different documents to translate.

[2020-04-03 02:57] akshay-99 opened #4456 "saveFrames() if called one after the other will combine and mix up the frames from both into one array"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version:  Chrome 79.0.3945.88
- Operating System: Ubuntu 18.04
- Steps to reproduce this:

If I u

[2020-04-03 08:29] siusoon opened #4457 "loadJSON() problem with certain APIs"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
I found that some APIs cannot be loaded with the syntax `loadJSON()`. The error message is "Process exited before completing request",  but

[2020-04-03 10:07] megadix opened #4458 "trasparent surfaces created with begin/endShape() in 3D (WEBGL) have a one-sided normal"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version:
  - Chrome 80.0.3987.149
  - Firefox: 74.0
- Operating System: Windows 10 Pro
- Steps to

[2020-04-03 13:19] akshay-99 commented on #4457
This appears to be an issue of request headers which are passed. On a quick glance, I saw that the request made with `loadJSON` will pass in `Content-Type: text/plain` along with it. But it isn't actually needed here as `Content-Type` would only make sense if the request had a body.
$.getJSON does not pass this header.

I verified this using cURL as well
`curl https://api.whatdoestrumpthink.com/ap

[2020-04-03 16:10] jeffThompson commented on #4416
Bump! I know P5JS is all about having a high-quality  and carefully-moderated community, but this approval process is a barrier to participation.

[2020-04-03 16:42] stalgiag commented on #4458
Hi @megadix thank you for the well-written issue. This is definitely a regression. I'll look into it!

[2020-04-03 17:15] limzykenneth commented on #4416
@jeffThompson I understand you may be frustrated over the lack of progress on this issue but I find my perceived passive agressiveness from your last comment a bit demotivating. The only reason we don't open wiki edit access to the public is because of past malicious edit.

While I can make the edits to these sections myself I would prefer to leave the opprtunity to a new contributor like you. At

[2020-04-03 17:21] limzykenneth commented on #4455
I think this is a bug and not expected behaviour. It probably is due to the webgl renderer not setting the `drawingContext` property on the instance object when creating the webgl canvas.

[2020-04-03 17:26] lmccart commented on #4416
Hi @jeffThompson thanks for your suggestions and feedback. And thanks @limzykenneth for your honest and open response.

As @limzykenneth mentioned, this is a primarily volunteer-driven project, so it does mean that we are at times unable to be as responsive as we'd like. Things may be especially slow right now because I have recently [stepped down as project lead](https://medium.com/processing-fou

[2020-04-03 17:26] limzykenneth commented on #4456
For me this is "expected behaviour", in quotes because it's not necessarily "desired behaviour". The reason I can see this happening is because of the async nature of the callbacks, when calling `saveFrame()` twice on the same instance, it create a race condition in which case the function run twice before the first callback is called thus the duplicate data, then the array is likely flushed resul

[2020-04-03 17:35] jeffThompson commented on #4416
@limzykenneth – sorry, didn't meant to come across as passive aggressive at all.

I just wanted you all to know the perspective of a first-time contributor to the project. I have a number of (muuuuch smaller) open-source projects that I administer and totally get the time commitment required even on those. I'm also a very long-time Processing user and am deeply appreciative of the huge community t

[2020-04-03 17:52] limzykenneth commented on #4416
@jeffThompson No worries. You do raise an important point about the feeling that the process can seem black-boxed and that's something that we can definitely address better. There are recent discussion about introducing section by section stewardship of the project so if a new contributor have particular question or interest on a part of the project, they will have a clearer picture of who to cont

[2020-04-03 17:55] limzykenneth commented on #4408
@mjaything @mojosoeun To just chip in a bit here, can one of you perhaps create a checklist here of what still needs to be translated and what is being translated so that the two of you can keep track of each other's work?

@mjaything seeing as you have already started, would you like to create such a list here?

[2020-04-03 19:29] paolobaigueraunitn opened #4460 "slider not working on safari"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: latest
- Web browser and version: Safari and Chrome, latest version for iPad 13.2
- Operating System: iOS 13.2
- Steps to

[2020-04-03 21:26] akshay-99 commented on #4456
Yes to me it seems that the problem is due to the fact that `frames` array is "global" [here](https://github.com/processing/p5.js/blob/master/src/image/image.js#L20) in the image module. A race condition wouldn't arise if the two calls were not modifying a shared array. If I move the declaration of `frames` inside `saveFrames()` and just have `makeFrame` return the frame instead of pushing it dire

[2020-04-03 21:53] limzykenneth commented on #4456
Does `frame` still accumulate if it is defined locally in `saveFrames()`? Or does it need to be attached to the instance perhaps?

[2020-04-03 22:20] akshay-99 commented on #4456
The array is still populated, this time correctly and passed to the callbacks.
![image](https://user-images.githubusercontent.com/38867671/78409312-fa655080-7626-11ea-93f0-7ec7a742f2f1.png)

I have simply changed the code as so
[code]
and used a `return myFrame`  at the end of `makeFrame` instead of pushing it there itself.

It wasn't attached to the p5 instance as far as I could see and since it

[2020-04-03 22:53] akshay-99 commented on #4456
I changed the sketch to add color to the background to make it easier to distinguish and downloaded the images by removing the callback to make sure they were proper. It appears to be running as expected
| number | aaa |  bbb |
|:---------- | ------------- |:-------------:|
| 0 |![aaa0](https://user-images.githubusercontent.com/38867671/78410630-8a58c980-762a-11ea-9917-79ff11d2b496.png) | ![bbb0](

[2020-04-04 11:31] NikitaChernenky opened #4461 "Can't upload image to a folder"
- Web browser and version:
- Operating System:
- Steps to reproduce this:

[2020-04-04 14:05] siusoon commented on #4457
Thanks @akshay-99, what might be the impact if not sending the content-type (just wonder if it may impact other APIs server)? or do you know why it is originally designed in this way?  Thanks

[2020-04-04 14:40] akshay-99 commented on #4457
I don't know the exact reason. It is probably something with the backend code of the API or something else on the backend configuration. I looked up the error message and found that it is given by AWS lambda when a function running on it exits without completing properly. So there must be something with the code of the API that causes it to crash. It could be that the API sees `text/plain` and the

[2020-04-04 17:17] limzykenneth commented on #4461
Hi @NikitaChernenky, this is the repo of the p5.js library, you'll probably want to post this issue over at the [web editor](https://github.com/processing/p5.js-web-editor/issues)'s repo. Thanks!

[2020-04-04 17:20] limzykenneth commented on #4457
I think it's fine to add a simple check that `GET` requests doesn't include the `Content-Type` header. Although the server should not fail in the case where it is present and it probably should be considered a bug on the server side.

[2020-04-04 22:49] mjaything commented on #4408
Hi @mojosoeun thanks for the suggestion, and it's great to hear that you've started working on contributing_documentation.md! I have been translating p5.js web editor developer docs. During this month, due to other commitments, I won't be able to do more translation, but I can join you later on!

@limzykenneth that's a great idea! I'm unsure if this is the list that you've thought of. Please let m

[2020-04-05 11:46] paolobaigueraunitn commented on #4460
Problem Solved!
It seems like iPads show some problems when the slider-thumb width is 0px and this issue does not occur on Android.

[2020-04-05 11:46] #4460 closed

[2020-04-05 14:27] AidanNelson commented on #4445
Hmmm... I think the one tricky part of this would be that [mouse positions](https://github.com/processing/p5.js/blob/master/src/events/mouse.js) are handled on the instance level.  So in a situation with multiple renderers, the mouse positions would be determined by the position in the canvas, rather than the offscreen graphics buffer.  Not sure how big of an issue that would actually be, unless t

[2020-04-05 16:36] ffd8 commented on #4445
Seems like the general mouseX/Y mapped to the canvas width/height could continue to be used if moved to the renderer as one can always adjust the sensitivity when needed. Would be awesome if this could occur per render level – indeed weird and interesting things might occur if using orbitControl both on the offscreen graphics buffer... AND while drawing that textured plane... and further when havi

[2020-04-05 18:03] Rohitaicyber opened #4462 "Why does the error comes even though the function is defined?"
here is the link to my project https://editor.p5js.org/rohitgokul817/sketches/yhOcLU2KX

please help me to figure out the error the function is defined buti am getting the error Uncaught ReferenceError: antsweets is not defined (sketch: line 164)

please help me as soon as possible

[2020-04-05 19:19] limzykenneth commented on #4462
@Rohitaicyber I'm not getting the error you mentioned in the link you provided. There is another error which stems from using `randomNumber()` when it isn't defined anywhere in the code, I assume you meant to use `random()` instead?

In any case, I'm closing this because we usually use github issues only for bug reports and feaature requests. If you need help with your code do post them on the [fo

[2020-04-05 19:19] #4462 closed

[2020-04-05 22:52] akshay-99 commented on #4456
@limzykenneth should I go ahead with redefining frames as local to the function?

[2020-04-06 12:42] limzykenneth commented on #4456
@akshay-99 Go ahead, do make sure to take note of existing behaviour and see that the fix doesn't change it. Thanks.

[2020-04-06 13:00] Kango opened #4463 "No help text on p5.Geometry.computeFaces()"
Hi there!

No help text on

https://p5js.org/reference/#/p5.Geometry/computeFaces

Thank you!!!!!!!!!!!!!!!!!

[2020-04-06 14:52] belgiancoder opened #4464 "We need an easier way to record p5 sketches"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

We need a tool to record a sketch easily and export either a gif or a video. Current techniques require the user to fiddle with ffmpeg, to s

[2020-04-06 15:35] kartikay-bagla opened #4465 "Ellipse not checking for undefined arguments."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v0.10.2
- Web browser and version: 80.0.3987.163
- Operating System: Win 10 x64 18362
- Steps to reproduce this:
[code]

[2020-04-06 21:59] kartikay-bagla commented on #4465
I would say that an undefined width/height in an eclipse should result in some error inside the function.
But for now I'll default to using the non minified version. Thanks.

[2020-04-06 22:38] alimansfield2016 opened #4466 "ES6 style class extension of p5 instance mode sketch."
It has been previously suggested that the P5.js library may at some point allow instance mode sketches using ES6 style class extensions. Currently, it seems however, that the library does not entirely work using this method as is.
One of the issues that i found, is that the `sync` argument, (that i believe is supposed to define whether the start of the sketch is sync or async?) is unused. Because

[2020-04-06 22:55] HiImDaniel-type commented on #2522
Any news in this topic? Is there any javascript library that can work with variable fonts already ?

[2020-04-07 09:00] #4412 closed

[2020-04-07 13:43] jeffThompson commented on #4416
Thanks @limzykenneth – I'll close this now since Lauren added me to the repo. Even after just a few days, I see the issues coming into my email and get a tiny view of what maintaining this project must be like :)

(Off-topic, I really love the wiki format overall, but my experience has mostly been Wikipedia where edits are open to all. Wikis are really hidden on Github, so I agree moving them away

[2020-04-07 13:43] #4416 closed

[2020-04-07 14:34] limzykenneth commented on #4215
Class inheritence syntax for the p5 object was not something we specifically designed for and tested, thus at the moment it is considered not supported.

[2020-04-07 18:57] eharkins100 opened #4467 "Uploading File Problem"
The functionality of this changed over the last two weeks. I made a tutorial where the pull-down menu Sketch / Add File displayed a dialogue box with an area to drag and drop files.  The display is now different.

![Screen Shot 2020-04-07 at 2 45 21 PM](https://user-images.githubusercontent.com/48252175/78707455-9f5d8300-78de-11ea-9682-4710a521076c.png)
![Screen Shot 2020-04-07 at 2 45 41 PM](http

[2020-04-08 12:31] DivyamAhuja commented on #4463
@stalgiag  can you tell me what appropriate description should be?  like ` It computes faces of primitive 3d geometry based on details.`?

[2020-04-08 14:02] limzykenneth commented on #4467
Hi @eharkins100, please see https://github.com/processing/p5.js-web-editor/issues/1362

[2020-04-08 14:02] #4467 closed

[2020-04-09 01:21] eharkins100 commented on #4467
Hi Kenneth,

Thank you once again for your speedy response!

Take care,
Ed

On Wed, Apr 8, 2020 at 10:08 AM Kenneth Lim <notifications@github.com>
wrote:

--
*Ed Harkins*
Middle School Technology
eharkins@nido.cl | +56 9 8198 9359

--
_Confidentiality Notice: This email and any attachments contain information
belonging to Nido de Aguilas which may be confidential. This information is
intended sole

[2020-04-09 07:43] srinivasmangipudi opened #4469 "p5js performance on mobile device is very slow and laggy"
Hi,

I am using p5js for a drawing and have included the latest version from the cdn: <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>

The problem is that the sketch runs gret in a browser, but the performance and speed on mobile devices is very slow. I have tried to change the frameRate() function, but no effect.

Is this a know problem? Please suggest! thanks

[2020-04-09 12:10] mishazawa commented on #4469
Please post your sketch code.

[2020-04-11 00:33] fisherdiede commented on #4449
I have a change which introduces this new feature but am having trouble creating a PR for my branch. Here is a screenshot of the described example with a few other simple verification tests.

<img width="513" alt="Screen Shot 2020-04-10 at 17 01 40" src="https://user-images.githubusercontent.com/11671032/79031062-5e799e80-7b6a-11ea-9f91-e58c3908510d.png">

could someone help me out? I don't know h

[2020-04-11 00:42] akshay-99 commented on #4449
Hi @fisherdiede. I don't think you would have the access to directly push changes to a branch on this repository. `Fork` this repository and push the changes on a branch to your own fork. Then you should be able to create a PR.
It should look something like processing:master <-- fisherdiede:branchname

You can check the [contributor docs](https://github.com/processing/p5.js/tree/master/contributor

[2020-04-12 00:11] awarua opened #4470 "round() does not respect second argument"
#### Most appropriate sub-area of p5.js?

- [X] Math

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Google Chrome | 80.0.3987.163
- Operating System: MacOSX 10.15.4
- Steps to reproduce this:

Example code snippet ([live version](https://editor.p5js.org/creativecoding/sketches/xGSg7VH3j0))

    let a = 1.234

    function setup(){
      print(a);
      print(round

[2020-04-12 00:24] akshay-99 commented on #4470
Hi @awarua, it seems that the support for an optional second argument specifying the number of decimal places was added in version 1.0.0

If I change the version of p5 imported in the HTML to1.0.0, this should work
https://editor.p5js.org/akshay.padte/sketches/1U09T-2yQ

[2020-04-12 01:49] awarua commented on #4470
Thanks so much @akshay-99. That totally fixed it. I'm using the default settings on the P5js web editor. Do you think it's worth adding an issue on that project to update the p5js version to 1.0.0 in new sketches?

[2020-04-12 01:49] #4470 closed

[2020-04-12 06:36] doriclaudino commented on #4464
@belgiancoder
https://editor.p5js.org/doriclaudino/sketches/LgLw5UaBr

You think it could be a good starter?
I did this sketch today after read your feature request

You can generate a gif, mp4, webm

[2020-04-12 10:06] DivyamAhuja commented on #4455
@limzykenneth so can we solve this by adding `pInst.drawingContext = this.drawingContext;` [here](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L70)?

[2020-04-12 16:27] ilyasselhadi opened #4472 "audioIn function does nt work"
PLEASE NOTE:

The github issues are only for bugs and feature requests for the p5.js library itself.

Please post general questions or requests for help with bugs in your sketch in the p5.js forum: https://discourse.processing.org

[2020-04-13 01:01] lmccart commented on #4416
Thanks @jeffThompson. For background, our thinking with the wiki is that all of the tutorials are linked from https://p5js.org/learn/, so people don't need to find this wiki on their own. We felt that editing the wiki pages, while still requiring a step of getting access, was a lower barrier to entry than cloning, setting up, and editing the p5.js-website, and submitting a PR. This intuition may b

[2020-04-13 08:56] limzykenneth commented on #4408
Probably should keep this open until all the sections are translated, but let me know if otherwise.

[2020-04-13 11:02] limzykenneth commented on #4455
@DivyamAhuja Maybe, I'm not sure. @stalgiag may be more familiar with the rendering pipeline instancing.

[2020-04-13 11:07] limzykenneth commented on #4472
Hi @ilyasselhadi, can you fill out the original issue template and describe the issue in more detail? Otherwise we just don't have enough information to help you.

[2020-04-13 12:25] micuat opened #4473 "elaborate documentation on p5.sound / MediaElement"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
p5.Sound / documentation

#### Feature enhancement details:

I wasn't sure where to write this issue, but first I was trying to use the sound from the video as the inpu

[2020-04-13 13:13] ilyasselhadi commented on #4472
oke i m going to fill out the original issue template thaks a lot

[2020-04-13 13:21] ilyasselhadi opened #4474 "i have a probleme in my p5 js code . the AudioIn function do not work"
PLEASE NOTE:

this is my javascript code
![js](https://user-images.githubusercontent.com/59366946/79123341-de358200-7d91-11ea-99b1-4a278be12581.JPG)
and this is my html code
![index](https://user-images.githubusercontent.com/59366946/79123346-e097dc00-7d91-11ea-951e-1fcf2319f8b9.JPG)
but when i open my sketch in the browser the mic not working

[2020-04-13 13:54] ilyasselhadi commented on #4474
![chrom](https://user-images.githubusercontent.com/59366946/79125779-a1b85500-7d96-11ea-921b-d42ddd118cd3.JPG)
this is my browser page

[2020-04-13 14:05] mjaything commented on #4408
You're right @limzykenneth thanks for reopening it! If anyone starts working on any of the documents, please leave the comment here and i'll update the list!

[2020-04-13 15:22] lmccart commented on #4336
resolved with https://github.com/processing/p5.js/commit/ac9fd0ad84bfa964400f9a6eb7171818ff2c0a9e
https://github.com/processing/p5.js/pull/4459

[2020-04-13 15:22] #4336 closed

[2020-04-13 18:04] fisherdiede commented on #2309
@all-contributors please add @fisherdiede for 🐛

[2020-04-13 18:06] fisherdiede commented on #2309
@all-contributors please add @fisherdiede for #4475  💻

[2020-04-14 23:41] mojosoeun commented on #4408
@mjaything Hi. I'm translating creating_libraries.md, custom_p5_build.md. and design_principles.md now

[2020-04-14 23:44] mjaything commented on #4408
@mojosoeun great! I'll start internationalization.md soon!

[2020-04-15 03:02] bluelotusmedia commented on #177
So glad you added this feature as I definitely just needed this for an experimental socket.io chat project with p5 dom and html elements only.

[2020-04-15 12:51] limzykenneth commented on #4473
Is this more of a p5.sound.js issue or a p5.MediaElement issue? If any fix should be done on the sound library I can move it to that repo so maintainers there can work on it. I'm not familiar with the sound library enough to know whether this issue belongs there or not.

[2020-04-15 12:53] limzykenneth commented on #4474
Hi @ilyasselhadi, we usually use github only for bug reports and feature requests, if you need with help your own code you can ask on the [forum](https://discourse.processing.org). Thanks!

[2020-04-15 12:53] #4474 closed

[2020-04-15 13:11] #4472 closed

[2020-04-15 15:01] micuat commented on #4473
sorry that I wasn't sure where to post this issue. I will post it on https://github.com/processing/p5.js-sound

Another confusion is that https://p5js.org/reference/#/p5/createVideo is linked to Element, not [MediaElement](https://p5js.org/reference/#/p5.MediaElement) (I guess this is simply a typo). I will post this on https://github.com/processing/p5.js-website

[2020-04-15 15:06] micuat commented on #4473
@limzykenneth now I moved this issue to the proper repositories, should I close this issue?

[2020-04-15 15:06] #4473 closed

[2020-04-15 17:18] M-shameel-Alpha commented on #4092
I tested it and can confirm that p5.Image.filter and filter gives different results on the same image in blur. This problem is also present on images without transparent pixels.
I also observed that giving double the value of filter parameter used in p5.image.filter to filter yields same result.Other than different amount of blur in the edges.
Demonstrated in this sketch:https://editor.p5js.org/M-

[2020-04-16 01:15] isaac-computer commented on #4209
@estafaa Yes! I have the same problem but haven't seen anyone else mentioning it. I don't know of a solution yet. Did you ever figure anything out?

[2020-04-16 02:22] bassamanator opened #4477 "ReferenceError: _renderer is not defined and sometimes canvas is not defined."
I've had other people check this code but the problem just appears to come and go. The following is the error I get and it brings the loading of the page to a halt, or nearly a halt. Happens when I'm loading the page.
[code]
I started to use _renderer because my canvas variable (global; cnv) would say "cnv.position not defined."
[code]
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Co

[2020-04-16 02:55] SketchySketch commented on #4137
Hello and I’d like to translate README into Chinese. Please let me know if anyone is in progress :)

[2020-04-16 13:24] Nazeh opened #4479 ""ReferenceError: p5 is not defined" when importing p5.dom in a typescript environment"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.7.3
- Web browser and version: 1.7.92 Chromium: 80.0.3987.163 (Official Build) (64-bit)
- Operating System: Win 10, WSL

[2020-04-16 14:23] Nazeh commented on #4479
I realized that I was using an older version of p5.js :/ sorry folks for the false alarm!

[2020-04-16 14:23] #4479 closed

[2020-04-16 16:29] limzykenneth commented on #4477
`_renderer` is not a variable that is exposed to the global scope so it won't be accessible. Directly using the `_renderer` object is not supported and you should be using `cnv.position` as you mentioned to position the canvas. If it is throwing an error about `cnv.position` is not defined you should check that the function is not called before the canvas is created.

If you need further help with

[2020-04-16 16:29] #4477 closed

[2020-04-16 17:05] marijncin commented on #2218
Hi, the real issue is that it does not work on chrome.

[2020-04-17 18:31] andras-gyarmati commented on #3352
@yanngraf as a workaround you can repeat the starting vertices to achieve the expected behavior: https://editor.p5js.org/brianelete/sketches/-ujBjhRU3

[2020-04-18 12:34] FreddieRa commented on #4464
This is excellent, can it be packaged into p5?

[2020-04-18 12:37] belgiancoder commented on #4464
I don't know what I'm doing wrong but I get `Script error. (: line 0)` every time I click the button.
I didn't edit your script or anything

[2020-04-18 12:40] belgiancoder commented on #4464
I've also tried ccapture.js but it takes half an hour to record a minute of animation so it's definitely not suitable for most users.

[2020-04-18 12:52] belgiancoder commented on #4464
I'm getting ReferenceError: `Can't find variable: MediaRecorder` in the devtools.
And the code looks really complicated with all the files so I don't know where the error comes from. This is exactly what I want to avoid. I believe P5.js has to be welcoming to newcomers and they should be able to share their progress easily. Not some cryptic `Script error. (: line 0)` error.

(This is not a critici

[2020-04-18 12:58] FreddieRa commented on #4464
It doesn't matter if the code is complicated if it gets added to the p5 repo and all we need to do is call "startRecord()" and "stopRecord()". This is just showing how the underlying code might work.

[2020-04-18 12:59] belgiancoder commented on #4464
Exactly, what I'm saying is that a newcomer should not be exposed to this.

[2020-04-18 13:01] FreddieRa commented on #4464
And they won't be. But the "record" function you want to add needs some way of working, and this has been proposed. You are welcome to implement it yourself with a PR.

[2020-04-18 13:11] belgiancoder commented on #4464
I'll try my best

[2020-04-18 15:10] diegodorado opened #4480 "Add a way to point to unreleased version of p5.js"
How could one point npm to the latest (unreleased) version of p5.js?

In npm one can point to a specific repo#branch, but something related to the build process of p5.js makes this impossible since lib folder is empty.

I would like to be able to install the master branch of p5 form npm in order to take advantage of yet unreleased features, in this way

`npm install "processing/p5.js#master"`

But

[2020-04-18 17:29] rakkoemoji opened #4481 "v.1.0.0 doesnt work with ccapture"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details about the bug:

- p5.js version: v.1.0.0

ccapture wont render with v.1.0.0. older v.0.9.0 works.

[2020-04-18 19:56] limzykenneth commented on #4481
@rakkoemoji Do you have a simple example code demonstrating the problem?

[2020-04-19 12:28] hellonearthis commented on #4272
I have had this print() problem when used inside a draw() loop.

p5 could treat **print()** as **console.log('')**  to would prevent the browser print() to not popup
but there might also be a case to use **print()**  so made add a **printerMode(CONSOLE|PRINTER)** to let the user enable the printer as the default could be console.

Overriding outside of the p5 scope is problematic unless it could b

[2020-04-19 12:45] rakkoemoji commented on #4481
let Ini=function(){
this.w=1920
this.h=1080
this.fr=30
this.tmp=60/110
this.bkg=0
this.siz=0
this.num=1285
this.nam=0

}//fun

Ini.prototype.set=function(){

this.cnv=createCanvas(this.w,this.h)
this.cnv.parent("cnv")
this.ini=millis()/1000
}
`
Ini.prototype.dis=function(sec){
this.sec=sec
this.fc=frameCount
this.lap=millis()/1000
this.dur=this.lap-this.ini
this.rem=this.sec-this.dur
this.dur>this

[2020-04-19 12:51] rakkoemoji commented on #4481
dear kenneth,

thanks for getting back. above code works for 0.9.0 but not for 0.10.0 and up.

[2020-04-19 15:53] rakkoemoji commented on #4464
@doriclaudino
your code works just fine!!! you are a genius...
however, how do you hass argument to ffmpeg to change the bitrate. the current bitrate is bit small, like 260k.

[2020-04-19 16:59] doriclaudino commented on #4464
Hi, that's good you guys like my example.
There's differents ways to record, I'm also thinking which one is the best approach and then create a extension for p5.

Fell free to explore more options and post the results here, it will helps a lot.
Thanks

[2020-04-19 17:06] doriclaudino commented on #4464
I forgot to mention, this is a WebAssembly "wasm" of ffmpeg.

Not sure if the best approach is to work on CLI level or directly on WEB.

To make easier for newcomers I think WEB package it's the right way.

Like someone commment:
Simple start/stop Recording

[2020-04-19 17:09] belgiancoder commented on #4464
Hi,
Directly on the web is probably better. On my side, I followed a totally different route when I needed to record my sketch:
I followed [these instructions](https://medium.com/@ffmaer/record-p5-js-with-ccapture-js-8e3ac9488ac3) with some simplifications.
1) source [this file](https://raw.githubusercontent.com/spite/ccapture.js/master/src/CCapture.js), [this file](https://raw.githubusercontent.c

[2020-04-19 17:12] belgiancoder commented on #4464
I still have not been able to run your sketch on the web editor btw.
I use Safari Version 13.1.1 (15609.2.3) on macOS version 10.15.5 (19F62f).

[2020-04-19 21:06] dhowe commented on #4464
just a quick mention that it would be ideal to include the option to record audio from sketches as well (which the ccapture frame-by-frame approach does not support - correct me if i'm wrong)

[2020-04-19 21:09] belgiancoder commented on #4464
You're right, and just to be clear, I don't recommend using CCapture for anything. I was just sharing my (bad) experience with it.

[2020-04-19 21:15] doriclaudino commented on #4464
I got the same experience trying to record my canvas, I starting recording using the canvas API, downloading as webm and then using external videos/gif tools. Everybody is recording theirs canvas I don't know why there's nothing easy, I saw the p5.createLoop to gifs, works pretty good.

[2020-04-19 21:17] dhowe commented on #4464
Understood -- I often advise students on OS X to try the Quicktime Player's screen-recorder, which, though annoying, can record a sketch with audio and doesn't require code changes (simply select the area you want to record, select the audio source, and whether to include the mouse, and go).

So both audio and optional mouse-recording would be nice features for an ideal version. Perhaps also being

[2020-04-19 21:22] belgiancoder commented on #4464
Use cmd+maj+5 on mac to record the screen or part of it (on new macOS versions).
I once tried to save every image to a big folder but Chrome blocked downloads after the 1000th file or so...

[2020-04-19 21:25] doriclaudino commented on #4464
I'm using on chrome (macos/windows).
https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/MediaRecorder

Seems safari doesn't support yet, try to check on **experimental features**:
https://blog.addpipe.com/safari-technology-preview-73-adds-limited-mediastream-recorder-api-support/

I just test on safari Version 13.0.4 (14608.4.9.1.4), it work.

[2020-04-19 21:30] doriclaudino commented on #4464
I'm not sure if canvas broadcast the audio (I actually never test it with audio), cause it's coming from audioAPI on p5.js-sound.
Probably we need to capture both canvas stream and audio stream, then combine in a single output.

[2020-04-19 21:35] belgiancoder commented on #4464
IT WORKS ! WOW ! (with experimental features)
Coming from CCapture, I see the change, your thing is FAST !
I don't think the audio is linked to the canvas, but it could be possible to hack something into p5-sound to intercept the sound.

[2020-04-20 13:15] limzykenneth commented on #4480
@diegodorado I don't know that npm supports installing from a specific branch, unless you are talking about installing with git repository (eg. `npm install git://github.com/npm/cli.git#v1.0.27`).

[2020-04-20 15:20] limzykenneth commented on #4481
Have a look at https://github.com/spite/ccapture.js/issues/108

[2020-04-20 20:08] limzykenneth commented on #4481
I've done some digging and found the source of the problem. Basically after adding this [line](https://github.com/processing/p5.js/blob/master/src/core/main.js#L354) in https://github.com/processing/p5.js/commit/abe5c95ff1a20821bb9743a5ef18e002787c9bfb the first frame of the sketch is not guaranteed to be called when the internal `this._draw` is called and without it being called, CCapture doesn't

[2020-04-20 20:33] stalgiag commented on #4481
Hm strange. If I remember correctly, I was detecting a large jump in delta time between setup and draw. This fixed it. Is setup not technically the first frame of the sketch?

I am looking at removing it now but if I recall that was my original logic.

[2020-04-20 20:39] limzykenneth commented on #4481
@stalgiag `deltaTime` wasn't implemented back then, it came after that I think. The first call to `draw()` is the first frame which will always be called (should be at least) even if `noLoop()` is called in `setup()`.

I'm thinking there could be more problem with CCapture's approach to animation frames and recording canvas content but I'm less inclined to fix those on our side if they ever came u

[2020-04-20 20:47] stalgiag commented on #4481
@limzykenneth sorry I used confusing language. I meant delta time in a more general sense. The GIF functionality was using the underlying logic behind `deltaTime` before it existed. Problems were being encountered because delta time was usually very high on the first draw call, as it didn't include `setup()` as a starting frame. So the initial draw call had a delta time measured since `preload`.

[2020-04-20 20:51] limzykenneth commented on #4481
I guess it depends on whether we want to fix this on our side. There is a workaround for CCapture to start the animation loop and recording that involves only starting CCapture after p5.js' draw loop has started. It is a bit of extra code for the user but not excessively so.

[2020-04-21 05:26] rakkoemoji commented on #4481
@limzykenneth
thanks for the input. sorry for such a noob question, and i realized it now that i should have called it a bug, but something else. i will checkout the work around in https://github.com/spite/ccapture.js/issues/108.

[2020-04-21 06:29] rakkoemoji commented on #4481
`if (ni.dur > ni.sec) {
this.cap.start()
noLoop()
this.cap.stop()
this.cap.save( u=>{
let op={method:"put",url:"/save",data:{bl:u}}
//axios(op)
print(u)} )
print("fin")
}//if
`

[2020-04-21 06:29] rakkoemoji commented on #4481
the above code work!!! thank you!

[2020-04-21 06:29] #4481 closed

[2020-04-21 17:20] diegodorado commented on #4480
npm (and yarn) does support installing form a specific branch. You do so like this
`npm install "processing/p5.js#master" ` for github repositories

[2020-04-21 20:26] limzykenneth commented on #4480
That is the same as `npm install git://github.com/processing/p5.js.git#master` just a shorten form, it is still installing from github and not NPM.

[2020-04-21 21:06] diegodorado commented on #4480
Yes, but that is not the problem.
The thing about this issue is that the lib folder is empty, or there is no `prepare` npm script to generate the lib files

[2020-04-21 21:15] limzykenneth commented on #4480
Installing from a git repository is not something that we support as the build artifacts are not commited into the library. As for `prepare` script, without the dev dependencies installed, which npm wouldn't for project dependencies, the library cannot be built.

It is not common for JS library to support installing directly from github like this, mainly because of the logistics of supporting unre

[2020-04-22 04:26] doriclaudino commented on #4464
Hello everyone!

I started a repository (still working on it):
**[p5.recorder](https://github.com/doriclaudino/p5.recorder)
<img alt="GitHub stars" src="https://img.shields.io/github/stars/doriclaudino/p5.recorder?style=social">**
<img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/doriclaudino/p5.recorder">
[![NPM](https://nodei.co/npm/p5.recorder.png?downloads=true&downl

[2020-04-22 08:41] 1234igor commented on #4464
I had problems with p5js export until I found this tutorial: https://peterbeshai.com/blog/2018-10-28-p5js-ccapture/ which was very helpful

[2020-04-22 11:56] chachramohit commented on #3645
this error was coming in my chrome browser.
but it is working properly in Firefox browser.

[2020-04-22 22:43] DiDi2018 opened #4482 "Cone with transparent texture is opaque on half of its surface"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Firefox 75.0, Chrome 81.0.4044.122
- Operating System: Kubuntu 19.10
#### Steps to repro

[2020-04-23 20:33] barning commented on #2920
I think this is still a thing. The file from npm is huge.

[2020-04-24 03:51] lmccart commented on #4425
I believe this has been resolved now.

[2020-04-24 03:51] #4425 closed

[2020-04-24 03:54] lmccart commented on #4469
try including the minified file, it is optimized for faster performance. to debug further, we will need more information like your sketch code.
`<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>`

[2020-04-24 03:54] #4469 closed

[2020-04-24 07:11] Pravandan opened #4483 "How to insert text inside a circle created using p5.js"
I have the following code and I want to display different text in different circles. How to achieve that ?

[code]

[2020-04-24 07:16] montoyamoraga commented on #4483
hi @Pravandan welcome!
this space is for discussing issues about how p5.js is developed,
we use the forum to ask questions and receive feedback about our code. could you please move this question there? best!
https://discourse.processing.org/

[2020-04-24 07:18] #4465 closed

[2020-04-24 10:28] limzykenneth commented on #4464
I think an addon library like the one from @doriclaudino is an excellent way to add this functionality to the p5.js ecosystem. Thank you to everyone for the discussion. I'm going to close this issue for now but you can continue discussions on the addon's repository or if you have new ideas, comment here or open a new issue.

[2020-04-24 10:28] #4464 closed

[2020-04-24 10:34] #4483 closed

[2020-04-24 10:40] DivyamAhuja commented on #4482
@stalgiag I wonder if this has something to do with #4458

[2020-04-25 17:50] #4400 closed

[2020-04-26 05:00] jseakle opened #4484 "Broken link in docs"
#### Most appropriate sub-area of p5.js?

- [x] Documentation

#### Details about the bug:

On https://p5js.org/reference/#/p5.Vector, in the sentence "The magnitude and direction can be accessed via the methods mag() and heading().", mag() and heading() are both links with the same structure. However, https://p5js.org/reference/#/p5/mag correctly resolves to the same content as https://p5js.org/r

[2020-04-27 05:06] hellonearthis opened #4485 "The p5 library is missing"
Hi there!

I was looking at download p5 to use locally and I can't seem to find it.

I started with looking to download 1.0.0 from cloudflare but it's serving the wrong version.
![image](https://user-images.githubusercontent.com/121805/80335054-3d71b700-88a7-11ea-8edd-ac67aaf21f25.png)

So I looked in the https://github.com/processing/p5.js/tree/master/lib expecting it to be there.
![image](https:

[2020-04-27 05:57] jeremydouglass commented on #4485
I think "the library is missing" is just not right. It is right there in releases.

https://github.com/processing/p5.js/releases/tag/1.0.0

You can see that file drop commit here -- maybe it was a mistake, but maybe not, and the readme should just be updated.

https://github.com/processing/p5.js/commit/bf0e9aa5e5532a5efc802ac74e6086abdebf2e4e#diff-eccec67c712f3fdf3dfe1c0a5397edde

After all, most

[2020-04-27 15:01] jeremydouglass commented on #4485
It looks to me like this is the offending commit to cloudflare -- although I'm not familiar with their infrastructure.

https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/p5.js/1.0.0

So a couple months ago a bot checked in the p5.js 0.10.2 files to their CDN repo on the /1.0.0 path. Where do they get the files? Not releases, I guess. Someplace that this project configures / controls?

[2020-04-27 15:09] lmccart commented on #4485
I think this happened due to an error in the build process when we posted 1.0.0. The best way to resolve it would be to make a patch release.

[2020-04-27 15:13] jeremydouglass commented on #4485
Quick follow-up If the minor release is to 1.0.1 and it gets picked up, won't that mean that the CDN caches a bad version of 1.0.0 forever?

[2020-04-27 15:15] lmccart commented on #4485
yes, I don't know if there's a way to fix the CDN, it reads from npmjs which can't be edited. maybe submitting a manual pull request?

[2020-04-27 15:21] jeremydouglass commented on #4485
Sure -- are the canonical artifacts that I should put in that PR currently in this repo's 1.0.0 release download?

[2020-04-27 15:24] lmccart commented on #4485
I'm sorry I'm not quite sure what "canonical artifacts" are, but the correct library files are posted here: https://github.com/processing/p5.js/releases/tag/1.0.0

[2020-04-27 15:34] jeremydouglass commented on #4485
I meant, if I post the stuff from the release, is it the right stuff, or is it also bad stuff.

[2020-04-27 15:38] jeremydouglass commented on #4485
Great -- I'll try to make a PR as soon as I can, later today at earliest. If anyone else wants to first, go ahead. Looks like the cdnjs repo is over 10GB, but most PRs seem to go through fast.

[2020-04-27 15:45] lmccart commented on #4485
ah got it, the right stuff :)
thank you!

[2020-04-27 19:05] dfd0226 opened #4486 "loadImage() fails to load image served on reverse proxy (iOS/Safari)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Safari: Version 13.1 (15609.1.20.111.8)
- Operating System: macOS 10.15.4
- Steps to re

[2020-04-28 04:02] jeremydouglass commented on #4485
What a headache. Finally got a commit made against cdnjs, and in the diff it looks like the version number strings are the only difference. Anyhow, I'll ping you on the PR -- they really want authors/core developers signing off on requests.

[2020-04-28 04:10] jeremydouglass commented on #4485
Great -- sign off on issue / PR here:

https://github.com/cdnjs/cdnjs/issues/13912
https://github.com/cdnjs/cdnjs/issues/13913

[2020-04-28 04:13] lmccart commented on #4485
wow, I didn't realize it was only the version number that got screwed up. well, thank you for looking into it and submitting the fix!

[2020-04-28 11:13] limzykenneth commented on #4486
Hi @dfd0226 , if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-04-28 11:18] limzykenneth commented on #4485
Mentioned back in #4336 it is the same case as the version on jsDelivr (the code is 1.0.0 just the version string still says 0.10.2) but I imagined it would be even more impossible for jsDelivr to be able to update it to say the right version string since they reflect NPM more directly than cdnjs.

[2020-04-28 15:49] dfd0226 commented on #4486
Thanks @limzykenneth, apologies for posting to the wrong venue.

[2020-04-28 15:49] #4486 closed

[2020-04-28 15:53] jeremydouglass commented on #4485
@limzykenneth Thanks so much, sorry I didn't find that earlier issue. While the code may be the same, I'd appreciate a 1.0.x latest release if possible to minimize confused support questions.

[2020-04-28 18:45] lmccart commented on #4485
@jeremydouglass sorry for the runaround, thanks for trying to make the change on cdnjs! we will work on getting a 1.0.1 release out soon. thanks for all your help on the forum and beyond. :)

[2020-04-29 11:02] fcasanellas commented on #3610
Any idea to improve tint performance on every draw() cycle?

[2020-04-29 16:11] banditelol commented on #4484
Hello, I'm new here, and I'm thinking of tackling this issue as a starter, is it still open?

After looking at the source, I think both mag() and heading() method in [p5.Vector reference](https://p5js.org/reference/#/p5.Vector) should each refer to https://p5js.org/reference/#/p5.Vector/mag and https://p5js.org/reference/#/p5.Vector/heading
as the context in the reference makes more sense if the l

[2020-04-29 19:49] Rizz0S opened #4487 "Accept object for creating p5.Color instance"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Hey folks! I'm currently doing some work related to colors in p5. The colors I'm working with are in object form, ie: `{r: 255, g: 2

[2020-04-29 20:38] Rizz0S commented on #4396
I had an issue with `npm run grunt` hanging on mochaChrome:yui. I was able to get past the build by specifically running `npm run grunt build`. Everything else was working fine.

I tried debugging the first problem but wasn't able to come up with something.. not super sure where exactly it was getting hung up.

[2020-04-29 22:32] akshay-99 commented on #4487
Hey @Rizz0S , isn't this just one extra line of code like this?
[code]
I don't know, but to me it feels adding library support for things which can otherwise be easily done in the sketch too may bloat the library over time.

[2020-04-29 23:35] sm7515 commented on #4443
I created a pr to add this in the doc ;)

[2020-04-30 03:27] lmccart commented on #4484
hi @banditelol! yes, it's open. this sounds right to me, please go ahead and make the change and let us know if you have questions.

[2020-04-30 05:44] montoyamoraga opened #4489 "add new contributor to README.md"
@all-contributors please add @karinaxlpz for translation

[2020-04-30 05:51] montoyamoraga commented on #2309
@all-contributors please add @karinaxlpz for translation

[2020-04-30 05:52] montoyamoraga commented on #4489
fixed with #4490

[2020-04-30 05:52] #4489 closed

[2020-04-30 08:45] dioptre opened #4491 "KeyTyped does not work on android"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Android (Tested on current firefox and chrome)
- Operating System: Android
- Steps to re

[2020-04-30 19:32] dioptre commented on #4491
Whoa couldnt believe this, what a crappy bug in Android (Chrome/Firefox)
https://stackoverflow.com/questions/17974021/keyup-not-working-on-chrome-on-android

Keypress in p5 only gave me system keys, so I had to do an awful workaround:

[code]

It seems like Google Chrome is becoming the new internet explorer. :(

[2020-04-30 19:32] #4491 closed

[2020-04-30 21:33] montoyamoraga commented on #4387
@all-contributors please add @sk1122 for documentation

[2020-04-30 21:38] montoyamoraga commented on #2309
@all-contributors please add @SamuelAl for translation

[2020-04-30 21:41] montoyamoraga commented on #2309
@all-contributors please add @sk1122 for documentation

[2020-04-30 21:42] montoyamoraga commented on #2309
@all-contributors please add @sk1122 for doc

[2020-04-30 21:44] montoyamoraga commented on #4387
done @sk1122 :)

[2020-04-30 21:44] #4387 closed

[2020-04-30 21:49] sk1122 commented on #4387
Thanks😀

[2020-05-01 03:19] applemonkey496 opened #4497 "Broken link in "Getting Started" tutorial on website"
I noticed that the link for the p5.js CDN in the "Getting Started" tutorial ([here](https://p5js.org/get-started/)) is broken. The tutorial contains the following:

The correct link would make the code
[code]

I would have created a pull request, but I couldn't find the source file anywhere on GitHub.

[2020-05-01 16:52] Rizz0S commented on #4487
Thanks for responding! That is a fair point; it would add some non-trivial complexity to the library. And it's not much work on the client side.

In the past when I've worked with colors in some of my other applications it's been a feature I appreciated because some color APIs send back colors in object form.

I am just starting out so I don't have a great idea of how much added complexity would c