[2021-01-11 17:06] catarak commented on #4982
Just added a payment for Travis so builds should be working again :smile:

[2021-01-11 19:53] AliaNeedsHelp commented on #4985
I was trying to use global instance mode for three reasons: I am only using ONE sketch, a lot of function require p5 features, and my project is HUGE.

[2021-01-11 19:58] #4985 closed

[2021-01-12 04:51] john0192 commented on #4968
@siv2r are you done

[2021-01-12 07:34] anirban0104 commented on #1573
Download p5play.js library and put it in the folder and in index.html, mention the file src. @bhavya200811

[p5.play.zip](https://github.com/processing/p5.js/files/5800446/p5.play.zip)

[2021-01-12 15:26] fal-works opened #4991 "[docs] More specific types in YUIDoc"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Not really a feature, but I'm wondering if we could describe more specific types in the YUIDoc comments (please see below, I'll be happy to work on it) in order to improve the machine-readable documentation.

This will help [p5.ts](https://github.com/p5-types/p

[2021-01-12 15:54] fal-works commented on #4991
I realized that I'm not 100% sure that the common syntax `Array<SomeType>` is valid in YUIDoc (although it passes the YUIDoc linter), while `SomeType[]` seems to be OK (from yui/yuidoc#198)

[2021-01-13 03:25] karenanndonnachie commented on #4790
I would agree that variable font support would be perfect for p5js, it differs from texttopoints, although it certainly leverages the same principles (ie. the points embedded into .otf font files.
If anything, making the parameters of variable fonts accessible either at the moment of font declaration of (better yet) at the moment of a text/textwidth/texttopoints call as an extended parameter (like

[2021-01-13 05:39] karenanndonnachie opened #4992 "Extension of font parameters to accomodate variable fonts for various uses eg. text / textWidth / textToPoints"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-01-13 10:45] hapiel commented on #906
I have also run into a similar issue, I assumed that I could put a `curveVertex(`) within a `beginContour()`, but this seems to be impossible no matter if the original vertex is curve points or normal points.

My solution has been to approach the curve shape with straight lines between multiple `curvePoint()`

I would recommend this solution for any problem where you try to mix `curveVertex()` and

[2021-01-13 11:10] fal-works commented on #2865
Just linking docs-related issues which i recently opened:
#4988
#4991

[2021-01-13 11:14] limzykenneth opened #4993 ""pixels" array of p5.Image cannot be reassigned while canvas one can"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-13 11:16] limzykenneth commented on #4968
Closing this as we won't be considering this change for the time being.

[2021-01-13 11:16] #4968 closed

[2021-01-13 11:23] limzykenneth commented on #4991
YUIDoc is no longer being maintained and I'm a bit wary of continue relying on it going forward. However there isn't a good alternative out there that we can easily transition over to. I have started some exploration into a custom documentation generator based on the idea of YUIDoc but didn't have the time to make it feature complete for p5.js, it is working for my own project though.

[2021-01-13 11:42] limzykenneth commented on #4988
which is an UIEvent.
(ADD: same for keyboard event handlers such as keyPressed(), which lack @param tag even though they accept KeyboardEvent argument)

I don't quite understand this, `windowResized()` does not accept any arguments (at least not expecting the user's definition of it to include one) so not sure how this applies.

So I'd like to add something like:

For me that's a bit too jargon-y

[2021-01-13 11:58] limzykenneth commented on #4992
Hi @karenanndonnachie, I'm happy to see this feature in p5.js but only thing I'm not sure about is whether there are support for it in HTML canvas and opentype.js. It's been awhile since I looked into this but last I checked there are no support for it outside of CSS and the CSS properties doesn't affect canvas text.

Determining whether this is possible to implement or not would be a good first s

[2021-01-13 12:11] limzykenneth commented on #4993
Actually it seems to affect the canvas's pixels array as well.

[2021-01-13 13:48] fal-works commented on #4991
I understand, thought about that a bit too.
I guessed that the transition from YUIDoc will not be done in the near future, but indeed it's not ideal to invent some additional YUIDoc-specific technics.

I think this doesn't block replacing some of `{Object}`s and `{Array}`s as it can be done in a syntax that is common (almost if not all) to both JSDoc and YUIDoc, however other points I listed above

[2021-01-13 15:29] limzykenneth commented on #4991
Two main problems with JSDoc for us:
1. It's heavily based around themes and static site generation whereas we already have a custom reference site setup how we want it and we can just plug in data in JSON form.
2. JSDoc puts requirement on the source code itself as it infers some information from the source code in addition to the code comments (YUIDoc doesn't do that because it is language agnos

[2021-01-13 15:30] fal-works commented on #4988
Thanks for the comment, just changed the PR to draft.
Will write a little more soon.

[2021-01-13 17:57] fal-works commented on #4988
So, sorry for confusing.

First, what are described in the current documentation:

|                                   | tag: `@param [event]` | description: `return false` |
|  ---                             | ---                               | ---                                     |
| `windowResized()`      | No                              |  No                                   |
| `mouseP

[2021-01-13 18:15] limzykenneth commented on #4988
What I want to do is just adding the missing YUIDoc @return tag, because the absense of this tag should mean that the method never returns a value, which doesn't match the description as well as the actual behavior.

Wouldn't adding the `@return` tag also add the return field in the documentation as well?

The `[event]` parameter can be added for the `windowResized()` inline with other functions.

[2021-01-13 21:16] edwardmonk commented on #4965
I think I missed my opportunity to click on the invitation.  The link does not appear to be available anymore.

The Smithsonian Open Access API Documentation is here:  https://edan.si.edu/openaccess/apidocs/

I have used p5.js and ml5.js to work with the data...and could provide some examples.

[2021-01-14 00:44] karenanndonnachie commented on #4992
Hi Kenneth,
thank you for your explanation.
From my very scarce understanding, a couple of projects which work with variable fonts do so in js extending opentype.js eg. [variablefont.js](https://github.com/Monotype/variableFont.js/blob/master/variablefont.js)
Admittedly they do not render to canvas, and similarly to the [axis-praxis.org 's samsa.js](https://github.com/Lorp/samsa) — a web-based too

[2021-01-14 10:54] rt1301 commented on #4993
@limzykenneth I would like to work on this. Can you suggest me how to get started with it?

[2021-01-14 15:18] edwardmonk commented on #4965
I have cloned this wiki, made a branch and made the simple change, but I do not have access to push the change.  Is there some other way you can suggest that I make the change?

[2021-01-14 15:35] stalgiag commented on #4974
@vulongphan definitely!

[2021-01-14 15:39] stalgiag commented on #4977
Hi @blechdavier thanks for the issue. This example is a bit complicated for tracking down a bug. I am not easily able to tell what the expected behavior is.

Can you make a sketch that is the simplest possible reproduction of the bug?

[2021-01-14 18:30] limzykenneth commented on #4965
@edwardmonk You shouldn't need to clone anything, just navigating to https://github.com/processing/p5.js/wiki/Loading-external-files:-AJAX,-XML,-JSON you should see an "edit" button near the top right corner and that should let you edit the wiki directly.

[2021-01-14 18:44] edwardmonk commented on #4965
@limzykenneth , That is what I was expecting,  but unfortunately, that option is not there.  Maybe I need to clean my glasses... :)
https://guides.github.com/features/mastering-markdown/
<img width="1473" alt="Screen Shot 2021-01-14 at 1 40 47 PM" src="https://user-images.githubusercontent.com/1946394/104634415-961ff480-566e-11eb-86fa-c9bb31f9c898.png">

[2021-01-14 18:53] lmccart commented on #4965
thanks @edwardmonk. I sent you an invite to be a collaborator on this repo a little while ago. please accept this invite and then when you visit the page you’ll see the edit button

[2021-01-14 19:31] edwardmonk commented on #4965
Hello @lmccart, I think I may have missed the deadline to click on the link.  It was only good for 7 days and that was on Dec. 24th.  I was on vacation for a while...my apologies.  That must be why I don't see the options.

When I click on the invite...I get this message:
<img width="1503" alt="Screen Shot 2021-01-14 at 2 28 02 PM" src="https://user-images.githubusercontent.com/1946394/104639175-1

[2021-01-14 19:37] lmccart commented on #4965
Ah, got it! I've resent the invite.

[2021-01-14 19:52] edwardmonk commented on #4965
Thank you @lmccart ! That worked perfectly and I was able to start contributing to this...I used p5.js to query the Smithsonian API in different ways...is there some place appropriate to share that?

[2021-01-14 20:42] limzykenneth commented on #4993
This one is potentially a bit complicated and it still need to be determined as an actual bug first, ie. the behaviour is something that should be fixed and not something that's intended. To fix this will require looking at how `updatePixels()` is getting the pixels array to update in the relevant canvas image data array.

[2021-01-14 20:52] lmccart commented on #4965
@edwardmonk :) if you post them somewhere, we can share via social media, or retweet repost etc.

[2021-01-14 20:54] edwardmonk commented on #4965
I will just put them on github...that way I can keep track of them with all our other stuff.  Thanks again for you help everyone.

[2021-01-14 20:57] limzykenneth commented on #4992
I don't know enough about how variable fonts work under the hood to be able to say much for sure. Ideally there won't be an SVG layer in between and we can draw the font much like how we are drawing opentype.js fonts currently. Some effort would be required to investigate this possibility though.

[2021-01-16 05:04] dhowe commented on #4992
sounds like perhaps this should be implemented (at least initially) as a library...

[2021-01-16 15:12] limzykenneth commented on #4992
Yeah I agree, exploring this as a separate library would be better as a start.

[2021-01-16 18:31] PandaBalls opened #4994 "save P5.Graphics double size problem"
![image](https://user-images.githubusercontent.com/22102700/104819864-8a4d5180-586b-11eb-9d89-2dafa172deb5.png)
I tried to create large p5.graphics that inside chrome's canvas limitation .
 then I use chrome console find this problem:
I created **p5.graphics (200,200)**, and console shows this **P5.graphics.width** is **200**, that is right;
But **after downloading**, the jpg file is **400x400**.

[2021-01-16 18:52] limzykenneth commented on #4994
Hi @PandaBalls, can you try setting [`pixelDensity`](https://p5js.org/reference/#/p5/pixelDensity) to 1 and see if it helps?

[2021-01-17 03:05] PandaBalls commented on #4994
wow.it works! thank you so much .mua!

[2021-01-17 03:05] #4994 closed

[2021-01-17 08:19] polygonfuture commented on #4114
@limzykenneth I'm having a similar issue.

I'm getting errors with your file.data.split(",")[1]; in the latest p5.js

`Uncaught TypeError: file.data.split is not a function   `

`function loadJson(file) {
    print(file);
    // Split file.data and get the base64 string
    let base64Str = file.data.split(",")[1];
    // Parse the base64 string into a JSON string
    let jsonStr = atob(base64Str);

[2021-01-17 12:45] daksheshm29 opened #4995 "The preview doesn't work it keeps on saying script error line 0"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-17 15:14] PandaBalls opened #4997 "P5.Image save() black"
`let pg = createGraphics(500,500); `
`pg.image(img,x,y);`
`image(pg,0,0); **//this can be showed in canvas**`
`pg.save('test.jpg'); **//but this will saved a black image..**`

[2021-01-17 16:33] da091005 opened #5015 "Canvas Layers incorrect with different heights using WEBGL"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version:  Safari
- Operating System: IPad Pro IOS 14.3
- Steps to reproduce this bug: When using WEBGL, if you set the height >425 the layers of the canvas get messed up when trying to use text.

 https://editor.p5js.org/UnOriginalPun/sketches/0yGE68Xok

![7945A4CD-2E05-466B-846C-ADE796822039](https://user-images.

[2021-01-17 20:30] weslord opened #4998 "Old version of Prettier is incompatible with VSCode extension"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
-> Developer to

[2021-01-17 21:00] weslord commented on #4998
See https://github.com/processing/p5.js/compare/main...weslord:prettier-2 for branch with potential PR.
- https://github.com/processing/p5.js/commit/5427522e4bab3857f713c08d588869f8ddd152d6 for config updates
- https://github.com/processing/p5.js/commit/75b9cb4a310522b724f86c00f1b4b55fc0d6826d for formatting updates (mostly autogenerated with `lint:fix`, inline documentation examples updated manua

[2021-01-18 01:36] HedonisticOpportunist opened #4999 "Mousepressed for a specific element results in Uncaught TypeError: Cannot read property '_setProperty' of undefined at n.default.Element.<anonymous> (p5.min.js:3)"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [X] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-18 01:58] choxi opened #5000 "Offscreen WebGL Rendering Throws Error"
#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-18 04:45] PhilAndrew opened #5001 "Rectangle does not show corner radius in WEBGL mode"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-18 07:33] harplife opened #5002 "wiki/p5.js, node.js, socket.io code example does not work"
#### Most appropriate sub-area of p5.js?
- [x] Other (wiki)

#### Details about the bug:

- p5.js version: v1.2.0
- Web browser and version: Chrome 87.0.4280.141
- Operating System: Windows 10
- Steps to reproduce this:

Hi, p5js first timer here, just trying to follow the wiki and code examples.

I'm having an awful time following the wiki on [setting up p5.js with socket.io](https://github.com/p

[2021-01-18 12:27] vulongphan commented on #4974
Hi @jcelerier, I am pretty new to the code base so could you please guide me in terms of what attributes of p5 class that is responsible for resetting the color mode?

Thank you!

[2021-01-18 15:48] stalgiag commented on #5001
This isn't a bug so much as an unimplemented feature. It would take a significant amount of work to get this functionality as both the fill and stroke geometry would need to be made differently. Anyone interested in tackling this is very welcome.

In the short term, a console warning could be useful when arguments are passed for corner radius.

[2021-01-18 15:53] stalgiag commented on #4995
Hi! What do you mean by the preview? The sketch output on the web editor? Can you include the requested information about your setup?

[2021-01-18 15:54] stalgiag commented on #5000
Thank you @choxi !

@lm-n do you have any thoughts on what might be causing this?

[2021-01-18 16:45] aferriss commented on #5001
Is the extra difficulty it in setting this up due to having to generate additional verts for a rounded shape? I wonder if a way to do this without having to change the render pipeline would be to just write a rounded corner shader? Something like this:
https://www.shadertoy.com/view/4llXD7

Definitely a little hacky but it could be an option.

[2021-01-18 17:33] lmccart commented on #5002
Ah sorry about that, this is quite an old tutorial and may be out of date with current versions. I would suggest starting with the tutorials here to get socket.io running: https://socket.io/

Then these lines should still be relevant;

[code]

[code]

[2021-01-18 17:34] #4982 closed

[2021-01-18 19:33] subhog commented on #1782
Are there any news about this feature? It's really essential when working with imported graphics.

[2021-01-19 05:11] harplife commented on #5002
It's no problem. I know this may have been just a course material for your students but I really like the topic of the tutorial so I wanted to try it.

As per your suggestion, I did follow the tutorials at socket.io and it helped me solve the issue. Below are the changes;

server.js:

[code]

sketch.js:

[code]

index.html:

[code]

Few simple changes, and viola! It's now up-to-date.

[2021-01-19 05:21] lmccart commented on #5002
Thanks! I just made the updates. Glad it worked out!

[2021-01-19 05:21] #5002 closed

[2021-01-19 12:05] limzykenneth commented on #4999
Hi @HedonisticOpportunist, I'm afraid the code snippet you shared is not enough for me to determine what the problem is. Can you create a minimal example demonstrating the problem? It can also help if you use the unminified version of p5.js which can give better error messages when you are developing.

[2021-01-19 12:16] limzykenneth commented on #4998
Would this be something that the VSCode extension be asked to support since as you mentioned there are code style changes between prettier v1 and v2, it usually isn't something projects that uses something opinionated like prettier wants to change without good reasons.

[2021-01-19 12:34] limzykenneth commented on #4114
@polygonfuture Do you have a minimal example of this?

[2021-01-19 12:37] HedonisticOpportunist commented on #4999
@limzykenneth Oddly enough, just ran the code using the p5.js version and the issue no longer persists. Do you know why this could be?

[2021-01-19 12:49] HedonisticOpportunist commented on #4999
@limzykenneth But the code that was failing for me on the minfied version was:

[code]

[2021-01-19 13:03] HedonisticOpportunist commented on #4999
The error I get for this with the pj5 minified version is:

![image](https://user-images.githubusercontent.com/11170254/105038008-b2e56f00-5a56-11eb-9541-60f8d24ae1d1.png)

[2021-01-19 14:13] weslord commented on #4998
It doesn't look like the plugin maintainers are open to supporting old versions:

(from https://github.com/prettier/prettier-vscode/issues/1122#issuecomment-562883665)

Neither does it look like Prettier is open to making the space in `function ()` a user-configurable option. It was a pretty contentious change with hundreds of comments spread across multiple issues (https://github.com/prettier/pre

[2021-01-19 14:19] HedonisticOpportunist commented on #4999
@limzykenneth When I try to to run the following code, I get the following error:

<img width="392" alt="Capture" src="https://user-images.githubusercontent.com/11170254/105046668-4ae85600-5a61-11eb-8cc0-c5e4a7e110e8.PNG">

[code]
I really don't know how much more information to give you.

[2021-01-19 14:32] weslord commented on #4998
I've done a little more digging, and good news: Looks like the extension supports versions of Prettier back to 1.13.0 (https://github.com/prettier/prettier-vscode/blob/main/src/ModuleResolver.ts#L20), so we don't need to upgrade all the way to Prettier 2 quite yet.

[2021-01-19 14:50] weslord commented on #4998
https://github.com/processing/p5.js/compare/main...weslord:prettier-1.19.1 for example of changes required to get to last version before 2.

Still a bunch of changes:

But much much less than going to Prettier 2:

[2021-01-19 15:07] limzykenneth commented on #4999
I can't replicate this on my end. I see that you are using Chrome Canary, can you try another browser and see if it works?

[2021-01-19 15:29] limzykenneth commented on #4998
For me the changes are pretty excessive, especially around adding brackets to multiplication/division/etc (including a three level deep nesting).

For me personally (which do not reflect the opinion of the project as a whole) I don't see that much value in using prettier if the rules changes that significantly even under the same major version. Code styles should have been a set and forget thing b

[2021-01-19 19:04] stalgiag commented on #5001
@aferriss thanks for the suggestion! Yeah, I assumed we would add more verts for the rounding since that is what is done in Processing's OpenGL mode (if I remember correctly) but something like this would probably work well.

I am just swamped with other projects at the moment so I can't do much more for p5 than respond to issues and fix bugs that I may have personally made 😅. If anyone wants to t

[2021-01-19 19:16] stalgiag commented on #4998
What purpose is prettier serving? I don't use it in personal projects so maybe I am missing something but I think ESLint can auto-fix all of our style rules now.

[2021-01-19 19:22] stalgiag commented on #4993
When I test on Mac OS 10.15.7 with Firefox 84.0.2 the image is transparent with the `.map` modification of its pixels. For example in [this slight modification of your example](https://editor.p5js.org/stalgiag/sketches/hMJIW-tHH), I only see blue. Am I missing something?

[2021-01-19 19:41] aferriss commented on #5001
@stalgiag No worries at all! I just wasn't sure if this was a valid way of implementing this feature since it feels little bit hacky to me. I went ahead and wrote a tiny shader that does rounded corners so if someone has the time and initiative it shouldn't be too much work to drop this in.

https://www.shadertoy.com/view/ttKcDD

[2021-01-19 20:04] lm-n commented on #5000
@choxi thanks for the quick fix! @stalgiag we might find more WebGL related issues with accessibility since it was designed to support 2d shapes. let's keep an eye on those  👀  :)

[2021-01-19 23:06] #5000 closed

[2021-01-20 03:45] HedonisticOpportunist commented on #4999
@limzykenneth Thanks for trying to help anyway. I've found a somewhat workable solution by using https://github.com/Lartu/p5.clickable.

[2021-01-20 11:45] limzykenneth commented on #4993
@stalgiag If I change the second to last line in your modified sketch and instead of mapping all values to 0, map all to 255, I still only see blue where I'm expecting a white square on blue background.

[2021-01-20 11:47] limzykenneth commented on #4999
Yeah, unless you can find a way for us to replicate the problem it's hard for us to diagnose it. Maybe the [forum](https://discourse.processing.org) would be better help in this case.

[2021-01-20 11:56] limzykenneth commented on #4998
Prettier in our case is only used as a rule set that we send to eslint that actually does the linting and fixing for us, so in essence we are just using the code style.

[2021-01-20 16:18] stalgiag commented on #4998
I see. Do we use any style rules that can't be managed by eslint? I can't think of any off the top of my head. Single quotes, indent, and max line length can all be managed by eslint without prettier.

[2021-01-20 16:22] limzykenneth commented on #4998
I don't think so, since eslint is pretty comprehensive on its own and prettier is more a case of having something we can point to and say we are following that particular style.

I seemed to remember the documentation mentioning the Airbnb style before we switch to prettier.

[2021-01-20 16:30] stalgiag commented on #4993
Definitely should be a white square and yes it seems to happen on both the canvas and the image when using `map`.

[2021-01-20 16:34] limzykenneth commented on #4993
My theory is that `pixels` is setup to be a reference to the underlying image data array and by reassigning it the reference is replaced and `updatePixels()` is still looking at the underlying image data instead of the `pixels` variable. I haven't look much into the code base so can't say much about what the fix could be though.

[2021-01-21 16:15] johnmusk commented on #5001
I wanna work on it

[2021-01-22 06:41] rt1301 commented on #4816
@limzykenneth  @felipecustodio  if the overflow of text issue on the Element example requires a fix, I would like to work on that.

[2021-01-22 06:47] johnmusk commented on #5001
@stalgiag How can i open p5.js editor in my local copy of p5.js without it how i'm able to know is my change is working or not

[2021-01-22 07:09] johnmusk commented on #5001
@stalgiag shall you explain it more what feature should I have to add and how can I open editor of p5.js in local copy to know change that i made is working or not

[2021-01-22 14:36] Brymer-Meneses commented on #2274
Any update on this issue?

[2021-01-22 18:48] stalgiag commented on #5001
Hi @johnmusk -- even with @aferriss 's example shader, this might be a bit of a difficult issue to tackle in your first time contributing to the codebase unless you have some experience with WebGL and GLSL.

Whether you decide to continue working on this issue or keep an eye out for a smaller issue with a label like 'good-first-issue' or 'level:beginner', you can use [the contributor's docs ](http

[2021-01-22 19:25] fal-works commented on #4988
Re implementation of `windowResized()`, I agree, let's leave it for now.

Re `@return` tag,

Indeed it does, and yes, I understand your concern about the risk of confusing users.
How about this?

[code]

![screenshot 2021-01-23](https://user-images.githubusercontent.com/33595446/105534289-9edc8e80-5d30-11eb-8d6b-1eb7ad575875.png)

Or if `*` looks odd, `Any` instead of `*`?

I also thought of simpl

[2021-01-22 22:01] metacortexplus opened #5005 "Broken link?"
https://github.com/processing/p5.js/blob/b15ca7c7ac8ba95ccb0123cf74fc163040090e1b/src/core/structure.js#L23

Should be saveFrames?

[2021-01-23 08:29] PandaBalls opened #5006 "saveTable issue"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-23 09:02] PandaBalls commented on #5006
only happened in p5.vscode.
It works fine in Processing Desktop IDE

[2021-01-23 09:32] PandaBalls commented on #5006
I tested with 2 version of p5.mini.js
`/*! p5.js v0.10.2 October 14, 2019 */` this works for me .
`/*! p5.js v1.2.0 December 19, 2020 */` this will throw the error.

[2021-01-23 14:25] essence-of-orange opened #5007 "Clipping issues with webGL using .png images on planes"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-23 14:42] essence-of-orange commented on #5007
I've just confirmed that this issue still occurs in the current version of p5: https://pic8.co/sh/l7nzNc.png

[2021-01-23 17:31] johnmusk commented on #5001
@stalgiag ok i wil give my 100%

[2021-01-23 19:52] S1N1C opened #5009 "Objs Rendered in Incorrect Order"
Hi, I am using p5 with matter.js as the render engine...I am running into an issue where as the order being rendered is not the same as the order in code. I will paste and then explain.

`function draw() {

    Engine.update(engine);

  	//ground.show();
    //rightBound.show();
    //topBound.show();
  	cup.showBack();
    for (let i = 0; i < bits.length; i++) {

      if(!bits[i].spawned && time

[2021-01-23 20:55] S1N1C commented on #5009
this is not important for me now...as the cup was static and never needed be updated, I simply created the image above the canvas.

[2021-01-24 15:31] limzykenneth commented on #5005
Yes, it seems to be a typo. Would you like to file a PR to fix this? I can assign the issue to you if so.

[2021-01-24 15:42] limzykenneth commented on #4988
`Any` would be better than `*` in this case though I would have preferred `[boolean]` to match how we are marking parameters as optional and to be clear that usually only a boolean value will be returned. I can see maybe something like typescript would not like that though.

However for the most part, accessibility of the reference will always take priority over machine-readability. If YUIDoc or t

[2021-01-24 15:43] limzykenneth commented on #5009
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2021-01-24 15:43] #5009 closed

[2021-01-24 15:44] limzykenneth commented on #5006
@PandaBalls Can you maybe share a sample sketch? You can set one up with the p5.js web editor then we can test with the same table data as you have if you like.

[2021-01-24 15:48] limzykenneth commented on #4816
@rt1301 Please open a separate issue for that. Thanks.

Closing this issue for now as there are no further follow up to the original issue.

[2021-01-24 15:48] #4816 closed

[2021-01-24 17:58] rt1301 opened #5010 "p5.js Element style example is overlapping with the website text"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-01-25 06:42] PandaBalls commented on #5006
Here is the online editor version.
[SaveTable issue](https://editor.p5js.org/PandaBalls/sketches/Dz8DUXxkY)

[2021-01-25 12:27] metacortexplus commented on #5005
Yes.

[2021-01-25 13:22] limzykenneth commented on #5006
The checks on [this line](https://github.com/processing/p5.js/blob/1.2.0/src/io/files.js#L1730) assumes the table element will be a string and calls a string function on it while it could be other types (numbers on your example) so it fails.

We could add an explicit typecast before that check to make sure everything is casted as a string before continuing, or we can add an additional check if the

[2021-01-25 23:13] stalgiag commented on #5010
Hi @rt1301 thanks for the issue!

I always saw this as intentional. I think the goal is to show that p5.Elements are just like any other DOM Element and can exist visually alongside other elements outside the canvas. I could be mistaken though.

[2021-01-26 02:43] JetStarBlues opened #5012 "Mask documentation should mention that applying masks is destructive"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Undocumented behavior.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [

[2021-01-26 18:00] markof94 opened #5014 "Some gifs break when rendering with image()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-01-26 19:35] akshay-99 commented on #5014
Thanks for reporting. This seems to happen on GIFs that have frames with a delay value of 0ms. So `curDelay` at [line 233 here](https://github.com/processing/p5.js/blob/1.2.0/src/image/p5.Image.js#L233) becomes 0.  Because of this, the calculation for `skips` results in a division by 0 or `NaN`.

Technically the GIF has a frame rate of infinity. From [this StackOverflow answer](https://stackoverfl

[2021-01-27 16:22] stalgiag commented on #5014
@akshay-99 thank you for looking into this!

I think that if `frameInfo.delay` is 0 [when loading](https://github.com/processing/p5.js/blob/1.2.0/src/image/loading_displaying.js#L198) it should become become 100 (or 10 * 10) to give us a fallback standard of 10fps.

Does anyone want to make this change? This could be a good issue to tackle for a first-time contributor.

[2021-01-27 16:42] ShenpaiSharma commented on #5014
Hi, @stalgiag. I want to look into this issue.

[2021-01-27 19:03] stalgiag commented on #5014
great @ShenpaiSharma assigned!

[2021-01-28 01:05] JetStarBlues commented on #4997
When `createGraphics()` is called, the canvas it returns **likely** has all its pixels set to the `color( 0, 0, 0, 0 )`.  The key here is that the opacity is set to 0.

The JPG file format does not support transparency. So that is why it likely renders it as black. If you export it as a PNG, it will render as expected.

[Here is a live demo][0].

[0]: https://editor.p5js.org/acedean/sketches/2FIJn

[2021-01-28 01:14] grege2 opened #5016 "Are there any release notes for p5.js 1.2.0 ?"
Hi team, I've had a good hunt for some release notes on 1.2.0 but not found anything. Are there new features, calls, parameters in 1.2.0 ? Is it a pure bugfix release ? Thanks, and apologies if I have missed something obvious. And Happy New Year, a bit late.

[2021-01-28 06:35] Aloneduckling commented on #4974
@stalgiag I just wanted to know that if this would be correct or not
I haven't tested it yet, but I feel this should work.
[code]
Also, I wanted to confirm if we could use `colorMode()` instead of `this.colorMode()` because `colorMode()` is globally accessible.
PS: I thought to add a comment as no one addressed this issue for quite a while.

[2021-01-28 10:42] myselfhimself commented on #4718
Thank you that some UV texturing example is now on the internet thanks to this issue.
I do believe there should be some piece of documentation on UV mapped textures in p5js.. Should I create an Issue for this?

[2021-01-28 16:21] stalgiag commented on #4974
Hi @Aloneduckling and @vulongphan ! It might be just a bit more complicated than that because we want this to work in instance mode (so we should use `this.colorMode()`) and we don't want to lose the programmer's previous colorMode so we need to store that beforehand.

Something like this might work but this is untested:
[code]
The same thing could be accomplished a bit easier by doing `this.push(

[2021-01-28 16:25] stalgiag commented on #4718
I think this is a dupe of #4866 where we are looking for someone to make the UV flip during model loading. Should be somewhat simple if you want to give that a shot.

[2021-01-28 16:30] stalgiag commented on #5015
Hi! Thanks for the issue.

I think this may be similar to #4183 . But I also notice that you are drawing everything at 0 on the z-axis. You could try separating everything out a bit on the z-axis (even tiny values like plus or minus 0.01) and that would likely fix the depth fighting on mobile.

[2021-01-28 19:34] myselfhimself commented on #4718
OK thank you!

čt 28. 1. 2021 v 17:25 odesílatel Stalgia Grigg <notifications@github.com>
napsal:

[2021-01-28 20:20] myselfhimself commented on #4866
The added PR is ready for testing

[2021-01-28 23:11] myselfhimself commented on #4866
Here is a duplicated arm scene with a patched p5.js (uncompressed so 3.7MB)
https://editor.p5js.org/myselfhimself/sketches/yr8IQoK5I
This is indeed fixes the non-inverted V texture coordinate problem, and does not require you to for-loop and fix that in sketch.js

However, the capsule example with that patched p5.js file leads to a vertically flipped UV mapping visually:
https://editor.p5js.org/my

[2021-01-29 01:41] lmccart commented on #5016
There are not, sorry!

[2021-01-29 07:49] zachmohammed opened #5019 "@all-contributors please add @zachmohammed for code"
@all-contributors please add @zachmohammed for code

[2021-01-29 10:30] Aloneduckling commented on #4974
@stalgiag Here is the code I wrote. I think it is working; please find the gif below. Is this code ok?
[code]
![asas](https://user-images.githubusercontent.com/54030684/106262836-906b0700-6249-11eb-83ea-eea79e5d0f43.gif)

[2021-01-29 13:27] stalgiag commented on #4974
Hi @Aloneduckling that is good. I realize that the `colorMode` restoring should probably only happen in instances where `colorMode` isn't set to default. So this should be checked first. `lights()` will often run in `draw()` and it is probably better to avoid the array copy when possible.

But this should also be for @vulongphan to try first if they want. Issue assignments are first-come, first-se

[2021-01-29 13:30] stalgiag commented on #5019
Hi @zachmohammed -- welcome to the repo! You can only be added to @all-contributors by members of the project. I am closing this for now.

Also -- I see that you have an open PR, which is a good way to get added to all contributors. I will respond with relevant info in that PR.

[2021-01-29 13:31] #5019 closed

[2021-01-29 13:42] stalgiag commented on #4866
closed with #5017

[2021-01-29 13:42] #4866 closed

[2021-01-29 14:45] myselfhimself opened #5021 "Add independent loadModel() U and V flipping flags"
Hello,

### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
The feature suggests adding extra parameters to loadModel() so that OBJ files can have their U and/or V texture coordinates flipped, in order to fine-tune flipped texture displays.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Acces

[2021-01-29 15:21] Aloneduckling commented on #4974
@stalgiag Great! @vulongphan can work on this. I am here to contribute and learn, I will be hunting other issues.

PS. The documentation is very good and is helping me a lot.

[2021-01-29 20:14] nakul-shahdadpuri commented on #4854
Hi @limzykenneth @devangmukherjee , Is it okay if I try my hand at this ?

[2021-01-29 21:45] grege2 commented on #5016
Hi Lauren. So it's a bugfix release, nothing new to try ?

[2021-01-29 21:51] lmccart commented on #5016
There may be new things... I'm so deeply deeply underwater, no ability to write anything up, but when I do, I am normally just pulling from the commit history, so you could look there.

[2021-01-29 22:01] grege2 commented on #5016
Ok, thanks. I did have a look, but not very thoughly, will look more better. Glad you're busy! Ciao.

[2021-01-29 22:01] #5016 closed

[2021-01-29 22:02] lmccart commented on #5016
thanks for your understanding 🙏  aiming for a better record with next release!

[2021-01-30 01:06] #5006 closed

[2021-01-30 13:23] DivyamAhuja commented on #4993
@limzykenneth Yes, this seems to be the case.
pixels is just reference to imageData data and reassigning it will just reassign the reference not change the actual data.
https://github.com/processing/p5.js/blob/f2f8bb12e4969e620b1d397f3e386289bc1a73b6/src/core/p5.Renderer2D.js#L292
https://github.com/processing/p5.js/blob/f2f8bb12e4969e620b1d397f3e386289bc1a73b6/src/core/p5.Renderer2D.js#L395

[2021-01-30 15:50] limzykenneth commented on #4854
I'm not sure whether to classify this as a breaking change or not. If it's a breaking change it will be harder to incorporate this change, if it is a bug fix(?) then adding then change won't be a problem.

[2021-01-30 15:52] limzykenneth commented on #5012
I don't quite follow how this differ from photo editing software where adding one mask on top of another does have the effect of stacking the two masks instead of just having the effect of the last applied mask?

[2021-01-30 22:07] sflanker commented on #3651
Just FYI, there are issue with both the webGL and canvas renderers. Both seem to work fine with just a single instance, but are broken when there are multiple instances on the same page. Here's a jsfiddle with the repro: https://jsfiddle.net/sflanker/nxzhp3bq/1/

[2021-01-31 00:15] sflanker opened #5022 "Ability to specify vertex normals when drawing 3d shapes with beginShape and vertex"
Currently 3d shapes drawn using beginShape/vertex/endShape have all vertexes assigned a normal of `(0, 0, 1)`. When drawing custom geometry with these functions it should be possible to specify the normal vector for each vertex.

### How would this new feature help [increase access]

Individuals learning the fundamentals of 3d computer graphics for the first time would benefit from being able to u

[2021-01-31 00:16] sflanker commented on #5022
I've made a POC implementation here: https://github.com/sflanker/p5.js/compare/main...sflanker:vertex-normals

If there's a willingness to accept a PR for this feature I am happy to put more effort into this.

[2021-01-31 08:46] sosunnyproject opened #5023 "Found a Typo in Korean Version of Reference Page"
Hi, there's a typo in https://p5js.org/ko/reference/#/p5/bezier korean version of reference page..
The explanations of parameters are mixed up a little bit.

I can make a pull request if you want! I just can't find its original github repo file to fix the translation typo. It'd be great if you could help me finding the file to edit and make PR to.

Below is the **corrected** version of bezier() pa

[2021-01-31 11:48] limzykenneth commented on #5023
Hi @sosunnyproject, the translation file for the reference is over on the website repo [here](https://github.com/processing/p5.js-website/blob/main/src/data/reference/ko.json). You can file a PR against that repo to fix this. Thanks!

[2021-01-31 14:54] sosunnyproject commented on #5023
@limzykenneth awesome, thanks! will make PR there! I will close this issue then!

[2021-01-31 14:54] #5023 closed

[2021-02-01 04:55] ricoloic opened #5024 "p5.Vector object error"
#### Issue with p5.Vector object > p5.js

- [x] IO (Input/Output)
- [X] Utilities
- [X] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Brave | 1.19.88 Chromium: 88.0.4324.96 (Official Build) (64-bit)
- Operating System: Microsoft Windows 10 Home - 10.0.18363 build 18363
- Steps to reproduce this: [clone the repo then run](https://github.

[2021-02-01 15:27] johnmusk commented on #5014
@ShenpaiSharma are you working on this if no than plz assigned it to me

[2021-02-01 15:30] johnmusk commented on #5014
@ShenpaiSharma if you are not working on this plz assigend it to me

[2021-02-01 15:47] ShenpaiSharma commented on #5014
I'm sorry, @johnmusk. I had my semester quiz in the past few days; that's why I was busy. I still want to give it a go. If I am not able to do it, then I will certainly inform you.

[2021-02-01 17:02] johnmusk commented on #5014
@ShenpaiSharma No worry take your time bro

[2021-02-01 17:48] vinayaksh42 commented on #5024
Hey, I would like to work on this issue

[2021-02-01 18:39] myselfhimself commented on #5021
I would go for an configuration object as to the flipU, flipV  additional parameter, similar to the options one in:
https://p5js.org/reference/#/p5.Font/textToPoints

[code]

Such a key-value object helps adding other fancy options for the future without always increasing loadModel()'s parameters number. That other objects may also be a sort of symbol for options that do not originate from Process

[2021-02-01 22:00] JetStarBlues commented on #5012
@limzykenneth The difference here is that the original image itself is permanently changed. In photo editing software, the original image is never altered. This allows you to toggle a mask (or many masks) on or off. (The mask is like a layer).

Whereas when you do `myImage.mask( myMask )`, `myImage` is permanently changed. You cannot "remove" the mask. (As such if you want to keep the original ima

[2021-02-02 12:13] satyasaibhushan commented on #5024
Hey,
I am looking through your issue and found out that the link provided for your repository is not working.I think you've kept your repo private.
Could you please provide the new link?

[2021-02-02 13:58] ricoloic commented on #5024
sure sorry again

Le mar. 2 févr. 2021 à 07:13, Sai Bhushan <notifications@github.com> a
écrit :

[2021-02-02 14:00] ricoloic commented on #5024
There you go it's public now

Le mar. 2 févr. 2021 à 08:58, loic rico <ricoloic4@gmail.com> a écrit :

[2021-02-02 14:26] ricoloic commented on #5024
https://github.com/ricoloic/flowField

[2021-02-02 14:52] satyasaibhushan commented on #5024
Hey, @ricoloic

I don't think that this is a issue in p5.js
In your file, `flow.js` you've set the values of a vector as
`this.vec = 0`
but in `particle.js`  you're trying to add force as a whole. try adding it as
 `this.acc.add(force.vec);`

#### I think this solves your problem. Please check and update me 😃

[2021-02-02 15:05] vulongphan commented on #4974
Thank you @stalgiag and @Aloneduckling for your help in assisting me to tackle this issue. My code is built upon the solution presented by @Aloneduckling but I carry out the check for whether the `colorMode` is already in default mode
[code]
This gives the desired result.
@stalgiag  if you think this is okay, I will open a PR.
Thank you!

[2021-02-02 15:12] ricoloic commented on #5024
Thx, I'll let you know. If it's just this I'm sorry in advance for the waste of time.

[2021-02-02 15:25] stalgiag commented on #4974
Yeah definitely feel free to open a PR @vulongphan . Good work team!

[2021-02-02 15:26] #5024 closed

[2021-02-02 15:27] #5014 closed

[2021-02-02 15:32] ricoloic commented on #5024
Sorry again for the waste of time

[2021-02-02 15:32] stalgiag commented on #5021
Thanks @myselfhimself! I agree that an object literal parameter would be a good idea here. I can see more parameters being added to `loadModel()` in the future and there are already quite a few. I wonder if `fileType` should be part of the `options` parameter.

[2021-02-02 15:44] stalgiag commented on #5022
Hi and welcome @sflanker ! I agree that this could be useful, especially in educational contexts when trying to introduce students to the basic behavior of normals. Your draft implementation looks good too. It would need to account for `push()` + `pop()`, add documentation, and some simple testing but is a great start.

Since this is adding a new method to the library, I'd prefer to get more opini

[2021-02-02 16:01] shreyan-invalid commented on #2865
Hey if this issue is open I would like to contribute.

[2021-02-02 16:08] lmccart commented on #2865
hi @shreyan-invalid yes, you are welcome to work on this!

[2021-02-03 01:42] danawoodman opened #5029 "Stroke opacity for HSB not working?"
Thanks for a great library!

Should HSB allow for transparent stroke? From what I can tell, this is not working. Here is an example:

https://editor.p5js.org/danawoodman/sketches/7cT0qwAo-

[code]

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Fri

[2021-02-03 06:42] satyasaibhushan commented on #5029
hey @danawoodman ,
from what I understand, you are asking that the stroke with the HSB colour mode should be transparent but the output stroke is dark (alpha :255) . Did I get this right?

[2021-02-03 12:20] myselfhimself commented on #5021
Thanks for commenting
Indeed fileType could force the parser to interpret some file without
extension to be detected as something specific (obj, stl..), such as a blob
downloaded or from some remote server or badly named.. I wonder if that
should be dealt with in a different issue or this one; the amount of code
may not be that big though for it, so we might want to rename the present
issue to "Ad

[2021-02-03 12:45] limzykenneth commented on #5029
In HSB color mode the alpha value goes from 0-1 instead of 0-255 in RGB mode. You can change this range by providing additional arguments to `colorMode()` (eg. `colorMode(360, 100, 100, 255)`)

[2021-02-03 13:53] waitblock opened #5030 "Extra code block header on wiki page"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other - Wiki

#### Feature enhancement deta

[2021-02-03 14:14] bwanaaa opened #5031 "Using non-default camera with createVideo(CAPTURE)"
I read this old thread
https://github.com/processing/p5.js/issues/1043
but it is closed.
Has the problem been solved?
I cannot access the camera on a jetson nano.

### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build too

[2021-02-03 14:22] clankill3r opened #5032 "loadImage can brake the whole sketch"
If you take the default example and add this:

[code]

Then you get, as expected "mp4 you idiot!" and "p5.js says: It looks like there was a problem loading your image. Try checki....".

I know this is plain stupid, but it also means a corrupt image can break a whole sketch.

[2021-02-03 14:39] limzykenneth commented on #5031
Does providing the `constrain` options object solve your use case? You can try the second example [here](https://p5js.org/reference/#/p5/createCapture).

[2021-02-03 14:42] limzykenneth commented on #5030
Fixed. Thanks!

[2021-02-03 14:42] #5030 closed

[2021-02-03 20:06] Julianiolo commented on #4983
I dont know if this helps, but I've come across a very similar problem:
I have almost the same setup except that I use WEBGL. With that however nothing I tried (like fill() stroke() or background()) could make the sketch work. It gives the exact same Error message.
I mostly used code from [p5.js shaders](https://itp-xstory.github.io/p5js-shaders/#/./docs/why-use-shaders) shader-performance, wich a

[2021-02-04 02:48] bwanaaa commented on #5031
I tried this code in the sketch:

[code]

got a black screen but no video. Console said this:

p5.js:47875 > p5.js says: image() was expecting p5.Image|p5.Element for parameter #0 (zero-based index), received an empty variable instead. If not intentional, this is often a problem with scope: [https://p5js.org/examples/data-variable-scope.html] at http://localhost:5000/sketch.js:22:3. [http://p5js.o

[2021-02-04 08:05] sflanker commented on #5022
Great, I had thought that [this line](https://github.com/sflanker/p5.js/compare/main...sflanker:vertex-normals#diff-1cce16cd40ae5c1b4197276831fbee402c44f3023dc40454941e11f3f337b8deR1032) would be all it took to implement push/pop support. Right there with you on documentation and tests though.

[2021-02-04 13:32] ffd8 commented on #2154
Just ran into this issue with a student, trying to load a giant JSON array of records from Zotero, which really tripped me up (same as mentioned in #2290). Using the method above, `Object.values(data)` worked great, but required searching for `p5js loadJSON as array` to stumble across these issue tips. The reference for `loadJSON()` clearly states:

Is it possible (maybe already) to set a param to

[2021-02-04 13:59] ffd8 commented on #3691
This was marked as fixed, but I continue to run into this issue when using `randomSeed()`. [Here's an example](https://editor.p5js.org/ffd8/sketches/srZyWnjXJ) to play with. The very first call of random is always the same regardless of the seed.. after that first call, works as expected. The only work around I've found is to 'burn' a first `random()` so it works as expected on all other uses. Noo

[2021-02-04 15:06] limzykenneth commented on #2154
@ffd8 I've tried everything I can think of but there's just no way to return an array from the function due to the async nature of AJAX and how Javascript handles (or doesn't handle) references.

If you don't mind an extra step to convert the object into a proper array, you can use `Array.from()` with a mapping function as the second argument shown [here](https://developer.mozilla.org/en-US/docs/W

[2021-02-04 15:11] limzykenneth commented on #3691
@ffd8 We could potentially switch the PRNG we are using but there are some implications about it being a breaking change.

[2021-02-04 15:15] limzykenneth commented on #5031
I think in your use case you need may need to provide `{ video: { deviceId: myPreferredCameraDeviceId } }` as well. Does the webcam on your device work on other websites out of the box?

[2021-02-04 15:51] ffd8 commented on #2154
@limzykenneth Had a quick look at the `loadJSON()` function, specifically [where items are indexed](https://github.com/processing/p5.js/blob/a765b3675b70c4bb0677924647cdadf7a27e32c4/src/io/files.js#L160) into `ret` obj and if it's not too hacky.. wonder if this `ret` should be manipulated [juust before returning it](https://github.com/processing/p5.js/blob/a765b3675b70c4bb0677924647cdadf7a27e32c4/

[2021-02-04 16:01] limzykenneth commented on #2154
The problem is that the object will be returned before any info about the requested JSON is available, so we won't have anyway to make any checks that relies on any values returned from the AJAX request before returning the `ret` object, and once the data has returned, `ret` cannot be reassigned, ie. `ret = Object.values(ret)` will not work as this reassignment will not be reflected in the return

[2021-02-04 18:25] Prateek93a commented on #4092
It might be late to comment on this, but since the difference in `img.filter(BLUR)` and `filter(BLUR)` is still noticeable, hence I would like to put forward my take on this.

I think this is an expected behaviour. Calling `img.filter(BLUR)` calculates the pixel values for the image only. After that the updated pixels are placed on the canvas.

On the other hand, first drawing the image on the can

[2021-02-04 21:55] stalgiag commented on #5022
Ah yes! Sorry somehow missed that line when glancing.

[2021-02-04 23:07] bwanaaa commented on #5031
If I plug a webcam into the usb port of the jetson, it works fine. I cannot however get p5js to use the camera plugged into the slot on the board. The only way I can get video out of that camera is to use gstreamer. -.

If I use v4l to list devices:
[code]
It is clear the camera I want to address is /dev/video0
My sketch is
function setup() {
  createCanvas(480, 480);
  capture = createCapture({ v

[2021-02-04 23:40] bwanaaa commented on #5031
I also tried using a constraints object like this:

[code]
regardless of using deviceId: 0
or
deviceId:1

I always get the same video-that from the webcam plugged into the usb port.
How can I address the camera using the slot on the board with p5js?

[2021-02-04 23:46] limzykenneth commented on #5031
Can you show the output of running the following:

[code]

[2021-02-04 23:50] bwanaaa commented on #5031
[code]

[2021-02-04 23:51] bwanaaa commented on #5031
weird, p5js is not seeing the onboard camera.

[2021-02-04 23:58] bwanaaa commented on #5031
If I unplug the usb webcam I get this:
[code]

[2021-02-05 00:16] bwanaaa commented on #5031
I also tried to list the sources using the code from here:

https://github.com/ITPNYU/ICM-2015/blob/master/09_video_sound/02_capture/13_get_sources/sketch.js

[code]
and this output to console

[code]

[2021-02-05 00:34] bwanaaa commented on #5031
I dont think there is a simple solution to this.
https://forums.developer.nvidia.com/t/using-p5-js-with-jetson-nano/167250
That forum in particular reveals a lot of people having trouble managing the CSI camera.
Since I have p5js working with a regular usb webcam, I'll stick with that for now.

[2021-02-05 12:57] limzykenneth commented on #5031
Yeah, if the browser itself have problems seeing the webcam there's not much p5.js can do either. I'm going to close this for now.

[2021-02-05 12:57] #5031 closed

[2021-02-06 12:06] Prateek93a commented on #4667
@joemckay5  The problem is the line ` colorMode(RGB);`. When you call `saturation(detectedColor)`, internally a check is made to see if the current color mode is `hsb` or `hsl`. The way that code is written causes the value of saturation to be calculated according to `hsl` when the current mode is `rgb`, hence you are getting different saturation value than expected.

This issue is not faced while

[2021-02-06 14:49] harplife opened #5034 "erase() throws Uncaught TypeError on Graphic"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-07 06:15] karenanndonnachie commented on #4992
Great, where do I (we) start?
anyone interested in contributing to writing a library for this?
Happy to contribute where i can, but have never made a library before...

[2021-02-07 10:02] tobyhoward opened #5035 "getURLParams() reference clarification"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-02-07 11:19] limzykenneth commented on #4992
You can read about creating addon libraries [here](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md).

[2021-02-07 16:32] XikoCat opened #5036 "textWidth() returns wrong value for strings with "\n""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-07 17:21] stalgiag commented on #5034
Thanks for the thorough issue! @lm-n any thoughts on this problem? Likely related to #4983

[2021-02-07 23:03] giovannone opened #5037 "Problem Scaling Graphics"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-09 12:31] nullify0000 opened #5038 "Using clear() every frame"
I'm clearing my pixel buffer every frame using clear() (every 16ms for 60fps), but it's using a lot of my cpu, is there a better and more efficient way to clear the canvas?

Other than that, p5.js has done wonders for me and I love it <3

Thanks in advance.

[2021-02-09 14:58] limzykenneth commented on #5038
`clear()` isn't a very complex operation and shouldn't be taking that much CPU. Can you share a minimal code example that shows the problem?

[2021-02-09 15:02] limzykenneth commented on #5037
To scale using CSS the syntax is `mycanvas.elt.style.scale = 0.7`.

If you need further help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2021-02-09 15:02] #5037 closed

[2021-02-11 08:10] Ajaya1000 commented on #5036
Hi, I'm new to open source contributions.
I'm interested to work on this issue.

[2021-02-12 07:54] ManavNayak opened #5039 "Touch screen Problem"
Hi team, this is Manav. I use editor.p5js which is really good. I am working on a game to upload in Google Play Store. I uploaded this project to GitHub to test it on all devices. It worked on computer but when I tested it on my tablet and mobile the buttons don't function. I use the mousePressedOver() function. But it doesn't work on touch screen devices. So, do you have any solution to this prob

[2021-02-12 08:15] ManavNayak commented on #5039
What do u mean ???

[2021-02-12 17:58] limzykenneth commented on #5039
There isn't a mousePressedOver() function in p5.js. Can you fill in the issue template that is provided when creating an issue? It would be helpful for us to debug what your problem might be. Thanks.

[2021-02-12 19:15] montoyamoraga opened #5040 "add @satyasaibhushan as contributor"

[2021-02-12 19:17] montoyamoraga commented on #5040
@all-contributors please add @satyasaibhushan for code and docs

[2021-02-12 19:25] montoyamoraga commented on #5040
@all-contributors please add @satyasaibhushan for code and docs

[2021-02-12 19:25] #5040 closed

[2021-02-13 06:27] jbakse opened #5042 "blendMode() documentation"
Hello Team.

I'm not sure which template to use for documentation issues. Let me know if I should submit it differently.

In the documentation for blendMode some of the blending equations are given like this:
[code]
Before the multiplication there is a `\`. I think that character should not be there. Probably an unneeded escape?

Also, is the BLEND equation right? Maybe it should be C = A*factor +

[2021-02-14 08:47] sarthak-g opened #5043 "[Question] connect p5 with cordova"
p5.AudioIn() does not work when build app using cordova. Therefore, I've used [cordova plugin](https://github.com/edimuj/app-audioinput-demo) to receive microphone audioContext. Now, I want to connect above context as input to p5.fft to visualize waveform.
How can I achieve this?

[2021-02-14 23:04] seldomU opened #5045 "Documentation for filter method is partly missing"
Hello,

there are two filter methods, one for the [canvas](https://p5js.org/reference/#/p5/filter) and one for [images](https://p5js.org/reference/#/p5.Image/filter). The documentation for the canvas filter method has a description of the different filter types and what the filterParam means for each type. The image filter docs are missing this description, but reference it as "see above".

[2021-02-15 12:17] limzykenneth commented on #5043
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2021-02-15 12:17] #5043 closed

[2021-02-16 11:45] ManavNayak commented on #5039
Ok, by the way there is one a mousePressedOver() function

[2021-02-16 11:45] #5039 closed

[2021-02-16 17:53] rt1301 commented on #5045
@limzykenneth @montoyamoraga @seldomU  Is this issue open? I would like to work on this if possible

[2021-02-16 18:21] montoyamoraga commented on #5045
hi @seldomU thanks for pointing it out,
@rt1301 thanks for offering working on it, of course, i will go ahead and assign you

[2021-02-17 15:52] micuat opened #5046 "tint fails in 2d canvas with webgl p5.Graphics"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-17 17:38] EunieceHarris opened #5047 "loadJSON not reading URL"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details a

[2021-02-17 19:51] montoyamoraga commented on #5047
hi @EunieceHarris :)

i went to the URL and it's supposed to return some data from Giphy, but it was empty,
so there must be something wrong on the URL

also, keys are like passswords and they are supposed to be private,
i suggest continuing using your current one for testing, and then deleting it and creating a new one,
so that it continues being secure :)

could you please redirect your question

[2021-02-17 19:51] #5047 closed

[2021-02-17 19:56] montoyamoraga commented on #5047
hey @EunieceHarris i tried some of the Giphy API examples again,
and i noticed how on the docs the parameters are in a very particular order,
and then i double checked your query, and i tried with inverting, first the api key, then the query,
and it worked, now i see data as a result, so it should be easy to parse with p5.js yay :)
https://api.giphy.com/v1/gifs/search?api_key=3G13FDn952JRiNJhIGeOa

[2021-02-17 19:58] EunieceHarris commented on #5047
Interesting. Everytime I use loadJSON with another API, I still get the same error message. Here's another one for example:

`function setup() {
  // createCanvas(400, 400);
  loadJSON("http://api.open-notify.org/astros.json", gotData, 'jsonp');
}

function gotData(data) {
  console.log(data);
}

function draw() {
  //background(220);
}`

[2021-02-17 20:00] EunieceHarris commented on #5047
Thanks for your help though. I'll post my question in the forum as instructed.

[2021-02-17 20:08] montoyamoraga commented on #5047
@EunieceHarris thanks for understanding,
here we try to make the code and the documentation,
and the forum it's easier to navigate, and all the discussions over there
make it easier for everyone to use and share :)

i fixed several things on your code, including:
* updated from "var" to "let"
* you are doing noCanvas(), so i deleted the background() call
* you were trying to parse it as "jsonp", i

[2021-02-17 20:12] EunieceHarris commented on #5047
Hopefully, this is my last question. Why use 'let' instead of 'var'? Thanks again!

[2021-02-17 21:07] montoyamoraga commented on #5047
i think this article explains it well
https://www.freecodecamp.org/news/var-let-and-const-whats-the-difference/
when i started with JavaScript we used var, and now i use let for variables
and const for constants, i hope that helps!

[2021-02-18 00:24] NathanStrutz opened #5048 "Offline reference documentation is missing "all.css""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) - **Documentati

[2021-02-18 04:33] rt1301 commented on #5045
@montoyamoraga Would it be better to transfer this issue to the p5.js-website repository? cause it looks like an issue regarding the website documentation.

[2021-02-18 04:39] rt1301 commented on #5048
@montoyamoraga  @limzykenneth  @NathanStrutz  I would like to work on this issue if possible. This issue is related to the p5.js-website project in my opinion so I think it would be more suitable to transfer this issue there. Thanks!

[2021-02-18 10:14] limzykenneth commented on #5045
The documentation for p5.js is written as inline comments and maintained along side the source code so this issue fits better here. You can have a read about how it works [here](https://github.com/processing/p5.js/blob/main/contributor_docs/inline_documentation.md).

[2021-02-18 12:24] Nolski commented on #2865
Hi!
I'm working with [W. Michelle Harris](https://www.rit.edu/directory/wmhics-w-michelle-harris) to help improve the experience of contributing learning materials for p5.js as a part of our [Open Programs Office](https://www.rit.edu/research/open). We have a team of designers, technical writers, and developers to help us do this as well. Some things we were hoping to potentially help out with and

[2021-02-18 17:36] lmccart commented on #2865
Hi @Nolski, this is wonderful! It would be very helpful to the project. I'd be happy to chat with you about this. I'm in an extreme zoom overload state these days, could we possibly discuss via email? You can write to hello@p5js.org and it will come through to me.

[2021-02-18 21:25] stalgiag commented on #5046
Thank you @micuat !

This problem is fixed and grunt passes if [the function here](https://github.com/processing/p5.js/blob/main/src/image/filters.js#L34) is changed to:
[code]

This isn't ideal for a few reasons, it uses `getContext` to check whether the context is 2D or 3D. It also reproduces much of the code from `loadPixels()` which is more efficient because it checks for an existing pixel cac

[2021-02-19 14:38] AndrewAung11 commented on #2865
I saw a space in the [reference page](https://p5js.org/reference/) under the [foundation](https://p5js.org/reference/#group-Foundation). But under other header I didn't see any space. Is it a bug or something else? Just letting you know.
![image](https://user-images.githubusercontent.com/64914752/108517900-5e077380-72f6-11eb-8dd8-01c6979dc610.png)

[2021-02-19 23:11] briansostek opened #5050 "Add 'step' attribute to createInput() function"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
This feature will allow coders to implement number type input that supports decimal numbers or floating point numbers.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Envir

[2021-02-20 07:24] dgrantham01 opened #5051 "mediaElement.time(time) returns to beginning not to specified time"
- [x] Other Video media Element

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Chrome Version 88.0.4324.182 (Official Build) (x86_64)
- Operating System: MacOSX 11.2
- Steps to reproduce this:

The p5.MediaElement.time() command when given a time in seconds should jump the video to the specified time. Instead it jumps back to the beginning i.e. time = 0. See refere

[2021-02-20 11:05] limzykenneth commented on #5050
The step attribute can be added with the [`attribute()`](https://p5js.org/reference/#/p5.Element/attribute) method in `p5.Element`.

[2021-02-20 15:39] catkane-doodles commented on #4983
Also facing a really similar problem, using 1.20 both with or without WEBGL on Brave browser on Arch Linux.

![image](https://user-images.githubusercontent.com/43806522/108600941-dd6b7480-73d4-11eb-9bf9-ce7a34e96397.png)

[2021-02-20 22:27] klavsbuss commented on #4630
+1

[2021-02-20 22:34] bobcgausa commented on #4630
Try my p5 import library for svg, no export though

https://editor.p5js.org/Bobcook47/present/Dk3Osbx3z

Sent from my iPad

On Feb 20, 2021, at 5:28 PM, Klavs <notifications@github.com> wrote:

﻿

+1

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/processing/p5.js/issues/4630#issuecomment-782758951>, or unsubscribe<https://github.

[2021-02-21 11:44] amzon-ex commented on #4469
I'm having the same issue and I'm using the minified version from the cdn. 55-60 fps on pc and 5-6 fps on a mobile device (Android, Chrome 88). What should I do?

[2021-02-21 12:42] ShenpaiSharma commented on #5046
Hi, @stalgiag, I would like to work on this.

[2021-02-21 12:43] #5045 closed

[2021-02-21 12:45] montoyamoraga commented on #5046
hi @ShenpaiSharma we assigned this issue to you,
please link it when you submit a PR, good luck, and thanks!

[2021-02-22 04:16] johnmusk commented on #5010
i would like to work

[2021-02-22 16:23] mishazawa commented on #4469
@amzon-ex

Post example of code which reproduce this behaviour.

[2021-02-22 16:33] amzon-ex commented on #4469
@mishazawa Thanks for responding. Here's the code: https://github.com/amzon-ex/amzon-ex.github.io/tree/master/dp-sketch-stripped

If you need it, you can view the animation here: https://amzon-ex.github.io/dp-sketch-stripped/dp-sketch.html

[2021-02-22 16:34] lmccart commented on #2865
@AndrewAung11 yes this could be considered a bug. If you are interested in working on it, you are welcome to!

[2021-02-22 17:00] rt1301 commented on #5010
@limzykenneth  Can you suggest whether this enhancement is required? If it does, I would like to work on it

[2021-02-22 22:14] partyshah opened #5053 "Sound Library not working"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-22 22:28] montoyamoraga commented on #5053
hi @partyshah
please refer to our getting started guide,
in particular the section about setting a local server,
https://p5js.org/get-started/
or i recommend using our web editor instead, best!

[2021-02-22 22:28] #5053 closed

[2021-02-23 04:57] AndrewAung11 opened #5054 "A space in the reference page under the foundation."
I saw a space in the [reference page](https://p5js.org/reference/) under the [foundation](https://p5js.org/reference/#group-Foundation). But under other header I didn't see any space. Is it a bug or something else? Just letting you know.
![image](https://user-images.githubusercontent.com/64914752/108517900-5e077380-72f6-11eb-8dd8-01c6979dc610.png)

_Originally posted by @AndrewAung11 in https://gi

[2021-02-23 05:03] amanMahendroo commented on #4993
Hi. This does not seem to be a bug in the code. The reason that the pixel update doesn't work is that the img.pixels array is a UInt8ClampedArray and not a regular javascript array. Hence it doesn't have the `Array.prototype.map()` function associated with it. You can update the image's pixels by using a for-loop or by using the set() function in the p5.js library.
The blue screen that appears on

[2021-02-23 05:06] AndrewAung11 commented on #5054
Sorry, This issue should be in other repository.

[2021-02-23 05:06] #5054 closed

[2021-02-23 10:44] limzykenneth commented on #4993
`UInt8ClampedArray` does have a [`map`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/map) method but that is not the key for this issue. Even not using `map()` (which is my original use case but it's too complicated to share), I can create a new `Uint8ClampedArray` say called `newPixels`, if I assign `pixels = newPixels`, `updatePixels()` will not pop

[2021-02-23 10:50] DivyamAhuja commented on #4993
@limzykenneth As I mentioned in above comment https://github.com/processing/p5.js/issues/4993#issuecomment-770212088 , I think pixels (property / variable ) is just a reference to image data array which renderer is using internally and updating using that, and reassigning pixels array with map() or something else just makes pixels reference to other array and internal image data array is not getti

[2021-02-23 10:52] limzykenneth commented on #4993
@DivyamAhuja Yes, that's what I was saying.

[2021-02-23 10:58] DivyamAhuja commented on #4993
Yes, fixing this can be troublesome, exposing internal data array to user, and I don't know if user assigns array of wrong size, will it create unnecessary error too.

[2021-02-23 11:17] DivyamAhuja commented on #4993
Maybe, we can add a check if pixels array is pointing to ` imageData.data ` , and if it's not we can add some checks about size and all , if alright will copy data to  `imageData.data` array else show user an error.

[2021-02-23 18:40] orgicus commented on #1585
Just wanted to post a hacky workaround (sampling/redrawing the low-res image): https://editor.p5js.org/george.profenza/sketches/3nLBvI_vA

[2021-02-23 18:50] limzykenneth commented on #4993
I'm thinking instead of referencing `imageData` directly [here](https://github.com/processing/p5.js/blob/main/src/core/p5.Renderer2D.js#L395) we can just somehow retrieve the `pixels` variable via something like `this.pixels` and just create a new `imageData` object to pass in. The code will be simpler as there's no need for additional identity checks.

Checking the pixels array provided and using

[2021-02-24 03:15] amanMahendroo commented on #4993
I would like to work on this. Could you please suggest how I should get started?

[2021-02-24 09:35] AndrewAung11 opened #5056 "Add documentation for p5.Camera properties"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-02-24 17:22] montoyamoraga opened #5057 "add satyasaibhushan as a contributor"

[2021-02-24 17:23] montoyamoraga commented on #5057
oops, this is already done ~

[2021-02-24 17:23] #5057 closed

[2021-02-24 21:57] #5050 closed

[2021-02-24 22:02] limzykenneth commented on #5051
For me the reference example seems to be working correctly, do you have your example code running somewhere (the p5.js web editor for example) that we can run with the video you are using?

[2021-02-24 22:09] limzykenneth commented on #5032
The preload counter is not decremented in the case of an error. It can perhaps be made so that if the error callback is provided the sketch continue to run. I'm just not sure how this can be considered a breaking change or not.

[2021-02-24 22:12] limzykenneth commented on #5042
I think those are indeed unneeded escape.

I'm not familiar enough about the BLEND equation though. It basically should be the `source-over` algorithm used by HTML canvas itself.

[2021-02-24 22:39] dgrantham01 commented on #5051
Weird. I uploaded the sketch to  https://thedanielgrantham.com/p5VideoTest/index.html and it seems to be working. It must be something with the media command from the python simple http server I was running it through locally. Thank you for your help.

[2021-02-24 22:39] #5051 closed

[2021-02-25 06:10] Aloneduckling commented on #5035
I believe we have to changes here https://github.com/processing/p5.js/blob/c1640a7cb11c25145e9b9dd561ba27f7b49fcde4/src/core/environment.js#L707

[2021-02-25 07:21] Aloneduckling commented on #5036
This issue is similar to #3869.

If we consider the width of EOL in terms of " "(space) then we can get our desired result

Code here:
https://editor.p5js.org/Aloneduckling/sketches/78CLYND6A

I don't know how much " "(space) characters are equivalent to EOL so I have considered '\t' in this example instead of '\n'

[2021-02-25 07:41] clankill3r commented on #5032
Even if it would be a breaking change, it would be the right step forward. Also, if it would be, all it would do is make sketches that don't run at the moment run right?

[2021-02-25 09:31] Aloneduckling commented on #5010
@stalgiag I have made some changes so that the font-size of the text is limited and is shown in such a way that it conveys the idea (p5.Elements are just like any other DOM Element and can exist visually alongside other elements outside the canvas) while being visually appealing and less cluttering.

![image](https://user-images.githubusercontent.com/54030684/109131975-58d47980-7779-11eb-918f-1b61

[2021-02-25 18:22] stalgiag commented on #4974
@all-contributors please add @jcelerier for bug reports

This issue was resolved by #5049

[2021-02-25 18:22] #4974 closed

[2021-02-25 18:38] stalgiag commented on #4983
I think this will probably happen under many conditions with Graphics objects in version 1.20. I am not sure that `_accessibleOutputs` is ever initialized for graphics objects. I think that every time a property of `_accessibleOutputs` is checked, `_accessibleOutputs` should be checked first. Otherwise, we will need to be very careful about ensuring that `_accessibleOutputs` is always present on e

[2021-02-26 00:45] lm-n commented on #4983
That sounds about right, `_accessibleOutputs` is not initialized for graphic objects. I can take a look on Saturday and try to come up with an alternative.

[2021-02-26 15:16] danbri commented on #2475
I don't mean to re-open this, but as I found this thread searching for P5 folks interested in WASM, and have spent a little time this week exploring, I wanted to share:

* https://editor.p5js.org/danbri/sketches/hWpLvdEB5
* https://twitter.com/danbri/status/1365305840656408581
* https://github.com/Birch-san/box2d-wasm/issues/17#issuecomment-786637211

... have some WASM-related things. @Birch-san'

[2021-02-26 18:11] montoyamoraga opened #5061 "add sosunnyproject as contributor"

[2021-02-26 18:11] montoyamoraga commented on #5061
@all-contributors please add @sosunnyproject for docs and i18n

[2021-02-26 18:11] #5061 closed

[2021-02-27 13:43] Aloneduckling commented on #5056
@stalgiag, I think we should have a function(`getPosition`) that will return the position of the Camera and the up vector values as an object. Similar to [this].(https://github.com/processing/p5.js/blob/c1640a7cb11c25145e9b9dd561ba27f7b49fcde4/test/unit/webgl/p5.Camera.js#L7)
Users can then access those values and use them as per their needs.
PS: I would like to work on this.

[2021-02-27 16:57] danbri commented on #2475
Nearby, also shamelessly in need of p5js guidance: https://discourse.processing.org/t/web-assembly-wasm-best-practices-for-p5-js-and-https-editor-p5js-org/28111

[2021-02-27 18:00] stalgiag commented on #5056
Hi @AndrewAung11 you can get these with the `centerX`, `centerY`, `centerZ` properties of the camera object. For example:

[code]

That might be necessary @Aloneduckling . It also might just be an issue of documentation. For example, the reference for [p5.Camera](https://p5js.org/reference/#/p5.Camera) doesn't mention the `centerX, centerY, centerZ, eyeX, eyeY, eyeZ, upX, upY, upZ` properties of c

[2021-02-27 18:11] #5005 closed

[2021-02-27 23:59] N4M3L355 opened #5064 "Inconsistency of loadPixels method in different browsers"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-02-28 02:58] AndrewAung11 commented on #5056
Thanks @stalgiag.

[2021-02-28 14:55] limzykenneth commented on #5064
`loadPixels()` doesn't need to be called after `updatePixels()` here. Removing the second `loadPixels()` in your example gives the expected output.

[2021-02-28 15:15] lm-n commented on #4983
Hi folx!

@JetStarBlues @catkane-doodles thx for reporting this issue and sharing the code you were running when encountering it!

@stalgiag @limzykenneth I've replicated the error in 1.2.0.  https://github.com/processing/p5.js/pull/5003 already fixed this issue by initializing `_accessibleOutpus` in `initializeInstanceVariables` .

It should be fixed for the next release. The questions are: _when

[2021-02-28 16:57] limzykenneth commented on #4983
We'll probably have to refer to @lmccart for this.

[2021-02-28 21:02] N4M3L355 commented on #5064
I may have defined my problem unclearly; let me rephrase it. When I assign pixels certain values, save them to the picture, and then try to load values previously assigned to them, they are not the same. Maybe I can further clarify with the scenario in which I've found this bug: I have a project where I wanted to harness steganography to include some text in the resulting image data. Let's say a f

[2021-02-28 21:16] limzykenneth commented on #5064
You don't have to call `loadPixels()` more than once. If you have called it before, edit the `pixels` array then `updatePixels()`, in the other parts of your code you can still access `pixels` without calling `loadPixels()`. `loadPixels()` should only ever be called once to populate the `pixels` array as it is initialized empty, it is not used to update the `pixels` object since your code is suppo

[2021-02-28 22:29] JalokimFreelance commented on #4983
Is there any way to repair that problem in 1.2.0 in the code? When using WEBGL mode for createGraphics setting fill/stroke/background doesn't help.

[2021-02-28 22:46] stalgiag commented on #4983
Thank you @lm-n !

I agree that a 1.21 is probably in order. Technically both @outofambit and I have gone through the process of making a release. Though I'm not 100% sure that I remember how to do it. @outofambit do you?

If both outofambit and lmccart are busy, I can try to follow along with the release_process documentation. I believe that I have authorization on npm.

[2021-02-28 22:48] JalokimFreelance commented on #4820
Hey, I would like to help with that issue, would just the .vert and .frag files be enough? Or do I have to convert them somehow into Shader object?

[2021-03-01 00:22] N4M3L355 commented on #5064
Yes, I understand, but I wanted to show that when you call loadPixels in Firefox, the actual color of that pixel on canvas won't be set correctly. In my scenario, if I do the following steps:
1. save to pixels[] value (with setting pixels[] and then calling updatePixels())
2. export the png from canvas (with save())
3. load the png to canvas (with loadImage())
4. loadPixels
Then the result will va

[2021-03-01 06:11] Aloneduckling commented on #5056
@stalgiag, So should I go ahead and code the above function?
As for the documentation problem, I guess we should open an issue. I will do so after your confirmation.

[2021-03-01 10:45] balandinodidonato opened #5065 "PolySynth noteADSR error"
I'm trying to apply an envelope to a note generate using [p5.PolySynth](https://p5js.org/reference/#/p5.PolySynth), when clicking on the canvas.
I'm using the [`play()`](https://p5js.org/reference/#/p5.PolySynth/play) to play the note and [`noteADSR()`](https://p5js.org/reference/#/p5.PolySynth/noteADSR) to set the envelope (see code below).

I get the following error when calling `playSynth()`:
`

[2021-03-01 22:27] limzykenneth commented on #4983
@stalgiag I'm quite familiar with the release script since I rewrote part of it so if you decide to make a release let me know if you'd like me walk you through it.

[2021-03-01 22:31] limzykenneth commented on #5036
I'm not familiar with this part of the codebase but as far as I know the value returned from `textWidth()` is taken from opentype.js which is what we are using as a dependency. Unless there's extra code on our end that deals with `textWidth()` in special cases already, this problem might be better raised at opentype.js.

[2021-03-01 22:37] limzykenneth commented on #5032
Breaking change is more about managing expectations, specifically expectation that the same semantic code that is written for one version works in the same way in another version. Though that does not mean this change is a breaking change, I'm just not sure whether it should be counted as one or not.

I'm a bit overloaded at the moment so cannot spend the time to think through cases where this cha

[2021-03-01 23:21] stalgiag commented on #4983
I'd love that or I think you should also feel empowered to do it since I probably won't have time till the end of the week. 😛

[2021-03-01 23:25] stalgiag commented on #5056
Hi @Aloneduckling I am not sure that it makes sense to add this function. It would give an object with properties that are already directly accessible on the camera object. I think we should instead just make it more clear in the documentation that these properties exist on the camera object.

[2021-03-01 23:34] limzykenneth commented on #4983
@stalgiag Well I'm also pretty swamped myself so maybe end of the week would be a good time. :sweat_smile:

[2021-03-02 03:57] Aloneduckling commented on #5056
@stalgiag, I agree that adding this function would be overdoing it. Updating the documentation makes more sense. I will update the docs and create a PR.

[2021-03-02 06:44] lmccart commented on #4983
thank you both 🖤 i'll be around end of the week as well, and may we can figure it out together. i would love for multiple people to have release powers

[2021-03-02 09:51] Aloneduckling commented on #5056
@stalgiag, I have added these lines to the p5.Camera documentation.
![image](https://user-images.githubusercontent.com/54030684/109630132-9155c800-7b6a-11eb-8876-e79ca866901a.png)

is this ok?

[2021-03-02 14:19] LouisJustinTALLOT commented on #2865
hi, I was considering starting a documentation in French. would anyone be interested ?

[2021-03-02 16:58] lemon-man125 opened #5066 "loadJSON() sometimes returns an empty object."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-02 18:41] stalgiag commented on #5056
@Aloneduckling that is very nicely written but it might be better to list the properties with their own entries similar to how it is done with the [p5.Image reference](https://p5js.org/reference/#/p5.Image). You can see how [these are added here](https://github.com/processing/p5.js/blob/main/src/image/p5.Image.js#L90).

[2021-03-02 23:18] msub2 opened #5067 "applyMatrix() should be able to take in an array of values"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
This feature would help simplify the process of dealing with matrix data that is already represented by an array of values, allowing the user not to have to worry about passing each value of the matrix individually or knowing how to spread the array.

#### Most

[2021-03-02 23:46] stalgiag commented on #5067
Thank you for this well-written issue @msub2 !

For context, this is something that I have wanted to do for a while. This is useful when reading pose data from input sources in p5.xr but it also makes sense as a change for p5 more generally. Currently, you cannot pass in an array as an argument despite the fact that this function takes 6 or 16 parameters of the same type (number). This can quickly

[2021-03-03 06:01] Aloneduckling commented on #5056
@stalgiag Thanks. Also, the description for the properties is already given in the [camera](https://p5js.org/reference/#/p5/camera) reference with detailed examples, so should I add an extra line with the link to it or should I write the entries separately.

[2021-03-03 13:35] micuat commented on #2525
+1 as I also needed the constant from a bundled script.

I think adding this to the constants would make sense (e.g. [THREE.js](https://github.com/mrdoob/three.js/blob/38cd961708c0677dfe2e531fce33eb1a0f73a790/src/constants.js#L1))

[2021-03-03 13:57] stalgiag commented on #5056
I think it still makes sense to add the properties to the `p5.Camera` documentation separately. Those values are listed as parameters for the `camera()` function in the camera reference but this doesn't make it clear that when you create a `p5.Camera `with `createCamera()`, the resulting object will have those properties. `camera()` does not return a `p5.Camera` so there is a pretty big detachment

[2021-03-03 14:51] Aloneduckling commented on #5056
Ok, I will add the properties separately.

[2021-03-04 08:10] Aloneduckling commented on #5056
@stalgiag, I have some properties please have a look, if this is okay then I will finish with the rest.
![image](https://user-images.githubusercontent.com/54030684/109931602-0f42dc00-7cef-11eb-960b-190a4cb5e02c.png)

![image](https://user-images.githubusercontent.com/54030684/109931621-136ef980-7cef-11eb-9c04-5b97dca24454.png)

![image](https://user-images.githubusercontent.com/54030684/109931626-

[2021-03-04 09:56] CyberDuck79 commented on #1815
None of the fix posted here work for me in p5js Block for wordpress.
I still think it's a webkit problem because the touch on the wordpress block work well on firefox mobile. (just as a click)

[2021-03-04 12:15] rjbultitude commented on #4479
Hi @Nazeh
Not sure why this issue was closed when the problem persists.

I can confirm it is not a problem with Webpack - the problem exists in all modern module loaders/compilers including RollUp, TypeScript and Parcel.

Having tested more thoroughly, I can confirm P5 add-ons won't load in the following configurations:

- CommonJS
- ES6 > ES5 using Babel or esm
- ES Modules

Given the enournous p

[2021-03-05 06:02] Aloneduckling commented on #5056
Update: For now I have added the following example which outputs a `div` with the contents of `centerX/Y/Z` properties and I did the same for `upX/Y/Z` properties.

![image](https://user-images.githubusercontent.com/54030684/110073961-5d66e680-7da6-11eb-9b34-d4a5e4fc0b3c.png)

[2021-03-05 16:21] stalgiag commented on #5056
Great job @Aloneduckling. The way that you are adding documentation looks good. The examples should be read-only. There are methods in place for setting these values that are safer. For example, the centerX, Y, Z docs can show the output for current camera center coordinates when the canvas is being manipulated by `orbitControls()` that way someone can see how they might read these values in a use

[2021-03-05 17:09] Prateek93a commented on #5066
@lemon-man125  According to documentation [here,](https://p5js.org/reference/#/p5/loadJSON) `loadJSON` is an asyncronous method, you need to supply a callback to it.

[2021-03-05 22:11] amcc commented on #4750
I think one straightforward thing that would really help is to provide documentation on iOS for this. A large number of users will be using mobile safari and without permission this doesn't work. Its a shame the documentation doesn't mention anything about this.

I teach students with p5js regularly and the steps to get round iOS permission are probably too complex to expect most early javascript

[2021-03-06 22:01] mkmori commented on #5022
Hi, @stalgiag @sflanker: Ouch! Spent all morning trying to fix my geometry! All these years, I guess I'd never turned lights() on a beginShape() in p5js before...but it's great to find you already started on a fix....

For reference, in a Java P5 beginShape() block, normal(x,y,z) sets the current normal vector for subsequent vertices:
[https://processing.org/reference/normal_.html]()

Like it says

[2021-03-07 11:30] limzykenneth commented on #5066
Hi @lemon-man125, as @Prateek93a mentioned, `loadJSON()` is an asynchronous method, meaning that there is no guarantee in the order in which the loading is done and the execution of subsequent code. If the server is fast in returning the requested data (or if the data is cached by the browser) then the return value of `loadJSON()` may be present when executing code after it, but if the data take e

[2021-03-07 11:30] #5066 closed

[2021-03-07 11:48] limzykenneth commented on #2865
Hi @LouisJustinTALLOT, I don't think there is a plan to add additional translations at this point, maybe it can be pitched as a GSoC or Fellowship project but that's not a decision I'm involved with. That's for official translations though, for unofficial translations we definitely welcome anyone to do it and publish on their own URL, you can then share that URL with us so we can list it as an uno

[2021-03-07 19:24] two-ticks commented on #2865
Hi, I'm new here. I want to contribute. Can I work on examples to write mathematical expressions using KaTeX in p5.js sketches?
![katex_example](https://user-images.githubusercontent.com/68433541/110251620-5529c980-7fa7-11eb-9bd7-20925e74a788.jpg)

[2021-03-07 21:24] meodai opened #5068 "Avoid console warnings in empty-example files."
### How would this new feature help [increase access]
It would make it less scary for programming noobs to get started

#### Most appropriate sub-area of p5.js?
- [x] Other: Fresh Developper accessibility

#### Feature enhancement details:
The empty-example includes empty-example p5.sound. In most modern browsers this triggers a warning in the console. Because users need to interact with the page

[2021-03-08 00:30] MikeMaksy opened #5070 "Project not visible"
Hi there!

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

###

[2021-03-08 03:24] two-ticks commented on #5070
It is working in firefox. For running in chrome try removing `<script src="./Abstract Quad Pattern_files/p5.sound.min.js.download"></script>` from index.html
![code](https://user-images.githubusercontent.com/68433541/110270334-9b088100-7feb-11eb-95be-1a9410f3ecf0.jpg)
![result](https://user-images.githubusercontent.com/68433541/110270339-9cd24480-7feb-11eb-9988-f17ed9b5ec4e.jpg)

[2021-03-08 04:16] Aloneduckling commented on #5056
@stalgiag thanks, I will now create a PR after adding the necessary changes.

[2021-03-08 12:09] MikeMaksy commented on #5070
It works fine in Firefox, as well as Safari. It's Chrome and Dreamweaver it doesn't seem to like.

[2021-03-08 12:53] two-ticks commented on #5070
It ran in chrome after I removed `p5.sound.min.js` library.

[2021-03-08 14:03] MikeMaksy commented on #5070
Yep, working now. Thanks for your help.

[2021-03-08 14:55] #5070 closed

[2021-03-09 05:01] vsquareg commented on #5064
This seems to be caused by the PreMultiplied Alpha used by browsers, probably a rounding error when multiplying the alpha value. It has been a known issue specifically with Firefox on macOS.

Some links you can follow to read more about this ([Firefox canvas getImageData...](https://stackoverflow.com/questions/51089924/firefox-canvas-getimagedata-values-differ-from-original-image-pixel-values)) ([

[2021-03-09 14:57] #5067 closed

[2021-03-09 15:10] #5056 closed

[2021-03-09 16:03] stalgiag commented on #5034
Needs testing but likely fixed by #5003

[2021-03-09 22:36] lmccart commented on #2865
hi @two-ticks thanks for your interest! I would suggest looking at https://processing.org/examples/ and seeing if you can port any over to http://p5js.org/examples. I think there are several missing from the math categories right now.

[2021-03-10 00:59] lmccart commented on #5038
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2021-03-10 00:59] #5038 closed

[2021-03-10 01:04] #5042 closed

[2021-03-10 01:06] lmccart commented on #5010
@Aloneduckling thanks! to simplify, I would suggest changing this to:
[code]

[2021-03-10 01:07] lmccart commented on #4995
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2021-03-10 01:07] #4995 closed

[2021-03-10 01:08] #4987 closed

[2021-03-10 01:12] #5029 closed

[2021-03-10 01:16] #5035 closed

[2021-03-10 01:17] #4978 closed

[2021-03-10 01:19] lmccart commented on #5064
It looks like the references @vsquareg linked are correct. It seems we can't fix this within p5 so I will close this issue. Thanks for reporting!

[2021-03-10 01:19] #5064 closed

[2021-03-10 01:25] #4926 closed

[2021-03-10 01:29] #5068 closed

[2021-03-10 01:31] lmccart commented on #4999
we're not able to reproduce this but please feel free to reopen if you can provide a simpler code sample that demonstrates the issue. thanks! alternatively, @limzykenneth's suggestion to try the [forum](https://discourse.processing.org/) can hopefully help you

[2021-03-10 01:31] #4999 closed

[2021-03-10 01:33] lmccart commented on #4998
it seems reasonable to me to lose prettier and use eslint

[2021-03-10 01:34] #4976 closed

[2021-03-10 01:38] lmccart commented on #4760
we generally avoid aliasing to keep the reference size smaller and avoid confusion. this request is also missing some explanation of how it [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) so I'd propose we close this for now

[2021-03-10 01:41] lmccart commented on #4807
I think the functionality here is behaving correctly, and 2 wrong characters seems like a good balance for threshold. The message also makes it clear that there could be a number of other options to be used, so I think it leaves it in a good place for the user to follow up and double check that line. If it's ok with everyone, I will close this.

[2021-03-10 01:41] #4807 closed

[2021-03-10 01:42] #4797 closed

[2021-03-10 01:42] lmccart commented on #4711
@DhairyaBahl would you still like to work on this?

[2021-03-10 01:46] lmccart commented on #4667
I think that the behavior you're seeing here aligns with the documented functionality:
https://p5js.org/reference/#/p5/hue

Am I misunderstanding?

[2021-03-10 01:47] lmccart commented on #4628
This seems to be a HTML Canvas issue and not a p5 issue, so I will close this here.

[2021-03-10 01:47] #4628 closed

[2021-03-10 01:47] #4752 closed

[2021-03-10 01:49] lmccart commented on #4893
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2021-03-10 01:49] #4893 closed

[2021-03-10 01:49] lmccart commented on #4977
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2021-03-10 01:49] #4977 closed

[2021-03-10 02:50] lmccart commented on #4983
I got a new release deployed, the scripts all worked! However I [hit an issue](https://github.com/processing/p5.js/runs/2072836948?check_suite_focus=true) with the docs deployment to the website, I think it's something I'm missing about the auth token or action secret. I just pinged @outofambit to see if they have any suggestion. More soon.

[2021-03-10 06:00] #4983 closed

[2021-03-10 15:30] olivercoad opened #5077 "Latest release version tagged "v1.3.0" instead of "1.3.0""
Previous releases are tagged with just the version, like `1.3.0`, not prefixed with "v".
The links on the [download page](https://p5js.org/download/) are currently broken because they rely on this convention.

[2021-03-10 15:42] two-ticks commented on #2865
I would like to work on porting 'Graphing 2D Equations' example from https://processing.org/examples/ to http://p5js.org/examples

[2021-03-10 15:46] two-ticks opened #5079 "porting 'Graphing 2D Equations' example from https://processing.org/examples/ to http://p5js.org/examples"
'Graphing 2D Equations' example from https://processing.org/examples/ to http://p5js.org/examples

_Originally posted by @two-ticks in https://github.com/processing/p5.js/issues/2865#issuecomment-795626068_

I am working on it

[2021-03-10 15:52] #5079 closed

[2021-03-10 16:02] two-ticks commented on #5079
Sorry this issue was to be made on other repository

[2021-03-10 22:07] lmccart commented on #5077
Thanks! It should be fixed now.

[2021-03-10 22:07] #5077 closed

[2021-03-11 04:29] KarthikSundar2002 commented on #5036
Is this issue still open?? If it is, I would like to give it a shot.

[2021-03-11 08:34] maartenwijntjes opened #5080 "saveTable() not working in 1.2.0"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-11 08:40] maartenwijntjes commented on #5080
Same happens in Chrome (and is also resolved when using 1.1.0), and error message is:

_p5.js says: An error with message "table.rows[i].arr[j].includes is not a function" occured inside the p5js library when saveTable was called (on line 86 in about:srcdoc [about:srcdoc:86:2])_

[2021-03-11 15:11] Aloneduckling commented on #5010
@lmccart, sorry for the late reply. I will change this.

[2021-03-11 15:37] KarthikSundar2002 commented on #5080
Can I give this bug a shot? It is my first time working in this codebase

[2021-03-11 15:43] limzykenneth commented on #4993
@amanMahendroo This is a bit of an advanced problem but if you are interested, you can look at how `loadPixels()`, `pixels`, and `updatePixels()` are implemented to see how we can solve this problem. Thanks.

[2021-03-11 16:02] limzykenneth commented on #5080
This seems to be fixed in 1.3.0 (just released). @maartenwijntjes Can you test with 1.3.0 can confirm if it is fixed?

[2021-03-11 16:04] limzykenneth commented on #5036
@KarthikSundar2002 It is still open but instead of working on a fix right away I would suggest going through the discussions above, specifically about determining whether this is something to fix in p5.js itself or a fix would better suit opentype.js.

[2021-03-11 16:06] maartenwijntjes commented on #5080
Yes worked! I did have to change it manually into 1.3.0 at the editor.p5js.org, do you have an idea when this will be standard? Or should I go over and ask at 'p5.js-web-editor'? Thanks anyway for the quick fix!

[2021-03-11 16:09] limzykenneth commented on #5080
I'm not as involved with the development of the web editor but you can head over to the web editor repository and see if they have a set policy around how and when they update the default p5.js version (maybe by searching existing issues first).

[2021-03-11 16:09] #5080 closed

[2021-03-11 18:46] westriel opened #5081 "Difference with text wrapping betwen 1.1.9 -> 1.2.0 and 1.3.0"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
I believe that this feature would help allow the text function to do what the programmer wants it to do and relieve programmers from confusion about differences in p5 sketches, as I myself was making something along with a friend. I had made my sketch before ver

[2021-03-11 21:22] limzykenneth commented on #5081
This was introduced in #4712 fixing #4652. I think the current behaviour is too excessive, causing hyphens to appear on almost every single line. Not to mention, as @westriel here experience, being a breaking change.

I'd prefer it if the hyphenation only works on single words longer than the width of the bounding box. That being said, I'm open to adding an extra parameter for hyphenation (single

[2021-03-11 22:36] stungeye opened #5082 "Include VS Code Live Server Extension on "Local server" Wiki Page"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

The wiki includes [local HTTP server instructions for the Brackets and Sublime Text editors](https://github.com/processing/p5.js/wiki/Local-server). Adding server instructions for VS Code will make local p5.js development easier for VS Code users. The Live Serv

[2021-03-11 23:13] lmccart commented on #5082
Thanks @stungeye I've made the changes. I added a note about the vs code generator, but not the full instructions as this didn't seem directly related to a local server, and the page is already a bit unwieldy.

[2021-03-11 23:13] #5082 closed

[2021-03-11 23:26] stungeye commented on #5082
Wowzers. What a fast turn around on an issue! Thanks @lmccart for this and for everything you and the community do for this project. Much appreciated.

[2021-03-12 01:47] two-ticks commented on #2865
Are these meant to be `links` ?

![image](https://user-images.githubusercontent.com/68433541/110879059-5558fa80-8302-11eb-9984-6cdf50f562d2.png)

[2021-03-12 06:46] Aloneduckling commented on #5010
@lmccart, I have made some changes in all the examples and now they look better and less cluttering. Please have a look.

![image](https://user-images.githubusercontent.com/54030684/110902835-7cc4bd00-832c-11eb-84eb-dc77fbfc6abd.png)

Should I open a PR?

[2021-03-12 06:56] Aloneduckling commented on #5010
Also, I wanted to know how much time it takes for the online reference manual to get updated. I asked because I have created this [PR](https://github.com/processing/p5.js/pull/4979), and the website doesn't seem to be updated. [This]( https://p5js.org/reference/#/p5/createButton) is the page for reference.

[2021-03-12 15:35] lmccart commented on #5010
@Aloneduckling yes please do submit a PR. There is a issue with updating the reference that I am working to resolve, so I don't have an estimated time for the next update right now. Hopefully soon.

[2021-03-12 19:05] DivyamAhuja commented on #4993
@limzykenneth
I tried to create a new `ImageData` object if `this.pixels` and `imageData.data` were not referencing to same Uint8ClampedArray and ImageData object will be replaced.
This won't affect normal for loop modification.

https://editor.p5js.org/DivyamAhuja/sketches/b-5n_pwAH
[code]

[2021-03-12 23:40] lmccart commented on #4396
I'm sorry, we haven't been able to reproduce this, but hopefully @Rizz0S solution helps.

[2021-03-12 23:40] #4396 closed

[2021-03-12 23:41] #4760 closed

[2021-03-12 23:47] lmccart commented on #5034
I'm not able to reproduce this, with the current version (1.3.0) or the previous versions (1.2.0, 1.1.0). Here's my test sketch:
https://editor.p5js.org/lmccart/sketches/4RoeE2Yu-

Does this throw the error for you @harplife?

[2021-03-12 23:51] lmccart commented on #3240
I'm not seeing a lot of interest in this feature, and we don't have a clear explanation of how it [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this for now. If an access statement can be added to the issue request, please feel welcome to reopen.

[2021-03-12 23:51] #3240 closed

[2021-03-12 23:52] lmccart commented on #4886
I'm not seeing a lot of interest in this feature, and we don't have a clear explanation of how it [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this for now. If an access statement can be added to the issue request, please feel welcome to reopen.

[2021-03-12 23:52] #4886 closed

[2021-03-12 23:54] lmccart commented on #4684
We don't have a clear explanation of how this feature [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this for now. If an access statement can be added to the issue request, please feel welcome to reopen.

[2021-03-12 23:54] #4684 closed

[2021-03-12 23:54] lmccart commented on #4617
I'm not seeing a lot of interest in this feature, and we don't have a clear explanation of how it [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this for now. If an access statement can be added to the issue request, please feel welcome to reopen.

[2021-03-12 23:54] #4617 closed

[2021-03-13 00:00] #4707 closed

[2021-03-13 00:01] lmccart commented on #4415
I'm a little confused about this issue, the shadow dom is not intended to be shown. I'm not seeing a lot of interest in this feature, and we don't have a clear explanation of how it [expands access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), so I will close this for now. If an access statement can be added to the issue request, please feel welcome to reopen!

[2021-03-13 00:01] #4415 closed

[2021-03-13 00:03] lmccart commented on #4854
I would vote for a lenient interpretation here and say we could make this change, it seems to go along with the way buttons are normally handled, and I think this is best accessibility practices as well, so there's an access argument to be made.

[2021-03-13 09:03] two-ticks commented on #2309
@all-contributors please add @two-ticks for code, doc and example

[2021-03-13 14:42] limzykenneth commented on #4993
@DivyamAhuja I don't quite understand why a check if `pixels` and `imageData.data` is the same would be necessary. I imagine whatever the case may be, `pixels` is the source of truth and we can simply use it to construct the new image data object to be set by the canvas.

[2021-03-13 14:54] DivyamAhuja commented on #4993
@limzykenneth I was thinking like if someone wants to use normal for loop and `pixels` array is referencing to `imageData.data` , then there wouldn't be any need for creating new `ImageData` object, and object will only be created when `pixels` array will be reassigned to something else. I think this will enhancement without affecting current working of `updatePixels` function.

[2021-03-13 17:49] outofambit opened #5086 "Docs update github action errors out"
#### Most appropriate sub-area of p5.js?
Build tools and processes

#### Details about the bug:

github action for updating documentation fails with "Parameter token or opts.auth is required"

see example: https://github.com/processing/p5.js/runs/2072836948?check_suite_focus=true

[2021-03-13 18:08] outofambit commented on #5086
fixed! i had to add a `P5JS_TOKEN` to our repo's secrets for github actions. (i think i might have been supposed to do this months ago and completely forgot.)

see the successful run at https://github.com/processing/p5.js/runs/2103264406?check_suite_focus=true

[2021-03-13 18:08] #5086 closed

[2021-03-13 19:15] vulongphan commented on #4958
I will work on this issue.

[2021-03-13 19:28] vulongphan commented on #4789
I would like to work on this issue

[2021-03-13 21:37] #5010 closed

[2021-03-13 22:22] frenamezian commented on #4900
Hi, I am also new to P5 and I also needed to display an HTML table outside the canvas.

I tried to create a function build_HTML_table (tbl, tableID, parentID) to build an HTML table based on the p5.Table object. The function would then place the table under the parent ID html element. But I cant get the p5.Table.get(row, colum) function to return the content of a cell. Here is the sketch with a sa

[2021-03-13 23:49] frenamezian commented on #4900
Hi again, actually i just got it to work. The problem was with the table object i was creating from scratch for testing. I wasnt not inserting rows correctly. My sktech works now.

https://editor.p5js.org/laurent.tran/sketches/CwwF02GX9

[2021-03-14 00:57] byfelipesanchez opened #5088 "Direct Integration with GitHub"

[2021-03-14 01:12] #5088 closed

[2021-03-14 01:14] byfelipesanchez opened #5089 "Direct Integration with GitHub"
There should be a way of committing and pushing your files directly from the editor, to GitHub. You would be able to either work with the a cloned repo, or login to your account, and from there access your repositories and stuff. To do so:
- [ ] Integrate "GitHub' area to the layout of the page (HTML and CSS)
- [ ] Work with the GitHub API to actually make the commits and stuff work

The area coul

[2021-03-14 06:40] rt1301 commented on #2525
We could import the version from the package.json file, but it might have some security implications.

[2021-03-14 11:47] Swapnil-2001 commented on #5032
@limzykenneth I would like to work on this, could you please let me know where I should start looking?

[2021-03-14 12:21] vulongphan commented on #4958
@pirelaurent For some reason, when I switched to P2D mode, no text is displayed on the screen anymore. @stalgiag any thought on this?

[2021-03-14 14:19] stalgiag commented on #4958
Perhaps the `translate(-width / 2, -height /2)` line? The coordinate system is different in WebGL with (0,0) as the center of the canvas.

[2021-03-14 14:23] pirelaurent commented on #4958
i don't know what you call 'switch'. You cannot change mode while running. You must run once with a webgl canvas, then stop, change to p2d, run again.
if you use a p2d graphics to create text while in webgl (what i do frequently for response time), think about to advance image a little bit on z to be on top of background things for camera.
Hth

[2021-03-14 15:20] paulcanning opened #5091 "Odd behaviour using low bin count for fft.waveforms"
I am messing about with FFT and drawing a line for the waveform data.

Using the sample code, I changed the number of bins to 16, the lowest setting. And it displays this odd behaviour, despite using map() to adjust the coords.

<img width="404" alt="Screenshot 2021-03-14 at 15 19 41" src="https://user-images.githubusercontent.com/1275739/111073942-bafedf80-84d8-11eb-8401-c987817b8c1e.png">

Why d

[2021-03-14 15:59] lawreka commented on #5081
I'd like to work on this as a first issue :) I think adding two new typography functions, textHyphens() and textWrap() would cover both of these cases.

textWrap() can take the constants LINE-BREAK or WORD-BREAK, with LINE-BREAK breaking the line before a word that would overflow (as seen in 1.1.9), and WORD-BREAK breaking the word if it would overflow (as in 1.2.0 and 1.3.0).

textHyphens() can t

[2021-03-14 18:38] outofambit opened #5092 "I'd like to do a 1.3.1 release soon?"
after we merge https://github.com/processing/p5.js/pull/4642, does anyone mind if i do a release 1.3.1 to get that bugfix out _and_ to give myself an easy to way to make sure https://github.com/processing/p5.js-website/pull/935 works properly (once its also merged)?

if i don't hear any objections in the next week (by Mar 21), i'll assume no one minds and i'll do it :)

cc @limzykenneth @lm-n @lmc

[2021-03-14 18:40] #4588 closed

[2021-03-14 18:45] outofambit commented on #4998
there's a way to configure prettier to play nicer with eslint but i agree with @limzykenneth and @lmccart above. for the purposes of this project prettier is probably not worth the overhead if we get some basic style rules in our eslint config.

we could also do a quick upgrade of prettier to 1.13 or something higher but still below 2.0 in the meantime but again maybe not really worth the effort

[2021-03-14 18:46] outofambit commented on #4820
@JalokimFreelance i think that would be enough! i'm 90% sure we already have some build process for inlining shader files into the p5.js lib.

[2021-03-14 19:43] limzykenneth commented on #5092
I'd like #5081 to be resolved by the next version as it is resolving a breaking change, though can't really give a timeline for it yet so if it's not realistic we can go ahead with 1.3.1 first.

[2021-03-14 19:57] limzykenneth commented on #5081
I think as a quick fix, we can revert to behaviour in 1.1.9 first to address the breaking change then we can explore alternative solutions to the original problem.

@lawreka Being able to control whether to add hyphens or not is a good idea especially when considering languages that does not use spaces to separate words, those languages will have hyphens at the end of every line now.

[2021-03-14 20:30] lawreka commented on #5081
@limzykenneth I've opened a PR for the simple text wrap reversion, and will work on adding the hyphenation and text wrapping options as separate improvements – I might actually finish them before release of 1.3.1 if it's not going to happen until March 21.

[2021-03-14 23:50] outofambit commented on #5092
@limzykenneth i'm happy to wait until that's in too! i'll make a milestone! 🙀

[2021-03-15 11:36] DivyamAhuja commented on #4993
@limzykenneth @stalgiag should I then submit a PR based on it or further discussion is to be done about tweaks or implementation?

[2021-03-15 14:23] outofambit commented on #5081
gonna reopen this since there's more work planned here!

[2021-03-15 20:09] lmccart commented on #5092
This all makes sense to me, thanks @outofambit and @limzykenneth!

[2021-03-16 09:12] rt1301 commented on #2525
@lmccart @limzykenneth I would like to work on this, if the issue is open.

[2021-03-16 12:01] KarthikSundar2002 commented on #5036
Yea I went through the issue, as @limzykenneth told me, It is an issue with opentype.js. I guess we need to report it to them

[2021-03-16 12:01] limzykenneth commented on #4993
@DivyamAhuja If possible can do you a simple benchmark of whether creating a new `ImageData` object when calling `updatePixels()` vs checking if `pixels` and `imageData.data` is the same has significant performance difference? I would like to keep the overall implementation simple, ie. just one simple implementation instead of branching into two possible implementations, but if there is significan

[2021-03-16 13:20] 4molybdenum2 commented on #2525
@limzykenneth Can I submit a PR if this issue isn't already taken?

[2021-03-16 15:05] 4molybdenum2 commented on #4711
Can I work on this? @aferriss

[2021-03-16 15:55] DivyamAhuja commented on #4993
@limzykenneth I was not sure how to benchmark so,

I ran this code
[code]
with both with and without checks
[code]
for without checks , I used this code to update imageData
[code]

and results were:
Without Checks:
about 265210.20000000135 ( 230k - 265k on my browser)
For With Checks:
about 144864.13500001072 (130k - 144k on my browser)

[2021-03-16 16:02] DivyamAhuja commented on #4993
@limzykenneth Should we do it like , `loadPixels` will only be used to load current pixel data into `pixels` array and `updatePixels` will update `imageData` and put it on image based on `pixels` array regardless of `loadPixels` being called earlier or not.

[2021-03-16 18:19] Prateek93a commented on #4854
@lmccart @limzykenneth Shall I take it up?

[2021-03-16 18:24] lmccart commented on #4854
@Prateek93a yes if youd like to work on this please go for it

[2021-03-17 04:55] vsquareg commented on #4711
This issue seems to be the duplicate of #5045 which has already been resolved by #5052.

[2021-03-17 20:44] lmccart commented on #4711
thanks @vsquareg!

[2021-03-17 20:44] #4711 closed

[2021-03-17 21:48] duskvirkus opened #5099 "createShader() assumes _renderer causing bug when used with p5.Graphics"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-17 22:04] duskvirkus commented on #5099
Might have made this issue prematurely. Got some input from Naoto over on the processing forum and have to see if my assessment of the problem was correct.

Thread on discourse: https://discourse.processing.org/t/createshader-not-working-on-p5-graphics/28617

[2021-03-18 03:23] s-cork opened #5100 "Integration Question - namespace other than window"
- [x] Core/Environment/Rendering

I have an integration question. I've looked at integrating p5 into skulpt. Skulpt is a python to javascript compiler. The idea being that p5 can be run using python code - super handy for educators that teach python.

I have proof of concept and it works well on p5 examples.

The problem I faced was working out how to run the global mode on a namespace other than

[2021-03-18 04:04] ashokkumar6377 opened #5101 "found a bug in trigonometry part"
#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

[2021-03-18 11:32] duskvirkus opened #5102 "ellipse() and arc() detail parameter > 50 causes error in webgl"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-18 13:49] tallalnparis4ev opened #5104 "Shift key not being released"
#### Most appropriate sub-area of p5.js?

- [] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details ab

[2021-03-18 15:30] Prateek93a commented on #5101
@ashokkumar6377 Can you please describe the bug you are facing?

[2021-03-18 16:56] aferriss commented on #5099
Hi @duskvirkus !

Thanks for the detailed writeup. If I'm understanding the problem correctly, I think you just need to call createShader as a member function of your graphics object. In your example that would be `tex.createShader(vertSrc, fragSrc)`

[code]

[2021-03-18 18:07] fal-works commented on #4988
Sorry for being so late! And thank you for all of the comments above.

Let's leave the return tag stuff as-is (for now) as it seems to be a little difficult to keep both human- and machine-readability in the current circumstances (even though they don't necessarily have to be exclusive; hope we can find any way to improve the documentation system in future).

Updated the PR #4989.

[2021-03-18 18:27] #5102 closed

[2021-03-18 18:29] JuanIrache opened #5105 "loadImage causes Uncaught (in promise) TypeError: Failed to fetch"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-18 23:55] #4988 closed

[2021-03-19 14:06] limzykenneth commented on #5100
I don't quite understand what you mean by running global mode on a namespace that isn't `window` since running on `window` is how global mode works.

[2021-03-19 14:07] limzykenneth commented on #5101
I'm closing this for now but we can reopen once more info is provided. Thanks.

[2021-03-19 14:07] #5101 closed

[2021-03-19 14:30] s-cork commented on #5100
Thanks for the reply.
What I'm looking to do is allow a user to write something akin to following code (in the browser):

[code]

This is like the p5 global mode - but the name space is not window.
It's a different namespace but behaves almost the same as the global mode does.
(the call to run is basically invoking the `_start` mechanism).

I have it working - but I had to hack around with some pr

[2021-03-19 15:12] s-cork commented on #5100
I think what I really wanted was the following sort of api:

[code]

And then `main.js` would look something like this

[code]

[2021-03-19 16:24] limzykenneth commented on #5100
I'm afraid I still don't understand this. Specifically I don't understand what skulpt is doing that means it cannot access `window`.

[2021-03-20 02:08] s-cork commented on #5100
How skulpt works: See [trinket.io](https://trinket.io/) as an example in action.

When the code is compiled to javascript it executes inside a scope. The local python variables and functions are attached to a namespace inside that scope.

Those python variables and functions don't get attached to the window. In theory skulpt could do something to attach those functions to the window object but it

[2021-03-20 12:29] limzykenneth commented on #5100
The `_createFriendlyGlobalFunctionBinder` function that you found is a Friendly Error System function that detects if a global p5 created variable is overwritten by the user, the possibility to bind global is only limited to this function to account for tests running in node.js which has `global` instead of `window`.

The way p5 interacts with `window` is in three ways:
1. It uses global variable

[2021-03-20 12:47] s-cork commented on #5100
Yes 2/3 is basically exactly what I need except that the `__main__` namespace already exists and so I can't override it but need to work with it.

[2021-03-20 12:51] limzykenneth commented on #5100
You can define `p` above as usual in instance mode and the use `Object.assign` to attach what's in `p` to `__main__`.

[2021-03-20 12:56] s-cork commented on #5100
Sure but then on each draw I'd also need things like `__main__.frameCount` to have updated.

[2021-03-20 13:11] duskvirkus commented on #5099
@aferriss great solution! I didn't think of doing that.

Might be worth adding an example to `createShader()` but seems like this might be an obscure problem so don't know how many people would benefit from that. I still see an edge case where someone might want to use a shader on two or more p5.Graphics objects but don't know if that's worth working on because I could see a number of alternatives

[2021-03-20 13:11] #5099 closed

[2021-03-20 15:06] montoyamoraga opened #5109 "add Ajaya1000 as a contributor"
for their contribution in https://github.com/processing/p5.js-web-editor/pull/1802

[2021-03-20 15:07] montoyamoraga commented on #5109
@all-contributors please add @Ajaya1000 as a contributor for code

[2021-03-20 15:08] #5109 closed

[2021-03-20 20:58] DivyamAhuja commented on #4993
@limzykenneth So, How should ee proceed with this one?

[2021-03-21 11:00] ashokkumar6377 commented on #5101
hello, actually the value of cos(90) is 0 but its give another number( 6.123233995736766e-17). please  fix it .thanks

[2021-03-21 12:45] limzykenneth commented on #5101
@ashokkumar6377 The value given by `Math.cos(Math.PI/2)` in Javascript itself is `6.123233995736766e-17`. Because of floating point number's limited precision, it is not possible to get an output of `0` from the `cos` function. Only Pi with unlimited digits can make `cos` give an output of `0`.

Usually `6.123233995736766e-17` is so small that it is for most intends and purposes close enough to `0

[2021-03-22 08:43] ashokkumar6377 commented on #5101
Ok ,thanks  for your information

[2021-03-22 13:51] montoyamoraga opened #5111 "add @suhascv as a contributor"
for https://github.com/processing/p5.js-website/pull/960

[2021-03-22 13:51] montoyamoraga commented on #5111
@all-contributors please add @suhashcv for docs

[2021-03-22 13:52] montoyamoraga commented on #5111
@all-contributors please add @suhascv for docs

[2021-03-22 13:52] #5111 closed

[2021-03-22 14:35] #5105 closed

[2021-03-22 17:09] aatishb opened #5113 "mouseIsPressed doesn't work outside of draw()"
#### Most appropriate sub-area of p5.js?

- [X] Events

#### Details about the bug:

Hi, the following code works fine:

[code]

However if I call mouseIsPressed in mouseMoved(), it doesn't register the mouse press. So, this doesn't work:

[code]

I'm wondering if this is a bug, or are these boolean variables supposed to only be accessible in the draw loop?

[2021-03-22 17:29] aatishb commented on #5113
I think I understand the issue now: mouseMoved() does not run while the mouse is pressed. So this is the correct intended behavior. Closing.

[2021-03-22 17:29] #5113 closed

[2021-03-22 18:21] limzykenneth commented on #4993
@DivyamAhuja I think you can go ahead with an implementation you think is most appropriate. We'll work out the final details in the PR. It's easier for the to test code available in a PR anyway. Thanks!

[2021-03-23 09:19] dhowe opened #5114 "Clean-up logging in build scripts"
Not a critical issue, but there are massive numbers of warnings and debugging output in the bill scripts that make it difficult to tell if things are working correctly. Would be nice to clean these up. A bit of output is shown below but it even worse in the tests:
[code]

[2021-03-23 09:22] dhowe opened #5115 "Add typography steward"
Happy to volunteer as 'steward' for typography, for which no one is currently listed (I wrote the original code)

[2021-03-23 12:56] stalgiag commented on #5115
Yay! I say do it.

[2021-03-23 13:03] montoyamoraga opened #5116 "add SanjaySinghRajpoot as a contributor"
for https://github.com/processing/p5.js-website/issues/966

[2021-03-23 13:03] montoyamoraga commented on #5116
@all-contributors please add @SanjaySinghRajpoot as a contributor for docs

[2021-03-23 13:03] #5116 closed

[2021-03-23 13:53] limzykenneth commented on #5114
Would be happy to see the output cleaned up!

[2021-03-23 14:22] stalgiag opened #5118 "Feature for saving gif files"
#### New feature details:

I am getting this request quite a lot from my students. They want to be able to share their work on social media in animated form. I know that [`saveFrames`](https://p5js.org/reference/#/p5/saveFrames) exists but students have to already be relatively advanced to use that and it doesn't encode to gif.

Other options like using ccapture.js, require a number of advanced sk

[2021-03-23 14:44] golanlevin commented on #5118
The p5.createloop library by @mrchantey currently provides straightforward GIF loop export functionality for p5.js. I have used it very successfully with my students; the only "advanced skill" needed is knowing how to add the include to the HTML.

It would be worth evaluating whether it should be incorporated wholesale, or, remain an external library and simply advertised better, for example on th

[2021-03-23 15:37] stalgiag commented on #5118
Thanks @golanlevin ! Yes I saw createLoop in exploring and it seems really cool. I think there is still a bit of curtain pulling back here that could ideally be avoided for something this core to the use of p5. Depending on the education context revealing a secondary file with a markup language, the idea of adding additional libraries, and passing object literals as parameters can all feel pretty

[2021-03-23 16:01] outofambit commented on #5115
yay, thank you!

[2021-03-23 17:38] golanlevin commented on #5118
Thanks @stalgiag, I completely understand. This especially makes sense for middle-schoolers. Uh, so let's think through some proposals then:

(1) saveGif(filename, nFrames);

This immediately starts recording the next _nFrames_ frames, and when it's done, saves it out as a GIF. Puts the burden on the programmer of knowing whether they are actively writing to a GIF. Could cause problems if the prog

[2021-03-23 18:28] stalgiag commented on #5118
Thanks for this!

Number 1 is what I was originally thinking. My thought was that the library could keep a flag true during recording and ignore additional calls (maybe use FES). I like that both parameters can be optional here with a default name and frame count. We could also enforce a maximum frame count to prevent memory problems. Anything over 500ish frames should likely be a screen recording

[2021-03-23 20:25] golanlevin commented on #5118
I would also love to hear other voices in this.
I have just two other considerations:

* I think it could be good to mimic Processing-style libraries if possible (e.g. PDF export), to encourage harmonies across toolkits.
* I can imagine situations in which the user doesn't know (in advance) how many frames they want to record. For example, suppose I create a GIF from a gesture that I'm drawing --

[2021-03-23 20:46] stalgiag commented on #5104
Hi @tallalnparis4ev welcome and thanks for reporting an issue. Can you provide a simple example of code that causes this bug so we can try to reproduce it on our end?

[2021-03-23 21:23] ricoxor opened #5119 "How to export Canva Render has GIF with CSS modification"
Hello,
I have an issue when I want to export the animation has GIF with CCapture.
The pixelased effect on the animation added with the css properties to the Canva (140*140) is not taken into account  :

[code]

The problem is that I can't export this Canva with the properties.
My gif is in 140x140 without the pixelated effect.

How can I get the rendering I need? (500x500 pixelased)

[2021-03-23 23:09] JetStarBlues opened #5120 "p5Shader - Is there a way to specify custom attributes?"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Potential to expand capability of p5's WebGL mode.

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Feature enhancement details:
Is there a way to specify custom attributes when working with [shaders][0]?

From what I've gathered from [this contribut

[2021-03-24 04:08] mrchantey commented on #5118
Great to see this discussion being had. In writing [p5.createGIF](https://www.npmjs.com/package/p5.creategif/v/0.1.2), and then deprecating it in favour of [p5.createLoop](https://www.npmjs.com/package/p5.createloop), I encountered a handful of discoveries:
- When a user says "I want to create a GIF", what they usually mean is a **looping** GIF
- This workflow is fundamentally different from that

[2021-03-24 04:34] mrchantey commented on #5118
Out of interest the library was created after following some of @shiffman's more loopy tutorials on coding train :)
 - [GIF loops](https://youtu.be/nBKwCCtWlUg)
 - [Polar Noise](https://youtu.be/ZI1dmHv3MeM)
 - [Noise GIF loops](https://youtu.be/c6K-wJQ77yQ)
 - [4D polar noise loops](https://youtu.be/3_0Ax95jIrk)

 For anybody interested in an implementation, these are a great starting point for o

[2021-03-24 04:43] golanlevin commented on #5118
@mrchantey — thanks for making such a great, easy-to-use library. I had very good results using p5.createLoop with my students, Art-school first-years.

I totally get what you're saying about making _looping_ GIFs being the goal for many people. The variables you exposed for this (0..1, 0....2pi) are super useful. Your looping noise also elegantly obscures some really complex, difficult-to-explain

[2021-03-24 08:15] Aloneduckling opened #5121 "enhancement to style method: receive object containing styles"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Currently [style()](https://p5js.org/reference/#/p5.Element/style) method can be used like this:
 `style(property)` and `style(property, value)` and `style('property1: value1; property2: value2')`

Using `style()` like this becomes inefficient if we want to have

[2021-03-24 08:46] mrchantey commented on #5118
@golanlevin that is a very understandable use-case. Not crazy at all, and the implementation wouldnt be either. If you're interested, the [encoding library](https://www.npmjs.com/package/gif.js) works just like this. All that would be needed is to create a p5 wrapper for it.

[2021-03-24 10:37] ricoxor commented on #5119
ISSSUE FIXED

[2021-03-24 10:37] #5119 closed

[2021-03-24 12:03] stalgiag commented on #5118
Thanks for the library @mrchantey ! I love the ability to create seamless loops.

p5 has an encoding library [omggif](https://openbase.com/js/omggif). It is similar to gif.js, just smaller. We actually already encode gifs for people that are saving image assets that are already animated as seen in [`saveGif`](https://github.com/processing/p5.js/blob/main/src/image/image.js#L187). We just need to d

[2021-03-24 14:09] tallalnparis4ev commented on #5104
Hello @stalgiag 👍

[code]

Then immediately do shift+command+4. Release the shift key, and the console output should be only "Pressed" and no "Released".

[2021-03-24 14:20] stalgiag commented on #5104
@tallalnparis4ev thanks!

I am unable to reproduce in Chrome v 89.0.4389.90 with p5 1.2.0 running on Mac 11.2.1. If my focus is on the canvas, I see both pressed and released logged even when the shift key press is used for a screenshot. Perhaps there is something specific about how the screenshot command events are captured on Catalina.

[2021-03-24 14:36] JalokimFreelance commented on #5120
I believe you are looking for this:
https://itp-xstory.github.io/p5js-shaders/#/ - site about shaders in p5
https://itp-xstory.github.io/p5js-shaders/#/./docs/using-texture-coordinates - attributes

[2021-03-24 15:26] shiffman commented on #5118
Super excited to see this discussion! Would love to help in any way that I can. A totally different but related direction (a la the Processing "MovieMaker" tool) would be to build in a saveGIF button / export option into the web editor itself! This is probably a step 2 or longer term option (and has its downsides as well) but could be really wonderful for the short 2 hour intro to p5 weekend works

[2021-03-24 15:46] JetStarBlues commented on #5120
@JalokimFreelance Thanks for the link! I'm looking for the ability to define custom attributes. The examples in the linked articles use the predefined ones.

[2021-03-24 17:34] JetStarBlues commented on #5120
The key thing I'm hoping for is a `setAttribute` equivalent to `setUniform`.
At present, it seems like,
- if you want to specify custom values for `aPosition`, you can
  - use `beginShape, vertex, endShape` in the draw loop
  - or, use `loadModel` to load an STL or OBJ model created with other software
- if you want to specify custom values for  `aVertexColor`
  - the only option is to use `beginS

[2021-03-24 18:40] aferriss commented on #5120
Hi @JetStarBlues

I don't believe such a function exists currently, although I think it could make a good addition to the webgl api. Binding attributes is typically a bit more complex than uniforms and most of the time people rely on the ones provided by the library. You might be able to pack your data into another buffer that you're not using, for instance if you don't need normals you could put

[2021-03-25 02:02] JimBrink opened #5124 "https://p5js.org/reference/#/p5/splice is confussing"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)   documentatati

[2021-03-25 06:51] TsgabiXD opened #5125 "No example given for beginShape(TESS)"
This issue has already been mentioned:
https://github.com/processing/p5.js/issues/3672

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [x] Math
- [ ] Unit Testing
- [ ]

[2021-03-25 07:32] harplife commented on #5034
Hello, @lmccart ! Sorry for the late reply.

Have you tested it on a local environment, instead of on the online web editor?
I'm still able to reproduce the same bug on the local environment,
but on the online web editor, it seems to produce a different, yet odd, result.

On the online web editor, if my first action (after clicking the start button) is to erase (holding e and click),
it will draw

[2021-03-25 08:47] cenkakay08 opened #5126 "Adding node module to p5.js"
Hi everyone. I'm working on bin packing project. I want to use node module to placement of rectangles.

Node module that I want to use:  https://www.npmjs.com/package/rectangle-bin-pack

Is there any tutorial or document to about adding node modules? If this is not the place to ask these questions, I apologize right now. Thanks already for your help. Have a nice day.

[2021-03-25 17:48] montoyamoraga commented on #5126
hi @cenkakay08!
the right place for asking code related questions is our forum
https://discourse.processing.org/
here we try to discuss issues, bugs, and enhancements,
and maybe in the forum somebody else already has your solution
:)

[2021-03-25 17:48] #5126 closed

[2021-03-26 06:21] GregStanton commented on #5118
Hi everyone!

As a p5.js user and aspiring library contributor, I'm really excited to see this discussion.

### My experience as a user
In case adding another perspective helps, I'll describe my experience learning to create my first Twitter GIF using p5.js. I learned p5.js on my own (with the help of The Coding Train videos by @shiffman), and despite my previous programming experience, it took a

[2021-03-26 12:09] stalgiag commented on #5125
Implicit tesselation for custom shapes was causing issues with other behavior. As of #4147, explicit tesselation by writing `TESS` as the parameter for `beginShape(TESS)` is required. Your example works as expected with this.

Perhaps a `TESS` example for [the beginShape reference](https://p5js.org/reference/#/p5/beginShape) is in order. This could be a good issue for someone interested in contrib

[2021-03-26 12:17] stalgiag commented on #5124
p5 splice is deprecated. To remove elements from an array, pass the starting index and number of elements to remove. The [linked MDN documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice#remove_1_element_at_index_3) explains it well.

I am closing this for organizational purposes.

[2021-03-26 12:17] #5124 closed

[2021-03-26 12:29] stalgiag commented on #5034
Hi @harplife I made a copy of @lmccart's [sketch here](https://editor.p5js.org/stalgia.grigg/sketches/FBwUqgh6k). It is similar but the mouse drawing is every frame just to help make it a little more clear what is happening.

When you are clicking without holding e, you are drawing red circles to the graphics object. When you are clicking while holding e, you are erasing with a rectangle shape fro

[2021-03-26 12:54] TsgabiXD commented on #5125
Oh sorry.

[2021-03-26 14:40] JetStarBlues commented on #5120
@aferriss Thank you for the detailed reply!

I'm still learning many of these concepts, but I'll try to give it a shot.

How would one do this? It seems that the various geometry constructors fill the attributes with values. How would one then overwrite these values? (ex [one][0], [two][1])

[0]: https://github.com/processing/p5.js/blob/a509c43102f7393233aeb27a4e5c960243536bca/src/webgl/3d_primiti

[2021-03-26 16:55] stalgiag commented on #5125
Hi @TsgabiXD no need to be sorry! I am reopening your issue because it was helpful in indicating that we should likely document this behavior a little better in the examples for `beginShape`.

[2021-03-26 17:54] nooomski opened #5128 "Firefox performance loss when using createGraphics buffer as a texture"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-26 18:29] aferriss commented on #5120
Well, I think with the default shapes (rect, box, ellipse, etc) you won't be able to because there's no way to hold a reference to the shapes (I could be wrong about this but this is how I remember). This is actually something that could be nice to have too, so that you could loop over the shape's vertices, uvs, normals, etc. It's kind of outside of the processing / p5 paradigm of declaratively dr

[2021-03-26 19:16] TsgabiXD commented on #5125
Thank you.

[2021-03-27 06:01] two-ticks commented on #5118
`saveGif` feature can also be very useful for STEM community on twitter and instagram. The saveGIF button / export option into the web editor would be great for exporting animations and sharing them easily. By manipulating text and KaTeX elements user can also animate text and equations which can be a great for remote teaching. I tried recording KaTeX equations through `ccapture.js` but was not ab

[2021-03-27 06:02] ShenpaiSharma commented on #5125
Hi @stalgiag, I would like to work on this

[2021-03-27 14:12] p5kontur opened #5129 "p5shader - beginShape(POINTS | LINES) ignores custom shaders"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-27 14:22] Michal8705 opened #5130 "windowWidth and windowHeight do not work on Chrome"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-03-27 19:55] ShenpaiSharma commented on #5125
Hi, @stalgiag @montoyamoraga; I have added an example and also added some descriptions. Please check if it is okay:

![image](https://user-images.githubusercontent.com/47415702/112733037-98060e00-8f63-11eb-8367-1d27f783d1e7.png)

Description:

![image](https://user-images.githubusercontent.com/47415702/112733047-aa804780-8f63-11eb-8717-a31ee7795f9b.png)

[2021-03-27 23:24] lmccart commented on #5104
@tallalnparis4ev I think if you release the shift key in the context of screen capture on OSX, the key events are then captured by the screen capture program and not accessible via p5. So you see the keypressed before the screen capture program is activated, but the keyreleased gets captured. I don't think we can fix this via p5 because it's at a lower OS level than p5 has access to.

[2021-03-28 10:48] maxthomax opened #5131 "Broken auto-generated links in the offline p5-reference documentation"
#### Most appropriate sub-area of p5.js?

I suggest using the following labels: 'severity:minor', 'level:beginner' and 'area:documentation'

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Tes

[2021-03-28 11:26] maxthomax commented on #5131
I'll work on a pull request with a bugfix to generate "same-document references" (https://tools.ietf.org/html/rfc3986#section-4.4).

- For the 'Extends' type links (column 901):
    - replace `<a href="/reference/#/<%=item.extends%>" title="<%=item.extends%> reference">`
    - with `<a href="#/<%=item.extends%>" title="<%=item.extends%> reference">`
- For the 'Used by' type links (column 1758 befo

[2021-03-28 13:18] #5046 closed

[2021-03-28 13:24] stalgiag commented on #5129
Hi and welcome! Does your shader have a `uStrokeWeight` uniform? [See this check](https://github.com/processing/p5.js/blob/main/src/webgl/p5.Shader.js#L511).

[2021-03-28 13:38] stalgiag commented on #5128
Thank you! I am able to reproduce.

If anyone is able to run some performance tests and narrow down where this performance loss is occurring that would be great.

[2021-03-28 14:55] #5115 closed

[2021-03-28 14:56] #5104 closed

[2021-03-28 14:59] lmccart commented on #5100
@s-cork @limzykenneth thanks for this detailed write-up and discussion. I see what you're saying, but I think there are some practical limits we have to set on use cases we support. with global and instance mode we've tried to capture two of the most common ones. since we are a volunteer team, there's just not the capacity to support all different use cases within the library. in this case, using

[2021-03-28 15:00] lmccart commented on #5125
@ShenpaiSharma looks great! would you like to submit a pull request with this addition?

[2021-03-28 15:09] s-cork commented on #5100
It's very niche. Thanks for the link - though JavaScript is definitely the best implantation for skulpt (it's python in the browser compiled to JavaScript - even more niche). p5 has been requested several times recently by those using skulpt for education.

I'd be happy to work on relevant prs. But I understand hesitancy surrounding extending the api.

[2021-03-28 16:24] JetStarBlues commented on #5120
Sorry for the late reply!
Thank you for the explanation!
Haven't had time to sit down and tackle this, but will update accordingly.

[2021-03-28 16:52] p5kontur commented on #5129
Unfortunately that doesn`t change anything. I had a look on the code line you linked me to and from there i started to have a look on some other files. I found the following in p5.RendererGL.Immediate.js

[code]

The _drawPoints function is defined in p5.RendererGL.Retained.js

[code]

It is calling _getImmediatPointShader() in p5.RendererGL.js

[code]

But the attribute this.userPointShader can n

[2021-03-28 17:20] stalgiag commented on #5129
Yes, p5 does not accept custom shaders for points. This could possibly be added but I think it would warrant an argument for how the feature would improve accessibility.

Custom shaders can be used with strokes. I was replying to that part of the issue.

[2021-03-28 17:46] p5kontur commented on #5129
"Custom shaders can be used with strokes. I was replying to that part of the issue." (from the original answer)

Ok I understand. But in general this is not true. My vertex shader is morphing cube vertices to sphere vertices by deviding by its length. These 'transformed' vertices are used to draw the primitive, but the cube-vertices I passed originally to the vertex shaders are the ones used by p5

[2021-03-28 18:52] stalgiag commented on #5129
After re-reading that you are using beginShape(LINES), I edited my response.

Custom shaders can be used for stroking retained geometry but they are not used with `beginShape(LINES)`. This is because [the fill shader is being used for drawing the vertices in LINES mode](https://github.com/processing/p5.js/blob/main/src/webgl/p5.RendererGL.Immediate.js#L250). This is due to some conceptual confusio

[2021-03-28 19:03] outofambit opened #5133 "npm run release preview actually does a (mostly) real release"
I ran `npm run release -- --preview` today to do a test run of the 1.3.1 release, but it did a (mostly) real release. It did everything for an actual release except upload the new library version to bower. I was able to finish the release properly, so no actual harm except for the surprise of doing a release :)

The docs [here](https://github.com/processing/p5.js/blob/main/contributor_docs/release

[2021-03-28 19:04] outofambit commented on #5092
just did this! (albeit slightly on accident, see https://github.com/processing/p5.js/issues/5133)

[2021-03-28 19:04] #5092 closed

[2021-03-28 19:23] limzykenneth commented on #5133
[This line](https://github.com/processing/p5.js/blob/main/tasks/release/release-p5.js#L34) should have prevented the release from actually releasing. I'll have a look but if you have any inkling of what may have happened do let me know as well.

[2021-03-28 20:22] limzykenneth commented on #5133
Ok, I found the problem. The `--preview` flag for `np` is added in `6.2.0` of `np` (which was the lastest version when it was added) but it had issues with NPM 2FA so it was downgraded to `5.2.1` [here](https://github.com/processing/p5.js/commit/c3edea7cc31be6ca96df0f2751795248a87193c4) which doesn't have the 2FA issue but also doesn't support the `--preview` flag.

The current latest version is `

[2021-03-28 21:08] limzykenneth commented on #5133
I've tested out the latest version but is unable to publish to my namespace (got stuck at 2FA where it keeps asking for the token repeatedly). I'm not sure if it would be the same case for non-namespaced packages as well, I have a few projects published to NPM using `np` and 2FA without problems but I'm publishing to non-namespaced package and probably not using `7.4.0` yet.

I wonder if it would

[2021-03-29 01:10] harplife commented on #5034
@stalgiag oh no, I think there's been a little misunderstanding.

p5.js v1.2.0 produces the Uncaught TypeError.
p5.js v1.3.0 fixed the bug, now it works as intended without any error.
(Thank you, btw! and to everyone who worked on the #4983 and #5003)

@lmccart mentions that this error is not reproducible in both v1.2.0 and v1.3.0,
to which I asked whether @lmccart tried to reproduce the error in

[2021-03-29 01:52] lmccart commented on #5034
ok, thank you for the clarification. sounds like it's fixed then in 1.3.0. may I close this?

[2021-03-29 02:42] pharaoh583 commented on #4114
I solved it this way. I have a createfileInput(loadJ)
and the loadJ function is the following:
`function loadJ(file){
    let data = JSON.stringify(file.data);
    let obj = JSON.parse(data);
    for(let i = 0; i < obj.length; i++){
      print(obj[i]);
    }
    return;

}`
you can start working with obj
Anyway here is the link to see it working https://editor.p5js.org/moises.quispe/sketches/31YB

[2021-03-29 02:46] #5125 closed

[2021-03-29 02:47] #5131 closed

[2021-03-29 03:38] harplife commented on #5034
Yeah sure.

[2021-03-29 03:38] #5034 closed

[2021-03-29 03:57] rmurrish opened #5137 "Download Link Broken"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other, website

#### Details about the bug:

[2021-03-29 05:04] lmccart commented on #5137
@outofambit I think the release just needs to be named "1.3.1" instead of "v1.3.1" and this will link. if the script autonames to v1.3.1, maybe we should update the link path in the hbs file instead.

[2021-03-29 05:10] outofambit commented on #5137
ohhh thank you @lmccart! the script does default to `v` so i agree updating [the hbs file](https://github.com/processing/p5.js-website/blob/main/src/templates/pages/download/index.hbs) is the way to go here!

gonna unassign myself now that we know what the problem is, but if no one has a chance to fix this in the next day or two, i should be able to pick it up!

[2021-03-29 11:18] limzykenneth commented on #5121
I'm not sure the accessibility requirement for new features has been met here. One thing I would consider is this new way of defining style makes things easier but for whom?

[2021-03-29 12:33] lm-n opened #5139 "Use describe() to create accessible canvas descriptions in inline documentation"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
This change from using `@alt` to using `describe()` in inline documentation will help model best practices for making p5.js sketches accessible to screen reader users. While `@alt` creates an extra `<span>` element after the canvas with the canvas description, `

[2021-03-29 15:14] Aloneduckling commented on #5121
I think you are right, this feature doesn't quite fulfill the established p5.js access criteria. I thought having this feature would help in writing cleaner, understandable (if we are defining a lot of styles) and quality code. This would make the above things easier for all the p5.js users in general.
I also think having this feature would open doors to make p5.js and DOM much more connected like

[2021-03-29 19:07] DivyamAhuja commented on #5118
@stalgiag @shiffman Will this feature will be good as a GSoC project? (maybe it can be extended into real `Movie maker` as @shiffman said if support for p5.sound and mp4 can be added. am not sure about this tho)

[2021-03-29 22:03] stalgiag commented on #5118
Hi @DivyamAhuja my sense is that this will not be enough work to constitute an entire GSoC project. This will be more of a matter of adding a few public functions that expose things that the library already does. The biggest challenge here is design but the work there will likely happen in the form of this ongoing community discussion.

It is possible that this could be part of a larger GSoC proje

[2021-03-30 01:38] JimBrink opened #5142 "A problem with textAlign documentation"
#### Most appropriate sub-area of p5.js?
- [x] Other (specify if possible)
 documentation
#### Details about the bug:
The documentation page https://p5js.org/reference/#/p5/textAlign seems to have 2 problems:
1.  Nowhere does it say the default vertical alignment is "BASELINE" if the
  textAlign call does not specify the vertical alignment.
2.  The second example on that page shows the BASELINE al

[2021-03-30 06:55] DivyamAhuja commented on #5118
@That's what I was thinking, but I don't think I got any idea of integrating this feature in any other project other than batch of bug fixes XD

[2021-03-30 21:28] JetStarBlues commented on #5120
Hi @aferriss

It doesn't look like it is possible to render a model using a custom shader.

I copied the [loadModel example][0] and created the following shaders:

_v.vert_
[code]

_f.frag_
[code]

The main program looks like this,
[code]

Expected result, the octahedron is red. However, the model seems to be rendered by the default shaders (for material and lines). Setting `noFill()` does nothing

[2021-03-30 21:54] JetStarBlues commented on #5120
I spoke too soon.
Using the **undocumented(!)** default uniforms seen in [your example here][0] (`uniform mat4 uProjectionMatrix` and `uniform mat4 uModelViewMatrix`), I was able to get the octahedron to render red.

_v.vert_
[code]

[0]: https://github.com/aferriss/p5jsShaderExamples/blob/gh-pages/6_3d/6-2_vertexDisplacement/shader.vert

[2021-03-30 21:54] aferriss commented on #5120
It might not be appearing because you aren't using any of the matrices for projection. Without looking more closely I can't say for certain, but a typical vertex shader for a 3d object looks like:

[code]

[2021-03-31 13:14] TohWenXiang opened #5144 "Error when specifying an instance container via passing in the ID of the container element."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible): Instance Mode,

[2021-03-31 15:53] paraclete-pizza opened #5145 "Adding sort functionality for Table objects"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ x] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-04-01 02:30] jht1493 commented on #4272
This simple sketch is very easy for a novice user write.
In auto-refresh mode get into loop with print dialog repeating opening.
Must kill browser window/tab to stop.

**I recommend print with no args call console.log.**

[code]

[2021-04-01 08:01] jiameng123 opened #5147 "How can you get the current location coordinates when using the push/pop method?"
e.g:

`
 push();
rotate(r1);
 line(0,0, 0, prevY- 10);
 pop();
`

I called the lien method within the push/pop method, it works, how do I get the x1, y1, x2, y2 coordinate information in the line method correctly?

[2021-04-01 16:52] stalgiag opened #5148 "Impossible to set stroke shader without also setting fill shader"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-01 22:10] aferriss commented on #5148
Also, `createShader()` is often used inside of setup, so I think this would cause a problem there as well. Is there a better way to check what kind of shader it is rather than using the uniforms?

I don't know enough about what desktop Processing is doing with the FILL, POINTS, LINES optional param. Is it kind of like setting the gl primitive mode?

[2021-04-02 00:50] grege2 opened #5149 "Increase allowed image size in createGraphics() and save Canvas() beyond 2^28 pixels"
#### Most appropriate sub-area of p5.js?

- [x] Image

#### Feature enhancement details:

Hi team, I'd like to create and save an image larger than 2^28 pixels.  By trial and error I've found that createGraphics() and saveCanvas() max out at 2^28 pixels, eg. for a square buffer that's  2^14 x 2^14, ie. 16384 x 16384 pixels. For a rectangle it could be 2^15 x 2^13, ie. 32768 x 8192, etc etc.

The l

[2021-04-02 03:06] ivorylover opened #5150 "LGPL restriction"
I will handle a commercial project which hope to use p5.js library，we need use P5 engine to render P5 material  in webview. but this library it is licensed under the LGPL, would I have to open source just the combined library file or the complete project, or none of it?

[2021-04-02 05:51] lmccart commented on #5150
Hi @ivorylover I don't know the details of your particular case but hopefully [this resource](https://tldrlegal.com/license/gnu-lesser-general-public-license-v2.1-(lgpl-2.1)#:~:text=This%20license%20mainly%20applies%20to,license%20them%20under%20LGPL%2D2.1.&text=The%20LGPL%20prohibits%20sublicensing%2C%20yet,modify%20and%20distribute%20the%20work.) is helpful:

[2021-04-02 05:53] lmccart commented on #5147
@jiameng123 you would need to track and transform these coordinates yourself, there's no method for this. for more help with this please check out our forum: https://discourse.processing.org/

[2021-04-02 05:53] #5147 closed

[2021-04-02 06:27] #5150 closed

[2021-04-02 06:28] lmccart commented on #5121
These are great ideas @Aloneduckling, but I agree with your assessment about access criteria. I'd propose we table this for now and see if further needs develop.

[2021-04-02 06:28] #5121 closed

[2021-04-02 06:33] lmccart commented on #5015
@da091005 have you tried @stalgiag's suggestion? I just tested and this should resolve the issue.

[2021-04-02 06:33] #5015 closed

[2021-04-02 09:53] limzykenneth commented on #5130
If this is only happening in a specific browser, it is more likely an issue with the browser itself than with p5.js

[2021-04-02 10:13] Aloneduckling opened #5152 "Friendly error message not displayed"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-02 10:14] limzykenneth commented on #5149
268,435,456 or 16384 x 16384 pixels is the size limit of most browser's implementation of HTML canvas, it is not possible to exceed that value. If you need to output higher resolutions than that you will have to find alternative solutions such as SVG or  if the browser is not essesntial to the work, Processing or Openframeworks.

[2021-04-02 10:18] Aloneduckling commented on #5152
I have done the changes and will create a PR upon confirmation.
Here are the screenshots for the same:
![image](https://user-images.githubusercontent.com/54030684/113407302-a4a6be00-93ca-11eb-930c-292545ba3638.png)

Here the 1st message is the friendly error message, the second was the original.

[2021-04-02 14:46] jcelerier opened #5153 "Occasional stack overflow with the given sketch"
Hello,

one of my students made the following sketch : https://editor.p5js.org/Hoku/sketches/39wNH9GTD

I do not notice anything wrong with the code. However, after some time running (between 30s and 5 min) the web page dies with a stack overflow error.
I do not have any idea of how to debug this but maybe it could be interesting for someone to look at it ?

Kind regards

[2021-04-02 16:42] Brahvim opened #5154 "A way to create HTML tables."
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-04-02 17:44] stalgiag commented on #5148
Hi @aferriss !

That optional parameter is for setting which geometry to apply the custom shader to. So you could theoretically have a custom line/stroke shader but still use the default fill shader. Currently, p5 tries to autodetect this but that isn't working properly.

I can't think of a better way to tell what the intended geometry is for the shader. Checking uniforms seems like the only way b

[2021-04-02 22:33] grege2 commented on #5149
Thanks, will check through all that. I'll leave this open just a while if that's ok.

[2021-04-03 04:05] karenanndonnachie commented on #4992
thank you!

[2021-04-03 17:17] #5081 closed

[2021-04-03 20:36] aferriss opened #5155 "updatePixels() can't be called in WEBGL Mode"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-03 20:38] aferriss commented on #5149
You might also be able to tile multiple canvas on a single page. I haven't tried this, and it will surely be slow with canvases that large, but I think theoretically should be possible.

[2021-04-03 20:47] aferriss opened #5156 "large webGL canvases draw at unpredictable locations"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-04 05:43] grege2 commented on #5149
Hi all .. thanks for the above comments. Here are some more results from my own trawling.

MDN info on max canvas limits:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas#maximum_canvas_size

A Stack Overflow page:
https://stackoverflow.com/questions/6081483/maximum-size-of-a-canvas-element

Referred to in the above page, a Github tool for testing canvas limits. Very useful.
https:

[2021-04-04 05:54] Prateek93a commented on #4535
@lmccart @micuat If nobody is working on this right now, shall I take it up?

[2021-04-04 09:42] sflanker commented on #2647
Just in case somebody winds up here for the same reason I did...

For the record, neither p5js, nor Java version of processing, support calls to translate() (or other transformation functions) in between calls to vertex while drawing a shape with beginShape/endShape. The title of this GitHub isn't really appropriate for the problem the OP was having (it sounds like they just weren't using translat

[2021-04-04 10:09] micuat commented on #4535
wow. I revisited this issue now and it looks like really weird edge cases.

@Prateek93a yes please but do you know what the steps are? The first problem (dimensions) is perhaps rather easy, and the second one seems more tricky not to break other things (or maybe I'm wrong)

[2021-04-04 11:40] limzykenneth commented on #5149
Cool, closing this now.

[2021-04-04 11:40] #5149 closed

[2021-04-04 12:51] montoyamoraga opened #5158 "add Swapnil-2001 as a contributor"
for https://github.com/processing/p5.js-website/pull/995

[2021-04-04 12:52] montoyamoraga commented on #5158
@all-contributors please add @ Swapnil-2001 for docs

[2021-04-04 12:52] montoyamoraga commented on #5158
@all-contributors please add @Swapnil-2001 for docs

[2021-04-04 12:53] #5158 closed

[2021-04-04 17:43] Prateek93a commented on #4535
@micuat Yes the second issue is a little tricky to solve, I do have a solution but that is creating issue in other part of the code. So I will come up another approach to fix it. Thanks for the help!

[2021-04-05 08:48] micuat commented on #2525
I just noticed that the const is only accessible when p5 is instantiated, which I totally didn't think about. This can be problematic in some (or most) use cases (when you need to check version after loading the module but before instantiation). Or am I missing something? if so please close the issue :)

[2021-04-05 13:53] bobcgausa opened #5160 "angleMode not saved/restored by push/pop"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [X ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-04-05 15:52] stalgiag commented on #5160
Hi @bobcgausa ! Thanks for the issue. I agree that `angleMode` should be captured by `push` and `pop`. [Here is an example](https://editor.p5js.org/stalgia.grigg/sketches/s_liZIXG8) that shows the problem.

[2021-04-05 16:12] stalgiag commented on #5155
It somehow seems that this just never existed which is extremely odd. It seems as though you are the first person to try to do pixel manipulation of a WebGL canvas and make an issue about how it doesn't work. So strange.

Anyways, we should likely add this or at least add a stub function so this doesn't crash sketches.

I am not sure what the best approach would be for setting the pixels in the We

[2021-04-05 16:38] #4992 closed

[2021-04-05 17:01] smrnjeet222 commented on #2309
@all-contributors please add @smrnjeet222 for code, talk, design, review

[2021-04-05 17:13] limzykenneth commented on #2525
Maybe instead of defining the version number in `constants.js` it can be directly attached to `p5` at the end  of this file, ie `p5.VERSION = ""`.

[2021-04-05 17:29] smrnjeet222 opened #5162 "`globalCompositeOperation` and `shadowBlur` together not likely working on windows+firefox"
with `shadowBlur = 0` it works. So it seems windows+firefox doesn't like `globalCompositeOperation` and `shadowBlur` together. I don't know if it's related but quick search showed this:
https://stackoverflow.com/questions/34028717/canvas-shadow-with-globalcompositeoperation-destination-out

_Originally posted by @micuat in https://github.com/processing/p5.js/issues/4403#issuecomment-640077275_

[2021-04-05 17:29] smrnjeet222 commented on #4403
Firefox 87.0 (64-bit)  on Windows 10 20H2

| `shadowBlur = 0`  | `shadowBlur > 0` |
| --------------- | --------------- |
| <img src="https://user-images.githubusercontent.com/48654626/113602613-73472000-9660-11eb-8638-b4b8a740a545.png" /> | <img src="https://user-images.githubusercontent.com/48654626/113602902-e0f34c00-9660-11eb-95b9-a0ef4d57c83e.png" />|

[2021-04-05 17:39] smrnjeet222 commented on #5162
Firefox 87.0 (64-bit)  on Windows 10 20H2

https://github.com/processing/p5.js/issues/4403#issue-585898291

| `shadowBlur = 0`  | `shadowBlur > 0` |
| --------------- | --------------- |
| <img src="https://user-images.githubusercontent.com/48654626/113602613-73472000-9660-11eb-8638-b4b8a740a545.png" /> | <img src="https://user-images.githubusercontent.com/48654626/113602902-e0f34c00-9660-11eb-95b

[2021-04-05 19:12] aferriss commented on #5155
Yeah, I thought it was weird too, but maybe it's kind of un unusual thing to be doing 😅

I think in terms of implementation, all we would need to do is essentially just create a texture using the current pixel data and run it through a shader that just draws that texture to the screen.

It's definitely going to be a slow operation, but good for a case when you want to go shader -> pixels and back

[2021-04-05 19:31] aferriss commented on #5155
Here's a small example of how it could be implemented just using existing functions. I'm not sure it's the most efficient but it works 🤷

https://editor.p5js.org/aferriss/sketches/5YQevK79X

[2021-04-05 21:41] alovictor commented on #5145
Hey, I like that. I've been thinking about this and I've came up with something simple like this:
[code]
where column is the column to sort by and direction (optional) could be ascending or descending.
I am not that familiar with sorting in tables, so I don't know what else would be important to have. I would like to hear more opinions to try to implement something.

[2021-04-06 09:20] Artoria2e5 opened #5164 "Add Oklab colormode"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Having a more perceptual color system will help artists and anyone unfamiliar with the ideosyncracies of computer color space pick colors better.

### Most appropriate sub-area of p5.js?
- [x] Color

### New feature details:
[oklab](https://raphlinus.github.io/c

[2021-04-06 11:35] Prateek93a commented on #5154
@Brahvim This might be helpful : https://p5js.org/reference/#/p5.Table

[2021-04-06 12:59] Brahvim commented on #5154
Wait, but does it work with HTML? Because what I requested was for it to work like a DOM element.

The reference page itself does not mention that it is a DOM element anywhere.
(_Unless I misread!_)

Thank you for the information though! :D!

[2021-04-06 13:16] Prateek93a commented on #5154
Oh ok, I misread your request and thought you were asking for tables feature in p5 sketch. Thanks for the clarification!

[2021-04-06 22:55] alovictor commented on #5145
I started to implement and decided to do as it is in processing, two different functions for ascending and descending order.
[code]
I had to make some extra internal functions in p5.Table to handle quicksort, but i dont really know if this is following the design pattern of p5.js. I know the lib is quite lean, so can any contributor tell me if its ok to do this? Or any idea on how to implement cou

[2021-04-08 17:10] limzykenneth commented on #5164
I think Oklab is too complicated and not mature enough to be included in p5.js at this point. It can be implemented as an addon library if desired though.

[2021-04-08 17:13] limzykenneth commented on #5162
Is this the same issue as #4403 or is this documenting something else?

[2021-04-08 17:21] limzykenneth commented on #5153
I'm not able to replicate, if you can provide some additional info such as the OS and browser version it may help with us replicating the issue. It would also be helpful if you can isolate which part of the code is causing the problem by commenting out different lines of code and see if the stack overflow happens or not.

[2021-04-08 17:27] limzykenneth commented on #5144
The behaviour is as documented [here](https://github.com/processing/p5.js/wiki/Global-and-instance-mode) unless you find another place where we documented that the constructor takes element ID instead?

[2021-04-08 17:31] limzykenneth commented on #5144
I'm not able to replicate this problem. Using just a string arguments work with both Firefox and Chrome on p5.js 1.2.0.

[2021-04-08 18:38] smrnjeet222 commented on #5162
It's similar, but I think this issue is more specific to `shadowBlur` behavior in firefox  on windows 10

[2021-04-09 03:20] JetStarBlues commented on #5120
Ah, I see.

For posterity, here's a link to [the final working code][0] I put together. There are three variants:

- `sketch.js` uses `loadModel`
	- relies on undocumented behaviour (p5.Geometry default buffer properties (name, content type), default attribute names)
- `sketch2.js` directly invokes a new instance of `p5.Geometry`
	- relies on undocumented behaviour (p5.Geometry default buffer prop

[2021-04-09 05:05] TohWenXiang commented on #5144
I forget to state that I'm using p5.sound [0.3.12] as well in my project. It works fine when I remove it.

[2021-04-09 13:17] limzykenneth commented on #5144
I've tried it with p5.sound as well and it still works as intended. Do you have any extra code other than the example you provided?

[2021-04-09 13:57] Artoria2e5 commented on #5164
It's honestly the simpliest of "good" perceptual colorspaces. The more "mature" CIE L*a*b* has a similar (actually slightly more complex) construction, but its weakness in blue hues is more than obvious. The earlier attempts to "fix" CIE L*a*b* generally resulted in some even more complex things that I will not even dare to mention here. (IPT was a good model wrt hue, was of the same complexity, b

[2021-04-09 14:16] limzykenneth commented on #5164
Considering p5.js itself doesn't have LAB color space in any of its form, the concern here is not about the quality of the color space or the simplicity of the implementation. What I mean by maturity has more to do with available resources for beginners to learn about any specific feature in p5.js (or anywhere else). From what you have linked I can only see very technical writings about the Oklab

[2021-04-09 14:21] Artoria2e5 commented on #5164
A picture of what the "rainbow" looks like is enough answer for "why oklch" for any beginner. The other concepts have very familiar analogs in HSB and HSL.

[2021-04-09 14:27] Artoria2e5 commented on #5164
Ah you know what, chroma is an external library I can go for instead.

[2021-04-09 14:27] #5164 closed

[2021-04-09 16:53] aferriss commented on #5120
@JetStarBlues These are great examples! Thanks for taking the time to share them. It seems like you were able to get pretty close to what you were aiming for. This is great to see and I think definitely helps illuminate areas in the webGL api that could use more work.

One area where help is always welcome is documentation, so if you see anything that you thing should be updated, I think those wou

[2021-04-09 17:07] micuat commented on #5162
I don't see any difference from #4403. closing...

[2021-04-09 17:07] #5162 closed

[2021-04-09 22:34] JetStarBlues commented on #5120
Oh! Happy to hear =D! (Thanks for taking the time to reply to these sporadic posts!)

I've never seen anyone directly with the p5.Geometry class like that either so contributing those examples could be very valuable for other newcomers to the 3d api.

Noted. Will give it a try.

[2021-04-10 01:22] JetStarBlues commented on #5120
@aferriss Came up with one more implementation idea.
Like `sketch2.js`, `sketch4.js` creates a new instance of p5.Geometry. However instead of overriding existing buffers, it creates new ones. I've added it to the [gist][0]. This seems to be the cleanest of the four.

[code]

[0]: https://gist.github.com/JetStarBlues/44ef51264c7c042829ac6accd3893199

[2021-04-10 01:30] JetStarBlues commented on #5120
It will always create buffers of type `Float32Array`, but I think that's good enough for most cases.

[2021-04-10 03:48] aferriss commented on #5120
This is great! I really didn't know that you could use p5 to make procedural geometry in this way. I definitely think we should consider documenting this workflow. @stalgiag what do you think about this?

I moved some of your examples to the editor and simplified them as well:

[Simple Triangle](https://editor.p5js.org/aferriss/sketches/gGcKisxHq)
[Simple Plane](https://editor.p5js.org/aferriss/sk

[2021-04-10 20:05] seldomU opened #5166 "createCapture documentation layout is broken"
The code examples for [createCapture](https://p5js.org/reference/#/p5/createCapture) are increasingly indented, so that only the first one is actually readable. Tested on current Firefox and Chrome.

[2021-04-10 21:13] eveevans commented on #1815
I ended with this to make it works:

[code]

[2021-04-11 00:53] davepagurek opened #5167 "Gif disposal mode being applied to incorrect frames"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-11 04:36] JetStarBlues commented on #5120
Cool examples!
The `id` attribute reminds me of the `vertexId` attribute in the [vertexshaderart demos][0]. Will try porting one and see how it goes. I think we have most of what's needed to do so... (minus the ability to specify the `mode` argument of `drawElements`/`drawArrays`).

[0]: https://www.vertexshaderart.com/

[2021-04-11 06:16] TohWenXiang commented on #5144
Here's the link to my gitlab repository.
[Poisson Disk Sampling with P5js](https://gitlab.com/Artemis_Toh/p5js-poisson-disk-sampling)

[2021-04-11 06:29] TohWenXiang commented on #5144
There isn't any other codes other the example, I've publicize my repository so I think you can take a look at it.

[2021-04-11 10:01] limzykenneth commented on #5144
[code]

You are loading the libraries and script in asynchronously with `defer` which I believe is what's causing your problem. p5.js does not support asynchronous loading of scripts so the `defer` keyword should not be used here.

[2021-04-11 10:04] limzykenneth commented on #5144
I've cloned the repo and run it on my computer but still isn't able to replicate this problem.

[2021-04-11 10:12] limzykenneth commented on #5166
The second and third example sketches for `createCapture` should probably have the `norender` class on its container `div` as the canvas created is larger than 100x100.

[2021-04-11 10:16] limzykenneth commented on #5162
@smrnjeet222 That is what the original issue is about so there's no need to open another issue. Thanks.

[2021-04-11 10:17] limzykenneth commented on #5145
I'm ok with adding this new feature. We need another maintainer to approve on this proposal then you can start putting together a PR. Thanks.

[2021-04-11 10:21] limzykenneth commented on #5152
You can go ahead and file the PR. Thanks.

[2021-04-11 11:27] Michal8705 commented on #5130
It seems like you wrote limzykenneth. I checked the code on several other devices and the problem only occurs in Chrome.

I think the only thing left is to make an exception in the code when using Chrome. Maybe i will try:
document.documentElement.clientWidth
document.documentElement.clientHeight

[2021-04-11 11:49] TohWenXiang commented on #5144
Microsoft Edge Version 89.0.774.75 and Firefox Version 87.0 Works

[2021-04-11 11:52] TohWenXiang commented on #5144
I've removed the defer keyword before testing as well.

[2021-04-11 12:01] TohWenXiang commented on #5144
Errors still persist when using Chrome Version 89.0.4389.114

[2021-04-11 12:31] Aloneduckling commented on #5152
@limzykenneth
When I am committing the changes in my local repo, I am getting this message:
`Error: Cannot find module '../docs/reference/data.min.json'`
I figured out that this file is missing from my local repo, I had cloned this repo earlier which did contain these files I copied it to the clone which I am working with currently and the pre-commit tests passed. I wanted to mention this to confi

[2021-04-11 14:48] davepagurek commented on #3870
Hi! I filed another gif-related bug recently (https://github.com/processing/p5.js/issues/5167) and have been looking into the relevant code. I believe the change for that bug and also for this would need to be to these lines:

https://github.com/processing/p5.js/blob/8c9e9a13e4571e1c49af5b1faf2e104b89863f93/src/image/loading_displaying.js#L196-L204

I've also found <a href="https://legacy.imagemag

[2021-04-11 15:50] two-ticks opened #5169 "code in the fract() page in reference section is not properly shown"
- Steps to reproduce this: Go to [https://p5js.org/reference/#/p5/fract](https://p5js.org/reference/#/p5/fract)

The code of the sketch is not properly shown due to `createCanvas(windowWidth, windowHeight);` in the sketch (code is slightly visible on the right corner). I have also tested in firefox and edge, it is showing the same behavior in them as well.

#### Screenshots:
![image](https://user-

[2021-04-11 20:31] Benoit1980 opened #5170 "Sample needed to play multiple sound files one after the other with a specific BPM"
Well done for making this very complex library.

I would like to know if you could kindly add a sample that shows how to play files within a synched BPM.

ie:
Let's say you have 5 files:
a.wav
b.wav
c.wav
d.wav
e.wav

How to play them as :
a.wav | b.wav | c.wav | d.wav | e.wav

At let's say a bpm of 120?

This would be great to have a tiny example showing how to do this please.

Thanks

[2021-04-12 07:26] DavidWeiss2 commented on #5156
Its two separate bugs -
1:
large the canvas will not be placed at 0,0-
this bug is in the image function.
2:
the shape will not be drawn in the correct position on the graphics buffer.
I replicate it with other shapes as well.
Expected behavior - the shape position will be 0,0 to shape width/height relative to the buffer canvas.

I can confirm that I can replicate the bug even with canvas with the

[2021-04-12 08:31] DavidWeiss2 opened #5173 "Add dist(vector1,vector2)"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

It would help shortness the code written and help to simplify the code for beginners.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [

[2021-04-12 08:41] DavidWeiss2 commented on #5160
I would love to try to fix it.
Do I need to both change:
p5.Renderer.js
p5.Renderer2D.js
p5.RendererGL.js
?

[2021-04-12 10:04] sandersturing opened #5174 "Masking an animated GIF loaded with loadImage() not working."
When loading an animated gif with loadImage() and applying a mask, the image is not masked. Doing the same thing with a still image obviously works:

[Example in online editor](https://editor.p5js.org/sandersturing/sketches/t0UUL-pRJ)

Good to add that there seems to be some inconsistency with how different browsers behave (which I could not reproduce myself):
- Chrome (MAC) does not show the mask

[2021-04-12 11:55] paulcanning opened #5175 "Background image with alpha not working as expected"
Using the following simply code, the alpha parameter simply has no effect

[code]

If you replace `bg` in `background()` with a colour value, you see trails on screen, which is correct, but with the image, there are no trails, effectively, the alpha value doesn't work. You can test this by changing the alpha value to anything and there is no difference. I tried ranges 0-1, and 0-255.

NB - this is

[2021-04-12 11:58] paulcanning commented on #1906
@limzykenneth form the documentation https://p5js.org/reference/#/p5/background

[2021-04-12 12:04] paulcanning commented on #5175
So, either the documentation is incorrect, or its correct and someone forgot to write this feature properly

https://github.com/processing/p5.js/blob/374acfb44588bfd565c54d61264df197d798d121/src/core/p5.Renderer2D.js#L49-L51

The alpha argument is simply disregarded when loading an image. 🤦

[2021-04-12 12:42] bobcgausa commented on #5160
The rule is that library methods should not have side effects, such as changing angleMode, unless the changes are documented.

Since angleMode is a math function, the update should not be restricted to push/pop.
The reason is that a math library function should not have to call push/pop to save the environment.
Thus, in addition to push/pop change, angleMode should return the previous angleMode.

[2021-04-12 13:42] DavidWeiss2 commented on #5160
So maybe we will add an option to add functions to a push()/pop().
Like:
[code]
and the life span of this function will be until a
[code]
Will be called.

This will also give an option to exclude a state, like color() you don't want the push/pop to affect.

[2021-04-12 13:51] stalgiag commented on #5160
Unless I am misunderstanding something, you should be able to add `angleMode` to [the properties returned by `p5.Renderer.push`](https://github.com/processing/p5.js/blob/main/src/core/p5.Renderer.js#L67) to get the expected behavior.

[2021-04-12 13:59] stalgiag commented on #5120
This is really great. I know it isn't very in line with the rest of the API but I often find myself wishing that `p5.Geometry` was made with the intent that users would make their own. This could be accomplished with changes as simple as automatically generating the uniqueID and adding a function that adds a `p5.Geometry` object to the buffers.

[2021-04-12 14:02] bobcgausa commented on #5160
But still forces math only funcs to use mostly graphic push popPersonally, I would just change AngleMode to return previous modeOn Apr 12, 2021 9:43 AM, David Weiss ***@***.***> wrote:
So maybe we will add an option to add functions to a push()/pop().
Like:
push.add(angleMode)
and the life span of this function will be until a
push.remove(angleMode)

Will be called.
This will also give an option t

[2021-04-12 14:17] DavidWeiss2 commented on #5160
So how do you want to address it?

On Mon, Apr 12, 2021, 17:02 bobcgausa ***@***.***> wrote:

[2021-04-12 14:26] bobcgausa commented on #5160
Adding return to anglemode affects noone and can be added immediately.I would get more opinions on any push changeOn Apr 12, 2021 10:17 AM, David Weiss ***@***.***> wrote:

So how do you want to address it?

On Mon, Apr 12, 2021, 17:02 bobcgausa ***@***.***> wrote:

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-12 14:59] paulcanning commented on #5170
Are you wanting to play then at a set BPM, e.g. a.wav is 140BPM, but you want to play it at 120BPM?

Or, are you just asking how to play a.wav, then b.wav, then c.wav... etc?

[2021-04-12 17:19] Benoit1980 commented on #5170
Thank you for the reply.

To be honest, both, but having the files playing as your second example would be a good start:
_"Or, are you just asking how to play a.wav, then b.wav, then c.wav... etc?"_

[2021-04-12 17:49] JetStarBlues commented on #5120
I think one other thing to consider for this approach, is making the way that values are specified consistent. For the [default buffers][0], `vertices` and `vertexNormals` are specified as p5.Vectors whereas `vertexColors` and `uvs` are specified as a list. For an end user, this is an arbitrary distinction (arbitrary rule to remember).

[0]: https://github.com/processing/p5.js/blob/374acfb44588bfd

[2021-04-12 18:26] eveevans opened #5176 "orbitControl needs an unnecessary first touch on Mobile"
orbitControl on Mobile didn't work until you make a first touch.
This just happen on Mobile. Is there a bug ? or a browser limitation?
Events like touchStart, Click, pressed, etc. Just works without needs of a first touch.

Steps to reproduce this:
Go to orbitControl example on a Mobile Device (or browser device view), and try to use it.
https://p5js.org/reference/#/p5/orbitControl

P5 Version: 1.

[2021-04-12 19:49] limzykenneth commented on #5173
This feature already exist (https://p5js.org/reference/#/p5.Vector/dist), unless you are thinkingg of something else?

[2021-04-12 20:26] DavidWeiss2 commented on #5173
I totally missed it. I saw only this reference:
https://p5js.org/reference/#/p5/dist

Maybe an edit to the reference page of both pages will help new people (like me) to notice both options.

[2021-04-12 21:38] aferriss commented on #5120
@JetStarBlues Completely agree. I actually got briefly stumped by this when I was making my examples.

@stalgiag agreed! It feels like all the major pieces are already there and it would just take a little push to make it friendlier.

[2021-04-12 21:56] paulcanning commented on #5170
Add the filenames to an array, and use this https://p5js.org/reference/#/p5.SoundFile/onended to grab the next filename in the array when the previous audi file ends.

[2021-04-12 21:58] paulcanning commented on #5170
As for the bpm, the play() method has a rate parameter, that might work to some extent? Best bet is to read up and experiment with the sound library