[2019-03-08 23:32] stalgiag commented on #3524
Hi @FreddieRa  I am going to close this issue for organization purposes as it seems like you are going to work on your library separately. Feel free to post here when you are done with it. It is also a good idea to post [in the forum.](https://discourse.processing.org/)

[2019-03-08 23:32] #3524 closed

[2019-03-08 23:54] stalgiag commented on #3522
Hi @Ajayneethikannan good catch! I agree that this seems a bit odd. If you go back in the history it seems that this code has been around a very long time, since before there were constants for the filters.

`Filters.apply(this.canvas, Filters[operation], value);` works fine. Note that this is also done in [p5.Image](https://github.com/processing/p5.js/blob/master/src/image/p5.Image.js#L660).

[2019-03-09 00:21] stalgiag commented on #3356
A workaround that fixes this is calling `setAttributes('alpha', false)` on the WebGL canvases. The todo here might be to set 'alpha' to true by default. With 'alpha' set to false you won't be able to have transparency on the backbuffer but this seems like a rare use case, and those users can call `setAttributes`.

I can fix this in #3552 since I am already changing how `setAttributes` sets default

[2019-03-09 01:10] stalgiag commented on #3398
I am no longer able to reproduce this in Chrome 72.0.3626.121 on Windows 10.

`directionalLight` calls do not have an effect on previously drawn geometry or when placed in setup but that is expected behavior. Calls to `resizeCanvas` do not affect these results. All examples posted in this thread work as expected for me.

[2019-03-09 04:49] EOstling commented on #3371
If nobody has started working on this, I would like to take it.

[2019-03-09 07:48] FreddieRa commented on #3524
Hi @stalgiag the library is finished, should I make a new issue?

[2019-03-09 09:20] Ajayneethikannan commented on #3193
@meiamsome I tried to refactor the code suggested by you, and these are the changes I made :
[code]
- removed the `i` variable in Array.from function, as it was not being used any where .
- Tried to remove the dependence on specific setTimeout time parameter, by calling all resolve functions of every promisedSketch after the keyboard event has been dispatched.

I also have one doubt regarding the

[2019-03-09 12:19] vedhant commented on #3571
@lmccart can u guide me into what to do next? I want to fix this issue.

[2019-03-09 13:27] Ajayneethikannan commented on #3522
@stalgiag thank you for suggesting the recommended changes ,
I request you to review them ,
Thank you again !

[2019-03-10 09:35] rikkertkoppes commented on #3309
Can confirm. This also seems to be a problem when even a single quadraticVertex: https://editor.p5js.org/rikkertkoppes/sketches/u19G4z09K

The suggested fix by @aparrish does solve this.

[2019-03-10 10:50] Janglee123 commented on #3575
@EOstling if you not started yet I would also like to work on this. :smile:

[2019-03-10 11:50] limzykenneth commented on #2658
`createImg` is a function in p5.dom library, make sure you have included that library in your HTML file or you will get a `createImg is not defined` error.

[2019-03-10 12:24] limzykenneth commented on #3568
@lmccart Sounds good to me

[2019-03-10 13:04] fffiloni opened #3586 "Feature Request: support GPU.js (or turbo.js) for rendering canvas ?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-03-10 13:35] ankur54 commented on #3379
Is anyone working on this? I am willing to work on this asap. Would that be okay?
Or is this issue resolved?

[2019-03-10 15:18] ashwathbhat commented on #3575
#3587 resolves the issue.
Thank you

[2019-03-10 16:49] Spongman commented on #3586
Looks interesting. How do you propose these libraries will help improve the performance of your use-case? Can you show us a devtool bottom-up profiler screenshot while your ‘onion skins’ thing is running?

[2019-03-10 17:30] ashwathbhat commented on #3545
@stalgiag I would like to take it up if it hasn't been assigned to anyone.

[2019-03-10 17:40] stalgiag commented on #3545
Sounds good @ashwathbhat !

[2019-03-10 17:43] Ajayneethikannan opened #3589 "shifting pushMatrix, popMatrix to legacy.js"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) Platform Independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser

[2019-03-10 21:00] lmccart commented on #3589
@Ajayneethikannan yes, I think these methods should be moved to legacy.js.
no, we are not planning to implement printMatrix() because the underlying canvas does not track the matrix so to implement this method we would have to add our own tracking of the matrix. we would instead like to direct people to libraries like [this one](https://simonsarris.com/a-transformation-class-for-canvas-to-keep-tra

[2019-03-10 21:02] lmccart commented on #3568
updated edit access settings and added note here: https://github.com/processing/p5.js/wiki

[2019-03-10 21:02] #3568 closed

[2019-03-10 21:09] #3522 closed

[2019-03-11 01:19] clay53 commented on #3554
I created a series of functions to add support for this (if someone wants me to put this into the library, not including the show[...]PoinsOnCurve[...] functions, I can try):
https://curveLength--claytonhickey.repl.co
[code]

[2019-03-11 02:37] lyle opened #3591 "Dom Drop event does not receive drop Event"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Dom

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)

[2019-03-11 05:27] lyle commented on #3591
It looks like this bug was introduced with PR #3303 - the newer p5.Element._attachListener method ensure's there can not be two event types attached at the same time. Considering .drop has two call backs passed in that bind to the same event, we could probably just wrap those two together into one closure that has two callbacks fired.
I am working on . test for the drop method that covers this cas

[2019-03-11 12:28] andy5090 commented on #3549
I got the same issue. I downloaded p5.js complete and cannot get any pixels from webcam. But in web editor it works. So I changed p5.dom.js to 0.6.1 then it works.

[2019-03-11 15:06] stalgiag commented on #3545
Documentation made more 'clear' and this issue closed via #3590 😉

[2019-03-11 15:06] #3545 closed

[2019-03-11 17:22] #2919 closed

[2019-03-11 17:22] #3318 closed

[2019-03-11 17:22] #3466 closed

[2019-03-11 17:43] stalgiag commented on #3309
fixed via #3585. Thanks @aparrish & @rikkertkoppes !

[2019-03-11 17:43] #3309 closed

[2019-03-11 18:42] Ajayneethikannan commented on #3548
I agree to @Spongman 's suggestion.
I think the function graphic.resizeCanvas() should be used here, as it is very similar to normal resizeCanvas, as we are basically manipulating another canvas behind the scenes, by my understanding.
Would love to hear what you think of this,
thanks !

[2019-03-11 19:06] stalgiag commented on #3524
Hi @FreddieRa - I checked it out and it seems cool. You have the right idea posting on discourse.processing.org as a start. Github issues probably aren't the best places to talk about and announce new libraries but there are other options. Feel free to shoot an email to hello@p5js.org to introduce your library to the maintainers.

[2019-03-11 19:09] FreddieRa commented on #3548
The `resizeCanvas()` function appears to globally affect the main canvas for some reason. I do not know why this is the case, but even if called as `graphic.resizeCanvas()` it will affect the graphic created with `createCanvas()`.

And yes, as I mentioned in the initial post I confirmed it is `size()` that causes it to become visible, I am just trying to figure why.

[2019-03-11 19:11] figraham commented on #3379
I finished this a while ago but I've been having some problems with git. If someone else wants to work on it that's fine with me. Sorry for keeping this open so long. @ihsavru @ankur54

[2019-03-11 19:13] FreddieRa commented on #3548
Hmm, it seems it's not as simple as calling it on the main canvas because if `graphic.` is removed, the behaviour changes, but in neither case is as expected.

Some example code:
[code]

[2019-03-11 19:25] FreddieRa commented on #3524
@stalgiag Thank you for the help and comments, I appreciate it. I have sent an email, and will see if they can add it to the list of accepted libraries. Do let me know if you think there is anything else that will either improve the library or help get the word out.

[2019-03-11 19:32] ankur54 commented on #3379
Actually, yesterday I went on to update the syntaxes, but limzykenneth said that they are currently not migrating the library code base to ES6 yet. So he closed the pull request as of now.

[2019-03-11 19:47] stalgiag commented on #3379
@ankur54 just for clarity, the reason that pull request was closed is because it updated the library code to ES6. This issue is specifically asking for the reference examples to be update.

If anyone wants to update the reference examples to ES6, this issue is currently in need of help. Thanks!

[2019-03-11 20:04] #3061 closed

[2019-03-11 20:04] #3180 closed

[2019-03-11 20:04] stalgiag commented on #3356
fixed via #3552

[2019-03-11 20:04] #3356 closed

[2019-03-11 20:12] outofambit commented on #3591
Thanks @lyle! That implementation sounds reasonable to me! ✨

[2019-03-11 20:18] Ajayneethikannan commented on #3548
Can you please say what is the expected behavior, and what is the current behavior, I am not able to reproduce your results.

[2019-03-11 20:31] stalgiag commented on #2946
Hi @kjhollen I don't wanna bug you with another ping on this one but I am happy to take this up if you are still busy.

[2019-03-11 20:34] Ajayneethikannan commented on #3548
This is happening because of size function [setting the style attribute](https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L2008) as ,
[code]
which seems to remove some of the older style properties applied, including
`display: 'none'`
for reference : https://www.w3schools.com/jsref/met_element_setattribute.asp

By changing it to ,
[code]

we can avert this.

[2019-03-11 21:13] #3589 closed

[2019-03-11 22:42] gregorfa commented on #3579
Thank you!  I also got expected results with Chrome.   On the same Windows 10 system I got the problem result running Firefox 65.0.2.  Internet Explorer was also OK.  So the current p5JS Web Editor, Windows 10 Firefox 65.0.2.  Will be interested to see if anyone can get the same result.

Thanks again.

[2019-03-11 22:46] Spongman commented on #3549
can someone comfirm that #3504 _does_ actually fix this issue with webcams? i tested it with video playback, but i don't have a working webcam on my dev machine.

[2019-03-11 22:55] kjhollen commented on #2946
Oh yes, please take this one! I'm sorry I've been out of touch. I can
review this when it's ready!

On Mon, Mar 11, 2019, 3:31 PM Stalgia Grigg <notifications@github.com>
wrote:

[2019-03-12 02:27] stalgiag commented on #3579
Thanks for the update gregorfa! I am able to reproduce in Firefox.

This seems to be related to #1756 which was fixed a couple of years ago. Looking at Bugzilla there seems to be ongoing parity issues between Firefox and other browsers when it comes to `globalCompositeOperation`. I think my first guess probably still holds, and the problem is that FF doesn't handle 'normal' well here.

[2019-03-12 07:46] ihsavru commented on #3379
i'd like to work on this

[2019-03-12 08:13] ankur54 commented on #3379
@ihsavru I think its 1st come 1st serve basis. I am currently working on it.
@stalgiag can you please put the link for the "reference example" here? I am a bit confused. Sorry for the inconvenience.

[2019-03-12 08:33] ankur54 commented on #3379
@stalgiag I can see that a few times inside the <code> </code>, cng, d and g are defined. Should I keep them as it is just changing var to let/const, or should I define it just once?

[2019-03-12 08:44] ankur54 commented on #3379
@stalgiag I have made the necessary changes. I am closing the pull request.

[2019-03-12 09:08] ankur54 commented on #3487
@ScottGrogin Is this issue still open? I would like to work on this asap if possible. Please let me know which file to change. Thank you

[2019-03-12 09:25] ankur54 commented on #3378
I would like to work on this issue.

[2019-03-12 11:28] wanbinkimoon opened #3598 "Using dom library in typescript"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) addons: `p5.dom`

#### Which platform were you using when you encountered t

[2019-03-12 11:45] ihsavru commented on #3379
@ankur54 I think I came first but I saw @figraham  was already working, it's just so that nobody's effort is wasted, next time onwards please explicitly say that you are working on it because i started working as well and maybe mention the issue in your PRs so that others know there's an existing PR for the issue.

[2019-03-12 11:45] wanbinkimoon commented on #3598
UPDATE: *SOLVED*

I found the same issue reported in the p5-types repo
https://github.com/p5-types/p5.ts/issues/2

@Zalastax clear my doubts with an example project you can find here: [link](https://github.com/p5-types/p5.ts/tree/c29b4390f7221fd1acd744d2335d7520aea80014/examples/webpack-global)

In particular at this [line](https://github.com/p5-types/p5.ts/blob/c29b4390f7221fd1acd744d2335d7520aea

[2019-03-12 13:29] Ajayneethikannan commented on #3549
@Spongman It works well with webcam ,
I tried with this code
[code]

And it is does work on very iteration of the draw loop (checking get)
The code given by @shiffman also works correctly (checking loadPixels

[2019-03-12 13:58] stalgiag commented on #3379
Yes @ihsavru you are right. Quoting from my statement above:

@ihsavru You have politely checked in on figraham's progress and you said that you would like to work on it directly after I said that someone is able to work on it.

@ankur54 I am going to close your pull request because at every turn you have ignored that someone else came before you and submitted pull requests without getting confirm

[2019-03-12 14:36] #3598 closed

[2019-03-12 14:43] ihsavru commented on #3379
Working on it!

[2019-03-12 15:02] wanbinkimoon commented on #2182
this feature is *needed*

[2019-03-12 15:20] stalgiag commented on #2182
Hi @vedhant work is very welcome on this issue. Do you still want to contribute to it?

[2019-03-12 15:54] stalgiag commented on #3566
Hi all -

The agenda is still pretty loose so instead of posting a complete schedule. I am just going to say that:

- 10 PST the main room discussion will be about 'Current contributor experience and thoughts on how to improve it'
- 10:30 PST The main room discussion will be about 'Internationalization'
- 11:00 PST the main room discussion will be about 'p5's Mission and Role as a Library'

If tho

[2019-03-12 17:04] Spongman commented on #3549
Great, thanks for doing that!

[2019-03-12 17:25] ankur54 commented on #3379
@stalgiag @ihsavru I am terribly sorry for my ignorance and rudeness. To be honest, I didn't notice any pull request and thus commented to work on it. I am terribly sorry.

[2019-03-12 17:27] stalgiag commented on #3379
No sweat @ankur54 thanks for understanding!

[2019-03-12 17:28] ankur54 commented on #3379
I am new to open source community, so I didn't know the ways to go about it. Hope you would forgive my ignorance.

[2019-03-12 18:42] ankur54 commented on #1967
Hi. It seems that the issue has been resolved. Wouldn't it be better to close the issue too? Sorry if it sounds stupid.

[2019-03-12 18:47] ankur54 commented on #3570
Hello. Is this issue still open? Is anyone working on this issue? I would love to work on it if possible. Thank you

[2019-03-12 18:50] ankur54 commented on #3533
Hello everyone. I'm sorry, but is this issue still open? Since I couldn't find any pull request for this, I would like to work on it if possible. Thank you

[2019-03-12 19:51] FreddieRa commented on #3548
Ahh great, is this fix going to be implemented in the code base?

[2019-03-12 20:30] fffiloni commented on #3586
I found a way to improve performance while rendering onion skin, using both graphics buffer instead of recalculates curves each time, and give possibility to toggle the onions skins being displayed on canvas.

But to give a nice and smooth drawing experience, i redraw constantly the canvas while the mouse is dragged.

For other event, the noLoop(); function is there and i only redraw when it is ne

[2019-03-12 21:59] stevedurie opened #3599 "Processing transition info missing?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-12 22:01] stevedurie commented on #3599
Hey All,

Just went to the Processing Transition Page on this repo and could not find the documentation that
was on this page. It should contain info on the various commands and syntax difference between the 2 frameworks. Has it moved?

[2019-03-13 02:03] vedhant commented on #3536
@stalgiag I feel we could use ```DOMContentLoaded``` if the sketch is independent of the entire webpage. It would make the sketch load much faster.
However if the sketch requires, for example, an image to load then ```onload``` will have to be used.
How do you suggest we incorporate both?

[2019-03-13 03:23] lmccart commented on #3599
@stevedurie thanks for reporting. the content was erased but I've restored it [here](https://github.com/processing/p5.js/wiki/Processing-transition). we've recently restricted edit access to p5.js repo contributors so hopefully we get less lost content. if you'd like to edit any page, just open an issue or comment on an existing one and you'll be added to the editor list and have access.

[2019-03-13 03:23] #3599 closed

[2019-03-13 04:14] stevedurie commented on #3599
Thanks Lauren for the timely response, I’m glad its back up.
I also just want to also special word of thanks for creating P5.js. Its awesome! :)
In the future, If I do see something that I can contribute to,  I will certainly make a request.

Thanks again,

Steve Durie

[2019-03-13 04:40] vedhant commented on #2182
@stalgiag Yup certainly!

[2019-03-13 05:23] lmccart commented on #3270
fixed with https://github.com/processing/p5.js/pull/3481

[2019-03-13 05:23] #3270 closed

[2019-03-13 12:08] capitancook opened #3600 "The bouncy bubble example is not working"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-03-13 12:09] #3600 closed

[2019-03-13 12:09] capitancook commented on #3600
The correct code is the following:
let numBalls = 13;
let spring = 0.05;
let gravity = 0.03;
let friction = -0.9;
let balls = [];

function setup() {
  createCanvas(720, 400);
  for (let i = 0; i < numBalls; i++) {
    balls[i] = new Ball(
      random(width),
      random(height),
      random(30, 70),
      i,
      balls
    );
  }
  noStroke();
  fill(255, 204);
}

function draw() {
  backgrou

[2019-03-13 12:25] limzykenneth commented on #3487
What is the proposed implementation? Because with something like `(n%1).toFixed(4)` although practically it probably would not cause much problem, you are limited in terms of the number of precision after the decimal point, not to mention that `toFixed` returns a string and not a number (so does it belongs with String Functions such as `nf` or Math Functions such as `floor`?) Simply doing `n%1` wo

[2019-03-13 12:30] limzykenneth commented on #3570
@ankur54 As with most feature requests, we need to have some concensus on whether to include the feature in the library first or not, from the community and mainly from the maintainers of the project. So until that concensus is reached I would not suggest working on the implementation in the source code yet.

If you think this feature is worth including, you can indicate so in this issue. And if y

[2019-03-13 12:44] limzykenneth commented on #3586
I find that for drawing while mouse is dragged is usually achieved more efficiently and more consistently with either using `mouseIsPressed` in `draw()` or tracking the state of the app in `mousePressed` and have the actual drawing always happening in `draw()` while querying the state of the app.

I think even if the processing is passed to the GPU it is still unnecessarily heavy as you will be ca

[2019-03-13 12:54] limzykenneth commented on #3536
I'm thinking it would either be explicit or implecit.

Explicit meaning that we choose as a default `DOMContentLoaded` but if a user wants some assets to have already loaded, they would need to specify in some way for the library to use `onload` instead.

Implicit would mean that we will need to somehow detect which case would be the best, such as if the user have code that references assets in th

[2019-03-13 13:03] limzykenneth commented on #3600
I've moved this issue to the website repo where the examples are hosted. Thanks!

[2019-03-13 13:34] Ajayneethikannan commented on #3548
I have made a pull request regarding this , hopefully it solves your issue !

[2019-03-13 18:00] plxity opened #3603 "Changing 'require' statement to 'Import' statement (ES6)"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-13 20:02] Ajayneethikannan commented on #3579
Hello !
Is there any difference between 'source-over' and 'normal'  for globalCompositeOperation ?
[MDN](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/globalCompositeOperation) says 'source-over' is the default setting , so maybe we can set value of NORMAL as 'source-over' to resolve this.

[2019-03-13 20:17] stalgiag commented on #3566
Thanks for coming out everyone! We will work to collect all the ideas tossed around during the chat and re-present them again in a different format over here.

[2019-03-13 20:17] #3566 closed

[2019-03-13 20:45] sanketsingh24 commented on #3487
`toFixed` belongs to `Number` native, and does return a string.

Totally agree

[2019-03-13 20:45] stalgiag commented on #3536
Yes @limzykenneth I was suggesting something explicit but if anyone has any thoughts on how it might be done implicitly that would be really neat. I am not sure how that detection could be written.

[2019-03-13 21:05] limzykenneth commented on #3536
I have no idea either about how to implement the implicit one (not off the top of my head anyway) but I feel that the explicit route may be a bit much for a beginner to handle if the default is `DOMContentLoaded`.

[2019-03-13 21:06] Spongman commented on #3536
i would recommend retaining the current default and adding an explicit switch (maybe `p5.useDOMContentLoaded = true'` ?) for those that are aware of the caveats.

[2019-03-14 10:36] ankur54 commented on #3487
Ok, so my initial idea was to use (n%1).toFixed(4) and then convert it back to number use parseInt(x, 10). So, the overall function would look something like this:
`parseInt((n%1).toFixed(4).slice(2), 10)`

Although, I could not find any corner cases, if the above function does not satisfy, we can write a function that does something similar to long division method, i.e., takes the remainder of th

[2019-03-14 14:32] stalgiag commented on #3549
Thanks @Ajayneethikannan ! I think we should leave this issue open until the fix makes it into a release (end of month?) so that people find the issue more easily when researching the bug.

[2019-03-14 14:48] stalgiag commented on #3603
Hi @plxity thanks for making a suggestion! We aren't moving the codebase to ES6 just yet. That will happen later in the year. We can definitely consider whether to go with `require` or `import` at that time.

[2019-03-14 14:48] #3603 closed

[2019-03-14 14:52] #3493 closed

[2019-03-14 16:22] vedhant opened #3606 "beginShape() not working with texture()"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-03-14 16:43] limzykenneth commented on #3487
@ankur54 `parseInt((n%1).toFixed(4).slice(2), 10)` would not work because if you make n = 1.0004 for example, it returns `4`. Something like `parseFloat((n % 1).toFixed(4), 10)` would have worked better (why `slice` the number?) However, it still doesn't solve the problem of lost precision (`parseFloat((1.00004 % 1).toFixed(4).slice(2), 10)` will simply return `0` instead of 0.00004)

I don't quit

[2019-03-14 16:44] vedhant commented on #2182
I'm having a issue using beginShape() with texture().
I have opened up an issue for this. #3606

[2019-03-14 16:59] stalgiag commented on #3606
I think this is maybe not as clearly explained in the reference as is necessary but try putting `textureMode(NORMAL);` in setup **or** use `img.width` and `img.height` in places of the `1` in the 4th and 5th parameters, respectively.

[2019-03-14 17:00] stalgiag commented on #2182
@vedhant responded in that issue!

[2019-03-14 17:07] ankur54 commented on #3487
Oh, shoot!!! I forgot that case. Maybe you can give me some examples, to better understand what kind of output you would expect. Also, in case of your example, what do you expect output to be? Is it 0004 or .0004? If its the former one, can you show pending zeros, before a number in case of an int data type?

Maybe the code would be a clearer way to explain. But before that can you please clear my

[2019-03-14 17:19] Spongman commented on #3487
Can we also consider the results for the input values `1e20` and `1e-20`?

[2019-03-14 17:23] limzykenneth commented on #3487
I'm not sure what to expect which is kinda the point to the discussion.

Basically: Should the function return a string or a number? If it is to return a number, it has to return 0.0004 in the case of n = 1.0004 because there is only a single number type in Javascript and that is a 64-bit floating point number. If it is to return a string then we can ask if we return the decimal point or not.

I c

[2019-03-14 17:37] ankur54 commented on #3487
I am assuming it to return a number.
`parseFloat((Number(n.toString()) % 1).toFixed(25), 10)`
I think this might work.

[2019-03-14 17:58] ankur54 commented on #3487
`function scientificToDecimal(num) {
    //if the number is in scientific notation remove it
    if(/\d+\.?\d*e[\+\-]*\d+/i.test(num)) {
        var zero = '0';
            parts = String(num).toLowerCase().split('e'), //split into coeff and exponent
            e = parts.pop(),//store the exponential part
            l = Math.abs(e), //get the number of zeros
            sign = e/l,
            s

[2019-03-14 18:05] plxity commented on #3603
@stalgiag Okay sure, no issues.

[2019-03-14 20:21] ankur54 commented on #3487
@limzykenneth Please comment on the code.

[2019-03-15 02:56] vedhant commented on #3606
@stalgiag thanks! it works now.

[2019-03-15 02:56] #3606 closed

[2019-03-15 03:29] vedhant commented on #2182
[code]
@stalgiag I get an error when i try to render an non base64 image (data:image/png;base64,iVBORw...) using ```texture()```

**Error message**
Uncaught DOMException: Failed to execute 'texImage2D' on 'WebGLRenderingContext': Tainted canvases may not be loaded

[2019-03-15 05:08] vedhant commented on #3559
@lmccart In addition to welcome bot, I was thinking p5 can also have a github bot which will help in managing issues and PR's. For instance, it can help in self assigning issues and monitor the activity of issues/PR's.
I would like to know everyone's thoughts on this.

[2019-03-15 09:25] Janglee123 commented on #2215
Hey @lmccart ,
I am interested to work on migration of codebase to ES6. This seems like a great place to start work on the project. I see how most examples have already been converted to ES6 and I can already start seeing that the codebase would look so much better and much more readable after the entire migration project is executed. I cannot wait to start contributing to the migration project an

[2019-03-15 09:59] OleksiiBulba commented on #3533
Hi @ankur54 ! We can work with this issue together. I have not started yet because of circumstances, but right now I am ready to go. @ankur54 , do you know how to setup p5 project and run build and tests?
I think all my code I provided in issue description is enough to resolve it. All I need is to write and run tests.

[2019-03-15 10:54] limzykenneth commented on #2215
Codebase migration to ES6 are not currently schduled to happen yet and we have not really talked in detail about what that would entail (using babel or not, which features of ES6 to include in the library etc). I believe @outofambit and @stalgiag's fellowship this year to bring p5.js to 1.0 does include this migration so maybe have a chat with them if you are keen to help out.

[2019-03-15 11:14] OleksiiBulba commented on #3533
I created pull request #3609 for this issue. Any comments and suggestion is appreciated

[2019-03-15 11:56] ankur54 commented on #3533
Oh. you have already written the code. Is there anything I can do?

[2019-03-15 13:14] limzykenneth commented on #3487
@ankur54 Have you tried some examples with the code above? What do they return? Honestly, most of this is not a matter of how to implement the feature in code but rather to determine what the code should be returning when provided with numbers that can be interpreted in different ways (mainly because of the floating point nature of Javascript Number).

PS. There's no need to ping me on a separate

[2019-03-15 13:18] ankur54 commented on #3487
I have checked it with a lot of examples, for which, it returns the correct answer. Although the only issue here is, it returns a String instead of a floating point.
Also, sorry for explicitly pinging you.

[2019-03-15 13:19] limzykenneth commented on #3372
I just noticed that although the tasks in the `tasks` folder are all updated, the `Gruntfile.js` file isn't fully updated yet.

[2019-03-15 15:28] AdilRabbani commented on #2804
Hey @stalgiag I decided to look into this issue and noticed that the current WebGL implementation of LINES with beginShape, fills the shape with a specified color whenever fill() is used. While it can be seen that fill() does not have any effect when drawing shapes with LINES, in 2D mode. Shouldn't this be the desired behavior for WebGL mode as well? i.e for shapes with LINES, it should be ignorin

[2019-03-15 15:43] outofambit commented on #3559
@vedhant that's interesting but i'm not sure exactly what that would look like. do you have links or examples you can share to help me get a better sense of it?

[2019-03-15 17:23] stalgiag commented on #2182
@vedhant I am a bit confused by what you mean. None of the working examples (manual test, reference, unit tests) for `texture()` use base64 images, but you are saying that only base64 images work for you? That error you are getting seems to be a cross-origin request error. Are you [running your sketch on a local server](https://github.com/processing/p5.js/wiki/Local-server)?

[2019-03-15 17:37] stalgiag commented on #2911
The above issue was fixed with #3608. Can move forward with updating examples/documentation in time 0.8.0 release

[2019-03-15 17:43] stalgiag commented on #2804
Hi @AdilRabbani I agree that it probably makes sense to make this consistent between 2D and 3D. I haven't been tracking this issue since getting back into the swing of the project but what you are saying seems like a sensible place to start.

[2019-03-15 18:03] Spongman commented on #2804
i think one of the issues is that 'fill' doesn't really mean anything in 3d.

except, maybe a delaunay triangulation of the convex hull of the points given. but i think that's way beyond the scope of p5.

[2019-03-15 18:05] haschdl commented on #3439
this looks like the same as reported in #3498 The issue has been fixed but not yet released.

[2019-03-15 18:51] AdilRabbani commented on #2804
Tested on Processing v3.4. No fill for shapes drawn with LINES.

![1](https://user-images.githubusercontent.com/15272015/54453382-027ef380-4779-11e9-91f8-97f1a3b03b96.PNG)

So should I submit a PR passing the correct edges for LINES so as to close this issue? Would also limit LINES to only draw line strokes rather than having a weird effect from fill().

[2019-03-16 00:05] lmccart commented on #3576
@Ajayneethikannan this sounds like the right approach, a pull request is welcome!

[2019-03-16 08:30] Ajayneethikannan commented on #3247
After checking the code in its current state, I think this issue would also have been removed by #3504 (after fixing _pInst for MediaElement ). Can someone with a HiDPI screen test it , or suggest some ways to check it in normal screen ?
Thank you !

[2019-03-16 09:45] Ajayneethikannan commented on #2986
Hello !
I think this issue is not limited to only graphics object, as the set method in
p5.Renderer2d.prototype.set , calls `this.drawingContext.drawImage` directly, similar to the image method, when an image is passed to the set method.
We can attain the desired behavior (setting the exact pixels as the image) by clearing the region of the canvas where the image is going to be drawn using `clearR

[2019-03-16 10:44] vedhant commented on #3559
@outofambit sure!
These are the points I have thought of so far :
- user can claim an issue. Meaning, the bot will assign the issue to the user if no one else is working on it.
- user can also disclaim the issue
- it will monitor the activity of issues and PR's. Say, if the issue is idle for 10 days then it will disclaim the issue
- If a PR is dependent on other issues as well, then a simple comme

[2019-03-16 12:04] Ajayneethikannan opened #3610 "Performance improvement for tint"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) Device independent

#### Details about the bug:

- p5.js version:

[2019-03-16 14:22] Ajayneethikannan commented on #3576
@lmccart
Should I remove the optimisation code in rect and line ?
I think since this is beneficial only for vertical and horizontal lines, as well as integer parameter values for rect and line  ( most of the sketches use fractional values also) , and also difficult to control when shapes like ellipse are drawn, this should be removed.
Please correct me if I am wrong.
Thank you !

[2019-03-16 16:35] limzykenneth commented on #3487
@ankur54 Running the code you provided and setting `n = 1e-20` returns `9`.

@ScottGrogin In your case, are you thinking of getting the fractional digits as a string or as a number?

[2019-03-16 16:51] ankur54 commented on #3487
I have tweaked the code a little bit.
`function scientificToDecimal(num) {
    //if the number is in scientific notation remove it
    if(/\d+\.?\d*e[\+\-]*\d+/i.test(num)) {
        var zero = '0';
            parts = String(num).toLowerCase().split('e'), //split into coeff and exponent
            e = parts.pop(),//store the exponential part
            l = Math.abs(e), //get the number of zeros

[2019-03-16 17:07] limzykenneth commented on #3487
@ankur54 No don't worry, actually this is much better. It's behaviour seems to be pretty consistent.

I'm not looking for anything in particular other than an idea about how to deal with unexpected numbers, not really in terms of code (although it can be), but rather given any particular input what the output should be. Which means answering questions like "should the function return a string or a

[2019-03-16 17:58] Ajayneethikannan commented on #2984
I think that this feature should be present .
The reason why it is setting a single transparent pixel is the current set method checks whether the third parameter imgOrCol is an p5.Image instance or a color value. In case it is neither if them, it sets the value of the pixel mentioned as [0, 0, 0, 0].
We can check its implementation [here](https://github.com/processing/p5.js/blob/master/src/core/p

[2019-03-16 19:36] outofambit commented on #3559
@vedhant thanks for posting this [on the forum](https://discourse.processing.org/t/gsoc-2019-ideas-for-p5/9348). let's continue discussion there!

[2019-03-16 22:02] lmccart commented on #3570
thanks for the suggestion @Ajayneethikannan. I just want to be careful here with the scope of p5.dom. the general approach is that it provides a good entry point to thinking about the dom. if a user requires significant control beyond that, a library like jquery or other JS dom library may be more appropriate. the idea being that we don't want to reinvent the wheel when there are already good solu

[2019-03-16 22:24] Ajayneethikannan commented on #3570
I agree @lmccart . Thank you for considering the suggestion !

[2019-03-16 22:28] #3548 closed

[2019-03-16 22:53] #3591 closed

[2019-03-17 06:15] ScottGrogin commented on #3487
Definitely thinking that it should be number and not a string.

[2019-03-17 09:05] Ajayneethikannan opened #3614 "updatePixels scaling issue for x, y parameters."
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Google Chrome 72.0.3626.121
- Operating System:  Ubuntu 16.04
- Steps to reproduce this:

This sketch can be used fo

[2019-03-17 11:29] ankur54 commented on #2215
Hello everyone. I am interested in "Update p5.js library to ES6" project that is assigned as a GSOC project. But it seems that the codebase won't be shift any time in the recent. So, what issues should I solve, in order to be eligible to work on this project as a part of GSoC this year? Any ideas please?

[2019-03-17 11:31] ankur54 commented on #3424
@bigmstone are you still working on this, is it still open, can I help in this issue? I would really love working on this issue, to add additional features of ES6. If possible please do guide. Thank you.

[2019-03-17 12:11] limzykenneth commented on #3570
At first glance this functionality can be achieved rather straightforwardly with `style()` and I figure in both cases a basic understanding of CSS would probably be required (understanding what `absolute`, `relative`, `fixed`, etc means).

Personally I like to keep styling in CSS and not do any styling stuff in JS but that's because I can, so I would like to know about the perspective of someone w

[2019-03-17 14:22] lmccart commented on #2865
actually, reopening this because I think it's a nice issue to have around for people looking for ways to help out

[2019-03-17 14:24] lmccart commented on #2215
@ankur54 thanks for your interest! it is not necessary to solve any issues or contribute any code to the p5.js repositories prior to GSOC in order to be considered. we look at the proposal that you've submitted and your application materials. so I would suggest spending time developing your proposal in the [forum](https://discourse.processing.org/c/summer-of-code). if you'd like to solve issues, t

[2019-03-17 19:05] outofambit commented on #3425
hey all, https://github.com/processing/p5.js/pull/3431 is ready for review as a first step to simplifying the build process with parcel!

[2019-03-17 19:08] outofambit opened #3615 "experiment with babel-preset-env"
I'd like to explore using `babel-preset-env` to allow us to consistently support a range of browsers while using whatever ES features we'd like.

I'm not sure how this will impact the bundle size, so I'm going to look into that first.

(builds on #3431)

-----

_Originally posted by @outofambit in https://github.com/processing/p5.js/issues/3425#issuecomment-450445958_

[2019-03-18 03:49] bigmstone commented on #3424
@ankur54 I started this issue to see what the feedback would be from the maintainers on this approach or commentary about alternate approaches (Per [guidelines](https://github.com/processing/p5.js/tree/master/developer_docs#how-to-contribute)). I don't have any intention of continuing the work at this point. A such I will close the issue. Feel free to re-open if appropriate.

[2019-03-18 03:49] #3424 closed

[2019-03-18 12:17] JaiKotia commented on #3372
Hey I'd like to take up this issue @lmccart @limzykenneth

[2019-03-18 13:14] GaurangTandon commented on #2865
@lmccart Could you please update this link: https://github.com/processing/p5.js-website/wiki/Adding-examples ? It is mentioned on the [Contributing docs](https://github.com/processing/p5.js/blob/master/developer_docs/contributing_documentation.md) under section "Make examples".

Also, is there a running list of missing ports as was mentioned in this [comment](https://github.com/processing/p5.js/is

[2019-03-18 14:57] lmccart commented on #2865
@GaurangTandon I've updated the text and linked to the page where we have all this info in more complete and correct form. Thanks!

[2019-03-18 15:23] Ajayneethikannan commented on #3570
I completely agree to your point @limzykenneth .
The **style** function documentation says if 'position' is passed as the first argument , then it shall take numbers as the 2nd and 3rd arguments.Though this is added functionality, it leads to confusion.  I think this documentation can be improved and point more towards styling position in CSS, like setting absolute , relative ,etc. while the **pos

[2019-03-18 15:33] GaurangTandon commented on #2865
@lmccart Hey thanks! Could you please also link to the list of examples that are yet to be ported?

[2019-03-18 16:50] lmccart commented on #2865
@GaurangTandon The list of examples needed and info about how to generate them is in the first paragraph on the adding inline documentation page

[2019-03-18 18:33] #2804 closed

[2019-03-18 18:42] Spongman opened #3620 "[WIP] unify retained & immediate-mode rendering code"
re: #3617

@stalgiag asked me to mention that i'm working on a set of PRs that refactors the retained-mode stuff into a form that can be reused by the immediate-mode code, essentially unifying them.

[2019-03-18 18:51] Spongman commented on #3620
here's what i have so far for the retained-mode stuff. immediate mode is untouched here.

https://github.com/processing/p5.js/compare/master...Spongman:render-buffers

[2019-03-19 06:56] koernertim commented on #3549
In the meantime #3504 has been merged, right?

[2019-03-19 10:58] limzykenneth commented on #3549
@koernertim Yes, if you need to fix now you can build the library from master.

[2019-03-19 11:39] limzykenneth commented on #3570
That's what I'm pushing for in #3447 and #3448, that `style()` should not be calling `position()` and deal with CSS exclusively.

[2019-03-19 11:50] limzykenneth commented on #3372
@JaiKotia Go ahead, only `Gruntfile.js` needs to be updated.

[2019-03-19 13:14] Ajayneethikannan commented on #1109
@lmccart I think this issue is present in the current version, as the change made in this code is absent for p5.Element.prototype.class function.
I think it should also be added for removeClass() and addClass() methods in p5.Element.prototype in
p5.dom.js

[2019-03-19 20:59] ankur54 commented on #2740
Hi. Is this issue still open? I would like to contribute to this issue.

[2019-03-19 21:02] ankur54 commented on #2681
Hi. I had a doubt. How is one supposed to check the presence of p5? Sorry, if it is a very trivial question.
Also, is this issue still open?

[2019-03-19 22:50] stalgiag opened #3622 "setAttributes() resets buffers"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-03-19 23:56] micuat opened #3623 "webgl wiki indentation"
since I don't know how to make PR for wiki (or maybe it's not possible if one is not a collaborator) I'm making this issue for a small fix.

In https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5#offscreen-renderer the code example seems to have unnecessary indentation. This

[code]

should be

[code]

[2019-03-20 01:20] lmccart commented on #3623
thanks @micuat. I've just added you as a contributor for this repo so you should be able to edit the wiki once you accept the invite.

[2019-03-20 02:50] Spongman commented on #2740
I think this was fixed a while back in the FES ‘scoring’ PR.

[2019-03-20 09:28] Ajayneethikannan opened #3625 "Improvement for 'loading...' div element when preload is used"
#### Nature of issue?

- [x] Existing feature enhancement

appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) - Device independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser independe

[2019-03-20 10:57] F21095 opened #3626 "Oceaan"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-20 10:57] F21095 opened #3627 "Oceaan"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-20 12:11] #3626 closed

[2019-03-20 12:11] #3627 closed

[2019-03-20 12:54] Ajayneethikannan commented on #3487
Hello !
If I may add one suggestion ,
I think for negative numbers , we must return 1 minus the fractional part of the number,
For eg :
fract(1.3) = 0.3
fract(-1.3) = 0.7
The current suggested code returns 0.3 for both cases. Hopefully , it's of help  !

[2019-03-20 15:22] sanketsingh24 commented on #3335
I think this can be easily fixed by executing directly from bin, or changing [these lines to](https://github.com/processing/p5.js/blob/master/package.json#L13)

[code]

As `all-contributors` is already present in `package.json` as so is present in everybody's node_modules, and the users don't need to install globally and @lmccart doesn't need to run it every time.

[2019-03-20 17:04] meiamsome commented on #3335
@sanketsingh24 As far as I can tell this issue is not an issue with the `package.json` command setup. It looks correct to me and the `npm run contributors:add` and `npm run contributors:generate` work fine for me in current master without a global install of `all-contributors`

[2019-03-20 17:55] sanketsingh24 commented on #3335
Ok, I was not able to run `npm run contributors:add`, but when I added the bin path in `package.json`, I was expectedly able to run. Also, I have seen some repos using bin just so that the user does not have to install those dependencies globally, so I thought it was this error.  Anyways, just my opinion.

[2019-03-20 18:03] meiamsome commented on #3335
@sanketsingh24 Ah, interesting - I wonder if you are on Windows? Do you have issues with any other of the  `npm run` commands where you don't have the command it runs available globally (like `npm run precommit` perhaps)?

[2019-03-20 20:46] valmormn commented on #3498
Same issue here.

This warning floods on my console when I try to draw a simple line.

line(0, 0, 0, 100);

[2019-03-20 20:46] micuat commented on #3623
thanks, I just edited it!

[2019-03-20 20:46] #3623 closed

[2019-03-20 20:48] infusion commented on #3498
Downgrade to 0.7.2 until the fix gets pushed

[2019-03-20 20:49] lmccart commented on #3623
thanks @micuat!

[2019-03-20 20:55] sanketsingh24 commented on #3335
Ok, I found out that I have not updated my npm for a very long time,  sorry for that :disappointed: also, i had grunt and eslint globally installed so others did not get affected

[2019-03-20 21:38] #3379 closed

[2019-03-20 21:40] lmccart commented on #3559
closed with #3618

[2019-03-20 21:40] #3559 closed

[2019-03-20 21:45] #3576 closed

[2019-03-20 22:51] outofambit opened #3631 "Consider Polyfills for consistent DOM API"
## Inspiration

Inspired by https://github.com/processing/p5.js/pull/3609#issuecomment-474997508, I started looking into libraries that ensure we have a consistent DOM API across browsers (like https://github.com/WebReflection/dom4).

This would ensure we could use features like `classList.toggle` without worrying about dropping support for older browsers (ahem, IE11) and may let us rely a _little

[2019-03-21 01:37] lmccart commented on #3631
I think this sounds on one hand, very convenient and nice to use. I'm not opposed to it at all, and it's not too big. On the other hand, I wonder with the limited scope of p5.dom, if it is more than we need, as you mention. Maybe a place to start would be to identify the list of key features that we don't currently have cross-browser support for and see how much work this saves.

[2019-03-21 07:43] ihsavru commented on #2530
I would like to work on this if no one else is already working

[2019-03-21 11:16] micuat opened #3632 "ellipse/rect return a value whereas circle/square don't"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-03-21 13:17] #3193 closed

[2019-03-21 16:15] Ajayneethikannan commented on #3051
In the present state, you have to call loadPixels() before using the function get() on the video element.
@lmccart @Spongman  I think we  should documentation and reference be added for p5.MediaElement.prototype.get separately .

[2019-03-21 19:02] AngeloGiacco commented on #1355
I am getting a similar error.

The console shows an error message of "Uncaught TypeError: p5._validateParameters is not a function at p5.dom.js:421"

The line that causes the error is the following:
`fadeSlider = createSlider(1, 4, 2, 0);`

Any ideas?

[2019-03-21 23:31] lmccart commented on #3372
closed with https://github.com/processing/p5.js/pull/3628

[2019-03-21 23:31] #3372 closed

[2019-03-21 23:35] Spongman commented on #3051
calling `loadPixels` allows us to cache the whole `pixels` array. if you don't call `loadPixels` and just call `get()` we'll often just extract _just_ that pixel from the image. it doesn't make sense to fetch the whole image if all you want is a simple pixel.

[2019-03-22 09:57] Ajayneethikannan commented on #3051
@Spongman ,
From what I have found out ,
- We can call get on the main canvas get(), and on image img.get() without the need of calling loadPixels (does it get faster for retrieving one pixel , because we are returning it directly from an array ? ). The path followed is p5.prototype.get --> p5.Renderer2D.prototype.get --> p5.Renderer2D.prototype._getPixel
and a similar path for p5.Image.

Here we

[2019-03-22 10:37] micuat commented on #3610
you're right, I guess the current implementation of tint is quite useless in draw loop. One way of solving this without changing p5js is to use createGraphics
https://editor.p5js.org/micuat/sketches/9xhpkGVF8
which I believe is more intuitive (for a Processing user)

[2019-03-22 10:42] Ajayneethikannan commented on #3610
Wow , that's a nice work around @micuat !
If you think it is more intuitive , would this be a good feature implementation,

instead of using the tinted graphics instance, a new tinted image will be created, which can be used normally in the draw function.

Thank you @micuat !

[2019-03-22 10:56] micuat commented on #3610
and you can always hack the image function
https://editor.p5js.org/micuat/sketches/S82r42HqN

as you suggested, chaining these image filters is a cool functionality but I don't know if it's something needed for the community. I guess we need input from other people

[2019-03-22 12:46] vedhant commented on #2182
@stalgiag thanks! It was a cross-origin request error and I fixed it.

[2019-03-22 14:02] sanketsingh24 commented on #2728
@stalgiag I think this should be closed as it is fixed by #3535 and I can not reproduce it anymore on master.

[2019-03-22 15:44] stalgiag commented on #2728
thanks for the reminder @sanketsingh24 !

[2019-03-22 15:44] #2728 closed

[2019-03-22 16:53] Ajayneethikannan opened #3635 "Improve examples of loadPixels"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering
- [x] Image

#### Which platform were you using when you encountered this?

- [x] Others (specify if possible) Device independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser independent
- Operating System:  OS independent
- Steps to repr

[2019-03-22 17:22] Spongman commented on #3051
ah, good catch. it looks like it needs to call `_ensureCanvas` first, like this:

[code]

[2019-03-22 19:40] stalgiag opened #3636 "Multiple textures applied in incorrect order when looping"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-23 16:32] limzykenneth commented on #3631
Do we need to include the polyfill into the library? If they are simply polyfills and the user wants to target soemthing as old as IE11 or older, can they just include a script tag to dom4 themselves? We can of course suggest this in one of the tutorials as well.

If targeting old browsers are not a requirement of the user necessarily there's no need to bloat out the library, even jQuery has dropp

[2019-03-23 16:40] limzykenneth commented on #3625
Would be great if possible. I think the current challenge is to identify that a loading function call has failed and retaining capability for the user to handle the error themselves.

[2019-03-23 16:52] meiamsome commented on #3625
I am pro this in general, and agree with @limzykenneth that implementation is a bit problematic at the moment.

If/when we move to all-promise based preloads (#2698) this becomes much more plausible to implement, and would, indeed, be quite simple.

I could see a simple API being something like the following, with a default implementation of `preloadFailed` for when it is nor manually specified:

[2019-03-23 16:55] Ajayneethikannan commented on #3625
@meiamsome I kind of had a feeling it's implementation would become easier with promises,
Thank you for the clarifications @limzykenneth , @meiamsome !
Would like to wait on it then :+1:

[2019-03-24 05:52] Ajayneethikannan opened #3639 "Doubt: p5.prototype.background function in settings.js"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering
- [x] Image

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) Device independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser indepe

[2019-03-24 16:43] barik10101 opened #3640 "The word "circle()" is not colored in the High Contrast mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-03-24 16:44] #3635 closed

[2019-03-24 18:48] outofambit opened #3641 "support suite/test syntax in node tests"
We currently support `suite`/`test` syntax in browser tests, but not in node tests. This should be consistent so the test syntax is consistent.

I looks like this is because we have the line `mocha.setup('tdd');` in our test `html` files but not an equivalent line in our node test setup.

[2019-03-24 19:25] lmccart commented on #3640
thanks @barik10101 I'm going to move this to the [p5.js-web-editor repo](https://github.com/processing/p5.js-web-editor)

[2019-03-25 01:25] lmccart commented on #3357
I'm not able to reproduce this. Can you please respond to the bullet points under "Details about the bug", especially
- p5.js version:
- Web browser and version:

Thanks!

[2019-03-25 01:35] lmccart commented on #3639
@Ajayneethikannan I think the reason we were doing it this was way because image() is not yet implemented in webgl mode, so if you call background() with an image in that mode, it would create an error.

It looks like the image() in webgl addition is closed to being merged in #3634, eliminating this problem mentioned above. I would suggest you go ahead and make the change as you suggest, removing

[2019-03-25 01:43] #3632 closed

[2019-03-25 04:36] Ajayneethikannan commented on #3639
Sounds great ! Thanks @lmccart !

[2019-03-25 13:18] ihsavru commented on #3567
@outofambit What do I work on next? :)

[2019-03-25 16:09] stalgiag commented on #3622
closing this based on #3624. Since this is an edge case a warning should be sufficient.

[2019-03-25 16:09] #3622 closed

[2019-03-25 16:21] stalgiag commented on #3579
@Ajayneethikannan we already have `BLEND` as the default state which evaluates to `'source-over'`. I think the todo might be just to remove `NORMAL` from [the list of possible arguments ](https://github.com/processing/p5.js/blob/0.7.3/src/core/rendering.js#L274)to `blendMode`. `NORMAL` will work in Chrome but we have no reason to assume that there will be parity across those browsers on this. For

[2019-03-25 18:06] sanketsingh24 commented on #2734
@stalgiag Shall I work on this issue? I want to take this up.

[2019-03-25 18:12] stalgiag commented on #2734
Sounds good @sanketsingh24 !

[2019-03-25 18:14] sanketsingh24 commented on #2734
I have one doubt, what does `uvs` do [here](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Geometry.js#L38)?

[2019-03-25 19:00] bengrosser opened #3645 "createCapture() throws DOM error on Chrome"
#### Nature of issue?
- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Other --> DOM

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.7.3 and earlier
- Web browser and version: Chrome 73.0.3683.86
- Operating System: MacOS 10.14.3
- Steps to reproduce this:
1. Create a sketch
2. Include this line i

[2019-03-25 20:01] stalgiag commented on #2946
closing as per discussion in #3621. will reopen if it makes sense.

[2019-03-25 20:01] #2946 closed

[2019-03-25 21:31] lmccart commented on #3554
I'm not hearing a lot of response here, and I think this is a great idea, but this set of functions may be beyond the scope of the p5.js api. In general, we're trying to strike a balance between ease of use while still having an API that can fit on one page without being too overwhelming. It sounds like it could be a really great starting point for an addon library. See the docs here for how to cr

[2019-03-25 21:38] Spongman commented on #2734
`uv` usually refers to texture coordinates: https://en.wikipedia.org/wiki/Texel_(graphics)

[2019-03-25 21:45] lmccart commented on #3371
@EOstling we would welcome your work on this if you are still interested!

[2019-03-26 15:28] #3636 closed

[2019-03-26 15:41] limzykenneth commented on #3645
I'm not able to replicate this issue with the exact same setup as yours. Does the capture work at all or does it halt upon throwing the error? Do you have any extensions running on Chrome? If so can you try disabling them.

[2019-03-26 18:31] stalgiag opened #3649 "blendMode in WEBGL"
- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
Just adding an issue to indicate that I am going to add some of

[2019-03-26 18:34] #3579 closed

[2019-03-26 19:34] lmccart commented on #3645
Maybe also check: is the camera allowed for this site?

[2019-03-27 02:28] bengrosser commented on #3645
The camera does not work at all. I'm testing this via https://editor.p5js.org, and that site is explicitly allowed in my Chrome content settings for camera access. I just tried this on a different computer (same browser and OS version) and am getting the same result. [Here's the sketch I'm using](https://editor.p5js.org/bengrosser/sketches/3lDgO0Q4j). Does this work for you? Or am I doing somethin

[2019-03-27 06:25] Janglee123 commented on #3485
I can reproduce this!
I am using Solus 4(another Linux distro) and Firefox 65 and chrome also throw an error.
[code]
I am not much aware of this issue though.

[2019-03-27 06:57] fernanda12ruiz commented on #3518
Hi, I’m having a similar issue, I think, but on my project the shape doesn’t show up at all on my iPhone (with or without ambientLight or any other kind of lighting), it does have a texture though. Here’s a link to my project:
fernandaruiz.work/torus; it works and shows up perfectly fine on a computer but not on mobile devices.

[2019-03-27 09:00] sanketsingh24 commented on #3485
The errors are different, but can you show us the code? small sample of code perhaps? you can use the [online editor](https://editor.p5js.org) for that

[2019-03-27 09:52] limzykenneth commented on #3645
@bengrosser The sketch you provided works for me perfectly with no issues on Firefox, Safari and Chrome.

Can you see if you can get more info about the DOMException you got? The name and message would be helpful.

[2019-03-27 16:52] stalgiag commented on #3485
It seems like the attributes are missing somehow. Perhaps the shader objects aren't loading attributes correctly. If I am right, then I am not sure why this would be OS-specific but it is a little hard to investigate without access to Linux testing environment.

I do know that code very relevant to both of these errors has been modified recently. Testing with the current master build might help. A

[2019-03-27 17:03] stalgiag commented on #3518
@fernanda12ruiz I am able to get your website to work on Android almost exactly as it does on my laptop. There is some glitchiness with text input but that is unrelated to the 3D rendering. I can try to get my hands on an iPhone and see if I can replicate some of these issues.

[2019-03-27 18:26] Ajayneethikannan opened #3651 "Instance specific variables for vertex()"
#### Nature of issue?

- [x] Found a bug
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [x] Others (specify if possible) Platform independent

#### Details about the bug:

- p5.js version:  0.7.3
- Web browser and version:  Browser independent
- Ope

[2019-03-27 19:37] fernanda12ruiz commented on #3518
@stalgiag Thank you so much! I don't have an android phone near me nor do I know anybody who owns one, but on my iPhone the torus shape doesn't seem to render; regarding the text input, that is what I am trying to fix but since I can't see the output on the actual shape I can't see how it is behaving :(, if you could try it on an iPhone that would be awesome, thanks again :)

[2019-03-28 15:48] Janglee123 commented on #3485
@sanketsingh24

I am talking about vanyamil.github.io

[2019-03-28 17:59] ihsavru commented on #3567
Hi @outofambit, I created my first draft proposal for this project, I looking forward to some feedback from you. It would be great if you could review it 😅

[2019-03-28 20:50] #3649 closed

[2019-03-28 21:06] #3328 closed

[2019-03-28 21:17] #3461 closed

[2019-03-28 21:29] stalgiag commented on #3620
@Spongman I just looked over the diffs you posted above. I really like the addition of the Renderbuffer object. It is probably a good idea to get that working well and open a pull request for that before also using those changes to unify the immediate and retained mode renderers. Just for the sake of easier reviews and to enable a more focused discussion on one architectural change at a time.

[2019-03-29 17:52] bengrosser commented on #3645
Well, I'm at a loss. Today it works as expected. Same OS version, same Chrome version (even with all my extensions installed). On both machines I tested on. I'll report back if I see the problem behavior again.

[2019-03-29 17:52] #3645 closed

[2019-03-29 19:26] Janglee123 commented on #3485
@stalgiag can you give me more details about where to look further? I will try to solve this.

Both return undefined.

[2019-03-31 12:53] NOPROD commented on #2375
import { Component, OnInit } from '@angular/core';
import * as p5 from 'p5';
import    'p5/lib/addons/p5.sound';
import { Observable, observable, of } from 'rxjs';
import {map,filter, bufferWhen} from 'rxjs/operators'
@Component({
  selector: 'theme-first',
  templateUrl: './first.component.html',
  styleUrls: ['./first.component.scss']
})
export class FirstComponent implements OnInit {
  construc

[2019-03-31 12:57] NOPROD commented on #2856
import { Component, OnInit } from '@angular/core';
import * as p5 from 'p5';
import 'p5/lib/addons/p5.sound';
import { Observable, observable, of } from 'rxjs';
import {map,filter, bufferWhen} from 'rxjs/operators'
@component({
selector: 'theme-first',
templateUrl: './first.component.html',
styleUrls: ['./first.component.scss']
})
export class FirstComponent implements OnInit {
constructor() { }
p

[2019-03-31 18:38] outofambit commented on #3567
@ihsavru how about [conversion.js](https://github.com/processing/p5.js/blob/master/src/utilities/conversion.js) or add some more tests for the keyboard events? (@Ajayneethikannan just added [the first one](https://github.com/processing/p5.js/blob/master/test/unit/events/keyboard.js) last week!)

[2019-04-01 00:23] DaAwesomeP commented on #3247
You can try zooming the webpage but this may be depending on OS, browser, the zoom meta tags of the site, physical screen DPI/resolution, and the OS set DPI.

[2019-04-02 05:55] ihsavru opened #3658 "Inconsistent behaviour of utilities/conversion.js"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
While designing unit tests for `utilities/conv

[2019-04-02 18:54] stalgiag commented on #3575
@Janglee123 If you are still interested this issue is accepting new pull requests again. Just to clarify, the only thing that should be done here is the removal of the arguments for `normalMaterial()` in this [manual test example.](https://github.com/processing/p5.js/blob/master/test/manual-test-examples/webgl/mixedMode/sketch.js#L16)

[2019-04-02 18:58] stalgiag opened #3659 "Variable name conflict in per-pixel-lighting manual test"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

There is a variable named `lights` in the [per-pixel-lighting manual test

[2019-04-02 19:17] ashwathbhat commented on #3575
@stalgiag Can I work on this? I already had a PR for this issue.

[2019-04-02 19:24] stalgiag commented on #3575
Yep go for it @ashwathbhat !

[2019-04-02 19:53] ashwathbhat commented on #3575
@stalgiag #3660 fixes this issue.

[2019-04-02 20:17] WenheLI commented on #3659
Is anyone working on this? I can help with it!

[2019-04-02 20:39] stalgiag commented on #3659
Sounds good @WenheLI thanks!

[2019-04-02 20:40] #3575 closed

[2019-04-02 20:44] stalgiag commented on #3079
I am going to go ahead and work on this. I don't see any reason to depart from Processing on naming here so I am going to implement `p5.Graphics.prototype.beginDraw()` and `p5.Graphics.prototype.endDraw()`. I think those names clearly reference a "draw" loop for the Graphics object.

[2019-04-02 20:45] stalgiag commented on #2586
going to work on this re discussion in #3079

[2019-04-02 22:10] lmccart commented on #3658
There's actually an interesting discrepancy between how parseInt() and parseFloat() handle Infinity in native JS: https://stackoverflow.com/questions/38357220/why-parseintinfinity-returns-nan-and-parsefloatinfinity-returns-infinity.

I would vote that we make `float(Infinity)` and `float(Infinity)` return Infinity. It's less clear what `hex()` should do, but I suppose it could return the same?

[2019-04-02 22:12] lmccart commented on #3533
closed with https://github.com/processing/p5.js/pull/3609

[2019-04-02 22:12] #3533 closed

[2019-04-02 22:37] lmccart commented on #3447
I agree with @limzykenneth and my proposal would be to remove the special handling of rotate, translate, and position. That would mean removing this section:
[code]

I think this was an effort to provide easy access to some of the [css transform properties](https://www.w3schools.com/cssref/css3_pr_transform.asp) but there are many of them and it's not quite clear why these ones have special handli

[2019-04-02 23:25] stalgiag commented on #3659
close via #3661

[2019-04-02 23:25] #3659 closed

[2019-04-03 02:05] AndrewWPhillips opened #3663 "improved documentation for p5.CreateGraphics() and renderer objects"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-04-03 09:50] limzykenneth commented on #3658
That sounds good to me as well, also `int(-Infinity)` and `float(-Infinity)` should return `-Infinity`

For `hex()` the value would overflow after `4294967295` (with `4294967296` being `00000000`), should we set a maximum value based on the number of hex digits and either
1. return the max value passed through `hex()`, ie. `FFFFFFFF`, or
2. throw a [range error](https://developer.mozilla.org/en-US

[2019-04-03 10:15] limzykenneth commented on #3663
It returns a p5.Graphics object.

p5.Graphics extends p5.Element which itself it the wrapper that is used to represent all DOM objects. p5.Graphics is just a HTML canvas that is hidden in the DOM (you can open up the browser's inspector and you should see it in the DOM).

p5.Renderer extends p5.Element as well and it the base class that make up the drawing canvases. It is controlled by the `draw()

[2019-04-03 18:03] pixclautotech opened #3665 "P5.Table size limit?"
#### Nature of issue?
- [x ] Found a bug ... maybe
- [ ] Existing feature enhancement
- [ x] New feature request

#### Most appropriate sub-area of p5.js?
- [x ] IO

#### Which platform were you using when you encountered this?
- [x ] Desktop, Windows 10-32bit

#### Details about the possible bug:
Great library, easy to learn and fun to use.  I'm reading electrical power data from a local networke

[2019-04-03 19:02] catarak opened #3666 "List of p5.js keywords"
#### Nature of issue?

- [X] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

Hi! I was looking at processing/p5.js-web-editor#978, and I was wondering if there's a way to get a

[2019-04-03 22:01] vidasdemo opened #3667 "CreateCapture constraints not working"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-04-03 22:04] vidasdemo commented on #3667
Hi, I am using the same code with constraints as is shown in the P5 Dom reference library. Constraint values provided are ignored. I am trying to capture a HD image size on webcam and CreateCapture always returns 300 wide 50 height. Is this a bug?

[2019-04-04 07:46] limzykenneth commented on #3665
It may have caused the browser to run out of memory as that is a pretty large data structure. We can't say for sure what is the size limit as it depends on browser, OS and the hardware itself and could even vary by the current usage of the computer.

Something like `appendTable()` would pose certain challenge as a sketch running in the browser will have no way to access a user's file system (for s

[2019-04-04 10:29] limzykenneth commented on #3666
Would it be a case of just getting all the p5 function and variable names in a list? I think this list can probably be generated from `data.json` with a bit of script as long as there are no problematic edge cases.

[2019-04-04 11:24] limzykenneth commented on #3667
@vidasdemo Can you provide an example code demonstrating the problem? Also it would be very helpful if you can fill in the issue template otherwise we may ask you the same questions anyway or we can't isolate the problem.

[2019-04-04 11:55] pixclautotech commented on #3665
Hi Kenneth,
thanks for the fast reply.
It does seem to be an "out-of-memory" issue.

This is what we currently do. With 4000 data lines in the CSV, the app still
fails, and with 2000 lines, it works on the client's PC. On a similar PC in
our lab, we can run a simple test app based on P5.Table sample code, and it
quite happily creates the 8640 CSV entries with content similar to our app.
The differ

[2019-04-04 11:58] limzykenneth commented on #3665
I'm going to close this issue as it is not something we can easily fix in the library. If you have further questions, feel free to post them on the [forum](https://discourse.processing.org) for help. Thanks.

[2019-04-04 11:58] #3665 closed

[2019-04-04 14:10] vidasdemo commented on #3667
Hi

Apologies for bit filling in your template…I wasn’t sure if this was bug or “pilot error”!

This is the exact code in the p5 dom library… it just returns error

function setup() {

  createCanvas(480, 120);

  var constraints = {

    video: {

      mandatory: {

        minWidth: 1280,

        minHeight: 720

      },

      optional: [{ maxFrameRate: 10 }]

    },

    audio: true

  };

[2019-04-04 14:47] AdilRabbani commented on #3666
I would like to work on this, though, I am still unsure how to get started. I believe the API/function to do this should run every time the library is compiled? So that the list of all functions/variables are updated whenever a change is introduced to p5.js (making this a part of the build process). [This](https://www.quora.com/How-do-you-get-all-the-methods-of-a-JavaScript-object) gives some idea

[2019-04-04 14:55] limzykenneth commented on #3667
Both of the code examples you provided works on my end on macOS 10.14.3, on Firefox, Chrome and Safari.

I will still need you to provide more information, namely the p5.js version you are using, the OS + version you are using, and the browser + version you are using. Also are you using the web editor?

[2019-04-04 15:10] limzykenneth commented on #3666
@AdilRabbani Running it on every build is rather excessive, running it on every release should be enough. Also I'm not sure if such a step would necessarily belong here or it would be better over at the web editor's repo? @catarak What's your opinion on the last point?

I'm thinking to interate through `data.json` to fetch all the documented function and variable names instead of either going thro

[2019-04-04 15:21] vidasdemo commented on #3667
Tried my system again and error message is gone but…

*	console log is still returning images size of 300 by 150
*	display does not fill the entire canvas size (crops the right hand side)

my css is plain:

html, body {

  margin: 0;

  padding: 0;

}

canvas {

  display: block;

}

On 1st demo my console output is:

MediaStream {constructor: Object}

    <constructor>: "MediaStream"

         na

[2019-04-04 17:08] bgenchel opened #3668 "Circles sometimes not drawn at center coordinates"
#### Nature of issue?
Seems to either be a bug or bad information in the docs. I want to draw a circle, and then have a little radiate out animation by drawing progressively larger and increasingly less opaque circles on it over time. Every time I draw one of these circles, I use the position of the original circle as the new circles center. And yet, it doesn't seem like that argument it taking. T

[2019-04-04 18:01] catarak commented on #3666
@limzykenneth i think writing a script that parses data.json and puts it into a list would be the right path! the only distinction i need for CodeMirror syntax highlighting is a p5 variable vs a p5 function.

unless there's other use cases for this list, if only the web editor needs it, i think it makes sense to put the script that generates that list in there. maybe the script could even generate

[2019-04-04 19:35] CarstenHoyer opened #3669 "loadPixels and get only works on first draw"
loadPixels() and get() only works on first draw. get(1,1) will give me the color at 1,1 - but subsequent get() calls will not update the value. This goes on for around 7 draw() iterations. After that the result from get() is undefined. See example code below.

#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p

[2019-04-04 19:38] lmccart commented on #3658
I like `FFFFFF` for `hex(Infinity)`, and I assume `000000` for `hex(-Infinity)`.

[2019-04-04 19:48] lmccart commented on #3666
I think it makes sense to host this file in the p5.js repo so people can make use of it with other editors or things they're building. I agree, triggering on release makes sense. This could either be a webhook or a grunt task that's part of the release tasks.

[2019-04-04 19:50] lmccart commented on #3090
I'm going to close this issue as it's tracked more specifically in https://github.com/processing/p5.js-sound/issues/328

[2019-04-04 19:50] #3090 closed

[2019-04-04 19:57] lmccart commented on #3668
Thanks @bgenchel! Can you please post a simpler version of your code? The most minimal snippet that will illustrate the issue. It's hard to debug when the code sample is so complex.

One thing to keep in mind is that calls to translate() will accumulate until the next time draw() runs. So perhaps the issue you're seeing is from the translate() calls adding on to each other?

[2019-04-04 20:42] bgenchel commented on #3668
Hi, sorry about that. I actually figured it out! It was my dumb mistake. Once translated, I should have been setting the x and y coordinates of the circles to (0, 0), but here I'm setting them to the radius values. All fixed! Sorry for the trouble!

[2019-04-04 20:42] #3668 closed

[2019-04-05 02:25] wezzahd opened #3670 "video.get() not working"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-04-05 05:42] Ajayneethikannan commented on #3669
Hey @CarstenHoyer !

This bug was removed as a result of #3519, as the pixelsDirty variable was not being set, when the drawing methods like rect( ), line( ) were called, not allowing the pixels[ ] to update correctly.

Also in present state, you don't have to call loadPixels in order to get( ) the pixel value from the canvas or any image.
You can refer to this [link](https://p5js.org/reference/#/

[2019-04-05 07:13] Spongman commented on #3666
the typescript definitions would have been perfect for this.

[2019-04-05 08:21] #3669 closed

[2019-04-05 09:38] rich-gg opened #3671 "Textures not showing on iPhone"
#### Nature of issue?

- [X ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [X ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ X] Mo

[2019-04-05 09:45] sixhat opened #3672 "fill of certain shapes not working properly in Webgl mode"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x ] Mo

[2019-04-05 11:45] sam-peach opened #3673 "Capture pixel array is empty, even after calling loadPixels()"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

I'm trying to manipulate the pixel array from a video feed. The video will stream without issue but I can't access the 'pixels' array, even after loading it.

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ x] Image
- [ ] IO
- [

[2019-04-05 13:12] ihsavru opened #3674 "keyIsDown() should return false onBlur"
`onBlur()`, we assume that all keys have been released, therefore `keyIsDown(x)` should return false for every key `x`. However, it currently returns undefined because onBlur resets `downKeys` to empty object

[code]

[2019-04-05 13:38] lmccart commented on #3673
thanks, this is being tracked here: https://github.com/processing/p5.js/issues/3549
it has been fixed and will be in the next release (april 8)

[2019-04-05 13:38] #3673 closed

[2019-04-05 13:50] AdilRabbani commented on #3672
This is probably because of the way TRIANGLE_FAN joins vertices. WebGL has no way of knowing that the middle part of the shape needs to be hollow. One way to get around this is to draw the letter C as three separate rectangular shapes. Otherwise, we might have to use the triangulation library libtess, which is already being used for filling curves, to handle irregular polygons like this one.

[2019-04-05 14:04] sixhat commented on #3672
Yes, that is my belief also, it is even more clear if you use a semi-transparent color for the fill. The problem in hand is not solving this for C as it is a proof of concept (Cs, Es, Fs all will have problems with the fill). This bug in practice limits the usability of `textToPoints` in WebGL and creates inconsistencies between the behaviour of `beginShape/vertex/endShape` between 2D and 3D.

[2019-04-05 14:15] limzykenneth commented on #3666
@Spongman Typescript definitions would work but it still needs to be compiled or generated so the process for creating it vs creating a list of function names and variables would be comparable no? Then when it is just the outpu is different, I think in this case wouldn't just a simple word list be easier to work with? Also Typescript definitions needs to be maintained as an entity while `data.json

[2019-04-05 14:18] limzykenneth commented on #3670
This has recently been fixed (see #3549). The next release coming April 8 will contain the fix.

[2019-04-05 15:12] Spongman commented on #3672
It’s not really a big, more a natural consequence of adding another dimension.
The concepts ‘polygon’ and ‘winding rule’ don’t really exist in 3D, and their 3D equivalents are either way too complex or not adequately defined for a library like p5 to implement.

[2019-04-05 15:56] Spongman commented on #3666
yeah, typescript definitions require a little more processing than just a list of keywords (which has a limited use), but they offer the most most semantically rich format we have. the definitions can be simply parsed using a library, such as https://www.npmjs.com/package/typescript-parser. and generating them is reasonably simple. unfortunately, it's almost impossible to reliably release them in

[2019-04-05 15:59] Spongman commented on #3671
works on iPhone 6S 12.1.4

[2019-04-05 16:00] lmccart commented on #3666
Yes, thinking back to our reasoning for move typescript to a separate repository, maybe we should decouple derivative p5.js files like this, and this keyword list actually belongs in the p5.js web editor. Since the Processing Foundation is maintaining both, we can reliably direct people to pull that file if they'd like to use it for their own purposes.

[2019-04-05 16:40] sixhat commented on #3672
Should there be a note in the docs about this saying 3D Custom Shapes are not properly implemented and that results may vary? Or just add a note "broken in Webgl mode"?

[2019-04-05 18:05] Spongman commented on #3666
one issue that might be relevant here is that it's currently quite difficult to programmatically extract the `data.json` from any given p5.js release. the two options that come to mind are:
1) use something like `nodegit` to clone the sources from github, spawn a p5.js build and then extract the `data.json` file from the `docs/reference` directory. this is what the `p5.ts` project has to do and is

[2019-04-05 20:37] catarak commented on #3666
for the purposes of the web editor, it's totally okay if `data.json` is just hosted on the p5.js website, as it is now—a script can be written that just assumes its at a url.

[2019-04-05 22:21] Ajayneethikannan commented on #3051
@Spongman can you please provide your view on this ,
[code]

Here I am calling loadPixels inside the get function, and as loadPixels( ) has all the optimisations present inside it, it will not update the video element's canvas unnecessarily.

And since _getPixel( ) is called through get( ) and the pixels are already loaded( if necessary), I think it can directly be replaced by p5.Renderer2D.protot

[2019-04-05 22:26] Spongman commented on #3051
no. you need the check that `_ensureCanvas` provides, otherwise `get` will always mark the element as modified.

[2019-04-05 22:47] Ajayneethikannan commented on #3051
Got it , thanks :+1:

[2019-04-05 23:13] Ajayneethikannan commented on #3051
@Spongman Thank you for your suggestions, I have made a PR with the same.

In my humble opinion, it feels a little non intuitive to call loadPixels manually only for the case of getting an image from the videoElement, whereas the get( ) function for all other cases, such as getting pixel from a video element, image instance or the main canvas can be called without it

I think calling loadPixels in

[2019-04-06 03:51] Spongman commented on #3051
i'm sorry that doesn't make sense to me.
it's not necessary to duplicate the `_getPixel` code inside of `p5.MediaElement.get.get`. it's also not necessary to call `loadPixels` every `get()` call.

[2019-04-06 17:13] stalgiag commented on #3671
Perhaps related to #3293

This is tough to debug without the hardware. I am going to try to borrow an iphone soon but in the meantime, do you know if there is any console output for any of the failing devices?

[2019-04-06 17:24] stalgiag commented on #3672
I agree that this isn't really a bug in the sense that WebGL is behaving as is expected but it also probably isn't the best teaching moment for users. Processing handles the tesellation without explicit user knowledge [with GLUTesellator](https://github.com/processing/processing/blob/master/core/src/processing/opengl/PJOGL.java#L598). As @AdilRabbani says he introduced [the libtess library for cur

[2019-04-06 18:38] WenheLI commented on #3674
That's true! I can fix it if you haven't dealt the code yet!

[2019-04-06 19:55] #3051 closed

[2019-04-06 20:06] AdilRabbani commented on #3672
@stalgiag I'll submit a PR soon so the performance of the library can be tested with custom shapes.

[2019-04-07 16:40] outofambit opened #3681 "`grunt test:nobuild` errors"
when running `grunt test:nobuild` i get an error and the task fails. it looks like we're trying to start a second server at the same port.

[code]

[2019-04-08 00:05] #3447 closed

[2019-04-08 00:29] #3658 closed

[2019-04-08 00:35] #3670 closed

[2019-04-08 00:37] #3554 closed

[2019-04-08 01:40] chrisorban commented on #3567
Hey @ihsavru and @outofambit  can we get this pull request for the iPad external keyboard sorted out before we add a keyboard unit test?

https://github.com/processing/p5.js/pull/3286

This is the second oldest pull request on p5 now.

[2019-04-08 03:58] chrisorban commented on #3418
Hi @lmccart  can you designate the iPad arrow keys as part of the 0.9.0 milestones? It's now the second oldest Pull request I don't think it would take a ton of work to get it merged into the main branch. It would be a big help to the K-12 effort. There are a surprising number of one-to-one iPad schools and Ohio State now gives iPads to all our incoming freshmen.

https://github.com/processing/p5.

[2019-04-08 09:39] rich-gg commented on #3671
it really look like this is the same bug
In righ.gg I temporarely changed the geometry on my 3D panels
to use the work around

[code]
hope it works for my users

Unfortunatly I don't have access to any iPhone 8, 9 or X

[2019-04-08 09:51] piecesofuk opened #3684 "loadJSON erroring in 0.7.2 & 0.7.3 when using jsonp"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Data
- [X] Events
- [X] IO

#### Which platform were you using when you encountered this?

- [X] Chromebook

#### Details about the bug:

- p5.js version: 0.7.2 & 0.7.3
- Web browser and version: Google Chrome	74.0.3729.58 (Official Build) beta (64-bit)
- Operating System: ChromeOS
- Steps to reproduce this:

[2019-04-08 12:47] limzykenneth commented on #3684
It's failing on the file size checking stage, JSONP doesn't return headers so the file size cannot be checked by looking at the headers. I'll see what fix I can come up with.

[2019-04-08 16:57] stalgiag commented on #3671
Cool thanks for the update! So it seems that `plane()` geometry isn't texturing correctly on a specific set of iPhone hardware. Very odd 😕

[2019-04-08 17:06] #2182 closed

[2019-04-08 17:16] outofambit opened #3687 "Add unit tests for JSONP features"
right now we don't have any tests for JSONP features. lets add some!

cc @meiamsome (#3686)

[2019-04-08 17:17] #3684 closed

[2019-04-08 17:37] #3639 closed

[2019-04-08 20:06] #2586 closed

[2019-04-08 20:06] #3079 closed

[2019-04-08 20:19] #3344 closed

[2019-04-08 22:58] lmccart commented on #3549
this has been fixed in 0.8.0 out today

[2019-04-08 22:58] #3549 closed

[2019-04-08 23:00] #3357 closed

[2019-04-09 00:21] rich-gg commented on #3671
Still cannot tell if the fix worked
But one thing I'd like to share with you is that
when I started playing around with p5.js in WebGL,
2 or 3 years ago, I had to use the shape trick to
Have my textures showing.
That is why I was not  surprised by the work around.

Cannot remember if that was on PC or Android but,
By then I'm sure the problem was not iPhone only

Don't know if it'll help but I tho

[2019-04-09 01:09] pip33eed opened #3688 "How to rotate my video captured through webcam?"
I don't see any feature that does this, rotating the image drawn every frame just makes it lag like hell.
I am trying to just flip the capture of the video, horizontally.

[2019-04-09 01:46] stalgiag commented on #3688
Hi @pip33eed ! This github is for feature requests, bug tracking, and library structure discussion. It is best to ask these kinds of questions at [discourse.processing.org](https://discourse.processing.org/). Good luck!

[2019-04-09 01:46] #3688 closed

[2019-04-09 02:06] lmccart commented on #2765
@catarak is this still an issue? when I try to print an undefined variable in [this sketch](https://editor.p5js.org/lmccart/sketches/yTZYEoAS2) it seems to print undefined as expected. only `print()` with no arguments at all opens the print dialog, as expected.

[2019-04-09 02:18] lmccart commented on #2838
indeed, this has been fixed 🎉

[2019-04-09 02:18] #2838 closed

[2019-04-09 02:22] lmccart commented on #2934
I'm coming back to this and still feeling my [earlier comment](https://github.com/processing/p5.js/issues/2934#issuecomment-392508292), and it seems there were no strong oppositions, so I am going to close this and prioritize other issues.

[2019-04-09 02:22] #2934 closed

[2019-04-09 02:28] lmccart commented on #3614
@Ajayneethikannan your fix looks correct to me, thank you!

[2019-04-09 02:29] #3614 closed

[2019-04-09 02:31] lmccart commented on #3283
I agree it makes sense to separate the editor from the library, and I think the common gotcha FAQ in [this issue](https://github.com/processing/p5.js-web-editor/issues/748) is a good start. I'll close this one.

[2019-04-09 02:31] #3283 closed

[2019-04-09 02:35] lmccart commented on #3247
this should be fixed in 0.8.0

[2019-04-09 02:35] #3247 closed

[2019-04-09 02:36] lmccart commented on #3277
Thanks @mikima. I'm not seeing a lot of energy around this proposal, so I'd like to close it for now. We can revisit in the future if there is greater need for it.

[2019-04-09 02:36] #3277 closed

[2019-04-09 02:38] lmccart commented on #2215
The main question of this issue has been answered and we've now updated all examples to ES6 in the reference and examples page. I'll close this issue now. We can open other more specific ones as we work on the last piece of ES6 updating which is the codebase itself.

[2019-04-09 02:38] #2215 closed

[2019-04-09 06:10] ihsavru commented on #3687
I am working on this!

[2019-04-09 11:24] rich-gg commented on #3293
apparently the workaround doesn't work
in https://rich.gg I I replace all the rect() with the Shapes as described above and... it didn't fix the probleme

:(

[2019-04-09 11:24] rich-gg commented on #3671
Nope, it doesn't work :(

[2019-04-09 16:53] danielemichieletto commented on #3293
this work for me: http://dotcode.it/p5_iphone8/

[2019-04-09 17:50] nebbles commented on #3570
Given the updated status of #3447 and `style()` no longer calling `position()` I think there is now an onus to support specifying the type of positioning needed. For example, `'fixed'` may commonly be used to keep a P5 canvas filling the background of the webpage, rather than remaining anchored to the top right. Integration would provide a user-friendly and still intuitive way to improve positioni

[2019-04-09 18:41] catarak commented on #2765
@lmccart it has been fixed! i think it's still unclear how to handle `print()` within the `draw()` loop, and maybe a new ticket should be made for that, or this ticket should be changed to reflect that.

[2019-04-10 06:42] Spongman opened #3689 "directionalLight directions don't take camera rotations into account"
0.8.0

https://codepen.io/Spongman/pen/XQMrxQ?editors=0010

there's a red point light and a green directional light.

use the mouse (via `orbitControl`) to look at the bottom of the sphere.

notice how the red hilight moves, but the green hilight does not.

[2019-04-10 08:01] rich-gg commented on #3293
Cool @danielemichieletto but what is the trick ?

Is it in p5-v80 ?
Is it using no Material ?

I use
[code]

I don't use any textureMode()
...

[2019-04-10 09:07] nevahid commented on #1553
hi there... i saw this code as i was wandering around to find a way to do this transformation... i just got confused... in your function projectCanvasToWorld(canvas, vCanvas), what is canvas and what is vCanvas? thank you so much again for your help...

[2019-04-10 16:30] #3689 closed

[2019-04-10 17:31] tcoppex commented on #1553
Hi @nevahid,

It's old code but to my remembrance `canvas` is the processing canvas object and `vCanvas` is the vector in canvas-space coordinates as the comments suggested. Consequently `vWorld` is the vector in world-space coordinates in the second function.

Hope that helps.

[2019-04-10 17:34] stalgiag commented on #2530
If you are still interested @ihsavru then feel free to give it a go. This might be easiest to do in the [light_texture.frag shader](https://github.com/processing/p5.js/blob/master/src/webgl/shaders/light_texture.frag) but you would need to add a new uniform like `uTint`. Also no pressure if you don't still have a time just let me know.

[2019-04-10 18:16] ihsavru commented on #2530
@stalgiag I am working on some other issue at the moment 😅

[2019-04-10 18:24] stalgiag commented on #2530
Thanks for letting me know!

On Wed, Apr 10, 2019, 11:16 Urvashi Verma <notifications@github.com> wrote:

[2019-04-10 19:16] aparrish opened #3691 "randomSeed() with similar values produces similar sequences"
The first value returned from `random()` after a call to `randomSeed(n)` is often very similar to the first value returned from `random()` after a call to `randomSeed(n+1)`. [This sketch](https://editor.p5js.org/allison.parrish/sketches/i8HzVWbtZ) demonstrates the problem:

[code]

The first column is the value passed to `randomSeed()`, the second column is the first value returned from `int(rando

[2019-04-10 20:42] JoshuaGrams opened #3692 "npm run grunt fails at eslint-samples:source with "prefixLength of undefined"."
* p5.js commit e838315a
* Windows 10 version 1803 (OS Build 17134.706)
* Nodej.s 10.15.3
* npm 6.4.1

I cloned the repository from github, did `npm install`, then `npm run grunt`. It fails at `eslint-samples:source` (`npm run grunt eslint-samples:source` gets the same error faster) with "Warning: Cannot read property 'prefixLength' of undefined Use --force to continue."

Then it says "Aborted due

[2019-04-10 21:34] stalgiag commented on #3692
Hi @JoshuaGrams how did you clone the repository? This definitely seems like a line-endings problem. I develop on Windows as well. I'd also check to see what value you have for `core.autocrlf` with `git config --list`

[2019-04-10 23:43] hellonearthis opened #3693 "SaveBytes() new feature request"
I was trying to save a variable as binary file and found there wasn't an easy way to do that in p5.
I found some code that did this and was wondering how complex it would be to add to p5.
 Processing has a saveBytes() function

- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] IO

#### New feature details:
from stackoverflow  https://stackoverflow.com/a/23451803/45966

[cod

[2019-04-11 08:05] nevahid commented on #1553
@tcoppex thank you very much. i'm trying to figure it. but it gives me confusing positions, maybe i'm wrong somewhere... what i try to do is to get mouse position in p5.easycam camera... as i had to set the camera canvas to null, i used the p5.renderer as the canvas... maybe that is the point...
i still try to make it work.... thank you so much, and if you have any hints or help, i would really ap

[2019-04-11 09:42] vedhant commented on #2530
@stalgiag I would like to work on this!

[2019-04-11 12:30] JoshuaGrams commented on #3692
I have `core.autocrlf` set to `false`, and there are no DOS line endings in the project. I tried switching to DOS line endings and it just gave errors about wanting to remove the '\r' characters...

[2019-04-11 12:36] JoshuaGrams commented on #3692
Oh, huh. I switched it to DOS line endings again and now the build works. I wonder what I did wrong the other two times I tried it?

Well, thanks for your time.

[2019-04-11 12:36] #3692 closed

[2019-04-11 15:47] lmccart commented on #2765
Hm reading through all this and thinking about the open design and technical questions, might a reasonable approach just be to add a clear warning into the docs for print()?

I am also wondering if we should try to phase out the use of `print()` and replace it with another word. `console()` for example? We could support both for a while but this might lead to people being less likely to accidental

[2019-04-11 16:57] stalgiag commented on #2530
Sounds good @vedhant. thanks!

[2019-04-12 07:48] Janglee123 commented on #3691
Yes, I can reproduce this.
@lmccart this is because of [parameter](https://github.com/processing/p5.js/blob/e8c4be8e79b52fbbdf0349768984b3f59e103499/src/math/random.js#L22) (m, a and c) used to generate random numbers. we can replace it with values used by other [librarys](https://en.wikipedia.org/wiki/Linear_congruential_generator#Parameters_in_common_use).

This is a [sketch](https://editor.p5js

[2019-04-12 14:14] Lomacar commented on #2536
Could somebody explain to me how this is supposed to work? I am trying to convert an old sketch from Processing (Java), in 2009 to P5. I don't know how my old shader ever worked because P5/Chrome complained that it was using features only supported in "GLSL ES 3.00 and above only", so I added the directive "#version 300 es" and THEN I got errors about all sorts of things in my shader that were fro

[2019-04-12 20:35] aparrish commented on #3691
After a bit more research, I guess [this problem *is* typical of linear congruential generators](https://stackoverflow.com/questions/12282628/why-are-initial-random-numbers-similar-when-using-similar-seeds). So maybe this is less a bug and more of a feature request! For the reasons I mentioned, it would be nice if the seed didn't have such an out-sized effect on the sequence of numbers. One soluti

[2019-04-12 21:32] chrisallick commented on #2619
[code]

[2019-04-12 23:42] limzykenneth commented on #3691
@aparrish As you have found, this is a "feature" (or rather limitation) of this particular type of pseudo random number generator. It has the name "pseudo" in it because it doesn't actually generate random numbers which in this case shows up as similar values on initial numbers with similar seeds.

Using a hashing algorithm to get around this is rather overkill. You can achieve the same result by

[2019-04-12 23:50] limzykenneth commented on #3693
It's usually pretty unusual for many programming languages, including javascript, to be saving things in binary form, except for binary file format like images and audios. I only know of mongodb and numpy doing this but that's because they are saving in a data format that is meant to be read by them only.

Can you share a bit more about the use case?

[2019-04-13 00:21] drusepth commented on #3282
I can reopen it, but I haven't used p5 in several months so I'm not sure if it's still reproducible. You should be able to reproduce with the above snippet, though.

[2019-04-13 03:28] ihsavru commented on #3674
@WenheLI  please go ahead!

[2019-04-13 04:28] hellonearthis commented on #3693
This would be like processings [saveBytes()](https://processing.org/reference/saveBytes_.html) function.
I recently converted an file of ascii hex values to ints and saved it using the above to produce a binary file.

[2019-04-13 12:16] jwdunn1 opened #3695 "webgl text() fails to render new glyphs on second call in v0.8.0"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Typography
- [X] WebGL

#### Which platform were you using when you encountered this?

- [X] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.8.0
- OS and Web browsers:
Windows 7x64:
Chrome 73.0.3683.103
Chrome 75.0.3764.0
Firefox 66.0.3
Firefox 67.0b10
Oper

[2019-04-13 16:12] lmccart commented on #3674
fixed with https://github.com/processing/p5.js/pull/3696

[2019-04-13 16:12] #3674 closed

[2019-04-13 18:41] Spongman commented on #3695
this is cause by `bindShader` not correctly (since #3646) binding the shader's textures.

[2019-04-13 19:29] Spongman commented on #3693
p5 already has this (kinda):

[code]

[2019-04-14 04:34] hellonearthis commented on #3693
I don't know where the reference to **downloadfile** is.  Is it undocumented?

[2019-04-14 14:38] g1bbed opened #3698 "New to p5.js - need some help"
https://editor.p5js.org/stephanieclaire/sketches/nEtA2Kp-P

Tried adding a new folder of images and replaced my old image folder / files now I get a error

"Event {isTrusted: true, constructor: Object}
isTrusted: true
<constructor>: "Event"
name: "Event""

Please help?

#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-

[2019-04-14 14:39] #3698 closed

[2019-04-15 18:47] #3695 closed

[2019-04-16 14:45] jywarren commented on #1496
Hi! For the pi camera part, we've been able to stream to a canvas from a pi camera using this code:

https://github.com/publiclab/infragram/blob/23cafed8f62f4f7eb42bc195543c921c49372026/pi/index.html#L185-L191

...while the pi is running a pi camera web interface, we have a standard as card image you can use here, that also starts up a wifi net from the pi: http://publiclab.org/pi-camera

Hope tha

[2019-04-16 14:47] jywarren commented on #1496
Also I believe the demo here isn't working due to an API change in webrtc video... If that's correct I can submit a fix soon! Thanks all.

https://p5js.org/examples/dom-video-capture.html

[2019-04-16 15:21] Great-Bucket commented on #560
I had this same problem (moving from PROCESSING to P5.js) with obtaining the ASCII code for a character.  A person I was working with showed me how to do it:

PROCESSING 3 (on desktop):  myvar = int (wordvar.charAt(2));

Change on P5.js to:                   myvar = int (wordvar.charCodeAt(2));

That is, change '.charAt' to '.charCodeAt'

[2019-04-16 17:19] jywarren opened #3699 "Video demo cut off"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-04-16 17:22] jywarren commented on #1496
False alarm, sorry -- it is working in that environment; the video is just cut off the side of the screen. https://github.com/processing/p5.js/issues/3699

[2019-04-16 22:44] #2609 closed

[2019-04-17 12:56] #3681 closed

[2019-04-17 21:08] ScriptHosT12 opened #3700 "p5.js editor console with weird behavior on mutable types"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (editor)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (tou

[2019-04-17 22:08] outofambit commented on #3700
Hi @ScriptHosT12! did you run this code in a sketch on https://editor.p5js.org? or another context? and was it run in `loop` or `setup` or another part of your code?

[2019-04-17 22:22] ScriptHosT12 commented on #3700
Yes it was on a sketch on the editor, about running on loop or on setup it can happen on all events, including draw event

[2019-04-18 09:56] limzykenneth commented on #3700
It is showing the last known value of the variable at the time of printing the logged value. If you look at the Chrome dev tool result and expand the entry that is `[1]`, you will see that it now says the length is 0. This is likely related more to the editor itself and how it caches console messages and the timing of it.

[2019-04-18 12:50] EricLindesay opened #3701 "Processing 3 trails and anti-image auto scaling"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-04-18 12:54] EricLindesay commented on #3701
So I have a problem where I am trying to have a character move but they leave their remnants behind and the only way I know how to fix this is just draw it again over the original image with the new position. Is there any better way then this?

Also I would like to know how you can make it so when you import an image file, the image doesn't automatically fit to screen and goes 'off' the screen whe

[2019-04-18 17:02] limzykenneth commented on #3701
Hi @EricLindesay, this is the p5.js repo and not the Processsing repo, also for coding help it is best to post them on the [forum](https://discourse.processing.org/). Github issues are mainly used for bug reports and feature requests. Thanks!

[2019-04-18 17:02] #3701 closed

[2019-04-18 19:53] ddddtttt6666 opened #3702 "while editing for loops increment with auto refresh on crashes browser"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (web editor)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Table

[2019-04-18 20:10] stalgiag opened #3703 "Discussion on functions for working with local storage"
#### New feature details:

Hello all just wanted to post an issue to track that I am thinking through adding `local_storage.js` for working with [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage). Here are some notes as I start to plan:

- `setItem()` - (could also be named `store()`)
  Not sure what to do here. The options aren't great based on my research. Listi

[2019-04-18 20:23] stalgiag commented on #3702
Hi @ddddtttt6666 thanks for filing an issue. This isn't a bug with p5. What I assume is happening is that your for loop isn't incrementing and so it never exits which means it runs infinitely causing the browser to crash. It looks like like [the editor is already tracking this on their repository](https://github.com/processing/p5.js-web-editor/issues/698). Closing this for now.

[2019-04-18 20:23] #3702 closed

[2019-04-18 20:32] vedhant commented on #2530
@stalgiag should tint in webgl mode tint only the textured images or any object for that matter?

[2019-04-19 04:00] matt-hoiland commented on #3087
This patch doesn't pass `event` through to the user's `fxn` when called. The context rebinding in d76c5a33d6bbb3e767a7df67f6afd60e598c903c also doesn't patch that. The `MouseEvent` never makes it back to the user. It broke my parabola sketch :disappointed:

[2019-04-19 18:26] stalgiag commented on #2530
Hi @vedhant I think we should probably follow Processing on this and only apply the tint to image textures.

[2019-04-19 21:15] limzykenneth opened #3704 "angleMode(DEGREES) still being used in p5.Vector.fromAngle example"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Documentation

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touc

[2019-04-21 19:02] #3687 closed

[2019-04-21 22:53] cadesix commented on #3518
also having this same issue, but for me it persists with both ambient and directional light. works fine on firefox and chrome on desktop, breaks on iOS using an iPhone X.

[2019-04-22 10:40] sixhat commented on #3282
I've read the random function code and this is still an issue. The issue is when you pass an array as the first element and then a second argument to the random function. The code doesn't have a proper use case for this and returns garbage.  Also the random function doesn't test for the validity of the arguments, just assumes everything was passed correctly. Maybe some refactoring would make it be

[2019-04-23 05:07] estevancarlos opened #3705 "lights() method not recognized by recent p5js version"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-04-23 17:54] Kango opened #3706 "loadFont: free fonts and URL?"
suggestion:

please name some free ttf to use in a p5.js sketch with loadFont in the WebGL tutorial and on

https://p5js.org/reference/#/p5/loadFont

thanks!

[2019-04-23 19:42] stalgiag commented on #3705
Hi @estevancarlos, `lights()` is [only available in 0.8.0.](https://p5js.org/download/). Closing for organization purposes.

[2019-04-23 19:42] #3705 closed

[2019-04-23 22:47] limzykenneth commented on #3706
Inconsolata used in the reference is a free font. What kind of font suggestion are you thinking of? A general list of suggestions is probably a bit out of scope as that is more of a graphic design/typography problem rather than a programming one.

[2019-04-24 09:40] Kango commented on #3706
Hello,

thanks for your quick reply.

I would appreciate it if you could provide the free font Inconsolata as a online resource.

I wasn’t able to run the code from the Learn / tutorial section:

let myFont;

function preload() {

  myFont = loadFont('assets/AvenirNextLTPro-Demi.otf');  // problem : won‘t work

}

function setup() {

  fill('#ED225D');

  textFont(myFont);

instead of 'assets/Aven

[2019-04-25 11:21] xavierbacalla commented on #1437
I know that issue #1437 is already closed and long overdue but what worked for me was enclosing the event inside an if statement such that it would only run `if (mouseX <= width && mouseY <= height)`.

[2019-04-25 17:24] ihsavru commented on #3385
Hi @outofambit, I was hoping this can be completed before writing more unit tests. I would like to help with this.

[2019-04-25 18:54] jpegsarebad commented on #3704
I'm on it!

[2019-04-25 19:54] xtydev commented on #3564
Regarding the first point, these concerns are in fact largely unfounded, i.e. you won't observe the hypothesized additional round trip if you try and monitor your HTTP traffic using [Charles](https://www.charlesproxy.com/), [Fiddler](https://www.telerik.com/fiddler) or [Wireshark](https://www.wireshark.org/). By saying "_asking for permission takes 2 HTTP requests so it's slower than not asking_",

[2019-04-26 07:47] lmccart commented on #3706
Hi @Kango you can download the font here: https://fonts.google.com/specimen/Inconsolata?selection.family=Inconsolata
or include the google fonts link in the head of your html file.

[2019-04-26 07:47] #3706 closed

[2019-04-26 09:15] Kango commented on #3706
Hello,

thanks for your quick reply.

I am not sure if this helps though.

I want to use the font in https://editor.p5js.org/Kango/sketches/

I wasn’t able to run the code from the Learn / tutorial section.

This

  myFont = loadFont('assets/AvenirNextLTPro-Demi.otf');  // problem : won‘t work

won‘t work.

Hence my idea was to provide the free font Inconsolata as a online resource

that we can us

[2019-04-26 09:18] lmccart commented on #3706
hi @Kango the link I posted enables you to download it for free. click "select this font", click the popup that gets created in the bottom right of the screen, and click the download button.
![Screen Shot 2019-04-26 at 6 18 14 PM](https://user-images.githubusercontent.com/191056/56797462-b7fc9680-684f-11e9-81a9-887fcd31cfed.png)

[2019-04-26 09:26] Kango commented on #3706
Hi Lauren,

Sorry, but then I still can’t use it in the online editor

https://editor.p5js.org/Kango/sketches/

Hence my idea was to provide the font Inconsolata so that we can use it via a CORS <https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS> -compatible webl URL

So this

  myFont = loadFont('assets/AvenirNextLTPro-Demi.otf');  // problem : won‘t work

would be

  myFont = loadFont('http

[2019-04-26 09:29] lmccart commented on #3706
@kango you can upload files to the editor by clicking the < button and then clicking "add file".
alternatively, you can this line between the "<head></head>" tags of your html file:
[code]

[2019-04-26 13:06] Kango commented on #3706
Thanks, doesn’t work.

Why do you tell me: you can this line between the "" tags of your html file

when I try to use this: https://editor.p5js.org/Kango/sketches/oPYdANKKH ?

I don’t have access to the html file.

This site https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

contains this code that does not work.

How do you plan to fix it?

It does not work because we can’

[2019-04-26 21:24] lmccart commented on #3706
Hi @kango.

1. You can upload a font file from your computer like this:
<img width="1020" alt="Screen Shot 2019-04-27 at 6 19 42 AM" src="https://user-images.githubusercontent.com/191056/56837261-b9ac7580-68b4-11e9-9549-144240775f97.png">
<img width="1020" alt="Screen Shot 2019-04-27 at 6 19 48 AM" src="https://user-images.githubusercontent.com/191056/56837275-c8932800-68b4-11e9-8818-9e9fc39e11bd.

[2019-04-26 23:36] hellonearthis commented on #3706
This thread in the p5 discourse processing support community might also help fix any issues too.
[https://discourse.processing.org/t/how-to-use-google-fonts-in-p5js-online-editor/6893](https://discourse.processing.org/t/how-to-use-google-fonts-in-p5js-online-editor/6893)

[2019-04-27 22:09] lmccart commented on #3693
@hellonearthis we made a decision a while ago to skip saveBytes() just because the overhead to implement it was a lot (at least at the time), and it seemed as @limzykenneth a rather unusual function, especially for beginners to use. we thought skipping this one would allow us to put more energy into supporting other more commonly used functionality.

[2019-04-27 22:11] lmccart commented on #3666
Just checking in on this one, is it sufficient to pull https://p5js.org/reference/data.json for the p5 keywords? It should have all the keywords and also some additional metadata / definitions if we ever want to build any of that into the editor.

[2019-04-27 22:13] #3704 closed

[2019-04-27 22:23] lmccart commented on #3667
This example (based on your code) is working for me on Mac:
https://editor.p5js.org/lmccart/sketches/4km34wzhP

Does it work for you @vidasdemo? Can anyone else test on windows 10?

[2019-04-27 22:24] lmccart commented on #3667
This other example from your code works as well:
https://editor.p5js.org/lmccart/sketches/1sWjdkEye

One thing I notice is that it does print the webcam width/height as 300 x 150. This is because at the time of logging, the camera is not yet fully initialized, so it prints the default sizing. Despite that, it is showing up at the 1280x720 resolution in the browser.

[2019-04-28 10:40] Kango commented on #3706
please just fix the example on This site https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

and use a CORS accessible font in this line:

  myFont = loadFont('assets/AvenirNextLTPro-Demi.otf');

Better for beginners.

Cheers, Christoph

Von: Brett Cooper [mailto:notifications@github.com]
Gesendet: Samstag, 27. April 2019 01:37
An: processing/p5.js
Cc: Kango; Mention
Betreff

[2019-04-28 11:06] lmccart commented on #3706
yep we're working on it. just trying to help you out in the meantime :)

[2019-04-28 12:09] Kango commented on #3706
;-)

Thanks!!!

[2019-04-28 22:42] SrBrahma commented on #3610
Same issue here. Tinting is consuming a nice part of the CPU.

[2019-04-29 01:13] outofambit opened #3713 "add unit tests for dist()"
(incomplete) list of test cases:
* handles overflows/rounding correctly
* handles infinities
* handles string parameters
* handles arbitrary-length argument lists

_Originally posted by @outofambit in https://github.com/processing/p5.js/pull/3457#issuecomment-460075241_

[2019-04-29 10:33] Niels-NTG commented on #3352
I don't think this issue can be closed yet. While the issue of shapes constructed with curved vertexes is not being closed when using `endShape(CLOSE)` is resolved, it closes it using a straight line as if the shape begun and ended with a normal vertex. This issue should be reopened until this is resolved. I for one would really like to see this working.

[2019-04-29 11:04] ItsWasteD commented on #3352
I think this bug doesn't only exist in P5.js but also in the normal Processing. For me it happened when trying to create a circle shaped audio visualizer and the first and last point were connected with a straight line instead of a curve.

Processing Version: 3.5.3

[2019-04-29 18:40] stalgiag commented on #3667
I am able to get both examples working on Windows 10 in the online editor with latest Chrome. And as you said the incorrect width logging has to do with unfinished initialization if I add:
[code]
to the second example and click I get the expected 1280x720

[2019-04-29 18:45] stalgiag commented on #3666
@lmccart that seems sufficient to me unless I am missing something. That file appears to have all of the publicly available properties and methods already categorized.

[2019-04-29 18:51] stalgiag commented on #3610
I feel like @micuat's first suggestion is the intended way to do this. Maybe a documentation change could held nudge people in this direction? I feel like caching the canvas might be a bit too much for this specific problem.

[2019-04-29 22:33] hellonearthis opened #3716 "rect() x value with leading zeros gives wrong position."
Hi,  was just play with rect and when I used the value  rect(052, 12, 52, 54)
it change the x value to 42.

- [ x] Found a bug

- [x] Other (specify if possible)

Shapes, 2D Primitive

- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5 0.7.3
- Web browser and version: Chrome 74.0.3729.108
- Operating System: Win10
- Steps to reproduce this:
Add a leading zero to a number. like

[2019-04-30 01:56] stalgiag commented on #3716
I think this is because [JS is interpreting the leading zeros as octal number literals.](https://stackoverflow.com/questions/37003770/why-javascript-treats-a-number-as-octal-if-it-has-a-leading-zero) so it isn't a bug in p5. That said, handling this case and obfuscating this unexpected behavior for people might make sense for the library.

[2019-04-30 03:08] hellonearthis commented on #3716
Thanks,  I didn't know that..

[2019-04-30 03:08] #3716 closed

[2019-04-30 10:53] alsino commented on #3352
I have the same problem and the closing of the curved vertices close with a straight line. This is not optimal I think. Is there maybe any progress already made on a solution for this or can you give a pointer to how this could be implemented?

[2019-04-30 13:06] JithinKS97 commented on #3713
I'm ready to take up this issue. But I see that hypot is not attached to p5 prototype.

[2019-04-30 19:20] catarak commented on #3666
@lmccart yes, i think that is sufficient! i think we can close this issue.

[2019-04-30 19:20] #3666 closed

[2019-05-02 02:58] Matt-the-Marxist opened #3719 "vectors as coordinate"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
 I think it would be useful to be able t

[2019-05-02 03:10] Spongman commented on #3719
I was just think in the same thing earlier today. Probably for the same reason...

It should be reasonably simple to add overloads for most of these. One question: how to pass width/height parameters (eg for `rect()`) ?

[2019-05-02 12:21] limzykenneth commented on #3719
I'm actually surprised this hasn't been done yet. Would be really nice to have!

@Spongman Is it reasonable to let the width and height be defined by another vector as well? There's also different `rectMode()` to consider.

[2019-05-03 01:49] kevinlovesgithub commented on #1999
``

[2019-05-03 16:08] nobobo1234 commented on #3719
I could try to look into this! I really want to contribute to an open source project, this seems pretty doable.

[2019-05-03 19:09] nobobo1234 commented on #3719
Btw letting width and height be definable by a vector seems really counter intuitive to me :thinking:

[2019-05-03 19:32] nobobo1234 commented on #3719
I've looked into this but this'd require a lot of changes in the p5.Renderer2D file. Since most arguments aren't handled 'dynamically' you'd have to rewrite a lot of code to use the `arguments` object, or if p5 starts using es6, the rest parameters. Now this isn't as much of a problem for me coding-wise but I just wanted a head-ups if this should be implemented...

[2019-05-03 19:38] vidasdemo commented on #3667
Thanks for responding.

As per your observation I added a delay before displaying image in browser and then I get the full expected resolution size.

As a side issue I also found that I needed to make sure that the webcam image I am displaying is inside canvas size and canvas size is inside browser window. These “experiments” were undertaken because I want my app to work in both landscape and port

[2019-05-03 19:46] stalgiag commented on #3667
Cool thanks for responding @vidasdemo. "Newbies" are always welcome. I noticed that you asked a question [on the forum first](https://discourse.processing.org/c/p5js) which is definitely always the correct play if you aren't sure whether the issue is with p5 or your code. Sorry no one responded over there!

I am closing this now for organization.

[2019-05-03 19:46] #3667 closed

[2019-05-03 21:13] Spongman commented on #3719
i would recommend leaving the vector argument handling out of the renderer code.

[2019-05-03 21:19] nobobo1234 commented on #3719
Yeah I see, but looking at the renderer code every parameter for every function is hardcoded so you cannot really avoid it.

[2019-05-03 21:23] Spongman commented on #3719
not sure how you arrive at this. it should be possible to extract the scalars from the vectors in the p5.prototype methods and then pass them to the renderer methods as usual.

it's probably best to only add a single overload to each vector-taking method: an over load that replaces _all_ appropriate scalars with vectors. i don't think it makes sense to have a whole power set of overloads for each

[2019-05-03 22:12] limzykenneth commented on #3719
@nobobo1234 You can destructure objects without ES6, ES6 destructuring is really just syntactic sugar. So you can just assign each individual `x`, `y`, `z` component of a vector into their own variables before passing them to the renderer, or even make them an array if you want to keep the existing way the renderer method is called.

[2019-05-04 00:36] hsab opened #3723 ""eslint-samples:source" issue with "p5.Shader.js""
**Needs to be resolved to merge #3724**

I'm trying to add an example to the `setUniform` function of `p5.Shader.js`. There seems to be some unpredictable behavior with `eslint-samples:source` and the example code. I received the following which prevents me from running the `grunt` task or to safely commit.
[code]

This seems to relate to the following lines of the example code:
[code]

The only p

[2019-05-04 00:38] Spongman commented on #3723
CRLF issues maybe?

[2019-05-04 00:48] hsab commented on #3723
If you refer to [my commit ](https://github.com/hsab/p5.js/commit/3b9fdc5b9a015619cb67e4b5be87b1ebb8c752d2), I'm also modifying `/mnt/E/src/webgl/material.js`. Shouldn't CRLF issue cause the other file to throw warnings as well?

[2019-05-04 00:49] Spongman commented on #3723
i think it just bails on the first file with errors.

[2019-05-04 00:57] Spongman commented on #3723
ah! the indent is supposed to be 2 spaces, you have three spaces indent in your if/else block there.

[2019-05-04 00:57] stalgiag commented on #3723
There is an indentation issue there. There is one extra space in all of those lines. The auto fix `npm run lint:fix` doesn't work for whatever reason in this case but you just have an extra indentation space. The '.' period in the linter means a space usually

[2019-05-04 00:58] hsab commented on #3723
Will fix and close this appropriately.

[2019-05-04 01:01] #3723 closed

[2019-05-04 01:01] Spongman commented on #3723
the 'fix' doesn't work for the example sources due to the fact that there's a whole bunch of crazy nonsense that happens to extract the example's source from the doc comment, run the linter on it and re-map the errors back to the original source line/cols. in theory it would be possible to run the fixer on the extracted sample and splice the fixes back into the original source, but just the lintin

[2019-05-04 01:05] hsab commented on #3723
I think deleting the extra spaces proved to be a simpler solution  :smile:

[2019-05-04 07:56] lmccart opened #3726 "overlap of p5.Image._modified and p5.Image_pixelsDirty"
#### Nature of issue?

- [ ] Found a bug
- [ x ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?
- [ x ] Image

#### Feature enhancement details:

The p5.Image object has two properties [`this._modified` and `this._pixelsDirty`](https://github.com/processing/p5.js/blob/master/src/image/p5.Image.js#L151). They seem to overlap conceptually but are cur

[2019-05-04 14:08] Spongman commented on #3726
I don’t think these two can be simply merged. One represents the state of the `_pixels` array, and the other handles the state of the texture on the GPU. Merging these would require updating the GPU every time the pixels array is synced which could be a big perf hit.

[2019-05-04 18:03] stalgiag commented on #3726
Good point @Spongman. I don't fully understand why it would be a major performance hit if the GPU texture was updated when `_pixelsDirty` is true. You did most of the work managing the `_pixelsDirty` flag, could you point to when `_pixelsDirty` would be true too often or when it would force an unnecessary update to the texture on the GPU? I am having a bit of trouble tracing this around but my und

[2019-05-05 14:42] nobobo1234 commented on #3719
@Spongman Sorry, but I haven't had much experience with the source of the library. But I can't seem to find the place where the individual renderer methods are called from? E.g. `point()`, `line()`. I've found the constructor of the methods (`p5.Renderer2D.js`) but not the place where they are called from, only where the renderer itself is initialized (`rendering.js`). I can't seem to find a call

[2019-05-06 09:15] rich-gg commented on #3293
@danielemichieletto

Would you try this variation of your code
https://rich.gg/iPhone8r/

Only difference is, at line 84/85 I added
    fill(255);
    box(100);

[2019-05-06 18:10] stalgiag commented on #3726
So I spent a bit of time testing things out and if `_pixelsDirty` is used to determine when to upload to the GPU , the number of times that `gl.texImage2D()` is the same for all the manual test examples. The problems come with needing to alter `_pixelsDirty` after using it inside of the texture update method. This works the same as well with all of our test examples but once I started playing arou

[2019-05-06 18:49] nevahid commented on #2130
@bcbradle  @lmccart  hi people... i found this request while searching for a way to make a hole in a 3d shape... is there any progress about this? anything made public?
thanks in advance

[2019-05-06 20:43] jacopomazzoni opened #3729 "Improved IOS support, working examples for inline video, audio and touch events"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [x ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible)
IOS support
#### Which platform were you using when you encountered this

[2019-05-06 21:38] lmccart commented on #3726
@stalgiag thanks for looking into this!

[2019-05-06 21:39] #3726 closed

[2019-05-06 21:40] lmccart commented on #2130
@nevahid sorry, no updates on this from the p5.js library end

[2019-05-07 05:10] alexander-wick opened #3730 "split is not defined"
this my code but i'm wandering why the console says split is not defined

var txt;
function preload() {
  txt = loadStrings("sample.txt");
}

function setup() {
  noCanvas();
  console.log(txt);
}

var names = 'Pat,Xio,Alex';
var splitString = split(names, ',');
text(splitString[0], 5, 30);
text(splitString[1], 5, 50);
text(splitString[2], 5, 70);
//var splitStrings = split(txt, "!");
//console.lo

[2019-05-07 07:53] rich-gg commented on #3293
@stalgiag
Would it help knowing that
this works :

[2019-05-07 08:19] nevahid commented on #2130
@lmccart thanks or our response... do you think i can achieve it by using gl.blendFunc()?

[2019-05-07 15:48] stalgiag commented on #3293
@rich-gg so odd.

Sorry I haven't made any progress on this yet. I am working on something else currently. This is still a priority. I just need to get my hands on one of these devices.

Obviously if anyone owns an Iphone 8+ and is interested in working on WebGL stuff then help is very welcome. Otherwise, I'll investigate as soon as I am able.

[2019-05-07 16:36] piecesofuk commented on #3730
Because split is a p5 function it can't be used before setup() is run. If you run your code in the p5 web editor you get the following warning message:

[2019-05-07 18:20] stalgiag commented on #3730
Thanks for the accurate response @piecesofuk! In the future @alexander-wick if you are unsure of whether something is a bug with the p5 library or your code it is best to [post on the forum first.](https://discourse.processing.org/c/p5js).

Closing this now for organization purposes.

[2019-05-07 18:20] #3730 closed

[2019-05-07 20:40] phemyojo commented on #3730
great work guys

On Tue, May 7, 2019, 7:21 PM Stalgia Grigg <notifications@github.com> wrote:

[2019-05-08 00:57] BerfinA opened #3733 "ARC reference"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible)- reference for arc

#### Which platform were you using when you encounter

[2019-05-08 02:22] alexander-wick commented on #3730
thanks for help :D

[2019-05-08 05:04] stalgiag commented on #2130
Hi @nevahid I don't think you will be able to achieve this with gl.blendFunc. Boolean operations are very much out of scope for this library. Even three.js doesn't have this feature as far as I know. If your shape is relatively simple and you know how to make it with custom vertices then you might look into [building this work-in-progress branch](https://github.com/processing/p5.js/pull/3680). Mos

[2019-05-08 05:26] rich-gg commented on #3293
I wish that detail I just posted, about
the render being affected by
the presence of a model() or a 3D primitive
prior to the render of a textured object
can help the bug investigation

thanks for the good work :)

[2019-05-08 09:37] limzykenneth commented on #3719
@nobobo1234 At the bottom of the [reference page](https://p5js.org/reference/#/p5/point) for the individual functions is a link to where the function is defined in the [source code](https://github.com/processing/p5.js/blob/0.8.0/src/core/shape/2d_primitives.js#L356). These are the function you should be making the changes to, they will call the renderer's method themselves.

[2019-05-08 10:12] limzykenneth commented on #3733
I believe counter clockwise is the correct behaviour and the reference probably left it out by mistake.

[2019-05-08 10:19] limzykenneth commented on #3729
Hi, can you give more specific examples about what is the current behaviour and what is the expected behaviour?

[2019-05-08 11:32] thewebdevelopment opened #3734 "Mouse Brightness circle to rectangular shape"
Is there any way we can make mouse brightness circle to rectangular?
I have seen the docs but unable to find the right method.

https://p5js.org/zh-Hans/examples/color-brightness.html

[2019-05-08 18:40] nevahid commented on #2130
@stalgiag thank you very much for your response and your guidance... i was trying to use csg.js and was thinking about somehow applying its ideas... i just saw the post you mentioned... i think it will really help me, because my objects are only axis aligned boxes, thank you a lot...

[2019-05-08 20:17] stalgiag commented on #3734
It looks like you already [asked this question in the forum](https://discourse.processing.org/t/change-shape-of-color-brightness/11030/2) and it was answered, which is great! But the github page is for bugs, issues, and feature requests. Please don't dual post on the forum and here as it makes it hard to keep the issues section of the github organized.

If you need help figuring out how to code so

[2019-05-08 20:17] #3734 closed

[2019-05-08 20:20] stalgiag commented on #3703
Okay! Not sure that there is much interest on this one so I am going to close for the time being. Maybe I'll return to this in the future.

[2019-05-08 22:21] jywarren opened #3735 "Chrome Android bug (hard to describe)"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices) - Chrome Android

#### Details about the bug:

- p5.js version: 0.6.1 (editor.p5js.org)
- Web browser and version: Chrome 74
- Operating System: Android
- Steps to reproduce this:

I'

[2019-05-09 17:54] Vamoss opened #3736 "Change depth by setAttributes not working"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-09 18:29] Vamoss commented on #3736
Actually, by disabling the Depth, it makes the transparency from images work(the example above).
But when I draw some semi-transparent shapes in between the images, the depth is not right:
![image](https://user-images.githubusercontent.com/245841/57477521-3a814f00-726f-11e9-9a3f-7f5ba71ebbd0.png)

I am trying to accomplish a fog effect...

[2019-05-09 20:54] limzykenneth commented on #3735
If the graph is not "drawing" (in this case more specifically, not reflecting the spectrum) I would suspect there is something unexpected going on at `map(spectrum[i], 0, 255, height * 0.8, 0)` and most probably to do with `spectrum`. Can you log what `spectrum` is into the console to see if it gets populated correctly? You should be able to connect Chrome on Android to Chrome dev tools on desktop

[2019-05-09 21:44] jacopomazzoni commented on #3729
The beahviour for video currently loads a full screen player instead of loading the video frames in the canvas object.
P5. Sound just flat out did not work for me on ios. (several iPhone models tested) this does.

[2019-05-10 01:17] stalgiag commented on #3729
Hi @jacopomazzoni! I have a bit of confusion about this issue.

Could you point to a broken example somewhere? Perhaps on the p5 website? The link you provide points to a forum thread which points to a sketch file. This doesn't make it easy to figure out the problem on our end. Once we figure out what the problem is, if the fix that you developed for that sketch is a good solution then you can ope

[2019-05-10 05:04] outofambit commented on #3733
thanks for clarifying @limzykenneth!

[2019-05-11 11:33] limzykenneth opened #3737 "Delta time feature"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
This has been brought up before in #2180 and alt

[2019-05-11 16:10] heaversm commented on #2847
This is still causing issues for me on ipad 6th gen v 12.2in chrome and safari

[2019-05-11 16:55] joecridge commented on #3733
The intended behaviour is clockwise (same as Processing), so the documentation is correct. The snippet above should draw the left half of a circle (since zero degrees is the line starting from the centre of the circle and heading off to the right [in the positive x-direction]).

I’ve tried this in the web editor and it appears to work correctly. @BerfinA can you confirm what you are seeing and whi

[2019-05-11 16:55] Nekzuris opened #3738 "nfs() doesn't add "_" (space) in front of 0"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] String Functions: nfs()

#### Which platform were you using when you encountered this?

- [ ] Mobile/Ta

[2019-05-11 18:09] limzykenneth commented on #3733
@joecridge Yup, you're right. If the documentation and the behaviour are consistent then there's no problem from me. Counter clockwise is just what I'm used to in some other programs.

@BerfinA I've had a closer look at the example code you provided, the problem with the angles you've given is that visually it is going to look exactly the same whether you are drawing clockwise or counter clockwise

[2019-05-11 18:31] stalgiag commented on #3737
I am very in favor of this. As you said,`deltaTime` is fundamental for most game and animation engines, and it can be a bit unexpected to find it isn't explicitly available in p5.

[2019-05-11 18:47] stalgiag commented on #3738
This is a bit ambiguous. The documentation says this method "puts an additional "_" (space) in front of positive numbers" but [this check ](https://github.com/processing/p5.js/blob/master/src/utilities/string_functions.js#L456) will ignore 0. If we want to allow this to put spaces in front of 0 we could do this instead:
[code]

[2019-05-11 18:50] stalgiag commented on #3738
Or `parseFloat(num) >= 0` haha

[2019-05-11 21:43] Nekzuris commented on #3738
Year that seems better ;)
I really think this should be the correct behavior of nfs(), there is no reason to exclude zero here.

[2019-05-11 21:58] BerfinA commented on #3733
I am a bit confused. I understand maybe the numbers I am using might be the problem so I tried the below example;

function setup() {
  createCanvas(400, 400);
}

function draw() {
   background(220);
  arc(100,100,100,100,PI/2,5/3*PI);
}

Which I would expect to go from pi/2 top center of the circle to 5/3 pi which is on the lower right side of the circle but maybe I am looking at the radian numb

[2019-05-11 22:18] limzykenneth commented on #3733
@BerfinA The 0 degrees point of the circle starts from the 3 o'clock position and as long as you are defining positive angles, it will go clockwise, so pi/2 would be 90 degress clockwise from the 3 o'clock position and that's the 6 o'clock position, or the bottom center.

Then your next angle will also start from the 3 o'clock position, go clockwise 5/3 pi or 300 degrees to end at the 1 o'clock po

[2019-05-11 23:21] joecridge commented on #3733
In case it’s helpful, here‘s my attempt at illustrating @limzykenneth’s explanation 😆:

<img width="400" alt="arc-start-stop" src="https://user-images.githubusercontent.com/11491479/57575908-c51ea580-744b-11e9-87e5-c2720e1f30e0.png">

[2019-05-12 09:57] lmccart commented on #3737
I agree this sounds like a very good idea

[2019-05-12 18:22] outofambit commented on #3733
hey @limzykenneth and @joecridge thanks for this help! i had looked at this with @BerfinA last week and was also confused.

since it seems like the reference and code are correct, but the concept itself is confusing, i wonder how we could make this more apparent in the arc reference. perhaps there could be a section about this in https://p5js.org/learn/curves.html and the arc reference could link

[2019-05-13 00:44] BerfinA commented on #3733
thank you @limzykenneth and @joecridge ! yeah the images of degrees and radians online are basically upside down and thats why I got confused.Yeah, @outofambit that would be helpful. [
![unit-circle-radians-degrees](https://user-images.githubusercontent.com/50386960/57589981-3195b500-74dd-11e9-8be0-6bae1bdae7be.png)
](url)

[2019-05-13 11:43] limzykenneth commented on #3733
@BerfinA That image you attached is showing a counter clockwise angle which is used in many places (hence why I'm more used to thinking counter clockwise as the default behaviour), but clockwise or counter clockwise isn't really a right or wrong thing here in the same way that in 3D which direction the z-axis goes also splits into left hand rule and right hand rule variants. It is understandable t

[2019-05-13 11:44] limzykenneth commented on #3737
I'll implement this, will file a PR in a couple days the latest.

[2019-05-13 15:46] Spongman commented on #3733
The diagram is semantically correct, however you have to remember that in most 2d computer graphics environments (including) p5.js, the y-axis increases in the _downward_ direction (like a CRT beam scan). This results in a clockwise rotation for increasing angles.

[2019-05-14 06:41] harveymoon opened #3741 "loadPixels in 0.8.0 drops frames"
#### Nature of issue?
- [X] Found a bug
#### Most appropriate sub-area of p5.js?
- [X] Image
#### Which platform were you using when you encountered this?
- [X] Desktop/Laptop
#### Details about the bug:

P5js V0.8.0
Chrome  Version 74.0.3729.131 (Official Build) (64-bit)
On a mac 10.14.4
Tested on multiple computers.

Using V0.8.0 the loadPixels function will _sometimes_ return no image from the

[2019-05-14 15:58] stalgiag commented on #3738
I agree. Any interest in opening a pull request?

[2019-05-14 20:25] Nekzuris commented on #3738
Yes, should I do it? I'm just getting into programming, never use github before, not really sure how to do it.

[2019-05-14 20:35] stalgiag commented on #3738
That seems like a good time to give it a try to me. But also no pressure! This isn't high priority so time can be taken with it.

If you do decide to give it a go. [This can be a useful resource.](https://github.com/processing/p5.js/tree/master/developer_docs).  After you figure out how to build the library in a local copy of your fork (ie run `npm run grunt` and see all of the tests pass etc) the

[2019-05-14 20:43] Nekzuris commented on #3738
Thanks for your help, I will give it a try ;-)

[2019-05-15 08:34] DarkWyvren opened #3745 "First character of text() is glitchy/'swapped' across other text() calls with different font faces."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-15 08:52] DarkWyvren commented on #3745
workaround hack:
this only triggers on the first text calls
so you can call a useless text and draw it off screen to 'get rid' of the first call

`text("Awe",-999,-999);`

[2019-05-15 15:15] Spongman commented on #3745
I think this may have been fixed already. Can you try with this interim build? https://github.com/Spongman/p5.js/releases/download/untagged-cd68b53ab47e77c09904/p5.js

[2019-05-15 16:59] catarak opened #3746 "Mouse does not track correctly with WEBGL renderer"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (s

[2019-05-15 17:19] stalgiag commented on #3746
If you change the `ellipse()` use to:
[code]
you get expected behavior. This is because the [coord system is different in WebGL](https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5) which was an early design decision. I think it was done this way to make it possible for people to make smoother transitions from p5 to other WebGL use. I am personally not sure about it but it ha

[2019-05-15 17:52] ajavamind commented on #3746
Thanks for all your help with this issue. Maybe the solution is for the p5.js library to compute mouseX and mouseY based on the renderer chosen for the sketch. The mouse coordinates returned should match the coordinate system for WEBGL.

[2019-05-15 18:02] stalgiag commented on #3746
@ajavamind I partially agree that this should be the case but it sort of undermines the sense that mouseX and mouseY are just numbers that correlate to pixels on your screen which is a 2D plane. The GL camera can rotate and this complicates all of this as well. I feel like mutating some numbers and not others becomes a tricky issue.

Like if I am a user and I am using mouseX and mouseY to decide w

[2019-05-15 18:13] catarak commented on #3746
I was looking at the [documentation](http://p5js.org/reference/#/p5/mouseX) for `mouseX` and `mouseY` and I noticed it says that these values are "relative to (0,0) of the canvas." If you apply a `translate()` before using `mouseX` and `mouseY`, then the values of `mouseX` and `mouseY` then are out of sync with the position of (0,0). But it also seems a little crazy to update `mouseX` and `mouseY`

[2019-05-15 21:03] Nekzuris commented on #3738
@stalgiag I struggle to build from the source with `npm run grunt`, I'm getting these errors:
Aborted due to warnings.
[code]
[npm-debug.log](https://github.com/processing/p5.js/files/3184424/npm-debug.log)

[2019-05-15 21:06] Spongman commented on #3738
Try doing an `npm install` first.

[2019-05-15 21:08] Nekzuris commented on #3738
I did, thought there where a few warnings but no error.

[2019-05-15 21:14] Nekzuris commented on #3738
I've re-clone the repository and when I run `npm install` I get these warning:

[log.txt](https://github.com/processing/p5.js/files/3184465/log.txt)

[2019-05-15 21:17] stalgiag commented on #3738
Hm I am running a more recent node/npm setup but I don't know if that would be it. Updating might be worth a try if you are in a position to do so, otherwise I can investigate a bit later. Also we can wait to see if anyone has had a similar problem before.

[2019-05-15 21:41] Nekzuris commented on #3738
Yes! it work with node v10.15 and npm v6.4.1 but I've got this after `npm install`
[code]

[2019-05-15 21:42] Spongman commented on #3738
that's fine, you can ignore those.

[2019-05-15 22:57] Nekzuris commented on #3738
So I've made the changes, run grunt, commit but I'm unable tu push, did you know why?

[code]

[2019-05-15 23:00] stalgiag commented on #3738
Maybe you aren't working off of your fork? I am not sure but it looks like you are somehow trying to push to origin which is `processing/p5.js` but you need to push to `nekzuris/p5.js`

[2019-05-15 23:29] Nekzuris commented on #3738
Ok so it looks like I've made my first pull request :smiley:

Thanks you @stalgiag and @Spongman :+1:

[2019-05-16 04:33] #3693 closed

[2019-05-16 05:57] diem389 opened #3748 "3D object having a texture renders abnormally"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-16 06:54] Spongman commented on #3748
Looks like you need to call `background()` at the start of your `draw` function.

[2019-05-16 10:27] clankill3r opened #3749 "mouseX and mouseY is NaN with a canvas of 0, 0"
I'm using the mouse position just in the dom document, I noticed today that they are NaN with a canvas of 0x0. So now I have a canvas of 1x1, but it would be better if the mouse works regardless of a canvas?

[2019-05-16 16:53] #3748 closed

[2019-05-16 17:34] stalgiag commented on #3738
closed via #3747

[2019-05-16 17:34] #3738 closed

[2019-05-16 17:56] Ajayneethikannan commented on #3749
Hi @clankill3r ! I think you can make use of winMouseX, winMouseY for now, as it does not include any scaling factors with respect to the canvas.

I think making sx and sy  in [getMousePos( )](https://github.com/processing/p5.js/blob/master/src/events/mouse.js#L397) 1 if they are not numbers would solve this problem.

Would be happy to make a PR if that suffices.

Thank you.

[2019-05-16 19:36] lmccart commented on #3749
@clankill3r can you explain more about why the need for a 0x0 canvas? I don't think p5 was really intended to run this way. if you want to remove the canvas completely you can use the `noCanvas()` function and `mouseX` and `mouseY` should work as expected.

[2019-05-16 19:41] outofambit commented on #3713
my mistake @JithinKS97! this should be `dist()` not `hypot()`. updating the original issue description now!

[2019-05-16 20:42] Ajayneethikannan commented on #3749
@lmccart This still causes a problem, but now instead of producing NaN, it is giving me Infinity.
Reference: https://editor.p5js.org/TheSkepticSniper/sketches/y794hehMd
What I have found out is that when we call **noCanvas( ),** though the canvas node is removed from the DOM, it is still kept in memory. But after we remove it,in **getMousePos( )** the scrollWidth becomes 0, while the height remain

[2019-05-16 22:34] #3615 closed

[2019-05-16 22:34] #3641 closed

[2019-05-17 00:08] diem389 commented on #3748
I see. Thanks.

[2019-05-17 01:27] JithinKS97 commented on #3713
Oh! So let me see if I can take up the remaining test cases.

[2019-05-17 02:53] DarkWyvren commented on #3745
yep thank you c:

[2019-05-17 02:53] #3745 closed

[2019-05-17 05:07] lmccart commented on #3735
@jywarren any luck logging `spectrum`? To be able to help, we really need a simplified code snippet that isolates the issue. Right now there are a few different functionalities put together (shape drawing, map(), mic, fft) making this very difficult to resolve. For general debugging help, the [forum](https://discourse.processing.org) is the best place to post. Thanks!

[2019-05-17 05:13] #3749 closed

[2019-05-17 05:13] lmccart commented on #3749
ah I see, good find. I am adding a fix now.

[2019-05-17 05:15] lmccart commented on #3377
@outofambit I'm going to close this issue because I believe this is covered in https://github.com/processing/p5.js/issues/3567. if there are additional issues beyond what's outlined there, we can open additional tickets for them.

[2019-05-17 05:15] #3377 closed

[2019-05-17 05:25] lmccart commented on #3631
Bumping this one. Are there other features that this polyfill would help significantly with? Otherwise, I think I'm in favor of leaving this out avoiding use of features like `classList.toggle` that are not supported on recent major browsers.

[2019-05-17 09:35] SaltyBuckets opened #3750 "lights() not working in p5.js web editor"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other : lights

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (tou

[2019-05-17 09:36] SaltyBuckets commented on #3750
i know light should have been below backgound

[2019-05-17 13:48] danielemichieletto commented on #3518
there is many problem with P5 on iPhone8+ hardware:
https://github.com/processing/p5.js/issues/3293

[2019-05-17 15:14] sanketsingh24 commented on #3750
Probably this is because the p5 version on editor is not up to date. You should report the error [here](https://github.com/processing/p5.js-web-editor/issues), that repository is specific for the p5 web editor.

Also, it has been [an old problem](https://github.com/processing/p5.js-web-editor/issues/826#issuecomment-465752585)

[2019-05-17 16:18] lmccart commented on #3750
@saltybuckets in the meantime, you can update the version of p5.js by changing the number "0.7.3" to "0.8.0" in your html file

[2019-05-17 18:37] stalgiag commented on #3518
@danielemichieletto this is known. The issue has been that it doesn't seem that any active WebGL contributors have the devices needed for testing. That said figuring out what is going on with iphone 8+ and GL is part of the [0.9.0 milestone](https://github.com/processing/p5.js/milestone/4) so expect some work on this soon.

Also just because it is applicable to your summer work, just wanted to pin

[2019-05-18 09:20] sanketsingh24 commented on #3518
Thanks @stalgiag for pointing out this issue, I will take a look into this.

[2019-05-18 15:01] JithinKS97 commented on #3713
I've written some test  cases. Here are they.

` test('should return infinity if coordinate of a point is at infinity', function() {
      result = myp5.dist(0, 0, Infinity, 0);
      assert.equal(result, Infinity);
    });
    test('should return infinity if coordinate of a point is at -infinity', function() {
      result = myp5.dist(0, 0, -Infinity, 0);
      assert.equal(result, Infinity);

[2019-05-18 15:03] JithinKS97 commented on #3713
I've written some test cases. Here are they.

`function() {
 test('should return infinity if coordinate of a point is at infinity', function() {
      result = myp5.dist(0, 0, Infinity, 0);
      assert.equal(result, Infinity);
    });
    test('should return infinity if coordinate of a point is at -infinity', function() {
      result = myp5.dist(0, 0, -Infinity, 0);
      assert.equal(result, In

[2019-05-18 15:06] JithinKS97 commented on #3713
I've written some test cases. Could you please check them?

 test('should return infinity if coordinate of a point is at infinity', function() {
      result = myp5.dist(0, 0, Infinity, 0);
      assert.equal(result, Infinity);
    });
    test('should return infinity if coordinate of a point is at -infinity', function() {
      result = myp5.dist(0, 0, -Infinity, 0);
      assert.equal(result, In

[2019-05-18 18:55] stalgiag commented on #3518
@sanketsingh24 You don't need to look into it unless you are looking for a new task and have the appropriate hardware. I think your project is probably big enough on its own without introducing new challenges :-)

I just wanted you to be aware since you will be working with the Light code quite a bit. I can get to this at some point in June when I get access to the hardware.

[2019-05-19 07:31] Bariyard opened #3753 "createCapture stop recording after using get()"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-19 12:36] informathemusic opened #3754 "Enhance fill support p5.Image"
I need to do an user profile image and i need to crop round an image,so i need to fill a circle with an image.Would this be possible?

#### Nature of issue?

- [ ] Found a bug
- [x ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x ] Image
- [ ] IO
- [ ] Math
- [ ] Typography

[2019-05-19 12:37] vedhant commented on #3736
@Vamoss Can you provide a code which reproduces this bug?

[2019-05-19 18:45] outofambit commented on #3713
@JithinKS97 these are looking good, thank you! i went back and looked at the arbitrary length of parameters thing and i think we can ignore that case as it applies to the underlying code and not `dist()` itself.

It would be great to add 3D versions of all of these test cases too if you don't mind! (x, y, and z)

Let me know if you need any help getting this into pull request form, I'm happy to he

[2019-05-19 18:58] outofambit commented on #3631
thanks for the bump @lmccart! I did some more research on this and I think there is only one existing DOM feature we use in p5 that would benefit from this.

[`ChildNode.remove` isn't supported by IE11](https://caniuse.com/#feat=childnode-remove), which we use here:

https://github.com/processing/p5.js/blob/d4fc48251b731db108cb9c315660deab43035fbe/lib/addons/p5.dom.js#L240

I'm pretty sure this is

[2019-05-19 18:58] #3631 closed

[2019-05-19 21:21] aferriss commented on #3518
@stalgiag @sanketsingh24 I believe I found the issue, and posted a fix here https://github.com/processing/p5.js/pull/3755

For whatever reason the newer hardware doesn't like break statements within a loop, which was a new one for me.

[2019-05-20 01:28] #3713 closed

[2019-05-20 05:09] #3753 closed

[2019-05-20 12:14] limzykenneth commented on #3754
@informathemusic You can use [`mask()`](https://p5js.org/reference/#/p5.Image/mask) to achieve what you need. If you have further questions you can ask them on the [forum](https://discourse.processing.org/) first.

[2019-05-20 12:14] #3754 closed

[2019-05-20 15:52] outofambit commented on #3703
Some interesting points about needing to stringify and parse things into and out of local storage that i hadn't thought through: https://twitter.com/kellylougheed/status/1130493963104804866.

She has an interesting intro to localStorage over at https://glitch.com/edit/#!/hello-local-storage?path=script.js:30:28, which calls out parsing stringified numbers out of localStorage. Avoiding the complexi

[2019-05-20 16:25] kellylougheed commented on #3703
Love this idea! I think `setItem('myVar', myVar)` (as well as `getItem`) could actually mask a fair amount of complexity if it dealt with different data types using `typeof`. For instance, the setter function could handle converting the number to a string with `toString`, and the getter function could use `parseInt` to return an actual number (instead of the string version). Similar parsing would

[2019-05-20 16:44] stalgiag commented on #3703
Thanks for the loop in @outofambit.

Hi @kellylougheed! That is a good point. I wasn't including the data type handling in my assessment of the benefits. Part of me is still holding out hope that I will figure out how to make one of the simpler signatures work but your point gives me renewed interest in this. Thank you!

[2019-05-20 17:07] stalgiag commented on #3746
I definitely agree that the documentation should be more clear about this. I am not entirely sure about other changes. I have felt kind of displeased with the fact that (0,0) is different in GL mode for a long time but I have usually felt reluctant to advocate changing it because of the number of sketches that would break as a result.

Anyways I am up for discussing that as a possibility. Otherwis

[2019-05-20 17:29] CullenSharp2 opened #3757 "Unable to display images from URL"
Hey all,
Been working with xml, I'm now able to get URL paths to images--Great! Unfortunately, the images never display. I can access image properties(.width & .height) but not display the actual image; whenever I try the console logs "Cannot read property '_imageMode' of undefined." Pasting my code below, hope you can help.

Thanks!

/*
NOTES:
fails to display image
errorMessage = "cannot read pr

[2019-05-20 17:31] stalgiag commented on #3518
I believe this is fixed with #3755 courtesy of @aferriss. I am going to close for now. If someone with the hardware notices that this is still occurring in the master branch build post here and I will reopen.

[2019-05-20 17:31] #3518 closed

[2019-05-20 17:32] Spongman commented on #3757
I think this is because your success function is getting called before setup (and thus before the canvas is created). Try just putting your `image()` code at the end of your setup function.

[2019-05-20 17:32] stalgiag commented on #3671
Is someone able to test to see if this problem is also fixed by #3755? This seems likely.

[2019-05-20 17:36] CullenSharp2 commented on #3757
@Spongman You're a blessing!

[2019-05-20 18:57] #3757 closed

[2019-05-20 22:07] catarak commented on #3746
My vote is for simply updating the documentation, at least for now!

[2019-05-20 23:12] #3750 closed

[2019-05-20 23:45] lmccart commented on #3282
I think this is a case for the friendly error system to help us. According to the [reference entry](https://p5js.org/reference/#/p5/random) (array, array) or (array, number) are not valid inputs of this function. There are many different ways to interpret a range of unexpected inputs, but this function already has a few different signatures / ways to use it, so I would err on the side of keeping t

[2019-05-20 23:47] lmccart commented on #2740
thanks @Spongman. I've tested and confirmed this is fixed in 0.8.0, all four cases mentioned are now caught.

[2019-05-20 23:47] #2740 closed

[2019-05-21 02:33] Spongman commented on #3282
Indeed, I think `random` could just call `validateParameters` and this case _should_ be automatically handled.

[2019-05-21 04:13] rich-gg commented on #3518
Sorry for the noob question but does that means it is fixed in the
https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js ?

[2019-05-21 06:36] hsab opened #3758 "ES6 Transition: Concerns & Progress"
Hello everyone!

I'm investigating the means of fully transitioning p5 to ES6. I've already spoken to some of the developers outside of Github and was hoping to shine some light on some of the intricacies that I've observed in the code.

I've noticed there are 42 instances of `module.exports = p5;` in the bundled .js files. And I hope this issue serves as a clarification of the assumption that I h

[2019-05-21 07:31] Spongman commented on #3758
There is only one p5 constructor function (‘class’), and it is passed around (and returned by) all the other various modules. There’s no inheritance going on (except for the Graphics stuff - ignore that), all the p5 methods are just added into the same prototype object

This is impossible to do in ES6-style class definitions.

[2019-05-21 11:49] clankill3r commented on #3749
Thanx, winMouseX will do the trick for now till the bug fix is released.

[2019-05-21 12:36] lucifer1004 opened #3759 "Draw transparent shapes"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

My use case:

I put the canvas created by `p5`

[2019-05-21 17:30] aferriss opened #3760 "webGL text rendering broken on Android"
Text rendering in webGL appears broken on Android in chrome, I'm willing to bet that it's broken on iOS / Safari as well, but haven't had a chance to check yet.

I noticed a number of things in the font.frag shader that look suspicious.

1. Many mobile devices do not support the derivatives extension. It looks like it's only being used as a hack with `fwidth()` to determine texel size which can be

[2019-05-21 17:53] stalgiag commented on #3518
@rich-gg not a noob question! Easy misunderstanding.

Those files on cloudflare only get updated when numbered releases come out. To get a copy of the library with the most recent changes as reflected in the master branch of the github repo you have to [build it following the instructions in the developer docs](https://github.com/processing/p5.js/tree/master/developer_docs).

But I went ahead and

[2019-05-21 18:52] stalgiag commented on #3746
So the todo here would be to:
  Change the description for
  - [mouseX](https://github.com/processing/p5.js/blob/0.8.0/src/events/mouse.js#L23)
  - [mouseY](https://github.com/processing/p5.js/blob/0.8.0/src/events/mouse.js#L49)
  - [pmouseX](https://github.com/processing/p5.js/blob/0.8.0/src/events/mouse.js#L75)
  - [pmouseY](https://github.com/processing/p5.js/blob/0.8.0/src/events/mouse.js#L107

[2019-05-21 19:14] stalgiag commented on #3760
Thank you for the well written and researched issue!

I am able to reproduce on Android with same version of Chrome and Firefox 66.0.5. I never saw location property undefined errors but with every try I got the drawElements error. I could try my hand at following your suggestions and rewriting the shader, but I wouldn't be able to get to this until a month or so from now so.

If someone else has

[2019-05-21 19:21] hsab commented on #3758
My choice of word for "inheritance" was probably the worst imaginable. Mainly what I was referring to was this notion of partial classes and prototypical extensions.

I know that you can have [ES6 classes split over multiple files](https://stackoverflow.com/questions/40104004/split-a-javascript-class-es6-over-multiple-files) through the same procedure as ES5 with `Class.prototype.newFunction`

Wha

[2019-05-21 19:39] aferriss commented on #3760
@stalgiag I started working on some of the fixes above but so far haven't found the root cause. I'm happy to tackle this one!

[2019-05-21 21:13] drusepth commented on #3282
I think showing an error letting a coder know `(array, array)` isn't a valid input to the function technically works (and would probably lead someone like OP down the right path of using the function different/correctly).

However, is it correct to for p5-using coders to mentally internalize vectors as arrays? While using them I always treated them like coordinate objects (x|y or x|y|z) -- so I'd

[2019-05-22 01:08] ffd8 opened #3762 "Disable gl.DEPTH_TEST for traced artefacts in WEBGL mode"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] WebGL

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:
- p5.js version: 0.8.0
- Web browser and version: 74.0.3729.169
- Operating System: MacOS 10.13.6

#### New feature details:
It's always fun to toggle having a `background()` within the

[2019-05-22 01:55] Spongman commented on #3762
I’m surprised that processing has depth testing disabled by default in 3D mode. That would mean that an object drawn behind a previously drawn object would appear in front of it.

[2019-05-22 03:20] blackwolf08 opened #3763 "createCapture(VIDEO) does not work on iOS if imported from p5.dom.min"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-05-22 11:50] ffd8 commented on #3762
Hmm that's not the case in Processing... objects in front still appear in front...

Processing demo:
[code]

But I just tried recreating that with p5.js and saw what you mean that objects do appear in front of others = ?? Maybe there's a happy medium/option that acts closer to Processing or it should simply be a function that's easy to enable/disable?

[2019-05-23 10:40] Wess21 opened #3765 "p5.SoundFile.saveBlob url not open"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-23 10:40] Wess21 commented on #3765
p5.SoundFile.saveBlob url not open

[2019-05-23 18:31] stalgiag commented on #3765
Hi thanks for the issue! We need a little more information to understand what you are referring to.

Are you talking about a website link? I don't think [p5.SoundFile.saveBlob is a method currently.](https://p5js.org/reference/#/p5.SoundFile)

[2019-05-23 20:17] hsab commented on #3758
I managed to create a very simple working example of what I was alluding to as "ES6 prototypal extensions":

Directory structure:
[code]

`foo.js`:
[code]

`app.js`:
[code]

Cmds:
[code]

`index.html`:
[code]

![Screenshot_20190523_131148](https://user-images.githubusercontent.com/11205091/58283110-623ae180-7d5c-11e9-9c6d-266a8ef2e068.png)

This is being babelified with `babel-preset-env` and then

[2019-05-24 00:30] #3735 closed

[2019-05-24 00:31] lmccart commented on #3735
closing this one for organizational purposes. please feel free to open a new issue if you can isolate what's not working a bit more. thanks!

[2019-05-24 08:07] anthonygalea opened #3766 "Unexpected fill with curveVertex, bezierVertex and quadraticVertex"
<img width="990" alt="Screenshot 2019-05-24 at 09 39 59" src="https://user-images.githubusercontent.com/1301852/58312393-7a1d6e80-7e0b-11e9-8031-e3da898501f2.png">

#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO

[2019-05-24 10:50] limzykenneth commented on #3758
From what I understand, even though there are 42 occurance of `module.exports=p5` in the final bundled lib, they all refer to the same instance of `p5`. As @Spongman mentioned the one single instance is passed around and returned by each module and exposed globally as `p5`.

I have limited understanding of how a javascript engine works at the very lowest level so I may be wrong, but to answer your

[2019-05-24 11:07] AdilRabbani commented on #3766
A quick debugging in 0.8 and 0.7.3 reveals that `this.drawMode` here,
https://github.com/processing/p5.js/blob/6640d149348dea0a1b3df61f0cf8442222403a9f/src/webgl/p5.RendererGL.Immediate.js#L306-L327
is equal to `'fill'` in 0.7.3 while it is `undefined` in 0.8 which causes the 0.8 version to go into the else condition, generating a LINE_LOOP.

[2019-05-24 13:14] lmccart commented on #3762
I don't have a specific opinion about this option, I defer to those deeper into the webgl portion of this project. But it's important to note that our goal is not to reach parity with Processing. p5.js is a separate and different project that is inspired by Processing, but is free to make it's own decisions in terms of what makes sense for its context and goals. What is best in this case is a ques

[2019-05-24 16:16] Spongman commented on #3760
which version of Android are you testing this on? i am not seeing any issues on version 6.

[2019-05-24 16:18] aferriss commented on #3760
@Spongman Android 9 on a pixel 2

[2019-05-24 17:02] stalgiag commented on #3760
@Spongman also on Android 8 on Galaxy S7

[2019-05-24 18:18] Spongman commented on #3760
wow, ok. that seems very strange that these newer devices would have less-compatible shader compilers. maybe it's just a change in the browser's webgl implementation...

[2019-05-25 18:57] Wildernesss commented on #1534
Hi everyone. There was a request about image transformation (**rotation**) that was closed 3 in 2016 (https://github.com/processing/p5.js/issues/1534)... I don't really understand why. Because this request is full well founded but apparently no improvement of p5.js in that direction has ever been done. Am I missing something? With p5.js it's easy too transform image color with filters (for instanc

[2019-05-25 19:03] Wildernesss opened #3767 "image transformation: rotation missing(?)"
Hi everyone. There was a request about image transformation (**rotation**) that was closed in 2016 (https://github.com/processing/p5.js/issues/1534)... I don't really understand why. Because this request is in my opinion full well founded but apparently no improvement of p5.js in that direction has ever been done. Am I missing something? With p5.js it's easy too transform image color with filters

[2019-05-26 19:25] Spongman opened #3768 "webgl: render buffers are not not always created correctly"
0.8.0 webgl.

(from #3764)

the issue is that when creating a retained-mode geometry (any geometry, not just the glyph quad), it's checking the _current_ fill and stroke shaders for which buffers to create and which attributes to enable.

https://github.com/processing/p5.js/blob/6640d149348dea0a1b3df61f0cf8442222403a9f/src/webgl/p5.RendererGL.Retained.js#L171-L172

this means that if you choose a

[2019-05-26 19:27] nobobo1234 commented on #3719
Sorry for the long wait but I'm kinda busy with school right now so I think I won't be able to finish this is the for the next few months 😞. I hope someone else will pick this up!

[2019-05-26 21:12] ashugeo commented on #2920
Hello @therewasaguy @Streemo, I'm pretty interested in this matter. I've tried hacking the `node_modules/p5/package.json` file like this:

[code]

It won't seem to make my bundles smaller though, UglifyJS still outputs a 1MB+ file. Any idea on how to tackle this? Thanks!

[2019-05-27 04:30] rich-gg commented on #3671
@stalgiag
I can have someone test it but I need to know if the fix is in
https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js

if not just give me the proper url and I'll test it

[2019-05-27 09:25] hsab commented on #3758
Thank you for your wonderful and informative response.

I think the codebase could benefit from many of ES6 facilities, such as arrow functions, iterators, parameter handlers, [etc](http://es6-features.org/#DefaultParameterValues). Which not only make development easier in the long run but lower the barrier of entry for contributors.

As for the class syntax, I wholeheartedly agree with you, but I

[2019-05-27 10:24] limzykenneth commented on #3758
**Performance**
ES6 class is mostly syntactic sugar on top of the existing prototypal object orientation JS have, if you look at the performance benchmark chart you provided, ES6 classes actually doesn't have any performance difference when running purely as ES6 classes, only transpiled classes have some performance hit (probably because of polyfills). We can opt for not transpiling class syntax t

[2019-05-27 15:56] stalgiag commented on #3671
Hi @rich-gg I replied to this question [in this thread](https://github.com/processing/p5.js/issues/3518#issuecomment-494492879)

[2019-05-27 19:44] hsab commented on #3758
Thanks again for an informative and prompt response.

I'm not sure how I interpreted the performance tests. But you're absolutely right. Pure ES6 has identical performance for classes. And reading myself again I was making no sense.

Wouldn't this cause issues with older browsers e.g. IE11? How are older browsers dealt with atm? I was under the impression that p5 supported down to IE8.

I'm aware

[2019-05-27 20:04] limzykenneth commented on #3758
After the recent merge of babelify into the build, the support is now according to [browserslist](https://github.com/browserslist/browserslist) `last 2 versions` and `not dead`, as such for IE, only IE11 is supported and no lower.

Most of the p5 code base doesn't do much inheritence (as everything is directly attached to the same `p5` prototype), the main ones that do are those that relates to ca

[2019-05-27 20:49] #3672 closed

[2019-05-28 00:40] outofambit commented on #3758
Thanks for this great discussion @hsab and @limzykenneth! I want to be careful that we don't try to take on / decide too much at once. While `import`/`export` and `class` syntax both (can) impact the structure of the library, they are not dependent on another. @hsab what do you think about having a separate thread to track discussions around using `class` syntax?

_____

I did some experiments wit

[2019-05-28 03:34] #3737 closed

[2019-05-28 03:38] lmccart commented on #3763
@blackwolf08 can you please post a snippet of code you are using that demonstrates the issue?

[2019-05-28 04:31] rich-gg commented on #3518
Ooops, it doesn't work with
`<script src="https://raw.githubusercontent.com/stalgiag/stalgiag.github.io/master/p5.min-master-5-21-19.js"></script>`

I get
`index.html:1 Refused to execute script from 'https://raw.githubusercontent.com/stalgiag/stalgiag.github.io/master/p5.min-master-5-21-19.js' because its MIME type ('text/plain') is not executable, and strict MIME type checking is enabled.`

[2019-05-28 05:33] Spongman commented on #3758
@outofambit this is good stuff, although i have to say i'm a big fan of importing all the symbols directly into the ambient namespace. i'd much rather retain the current use of writing `constants.TWO_PI`. it's purely aesthetic, but it just seems to me like it's not making the best use of the module system to be merging symbols into one big bucket.

[2019-05-28 05:35] Spongman commented on #3518
@rich-gg try this url: https://raw.githack.com/stalgiag/stalgiag.github.io/master/p5.min-master-5-21-19.js

[2019-05-28 06:24] TanviKumar commented on #3703
Would be a really good addition to the library. I've been trying to make generative sketches and using local storage to save seed values to regenerate old designs. It becomes a pain having to write it down in a separate notebook somewhere and losing it on refreshing.

[2019-05-28 09:23] rich-gg commented on #3518
ok so apparently it works on this
https://rich.gg/iPhone8r/

![image](https://user-images.githubusercontent.com/17045468/58466841-90009b80-814b-11e9-816e-c2b7c20a51b7.png)

But I tried it on [my website](https://rich.gg) and it turns every texture into black
which my come from some other rendering parameters

![image](https://user-images.githubusercontent.com/17045468/58466937-bc1c1c80-814b-11e9-8

[2019-05-28 15:22] samuset opened #3770 "rotationX/Y/Z only works over https in Android Chrome"
`rotationX, rotationY, rotationZ`

Using a Chrome browser on Android devices. Works in Firefox over localhost & https. Works over https in Chrome, but only returns `0` over localhost.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
-

[2019-05-28 17:03] stalgiag commented on #3703
Okay I am putting this on the 0.9.0 milestones!

[2019-05-28 17:19] stalgiag commented on #3518
Thanks for fixing the link @Spongman. Good to know that there is a way to do that. I never know where to easily serve js files.

And thanks for the update @rich-gg. I am not entirely sure why you needed to comment out ambientMaterial(255) but I think this can remain closed and we can see what is going on once the dust settles on the GL development a bit.

[2019-05-28 17:21] stalgiag commented on #3671
I believe this is closed via #3755. See the discussion at the bottom of #3518 for confirmation.

[2019-05-28 17:21] #3671 closed

[2019-05-29 01:57] maddyfisher opened #3771 "Screen record a version of a sketch"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-05-29 03:37] JPlayz409 commented on #2705
Question, I am brand new to this, but should there be any color to the shape? Without needing to use a color command?

[2019-05-29 09:26] hsab commented on #3758
@outofambit thanks for these changes. `class` definitely needs its own discussion thread. I by no means intended to make any modifications on that level. Like we discussed earlier my focus is primarily on syntactical migration.

On another note, I agree with @Spongman on `constants`. I assume the current result is due to the auto-refractor feature.

While testing your `require-to-import` branch, I

[2019-05-29 12:50] limzykenneth commented on #3771
I usually just use a software made specifically for this purpose, Quicktime on macOS, Xbox on Windows, Screen Recording on iOS and probably something for Android as well, are all built in by default. They also have the added ability to capture cursors and cursor actions (hightlighting clicks).

[2019-05-29 14:39] tiansheng97 commented on #3645
Hi! 1st time trying this and i also encounter the same problem on my pc but not on my smartphone. Weird. I also tried asking some of my friends to test it and some can run it and some cant. Those who cant all throw the same error: DOMException. i tried both on [p5js reference for createCapture()](https://p5js.org/examples/dom-video-capture.html) and also on [my code](https://editor.p5js.org/tiansh

[2019-05-29 14:58] lmccart commented on #3645
@tiansheng97 could you try out this link and see if the example works? it would help us isolate the issue a little more. thanks!
https://webrtc.github.io/samples/src/content/getusermedia/gum/

[2019-05-29 15:12] tiansheng97 commented on #3645
@lmccart  i tried on my pc and on my smartphone as well. Nothing wrong with my smartphone as it is able to run it while on my pc it gives a getUserMedia error: NotFoundError. Is it some security error or something? Because i found at that those who cant use createCapture() all have a same behavior which is it never pops a notification asking the user whether to grant it the permission to use the c

[2019-05-29 15:15] lmccart commented on #3645
@tiansheng97 if this example works, that indicates that it's an issue with your pc and camera functionality, and not with the p5.js library itself. it sounds like your pc or browser might be blocking the camera by default. I would take a look through your settings on both your pc and browser and see if you can find any related to allowing camera or "getusermedia" which is the name of the functiona

[2019-05-29 22:27] #3571 closed

[2019-05-29 22:28] lmccart commented on #3571
I've pushed a fix for this. However please note that action keys like Delete or Backspace don't get registered by keyTyped, so you should use keyPressed() to detect them. Something like this:

[code]

[2019-05-30 19:33] AltoRetrato opened #3773 "Add "Web Server for Chrome" to "Local server" wiki page"
Hello, p5.js World! 😄

Millions of people around the world (mostly students) are **Chromebook** users, and they also want to use p5.js! (Well, who doesn't?)

In order to **load local files**, a local web server is required. Unfortunately, the **[Local server](https://github.com/processing/p5.js/wiki/Local-server) wiki page** doesn't provide any solution for Chromebook users (specially those that c

[2019-05-30 21:24] Spongman opened #3774 "webgl: gouraud & per-pixel shading are out of sync"
0.8.0

it looks like the lighting rules in the two different fill shaders (gouraud and per-pixel) have diverged such that the results are different.

for example, here's the perPixelLighting manual test example side-by-side:

![image](https://user-images.githubusercontent.com/1088194/58665760-6fb91400-82e6-11e9-83fe-cb71e9087535.png)

differences:
- the per-pixel version is darker,
- the gouraud v

[2019-05-30 22:04] Spongman opened #3776 "webgl: mobile glyph rendering issues"
0.8.0
re: #3769

@stalgiag reported webgl font rendering issues on android mobile devices:

![](https://user-images.githubusercontent.com/10382506/58438015-7e52c180-8081-11e9-9317-27f717e04eab.png)

it looks like it might be due to integer precision issues on that device:

[2019-05-30 22:07] Spongman commented on #3776
@stalgiag
can you try this in `font.frag`?

[code]

[2019-05-31 01:02] ursulawolz opened #3777 "httpdo post is still notworking"
#### Nature of issue?

- [X ] Found a bug

#### Most appropriate sub-area of p5.js?
- [X ] Data

- [ X] Other (specify if possible)  http server communication

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X ] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

- p5.js version:  most recent download
- Web browser a

[2019-05-31 03:18] Spongman commented on #3777
if you open your browser's debugger, you'll see that it's complaining about malformed JSON coming back from the server. `httpDo`, when called like this is expecting json. try changing your post method to something like this:

[code]

[2019-05-31 13:51] ursulawolz commented on #3777
I don't think that's the problem.  I sent back a json object, but the json object going out is empty.
I do not know how to set up the parameters for httpDO or httpPost because I cannot see what your server is expecting.

sending through the form at the top of the client works fine. The server sees:
[Object: null prototype] { data: 'hello' }

Sending through the httpDo, or an httpPost sends an empt

[2019-05-31 19:13] #3768 closed

[2019-05-31 19:57] stalgiag commented on #3776
@Spongman that also works!

[2019-05-31 22:34] ursulawolz commented on #3777
I am convinced that httpDo (and httpPost) are not sending out the request. Please see the zip file PostFromP5. When the 'z' key is pressed as per the P5 sketch, the request payload is loaded, but on the server side the 'body' of the request is coming back empty.  I've gone the extra mile on this -- jsonlint, formed the data request in a variety of ways.  The payload is not making it across the web

[2019-06-01 00:52] Spongman commented on #3776
ok, so until we have some framework for parameterizing shader compilation, i'm just going to force `highp int` on all devices. i wish there was some way to say 'int16' or determinine precision at compile time (eg `sizeof()`), oh well...

[2019-06-01 06:53] MaanasNegi opened #3779 "Video.get() isn't working"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-01 06:54] MaanasNegi commented on #3779
let video;
let button;
var snapshots = [];

function setup() {
  createCanvas(800, 240);
  background(100);
  video = createCapture(VIDEO);
  video.size(150,240);
  button = createButton('Snap');
  button.mousePressed(takesnap);
}

function takesnap() {
  // image(video, 0, 0);
  snapshots.push(video.get());

}

function draw() {
var w = 80;
var h = 60;
var x = 0;
var y = 0;
for (var i =0;i<snapsh

[2019-06-01 06:56] MaanasNegi commented on #3779
I used the same code from **11.2: Video Photobooth / Muybridge Style Animation - p5.js Tutorial**
Link:[https://www.youtube.com/watch?v=oLiaUEKsRws&list=PLRqwX-V7Uu6aKKsDHZdDvN6oCJ2hRY_Ig&index=2].
And I think this is a problem with a later version as I saw some comments saying the same thing.

[2019-06-01 14:16] limzykenneth commented on #3779
@MaanasNegi I am not able to identify any problem with the code you provided, it works as how I would expect it to. Can you fill out the issue template so that we have more info about what's wrong? Specifically, are you using the latest version of p5.js and what browser/OS versions you are using.

Also can you describe what is the expected behaviour and what is the current behaviour you are seeing

[2019-06-01 17:58] Spongman commented on #3779
i think i see what the issue is. while `video.get()` _is_ returning an image, it's not updating over time, so it always returns the first captured image.

[2019-06-01 22:22] sanketsingh24 opened #3782 "ambientMaterial() turns off specular material"
#### Nature of issue?
- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [x] WebGL

Currently, when using `ambientMaterial()`, [`specularMaterial()` is turned off](https://github.com/processing/p5.js/blob/7208bc63e91e9da88075ac0193b8f8d06973bc57/src/webgl/material.js#L615). I wanted to know the logic behind this code, and is it necessary for specular properties to be tu

[2019-06-01 22:22] limzykenneth commented on #3777
I had a look at the code you posted. The problem is not with the sketch code nor p5 itself but rather with the server code.

For an Express server anything that isn't parsed by `bodyParser` prior to passing to route handler will result in an empty `req.body` object. In your server code you only have `app.use(bodyParser.urlencoded( ... ));` which will only parse form data, while your p5 sketch is s

[2019-06-01 22:22] #3777 closed

[2019-06-02 00:11] MaanasNegi commented on #3779
The src in my html file are : src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.sound.min.js"></script>
and there is no error but I want it to take the image of the latest snapshot. I think using a f

[2019-06-02 00:12] MaanasNegi commented on #3779
The expected behaviour is to see the latest image come up in the canvas and the current behaviour is only getting the first image.

[2019-06-02 00:13] MaanasNegi commented on #3779
I think it is what @Spongman  is saying. The video.get is only taking the first image and isn't updating.

[2019-06-02 00:14] MaanasNegi commented on #3779
Also thanks for commenting since this is my first github issue and I never expected for my problem to get comments so quickly.

[2019-06-02 00:32] outofambit commented on #3773
Hi @AltoRetrato and thanks for filing this issue! I think it would be great to include this option in the wiki.

Would you like to edit the wiki page to add this section? or if you share the steps you used to set it up with p5.js, I'm happy to incorporate them too! Thanks again!

[2019-06-02 13:44] #3779 closed

[2019-06-02 13:46] lmccart commented on #3765
please reopen if you can provide more info, thanks!

[2019-06-02 13:46] #3765 closed

[2019-06-02 17:53] stalgiag opened #3784 "textureMode manual test and reference example broken in master"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-06-02 17:54] #3776 closed

[2019-06-02 18:22] AltoRetrato commented on #3773
I'm OK with both options (having edit access or for you to add this info). If you want to review / change these steps, feel free to do so:

The simplest and fastest solution for anyone using a Chrome web browser is to install the [Web Server for Chrome](https://chrome.google.com/webstore/detail/web-server-for-chrome/ofhbbkphhbklhfoeikjpcbhemlocgigb/) extension. Visit its chrome web store page and