[2019-06-02 20:34] FreddieRa opened #3787 "Remove "console.log" when creating WebGL drawingContext"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-02 22:35] figraham opened #3788 "Update Instance Mode wiki page to ES6"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request
- [X] Documentation request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other, Wiki - Instance Mode

#### Which platform were you using when you en

[2019-06-02 22:36] Spongman commented on #3784
Did I break this with the BufferDef stuff, I wonder?

[2019-06-03 01:47] Spongman commented on #3784
i did a git bisect and it appears to be this commit: 8827a914d663f29fd12c2de949cb897db0ce07c2

[2019-06-03 03:33] stalgiag commented on #3784
Thanks @Spongman I'll figure out what the problem is tomorrow

[2019-06-03 06:28] rich-gg opened #3789 ""focused" in iOS Safari"
Might be a follow up on [#1706](https://github.com/processing/p5.js/issues/1706)

[focused](https://p5js.org/reference/#/p5/focused) parameter doesn't seem to work ok on Safari for iOS

[My website](https://rich.gg) works fine on FireFox / Chrome / Edge on Mac / Windows / Linux / Android / iOS but on Safari/iOS it doesn't get that "focused" is true

Haven't tryed on Safari for Mac

[2019-06-03 06:48] Spongman commented on #3762
@ffd8  i tried this in processing and they are definitely _not_ disabling depth testing as you suggest.

however... i think what's happening here (and i haven't looked at the processing code) is that they're clearing the depth buffer at the beginning of the frame _even_ if `background()` hasn't been called. this seems like a bit of an edge case... i don't really know what the expected behavior wou

[2019-06-03 06:55] Spongman commented on #3759
you _might_ be able to use `blendMode()` to achieve what you want to do here.

[2019-06-03 07:01] lucifer1004 commented on #3759
I have tried but found no suitable blend mode.

[2019-06-03 07:03] Spongman commented on #3663
would it help to include inherited methods in a class' description (maybe with some indication that they're inherited from a base class) ?

or maybe just expand the auto-generated text that says "Extends p5.Element" to something more descriptive, like 'p5.Graphics also includes all the properties and methods of the p5.Element class, and you can use a p5.Graphics object wherever a p5.Element is req

[2019-06-03 12:05] neefrehman commented on #1339
For people who are using the `@types` package as @kiraleos has posted, is there a way to declare these definitions in the project globally?

Currently intellisense is only working if I either:
1. Put the reference at the top of each file (e.g `/// <reference path="../node_modules/@types/p5/global.d.ts" />`)

2. Have the `global.d.ts` file open at the same time

I'm working on a project that has mu

[2019-06-03 13:49] lmccart commented on #3788
that would be great! I'm adding you as a repo contributor now so you should have access.

[2019-06-03 13:55] lmccart commented on #3741
@harveymoon I think this may have been addressed with https://github.com/processing/p5.js/pull/3781/files. could you pull the latest from master and see if it is resolved?

[2019-06-03 13:57] lmccart commented on #3773
Thanks @AltoRetrato! I've added the info to the [Local Server](https://github.com/processing/p5.js/wiki/Local-server) page.

[2019-06-03 13:57] #3773 closed

[2019-06-03 14:08] lmccart commented on #3771
I agree, I think the idea of this issue is great, but I'm doubtful that we could build anything better than existing tools. @maddyfisher if you want to try qucktime on mac [here are some instructions](https://support.apple.com/guide/quicktime-player/record-your-screen-qtp97b08e666/mac). let us know if you think this meets your needs.

[2019-06-03 17:14] stalgiag commented on #3787
Haha thanks for being the one that said it @FreddieRa. I think this is an example of something that has just been around for so long that people have accepted it as necessary for whatever reason. Any interest in making this change?

[2019-06-03 17:16] FreddieRa commented on #3787
Aha, glad I'm not the only one. Happy to make the change, assuming that change is just removing the line, or do you want it to be affected by the "disableFriendlyErrors?"

[2019-06-03 17:43] FreddieRa commented on #3787
PR here: https://github.com/processing/p5.js/pull/3792

[2019-06-03 17:55] stalgiag commented on #3784
Okay I should've caught this but essentially [this line is breaking it](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.Immediate.js#L311), but when the line is removed the custom shapes manual test stops working.

We need to allow someone to build a quad without passing any arguments in `beginShape()`. We also need to know when to tesselate. Maybe the idea of a mode should

[2019-06-03 18:00] stalgiag opened #3793 "p5.RendererGL.Immediate needs to be refactored"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

[p5.RendererGL.Immediate](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.Immediate.js) needs to be refactored. It is very difficult to untangle what is

[2019-06-03 18:01] lmccart commented on #3787
thanks! closed with https://github.com/processing/p5.js/pull/3792

[2019-06-03 18:01] #3787 closed

[2019-06-03 18:05] FreddieRa commented on #3793
I'm happy to try take a look at it?

[2019-06-03 18:08] stalgiag opened #3794 "RendererGL performance improvement"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-06-03 18:10] stalgiag commented on #3793
@FreddieRa  sure if you would like to! This might be contingent on a few other things, namely #3620 and #3784

[2019-06-03 18:14] FreddieRa commented on #3793
@stalgiag Ahh, not sure I'm familiar enough with the WebGL library to do more than some basic refactoring I'm afraid. I'll stay subscribed to the issues to see if I can learn from the fixes though.

[2019-06-03 18:18] Spongman commented on #3793
@stalgiag yeah, having the immediate renderer re-use the retained geometry/buffers stuff was the next thing i was going to tackle. like you said, i think #3784 should probably be fixed first, though.

[2019-06-03 18:38] stalgiag commented on #3793
@Spongman Great thanks for the info. That should make this issue irrelevant since a refactor is a given with those changes. I am going to close this issue then.

As for #3784, the changes necessary to fix that should be minimal. Worst case scenario, a shapeMode argument can be added for tessellation or the changes for custom shapes can be reset altogether. But yes, I agree that this should be reso

[2019-06-03 18:38] #3793 closed

[2019-06-03 19:49] stalgiag commented on #3762
This seems like a matter of preference. It does seem to visually match 2D behavior a little bit more if we clear the depth buffer with every frame. Perhaps this is why Processing chose to do this?

[2019-06-03 20:55] bengrosser commented on #3645
This example doesn't work for me on Chrome 73.0.3683.103 (MacOS), I get a
DOMException. It does work on my Firefox Dev Edition 67.0b15.

Happy to help isolate more if helpful.

On Wed, May 29, 2019 at 9:59 AM Lauren McCarthy <notifications@github.com>
wrote:

[2019-06-03 23:30] figraham commented on #3788
Done! Feel free to [check it out](https://github.com/processing/p5.js/wiki/Global-and-instance-mode) and make sure everything looks good. I updated the examples, added a note about es6, and corrected a couple small things that my markdown lint found.

[2019-06-04 16:54] #3774 closed

[2019-06-04 18:51] lmccart commented on #3763
please reopen if you can provide more info, thanks!

[2019-06-04 18:51] #3763 closed

[2019-06-04 21:04] aferriss commented on #3760
Going to close this because I believe https://github.com/processing/p5.js/pull/3769 fixed the issue.

[2019-06-04 21:04] #3760 closed

[2019-06-04 21:07] aferriss commented on #3794
I've also noticed that there are a ton of redundant GL calls happening which could be hamstringing performance. It's a bit dated, but this [old tool](http://benvanik.github.io/WebGL-Inspector/) has a nice feature for showing redundant calls.

[2019-06-05 04:04] lekmao commented on #3167
@TanviKumar
Do you have an example of using "drop shadows" in 2D art?
New to p5.js and working on an assignment. I would like to add depth to it. Any help?
Thanks!

[2019-06-05 17:57] ffd8 commented on #3762
Appreciate the discussion on this and @lmccart – totally understand about the distance p5.js has from Processing (+ enjoying seeing features go up stream).

@Spongman aha ok. I don't know enough about OPENGL/WEBGL, so I wasn't sure how/why that effect was working in one environment and not the other. @stalgiag – indeed it's all about trying to match the ease in 2D mode to create complex visuals by

[2019-06-05 18:39] stalgiag commented on #3746
closed via #3798

[2019-06-05 18:39] #3746 closed

[2019-06-05 20:52] maddyfisher commented on #3771
Yes, quicktime works great with cursor action! Thanks for the feedback @lmccart @limzykenneth

[2019-06-06 01:44] figraham commented on #3788
@lmccart If I don't hear back in the next day or two, I'll assume everything is good and close this issue.

[2019-06-06 14:26] #3771 closed

[2019-06-06 22:40] lmccart commented on #3788
looks great, thank you @figraham!

[2019-06-06 22:40] #3788 closed

[2019-06-07 01:12] feve1752 opened #3800 "Text Kerning"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-07 01:42] AltoRetrato opened #3801 "TTF font works in WEBGL on PC, doesn't work in Chromebook"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Typography

#### Which platform were you using when you encountered this?

- [x] Others: Chromebook

#### Details about the bug:

- p5.js version: p5.js v0.8.0 April 08, 2019
- Web browser and version: Chrome 74.0.3729.159 (Official Build) (64-bit)
- Operating System: Chrome OS 74.0.3729.159
- Steps to reprod

[2019-06-07 03:07] Spongman commented on #3801
i think this might be fixed in master. can you try this sketch which uses the most recent buid?

https://codepen.io/Spongman/full/yWdoVb

[2019-06-07 03:48] cledesma commented on #2326
This is nowhere in the documentation. Thanks for this.

[2019-06-07 12:08] AltoRetrato commented on #3801
It works! 😀
Thank you!

[2019-06-07 12:08] #3801 closed

[2019-06-07 15:42] Spongman commented on #3258
This still happens in 0.8.0. I think it may be a z resolution thing.

[2019-06-08 22:38] outofambit commented on #3758
@hsab i've incorporated your commit and the fix for `the constructor is only accessible through p5.default(...)`. thank you! i did a little more cleanup, too.

i think leaving `module.exports = p5;` in `app.js` is totally fine. (i think it would be more effort and more complicated to find some other build solution to work around this.)

yeah i totally agree that's not ideal and is indeed from the

[2019-06-08 23:00] outofambit commented on #3663
thanks for filing this @AndrewWPhillips! i totally agree. i think this needs more explanation than including the inheritance tree for each class in the docs. (@lmccart i'd be happy to look at this as well.)

[2019-06-09 19:14] jonnytest1 opened #3802 "p5.d.ts missing circle"
#### Nature of issue?

- [ ] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Other : type definitions

#### Which platform were you using when you encountered this?

- [ ] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.8.0
- Steps to reproduce this:
/// <reference path="../../node_modules/p5/lib/p5.d.ts"/>
new p5((p:p5) =>{
      p.circle() //<-- missing
});

(#### Ne

[2019-06-09 19:20] #3802 closed

[2019-06-09 20:01] lmccart commented on #3645
@bengrosser by "this example" do you mean the webrtc one?

[2019-06-09 20:09] bengrosser commented on #3645
yes, the webrtc one is what i was referring to.

On Sun, Jun 9, 2019 at 3:01 PM Lauren McCarthy <notifications@github.com>
wrote:

[2019-06-09 22:54] jonnytest1 opened #3803 "Pointer Lock API"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ x] Core/Environment/Rendering
- [x ] Utilities

#### Which platform were you using when you encountered this?

- [ x] Desktop/Laptop

#### New feature details:
I found this API which removes the cursor from the website and thought this would be a fitting
addon to p5
demo: https://mdn.github.io/dom-examp

[2019-06-10 01:53] jonnytest1 commented on #3803
so I created a fork for this functionality but I cant commit it since I dont know how to get eslint to recognize new variables oO ? https://github.com/jonnytest1/p5.js/blob/master/src/events/mouse.js (couldnt double check the docs yet since the data.json file dissapears all the time)

[2019-06-10 02:20] jonnytest1 commented on #3803
ok fixed the docs but the linter still complains about deltaX and deltaY to be undefined oO

[2019-06-10 14:25] sanketsingh24 commented on #2800
@Spongman @stalgiag I think this has been fixed now. There is also a manual test (/webgl/material/specular_ambient) which also shows the expected behaviour.

[2019-06-10 14:27] zehuichen123 opened #3805 "LoadSound CORS"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [√] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-10 15:14] outofambit commented on #3385
been researching this and why the standard https://github.com/tandrewnichols/grunt-simple-nyc doesn't seem to work for us. i will have to do something similar to the approach described in this tutorial: https://www.engineyard.com/blog/measuring-clientside-javascript-test-coverage-with-istanbul

[2019-06-10 15:26] sanketsingh24 opened #3806 "Multiple types of materials to support WebGL Geometries"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details
Currently, in p5, only one of the `specularMaterial()` or `ambientMaterial()` can be applied to a geometry. But many objects in the real world can exhibit both behaviour. Take a look at this sketch from processing-

![Screenshot_2019-06-09_21-55-37](https://user-images.git

[2019-06-10 16:05] sanketsingh24 opened #3807 "Remove alpha arguments from ambientMaterial and specularMaterial"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: master build
- Web browser and version:
 1. Chromium  74.0.3729.169
 2. Firefox 67.0.1

- Operating System: Arch Linux 5.1.5
- Steps to reproduce this:

[Take a look at thi

[2019-06-10 16:50] Spongman commented on #3807
I trouble this may be similar to #2616.

[2019-06-10 19:24] sanketsingh24 commented on #3807
@Spongman Yes, probably, can't say surely though.

Also, this happens with `pointLight()` too.
Also, changing `directionalLight()`'s z-axis direction  seems to invert the pattern. And doesn't depends on x,y,z.

[2019-06-10 19:34] Spongman commented on #3807
Yeah this is just a side-effect of not depth-sorting the triangles. There’s not really an easy solution for this.

[2019-06-10 19:47] tsunamira opened #3808 "saveCanvas() should have a target"
The saveCanvas() should have these arguments:
saveCanvas(file name, file extension, x of picture, y of picture, width of picture, height of picture);

[2019-06-11 12:33] limzykenneth commented on #3808
@tsunamira You can use [`get()`](https://p5js.org/reference/#/p5/get) to get the subset of the canvas you want then [`save()`](https://p5js.org/reference/#/p5.Image/save) to save that subset of the canvas.

[2019-06-11 20:34] stalgiag commented on #3784
Okay barring updates from @AdilRabbani, next week I will revert some of the changes from #3680.

I will try to figure out a design that retains some of the hollow fill tesselation features that were introduced by that PR, but the priority will be fixing 4-vertex quad immediate mode geometry without an argument in `beginShape()` (ie fixing this bug)

[2019-06-12 17:24] CubeOfCheese commented on #3179
As a new user of p5 I was pretty confused about why the text wasn't showing up and I didn't realize the  "WEBGL: only opentype fonts are supported" error message was related, which is probably a bit silly of me, but the p5 reference page on text() doesn't say anything about needing to preload a font and has an example where no font is loaded at all. I am still a bit confused about how to do this p

[2019-06-12 17:56] Spongman commented on #3179
@CubeOfCheese if you want to do WEBGL text, the 3rd example on that p5 `text()` reference page should get you started.

[2019-06-12 18:04] Spongman commented on #3179
how about we add this at the top of `p5.RendererGL.prototype._renderText()` ?

[code]

[2019-06-12 18:07] CubeOfCheese commented on #3179
That sounds great! And thank you for pointing me in the right direction.

[2019-06-12 18:59] outofambit opened #3811 "Webgl: log warning if user tries to render text before setting a font"
how about we add this at the top of `p5.RendererGL.prototype._renderText()` ?

[code]

_Originally posted by @Spongman in https://github.com/processing/p5.js/issues/3179#issuecomment-501389847_

[2019-06-12 19:25] dhowe commented on #3811
don't we include a default font for just this purpose?

[2019-06-13 01:48] cdaein opened #3812 "saveCanvas() in WEBGL in Safari - image flipped"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [] Mobil

[2019-06-13 02:52] Spongman commented on #3812
Maybe related: https://github.com/pixijs/pixi.js/issues/2283

[2019-06-13 06:03] thely opened #3813 "Including other p5-xyz.js libraries in instance mode in node?"
Most existing libraries in the Contributed category on the p5js website are intended to be included through ye olde `<script src="p5.xyz.js"></script>` method, and they add themselves to the p5 global like this:

[code]

But this doesn't seem to work super well when working in node, and specifically in instance mode. As an example, I'm trying to extend [p5.canvascam.js](https://github.com/bitcraft

[2019-06-13 06:12] Spongman commented on #3813
inside of a `p5.prototype` method, you can just use `this` to refer to the `p5` instance.

[code]

the fact that canvascam's code assumes that the p5 methods are injected into the global scope is probably a bug in canvascam itself.

[2019-06-13 15:32] mkmori commented on #2766
This issue is back in p5.js 0.8.0--also, the workaround _background(0,0)_ no longer works.

[2019-06-13 16:56] mkmori opened #3816 ""WebGL clear fills with black pixels instead of transparent background" (cf. issue #2766)"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- p5.js version: 0.8.0
- Web browser and version: FF Quantum 67.0.2 (64-bit); Chrome 74.0.3729.169 (64-bit)
- Operating System: Win10

- Steps to reproduce this bug:
Same as issue [#2766](https://github.com/processing/p5.js/issues/2766): WEBGL background renders black & opaque after `clear()`...except the workaround `background(0,0

[2019-06-13 17:37] samgardner opened #3817 "createCapture's loaded callback potentially fires too early"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [x ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x ] Mo

[2019-06-13 19:56] CubeOfCheese commented on #3179
I just noticed that while the error message in console says "only opentype fonts are supported" the reference page for text() says "WEBGL: Only opentype/truetype fonts are supported." Whichever is actually the case, both need to be in accordance with each other.

[2019-06-13 20:34] CubeOfCheese opened #3818 ".ttf fonts not valid in webGL mode"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-13 21:21] Spongman commented on #3818
The url you provided is not a font file, it’s a css file.

[2019-06-13 21:32] jedierikb opened #3819 "paint depth & opacity in webgl"
Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] WebGL

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop
- [X] iOS

#### Details about the bug:

- p5.js version: 0.8.0
- Web browser and version: Chrome 74.0.3729.169 (Official Build) (64-bit)
- Operating System: OSX 10.14.5
- Steps to reproduce this:
https://codepen.io/jedierikb

[2019-06-13 22:46] CubeOfCheese commented on #3818
You are correct, my mistake, however after downloading the ttf file for Roboto from Google fonts and linking to it, I received this error:
![Screen Shot 2019-06-13 at 3 42 35 PM](https://user-images.githubusercontent.com/16740469/59472068-12e35080-8df2-11e9-824e-fe5c9774330e.png)
From the file Sketch.js:
![Screen Shot 2019-06-13 at 3 44 54 PM](https://user-images.githubusercontent.com/16740469/594

[2019-06-14 06:00] Spongman commented on #3818
try looking in the network tab in the chrome debugger. did the request for that url succeed?

[2019-06-14 06:28] NadaThiru opened #3821 "Suggestion for origin"
Hi,
Could this be counted as suggestion?
For drawings - Is there any way to set the origin at the left bottom corner and have the x axis pointing to the right and y axis pointing upwards via a function (or routine). So that we can call this function right at the start and work using the standard coordinate system?
Thank you

#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhanceme

[2019-06-14 12:18] lmccart commented on #3821
@NadaThiru you could shift the origin to the bottom left in webgl mode with a single command by doing something like this:

[code]

and adding a scale command will invert the direction of the y-axis:
[code]

[2019-06-14 18:40] CubeOfCheese commented on #3818
The response succeeds, but it is returning React's index.html file in the public folder.

[2019-06-14 22:27] #3691 closed

[2019-06-15 05:25] trouble1208 commented on #3691
3691

On Fri, Jun 14, 2019, 6:27 PM evelyn masso <notifications@github.com> wrote:

[2019-06-15 12:40] NadaThiru commented on #3821
Thank you lmccart for the suggestion. Can it be even made simpler. Just calling one function originshift (or something) with one argument bottomleft. I started my programming with Fortran many years ago. Now after my many years of retirement I started on this project. https://discourse.processing.org/t/time-line-without-flash/12037. Thanks again

[2019-06-15 15:31] vincentsijben opened #3822 "p5.dom.js in download/complete library is weird version"
**Actual Behaviour**
When downloading the complete library from https://p5js.org/download/, the versioning of p5.dom.js and p5.dom.min.js is not accurate.

p5.dom.js states "p5.dom.js v0.4.0 August 9, 2018"
p5.dom.min.js states "p5.js v0.8.0 April 08, 2019"

The single file download over at https://p5js.org/reference/#/libraries/p5.dom even states "p5.dom.js v0.3.4 Jan 19, 2017"

https://github.co

[2019-06-15 21:36] outofambit commented on #3767
Hi @Wildernesss! I've been thinking about possible ways to approach this on top of p5's current coordinate rotation/transformation and I'm afraid I haven't been able to think of something that would be doable. The best I have is an API that looks like this:

[code]

Something like `rotateNextDrawing` could be written where the rotation would only be applied to the next drawing command. There's som

[2019-06-16 12:59] heylfda opened #3823 "Miss "}" in wiki "JavaScript-basics"."
In page https://github.com/processing/p5.js/wiki/JavaScript-basics#closures.
This "}" is missing behind "if".

So code
[code]
should be
[code]

Thanks

[2019-06-17 02:24] lmccart commented on #3823
thanks @heylfda! I've made the change.

[2019-06-17 02:24] #3823 closed

[2019-06-17 02:26] #3813 closed

[2019-06-17 02:27] #3808 closed

[2019-06-17 02:39] thely commented on #3813
This helped a lot! I was able to adapt the library to Node with minimal hackishness. :)

[2019-06-17 16:59] #3766 closed

[2019-06-17 17:43] #2530 closed

[2019-06-17 18:07] stalgiag commented on #3398
Hello all just pinging on this again because I am going to close this soon if we don't confirm that it can still be reproduced under some conditions. I have tried both @Spongman and @sanketsingh24's examples, with every variation I can think of with:
- `resizeCanvas`
-  no `resizeCanvas`
- `directionalLight` inside draw loop
- `directionalLight` inside setup
- `directionalLight` before and after `

[2019-06-17 20:10] cdaein commented on #3812
Thank you, @Spongman - I followed your link and setting `setAttributes('premultipliedAlpha', true);` did fix the issue although I am not sure what other impacts this change might have.

[2019-06-17 22:26] Wildernesss commented on #3767
Hi @outofambit / Evelyn! Thanks a lot for taking care of this proposal :o). My idea is  to add function(s) into p5.Image class in order to make possible image rotation directly on the image itself and its pixels, the same way other p5.Image functions (such as .filter() ) make image pixel transformation (that means absolute image transformation, not relative image transformation by using a canvas r

[2019-06-17 23:16] stalgiag commented on #2963
So just to point out that this doesn't throw errors anymore. Material rendering with immediate mode still isn't correct. The lighting materials work to some degree and the normal material doesn't work at all. This is due to the fact that normals aren't calculated for immediate mode geometry. I don't think this should be added while a unification of immediate mode and retained mode geometry is bein

[2019-06-18 03:49] Kevin-Hamilton commented on #3418
@chrisorban FYI it looks like this UIKit/Webkit bug with iPad external keyboards is going to be fixed in iPadOS 13, see:
https://bugs.webkit.org/show_bug.cgi?id=149054
https://github.com/Microsoft/monaco-editor/issues/293

[2019-06-18 14:29] limzykenneth commented on #3767
When an image is rotated for say 45 degrees, what should the bounding box be? Does the bounding box rotate along with the image? Or does the bounding box expand so that it stay upright but touching the corners of the image?

From my limited experience, the first case is what people coming from a graphical software such as Illustrator will be familiar with but it is significantly harder to deal wit

[2019-06-19 18:34] #2734 closed

[2019-06-19 18:39] stalgiag opened #3826 "Cleanup and Organization of WebGL Manual Test Examples"
Hi all! this is just a note to say that I am going to make a pass over the WebGL manual test examples soon and do a clean-up. I will specifically be focusing on removing redundancies, organizing tests into more distinct categories, and adding visible HTML to clarify what expected output is.

GL Renderer development is currently very reliant on manual test examples for detecting bugs and I find tha

[2019-06-20 00:52] outofambit commented on #3767
Thanks for your reply @Wildernesss! It seems I misunderstood your idea. The example code you shared helps me a lot! I think having a method of manipulating pixels on a P5.Image to "rotate" it is interesting. My main question is what @limzykenneth mentioned above: What would the desired behavior be for images that weren't square?

[2019-06-20 21:08] stalgiag commented on #3398
Closing for now! Ping me if anyone is able to recreate.

[2019-06-20 21:08] #3398 closed

[2019-06-20 22:11] Juarez-BioIT commented on #1588
I tried this code today in the p5.js web editor and is still not working

[2019-06-20 22:21] lmccart commented on #1588
there's a typo in the above code `eSnapshots.lenght` should read `eSnapshots.length`
when I made this change, the code runs in the editor

[code]

[2019-06-21 17:08] limzykenneth commented on #3800
There is no direct support of text kerning in HTML canvas, you can however set the CSS [`font-kerning`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-kerning) and [`text-rendering`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering) properties on the canvas itself using CSS which can help with kerning in some cases.

However, if you mean text tracking (ie. custom letter spaci

[2019-06-22 03:43] thely opened #3830 "p5.dom: removeElements() doesn't remove <option>s"
As above. It looks like removeElements works by adding HTMLCanvasElement to the created elements, which isn't added to any `<option>` tags added to a `<select>`. I had planned to have a static `select` in my HTML and use p5 to swap out lists of options, but since I found no good way to just clear the children, I had to push the `<select>` into p5 as well. So, I guess I have two questions:

1. Shou

[2019-06-22 06:17] HenrySkup opened #3831 "addCue"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other **Sound**

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (to

[2019-06-22 06:27] HenrySkup opened #3832 "`jump()` creating multiple sound instances?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other **Sound**

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (to

[2019-06-22 11:19] Vrx8 opened #3833 "translate function not working as expected."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-06-22 11:54] limzykenneth commented on #3833
You will need to redraw the background at the beginning of each draw loop otherwise all drawings from the last frame will remain on the canvas.

[2019-06-22 16:54] #3833 closed

[2019-06-22 16:55] lmccart commented on #3821
I think that two lines is not significantly more complex than one line, and also removes the need to add an additional concept or origin shift. Since I'm not hearing others chiming in on this, I will close this issue for now.

[2019-06-22 16:55] #3821 closed

[2019-06-23 15:13] Juarez-BioIT commented on #1588
It runs, but it doesn't work as it should. Although the array does get a new element from `eCam.get()`, **it seems that** `eCam.get()` **don't get updated**, so only the first snapshot fills the array.
(Compare with Shiffman's video at 9:47 https://www.youtube.com/watch?v=oLiaUEKsRws&t=555s).

[code]

[2019-06-23 15:30] Spongman commented on #1588
I think you might be seeing the same behavior that was reported in #3779. The fix for this should be in the next release.

[2019-06-23 23:19] stalgiag commented on #3816
I will look into this when I get a chance. Sorry for the confusion. Not sure why the graphics canvas isn't clearing completely.

[2019-06-23 23:31] #3784 closed

[2019-06-24 06:02] hsab commented on #3758
@outofambit Sorry for the late response. I've been super busy with school.
I have incorporated all of your adjustments in https://github.com/processing/p5.js/compare/master...es6
Unfortunately, I decided to start from the latest master to be semi-uptodate, and because of this I manually replicated your modifications.

Here's a list of what has been done so far:

- [x] Every instance of _require_ h

[2019-06-24 16:41] stalgiag commented on #2963
Moving off of 0.9.0 milestone as a console warning and default value was added and further solution to this is now dependent on larger structural changes.

[2019-06-24 17:27] stalgiag commented on #3816
Okay this is due to the fact that the WebGL rendering context has a default 'alpha' value of false. I don't see a significant reason why this shouldn't default to true. I will make the necessary changes along with adding a unit test to ensure that GL can clear correctly.

While investigating this, I realized that there is another problem that is somewhat related, in that `setAttributes()` isn't wo

[2019-06-24 22:44] Wildernesss commented on #3767
Hi @outofambit and @limzykenneth , thanks for your attention! Yes, that's true, in my project I need to make square image rotation, and technically it's easier to do than rectangular image rotation. I think that second option would be the best intuitive one for beginners (bounding box expanding so that it stay upright but touching the corners of the image, without changing original image size boun

[2019-06-25 12:48] nout-kleef commented on #3830
I'm trying to replicate what you're doing, but I'm wondering: how are you selecting your `<select>` element if you're not adding it using p5?
Are you using plain js (`document.getElementById()`)?
Otherwise, I'm not sure how you plan on targeting that same `<select>` when removing its `<option>`s

[2019-06-25 13:22] thely commented on #3830
Not with plain JS, with p5's `select()` method.

[code]

[code]

This adds `<option>` elements just fine, but it doesn't remove them when `removeElements()` is called. If that's not how p5.dom is intended to be used, I guess that's just how it is?

[2019-06-25 15:20] nout-kleef commented on #3830
It seems like `dropdown.option()` does not result in the newly created `<option>` being added to the list of p5 DOM elements.
I've been looking, but I'm unable to find the `.option()` method declaration anywhere.
Do you know the file in which this method is declared?

[2019-06-25 15:41] thely commented on #3830
I'm pretty sure the `option()` method is a sub-method (?) of `createSelect()` - see [this line](https://github.com/processing/p5.js/blob/4584e993248f603d6d00f60257da3eaad637635a/lib/addons/p5.dom.js#L699) in p5.dom.

[2019-06-25 16:49] stalgiag opened #3836 "setAttributes() breaks rendering of WebGL p5.Graphics"
While working on another issue I noticed that `setAttributes()` causes errors with p5.Graphics objects. I have a working branch where I have partially fixed this. In my branch, I have this working:

[code]
but the rendering is still a bit off when both canvases are 3D as in:
[code]
I will fix this part as well and open a PR soon. I just wanted an open issue to track this work.

[2019-06-26 00:04] stalgiag commented on #3807
I think that depth sorting is out of scope. One thought, Processing doesn't allow alpha arguments to `ambient()`. We should consider doing the same.

[2019-06-26 01:39] stalgiag commented on #3210
I am unable to recreate the bug with Firefox 67.0.4 on Windows 10 with the current master branch or with the editor example link posted above which uses 0.7.2.

Perhaps a problem with Firefox that has been fixed?

[2019-06-26 10:27] Crapulax opened #3837 "Consecutive MAC keys cmd-xx not triggered"
#### Nature of issue?
On Chrome Mac El Captain, keyPressed event is not sent for consecutive cmd-xx key pressed.
cmd-v for instance is sent in keyPressed (cmd followed by keycode 86 (for 'v'). But the next cmd-v is not triggered.
Looking to p5.js source code, it appears that p5.prototype._onkeyup is not called for the 'v' key if you keep cmd key pressed. This prevents internal structure `this._dow

[2019-06-26 17:56] stalgiag commented on #3812
Hi @cdaein thanks for filing the issue! [Here is a link with some info ](https://limnu.com/webgl-blending-youre-probably-wrong/)about what premultipliedAlpha is. This value is false to start with so that the color blending in the WebGL canvas is as close to that of the 2D canvas as possible.

This problem seems to be outside of p5. There is this [post as well](https://forums.developer.apple.com/th

[2019-06-26 17:56] #3812 closed

[2019-06-26 21:40] #3703 closed

[2019-06-28 01:49] alokguru opened #3840 "I need to drag and resize shape same as paint"
I am creating a panel using p5.js same as paint so i need to modify shape same as paint using mouse.

[2019-06-28 08:43] Vrx8 opened #3841 "mouseIsPressed returns incorrect value after redirecting page"
#### Nature of issue?

- [x ] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Events

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"
- Web browser and version: 67.0.4 Firefox
- Operating System: Windows 10
- Steps to reproduce this:

[code]

Aft

[2019-06-28 12:29] lmccart commented on #3840
hi @alokguru, the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2019-06-28 12:29] #3840 closed

[2019-06-29 17:05] aferriss commented on #2800
Going to close as it seems this has been fixed.

[2019-06-29 17:05] #2800 closed

[2019-06-29 21:47] Mayank-Mishra0110011 commented on #3830
https://github.com/processing/p5.js/blob/0.8.0/lib/addons/p5.dom.js#L101 on line 101 the `_wrapElement(res)` method only returns a `createSelect()` element without adding the element to `this._elements` array and therefore the `removeElements()` method cannot remove it. Before returning res it should add it to the elements array. So a simple `addElement(res, this)`before the return statement fixes

[2019-06-30 17:38] sjscotti commented on #3293
I just verified that the fix mentioned at https://github.com/processing/p5.js/issues/3518 that is in the new version located at https://raw.githack.com/stalgiag/stalgiag.github.io/master/p5.min-master-5-21-19.js has fixed the problem I originally identified.  Does anyone know when this fix will be in the production version of p5.js?

And thanks for making the fix!

[2019-06-30 17:39] #3293 closed

[2019-06-30 19:30] #2118 closed

[2019-06-30 19:41] lmccart commented on #3818
Here is an example loading a ttf font in webgl mode. It appears to work correctly..

It sounds like there may be some error with your file setup. I'd suggest posting on the [forum](https://discourse.processing.org) to get some more help with this.

[2019-06-30 19:41] #3818 closed

[2019-06-30 19:42] lmccart commented on #3800
Thanks @limzykenneth. I think these suggestions are the best way to handle this case for now.

[2019-06-30 19:42] #3800 closed

[2019-06-30 19:44] lmccart commented on #3439
as @haschdl  mentions, this error has been addressed and is in the latest release.

[2019-06-30 19:44] #3439 closed

[2019-06-30 19:45] #3816 closed

[2019-06-30 19:49] lmccart commented on #3418
Hi @chrisorban  thank you for your work on this. We're not able to support library modifications to support external third-party peripherals because it gets too tricky to determine which ones to add, and this is really a bug with Apple's keyboard itself. We'd suggest making your own library (as I think you have done) and including it in student projects to add the desired modifications.

However,

[2019-06-30 19:53] #2970 closed

[2019-06-30 20:03] #3817 closed

[2019-06-30 20:16] #3355 closed

[2019-06-30 21:21] chrisorban commented on #3418
Hi @lmccart  I will be trying out iOS 13 as soon as I can to see if the changes fix the issue with iPad keyboards. My understanding is that the public beta of iOS 13 will come out next month (i.e. July 2019). Thanks again @Kevin-Hamilton  for pointing this out.  In the meantime, that's fine to close the iPad keyboard pull request. After iOS 13 comes out we can revisit whether we need to add a libr

[2019-07-01 04:07] setphen opened #3850 "WEBGL in Safari: transforms affect canvas context"
In Safari with WEBGL rendering, the rendering context itself appears to be affected by transformations.

#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [

[2019-07-01 14:34] outofambit opened #3851 "textWidth throws error for numbers"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Typography

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: a8e19a30af0e5e53dd1570ac53a37446a80ee0ef
- Web browser and version: headless chrome in testing suite
- Steps to reproduce this:

[code]

Will throw a validation error

[2019-07-01 17:39] stalgiag commented on #3485
@Janglee123 thanks for the follow-up and sorry for the delay! I am not able to test for this but I am curious if 0.8.0 changes anything. I think that overall though this example is not useful for debugging this problem. Everything is minified and the example is much to big to really track down what is causing the problem. I think unfortunately this problem is unfixable unless we are able to narrow

[2019-07-01 18:09] stalgiag commented on #2369
It feels slightly distracting from the intent for p5 to expose this more than it is already. I think the example that @Spongman gives above and the [customGeometry manual example](https://github.com/processing/p5.js/blob/master/test/manual-test-examples/webgl/customGeometry/sketch.js) will have to suffice for this kind of task.

Closing now for organization purposes but if there is a good argument

[2019-07-01 18:09] #2369 closed

[2019-07-01 22:13] #3836 closed

[2019-07-01 22:18] lmccart commented on #645
Ok we're opening this again. cc @outofambit

[2019-07-01 22:24] stalgiag commented on #3210
Closing now for organization purposes. If someone can reproduce in a recent version of Firefox, just @ me here and I will reopen.

[2019-07-01 22:24] #3210 closed

[2019-07-01 22:46] lmccart commented on #1282
We've tested this on Android and iPhone and are not able to reproduce. If you can clarify which device / browser combo is causing this issue we can revisit. Thanks!

[2019-07-01 22:46] #1282 closed

[2019-07-01 22:52] #3385 closed

[2019-07-01 23:13] stalgiag commented on #3841
Able to reproduce - only in Windows 10 with Firefox 67.

[2019-07-01 23:25] lmccart commented on #3841
@Vrx8 this is an interesting case. Basically, the `mouseIsPressed` variable is not getting set when a new page is opened because the sketch exits before the `mouseup` event fires. We could reset this value when a page redirect is detected. But if we did, this would make the case where someone has the mouse down on a second page and uses the backspace key to get back to the sketch incorrect. In thi

[2019-07-01 23:25] #3841 closed

[2019-07-01 23:35] stalgiag commented on #3759
This seems simple to add and useful.

[2019-07-01 23:41] stalgiag commented on #3729
I am closing this issue for now since it needs some more information to be properly addressable. If you are able to provide the information requested above just @ me and I will happily reopen. Thank you!

[2019-07-01 23:41] #3729 closed

[2019-07-01 23:45] stalgiag commented on #3807
The todo here is to remove the alpha arguments from `ambientMaterial()` and `specularMaterial()`.

[2019-07-02 00:03] stalgiag commented on #3174
I am unable to reproduce using Windows 10 Chrome 75.0.3770 and 0.8.0. I didn't use your example code as it has some problems but the [reference examples work well](https://p5js.org/reference/#/p5/keyIsDown) with the aforementioned setup. Let us know if you are still able to reproduce and try to narrow down the bug example code a little and we will look into it.

[2019-07-02 00:03] #3811 closed

[2019-07-02 00:04] lmccart commented on #3822
this one should be resolved once https://github.com/processing/p5.js/issues/645 happens

[2019-07-02 00:10] #1815 closed

[2019-07-02 00:29] stalgiag commented on #2616
This occurs in Processing as well. Adding the "will not fix" label for the above mentioned reasons (depth sorting is out of scope). This label and the "known issue" label will be used to close (for organization purposes) known issues that will not be fixed.

[2019-07-02 00:29] #2616 closed

[2019-07-02 00:31] Spongman commented on #3807
I'm not sure that'll help, though. wouldn't this also repro if you pass alpha in `fill()` ?

[2019-07-02 02:00] stalgiag commented on #3807
Ah yes, the above to-do would at least isolate the occurrence to `fill()` and then maybe we should consider adding a note about combining transparency and lighting. For reference, here is a photo of the above example with transparent `fill()` instead of `ambient()` in Processing, the rendering is near identical.

![Screenshot (90)](https://user-images.githubusercontent.com/10382506/60476989-87abec

[2019-07-02 02:23] #3418 closed

[2019-07-02 03:08] FiftyTwoWays opened #3854 "createImg() doesn't return what expected"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-02 07:13] Mayank-Mishra0110011 commented on #3854
It's not exactly a bug.
If you go through p5.dom.js file the method createImg returns an object whose properties width and height are set when image elt onload callback is completed. So it takes a few seconds to load the actual image, hence the delay in setting the properties of the object.

[2019-07-02 11:49] DaleSparrow opened #3855 "posenet google dependencies are gone!"
Hey guys! Just wanted to thank you for setting up p5js, it is an enormous help with rapid prototyping stuff!

So I've been using posenet on p5js extensively for a university project in time and motion studies, works like a charm every time.
However, this morning no p5js posenet stuff wants to work, even on the p5 web editor. The reason is that it can't find the mobile_net weights dependency on the

[2019-07-02 15:08] limzykenneth commented on #3855
Hi @DaleSparrow, this is the repository for the source code for p5.js and we don't handle any other external dependencies. Your question is best answered on the [forum](https://discourse.processing.org/). Thanks.

[2019-07-02 15:08] #3855 closed

[2019-07-02 15:13] limzykenneth commented on #645
There's a bit of a gap between the last conversationa and the reopening of this issue, I'm just curious that are we planning to break out p5.dom.js to its own repo or are we merging it into core?

[2019-07-02 15:41] stalgiag commented on #3854
Hi @FiftyTwoWays thanks for the issue! As @Mayank-Mishra0110011 pointed out, the width and height will not be correct until loading is complete. If you need to be sure that these values are correct before working with them you can use the optional `[successCallback]` argument. Closing now since this isn't a bug.

[2019-07-02 15:41] #3854 closed

[2019-07-02 16:03] FiftyTwoWays commented on #3854
My bad didn't think that way. Thank you !

[2019-07-02 17:09] outofambit commented on #645
hi @limzykenneth ! i'm going to pull `p5.dom` into core!

[2019-07-02 21:55] limzykenneth commented on #3854
When calling `console.log`, what is logged into the console is the value of the variable at the time of logging. When you click on the expansion button, the expression logged will be re-evaluated at that point in time based on the current state of the web page so its value may be different.

When you call `createImg` an `<img>` tag is created and the `src` attribute will be populated based on the

[2019-07-03 01:24] outofambit commented on #3758
@hsab that’s awesome! sounds like a lot of great progress! thanks for the update!

what are you thinking in terms of merging this work in? i’m a little nervous about having one giant pull request for this, especially due to merge conflicts with ongoing work. do you think its possible to do this in multiple pull requests?

[2019-07-03 03:25] Spongman commented on #3758
Please don’t add usage of lambda expressions to the library code. There is a significant performance penalty when using them.

[2019-07-03 14:12] tiltproofRain opened #3856 "Mistake in the p5 createChebox documentation"
on this page : https://p5js.org/reference/#/p5/createCheckbox

The syntax for seeing whether or not a checkbox is checked is stated as 'this.checked()' whereas it should be 'this.checked'.
(checked is not a function)

![Screenshot_9](https://user-images.githubusercontent.com/50487716/60598655-b2c94400-9dca-11e9-822a-730d7b033fcd.png)

[2019-07-03 15:48] lmccart commented on #3856
I think it's correct as is. Here's the part in the code where checked is set up as a function: https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L617

And here's a working example in the editor:
https://editor.p5js.org/lmccart/sketches/5ezfWSge4

[2019-07-03 18:57] Vamoss opened #3857 "vertexColors are ignored in drawBuffersScaled"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [X] Mobil

[2019-07-03 19:03] Vamoss commented on #3736
Hi @vedhant, sorry for the late answer, I was not notified of your answer by mail...
Here is the working code:
https://www.openprocessing.org/sketch/709566

Line 7 did the trick:
`renderer.drawingContext.disable(renderer.drawingContext.DEPTH_TEST);`

[2019-07-03 19:34] stalgiag commented on #3857
Yes vertex colors should be relatively easy to add. As you have noticed a lot of the groundwork is already laid for them. That said, there are structural changes currently planned for immediate mode. Vertex color functionality should be simple to add but should wait until those structural changes are made.

I am just going to tag this issue in that one to track this.
related to #3620

[2019-07-03 21:45] #3380 closed

[2019-07-03 22:08] lmccart commented on #3758
@Spongman can you link to any references that document this performance difference? jsperf tests or similar? @hsab is looking into this as well.

[2019-07-03 22:37] Spongman commented on #3758
yeah, a simple in-browser test will show that using functional style is at least 3 times as expensive as a for loop: https://codepen.io/Spongman/pen/XLYPjL?editors=1112

this is a simple arithmetic test. in cases where it's necessary to create a closure object, the performance hit will be significantly higher - the `for` loop has zero memory overhead, whereas the functional version will require a

[2019-07-03 22:52] outofambit commented on #3758
@Spongman to be clear, this is the use of a lambda as opposed to a `for` loop, which applies whether you use the es6 `() => {}` _or_ es5 `function() {}` syntax, correct? so i'm not sure its a big issue for this migration.

i don't see any issues in the branch @hsab shared above except potentially https://github.com/processing/p5.js/compare/master...es6#diff-ae09a6b88c1dd82501f4d0ea349ae764R31

[2019-07-03 22:54] Spongman commented on #3758
yes, this also applies to `function(){}` syntax.

i can't see that diff you linked to there, but there are definitely instances there where `for` loops have been changed to functional-style.

[2019-07-04 01:45] hsab commented on #3758
@Spongman just had a look at the code snippet you posted
I have 2 commits associated with `for` loops.
`for-of`:https://github.com/processing/p5.js/commit/739875749ed8383588a532ef1d078d16dd268417
`forEach`: https://github.com/processing/p5.js/commit/bef69ef9920d5e337f27ebd37b38eb24baa079fc

Luckily there are only 5 instances of `forEach` so reverting back to `for` is easy. But I was wondering if t

[2019-07-04 03:14] Spongman commented on #3758
Yes, it looks like `for..of` is now better than plain indexing, at least in the version of chrome I have here. It used to be worse, though.

Arrow functions and regular functions are the same, yes.

[2019-07-04 04:38] hsab commented on #3758
I will investigate the performance of `for-of` further with respect to other browsers.

If arrow functions have no performance hit, what did you mean by 'lambda functions' in your earlier comment? I was under the impression that they were synonymous in the ES6 lingo.

[2019-07-04 06:22] limzykenneth commented on #3758
Lambda functions is just another name for anonymous functions, it doesn't matter if it is using ES5 `function() { }` or ES6 `() => { }`, they are both lambda (anonymous) functions.

[2019-07-04 07:55] Spongman commented on #3758
Sorry I should have been more clear. The performance issues I brought up above apply equally to arrow functions and old-style functions. They should not be used to blindly replace for loops in library code - since doing so makes assumptions about the performance requirements of the client code.

[2019-07-04 08:49] seldomU opened #3858 "Manually dispatched key events don't trigger keyTyped"
In the following sketch, keyPressed is called while keyTyped is not. I tested today in the online editor.

[code]

I would expect both key handlers to be called, like P5 does for physically pressed keys.

[2019-07-04 10:01] hsab commented on #3758
Sorry I took "lambda functions**/**forEach" as "lambda functions **and** forEach" which lead to the confusion with the arrow functions and so on.

You're referring to the fact that 'forEach' requires a lambda function as a param and the associated overhead with each iteration. Makes perfect sense. Thanks for the clarification.

[2019-07-04 17:02] mkmori commented on #3794
Might this include performance related to "lights()" in an offscreen buffer? Apparently, it gives expected results (and more consistent performance) when lights() is only called (once?) in setup() for a given p5.Graphics object...but if called in the draw() loop for the same object, (as done for lights() on the main canvas), it seems like new lights are created each pass (?) and the millis reporte

[2019-07-04 17:45] lmccart commented on #3858
@seldomU the `keyTyped` function is triggered by a `keypress` event. The `keyPressed` function is triggered by a `keydown` event. So this is correct behavior that only `keyPressed()` is fired by this event dispatch.

[2019-07-04 17:45] #3858 closed

[2019-07-04 17:46] #3856 closed

[2019-07-04 17:55] lmccart commented on #3803
closed with #3804 thanks @jonnytest1

[2019-07-04 17:55] #3803 closed

[2019-07-04 21:46] outofambit commented on #3858
@seldomU you can see more information about the `keypress` event at https://developer.mozilla.org/en-US/docs/Web/API/Document/keypress_event

[2019-07-04 21:48] Vamoss commented on #3498
Hi, I am experiencing the same error on this code:
https://www.openprocessing.org/sketch/672835

@msawired, maybe it's good to downgrade OpenProcessing.

[2019-07-04 21:49] #3851 closed

[2019-07-06 19:21] outofambit commented on #3498
hi @Vamoss, i looked at your link and its using p5.js version `0.7.3`. i copied and pasted your code into the p5js web editor (which is using the latest `0.8.0`) and didn't see the issue (https://editor.p5js.org/outofambit/sketches/V0Mp-GFOA).

please upgrade your sketch on OpenProcessing to use the latest p5.js release and you should be good!

[2019-07-06 19:27] frewsxcv opened #3861 "Introduce p5.Vector#rem to calculate the remainder/modulo of a vector."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

(PR with this change: https://github.com/proces

[2019-07-07 01:28] #3830 closed

[2019-07-07 01:32] lmccart commented on #3758
hey all, this is a note to let everyone know we are planning to merge this ES6 update on wednesday morning pacific time. before then, we're trying to merge or close all outstanding PRs to reduce the number of merge conflicts. if you have a PR you are working on, please submit it in the next day or so if you can. otherwise, it would be best if you could hold until after the ES6 merge and rebase. th

[2019-07-07 21:51] outofambit commented on #3861
@frewsxcv this looks like a handy addition! i think i would err on the side of a multi-dimensional approach since squares are not the most common window shape. plus, you can use a multi-dimensional API for a square case, but i think it would be pretty hard to use the single-dimension API for different scenarios. what do you think?

[2019-07-08 01:59] shubymao commented on #3861
I am new to here but I would like to try and add this. Is it ok? Thanks In advance.

[2019-07-08 02:30] shubymao commented on #3861
Something like this?
[code]
I am new here please point out my wrongdoing to help me learn. Also, any tips would be greatly appreciated. Thanks in advance

[2019-07-08 02:46] outofambit commented on #3861
hi @shubmayo thanks for offering to help with this! we haven’t fully decided on how we want this to work so i’m afraid we’re not ready to jump into implementation yet. (also @frewsxcv already has a draft going that they linked to above, so i’m guessing they’re wanting to take care of that too)

[2019-07-08 02:53] shubymao commented on #3861
Ok, how about I work on one for reflecting off of the wall. Do we have something like this? As you can probably tell I really would like to help out.
[code]
can i do something like this?

[2019-07-08 04:08] jedierikb commented on #3819
is this related? https://github.com/processing/p5.js/issues/2616

[2019-07-08 12:53] lukakravos opened #3863 "SVG-Images can't be loaded with the loadImage() function!"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-08 14:26] lukakravos commented on #3863
I just can't load a .svg-Image in p5.js

[2019-07-08 15:10] shiffman commented on #645
Woohoo!

[2019-07-08 16:13] outofambit commented on #645
planning to do this later this week after #3758 is done! 🚀

[2019-07-08 16:26] outofambit commented on #3863
Hi @lukakravos, sorry you're having issues with this! can you please include your versions in the issue description and some kind of code snippet? that would be helpful, thanks!

#2150 and #1648 might also have some tips that could help.

[2019-07-08 18:22] stalgiag commented on #3770
Thanks for the issue! Able to reproduce with Chrome 75.0.3770 and Android 8.0.0.

[2019-07-08 18:31] stalgiag commented on #3770
[This link explains the deprecation](https://www.chromestatus.com/feature/5468407470227456). We could add something to the documentation or try to think of a workaround.

[2019-07-08 18:58] stalgiag opened #3866 "Ignore the coverage folder, p5-test.js, and .nyc_output?"
I don't fully understand the intent for the coverage files that are produced so this question may be off base. But it seems like we might want to add these to the .gitignore
coverage/
lib/p5-test*
.nyc_output/

Is this correct?

[2019-07-08 19:07] stalgiag commented on #3866
Related to #3834. @outofambit thoughts?

[2019-07-08 19:10] stalgiag commented on #3850
Hi @setphen thanks for filing the issue. I don't have a Mac environment so I am unable to test this consistently, but I did briefly try this on a friend's computer which reproduced the bug with the above sketch.

Are you sure that the `translate()` line is what causes the problem? Is the above sketch the simplest sketch that produces the problem in your experience?

[2019-07-08 19:11] outofambit commented on #3866
@stalgiag i agree but i believe those files are already in the .gitignore (https://github.com/processing/p5.js/blob/master/.gitignore). are they not ignored for you?

[2019-07-08 19:16] stalgiag commented on #3866
Oh thanks for the quick reply! That is odd. My branch shows as being up-to-date with upstream master but my gitignore isn't ignoring correctly. I will worry about it on my end as it is definitely local. Sorry for the confusion.

[2019-07-08 19:16] #3866 closed

[2019-07-08 21:32] meiamsome commented on #3866
@stalgiag you may want to `git fetch upstream` and then compare against the upstream remote master - you are potentially comparing against an outdated cache of the upstream state

[2019-07-08 21:40] limzykenneth commented on #3861
@shubymao You can open a separate issue if you wish to propose a reflect feature for p5.Vector, let's keep this one focused on modulo. Thanks.

@frewsxcv @outofambit Being able to modulo a vector feels a bit unintuitive to me as I'm questioning whether I'm taking the modulo of the magnitude of the vector or as demonstrated here the seperate modulo of the different dimensions. Maybe it's just me no

[2019-07-08 21:49] limzykenneth commented on #3770
Yes, this is expected and has been talked about for awhile now. It should also affect accelerationX/Y/Z as well. It should work on localhost as that is a trusted connection, so I would say Firefox is exhibiting the right behaviour but not in Chrome.

A workaround is supposed to be impossible and if any are found they should be deemed a bug in the browser implementation.

The web editor is served o

[2019-07-08 21:50] Spongman commented on #3861
this seems a little contrived to me. I can't think of any time when using a vector library of any kind where i have thought that it could use a modulo operator. usually when something's wrapping around rectangular bounds i like to know when that's happening and perform some other, related operation.
another question: would it be remainder, or remainder? what happens when the input is negative? in

[2019-07-08 21:51] frewsxcv commented on #3861
The programming language community is inconsistent– see the table in https://en.wikipedia.org/wiki/Modulo_operation. There does seem to be a trend with using `rem` if the sign stems from the dividend, as opposed to the divisor, which is the case for JavaScript. I'm not opposed to switching to `mod` if people feel strongly. We should make sure to document the dividend/divisor behavior if this featu

[2019-07-08 21:57] frewsxcv commented on #3861
Is there any reason you think it would be taking the modulo of the _magnitude_ of the vector?

[2019-07-08 21:59] #3762 closed

[2019-07-08 22:02] limzykenneth commented on #3861
@frewsxcv Mainly because I understand modulo as just a one dimensional operation, applying it to a two dimentional vector to me feels like it should be operating on a one dimensional value of the vector ie the magnitude. It's also the same as @Spongman mentioned that with other vector implementations in other libraries there isn't a modulo that I know of, so I don't have any intuition for what it

[2019-07-08 22:02] stalgiag commented on #3770
@limzykenneth I am not certain but I think the issue with localhost in most mobile development situations would be that the site is being served from a computer on the same network right? So perhaps it isn't detecting as a trusted connection? For example, with my setup, I run a node server on my laptop and then on my phone I go to my laptop's private ip address to run the sketch. Perhaps since it

[2019-07-08 22:05] limzykenneth commented on #3770
With that kind of setup then probably yes, it would be marked as an insecure connection. I haven't had the need to workaround that before but it got me thinking...

I haven't been following the news on this but I believe Firefox and Safari are both at least thinking of doing the same.

[2019-07-09 00:14] aferriss commented on #3861
It's pretty common in many shader languages that you can mod a vector and the result returned is a vector containing the remainder of each element in the vector. Nvidia has this sample implementation and some more info here https://developer.download.nvidia.com/cg/fmod.html

[2019-07-09 01:04] shubymao opened #3868 "The Reflect function to calculate the newly reflected position of a particle"
#### Nature of issue?

- [x] New feature request
- [ ] Found a bug
- [ ] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Math
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
I think it might be beneficial to have a reflect

[2019-07-09 01:16] aferriss commented on #3868
This function sounds interesting but I'm worried that people would get confused with other implementations of reflect functions. For instance in GLSL there is a [built in function called `reflect()` ](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/reflect.xhtml)but it's purpose is different than this one.

Maybe there's a better name? [p5.play has a function called `bounce`](https://mol

[2019-07-09 02:06] shubymao commented on #3868
@aferriss Thank you for your feedback. As for the name, what do you think of 'rebound'. Has this been used before? Here is the updated version based on your feedback.
[code]

[2019-07-09 04:56] bertlea opened #3869 "textWidth returns incorrect value for tab "\t""
#### Nature of issue?

- [ x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ x ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] M

[2019-07-09 08:38] limzykenneth commented on #3861
@aferriss I had a quick look at some shader languages' implementation and their signatures are all `mod(vectorN, vectorN)` is this a signature we would like to go for as well? Keep in mind that shader languages tend to be strongly typed while JS isn't (ie. function overloading has always been rather tricky for us).

[2019-07-09 16:20] Spongman commented on #3861
Be careful with the negative inputs, glsl and hlsl treat them differently and at least one of them is different that the implementation suggested above.

[2019-07-09 17:15] stalgiag commented on #3868
Hi @shubymao thanks for the interest in contributing! This is definitely a compelling idea. I personally don't think that this feature should be added to the core library if p5.play, which is one of the most popular supplemental libraries, already has the feature. It seems like a nice way to get more concise code but it would only apply to users that are a little past beginner stage. I say this be

[2019-07-09 19:30] stalgiag opened #3870 "Add better disposal code handling in GIF support"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Summary
Currently when decoding a GIF, p5 does not handle all disposa

[2019-07-09 19:33] limzykenneth commented on #3869
That is the specified behaviour of HTML canvas (more details [here](https://stackoverflow.com/questions/37848455/measuretext-tab-character)). In essense, when measuring the size of a text, a tab character is converted into a space character before any measurement is made. Also the width of a tab character is not fixed as that is something that the renderer or client decides.

[2019-07-09 19:46] stalgiag opened #3871 "GIF files often save larger than they load"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-09 19:56] outofambit commented on #3869
@limzykenneth thanks for sharing that link! this sounds like it would be hard for p5 to work around...

@bertlea have you tried using an actual tab character? that works properly, correct?

aka
[code]

[2019-07-09 20:17] aferriss commented on #3861
@limzykenneth If it were up to me the signature would be `mod(vectorN, vectorN)`. Additionally, I think it would be good to add one with a signature of `mod(vectorN, scalar)` where scalar would be used to mod all values in the vector. Not that the goal is to match GLSL, but it also displays this behavior. See [here](https://www.shadertoy.com/view/wlXXWH)

[2019-07-09 20:57] shubymao commented on #3868
@stalgiag  Thank you for your suggestion. I do understand that most user are fully capable to write similar function themselves. For me, I just feel that this could be a good quality of life addition. Also, I checked the bounce method and feel that it is a bit different from my function. However, I do respect your opinion and if another contributor feels the same way and think that this is redunda

[2019-07-09 21:00] stalgiag opened #3872 "GIF delays are averaged across frames"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-09 21:12] stalgiag commented on #3868
Hi @shubymao you are right that the bounce method in play is quite a bit different. I think it is a good idea to leave the issue open for a while to see what the general interest is.

[2019-07-09 22:03] #1135 closed

[2019-07-10 05:47] bertlea commented on #3869
@limzykenneth , @outofambit  Thank you for the quick responses!  The link limzykenneth may explains what I observed and reported, but it will also mean there is no way to get the actual width in a string showing in canvas.  Hence the textWidth is useless when there is any tab or other control characters such as EOL in the string.

@outofambit , using "actual tab" is getting the same width as "\t".

[2019-07-10 06:14] bertlea commented on #3869
Using the p5js.org page [https://p5js.org/examples/typography-words.html](url) to test by changing the setup code to console.out the text width:
[code]

If I use the original font (loaded .otf file) then case 1 (use  space) will show a different values from case 2 and 3 (using tabs, 2: "\t" and 3: actual tab in string).

However, if I change the font to use "font = 'Arial';" then case 1, 2 and 3 a

[2019-07-10 16:44] lmccart commented on #3758
I'm going to close this issue with the merge of #3874. 🎉@hsab if there are any relevant design decisions in this thread not covered in your PR comments already, can you add these to the markdown file you're preparing?

[2019-07-10 16:44] #3758 closed

[2019-07-10 18:26] hsab commented on #3758
Yes, thank you all for sharing your knowledge and expertise. So far I have learned a lot!

@lmccart Will definitely double check this thread before submitting the docs PR. Hopefully will be done by tomorrow afternoon.

[2019-07-10 20:10] stalgiag opened #3875 "Use of arrow functions for prototype definition"
Since the ES6 update has been merged already, I am moving a discussion out of #3874 and into an issue so that it is easier to track.

The issue as outlined by @limzykenneth in the pull request discussion:

@hsab replied:

followed by @limzykenneth :

Note that this doesn't seem urgent so feel free to continue discussion and response at your own convenience. I just wanted a better place to track th

[2019-07-10 20:40] stalgiag opened #3877 "replace const with let in reference examples"
Hi all, this is in no way urgent but just wanted to open an issue to discuss the usage of `const` for mutable assign-by-reference variables.

This can be seen in a number of places, [here for example](https://github.com/processing/p5.js/blob/master/src/core/rendering.js#L146) or [here.](https://github.com/processing/p5.js/blob/master/src/core/shape/vertex.js#L381) This isn't always the case [as se

[2019-07-10 20:50] stalgiag opened #3878 "Updating reference examples in utilities/ to ES6 syntax"
I think this was missed when resolving #3382

The reference examples in the files in [src/utilities](https://github.com/processing/p5.js/tree/0.9.0/src/utilities) still need to be updated to ES6 syntax.

The todo here is mostly to change `var` to `let` or `const` in the reference examples inside the folder linked above. There are tons of resources online for learning about ES6. [Here is an interac

[2019-07-10 21:12] meiamsome commented on #3875
The conversion is correct in maintaining behaviour - it has converted functions of two forms:
1. those that do not use this (And thus it is irrelevant)
2. those that used something of the form:
[code]

In the old source code, `_start`, `_draw` and `_setup` all have a `.bind(this)` statement on them. Whether they should have had that or not is a different debate to have, but that transformation is

[2019-07-10 22:16] limzykenneth commented on #3875
Yes, for the cases that was using `.bind(this)` arrow functions definitely is the way to go. From my quick glance, there isn't much instances of what I think may cause problems which is using arrow functions for prototype members, ie. `p5.prototype.myMethod = () => { ... }`, but there are at least a few. For me I think even if the prototype member itself isn't using `this` in the function body, I

[2019-07-10 22:19] limzykenneth commented on #3875
Actually does our current setup for babel converts arrow functions into regular functions? @outofambit

[2019-07-10 22:28] limzykenneth commented on #3877
I kinda feel the opposite. JS, even after ES6, is still very quirky and as you mentioned `const` in this case doesn't make the variable immutable but instead just make sure the variable cannot be reassigned. It is something that I thought could have been better named at least. However, this prevention of reassignment is actually quite useful development wise to prevent accidental reusing of the sa

[2019-07-10 22:29] stalgiag commented on #3875
My personal opinion is that all prototype members should use the old style `p5.prototype.myMethod = function( ) { }`. This helps clarify the status of the context and it also would add some consistency of style. Currently [there are locations](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L165) where arrow functions are used for prototype members and then regular anony

[2019-07-10 22:49] stalgiag commented on #3877
That is interesting. I guess I take `const` as a suggestion about how to think about the variable. But I guess these reductive conceptual tools are not great to lean on. The protection against reassignment does seem helpful, and definitely more reliable than an implied protection against mutability through the contributor's association with the word constant.

Either way I think some consistency s

[2019-07-10 23:54] outofambit commented on #3875
@limzykenneth yes, it does! it most likely converts them into the `bind` version

@stalgiag @limzykenneth how wold you feel about something like this for all methods? i don't think we use the unbound `this` functionality anywhere so we could standardize on something like this.

[code]

the nice thing about the above form is that we don't `bind` some functions and not others. i guess part of why i'

[2019-07-11 01:30] hsab commented on #3878
Is this referring to 0.9 in particular? Because I remember updating those for the #3874

[2019-07-11 01:43] hsab commented on #3877
My justification for using `const`, had to do particularly with reassignment in line with the [description of its capabilities](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const) rather than immutability. In the examples you mentioned, my thinking process was "we shouldn't reassign `verts` but we should be able to append to it, etc. Same applies to `props`. Althoug

[2019-07-11 01:55] hsab commented on #3875
I'm slightly tilted towards @stalgiag  and @limzykenneth proposed use of `function() {}` for prototypes.

@outofambit was wondering how you see `p5.prototype.myMethod = () => {}` play out when `this` is in fact used, given that rebinding is not permitted with arrow functions. This came up with the example @stalgiag posted, comparing [L165](https://github.com/processing/p5.js/blob/master/src/webgl/

[2019-07-11 08:13] limzykenneth commented on #3875
@outofambit My opinion is inline with @stalgiag and @hsab in that for prototype members they should all use `function() {}` instead of arrow functions, even if they don't use `this` in the function body.

For functions that needs `.bind(this)` they definitely should be converted to arrow functions as that is the reason arrow functions are created in the first place. I don't we there are any instan

[2019-07-11 10:23] i3games opened #3880 "p5.dom createSelect() options cannot be set to disabled or selected"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

p5.dom

#### p5.js version

0.9.0

#### Which platform were you using when

[2019-07-11 14:41] shubymao commented on #3878
@stalgiag I would like to try and help later today. Does all the examples in utilities need to be updated?

[2019-07-11 15:29] stalgiag commented on #3878
Apologies! I was just looking at my local copy and the website when I posted this. I didn't realize that you were fixing the examples as well but that makes sense. Closing now!

[2019-07-11 15:29] #3878 closed

[2019-07-11 15:42] stalgiag commented on #3877
Cool that all makes sense @hsab. I especially like this way of describing its use

So I guess then the to-do would be to use `const` for all variables that don't need to be reassigned?

As for examples, I think we should follow the same use as in the source. The distinction between when to use `let` and when to use `const` may be very confusing for new coders, but this is unavoidable to a degree,

[2019-07-11 16:41] limzykenneth commented on #3877
For me this is a rather tricky thing to balance, on the one hand there's the use `const` always and switch to `let` when reassignment is necessary argument which I use myself; then there's the problem with introducing three types of keywords for variable creation to people new to coding (`var` often still needs to be taught as a lot of materials online still use it).

[2019-07-11 16:43] limzykenneth commented on #3880
Does this resolution of #3830 solve this issue?

[2019-07-11 18:38] outofambit commented on #3875
@hsab oo thats a good example, thanks for sharing that! that could be tricky to refactor.

@limzykenneth that works for me! sounds like we have a consensus :)

[2019-07-11 19:19] lmccart commented on #3877
For the codebase, I favor the approach @limzykenneth mentioned "use `const` always and switch to `let` when reassignment is necessary". I think this is most in line with native ES6 functionality, even if the naming `const` makes it a little confusing. For the examples, I don't have a strong opinion. I see the argument for both ways. I guess I'd lean slightly think leaving mutable objects as `let`

[2019-07-11 20:55] mraposka opened #3882 "How can i get each face of a loaded object (.obj file)"
For example i want to change color of each faces of a cube that i loaded as a .obj file. How can i do that?

[2019-07-11 21:07] hsab commented on #3877
It seems like the consensus is in favor of using `let` only when reassignment is needed and `const` as the default. I just wanted to point out, again, that since lebab uses the same philosophy, we don't really need to change the codebase as it already takes assignment into consideration.

So perhaps this discussion should be more focused on the usage pertaining to examples?

For the ones that swit

[2019-07-11 22:12] hsab opened #3883 "Failure to construct p5 in instance mode when using custom bundles (combineModules)"
When creating a custom bundle using `combineModules`, p5 fails to instantiate with the error:
**`p5 is not a constructor`**

#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Build system

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: https://github.com/processing/p5.js/comm

[2019-07-12 10:04] derrgis opened #3885 "loadfont : CORS request does not use http"
#### Nature of issue?
- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Typography

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:
- p5.js version: 0.8.0 April 08, 2019
- Web browser and version: FIREFOX 68.0 (64 bits)
- Operating System: OSX.11.6

- Steps to reproduce this:
function preload() {
   font = loadFont('Co

[2019-07-12 12:18] i3games commented on #3880
I tried with the example included in master, `option()` still doesn't return anything.

[code]

_undefined_

[2019-07-12 15:38] lmccart commented on #3885
@derrgis this should work, but you need to be running a local server to see it in action. here are [instructions for running a local server](https://github.com/processing/p5.js/wiki/Local-server). alternatively, you could use the [p5.js web editor](https://editor.p5js.org) and there's no need to run a server of your own.

[2019-07-12 15:46] lmccart commented on #3882
@mraposka if you want to color or texture individual faces of an object, you can write a shader to do that and use the [loadShader()](https://p5js.org/reference/#/p5/loadShader) and [shader()](https://p5js.org/reference/#/p5/shader) methods to apply it. For more help with this, you can post on the [forum](https://discourse.processing.org).

[2019-07-12 15:46] #3882 closed

[2019-07-12 15:46] #3885 closed

[2019-07-12 16:00] derrgis commented on #3885
@lmccart  Great ! thx for your help. I going to have a look to that :)

[2019-07-12 22:27] bpaltezo opened #3886 "getUserMedia is not implemented in this browser at createCapture() on Chrome"
When i open the program as a local file there is no error. I only get the error when i run my program on a local server.

[2019-07-13 09:57] limzykenneth commented on #3886
Hi @bpaltezo, can you share a simple sample code that demonstrate this problem?

[2019-07-13 20:03] ashish1729 opened #3888 "add reference for drawingContext in the p5 reference page"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible)
need enhancement in reference page for p5.js
#### Which platform were you

[2019-07-13 23:10] nkleemann opened #3889 "Chrome WebAudio BiquadFilter exponentialRampToValue overflow"
## Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Sound

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.sound.min.js v0.3.11 2019-03-14
- Web browser and version: Chrome 74.0.3729.13
- Operating System: MacOSX
- Steps to reproduce this:

1. Open Chrome
2. Visit [p5.Filter Re

[2019-07-13 23:27] nkleemann commented on #3889
I guess posting this issue somehow released some blockages and I found the culprit..

The problem lies in the example code itself in the lines:

[code]

When mouseX is too high the biquad filter complains.
It works but it produces a whole lot of warning logs in the background.

You may want to edit the example code to only check for hovering above the defined box

[2019-07-13 23:27] #3889 closed

[2019-07-15 00:17] hsab commented on #3883
@outofambit any idea why this happens? I assume there are steps in the regular build process that are not included in combineModules. Is this a correct assumption?

[2019-07-15 20:26] stalgiag opened #3892 "webgl/loadSTL manual test is broken in Chrome on Window"
Currently in 'master' the manual test is broken in Chrome 75.0.3770.100 with Windows 10. It works fine in Firefox. The bug seems to occur with both the binary and ascii models. I have tried testing them separately both have the same error.

The error message is:
`GL ERROR :GL_INVALID_OPERATION : glDrawElements: attempt to access out of range vertices in attribute 2`

Which usually means that the b

[2019-07-15 20:51] aferriss commented on #3892
@stalgiag @sanketsingh24 I'm 99% certain that the problem comes from the uv buffer not being filled. We just need to fill it up with dummy data as in that comment linked above.

[2019-07-15 22:49] lmccart commented on #3877
Ok it sounds like we're pretty agreed on keeping things as is for the codebase. Regarding the examples, I wonder if we should deploy as is for now and listen for feedback. I'd be curious to hear if there are any other opinions from people teaching with ES6 @brysonian @saberkhaniscool @shiffman

[2019-07-15 22:49] limzykenneth commented on #3883
@hsab It may be the browserify step not exposing a `p5` global on the combine module step

[2019-07-15 23:07] stalgiag opened #3893 "Formalize rules for organizing repository and add bots to help"
This is an issue to track and propose formal rules for the management of issues. Currently it can be a bit difficult for the maintainers to prioritize the issues, to know when and why an issue is stale, to triage issues, and guide new contributors through the contribution process. I think that some of this might be made easier through a formalized set of rules and some automated oversight of said

[2019-07-16 03:05] brysonian commented on #3877
I teach similar to what @limzykenneth said, that `const` should be used by default unless the value needs to change. This then includes arrays and objects. I only mention `var` in passing, that it is an older syntax that shouldn't be used, so if people encounter code samples that use it they recognize it. Of course `var` and `let` are not the same, but there aren't good reasons to use `var` anymor

[2019-07-16 07:14] sanketsingh24 opened #3894 "New Feature: spotLight()"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### New feature details:

As a part of the Summer of Code, I will be implementing `spotLight()` along with @aferriss in  `src/webgl/light.js`. The function will be-
`spotLight(color, position, direction, angle, concentration)`.

##### Problems-

1. The arguments `angle` and `concentration` doe

[2019-07-16 09:34] limzykenneth commented on #3877
Is it possible to teach the concept of assignment/reassignment at the very beginner stage instead of making it seems like constants? This is what I'm personally unsure of since I've never tried teaching this concept from the beginning especially regarding how to introduce this concept of assignment/mutability/value & reference/etc. without overwelming art students (in my context) with a bunch of c

[2019-07-16 14:18] #3892 closed

[2019-07-16 21:47] ffd8 commented on #1553
Can anyone provide some insight for how the above code can be used? I don't quite understand what should be fed into the `canvas` and `vWorld` parameters. [Here's an example](https://editor.p5js.org/ffd8/sketches/xdwGC24Ek) of something I'd be interested to extract screenX/Y/Z coords from. Also wonder if this works both with/without WEBGL mode?

[2019-07-16 22:47] shiffman commented on #3877
For my own coding these days as well as contexts like intermediate JavaScript courses like those that involve node.js and other JS libraries I use exactly this principle:

However, for contexts where I am with younger (K-12) audiences or total beginners, I only use `let` and ignore the existence of `const` or bring it up towards the end of a foundational curriculum. I have found that multiple ways

[2019-07-17 02:04] brysonian opened #3897 "p5js Reference should include entries for JavaScript basics"
The reference page on p5js.org seems to assume a basic knowledge of javascript because there aren't pages for things variables and functions. I think it would be hugely helpful to at the very least link to the MDN pages.

I imagine a number of students get lost not knowing where to look when they do get confused about functions, variables, etc.

For context, the processing reference includes pages

[2019-07-17 02:04] brysonian commented on #3877
@limzykenneth I'm always teaching in an arts context, normally college and grad level and teach both `const` and `let` but without CS terminology like mutability and reference. So for example when discussing arrays, I generally use the metaphor of a day-of-the-week pill box. So then we might talk about something like when you declare a `const things = []` you are making a new array with the name "

[2019-07-17 09:00] ProjectGrantwood commented on #3897
I'm not sure the site needs a whole new set of new reference pages--mostly because there is so much going on in modern javascript, every new reference could be a potential rabbit hole.

However, a one-page reference that differentiates what is the p5js library keywords/syntax from what is pure javascript would be great--with the appropriate links to MDN reference pages, of course. This would be ul

[2019-07-17 12:16] saberkhaniscool commented on #3877
I was still using `var` this past year with middle and high schoolers. I have been reading up on `let` and `const` and planning to make the switch for the coming semester. This from @shiffman makes sense to me

[2019-07-17 13:07] johncbowers opened #3898 "Bug in applyMatrix"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-17 14:45] johncbowers commented on #3898
It appears that sending the transpose of the desired matrix has the same behavior as in Processing 3 at least for this example it seems to fix it. I'll play around with it more when I can and add additional details here.

[2019-07-17 14:49] johncbowers commented on #3898
I have confirmed that in the larger code base I am migrating from processing transposing each call to applyMatrix _appears_ to produce correct looking output.

[2019-07-17 15:06] brysonian commented on #3897
That is true about processing, however pedagogically p5 and processing are taught in very much the same way. Most books and syllabi on learning p5 feature sections on functions and variables and iteration, and most learners are not experienced JS coders (or coders at all!) so the library/language distinction isn't a particularly useful one for their needs. In other words, we don't teach JS, then t

[2019-07-17 18:32] stalgiag commented on #3877
I agree and feel that exclusively using `let` with the examples seems the safest.

It seems to me that in order to make sense of the distinction between changing the value and reassigning, one must have an understanding of how different types relate to memory. `const` requires a learner to understand that changing some values reassigns the container, and changing others does not. It doesn't feel i

[2019-07-17 19:07] stalgiag commented on #3897
I like this. It doesn't have to show all of modern javascript but maybe a good rule of thumb could be that any vanilla javascript that is used in the library's reference examples could also have an explainer page in the reference? This could encompass `for`, `if`, `function`, `let` and a few others without requiring much added work on our side. Language choice for explaining would require some sig

[2019-07-17 19:57] brysonian commented on #3897
Working from the examples is perfect. There is also a good list of [JS statments on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements) which again i don't think we would need to cover, but gives an idea of what people might encounter / need.

[2019-07-18 02:18] figraham opened #3900 "Masks on p5.Graphics"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [X] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

I was working on a sketch and I realized that y

[2019-07-18 10:38] bohnacker commented on #1553
@ffd8: Here is my solution. It works with 2D and WEBGL mode. Both have its own difficulties:
In 2D I didn't find a way of getting the actual transformation matrix from the CanvasRenderingContext2D, so I've implemented some functions to track them (Help needed for shearX and shearY!).
In WEBGL mode the projection math is a bit more difficult. Thanks to @tcoppex it was already almost done. I had to

[2019-07-18 12:14] ffd8 commented on #1553
@bohnacker Really nice solution and easy to implement, many thanks!

[2019-07-18 12:52] johncbowers commented on #3898
Another quick update, I've been playing around with it and from my testing to get the same output as Processing 3, I need to not only transpose but multiply my applied matrix by -1. So

[code]

in Processing 3 has the same effect as

[code]

in p5.js.

[2019-07-18 15:21] lmccart commented on #3877
This makes sense to me. We use `let` exclusively in examples as the lowest barrier for beginners learning JS. While we're not teaching the concept of `const`, this usage to me still feels more clear than using `const` only for constants.

[2019-07-19 08:32] ambikajo commented on #1043
Hello, I have figured out a hack. Please see below, its running two camera inputs (although currently on of them is the default laptop camera)

[code]

[2019-07-19 09:11] ghsuvr123 opened #3901 "rectMode(CORNERS) and scale function create circle instead of a rectangle"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-19 13:27] Sblob1 commented on #2072
Hi. I get this issue in android when lots of shapes are having same texture added to them. I get the following error: [.WebGL-0xe73dd700]RENDER WARNING: texture bound to texture unit 0 is not renderable. It maybe non-power-of-2 and have incompatible texture filtering.
But only on android, as the same code works fine and with no errors on desktop.

[2019-07-19 17:29] lmccart commented on #3901
`rectMode(CORNERS)` interprets the first two parameters of rect() as the location of one corner, and the third and fourth parameters as the location of the opposite corner.
So what you're seeing is the browser trying to interpret the request to draw a rectangle that has all four corners at (3,3). This results in a point, that gets scaled up into a circle with `scale(50)`. If you are trying to spec

[2019-07-19 22:39] lmccart commented on #3886
we're not able to reproduce this, please reopen if you can provide some sample code. thanks!

[2019-07-19 22:39] #3886 closed

[2019-07-19 22:42] lmccart commented on #3897
I like this idea. I think the easiest way to do this with the current reference building setup is to add a file into the `src/core` folder that contains only commented reference entries, no code.

[2019-07-19 22:56] lmccart commented on #3893
@stalgiag I think these are a great starting point.
* We may want more than 30 days for some of these, I'm thinking of the assignee one specifically.
* Maybe: If an issue with an assignee has no activity for 30 days, it asks the assignee if they'd still like to work on it. If no response, assignee is removed.
* This could be a great topic to discuss at the contributor's conference.
* Whenever we d

[2019-07-20 16:27] Niels-NTG opened #3903 "frameRate() returns value greater than 0 if frame rate is set to 0"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-21 00:42] outofambit commented on #3893
@stalgiag I think this is great! Some thoughts on these individual proposals. Happy to discuss more!

I LOVE this one. I find labels super helpful in finding and exploring issues.

This would be nice, I don't really know how to enforce that though.

I worry about bugs that are valid and documented, but haven't been reproduced due to people's availability. One thing we do in desktop/desktop is use

[2019-07-21 00:55] outofambit commented on #3900
This looks pretty interesting to me @figraham. Thanks for writing this up (and having a demo!). I'm not aware of any reasons this hasn't been done already but I'll let others (esp. @lmccart and @stalgiag) chime in if there is extra context around this.

[2019-07-21 01:04] outofambit commented on #3897
i love this idea! as a starting point for discussion i would suggest the following list. (I culled all of them from the [JS statements on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements) linke @brysonian shared above.)

* `let`
* `const`
* `if...else`
* `function`
* `return`
* `class`
* `do...while`
* `for`
* `for...in`
* `for...of`

there's probably some very use

[2019-07-21 01:15] outofambit commented on #3903
Hi @Niels-NTG thanks for filing this! I think the minimal fix here is to make sure `frameRate()` returns `0` once it's been set to `0`, so i'm going to mark this a bug.

_____

In the meantime, you should be able to keep track of this state outside of p5. Something like:

[code]

[2019-07-21 05:25] meiamsome commented on #3903
Ideally you would prefer `noLoop()` to `frameRate(0)` - but you would hit the problem discussed in #3242 in that case

[2019-07-21 08:49] limzykenneth commented on #3897
Since we are moving towards 1.0, we can maybe also look at removing the deprecated array functions like `append` and include `arr.push()` in the documentation instead.

[2019-07-21 08:54] Niels-NTG commented on #3903
That's exactly what I did. Thanks anyway.

[2019-07-21 11:08] ghsuvr123 commented on #3901
I think this is not a point. This is an ellipse. I tried to use ellipseMode and the shape changed.
I know this is an edge case but I expected to see a rectangle with sharp corners. Not a circle.
Anyway, when I take down the `scale(50)` or the `rectMode(CORNERS)` it works properly, so I think there is an issue here.

[2019-07-21 13:31] limzykenneth commented on #3770
@stalgiag I came across the specs [here] and it mentions exemptions for `localhost`. What caught my attention is the mentioning of `.localhost` namespace which can be treated as secure. I'm not sure if my reading is correct but when running a server on a Mac, I can access the server on the address `my-computers-name.local`, I wonder if that counts as being under a local connection and thus secure?

[2019-07-21 14:20] lmccart commented on #3901
@ghsuvr123 I'm not sure what output is expected for a square whose corners are all at the exact same place. Should it be nothing at all? It's just not possible to draw a square with no pixels inside, which is how we end up with a point.

[2019-07-21 16:22] Eoey1 opened #3906 "p5js for Mobile not working after iOS update"
Hey,

I had made a p5.js sketch that worked with mobile devices and in particular used the deviceShaken() function.  Recently I noticed it had stopped working on my iPhone and various other iPhone's that I asked people to test it on.  Many of the mobile examples on the p5.js website no longer work either.

Has anyone experienced any similar issues?

[2019-07-21 16:53] #3903 closed

[2019-07-21 16:56] lmccart commented on #3906
@Eoey1 apple has recently limited access to accelerometer in safari by default. You can turn it on by going to:  Settings > Safari > Privacy & Security > Motion & Orientation Access (toggle on)
[more info here](https://www.fastcompany.com/90302260/in-another-privacy-move-apple-will-limit-websites-access-to-your-iphones-motion-data)

[2019-07-21 16:56] #3906 closed

[2019-07-21 17:14] Mayank-Mishra0110011 commented on #3880
Use `selected(value)` to set a value as selected. So something like `selectPlayer1.selected('b')` would set option 'b' as default.

Use `attribute(attr, value)` to set an attribute. In DOM the 'disabled' attribute takes a boolean value which you can set using the attribute function as `selectPlayer1.attribute('disabled', 'true')`.

`option(name, value)` is used to modify(add/remove) an option. It

[2019-07-21 20:45] figraham commented on #3900
Sweet! The two things I haven't checked out is a webgl p5.Graphics and at other pixel densities. So I'll try out those two scenarios sometime this week to see if more work would be necessary to make this solution work for everything.

[2019-07-21 22:29] i3games commented on #3880
Thanks for the info. Selected works as you described, disabled still does not work.

The problem with disabled is how to disable/enable an option. Setting it as you suggest disables the whole select element ('disabled' and 'true' as attribute values make no difference, both evaluate to true).

`selected` confuses me a bit, because in HTML one would set it as attribute on the <option> element, not

[2019-07-21 23:16] epignosis567 opened #3907 "P5 won't play sound when iPhone in silent mode"
#### Nature of issue?

- x Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- x Mobile/Ta

[2019-07-22 03:31] shubymao opened #3908 "Other 2D shape possibilities"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-22 12:45] Eoey1 commented on #3906
Hey!

Thanks for this.  Turning Motion & Orientation Access on helps getting some of the examples working on the p5 website, however my app which uses deviceShaken() is still not working.

[2019-07-22 18:59] setphen commented on #3850
@stalgiag I think this has something to do with the preservation of the drawing buffer. I am trying to draw to the cavas without clearing it. This leads to different behaviors in different browsers:

<details>
<summary> Flashing image warning, click to view screenshots </summary>

Safari:

![Kapture 2019-07-22 at 14 54 59](https://user-images.githubusercontent.com/3891632/61657486-070c6900-ac91-11

[2019-07-22 22:51] stalgiag commented on #3898
I am having a bit of trouble following what is going on here, especially the two follow up comments. Could you post a very simple working sketch (even if it needs to use Processing 3) and a very simple broken sketch? Thank you!

[2019-07-22 23:44] outofambit commented on #3883
@hsab @limzykenneth yep that's my theory too. i think there also might be an error that happens if the final export of p5 from the bundle doesn't use the old school way of exporting. (i think it confuses browserify somehow?)

i believe that's why `app.js` uses this:

https://github.com/processing/p5.js/blob/5df69d9ebdd58eedff35deb472c0d0b13d1a7051/src/app.js#L87

ah yes, that's what @hsab figured

[2019-07-23 16:33] stalgiag commented on #3179
I think that with the console message added [in this commit](https://github.com/processing/p5.js/commit/ef2a751cfbe3704730e9cc9ce375c7855e69e765), with the slightly updated error message provided by #3910 via @CubeOfCheese's suggestion, and with existing documentation there is enough clarity about the loaded font requirement for WebGL text. It will not make sense to add a default font to the libra

[2019-07-23 16:33] #3179 closed

[2019-07-24 13:45] johncbowers commented on #3898
@stalgiag

Here you go.

Working Processing 3 Code. In it, two boxes are drawn, one blue, one teal, but the blue box is inside the teal box so you do not see it. This is correct behavior, since mathematically the matrix I applied should align the teal box's coordinate frame's z-direction with the blue box's y-direction. You can tell this is the case because the third column of the matrix I apply b

[2019-07-25 15:08] outofambit commented on #2503
closing this since we have a discussion going in #3425 as well.

[2019-07-25 15:08] #2503 closed

[2019-07-25 19:29] NeilTheSeal opened #3914 "Camera zoom with orbitControl() in WebGL"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-25 23:44] grege2 commented on #2865
@lmccart  Hi, I'd like to regain access to edit the "JavaScript basics" Wiki. I'm helping someone else learn JavaScript and I re-read it in the last few days, and there are some small improvements and corrections I'd like to make. Thanks.

[2019-07-26 05:39] bomoko commented on #3282
I've added FES to the random() in the PR above, which addresses the immediate need to notify the dev.

My own thinking on this is that random's functionality is already quite broad - I'd vote/prefer more specific random functions (a whole family of 'em) for any proposed extensions.

[2019-07-26 14:59] osresearch opened #3916 "p5.Renderer is missing methods"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-26 15:42] bishopZ opened #3917 "You must first call texture() before using vertex() with image based u and v coordinates."
This sketch is still getting the error. It prevents me from doing anything with 3D.

https://editor.p5js.org/bishopz/sketches/8LJDNbAQt

[code]

[2019-07-26 21:00] lmccart commented on #3917
@bishopZ this sketch is linking to an old version of the library (0.7.3). if you update to the latest (0.9.0) the error goes away.
<img width="1111" alt="Screen Shot 2019-07-26 at 1 59 44 PM" src="https://user-images.githubusercontent.com/191056/61981148-aa20f380-afad-11e9-9723-951f679439fc.png">

[2019-07-27 07:43] r00ster91 opened #3918 "2 deprecation warnings in the console"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-07-27 13:30] limzykenneth commented on #3918
These are just warnings and should not cause any problem regarding its usage. Firefox has been showing this warning for a long time now and most believed the features mentioned won't be removed otherwise Firefox will not be unable to support WebVR. See [here](https://www.fxsitecompat.dev/en-CA/docs/2018/various-device-sensor-apis-are-now-deprecated/)

In any case, this is not something we can fix

[2019-07-27 13:30] #3918 closed

[2019-07-27 16:54] lmccart commented on #3869
thanks for looking into this! as @limzykenneth and @outofambit mention, this is the behavior of the underlying HTML canvas, so there's not much we can do on the p5 end. any workarounds you find are most welcome, but I will close this issue for now for organizational purposes.

[2019-07-27 16:54] #3869 closed

[2019-07-27 17:09] aferriss opened #3919 "Can't call smooth on createGraphics objects when using webGL renderer."
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [X] Mobil

[2019-07-27 17:23] #3901 closed

[2019-07-27 17:25] lmccart commented on #3863
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2019-07-27 17:25] #3863 closed

[2019-07-27 17:39] #2274 closed

[2019-07-27 17:40] #3868 closed

[2019-07-27 17:40] lmccart commented on #3868
I think this function is beyond the scope of the p5.js api as @stalgiag mentions, and already included in some form in p5.play, but it could also be a great starting point for an addon library of other similar helper functions. see the docs here for how to create an addon: https://github.com/processing/p5.js/blob/master/developer_docs/creating_libraries.md

[2019-07-27 17:43] lmccart commented on #3770
sounds like this is not a bug, but is the correct behavior of android chrome at this point. we may want to think about a tutorial that talks generally about browser security and HTTPS and links to resources that give specifics for different devices/browsers.

[2019-07-27 17:43] #3770 closed

[2019-07-28 14:41] ricardomatias commented on #995
In the following example there's the case I'd like to argue. This behavior is quite obscure, where `P5Graphics` doesn't have a `copy` method which allows copying an external pixel buffer onto itself. My first thought was, what if I want to copy multiple times into different `P5Graphics`?

In my opinion, `copy` should be part of the `P5Graphics` class.

[code]

[2019-07-28 15:09] #3917 closed

[2019-07-28 22:15] milkyklim commented on #1444
This one should be an _open_ issue, @lmccart.

My sketch doesn't work in Firefox and works in Safari. It loads SVG same way as @Timothy-Tolley described above.

Any work-arounds besides converting image to different format?

[2019-07-28 22:18] GeraGarza commented on #3059
How was this problem solved? I can't find the forum discussion over this. Thank you!

[2019-07-28 22:37] GeraGarza commented on #3059
Solution for me:
// where you create the canvas, pass the value to a function you create to receive the value
  private createCanvas() {
    this.p5 = new p5(this.sketch);
    this.p5.passValue(this.value);
  }

// in sketch{
  p.passValue = (x) => {
      value = x;
 }
..

[2019-07-29 18:23] milkyklim commented on #1444
@Timothy-Tolley I understand that it was a while ago but can you check if your svg had `width` and `height` attributes? Those are required for Firefox to process images properly.

Ref: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/image#Specific_attributes

Overall, seems like Firefox problem unrelated to p5js.

[2019-07-29 20:09] meiamsome commented on #3898
It looks to me actually like this code: https://github.com/processing/p5.js/blob/ca92fc457ff836e293916df06964e85f83182368/src/webgl/p5.RendererGL.js#L807 is doing `BA` where B is the input matrix in to `applyMatrix` and A is the current transform matrix. It should, however, be doing `AB` which would be given by:
[code]

Indeed the other clause has been written with the matrix components transposed

[2019-07-29 23:51] stalgiag commented on #3898
Sorry for the delay! @meiamsome thank you so much for doing the research. Would you be willing to fix it? If not let me know and I can work on it next week.

[2019-07-29 23:55] stalgiag commented on #3919
Ah yes I forgot about graphics objects and smooth when I was working on the having the attributes exist before creating the context. I will take care of this next week. Thank you for finding this!

[2019-07-30 07:21] figraham commented on #3900
Unfortunately I've encountered some problems when testing this with WEBGL graphics. The `drawingContext` location changes in different modes and while I've almost got it working it appears that the copy method for p5.Graphics doesn't work in WEBGL and now I'm working on that.

I'll dedicate a bit more time to it but I think it's likely that even if I do come up with a solution it might not be very

[2019-07-30 15:50] stalgiag commented on #3900
Hi @figraham if you want to you can break part of that problem out into its own issue and I can work on it next week. The WebGL+p5.Graphics stuff sounds troubling and I can happily take a crack at it. It is usually better to avoid fixing or adding more than one thing in a pull request anyways. Just let me know!

[2019-07-30 19:57] arunprasaad2711 opened #3924 "Slider outside canvas."
#### Nature of issue?
- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Utilities

#### Which platform were you using when you encountered this?
- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

The silder element is outside the canvas.

- p5.js version: p5.js 0.9.0
- Web browser and version: Google Chrome 75.0

[2019-07-31 02:55] lmccart commented on #3924
In p5, the entire window area is considered the sketch. So the `position(10, 10)` line will position the slider at (10, 10) relative to the upper left of the window, regardless of canvas position. If you'd like it to overlap with the canvas, you could position the canvas as well. Something like this:
[code]

[2019-07-31 12:52] kenny1983 commented on #3441
Hey @vanpana! Did you manage to get anywhere with this? I'm also looking for a way to extend a p5 instance using ES6 syntax, but haven't gotten very far after an hour of searching :/ Any guidance that you could provide would be **hugely** appreciated! ;-)

[2019-07-31 13:15] kenny1983 commented on #2978
That's my opinion too @meiamsome, and I've been looking for a way to implement such beautiful (and modern) code! Is this something that's actually been suggested before, or should I do the honours?

[2019-07-31 15:56] kenny1983 opened #3925 "Feature Request: Ability to extend p5 instance with ES6 syntax"
#### Nature of issue?
- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request
#### Most appropriate sub-area of p5.js?
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
#### Details about the bug:
- p5.js version: 0.5.4 (can't update due to [this

[2019-07-31 16:17] areljannC opened #3926 "GatsbyJS build failed: "window is not defined""
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-07-31 16:55] arunprasaad2711 commented on #3924
I see. Didn't know that! Thank you. I'll keep that in mind!

[2019-07-31 16:55] #3924 closed

[2019-08-01 06:47] kenny1983 commented on #3925
Never mind guys; apparently this is totally doable even in 0.5.4. I just finally got a response to my Discourse post and the suggestions within work great!

[2019-08-01 06:47] #3925 closed

[2019-08-01 10:33] mihoci10 opened #3929 "Negative rect radius error"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-02 17:50] epignosis567 commented on #3907
Still wondering about this...

[2019-08-03 18:17] outofambit commented on #3926
hi @areljannC thanks for reaching out about this issue! i think [this solution](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) might be more appropriate for your setup. maybe give that a try?

would you be willing to share your project for this? this might also be able to be solved with a gatsby plugin for p5, but i've never used the two together to know how peopl

[2019-08-03 19:10] outofambit commented on #3441
i think @brysonian might have a hack for something like this...

[2019-08-03 23:08] brysonian commented on #3441
Yeah i've had luck with this. I'll pull out an example tonight, but in the meantime you can look at this: https://github.com/uclaconditional/identity-sketch/blob/dev/src/Sketch.js (which also has a decent p5 parcel setup)

Two key things, 1) you need @babel/plugin-syntax-class-properties and @babel/plugin-proposal-class-properties if you want cleaner syntax, and 2) you can pass a no-op to super()

[2019-08-04 15:42] brysonian commented on #3441
Ok, here is a repo that is a more barebones example https://github.com/uclaconditional/p5-class-parcel-example

[2019-08-04 19:09] ricardocanada opened #3931 "Need a filter(NORMAL); option"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-08-04 22:02] figraham opened #3932 "copy() broken on p5.Graphics for WebGL"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-04 23:17] outofambit commented on #3929
hi @mihoci10 thanks for filing this. can you provide a code snippet and screenshot to illustrate this? i'm not able to follow the scenario.

[2019-08-04 23:34] outofambit commented on #3931
hi @ricardocanada thanks for writing this up. to make sure i understand,

does this mean you are reusing a `p5.Image` and giving it a new source image? and you'd like to have a way to unset the filter? i think that might be achieved by using an `if` statement to not call `.filter` on that image afterwards?

if you have a code snippet to share that would be very helpful. thanks!

[2019-08-05 01:18] ricardocanada commented on #3931
You could look at the actual sketch on OpenProcessing and make a fork to test it.
https://www.openprocessing.org/sketch/742391

I was playing with it for a while tonight, and my request may be pointless, because even one filter on a webcam capture requires so much processing that if I try to put different filters on four different video windows, the program becomes quite choppy and erratic. But le

[2019-08-05 02:23] lmccart commented on #3907
I think that these two posts may address the behavior you're noticing. If this is your scenario, it looks like there's not much that can be done from the p5 end, because this is native iphone / safari/ web audio behavior. There are a few hackier workarounds mentioned in the posts:
https://stackoverflow.com/questions/21122418/ios-webaudio-only-works-on-headphones/46839941#46839941
https://stackover

[2019-08-05 12:11] mihoci10 commented on #3929
Yeah sure, here is a snippet of the code where I am displaying a tooltip that follows the mouse around. Obviously I don't want it to go over the canvas sides, so I check for that and react accordingly with flipping the tooltip.

![Snippet](https://user-images.githubusercontent.com/30954380/62463460-6044c400-b78a-11e9-8319-ddba8cf073da.PNG)

After I use this code with the radius modifier I get the

[2019-08-05 16:31] stalgiag commented on #3929
@mihoci10 I guess this comes down to whether this is a good moment for someone to learn to use [abs()](https://p5js.org/reference/#/p5/abs) on their own. I'm not sure on that point, but I do think that if we don't want to accept negative numbers for the corner rounding, it should be specified in the documentation.

[2019-08-05 16:38] mihoci10 commented on #3929
@stalgiag The issue is that hte radius is ALWAYS the number I screenshoted - being 5. the issue arises when the rect has been drawn in the reverse and that is what I am asking.

By saying rect drawn in reverse I think of a situation like this: rect(posX,posY, -10,-10,5) where the radius is clearly specified as 5 and I get the following error screenshoted above. On some old thread I have seen a men

[2019-08-05 16:57] stalgiag commented on #3932
Thank you for the very well written issue @figraham! Until recently I think that most of the WebGL graphics object functionality was pretty broken. The problem here (which likely exists in other places) is that the [drawing context for 2D rendering](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D) has a bunch of functions that [WebGLRenderingContext](https://developer.moz

[2019-08-05 18:15] figraham commented on #3932
Sounds good let me know if there's anything you need from me.

[2019-08-05 19:11] stalgiag commented on #3929
@mihoci10 thank you for the clarification. So I understand now that the problem is that both of these work:
`rect(0, 0, -10, -10)`
`rect(0, 0, 10, 10, 5)`
but this does not:
`rect(0, 0, -10, -10, 5)`

[2019-08-05 19:21] stalgiag commented on #3929
This is likely happening because of how the [logic for radii clipping](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L675) is evaluating the negative width/height.

[2019-08-05 20:28] lmccart commented on #2865
hi @grege2 sorry for the delay, you should have received an invitation that will give you edit access to the repos and the wiki. thanks!

[2019-08-05 20:29] lmccart commented on #3282
thanks @bomoko, I think #3915 sufficiently addresses this specific issue

[2019-08-05 20:29] #3282 closed

[2019-08-05 20:50] lmccart commented on #3441
this is great thanks @brysonian!

[2019-08-05 21:05] lmccart commented on #3931
this makes sense to me. once you've set a filter, you can change it, but you can't turn it off completely. it's basically a `noFilter()` option we're looking for. though I think `filter(NORMAL);` syntax feels most natural.

[2019-08-05 21:20] grege2 commented on #2865
Hi @lmccart thanks, no problem re delay.  Really enjoying my involvement with p5.js, I'm coding it with it several hours a day the last few months, on a large project of 4000 lines I'm collaborating with someone else on, not actively looking for bugs or doco/examples errors/typos although if only there were 48 hours in the day I could. Congrats on the 0.9.0 release, nothing broke for me in the upg

[2019-08-05 22:32] #3919 closed

[2019-08-06 02:44] limzykenneth commented on #1444
@milkyklim This was previously looked at in #2150, to take a link from [there](https://stackoverflow.com/questions/28690643/firefox-error-rendering-an-svg-image-to-html5-canvas-with-drawimage)

If it is the same FIrefox issue, can we close this issue for now?

[2019-08-06 04:41] mihoci10 commented on #3929
Yes, this is precisely what I mean. Is this something that can be fixed on your end or will I need to adjust my code to always draw 'positive' rects?

[2019-08-06 10:47] milkyklim commented on #1444
@limzykenneth haven't seen the issue you've mentioned but this is exactly the problem. Feel free to close this one!

[2019-08-06 16:17] #1444 closed

[2019-08-06 16:48] montoyamoraga commented on #645
@outofambit @lmccart  i was trying to figure out if this already happened? so exciting!
if so, can we close this issue?

[2019-08-06 17:49] outofambit commented on #645
@montoyamoraga it did! in https://github.com/processing/p5.js/pull/3922! closing this issue! 🎉

[2019-08-06 17:49] #645 closed

[2019-08-06 20:51] stalgiag commented on #3174
I am closing for organization purposes. I can't reproduce and this issue is rather stale.

Let me know if you can reproduce and I'll reopen the issue. Thank you!

[2019-08-06 20:51] #3174 closed

[2019-08-06 21:03] stalgiag commented on #3914
Thanks for opening an issue. This seems like a reasonable and simple request. I'll open a PR shortly.

[2019-08-06 22:24] NeilTheSeal commented on #3914
If this helps, I ended up solving the issue with this bit of code:

`cnv = createCanvas(pageWidth, pageHeight, WEBGL);
cnv.mouseWheel(zoom);

function zoom(event) {
    // zoom according to direction of mouseWheelDeltaY rather than value
    let sensitivityZoom = 0.05;
    let scaleFactor = cnv.height;
    if (event.deltaY > 0) {
        cnv._curCamera._orbit(0, 0, sensitivityZoom * scaleFactor);

[2019-08-07 01:09] stalgiag commented on #3850
Hi @setphen I can't test in Safari but I am getting the expected output from Firefox. No animated GIF but several frames in the above code looks like this:

![Screenshot (103)](https://user-images.githubusercontent.com/10382506/62587128-4af89400-b875-11e9-9f81-5b2fb30c5ccd.png)

[2019-08-07 04:20] #3929 closed

[2019-08-07 08:30] zerosimms commented on #3759
This would be super useful, I've spent 2 days trying to get around this but to no avail :(

[2019-08-07 19:29] stalgiag commented on #3759
What do we think the interface should be for this? A few very different approaches are:

1. Only expose `drawingContext.clearRect` as `clearRect(x, y, w, h)`
2. some kind of state in the vein of `erase`/`noErase` that sets the blend mode to `destination-out`, which would allow any shape to be used for clearing. [Here is an example.](https://editor.p5js.org/stalgiag/sketches/eCsygQ7-5)
3. Add a con

[2019-08-08 06:25] #3914 closed

[2019-08-08 07:49] zerosimms commented on #3759
Personally, I really like option one, it's what I was searching for when I was looking for the answer

[2019-08-08 08:46] limzykenneth commented on #3759
Option 1 seems to be most simple but I really like option 2 and the possibilities it provides. Option 3 could also potentially be an option as well, I'm just not sure between option 2 and 3 which will cause the least confusion.

[2019-08-08 14:35] outofambit commented on #3759
I would vote either option 2 or 3 since presumably we'd also want to be able to draw clear shapes that aren't rects. I think I have a preference for option 3, since that feels more in line with the current API. (I'm not remembering/finding other methods that affect how something is drawn outside of color/stroke/fill.)

Another option might be to add an optional argument for `stroke()` and `fill()`

[2019-08-08 17:25] stalgiag opened #3940 "Set perPixelLighting to true by default"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Should we set `perPixelLighting` to tru

[2019-08-08 17:30] aferriss commented on #3940
There likely is a performance hit, but imo is worth the trade off for better rendering. I think unless you're drawing tons and tons of highly tessellated pieces of geometry you won't notice the performance hit.

[2019-08-08 18:29] stalgiag commented on #3770
Just to follow up @limzykenneth I finally got around to testing the `my-computers-name.local` and I was unable to make it work on my end with Windows 10 + Android. It seems that I would need to make my computer network-discoverable and fiddle with the DNS settings. I am reporting this just to indicate that this might not be the easiest solution to suggest to users in documentation.

[2019-08-09 20:51] figraham commented on #3900
Closing this issue with the intention of putting this feature in a separate library that's designed for working with multiple p5.Graphics objects in a streamlined way.

[2019-08-09 20:52] #3900 closed

[2019-08-10 05:06] mbforbes opened #3941 "Documentation for `setAlpha()`"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-10 21:43] AndrasGardos commented on #3941
I want to do this! It's between 0 and 255 right?

[2019-08-10 21:53] AndrasGardos commented on #3941
@mbforbes, it depends on the color mode. For example, if you set `colorMode(HSB,100);` in the setup,  then 100 will be totally opaque.

[2019-08-11 02:30] arphen commented on #1906
I have the same problem about alpha of background(). Below is my code, I don't know what's wrong with it.
Can you give an example? Thanks!

[code]

[2019-08-11 16:29] aferriss commented on #3894
Closing because this is merged in https://github.com/processing/p5.js/pull/3913

[2019-08-11 16:30] #3894 closed

[2019-08-12 06:58] AndrasGardos commented on #3941
https://github.com/processing/p5.js/pull/3942

[2019-08-12 15:50] stalgiag commented on #3759
Hm I guess that my personal preference leans slightly towards option 2. I like being able to erase with many shapes and the use of `blendMode()` somehow feels more advanced than I'd like this feature to be. I can imagine very new users being interested in this feature and `blendMode()` usage feels a bit counter-intuitive for first learning. The idea with the `xxxx`/`noXxxx` format is that it resem

[2019-08-12 22:57] mbforbes commented on #3941
Thank you for jumping on this!! So sorry for my slow reply. Adding to the other setter methods as well is a great idea. Awesome you already have a PR in review. Thank you @AndrasGardos !

[2019-08-13 01:52] lmccart commented on #3941
fixed with https://github.com/processing/p5.js/pull/3942

[2019-08-13 01:52] #3941 closed

[2019-08-13 01:54] lmccart commented on #3759
I think option two sounds conceptually easier to understand, and really fun!

[2019-08-13 02:04] lucifer1004 commented on #3759
I am also in favor of option 2.

[2019-08-13 15:42] epignosis567 commented on #3907
Hi. Please don’t close this thread. Those linked threads do not address the issue. I feel like no one actually read through my original post here...

[2019-08-13 15:45] lmccart commented on #3907
sorry @epignosis567 I thought it was resolved because we hadn't heard back from you. as far as I can tell, the posts describe the issue you're talking about and explain that it is an issue of the underlying web audio framework. can you help us out by explaining how your issue differs. I did read through the whole post you made but still can't quite understand. thank you.

[2019-08-13 16:25] epignosis567 commented on #3907
OK thank you, I’m not at a computer right now but I will post back ASAP with a more detailed explanation.

[2019-08-13 21:15] outofambit commented on #3822
fixed by #3922 🎉

[2019-08-13 21:15] #3822 closed

[2019-08-14 13:01] stalgiag commented on #3759
Okay thanks for the input everyone! I'll pursue option 2 and we can see how it feels in a feature branch. If the end result isn't ideal we can always switch to one of the other approaches.

[2019-08-14 13:09] stalgiag commented on #3908
Hi @shubymao sorry for the lack of response. Thank you for your interest in contributing! My personal feeling is that with shapes such as star and polygon we begin to get into uncertain territory. The amount of customization that could be given to a star alone is astronomical (i am sorry). I think that is probably why the current API lets users make more complex, custom shapes with `beginShape` an

[2019-08-14 13:45] #3908 closed

[2019-08-14 14:01] limzykenneth commented on #1906
Hi @arphen, are you trying to draw an image as the background? If so you should use `image()` to draw the loaded image directly onto the canvas instead of using `background`, as that accepts only color values.

[2019-08-14 14:01] #1906 closed

[2019-08-15 03:06] aatishb opened #3943 "Unexpected behavior when circle() is passed a string for size"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-15 13:35] limzykenneth commented on #3943
I'll have a look at this today.

[2019-08-15 18:26] sanketsingh24 opened #3945 "New Feature: noLights()"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### New feature details:
As a part of the Summer of Code, I will be implementing `noLights`() along with @aferriss in `src/webgl/light.js`. The function will be-
`noLights()`.

This function will remove all the lights from the sketch for the subsequent buffers. It will affect all the methods c

[2019-08-15 21:39] limzykenneth commented on #3943
So as suspected, it is something to do with passing string to the function. When using `+` with a string it will always concatenante the string with what comes after, regardless of type, which often gives super weird result and in this case the offending line is [here](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L546).

Before describing a fix, do we see this as a bug

[2019-08-16 01:18] stalgiag commented on #3945
I like `noLights()`. It fits the `fill` and `noFill`, etc style.

Thank you for the work!

[2019-08-16 01:20] stalgiag commented on #3943
In my opinion this is an error in the library. I don't think these basic shapes are the best teaching moments for type specific issues.

[2019-08-16 05:31] singhvisha commented on #3897
hi, I am beginner.
Can I work on this issue?

[2019-08-16 05:38] singhvisha commented on #3897
hi,I am beginner.Can I work on this issue?

[2019-08-16 14:31] stalgiag commented on #3897
Hello @singhvisha yes definitely! Are you able to [generate documentation ](https://github.com/processing/p5.js/blob/master/developer_docs/inline_documentation.md)in your local development setup? If so, try doing what @lmccart suggests and add a file to `src/core` with only commented reference entries based on the list posted by @outofambit and @limzykenneth. Try to use plain language to describe

[2019-08-16 14:32] stalgiag commented on #3897
Also if it becomes overwhelming for whatever reason and you'd like to be unassigned just feel free to @ me or unassign yourself. No pressure!

[2019-08-16 15:00] shubymao commented on #3897
Can I also try to work on this or is this a one guy task?

[2019-08-16 15:22] aatishb commented on #3943
I think I agree we should consider this a library error, for example if you do `circle('200', '200', 50)` it works fine. (The best case might be issuing a friendly warning that a function is getting a type it isn't expecting, but for now accepting the string input seems to me a good step.)

[2019-08-16 15:23] lmccart commented on #3897
i think more than one is great! work-in-progress pull requests could be one way to build on each other's work on this

[2019-08-17 06:45] HenrySkup opened #3948 "Create build/ folder in Github"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) : Release Options

#### Which platform were you using when you encountered

[2019-08-17 19:53] b0nb0n opened #3949 "weird full circle in arc"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-08-18 06:45] coreygo opened #3950 "combineModules (custom build) output is not minified"
#### Nature of issue?

- [X] Found a bug
- [X] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [X] Other (build system)

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.9.0 (2f85dda)
- Web browser and version: N/A
- Operating System: MacOS 10.14.6
- Steps to reproduce this:
`npm run grun

[2019-08-18 09:50] arphen commented on #1906
I can use ``image()`` to draw an image as the background. However, it doesn't support transparency effect.

[2019-08-18 11:17] limzykenneth commented on #1906
@arphen You can either directly load in a png image with transparency already baked in or you can go through the `pixels[]` array of the image and set the individual pixels to have the alpha value you wanted. If you still want an easier way to do this, do open a new issue.

[2019-08-18 18:37] coreygo commented on #3950
Tagging #522 and #3425 as related issues.

[2019-08-19 14:43] coreygo commented on #3950
I should note that my build can't be merged as-is right now, it breaks things overall… was testing a quick workaround. Will update with something which can be merged.

[2019-08-19 15:03] singhvisha commented on #3897
hi, whenever I try to commit . It always  showing your commit failed with the following error.

vishal@snake:~/p5Original/p5.js$ git commit -m "Added a doc file"
husky > npm run -s precommit (node v10.16.3)

 ↓ Running tasks for ignore [skipped]
   → No staged files match ignore
 ↓ Running tasks for Gruntfile.js [skipped]
   → No staged files match Gruntfile.js
 ↓ Running tasks for grunt-karma.js

[2019-08-19 15:39] outofambit commented on #3897
hi @singhvisha we've been seeing that issue intermittently but we haven't gotten a solid fix yet. 😢  (i also need to write up a proposal for modifying that pre-commit hook to be less restrictive.) in the meantime i would recommend you commit with this command: `git commit --no-verify`. could you give that a try and let us know how it goes? thank you!! ✨

[2019-08-19 16:36] coreygo commented on #3950
Okay, I've [pushed an update](https://github.com/coreygo/p5.js/commit/0de9bc4e011332f9677a820fdc212a21fa4ba1a3) (0de9bc4) which seems to do the trick without breaking anything (as far as I can tell). If there's a better way to improve the Grunt tasks enabling "uglified browseified minified" output :wink: for custom builds please let me know. I'm not familiar enough with Grunt or the p5.js build sy

[2019-08-19 16:55] singhvisha commented on #3897
hi, is pull request failed?

[2019-08-19 20:15] limzykenneth commented on #3949
When drawing the arc (I removed the `parseFloat()` as they are not necessary):

[code]

if `pi` and `arcEnd` is at the same place, it will draw a circle (`pi` and `2*pi` is at the same place so using those two angles will draw a full circle). In your code, the value of `arcEnd` doesn't end up as `pi` (or the limited floating point representation of it since there isn't an infinite number of digits

[2019-08-20 05:26] singhvisha commented on #3943
Hi, Can I work on this issue?

[2019-08-20 10:37] limzykenneth commented on #3943
@singhvisha I already have a fix ready, for now I'm just collecting concensus before filing a PR.

[2019-08-21 15:19] shubymao commented on #3897
I will start adding to this when the pull request get accepted.

[2019-08-21 16:38] #3943 closed

[2019-08-23 09:35] thirukumars opened #3960 "55806"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-23 09:38] thirukumars commented on #3960
Button=createButton('ukele');
      ukeleButton.mousePressed(function(){
      classifier.addImage('ukele');
      });

while pressing the button,this error arises
error:
p5.js:55860 Uncaught TypeError: Cannot read property '_setProperty' of undefined
    at p5.Element.eventPrependedFxn (p5.js:55860)

[2019-08-23 10:14] stalgiag commented on #3960
Hello @thirukumars your code snippet is a bit limited but I think I see the problem.  It seems like the bug is due to setting the `mousePressed` value of the variable `ukeleButton` when the variable `Button` is the button element that you created using `createButton`. The label of the button does not get added to the variable name, so `Button` does not become `ukeleButton`. I tested button element

[2019-08-23 10:14] #3960 closed

[2019-08-24 16:06] #3945 closed

[2019-08-25 11:30] stalgiag opened #3965 "Stroke shader does not rotate strokes correctly for non-default projection matrix"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-25 11:42] stalgiag opened #3966 "image() in WEBGL affected by the material/lighting conditions"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-25 15:24] singhvisha commented on #3966
hi @stalgiag , Can I work on this issue?

[2019-08-26 08:29] stalgiag commented on #3966
Hi @singhvisha yes definitely. But first we should decide what the expected behavior is. What do you think?

[2019-08-26 14:40] STPR opened #3971 "Inaccurate RGBA colors values when using pixels[]"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Image

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.9.0 July 01, 2019
- Web browser and version: Firefox 69.0
- Operating System: Windows 10 64bits

I've inaccurate RGBA colors values when using pixels[] on a 32 bits png

[2019-08-26 14:50] STPR commented on #3971
[RGBA_BUG.zip](https://github.com/processing/p5.js/files/3541606/RGBA_BUG.zip)

The RGBA.png is made of 3 horizontal stripes of colors (red 255, green 255 and blue 255).
And the alpha value goes from 255 to 0 (left to right).

Just choose the RGBA.png file and look the colors table inside the console.

[2019-08-27 09:52] agnius-vasiliauskas opened #3973 "bug in angleBetween()"
angleBetween() returns angle between `[0, PI]`, but should return `[-PI,PI]`.
Because now a **pair** of directions can have same angle, however they are different:
Attaching explanation / picture how should be and why.
![angles](https://user-images.githubusercontent.com/4015780/63761275-86610e00-c8c9-11e9-9b0f-e1fae9ccad06.png)

[2019-08-27 10:05] #3826 closed

[2019-08-27 10:36] stalgiag commented on #3965
Yeah, I checked and the bug doesn't exist over there. This has probably been around for a bit but I just fully realized it because it also appears in p5.xr because I am changing the projection matrices to match the two eyes.

I looked a little closer and it seems that Processing has a uniform named `perspective` that they are [updating based on whether the view is orthographic](https://github.com/

[2019-08-27 10:45] stalgiag commented on #3965
I don't fully understand why this is modifying the perceived rotation of the stroke but adding a `perspective` uniform and uncommenting the `mix` lines seems to fix the problem. This [decision seems to have been made at ](https://github.com/processing/p5.js/commit/8ea7e32a47aaf0a3e4c5bde19d70e4f39ea09b2e#diff-f493297ed80907ce33e26263e8a927fc)the first adoption of the Processing shader. Unable to t

[2019-08-27 17:43] stalgiag commented on #3965
Yeah I agree about using the mix, seems odd with only two possible values.

I wasn't setting the uniform but I was just swapping the position of `noPersp` and `perspScale` to test with the default 0 value.

What we have currently is equivalent to that line when `perspective` is set to 1. I think it is nice to have them recede into the distance by default, but probably better to just give them a co

[2019-08-27 20:18] PixsaOJ opened #3974 "Suggestion to `millis()`"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering
- [x] Events
- [x] IO

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.7.3 January 20, 2019
- Web browser and version: Any
- Operating Syst

[2019-08-28 09:05] hamoid commented on #3872
Here an example of a GIF that would not work with the current approach:
https://hamoid.tumblr.com/post/79459820142/twenty-four-point-fifty-five-seconds-attempt-to

[2019-08-29 06:06] lmccart commented on #3973
@0x69 can you please provide a code snippet that illustrates the issue? thanks

[2019-08-29 08:59] 0x69 commented on #3973
Of course:

[code]

[2019-08-29 09:49] stalgiag commented on #3974
This might be a case where the user is expected to make their own way of tracking this. The problem becomes the difficulty with mentally converting frames to milliseconds. Like I am not sure what I would expect `canvas_millis()` to return on a canvas that has existed for 1000ms but has had a framerate of 10.

This might be a good opportunity to use `deltaTime`. You can do something like this:
[cod

[2019-08-29 21:22] PixsaOJ commented on #3974
I actually used deltaTime for my project. When I want to get the current active time of canvas, I just call `millis() - activeCanvasMs`. What if that was a whole new feature, so nobody has to implement it by hand

[2019-08-29 22:40] epignosis567 commented on #3907
So one example would be Tone js, works as described, sounds play one iOS devices even while the device ringer is set to mute. Also like I mentioned before most of the questions about js sound are from people trying to figure out how to STOP the sound from playing on muted iOS devices. So this has to be something written into P5 right? Why is it that P5 sounds don't play on muted iphones?

[2019-08-30 15:25] limzykenneth commented on #3974
The implementation on the user side is relatively simple and straightforward so I don't think it is something essential to include in the library. For me, the aim is not to include all possible features but provide enough simple and basic tool sets that the users can build things up as they need to.

[2019-08-30 19:19] PixsaOJ commented on #3974
@limzykenneth  well, when using `deltaTime`, I am getting errors in Safari and canvas is not rendering. You can check it out [HERE](https://mc-invaiders.herokuapp.com/). So yeah, if I am not wrong, that is a problem and needs an alternative fix.

[2019-08-30 19:34] nishantkr18 commented on #3973
@0x69 it seems that `angleBetween()` always returns the absolute angle, although one can know the difference pointed by you, using `let a1 = v0.angleBetween(v2)*Math.sign(v0.cross(v2).z);` when dealing with only x and y (two dimensions).

[2019-08-30 22:39] drawliphant opened #3981 "Running loadModel once in preload and again later doubles the user interface"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-08-31 22:41] coreygo commented on #3950
Resolved with the merge of https://github.com/processing/p5.js/pull/3956#pullrequestreview-282321400.

[2019-08-31 22:41] #3950 closed

[2019-08-31 23:01] #3926 closed

[2019-08-31 23:02] #3567 closed

[2019-08-31 23:27] coreygo commented on #3926
Greetings @areljannC,
I can confirm that the solution @outofambit mentioned does work as expected with Gatsby (2.15.1).

You might be able to get away with not using the `react-p5-wrapper` if you create a sketch wrapper component similar to this:

<details><summary>Example Sketch.js component</summary><p>

[code]

</p></details>

<details><summary>Importing the Sketch component and sketch for use

[2019-09-01 03:16] STPR commented on #3971
Does this problem occur because p5.js seems to use both Uint8ClampedArray and Uint8Array ?

The clamped version uses rounding: Uint8ClampedArray([0.9]) = [1]
But the basic version uses floor: Uint8Array([0.9]) = [0]

[2019-09-01 12:26] CommentatoreVideo opened #3982 "Problem with loadTable() p5.js"
Hello, when i tried to load a csv file located in my project file with loadTable the broswer said to me:  "p5.js:69765 Fetch API cannot load file:///C:/Users/Giochi/Desktop/ProvaFile/assets/data.csv. URL scheme must be "http" or "https" for CORS request.". The file is in that folder. This is the code:
`let table;

function preload() {
  table=loadTable("assets/data.csv", "csv", "header");
}

funct

[2019-09-01 17:55] LisaMabley commented on #3940
Would this be a good issue for someone who is new to open source contributing (but an experienced software developer) to tackle? I haven't used p5.js yet and am not yet familiar with the codebase, but I only see perPixelLighting mentioned in a handful of places. Are you hoping that all the places the code calls `setAttributes('perPixelLighting', true);` would be unnecessary because it would just d

[2019-09-01 18:35] LisaMabley commented on #3877
Hi. Experienced developer, first-time open source contributor here. I can take this task.

[2019-09-01 18:41] outofambit commented on #3877
sounds good @LisaMabley! let us know if you have any questions!

welcome! 🎊

[2019-09-01 19:13] LisaMabley commented on #3877
Ok, a little confused already. Are we talking about these reference examples -- which are in a different repo? https://p5js.org/examples/

[2019-09-01 19:18] LisaMabley commented on #3877
Or everywhere it says `@example`?

[2019-09-01 19:24] LisaMabley commented on #3877
I'm assuming the above is what needs to be changed, and that (given the conversation above) I should also replace `var` with `let` for consistency

[2019-09-01 22:19] aferriss commented on #3940
Hi @LisaMabley ! Yes I believe your assumption is correct. We can remove the setAttributes calls in the examples once per pixel lighting is the default.

[2019-09-01 23:13] coreygo commented on #3982
Greetings @CommentatoreVideo,
Are you running the sketch and web project using a local server such as [http-server](https://www.npmjs.com/package/http-server) or [Express](https://expressjs.com/en/resources/middleware/cors.html)?

If not, this may be helpful:
https://github.com/processing/p5.js/wiki/Local-server#node-http-server-2nd-option

As mentioned in the wiki, `http-server` will probably the

[2019-09-02 06:24] MetaPeak commented on #3886
@bpaltezo I met the same problem, I find the reason on [p5.js offical website](https://p5js.org/reference/#/p5/createCapture) of the api of createCapture, they said:
[code]

[2019-09-02 08:38] stalgiag commented on #3974
Hi @PixsaOJ I [made an example](https://editor.p5js.org/stalgiag/sketches/1k5pJ_4sI) showing your requested use of deltaTime. This example works on the most recent Firefox, Chrome, and I tested on two versions of Safari (12.1.1 and 12.1.2). If you are able to recreate a bug please open a different issue with a simple code example and hardware/browser details. Thank you!

In terms of the requested

[2019-09-02 08:38] #3974 closed

[2019-09-02 08:47] stalgiag commented on #3971
Hi @STPR Thank you for the well-written issue with the examples!

Just to clarify a few points:
  - Are you using 2D or WEBGL mode?
  - Can you point to where you see the `pixels` array using Uint8ClampedArray with a link in the code?

[2019-09-02 09:29] stalgiag commented on #3971
Hi @STPR thank you for the well-written issue with examples! Sorry for that first post, didn't realize you have example code in your zip.

So I am able to see the second problem you listed 'when the alpha value is equal to 0, the R, G or B values are equals to 0 (instead of 255).' but unable to see the first. I never see 254 for any of the values other than the alpha when it is counting down.

As

[2019-09-02 09:42] stalgiag commented on #3981
Hi thanks for the issue! I am not sure about this specific behavior (ie the doubling of the button) but I know that we strongly recommend that all `loadX()` methods always be run inside of `preload()`. I am seeing now that this isn't entirely clear in [the reference example](https://p5js.org/reference/#/p5/loadModel) for `loadModel()`. All of the examples show the method called from within `preloa

[2019-09-02 10:15] stalgiag commented on #3940
Hello @LisaMabley thanks for the interest! This would be a great place to start contributing. As @aferriss already confirmed, the examples can have the `setAttributes('perPixelLighting', true)` calls removed. Doing that along with changing the [default in this function](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L176) and [changing the documentation](https://github.

[2019-09-02 10:26] stalgiag commented on #3485
Any Ubuntu users out there able to test the [3D Materials page](https://p5js.org/examples/3d-materials.html)? The todo is simply to go that link with Ubuntu and Firefox (more browsers too if so enclined) and check the console for any unexpected output. Thanks!

[2019-09-02 10:33] stalgiag commented on #3940
I just realized that before doing this we should check to see [if this bug still exists](https://github.com/processing/p5.js/issues/3258). Does anyone have access to an iOS12 device that they can check this on? The [bottom example here ](https://p5js.org/reference/#/p5/setAttributes) should suffice for testing. I now realize that this test should also probably be removed if we make 'perPixelLighti

[2019-09-02 10:46] stalgiag commented on #3266
Hi sorry for the delay! I think this is definitely an interesting idea but it begins to challenge some fundamental ambiguities in WEBGL mode. First,[ here is an example](https://editor.p5js.org/stalgiag/sketches/ZW4aFnP9e) that more or less accomplishes what you are asking for. It switches between center anchor and corner anchor on click.

To return to the ambiguities of WEBGL, the addition of a t

[2019-09-02 10:46] #3266 closed

[2019-09-02 10:49] stalgiag commented on #3806
Hi @sanketsingh24 and @aferriss, after finishing the summer, what are your thoughts on this issue? Thanks!

[2019-09-02 11:19] stalgiag commented on #3736
Is there ever a case when a user would want there to be no depth buffer and still enable depth testing? If not, we should [only enable DEPTH_TEST](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L203) when the 'depth' attribute is true.

[2019-09-02 12:34] CommentatoreVideo commented on #3982
@coreygo Thank you. I'll try

[2019-09-02 13:43] STPR commented on #3971
Hi,

That's interesting. The innacurate values could be a firefox issue.

[2019-09-02 14:37] PixsaOJ commented on #3974
@stalgiag Thank you. I will test it on different browsers.

[2019-09-02 14:56] outofambit commented on #3877
hi @LisaMabley! yes we are talking about everywhere it says `@example`. (those comment blocks are used to generates the examples on https://p5js.org/examples/, which is indeed a bit confusing).

and yes i would say changing all `var`s to `let`s would be great too! feel free to open multiple PRs for this work if that's helpful! (no need to do all of it in one fell swoop.)

[2019-09-02 21:35] #3564 closed

[2019-09-03 07:50] derrgis commented on #3885
Hi, in Firefox it seems that option can be set to False to get the font working 👍
`about:config -> security.fileuri.strict_origin_policy -> false`
source : [https://stackoverflow.com/questions/17088609/disable-firefox-same-origin-policy]

[2019-09-04 12:40] yanngraf commented on #3352
I'm experience the same problem as @alsino

In this sketch where I'm using CurvedVertex, the expected outcome (if the shape is closed) is that all spikes would have the same shape.

https://editor.p5js.org/yanngraf/sketches/Zbp6C8XBp

It is not the case, the start/end point is spiky.

[2019-09-04 21:44] aferriss commented on #3806
@stalgiag @sanketsingh24 I still think this would be a good feature to add, but it's probably not a simple PR. This touches a lot of the webGL rendering pipeline and untangling and sorting things out is probably going to be a bit of an effort.

I don't think I'll have much time anytime soon to work on this and I'm pretty certain Sanket is also busy in the coming months. Maybe this warrants a help

[2019-09-05 03:28] kllsamui opened #3989 "reference: table column names"
it is possible to load ( like from CSV file ) and show a table content
AND also show the column names, but that is not obvious from the reference.

`  for (var r = 0; r < data.getRowCount(); r++)
    for (var c = 0; c < data.getColumnCount(); c++)
      print("row " + r + " col " + c + " column "+data.columns[c]+" : " + data.getString(r, c));
`
example: https://editor.p5js.org/kll/sketches/Nk3OjSY

[2019-09-05 11:53] stalgiag commented on #3806
Thanks for the thoughts @aferriss !

I agree that this seems a bit rough, and definitely feels like it would need to be part of a larger restructuring. I am looking into these kinds of changes as part of #3794. I am happy to do the work if there is a sound high-level plan for a restructure or redesign, but without this I am reluctant to start messing with this many parts of the code before the 1.0

[2019-09-05 12:52] stalgiag commented on #3989
Thanks for the issue! In t[he documentation for `loadTable`](https://p5js.org/reference/#/p5/loadTable) it says that a [`p5.Table` is returned](https://p5js.org/reference/#/p5.Table). Is there a specific improvement to the documentation that you had in mind?

[2019-09-05 12:55] stalgiag commented on #3971
Great! Thank you for the research and follow-up @STPR !

I am going to close this issue for organizational purposes.

[2019-09-05 12:55] #3971 closed

[2019-09-05 13:10] kllsamui commented on #3989
yes, like on page
https://p5js.org/reference/#/p5.Table
are methods ( what you can do with the table )
and also the
Fields columns:
line,
but it is not clear that it is a
table.columns()
method where you can get the column names...
( funny also JAVA Processing reference data.getColumnTitle(c) not mentioned )
so just add this as a methods line.
`
 columns()        Retrieves a String from the Table'

[2019-09-06 13:01] Exifers opened #3990 "p5.Vector in LocalStorage"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [X] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

Hi,
I'm making a small web app where I store so

[2019-09-06 13:59] AndreaGemmani opened #3991 "problem loading dropped csv file into Table"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-08 01:18] catarak opened #3994 "pow() documentation rendering"
**Actual Behaviour/Expected Behaviour**

Looking at the documentation for `pow()`, there's a line that is meant to point out that pow(3, 5) equals 3*3*3*3*3. However, it's rendering in a funky way.

 **Steps to reproduce it**

I'm able to have it render this way in Chrome, Firefox, and Safari, on Mac OSX.

 **Screenshots of the issue**

<img width="750" alt="Screen Shot 2019-09-04 at 6 32 01 PM" s

[2019-09-08 12:37] Garrettlynch opened #3995 "Edit for Local Server wiki page"
Suggested addition to the Local Server wiki page here:
https://github.com/processing/p5.js/wiki/Local-server

Brackets (http://brackets.io/) could be added instead of (or at least before) Sublime Text as a preferable server solution i.e.

1. It's free
2. It's available for multiple platforms:
   - Mac OSX 10.11, 10.12, 10.13, 10.14 (actually seems to 10.8.5+)
   - Windows 7 with Service Pack 1, Wi

[2019-09-08 13:01] vanajmoorthy opened #3996 "directionalLight() broken on iOS"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-09-08 19:54] outofambit commented on #3995
hi @Garrettlynch that seems reasonable to me. are you interested in adding that to the wiki page? (totally fine if not, just want to see if we should get you access.)

[2019-09-09 03:31] singhvisha commented on #3990
@outofambit ,
Can I work on this issue?

[2019-09-09 06:50] #3965 closed

[2019-09-09 06:52] stalgiag commented on #3996
Hi @vanajmoorthy thanks for the issue!

Could you give some more info about when this is broken ie:
- version of iOS
- iOS hardware
- browser
- version of p5

Thanks!

[2019-09-09 06:59] vanajmoorthy commented on #3996
So I've encountered the issue specifically on iOS 12.4, on an iPhone 7+,
the browser is Safari and I'm using the latest version of p5 through a CDN.
The issue still exists on iOS 11.1.2 on an iPhone 6+, so it seems pretty
pervasive.

On Mon, 9 Sep 2019, 12:23 pm Stalgia Grigg, <notifications@github.com>
wrote:

[2019-09-09 07:12] Garrettlynch commented on #3995
Hi

No need to create me an account I think - everything needed is in the issue
I opened so it should almost be just a copy and paste.

On Mon, Sep 9, 2019 at 1:25 AM evelyn masso <notifications@github.com>
wrote:

--
kind regards
Garrett Lynch (IRL)
_________________
Garrett@asquare.org
http://www.asquare.org/

[2019-09-09 07:28] stalgiag commented on #3990
@Exifers I like that idea!

This should be relatively straightforward. The serialization [happens here](https://github.com/processing/p5.js/blob/master/src/data/local_storage.js#L71) and deserialization would [be a new switch case here.](https://github.com/processing/p5.js/blob/master/src/data/local_storage.js#L148).

@singhvisha it is a good idea to only be assigned to one issue at a time, at lea

[2019-09-09 07:32] stalgiag commented on #3996
Great thanks for the speedy reply and info!

When you get a chance would you be able to test on either of those phones with a different browser (ie Chrome or Firefox)? I want to narrow down whether it is the browser or the device/OS.

[2019-09-09 07:34] stalgiag commented on #3966
Okay I think that this has been open long enough to draw any likely responses. I definitely agree that `image()` should be unlit.

This could be a good opportunity for contribution from new contributors interested in WebGL.

[2019-09-09 07:35] vanajmoorthy commented on #3996
Oh yeah fair point, I'll test and get back to you asap.

On Mon, 9 Sep 2019, 1:02 pm Stalgia Grigg, <notifications@github.com> wrote:

[2019-09-09 08:37] #3981 closed

[2019-09-09 10:34] stalgiag commented on #3991
Hello!

This doesn't seem to be a problem with the library. Here is an example that [loads a CSV file with drag and drop.](https://editor.p5js.org/stalgiag/sketches/29PKp0sES)

 In the future, it is best to checkout [discourse.processing.org ](https://discourse.processing.org/c/p5js/p5js-questions) for help with coding challenges. In fact, I just searched 'drag csv' over there and [found this page

[2019-09-09 10:34] #3991 closed

[2019-09-09 12:06] singhvisha commented on #3990
@stalgiag
hi ,Sorry for the delay. I will be submitting it soon.

[2019-09-09 17:07] vanajmoorthy commented on #3996
Yeah so it's broken on Chrome and Firefox as well

On Mon, 9 Sep 2019, 1:02 pm Stalgia Grigg, <notifications@github.com> wrote:

[2019-09-09 17:07] vanajmoorthy commented on #3996
It might be a general iOS issue since chrome and Firefox both leverage
safari on iOS

On Mon, 9 Sep 2019, 10:37 pm Vanaj Moorthy, <vanajmoorthy@gmail.com> wrote:

[2019-09-09 17:11] vanajmoorthy commented on #3996
They all use WebKit, that is

[2019-09-09 23:37] grege2 opened #3998 "Request for clip() and noClip() in p5.js"
Hi team,

I recently found a situation where I really could have used clip() and noClip() from Java Processing. FYI, these calls provide clipping to within a rectangular area.

https://processing.org/reference/clip_.html

Just for context, the scenario was rendering a distorted grid pattern of quad()s and triangle()s, which had been stretched away from their original rectangular "frame". Like stre

[2019-09-10 02:11] facespkz opened #3999 "Long string of characters isn't affected by word wrap"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-10 04:14] lmccart commented on #3999
hi @facespkz, word wrapping can only wrap around distinct words, so if you have a long string, it will preserve the string as one word which may overrun your text box

[2019-09-10 08:20] stalgiag commented on #3998
Hi @grege2 thanks for the suggestion!

Just to get a sense of how hard it would be to do this in p5 as-is, [I recreated that Processing example. ](https://editor.p5js.org/stalgiag/sketches/J7QMRk5tb) As you can see, it is really only a few more lines of code. Since it is possible to accomplish something similar, this doesn't feel like a priority.

That said, I looked around briefly realized that t

[2019-09-10 08:28] stalgiag commented on #3996
Thanks for checking!

And one last question, are you testing this with the [directionalLight() reference example](https://p5js.org/reference/#/p5/directionalLight) or with other code? If the answer is the latter can you confirm that this happen in that reference example. I want to know what the simplest way to reproduce is.

[2019-09-10 08:40] stalgiag opened #4000 "Grunt occasionally inserts endless newlines during error"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Development/Testing

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet

[2019-09-10 10:01] limzykenneth commented on #3998
I think this is ok to implement according to the native canvas's `clip()` as the Processing one is only limited to rectangles while the native one provides much more possibilities.

[2019-09-10 13:13] vanajmoorthy commented on #3996
It's the example code with this resize function added.

function setup() {
createCanvas(windowWidth, windowHeight, WEBGL);
}
function draw() {
background(0);
let dirX = (mouseX / width - 0.5) * 2;
let dirY = (mouseY / height - 0.5) * 2;
directionalLight(255, 255, 255, -dirX, -dirY, -1);
noStroke();
sphere(160, 50, 50);
}
function windowResized() {
resizeCanvas(windowWidth, windowHeight);
}

On Tue

[2019-09-10 13:13] vanajmoorthy commented on #3996
This doesn't seem to be happening in the reference though.

On Tue, 10 Sep 2019, 1:59 pm Stalgia Grigg, <notifications@github.com>
wrote:

[2019-09-10 13:19] stalgiag commented on #3996
Ah so this is likely related to `resizeCanvas()` then. Thank you!

[2019-09-10 13:21] vanajmoorthy commented on #3996
Possibly, thank you for checking it out!

On Tue, 10 Sep 2019, 6:49 pm Stalgia Grigg, <notifications@github.com>
wrote:

[2019-09-10 13:47] vanajmoorthy commented on #3996
I tried removing the resize canvas but it still isn't rendering on iPhones.

You can see my code here.
https://github.com/vanajmoorthy/vanajmoorthy.github.io/blob/master/JS/moon.js

You can check out the glitchy website here.
vanajmoorthy.com

[2019-09-10 14:13] outofambit commented on #4000
@stalgiag i noticed this last week. :( will do a little diagnostics to see if i can get an idea of why its doing that.

[2019-09-10 14:48] semvis123 opened #4001 "canvas gets flipped vertically after changing browser tabs"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-10 18:13] vanajmoorthy commented on #3996
So I tested it after removing the resizeCanvas(), and it still doesn't work. I don't think it's a resizeCanvas() issue.

[2019-09-11 04:10] #3932 closed

[2019-09-11 06:45] stalgiag commented on #3996
Thanks @vanajmoorthy . You said that [the reference ](https://p5js.org/reference/#/p5/directionalLight)wasn't having this issue. Is this still the case, everything displays fine in the sketch on that page?

[2019-09-11 08:09] grege2 commented on #3998
Hi @stalgiag et al, thanks for the comments. Yes, I could clip my gfx by rendering it in another buffer/canvas, and copying back a rectangular area to my main canvas. At present, there's a fair bit of gfx (a mesh of guidelines and markers - the chessboard is not always completely rendered) rendered "underneath" the chess board thingy, so I think I would have to first copy all that to the auxiliary

[2019-09-11 08:20] vanajmoorthy commented on #3996
Yes, the reference sketch displays fine.

On Wed, 11 Sep 2019, 12:16 pm Stalgia Grigg, <notifications@github.com>
wrote:

[2019-09-11 08:34] stalgiag commented on #3996
So then the only meaningful differences between your sketch and the reference example are:

- the size of the sphere
- the detailX of the sphere
- the detailY of the sphere
- the width and height of the canvas

Let me know if you are able to figure out which one of those 4 changes up there is what breaks the rendering. It is possible it is another factor.

Thanks for the help by the way. I really

[2019-09-11 08:48] stalgiag commented on #4001
Hello @semvis123 thanks for the issue! This is an odd one, but is definitely unrelated to p5. I think they just have a major bug with canvas rendering in that beta version of Edge. I downloaded the Dev Chromium 78 version out of curiosity and the same bug occurs with any thing that uses the underlying Canvas API. Here is an [example on MDN that also flips with tab switching](https://developer.mozi

[2019-09-11 08:48] #4001 closed

[2019-09-11 08:55] vanajmoorthy commented on #3996
Pretty much yeah, there don't seem to be any other differences, I tried
reducing the detail but that still didn't work.

Ahaha I don't have an iPhone either, I'm testing on a friend's.

On Wed, 11 Sep 2019, 2:05 pm Stalgia Grigg, <notifications@github.com>
wrote:

[2019-09-11 17:48] ReTriX-19 opened #4002 "I have an issue!"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (specify if possible)

-[x] Other = Well, not the most bad issue but, when i make a line, it wo

[2019-09-11 17:53] ReTriX-19 opened #4003 "I have an issue!"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

When i create a line it won't show up. I started a new Pong Game project a

[2019-09-11 18:10] aferriss commented on #4003
Hi There,

I believe the default stroke color is black, so you're seeing a black line drawn on a black background, which just looks like solid black. If you change the background color to something other than black you should see the stroke appear `background(255,0,0)`. Or you could change the stroke color to something other than black by inserting this line `stroke(255,0,0)` in between `backgroun

[2019-09-11 19:03] AndreaGemmani commented on #4002
Have you tried giving the line a color (different from background)?
you should add

`stroke(255);`

**before** line(...) to color the line in white (the default space color is RGB and defining only one value gives you a shade of gray).
Try also adding

`strokeWeight(10)`

or any other positive value to chose the   t h I c n e s s  of your line

[2019-09-11 19:40] lmccart commented on #4003
Thanks @aferriss!
Hi @ReTriX-19  thanks for posting and welcome to this repo. In general, it's best to post on the [forum](https://discourse.processing.org) for code help. You'll be able to get more help there and maybe even find the same issue you're having already posted and answered by someone else. These github issues are really for bugs with the library itself, rather than code questions. Hop

[2019-09-11 22:51] grege2 commented on #3998
Hi all, I will try to retro-fit the "off screen" canvas method and report back. It may be bit harder to retro-fit into my already tangled mess of code, than plan it this way in the first place, but should be ok. If you could keep this issue open for at least say a couple of weeks that would keep things unpressured, grazie. A presto.

[2019-09-12 08:44] yzxnwj opened #4009 "git error"
HI
    I want to clone this project，but have an error has occurred.  Npm told me there was an unexpected mistake.  Why is that?

[2019-09-12 14:51] chapkovski opened #4010 "p5.dom does not work with webpack"
I am using p5.js library with webpack and it works just fine. However when I try to import `createSlider` from p5.dom it fails:

[code]

I tried with `dom.createSlider()` with no success. In both cases the console reports `createSlider is not a function`.

Is there a bug or I do something wrong?

[2019-09-12 22:36] catarak opened #4011 "it's unclear that ellipseMode() affects arc() and circle()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

I noticed that in the documentation for

[2019-09-13 15:45] catarak commented on #4011
haha sorry, i tried to submit this in the middle of class and obviously didn't finish filling it out

[2019-09-13 15:50] catarak commented on #4011
i have now updated this issue to have real content

[2019-09-13 16:43] coreygo commented on #3926
Hello @janmaltel,
I've pushed a [test repository to GitHub](https://www.github.com/coreygo/coreygo) for you to clone and use—I'll keep it live for a week or two.

The relevant files are:
- [gatsby-node.js](https://github.com/coreygo/coreygo/blob/master/gatsby-node.js)
- [components/sketch.jsx](https://github.com/coreygo/coreygo/blob/master/src/components/sketch.jsx)
- [pages/index.jsx](https://git

[2019-09-13 17:00] jleelove opened #4012 "point();"
point doesn't seem to be working. even in your example on the reference page

[2019-09-13 17:27] limzykenneth commented on #4012
Hi @jleelove, `point()` is working for me, it is quite subtle as it is only drawing 4 tiny pixels on the canvas. If it still isn't working for you, can you fill out the initial issue template? Basically we would like to know what version of p5 are you using, what is your OS and version, what is your browser and version to start with.

[2019-09-13 17:38] aferriss commented on #4012
@jleelove  Also a call to `strokeWeight(10);` might make the point be a more visible. Otherwise as @limzykenneth notes, they're really teensy.

[2019-09-14 05:33] facebamm opened #4013 "mouse button blocking mouseMoved() callback"
Hi there!

My bug is there: When I am trying to log the mouseMove event it will be work fine but when I press a mouse button then the mouseMove - callback doesn't call anymore.

#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] Events
- [ ] Im

[2019-09-14 08:45] stalgiag commented on #4013
Hi @facebamm Thanks for the well-written issue. This is intended behavior. [In the documentation](https://p5js.org/reference/#/p5/mouseMoved) for `mouseMoved()`, it says 'The mouseMoved() function is called every time the mouse moves and a mouse button is not pressed.'

In the source code [on this line](https://github.com/processing/p5.js/blob/master/src/events/mouse.js#L608) you can see that if t

[2019-09-14 08:49] stalgiag commented on #4013
I am going to close this issue for organizational purposes. If you feel that the design of mouse events in the API should be different feel free to post in here and I'll reopen for discussion.

[2019-09-14 08:49] #4013 closed

[2019-09-14 08:59] maxthomax commented on #3733
As of the time of this comment the reference page (https://p5js.org/reference/#/p5/arc) states elsewhere:
`Be aware that the the y-axis increases in the downward direction therefore the values of PI is counter clockwise.`

Problems and nitpicks:
- In p5.js practice angles "increase" clockwise, not counter clockwise.
- PI is a constant, its value does not increase.
- There's a mismatch between "val

[2019-09-14 09:23] AndreaGemmani opened #4014 "Problem loading files"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-14 09:42] stalgiag commented on #3857
@aferris - I can work on this eventually but it got put on the backburner since the person working on it left the repo. I think vertex colors would be nice though. We could enable vertex colors without the unification if you would like.

I can work on the unification sometime before the 1.0 release.

[2019-09-14 10:45] joecridge commented on #3733
Yes I agree, would you like to submit that as a PR? 🙂

[2019-09-14 17:48] limzykenneth commented on #4014
Is the json file that is saved out look exactly like this?
[code]

If so then it isn't really properly formatted JSON. The JSON interpreter would have interpreted that as a string which explains the result you got from loadJSON. The JSON you are probably looking for should look more this so:

[code]

[2019-09-14 21:39] AndreaGemmani commented on #4014
Ok, then I should just **not `JSON.stringify()`my object before saving it with `saveJSON()`** and everything goes right, I am again sorry for the time loss, I thought that the problem I had with loadTable() and .csv files was connected but now I'm not totally sure, I'll investigate a bit more, thanks

[2019-09-14 21:42] limzykenneth commented on #4014
No worries, happy to help. `saveJSON` already does `JSON.stringify` for you so that's why there is no need to stringify it first. I'm going to close this for now, if you have an issue with `loadTable` still, feel free to reopen.

[2019-09-14 21:42] #4014 closed

[2019-09-15 19:01] LisaMabley commented on #3877
I changed all the consts and vars I found in the @example blocks to let and updated my outstanding PR. So I'll consider this done until feedback comes my way.

[2019-09-16 02:15] #4000 closed

[2019-09-16 02:17] #3877 closed

[2019-09-16 08:51] stalgiag commented on #4012
Good point @aferris. Maybe worth adding a second example that uses `strokeWeight(10)` before drawing point(s) to show that they are affected by the current stroke weight. This isn't clear in the documentation currently.

[2019-09-16 09:33] ai-dani opened #4018 "How to draw or use if "mouseIsPressed" option to create ellipses ON TOP of an existing ellipse drawing"
I'm a super beginner on p5.js and I'm hoping this community can help me. So I drew a simple code that includes one fixed 300x300 ellipse on the middle of the canvas, and I plan to have the user be able to add smaller circles on top (like pepperoni on pizza)--when I later add in a statement of " if(mouseIsPressed)" --> "create 'ellipse(mouseX, mouseY,25,25)", it adds the tiny circles but BEHIND the

[2019-09-16 10:20] stalgiag commented on #4018
Hi @ai-dani this page is for the development of the library. So this is where bugs are reported, features are requested, and contributors work together on the library. For more general help on how to use the library and assistance with coding challenges it is better to [ask on this forum](https://discourse.processing.org/c/p5js).

But since you are already here, I can help you briefly and say that

[2019-09-16 10:20] #4018 closed

[2019-09-16 12:06] stalgiag commented on #3741
Okay I am doing some checking around. This occurs sometime between 0.6.1 and 0.7.

Also looking at this example in particular reveals more issues around capture that are present in 0.9.0. I'll open issues as I understand them better. Thank you for reporting @harveymoon !

[2019-09-16 15:04] lmccart commented on #3907
As mentioned in the link before, the sound toggle switch does mute WebAudio, but it does not mute HTML5 tags. So it is possible that the tone.js example you're looking at is making use of the HTML5 audio rather than tone.js. As far as I can tell this is normal behavior so I don't think it's anything we can fix with p5.js. Do others have suggestions?

[2019-09-16 15:34] kevinkarlos opened #4019 "Uncaught TypeError: Cannot read property 'prototype' of undefined at p5.dom.js:77 at p5.dom.js:34 at p5.dom.js:35"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-16 17:13] lmccart commented on #4019
can you please provide a code snippet you are working with that results in this error?

[2019-09-16 17:24] janmaltel commented on #3926
Absolutely perfect, thank you @coreygo !

[2019-09-16 17:36] coreygo commented on #3926
@janmaltel My pleasure.

I see you've cloned the repository 😄. Note that I removed the `format` script from `package.json` as it was a copy and paste from another project, definitely do the same as the settings mismatch; you probably also don't need all the extra stuff in `config.js` but it some of it works with the various `gatsby-plugin-`'s. The eslint and prettier set up with AirBnB's config is

[2019-09-16 17:42] alexandrdmitrievich opened #4020 "Issue with non-latin characters in text (emoji and cyrillic)"
I have an issue with my script.
If I use online editor code runs fine, but if code is saved on my lovely server it breaks. Issue with non latic/non ascii characters.

http://fgntfg.tk/p5/issue.JPG
![](http://fgntfg.tk/p5/issue.JPG) screenshot

Web-page has meta-tag
`<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> in it. `

Page code
[code]

sketch code
[code]

Both are saved as

[2019-09-16 18:18] alexandrdmitrievich commented on #4020
Resaved as UTF-8 few times and it start working. Odd.

[2019-09-16 18:18] #4020 closed

[2019-09-16 21:00] aferriss commented on #3940
So unfortunately it seems like per-pixel lighting is pretty damaged on both iOS (6s plus iOS 12.2)  and Android (Pixel 2 Android 9). Per-vertex lighting also seemed pretty broken on iOS. The rendering looked the same in all browsers that I tested (Chrome, FF, and Safari on iOS, and Chrome + FF on Android).

Here's what it looked like on Android with per pixel lighting = true
(sorry I don't have a

[2019-09-16 22:06] limzykenneth commented on #3907
Here a few links to look at:

https://github.com/Tonejs/Tone.js/issues/164
For tone.js the audio source is `<audio>` which will play even if phone is on silent.

https://mdn.github.io/webaudio-examples/audio-analyser/
MDN example of WebAudio API which doesn't use `<audio>` as its audio source and thus will not play when phone is on silent.

https://html5tutorial.info/html5-audio.php
Example of bas

[2019-09-17 11:33] stalgiag opened #4023 "Lighting broken in iOS12+"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-09-17 11:39] stalgiag commented on #3258
Closing in favor of same issue with consolidated reporting in #4023

[2019-09-17 11:39] #3258 closed

[2019-09-17 11:42] stalgiag opened #4024 "Per-pixel lighting broken in Android 8+"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-09-17 11:47] stalgiag commented on #3940
Oof just as I feared. Thank you for the thorough testing @aferris. I opened the appropriate issues. I am going to close this for now as it doesn't make sense to default to per-pixel until it is functioning properly on all devices.

[2019-09-17 11:47] #3940 closed

[2019-09-17 11:54] aferris commented on #3940
Hi @stalgiag-

You have the wrong person. It looks like you meant to contact @aferriss.

Thanks!

[2019-09-17 12:02] stalgiag commented on #3940
Oops sorry about that @aferris 🤦‍♂

[2019-09-17 14:07] aatauil commented on #3931
I have the same problem `filter(BLUR, 0)` does not seem to be working either strangely enough. Trying to make a cookie clicker game and `filter(BLUR, 4)` blurs everything instead of only the specific object I want it to blur..

[2019-09-17 14:35] stalgiag commented on #3741
`_pixelsDirty` is a way to avoid updating the `pixels` array if no changes have occurred.

Part of what is happening here is that the example given has an optimization that causes `loadPixels()` to occasionally run more than once in a row without a call to `updatePixels()` in between, which worked fine with 0.6.1 but not anymore.

https://github.com/kylemcdonald/cv-examples/blob/823dd20701a5755242

[2019-09-17 15:34] stalgiag commented on #4024
Able to reproduce with Chrome 77.0.3865 and Android 8.0.0

[2019-09-17 16:02] stalgiag commented on #4024
`precision highp float;` at the top of [shaders/phong.frag](https://github.com/processing/p5.js/blob/master/src/webgl/shaders/phong.frag) gives the expected results with Android 8.0.0 but I don't understand why.

[2019-09-17 17:11] aferriss commented on #4024
I was wondering if this was a precision issue. I think we could safely use `highp` without losing much performance.

[2019-09-17 17:18] Ufkufk opened #4025 "Uncaught ReferenceError: getItem is not defined"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-18 05:37] jackwlee01 opened #4026 "addCue handler does not fire"
#3438 ## Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Sound)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (

[2019-09-18 09:19] stalgiag commented on #4025
Hi @Ufkufk thanks for filing the issue!

Which browser are you viewing your sketch and the error message in?

Also, which version of p5 are you using? Those functions were added fairly recently so you would need to be running 0.9.0.

[2019-09-18 09:57] stalgiag opened #4028 "Instruct new contributors to use npm ci instead of npm install?"
What do people think? Should we change `npm install` to `npm ci` in the [developer docs](https://github.com/processing/p5.js/tree/master/developer_docs)?

Pros:
This would help new contributors avoid editing the `package-lock.json`.

Cons:
The command is a little more cryptic. `install` has a more clear meaning.
Too soon? The command was introduced to npm in March 2018.

[2019-09-18 10:19] stalgiag opened #4029 "Use all-contributors-bot"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Documentation/Development

### New feature details:

What do people think about using the [all-contribu

[2019-09-18 14:51] lmccart commented on #4029
love it

[2019-09-18 14:52] lmccart commented on #4028
makes sense to me. by the time you're typing `npm` i think it's already pretty cryptic. so if this one is a little easier to use i'd be up for the switch.

[2019-09-18 14:54] lmccart commented on #3907
thanks @limzykenneth. closing this since this isn't an issue we can fix from within p5.js

[2019-09-18 14:54] #3907 closed

[2019-09-18 16:49] #4024 closed

[2019-09-18 19:24] Ufkufk commented on #4025
@stalgiag Oh i'm so sorry. I've checked it out and found that i was using 0.7.2.

[2019-09-18 19:24] #4025 closed

[2019-09-18 21:38] vanyamil commented on #3485
Looks like no particular output. Complains about torus detail levels but no
reds.

If this change is part of an active NPM version, I can try updating the
website to test it there too.

On Mon, Sep 2, 2019 at 6:27 AM Stalgia Grigg <notifications@github.com>
wrote:

[2019-09-18 21:55] aferriss commented on #3485
@stalgiag The materials page looks fine to me as well on Ubuntu 18.04 with Firefox v69.

[2019-09-19 01:13] #3989 closed

[2019-09-19 11:06] limzykenneth commented on #4028
I think so too, `npm ci` would be more consistent and we can more easily split up changes to the source code and changes to the dependencies without needing to ask someone to modify their PR.

[2019-09-19 14:09] stalgiag commented on #4029
Put in a request to install on the repo :-)

[2019-09-19 14:11] lmccart commented on #4029
installed!

[2019-09-19 14:13] #4029 closed

[2019-09-20 06:38] raghavendrajain commented on #1477
Hi @lmccart I could not understand well. I will explain my situation.
I want to create 3D shape on my canvas, but I am using `ml5.js` and `posenet` example.
There are two ways I could think of:

Approach 1:  Using `WEBGL` renderer. But, it does not work. `WEBGL` renderer is required to make 3d shapes run, right?  The following is NOT working when I use it with ml5.js example:
`createCanvas(640,480

[2019-09-20 09:31] stalgiag commented on #4028
Thank you for the input!

[2019-09-20 09:37] stalgiag commented on #3782
Hi @sanketsingh24 I am going to close this as it seems to be a duplicate of #3806 . The difficulties with changing this behavior that are discussed in that issue are relevant here as well, so we can track the problem and continue the discussion there. Thanks!

[2019-09-20 09:37] #3782 closed

[2019-09-20 10:48] stalgiag commented on #3898
Okay!

Matrix math isn't my strong suit. But I think what is happening here is that there is some confusion as p5's WEBGL renderer is using column-major matrices for its model view matrix. Like this:

[code]

So if you apply the transposed matrix instead then you get what you are looking for:
[code]

I am not sure why this decision was made (on either side) but I do know that column-major is more

[2019-09-20 11:04] #4028 closed

[2019-09-20 14:13] #3759 closed

[2019-09-20 21:40] ffd8 opened #4032 "texture() doesn't seem to work for loaded model() objects"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil