[2017-03-02 16:42] limzykenneth commented on #1832
This is a decision made a while ago by the Chrome developers. The main reasoning is user privacy and such not allowing features such as cameras and microphones to be activated without https. It should still work if you are running a local server and p5js.org can be visited on https://p5js.org as well.

If you want to deploy there are a few options. If it is possible for you, getting a certificate

[2017-03-02 18:12] davidredsox opened #1837 "textToPoints does not work with the letter "i""
Using `fontVar.textToPoints("i", width/2, height/2, 200)`, activated when a button is pushed, throws this error:

[code]

Of course, this assumes that `fontVar` contains a preloaded and correctly referenced font. Also, the `generate()` function is what transforms the text into points and displays those points.

I want to note though: I'm not *completely* sure that it is a problem with the `.textTo

[2017-03-02 19:00] MasterYushi commented on #1810
Doesn't work for me either, webgl with p5 is having issues since an year now with no visible progress, I'm considering switching to another library

[2017-03-02 19:48] Dirma commented on #1836
Thanks for the help, really appreciated!

I'm a newbie, so how does the geocoding API work:)? I downloaded it from github, do I have to install it on the node server? I tried to do that, but I get an error message. And where does the csv file come into play?

Best, Dirma

[2017-03-02 20:02] lmccart commented on #1836
Hi @Dirma excited you're getting started with p5.js! Can I ask that you post your questions over here at the [forum](https://forum.processing.org/two/categories/p5-js)? The github issues are really for bug reports for the library itself and the forum is a good spot for asking questions because they can be answered by the whole community and the archive is more easily searchable by others with simi

[2017-03-03 00:18] lmccart commented on #1822
fixed with https://github.com/processing/p5.js/pull/1838

[2017-03-03 00:18] #1822 closed

[2017-03-03 01:40] mlarghydracept commented on #1756
Fixed with PR #1839 as per @giltayar 's suggestion.

[2017-03-03 03:36] dhowe commented on #1837
Can you include the full code for the sketch and the font itself (if not restrictively licensed) ?

[2017-03-03 05:48] WIPocket commented on #1817
`// Literally just a copy of Dainels scripts
var font;
var vehicles = [];

function preload() {
  font = loadFont('AvenirNextLTPro-Demi.otf');
  console.log("preload");
}

function setup() {
  createCanvas(600, 300);
  background(51);
  console.log("setup");
  // textFont(font);
  // textSize(192);
  // fill(255);
  // noStroke();
  // text('train', 100, 200);

  var points = font.textToPoints('tr

[2017-03-03 08:22] efi opened #1840 "Text is not sub-pixel moveable on the y-axis"
In the following code the text reacts smoothly to horizontal mouse movements but not vertical ones.

[code]

[2017-03-03 09:03] feedzh commented on #1840
Hello,

Try to use round. This is calculated with pixels and pixels are integers.

[code]

[2017-03-03 09:16] efi commented on #1840
Thanks, but that actually makes things worse. Now the text shows abrupt "discrete" movement on both axes whenever the mouse steps over a "100 pixel" boundary. I want the opposite.

[2017-03-03 14:08] efi commented on #1840
OK, I just checked: This seems to be standard behavior of a canvas `fillText()`. :-1:

Is there a way to force drawing of text using filled paths instead of `fillText`? Somthing like `textMode(SHAPE)` in processing?

[2017-03-03 18:10] Dirma commented on #1836
Hi @lmccart , of course! Thanks for letting me know. best, Dirma

[2017-03-03 18:12] #1836 closed

[2017-03-03 22:09] scottlittle opened #1841 "Acceleration on Android with Chrome"
Running the "acceleration ball bounce" example on my Android phone, I noticed that acceleration direction wasn't right.

[2017-03-03 22:25] shiffman commented on #1817
I'm happy to help debug this. @WIPocket does the issue happen with this example:

https://github.com/CodingTrain/Rainbow-Code/tree/master/challenges/CC_59_Steering_Text_Paths

If so I can make a simpler version that only looks at the path points. It's quite likely that my example does nothing to account for spaces and maybe it needs to?

[2017-03-04 00:11] scottlittle commented on #1841
I think I confused acceleration with rotation.

[2017-03-04 00:11] #1841 closed

[2017-03-04 05:53] akhilanadimpalli opened #1842 "Error font cannot be defined"
hai
i have an error while writing the below program.

[code]

i downloaded the font style and kept it at p5 file .
please help me that how to define a font style in javascript in p5 .

[2017-03-04 06:44] dhowe commented on #1817
I can't recreate the issue. Here is a mod of the sketch from @shiffman which allows text entry:

http://rednoise.org/sketches/textpaths/

![image](https://cloud.githubusercontent.com/assets/737638/23576741/ebe719e6-00e8-11e7-82e6-22de368b62c7.png)

[2017-03-04 08:11] dhowe commented on #1842
Does the file have a file extension? Avenir-Next-LT-Pro-Demi_5188.ttf or Avenir-Next-LT-Pro-Demi_5188.otf ?

[2017-03-04 09:08] akhilanadimpalli commented on #1842
hi
ya it have an extension  Avenir-Next-LT-Pro-Demi_5188.otf  but it is not working.

in which folder i should keep this...

[2017-03-04 10:39] feedzh commented on #1842
Hello,

You can load webfont with css file and then use it in p5

css:
[code]

javascript:
[code]

[2017-03-04 20:23] davidredsox commented on #1837
Hey, my apologies for taking so long - I haven't checked this in a couple days.

Here's the code: [steering behaviors.zip](https://github.com/processing/p5.js/files/818900/steering.behaviors.zip)

It contains a .html file, sketch.js, vehicle.js (for steering behaviors), the minified version of p5.js, the slim and minified version of JQuery (used for working input), and the font, which is Montserra

[2017-03-04 21:38] feedzh commented on #1837
Hello,

I downloaded your example and it runs without errors. Can you post your console error with the code that you posted?

[2017-03-05 03:01] davidredsox commented on #1837
So for some reason when I unzipped the files onto my Windows PC, it ended up being an older version of the code (I'm gonna have to switch text editors on my Chromebook, I think). I updated it to be correct without the referencing errors.

In response to @feedzh , did you try typing in the character "i" or a word containing the character "i" into the text input and clicking the "Generate" button? T

[2017-03-06 01:23] scottlittle commented on #1475
I am getting this image when I run the above code (no spheres):

![image](https://cloud.githubusercontent.com/assets/2524998/23593781/1092dc76-01d9-11e7-91e6-b7555bb162ea.png)

[2017-03-06 01:44] scottlittle opened #1843 "No shapes with WebGL and createGraphics"
This code does not produce any spheres.  Does anyone know why?
[code]
Here's the output images:
![image](https://cloud.githubusercontent.com/assets/2524998/23593817/67ce0bbe-01d9-11e7-81f5-07fb9e76655e.png)
![image](https://cloud.githubusercontent.com/assets/2524998/23593811/4b480080-01d9-11e7-836d-2058e442ee91.png)

[Related issue](https://github.com/processing/p5.js/issues/1475)

[2017-03-06 03:09] scottlittle commented on #1843
Also, if I add `image(pg,0,0);` after `pg.sphere(100);`

I get this error
[code]

for the line `this._renderer.image(img, _sx, _sy, _sw, _sh, vals.x, vals.y, vals.w, vals.h);`
under the p5.prototype.image constructor.

[2017-03-06 09:32] montoyamoraga opened #1844 "Outdated wiki for Global and instance mode"
The sections for HTML5 Video and Capture with WebRTC seem outdated
because some functionalities described are included in the p5.dom library

https://github.com/processing/p5.js/wiki/Global-and-instance-mode#html5-video
https://github.com/processing/p5.js/wiki/Global-and-instance-mode#capture-with-webrtc

[2017-03-06 16:38] gncgnc opened #1845 "Image resizing with nearest neighbor algorithm"
Nearest neighbor resizing is a nice feature for user's working with things like pixel art. There is no native way to do this (except writing your own), so maybe it would be a sensible addition to p5. In Processing this can be done with using noSmooth(), but I'm not sure what the best way to implement this would be.

[2017-03-06 18:37] carolelambert opened #1846 "video is not playing on mobile devices for the "Video Canvas" example from p5js.org"
I am not able to have the video on my iPhone 6 (checked with the latest Chrome and Safari browsers) for the "Video Canvas" example from p5js.org (the image is freezed, the video is not played).
It would work if we remove the 'fingers.hide()' call, but it would not hide the 2nd video out of the canvas...Fyi, the "Video" example (without any call to hide()) is working fine.

https://p5js.org/example

[2017-03-06 19:30] lmccart commented on #1835
hi @benslack, it's hard to debug a large project of code like this. could you please post an isolated code snippet that illustrates the problem. I'm going to close this for now, but please reopen this issue when you've updated the code snippet. thanks!

[2017-03-06 19:30] #1835 closed

[2017-03-06 19:31] #1832 closed

[2017-03-06 19:32] lmccart commented on #1840
there's not at this time. we've decided to adhere to the behavior of canvas for basic drawing in most cases, so the best workaround is to round the numbers before inputting as @feedzh suggests.

[2017-03-06 19:32] #1840 closed

[2017-03-06 19:32] lmccart commented on #1809
thanks @limzykenneth!

[2017-03-06 19:32] #1809 closed

[2017-03-06 19:34] lmccart commented on #1845
at the moment, it's a bit beyond the capabilities of the core functionality. but this sounds like a great feature for some kind of addon library. see this doc if you're interested in creating one:
https://github.com/processing/p5.js/wiki/Libraries

[2017-03-06 19:34] #1845 closed

[2017-03-07 15:12] Trion129 commented on #1842
@akhilanadimpalli The font file should be in same folder as the html file in most cases. Also you need to load the font with the extension
`loadedFont = loadFont('Avenir-Next-LT-Pro-Demi_5188.otf');`

[2017-03-07 15:48] gncgnc commented on #1845
I have implemented this [here](https://gist.github.com/gncgnc/fc645b8db00ec43d43fecef37d58df73), for anyone who might be looking for this in the future. It's slower than the regular resize(), but it gets the job done.

[2017-03-07 17:07] dhowe commented on #1824
I'm not sure I agree. My thinking when I wrote this function was that b/c textToPoints is part of the p5.Font object, it should not take the current canvas state into account (it is not using the current textFont, so why use other properties of the drawing state?) If we want a textToPoints() that does use  current state, then I would probably argue for making it a full-fledged p5.js function (p5.R

[2017-03-07 17:38] kjhollen opened #1847 "preventDefault for touch events "not working" in Android Chrome"
I'm working on some touches array examples for class and noticed that preventDefault doesn't seem to be a reliable way to cancel default touch events on Chrome for Android—which means it's not possible to run p5 multitouch examples without some interference from this particular browser.

It looks like this recent change to Chrome may be to blame:
https://developers.google.com/web/updates/2017/01/s

[2017-03-07 20:03] tamler opened #1848 "Video on canvas has incorrect width."
[code]

This is producing a video on canvas with the width of video source divided in half.
I have the latest version of p5js: 0.5.7
Anyone else see this issue?

[2017-03-08 00:42] michaelByrne commented on #1846
Problem is that inline autoplay isn't default in Webkit and the hide() function hides the start arrow. Video needs autoplay, muted, and playsinline attributes. Looking at a fix now.

[2017-03-08 04:15] catarak commented on #1848
I also just noticed this issue. However, I noticed that if you do
[code]
then the width is correct.

[2017-03-08 04:18] tamler commented on #1848
This works also...

image(vid, 0, 0, width*2, height);

So for some reason width is being divided by 2.

[2017-03-08 12:23] akhilanadimpalli commented on #1842
@ tnq it works..

[2017-03-08 19:53] lmccart commented on #1683
For organizational purposes I'm going to close this for now, please reopen if you can post more details to help us debug. Thanks!

[2017-03-08 19:53] #1683 closed

[2017-03-08 19:53] #1818 closed

[2017-03-08 22:35] jbakse opened #1850 "updatePixels() needed when using set() + get()"
I'm not sure if this is a bug or working as designed, but it appears that `updatePixels()` is need after every call to `set()` if also using `get()`.

expected: all pixels turned red.
observed: only the last pixel is updated.
including the updatePixels() or removing the get() will fix

I *think* that this may be a bug, but I'm not sure the intended design. An `updatePixels()` is needed when done w

[2017-03-08 22:36] seeme00 opened #1851 "Error on touch end"
Using a simple sketch:

`function setup(){
  createCanvas(300, 300);
}

function draw(){
  background(90);
}
`

On Android chrome, if I touch the canvas, I get the following error/stack:

I'm using the latest version from https://p5js.org/download/
(Android 5.1, Chrome 55)

Thanks

[2017-03-08 22:47] lmccart commented on #1850
This is correct behavior, it's documented on the reference page for set:
http://p5js.org/reference/#/p5/set

[2017-03-09 00:53] jbakse commented on #1850
Thanks so much for the very quick reply!

Just double checking this, because I think the documentation doesn't match up with the example i'm posting.

The docs say:

But the example code requires updatePixels() after every single set(). Which is a performance drag.

Before I posted about this I looked through old issues to see if there was discussion and found this (issue #521), which led me to th

[2017-03-09 05:59] #1842 closed

[2017-03-09 16:24] WIPocket commented on #1817
I dont seem to have this issue on your site. Can it have anything to do with the fact I dont have it on a server (all local)?
Also I don't enter the option for more dots.
I will try to rewrite the code by linking to your version of the full p5.js code.

[2017-03-09 17:26] mwylegly opened #1852 "mouseY on IOS not working as intended."
Strange issue with the mouseY on ios (iphone 5s, ipad 2) in which the y updates relative to the position where the touch is started.

mouseX seems to be working as intend.

Also seems to be impacting touches[].

The drawing example ( http://p5js.org/examples/mobile-simple-draw.html ) seems to be exhibiting this issue as well.

[2017-03-09 23:13] lmccart commented on #1756
fixed with https://github.com/processing/p5.js/pull/1839

[2017-03-09 23:13] #1756 closed

[2017-03-10 00:02] lmccart commented on #1802
I haven't heard any other strong opinions so I'm going to table this for now. Let's revisit if it comes up again.

[2017-03-10 00:02] #1802 closed

[2017-03-10 00:02] #1766 closed

[2017-03-10 12:23] aldobranti opened #1853 "video cue c/b argument order and removeCue fails"
[code]

`
console:
`cued t:hello v:undefined
cued t:hello v:undefined
cued t:hello v:undefined
cued t:hello v:undefined`

(1) the order of the c/b arguments is not as documented.
(2) removeCue fails to unsplice the cue
`Uncaught TypeError: Cannot read property 'splice' of undefined
    at p5.MediaElement.removeCue (p5.dom.js:2082)`

[2017-03-11 04:03] shramee commented on #583
Hi @toolness, I am experienced with both typescript and p5 (done for my clients), I'm looking forward to using p5 with TypeScript 😋
I'll have a play with your definition files, in the meantime feel free to tell me what is missing...

[2017-03-11 18:21] dhowe commented on #1554
status?

[2017-03-11 19:26] GeoffLouw commented on #1817
This seems to be font specific, some fonts works prefect.
I tried the same string with different fonts and only getting this error on some fonts.

[2017-03-12 08:32] dhowe commented on #1817
If you are using a character that is not in the font, this could happen. Can you post an example of the problem ?

[2017-03-12 13:01] Trion129 commented on #1795
Worked fine for me, I generated 10+ ellipse and they were all visible

[2017-03-12 14:57] jacorre commented on #1815
Adding touchstarted helps alleviate the extra touch being generated. However, it doesn't seem to help with listeners attached to dom elements. For example, I have an icon that when clicked should do something. The click is triggered twice. Does this mean the p5 dom library also needs changes? Thank you!

[2017-03-12 17:04] WIPocket commented on #1817
I used `console.log("space");` in the if statenent when the glyph name is `space` and it showed in the dev console (it was a space). Also when I used a char thats not in the font (`》`) it showed a questionmark in a box.
So all my code does is it loads a font in preload and than loops in all the vectors. I made it write them to the page and when I used a space everything after it was `x == 0`.
Hope

[2017-03-14 02:29] DexterShepherd commented on #1638
Hey All,

Been looking for a way to contribute for some time and I just hit this issue with my code as well. I'd love to take a look and hopefully submit a PR.

Assigning to myself to avoid duplicated work from anyone.

[2017-03-14 12:19] JimishF commented on #1837
The problem is with the font file which you are using. It is not the issue of p5 at all. <br>
I tried with other bunch of fonts and it is working fine for me.<br>
Here is my [repo](https://github.com/JimishF/streering-behaviours) you can check out.

[2017-03-14 12:54] davidredsox commented on #1837
I suppose I should have tried that first. Thanks though.

[2017-03-14 12:54] #1837 closed

[2017-03-14 15:47] jshaw opened #1855 "calling loadStrings to assign value to variable is inconsistent with the loadStrings callback method"
When using loadString as to load a string from a .txt file and set it as a variable  as so`pubnub_config = loadStrings('pubnub_config.txt');` an array is returned but is inaccessible to access. This is done both in the `preload()` and `setup()` functions.

The returned value is a shown as an array but the `typeof` is an object and has a length is 0.

If I switch to the callback function method it

[2017-03-14 19:03] nbriz commented on #815
hi there! just wondering if there's been any progress on this? is there a recommended way of registering these preload methods? I've been using p5.js in class but also writing tiny helpers/libraries for specific projects && would be rad to have access to preload :)

[2017-03-14 19:49] bobcgausa commented on #458
I implemented an SVG parser that implements path, line, circle, text, rect, polygon, polyline, polygon, transform and basic text.  Only one level of <g> is supported. Styles not at all. Check it out at http://jsfiddle.net/bobcook/2p9tqzze/

Paste your SVG file into the great app at https://petercollingridge.appspot.com/svg-editor
Remove white space to create a single string rep of the file
Call my

[2017-03-14 22:30] lmccart commented on #1784
I updated grunt-mocha and a few other modules and resolved this error and others that came up. @limzykenneth can you confirm the latest works for you?

@kjhollen can you test as well if you have a chance?

[2017-03-14 22:41] lmccart commented on #1850
fixed with https://github.com/processing/p5.js/pull/1854

[2017-03-14 22:41] #1850 closed

[2017-03-14 22:47] lmccart commented on #1694
closed with https://github.com/processing/p5.js/pull/1812

[2017-03-14 22:47] #1694 closed

[2017-03-14 22:48] lmccart commented on #968
this will be possible in the next release https://github.com/processing/p5.js/pull/1812

[2017-03-14 22:48] #968 closed

[2017-03-14 22:52] lmccart commented on #1855
I'm not able to reproduce. This is the test code I'm using:
[code]

this is the console output:
<img width="307" alt="screen shot 2017-03-14 at 3 51 27 pm" src="https://cloud.githubusercontent.com/assets/191056/23925809/341a0d44-08ce-11e7-9f93-db46625fe2c1.png">

are you trying to call console.log on the data inside preload? at this point the loading would not be complete, but if you call console.

[2017-03-14 22:58] lmccart commented on #1816
this behavior is intended, though it is something of a side effect. it becomes especially useful in removing/cleaning up sketches. for instance:

[code]

we are still below 1.0 so I wouldn't say "rely on it", but there are no plans to remove it.  any documentation help for this and communicating with external code in general would be much appreciated. I think adding a page to the wiki would make s

[2017-03-14 23:09] lmccart commented on #1847
@kjhollen can you test by pulling the latest to see if it fixes your use case? if not, will you post a code snippet that illustrates the behavior? thanks!

[2017-03-14 23:10] lmccart commented on #1811
thanks @feedzh I think your fix has resolved this issue. if anyone is still have issues please feel free to reopen this one.

[2017-03-14 23:10] #1811 closed

[2017-03-14 23:12] lmccart commented on #1815
this has been resolved with #1820, it will be in the next release. thanks!

[2017-03-15 00:24] lmccart commented on #1806
This change works, but I believe it would slow things down considerably, see this performance test:
https://jsperf.com/rect-vs-lineto/1

For now, I'd like to leave things as is and leave it up to the developer to account for this fuzzy edge if it effects what they are doing.

[2017-03-15 00:24] #1806 closed

[2017-03-15 00:40] lmccart commented on #815
the information on how to register preload methods is here:
https://github.com/processing/p5.js/wiki/Libraries

unfortunately there's been no progress on dealing with other sorts of objects as discussed above yet.

[2017-03-15 00:53] lmccart commented on #1852
i think this is just a problem with the frame of the example and not with the library itself. i'm moving it over here: https://github.com/processing/p5.js-website/issues

[2017-03-15 00:53] #1852 closed

[2017-03-15 00:55] #523 closed

[2017-03-15 00:56] lmccart commented on #1020
@shiffman where are we on this one? is it ok to close this or are you still noticing problems?

[2017-03-15 00:57] lmccart commented on #1361
I haven't heard further comments on this, so I'm going to close this for now.

[2017-03-15 00:57] #1361 closed

[2017-03-15 00:57] #1496 closed

[2017-03-15 00:58] lmccart commented on #1110
I think these have all been addressed now, thanks everyone.

[2017-03-15 00:58] #1110 closed

[2017-03-15 00:59] lmccart commented on #1706
this is at the browser level, and without doing some constant state checking in the background, there's not much we can do about this. the constant checking would slow things down so I'd prefer to leave as is for now, since we haven't heard much more on this topic.

[2017-03-15 00:59] #1706 closed

[2017-03-15 01:01] lmccart commented on #1699
@bmoren the file is here: http://p5js.org/reference/data.json it's in the .gitignore so you won't see it in the repo, but it will get generated if you run `grunt yui`.

thanks @jonohayon!

@catarak this is the file to reference for the syntax highlighting. does the info in the gist make sense, and do you have everything you need?

[2017-03-15 01:02] lmccart commented on #1717
@max0410 thanks! please submit the PR to this repo: https://github.com/processing/p5.js-sound/blob/master/src/amplitude.js

[2017-03-15 03:15] lmccart commented on #1824
@dhowe I agree with the thought to make it canvas-agnostic and keep it as part of the p5.Font object. I think it's a fairly specific function and makes more sense within that object rather than at the top level API

[2017-03-15 03:15] #1808 closed

[2017-03-15 03:18] lmccart commented on #1791
@explodingdigg it's difficult to debug a large block of code like this. please reopen this issue with an isolated snippet of code that illustrates the problem. this debugging guide may be helpful: http://p5js.org/tutorials/debugging.html

[2017-03-15 03:18] #1791 closed

[2017-03-15 03:19] #1830 closed

[2017-03-15 03:21] lmccart commented on #1831
this is covered over here https://github.com/processing/p5.js/issues/1424

[2017-03-15 03:21] #1831 closed

[2017-03-15 03:23] lmccart commented on #1718
Interesting thanks for sharing.

-Did you were aware of the existence of these unused functions in your projects?

-Do you think that this is a problem?

-Do you think that can be useful a tool for deal with this kind of problem?

[2017-03-15 03:23] #1718 closed

[2017-03-15 03:24] lmccart commented on #1851
fixed with https://github.com/processing/p5.js/pull/1820

[2017-03-15 03:24] #1851 closed

[2017-03-15 03:25] demc opened #1857 "keyIsPressed remains true after releasing key"
You would expect this code to change the background as long as the key is held down. Unfortunately, the field is not being updated correctly.

[code]

The culprit is here: https://github.com/processing/p5.js/blob/9c4f736701067285c7ce6ffaa5273d5ad13320f4/src/events/keyboard.js#L228

I am fixing this and will submit a PR shortly.

[2017-03-15 03:26] lmccart commented on #1720
this is covered in https://github.com/processing/p5.js/issues/1680 and https://github.com/processing/p5.js/issues/1703

[2017-03-15 03:26] #1720 closed

[2017-03-15 03:36] limzykenneth commented on #1784
Seems to be working for me 👍

[2017-03-15 10:40] lehni commented on #458
If it's of use or interest, here the Paper.js code that parses SVG strings:

https://github.com/paperjs/paper.js/blob/develop/src/path/PathItem.js#L127

It has been thoroughly tested against all kinds of SVG path definitions, and was designed to be very compact while remaining legible.

[2017-03-15 11:31] jshaw commented on #1855
Your sample code is working for me too. And yeah, I was logging in the preload. I could have sworn that I also tried logging the output in the setup and initialized the pubnub lib with the keys in the setup too. Thanks for looking into this and the quick reply!

[2017-03-15 11:31] #1855 closed

[2017-03-15 11:48] AnastasiaDunbar commented on #46
Have shaders been implemented yet?

[2017-03-15 12:03] AkashGutha commented on #46
@AnastasiaDunbar @lmccart is this being implemented or in the backlog or has been removed from plans?

[2017-03-15 16:44] bobcgausa commented on #458
Thx much but I needed code that used P5 api.

Sent from my Windows 10 phone

From: Jürg Lehni<mailto:notifications@github.com>
Sent: Wednesday, March 15, 2017 6:40 AM
To: processing/p5.js<mailto:p5.js@noreply.github.com>
Cc: bobcgausa<mailto:bobcook47@hotmail.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [processing/p5.js] Dealing with SVGs (#458)

If it's of use or interest, here

[2017-03-15 20:43] calebcarithers opened #1859 "Instance Mode Trouble Shooting"
I have been struggling with instance mode for over a month. I am not a pro at JavaScript but am somewhat familiar. I have a few sketches I am trying to execute on the same HTML page. I have the sketches working by themselves within the processing IDE, and can make one of them run on an html page, but once I try to include more than one, I know I need to use instance mode. The sketches include the

[2017-03-15 20:52] calebcarithers commented on #1859
Okay thank you for helping. The if statement fix was unsuccessful. Sorry for posting in the wrong place, just have not had luck with the forum. Thanks.

[2017-03-15 21:28] AkashGutha commented on #46
@lmccart where is the branch if we want to contribute?

[2017-03-15 22:11] kjhollen commented on #1784
Works for me too! 😁

[2017-03-15 22:13] lmccart commented on #1784
YAY

[2017-03-15 22:13] #1784 closed

[2017-03-15 22:13] #1857 closed

[2017-03-15 22:17] kjhollen commented on #1847
Looks like it's still not working—here's an example I uploaded to the editor site (it has a new p5.min.js build linked locally) http://alpha.editor.p5js.org/full/S1mJochqg

[2017-03-16 10:06] limzykenneth commented on #46
@AkashGutha I believe it's this PR: #1568

[2017-03-16 23:56] reteps opened #1860 "Suggestion: more information on the p5 dom input webpage"
Currently, right [here](http://p5js.org/reference/#/p5/createInput) it says:
[code]
I propose you list more types, like text, password, number, date, etc.

I propose it looks like:
[code]
<img width="908" alt="screen shot 2017-03-16 at 7 54 53 pm" src="https://cloud.githubusercontent.com/assets/13869303/24023405/82d8f69c-0a82-11e7-942d-0df155ccf0db.png">

[2017-03-17 01:06] lmccart commented on #1860
I think what would be best is if

[2017-03-17 01:06] #1860 closed

[2017-03-19 01:17] wapatoecology opened #1861 "index.html no longer works in any browser"
i just had a successful first day learning p5.js on my mac running 10.12 on chrome.

then, out of the blue, the html file no longer works in any browser.
i tried downloading everything again and it didn't work either. old files that worked no longer do.
I've searched and found no similar problems online.

Thank you to anyone who has any help to offer.

[2017-03-19 02:35] jricha36 opened #1862 "P5.js ellipsoid issue"
error on library when creating ellipsoid.
push();
	translate(width/3,height/3);
        fill(255,0,0);
       ellipsoid(20,30,40);
pop();

repeatedly returns error message below

Uncaught TypeError: this._renderer.geometryInHash is not a function      p5.js:32290
    at p5.ellipsoid (p5.js:32290)
    at draw (sharpWet.js:82)
    at p5.redraw (p5.js:14113)
    at p5.<anonymous> (p5.js:9147)
    at

[2017-03-19 03:10] lmccart commented on #1862
ellipsoid is a 3D object so it only works in webgl mode, are you working in this mode?

[2017-03-19 04:21] bmoren commented on #1862
You can use webgl mode by creating a canvas with the web gl renderer

`createCanvas(200, 200, WEBGL);`

more info here:
https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

[2017-03-19 05:14] jricha36 commented on #1862
This is the code I am using:

var i = 0 ;
var j = 0;
var k = 0;
var z = 0;

function setup() {
createCanvas(600,600,WEGGL);
//rectMode(CENTER);
frameRate(10);

}

function draw() {

var size = height / 15; // 20
var margin = width / 20; // 15
var x = width - margin - size; // 265
var y = height - margin - size; // 190
background(255,255,103);

push();
translate(width/3,height/3,0);

fill(255,0,0);

[2017-03-19 13:54] max0410 commented on #1717
No problem, will do

[2017-03-19 14:15] max0410 commented on #1717
I'm really sorry for this, but looking back to my code, it seems that it  must be reverted. What that code did was to check if the browser supported `audiocontext.createScriptProcessor`, and if it didn't, it would make the function, and equal it to `audiocontext.createJavaScriptNode`, and my code broke that functionality.

So I am pretty sure that my code is wrong, but It may not be. As I'd have t

[2017-03-19 14:44] bmoren commented on #1862
it seems there is a typo in your create canvas: `createCanvas(600,600,WEGGL);` should be  `createCanvas(600,600,WEBGL);`

[2017-03-19 15:25] jricha36 commented on #1862
I apologize, this is an error I created during testing. I still get errors
from the P5 library when i run the code in Windows 10.
Thanks to  everyone for the assistance.

On Sun, Mar 19, 2017 at 8:45 AM, Ben Moren <notifications@github.com> wrote:

[2017-03-19 15:36] lmccart commented on #1862
can you please post the error you're seeing?
you can mark up your code snippets when you post here on github so they're a little easier to read, see this link:
https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-03-19 16:13] jricha36 commented on #1862
new error.

p5.js:31396 p5.RendererGL: enabled webgl context
p5.js:30623 Uncaught TypeError: Cannot read property 'transpose3x3' of null
    at p5.Matrix.inverseTranspose (p5.js:30623)
    at p5.RendererGL._setMatrixUniforms (p5.js:31557)
    at p5.RendererGL.drawBuffers (p5.js:31282)
    at p5.RendererGL.rect (p5.js:32509)
    at p5.rect (p5.js:8157)
    at draw (sharpWet.js:49)
    at p5.redraw

[2017-03-19 19:44] jricha36 commented on #1862
follow up on error by simplifying the sketch code to make it easier to troubleshoot. When "WEBGL" is removed from the parameter list of createCanvas no errors are generated and the line is drawn.

function setup() {
               createCanvas(600,600,WEBGL);
}

function draw() {

	     line(100,100,200,100);  // draw a straight line.
}

Error message from console.

p5.js:31396 p5.RendererGL: enab

[2017-03-19 19:49] lmccart commented on #1862
ah, line() is currently not working in webgl mode. we're working on a fix. you can follow progress on this over here: https://github.com/processing/p5.js/issues/1638

[2017-03-19 19:49] #1862 closed

[2017-03-19 19:56] jricha36 commented on #1862
the errors are also thrown for other 2D  shapes such as rect. It appears
that 2D cannot be included with WEBGL. I have also seen errors while using
vertex when using WEBGL.

thanks for your help

Jim

On Sun, Mar 19, 2017 at 1:49 PM, Lauren McCarthy <notifications@github.com>
wrote:

[2017-03-19 20:00] lmccart commented on #1862
this is correct. only 3D shapes can be used right now.

[2017-03-20 00:56] shiffman commented on #1020
I've looked into this a bit more. It's actually working quite a bit better than it did originally. (There is also a major mistake in my example code in that with `noCanvas()` the `width` parameter is nonsensical.) Testing it again with a slider, it mostly works but has some stuttering / performance problems. As far as I can tell, however, these are not p5 issues but rather just the result of tryin

[2017-03-20 00:56] #1020 closed

[2017-03-20 10:54] Zemingsoares commented on #1770
@lmccart
@Flishworks

I am new to p5 and javascript so I am not sure if there is something wrong with the code  or if I am getting the same bug (but not that new I would think I could make a blue rectangle rotate......). But I saw you requested a smaller sketch or snippet to isolate the bug so I hope this helps:

[code]

This is what I am getting:
`
31017: Uncaught TypeError: Cannot read property

[2017-03-20 14:48] shiffman opened #1864 "Using select() and option() with a <select> HTMLelement"
This is going to be confusing due to the word "select" meaning two different things, let me see if I can explain!

The following works:

[code]

However, if I have an existing HTML element like:

[code]

The following does not work:

[code]

It seems that the `p5.Element` created is not properly noted as a `<select>` element and therefore does not have the `option()` method attached?

I am happy t

[2017-03-20 17:40] nbriz commented on #815
thnx @lmccart that worked perfectly :)

[2017-03-21 01:23] mlarghydracept commented on #1796
Seems like a common problem that doesn't have a good solution yet. [Three.js](https://github.com/mrdoob/three.js/issues/9109) is having the same problem and [Mozilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1246410) is aware of it.

[2017-03-21 01:29] mlarghydracept commented on #1861
There isn't enough information here for us to investigate this as a bug. Seems more likely that you have a problem unrelated to the code of the library. [You should try troubleshooting this with people on the forum](https://forum.processing.org/two/categories/p5-js). Good luck!

[2017-03-21 01:29] #1861 closed

[2017-03-21 16:01] mithru commented on #1726
Not entirely sure if this is the ask. I made [this](https://codepen.io/mithru/pen/XdNQZb) a while back as a template for my p5 experiments on codepen before I discovered the alpha editor.

Also, I just noticed codepen released 'Projects'. I can work on creating a template codepen project and link it to where @shiffman suggested, but I want to make sure this is what the suggestion/ask is.

One ques

[2017-03-22 06:27] limzykenneth commented on #1726
@mithru For platforms like codepen, there is not easy way to update library versions that I know of. If you have a look at Settings > Javascript > Quick-add, you will see a list of popular libraries, that could be a way to easily add and update library versions but whether a certain library is included in that list or not is entirely up to codepen.

[2017-03-22 07:26] JimishF commented on #1864
I'm working on this issue. It can be resolved by adding methods of select prototype at the time of returning `wrapElemet()`

[2017-03-22 12:10] DarkPrince304 commented on #1554
Working on this.

[2017-03-22 13:14] sakshamsaxena commented on #707
p5.js
p5.min.js
p5.js
p5.sound.js
p5.sound.min.js
p5.zip containing all of the above plus empty example

I think [this](https://developer.github.com/v3/repos/releases/#upload-a-release-asset) might help ? If we somehow further refine the entire automation process (going beyond `grunt` basically), maybe we can include a suitable call to set up the release! Publishing on NPM would could be condition

[2017-03-22 13:31] DonKarlssonSan commented on #1726
@limzykenneth When dynamically creating a new Pen on CodePen with their API you can add whatever external js libraries you want to with the `js_external` parameter.

You can do the same thing manually by going into the Pen Settings and paste an URL to an external js lib. In other words: you are not limited to the few ones that CodePen decided to put in the drop down menu.

[2017-03-22 13:39] DonKarlssonSan commented on #1726
And a clearification:
I'm proposing to have a "Create Sketch on CodePen" for a few select examples in the Get Started guide. It would take the js code for the current sketch and automatically create a Pen.

Example:
"Your First Sketch" has the following code:

[code]

Pressing the "Create Sketch on CodePen" button would place that code in a new Pen on CodePen and add a reference to p5.js. So now t

[2017-03-22 13:44] limzykenneth commented on #1726
@DonKarlssonSan Yeah, I'm aware that you can just add a library link with codepen, just answering @mithru question about updating library version easily on codepen

[2017-03-23 11:31] MiragePV opened #1867 "Using saveCanvas() for saving a large picture fails"
Hey,

Working on 64 bit Windows 7, using Chrome ver. 57.0.xxx

I create 3000x3000 pixels canvas, drawing something on it, then trying to save it (once) as a .jpg/.png picture. However, when the program tries to do so, the picture is not saved. Instead, I get an "Error - Network problem" in Chrome.

Is this a Chrome problem, or a p5.js problem?

var CanvasSize = 3000;
createCanvas(CanvasSize, Canva

[2017-03-24 23:42] lmccart commented on #603
I think this page has sufficient information for now. There's been no activity on this issue for over a year so I'm going to close it. Thanks all.

[2017-03-24 23:42] #603 closed

[2017-03-24 23:44] lmccart commented on #624
Closing this as there's been no activity for over a year, please feel free to reopen issue if it's still of interest or someone has time to work more on this.

[2017-03-24 23:44] #624 closed

[2017-03-24 23:46] lmccart commented on #1535
jsonp related issues have been fixed with the move to the fetch API underlying the loadX methods. it will be in the next release coming soon.

[2017-03-24 23:46] #1535 closed

[2017-03-24 23:49] lmccart commented on #1867
this is a limitation of the browser, more here: http://stackoverflow.com/questions/16156402/canvas-todataurl-for-large-canvas?noredirect=1&lq=1

[2017-03-24 23:49] #1867 closed

[2017-03-24 23:57] #1853 closed

[2017-03-25 00:02] lmccart commented on #1717
this issue is covered over in the p5.js-sound repo, let's continue working on it there:
https://github.com/processing/p5.js-sound/issues/154

[2017-03-25 00:02] #1717 closed

[2017-03-25 00:03] lmccart commented on #1817
There's not much more we can do for now. Please reopen if you can post a minimal code example and font file that illustrates the problem. Thanks!

[2017-03-25 00:03] #1817 closed

[2017-03-25 00:04] lmccart commented on #1772
ellipse() is not currently implemented in webgl, it is in the roadmap:
https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

[2017-03-25 00:04] #1772 closed

[2017-03-25 00:09] lmccart commented on #1696
p5 uses the right-hand system, so the rotation is correct. more about webgl in p5 here: https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5

[2017-03-25 00:09] #1650 closed

[2017-03-25 00:11] lmccart commented on #906
I think the complexity of adding this and the lack of activity on this thread suggests we table this for now and focus on frying bigger fish until this comes into higher demand.

[2017-03-25 00:11] #906 closed

[2017-03-25 03:52] technosalon commented on #1696
Very disappointed answer after 4 months. You should check your reference by yourself.

![img_3419](https://cloud.githubusercontent.com/assets/18400681/24319212/9608891c-1158-11e7-8dd8-d64572fef37d.PNG)

If p5 is on the "left-hand" sistem, we must change the directions of the x and y axis everywhere in our source codes. You should check what happens now by yourself, since this is the basis of our c

[2017-03-25 04:09] technosalon commented on #1696
Dear @lmccart This is the very sad reply after 4 months. The p5 is on "right-handed" system. You should have read your reference by yourself, before answering.

![img_3419](https://cloud.githubusercontent.com/assets/18400681/24319279/230fbc30-115a-11e7-8985-822b560d745c.PNG)

If the p5 is on the "left-handed" system, then, you must change your directions of the x and y axis. I think you should che

[2017-03-25 04:15] technosalon commented on #1696
Dear @lmccart this is the sad answer after 4 months. You should have read your reference by yourself, before answering.

![img_3419](https://cloud.githubusercontent.com/assets/18400681/24319335/572df62e-115c-11e7-86f0-38e42399e6d5.PNG)

If p5 is on the "right-handed" system, we must exchange the x and y axis everywhere in our source codes. Therefore, I recommend that you should not close this issu

[2017-03-25 14:14] calpa commented on #1561
Hello everyone, I also find this problem when I am using `beginShape()` and `vertex()` functions to create a plate filled with image.

Although I input box(100,1), it can generate a flat plate...

Example: http://codepen.io/calpa/pen/ZejWem

[2017-03-25 14:39] calpa commented on #1726
I think codePen or JSFiddle are useful for playing p5.js in sandbox mode, but personally I prefer codePen as it has a better UI...

@DonKarlssonSan MDN has implemented the code as a template, for example, the `openSample()` will clean CSS Code and use it with `openCodepen()`, then submit a form to https://codepen.io/pen/

In this way, the new comers may find it is better to implement the starter t

[2017-03-25 14:56] calpa commented on #1844
@montoyamoraga
I find that in the p5.dom library has a `createVideo()` function, which maybe related to these sections. Except using this new function inside the p5.dom library, do you think that we need to build the example, in CodePen or JSFiddle under this section?

[p5.dom docs - creating Video](https://p5js.org/reference/#/p5/createVideo)

[2017-03-25 15:31] HtmHell opened #1869 "color() with 2 arguments throws error"
It throws an error only when the 1st parameter is a string.
[code]

[2017-03-25 15:56] joecridge commented on #1869
Hi @HtmHell, thanks for catching this. I believe that this is the desired behaviour, but the documentation needs updating.

[2017-03-25 16:09] #1869 closed

[2017-03-28 17:48] kyungyunlee commented on #1507
@sebmorales Have you solved the problem? I feel like p5 WEBGL renderer still doesn't support image function....

[2017-03-28 19:39] sebmorales commented on #1507
@kyungyunlee I don't really know, I haven't tried it since.

[2017-03-29 14:17] prtysh commented on #1824
If this was the desired function, should this issue be closed?

[2017-03-29 15:03] JMandel1027 commented on #1249
Thank you @aatishb @limzykenneth for this work! really really great, this has helped me a ton for an interactive sound walk I'm implementing with p5.sound. :)

[2017-03-29 22:24] aatishb commented on #1249
@JMandel1027 would love to hear what you ended up using.
@lmccart @limzykenneth Just checking whether there's any interest in incorporating quaternions into p5? I have a fork with quaternions implemented and some test sketches written, it seems to work in all my tests. If there's interest I can try to incorporate these to the main branch. No worries if not.

[2017-03-31 16:44] sjorsvanheuveln commented on #1177
How's the progress going guys? I also require to print text in p5js webgl mode. Would be awesome if this could be added.

[2017-04-01 18:14] shiffman opened #1871 "undefined variable error + preload()/loadJSON()"
If I use a variable that I've never defined like so:

[code]

I get the error I expect in the console:

<img width="363" alt="screen shot 2017-04-01 at 2 08 19 pm" src="https://cloud.githubusercontent.com/assets/191758/24581184/b37f26cc-16e4-11e7-8501-dffd32ac3e91.png">

However, with that same code plus a call to `loadJSON()` in `preload()`, the error is not reported but rather is (??) bottled up

[2017-04-01 20:29] lmccart commented on #1810
thanks! this is coverd here: https://github.com/processing/p5.js/issues/1177

[2017-04-01 20:29] #1810 closed

[2017-04-02 03:59] limzykenneth commented on #1871
@shiffman That was originally to catch server errors like 404, I didn't really anticipated other errors, oops. I think we should just remove the else clause and maybe just pass the whole error object to the error callback, let the user decide how to deal with the error, is that reasonable for usability?

[2017-04-02 04:52] cfboyd opened #1872 "in p5.part the onStep function only works the first time the part plays, not on loops."
In p5.part the onStep function only works the first time the part plays, not when looping. How can I create a step counter or whatever otherwise?

[2017-04-02 11:14] b2renger commented on #1872
Hi @cfboyd

there is a similar issue on the p5.sound repo here : https://github.com/processing/p5.js-sound/issues/151
I'll close this one and cross-reference it and try to give an answer there.

[2017-04-02 11:14] #1872 closed

[2017-04-02 12:31] ChristerNilsson opened #1873 "Please make current x and y available after translate and rotate."
Translate, rotate and scale are really helpful in drawing.
But, in mousePressed, the **current coordinate** is not available.
That is, the current translated and rotated, coordinate.
At least, I have not found it.

Error message: Uncaught ReferenceError: x is not defined

Example:
Four circles in the corners of a 20 degrees tilted square.
![skarmklipp](https://cloud.githubusercontent.com/assets/34

[2017-04-02 14:51] lmccart commented on #1871
that makes sense

[2017-04-02 15:07] lmccart commented on #1873
We currently have no access to the current transform matrix being applied to the canvas. It is an experimental feature that may get added to the HTML5Canvas spec, but it's not implemented across browsers yet: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/currentTransform

To maintain a copy of the matrix ourselves within p5.js and update as transforms are applied would

[2017-04-02 16:46] ChristerNilsson commented on #1873
I see.
I made my own transformation handler as well.
https://github.com/ChristerNilsson/Transformer/blob/master/transformer.coffee

[2017-04-02 22:35] tigoe commented on #1864
An added detail:

This also doesn't work when you use p5.js in Cordova/PhoneGap. It used to, prior to 0.5.4, but in that version there was a problem  that caused touch events to be generated twice, e.g. every button press would generate two touchEnded() events. The  touchEnded fix  may have broken the select methods?

I've only tested on Android, but so far, no love.

Here's a test for this in Pho

[2017-04-03 01:35] #1873 closed

[2017-04-03 03:37] #1824 closed

[2017-04-03 13:54] JimishF commented on #1864
`changed()` is from p5.Element.prototype, which is simply attaching change listener to particular element. I guess `opts.changed(fxn);` is accepting a function rather than a string.
Try `opts.changed(function(e){ console.log( e.target ) })`

[2017-04-03 14:10] tigoe commented on #1864
That's a typo on my part. Remove the quotes around fum and you've got the test I actually used, which is roughly equivalent. The div remains unresponsive.

[2017-04-03 14:12] JimishF commented on #1864
yeah my mistake. i didn't saw further that you've declared `function fum()` later after i noticed that you've given string as arguments.

[2017-04-03 14:18] tigoe commented on #1864
No really, it was my mistake (though thanks for being kind).

I've been digging to find the version of p5 that I ran on phonegap where the option menus did work, but haven't successfully reproduced it. I thought it was 0.5.3, but it seems to be failing with that too.   strange.  Will keep looking so we can pinpoint where the change happened. Though I suspect the final fix to #1868 will probably so

[2017-04-03 14:18] JimishF commented on #1864
Here is the your problem.
`opts.option('fee', '');` means create an option with inner-text "fee"
 having value empty.
Passing only one argument `opts.option('fee');` will assign inner-text as well as value.

[2017-04-03 14:31] tigoe commented on #1864
That doesn't solve it, unfortunately. Still unresponsive in PhoneGap, but works fine in the browser. You can see the difference if you use the Chrome developer's console device emulator and try any of the phones listed.

Doesn't solve the full issue, either, because the createSelect() and options() is supposed to be able to set both an option and a value. In the actual code I'm using it for, for e

[2017-04-03 14:35] JimishF commented on #1864
This is totally different from Shiffman's issue. You should read it again. it says he is not able to apply selectbox methods while selecting (using query selector) an existing dropdown from dom.

[2017-04-03 14:42] tigoe commented on #1864
Right. I will shift over to #1868, which is perhaps more related.

[2017-04-03 15:30] tigoe opened #1875 "<Select> Elements not responsive on mobile device browsers"
After some investigation, and @JimishF pointing out that this is unrelated to #1864 and #1868, here's a whole new issue: select elements created using createSelect() are unresponsive on mobile browsers. I've tested this on:

* PhoneGap/Cordova
* Chrome on Android
* Safari on iOS

To replicate this in Chrome or Safari:

1. Create the sketch below
2. Run a local server in the sketch directory: `$ py

[2017-04-03 21:27] gilfuser opened #1876 "windowResized() erase drawings"
Well, I'm not sure if this is a bug but It is surely an issue and I couldn't find anything specific about that.
If I resize the window, anything that was drawn disappears.

A small example here:

[code]

[2017-04-03 21:29] lmccart commented on #1876
Yeah, unfortunately this is a limitation of the underlying HTML5 Canvas. Whenever it is resized, all content is erased. The workaround I suppose would be to save an array of all mouse coordinates as the mouse is pressed, and redraw them when the window is resized.

[2017-04-03 21:34] gilfuser commented on #1876
Thank you.
I was trying a workaround using createGraphics() but I got luck with that approach to.

[2017-04-03 21:42] lmccart commented on #1875
Thanks for the detailed report, and thanks @JimishF for helping disambiguate! I'll look into this as soon as I can and see what's up.

[2017-04-04 10:21] tigoe commented on #653
0.5.8 seems to have fixed httpDo, but the change in signature has affected httpGet(). When I do:
`httpGet(url, callback);`

the callback doesn't get called, and I get this error in the console:
`undefined undefined  p5.min.js:7`

However, httpDo(url, 'GET', callback); works fine. And   httpGet(url, 'GET', getLights); works fine. Makes me think maybe httpGet() needs a default value for the method m

[2017-04-04 10:21] tigoe commented on #653
oh, and httpDo(url, 'PUT', callback) is working beautifully now, thanks.

[2017-04-04 14:24] lmccart commented on #653
oh, httpGet() should not need/take a method, the GET should be implied. @limzykenneth do you want to take a look?

[2017-04-04 14:27] lmccart commented on #1875
I think this is related to the fix for events firing twice  (https://github.com/processing/p5.js/pull/1820#pullrequestreview-30677571). I believe the solution is to do as suggested in this comment.

[2017-04-04 14:38] azerton opened #1877 "loadPixels() ignores side-effects of rect()"
When working with loadPixels() and updatePixels(), any intermediate drawing that does not manipulate the pixels array directly appears to be ignored.

Example:

[code]

From the documentation, it is not clear if this is intended behavior or not. I have tried variants which use `updatePixels()` without results either.

[2017-04-04 14:40] limzykenneth commented on #653
Fixed with #1874 as well. It's due to an error with passing arguments from httpGet to httpDo, it affects httpPost as well.

@tigoe the `undefined undefined` error should be fixed with #1874 as well, if you are still experiencing problems then you should get a better error log, feel free to report back if needed.

[2017-04-04 14:41] lmccart commented on #1877
hm this is the intended behavior. what text do you suggest we add on the reference page to make this more clear?

[2017-04-04 14:56] azerton commented on #1877
Thanks fot he response!
Well, it's not really clear what impacts the pixel array.

For example, if I update the array manually, then I would indeed expect the changes to persist to canvas once I do updatePixels() (which is the case).

However, how can I ask p5.js "I will draw a rectangle now, and after that give me the updated pixel map"?

[2017-04-04 15:05] tigoe commented on #1875
Commenting out this else statement (which are lines 19585-19588 in p5.js 0.5.8, if I'm translating to the current distribution correctly) does fix the problem with select tags, but it also causes touchEnd()  events to fire twice. Tested on PhoneGap, iOS, and Nexus 5.

Here's a hack that seems to fix it for select tags. Replace the else block on line 18585 with this:

[code]

Tested on the same tar

[2017-04-04 15:16] tigoe commented on #1875
Tried to submit a PR, but git told me I didn't have authorization. It's lines 237 - 242 in /src/events/touch.js, hope that is enough info.

[2017-04-04 15:20] lmccart commented on #1875
Thanks for testing this! I will have some time later this week to look at it and merge in the patch.

[2017-04-05 00:40] jtoy commented on #1699
this is great for other programs that want to integrate with p5

[2017-04-05 09:16] andyinabox opened #1878 "WebGL texture transparent PNG"
I'm attempting to use a transparent PNG as a texture, but the alpha channel doesn't register. Is this expected? Here's some sample code:

[code]

The image I'm using is:
![shape3](https://cloud.githubusercontent.com/assets/151084/24698429/99371928-19be-11e7-8496-a5116906b5cc.png)

And it renders like this:
![screenshot 2017-04-05 05 10 19](https://cloud.githubusercontent.com/assets/151084/24698460

[2017-04-05 14:50] mlarghydracept commented on #1878
As far as I can tell this expected behavior. The default material isn't going to detect the alpha of your texture image. You can try using [specularMaterial()](https://p5js.org/reference/#/p5/specularMaterial), but from what I understand this won't necessarily achieve your desired effect either.

[2017-04-06 06:56] mcsanta opened #1879 "Unexpected nf()-formatting"
Hi,

when using the nf()-function, the number gets formatted regardless of scientific notation. This makes very small or very big numbers indistinguishable.

Consider this example
[code]

Please let me know if the information provided is sufficient. And since this is my first contribution, I'm also open to general suggestions for improvement.

Best

[2017-04-07 16:44] runemadsen opened #1880 "Adding a new colormode"
Hi there!

 I was trying to create an addon that adds a new colormode to P5 based on [HSLUV](http://www.hsluv.org/), but I realized that the colormodes are [harcoded into the source](https://github.com/processing/p5.js/blob/master/src/color/p5.Color.js#L38-L41).

Would you be open to me submitting a pull request that allows for addons to define new color modes? I would need to think about the best

[2017-04-07 20:28] #1871 closed

[2017-04-07 20:31] lmccart opened #1881 "grunt tests occasionally fail"
rerunning grunt works again. this happens both with travis ci and locally

<img width="1024" alt="screen shot 2017-04-07 at 1 30 13 pm" src="https://cloud.githubusercontent.com/assets/191056/24818724/77a5386a-1b96-11e7-9d54-0ce38ec696a2.png">

[2017-04-07 20:33] #1876 closed

[2017-04-07 21:57] lmccart commented on #1875
Should be good with the latest patch. Please see [this note](https://github.com/processing/p5.js/pull/1820#issuecomment-292661579).

[2017-04-07 22:00] lmccart commented on #1878
Yes, this is currently the intended behavior.

[2017-04-07 22:00] #1878 closed

[2017-04-07 22:05] lmccart commented on #1877
the only two things that will affect it are using the [set()](https://p5js.org/reference/#/p5/set) function or directly setting values in the [pixels](https://p5js.org/reference/#/p5/pixels) array. I think the fix is to add a line into the documentation of loadPixels() and updatePixels() that notes these are the only two that will have an effect, all other drawing will not get implemented by updat

[2017-04-07 22:07] JMandel1027 commented on #1846
Hmm ya I'm getting the same thing on my pixel running chrome

I think if we add a simple patch to [MediaElement.play()](
https://github.com/processing/p5.js/blob/e3bb58c185cd247950216e76b15268605630a804/lib/addons/p5.dom.js#L1692) to check for touch in that play method that could work, I can run more tests for this this weekend.

Would be killer to get this working since a project I'm working on w

[2017-04-07 22:08] kjhollen commented on #1847
I just want to update this to say that I tested the solution I suggested here and it's working great on my Android phone. I'll submit a pull request after I get a chance to run the tests and make sure that I haven't messed things up for users of other platforms. :)

[2017-04-08 00:33] mlarghydracept commented on #1846
**I think it makes sense to activate the playback with touch in your sketch.**

The same thing happens on Android Marshmallow (older phone) but as @michaelByrne said [the newest version of Webkit allows for autoplay](https://webkit.org/blog/6784/new-video-policies-for-ios/) as long as the muted and playsinline attributes are present.

Commenting out the "fingers.hide()" line doesn't change the iss

[2017-04-08 00:43] JMandel1027 commented on #1846
Oh hey Stalgia! Long time no chat ☺️🖖

Yea I think so to, having a on touch to play implicitly controlling the play()  method seems to be the best route. I had some notes for adding an event listener checking for touch in the MediaElement.Play(), I was going to test out on my end later.

[2017-04-08 00:52] lmccart commented on #1846
Yeah, I think for the example, we ought to just move the video.loop() call into a mousePressed() function. I like the magic of handling mobile autoplay, but I think it probably isn't good mobile behavior / would be counterintuitive for p5.js to incorporate this. But by all means, give it a shot in your own project.. it seems feasible.

[2017-04-08 00:54] lmccart commented on #1847
I think I may have inadvertently added this patch in just now when I was attempting to fix something else. oops! But please do test if you have time and confirm this is ok to put in the next build.

[2017-04-08 01:26] mlarghydracept commented on #1815
@jacorre what kind of event listener is attached to your dom element?

I am asking because I am unable to recreate your problem.

[2017-04-08 01:33] jacorre commented on #1815
I was just questioning if the dom library also needed changes. After making the update to the newest release, things are working as expected. Thank you!

[2017-04-08 01:48] mlarghydracept commented on #1696
@technosalon you are right that the rotation is currently on the right-handed rule. This is easy to change but maybe it makes more sense to change the documentation if the right-handed rule is being used anywhere else in the code.

Have you noticed any other kinds of transforms that don't follow the left-handed rule? I am trying to check them all out right now.

[2017-04-08 14:28] tigoe commented on #1875
I'll give it a test to confirm later on today, thanks. You planning a 0.5.9 release anytime soon?

[2017-04-08 14:58] technosalon commented on #1696
@mlarghydracept hello, thanks for your help! That's what I want everyone who uses p5 in 3d to mention on this issue. I didn't test except for rotation. Since Processing is on the right-handed rule, I guess p5 also follows the same way, even though differing from other common 3d apps. I hope what you're trying to check encourage p5 users to discuss on this problem!

[2017-04-08 16:08] tigoe commented on #1875
Works great on Android Chrome and PhoneGap.

[2017-04-08 16:18] tigoe commented on #1875
Sorry to say, I take that back. I'm getting the double event error from button presses in Phonegap again. Not in Chrome on OSX though. Will do more testing...

[2017-04-08 16:56] tigoe commented on #1875
Confirmed. Button press happens twice every time with every touchStarted() and touchEnded(). Select items work normally and fire only one event on every changed(). Same testing method as above.

[2017-04-08 17:15] lmccart commented on #1875
agh i thought i'd finally got it! are you seeing this behavior on mobile without phonegap? i wonder if something is going on behind the scenes there that i haven't accounted for..

[2017-04-08 17:21] mlarghydracept commented on #1875
I am not seeing the issue on android chrome -- will test on phone gap later today

[2017-04-08 17:25] tigoe commented on #1875
When I test using the Chrome JS console and toggle the device toolbar to simulate various Anrdoid or iOS devices, I don't see it. When I run it in Chrome on an actual android device, I don't. (tested by putting a counter in the callback for the button, incrementing it when the function's called, and putting it in a div) But when I run it in a cordova app on a phone, I do. Which suggests that the b

[2017-04-08 17:41] lmccart commented on #1875
Aha, my best guess right now is that these `(!window.PointerEvent)` checks I added that prevent the duplicate firing may not be returning the correct result on phonegap because of the way the browser is wrapped. I can take a look at this tomorrow, or @mlarghydracept if you are looking into this later today, that is where I'd start (you can also check out [this comment](https://github.com/processin

[2017-04-09 01:38] mlarghydracept commented on #1875
@tigoe I am still having trouble recreating the issue. I have a simple sketch that I believe to be close to your test code --

`var addButton;
var currentNumber = 0;

function setup() {
  createCanvas(windowWidth, windowHeight);
  addButton = createButton('CLICK ME');
  addButton.position(200, 400);
  addButton.touchEnded(increment);
}

function draw() {
  background(255);
  textSize(64);
  text(c

[2017-04-09 01:44] mlarghydracept commented on #1875
@tigoe I am still having trouble recreating the issue. Reading your responses it seems like the latest problem is a double firing with touchStarted & touchEnded. Please correct me if I am wrong but based on that assumption I have a simple sketch that I believe to be close to your test code --

[code]
With that sketch everything is working in all of my test environments. I built the sketch into a C

[2017-04-09 03:11] julsgud commented on #561
Hey All!

Wondering if this is still a relevant fix worth looking into since loading images from url to canvas is possible when not using p5! (which is always a bummer!)

[This](http://stackoverflow.com/questions/29572560/load-image-from-url-and-draw-to-html5-canvas) thread has the following example of how it can be achieved.

`
var c = document.getElementById("myCanvas");
var ctx = c.getContext("

[2017-04-09 14:12] tigoe commented on #1875
@mlarghydracept Try this:

Use the p5.js and p5.dom.js files from the latest build (after @lmccart's patch) and then use this sketch, same instructions as above:

[code]
Tap the button. You'll get a double tap about 90% of the time.

What I've found is that if I tap, then swipe my finger out of the button before I lift, I can consistently get a single tap. But if the touch ends in the same place i

[2017-04-09 17:22] mlarghydracept commented on #1875
@tigoe This is tough. I definitely have the most recent build and I used your exact code but I am still unable to recreate the problem in a Cordova app running on/compiling with Android 6.0 on a LG G3. Below I have pasted a snippet of the log from Android Monitor which shows expected behavior. As you can see I tapped 53 times without a single double tap or double increment.

[code]
I'll try to thi

[2017-04-09 17:42] lmccart commented on #1875
@tigoe could you try two things for us? inside setup, can you place this line:
[code]

and then at the end of your sketch add a touchEnded function:
[code]

I'm curious (1) whether your cordova app is registering that your browser supports window.PointerEvent, and (2) if this is a problem with the element-specific listener attached to the button, or with touches anywhere on the screen (they're han

[2017-04-09 18:22] azerton commented on #1877
Indeed, I meant updatePixels(), my bad. I corrected the first comment!

If it actually does change in your example then I must have had a bug in my code, since it clearly did not work for me, with almost the exact same syntax as you used (loadPixels -> create object -> loadPixels -> no difference in the pixels array).

I will investigate and get back in case this is a recurring issue in my code.

[2017-04-09 21:04] tigoe commented on #1875
Thanks both. It is a hairy one.

Lauren, in response to your added lines, I'm getting "Pointer event = undefined" on startup and "touch ended" on every touchEnd. Following up on @mlarghydracept's idea, I tried it also on a Nexus 7 running android 5.1.1 and got the same results.

FWIW:
$ cordova -v
6.5.0
$ phonegap -v
6.4.8

[2017-04-10 18:26] SetupandDraw opened #1883 "something strange happens with p5Vector copy() function"
I was playing around with one of Shiffman's NOC examples for p5js: [Combining Behaviors_ Seek and Separate](https://github.com/shiffman/The-Nature-of-Code-Examples-p5.js/tree/master/chp06_agents/NOC_6_08_SeparationAndSeek) I wanted to add mass at play and so I attempted to make a copy of a vector passed in via a function, as I have done dozens of times before, but this time I got this error: "Unca

[2017-04-10 18:30] lmccart commented on #1883
what is the output if you console.log(force) just before the line `var f =...`?

[2017-04-10 18:32] SetupandDraw commented on #1883
vehicle.js:30 n.Vector {p5: o, x: 0, y: 0, z: 0}

[2017-04-10 18:36] lmccart commented on #1883
hm I'm not able to reproduce. this is my full code, does this snippet work for you?
[code]

[2017-04-10 18:36] SetupandDraw commented on #1883
I noticed something similar also with mult() function

if I console log the vector I get: p5.Vector{.....
but if I run forcename.mult(3); for example,
I get an error "Uncought TypeError: Cannot read property "mult" of undefined

[2017-04-10 18:39] SetupandDraw commented on #1883
Yes your script works for me, I have also tested simple snippets like this and they do work.

maybe the problem occurs when passing the Vector from function to function to function? As in the example I mentioned?

[2017-04-10 18:45] lmccart commented on #1883
thanks for all the info. this snippet, passing the vector through many functions also works for me.
[code]
we're going to need a complete, isolated snippet that demonstrates the problem in order to identify  a bug and fix it. if you need general code help, I'd suggest posting in the forum: http://forum.processing.org

[2017-04-10 23:16] lmccart opened #1885 "getNum() vs getNumber()"
This is inconsistent.. I suggest we use getNum only and make the change to p5.XML.

https://p5js.org/reference/#/p5.XML/getNumber
https://p5js.org/reference/#/p5.Table/getNum

[2017-04-11 07:06] SetupandDraw commented on #1883
OK, it might be something with the editor... The same code I'm experiencing problems with while testing on Atom (1.15.0), runs perfectly fine on P5js editor.

If I find more about the problem I will post in on the forum.

Thanks for your help Laura.

[2017-04-11 07:55] Squishling opened #1886 "millis() not working"
I referenced p5.js:
`<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.min.js"></script>`
Then I tried to make a timer, I created a startTime variable:
`var startTime = Math.floor(millis() / 1000);`
I run it in my browser (Firefox) and I get this error message:
`millis is not defined`

[2017-04-11 09:21] milkyklim opened #1887 "p5 touch event blocks normal touch behavior"
I have a sketch on my [webpage](http://milkyklim.com/write-it-right/).

Sketch [code](https://github.com/milkyklim/milkyklim.github.io/blob/master/assets/sketches/rain.js).

Expected behavior: when mouse is clicked or touch is down invert sketch colors.

Desktop version is fine.

Mobile version is not working properly. When I touch the screen the color changes but I can't click any of the objects

[2017-04-11 14:22] lmccart commented on #1883
huh weird. I was testing the snippets without the editor...just using sublime. maybe it's something happening with atom? I will try to test on atom and see if I can reproduce there.

[2017-04-11 14:23] lmccart commented on #1886
is this outside setup? all p5 calls need to happen inside setup or draw or another p5 function, or in a function called by one of these. if you try to do this before setup, p5 is not instantiated yet, so millis won't be defined.

[2017-04-11 17:50] Squishling commented on #1886
Oh! :P

[2017-04-11 17:53] Squishling commented on #1886
What do I do if I want millis() inside a prototype object?

[2017-04-11 19:21] lmccart commented on #1885
@mlarghydracept?

[2017-04-11 19:25] lmccart opened #1888 "handling table.getNum() with non-numerical cell values"
[code]

[code]

this throws an error: Uncaught (in promise) Error: undefined is NaN (Not a Number), or sometimes fails silently with output "undefined undefined".

I'm not sure what the best behavior is. if you call `int(undefined)` you get undefined, and if you call `int("")` you get NaN. maybe it should conform to this?
In any case, it should not throw an error that breaks the sketch, as it curr

[2017-04-11 19:25] lmccart commented on #1888
@mlarghydracept?

[2017-04-11 19:26] lmccart commented on #1886
you can declare the variable outside of setup, but assign it inside.

[code]

you can use the same logic with an object constructor as well. for further help with this, I suggest posting on the forum http://forum.processing.org.

[2017-04-11 19:26] #1886 closed

[2017-04-11 19:43] lmccart commented on #1826
@mlarghydracept do you want to take a look at this issue mentioned in the edit above?

[2017-04-11 20:04] shiffman commented on #1883
I doubt this is the issue but originally in Processing the name was `get()` rather than `copy()` it might be that older versions of p5 don't have `copy()`. I tested and my examples are working with recent p5.js, possible you are using an old version?

[2017-04-11 21:18] SetupandDraw commented on #1883
nope, the problem is with copy() but also with mult()
Sadly I have spent hours without being able to figure out what is it yet....
I have placed a running version of your flocking-system on githhub for you to see:

  [https://setupanddraw.github.io/experiments/Flocking_System/](url)

Same problem also online, with latest libraries linked via cdnjs.cloudflare.com:
`Uncaught TypeError: Cannot read p

[2017-04-12 01:02] lmccart commented on #1883
It looks like this piece of code will either return a p5.Vector or undefined, depending on which logic section it goes through. The error "Uncaught TypeError: Cannot read property 'mult' of undefined" indicates that it is undefined, so it seems this coudl be the source of the bug. I kindly ask that you move this question to the forum at this point, so we can keep the github issues just for isolate

[2017-04-12 01:02] #1883 closed

[2017-04-12 16:52] b2renger commented on #1887
I have the same problem here : https://b2renger.github.io/p5js_harmony-directed-layout/
I'm using p5js with quicksettings

0.58 : I cannot modify quicksettings paremeters on a mobile browser.
0.57 : does work with quicksettings but has still the double firing bug on mobile

There have been some related changes here that have proably broken things down https://github.com/processing/p5.js/commit/cc5

[2017-04-12 22:35] #1888 closed

[2017-04-12 22:36] #1885 closed

[2017-04-13 03:42] 19valentin99 opened #1892 "I can not use img.loadPixels()"
After I made the image with img=createImage(file.data); (is from the video with drag&drop) i can not load pixels from that specific image and be able to manipulate the pixels from the image that I created. what should I do?I have tried to use loadPixels(img) but still dosen't work. My code looks like this:

var dropzone;
var img;
var d=0;
var t=0;
function setup() {
  createCanvas(650,650);

[2017-04-13 08:31] tintinsnowy commented on #486
@shiffman .I'm working on it. Here is the thing. When the csv file more than 50kB or so, the p5.js works very slowly. BTW what's the maximal size of CSV which can be processed. When I tried a file with 96kb size, the p5.js shows that only part of the data has been processed.

thanks

[2017-04-13 12:59] b2renger commented on #1887
@milkyklim

So after investigations, the commit I mentionned earlier is actually the fix for our bug.
It turns out that this commit is not in 0.58 and will be in the next release.

I checked out the master branch built the lib according to these instructions https://github.com/processing/p5.js/wiki/Development

and replaced the p5.js file, it works but I get back the double firing bug on mobile.
W

[2017-04-14 02:16] mlarghydracept commented on #1892
Hi! So this isn't a problem with the library. This behavior is as-expected. The issues page on Github is for bugs in the library. For general coding help it is best to go to [this forum and ask your question.](https://forum.processing.org/two/categories/p5-js)

With that said, while trying to evaluate your problem I made a working version of your code. This doesn't use createImg() but instead uses

[2017-04-14 02:16] #1892 closed

[2017-04-14 02:45] claudiohfg opened #1893 "Suggestion for p5.Vector.angleBetween() change"
p5.Vector.angleBetween() is useful for 2D, but not very useful for 3D transformations which require 3 angles. So I suggest creating a 3D version like this one:

_function angleBetween(p1,p2) {
	var rotX = atan2(p2.z - p1.z, p2.y - p1.y);
	var rotY = atan2(p2.x - p1.x, p2.z - p1.z);
	var rotZ = atan2(p2.y - p1.y, p2.x - p1.x);
	var v = createVector(rotX,rotY,rotZ);
	// if angle in degrees
	// v.mul

[2017-04-14 08:09] limzykenneth commented on #486
@tintinsnowy This looks like a pretty old issue and might have been solved already. The file loading functions are partially rewritten recently in 0.5.8 so it might not apply as well. Can you open a new issue for the CSV file size problem and provide a sample of the CSV file that either loaded too slowly or loaded incorrectly? Thanks.

[2017-04-14 09:31] egordorichev opened #1894 "tint() slows my app"
Hello! I've been searching for image alpha in p5.js. Got to the `tint()` method.
It works, but it slows my fps so much! Here is my code:

[code]

If i replace the `tint` call with `fill` call, all works fine, but not the alpha.

[2017-04-14 18:20] 19valentin99 commented on #1892
okey thank you

[2017-04-15 11:48] lmccart commented on #1879
@mlarghydracept?

[2017-04-15 13:06] Mayesss commented on #1360
I think the real problem of the issue is not the frequency of the played note itself, the problem comes from the frequency detection. it's in P5.fft's analyser algorithm, it only detects 1024 frequencies, from 20hz to 20Khz, that is not percise enough.
fortunately for us the highest note that can be played's pitch is about 5Khz
so the idea is to change the frequency range from **20hz --> 20Khz** t

[2017-04-15 16:59] lmccart commented on #1826
closed with #1891

[2017-04-15 16:59] #1826 closed

[2017-04-15 17:30] hepiyellow opened #1895 "Feature Request: p5.Oscillator missing getPhase() or getValue()"
I am missing the ability to sample the current value of an oscillator.
Either the value or the phase.

This would allow to make visuals which are synced to the sound.
For example a Freq modulation oscillator , and visuals which modulate in-sync would be very nice to have. I think it is the basic of good audio-visual creations.

[2017-04-15 17:41] lmccart commented on #1895
This issue was moved to processing/p5.js-sound#167

[2017-04-15 17:41] #1895 closed

[2017-04-15 17:42] lmccart commented on #1677
This issue was moved to processing/p5.js-website#91

[2017-04-15 17:42] #1677 closed

[2017-04-15 17:43] lmccart commented on #1067
There's been no activity on this thread for over a year, so I'm going to close. Please feel free to reopen if there's renewed interested in working on this.

[2017-04-15 17:43] #1067 closed

[2017-04-15 17:48] lmccart commented on #645
It's been a couple years on this one. My current feeling is that it has continued to make sense to keep p5.dom separate.. it allows for smaller file size and more experimentation with the p5.dom API. I'm going to close this for now, we can revisit if someone wants to reopen the issue at a later point.

[2017-04-15 17:51] lmccart commented on #1699
I've added a link to this gist here: https://github.com/processing/p5.js/wiki/Development#p5js-api-json-file

[2017-04-15 17:51] #1699 closed

[2017-04-16 12:20] rake146 opened #1896 "keyIsDown() problem"
Hi, I have written some code in p5.js but detection with a keyDown press is not currently detecting, it just outputs whenever.

I have written this:
  if (keyIsDown(SHIFT));
  {
    console.log(attackCounter);
    splitblobs[0].attack();
    //attackCounter = 0;
  }
but it just outputs to the console regardless without me even pressing a button, any ideas?

[2017-04-16 17:13] ihpar opened #1897 "Chrome WEBGL"
Hi there,
I see this message in chrome console:

[.Offscreen-For-WebGL-......]RENDER WARNING: there is no texture bound to the unit 0
WebGL: too many errors, no more errors will be reported to the console for this context.

Here is the code:

[code]

My environment is win 10 x64 and chrome v 57.0.2987.133.
This code does not cause the same issue in FF and Edge.

Thank you very much for this wonder

[2017-04-16 18:06] lmccart commented on #1896
if you remove the semicolon at the end of the first line `if (keyIsDown(SHIFT))` it works ok for me

[2017-04-16 18:36] rake146 commented on #1896
Oh yeah, my bad, I just got my syntax wrong

[2017-04-16 18:39] rake146 commented on #1896
How would you check for a key press of a key like 'W'? I have tried entering the ASCII character but it isn't working.

[2017-04-16 19:52] rake146 commented on #1896
Nevermind, I've solved it now!

[2017-04-16 19:52] #1896 closed

[2017-04-17 19:20] juanarbol commented on #1360
Yes! I saw it few months ago, if I get another way I'll tell you, thanks for your colaboration!!

[2017-04-17 22:54] mlarghydracept commented on #1897
Thanks for the info! It looks like [threejs dealt with this last year](https://github.com/mrdoob/three.js/issues/8666). Seems like this will require a bit of reworking the [texture()](https://github.com/processing/p5.js/blob/master/src/webgl/material.js#L118) and [bind()](https://github.com/processing/p5.js/blob/master/src/webgl/material.js#L174) functions.

[2017-04-17 23:38] shiffman opened #1898 "httpPost() not passing data"
I believe this commit (c1d70b93632032c99bbcc367d7212cb953694cca) is causing an issue in 0.5.8 not present in 0.5.7. I am making a call to `httpPost()` like so:

[code]

I am console logging `arguments` in `httpDo()` in both 0.5.7 and 0.5.8. Note how the data is missing in 0.5.8.

0.5.7 (correct behavior):
<img width="342" alt="screen shot 2017-04-17 at 7 35 23 pm" src="https://cloud.githubusercont

[2017-04-18 02:12] limzykenneth commented on #1898
@shiffman Yes, I think you are right. I wonder if the latest fix has already fixed the data object missing but actually even then it probably won't work as mentioned in #1812, I forgot to stringify the object into proper JSON so POSTing data won't work yet.

I'm planning to get a PR together today or tomorrow and if there's any more bugs, do let me know. In the meantime, if at all possible, using

[2017-04-18 04:38] skrillex581 commented on #1678
When you do the call to createCanvas, try *not* to add the WEBGL parameter. Somehow this fixed my problem,

[2017-04-18 05:49] pikiaboy commented on #1678
But I want to use WEBGL. Thats the whole point of it haha XD

On Mon, Apr 17, 2017 at 9:38 PM, Zahir <notifications@github.com> wrote:

[2017-04-18 07:53] limzykenneth commented on #1898
@shiffman the data in your case is missing because the headers content type wasn't explicitly set to `application/json`, I should have known. @lmccart also turns out the data is stringified after all but still expect a PR for this issue.

[2017-04-18 11:30] Mayesss commented on #1360
i found it! another way for detecting the pitch that is alot more percise, instead of using fft.anlyze() and searching the most big wave, you can use fft.waveform() and determine the pitch derectly from the wave length. there are several algorithms for doing that, i used the auto-correlate algorithm. inspired from https://github.com/cwilso/PitchDetect
here's how it should be done with p5:

//first

[2017-04-18 12:03] dhowe opened #1901 "Chinese fonts failing with various errors"
At very least these should be caught and a friendly(er) error message provided

[code]
﻿
[code]

[2017-04-18 12:26] dhowe opened #1902 "Need to update included opentype.js to current version"
https://github.com/nodebox/opentype.js/releases

Short-term, this will give us better font-support (specifically fonts using format 12 cmap tables) and thus eliminate at least some of the problems people are having with certain fonts not loading or rendering correctly.

Longer-term, as opentype.js continues to develop (support for Chinese fonts is still weak, for example), we should integrate this

[2017-04-18 16:31] skrillex581 commented on #1678
The minimal example given by the OP will work if the WEBGL parameter is omitted. However any 3d-oriented functions such as rotateX will then fail.

[2017-04-18 19:29] pikiaboy commented on #1678
Yes, thats because if you omit WEBGL, then you are not using WEBGL to do 3d
things. Which is what I wanted to do. ie; I WANT to use webgl, but p5.js is
not playing nicely with webgl currently

On Tue, Apr 18, 2017 at 9:31 AM, Zahir <notifications@github.com> wrote:

[2017-04-19 00:16] #1846 closed

[2017-04-19 17:45] mlarghydracept commented on #1672
The touches[] array is supported by Safari on mobile according to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Touch_events). It only isn't supported on Safari and IE on touch-based desktops (laptops).

[2017-04-19 18:35] lmccart commented on #1877
@mlarghydracept the todo here is to add a line to the reference that makes the point noted in this comment: https://github.com/processing/p5.js/issues/1877#issuecomment-292663194

[2017-04-19 18:40] lmccart commented on #1902
@mlarghydracept want to take a look? the todo here is to update to remove the current version of opentype we're including in the library and update to the most recent. if you run a python server and look at the examples in this folder, you can do a check that everything still looks ok: /test/manual-test-examples/p5.Font/

[2017-04-19 19:24] lmccart commented on #1879
after investigating solutions, we've determined there's a significant cost of performance and complexity to the code for a relatively less common use case. as reference, it looks like processing also doesn't support scientific notation in these functions. at this point, we've decided to forgo scientific notation support.

[2017-04-19 19:24] #1879 closed

[2017-04-19 19:42] lmccart commented on #1875
After thinking through all this, it seems perhaps the best solution is just to remove the built-in p5 helper functionality that tries to fire mouse events for touch events. The new window.PointerEvent API does this now in some browsers, which is what's causing the problem. The previous patch tried to detect this and stop the duplicate event firing in this case, but we are having a hard time debugg

[2017-04-19 19:51] #1902 closed

[2017-04-19 20:41] mlarghydracept commented on #1672
@almchung any interest?

[2017-04-19 21:44] #1877 closed

[2017-04-19 22:41] almchung commented on #1672
I'll add this to the next version of our error messaging system. I'll also update the documentation, like Lauren said.

Thanks!

[2017-04-20 03:33] limzykenneth commented on #1894
@egordorichev do you have the app running somewhere? It's a bit hard to tell what the problem is with this snippet.

[2017-04-20 04:21] egordorichev commented on #1894
Sorry, but I don't. I tried the same code with image without alpha, and it worked fine. Strange..

[2017-04-20 09:09] mcsanta commented on #1879
Thanks for the feedback, this makes sense to me.

[2017-04-20 10:59] tigoe commented on #1875
Would that mean that touch events and mouse clicked events are separate, and the user needs to assign callbacks for both if they want things to be compatible? I imagine most browsers would handle that automatically by now, so it might be a good solution. Why not make a test branch and see how it works?

[2017-04-20 14:40] Crashnorun opened #1906 "Background Alpha"
Hi, I'm new to P5 but familiar with Processing, and this issue seems to be existent in both environments. When I use the background() command and apply an alpha, the value doesn't really do anything. According to this link: https://p5js.org/reference/#/p5/background the alpha value is meant to be between 0-100 and apply a level of transparency, but it doesn't seem to work. Regardless what value I

[2017-04-20 14:47] Crashnorun commented on #1906
Please disregard my issue, I was able to get it to function as stated in the reference documentation.
My apologies.

[2017-04-20 17:45] jaschanarveson commented on #1553
@AkashGutha - this is cool.  I don't fully understand why some kind of conversion function wouldn't be useful to implement in p5js right now, though - it sure seems like it would be handy!

[2017-04-21 01:26] lmccart commented on #1848
@mlarghydracept this is a not too difficult but stickier than it seems issue. if you're interested let's chat about it sometime.

[2017-04-23 16:02] davidrop opened #1909 "p5.sound Delay On Chrome crash audio of tab on Feedback change"
Hi all,
P5 is great...

i found a bug that happen only on Chrome, not on firefox, didn't test on other browser

if i change delay feedback while delay is processing, the entire tab stop emit sound

i wrote this script to test
https://www.davidrop.com/testdelay/

you have 3 slides that work in little different ways, all 3 slides works as intendeed on firefox.

slide 1)  disconnect, modify feedback,

[2017-04-23 19:44] lmccart commented on #1672
fixed with https://github.com/processing/p5.js/pull/1905

[2017-04-23 19:44] #1672 closed

[2017-04-23 19:46] lmccart commented on #1909
This issue was moved to processing/p5.js-sound#168

[2017-04-23 19:46] #1909 closed

[2017-04-24 19:07] lmccart commented on #1848
related issues #1745 #1673 #1079 #1022

[2017-04-25 10:49] balsimpson commented on #1496
I am trying to make a simple live feed using `createCapture(VIDEO)` on my Raspberry Pi. The problem is that when I access the sketch from my browser, the camera feed switches to my laptop camera. How can I ensure that the createCapture video source is the Raspberry Pi camera?

Thanks for any help.

[2017-04-25 14:14] lmccart commented on #1496
here's an example: https://github.com/ITPNYU/ICM-2015/blob/master/09_video_sound/02_capture/13_get_sources/sketch.js

@TODO add an example like this to the reference or examples page somewhere

[2017-04-25 17:13] JonMacPhers commented on #921
Hey I'm having this same issue and I'm not sure why? Can't seem to load any images, the examples you've posted aren't working either :'(

[2017-04-25 19:14] balsimpson commented on #1496
thank you for the reply. maybe I wasn't clear in my question as to what I wanted to achieve. I want to use a live feed of a camera connected to my raspberry pi as the background image for my p5js sketch. So i can overlay other elements relative to this feed and track my cat movement to play a game. but i cannot seem to proceed because when I open to sketch from a different computer, the feed switc

[2017-04-25 23:02] admoure commented on #1894
It happens to me too.  If I use tint for applying transparency it slows down the sketch so much.
If I use tint at some point in my code, only one time, for example touching a key or left clicking the mouse it slows the sketch a lot.

[2017-04-26 00:22] admoure commented on #1894
Ok, you have to disable tint after use it with "noTint()".

[2017-04-26 02:53] limzykenneth commented on #1496
@balsimpson `createCapture` will only capture the camera device attached to the browser host environment, meaning if you visit your sketch on your laptop, it will use your laptop camera and when you visit it on a Raspberry Pi, it will use the attached Raspberry Pi camera.

If you are thinking of streaming the Raspberry Pi camera feed footage to a sketch running on your laptop, you will be some kin

[2017-04-26 03:00] #1848 closed

[2017-04-26 19:58] BLCKPSTV opened #1912 "P5j as complete background in html/css webiste"
How can I get a P5j script to behave at the very and of the background. I want my html page to act over my background P5js script.

You can view what I have here? I've tried the canvas.parent togheter with z-index. But that didn't work out.

http://dewildequinten.be/Program-O-master/gui/jquery/?

[2017-04-26 23:22] mlarghydracept commented on #1912
The issues section of the github page is for bugs and problems with the library. If the library is behaving as expected it is better to ask general coding questions over [at the forums.](https://forum.processing.org/two/categories/p5-js)

With that said, 'position:fixed' should be your friend. [I made an example you can look at here.](http://users.dma.ucla.edu/~stalgiag/p5_tests/p5_CANVAS_BACKGROU

[2017-04-26 23:22] #1912 closed

[2017-04-27 04:41] finfinwabbit opened #1914 "sketch not playing."
I had this project working in Processing 3.3 and am now trying to get this to work in P5, without much success. I'm familiar with Processing but new to P5 so any help would be much appreciated.

Here's the code, below. I'm getting a blank white page. I'm sure I'm using incorrect code in P5 here.

var song, analyzer;

function preload() {
  song = loadSound('assets/enzo.mp3');//tis is the audio fil

[2017-04-27 17:38] limzykenneth commented on #1914
@finfinwabbit `size(displayWidth, displayHeight);` should be `createCanvas(displayWidth, displayHeight);`. I didn't go through the rest so I'm not sure if you have any other mistakes. This kind of question is better suited to the [forum](https://forum.processing.org), where github issues are more for reporting bugs and feature requests. If you encounter any more problem, it will be better for you

[2017-04-27 18:07] BLCKPSTV opened #1915 "Position Canvas with canvas.parent ERROR"
Hi, I've made a working canvas.parent whilst also getting the sketch on the background!

Now after several changes in the css part of my page I get an ERROR specified as a P5js error..

[code]

I don't know this count as a bug or not? But it strange that it worked and/if  the css made it stop working..? Didn't change anything to any part of the js side. And I got a working example as first.

[2017-04-27 18:29] lmccart commented on #1915
make sure that the p5.dom library is linked in your HTML. please follow up on this question by posting in the forum, the github issues are just for library specific bugs and feature requests.
http://forum.processing.org

[2017-04-27 18:29] #1915 closed

[2017-04-27 18:29] #1914 closed

[2017-04-28 04:03] kadamwhite commented on #332
I came across this issue when I noticed that any call to `fill` or `stroke` slows my sketch down by a significant percentage -- Is this issue the right place to talk through p5.Color performance, or should I make a new one?

As an aside, it doesn't look like Github updates line numbers in links so here's a direct link to the `p5.Image()` call mentioned above in the latest commit on master: https:/

[2017-04-28 19:29] dairbuirabass opened #1918 "p5.sound setVvolume issue"
After setting volume and calling play() in draw again, it resets volume to default (1.0).
I know there should be some ways of avoiding it, but still should it count as an issue?

[2017-04-30 00:58] lmccart commented on #1918
This issue was moved to processing/p5.js-sound#169

[2017-04-30 00:58] #1918 closed

[2017-05-01 16:55] thomasfredericks opened #1919 "CSV Tables do not save properly"
CSV tables are saved with a new line after any element.

For example, the following code:
[code]

Gives the following result:
[code]

But the result should be this:
[code]

[2017-05-01 20:24] lmccart commented on #1919
@mlarghydracept want to look into this one?

[2017-05-02 08:46] NinoDLC opened #1920 "canvas.position is not a function"
Hey, I'm trying to center the position of the canvas of my game with your library (and tips [here](https://github.com/processing/p5.js/wiki/Positioning-your-canvas)) instead of CSS but it doesn't work, the var returned by `createCanvas(x,y)` doesn't have the function 'position' defined.

Error :
Uncaught TypeError: canvas.position is not a function
    at centerCanvas (game.js:105)

Code is availa

[2017-05-02 13:28] lmccart commented on #1920
You need to include a link to the p5.dom library in your html file, more info here:
https://p5js.org/reference/#/p5.Element/position

The github issues are just for bugs with p5.js, please use the forum for general programming questions and help in the future:
https://forum.processing.org

[2017-05-02 13:28] #1920 closed

[2017-05-03 03:05] yanickrochon opened #1921 "nf() should allow formatting numbers without rounding"
With a given value `a = 99.99943`, I'd like `nf(a, 0, 3)` to return `99.999` and not `100.000`.

[2017-05-03 05:27] 8-uh opened #1922 "create and maintain a CHANGELOG.md"
I keep up with p5.js and the community surrounding it. However, it seems like an accident when I notice there's a version bump, and even worse still, I generally have no idea what's changed.

Using the `conventional-changelog-cli` tool, we can easily create a living document. For right now, I propose the following workflow:

Prior to cutting a new tag before the next release:
* bump version in `pa

[2017-05-03 13:00] limzykenneth commented on #1921
@yanickrochon `nf(99.99943, 0, 3)` does return `99.999`, can you show a simple example of it rounding to `100.00`? Thanks.

[2017-05-03 13:07] yanickrochon commented on #1921
Ah! I wanted to keep the example simple, but here is the actual tipping point (just tested)

[code]

[2017-05-03 13:14] limzykenneth commented on #1921
@yanickrochon right, that's what I suspected. What you have there is something we call "floating point precision error". I won't go into details of what it means as [this video](https://www.youtube.com/watch?v=PZRI1IfStY0) explains it perfectly.

In short, computers cannot process numbers larger than a certain extend or process numbers smaller than a certain extend, if that happens, binary roundin

[2017-05-03 13:25] yanickrochon commented on #1921
I understand IEEE format :smile:  This is why `0.3 - 0.2 = 0.09999999999999998`...

I should try to find the actual value that I had, but it was a computed one which was displayed as `99.99999....` but when calling `.toFixed(3)`, it printed `100.000` (because of rounding up). So I tried `nf` and it behaved the same.

[2017-05-03 13:29] limzykenneth commented on #1921
@yanickrochon there may be instances in the library where prior to getting the final result the number may have been divided by (let's say) 10 then multiplied by 10 again as part of the algorithm (or something similar), and so became too precise for floating point number. If you can find the offending number, I or someone else can have a look to see if we can prevent rounding from happening.

[2017-05-05 19:59] dvinazza opened #1924 "contouring not working on WEBGL"
Is contouring supposed to work on WEBGL?

I've taken the beginContour example from the reference. First part works OK (adding the z component to the vertex), but when I add the contour part the following error appears:

I'm using p5.js v0.5.8 March 25, 2017 and Chrome Version 57.0.2987.110 (64-bit).

[2017-05-06 15:03] lmccart commented on #1924
this is not currently implemented in webgl mode

[2017-05-06 15:04] #1924 closed

[2017-05-06 20:56] stuuuuuuuuuu opened #1925 "White bars on side of canvas on chrome depending on canvas width"
I think I found a bug where white bars appear on the side of the canvas depending on width. To test the bug I copied the exact code from the p5.js getting started page on only added `background(51);`
after `createCanvas(640, 480)`. This does not produce the bug but if the width is then changed it sometimes shows white bars on the right side of the canvas with varying widths and distance from the e

[2017-05-07 00:27] stevengreens10 commented on #1925
What widths cause this to happen?

[2017-05-07 00:37] stuuuuuuuuuu commented on #1925
After going up by 10s for a while i found 660-690, 720-740, 790-820, 850-880 so it seems to alternate about every 30

[2017-05-07 01:20] stevengreens10 commented on #1925
Hm, I can't seem to replicate it. Is this still with 480 height?

[2017-05-07 01:27] stuuuuuuuuuu commented on #1925
Yes, here is the code I currently have:

sketch.js
`function setup() {
  createCanvas(740, 480);
	background(51);
}`

index.html
`<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script src="sketch.js"></script>
  </head>
  <body>
  </body>
</html>`

and here is the result
<img width="876" alt="bug" src="https://cloud.githubusercontent.com/a

[2017-05-07 01:30] stuuuuuuuuuu commented on #1925
Also i'm on osx if that matters

[2017-05-07 01:34] stevengreens10 commented on #1925
Here is what I see on Windows:
![screenshot 2017-05-06 at 9 31 51 pm](https://cloud.githubusercontent.com/assets/26755396/25777192/b93dfe28-32a3-11e7-9f06-8a4501261d06.png)
Perhaps it does have something to do with you being on osx.

[2017-05-07 11:09] Poomaster800 opened #1928 ".in files not supported"

[2017-05-07 14:55] bmoren commented on #1928
Can you give more detail, in what way? How are you trying to use a .in file?

[2017-05-07 14:58] stevengreens10 opened #1929 "saveTable function needs three arguments"
Currently the saveTable function is used as follows: saveTable(table,filename,options), where options is the type of file you're saving the table as. The options argument seems unnecessary since you can just look at the extension of the filename argument to achieve the same result.

Example usage of saveTable: `saveTable(table,"table.csv","csv");`
Proposed usage: `saveTable(table,"table.csv");`

I

[2017-05-07 19:21] mlarghydracept commented on #1925
I am on osx and this is what I see:
![screen shot 2017-05-07 at 12 19 27 pm](https://cloud.githubusercontent.com/assets/10382506/25784335/b7adb36a-331f-11e7-927e-36374eb6a506.png)

What version of chrome are you running?

[2017-05-07 20:16] lmccart commented on #1925
@stuuuuuuuuuu one thing I would recommend is using a local server to view your sketch, rather than opening the file directly. there are instructions here: https://github.com/processing/p5.js/wiki/Local-server. alternatively, you could use a code editor like [brackets](http://brackets.io) that will run a server for you. I'm not sure this would have any effect on white bars, but might save you some

[2017-05-07 20:18] lmccart commented on #1929
that makes sense to me. should we also remove this argument from the [loadTable()](https://p5js.org/reference/#/p5/loadTable) signature as well then? @limzykenneth has your work on the load methods revealed any reason why we couldn't just grab the "csv" or "tsv" from the filename?

[2017-05-08 00:38] Poomaster800 commented on #1928
.in file contains input data for a coding competition, pretty much just many lines of numbers

[2017-05-08 00:42] Poomaster800 commented on #1928
also the rules state that you must use the .in file for the input (no copy/pasting to a .txt)

[2017-05-08 00:48] lmccart commented on #1928
I'd suggest using loadStrings, something like this:
[code]

[2017-05-08 00:48] #1928 closed

[2017-05-08 02:14] stevengreens10 commented on #1929
@lmccart I suspect that it's possible to remove it for loadTable() as well, but it does take in "header" as one of its options; whereas, saveTable() only takes in the type of file in the options argument. In my pull request (#1930), I made it so saveTable() works when given the options argument and when it's left blank, so something similar could presumably work for loadTable() too.

[2017-05-08 10:05] limzykenneth commented on #1929
@lmccart @stevengreens10 grabbing the format from the filename will mean that the filename must have an extension. That may not be desired especially when you are loading something over a dynamic link, it may be something like: `www.sometables.com/?tableID=1` you know it will return csv but you need to let the code knows that either by some kind of detection or by explicitly specifying it.

I woul

[2017-05-08 12:22] CharlesFr commented on #1496
I get MediaStreamTrack.getSources is not a function, what have I missed?

[2017-05-08 12:24] limzykenneth commented on #1496
@CharlesFr does your browser support WebRTC? E.g. Safari doesn't support it yet

[2017-05-08 12:29] CharlesFr commented on #1496
I'm running it on Chrome Version 57.0.2987.133 (64-bit)

[2017-05-08 12:35] limzykenneth commented on #1496
@CharlesFr does [this example](https://p5js.org/examples/dom-video-capture.html) work? If it does then we will need to provide more detail about your sketch, if not then we need more detail about your setup.

[2017-05-09 02:43] lee2sman opened #1931 "loadTable creates extra objects for blank lines"
I have a ultraquick sketchy sketch that wasn't properly looping and I couldn't figure out why.
After deleting some extra blank lines at the end of the loaded csv it properly loops.

Link to my [sketch](http://alpha.editor.p5js.org/2sman/sketches/SkIbHjRyb) here. To recreate the issue, add some blank lines to the end of the crimes.csv file

[2017-05-09 03:31] mlarghydracept commented on #1931
[That comes from these lines](https://github.com/processing/p5.js/blob/master/src/io/files.js#L627-L630). It only handles one blank line at the end of CSV files. When you have more than one line the inbetween lines won't evaluate to undefined but rather come out as an empty string. This could be fixed but I feel like it might have to be a clumsy fix because if we also check for empty strings that

[2017-05-09 03:42] lee2sman commented on #1931
Okay, I see, that makes sense.
I wish there was a way to throw an error message about it.

[2017-05-09 10:38] limzykenneth commented on #1931
Hmm...maybe we should look for some way to deal with this in the library, some times you just can't control the csv files you are loading in... 😞

[2017-05-09 11:26] dhowe opened #1932 "p5 link in reference doesn't lead anywhere"
https://p5js.org/reference/#/p5

perhaps the 'class:' entry should actually be removed (at least from globally defined functions) as it likely confuses new learners

![image](https://cloud.githubusercontent.com/assets/737638/25848486/370bb9c6-34ed-11e7-8894-eb32cc1daa83.png)

[2017-05-09 12:20] Poomaster800 commented on #1928
I tried that and it saidthat .in files aren't supported

It's why I opened this issue

[2017-05-09 13:49] limzykenneth commented on #1928
@Poomaster800 is it possible to share a copy of the file you are trying to load? `loadStrings()` wrap the native Fetch API pretty thinly so any problem you have is likely due to the Fetch API itself. I suspect it may have to do with the encoding of the file but I need to examine it to know for sure, possible do some tests directly with the Fetch API as well.

[2017-05-09 14:43] lmccart commented on #1931
I'm wondering if at that code section that @mlarghydracept points to, could we just not add any line that is empty -- at the end or in the middle? rather than breaking completely, just skip the row creation and go on to the next?

[2017-05-09 15:00] mlarghydracept commented on #1931
@lmccart *slaps head* yeah that should be good! We can just use 'continue' instead of 'break'. I'll make a PR when I get a chance.

[2017-05-09 21:22] seeme00 opened #1933 "deviceTurned not called when performing video capture"
Hi

In the following sample, the deviceTurned function is never called on Chrome Android:

[code]
The expected behavior is that the deviceTurned function is properly called.

Thanks,
Julien N.

[2017-05-10 01:00] #1931 closed

[2017-05-10 01:02] lmccart commented on #1921
I'm going to close for now, @yanickrochon please feel free to reopen if you can provide an example number that illustrates this issue. Thanks!

[2017-05-10 01:02] #1921 closed

[2017-05-10 01:10] lmccart commented on #332
hi @kadamwhite can you please open a new issue for the color discussion?

[2017-05-10 01:12] lmccart opened #1935 "calls to get() create new p5.Images, hurting performance"
https://github.com/processing/p5.js/blob/e51fa1cbafe654c9c8c5d54aa67d12892c484be7/src/core/p5.Renderer2D.js#L244

can we just create one and update it?

[2017-05-10 11:45] #1932 closed

[2017-05-10 11:52] lmccart commented on #1919
fixed with https://github.com/processing/p5.js/pull/1927

[2017-05-10 11:52] #1919 closed

[2017-05-10 11:52] #1929 closed

[2017-05-10 11:56] lmccart commented on #1929
@limzykenneth ah right, that makes sense. @stevengreens10 do you want to look into doing a similar approach of extension grabbing if none is specified for loadTable()?

[2017-05-10 12:11] stevengreens10 commented on #1929
@lmccart Yes I'll do that today

[2017-05-10 12:13] lmccart commented on #1864
fixed with https://github.com/processing/p5.js/pull/1868

[2017-05-10 12:13] #1864 closed

[2017-05-10 12:18] lmccart commented on #944
closed with #944

[2017-05-10 12:18] #944 closed

[2017-05-10 12:22] lmccart commented on #1313
I've looked into this a bit and it seems to be a windows phone issue with unexpectedly firing touchend. Unfortunately since the event is coming from phone browser itself, there's not much we can do from a p5 perspective to address this.
http://stackoverflow.com/questions/30648033/on-windows-phones-ie-touchstart-event-ends-automatically-after-few-seconds
https://social.technet.microsoft.com/Forums/

[2017-05-10 12:22] #1313 closed

[2017-05-10 12:26] lmccart commented on #1898
fixed with https://github.com/processing/p5.js/pull/1900

[2017-05-10 12:26] #1898 closed

[2017-05-10 12:40] lmccart commented on #1792
@joecridge thanks for working on this. after looking at it again and reviewing your solution, my concern is that adding this helper here sets up an expectation that every function that takes numbers should also take strings too. for example `fill("255", "0", "0")` does not currently work.
while I realize that some do just work because of other manipulations that happen in the code, I suggest we ma

[2017-05-10 12:43] lmccart commented on #40
since we haven't heard much demand for the three remaining unimplemented pieces, I suggest we close this issue and focus on issues that are higher priority.

[2017-05-10 12:45] #40 closed

[2017-05-10 13:16] lmccart opened #1936 "DIfficult to copy Examples with iOS Safari"
_From @lmccart on April 15, 2017 17:42_

_From @ricardocanada on November 24, 2016 20:2_

When I try to copy example code from https://p5js.org/examples/ in iOS Safari to use in my iPad environment, it is almost impossible to do so unless the example has an Edit button. That seems to put the code in Raw form, and then all of my selection and copy options work. Otherwise it is almost impossible to

[2017-05-10 13:16] lmccart commented on #1936
_From @hkirat on December 2, 2016 15:24_

Nice suggestion @ricardocanada . A raw option is a good idea.
However I think this issue should be opened up [here](https://github.com/processing/p5.js-website/issues) and closed over here.

[2017-05-10 13:31] lmccart commented on #1880
hey @runemadsen sorry for the delay. I don't see any specific issue with this, we can definitely add some kind of registerColorMode function. my only concern is that I have a sense that the color code in general is a bit complex to work with. if you take a look through and feel comfortable with it, please feel free to give it a shot. and let me know if you encounter any issues that I can help reso

[2017-05-10 13:43] limzykenneth opened #1937 "Nice to have for httpDo"
I just noticed some missing feature in `httpDo()` `httpPost()`, specifically the `data` option currently do not accept arrays or numbers which I think it should.

I can only get to this earliest next week so if anyone else wants to tackle this before I get to it, do feel free.

[2017-05-10 13:48] lmccart commented on #1937
@mlarghydracept want to check this one out?

[2017-05-10 14:06] bmoren commented on #40
I agree with the bytes and pdf being pushed to the back, I've had a lot of student desire for svg/vector output to be native so they can more easily traverse p5js & css tasks & get vector information out for going to print & laser/plotter/cnc fabrication. I do think likely the svg should be an external library. But from our previous conversation, It seems a question of how possible it is given the

[2017-05-10 15:43] pflannery commented on #1561
@lmccart

:( this still doesn't work. I've updated the fiddler to use p5.js v0.5.9 https://jsfiddle.net/7nxcL1tf/29/

I've also made sure that I call `endShape(CLOSE)` in the fiddler example but no joy.

[2017-05-10 15:44] pflannery commented on #1561
maybe something to do with `TRIANGLE_STRIP`?

[2017-05-10 15:46] lmccart commented on #40
yes, definitely. the svg issue is still open: https://github.com/processing/p5.js/issues/458.
though realistically, I just don't have the bandwidth to take it on anytime soon, but would welcome anyone interested in tackling it.

[2017-05-10 17:38] joecridge commented on #1792
@lmccart I’m inclined to agree with you, but I also think that quietly handling some string inputs (whilst unpredictably processing others) contributes to that expectation (and makes issues like this one difficult for users to debug). Because beginners might not know that they need to convert text input to a number, I think that (ideally) each public function should either handle string arguments

[2017-05-10 17:46] lmccart commented on #1792
@joecridge I definitely hear that! @almchung is working this summer to get friendly error system to a point where it is ready to fully deploy. I think checking that argument inputs match valid signatures should be an essential part of that, and I hope that this will solve issues like these across the library.

[2017-05-10 17:51] joecridge commented on #1792
Okay, that sounds great. Happy to close #1793 then if it’s soon to be obsoleted! 🙂

[2017-05-10 18:01] lmccart commented on #1792
ok, sounds good. more soon on the friendly error front! we kick off at the end of this month (it's part of the google summer of code projects)

[2017-05-10 18:01] #1792 closed

[2017-05-10 18:02] #1847 closed

[2017-05-10 23:29] stevengreens10 commented on #1933
The deviceTurned function was working for me on Chrome for my Android phone:

![screenshot_2017-05-10-19-21-17](https://cloud.githubusercontent.com/assets/26755396/25925458/b542057e-35b6-11e7-808f-4009a0c935f4.png)

[2017-05-11 00:06] lmccart commented on #1933
@seeme00 have you included the p5.dom library in your html file? it could be that the createCapture() line is breaking the code preventing deviceTurned() or anything else from working. if so, are there any other errors in the console that you see?

[2017-05-11 08:53] dhowe opened #1939 "Broken example page"
https://p5js.org/examples//sound-play-mode.html

![image](https://cloud.githubusercontent.com/assets/737638/25940948/594cdbd6-366a-11e7-9198-9d306302587d.png)

[2017-05-11 08:54] dhowe commented on #1939
invalid

[2017-05-11 08:54] #1939 closed

[2017-05-11 09:04] runemadsen commented on #1880
Hey @lmccart. No worries at all! I might take a look and try to streamline the color handling a bit while introducing a way to expand the color modes. Thanks!

[2017-05-11 09:04] #1880 closed

[2017-05-11 11:21] runemadsen commented on #1925
I suddenly started seeing this for all of my sketches. I didn't change my P5 version since it started popping up, so I believe this has to do with a new Chrome version or something. I'm getting it everywhere whether running locally or remote.

Take this simple sketch: https://alpha.editor.p5js.org/runemadsen/sketches/ry-Bd6WxW

[code]

Which looks like this to me:
![screen shot 2017-05-11 at 1 17

[2017-05-11 11:31] runemadsen commented on #1925
Okay, here's an update after diving into this some more. The white lines have nothing to do with P5. I whipped up the following code which shows the same problem:

[code]

So this much be a bug related to Chrome's canvas rendering.

[2017-05-11 21:31] stuuuuuuuuuu commented on #1925
Thanks for figuring that out, I am on version 57.0.2987.133 (64-bit) if that helps

[2017-05-11 23:24] JMandel1027 commented on #1937
hi! I had some free time this evening and made a fix on `httpDo()` `httpPost` I'm going to run some more tests and then make a pull request~!! (my first ever n_n)

[2017-05-11 23:31] lmccart commented on #1925
thanks @runemadsen! @stuuuuuuuuuu sounds like unfortunately we can't do anything to fix this from the p5.js end, but you could report the issue on the chrome issue tracker: https://bugs.chromium.org/p/chromium/issues/list

[2017-05-11 23:31] #1925 closed

[2017-05-12 18:12] JMandel1027 commented on #1844
I had just went through setting up p5 in instance mode for a school project, I'd be happy to write up some documentation on this later this weekend.

[2017-05-13 05:03] Shubham-19 opened #1941 "remove multiple canvas example from manual-test-examples folder"
When I use multiple canvases I get an Uncaught Reference error : Context not defined
Please help

[2017-05-13 17:43] bmoren commented on #1941
Can you post a simplified/isolated example of the code you are trying to get to work so someone can try to verify whats going on.

[2017-05-13 18:09] 1rulesupersedes opened #1942 "Does resizing the canvas work if you scroll the page?"
I want to use the canvas as a background. I used this code. Unfortunately when I scroll the page the canvas doesn't cover the scroll.

function windowResized() {
  resizeCanvas(windowWidth, windowHeight);
}

function setup(){
	canvas = createCanvas(windowWidth, windowHeight);
	canvas.position(0,0);
	canvas.style('z-index', '-1');
	background(250,250,250);
}

[2017-05-14 22:32] mlarghydracept commented on #1942
Hi! The github issues page is for bugs with the library and feature requests. For general coding problems you should [use the forum](https://forum.processing.org/two/categories/p5-js).

With that said, it is hard to tell exactly what you want to do with library from your code but my instinct is to say that you will be better off using the [css position property](https://developer.mozilla.org/en-US

[2017-05-14 22:32] #1942 closed

[2017-05-14 22:34] mlarghydracept commented on #1937
@jay-manday still want to work this one out? I'll unassign myself if so.

[2017-05-14 23:24] jay-manday commented on #1937
@mlarghydracept yup! @limzykenneth and I have been working on this 🌮

[2017-05-14 23:35] mlarghydracept commented on #1933
@seeme00 I also tested with Android and Chrome. Everything is working as expected.
![screenshot_2017-05-14-16-29-56](https://cloud.githubusercontent.com/assets/10382506/26038712/3f47fc24-38c3-11e7-89d7-36b53a33d046.png)
 I would definitely double check that you included the p5.dom library in your html file. I am going to close this issue for the time being because I don't see a problem with the li

[2017-05-14 23:35] #1933 closed

[2017-05-15 06:26] Shubham-19 commented on #1941
Please check the code in the link:
https://github.com/processing/p5.js/blob/4dd42f2136400d33b4eca521b218b07636e16011/test/manual-test-examples/tutorials/DOM-extensions/5/sketch.js

[2017-05-15 06:32] Shubham-19 commented on #1941
I'am sending you the link of the code, please see if someone can find some
error:
https://github.com/processing/p5.js/blob/4dd42f2136400d33b4eca521b218b07636e16011/test/manual-test-examples/tutorials/DOM-extensions/5/sketch.js
On May 13, 2017 11:13 PM, "Ben Moren" <notifications@github.com> wrote:

[2017-05-15 10:13] eivindml commented on #1703
Yeah. Came here to say the same thing. Would be great to see this solved, as it makes it impossible for me to use p5.js with this limitation. :(

[2017-05-15 13:36] lmccart commented on #1941
this is an outdated example. multiple canvases is no longer supported in p5.js. you could use createGraphics() to create the effect of a second drawing surface. sorry for the confusion.
@TODO remove this example from github repository.

[2017-05-15 13:39] lmccart commented on #1703
hi all, just to give an update.. we are doing work on webgl mode this summer and so realistically, you can expect this fix by september.

[2017-05-15 14:02] bmoren commented on #1941
you might also look into instance mode which will let you run multiple instances of p5: https://github.com/processing/p5.js/wiki/Global-and-instance-mode

[2017-05-15 14:24] Shubham-19 commented on #1941
Thank u

[2017-05-15 17:46] #1941 closed

[2017-05-15 19:53] lmccart commented on #1937
this should be all set from https://github.com/processing/p5.js/commit/41dfb9a395c55d4170d1cc082ee098bda8d77843. httpGet is covered by the change to httpDo

[2017-05-15 19:53] #1937 closed

[2017-05-15 19:56] lmccart commented on #1935
the thing to test here is... given that get() with no args returns a p5.Image, can we return that object and if the user uses it in their sketch in some way, does it get modified unintentionally by future calls to get?

[2017-05-15 20:03] jay-manday commented on #1937
yup! thanks again @lmccart & @limzykenneth was great working with you both on this!

[2017-05-16 03:20] mlarghydracept commented on #1893
@claudiohfg as you say the current angleBetween() doesn't return a vector. We could make it so that the function took into account the z value (which it doesn't currently) with something like:
[code]
but if I understand correctly you are saying that for your uses you need a vector so you can rotate on the different axes.

Do you suggest that I make a different function, separate from the current p

[2017-05-16 10:31] milkyklim commented on #1887
The problem I had is solved in 0.5.9. We can close the issue.

[2017-05-16 10:31] #1887 closed

[2017-05-16 19:12] 9fingerjoe opened #1945 "image doesnt get drawn if noLoop() is called"
[code]
--> Image doesnt get drawn
If noLoo(); doesnt get called it works fine;

[2017-05-16 19:29] claudiohfg commented on #1893
A different function would do the trick as well, angleBetween3D, perhaps?

[2017-05-16 19:53] lmccart commented on #1945
@9fingerjoe the issue here is that your image hasn't loaded in time before the draw loop runs once. this is why if you take out the noLoop() call, you see it show up once loaded. I would suggest loading your image in preload() instead of setup() to solve this problem. https://p5js.org/reference/#/p5/preload

[2017-05-16 19:53] #1945 closed

[2017-05-17 16:38] sixhat commented on #1638
I kind of "solved" it by manually adding the following code into p5.js

`p5.RendererGL.prototype.line = function() {
                var args = arguments;
                this.beginShape();
                this.vertex(args[0], args[1], args[2]);
                this.vertex(args[3], args[4], args[5]);
                this.endShape();
                return this;
            }`

[2017-05-17 16:42] DexterShepherd commented on #1638
@sixhat I meant to work on this ages ago but ended up drawing a blank. Hope I'm not stalling any development. If you have a fix you should submit a PR :)

[2017-05-17 19:56] sixhat commented on #1638
Sorry, this was just a quick hack in my code. I don't even know how to start that here, and probably the code would need some checks for quality (console is giving a lot of warnings). Please feel free to use te above information as needed.

[2017-05-17 19:57] lmccart opened #1946 "unpredictable behavior with multiple background calls"
[code]

The above code yields unpredictable results... sometimes you see red, but mostly you see gray. Commenting in the print line fixes the sketch to have expected behavior.

Since both background calls take effect as soon as they are called, I think it is flipping between the two background calls so fast, the result is unpredictable, and the most time actually gets spent in the if statement, re

[2017-05-17 21:58] JoelStrawnCode commented on #1496
This code though

 facingMode: {
        exact: "environment"
      }

Changed to:

facingMode: "environment"

Worked for me.

[2017-05-18 03:16] mikewesthad commented on #1946
I tried that snippet out against 0.5.9 in FF/Chrome/Edge on Windows 10, but it just gave me the expected result: red only when any mouse button is currently pressed. Ditto on an emulated mac. What's the machine setup that shows the bug?

[2017-05-18 07:50] dhowe commented on #1424
any progress here?

[2017-05-18 10:42] sixhat commented on #1843
They are creating the spheres but at different scales, but I think that you need to do a resetMatrix on both canvas. This works. Test it at [codepen](https://codepen.io/anon/pen/ybxwGb)

[code]

[2017-05-18 14:38] #1946 closed

[2017-05-18 19:02] defenestrated opened #1948 "tint() doesn't work on createGraphics() object"
tl;dr version: tint() works on images as expected, but not at all on p5.Renderer objects created with createGraphics(), the way tint() works on PGraphics objects in processing.

a full discussion, with examples, is available on [stack overflow](http://stackoverflow.com/questions/44034307/tint-on-creategraphics-buffer-in-p5?noredirect=1#comment75132901_44034307)

is this the intended behavior?

[2017-05-18 19:57] mlarghydracept commented on #1893
@claudiohfg I implemented what you asked for in the above PR and I was about to do finishing touches when I realized that I should see how other libraries have handled this. I found that neither Processing or Three.js has a function specifically for returning vec3's for angle between two vectors in 3d space. Three.js has angleTo() for their Vector3 class but it just returns radians as p5 and proce

[2017-05-18 19:59] lmccart commented on #1893
processing handles 3d vectors, but it returns a float. my intuition says p5.js should do the same? https://processing.org/reference/PVector_angleBetween_.html

[2017-05-18 20:08] mlarghydracept commented on #1893
p5 already does this with the angleBetween as well if I am not mistaken

[2017-05-18 20:10] lmccart commented on #1893
@mlarghydracept ah you're right!

[2017-05-18 20:12] lmccart commented on #422
@shiffman did a NumberDict ever get created? do these two dicts still feel useful having done more examples and testing? if so, perhaps @mlarghydracept, you might take a look?

[2017-05-18 20:17] #1936 closed

[2017-05-18 20:19] #1816 closed

[2017-05-18 22:57] benfry commented on #422
Some background about these implementations, because we waited a long time before implementing them and including them in the core.

Don't underestimate the utility of these classes, even the lists. Teaching someone to sort an array alphabetically (a sorting function? what do you mean there are two elements to compare? `localeCompare()`?) is an unnecessary evil to just do basics that beginners wan

[2017-05-18 23:08] lmccart commented on #422
thanks for the background @benfry, very helpful. that all makes sense.

[2017-05-19 13:44] claudiohfg commented on #1893
Just to clarify. When I suggested this function I was implementing a boid simulation in 3D and I needed to know the direction of the collisions. So I designed the function I suggested on top. I thought it would be useful for other people. That's why I made the suggestion here.

Please, don't feel compeled to include this functionality in p5.js if you don't feel it should be there.

[2017-05-19 16:44] criticalhits opened #1949 "newest p5.js release breaks mouseDragged function"
Version affected:
https://github.com/processing/p5.js/releases/download/0.5.10/p5.js
/*! p5.js v0.5.10 May 18, 2017 */

Browsers tested: chromium-browser and firefox on Ubuntu 16.04 (I'm sorry I don't have a Windows/Mac to test with right now, but my coworkers all found the same issue on their respective computers).

** (quickest) steps for reproducing: **
Browse to https://p5js.org/reference/#/p5

[2017-05-19 16:45] criticalhits commented on #1949
If you need more information from me, please let me know -- I'll check back later today.

I used that workaround to get the demo in the mouseDragged link working (without issue) as well.

Cheers!

[2017-05-19 22:30] #1338 closed

[2017-05-20 15:36] #1949 closed

[2017-05-22 07:52] seamiki opened #1953 "mouseDragged event not Firing with version 0.5.10"
Hello,
tried a simple sketch with a mouseDragged event, that was working as of version 0.5.9,
but it seems that the event is not firing with version 0.5.10.
same thing happens with the touchMoved event.

Same behavior with the example in the reference on chromium and firefox.
Did anyone else come across the same issue?

below is a testing example

[code]

[2017-05-22 12:36] nbogie commented on #1953
Hi, see #1949

[2017-05-22 16:53] mlarghydracept commented on #1953
PR #1952  fixes this issue as well.

[2017-05-22 16:53] #1953 closed

[2017-05-22 22:44] lmccart opened #1954 "reference items that need examples"
[this wiki section](https://github.com/processing/p5.js/wiki/Inline-documentation#adding-example-code) contains info on how to add examples. anyone, please feel free to add to this list with reference entries that could use examples added.

- [ ] https://p5js.org/reference/#/p5.MediaElement/connect
- [ ] https://p5js.org/reference/#/p5.MediaElement/disconnect
- [x] https://p5js.org/reference/#/p5.

[2017-05-22 22:46] lmccart commented on #1893
hi @claudiohfg thanks for the suggestion. there doesn't seem to be much comment from others in need of this function so I suggest we hold off on it for now and add it later if it seems to come into higher demand. it could be a great starting point for an addon library of helpful 3d calculation methods. @mlarghydracept don't want to discount the work you've done on this already, happy to merge if y

[2017-05-22 22:50] lmccart opened #1955 "reference optional square brackets are confusing"
[code]

I've found some people get confused by the square brackets in the method signatures, thinking they need to put them in their code, not realizing this means "optional" (why would we expect everyone would know that?)

I think a good fix could be to make the optional arguments a light gray color instead of black.

[this section](https://github.com/processing/p5.js/wiki/Inline-documentation#ge

[2017-05-22 23:01] mlarghydracept commented on #1893
@lmccart it is a good suggestion but I think that since p5's webGL is still very much a work in progress that it makes sense to follow in processing's example on this one. Definitely could be an addon library or it might make sense to add later once 3D is more stable generally.

[2017-05-22 23:04] lmccart commented on #1893
sounds good. let's close for now and revisit after webgl has been developed further, if we feel a need for it then.

[2017-05-22 23:04] #1893 closed

[2017-05-23 00:51] kfrajer opened #1956 "Unit Testing instructions... chai not found"
Hi
I am following the instructions to get started with Unit Testing from https://p5js.org/tutorials/tdd.html

I am working on Windows 10. I have node  installed("node -v" returns v6.10.2) and, as instructed, I proceeded to do this next:

npm install npm@latest -g
npm install chai -g
npm install mocha -g

Then I moved to my unit_test directory to run my first test (I am just following the instructi

[2017-05-23 00:57] claudiohfg commented on #1893
Thank you for taking the time to analyze my suggestion.  😄 👍

[2017-05-23 04:15] cqx931 opened #1957 "Monospace font doesn't rendered correctly when loaded from file"
The monospace font is copy pasted from my default font folder on mac, so the file itself should be correct. However, the text width for each character rendered from p5.js are not the same.
Please see the test sketch here: http://chenqianxun.com/testcases/monoSpaceFontTest/
I tried many different monospace font, otf,ttf, but none of them can get same character width when rendered from p5.js.

If I

[2017-05-23 04:30] cqx931 opened #1958 "Word spacing is handled differently for default font compared to the same font loaded from file"
Test case: http://chenqianxun.com/testcases/p5textTest.html
In default font:
Line 1: The whole string is written with text()
Line 2: Each word is written separately with an offset of the space width
Two lines are exactly the same.

In loaded Helvetica_light.ttf (which is the default sans-serif font on mac)
Line 3: The whole string is written with text(), the spacing is different compared with defa

[2017-05-24 02:37] #1948 closed

[2017-05-24 13:33] limzykenneth commented on #1956
I have not tried using global `chai` in code, that might be some old API or something. You don't need to install `chai` in every test folder, just install it in the project root folder and run `mocha` from that folder, `mocha` should find `test.js` automatically and run it with the locally installed `chai`.

[2017-05-24 20:55] TitouanT opened #1960 "mouseClicked() not trigered by right Click in chrome and safari (work on firefox)"
I think this the minimum code to show the issue:
[code]

[2017-05-25 14:25] sixhat commented on #1878
I've been dealing with this for a while and found that you need to enable the Blend mode of your webgl canvas if you need transparent textures to work.

You can either do

[code]
or take advantage that `fill` has a side effect of setting this for you if you issue a `fill` with a color that is not opaque.

in your code, if you just put `$p5.fill(0,0,0,0);` before `$p5.texture(img);` you should get

[2017-05-25 15:21] j0hnc opened #1963 "mouseDragged function not working"
The mouseDragged event is not working, though mousePressed does work for some reason. I tried on 3 different browsers, doesn't work on any.

[2017-05-25 16:53] lmccart commented on #1963
this has been patched via https://github.com/processing/p5.js/pull/1952 and will be in the next release

[2017-05-25 16:53] #1963 closed

[2017-05-25 16:56] j0hnc commented on #1963
Thank you 👍

[2017-05-25 19:52] lmccart commented on #1935
@mlarghydracept tested the strategy of reusing a p5.Image object, but that doesn't work because references to the option will get updated with future get() calls. in general, it would be good to see if anything else can be done to improve get() performance, I'm not totally sure what.

[2017-05-26 02:43] mikewesthad commented on #1960
@TitouanT, hmm. This appears to be a browser inconsistency. Verified on machine: on chrome/edge only left click triggers mouseClicked, and on FF left/middle/right clicks all trigger mouseClicked. Here's a [codepen](https://codepen.io/mikewesthad/pen/gWypwJ) comparing p5 vs corresponding native JS code. p5 is just wrapping around the underlying javascript "click" event, so it will inherit the brows

[2017-05-26 08:08] limzykenneth opened #1966 "p5.Element mouseClicked() documentation error"
See [here](https://p5js.org/reference/#/p5.Element/mouseClicked). The example block is not rendered correctly, probably due to missing tags in the source, I haven't looked into it myself.

[2017-05-26 12:45] limzykenneth opened #1967 "p5.Element.mouseDragged not a function"
I'm trying to attach `mouseDragged` event on a p5.Element, specifically an instance mode canvas. The reason I want to attach it to the element and not just use the global function or `p5.Element.mouseMoved` is because I have multiple canvases and I don't want event from one to leak over to the other, I will be dragging on the second canvas as well but I don't want the first canvas to fire its `mou

[2017-05-26 19:40] lmccart commented on #1960
closed with https://github.com/processing/p5.js/pull/1965

[2017-05-26 19:40] #1960 closed

[2017-05-26 19:46] #1966 closed

[2017-05-26 19:52] #1955 closed

[2017-05-26 20:43] lmccart commented on #1967
hmm I vaguely recall there being some reason there's no mouseDragged method for p5.Element but it's hard to remember what it was. I'm open to adding this though, if possible.

[2017-05-26 20:53] mlarghydracept commented on #1958
Hmm after an embarrassingly long time spent looking through the code for parsing glyphs, I decided to just look at the advanceWidth property for each of the glyphs. Strangely the advancedWidth property is the exact same (278) for the space in the default and the loaded font in the given example. So I assume that this means the mistake in width isn't happening when reading info from the font table.

[2017-05-26 21:24] BitterBaam opened #1968 "DOM library .attribute("disabled", true); on radiobutton/checkbox don't work properly"
Example:
[code]
The attribute is added to the div element instead of the individual input elements.
![p5 js dom issue](https://cloud.githubusercontent.com/assets/4765651/26513405/9da91ec2-426b-11e7-88cc-2918fafc47ff.png)

i have noticed that the same thing is happending with checkboxes

Possible fixes:

* One thing you could do to fix this issue would be to behind the scenes when an attribute is a

[2017-05-27 04:45] dhowe commented on #1958
A couple of things to note here. First, due to a bug in the opentype library when this was initially written, spaces are handled separately from other glyphs in loaded fonts. I requested an update to opentype in p5 once this was fixed, which I think was done [here](https://github.com/processing/p5.js/pull/1903). Since space-handling changed in opentype (and now should work correctly) you might jus

[2017-05-27 04:49] dhowe commented on #1958
Glancing at the code, I also notice what appears to be another small bug in textBounds (called by textWidth), which I am fixing now (though I don't think it will affect this issue).

[2017-05-27 07:19] dhowe opened #1971 "Add note about where to look when build fails"
Perhaps a note in the output after a failed test to reload in the browser (localhost:9001/test/test.html or test-minified.html) with --keepalive ?

<br>

![image](https://cloud.githubusercontent.com/assets/737638/26519269/fa6fd864-42f0-11e7-95a6-290affad243a.png)

[2017-05-27 07:29] dhowe commented on #1971
FYI, these are the errors I see in 3fff3f6f45

![image](https://cloud.githubusercontent.com/assets/737638/26519282/31d55b44-42f1-11e7-97e2-56d956da91c9.png)

[2017-05-27 09:51] dhowe commented on #1958
Actually, I'm not even sure this is a bug. There is an assumption here that the spacing between words is _only_ determined by the width of a space (and does not take into account things like kerning), but that may not be the case for all fonts

[2017-05-27 10:14] dhowe commented on #1957
I am not sure this is a bug. I don't think that we can assume any font is true monospace, just from the name. One way to check is to use the same font file in some other environment, then compare the displayed widths of the glyphs...

[2017-05-27 14:26] limzykenneth commented on #1971
@dhowe this is related to #1881. I first saw this a couple months back but couldn't decipher what it means, I may have hunt down the source of the error in the test code but couldn't make sense of it either. If you run the test again it probably will pass which makes the whole thing even more mystifying...

[2017-05-27 14:36] limzykenneth commented on #1967
I guess it is just chaining `mousePressed` and `mouseReleased`. There are several cases to consider: releasing the mouse outside the canvas; pressing outside then dragging in the canvas; pressing and releasing outside the canvas but still dragging in it. Not sure about the possibility of implementing them.

I have a project that may require this but at the moment I just used some hack to get aroun

[2017-05-27 15:00] cesarrodas opened #1972 "loadSpriteSheet not working properly."
I don't know if this is my mistake or if the documentation is behind but I cannot get
the loadSpriteSheet method to work properly. I tried making a json specifying the x and y of the frame, but instead the same frame is chosen and displaced by the x amount. The same thing happens with the short
version where you choose height width and number of frames. the same first frame is chosen and displaced

[2017-05-27 15:01] #1972 closed

[2017-05-27 18:18] mlarghydracept commented on #1958
Hm yeah I don't know enough about type to know whether this is expected behavior. Removing the special casing you mentioned doesn't give a different result on the extra wide line but it does break the calls to `textWidth(' ')` on the loaded font.

[2017-05-28 08:07] dhowe commented on #1971
yes, i also found that re-running results in passing tests -- perhaps we simply need to raise the timeout value (at least as a tmp fix) ?

[2017-05-28 08:10] dhowe commented on #1958
I don't see the 'break' you mention. Can you try the same test with [this PR]( https://github.com/processing/p5.js/pull/1970) ?

[2017-05-28 18:30] mlarghydracept commented on #1958
Yeah so the 'break' I mentioned doesn't happen with that branch. I probably accidentally changed something else when I was removing the lines you mentioned. Everything looks exactly as it does in the current release in my tests on that branch. With that said, the spacing is still different on the loaded font from @cqx931's example so maybe this is expected behavior?

[2017-05-28 22:57] dhowe commented on #1958
https://stackoverflow.com/questions/22904372/how-do-i-calculate-the-space-in-between-two-glyphs-in-a-ttf-font

[2017-05-28 23:36] dhowe commented on #1958
In any case, I might recommend reposting @cqx931's question as an [opentype issue](https://github.com/nodebox/opentype.js/issues) (creating a very simple test without p5.js, based on the code in the [README](https://github.com/nodebox/opentype.js))

[2017-05-29 08:42] SaarLevy opened #1973 "Function for converting polar coordinates to cartesian coordinates and the opposite"
This an extremely useful utility that is needed in many projects.

I shall start working on it. Expect a pull request soon enough.

[2017-05-29 09:15] StanLepunK commented on #1973
I work on it for Processing, if that can help you
https://github.com/StanLepunK/Math_rope/blob/master/Math_method/Z_Rope_Math.pde
start from line 91, but if I remender i'm lock on a few point, so if you improve it of find a perfect solution to switch from polar to cartesian and the reverse keep me in touch

[2017-05-31 10:26] Archadia opened #1975 "Cannot load in local CSV/Text/JSON files"
Using Electron 1.6.10 and p5.js v0.5.10, when ever I try to use `loadTable("level/level1.csv", loadLevel)` an error occurs as follows:
[code]

There is nothing perticularly special about the csv file, so I am puzzled as to why this is occuring

[2017-05-31 13:02] limzykenneth commented on #1975
@Archadia You need to be running a server to use loading functions. Have a look at how to do that [here](https://github.com/processing/p5.js/wiki/Local-server)

[2017-05-31 13:25] Archadia commented on #1975
Thank you, all sorted.

[2017-05-31 13:25] #1975 closed

[2017-06-01 12:05] lxinspc commented on #1507
anyone tried it the other way round (e.g. create a 2D canvas, and a WEBGL graphics? (about to give this a go, and will report back)

[2017-06-01 23:09] #1554 closed

[2017-06-01 23:13] mlarghydracept commented on #1958
@cqx931 maybe do you want to take @dhowe's advice for the time being? As it stands it is feeling like this isn't a p5 specific issue. I am going to close for now but feel free to comment on this issue or open another one if any new information arises.

[2017-06-01 23:15] lmccart commented on #1973
hi @SaarLevy this is an interesting suggestion. I think it's beyond the scope of the core p5 library right now, but could be a really great starting point for an [addon library](https://github.com/processing/p5.js/wiki/Libraries)

[2017-06-01 23:19] lmccart commented on #1968
I think the first suggestion (add to individual elements rather than the div behind the scense) makes sense and seems simple and intuitive.

[2017-06-01 23:21] lmccart commented on #1967
thinking about it more... as I recall, the main problem was that you can't necessarily detect crossing into or out of an element while mouse is down. this confusion might cause the function to feel more broken than correct. that is, if you expect it to only fire when mouse is dragged over an element, then it would feel broken to not fire when you start outside and drag in, or you start inside and

[2017-06-02 08:01] limzykenneth commented on #1967
@lmccart I'm hacking something together for my project with p5.element version of `mousePressed`, `mouseMoved` and `mouseReleased`, for the most part it works as I expected, mouse dragging is only handle when the mouse is pressed in said element; mouse moving (while pressed) will stop updating if the cursor went outside the element but will resume correctly when moving back which I think is reason

[2017-06-02 13:59] dhowe commented on #1958
Here's a test of the 3 cases (p5/default, p5/custom, and opentype): opentype has the same behavior and spacing as what we are getting in p5, so it is not something specific to our code. Though whether that extra-space comes from kerning, advance, or some other metric in opentype, is still an interesting question...

![image](https://cloud.githubusercontent.com/assets/737638/26728885/509d4a86-47de-

[2017-06-02 14:26] dhowe commented on #1958
I've done a bit more digging and the spacing above is cause by the fact that opentype does the layout using advance-width, rather than bounding-box.width, and for some glyphs, like spaces, these values are difference. Here is the manually corrected result of the test above (the difference is that the 2 lines in the 3rd set are now the same width):

![image](https://cloud.githubusercontent.com/asse

[2017-06-02 14:31] dhowe commented on #1958
The only issue remaining is that this means of (correctly) calculating the advance is not included in the the version of opentype that we are using (v0.6.9), so we should update to the current version (see )

[2017-06-02 14:32] dhowe opened #1976 "Update opentype to v0.7.1 to correctly support advance-width calculations"
Once this is done, we can then correctly implement P5.textWidth() for opentype fonts to use advance-width, while still providing the tighter bounding box via PFont.textBounds()

[2017-06-02 15:34] dhowe commented on #1958
with the help of @cqx931, I've submitted a PR that address this issue and #1976

[2017-06-02 15:37] dhowe commented on #1958
With the help of @cqx931 (who also provided a font whose layout matches the default rendering), here's  a [PR](#1977) that address this and #1976:

![image](https://cloud.githubusercontent.com/assets/737638/26733006/1e4cbc0c-47ec-11e7-987e-b2e6510aa39f.png)

[2017-06-02 21:13] lxinspc commented on #1507
ok, need to do a bit more playing, but it looks like creating the canvas as P2D, and createGraphics as WEBGL is working, I've got a specific project I'm working on where I need both 2D and 3D graphics in different views - so I'll play a bit more with that, and see if I can make some progress

[2017-06-02 21:59] harrysayers opened #1980 "LoadTable cvs keeps getting error Fetch API cannot load."
I've tried several variations of the code below and none of them fixes the issue of getting the error: Fetch API cannot load and Uncaught (in promise) TypeError: failed to fetch. Am I doing something wrong or is this an issue with P5? (code below) .

[code]

[2017-06-02 22:28] lmccart commented on #1980
is test.csv inside a folder called data in your project folder?

[2017-06-02 22:31] harrysayers commented on #1980
Yeah, test.csv is inside a folder called "data".

[2017-06-03 01:53] kfrajer opened #1981 "Re-assigning value twice..."
https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L459

Is this common to do?

or should it just be the second line? Should I make a pull request?

kfrajer

[2017-06-03 02:14] #1976 closed

[2017-06-03 02:14] lmccart commented on #1958
awesome @dhowe and @cqx931! closed with https://github.com/processing/p5.js/issues/1976

[2017-06-03 02:14] #1958 closed

[2017-06-03 02:16] lmccart commented on #1981
that'd be great, thanks!

[2017-06-03 10:19] limzykenneth commented on #1980
@harrysayers Are you running a local server?

[2017-06-03 10:29] harrysayers commented on #1980
I was running a Python server but I switched to Mamp and now I don't get the errors.

Thanks, I'll close this now.

[2017-06-03 10:29] #1980 closed

[2017-06-03 22:46] lmccart commented on #1981
fixed with https://github.com/processing/p5.js/pull/1982

[2017-06-03 22:46] #1981 closed

[2017-06-04 07:58] jessebrennan opened #1983 "color() not working in on-demand global mode outside setup()/draw()"
I was using on-demand global mode as described [here](https://github.com/processing/p5.js/wiki/p5.js-overview#instantiation--namespace) in the documentation as a workaround to allow using p5 functions outside setup and draw.

This works fine for random as in the documentation, but using color throws an error. Here is a sample
[code]
The error message:
[code]

[2017-06-05 06:32] #1409 closed

[2017-06-05 10:24] stavzog opened #1984 "I can't load p5.dom.js properly!!"
when I try to load p5.dom.js it says:
##

    at p5.dom.js:71
    at p5.dom.js:34
    at p5.dom.js:35
(anonymous) @ p5.dom.js:71
(anonymous) @ p5.dom.js:34
(anonymous) @ p5.dom.js:35
sketch.js:67 Uncaught TypeError: boost.hide is not a function
    at draw (sketch.js:67)
    at e.d.redraw (p5.min.js:6)
    at e.<anonymous> (p5.min.js:4)
    at e.<anonymous> (p5.min.js:4)
    at new e (p5.min.js:5)

[2017-06-05 11:49] limzykenneth commented on #1984
@stavzog there probably a problem with a variable called `boost` in your code. Please post this question in the [forum](https://forum.processing.org/two/categories/p5-js) instead as github issues are more for feature requests and bug tracking. Thanks

[2017-06-05 13:11] JimishF commented on #1983
Making a color requires to pull information from an instance of **p5.Renderer**, which is going to be undefined since canvas is not created yet.

[2017-06-05 13:19] JimishF commented on #1983
Making a color requires to pull information like color Mode and color maxes from an instance of **p5.Renderer**, which is going to be declared while creating a canvas & it will going to be undefined in this case because canvas is not created yet.

And personally i can't think of any usecase where i need to declare a p5-instance of color outside of setup function.

[2017-06-05 15:24] #1984 closed

[2017-06-05 17:27] jessebrennan commented on #1983
I was using it to store a color variable used in both setup and draw. The
workaround is easy though, just initialize the color in set up.

Another use case: imagine making a class with a display function, such as a
Person. You may want to initialize the person object with a color, but as I
understand it this wouldn't be possible currently with a constructor
defined outside of setup.

It's not a sh

[2017-06-05 20:01] BitterBaam commented on #1968
It is so nice to see that you were so quick to fix the problem. The only thing is that you may have been too quick. I downloaded the updated code from lib/addons/p5.dom.js and triple checked that it had the changes and the problem is still there :/ It still puts the attribute on the div element instead of the actual radio/checkbox elements :/ If there is anything I can do to help I will happily he

[2017-06-05 20:36] mlarghydracept commented on #1968
@BitterBaam oh you are right two line changes that I made didn't actually make it into that PR. I'll submit another right now. Sorry about that!

[2017-06-05 20:39] #1968 closed

[2017-06-05 20:41] lmccart commented on #1968
whoops sorry @BitterBaam should've checked that closer before merge. thanks @mlarghydracept!

[2017-06-06 03:28] limzykenneth commented on #1983
@jessebrennan I didn't test out anything but looking at your use case you can just do
[code]
which let's you have `c` in the global scope accessible by other functions such as `draw` or `mouseclicked` etc. As far as I can remember, you can use the `color` function in externally defined constructor as well as long as the constructor is called after setup is called and a canvas is created, by then t

[2017-06-06 03:57] jessebrennan commented on #1983
Cool. Then should this be closed?

On Jun 5, 2017 8:28 PM, "Kenneth Lim" <notifications@github.com> wrote:

[2017-06-06 03:58] limzykenneth commented on #1983
If there's no further problem yeah, you can close this. Thanks

[2017-06-06 03:59] #1983 closed

[2017-06-06 18:41] shiffman commented on #422
Apologies for missing this github thread in May. I did, in fact, implement a version of `NumberDict`. You can see a first pass at it here in case it's helpful:

https://github.com/shiffman/LearningProcessing-p5.js/blob/master/chp18_data/example_18_05_concordance/p5.NumberDict.js

I'm really excited to follow @mlarghydracept's work in this area. I'll chime in at #1974 if I can be of any help.

[2017-06-06 23:41] mlarghydracept commented on #1967
@limzykenneth do you have any ideas about how we could design an instance mode version of `mouseDragged` taking into account the problems with releasing outside of the element? Thought you might have some insight based on your experience with workarounds.

[2017-06-07 03:01] limzykenneth commented on #1967
For my implementation, I initiated the `mouseDragged` state with `elt.mousePressed` then update with `elt.mouseMoved` checking for the `mouseDragged` state, these parts should be relatively straight forward to implement. For the release part, we essentially want to end the `mouseDragged` state, so we can change it at `elt.mouseReleased` then also bind a global mouseReleased event that either end t

[2017-06-07 04:15] whatSocks commented on #1638
+1

[2017-06-07 09:14] archasek opened #1987 "Saving canvas to img with all p5 elements"
Is it possible to save canvas with all custom elements like divs, p, a, etc. created and positioned on the canvas?
The simple `text()` function was quite buggy for me, I decided to use `createElement` to simulate text on a canvas with possibility to edit it and change its position.

[2017-06-07 09:25] sixhat commented on #1638
@DexterShepherd I finally managed to hava little time and added this code to the webgl primitives file and it is now in the Pull Request https://github.com/processing/p5.js/pull/1962

[2017-06-07 09:47] SetupandDraw opened #1988 "A better example for dealing with pixels array on different pixelDensity would be great!"
Hi there,
I think the reference at p5js.org is lacking of sufficient info/examples for dealing with pixels array on different pixelDenisty displays. In fact I find the following example on the [p5.Image](https://p5js.org/reference/#/p5.Image) reference page quite obscure.

`var d = pixelDensity;
for (var i = 0; i < d; i++) {
  for (var j = 0; j < d; j++) {
    // loop over
    idx = 4 * ((y * d +

[2017-06-07 12:23] limzykenneth commented on #1987
I'm not quite sure what you are looking for but perhaps the p5.dom library would do what you need to do? Anyway, questions like this are better suited for the [forum](https://forum.processing.org/two/categories/p5-js), github issues are more for feature requests and reporting bugs.

[2017-06-07 12:37] archasek commented on #1987
OK, I'll write the issue there. Thanks

[2017-06-07 12:39] limzykenneth commented on #1987
Please close this issue as well, it helps us keep track of things. Thanks!

[2017-06-07 12:40] #1987 closed

[2017-06-07 15:14] cblf opened #1989 "TypeError: strokeWeight is not a function"
I'm trying a very simple action : setting the width of the plotter.
strokeWeight(40) should do the job. However, it simply does not exist as a function 👎

TypeError: strokeWeight is not a function

version is current 0.5.11.

[2017-06-07 17:42] mlarghydracept commented on #1989
Hi, I tested with 0.5.11 and this is what I got --
![screen shot 2017-06-07 at 10 37 48 am](https://user-images.githubusercontent.com/10382506/26892627-c242979e-4b6d-11e7-8b9f-9120bb4faf96.png)

Are you sure that you are calling `strokeWeight()` from within a function such as `setup()` or `draw()`? Maybe refer the questions about global vs instance mode [here].(https://github.com/processing/p5.js/

[2017-06-07 17:46] mlarghydracept commented on #422
@shiffman Thanks for the link! This will definitely be helpful. There are a lot of great ideas in this version.

[2017-06-07 18:06] kristianpedersen opened #1990 "Feature request/discussion: Simpler for loop syntax"
I still remember the disappointment and confusion when I was introduced to for loops.

Printing out a range of numbers, or repeating something n times, should be simpler. Ruby has `1000.times`, and lodash.js has `_.times(1000)`, for example.

# Someone somewhere meets the for loop

Student:
"Can I make a program that counts to 1000? ツ

Teacher:
"Yes, you can! Counting is one of the things computer

[2017-06-07 18:17] mlarghydracept commented on #1990
I am really interested in this and you make a good argument. I feel like it fits in with p5's mission as you stated at that bottom.

A few questions though:

- Do you think having a functions like the `count()` that you proposed would make it harder for people to read across javascript and p5 code?
- In a similar vein, what do you think about hiding the for-loop from new users? Is that removing a

[2017-06-07 19:37] kristianpedersen commented on #1990
Isn't this already the case in regards to Canvas, DOM manipulation and many other P5 abstractions?
For DOM, I'm more used to native JS than jQuery, but I'm more used to P5 than native Canvas.

Also, I think P5's `map()` is good example of potential confusion, but high usefulness. It could be confusing coming from JavaScript's native `Array.map()` function, which does something completely different

[2017-06-07 20:04] juliansharifi opened #1991 ".obj model not loading on mobile devices"
Playing around with WebGL 3d model loading and for some reason, .obj models don't seem to load on mobile devices (though the one in my example loads successfully on safari using the iOS simulator).

Example here: https://juliansharifi.github.io/june3rd2017/

Source here: https://github.com/juliansharifi/june3rd2017

[2017-06-07 20:07] lmccart commented on #1991
are there any errors in console?
you can use https://jsconsole.com/ to log console output from your phone to a browser window

[2017-06-07 20:16] juliansharifi commented on #1991
That's a great tool!

No errors though - just repeated reloads i.e.

"remote console.loglink
"p5.RendererGL: enabled webgl context"
remote console.loglink
"p5.RendererGL: enabled webgl context""

[2017-06-08 03:14] msawired opened #1992 "mouseIsPressed is not a fallback on touch devices"
The fact that touchStarted(), touchMoved(), touchEnded() have all fallbacks to mouse functions if they are not defined is great: it makes most sketches work smoothly on both screen and touch devices without making additional definitions. However, I noticed mouseIsPressed stays false on touch devices. MouseIsPressed is used as a common alternative to mousePressed(), I believe it would be expected b

[2017-06-08 03:17] lmccart commented on #1992
makes sense, that'd be great.
it should probably go in here: https://github.com/processing/p5.js/blob/master/src/events/touch.js#L60
similar to this file:
https://github.com/processing/p5.js/blob/master/src/events/touch.js#L571

[2017-06-08 03:23] msawired commented on #1992
Actually, on line 99 and 223, mouseIsPressed seems to be updated.
https://github.com/processing/p5.js/blob/master/src/events/touch.js#L99
https://github.com/processing/p5.js/blob/master/src/events/touch.js#L223

Sorry about that, I was looking at a previous release (and using a previous version). Thank you for the update!

[2017-06-08 03:23] #1992 closed

[2017-06-08 09:32] cblf commented on #1989
Thank you for this answer, mlarghydracept.

I have tested by calling directly from draw() and it works but it does not work when called from a function that is called by draw().
That is a serious drawback because I'm on a quite complex drawing that require to change stroke weight regularly. The code need to be structured by function in order to be readable.
I can't see why strokeweight is restrict

[2017-06-08 11:11] sixhat commented on #1990
My 2cents:

one has to be careful with the kind of abstractions one makes and that in the end hide design patterns from the user.

One thing is to hide complicated stuff that results from the language having to deal with `externalities`. The canvas example is a good one. Dealing with canvas (an externality to javascript) is complicated (not complex) and therefore is a good candidate to simplificat

[2017-06-08 13:51] lmccart commented on #1989
[code]

this example, calling strokeWeight from a function called by draw(), seems to work fine.
can you please post a snippet of your code that demonstrates the problem?

[2017-06-08 17:52] #1973 closed

[2017-06-08 18:01] lmccart commented on #1991
this example runs ok on mobile: https://p5js.org/reference/#/p5/loadModel
the problem could be that you need to load your model in preload() instead of setup(). it could be crashing because you are trying to draw it before it's fully loaded.

[2017-06-08 18:03] lmccart commented on #1990
very interesting idea. I love the ease that your suggested methods provides. I do agree that I think there's something useful about not abstracting away for loops completely though.
to me, this seems like a perfect starting point for a helper addon library that could be used with p5.js to provide these sort of convenience methods.

[2017-06-08 18:05] lmccart commented on #1638
@mlarghydracept I know we're planning a larger revamp of webgl mode, but in the interim.. if this PR looks good to you, feel free to merge it.

[2017-06-08 18:25] lmccart opened #1993 "Typo in P5.Element reference"
_From @criticalhits on June 5, 2017 17:21_

https://p5js.org/reference/#/p5.Element
In the mousewheel() documentation on the above page,
callback is misspelled as "callabck"

_Copied from original issue: processing/p5.js-website#97_

[2017-06-08 21:37] kristianpedersen commented on #1990
Thanks for very helpful and insightful input, Dave! This is excellent.

One disadvantage of my proposal is that such convenience methods won't be found much in tutorials and other online resources, which I can imagine being a bit disheartening.

Also, maybe someone is starting out and needs help from a friend who is an experienced programmer.

In both cases, it would then be nice not to be overwhe

[2017-06-09 02:40] limzykenneth commented on #1990
Great discussions, really look forward to what everyone thinks here!

Generally I agree with @sixhat about not abstracting too much away, I like to treat p5.js more as a library to ease new users to Javascript but it should present away to move forward from it even if it means using something else.

That though I kinda like although it probably is a bit too specific for the library to implement. I

[2017-06-09 17:10] juliansharifi commented on #1991
@lmccart thanks! Still having issues even with pre-load - might be an object with the .obj file. Gonna try a few other things and see if i can get it working.

[2017-06-09 21:00] jacorre commented on #1811
I upgraded p5 and p5 dom from 0.5.8 to 0.5.11. I'm noticing the same problem again, specifically when a touch happens. mousePressed triggers twice. Only triggers once with desktop.

[2017-06-09 22:37] #1993 closed

[2017-06-10 18:08] fcin opened #1996 "How to add p5.dom to p5.js in instance mode"
I'm using requirejs to bundle my files. I've used `p5.js` for some time, but I need to add `p5.dom` now. The problem is I don't know how to do it with my requirejs. I couldn't find any information how to do it with bundling.
I tried many combinations, but `p5.dom` is always `undefined`
This is what I have so far:
[code]

[2017-06-11 17:32] JWStone opened #1998 "heading() doesn't follow angleMode()"
As per examples this gives results between -PI and PI.  Seems like with angleMode(DEGREES); it should be giving 0 to 360

[2017-06-11 18:07] sixhat commented on #1998
@JWStone hm? Shouldn't it be doing ]-180..180]? Seems the most natural to me.

[2017-06-11 18:08] JWStone commented on #1998
Sorry, yes

[2017-06-11 18:10] sixhat commented on #1998
@JWStone I've just tested with 0.5.11 and seems to be working (and respecting) angleMode.

[2017-06-11 18:16] JWStone commented on #1998
Ok thanks I'll get a new version. Not sure how old mine is.

[2017-06-11 18:30] malebuffy opened #1999 "text() gives an error when trying to display a variable from a firebase user account"
Hi,
like the title says I try to display a Property from a Firebase auth user.

[code]

i get following error in the console:

[code]

its this line on the p5.js file that creates the error:

[code]

I tried too print the "typeOf" user.displayName and it returns String so I cant understand why text() doesnt work...

Writing the variable UserName  however to the console, works.

Any pointer?

[2017-06-11 18:48] malebuffy commented on #1999
nevermind it was a scope issue

[2017-06-11 18:48] #1999 closed

[2017-06-11 18:52] #1998 closed

[2017-06-11 22:03] #1989 closed

[2017-06-11 22:04] lmccart commented on #1989
I'm closing this since I can't reproduce but please feel free to reopen if you can post a snippet that illustrates the issue.

[2017-06-12 11:09] sakshamsaxena opened #2000 "Blank RequireJS task in Gruntfile"
Was going through the Gruntfile in detail and noticed that [the `requirejs` task defined is essentially left with the documentation generation step](https://github.com/processing/p5.js/blame/master/Gruntfile.js#L366), as the building step is written separately in `build/tasks` and uses browserify. I think it's a bit misleading, but correct me if I'm missing something here.

I myself would be worki

[2017-06-12 16:15] faxe1008 opened #2001 "WEBGL BezierCurve Vertex"
Hi,

I am trying to fill a shape with a texture, which requires me to use WEBGL as the renderer.
This is the code of my draw function:
[code]

But I got this error: "uncaught exception: vertex() must be used once before calling bezierVertex()", which is false since I called vertex and yes the object had valid points.

[2017-06-12 17:01] mlarghydracept commented on #1967
@limzykenneth I started working on this the way that you indicated but then if I am not mistaken `elt.mousePressed` fires for all the instances regardless of mouse location. Am I missing something? With that in mind is there a reason that we would chain it together like you said instead of just making a global listener for dragging like this:

[code]

[2017-06-13 03:04] limzykenneth commented on #1967
In my example, `elt` means `p5.Element` which means only the selected element should receive a `mousePressed` event, it should not start if the mouse is pressed outside the element even if it moved into the element later. Imagine two canvases, one 2D and one 3D; the 2D one has simple click and drag drawing on it and the 3D one has click and drag rotation on a model; while rotating the 3D model I d

[2017-06-14 15:06] criticalhits opened #2003 "[P5 Feature Request]: clip (using the html canvas clip property after specifying a path)"
[The HTML Canvas API](https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Compositing) has a page on "Compositing and clipping".

The clip property allows us to hide unwanted parts of shapes. See screenshot from the Canvas API:
![image](https://user-images.githubusercontent.com/28786457/27139096-b13d91ae-50e7-11e7-9c4b-ba971427f042.png)

It would be nice to have a clip function in

[2017-06-14 16:07] apardo04 opened #2004 "Firefox global function "Animation"Issue"
Console Log returns this on Firefox: p5 had problems creating the global function "Animation", possibly because your code is already using that name as a variable. You may want to rename your variable to something else.

Has anyone had this issue or have a fix? None of my variables are named Animation

[2017-06-15 10:18] bomoko commented on #2004
Hi @apardo04
Would you be able to share a sketch/some code that demonstrates this issue when it's run in Firefox?

[2017-06-15 14:00] apardo04 commented on #2004
Hey @bomoko

I have it hosted on Bitbucket right now for privacy reasons until I launch it on my site, then I'll put it here on Github(I am very close to getting the first level live, just need to fix this cross browser issue). If you give me your bitbucket username/or email I will share the repo with you.

[2017-06-15 15:11] lmccart commented on #2004
we're really just looking for a few few line snippet of code that illustrates the issue so we may reproduce and debug. no need to share the whole project, this actually makes it more difficult for us to isolate the problem. thanks!

[2017-06-15 15:36] apardo04 commented on #2004
OK so I found the issue about why the game wasnt running on firefox or IE. It had to do with "p5.sound.js", once i commented out these lines it worked:
[code]

I am still getting the "Animation" variable console log on firefox. I made a quick example of my source code for you guys. I should also mention that I am using p5.play.js and CSS animation(I should of mentioned this earlier, I posted this

[2017-06-16 04:58] bomoko commented on #2004
Well, this is interesting, everything actually looks to be working correctly.
There's still an error, but p5's behaviour is exactly as expected.

It seems as though Firefox has a window.Animation() function!
So when p5 tries to bind p5.play.js' Animation function, it (rightly) throws an exception.

This explains _why_ we're seeing this in FF, but since this is p5.play.js specific, perhaps that's t

[2017-06-16 05:06] bomoko commented on #2004
Well, this is interesting, everything actually looks to be working correctly (from p5's perspective).
There's still an error, but p5's behaviour is exactly as expected.

It seems as though Firefox has a window.Animation() function!
So _createFriendlyGlobalFunctionBinder (rightly) throws an error notifying the user that there has been a namespace clash.

This explains why we're seeing this in FF, b

[2017-06-16 05:14] therealgambo opened #2005 "update documentation for loadXX() methods to note that callbacks should not be combined with preload"
Trying to load a sound file in chrome, the file loads successfully but the loading element never gets removed and the canvas is never drawn.

[code]

I managed to remove it by calling `this._decrementPreload();` from within the onload callback method. This removes the loading element and executes the expected methods to initiate the canvas.

I'm not sure what is the cause of this perhaps the prelo

[2017-06-16 07:39] sakshamsaxena commented on #1971
Interesting! So apparently, the failure is observed only in the case of non-existing URLs. As HttpDo uses Request, some preliminary search on the same resulted that there's no default timeout to any request, so they're likely to be left pending especially in our case where the URL does not exist.

Found [this](https://github.com/request/request/issues/2358) slightly similar. So this could be compl

[2017-06-16 09:36] sakshamsaxena commented on #2000
Okay so, read more on the same. Turns out that it's just how the task is. Only the comment was teensy bit misleading. Closing this off for now :-)

[2017-06-16 09:36] #2000 closed

[2017-06-16 10:29] bomoko commented on #2004
Quick update - it's definitely the Web Animations API in FF doing this.
If you set **dom.animations-api.element-animate.enabled** in your FF preferences to **false**, then rerun the script, you'll find that the "Animation" object is no longer part of the global scope.

[2017-06-16 11:56] bomoko commented on #2005
Hi @therealgambo

I'm just starting to get my head around the p5.js source, but I'm sure you're experiencing this because you're calling loadSound with callbacks _inside_ "preload".

"load" functions called inside of _preload_ are wrapped in another function that fills in the successCallback argument automatically (with _decrementPreload(), actually).

I believe the right way of dealing with this

[2017-06-16 12:49] bomoko commented on #2005
I have to wonder if wouldn't make sense for this to be addressed a little more clearly in the documentation (if it isn't somewhere already?)
It's not clear to me from reading the reference docs that what @therealgambo has done above makes perfect sense. Without making it clearer, we can get some very weird behaviour.

Here's an example with the code above, just with a little tweak:

[code]
Now, gi

[2017-06-16 12:51] lmccart commented on #2005
Yes, I agree, it would be a good idea to make it clearer in the docs that callbacks should not be included with calls to loadSound() or any other load method in preload.

[2017-06-16 15:17] Alex92rus opened #2006 "tic-tac-toe game and buttons inside the canvas"
Hey p5.js community,

Alex here! In the last couple of weeks, I was looking at p5.js and to put it into practice, decided to make a simple [tic-tac-toe game](https://alex92rus.github.io/p5_tic_tac_toe/index.html). So far so good. At some point, I thought that it might be good to make graphical buttons in the canvas (rectangles, triangles etc) like in many other games for example - [here](http://ca

[2017-06-16 16:15] mjvDEV opened #2007 "decrementPreload set to failureCallback, even though loadImages() called from setup() or later"
A little bit of context: I'm using the preload function to load two batches of strings: one is an array of filenames for the images I'm going to be loading, the other is an array of timestamps corresponding to the images. I do not use callback functions with loadStrings() inside preload(). I mention this just so you know that I do have a preload() function, in case that helps.

I'm writing a progr

[2017-06-16 19:23] lmccart commented on #2006
Hi Alex, I would suggest making a JavaScript object that encapsulates the concept of a clickable button. You could have methods on this object like button.detect() and button.isPressed(). If you stored them in an array, you could easily iterate through all of them and call detect on each one to see if any were pressed.

These videos about JS objects may be helpful:
https://www.youtube.com/watch?v=

[2017-06-16 19:23] #2006 closed

[2017-06-16 19:24] lmccart commented on #2004
@bomoko thanks for looking into this. it sounds like this is an issue with FF and p5.play, and since the issue is already open on the p5.play repo, I think we can close it here.

[2017-06-16 19:24] #2004 closed

[2017-06-16 19:25] lmccart commented on #1971
I think it is a case of the request to the URL timing out or just not connecting.. maybe we just need better error messaging? Or a longer timeout?

[2017-06-16 19:58] sakshamsaxena commented on #1971
Request [says](https://github.com/request/request/blob/master/README.md#requestoptions-callback) that it's configuration's timeout is always ignored in case of failed TCP connection which is handled by the OS only. It somehow tries to look for the URL maybe beyond a context or something, which delays it significantly to cause the test to timeout. All of this, is dependent on Request module only th

[2017-06-16 22:09] therealgambo commented on #2005
I should mention that the only reason why the callbacks were added was purely for increased verbosity whilst debugging why 'Loading...' was not being removed.

Originally I had `song = loadSound('test.mp3');` in the preload() method which was not throwing any noticeable errors in the console.

I think this issue is now trying to cover two problems.
1. Better documentation around where the callback

[2017-06-17 03:57] limzykenneth commented on #2007
I think I know what is happening here, I'll have a look and fix it if I can. However, if you can provide a minimal example demonstrating the problem it would help greatly.

[2017-06-17 04:03] limzykenneth commented on #2005
Not sure about implementation of callbacks in `loadSound`/`loadImage` but I think `loadJSON` and the others that uses `httpDo` are able to take callbacks even in `preload`. They have extra checks to make sure the `_decrementPreload` callback doesn't conflict with user provided callbacks. I'll have a look at the implementation of `loadImage` as part of #2007 while I'm at it to confirm.

[2017-06-17 04:18] bomoko commented on #2005
@limzykenneth thanks for that, absolutely right!
They call _getDecrementPreload() (loadImage() does too). Or, at least, they should.

Just digging into it a little, I see that this was addressed in p5.js ([way back in 2015](https://github.com/processing/p5.js/pull/956)), but is still an issue in p5.sound.js.

I'm going to take a swing at [this](https://github.com/processing/p5.js-sound/issues/97)

[2017-06-17 08:33] Alex92rus commented on #2006
Hello Lauren,

Thank you for your advice. It sounds great. Maybe at some point, we could implement that inside p5.js . I expect a lot of people require it. Will implement it in my game.

[2017-06-18 19:01] aswathkk commented on #1996
Same Issue here.
How to use `p5.dom.js` in `p5.js` instance mode?
If I include `p5.dom`,
Methods specified in `p5.dom` is present at `p5.prototype`.
I'm not able to use those methods directly like `p5.createP()`, But I can call it like `p5.prototype.createP()`
By the way, I'm using babel with webpack.

[2017-06-19 16:07] mjvDEV commented on #2007
Hi, sorry for the delay I was away from my desk over the weekend.

This code replicates the error. The file given to loadStrings() contains an array of image file names, which as you can see I use in loadImages():

<pre>
var files;

function preload() {
    files = loadStrings( "./data/summer-day-frames.txt" );
}

function setup() {
    canvas = createCanvas( 640, 360 );
    loadImage( "./img/plot

[2017-06-19 17:58] lmccart commented on #2001
vertex only need to be called once to set the initial starting vertex, it does not need to be called before every bezierVertex. something like this should work:
[code]

[2017-06-19 17:58] #2001 closed

[2017-06-20 00:21] #1638 closed

[2017-06-20 12:33] limzykenneth opened #2010 "Detaching events"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

I wonder if there is some way to detach event listeners from either the global scope or an element that are attached via p5.js or p5.dom.js?

[2017-06-20 18:25] wxs opened #2011 "Accessing strokeStyle and fillStyle of drawing context slow"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-06-21 02:18] magiicman123 opened #2012 "loadSound(file) not working"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-06-21 02:19] magiicman123 commented on #2012
sounds are not working

[2017-06-21 02:19] #2012 closed

[2017-06-21 07:26] limzykenneth commented on #2010
Found a workaround by directly removing the event listener from the DOM element
[code]

I still think it would be best to have something that handles this in the library itself.

[2017-06-21 07:42] lmccart commented on #2010
yes, I think this would be useful... what about passing false or null as an argument? something like
[code]

[2017-06-21 07:46] limzykenneth commented on #2010
That would be a start and I think can be implemented. However, I think if it can have finer grain control it would be even better, ie: when binding two different `mousePressed` listeners, I can choose one of them to be removed by referencing the callback passed, more or less like the native implementation.

[2017-06-21 07:54] lmccart commented on #2010
so something like this?
[code]
I wonder how far we go though? If you are at the point of using multiple event handlers and storing references to them, perhaps it's easier to just native JS? I'm not sure.

[2017-06-21 07:55] lmccart commented on #2010
or maybe it's more intuitive to say:
[code]

for reference, jQuery has the [unbind](http://api.jquery.com/unbind/) method

[2017-06-21 08:58] limzykenneth commented on #2010
The second one is more what I had in mind. jQuery also has namespacing in the form of `click:namespace` which is really nice.

I'm not too opposed to encourage using native JS, I'm just wondering whether it would be too difficult for example the workaround I posted require traversing the `_events` object in the element to find the right handler.

[2017-06-21 21:18] rajsodhi opened #2013 "Getting started - ellipse returns white screen"
#### Nature of issue?

- [ X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ X] Desktop/Laptop
- [ ] Others (spec

[2017-06-21 21:58] SimonTate opened #2014 "frameRate cannot be 0 - only >0"
#### Nature of issue?

- [X ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X ] Desktop/Laptop
- [ ] Others (speci

[2017-06-21 22:01] lmccart commented on #2014
hm I think frameRate(0) is not supported. if you'd like to stop the looping altogether, you could use noLoop()

[2017-06-21 22:12] SimonTate commented on #2014
Ah yes, noLoop() and loop() are suitable for my application. I did however notice this:
[code]
within environment.js which seems to be doing the prevention of frameRate to be 0. I changed this to `fps < 0` in my own fork and it ran all grunt tests okay and worked for my application too. However if this is intentional then I'll go over to using noLoop() and loop(). 😄

[2017-06-21 22:34] lmccart commented on #2014
yeah I think you're right.. I can't think of a reason why 0 should be prevented from working. please feel free to submit a pull request, or I will make the fix next chance I get.

[2017-06-22 07:16] bomoko commented on #2013
Hi @rajsodhi

I'm trying to reproduce here - when you say you tried the 'draw ellipse' example, how did you try it?
I've just done the following

1. downloaded p5.zip
2. opened the directory I downloaded it into
3. went to the "empty-example" directory
4. copied the code you've pasted above into the "sketch.js" file
5. opened the index.html file in the "empty-example" directly in chrome.
6. saw th

[2017-06-22 07:34] cqx931 commented on #1561
same here,  it still doesn't work when I try to fill a shape created by `beginShape()` and `vertex() `

[2017-06-22 08:20] #2014 closed

[2017-06-22 17:09] kaganjd opened #2016 "Typo in color_conversion source code"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (specify

[2017-06-22 17:38] #2016 closed

[2017-06-22 20:16] mlarghydracept commented on #1561
So on my end it is texturing the shape but it is being inverted and there are ton of errors being fed to the console with subsequent code after endShape not firing. With this code ::

[code]
I get this ::

![screen shot 2017-06-22 at 1 15 16 pm](https://user-images.githubusercontent.com/10382506/27453917-ddda33b4-574c-11e7-888c-d8806511c53a.png)

@kjhollen and I are working on the WebGL this summe

[2017-06-23 06:46] limzykenneth commented on #2011
Do you think you can create a simple sketch that we can stress test this problem on? Something that maybe calls `vertex` a lot of times and log how long it takes, maybe even one that uses the fix you proposed so we can compare. Thanks.

[2017-06-23 17:14] mjvDEV opened #2019 "can createGraphics() be enhanced to adjust for pixel density?"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Rendering

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ]

[2017-06-23 19:37] wxs commented on #2011
Ok yes I'll put that together now.

I've also realized that things are still worse when in TRIANGLES mode because the renderer keeps re-setting the fill and the stroke for each triangle. This has the advantage that you can in one `beginShape()` have multiple different fill colours, but that's not documented as a possible behaviour anyway and it significantly reduces performance.

This is trivially

[2017-06-23 23:11] kjhollen opened #2020 "Immediate mode performance"
I did some profiling of the GL immediate mode today (for calls to `beginShape`, `vertex`, etc. in WEBGL mode) and found that `p5.RendererGL.prototype._getCurShaderId` seems to be one of the slow steps.

`p5.RendererGL.prototype._getCurShaderId` always creates a new shader and does not check to see if one already exists for the constructed material ID constructed from the immediate mode vertex + fr

[2017-06-23 23:21] wxs commented on #2011
Ok so I've got a tentative fix up as a PR here: https://github.com/processing/p5.js/pull/2021

Here's an example sketch where I get huge framerate improvement with this change: https://gist.github.com/wxs/d95a1239fad5cafd8eacf8417d2a137f

and here are two profiler screen caps showing the difference

![slow](https://user-images.githubusercontent.com/326559/27503327-20850cdc-5849-11e7-98b7-3c018fc20

[2017-06-24 16:18] wxs opened #2022 "Allowing per-vertex fill / stroke changes significantly decreases performance"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### New feature details:
As part of my investigation of #2011, I found that drawing complex shapes with `beginShape()` and `endShape()` can

[2017-06-24 16:45] sakshamsaxena opened #2023 "[GSoC] [Discussion] Some individual tests rely on other general parts of p5, which result in failure of such test cases while modularising components of p5"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Details about the bug:

- p5.js version: 0.5.11
- Operating System: Ubuntu 14.04
- Steps to reproduce this:

After bundling the "core" f

[2017-06-24 18:25] sakshamsaxena commented on #2023
Bundling core with events (fairly reasonable) helps a lot (even though a single mouse event was failing around 10-15 tests earlier). Still seeing some dependency on Color ..

[2017-06-24 18:53] nbrosowsky opened #2024 "pan() does not pan 100%"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ x] Desktop/Laptop
- [ ] Others (specify if possible)

There seems to be an issue with the pan method in p5.sound. Panning left or right using -1 to 1 does not pan 100% to the left or right spea

[2017-06-24 19:20] Chovanec commented on #1770
i got same error on this code:

[code]

[2017-06-24 19:57] Jared-Sprague commented on #2005
@bomoko @limzykenneth I remember adding the ability to use callbacks in preload to fix #949,  I remember it was to make spritesheet loading work in p5.play.

I also added a unit tests and examples as part of the pull request:
https://github.com/processing/p5.js/pull/956/commits/378efbdd20677a5f5ae856351d0073fefe64b397

We intentionally added the ability to use callbacks in load* functions in prelo

[2017-06-24 20:39] lmccart commented on #2024
This issue was moved to processing/p5.js-sound#190

[2017-06-24 20:39] #2024 closed

[2017-06-25 00:49] limzykenneth commented on #2005
@Jared-Sprague I don't think that ability should be removed as well and there probably is no need for that. If you like to help, you can test out the PR at #2008 and let me know if there's any problem with it. Thanks!

[2017-06-25 03:48] Jared-Sprague commented on #2005
@limzykenneth Sure! Checkout my comment on #2008

[2017-06-25 04:57] radialBlur050116 opened #2025 "Accessing elements via event listeners attached to functions"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x ] Desktop/Laptop
- [ ] Others (speci

[2017-06-25 10:55] limzykenneth commented on #2025
I may have misunderstood you but when a method is called with the context bound, it means you can access the caller context in said method through the `this` keyword, which should give you what you are looking for.

[2017-06-25 12:39] lmccart commented on #2023
can we just run the tests on the full build of the library? and not run the tests on individual modules?

[2017-06-25 12:40] schuesslerf opened #2026 "Access pen pressure or buttons"
Hello,

is it possible to access the pen pressure or clicked buttons from example from a surface pen? So you can define the thickness of the drawing over the pen pressure, or something like clicking the button on a surface pen is the eraser or something like that? The problem is not, how to set the thickness then, but is it possible to access the pressure? Normally, its the PointerEvent and theree

[2017-06-25 12:48] lmccart commented on #2025
you can also get acces to the event itself like this:

[code]

[2017-06-25 12:48] #2025 closed

[2017-06-25 12:50] lmccart commented on #2026
this is not currently supported. I might suggest incorporating a library such as https://pressurejs.com/ which provides a nice wrapper for this... or you can add event listeners directly like this:

[code]

[2017-06-25 12:50] #2026 closed

[2017-06-25 15:21] lmccart commented on #2023
ah ok, I misunderstood this issue. after discussing with @sakshamsaxena we have realized that these failing tests can be very useful in helping us restructure parts of the code to be more modular and organized. we can open issues for the various tests that fail and address each problematic area individually.

[2017-06-26 07:07] #2011 closed

[2017-06-26 07:09] lmccart commented on #2010
cool, I can work on implementing this one.

[2017-06-26 07:10] #1991 closed

[2017-06-26 07:14] lmccart commented on #2013
@rajsodhi from the error messages it sounds like you need to run a local server in order for the p5.js library paths to work. there are instructions here: https://github.com/processing/p5.js/wiki/Local-server

[2017-06-26 07:14] #2013 closed

[2017-06-26 07:16] sakshamsaxena opened #2028 "[Discussion] Issues and Enhancement of Unit Tests of Core p5"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Core

#### Feature enhancement details:
Some *Unit Tests of Core* are written slightly off the Core itself, apparently, especially in [`renderer.js`](https://github.com/processing/p5.js/blob/master/test/unit/core/renderer.js) and [`structure.js`](https://github.com/processing/p5.js/blob/maste

[2017-06-26 07:16] lmccart commented on #1956
@kfrajer the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://forum.processing.org/two/) is the best place to post. thanks!

[2017-06-26 07:16] #1956 closed

[2017-06-26 07:17] #1894 closed

[2017-06-26 07:19] lmccart commented on #2003
I think this is currently beyond the scope of p5.js as we're still trying to get it to a point where the existing functionality is performant and bug-free, and I'm not hearing others on this thread. however, you can use native canvas methods, and can access the drawing context by using the variable `drawingContext`, so you can mix it together with p5.js in this way.

[2017-06-26 07:19] #2003 closed

[2017-06-26 07:19] #1922 closed

[2017-06-26 07:20] lmccart commented on #1922
I'm not hearing a lot of other comments on this, so I'm happy to stick with the current changelog we have for now

[2017-06-26 07:21] #1957 closed

[2017-06-26 07:21] #2023 closed

[2017-06-26 07:24] lmccart commented on #332
closing this issue as it's been generally addressed. to continue to work on this, let's open individual issues for specific areas in the code that need improvement.

[2017-06-26 07:24] #332 closed

[2017-06-26 07:25] lmccart commented on #727
there hasn't been much discussion on the original topic of this issue in a couple years, so I'm going to close this as it seems to have dropped in priority. we can reopen later if need be.

[2017-06-26 07:25] #727 closed

[2017-06-26 14:27] #2005 closed

[2017-06-26 14:28] lmccart commented on #2007
fixed with https://github.com/processing/p5.js/pull/2008

[2017-06-26 14:28] #2007 closed

[2017-06-26 18:04] mlarghydracept commented on #1897
It is being addressed as part of the WebGL summer of code work. Expect a fix in the next few weeks.

[2017-06-27 03:11] limzykenneth commented on #1901
@dhowe Just got around to testing this. I've tested a few Chinese fonts from both Adobe and independent foundries and it works as expected with no errors. Do you have a sample of the font that is throwing the errors? I would like to have a test and perhaps a closer look at it.

[2017-06-27 08:35] estelll opened #2029 "gif file doesn't work on chrome browser"
I recently used p5 to realize some animation. I load .gif file but it did not change and was static.
Here is my code:
`function preload(){
    for(var i = 0; i < 19; i++){
        imgs.push(loadImage('img/' + str(i) + '.gif'))
    }
    currentImg = random(imgs);
}
    image(currentImg, width, height, imgSize, imgSize);
`
But I read the reference on p5.org which said that

How can I let my .gif mo

[2017-06-27 11:29] Benjameme opened #2030 "cannot change to blendMode(BLEND) after using blendMode(ADD) on openprocessing"
https://www.openprocessing.org/sketch/415722
you can see that blendMode(BLEND) doenst work

[2017-06-27 12:11] lmccart commented on #2030
if this is openprocessing specific, please post it there

[2017-06-27 12:11] #2030 closed

[2017-06-27 12:14] lmccart commented on #2029
since p5.js redraws many times per second, gifs are not able to play out in canvas. an alternative is to use the [`createImg()`](https://p5js.org/reference/#/p5/createImg) method which adds an image to the sketch outside of the canvas that is not effected by the draw loop. for further help, please post in the [forum](forum.processing.org)

[2017-06-27 12:14] #2029 closed

[2017-06-29 10:44] lmccart commented on #2028
@sakshamsaxena regarding the open point.. stroke() and fill() are more complex attributes and need to be in their own module (currently in color/setting). however, I think all the files in the color/ dir should probably be part of the core or base module.

[2017-06-29 11:02] lmccart commented on #1441
these issues have been addressed

[2017-06-29 11:02] #1441 closed

[2017-07-02 14:00] sakshamsaxena commented on #2028
Final Bottleneck in Core Tests :

`new p5() / global mode` Suite :
There is a `_globalInit` function attachment to window which is defined in the `app.js`. However, since I'm not targeting that file at all, I am missing out only on this `_globalInit` function, which fails the suite.

Is it a good idea to use the same in the setup of the suite ?

[2017-07-03 01:48] limzykenneth opened #2038 "Double Click Events"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-03 09:39] glearner opened #2039 "I think texture is broken ... i can't able to use it"

[2017-07-03 16:05] kjhollen commented on #2039
Hi @glearner,

Can you provide us some more details, like a sample program where texture() doesn't work?

I think that if you call stroke() or fill() after texture(), the p5 renderer will will the shape instead of using the texture. Note that using texture() with beginShape() and endShape() is not currently supported in 3D mode. (See Issue #1421).

[2017-07-03 16:13] lmccart commented on #2038
I agree with this specific proposal and the general strategy to provide parity with native browser events. I will take a look at this in two weeks when I return from travels if no one else gets there first. :)

[2017-07-03 16:14] lmccart commented on #2020
fixed with #2031

[2017-07-03 16:14] #2020 closed

[2017-07-03 17:02] #422 closed

[2017-07-03 17:02] lmccart commented on #422
hurrah!!

[2017-07-03 17:45] lmccart opened #2040 "away from internet until july 15"
Hi all, I wanted to let you know that I will be away from internet until July 15. I will catch up on any discussions, issues, and pull requests at that time!

[2017-07-05 09:07] pehagg opened #2041 "clarify API reference for color(), fill(), stroke() to specify CSS string + alpha value is not supported"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (specify

[2017-07-05 16:58] with-a-k commented on #2041
I'd like to take a look at this one.

[2017-07-05 17:53] kaganjd opened #2042 "Remove parentheses from YUIDoc params?"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (specify

[2017-07-06 00:18] DexterShepherd opened #2044 "Remove "If you are using the p5 editor, you can skip to the Your First Sketch section" from the get started page"
Hello :)

Was reading through the Get Started doc here https://p5js.org/get-started/ while researching a workshop and noticed this.

It seems like referencing an editor that is not easily accessible on the first lines of the getting started document might be more confusing than helpful for the people that document is intended for. As a new user with no programming experience I would be unsure whet

[2017-07-06 12:11] kino2007 opened #2045 "Keyboard input wont work"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x ] Desktop/Laptop
- [ ] Others (speci

[2017-07-06 12:14] limzykenneth commented on #2044
Hi @DexterShepherd, I believe that was left in when there was a standalone p5 editor which was deprecated a while ago and this part of the site was not updated to reflect that. I'll post this issue over at [p5.js-website](https://github.com/processing/p5.js-website/issues)'s issue page as this change will be taking place there.

Thanks!

[2017-07-06 12:14] #2044 closed

[2017-07-06 12:18] limzykenneth commented on #2045
Hi @kino2007

I'm afraid you will have to be more specific about your issue. There's not much we can do from just your title alone. Please at least provide a brief description of what exactly is or isn't happening, and a sample code to demonstrate the problem. Thanks.

[2017-07-06 12:20] limzykenneth commented on #2039
@glearner I'm closing this issue for now. Feel free to reopen if you can provide more details.