[2016-02-16 17:05] Xeronimo74 commented on #1257
I've been using the latest Chrome browser (on Win and OSX), as well as the p5js editor (I've added the latest p5js library).

As for the original 'problem': I'm using save() now like I used saveFrame() (in PROCESSING!), meaning each frame is being saved (inside of an if loop).

I'm not going to use saveFrames() (the function in p5js) since it's not really useful, given that its behavior is a bit u

[2016-02-16 17:13] limzykenneth commented on #1257
No problem, cheers.

[2016-02-16 18:55] #1249 closed

[2016-02-16 18:55] lmccart commented on #1249
sounds good!

[2016-02-17 09:51] fjenett opened #1262 "colorMode on PGraphics"
Seems ```colorMode``` is not working when used on PGraphics …?

[code]

I assume both rects should have the same color …

[2016-02-17 12:52] toolness opened #1263 "No way for add-on libraries to be notified of p5 instance construction"
I'm currently adding support for p5 instance mode to the p5.play add-on library at https://github.com/molleindustria/p5.play/pull/22.

At present, the library only supports p5 global mode, and needs to store a number of sketch-wide globals, such as `allSprites`, which is essentially a list of all sprites currently in the sketch. Its current assumptions about p5 always being in global mode means th

[2016-02-17 13:17] #1240 closed

[2016-02-17 15:06] arashsa opened #1264 "add warning that getUserMedia (createCapture) now requires https or localhost"
When I try the webcam example I get an issue. Here is the gist: https://gist.github.com/arashsa/69c30dc09e3e00b5c143

This is the error message from the console (on latest Chrome):

```getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.```

[2016-02-17 17:50] limzykenneth commented on #1264
Yeah, I'm afraid that's what Chrome currently does, `getusermedia()` which is the function behind what gets access to your camera can no longer be used if it's not served over HTTPS. Chrome's plan is to move more of the user hardware access such as camera, device orientation, etc, to secure origin. We can add advice on the docs about this but we can't do much else about it really.

[2016-02-18 09:51] PaliwalSparsh opened #1265 "String methods"
I was going through the [reference of processing.py](http://py.processing.org/reference/) and saw some String methods that are not here in p5.js. Can we implement them in p5-
find()
upper()
lower()
startswith()
replace()
strip()

[2016-02-18 10:49] hkirat commented on #1265
I think javascript has some pre built methods.
Eg : toUpperCase(), toLowerCase, split(), substr().
I'm not sure if there exists a pattern matching method like find().
That can be fun to implement.Using string matching algorithms like KMP.

[2016-02-18 12:02] lmccart commented on #1265
this page you linked it the processing python reference. i don't think they are included in the [processing reference](https://processing.org/reference/). what we've provided in terms of strings feels pretty good right now in terms of scope and matching processing, for any further functionality I would check out the native JS methods that @hkirat points out: http://www.w3schools.com/jsref/jsref_ob

[2016-02-18 12:02] #1265 closed

[2016-02-18 12:27] limzykenneth commented on #1265
@hkirat yup, native js have find as well `indexOf()`

[2016-02-20 06:15] DarkPrince304 opened #1266 "Trigonometric functions"
Hello,

I was going through the processing reference and there I found some trigonometric functions like acos, radians, etc

Even though functions for these are there in JavaScript would it make sense to implement these for p5 as well so as to make it more similar to processing?

[2016-02-20 09:37] PaliwalSparsh commented on #1266
@DarkPrince304 We do have these functions in p5 infact all the trigonometric functions.
[acos](http://p5js.org/reference/#/p5/acos), [radian](http://p5js.org/reference/#p5/radians).
You can find them on the reference page in the Trigonometry subsection under Math section.

[2016-02-20 09:49] DarkPrince304 commented on #1266
Woops my bad! Didnt look hard enough I guess. I'll close this then.

[2016-02-20 13:23] #1266 closed

[2016-02-20 18:10] raphaelschaad commented on #458
+1 for a simple, built-in way of exporting to vectors – something like `saveCanvas('myCanvas', 'pdf');`.

Context: I found my way here googling for "p5js SVG/PDF export".

Reading this thread I realize that this seemingly simple thing requires complex design decisions I'm not able to contribute to, but wanted to share the view/wish/need of a beginner that might help.

[2016-02-23 01:09] lmccart commented on #1257
Thanks for looking into this both of you. Is this one resolved with the updated docs (https://github.com/processing/p5.js/pull/1267), or is there more to do here?

[2016-02-23 01:27] lmccart commented on #1262
interesting... thanks for reporting, i will look into this.

[2016-02-23 02:47] #1247 closed

[2016-02-23 19:57] PaliwalSparsh opened #1268 "Examples for references of p5.Element"
There are no examples for many methods of p5.Element. Can be seen on the[ Development Checklist ](https://github.com/processing/p5.js/wiki/Development---Checklist) or on p5js.org references.

@lmccart I feel I can help with this.

[2016-02-23 20:58] noisefactor opened #1269 "touchX/touchY or mouseX/mouseY reporting wrong in iOS 7.0.x"
I believe I've discovered a bug that affects iOS (at least version 7.0.x) and possibly other mobile contexts.  When I try to use touchStart() (or mousePressed()) to get the current touchX or mouseX it reports the previous touch position instead of the current touch position.

Tapping an iPad or iPhone like mine with this simple demo page shows the x and y coordinates reported in the title area.  (

[2016-02-24 04:57] hkirat commented on #1269
you are using the wrong function..
It shouldn't work in any device whatsoever.
Use the touchEnded function instead of touchStarted function..
Should work fine.

[2016-02-24 05:22] noisefactor commented on #1269
Perhaps some background would help.  My line drawing tools have init() and draw() methods.  What I do (that works for desktop and laptop modes of p5) is I use the mousePressed() function to trigger the init() method and this establishes the current, starting position of the line.  Subsequent mouseMove (drag) events then continue the line until the mouseReleased() event fires.

I think your interpr

[2016-02-24 06:22] noisefactor commented on #1269
Adding the **bold** lines below to p5.js made things work the way I think they should.  It would appear someone thinks it's fine to wait until the draw() method updates these values, but I would tend to disagree with that strategy.  I don't fully understand the event model, but I do think it's logical that the touchX, touchY, mouseX, mouseY variables are updated when the ontouchstart function fire

[2016-02-24 09:26] hkirat commented on #1269
ok now I got what you are trying to achieve.
found a method to fix this
Adding the following condition in p5.prototype._updateMouseCoords() makes it work fine
if (e.type === 'mousedown') {
        this._setProperty('touchX', e.clientX);
        this._setProperty('touchY', e.clientY);
    }
Though I'm not sure if this is the right way to fix it

[2016-02-25 14:34] benoitwimart opened #1272 "CurrentTime is to small on PC"
Wish this is the place to report bug.
I make some test and with a window.setTimeout(callback, 1000 / 60) at 60fps.
For a sound with a duration of 30s, last value of `audio.currentTime()` is 28s on PC (30 on Mac), I do a script without  p5js and `audio.currentTime` (not the function) is 30s…

http://jenseign.com/p5test/
http://jenseign.com/p5test/index-2.html (without p5js)

[2016-02-25 15:10] limzykenneth commented on #1272
Hmm...I don't have a PC so I can't test this and so I can't be sure if it's a problem with `currentTime()` or with `setTimeout()`. In any case this is the place to report bug but this seem to be a problem of p5sound and you'll get better help there. Just copy and paste this issue [here](https://github.com/processing/p5.js-sound/issues) the people working on p5sound should be able to help you there

[2016-02-25 15:14] benoitwimart commented on #1272
thank you

[2016-02-25 15:14] #1272 closed

[2016-02-25 17:06] futuremarc commented on #878
update on this: so without changing how our backend works I was able to zip the libraries and dependencies along with the html dump of the reference, but no linked pages would be saved. If we were using npm theres a package called wget that would do exactly what we need.

My next step is to look into building it with the grunt build process. However this doesnt address the issue of how slow the Re

[2016-02-26 01:30] #1268 closed

[2016-02-26 01:31] #1220 closed

[2016-02-26 01:32] lmccart commented on #1243
closed with https://github.com/processing/p5.js/pull/1258

[2016-02-26 01:32] #1243 closed

[2016-02-26 01:38] lmccart commented on #878
thanks for looking into this @futuremarc. I agree, we should look into building the reference as static files. i'm going to close this issue, and we can continue discussion here: https://github.com/processing/p5.js-website/issues/143

[2016-02-26 01:38] #878 closed

[2016-02-26 02:00] lmccart commented on #1252
this page is accessible... it pops up in search in the reference and is also linked from the p5.Vector page.
http://p5js.org/reference/#p5.Vector/dist

I think what's happening is that I hacked yuidoc a bit to conform to the format we wanted to match the processing reference. I think a byproduct of this is multiple entries getting added for one reference entry, even though only one is actually lin

[2016-02-26 06:48] mactkg opened #1273 "Package on NPM is latest?"

[2016-02-26 06:52] mactkg commented on #1273
oops. I missed operation...
I'm using p5.js with browserify.  So I downloaded p5.js package from npm, but scripts inside package seems to be old.
the big problem to me is transform(x, y) call console.log() every time.

I don't know about admin side of npm, but I think there is something wrong on npm.
Anyone knows an information about that?

[2016-02-26 08:34] hkirat commented on #1269
@lmccart Is this the right way to fix this ^ ?

[2016-02-26 11:50] limzykenneth commented on #1273
@mactkg Did you mean `translate(x,y)`? I can't find any console.log statement anywhere in the transform source code though. I think the problem might be somewhere else in the source code as every time I ran the test, the unminified library always throws out some console.log statement and I still couldn't figure out where they are, perhaps this would be a good starting point...

[2016-02-26 11:53] mactkg commented on #1273
thanks Kenneth! I'll re-check my environment and report the status...

2016年2月26日金曜日、Kenneth Lim<notifications@github.com>さんは書きました:

--
原 健太
明治大学総合数理学部 先端メディアサイエンス学科 渡邊研究室

090-1104-8196
mactkg@gmail.com

[2016-02-26 22:26] lmccart commented on #1273
hi @mactkg I think I messed up the last npm release and included the old lib. I'll post a new one today or tomorrow.

[2016-02-26 23:25] #1262 closed

[2016-02-26 23:41] #1238 closed

[2016-02-26 23:42] lmccart commented on #1238
the bug with `loadTable()` should be fixed but I would recommend using `createWriter()` if you are trying to crease a csv output. see this example here:
https://github.com/lmccart/gswp5.js-code/blob/master/Robots/Robot10_Data_a.js

[2016-02-27 03:06] mactkg commented on #1273
@lmccart thanks!

[2016-02-27 20:05] PaliwalSparsh commented on #1110
@blindfish3 [I guess this is the place](https://github.com/processing/p5.js/blob/b37e850adb636a4df53992f090387e3163aa8196/src/core/core.js#L227) ie whole file you were referring in the thread you have linked for preload(). I guess we need to fix almost all the for...in with hasOwnProperty.
I feel I can fix this. Anything you would like to tell before I give it a try.

[2016-02-28 16:29] blindfish3 commented on #1110
@PaliwalSparsh: for..in loops are known to be risky _if_ it's likely that the content being iterated over has inherited properties.  If there's any doubt about inheritable properties it's safer to add the check wherever you use for...in.  See [for...in on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in#Iterating_over_own_properties_only).
Alternatively us

[2016-02-28 20:19] keithohara opened #1274 "get()/loadPixels() with Capture"
I have run into a problem using `get()` with the webcam. It looks like the size of the capture/canvas (`capture.elt.width = 0` in `loadPixels()`) might be the culprit.  Explicitly calling `size()` seems to be a workaround (or maybe that's required).

Google Chrome gives me:

     Uncaught IndexSizeError: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0.
     p5

[2016-02-29 13:44] vassiliskrikonis opened #1275 "p5.Image.blend() throws TypeError"
Calling the `blend()` function on an `p5.Image` instance object throws a TypeError "_cannot read property 'blend' of 'undefined_'".

[code]

[2016-02-29 17:37] karneaud commented on #823
Not sure if this was solved but in trying to install pjs via bower I get

`bower install p5js#master`

[2016-02-29 19:13] karneaud opened #1277 "Latest version failed to load"
Hello,

I'm using the latest CDNJS versions of ** p5j, psjs.dom and p5js.sound** to run my application however. When loading the page in the browser it doesn't execute the `setup`, `preload` or `draw` functions.

If I used a previous version ( 0.4.0) I get it going but with errors.

It seems that there maybe a bug or some packaging error on the server maybe?

[2016-02-29 19:20] karneaud commented on #1277
The following combination seemed to have worked

`<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.0/p5.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.0/addons/p5.dom.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.20/addons/p5.sound.js"></script>`

[2016-02-29 22:46] mikecai011 commented on #1238
Change it to
for (i = 0; i < records[0].length; i++) {
          t.columns= records[0];
        }
Still not working for me.

[2016-02-29 23:16] mikecai011 commented on #1238
After trying out a bit, I found that loadTable interferes with createWriter it.  Without loadTable, the window asking you to select saving location successfully pops up.
![image](https://cloud.githubusercontent.com/assets/8644482/13412321/77ec764e-df10-11e5-97a3-b9def678c42f.png)
But with loadTable, a table named "new.csv" automatically shows up in the directory of sketch file and the bug mentione

[2016-03-01 00:55] lmccart commented on #1238
hey @mikecai011 is this using the p5 editor? trying to figure out if it's a bug in the editor or library..

[2016-03-01 04:14] mikecai011 commented on #1238
Yes, I am using the P5 editor. For the correction you mentioned, I simply found the line and changed it in p5.js file in library folder, which is included in the sketch folder.
![image](https://cloud.githubusercontent.com/assets/8644482/13417468/3da98fe2-df3a-11e5-8671-3b2c75672b9f.png)

[2016-03-01 12:46] Niels-NTG opened #1279 "Make loadTable work with semicolon separated values"
Currently p5 only supports loading comma and tab separated values with the `loadTable()` function. It would be very useful if this method would also support files that use a semicolon delimiter, since those are quite common.

[2016-03-01 16:34] aatishb opened #1280 "saving a screenshot on mouseClicked() saves hundreds of images"
I wrote a simple p5 sketch that saves a screen shot when I click the mouse.
[code]
It works fine in the p5 editor. However when I open the sketch in Google Chrome and click the mouse button, instead of saving a single file, it very rapidly saves hundreds of image files, forcing me to close my browser.

[2016-03-02 01:18] karneaud opened #1281 "Bugs in latest versions of p5.sound.js"
Been trying to understand what is going on. I ran this code a couple times and was able to execute successfully then today I get a bunch of errors that I have never seen before

In running the p5 framework in Latest Chrome and Safari I get the following error

I'm not sure why this is when running a simple code

[code]

What is the most stable release that can be used here?

[2016-03-02 01:54] therewasaguy commented on #1281
Which version of p5.sound are you using? The latest version is v0.3.0. A bug like this was [fixed in 0.1.9](https://github.com/processing/p5.js-sound/issues/45). It's possible there is a new bug but I'm not able to reproduce it with the code you posted.

[2016-03-02 01:56] karneaud commented on #1281
Please disregard this post. I've been having problems installing and compiling p5js using bower.

[2016-03-02 01:56] #1281 closed

[2016-03-02 13:37] JamesJDillon commented on #1280
The p5.js reference for mouseClicked says: _"Browsers may have different default behaviors attached to various mouse events. To prevent any default behavior for this event, add "return false" to the end of the method."_

Have you tried adding "return false;" to the end of mouseClicked()?

[2016-03-02 14:51] aatishb commented on #1280
Thanks, that fixes it. Sorry, I should have seen that in the reference.

[2016-03-02 14:51] #1280 closed

[2016-03-02 15:35] karneaud opened #1282 "issues with cross browser support for deviceMoved() and deviceTurned()"
Trying to use the _deviceMoved_ and _deviceTurned_ event listeners on **Mozilla/5.0 (Mobile; Windows Phone 8.1; Android 4.0; ARM; Trident/7.0; Touch; rv:11.0; IEMobile/11.0; NOKIA; Lumia 530) like iPhone OS 7_0_3 Mac OS X AppleWebKit/537 (KHTML, like Gecko) Mobile Safari/537**
and get the subject error in **p5.js line:18640**

[code]

Is it that we need to do our own device support testing???

[2016-03-02 16:35] JamesJDillon commented on #1275
I know this is 2 days late, but here's the p5.js [reference for blend()](http://p5js.org/reference/#/p5/blend). You'll see that blend() is a P5.Image method, and should be called like `blend(img1, 0, 0, 33, 100, 67, 0, 33, 100, LIGHTEST);` and not `img.blend(pixelStrip, 0, 0, 1, height, 1, 0, 1, height, MULTIPLY);`

[2016-03-02 16:52] karneaud commented on #1282
Applied a fix for it by replacing the above code with
[code]

[2016-03-02 16:57] karneaud commented on #1282
FY

you guys should take a look at this https://github.com/tomgco/gyro.js/blob/master/js/gyro.js implementation of cross browser device event logic...might be useful for future versions

[2016-03-02 18:09] limzykenneth commented on #1282
`e.accelerationIncludingGravity` is typically used by devices with accelerometer but without gyroscope because they cannot compensate for gravity so the error most likely occur because the device you are using does not have a gyroscope and firefox is implemented so that it doesn't register anything with `e.acceleration`. See more [here](https://developer.mozilla.org/en-US/docs/Web/API/DeviceMotion

[2016-03-02 18:30] karneaud commented on #1282
@limzykenneth oh...I see!

[2016-03-02 21:59] lmccart commented on #1280
thanks @JamesJDillon!

[2016-03-02 22:15] cochsen opened #1283 "canvas not visible when stored in pointer"
The example [here](https://github.com/processing/p5.js/wiki/Beyond-the-canvas) generates a canvas with style property visibility: hidden

[code]
Must add
[code]
to setup(). It seems like hidden should not be default.

[2016-03-02 23:02] JamesJDillon commented on #1283
What browser are you using? I'm running Chrome (Version 48.0) and the canvas is visible by default (in both my editor and Chrome). I'm having trouble replicating the issue.

[2016-03-02 23:18] cochsen commented on #1283
I'm using Chrome v49 (64-bit) on Windows 10

Here is the canvas tag  copied from Chrome inspector:
<canvas id="defaultCanvas0" class="lemon" width="600" height="400" style="visibility: hidden; width: 600px; height: 400px; position: absolute; left: 300px; top: 50px;"></canvas>

[2016-03-03 11:19] limzykenneth commented on #1283
The same is happening to me but changing `.class()` to `.addClass()` works. Why is there a `class()` function and why it's behaving like this? I'm not sure, I'll dig around in the source when I can. I'll report back.

[2016-03-03 12:17] JamesJDillon commented on #1283
[.class() method](https://github.com/processing/p5.js/blob/master/src/core/p5.Element.js#L106#L124)

[.addClass() method](https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L978#L989)

It seems .addClass is a lot simpler. It checks if there's already a class name, and if there is then it just appends the param to it. If there isn't, it sets it. This requires p5.dom.js.

.class()

[2016-03-03 12:59] lmccart commented on #1283
weird. i think those width/height lines are a mistake and should be removed! i can't think of any reason they should be in there.

we could also remove the entire .class() method if it still seems to be causing problems, since it is a bit redundant with .addClass() and .removeClass().

[2016-03-03 13:57] limzykenneth commented on #1283
Found the problem~

First of all the width/height thing is doing nothing but it's not the source (we should remove it anyway).

Secondly, if I comment out the `.class()` in sketch.js I get DOM element like so:
![screen shot 2016-03-03 at 13 53 00](https://cloud.githubusercontent.com/assets/7543950/13496314/625ea610-e147-11e5-9dd3-ea02637206c0.png)

Note the empty class. The I changed the source fo

[2016-03-03 21:46] lmccart commented on #1279
thanks for the suggestion. for sake of limiting the API and codebase to a maintainable size, I'd prefer to stick with matching the Processing support on this one for now. https://processing.org/reference/loadTable_.html

[2016-03-03 21:46] #1279 closed

[2016-03-03 21:49] lmccart commented on #1277
i'm sorry i'm not able to reproduce. are you running a server? are there any errors in the console?

[2016-03-03 21:49] #1273 closed

[2016-03-03 21:50] lmccart commented on #1275
thanks @JamesJDillon!

[2016-03-03 22:36] lmccart commented on #1269
thanks @hkirat and @noisefactor. i'd like to look into this one, because there are some slightly complex dependencies with this. i aim to get to it next week.

[2016-03-03 23:09] limzykenneth commented on #1275
Erm...actually there is a `blend()` function under the `p5.Image` object: [reference](http://p5js.org/reference/#/p5.Image), [source](https://github.com/processing/p5.js/blob/master/src/image/p5.Image.js#L540).

I haven't test the code myself but it shouldn't be undefined at least...

[2016-03-03 23:12] karneaud commented on #1277
At the time i was compiling p5j using bower/ node and there were some compiling errors that made it difficult to integrate hence errors with it

[2016-03-03 23:12] #1277 closed

[2016-03-03 23:13] lmccart commented on #1275
erp! i will check it out. thanks. :)

[2016-03-04 03:36] aatishb commented on #1249
hi @limzykenneth, I made progress with implementing rotations more robustly, by adding quaternion & rotation matrix support. You can find my fork [here](https://github.com/aatishb/p5.js).

Some examples:
1. [Box Rotation](https://stc209.com/aatishb/formobile/box_rotation/): rotates two boxes at the same positions using rotationX/Y/Z variables, rotation matrix, and quaternions. Since all 3 methods

[2016-03-04 08:23] limzykenneth commented on #1249
@aatishb I'll check it out today or this weekend. Great job, thanks!

[2016-03-04 22:51] #1257 closed

[2016-03-04 22:53] lmccart commented on #1252
I'm going to close this because I don't think anything is currently inaccessible, but please feel free to open another issue if there is something more specific to be addressed, or if I'm incorrect. :)

[2016-03-04 22:53] #1252 closed

[2016-03-05 06:39] jguess commented on #1177
Still hoping that 3D text will move up the things to do list ! I have a processing project that I would love to port into P5 but the text is the stumbling block. Thanks a lot for your consideration and work !!!

[2016-03-05 09:30] PaliwalSparsh commented on #1275
@lmccart @limzykenneth when writing examples for p5.image similar problem occured to me, this was the reason I didn't write any example for blend() but for every other of p5.Image's method. I guess I should have filed an issue then only.

[2016-03-05 10:41] limzykenneth commented on #1249
The box rotation app works perfectly while the device turn app I still need to do some test on it. In the mean time could @indefinit have a look at this as well, there's some functions added to the 3d matrix transforms so I think it'll be best if you can have a look and make sure there's no major conflict with the work being done on the 3D part.

[2016-03-05 16:28] aatishb commented on #1249
@limzykenneth Sounds good. [Here's] (https://stc209.com/aatishb/formobile/quaternion_device_turned/) a slightly more succinct version of the device turn app. You can change the line (quatAngleBetween >= 90) to change the threshold angle. The basic idea is to compare quaternions (which is just a fancy way to store the 3D orientation of an x,y,z frame) to identify when a turn has occurred, and in wh

[2016-03-05 20:41] toolness opened #1289 "Refrence index page contains wonky info on Bezier curves and more"
It seems like the `<br />`'s in the description for `bezier()` in `src/core/curves.js` is somehow causing some of its documentation to bleed onto the [main reference page](http://p5js.org/reference/):

![2016-03-05_15-32-40](https://cloud.githubusercontent.com/assets/124687/13550263/d6c7c9d6-e2e7-11e5-824e-0848bf5808b4.png)

Removing both the `<br />`'s removes the bug, but it also makes it so the

[2016-03-05 20:46] lmccart commented on #1289
interesting... does `<br>` without the / cause the problem as well?

[2016-03-05 20:49] toolness commented on #1289
Oh! It's due to 83041436015d88da5f654c294b8bbac9c0561fd9 I think.

We're not escaping the descriptions for the tooltips, so the `<br />`'s in the middle of HTML attribute values are making the browser's HTML parser explode.

One way to fix this is to simply HTML-escape the descriptions, but this will make the literal `<br />` show up in the tooltip, which I guess is better than keeping this bug ar

[2016-03-05 20:50] toolness commented on #1289
Yep :frowning:

[2016-03-05 21:01] #1289 closed

[2016-03-05 21:01] lmccart commented on #1289
ah makes sense, ok. thanks for the quick fix.

[2016-03-05 22:16] #346 closed

[2016-03-05 22:17] lmccart commented on #800
for organizational purposes, I'm going to close this one for now... it doesn't seem like there's a lot of immediate energy to move in this direction, and things seem relatively stable with p5.dom, but it may be something we revisit in the future.

[2016-03-05 22:17] #800 closed

[2016-03-05 23:05] lmccart commented on #1263
I think an additional `registerMethod()` makes most sense. This part of the API is still in the early stages and welcome to expansion. Do you want to take a crack at this or should I?

Let's be sure to document this method here: https://github.com/processing/p5.js/wiki/Libraries

[2016-03-06 12:38] rahul2704 opened #1292 "Interface with intel edison"
Hello there. I want to pair the intel edision connected to some sensors and peripherals to a computer running p5.js script in browser via node.js/ websocket.
Any sample code on how to easily acquire values from intel edison board and input directly in p5 script?
Thanks

[2016-03-06 14:51] kadamwhite commented on #1292
@rahul2704 I'm not sure how you would do this directly from the browser, but what  I would recommend would be to use Johnny Five (http://johnny-five.io/platform-support/#intel-edison-arduino) to communicate with the Edison, then stream those values from a small node server to the browser via a Web socket connection. There may be a way to cut out one of those levels of abstraction, devices aren't m

[2016-03-06 15:12] indefinit commented on #1292
Another option would be to look at p5.serial or p5.bots.  You can find out more about these p5 specific libraries here:

http://p5js.org/libraries/

[2016-03-06 15:15] rahul2704 commented on #1292
thanks for the help. I will look into it.

[2016-03-06 16:57] #1292 closed

[2016-03-06 21:40] limzykenneth commented on #1249
@aatishb I had a closer looked through the changes and there are a couple things:

1. Is it possible to have the quaternion functions not exposed and it does the job in the background instead. It might introduce too much complexity for beginners. It would be best if it could mirror Processing at least in terms of the 3D rotations.

2. It seems deviceTurned is set to trigger whenever the quaternion

[2016-03-06 22:51] cochsen opened #1293 "Documentation: How to construct p5.Color"
Hello,

Currently I'm working on a jQuery mobile app for which I want to construct some p5.Color objects outside of setup / draw (so that I can manipulate their properties with UI widgets). I was able to create some variables using
[code]
but got an error in the console:
**p5.js:9277 Uncaught TypeError: Cannot read property '_colorMode' of undefined**

However, the Color object is functional in sp

[2016-03-07 00:35] lmccart commented on #1293
calling p5 functions outside of setup(),draw(), or a function called by one of these methods will cause errors. it is best to declare the variables outside of setup but assign it inside. also, when creating a color, i'd recommend using the color() method.

http://p5js.org/reference/#p5/color

[2016-03-07 00:35] #1293 closed

[2016-03-07 01:50] cochsen commented on #1293
Thanks for the response. I was able to set it up the way you described.

[2016-03-07 01:54] lmccart commented on #1293
great! we are working on adding better error reporting so this should be less confusing in the future.

[2016-03-07 06:16] mactkg commented on #1273
I confirmed. thanks.

[2016-03-07 06:21] mactkg commented on #1273
To avoid same mistakes, we should use some supporting tools such as [semantic-release](https://github.com/semantic-release/semantic-release).
the tool support releasing operation.  If I have a free time, I'll research these goods and make pull-request to use them.

[2016-03-07 12:55] lmccart commented on #1273
that'd be great. ideally the whole release process (or most of it at least) could be automated. right now there are many steps: https://github.com/processing/p5.js/wiki/Release-steps.

[2016-03-07 23:26] mactkg commented on #1273
:eyes:

[2016-03-08 04:38] raphaelschaad commented on #1229
I see the same behavior: `preload()` implemented, `loadImage()` with succ and err callbacks implemented in `setup()`.

The callbacks *both* get triggered on success (err w/o argument) and *none* get triggered (but a "browser error" a la 404 Not Found instead) if I change the path to an image that doesn't exist.

Any update on this? Thanks!

[2016-03-08 04:59] lmccart commented on #1273
sorry, i didn't mean to suggest that you need to figure out the automation of the whole process. just that is a todo that i'm hoping to conquer at some point. :) any progress in terms of just automating a few of the steps would be helpful.

[2016-03-08 05:52] mactkg commented on #1273
yeah, Don't worry! (but I'm interested in automation of releasing process.)

[2016-03-08 08:33] stevewmli opened #1296 "Need suggestion to handle drag and drop on html page that mix up with p5"
Hi all,

I am trying to add p5  to an existing page with drag and drop function.
I noticed that when we drag and drop on the html page, it trigger some error on the getTouchInfo function in p6:

Uncaught TypeError: Cannot read property '0' of undefined
getTouchInfo @ p5.js:19904
66.p5._updateNextTouchCoords @ p5.js:19881
65.p5._onmousemove @ p5.js:19544

Is there a way to control p5 not to trigger

[2016-03-08 13:13] lmccart commented on #1296
hi, could you please post a minimal code example that illustrates the problem? thanks!

[2016-03-08 18:26] aatishb commented on #1249
Hi @limzykenneth, sure, I can work on making those changes.

I do feel like being able to use quaternions or rotation matrices might be a useful addition to p5, particularly for people working with device orientation, but I can see that it might be too much for beginners. If there's interest down the road, I'm happy to work on making these more intuitive and easy to use. cc @lmccart

[2016-03-08 20:22] stevewmli commented on #1296
Hi Imccart,

Could you try this fiddle:
https://jsfiddle.net/steve_wmli/wpuwpgj1/9/

I have setup functions to handle drag and drop. When dragging the "Drag Me" label, you will see the
TypeError message in Developer Tools. Thanks.

Best Regards,
Steve

[2016-03-08 21:30] dereklin commented on #1296
+1  I am having the exact problem @stevewmli  thank you for putting together the fiddle

[2016-03-10 10:33] Geoffree3 opened #1297 "Open previous sketch at startup"
It would be nice if the last sketch you were working on opened up when starting the P5 editor, rather than having to selected it from Open Recent and then have to close the default one.  Working on a project with multiple developers (using GitLab), we have to close and reopen the editor everytime a commit has been made.

[2016-03-10 15:08] limzykenneth commented on #1297
I think it should be possible and would be expected behaviour (for me at least). However, this is the repo for the p5.js library. You can just copy and paste this suggestion over [here](https://github.com/processing/p5.js-editor/issues) at the editors repo.

[2016-03-10 19:03] lmccart commented on #1297
i believe this is already the current behavior. the only time it won't reopen a sketch is if you close it before closing p5, which makes sense to me. if you are noticing this isn't working, could you note your OS and post it at the link @limzykenneth provided? thanks!

[2016-03-10 19:03] #1297 closed

[2016-03-10 19:56] Geoffree3 commented on #1297
Many thanks. As you suspected, I was closing the sketch with the sketch’s close button, which closed the editor!

[2016-03-11 23:49] wirsing opened #1299 "problems with orientation display of images taken with iphone"
Hi!

If I load an image with portrait orientation taken on the IPhone 6s it gets rotated by 90°. When I re-save it in the preview app it works correctly.

[code]

[2016-03-12 22:07] limzykenneth commented on #1283
I have some follow up to this. I was using instance mode to create 2 canvases and somehow if I don't explicitly ask for `visibility` to be `visible`, the first canvas will be hidden by default and it will have a `p5_hidden` class on it.

![screen shot 2016-03-12 at 9 51 09 pm](https://cloud.githubusercontent.com/assets/7543950/13725555/f40a4c0c-e89c-11e5-8c47-d77d953c0c06.png)

Looking at the sour

[2016-03-13 11:00] config2000 opened #1300 "CheckBox - label does not move when check box is re-positoned"
Here, the checkbox is initially located with the label adjacent, but when the check box is re-positioned the label stays in its original place.

var cb;

function setup() {
	cb=createCheckbox('toggle');
	cb.position(50,40);
}

[2016-03-13 11:59] limzykenneth commented on #1300
Confirmed on my side. I think the reason is that the checkbox and its label are created as two seperate element and when moving one, the other will not moved:

[code]

if instead the checkbox is nested in the label, it would work as expected:

[code]

I'll try making this change and see if anything breaks...

[2016-03-14 17:16] wirsing commented on #1299
Can anyone confirm? Apparently just happens when I shoot on the IPhone.

[2016-03-14 17:19] lmccart commented on #1299
hey @wirsing, could you post one of the iphone images that's causing this issue? i'll look into it further. thanks!

[2016-03-14 17:24] wirsing commented on #1299
hey @lmccart, thanks! here you go.. funny enough github displays it in landscape as well. really any IPhone 6s portrait photo does this.

![img_0739](https://cloud.githubusercontent.com/assets/938075/13753066/b4269b8a-e9ce-11e5-970e-8270d40e8049.JPG)

[2016-03-14 17:35] wirsing commented on #1299
just checked the metadata on http://metapicz.com and apparently height and width are swapped, so landscape. but the "orientation" field says "Rotate 90 CW". that might be the problem? if i re-save in preview height and width are correct for landscape and the orientation field says "Horizontal (normal)". it's more an apple thing i guess but if the orientation field could maybe help rotating it corr

[2016-03-14 19:48] #1263 closed

[2016-03-14 20:02] #1296 closed

[2016-03-14 20:24] lmccart commented on #1299
thanks. ah i see. well i guess the todo here would be (1) access the orientation info (http://stackoverflow.com/questions/7584794/accessing-jpeg-exif-rotation-data-in-javascript-on-the-client-side) and (2) rotate the image accordingly if necessary. all of this would occur inside loadImage(). ideally we could do this without adding a lot of code to the library just to handle this one case.

one thi

[2016-03-14 20:45] wirsing commented on #1299
ah right, of course. i updated my comment as well. thanks!

[2016-03-14 20:48] lmccart commented on #1283
I can work on this one. The reason it's getting hidden with the p5_hidden class is to prevent any page popping that may happen between the time a canvas is created and it is sized properly. Setting a class in setup causes an overwriting of the class p5_hidden which causes it to never get unhidden. I think a better approach would be to use a data attribute instead of relying on a classname for this

[2016-03-14 20:56] #1283 closed

[2016-03-15 00:44] limzykenneth opened #1301 "Recommend entry for draw()"
I just remembered/realized that even if `noLoop()` is called in `setup()`, the `draw()` function will still be called once before stopping. The documentation didn't make it clear I think (same as Processing's). Would it be desired to just add a line about this behaviour or is it just me that's finding it a bit unintuitive? :P

[2016-03-15 00:45] limzykenneth commented on #1283
:+1:

[2016-03-15 00:48] lmccart commented on #1301
that'd be great. and yes, this does match processing, i believe.

[2016-03-15 00:58] limzykenneth commented on #1301
Been awhile I encountered this problem in Processing but it's the same behaviour yeah. Just submitted a PR.

[2016-03-15 13:52] kursor opened #1303 "Can't see anything in the TAU example."
Wondering if this is the same for others.
http://p5js.org/reference/#/p5/TAU

[2016-03-15 15:47] balain opened #1304 "Bug in XML parser? Different results on same page using Firefox and Chrome"
I'm trying to read an XML file created by Activiti (scratch.bpmn.xml) - valid XML file - and find different results from Firefox and Chrome on the same page. (Serving the page up via live-server or python -m SimpleHTTPServer both give the same result.)

The P5 XML parser (http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/p5.js) works fine in Firefox (47.0a2 (2016-03-14)) but doesn't work on Vival

[2016-03-15 17:25] lmccart commented on #1301
closed with #1302

[2016-03-15 17:25] #1301 closed

[2016-03-15 17:30] #1303 closed

[2016-03-15 18:01] #1300 closed

[2016-03-15 18:03] lmccart commented on #1264
closed with https://github.com/processing/p5.js/pull/1305 thanks @kaganjd!

[2016-03-15 18:03] #1264 closed

[2016-03-15 18:54] lmccart commented on #1304
looks like the problem is the namespace (the colon). if you add a console.log(x) inside setup() you can see that the xml document is being returned properly, so I think you just need to find the right javascript for accessing the nodes inside. this is beyond the scope of p5, but this may be helpful: http://stackoverflow.com/questions/1083565/parsing-xml-namespaces.

[2016-03-15 18:54] #1304 closed

[2016-03-15 19:46] balain commented on #1304
Perfect! Thanks for the rapid help and pointer -- just what I needed.

[2016-03-16 14:25] toolness commented on #583
Hey, I've just done some work with TypeScript as part of my Processing Fellowship to improve the friendly error system, and wrote a blog post about it here:

http://processing.toolness.org/general/2016/03/16/typescript-to-the-rescue.html

I'm really liking TypeScript so far, and I'm hoping we'll be able to integrate a well-maintained TypeScript definition file into p5 going forward.

[2016-03-16 14:55] lpil commented on #583
Hooray!

[2016-03-16 18:24] config2000 opened #1306 "keyCode values"
A great and simple site to refer to for keyCode values is:

[keycode.info](url)

The site simply shows the value of the key code when you press a key.

Please add this link to the **KeyPressed()** and **keyIsDown()** help pages, or wherever the keyCode is mentioned.
Thanks in advance, Jim

[2016-03-16 20:09] fega commented on #1306
awesome! thanks

[2016-03-16 20:18] limzykenneth commented on #1306
If I'm not wrong the `keyCode` variable is meant to behave a bit differently than the native implementation of JS `keyboardEvent.keyCode` which is used in the site you provided. The p5 implementation uses the variables set out [here](http://p5js.org/reference/#p5/keyCode).

Also, the native JS `keyCode` variable is already [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent

[2016-03-16 20:23] limzykenneth commented on #1306
If you need representation of ASCII characters and their number code, you can look at [charCodeAt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/charCodeAt) or [fromCharCode](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/fromCharCode)

[2016-03-16 22:45] sandsfish commented on #1177
*bump*

The very first thing I did when starting out with p5 this week was spend an evening trying to figure out why I was getting bizarre error messages from inside the text() and textSize() methods. As it turns out, it was because the WEBGL renderer doesn't support them ( aside: not mentioned in the documentation here http://p5js.org/reference/#/p5/text ).

My first project is doing data viz in

[2016-03-17 06:07] jguess commented on #1177
hmm. webgl seems to supports text. http://webglfundamentals.org/webgl/lessons/webgl-text-html.html

[2016-03-17 15:19] indefinit commented on #1177
@jguess in the article you posted, it demonstrates a way to use text via the DOM.  If you're looking for functionality like this in the short term, it's already implemented in p5 via the DOM library.  Here's a good example of how you might create a span element: http://p5js.org/reference/#p5/createSpan

[2016-03-17 16:49] scenaristeur commented on #1177
Got It :
http://smag-smag0.rhcloud.com/DreamCatcher1/
first clic on "Charge demo", then on "Affiche texte"

I made a webgl img from the text, and then put it in the canvas, following
the sphere

2016-03-17 16:19 GMT+01:00 Kevin Siwoff <notifications@github.com>:

--
http://smag0.blogspot.fr

[2016-03-17 17:03] indefinit commented on #1177
Cool!  @scenaristeur do you want to submit a PR?

[2016-03-18 16:40] lmccart commented on #1306
thanks @limzykenneth your are correct about `keyCode`. helpful links all around. :)

[2016-03-18 16:40] #1306 closed

[2016-03-19 11:26] thatcort opened #1307 "BezierVertex Broken in WebGL"
When I run the following code I get the exception "p5.js:16790 Uncaught vertex() must be used once before calling bezierVertex()".

[code]
var myp5 = new p5(s);

[2016-03-19 14:51] indefinit commented on #1307
Thanks for filing.  bezierVertex is not yet implemented in webgl, however it is on our road map.  In the meantime, try the bezier() function, which works like this reference example with the addition of z coords:
http://p5js.org/reference/#/p5/bezier

[2016-03-19 14:51] #1307 closed

[2016-03-19 14:57] indefinit commented on #1214
Hi there.  Closing this Issue for administrative purposes.  Feel free to submit a PR for curveVertex() and bezierVertex().

[2016-03-19 14:57] #1214 closed

[2016-03-19 14:58] indefinit commented on #1209
Closing this Issue because it is fixed in the geometry-refactor branch.  Will be merged into master shortly.

[2016-03-19 14:58] #1209 closed

[2016-03-19 14:59] indefinit commented on #1207
Going to close this issue for now.  Maybe we can revisit down the line when a few of the other big tickets are closed :)  Thanks!

[2016-03-19 14:59] #1207 closed

[2016-03-19 15:10] indefinit commented on #1198
Hi there, I'm going to close this issue for administrative purposes.  Feel free to reopen in the future.  I think the major takeaway is that whenever possible, use the p5.Geometry object as part of retainedMode.  p5.Geometry contains vertices, vertexNormals, and faces which form both 2d and 3d surfaces.

[2016-03-19 15:10] #1198 closed

[2016-03-19 15:13] indefinit commented on #1177
I'm going to close this issue for now for administrative purposes.  I've listed text() in our Development checklist here:  https://github.com/processing/p5.js/wiki/Development---Checklist

Feel free to submit a PR with implementation or reopen at a later time.  Thanks!

[2016-03-19 15:13] #1177 closed

[2016-03-19 15:14] indefinit commented on #1056
Closing this thread since Geometry is indeed refactored in the geometry-refactor branch.  I'm just fixing one issue related to vertexNormals and then it is ready to merge into master.  Thank you for your comments/input!

[2016-03-19 15:14] #1056 closed

[2016-03-19 15:17] indefinit commented on #1093
Closing this for administrative purposes.  I have added stroke() / noFill() implementation as a todo on our Development checklist.  Feel free to reopen this issue in the future.  Thanks!

https://github.com/processing/p5.js/wiki/Development---Checklist

[2016-03-19 15:17] #1093 closed

[2016-03-19 15:19] indefinit commented on #1009
closing this issue since ambientLight is known to be working.  The issue has to do with a future full featured implementation of line() which will come in the next round of updates to webgl.  Feel free to reopen at a later time.  Thanks!

[2016-03-19 15:19] #1009 closed

[2016-03-19 15:19] indefinit commented on #904
closing this issue since it is implemented in #1285 .  :+1:

[2016-03-19 15:19] #904 closed

[2016-03-20 23:48] dpren opened #1309 "Video Canvas example not working"
[DOM Video Canvas Example](http://p5js.org/examples/examples/Dom_Video_Canvas.php)

The video isn't showing for me. (Chrome, Firefox)

[2016-03-21 14:44] matomasiar opened #1310 "p5.sound.js too much recursion error when calling onended listener"
I've got an error when trying to call onended listener while playing a soundFile.

Error: too much recursion
Source File: .../p5.sound.js
Line: 1306

This happens when the end of soundFile is reached.

I'm not skilled enough to find a problem or find a solution.

[2016-03-21 15:24] limzykenneth commented on #1310
@matomasiar Do you have a sample code that this problem is occurring on that we can test? Also there is a dedicated repo for p5-sound, you can just copy and paste this issue over [here](https://github.com/processing/p5.js-sound/issues) to get more specific help on this.

[2016-03-21 16:02] riastroes opened #1311 "loadPixels() on graphics buffer"
the loadPixels() function on a graphics buffer isn't working.

var pg = createGraphics(100, 100);
pg.loadPixels();
result:    pg.pixels.length = 0

[2016-03-21 23:34] toolness opened #1312 "p5 initializes constants on prototype during instantiation"
As noted in https://github.com/processing/p5.js/pull/1256#discussion_r52829838, for some reason the constants in [`src/core/constants.js`](https://github.com/processing/p5.js/blob/f1335ba8e65ea391712ff060ffe5c7ee850ba9b9/src/core/constants.js) are added to `p5.prototype` during instantiation of the first p5 sketch, rather than during the definition of `p5.prototype`.

Among other things, this requ

[2016-03-22 00:29] karneaud opened #1313 "touchEnded fires while still touchDown [bug]"
I'm using the following code

[code]

when my finger is touching `touchStarted` fires but a while after `touchEnded` also fires while finger is still down. this happens on windows phone 8.1 with IE 10

does not happen in iOS

[2016-03-22 00:55] lmccart commented on #1312
This patch should address this issue, but I'm wondering if it would make sense for lines [148-180](https://github.com/processing/p5.js/commit/092a7192992eb626b71e18d50f0eb70fc15009af#diff-dfe07c186488ee794e2200e24b2bd54aR148) to also move outside of the constructor, just to have everything in the same place?

[2016-03-22 06:30] matomasiar commented on #1310
I found the problem. Unfortunately, it looks like it was my fault. In callback function I called soundFile.stop()
Sorry for wasting your time.

[2016-03-22 06:30] #1310 closed

[2016-03-22 08:06] SaintPepsi opened #1314 "text is not a function"
I might not be a pro at coding but i do know that i've used this function yesterday and i think around 14^14 times and nothing changed since yesterday. is it my fault or is this something that's wrong in p5?

full details:

draw	  @	sketch.js:71
p5.redraw	@	p5.js:16412
(anonymous function)	@	p5.js:11813
(anonymous function)	@	p5.js:11714
p5	@	p5.js:11976
_globalInit	@	p5.js:8482

the p5.js editor

[2016-03-22 11:12] SaintPepsi commented on #1314
the p5.js editor gives a different error:

72: Uncaught TypeError: string is not a function

[2016-03-22 11:16] SaintPepsi commented on #1314
This is the code it's in:

`var population = [];
var populationSize = 10;
var initialChrLength = 10;
function coder(idx, dschrl) {
    this.x = 10;
    this.y = idx * 15 + 95; //index
    this.name = "coder" + idx;
    this.fitness = 0;
    this.chromosome = "";
    this.desiredChromosomeLength = dschrl;
    this.chromosomeBuilder = function (){
        var chrbuilt = "";
        var possible = "A

[2016-03-22 12:59] dhowe commented on #1314
can you include the simplest bit of code that demonstrates the problem, and also list the version of p5.js you're using? thanks

[2016-03-22 14:01] toolness commented on #1312
Oh cool, thanks!

Hmm, aren't lines 148-180 defining properties that are actually specific to p5 instances, rather than attached to the prototype like the constants are? For example, `this._loop` (line 157) might be true for one sketch but false for another... While on the other hand `PI` should always have the same value regardless of the sketch?

That said, I could see an argument for attaching

[2016-03-22 14:13] SaintPepsi commented on #1314
This is where the text function is:

[code]

[2016-03-22 15:08] murtuza-shergadwala opened #1315 "createRadio not working"
Hi,
I am trying to use the dom library and create radio buttons. Could someone please give an example of how to use createradio please?

[2016-03-22 15:16] pete-rai opened #1316 "Vertically centering multiline text"
In old processing.js textAlign(CENTER, CENTER) used to vertically center the text on the specified x, y point even when it was multiline (i.e it included "\n"). In p5js, it appears to always vertically center align the first line only. The other lines just follow below. It this the intended new functionality? If it is, then thats a lot of extra jiggling we will all need to do in our own code :(

A

[2016-03-22 15:18] pete-rai commented on #1314
Do you perhaps have a name clash between a variable in global scope and a p5 method? This will generate the very error you see.

[2016-03-22 16:03] tafsiri commented on #1314
I think @pete-rai is correct, a line like `text += possible.charAt(Math.floor(Math.random() * possible.length));` would effectively overwrite the `text` function by converting it to a string (and appending some stuff to it).

[2016-03-22 16:54] SaintPepsi commented on #1314
What @tafsiri says is right. I think I have something like that in my code I didn't realise that would break it.

[2016-03-22 16:57] lmccart commented on #1314
thanks all for your help debugging. maybe there is some warning we could raise if a user tries to overwrite a p5 function? or maybe we just need more documentation making it clear this will break things. cc @toolness

[2016-03-22 16:57] #1314 closed

[2016-03-22 17:36] toolness opened #1317 "Consider defining p5 methods as non-writable properties on window (in global mode)"
I was just looking at #1314, where a user accidentally overrwrote p5's `text` function, and realized that one potential way to prevent this from happening is by defining p5's methods (in global mode) to be **non-writable** properties of the `window` object. Here's an example:

[code]

In the above example, the assignment to `text` will silently fail, and the subsequent calling of `text()` will suc

[2016-03-22 17:43] dhowe commented on #1317
I've seen this problem with students, most commonly when they try to port a sketch from Processing (where this is not a problem) to p5js. So option 2 seems a good solution to me

[2016-03-22 17:52] SaintPepsi commented on #1314
Wow this community is really awesome :o,
I guess what I did is good then in a way? Because finding bugs or problems is really nice
(My first time on github)

[2016-03-22 18:06] toolness commented on #1314
Absolutely!! I really like it when problems like this are reported b/c it makes us brainstorm ways we can help ensure that users of p5 don't get frustrated in the future :grin:

[2016-03-22 19:09] tafsiri commented on #1317
A possible plus of option 1 is that the user _might_ get a useful stack trace to help them find the error? For backwards compat either option might produce a lot of output unless they only trigger once per overwritten function.

[2016-03-22 21:42] limzykenneth commented on #1317
I feel it would be best to not limit what a user can and cannot do so +1 for solution 2 from me as well.

[2016-03-22 21:46] tafsiri commented on #1317
btw i should also add that I'd imagine option 1 could allow the assignment and then throw the error (which can be ignored) for debugging purposes. So its more like a warning but with a stacktrace. So maybe that is option 1.5 (assuming that it is actually possible)

[2016-03-22 21:48] toolness commented on #1317
Cool! Thanks for the feedback everyone.

@tafsiri, I am currently working on making errors more friendly in general, and part of that is going to involve using something like [stacktrace.js](https://www.stacktracejs.com/) to provide more helpful line numbers for users, as per #750--at least on non-minified builds of p5.

If more friendly line numbers were logged, would you be ok with option 2?

[2016-03-23 02:51] tafsiri commented on #1317
@toolness oh definitely, I think option 2 is good too (even without a line number). Was just brainstorming a bit on possible ways to help a user debug it (I even began to wonder if throwing and then immediately catching an error would help with getting a line number for printing out)—so def don't let me block you. But sounds like you are on the same page though!

[2016-03-23 03:02] lmccart commented on #1315
eek this is not well documented, sorry about that. here is an example for now... I'll post more documentation to the reference later this week.
[code]

[2016-03-23 19:01] karneaud commented on #1313
anything on this?

[2016-03-23 21:46] limzykenneth commented on #1313
@karneaud Unfortunately I don't have a Windows phone so I cannot test this. I think it might be some compatibility issues with IE10. If possible can you try switching to IE11 or Edge and see if the problem persists?

[2016-03-23 22:18] karneaud commented on #1313
@limzykenneth how does one "switch" to IE11 or Edge on Windows Phone 8.1 :-/ ?

[2016-03-23 22:21] limzykenneth commented on #1313
@karneaud I'm afraid I'm not familiar with the windows phone ecosystem so I can't help you out there.

[2016-03-23 22:25] karneaud commented on #1313
lol...ok. will try to debug this when I get a change

[2016-03-23 23:20] limzykenneth opened #1319 "Stray wiki entry?"
I was going through the wiki entries and I came across [this](https://github.com/processing/p5.js/wiki/Sphero-Carto) which looks like a mistake...

Remove it?

[2016-03-24 00:16] islemaster opened #1320 "push() and pop() do not properly save and restore text rendering state"
Originally uncovered by molleindustria/p5.play#54

The [`p5.prototype.push()`](https://github.com/processing/p5.js/blob/a385d1ca7a1232b0e4d20066a395706ef88d0e7c/src/core/structure.js#L161) and [`p5.prototype.pop()`](https://github.com/processing/p5.js/blob/a385d1ca7a1232b0e4d20066a395706ef88d0e7c/src/core/structure.js#L229) methods are designed to "allow you to change the style and transformation

[2016-03-24 02:32] lmccart commented on #1319
yep, good call. i just removed it.

[2016-03-24 02:32] #1319 closed

[2016-03-25 04:18] lmccart commented on #1316
Nope, this is not intentional, definitely a bug, thanks! I will check it out.

[2016-03-25 04:20] lmccart commented on #1312
Yes, ah good point. I'll leave as is. I think this one is all set then.

[2016-03-25 04:20] #1312 closed

[2016-03-25 04:21] #1320 closed

[2016-03-26 01:24] rholberton opened #1323 "Embedded example link broken on Page: Embedding p5.js"
On Page: Embedding p5.js
https://github.com/processing/p5.js/wiki/Embedding-p5.js

Broken link:
"And here it is embedded in wordpress using the code below:
http://lauren-mccarthy.com/inmotion/2014/08/test-post-1/“

[2016-03-26 03:06] marcelo-tento opened #1324 "add example and clearer documentation for saveFrames()"
According to the reference the syntax is this: saveFrames(filename,extension,_duration,_fps,callback)

I can not write with the callback option

pliss example  ;-)

[2016-03-26 04:55] swhit194 commented on #369
I was making use of saveCanvas having started working in P5JS - I was thinking that a circle on its own when saved as a PNG would give me the object on its own (with a transparent background)- it didn't.

That's OK as I get that it saves the entire canvas of pixels, but despite showing this canvas in the web browser, and successfully saving it out to a file, on opening this in Preview (on Mac) or

[2016-03-26 11:44] lmccart commented on #369
could you please post a minimal code snippet that illustrates the problem happening?

[2016-03-26 12:15] limzykenneth commented on #1324
@marcelo-tento I might be assuming a lot here so let me know if so :wink:

`saveFrames()` have quite a specific use case which is when you want more granular control over how you save the images. The callback is actually optional (documentation isn't that clear about it, I'll fix it right away). Without the callback the images will be downloaded much like calling `save()`. With the callback provid

[2016-03-26 12:41] FeliciaE opened #1325 "loadXML() results in error"
Hello,
I need to get a value from a web page and use this in my p5.js sketch. I do this by using the loadXML command, but it does not work. What I want to achieve is getting a string with the source code of the web page, so that I can get the value out of this string. I tried to do this with the following code:

<pre lang="javascript">
function setup() {
  createCanvas(200, 200);
  var url = 'http

[2016-03-26 12:59] limzykenneth commented on #1325
As you suspected, the original code failed because of cross-origin policy, I'm not sure if passing it through `crossorigin.me` have any unexpected effects so I'm not sure if that's where things go wrong. If you have control over the server you are using, try enabling CORS for that particular directory and see if you get the same error.

Also technically, HTML is not strictly speaking XML so that m

[2016-03-27 07:45] marcelo-tento commented on #1324
Many thanks for the reply

[2016-03-27 14:55] FeliciaE commented on #1325
I have no clue on how to do that. I gave up on this :/

[2016-03-27 15:01] limzykenneth commented on #1325
@FeliciaE Just a tip, if you are just trying to display the webpage on another webpage, `iframe` will normally suffice. If you want to have deeper access to the DOM in the requested webpage, I've been there trying to do it and despite trying for almost a week it seems impossible. :disappointed:

[2016-03-27 15:29] toolness opened #1327 "p5 instance constructor isn't in reference documentation"
I was trying to figure out how to tell p5 where to display itself on the page when I realized that it's the second argument to the `p5` constructor itself. However, I had to learn this by looking at [`src/core/core.js`](https://github.com/processing/p5.js/blob/master/src/core/core.js)... It doesn't seem like the `p5` instance constructor has an entry in the reference documentation?

I also looked

[2016-03-27 15:44] lmccart commented on #1327
Aha yes, it should definitely be there. I wonder if it makes more sense to include it in the reference or to add it to the wiki page about instance mode? (I guess we don't actually have a page just about instance mode, do we need one? Right now we have [instantiation cases](https://github.com/processing/p5.js/wiki/Instantiation-Cases) and a section in [p5.js overview](https://github.com/processing

[2016-03-27 15:45] lmccart commented on #1324
thanks @limzykenneth! I'm updating the name of this issue to reflect the todo -- updating the saveFrames documentation.

[2016-03-27 16:21] FeliciaE commented on #1325
I need data from the webpage, and visualize it in my p5 sketch.
BUT, I found the problem. It had nothing to do with cross-policy. The problem is that when testing the p5 sketch, you run it at the local host. Apparently, this local host cannot load the webpage you are requesting data from. So when you want to test the sketch, you need to upload it to a webpage which is not local, and then it should

[2016-03-27 18:24] linux-man commented on #1325
I can use loadStrings on a local server. Why loadXML give such problems? After all, loadStrings and parseXML should do the trick (I'm using atom live server).

[2016-03-27 22:15] limzykenneth commented on #1325
@FeliciaE hmm...Even when uploaded the sketch to a server online the sketch did not work on my side. The set of errors are the same, cross origin error in the first case and null object on the second case.

@linux-man I think the problem lies with requesting files from a remote server that did not enable CORS and as shown by the example you've given I don't expect there to be problems if requestin

[2016-03-27 23:19] linux-man commented on #1325
Sorry to disagree. With a
  `xml = loadXML("/data/file.xml");`
I'm stuck with a "TypeError: resp is null".

[2016-03-27 23:25] limzykenneth commented on #1325
@linux-man No need to be sorry :smiley:

Might be a silly suggestion but have you tried `xml = loadXML("./data/file.xml");`?

Something like this works as expected for me:
[code]

[2016-03-28 00:04] linux-man commented on #1325
Now where're getting somewhere!
It seems that loadXML only accept a file with xml extension - other extensions give the previous error.
For now, it seems that I need to use the workaround I posted, unless you consider this to be a bug and correct it.
I'm glad you came to help.

[2016-03-28 00:34] limzykenneth commented on #1325
Under the hood p5 is using [reqwest](https://github.com/ded/reqwest) to handle XML loading, perhaps you can have a look, see if it helps. Glad to help anyway. :smile:

[2016-03-28 14:21] yani1997 opened #1328 "p5.js file won't open"
when I try to open the file p5.js of p5.min.js a window pops up saying "Error: expected identifier Code: 800A03F2 Source: Microsoft JScript compilation error"
I updated Java, tried downloading it on different browsers, restarted my computer... What else should I try?

[2016-03-28 14:48] limzykenneth commented on #1328
Hi @yani1997

Can you give a bit more detail? Specifically how and with what did you "open" the file with and were you trying to open p5.js or p5.min.js?

[2016-03-28 15:57] toolness commented on #1327
Hmmmm good question!  Would it be overly redundant to put it in both the reference and the wiki page?  Seems like it might be more likely for others to find it if it's in both places but I dunno.

[2016-03-28 19:43] #1317 closed

[2016-03-28 19:52] toolness opened #1329 "Use IS_MINIFIED to disable friendly debugger in minified builds"
Currently, the friendly debugger is disabled by overwriting all relevant private p5 methods (basically `_validateParameters` and `_friendlyFileLoadError`) in the footer of the minified build (done via the gruntfile configuration for `uglify`).

However, a disadvantage of this is that the _code_ for the friendly debugger is still present in minified builds--it's just overwritten at run-time to be a

[2016-03-28 19:55] lmccart commented on #1329
Thanks @toolness! I can make this change unless you're already on it.

[2016-03-28 19:56] toolness commented on #1329
Oh cool, thanks! Sure, you're welcome to make the change if you like, I was just filing the issue to make sure it wasn't forgotten about.

[2016-03-29 05:48] swhit194 commented on #369
@lmccart thanks for your reply.  I have it working now in a different sketch.

I think it was caused by a rookie mistake of setting up a background and running the code with saveCanvas that hadn't been started with a createCanvas command.  That would explain why it was just black in mac Preview, and all white and blank in MS Word.  Must get better at this. :)

[2016-03-29 11:57] lmccart commented on #369
great, glad you got it working :)

[2016-03-29 12:57] toolness opened #1331 "Make it possible to pass an Array into random()"
I'm not sure how frequently people want to choose a random item from a list--perhaps it's not uncommon, since it's the third example for [`random()`](http://p5js.org/reference/#/p5/random)--but I thought it might be neat for the function to accept an Array as its first argument, so that the third example could be rewritten like so:

[code]

Previously this might have been confusing to document, bu

[2016-03-29 14:07] limzykenneth commented on #1331
I think it's very useful to have that or else it would be another block of code that I have to write, not sure if putting it under `random()` is best though. See what the others think.

[2016-03-29 14:14] toolness commented on #1331
Yeah, that's true, I'm not sure if putting it under `random()` is best either. An argument against it is that the return value is actually a list item rather than a floating-point number, which would complicate the documentation.

Perhaps `randomChoice()` instead? Naming taken from Python's [`random.choice()`](https://docs.python.org/2/library/random.html#random.choice).

[2016-03-29 14:57] yani1997 commented on #1328
I went to http://p5js.org/download/ and clicked the uncompressed p5js file under "single files." I clicked on the download once it was done, and then the error message popped up. I did this twice on each of my browsers: chrome, explorer, and firefox.

[2016-03-29 14:58] yani1997 commented on #1328
i just tried p5.min.js and it did the same thing

[2016-03-29 15:03] limzykenneth commented on #1328
@yani1997 Right, those you downloaded are actually the source code of p5.js which you will need a text editor in order to open, to demonstrate, try right clicking > open with > notepad / textEdit. You will then see the source of p5.js. However it probably won't be useful at this stage.

What will actually be more useful is the p5.js editor that can be downloaded on the same page. Once downloaded j

[2016-03-29 15:14] yani1997 commented on #1328
thanks!

[2016-03-29 15:14] #1328 closed

[2016-03-29 17:18] islemaster commented on #1331
Personally I'd prefer a separate method as well.  Some other name options:
* `pickRandom` ([used by math.js](http://mathjs.org/docs/reference/functions/pickRandom.html))
* `sample` ([used by lodash](https://lodash.com/docs#sample))

[2016-03-29 20:31] shiffman commented on #1079
This particular fix was reverted due to issue #1274 and the pixels array length does not match the specified `size()` anymore.  You can see how the commit 07d154c641baf1757e464d10218fbd232bdabb1b changes `this.elt.width` back to `this.elt.videoWidth`.  We seem to be in an endless cycle of changing this code back and forth.  How do we best resolve both of these issues?

I am making a video about th

[2016-03-29 23:10] hamoid commented on #1269
Is there a workaround for this we could use until a fix is released?

[2016-03-29 23:14] lmccart commented on #1269
To give some background, the vars mouseX/Y and touchX/Y are not updated at the time of event, but at the start of the draw call. This was implemented to address this issue. https://github.com/processing/p5.js/issues/1176

I'm not sure what the proper solution to deal with this is, I need to look at all the use cases a little more and figure out when the vars should actually be updated. For now, I

[2016-03-29 23:20] shiffman commented on #1079
Here is the video where I filed this issue.

https://youtu.be/6t9m1ePK_-8

[2016-03-29 23:32] hamoid commented on #1269
Thanks! Knowing that, what I did was to set a flag onTouchStarted(), and only read the coordinates inside draw() if that flag is true. That's a simple workaround. It's just for a one-user control panel of an art installation, so I don't have to break any world records on performance :)

[2016-03-30 00:01] lmccart commented on #1079
ahhh thank you for tracking down why this part always seems to be broken! and the video is amazing! i don't think this should be too hard to fix, i think the problem previously was just that we didn't realize there were two conflicting cases we kept switching back and forth between. i'll take a look at this in the next few days.

[2016-03-30 00:02] lmccart commented on #1269
aha great. and thanks for bumping this, it seems to have slipped my todo queue.

[2016-03-30 00:06] lmccart commented on #1331
great idea.
there is actually precedence for functions that take either a single number or an array into random and return various types accordingly. nfs() is one example that comes to mind.

http://p5js.org/reference/#p5/nfs
documented more clearly in proceessing ref:
https://processing.org/reference/nfs_.html

i think since the functionality and naming is intuitive, it makes sense to overload th

[2016-03-30 01:26] noisefactor commented on #1269
I think maybe it doesn't necessarily reintroduce the old problem because I was only having trouble with touch start events on iOS. The behavior on desktop browsers was right.  Maybe the place to fix/address this is in touch start handling?

[2016-03-30 13:42] toolness opened #1332 "Make it possible to pass a character into keyIsDown()?"
I wanted to provide [WASD controls](https://en.wikipedia.org/wiki/Arrow_keys#WASD_keys) in addition to arrow keys for a sketch I was making, and realized that there doesn't seem to be an easy way to detect to see if these alphanumeric keys are pressed, other than logging [`keyCode`](http://p5js.org/reference/#/p5/keyCode) when keys are pressed and using that to figure out what a key you want to us

[2016-03-30 13:43] toolness commented on #1331
Ok, will do! I'll wait until #1330 is merged, since they both deal with the same area of code.

[2016-03-30 13:48] toolness commented on #1332
Oh, I guess what I'm proposing is to make `keyIsDown()` exactly like p5.play's own [`keyDown()`](http://p5play.molleindustria.org/docs/classes/p5.play.html#method-keyDown).

[2016-03-30 18:27] shiffman commented on #1327
In case this is helpful, I recorded a video tutorial about "instance mode" which could be added to the wiki?

https://youtu.be/Su792jEauZg

[2016-03-30 22:26] toolness opened #1333 "Add a wiki page tutorial about positioning the canvas"
Currently, the default canvas created by p5 doesn't have any style applied to it, but @iamjessklein and I aren't sure if this is optimal behavior for beginners. We may be wrong, but it's probably more likely that they'd like their canvas centered on the page?

Of course, we don't want to disrupt the styling of more experienced users, so I wonder if we could do something like the following when p5

[2016-03-30 23:47] lmccart commented on #1333
Heh we went back and forth on this for a while at the beginning. We eventually felt that while there might be preferred formattings, it's hard to say what that might be for one user vs another. For example, some users might prefer default browser padding or margin was set to 0 and canvas placed in top left. It also gets further complicated when you add in the p5.dom library and the question of whe

[2016-03-31 04:37] swirly opened #1334 "p5.Oscillator.freq() does not work in latest version of Chrome"
When using p5.Oscillator.freq to change sound frequency on an oscillator, it crashes the script on Chrome with following error :

p5.sound.js:3533 Uncaught TypeError: Failed to execute 'setValueAtTime' on 'AudioParam': The provided float value is non-finite.

context :
var osc;
function setup() {
osc = new p5.oscillator();
osc.type(sin);
osc.freq(440);
osc.amp(0.5);
osc.start();
}

function draw()

[2016-03-31 11:19] toolness commented on #1333
Oh yeah, that totally makes sense! Thanks for the explanation.

Do you mind if I make a wiki page? Called "Positioning the Canvas" maybe? It could link to the [Intro to HTML and CSS](https://github.com/processing/p5.js/wiki/Intro-to-HTML-and-CSS) wiki page... and link to it from [Getting Started](https://github.com/processing/p5.js/wiki/Getting-Started)? Er wait, that page seems to have the same c

[2016-03-31 11:30] lmccart commented on #1333
A wiki page would be great! Maybe start there and see if it should become a tutorial? It might also make sense to mention the `parent()` function as a way of positioning your canvas on an existing page.
This example might help as well, using the `position()` function: https://github.com/ITPNYU/ICM-2015/blob/master/07_dom/15_position_canvas_resize/sketch.js.

Let's delete the getting started page i

[2016-03-31 11:36] toolness opened #1336 ""static" methods are documented in a confusing way"
Here's an example from [`p5.Vector.fromAngle()`](http://p5js.org/reference/#/p5.Vector/fromAngle):

![static](https://cloud.githubusercontent.com/assets/124687/14174310/98f13712-f711-11e5-8fe1-953553e1e89a.png)

I think this might be confusing for beginners. And even though I know what a static method is, I was actually confused by it at first myself.

I'm not sure what a better approach might be,

[2016-03-31 11:53] toolness opened #1337 "Allow cross-references to other parts of the documentation"
It would be helpful if there were an easy way to cross-reference to other parts of the documentation from within it. For instance, the documentation for [`fill()`](http://p5js.org/reference/#/p5/fill) mentions [`colorMode()`](http://p5js.org/reference/#/p5/colorMode):

![colormode](https://cloud.githubusercontent.com/assets/124687/14174707/2c48ae8a-f714-11e5-9223-37b963da7fee.png)

It would be gre

[2016-03-31 11:59] toolness opened #1338 "p5.Vector.angleBetween() docs are inaccurate"
The documentation for [`p5.Vector.angleBetween`](http://p5js.org/reference/#/p5.Vector/angleBetween) claims that the angle returned is always in radians, but the implementation near the bottom of [`src/math/p5.Vector.js`](https://github.com/processing/p5.js/blob/master/src/math/p5.Vector.js) seems to actually convert the angle to degrees if the sketch has set `angleMode(DEGREES)`.

If this is inde

[2016-03-31 12:00] toolness commented on #1333
Ok cool, I will do that! I'll just change the description of this issue and assign it to myself so I don't forget about it, if that's cool.

[2016-03-31 13:15] shiffman commented on #1333
One thing I'll add to this discussion is we can revisit this question in connection with the development of the p5.js web editor and sharing as there might be a "view" which would involve default canvas positioning.  But I agree this is too much magic behind the scenes and what the browser would do by default should be the default. . with a tutorial / etc on how to do otherwise. A good topic for a

[2016-03-31 13:19] shiffman commented on #1336
I would be happy to completely revisit how these functions are called.  These static methods arrived in the p5.Vector object from being ported over from [PVector](https://processing.org/reference/PVector.html).  I think it's not too late to reinvent how this works in `p5`.  For example:

`p5.Vector.fromAngle(angle)` --> `createVector(angle)`
`p5.Vector.add(v1, v2)` --> `addVector(v1, v2)`

With Pr

[2016-03-31 13:21] shiffman commented on #1337
I like the idea of using markdown.   We could always create a separate tool that runs over the docs and looks for things that could be linked and adds the markdown, but start with a manual approach.

[2016-03-31 13:23] shiffman commented on #1338
Yes, this is a mistake.  The docs just weren't updated after being ported from Processing (where there is no `angleMode()`.

[2016-03-31 13:31] toolness commented on #1338
Ahhh, that's very useful background information to have--didn't realize that some of these docs were ported from Processing. Thanks!

[2016-03-31 13:46] toolness commented on #1336
Hmmm, good question... I would say that one thing I like about keeping the namespace "flat" (i.e. everything a global) is that it makes it easier for me to skim through [p5js.org/reference/](http://p5js.org/reference/) and find the function I'm looking for: as the reference is currently structured, finding `fromAngle` might be difficult because it's "buried" to some extent in the reference page fo

[2016-03-31 14:03] toolness commented on #1336
Oh! There's also a technical consideration here... Because `p5.Vector.fromAngle()` isn't called with an actual p5 instance as its `this` property--instead, `this` is set to `p5.Vector`--there's no way it can access p5 instance properties like the current `angleMode`! Which means that all those static functions *have* to accept and return radians as arguments, I think... At least, one would think t

[2016-03-31 14:18] toolness commented on #1338
Er, wait, based on my realization in https://github.com/processing/p5.js/issues/1336#issuecomment-203954339, I don't think that this method can actually access the current p5 instance to examine its current `angleMode`...

For reference, this is the current implementation of `p5.Vector.angleBetween`:

[code]

I think the way this is written, it's actually made to be callable either as a static *or

[2016-03-31 18:11] sarkarstanmoy opened #1339 "Intellisense for P5.js in Visual Studio Code"
Hi ,

First of all I would like to say that P5 editor is great and easy to use. The only one thing I am missing in P5 editor is intellisense. So, I try to run P5 project using Visual Studio Code. In VS Code for intellisense we need type script file i.e. tsd file for the js file for which we need intellisense. Since I couldn't found any P5 tsd files it is not helping much. Can you please look into

[2016-03-31 22:15] DigitalWheelie opened #1340 "p5.AudioIn not working in Chrome"
Example: http://p5js.org/reference/#/p5.AudioIn

Inspect in Mac Chrome reveals:
"MediaStreamTrack.getSources is deprecated. See https://www.chromestatus.com/feature/4765305641369600 for more details."

[2016-03-31 22:26] DigitalWheelie commented on #1340
Also not working in Firefox:
"navigator.mozGetUserMedia has been replaced by navigator.mediaDevices.getUserMedia"

[2016-04-01 11:37] toolness commented on #1339
Hey @sarkarstanmoy! I'm actually working on this right now and blogged about it here:

http://processing.toolness.org/general/2016/03/16/typescript-to-the-rescue.html

That post links to `d.ts` files for p5 instance and global mode, but please note that because it's a work-in-progress, some API calls are missing entirely, and others may be inaccurate. The blog post has more details on this.

[2016-04-01 12:19] toolness opened #1341 "Make it possible to specify a parent element for canvas in p5 global mode"
I'm preparing to write a tutorial on positioning the p5 canvas (#1333) and realized that one thing which *appears* to not be possible right now is explicitly setting a parent element for the p5 canvas in global mode.

In instance mode, the second argument to the p5 constructor can be an `HTMLElement` that serves as the container for the canvas. Awesome!

However, for global mode, there doesn't see

[2016-04-01 12:25] toolness commented on #1336
Yet another potential disadvantage of static methods: because of the current URL structure of the documentation, if a static method can also be used as an instance method--for example, [`p5.Vector.sub`](http://p5js.org/reference/#/p5.Vector/sub)--we're forced to document *both* versions on the same page, which is rather confusing. This could potentially be fixed by restructuring the documentation,

[2016-04-01 12:30] toolness commented on #1339
Er, that said, if you'd like to start using those Typescript definitions and let me know about any problems you run into with them, that would be *really* helpful. :grin:

[2016-04-01 12:49] indefinit commented on #1336
I personally really like having both static and instanced versions in the p5.Vector object, not the global namespace.  I know we want the library to be as user (and beginner friendly) as possible, but vectors aren't exactly a beginner topic to begin with so simplifying the api with target usage for a beginner might be a little unnecessary.  I like your idea about hyper linking "static" though. Ano

[2016-04-01 13:57] lmccart commented on #1341
Good question, there is one actually. `parent()`: http://p5js.org/reference/#p5.Element/parent

[2016-04-01 13:59] toolness commented on #1341
Oh nice!!! Thanks, this is totally awesome.

[2016-04-01 13:59] #1341 closed

[2016-04-01 14:02] lmccart commented on #1341
all the more reason a tutorial will be *so* helpful... users won't have to search around for all these little bits.

[2016-04-01 14:03] toolness opened #1344 "Increase default timeout for test-reference.html"
I've noticed that we're getting lots of false-positives from Travis with the [following kind of failure](https://travis-ci.org/processing/p5.js/jobs/120073298#L3023-L3024):

[code]

Restarting the Travis job almost always fixes this, so it might be a good idea to just increase the default timeout of this test suite.

[2016-04-01 14:37] debone commented on #1058
I have a maybe related issue with text, fill and push/pop

If there is no fill initially, the push/pop behave strangely to texts

[code]

[2016-04-01 15:15] shiffman commented on #1338
Yes, I agree I think we should make `angleBetween()` only an instance method!

[2016-04-01 17:21] kaganjd commented on #1316
When I try to replicate this, I see both lines affected by the textAlign arguments, but RIGHT and LEFT are reversed. I've attached some screen shots. Is this what you get?
<img width="470" alt="screen shot 2016-04-01 at 1 24 55 pm" src="https://cloud.githubusercontent.com/assets/9204835/14214719/94bd3fe6-f80c-11e5-8bd1-1c6e907075cd.png">
<img width="463" alt="screen shot 2016-04-01 at 1 24 42 pm"

[2016-04-01 17:40] kaganjd commented on #1316
Just kidding- I understand the problem now. Working on it!

[2016-04-01 17:43] lmccart commented on #422
Talking about this some more today, we realized the Lists are probably not necessary. The question remains would it be useful to make (1) a `NumberDict` and a `StringDict`, (2) just a `Dictionary` object, or (3) nothing at all and rely on native JS objects.

Our intuition is that JS objects can be a bit confusing for the beginner and a dictionary object of some kind is very useful for word countin

[2016-04-01 17:47] #1344 closed

[2016-04-01 19:45] shiffman commented on #1336
Good points @indefinit.  With Processing, the static methods were also necessary b/c `PVector` is a stand-alone Java class that can be used on its own with no awareness of a `PApplet` instance.  Does `p5.Vector` only makes sense in the context of p5 itself?  We have `createVector()` for example which requires a p5 instance.

I'm really torn and could go either way.  Perhaps best to stay as is for

[2016-04-01 19:46] toolness commented on #1333
Ok, here's an initial attempt:

https://github.com/processing/p5.js/wiki/Positioning-your-canvas

Thoughts?

One of the funky things about the tutorial is that it uses mixed (valid) HTML5 for its sketches, rather than pure JavaScript like most of the other tutorials do. That could be particularly intimidating for readers who are unfamiliar with HTML and CSS. I did link to the [intro to HTML and CS

[2016-04-01 19:54] shiffman commented on #1333
I fixed one tiny thing at the bottom, you can just pass the id directly to parent i.e.

[code]

A couple things I would suggest changing:

1. Use numbers like `background(255, 0, 200)` instead of `background('pink');`.  I think a lot of beginners won't be used to the HTML String colors.  Now that I say that, I think maybe I just have old old out-of-date Processing thinking and having the String "p

[2016-04-01 20:10] toolness commented on #1333
Cool, thanks for the feedback and fixes!

The reason I had the HTML be fully self-contained was to make it easy to copy-paste into either a text editor like Atom or an online tool like [jsbin](http://jsbin.com/). However, I definitely like the legibility of using two separate blocks, so that's cool.

Heh, good question about the `'pink'` string. When I teach CSS, I begin with the human-readable co

[2016-04-01 21:07] toolness commented on #1333
Ok, I fixed things up a bit.

What do you think of having the p5 script tag point to p5 on the CDN? That is, rather than:

[code]

we have:

[code]

It's a lot more verbose, but I like that it makes it super-easy to copy-paste into any desktop or web-based editor and "just work", as long as the user is online. It's also (hopefully) straightforward for users to replace it with their local copy if t

[2016-04-02 10:35] sarkarstanmoy commented on #1339
Hey @toolness

Thanks for sharing p5 typescript file. I am using Visual Studio Code to run my p5  js files and it seems like intellisense is working fine after incorporating your d.ts file in my VS code solution. I will let you know if found any issues.

Thanks

[2016-04-02 12:10] AnneCHPostma opened #1345 "Window size not correct with createCanvas and WEBGL argument"
When I create a 2D canvas using createCanvas([width], [height]), the window that gets created is properly resizing to the width and size of the canvas.

When I create a WebGL canvas using createCanvas([width], [height], WEBGL), the window size is resizing to the width and height of the WebGL canvas.

To be consistent (and not having me to manually resize) the windows I'd love it if the functionali

[2016-04-02 12:17] AnneCHPostma opened #1346 "createCanvas() not working with variables"
This issue is related to issue #1345.

When I have the following code:

[code]

The canvas is not accepting the arguments and doesn't resize properly. This issue is only happening in p5 itself. When I do this in CodePen it is working fine. So the arguments seem to get accepted, but when the arguments are not actual numbers, the window somehow doesn't get resized properly.

[2016-04-02 14:01] limzykenneth commented on #1334
@swirly p5.js-sound have it's own repo and if you can copy and paste this issue [here](https://github.com/processing/p5.js-sound/issues) the people working on p5 sound can help you better. Cheers.

[2016-04-02 14:04] linux-man opened #1347 "canvas.image not working"
Although image() and PGraphics.image() methods work, canvas.image() doesn't do anything.
That's unexpected, since rect and ellipse works.

[code]

[2016-04-02 14:17] limzykenneth commented on #1340
Firefox is working for me, you need to allow the page to use your microphone, it will popup a dialog about this on the top left when the page loads. The message is just a warning about `navigator.mozGetUserMedia` being deprecated in favour of `navigator.mediaDevices.getUserMedia`. The feature detection is a bit out of date in some places in p5.js.

Chrome is not working not because of the warning

[2016-04-02 14:18] linux-man opened #1348 "Reference to canvas"
Is it possible to create (or use) a default reference to canvas (like the processing "parent.pg")?
It could be useful to create methods that draw to canvas or to a graphic buffer with the same code.

[2016-04-02 16:13] DigitalWheelie commented on #1340
You're right, the P5 demo page does work in Firefox. Cool.

Otherwise I found a similar issue on the P5 Sound page; added my info:
https://github.com/processing/p5.js-sound/issues/105

Thanks @limzykenneth!

[2016-04-02 17:36] tokefrello opened #1349 "p5.Vector.copy() docs has a typo"
[It](http://p5js.org/reference/#/p5.Vector/copy) says

[code]

The "v" in "v.copy()" should be "v1", no?

[2016-04-02 18:03] lmccart commented on #1348
you can store a reference to the canvas in a variable like this:
[code]

does this do what you want?

[2016-04-02 18:18] linux-man commented on #1348
Yes, but a hidden and always available reference would be nice to library development.

[2016-04-02 19:06] lmccart commented on #1348
I agree, it would be helpful, but we also need to balance the ease of use with the size of the API. If it gets too large, the reference becomes kind of overwhelming. I think making it simple enough to get access if you want to, without building into the API is a good compromise in this case.

[2016-04-02 19:06] #1348 closed

[2016-04-02 19:10] lmccart commented on #1346
Thanks! I've reposted this in the repo for the editor, since it seems to be an editor specific issue.
https://github.com/processing/p5.js-editor/issues/229

[2016-04-02 19:10] #1346 closed

[2016-04-02 19:10] lmccart commented on #1339
:)

[2016-04-02 19:10] #1339 closed

[2016-04-02 19:12] lmccart commented on #1345
Thanks, I posted this on the editor repo:
https://github.com/processing/p5.js-editor/issues/230

[2016-04-02 19:12] #1345 closed

[2016-04-02 19:13] #1349 closed

[2016-04-02 19:18] lmccart commented on #1058
Thanks. This has been fixed in the latest version of the library, expect to see it in the next release of the library and the editor. :)

[2016-04-02 19:18] lmccart commented on #1058
Oops didn't mean to close the whole issue, first part still needs a fix.

[2016-04-02 19:19] lmccart commented on #1333
I think linking to the CDN makes sense.

[2016-04-02 19:22] lmccart commented on #1333
I like to use this one, too. It doesn't require any knowledge of CSS / HTML:

[code]

[2016-04-02 19:24] lmccart commented on #1334
thanks! reposted at the p5.js-sound repo:
https://github.com/processing/p5.js-sound/issues/108

[2016-04-02 19:24] #1334 closed

[2016-04-02 19:25] lmccart commented on #1340
Thanks! I'm closing this and linking back to this info from the other issue.

[2016-04-02 19:25] #1340 closed

[2016-04-02 19:40] lmccart opened #1350 "using preload() triggers warning messages"
Here's a sample:

[code]

The code runs fine but the console output reads:
[code]

I'm guessing we just need to account for the preload maneuvering in the recent overwriting warnings we added. cc @toolness.

[2016-04-02 19:46] toolness commented on #1333
Sure thing!!

I like that your solution doesn't require CSS/HTML. An additional benefit is that because it's in JS, the reader will likely find it straightforward to tweak the code to position the canvas however they want.  For example, moving the canvas to the bottom-right of the page instead of the center is straightforward with your JS snippet, but doing it with CSS flexbox requires reading up

[2016-04-02 19:47] toolness commented on #1350
Oh shoot! Sorry about that, will fix ASAP.

[2016-04-02 20:17] toolness commented on #1350
This is interesting, I didn't know anything about this preload maneuvering stuff. Time to learn! :grin:

[2016-04-02 20:43] lmccart commented on #1350
Hehe it's a little complicated.
I guess one solution would be to set a flag at the beginning of preload and turn it off at the end and check inside the warning function that the preload flag isn't set. But there could potentially be a better solution than this one...

[2016-04-02 21:04] #1350 closed

[2016-04-03 22:11] adamforbes opened #1352 ""MediaStreamTrack.getSources is deprecated" error in chrome 49.0.2623.87"
Issue:
When loading p5.sound.js, i receive the error "MediaStreamTrack.getSources is deprecated. See https://www.chromestatus.com/feature/4765305641369600 for more details."

Are there any plans to move this over to MediaDevices.enumerateDevices()?

[2016-04-04 15:52] lmccart commented on #1352
thanks! i've reposted on the p5.js-sound repo here:
https://github.com/processing/p5.js-sound/issues/109

[2016-04-05 02:56] #1352 closed

[2016-04-06 14:10] techbrarian opened #1353 "image.resize() doesn't seem to be working in current version of safari (9)"
I'm working on an image viewer and when I use the resize method the image I draw to the canvas is erased in Safari. I don't see the problem in Chrome or Firefox.

[2016-04-06 14:15] linux-man commented on #1348
I can relate to your words.
After some more exploring I found out that I could achieve my intent using "parent" in my library code.
parent.image draw on main canvas.
I'm looking for any drawback.

[2016-04-06 14:26] techbrarian opened #1354 "loadImage not working in Edge"
A P5.js application I'm building won't work in Edge . . . in tracing out the problem the failure seems to begin at the loadImage method. It never seems to resolve. I'm attempting to load a data uri, but when I tested the problem with a regular image I got the same results.

[2016-04-06 20:09] Craigson commented on #1274
Reopening the issue until #1079 is solved in such a way that no longer causes the problem referenced in this one.

[2016-04-06 21:42] indefinit opened #1355 "DOM library: Uncaught type error input is not a function"
I'm working on a tutorial and came across an issue with the DOM library's text input object.  Not sure if this is just user error, but I can't seem to find the input event listener in the src.  running the example code from the p5 website produces uncaught type error:

[code]

[2016-04-06 21:48] indefinit commented on #1355
FWIW the changed() listener works as expected, so if input() is not a preferred event listener, perhaps changed() is better?

[2016-04-09 02:24] aparms commented on #1354
Is there an error that you get in the console?

[2016-04-10 18:55] cochsen commented on #1347
I didn't debug, but since pg does not belong to your canvas object, this works:

[code]

[2016-04-10 19:46] Dazzid opened #1356 "how to change only one word to bold?"
Hi,
I have a question in p5js. How to change only one word that is included in a whole text displayed as information? using textStyle(BOLD); change the hole document. Do I have to iterate word by word? thanks for the help
David

[2016-04-11 13:28] techbrarian commented on #1354
No errors appeared originally, but some interesting things happened as I continued to experiment with image uri and image size.

1. A relatively small image loaded with no trouble (from a data uri).
2. Eventually, after some tweaking, the much larger image throws an error (SCRIPT5022: IndexSize Error  p5.js(21030,3))
3. The specific line in p5.js being referenced is the 21030 line that draws an im

[2016-04-11 16:48] techbrarian commented on #1354
Okay; I got this sorted out. Turns out I had traced the problem incompletely . . . the issue was in the draw function. I was resizing an image and one of my parameters was going in as a float instead of an integer. Chrome and FF sorted it out, but Edge, IE and Safari, not so much. After I added Math.round() everything was copacetic.

[2016-04-11 16:48] #1354 closed

[2016-04-11 16:49] techbrarian commented on #1353
Okay; I got this sorted out. The issue was in the draw method on an image resize. I was resizing an image and one of my parameters was going in as a float instead of an integer. Chrome and FF sorted it out, but Edge, IE and Safari, not so much. After I added Math.round() everything was copacetic.

[2016-04-11 16:49] #1353 closed

[2016-04-11 17:36] awaywiththespoons opened #1357 "broken links"
Some of the links in this wiki are broken :(
FYI :)

[2016-04-11 17:36] awaywiththespoons commented on #1357
this page....

https://github.com/processing/p5.js/wiki/Embedding-p5.js

[2016-04-11 18:54] lmccart commented on #1353
ooh interesting. for ease of use, wonder if we should be default call Math.round() behind the scenes?

[2016-04-12 01:29] #1337 closed

[2016-04-12 01:33] lmccart commented on #1356
There's not really any way to do just one word, you'd need to make three different text calls, switching up the textStyle() for each. This is a limitation of the underlying HTML5Canvas API. You can manually guess and check the positions, or use textWidth() to figure out the position of the word and advance that much for the next x position of the following word.

[2016-04-12 01:43] lmccart commented on #1357
thanks! will work on this tomorrow. closing this issue as it is a duplicate of https://github.com/processing/p5.js/issues/1323

[2016-04-12 01:43] #1357 closed

[2016-04-12 13:52] lmccart commented on #1355
hm, i am having a hard time reproducing the error. i'm testing with p5.dom.js version v0.2.9 in the browser and p5 editor. can you give more details about OS and browser you're using?

[2016-04-12 14:05] #1324 closed

[2016-04-12 14:18] #1315 closed

[2016-04-12 14:23] #1356 closed

[2016-04-12 14:25] lmccart commented on #1079
@Craigson are you still on this one, or @shiffman mentioned you were shifting over to processing work for a while? I can take this one over if you are busy right now, just let me know.

[2016-04-12 14:37] #1058 closed

[2016-04-12 15:18] lmccart commented on #1229
here is an example i'm testing with:
[code]
in this example, i am seeing this output
[code]

so I think the problem here is that you are trying to load an image from an external url which doesn't work due to the security restrictions of the browser when drawing into the canvas. an alternative would be to use `createImg()`, hide the DOM element created, and draw that element onto the canvas.
[code]

[2016-04-12 15:18] #1229 closed

[2016-04-12 15:18] SetupandDraw opened #1358 "p5js sound whileLoadingCallback"
Hi there,

I am working on a small project in P5js including video and sound and I was wondering how I can create a simple preloading showing loaded percentage of the video/audio files.

I saw there are very few info in the P5js.org reference about this topic.
Es. for the sound library:

`new p5.SoundFile(path,[successCallback],[errorCallback],[whileLoadingCallback])`

`[whileLoadingCallback]` //

[2016-04-12 15:23] lmccart commented on #1323
thanks! updated here: https://github.com/processing/p5.js/wiki/Embedding-p5.js, noting @toolness's latest p5.js-widget option as well.

[2016-04-12 15:23] #1323 closed

[2016-04-12 15:25] lmccart commented on #1358
hi, i've reposted this on the p5.js-sound repo so the people working on this area specifically can hopefully provide help. https://github.com/processing/p5.js-sound/issues/115

[2016-04-12 15:25] #1358 closed

[2016-04-13 01:37] raphaelschaad commented on #1229
In your example above it seems p5js calls the error function even on success – is that expected behavior?

[2016-04-13 01:50] lmccart commented on #1229
oh interesting, you're right. no, it shouldn't do that. i will investigate.

[2016-04-13 12:04] indefinit commented on #1355
I tried it on Mac/Chrome 50.0.2661.66 beta (64-bit).  I'll try to replicate on other browsers.

[2016-04-13 12:27] indefinit commented on #1355
Ah, ok I was able to isolate the problem.  It seems I get the error only when I'm using Thimble (been testing this editor with my class).  If using the p5.js Desktop editor or vim/sublime with localhost, I'm not able to replicate.  I just tried the same code in instance mode in case the issue was coming from global namespace pollution, but I get the same error.  Since Thimble isn't an official p5

[2016-04-13 15:17] lmccart commented on #1355
aha interesting! thanks for tracking this down. i'll test it in thimble and see if i can figure out the problem, and if i can't ill give up and close this issue for now, per your suggestion. :)

[2016-04-13 20:56] toolness opened #1359 "Allow p5 to be used in global mode without defining setup/draw functions"
When I was helping with Taeyoon's [first Signing Coders workshop](http://taeyoonchoi.com/signing-coders-1/) I noticed that a lot of people got hung up on the concept of functions at the very beginning. They also had a hard time making sure that their code was actually *inside* a function (i.e. before the final closing bracket).

This made me wonder if it would be possible for p5 to *always* export

[2016-04-13 21:39] lmccart commented on #1359
hi @toolness, good question, you can view previous discussion here:
https://github.com/processing/p5.js/issues/158

we eventually concluded that we would require setup and draw in plain p5.js sketches but might support in the editor. (in the editor, it would basically wrap all global code inside a setup function before running). i think it'd make total sense for the p5.j-widget to do this. this is

[2016-04-13 21:52] toolness commented on #1359
Awesome, sounds good--thanks @lmccart! Will close this issue now.

[2016-04-13 21:52] #1359 closed

[2016-04-13 23:38] toolness commented on #1359
@lmccart - I just added the functionality to the widget, you can see it in action here:

https://toolness.github.io/p5.js-widget/#implicit-setup

One thing it doesn't currently detect for is if the user defines setup/draw by assigning to variables (e.g. `var setup = function() {}`), rather than standard function declarations. Have you seen many people do this kind of thing? If so, I can add suppor

[2016-04-14 10:27] toolness commented on #1359
Ehh, nevermind about that, the [fix](https://github.com/toolness/p5.js-widget/commit/a46d4192b2cc6727a6a2f73f327ddde734d985a2) was easy so it's no longer a concern. :bowtie:

[2016-04-15 02:24] juanarbol opened #1360 "Troubles gettin' a instrument frequency."
I don't know how 'FFT' works, but, when you're trying to do a tuner, it does not recognize all the frequencies.

Here's my way to get the frequencies of the microphone, it works, but no for all.

var spectrum = fft.analyze();

  //we search the most big wave
  var freq_central = spectrum.indexOf(Math.max.apply(Math, spectrum));
  //we most convert the bin to a freq in Hz
  var freq = (freq_central

[2016-04-15 19:37] indefinit opened #1361 "loadTable "header" argument potentially confusing"
Possible suggestions for tweaking loadTable() function for ease of use:

Working on a lecture using loadTable() I came across the optional third function argument type string: "header".  I feel like it would be clearer to pass in a boolean value rather than a string, since the function just evaluates whether the argument equals "header" anyway, and it's less user-error prone than typing out a stri

[2016-04-15 19:55] raphaelschaad opened #1362 "Two contours inside a shape create a stray connection"
One contour inside a shape:
![screen shot 2016-04-15 at 15 54 08](https://cloud.githubusercontent.com/assets/439447/14573322/5291cbf2-0322-11e6-9be9-15e30a8ac686.png)

Two contours inside a shape, creating a seemingly stray connection:
![screen shot 2016-04-15 at 15 53 24](https://cloud.githubusercontent.com/assets/439447/14573308/43eec046-0322-11e6-9d54-b46f073b07b5.png)

https://p5js.org/referen

[2016-04-15 20:58] indefinit opened #1363 "table.getColumn(colName) returns empty array"
Can't seem to find where the bug is on this, but getColumn with a string as argument returns an empty array, while table.getColumn(colNumber) with a number argument works as expected.

Code/data to repro: https://gist.github.com/indefinit/48a01b53f9b929a8da4ecb459716e656

testing on Mac/Chrome, p5.js v0.4.23

[2016-04-16 16:57] jvolker opened #1364 "No warning for calls with incorrect number of parameters"
No warning or errors appears if a function was called with an incorrect number of parameters.

e.g. `ellipse(mouseX,mouseY,10);` which requires 4 parameters, doesn't show anything, but obviously doesn't run either.

[2016-04-16 18:38] limzykenneth commented on #1360
@juanarbol I'm afraid I don't quite understand your question, specifically what do you mean by "do a tuner"? Anyway, p5.sound have its own repo and people contributing to it, you might get better help if you copy and paste this issue over [here](https://github.com/processing/p5.js-sound/issues).

Cheers.

[2016-04-16 18:56] limzykenneth commented on #1309
I fixed it by adding `fingers.loadPixels()` to the beginning of `draw()`, to be honest I don't know why that works. I think something probably needs changing in the source, I'm not sure.

[2016-04-17 02:11] juanarbol commented on #1360
This is a [tuner](https://youtu.be/TxZMe9DQohw?t=30s), it's use for 'tuning' all the instruments, I wanna do one but web, without java.

[2016-04-17 10:23] limzykenneth commented on #1360
Ah I see. I'm not sure if FFT and tuner uses anything fundamentally different to determine the pitch but that's my suspicion. What FFT does is basically analysing (or deconstructing) a given wave into many simpler waves. [This video](https://www.youtube.com/watch?v=u1Lz8pm2npQ) might help you understand it better.

[2016-04-17 18:45] joecridge commented on #1360
Hi @juanarbol. I think that the problems you are seeing are more likely to be due to the way that you are processing the frequency spectrum than with the FFT itself. For example, it is possible that some very low frequencies in the sample that you are using have a greater FFT amplitude than the fundamental frequency, and so finding the maximum amplitude will not necessarily give you the fundamenta

[2016-04-17 21:30] juanarbol commented on #1360
[Here](https://youtu.be/2IQvCOcHsGo) I explain my problem. Sorry for the spoken english, I'm from Colombia (I don't have good skills)

[2016-04-18 01:15] shiffman commented on #1361
One note I would make about this idea is that beginners are often very confused by boolean arguments when looking at examples.  Although it makes a lot more sense in many ways to implement `loadTable()` as you propose, this can be a lot easier for a beginner to know what is going on. . .

[code]

vs.

[code]

That said I'm not opposed to this change and would love to hear what others think.

I'll

[2016-04-18 01:45] cymeknate opened #1366 "text highlighting"
Is it possible for there to be a background-color: function for text in p5?
Please let me know if there is a work around already, and just not me searching extensively enough.

[2016-04-18 02:10] Craigson commented on #1079
Hi Lauren,

Sorry this mail slipped by me.. I haven't found a solution yet that solves
both issues, everything I've tried causes the other to break. I plan to
help Dan out with some stuff, but I've had to delay it to try make up
ground on thesis.  I was going to try and get back to it this week, but if
it's time sensitive I'm happy to let it go.

On Tue, Apr 12, 2016 at 10:26 AM, Lauren McCarthy <

[2016-04-18 09:55] SaintPepsi opened #1367 "Cannot read property of 'elt' of undefined"
Hello,
I was working on this cool scenery thing where clouds pass by, but when I add this piece of code:

[code]

It gave the error:

Uncaught TypeError: Cannot read property 'elt' of undefined    p5.js:20418

[2016-04-18 16:27] joecridge commented on #1360
It is difficult to diagnose the problem without viewing the frequency spectrum that the FFT is producing.

From your video it seems that you can tell which frequencies work with the tuner (e.g. E4) and which don’t (e.g. F2), so could you take a screenshot of the spectrum that you see with each of those two notes and post them here?

It would be especially helpful if you could also mark the actual

[2016-04-18 19:07] lmccart commented on #1367
hm it's a little hard to debug the problem with this snippet. the code here looks good, but maybe there is something inside the spawnCloud() function that is causing a problem. I would suggest you post this on the forum for general debuggin help:
https://forum.processing.org/two/categories/p5-js-programming-questions

if you are able to narrow it down to a specific bug in the library please feel f

[2016-04-18 19:07] #1367 closed

[2016-04-18 20:18] joecridge commented on #1360
@juanarbol I have taken two samples from your video – one of the [E4 at 0:45](https://www.youtube.com/watch?v=2IQvCOcHsGo&feature=youtu.be#t=0m45.5s) (which works with your tuner), and one of the [F2 at 1:45](https://www.youtube.com/watch?v=2IQvCOcHsGo&feature=youtu.be#t=1m44.75s) (which doesn’t work).

This is what the frequency spectrum of the E4 looks like:

<img width="1218" alt="e4" src="http

[2016-04-19 16:01] toolness opened #1368 "Make the fourth argument of ellipse() optional?"
I accidentally called `ellipse(50, 50, 10)`, thinking it would just draw a circle, and it did nothing... I think there are two options:

1. Have the friendly error system raise/log an error telling the user to supply a fourth argument.
2. Simply default the fourth argument to the value of the third argument if it's undefined.

I kinda like option (2) because it echoes the way that `color()` works,

[2016-04-19 20:02] lmccart commented on #1079
Ok, I think I've fixed this. The fix was to update `createCapture()` to make sure that `this.elt.width` and `this.elt.height` is properly set when the stream is loaded. This allows us to use the correct code inside `loadPixels()`:

[code]

Both this issue and #1274 should work properly now.

[2016-04-19 20:02] #1079 closed

[2016-04-19 20:02] #1274 closed

[2016-04-20 03:17] shiffman commented on #1079
Hooray!  I promised to make a follow-up video about this so will do so and test!

[2016-04-21 01:33] lmccart commented on #1366
hi @cymeknate, the best way to do this would be to use the `textWidth()` function to determine the width of the text and use the `rect()` function to draw text behind it.
[code]

[2016-04-21 01:33] #1366 closed

[2016-04-21 01:36] lmccart commented on #1364
good suggestion. this is one of the annoying things about the JavaScript language itself, it doesn't throw any error when you don't have the right number of arguments so things can fail silently, making things very hard to debug!

luckily @iamjessklein and @toolness are thinking about ways to add functionality to the p5.js library to add warnings and errors that make things friendlier for beginner

[2016-04-21 01:36] #1364 closed

[2016-04-21 16:44] cymeknate commented on #1366
Hello Lauren,

Thank you so much for getting back to this, I really appreciate it, and all
the work you are doing in general!

I use p5.js frequently for my projects, and its an amazing tool!

Have an amazing day,

Nate
n8c.work

On Wed, Apr 20, 2016 at 6:33 PM, Lauren McCarthy <notifications@github.com>
wrote:

[2016-04-22 09:16] limzykenneth commented on #1368
Personally I prefer option 1 because I'm more likely to missed out an argument in `ellipse()` by accident and the error system throw me an error about invalid number of arguments, that's just me. 😉

[2016-04-22 17:07] lmccart commented on #1316
fixed with https://github.com/processing/p5.js/pull/1369

[2016-04-22 17:07] #1316 closed

[2016-04-23 04:32] Acksop opened #1371 "I Have head some of beautyful things about processing, But ..."
I'm disapointed,
the actual P5.js -- processing does have time functions, like a setInterval or something else,
CreateCanvas() does have a CSS and placement function like I think it must have...

I don't know how to compile a librairy like processing if I modify or fork the repository...
How sould I do that ?
Have you a link to teach me about this ?

Cheers
Acksop

![capture du 2016-04-23 06 31 23

[2016-04-23 12:17] limzykenneth commented on #1371
I'm not sure I understand your question. p5.js is a library written in javascript and javascript is a interpreted language, which means that it does not need to be compiled, just include it in the html and it will run. If you are asking more about how to build the library from source, have a look at the guide [here](https://github.com/processing/p5.js/wiki/Development#setup).

[2016-04-23 14:00] kusha-b-k opened #1373 "p5.js library enhancement for removeElement(element)"
In p5.js  core library removeElements() will remove all the DOM elements, in some cases we want to remove a single DOM element so its very complex to do that , for these reason please include the  **removeElement( element ) ** method or function to the  p5.js core library..

_for example _

function setup() {
  createCanvas(100, 100);
  createDiv('this is some text');
  createP('this is a paragrap

[2016-04-23 14:31] kadamwhite commented on #1371
@acksop, qu'est-ce que vous voulez faire avec p5.js? Nous ne comprenons pas votre question. p5.js fait la même chose que le Processing traditionnelle, tout en JavaScript et en natif dans une page Web. (Desolée pour mon français, il y a longtemps depuis qua je l'ai utilisé)

[2016-04-23 15:09] lmccart commented on #1373
one way you could do this with the exisiting library is like this:
[code]
does this address your issue?

[2016-04-23 15:18] Acksop commented on #1371
thanks limzykenneth ! I haven't know that before, I will make some research on the web about Grunt next Week, to read a little bit more about ...

@kadamwhite: Il se trouve que j'ai programmé pendant mes études en ActionScript et je me désole de ne pas voir de réelles librairies qui controllent les temps terrestre en Javascript, quand j'ai connu processing ( puis p5.js) et après avoir vu quelques

[2016-04-23 21:23] tchoi8 opened #1375 "date/time/hour example"
Hi there

I'm making a tutorial inspired by On Kawara's Date paintings.
![image](https://cloud.githubusercontent.com/assets/683107/14764057/da79a3cc-0977-11e6-939b-b7f937909cc7.png)

I'm using a clock/ calendar http://p5js.org/reference/#/p5/hour and http://p5js.org/reference/#/p5/day  and other time inputs.

When I try
var day = day();
I get an error. "Uncaught TypeError: undefined is not a funct

[2016-04-23 21:31] lmccart commented on #1375
Ah yes, the problem is that when you declare a variable with the same name as a p5 function, it overwrites the function, and p5 no longer knows what to do when you call it. That's why `var d = day()` works, because in this case no overwriting is happening. This is the way that JavaScript works, it doesn't throw any warning, which can be confusing. Actually, @toolness has been working on adding fun

[2016-04-23 21:36] tchoi8 commented on #1375
Cool. How about editing the time and date input references like http://p5js.org/reference/#/p5/day to var d= day ()?

[2016-04-23 21:38] lmccart commented on #1375
ooh yeah terrible typo! will fix, thank you.

[2016-04-23 21:40] #1375 closed

[2016-04-24 22:06] indefinit commented on #1368
I'm a fan of option 2.  I don't just see this as a fix for error-leaning code, but rather a shorthand for those wanting to draw circles or squares and not have to type extra numbers.

[2016-04-25 07:19] swirly opened #1376 "[documentation] push and pop functions"
Something is not really clear for me in documentation.
For an exemple of translation, I wrote a really simple script :
[code]
I thought that if I suppress push and pop it would result in a mess, with multiple translations stacking.
But no. The more simple function
[code]
is working in the same way ...

It's as if the draw() fonction reinitiates the drawing state for coordinates. I'm a missing some

[2016-04-25 11:43] swirly opened #1377 "shearX() and shearY() does not work with angleMode(DEGREES)"
problem:
In documentation, the exemple with shearX is
[code]
if you replace with
[code]
it does not work.

It seems that shearX is bugged with something else than RADIANS.

[2016-04-25 13:13] indefinit commented on #1275
just wanted to bump this issue up if possible.  It seems blend should be a method of p5.Image, however the problem is that the src references this._renderer which reassigns the scope globally.  Also, I wonder if arguments 2-9 should be optional since it's a lot of parameters to write when all you want to do is quickly blend two images together.

[2016-04-25 13:44] lmccart commented on #1333
The page is looking great, thanks @toolness! Should I go ahead and link to it from the reference? I am thinking of adding links from the createCanvas() and .parent() entries, are there other places it should go?

[2016-04-25 14:06] #1275 closed

[2016-04-25 14:16] limzykenneth commented on #1377
when `angleMode` is set to degrees, the angle passed to `shearX/Y()` is passed through the radians conversion multiple times (once in `shear()`, once in `renderer.shear()` and again in `tan()`) the result is almost zero if not zero.

@lmccart Two solutions, either have a check if conversion is already done or make sure in the code base that conversion will only be done once. the second solution se

[2016-04-25 16:30] ducklin5 opened #1378 "Offline Documentation"
I'm sorry to have to bring up another one of these but the others I have seen just haven't answered the question, just keeps making me jump around GitHub. Is there an offline documentation (like an offline version of the site). I would just like the reference though not the whole site, as that seems to be pretty large.

[2016-04-25 17:46] swirly commented on #1377
Ok. Thank you for your investigation. So the bug is confirmed.

[2016-04-25 19:07] joecridge commented on #1378
Since this has come up again (and because a lot of p5.js users are OS X users to), what would be really awesome is if we could arrange for the p5.js docs to be included with [Dash](https://kapeli.com/dash).

I don’t know how much effort would be involved in making that happen, but I think it would be indispensable!

[2016-04-25 21:18] #1377 closed

[2016-04-25 21:18] lmccart commented on #1377
thanks for looking into this @limzykenneth, should be fixed now.

[2016-04-25 21:19] #1373 closed

[2016-04-25 21:26] lmccart commented on #1363
I think you just need to specify that there's a header in the loadTable() call, when I do this, the printouts look ok:
[code]

[2016-04-25 21:30] lmccart commented on #1368
I can see arguments for both. I am thinking of a case where someone accidentally leaves out one argument and sees a default circle drawn rather than an error alerting them they are missing an argument. Would this cause more confusion? Is this case likely at all, or are the potential confusions here outweighed by the convenience of only have to type one number instead of two for squares and circles

[2016-04-25 21:33] sarahgp commented on #1368
I'm very interested in option 2, too.

Imo, the circle drawing as a circle instead of an ellipse is enough of an "error" that it is ok not to throw in the case that users pass one arg when they should be passing two. And given that people tend to draw circles far more often than squashed ellipses, it seems like optimizing for that case is better.

[2016-04-25 21:36] benjaminleonard commented on #1368
I'm a fan of option 2 also. 9 times out of 10 that I use `ellipse()` I'm drawing a circle anyways.

[2016-04-25 21:58] #1362 closed

[2016-04-25 22:03] limzykenneth commented on #1368
The scenario lined out by @lmccart is exactly what I had in mind. Let's say we have code as follows:

[code]

If it did not threw an error and I missed it completely, I may be led to believe that `x=y`. On more complicated sketch it might even take some more time for someone to recognise that error. Personally I feel it is better to be more explicit than implicit.

[2016-04-25 22:07] lmccart commented on #1368
or even more confusing
[code]

[2016-04-25 22:38] cochsen commented on #1376
Whatever you do between push() and pop() is not applied to the rest of the draw loop. Your first sketch is doing everything in the push() / pop() block of the draw loop, there's nothing outside of it to save.

In this example  a translation and style change is applied in push() / pop() and the ellipse reflects those state changes. After popping off those changes another ellipse is drawn showing th

[2016-04-26 05:59] Acksop commented on #1371
@kadamwhite Je me demande si l'intégration a p5.js d'un déclencheur du genre AtTime(t){ ...poceder à quelquechose... }, pourrais être utile ?

@limzykenneth: May I ask if integrate a Event like AtTime( t ) { ..process something... } can be useful ?

What do you think about it ?

[2016-04-26 07:12] robalvsan opened #1379 "save is not a function (sound)"
I'm just trying to reproduce the sound save example explained here: http://p5js.org/reference/#/p5.SoundRecorder

Everything goes well until reach the 'save' code line where the debugger shows the error: Uncaught TypeError: save is not a function. As I've read in the documentation this function should be implemented in the p5 Class.

I've included these libraries: p5.min.js, p5.dom.js and p5.sound

[2016-04-26 09:23] swirly commented on #1376
That's not the point

the point is that the draw loop restore the transformation to initial state and that is not clear in translation

If you do
[code]
you should expect your square to advance because the translation should be cumulative

That's not the case.

The draw loop restore the coordinates system, as if there was a 'push/pop' around the draw loop.

That's not clear in documentation

[2016-04-26 11:16] #1379 closed

[2016-04-26 11:16] robalvsan commented on #1379
I needed to include the following sentence: new p5();

[2016-04-26 12:12] limzykenneth commented on #1371
@Acksop I think to achieve that you can simply use the `frameCount` variable and a `if` conditional in `draw()` for the same effect.

[code]

[2016-04-26 12:27] toolness commented on #1333
Thanks! Sure, I think it'd be great if you could link to it from those entries in the reference... I can't think of any other places it should be linked from.

[2016-04-26 12:41] indefinit commented on #1368
@limzykenneth and @lmccart you make a good point, however I wonder if it's better to create a scenario where a user can make a mistake but see a shape drawn, versus make a mistake and see a red error.  No matter how friendly we make these error messages, an error that prevents code from running can break the flow of creativity, whereas an error that draws something unexpected has the potential for

[2016-04-26 13:11] indefinit commented on #1194
hey @karenpeng just wanted to follow up with you on this issue.  Do you have a status update?  One option instead of including a fully-formed camera api in p5 is to build this as a p5 library a la [PeasyCam](http://mrfeinberg.com/peasycam/) and the library would hook into the MVMatrix and PMatrix default uniforms respectively.

[2016-04-26 13:31] lmccart commented on #1371
it's also entirely possible to use a setTimeout() call with p5:

[code]

[2016-04-26 13:40] lmccart commented on #1368
hmm I hear that. with that point in mind, I'm fine with this. @shiffman curious if you have any thoughts here as well?

[2016-04-26 13:47] lmccart commented on #1376
thanks @swirly. yes, this is the correct behavior, but it should be better documented. I will update this.

[2016-04-27 16:00] autonome opened #1380 "image loading causes massive cpu/memory load"
Loading images causes excessive cpu and memory consumption in both Chrome and Firefox.

In Chrome, loading images instantly causes both the UI process and the web content process to start chewing 15% - 20% CPU each. Closing the tab causes it to stop. Same behavior in Firefox, but drastically worse, ranging from 50% to 100+% of CPU (tested with and without e10s enabled - same results).

Even a sing

[2016-04-27 16:03] autonome commented on #1380
Sorry, forgot some key information:

* Hardware: MacBook (Retina, 12-inch, Early 2015)
* OS: Mac OS X El Capitan 10.11.4 (15E65)
* Browsers tested: Chrome Canary, Firefox Nightly, Firefox Developer Edition

[2016-04-27 17:25] noisefactor opened #1381 "noSmooth() not working"
I've been trying to figure out how to achieve pixelated drawing without success.  When I analyze the noSmooth() reference demo for Chrome, Safari, and Epic, there's no difference between the two ellipses.  I'm guessing that the support for aliased lines in modern browsers is non-existent, but I'm just curious if someone can shed some light on this.  Has anyone representing p5js petitioned develope

[2016-04-27 17:58] brmscheiner opened #1382 "Torus documentation text is styled weird"
The text "150. It may crash the browser." has the wrong font, size, and location.

[2016-04-27 21:42] pithonsmear opened #1383 "beginShape() doesn't render more than three vertices in WEBGL"
Hey

I was having some trouble with custom shapes in WEBGL. I looked around and found [this][1].
The fix seemed to have been merged with master, so I downloaded the newest package, but the problem seems to still exist:

The following code:
[code]

Produces the following image:
![Four vertices producing a triangle][img]

Which should be a square, but is a triangle, so it seems like the fourth verte

[2016-04-28 12:58] linux-man opened #1384 "0.4.24 breaks graphics.get(x, y)"
Code:
[code]
text output:
0.4.23: rgba(150,150,150,1)
0.4.24: rgba(NaN,NaN,NaN,1)

graphics.get(x, y, w, h) works.

[2016-04-28 15:51] jeremysykes opened #1385 "save() method splits strings into arrays"
I'm trying to save a string to text using the save() method.

eg. save('My super fun string', 'soundTranscript.txt');

but it gets saved in the text file like so:

M
y

s
u
p
e
r

etc.

[2016-04-28 16:19] noisefactor commented on #1381
According to comment #22 here (http://stackoverflow.com/questions/195262/can-i-turn-off-antialiasing-on-an-html-canvas-element), there's a boolean flag in Firefox (that could be added to the noSmooth function)...

contextXYZ.mozImageSmoothingEnabled = false;

[2016-04-28 16:20] limzykenneth opened #1386 "Incorrect file path in data.json"
In data.json, the file path for 3D primitives are incorrectly listed as `src/3d/3d_primitives.js` [here](https://github.com/processing/p5.js-website/blob/master/reference/data.json#L4) where it should have been `src/3d/primitives.js`. It's causing all the links on the references to the source file for 3D primitives to show up as 404.
![screen shot 2016-04-28 at 5 18 51 pm](https://cloud.githubuser

[2016-04-28 16:26] limzykenneth commented on #1386
I see it's fixed in latest reference build. Closing. 😉

[2016-04-28 16:26] #1386 closed

[2016-04-28 16:27] limzykenneth commented on #1382
It should be fixed in the source now, just need to wait for the website to be updated.

[2016-04-28 16:31] limzykenneth commented on #1381
I believe that is correct. `smooth()` and `noSmooth()` under the hood is basically calling `imageSmoothingEnabled = true/false` with various vendor prefixes and it seems to work only on image scaling (not line drawing which ellipse is), have a look at the example at the bottom on [MDN's documentation](https://developer.mozilla.org/en/docs/Web/API/CanvasRenderingContext2D/imageSmoothingEnabled).

W

[2016-04-28 16:36] limzykenneth commented on #1385
Because the first argument of `save()` when saving text is expecting an array, if you pass in string literal like `'My super fun string'`, it basically reads it as an array of individual character, hence the behaviour. For now, `save(['My super fun string'], 'soundTranscript.txt');` should work as expected.

We might need a little bit of rethink here in terms of saving text files.

[2016-04-28 16:44] noisefactor commented on #1381
Before changing the example, it might be helpful to submit a feature request to whomever handles these kinds of issues at Mozilla/Webkit citing the noSmooth() documentation as an example of why this type of boolean control for graphics smoothing (not image smoothing) would be practical for developers.

[2016-04-28 16:45] limzykenneth commented on #1383
From what I found the fix is merged into master right after the version bump so for this fix to appear in the p5.js library you might need to wait till the next release (0.4.25). Or if you are up for it you can build the library from source following instructions [here](https://github.com/processing/p5.js/wiki/Development#setup).

[2016-04-28 17:01] lmccart commented on #1383
thanks for looking in this @limzykenneth, a new version will be posted by may 1 with this fix included.

[2016-04-28 17:01] #1383 closed

[2016-04-28 17:06] lmccart commented on #1382
thanks, updated!

[2016-04-28 17:06] #1382 closed

[2016-04-28 17:13] limzykenneth commented on #1380
I've optimised the example a bit (just so that we can look at the performance of the image load and not drawing too many image onto the canvas over and over again):

[code]

I'm not really able to reproduce the CPU and memory consumption you are experiencing with similar setup, although to be fair I'm running on a rather powerful iMac. Chrome, Safari and Firefox on average took about 15% of CPU an

[2016-04-28 17:41] lmccart commented on #1380
thanks for creating this simplified example @limzykenneth. I took a really quick look through the code and nothing jumped out at me as a big leak, but let me know if you find anything suspicious.

[2016-04-28 17:42] lmccart commented on #1311
fixed with db5418d54d3c13844bdba1fe679cd80594355ad0

[2016-04-28 17:42] #1311 closed

[2016-04-28 17:46] #1376 closed

[2016-04-28 18:13] autonome commented on #1380
Thanks @limzykenneth! Yes, the optimized example of only drawing the images
once at setup() does not exhibit the performance issues I found when
drawing repeatedly.

However, I want to do interesting things with the images :) Don't I need to
redraw them in order to animate them? Or are you saying there's another way
of doing that without using the image APIs I've used in the example?

On Thu, Apr

[2016-04-28 18:29] limzykenneth commented on #1380
@autonome Well it depends on what you need. If you just need to draw the same image multiple times with modifications etc. in between, just load the image in once and use the same variable you saved it to to draw it. If you need to load in several different images, one animation trick that might prove useful is the idea of a sprite sheet, have a look at the [reference](http://p5js.org/reference/#p

[2016-04-28 18:33] lmccart commented on #1380
I'm guessing this was just an example to show the load caused by loading and drawing 5 or more images. I think we should make sure it's possible to load 5+ images and draw them on each draw loop without overloading the CPU. The fact that the load comes from drawing rather than loading seems to be a clue, I will investigate further..

[2016-04-28 19:17] riastroes commented on #1311
Great! Thanks a lot!
Ria

Op donderdag 28 april 2016 heeft Lauren McCarthy <notifications@github.com>
het volgende geschreven:

--

Met vriendelijke groet,

Ria Stroes

De Hege Bouwen 37
8566 JB Nijemirdum

website: www.riastroes.nl
@:         riastroes@gmail.com <rstroes@compano.com>
Tel:        0514 785172

[2016-04-29 07:21] pithonsmear commented on #1383
Wonderful, thanks for the info.

[2016-04-29 14:42] jeremysykes commented on #1385
That works for me, after playing around with my code for a bit I was able to fix the problem I was having. Wrapping a string in an array is easy enough :)

[2016-04-30 20:06] Acksop commented on #1371
thanks for your replies !
I think i will use the solution of limzykenneth, for this effect and also for an another, I sould control a repeated Jpegs cycle.
@imccart thanks for you reply, it can be usefull for my next experimentation, if I want to add some effect atTime !

[2016-05-02 13:18] lmccart commented on #1385
great!

[2016-05-02 13:18] #1385 closed

[2016-05-02 13:19] #1371 closed

[2016-05-02 18:19] shiffman commented on #1368
Ooops, I missed this thread until now.   I like the idea of an optional fourth argument for `ellipse()`.  I think the worry about it leading to extra confusion is also a concern.   The precedent for this is `fill()` which can take 1, 2, 3, or 4 arguments (not to mention HSB vs. RGB) and does, in fact, lead to confusion. . . and ultimately comes down to documentation and examples.

I think the main

[2016-05-02 20:14] indefinit opened #1388 "filter commands tax performance on video. Optimization possibilities?"
I've noticed that frame rate plunges when using filter() commands on canvas video.  For example:

[code]

One likely solution for performance issues is to implement this in a webgl shader, however, I'm curious whether there are other options for optimizing performance in the 2d canvas api as well.  Any thoughts?

[2016-05-04 14:07] shiffman commented on #1388
I think this is just the reality of pixel based operations being slow (and exponentially more slow the larger the image).   In some sense it's a teaching / documentation issue?    I like the idea of having `filter()` use a shader if `WEBGL` is enabled?

One reason the above is extra slow is that `filter()` is being called on the entire canvas.  Does it work to do something like:

[code]

[2016-05-04 20:43] cpirich commented on #1058
This fix appears to have a bug, because the call to `this.resetMatrix.bind(this);` doesn't actually call `resetMatrix`, but simply binds `resetMatrix` without storing the return value or calling the function.

[2016-05-04 20:45] emilyxxie opened #1389 "Minor feature request - redraw()"
I often find myself writing:
[code]
....for _n_ times I'd like to see something be redrawn, either for debugging purposes, or as part of the final sketch. Not sure if anyone else has adopted this habit, but if it's a popular enough pattern, I think it'd be great to be able to optionally pass in a positive integer argument into redraw() and only redraw for that given number of times----provided tha

[2016-05-04 21:40] islemaster opened #1390 "0.4.24 fails to reset the matrix at the end of draw"
In #1058 a change is proposed to _only_ reset the transform matrix after each draw (not style properties) to be more like the behavior of processing.  That issue was closed by https://github.com/processing/p5.js/commit/c96f4d5c06cc87bad440cc0e3d3dc52719677b1d - unfortunately that commit binds `resetMatrix` instead of invoking it like it probably intended, resulting in odd behaviors like this one:

[2016-05-04 21:48] islemaster commented on #1390
Fixing this bug should be fairly easy - simply invoke `resetMatrix`.  Testing it properly may be more difficult, since [reading the canvas context current transform is not well supported](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/currentTransform).  It looks like other libraries implement their own matrix and call [`setTransform`](https://developer.mozilla.org/en-US

[2016-05-04 22:28] indefinit commented on #1388
@shiffman interesting!  space.filter(BLUR) returns the error that filter is not a function.

Re: webgl shader manipulation of video, I definitely want to make this happen this summer.

[2016-05-06 16:48] futuremarc commented on #1378
That's a great idea to publish to Dash! I'll make this happen since I was trying to build an offline mode anyway

[2016-05-07 04:05] dhowe commented on #1378
Is this preferable to generating a set of docs on build to be included with downloads ?

[2016-05-07 07:13] ducklin5 commented on #1378
I ended up using the original processing docs on zeal

[2016-05-07 12:53] LujunWeng opened #1392 "Hope there will be a place for typescript definition file of p5js"
I hope there will be a place for typescript definition files of p5js, so others can contribute to these definition files.

I've made a Definition Request [here](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9245).

@toolness has made a [tool](http://processing.toolness.org/general/2016/03/16/typescript-to-the-rescue.html) to generate definition files automatically. I think we can start

[2016-05-07 16:13] toolness commented on #1392
Thanks for the comment!

I'd actually like to add my tool itself to the p5.js repository and have those definitions continue to be auto-generated if possible, as it keeps things [DRY](https://en.wikipedia.org/wiki/Don't_repeat_yourself) while also serving as a way to test our own documentation.

There will definitely be some functions, like [`save()`](http://p5js.org/reference/#/p5/save), whose me

[2016-05-07 23:02] whoisbma opened #1393 "blended pixels with pixelDensity below 1.0"
I'm experimenting with pixelDensity values below 1 in order to get a lower resolution render context that is still scaled to an arbitrary canvas size. It results in blended pixel values regardless of noSmooth() being set.

Is it possible to get clean "pixels" with a pixelDensity value below 1? (or a better workaround?)

[2016-05-08 03:39] LujunWeng commented on #1392
Right now, I'm using the generated definition files. It works well for autocomplete in my IDE. Once there is any mismatch the IDE shows, I turn to the definition files and make modifications manually.

Like yesterday, I added `constructor(sketch: (p:any)=>void, node?: HTMLElement|boolean, sync?: boolean);` to the `p5` class so that `new p5(sketch)` would not cause an error any more.

[2016-05-08 04:58] skilfullycurled opened #1394 "Description for matchRow() and matchRows() is the same"
Hi,

On the reference page for [Table](http://p5js.org/reference/#/p5.Table), the description of  matchRow() and matchRows() is the same.  If you go to the specific page for [matchRow()](http://p5js.org/reference/#/p5.Table/matchRow) and [matchRows()](http://p5js.org/reference/#/p5.Table/matchRows), the descriptions are the same, though the parameters and return values are correct respectively.

T

[2016-05-08 15:53] raphaelschaad opened #1395 "doc for show() should use style() not attribute()"
wrong: div.attribute("display", "none");
right:  div.style("display", "none");

http://p5js.org/reference/#/p5.Element/show

[2016-05-09 12:03] futuremarc commented on #1378
@dhowe  ultimately both

[2016-05-09 15:46] ldlathrop opened #1398 "Linking to CDN"
I realize this is probably a stupid question, but the data journalism site I'm planning to use for my visualizations requires that p5.js links to an external site. As I don't currently have a website of my own, I'm planning to use CodePen. In your documentation for embedding p5 files, you say "You will need to link to the CDN to include p5.js libraries." But clicking on the `CDN` link takes me to

[2016-05-09 15:58] lmccart commented on #1398
hi @ldlathrop this file setup section on the getting started page shows how to include a link to the CDN, does this help?
http://p5js.org/get-started/#file-setup

[2016-05-10 07:06] ckxian opened #1399 "loadImage() function not overriding old images"
I'm taking a snapshot of the canvas using save() and then reloading it back onto the canvas on the same sketch using loadImage(). When the canvas is saved, it is saved in my p5 folder as a specified name (For example, "image1.jpg". When my sketch first starts running, everything works fine. It saves as image1.jpg and it loads the correct image. The second time around (same sketch, the code calls s

[2016-05-10 10:15] Kadrian opened #1400 "Possible to restrict mousePressed to canvas in instance mode?"
Hi, I'm trying to trigger mouse actions only when happening on the canvas.

Due to my setup with React / Redux, I'm using instance mode like this, where the mousePressed function is not triggered now.

Any ideas?

[code]

[2016-05-10 10:55] lmccart commented on #1399
hi @ckxian could you please post a small code snippet that illustrates the problem you describe?

[2016-05-10 10:59] lmccart commented on #1400
hi @Kadrian here is a simplified example demonstrating how to use instance mode with mousePressed attached to canvas:
[code]

for further debugging help, try posting in the forum:
https://forum.processing.org/two/categories/p5-js-programming-questions

[2016-05-10 10:59] #1400 closed

[2016-05-10 13:30] Kadrian commented on #1400
Thanks, the problem was on my side: I had another element with position absoluted placed in front.
It seems though that mouseDragged may not be attached to only the canvas, can it?

[2016-05-10 15:17] ldlathrop commented on #1398
Hi @lmccart. Thanks so much! I did read that page early in the process, but failed to make the connection when I read about embedding p5 files. Much appreciated!

[2016-05-10 15:17] #1398 closed

[2016-05-10 20:00] fernandovmac opened #1402 "Applying textures on beginShape()...."
Hello P5js,

thanks for the awesome work 👯

I'm facing an issue when trying to apply a texture on a custom made shape (beginShape(); curveVertex(); endShape();).
I managed, by following the references, to apply textures on primitives but for some reason it doesn't work when trying to apply for the shape - the shape doesn't display at all and I get console errors. I read on forums that this hasn't

[2016-05-10 20:14] ckxian commented on #1399
function setup() {
  var canvas = createCanvas(windowWidth,windowHeight);
  capture = createCapture(VIDEO);
}

function draw(){
  takePictures();
 //after takePictures() finishes taking 2 pictures, it'll switch to displayPictures();
  displayPictures();
}

function takePictures(){
  save('0myCanvas.jpg');
  save('1myCanvas.jpg');
 //just takes two screenshots every 10 seconds
}

function displayPi

[2016-05-10 23:14] atduskgreg commented on #802
FWIW, I'm hitting this issue right now. And the example workaround posted on the forum isn't working for me when I try to adapt it to instance mode.

[2016-05-10 23:51] indefinit commented on #1402
Hi @fernandovmac,

texture() is a function that's only available in WEBGL mode, which is why you're running into errors in canvas 2d mode.  In order to enable webgl mode, you just add WEBGL as a third parameter to createCanvas:
[code]

And then texture() should work with beginShape() endShape().  That said, we haven't implemented curveVertex() in webgl yet, so in order to acheive the effect your l

[2016-05-10 23:53] no-carrier opened #1403 "createGraphics and loadPixels"
Hi all,
Not sure if this is a bug, but its not documented and functions very differently than Processing, which is confusing. If you use createGraphics() to draw an off-screen buffer (called buffer below), then use buffer.loadPixels(), the pixels() array gets updated with those pixels, not buffer.pixels() like in Processing. The example below demonstrates this. If this is the intended function --

[2016-05-11 05:18] dhowe commented on #802
This is a hack to be sure, but I might argue for including it in the library (assuming it works in instance mode). In the teaching context, it is very distracting to have to discuss cross-domain security models for students who simply want to show an image in their sketch.

[2016-05-11 05:51] fernandovmac commented on #1402
Hello @indefinit ,

Thanks a lot for the quick reply.

Just for the record, I did enable WEBGL previously - and changed back, for I didn't achieve the desired results. But now I know that the console errors (that were many and counting) were referring to the curveVertex() points that don't haven't been implemented in WEBGL.
I'll work out with the bezier().

Closing this issue, cheers!

[2016-05-11 05:51] #1402 closed

[2016-05-11 07:35] ducklin5 opened #1404 "muting a filter in p5.sound"
In the my sketch.js file I have to filter a sound coming from the microphone before displaying it with FFT, but I realized, using a filter creates a sound of its own, which then creates a horrid echo. Is it possible to mute this filter, without muting the whole browser?

[2016-05-11 12:46] indefinit opened #1405 "vertex function moveTo parameter, necessary?"
I'm working on some updates to vertex functions and I noticed in canvas mode, vertex has a third parameter ```moveTo```
https://github.com/processing/p5.js/blob/16f2d3f06f9261c6da9d6aaf29ee7cc728f17a70/src/core/vertex.js#L597

As far as I can tell, moveTo is never actually used within the context of vertex, in which case I plan on cleaning up a bit and removing the param.  Before I do this, howeve

[2016-05-11 14:32] lmccart commented on #1404
hi @ducklin5, the forum is a good place to post general how-to questions:
https://forum.processing.org/two/categories/p5-js-programming-questions

if this is a feature request, there is actually a dedicated p5.js-sound repository that you can post to:
https://github.com/processing/p5.js-sound

[2016-05-11 14:32] #1404 closed

[2016-05-11 14:51] #1390 closed

[2016-05-11 14:52] aksperiod commented on #1353
Ah, this thread just saved my life.

[2016-05-11 15:34] #1384 closed

[2016-05-11 15:36] #1395 closed

[2016-05-11 15:36] lmccart commented on #1395
good catch, thanks!

[2016-05-11 15:45] #1394 closed

[2016-05-11 15:45] lmccart commented on #1394
thanks!

[2016-05-11 15:59] lmccart commented on #1405
yep looks like this is just vestigial, feel free to remove.

[2016-05-11 16:19] indefinit commented on #1405
ha great word for this :)  Ok will do.

[2016-05-11 16:19] #1405 closed

[2016-05-11 17:33] lmccart commented on #1399
I think the problem here is that the images have not finished loading before you are trying to display them. If you add a callback function into the loadImage() call as the second parameter, you will see everything show up correctly:

[code]

For further debugging help, it's best to post on the forum:
https://forum.processing.org/two/categories/p5-js-programming-questions

[2016-05-11 17:33] #1399 closed

[2016-05-11 17:34] rbostan opened #1407 "Set image as background throws an error"
Hi,

When i tried to set image as background, an error occured:
`p5.js:21213 Uncaught TypeError: this._renderer.image is not a function`

Code :
[code]

[2016-05-11 17:37] lmccart commented on #1407
Loading an image as a background is not currently supported in WEBGL mode, if you try this in 2D it should work.

[2016-05-11 17:37] #1407 closed

[2016-05-11 17:38] lmccart commented on #1309
should be fixed now with the latest lib version

[2016-05-11 17:38] #1309 closed

[2016-05-11 17:49] lmccart commented on #1393
Hm, I might suggest just keeping pixelDensity at 1, but then manually scaling up your canvas with css?
For example, to make a 200x200 canvas at half resolution:

[code]

and in the HTML
[code]

[2016-05-11 17:52] whoisbma commented on #1393
it makes a lot more sense to do that. thank you!

[2016-05-11 18:43] #1325 closed

[2016-05-11 18:46] lmccart commented on #1368
I think the consensus is that this is at least worth a try, we can always revert if we find it adds confusion. I'l make the change.

[2016-05-11 18:52] #1368 closed

[2016-05-11 18:54] lmccart commented on #1360
thanks @joecridge!

[2016-05-11 18:54] #1360 closed

[2016-05-11 18:59] lmccart commented on #1355
oddly, I'm still not able to reproduce in thimble. here's a test, does this work for you? maybe it was fixed recently?
https://thimbleprojects.org/lmccart/66589/

[2016-05-12 03:14] ckxian opened #1408 "Saving a snapshot of the canvas and then reloading it"
Is there a way to save a snapshot of the screen without the browser downloading it? When run locally, the save() function saves the snapshot in the p5 folder. The snapshot then successfully loads and displays onto the canvas. But when I put it on a browser, it saves the image on the browser. Making it not load-able.

Maybe there's a way I can save the snapshot without actually saving a .jpg file?

[2016-05-12 04:13] mikewesthad opened #1409 "p5.Font.textBounds getting clipped"
I was working with p5.Font.textBounds earlier and discovered a bug(?) where the bounds are clipped by forcing the calculated minX and minY to be at least 0 (relevant [lines](https://github.com/processing/p5.js/blob/master/src/typography/p5.Font.js#L128-L131) of code in p5.Font.js).

Here's a codepen [demo](http://codepen.io/mikewesthad/pen/NNJEGr?editors=0010) where I'm running `font.textBounds(..

[2016-05-12 09:54] dhowe opened #1410 "Incorrect vertical alignment of multi-line text"
It appears that multiline text is not following vertical alignment rules.

Image: pink is Processing, bottom is p5js, test code [here](https://github.com/processing/p5.js/blob/master/test/manual-test-examples/p5.Font/custom/sketch.js#L277)...

![screen shot 2016-05-13 at 4 03 52 am](https://cloud.githubusercontent.com/assets/737638/15228784/76ba8222-18c0-11e6-9a49-23212230b1d5.png)

[2016-05-12 15:59] ldlathrop opened #1411 "add info for establishing a server in OS X El Capitan to wiki page"
Hello! So the wiki for setting up an OS X server only instructs for Snow Leopard, not El Capitan. El Capitan no longer has the web sharing function in System Preferences. Instead, one has to buy OS X Server and set it up that way. I've done that and set file sharing with my project folder on the server, but I'm still getting the following message in the Chrome Developer Console when I run my index

[2016-05-12 16:36] Craigson commented on #1411
Hi,

Creating a local server using Python, using the "python -m SimpleHTTPServer", will solve the Cross origin request issue.  There shouldn't be any performance loss if you're loading a small .CSV file.

[2016-05-12 17:47] Craigson commented on #1408
You could try drawing to an offscreen buffer.. something like this ( note I'm omitting some of the necessary standard p5 stuff, and there are cleaner ways to do it, but I hope it helps explain the logic) ...

<pre>
var buffer;

function setup()
{
buffer = createGraphics(600,600);
}

//method for writing to the offscreen buffer
function writeBuffer()
{
    //draw whatever you want to draw, for eg.

[2016-05-12 17:56] kadamwhite commented on #1411
I believe that El Capitan also ships with PHP, so e.g. `php -S localhost:3000` ought to work as well. Haven't tested w/ cross-origin issues tho

[2016-05-12 18:00] Craigson commented on #1403
As far as I understand it, loadPixels only works with the default default display window (I think there are plans to change this so that it applies to multiple buffers, @lmccart ? ) so using loadPixels won't have any effect on your buffer object's pixel array.

As an aside, writing to the buffer would require you do to something like this:
<pre> buffer.background(64,255,128); </pre>

[2016-05-12 18:30] no-carrier commented on #1403
Got it. As I said, I was using it the way I've used it Processing, but now I know it that it doesn't apply to multiple buffers. Thanks!

[2016-05-12 19:53] lmccart commented on #1409
fixed with https://github.com/processing/p5.js/commit/1fabe53db20e0a7d654c15983d64f8fecb1819d2

[2016-05-12 20:19] dhowe commented on #1409
Problem/side-effect?
This is what I see:

![image](https://cloud.githubusercontent.com/assets/737638/15229078/f11baa7c-18c1-11e6-8def-781d74d6bef0.png)

[2016-05-12 20:59] limzykenneth commented on #1411
@ldlathrop All versions of Macs ship with Apache webserver and the wiki might not be worded well but if you look under [Mac OS X](https://github.com/processing/p5.js/wiki/Local-server#mac-os-x) you will see in step 1 there is instruction for you to type

[code]

which will start the apache server and serve file from `/Library/WebServer/Documents` ("Library" here is at the root ie. your harddisk, n

[2016-05-12 23:39] islemaster commented on #1390
@lmccart This bug is not fixed by https://github.com/processing/p5.js/commit/2d3257b05f17ca43cf33a59a5c522e547dbbc644.  The original repro (updated to point at 0.5.0) still demonstrates the incorrect behavior: https://jsbin.com/ziqowateni/1/edit?html,output . Can we re-open this?

[2016-05-13 02:00] k808a opened #1412 "model() not displaying .obj files"
Been trying to re-create the use of model() and loadModel() from the P5.js examples page (  [https://p5js.org/reference/#/p5/model](url) ) without success.

All I get is the gray canvas, without the spinning teapot. Results are the same with the P5 editor app and on my Apache server. (The editor app doesn't display any errors when I run the code, BTW.)

The code I'm using (straight copy-paste from

[2016-05-13 05:00] indefinit commented on #1412
Do you have a link to teapot.obj by any chance?  If you aren't seeing errors, then the only thing off the top of my head is that maybe the model scale is very small?  Also, which 3D program did you use to generate teapot.obj?

[2016-05-13 05:02] indefinit commented on #1412
Sorry, just read again and saw you said the teapot was found on the web.  If you have a Dropbox or other link to the file I can take a look

[2016-05-13 08:42] k808a commented on #1412
Here's a direct link: [http://www.subdude-site.com/WebPages_Local/RefInfo/Computer/Linux/LinuxGuidesByBlaze/apps3Dtools/3D_viewers-converters/3Dtestfiles/obj/teapot.obj]
I found it on this page, which was created in 2011: [http://www.subdude-site.com/WebPages_Local/RefInfo/Computer/Linux/LinuxGuidesByBlaze/apps3Dtools/3D_viewers-converters/3Dtestfiles/3D_testfiles_withTOC.htm](url)
I tried three o

[2016-05-13 11:15] lmccart commented on #1412
here's the one from the reference examples:
http://p5js.org/reference/assets/teapot.obj

[2016-05-13 11:16] lmccart commented on #1412
I also had some problems finding an OBJ to load when I originally posted the updates, and had to try a few I found online before I got one to work. I chalked this up to my utter lack of knowledge about 3D models, but maybe it would be helpful to post some guidelines in the ref or link to some?

[2016-05-13 11:18] lmccart commented on #1390
sorry, I haven't posted a new build with this fix in it yet (it's not in 0.5.0, but will be in 0.5.1), right now it's just in the source code. will do this as soon as I can.

[2016-05-13 12:09] k808a commented on #1412
Thanks for the link, that teapot loads just fine! Next is to try to figure out why the other ones wouldn't work. I heard somewhere the .obj format is intended to be human-readable, but it sure doesn't make for light reading. :)  Hoping to get to a point where I can tell a Maya artist to just export work in .obj and I can display it on the web, with interactive viewing controls. (Obviously there wi

[2016-05-13 12:20] indefinit commented on #1412
Ok awesome! Will do some digging.

[2016-05-13 13:18] k808a commented on #1412
Possibly useful for resolving this: I found a Florida State University site ( [http://people.sc.fsu.edu/~jburkardt/data/obj/obj.html](url) ) that also hosts the working teapot file, and it has some other ones that work, too. The default scales seem to be radically different of the ones that do work: trumpet.obj, one of the largest files, shows up quite well, but sandal.obj is quite tiny. Not sure

[2016-05-13 13:57] indefinit commented on #1412
I ran your code and the offending obj file and it looks like the problem is indeed scaling.  If you add a line before model(teapot) like:
[code]

You should see the teapot now. Please let me know if for some reason you aren't.

Regarding the widely differing models, perhaps we can add a note somewhere in the documentation to look out for model scale.  It seemed like the model scale of your teapot

[2016-05-13 13:58] indefinit commented on #1412
+ @mindofmatthew so you can weigh in here as well.

[2016-05-13 14:10] lmccart commented on #1412
aha yeah I think a note about scale would go a long way. when the first few I tried didn't show up I didn't know where to start -- if it was a problem with the model file, the p5 code, the scale, etc. we might also want to provide a direct link to the reference OBJ on that page, so if people wanted to try that example code before modifying it to use their own models, they could at least get that r

[2016-05-13 14:22] mindofmatthew commented on #1412
What about an optional second parameter to loadModel that allows you to load a model scaled to a specified size? This would be pretty easy to implement, and it would provide a really easy way for people to ensure that the models they import are all normalized.

[2016-05-13 14:50] islemaster commented on #1390
Ah, I'm sorry. I misread this commit list, I thought it was included
commits. https://github.com/processing/p5.js/compare/0.5.0...master

On Fri, May 13, 2016, 4:18 AM Lauren McCarthy <notifications@github.com>
wrote:

[2016-05-13 17:30] #1403 closed

[2016-05-13 19:55] mikewesthad opened #1413 "Text size bug when drawing opentype font with multiple renderers"
I was using an offscreen renderer with an opentype font and ran into a bug.  When drawing to the offscreen renderer, the text size that is being applied is from the main renderer.  The problem looks to be coming from [here](https://github.com/processing/p5.js/blob/master/src%2Ftypography%2Fp5.Font.js#L228).  When getting path data from the font, the parent of the font is used for the text size - r

[2016-05-13 19:57] mindofmatthew opened #1414 "Issues with WebGL 2d Primitives"
I've noticed that the y-axis currently points in opposite directions between the 2d canvas and WebGL modes. Should we flip the y-axis in the WebGL renderer?

This is how Processing works, and I think that this will make a lot of sense as more 2d functions are implemented in WebGL mode. However this is different than the way that many 3d tools/libraries work, as discussed in #820.

[2016-05-13 21:05] indefinit commented on #1414
Hey @mindofmatthew, do you mean positioning with regards to the 2d primitive functions in webgl mode?  We should have parity with Processing's P3D.

[2016-05-13 21:07] indefinit commented on #1412
That's a pretty cool idea!  perhaps a boolean normalize which would remap vertices between -100,100 ?

[2016-05-13 22:39] Craigson commented on #1411
@ldlathrop do any of these solutions solve your problem? Can I close the issue?

[2016-05-13 23:04] mindofmatthew commented on #1414
@indefinit Yes. I suppose I assumed that there was a larger issue that impacted translations and everything, but that's clearly not the case. Renamed the issue accordingly.

Here are some specific things I found:

- WebGL quad() and rect() produce shapes that are flipped vertically compared with those same shape calls in 2d/Processing
- x and y parameters don't seem to have any bearing on the posi

[2016-05-13 23:42] k808a commented on #1412
Beautiful! Thanks much! Hadn't thought of applying scale() that way.

[2016-05-14 00:04] kadamwhite commented on #522
@lmccart Is this still something you want to do? I can work on a PoC for e.g. color or some other individual component, so that the team can see how it would play out in practice; then we could move forward if the approach looks good.

[2016-05-14 03:42] dhowe commented on #1413
I think the way to support more use-cases like your example is to allow a renderer to be passed in (as part of the options object) for all functions in p5.Font, the way it is now in _renderPath, and in your PR. I can't think of any disadvantages to this offhand.

[2016-05-14 12:59] ldlathrop commented on #1411
Thanks for the suggestions, everyone! Got it working with node.js.

[2016-05-14 13:18] mikewesthad commented on #1413
@dhowe right, good point.  I just took a look to see what else could use an options parameter:

`p5.Font.textBounds` & `p5.Font.textToPoints` have fontSize as an explicit parameter.  Since those are part of the public API, an options parameter might confuse beginners reading the docs.

`p5.Font._renderPath` has options, and `p5.Font._getPath` will have it if the PR is okay.

`p5.Font._handleAlignm

[2016-05-14 13:44] mikewesthad commented on #1413
[Codepen demo](http://codepen.io/mikewesthad/pen/NNmYvr) for bug with `p5.Renderer.textWidth`.

[Codepen demo](http://codepen.io/mikewesthad/pen/MyRVEv) for bug with `p5.Font._handleAlignment`.

These all are related to the same issue, so I'm posting them here rather than in a new issue.  I can fix these two in the existing PR.

[2016-05-14 14:18] dhowe commented on #1413
Sounds good. I'm on deadline for the next 24 hrs, but will get back to this after...

[2016-05-14 17:38] mikewesthad opened #1416 "p5.Font.textBounds does not take into account text alignment"
Hopefully I'm not flooding things with `p5.Font` bugs.  I was working on a demo using a `p5.Font` to create text particles, and I noticed that `p5.Font.textBounds` doesn't adjust the bbox's (x, y) coordinates based on the renderer's text alignment settings.  It defaults to opentype's positioning scheme: left & baseline.

[Codepen demo](http://codepen.io/mikewesthad/pen/QNPxLz).  Below is a snapsho

[2016-05-15 12:57] dhowe commented on #1416
Nice work! This looks really close but the dot-position for valign=TOP looks incorrect to me. Here is what we get in Processing (which is our target, but doesn't have a built-in textBounds function):

![screen shot 2016-05-15 at 8 46 50 pm](https://cloud.githubusercontent.com/assets/737638/15274123/5147dc36-1ade-11e6-97d4-6fd6fc93a9b3.png)

[2016-05-15 13:23] dhowe commented on #1316
I dont think this actually fixed the problem, but it is better described now in #1410

[2016-05-15 13:26] dhowe commented on #1097
See also #1413 for a better fix

[2016-05-15 13:27] dhowe commented on #1416
I wonder also if we need to consider #766 here...

[2016-05-15 15:17] Moldy01 opened #1419 "createSlider() optional 4th argument (step size) not documented"
This is a suggestion.  In working with some sliders, I found that things work well if I use whole numbers.  However, when I tried to create a slider going from 1.1 to 3, the slider was non functional.  That is, it either slid to the far left (minimum value) or back to the default value.

I'd like to suggest that some re-work the sliders to allow them to accept decimal values, possibly by adding a

[2016-05-15 15:20] ldlathrop opened #1420 "Getting error message in console that doesn't make sense"
Hello! When I run my sketch in my browser, it doesn't load and I get the following message in my Console:

    Did you just try to use p5.js's exp() function? If so, you may want to move it into your sketch's setup() function.

    For more details, see: https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup

Bu

[2016-05-15 16:16] lmccart commented on #1420
hi @ldlathrop since your code is a bit complicated, it's difficult for me to tell what could be causing the problem here. I'd suggest commenting out parts of your code until you can get something to show up, and then slowly adding them back in until you find the line of code that seems to cause the problem.

[2016-05-15 16:42] ldlathrop commented on #1420
hi @lmccart. I've been trying that and still can't seem to figure it out. I will keep trying, but could you please tell me if I've written the preload/setup correctly. I've got a csv data set that looks (partially) like this printout from R:

        ID     Words Frequency
    1   45    across        13
    2   99  actually         8
    3   53    always        11
    4    3   america        39

[2016-05-15 18:53] mikewesthad opened #1421 "Vertical text alignment doesn't match processing"
In #1417, @dhowe pointed out that the vertical alignment (specifically vertical align = TOP) for text in p5 doesn't match processing.

Snapshot from a [codepen demo](http://codepen.io/mikewesthad/pen/QNPxLz) in p5
![image](https://cloud.githubusercontent.com/assets/1131802/15276092/436a26f4-1aa3-11e6-8ab3-8edd1bfc36ef.png)

@dhowe's snapshot from processing
![image](https://cloud.githubusercontent

[2016-05-15 19:02] mikewesthad commented on #1416
For posterity purposes, summarizing the discussion from #1417 here: Vertical alignment looks to be an independent issue, opened #1421 to deal with that.

[2016-05-15 19:34] Moldy01 opened #1422 "typography functions"
It would seem that typography functions are NOT available in WEBGL.  I created sliders for a small project, and then attempted to "label" them using text().  Every function that I try out, is "Undefined".

[2016-05-15 20:57] lmccart commented on #1416
closed with https://github.com/processing/p5.js/pull/1417, #1421 remains to address vertical text

[2016-05-15 20:57] #1416 closed

[2016-05-15 21:04] lmccart commented on #1420
Here is a basic example that demonstrates printing out the frequency of each row:
[code]

This seems to work for me when I test it out, I see the frequency column value for each row printed to console. Hope this helps!

I'm going to close this issue since it's not a specific bug with the library, but if you need further help, please feel free to post on the forum.
https://forum.processing.org/two/

[2016-05-15 21:04] #1420 closed

[2016-05-16 10:53] shiffman commented on #1419
Indeed!  This is in fact implemented as a fourth argument.   However, I just checked and it's not in the documentation (http://p5js.org/reference/#/p5/createSlider).  I'll update the title of this issue to reflect this missing info.

[2016-05-16 10:57] shiffman commented on #1403
`loadPixels()` should work with `createGraphics()`.  We went around on this with quite a few issues I recall, @no-carrier can you confirm it's not working for you with [the very latest release](https://github.com/processing/p5.js/releases/tag/0.5.0)?

[2016-05-16 11:12] lmccart commented on #1403
I have a new release coming hopefully today that includes the latest pixel fixes, so I'd wait a day and try with tthat one.

[2016-05-16 11:12] lmccart commented on #1411
thanks all! this is helpful info and should be included on the wiki page. I'm going to reopen this issue until we've added this to the server page.

[2016-05-16 11:14] lmccart commented on #522
that'd be great!

[2016-05-16 19:55] harveymoon opened #1424 "Texture UV coordinates?"
Processing has the ability to choose UV coords for vertex Pshapes.
`vertex(x, y, u, v)`

How can this work with p5js? Is this possible?

[2016-05-16 20:06] lmccart commented on #1412
addressed with https://github.com/processing/p5.js/pull/1418

[2016-05-17 07:00] brmscheiner opened #1425 "textAlign documentation: parameters should be in quotes!"
RIGHT, LEFT, and CENTER should be in quotes. =]

[2016-05-17 07:01] #1425 closed

[2016-05-17 08:46] limzykenneth commented on #1419
Done, added an example as well~

[2016-05-17 08:49] limzykenneth commented on #1411
I'm on it, will be editing it a bit later today.

[2016-05-17 10:55] limzykenneth commented on #1411
Done over [here](https://github.com/processing/p5.js/wiki/Local-server). I'm also wondering whether we need [this page](https://github.com/processing/p5.js/wiki/SimpleHTTPServer) on python's simple http server. I think it would be better to change it into a more generic tutorial about Terminal and command line.

[2016-05-17 16:20] miguelarian opened #1427 "Edge support"
Does P5 Sound work on Microsoft edge?

Openning this link on Edge does not play the audio :(

https://p5js.org/reference/#/p5.SoundFile

Thanks,
Miguel.

[2016-05-18 17:41] indefinit commented on #1424
Right now vertex() doesn't support u,v's but this is a good feature request, especially for the webgl renderer.  I'm doing some work on beginShape and endShape now, so this should fit nicely into that upcoming PR.  Use case would look like the example here:  https://processing.org/reference/vertex_.html

We'd also need to implement a textureMode() function for mapping u,v's.

[2016-05-18 17:45] indefinit commented on #1414
Hey, sorry I let this one slip.  Let's make sure the 2d primitives operate the same as they do in 2d canvas.

Re:
* Overall, all shapes are slightly smaller in WebGL then they ought to be

I think this might have to do with the initial model view matrix.  Definitely a worthwhile endeavor to overhaul our camera controls, but probably a separate issue to the primitives axis.

[2016-05-18 20:45] lmccart commented on #1427
it should. it depends what is natively supported by microsoft edge. you can post further issues regarding this in the p5.js-sound repo: https://github.com/processing/p5.js-sound

[2016-05-18 20:45] #1427 closed

[2016-05-18 20:46] lmccart commented on #1419
closed with https://github.com/processing/p5.js/pull/1426

[2016-05-18 20:46] #1419 closed

[2016-05-18 20:48] lmccart commented on #1411
wonderful, looks great. I agree, we could remove or repurpose that page for command line tutorial.

[2016-05-18 20:48] #1411 closed

[2016-05-18 20:50] lmccart commented on #1421
looks like this one is set then? or is there more to do here still?

[2016-05-18 22:49] mikewesthad commented on #1421
Yeah, #1421 fixes this for most fonts, so this can be closed. There's still going to be some small amount of inconsistency between processing vs p5 system font vs p5 opentype font since they all use different methods of calculating baselines (sampling a raster vs browser canvas vs values specified by font designer).

[2016-05-18 22:49] #1421 closed

[2016-05-19 11:06] limzykenneth commented on #1427
@miguelarian Not sure what the current WebAudio support on Edge is like but according to the [wiki](https://github.com/processing/p5.js/wiki/Supported-browsers), WebAudio was not supported on Edge as of May 2015

[2016-05-19 11:10] limzykenneth commented on #1389
@emilyxxie I would say go on ahead and implement this yourself! Might even be easier for us to see how useful for most people this could be once it is implemented. Cheers.

[2016-05-19 16:27] mikewesthad commented on #1413
Since #1415 is merged, I'm going to close this issue.

[2016-05-19 16:27] #1413 closed

[2016-05-19 17:14] dhowe commented on #1421
I believe that we still need to deal with vertical alignment for multi-line text however (see https://github.com/processing/p5.js/issues/1410)

[2016-05-19 17:22] mikewesthad commented on #1421
@dhowe, right - yeah this issue/PR was single line focused, so mutli-line is still a problem.  I can pitch in over on that issue if no one else is already working on it.

[2016-05-19 18:07] dhowe commented on #1421
If you have the bandwidth, that would be great -- I'm in semester grading so won't get to it for a while...

[2016-05-20 00:30] mikewesthad commented on #1410
@xyfeng - I see @dhowe assigned this to you both. Are you working on it? If not, I'll have some time this weekend to check it out.

[2016-05-20 01:07] harveymoon opened #1429 "CreateGraphics weirdness"
After having some sizing issues, i tried to modify the web-tutorial on the createGraphics() function.

Here is a simple sketch of my problems:

The 'pg' var should be exactly the same as the canvas, except for a darker background.
What it seems to do is cut the PG in half. If I try to place the PG in the corner filling the screen, it only shows half.
if I pinch in the pg to .5 of the screen, it lo

[2016-05-20 08:29] jguess commented on #1422
I see that currently there is work being done on font and typography features. Any chance to make it work in the 3D renderer ???
Hope so as I have a big project that I've wanted to port to P5 for a long time and the only stumling block is text() in WEBGL.
Thanks !!!

[2016-05-20 13:19] gregor opened #1430 "windowWitdth"
Mapping the window.innerWidth value should be replaced by document.body.clientWidth as this will return the actual avaible space. innerWidth does not substract to the space needed for the scrollbar. Setting the width of your canvas to windowWidth therefore results in horizontal scrollbars.

[2016-05-20 14:19] limzykenneth commented on #1430
I tend to agree, just that it should be `document.documentElement.clientWidth` instead of `document.body.clientWidth` and also ignoring the scroll bar means that if content on the page is generated dynamically and at some point the content move from no scroll bar to having a scroll bar, value of `document.documentElement.clientWidth` would change where `window.innerWidth` won't.

[2016-05-20 19:08] davejm commented on #1299
@lmccart I'd like to try fixing this. I'd probably use the snippet from the stackoverflow answer. What sort of attribution would I use?.. A link to the answer?

[2016-05-21 03:40] mikewesthad commented on #1429
@harveymoon what effect are you trying to achieve?  Are you trying to get `pg` to cover the entire screen?  If so, and `image(pg, 0, 0, width, height)` is not doing that, then that sounds like a bug.

Maybe this will help clarify what's going on.  [Here](http://codepen.io/mikewesthad/pen/aNgawR) is an online code editor with a script showing the ways you could use `image(pg, ...)`.

The `image(...

[2016-05-21 07:03] karenpeng commented on #1422
Hi @Moldy01 @jguess, text geometry in webGL mode is not supported, an easy way for now, could be making the text as a texture and use it on a plane geometry. Will that work for you?

[2016-05-21 07:17] karenpeng commented on #1194
@indefinit, thanks for the reference, as in #1431 view matrix is separated with model matrix, meaning we could control the camera without affecting the push and pop matrix world. In terms of whether to build a camera api or an external library, I need to do more experiments and testing to see how the api should go, will keep you updated :)

[2016-05-21 07:21] jguess commented on #1422
yes, i think that’s what i will try to do.
thanks a lot for your response !

[2016-05-21 19:00] Moldy01 commented on #1422
Thanks Karen.

I was must playing around in the p5 arena and found that the text didn't.  I thought that I'd just bring it to someone's attention.

From the Desk of
Mitch Oldroyd
c-(801) 380-0952
Hope you are having a
GREAT day

Date: Sat, 21 May 2016 00:03:40 -0700
From: notifications@github.com
To: p5.js@noreply.github.com
CC: Oldroyd_m@msn.com; mention@noreply.github.com
Subject: Re: [processin

[2016-05-22 12:59] shiffman commented on #1419
Thank you!!

[2016-05-22 20:40] hobzcalvin opened #1434 "Mouse generates touch events but not touches[] entries"
touchStarted(), touchMoved(), and touchEnded() are called when clicking/dragging/releasing the mouse respectively, but the touches[] array is always empty. Compare to real touch events on a mobile device, which work as expected.

The mouse x/y should either appear in the touches[] array OR touchStarted() etc. should not be called for mouse events.

[2016-05-23 07:43] jguess commented on #1422
hmm, i can't seem to figure out how to use text as a texture in p5. any ideas ?

[2016-05-24 16:38] indefinit commented on #1422
Hi @jguess, functionality for rendering text as a texture is not yet implemented but I know this is an important feature and my next PR will include this functionality.  In the meantime, the only way to render text while drawing in webgl is to use the DOM api and createP() or createSpan() with your text like this:
[code]
Thanks for your patience and stay tuned.

[2016-05-24 18:58] indefinit commented on #1422
Submitted a PR which will implement the functionality of text as a texture.  A future addition will include a full implementation of text() in webgl mode but in the short term once PR #1435 is merged, you will be able to use text as a texture in webgl like this:

[code]

[2016-05-25 04:21] jguess commented on #1422
ok great thanks! that was exactly the approach that i had tried but it wasn’t implemented yet !

[2016-05-25 20:51] lmccart commented on #1422
closed for now with https://github.com/processing/p5.js/pull/1435

[2016-05-25 20:51] #1422 closed

[2016-05-25 20:53] lmccart commented on #1410
fixed with https://github.com/processing/p5.js/pull/1433

[2016-05-25 20:53] #1410 closed

[2016-05-26 02:40] deepgodot opened #1436 "loadTable and saveTable issues"
Hi,I have been trying to add a new row to a loaded table(new.csv) and save.
However, the saved(replaced) .csv file does not show proper data but this strange symbols as below.
�w^~)�.

Here is my code:
var table;

function preload() {
  table = loadTable("new.csv", "csv", "header");
}
/* this is what new.csv looks like.
id, species
1, a
2, b
3, c
4, d
5, e  <----- this row is what I want to add
*/

[2016-05-26 07:52] chiunhau commented on #1436
saveTable() actually makes the browser automatically download a new file called new.csv or whatever you put. I guess you are using the p5 Editor because I found many people have similar issue with p5 editor, which also happen to me.

See [this issue](https://github.com/processing/p5.js-editor/issues/210) and [this](https://github.com/processing/p5.js-editor/issues/236) as reference. However, saveT

[2016-05-26 21:21] harveymoon commented on #1429
The issue I am having is also apparent in your code example.

`  pg.ellipse(pg.width/2, pg.height/2, 50, 50);`

This says to me that you are trying to draw an ellipse in the center of the pg space. In your example, a circle should be placed at 100,100 in the 200,200 space of pg.

Why then does the pg look like this?:

<img width="240" alt="screen shot 2016-05-26 at 2 18 40 pm" src="https://cloud.g

[2016-05-26 21:36] mikewesthad commented on #1429
@harveymoon, ahh - thanks for taking a snapshot. That is not how it looks on my machine.

I've run into something similar before. Can you check out the [codepen](http://codepen.io/mikewesthad/pen/aNgawR) again?  If you are on a high DPI screen (like a retina mac), this might get things looking like you expected: `pg.pixelDensity(1)`.  I added that to the codepen.

[2016-05-26 21:47] harveymoon commented on #1429
THATS IT!
I am on a MBP. This is very good to know.
 Thanks Mike!

[2016-05-26 21:47] #1429 closed

[2016-05-26 22:07] swirly opened #1437 "new feature : mouse event outside canvas should (optionnaly) be ignored"
I'm planning to implement some game exemple for my pupils with p5js. I've found a strange issue. mouse events (clicks) outside the canvas are taken into account.

I understand it can be usefull. On the contrary, it can be disturbing.

Planning a small game where you can click on a figure to win, clicking on a button or a menu outside the canvas brings up a fail in the game (unintended)

An optionn

[2016-05-27 15:43] jagracar opened #1438 "rectMode(CORNERS) doesn't work for negative points"
Check the output of this:

[code]

It seems that the code is taking the absolute value of the third and fourth arguments, which is correct for rectMode(CORNER) but not for this mode.

[2016-05-29 21:04] alelepd opened #1441 "p5 Reference Problems"
Hey there I noticed these problems on the reference/website:
1. There is a serious scrolling problem on the site (but most noticeable on the reference), it constantly stop from scrolling or start to lag.
2. If you open a link and go back, you can not stay at the vertical position you where before (which is considered bad usability).
3. There is a buggy behaviour when trying to copy something from

[2016-05-29 21:15] alelepd commented on #1378
I also think having and offline docs would be nicer. So far Im using a .pdf reference from Processing because I noticed they are very similar.

My country suffers from a very drastic electricity problem (Venezuela); when the lights go out, the internet does too, so its very important to have offline resources to continue working and learning until the electricity is restored.

[2016-05-30 10:25] limzykenneth commented on #1441
I can relate to 2 and 3 there, not quite seeing 1 on my side. If I can find some time this week, I'll try to put together a PR that solves 2, @toolness might be working on 3 I'm not sure, just what I saw at p5.js-website [#241](https://github.com/processing/p5.js-website/issues/241)

[2016-05-30 14:57] lmccart commented on #1437
In p5.js, the entire browser window is considered your sketch, so a click anywhere in it triggers mousePressed() and other mouse listeners. If you'd like to only listen to the canvas, you can do something like:

[code]

http://p5js.org/reference/#p5.Element/mousePressed

[2016-05-30 14:57] #1437 closed

[2016-05-30 15:00] #1436 closed

[2016-05-30 15:00] lmccart commented on #1436
thanks @chiunhau

[2016-05-30 15:48] pflannery commented on #1193
@lmccart I have this problem too when using v0.5.0 on Windows 10

[code]

I see the line gradually goes off the screen. If I Push() and Pop() it works as expected.

[2016-05-30 15:51] lmccart commented on #1193
yes, i don't think the library version has been updated in the editor yet. i'll see if I can merged in asap. thanks!

[2016-05-30 17:45] pflannery commented on #1193
@lmccart when you say editor do you mean the p5 editor? because I'm vscode as my editor, serving with python SimpleHTTPServer and previewing on latest chrome.

[2016-05-30 20:22] pflannery commented on #1193
@lmccart it looks like this [line](https://github.com/lmccart/p5.js-release/blob/master/lib/p5.js#L17145) is where the problem is happening.
But I think this is fixed in the future 0.5.1 release via the #1390 fix. thanks

[2016-05-30 21:24] lmccart commented on #1193
yes, this is correct.

[2016-05-30 21:30] lmccart commented on #1408
thanks @Craigson!

[2016-05-30 21:30] #1408 closed

[2016-05-30 21:37] #1438 closed

[2016-05-30 21:46] #1430 closed

[2016-05-30 21:46] lmccart commented on #1430
works for me!

[2016-05-30 21:50] lmccart commented on #1388
closing as I don't think this is a bug really, just a limitation of the library.

[2016-05-30 21:50] #1388 closed

[2016-05-31 06:21] alelepd commented on #1441
Great. Hope it can solve! I wish I could help but I am still learning :/

Thanks!

[2016-05-31 08:20] limzykenneth commented on #1193
@lmccart I think @shiffman came across this problem in his recent live stream as well

[2016-06-01 00:43] BlandSauce commented on #1378
The online reference seems to mostly work offline.
I downloaded everything from https://github.com/processing/p5.js-website/tree/master/
After also downloading jquery and changing the reference to it in /reference/index.html, it works offline almost 100%. The problem is that clicking links normally (or from search) only add the appropriate #anchor to the url bar. Opening in new tab instead works j

[2016-06-01 10:38] limzykenneth commented on #1378
@BlandSauce I've made a proof of concept actually: https://github.com/limzykenneth/p5.js-reference

For this I'm just wondering what kind of format would best fit it: a offline website, a packaged app, a pdf or something else?

I'm a bit preoccupied at the moment but if anyone is interested, you can have a look at that repo. Cheers.

[2016-06-01 11:04] dhowe commented on #1378
From my perspective, an offline website (same as the online reference) would be ideal

[2016-06-01 11:15] limzykenneth commented on #1378
The problem with a offline website is that simply double clicking index.html would not work since features like videos etc would need to be run on a server, and I feel it's too much to expect someone to run a server to read the docs...

[2016-06-01 11:27] dhowe commented on #1378
Which videos are you referring to? The only problem I see loading index.html from your repo is that its using an AJAX request to fetch the json data...  otherwise most things work OK

[2016-06-01 11:30] limzykenneth commented on #1378
@dhowe I was thinking about [this one](https://p5js.org/reference/#p5/createVideo) but apparently there's no example then guess we don't need to worry about that. The ajax call for data.json can be fixed very easily so maybe it will work then? 😃

[2016-06-01 11:33] limzykenneth commented on #1378
@dhowe Sorry, I meant capture such as [this](https://p5js.org/reference/#p5/createCapture) but apparently the example was not enabled the maybe it won't be a problem after all. The ajax call to data.json can be changed rather easily I think so maybe this is possible. 😃

[2016-06-01 12:10] lmccart commented on #1378
This is great, so so useful and important. I think offline website makes sense, even if a few server-requiring features don't work. We could package it with the p5.js complete download.

[2016-06-01 16:53] dennispassway opened #1444 "Firefox loadImage error: An attempt was made to use an object that is not, or is no longer, usable"
I'm trying to load an image and display it with the `display` function. This works fine in all browsers, except for in Firefox where it Throws the error: "An attempt was made to use an object that is not, or is no longer, usable".

It is thrown by
`p5.Renderer2D.prototype.image`
at this line:
`this.drawingContext.drawImage(cnv, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight);`

This is how I use

[2016-06-01 18:25] ducklin5 commented on #1378
Putting it  in the complete package would be great so long as its not too heft. Otherwise as a separate download. Wouldn't want to force users to download something they don't want

[2016-06-02 13:53] shiffman commented on #1193
@limzykenneth thanks for this update!

[2016-06-02 19:10] shirish93 opened #1446 "Weather example on the website is broken"
Hi,

The weather example on the website is broken, since most modern browsers down't allow loading content from non-https sites.

[code]
Since it's the less-experienced who are likelier to check the documentation, I imagine this example would only confuse/mislead them.

In case there is any interest in replacing the example (I see the codebase has a spotify example already), I can work on that, if

[2016-06-03 11:53] lmccart commented on #1193
ah sorry, I thought I had published a new version with this fix in there! I will be sure to post it in the next few days, apologies for the delay.

[2016-06-03 15:50] ldlathrop opened #1447 "Event type question"
I've read all of the documentation on events, and I'm wondering whether it is possible to get an animation to start once it appears on the user's screen, i.e., when they scroll down to it. I'm thinking of something along the lines of how a Facebook video will start running when you scroll to it and then stop when you scroll out. I've looked all over and can't see that as a p5 event feature.

[2016-06-03 18:19] aamontoya89 opened #1448 "camera() documentation"
says "postion" instead of "position"

[2016-06-04 03:40] doylecentral opened #1450 "Question about depth"
I was looking at one of the examples with the button click using the dom lib. Is there a setting that when the background color changes that it doesn't put it on top of already drawn shapes? When I did the demo it covered my shapes.

[2016-06-04 04:53] chiunhau commented on #1450
@doylecentral what background() does is actually filling the whole canvas with a color, so naturally it will cover anything already drawn before. There's no layer in p5 so you need to redraw everything in the next frame. Hope this help 😄

[2016-06-05 03:59] nkolban commented on #1412
Can we re-open this issue?  I am also trying to display the teapot and have tried a variety of files including the reference:  http://p5js.org/reference/assets/teapot.obj

When I run, my Chrome browser shows nothing but the grey square box.  I am running latest version of the browser.  I have tried scaling and a variety of permutations but to no-avail.

[2016-06-05 11:08] igarbla opened #1451 "loadJSON question"
I'm trying to load a dataset from http://opendata.euskadi.eus/contenidos/ds_eventos/eventos_turisticos/opendata/agenda.json but it fails for some reason.

[code]

I can see in the dev tools of the browser that the data is sent but i have an error saying `TypeError: resp is undefined` referencing p5.js:5209:11

Thank you.

[2016-06-05 11:12] igarbla commented on #1451
Sorry, the spellchecker has changed the word function. My main language is spanish.
Sorry again.

[2016-06-05 11:47] chiunhau commented on #1451
Hi @igarbla which version of p5js are you using?

[2016-06-05 11:51] igarbla commented on #1451
This is at the beginning of the p5.js file:
/*! p5.js v0.5.0 May 02, 2016 */

[2016-06-05 14:25] indefinit commented on #1412
Hi nkolban, could you please post your code as well as the error message you're seeing from Chrome?  Also, just to confirm, you are using a local host server, right?

[2016-06-05 15:45] nkolban commented on #1412
Howdy, here is the code I am using:

[code]
There are no error messages at all in the Chrome console.  When I run the sketch, the only thing logged to the browser console is:
[code]
The canvas square shows up, but no spinning object.

If needed, I will be delighted to demonstrate in real-time via Skype or open up my machine for your analysis.  My skype id is "neil.kolban".

[2016-06-05 16:59] chiunhau commented on #1412
Hi @nkolban I run your code with latest 0.5.0 p5js and it works. but I just notice my console logged `p5.RendererGL: enabled webgl context` not your `p5.Renderer3D: enabled webgl context`. In 57c69de they'd renamed 3D to GL, and that's 28 days ago, which means you might be using a older version and miss some bug fixes.

I'm not sure but worth a try. Clone and build the latest p5js 😄

[2016-06-05 17:16] indefinit commented on #1412
Another thing I'd try is to make your canvas larger than 100,100.  We recently added the ability to scale your model inside a callback function, which might help as well.

[2016-06-05 18:28] toolness commented on #1451
Hi @igarbla! It looks like your code says it's trying to get [JSONP](http://stackoverflow.com/a/3840118/2422398) content:

[code]

However, the URL being fetched, [`agenda.json`](http://opendata.euskadi.eus/contenidos/ds_eventos/eventos_turisticos/opendata/agenda.json), is JSON, not JSONP.

I suspect this is why your code is giving the weird unhelpful error--and that's one that we ought to make mo

[2016-06-05 18:49] toolness commented on #1441
Hi! Yeah, these are definitely issues on the site, thanks for reporting them!  Although like @limzykenneth I'm not seeing 1 on my side--what browser/OS are you using, and is there a particular page on which the scrolling is really bad?

[2016-06-05 18:51] igarbla commented on #1451
Hi @toolness, thank you for your answer. I'm using the function loadJSON with the "jsonp" argument because if it is not present the response is empty. If i use the function with the argument the data is received but as you have noted is JSON, not JSONP.

Of course i can download the file, in fact i do and it works, but i was playing around with p5js following @shiffman video tutorials and wonderin

[2016-06-05 18:51] toolness commented on #1441
Oh regarding (3), @limzykenneth, I'm not sure if that's actually the same issue that I'm addressing in https://github.com/processing/p5.js-website/issues/241... It sounds like copying text does *work* for @alelepd, it's just slow and has lag? (In my experience, copying text from the examples requires the user to click "edit" and then copy the text--the non-editable version isn't copyable, which I'

[2016-06-05 18:56] toolness commented on #1451
Oh, gotcha... so the reason that the response is empty is actually because it doesn't have those cross-origin resource sharing (CORS) headers in them, which basically are the signal from the site author that says "i permit code on other websites to access this file". Without that indication, a browser is forced to provide an empty response. :disappointed:

Talking to the provider of the datasets i

[2016-06-05 18:58] limzykenneth commented on #1441
@toolness I think the two are kinda related which I guess if solved one would solve the other. I don't think @alelepd is trying to copy from the edit screen, at least from what I've tried, copying does work without going into edit, it's just as @alelepd mentioned, buggy and maybe a bit of lag, and I can't highlight thus copy any lines overlapping horizontally with the canvas...

![screen shot 2016

[2016-06-05 19:00] toolness commented on #1441
Oh interesting! My bad... I'll see if I can fix that in https://github.com/processing/p5.js-website/issues/241 !

[2016-06-05 19:22] toolness commented on #1446
Oh, that's unfortunate--I didn't even know that the p5 website was available over HTTPS... It also appears that [OpenWeatherMap only provides HTTPS to paid Professional and Enterprise accounts](https://openweathermap.desk.com/customer/portal/questions/8166727-http-to-https), which is not ideal, especially in this era that encourages people to use HTTPS everywhere.

One workaround here might be to

[2016-06-05 19:29] toolness commented on #1444
Thanks for the bug report!

Hmm, I'm not sure what's going wrong here--do you think you could provide a self-contained sketch that can serve as a simplified "test case" so we can easily reproduce and debug the problem?

[2016-06-05 19:38] nkolban commented on #1412
Howdy guys,
I checked the version of p5.js being used and the 1st line reads:
[code]
I think this is the latest distributed build around.  If what I need are fixed in the repository but not yet distributed in a build, then I'll wait for a build refresh.

I tried a 1000,1000 canvas ... the canvas showed at the correct size but no sign of an object.  I also added a "scale(20)" ... but still not sign

[2016-06-05 20:07] toolness commented on #1441
Ok, I think I just made text selection a bit less buggy in https://github.com/processing/p5.js-website/pull/255.

[2016-06-06 10:54] indefinit commented on #1412
Hi @nkolban, I can confirm after downloading a fresh copy of the 0.5.0 release that loadModel is not actually included in there.  What's unusual is that you should be seeing an error message saying "loadModel is not defined", which is what I see when I run your code with 0.5.0 taken directly from the github release.

If you pull the latest commit from the master branch, you shouldn't have any prob

[2016-06-06 14:16] nkolban commented on #1412
I am new to p5.js and what I did was download "p5.js" complete from this location.

http://p5js.org/download/

After extraction, I found that there was a sample called "empty-example".  That contains a subfolder called "libraries" that appears to have its own copy of "p5".  When I edited the "sketch.js" in the folder and added the 3D sample, I did indeed get the "loadModel" not found.   I figured

[2016-06-06 15:52] meiamsome opened #1452 "SoundFile docs are inconsistent."
In the description we have:
"Values less than zero will reverse the audio buffer."
In the parameter we have
" Must be greater than zero."

Negative values appear to work for me, but I don't know which is the correct behaviour so I am opening this issue so someone who knows can fix it.

[2016-06-07 05:09] Bryce-Summers opened #1453 "image(src, dest) doesn't seem to work"
I was trying to draw an entire source image onto a smaller section of screen via something like the following:

image(0, 0, image_w, image_h, 0, 0, screen_w/2, image_h*screen_w/image_w);

The result was that the image was drawn on the region screen_w, screen_h, which was not correct and produced a result that was much too tall.

image(x, y, screen_w/2, image_h*screen_w/image_w) however did produce

[2016-06-07 07:51] igarbla commented on #1451
HI @toolness , i've just received an email from the provider saying you're right :+1:
They are going to do the changes and upload them to the server. They will be available the next week.
Again, thank you very much for your help.

[2016-06-07 14:00] hellonearthis opened #1454 "The XML example seems to not work."
I can access the xml file with the loadStrings but after using the loadXML
if fails on the like var children = xml.getChildren("animal");
error: Uncaught TypeError: undefined is not a function

example from https://p5js.org/reference/#/p5.XML
created xml file like below
[code]

My first post so I hope I have not done it wrong.

[2016-06-07 14:24] hellonearthis commented on #1453
If you image is loaded into **img**  then it should look like this  if you were outputting to half the screen size.
   ` image(img, 0, 0, img.width, img.height, 0, 0, screen.width/2 , screen.height/2)`

[2016-06-07 14:49] hellonearthis commented on #1454
I think I worked out my issue.  Like these XML functions,  getChildren()  is undefined and not currently prototyped as a todo :)

`
p5.prototype.parseXML = function () {
  // TODO
  throw 'not yet implemented';

};

p5.prototype.selectFolder = function () {
  // TODO
  throw 'not yet implemented';

};

p5.prototype.selectInput = function () {
  // TODO
  throw 'not yet implemented';

};`

I guess

[2016-06-07 14:49] #1454 closed

[2016-06-07 19:39] limzykenneth commented on #1452
I'm not sure about the behaviour of p5.sound but the code and documentation for p5.sound is in another repo, you can copy and paste this issue over [here](https://github.com/processing/p5.js-sound/issues) instead. Cheers.

[2016-06-07 19:42] meiamsome commented on #1452
Ah, okay, I'll go do that - should this issue be closed? I didn't see it had its own repo. (Also, the docs for the sound library point to here for issues - is that intended?

[2016-06-07 19:54] limzykenneth commented on #1452
@meiamsome Yeah you can close this and open an issue there instead. Thanks.

Hmm...interesting, I think the docs only point to here generally, it would be great to have it point to the right repo though...

[2016-06-08 02:47] Bryce-Summers commented on #1453
Yep, that is what I had.
The values I pass in for image_w, image_h, screen_w, screen_h are:
2816, 2081, 496, 366.53977272727275

but when I run it on my Google Chrome web browser it draws the image as if I had written:
2816, 2081, 496, 2081

[2016-06-08 02:48] Bryce-Summers commented on #1453
There is probably an error somewhere inside of p5JS where the value of image_height is used instead of the inputted value of screen_height

[2016-06-08 03:03] hellonearthis commented on #1453
It could be that float causing issues maybe.   You could try a Bitwise OR operator.
image(0, 0, image_w, image_h, 0, 0, screen_w/2, image_h*screen_w/image_w**| 0**);
http://stackoverflow.com/a/12837315

[2016-06-08 03:27] Bryce-Summers commented on #1453
I don't think that is the case. I tried it with the bitwise OR operators and good old fashion Math.floor(), but I really think it is a bug in the image drawing function

[2016-06-08 03:31] hellonearthis commented on #1453
That's rough,  what if you just add the value desired or took the equation
out of the image statement and used a single var.

On 8 June 2016 at 15:27, Bryce Summers <notifications@github.com> wrote:

[2016-06-08 03:48] Bryce-Summers commented on #1453
That is what I am doing in my actual code. It doesn't work. I found a work around for my particular case though, but this bug should be addressed.

[2016-06-08 22:41] doylecentral commented on #1450
Yes and thanks. I was drawing objects on setup but I can put them in the event loop.

[2016-06-08 22:42] #1450 closed

[2016-06-09 15:12] igarbla commented on #1451
Well, they've made the changes and now everything works. They've wrapped the response in a callback instead of adding a HTTP header so now I've to add "?callback=jsonCallback" to the url in order to work.

I think this issue can be closed.

BTW this change has broken my processing sketches but for this i should go to the processing forum.

[2016-06-10 11:59] #1451 closed

[2016-06-10 21:00] #1448 closed

[2016-06-10 21:06] lmccart commented on #1412
sorry, I've been away the past week or so. I'm going to publish a new release now and make sure the version is updated in the libraries folder as well. please let me know if things don't seem fixed after this!

[2016-06-10 21:13] lmccart commented on #1453
hi @Bryce-Summers, I'm not able to reproduce this. I'm running in chrome the following code:
[code]

Both the last two lines, the original line that wasn't working for you, and the commented out line that did work seem to produce the same results. Are you loading your image in preload() or using a callback? If you aren't doing one of these things it could be that the image isn't loading in time to

[2016-06-10 21:25] lmccart commented on #1447
You can wait to call `new p5()` until the moment you want to start the sketch, and you can use `.remove()` to stop and remove the p5 sketch. If you'd like to just toggle the draw loop on and off, it'd be better to use `loop()` and `noLoop()`.