[2022-07-21 15:15] stalgiag commented on #5571
Thanks for that!

My reluctance is that this is a pretty large change if it is just useful in getting `filter()` working in WebGL. If we think that this large change is worth it because it opens up a larger set of possibilities for GLSL enjoyers using p5 then I am all for it.

I think that p5 WebGL serves a few common purposes currently: accessible aha moment transitioning from 2D to 3D for new co

[2022-07-21 15:33] davepagurek commented on #5571
Agreed, it's probably too big of a jump doing everything with framebuffers for now. How would you feel about first reaching parity with Processing for using `filter` in WebGL mode without using any framebuffers? Trying to improve its performance with just one framebuffer (not touching all graphics for now) could be a follow-up

[2022-07-21 16:30] jakerockland commented on #5728
I see I see, thank you for clarifying @maxgmer – Art Blocks does use the minified version of 1.0.0 as our current p5js version, for which the Github release and p5-foundation-recommended-CDN both match IIUC. 😅

[2022-07-21 16:32] error-four-o-four commented on #5725
mmh.

i'm tempted to close this issue because the `keyIsDown` method is way more beginner friendly than my suggestion (and honestly i wasn't aware of the method as i opened the issue).

I'm wondering if there really is a benefit.

[2022-07-21 17:10] Qianqianye commented on #5636
Thanks @stampyzfanz for catching that! I have capitalized the `Dependencies` and `GIF` label for consistency, and cleaned up the format of `Friendly Error` label. We are keeping GIF label for now because a GSoC contributor @jesi-rgb is working on a GIF related project, and we might remove the label later if it's confusing.

In the issue template, would it be possible to add `Build Process`, `Unit

[2022-07-21 17:16] jesi-rgb commented on #5636
This looks super cool! I love when we can automate these kind of things!!

Also, @Qianqianye if you are worried about the GIF functionality, actually it is not used either in my [PR](https://github.com/processing/p5.js/pull/5709), nor in the [issue it references](https://github.com/processing/p5.js/issues/5118), so you might as well go ahead and remove it already! All good! Thanks for being so tho

[2022-07-21 17:21] Qianqianye commented on #5636
Thank you @jesi-rgb. I removed the `GIF` label, and all the issues labeled `GIF` are now under `Area:Image`.

[2022-07-21 18:05] davepagurek commented on #5725
I think the existing method probably covers the use case decently enough. Did you notice a big that your updated blur handler fixes? If the same issue applies to keyIsDown then we could try to fix that.

[2022-07-21 18:19] error-four-o-four commented on #5725
haven't investigated yet. but will do it later.

[2022-07-21 22:14] stampyzfanz commented on #5636
I am just doing this right now and have noticed that _User Documentation_ isn't on the issue template either. Should I add it too?

[2022-07-21 22:26] Qianqianye commented on #5636
The labels prefixed with `Area` are  coordinated with the [src folder](https://github.com/processing/p5.js/tree/main/src) structure. The labels without `Area` prefix are the rest ones in the stewards [focus areas](https://github.com/processing/p5.js#stewards). Hope this makes sense?

When you say `User Documentation`, do you mean `Contributor Docs`? If so, we can leave it for now because it's too

[2022-07-22 00:02] Qianqianye commented on #5700
Thanks everyone! [1.4.2 Release](https://github.com/processing/p5.js/releases/tag/v1.4.2) is out! 🎉💗🌸

[2022-07-22 00:02] #5700 closed

[2022-07-22 00:13] #5619 closed

[2022-07-22 11:38] davepagurek commented on #5725
Ahh ok, makes sense! Thanks for looking into it!

[2022-07-22 11:38] #5725 closed

[2022-07-22 15:19] Nisseboy opened #5733 "mouseButton wierdness in mouseReleased"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### p5.js versi

[2022-07-22 19:36] Nisseboy commented on #5733
I fixed the issue by doing this:
[code]

[2022-07-22 19:36] #5733 closed

[2022-07-23 19:52] #5636 closed

[2022-07-23 20:09] cosmicbhejafry commented on #5719
Hi, I'd like to help out with one from: accessibility, data, or utilities. Thank you!

[2022-07-25 15:05] designbyadrian commented on #37
I really hate to +1 an issue, but this is an unsolved issue from 2013 that still remains unresolved with no opinion from the devs why it shouldn't be included. I'm experiencing huge slowdowns while drawing many vertices in each draw() call. Being able to cache the shape somehow would be a solution.

[2022-07-25 15:08] designbyadrian commented on #320
Dead link due to repo-owner change. This probably is the correct one: https://github.com/processing/p5.js/issues/331

[2022-07-25 15:55] davepagurek commented on #37
Is this something that would be solved by drawing to a p5.Graphics and reusing that? Or for 3D, creating a p5.Geometry and then drawing it with `model()`?

[2022-07-25 21:21] Qianqianye commented on #5719
Thanks @cosmicbhejafry! Just added your name in the [stewards section](https://github.com/processing/p5.js#stewards). ✨
Please feel free to review some existing issues labeled with the focus area of your interest, like [`Area:Accessibility`](https://github.com/processing/p5.js/issues?q=is%3Aopen+is%3Aissue+label%3AArea%3AAccessibility).

[2022-07-28 01:29] Qianqianye commented on #5636
Thanks @stampyzfanz for working on automating the labelling process.
I just updated the [contributor_docs/issue_labels.md](https://github.com/processing/p5.js/blob/main/contributor_docs/issue_labels.md) with the new label system, please feel free to make edits. Thank you!

[2022-07-29 08:06] rbtcollins opened #5739 "_bindBuffer unnecessarily copies typed arrays"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Localization Tools
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

main

### Web browser and version

_No resp

[2022-07-29 10:40] #5207 closed

[2022-07-29 10:53] limzykenneth commented on #5734
It is a bit hard for me to debug this as I tracked it down to some weird bug in FES. Basically `_validateParameters` with `constrain` will somehow produce this error when passed `width` as an argument value, although not with other functions such as `lerp` or `dist` that I've tested.

Someone more familiar with FES might want to take a look? @almchung @outofambit

[2022-07-29 11:09] limzykenneth commented on #5710
I found this issue from long ago #1879 where the lack of support for scientific notation was noted. The `nf` series of functions had been the source of many problems before and incidentally also one of my least used functions, mainly because I don't know what I would use it for.

I think clear expectation of what these functions should do that go along with clear examples can help us understand ho

[2022-07-29 11:16] davepagurek commented on #5739
Thanks for opening this! I can look through the code at some point in the near future and see if there are cases where we could be storing values in a typed array to improve performance (possibly in p5.Geometry?)

In the mean time, it looks like your change will be necessary to accommodate this. I'll give it a review in a little bit after having taken a closer look at what our current buffers look

[2022-07-29 11:17] limzykenneth commented on #5728
I seemed to remember the non-minified version might have some publishing issue that's causing this but I may be misremembering. In any case, if there really is a mismatch between the two and the CDN version is incorrect, there is no way for us to change it as CDN providers will not refresh the files once published because of the hash integrity attribute (we asked before).

As such the most we can

[2022-07-29 11:18] maxgmer commented on #5728
@limzykenneth I see. Yes, then we can just close this, but it'd be awesome if you update github release description for 1.0.0 mentioning this difference.

[2022-07-29 16:19] rbtcollins commented on #5739
Yeah, so a bit more background and context. Firstly the patch probably wants to be tested with more than just one type of typed array, but I wasn't sure what ones are relevant to p5, and the helper that exists in the file is quite broken and slow (5 or so checks, and doesn't | them together. I think what I wrote should work for all typed arrays.

Secondly, what I was doing was animating medium num

[2022-07-29 19:40] jakerockland commented on #5728
+++ 🙏

Also, for posterity/clarity, we do have plans to eventually update the canonical p5js version for Art Blocks up from 1.0.0, but are very particular about how we want to do versioning given the on-chain nature of the artwork for Art Blocks so this is something we don't have a concrete timeline committed to just quite yet–but can definitely confirm that we will eventually do a version bump on

[2022-07-29 20:03] monolithMktg opened #5740 "Minimising p5.min.js further for production"
### Topic

So as of today, p5.js is on version 1.4.2 and the minified file stands at a whopping 804KB filesize.

I am a website developer and have been learning and getting better at it since some months now and want to use it on client sites as animated backgrounds to add some zing. I do know that the raw p5.js is a collection of a lot of sub-libraries and with a total size of around 4MBs. How ca

[2022-07-29 22:38] KevinGrajeda commented on #5497
hey @limzykenneth i think #5495 closed this by mistake.

[2022-07-29 22:42] Qianqianye opened #5741 "Test issue labeler"
### Most appropriate sub-area of p5.js?

- [X] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Localization Tools
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

_No response_

### Web browser and version

[2022-07-29 22:47] #5741 closed

[2022-07-29 23:52] stampyzfanz opened #5742 "Test issue labeller"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Build Process
- [ ] Unit Testing
- [ ] Localization Tools
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

_No response_

### Web browser and version

[2022-07-29 23:56] #5742 closed

[2022-07-30 00:13] xDarkAngelXD opened #5743 "Unable to read properties of undefined (reading "x")"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Localization Tools
- [X] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Brave 1

[2022-07-30 03:24] Qianqianye opened #5745 "Text issue labels"
### Increasing Access

test issue labels

### Most appropriate sub-area of p5.js?

- [X] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [X] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Localization Tools
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### Feature enhancem

[2022-07-30 03:25] #5745 closed

[2022-07-30 03:51] limzykenneth commented on #5743
Hi @xDarkAngelXD, it seems your problem is related to p5.play which is not maintained officially in this repo. You may want to file this issue [here](https://github.com/molleindustria/p5.play/) instead. Thanks.

[2022-07-30 03:51] #5743 closed

[2022-07-30 03:56] limzykenneth commented on #5740
There were some old work around a [modularly built library](https://github.com/processing/p5.js/blob/main/tasks/build/combineModules.js) which may not work anymore. We'll need more interest and developer time to develop that more.

[2022-07-30 03:59] #5497 closed

[2022-07-30 06:25] golanlevin commented on #5740
@monolithMktg, it's possible you might find [q5.js](https://github.com/LingDong-/q5xjs) to suit your needs. It is a "a small and fast alternative (experimental) implementation of p5.js" which is 33kb minified. Note, however, that q5.js is sporadically maintained by a single person, and is only intended to be "mostly code-compatible with p5.js"; support requests may go unanswered.

[2022-07-31 00:03] apc518 opened #5746 "Versioning info on API docs"
### Topic

I think it would be useful to have a minimum version note on each API doc (each method/constant/class page on p5js.org/reference)

The only problem with this that I can see is that it might not be worth the work to go document it all. Its pretty easy to just tell people to use a cdn script tag with the latest version, and if the versions had to be figured out manually that could be a lo

[2022-07-31 04:43] almchung commented on #5734
Hi everyone,

I think FES's current regex method for checking function names needs to be improved. This particular error message (`fes.sketchReaderErrors.reservedFunc`) is generated by `friendly_errors/sketch_reader.js/fesCodeReader()` at the `load` event. The current algorithm looks for parts matching the pattern, `let/const [something]` (using `letConstName`), then if `[something]` part contains

[2022-08-01 01:38] #5702 closed

[2022-08-01 17:16] golanlevin commented on #5710
Hi @limzykenneth,
I am very glad to discuss the `nf()` function — it is one of my favorite functions, and I use it _routinely_ in my work. The purpose of my reply here is to demonstrate three different things I use it for, to help illustrate why these functions deserve attention.

### 1. Debugging!
For me, `nf()` is a crucial debugging tool. When creating real-time interactive art, I frequently pr

[2022-08-01 21:00] davepagurek commented on #5734
I took a crack at another regex, where capture groups 1 and 2 are the variable names, and the content to the right of the = does not end up in a capture group:

[code]

Here are some test cases. Excuse the phone screenshot, I'm killing time in an airport waiting for a flight :)
![Screenshot_20220801-135025](https://user-images.githubusercontent.com/5315059/182244591-91239333-9118-42cb-b705-e6a934d

[2022-08-02 04:34] limzykenneth commented on #5734
I agree that using regex for this case is likely reaching the limit of what we can do with it and could also have potential performance issues and edge cases.

There isn't a comprehensive policy about including other libraries per se, just some considerations that I can think of. We do package some libraries already, most notably opentype.js so it's not impossible. However the largest concerns I h

[2022-08-02 04:45] almchung commented on #5734
I agree with both of you. Instead of adding more complexity, it would make sense to prioritize removing any false positives to minimize confusion.

[2022-08-02 04:46] limzykenneth commented on #5746
Hi @apc518, I do see versioning info on some JS libraries and frameworks but in the case of p5.js I'm trying to think of a use case for it.

For the most part the API of p5.js is very stable with not very complex code from early releases of p5.js will still likely work without modifications with the latest version, and even in the case that it doesn't I figure it will be faster to make some update

[2022-08-02 06:44] apc518 commented on #5746
The specific issue I ran into that made me think about this was the function isLooping. I had an older version of p5 where that function didn't exist, so I was getting a reference error but was confused since other p5 functions were working fine and the docs said that isLooping was a function

[2022-08-02 17:12] SanzSeraph opened #5749 "Remove superfluous _setProperty method from p5.Element"
### Topic

I've been looking through the p5.js source code to get a better understanding of it and to get some ideas for a p5 library I'm working on.

I noticed that there are several places where a p5.Element _setProperty method is being called. All this method does is use string key syntax to set the value of an arbitrary property.

Is there some reason this method exists that I'm not seeing? Ca

[2022-08-02 18:07] SanzSeraph opened #5750 "Add a flag to indicate if the most recently created canvas is 3D"
### Increasing Access

This will increase access under the following rubric: "People with little or no prior experience in open source and creative coding"

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ]

[2022-08-03 17:08] HagayHaut opened #5752 "Updating reference for constant variables?"
### Topic

Looking to open an issue to update the reference/documentation for constant variables (PI, DEGREES, etc.) to mention they cannot be accessed before setUp() is run? I ran into this issue on a project and want to help others find the answer sooner.

New to open source, so please let me know your thoughts!

[2022-08-03 18:21] SanzSeraph commented on #5752
I don't think that's quite correct. The constants should be available at any point after p5 is instantiated, which means the constants would also be available in the preload function. And that is consistent with the behavior of most other p5 features. You can't call _any_ p5 functions prior to p5 being instantiated.

[2022-08-03 18:58] da091005 opened #5753 "Version 1.4.1 adds reserved function “size”"
### Topic

Between version 1.4.0 and 1.4.1 a reserved function “size” was added. I feel like this variable name is used way too commonly in sketches to have it as a reserved function.

[2022-08-03 21:24] Qianqianye commented on #2309
@all-contributors please add @ongzzzzzz for plugin

[2022-08-03 21:30] Qianqianye commented on #2309
@all-contributors please add @bsubbaraman for plugin

[2022-08-03 22:05] Qianqianye commented on #2309
@all-contributors please add @jdeboi for plugin

[2022-08-03 22:25] Qianqianye commented on #4721
Thanks @lm-n! I'm adding the Accessibility Stewards @kungfuchicken @cosmicbhejafry to this discussion.

[2022-08-04 02:30] SanzSeraph opened #5757 "IndexedDB"
### Topic

Has there been any discussion about providing an API to interact with indexed DB?

[2022-08-04 12:37] limzykenneth commented on #5753
As far as I can see there is no `size` function exposed or defined by p5.js in the global scope and trying to assign a value to `size` in 1.4.1 does not result in a warning. Can you provide more info about what you have observed?

[2022-08-04 22:04] da091005 commented on #5753
This might be web-editor specific then. But when I change the source from 1.4.1 to 1.4.0 the error goes away.
![A39560EC-614E-46D2-B020-88BF187A63CD](https://user-images.githubusercontent.com/37953135/182960670-6a17a6ee-d433-48f2-b2c3-38fc1bf3b8df.jpeg)

[2022-08-05 02:30] limzykenneth commented on #5757
There hasn't been any discussions about this and I feel indexedDB support is a bit out of scope for the core p5.js library though an add on library, possibly an interface to an existing library for indexedDB would be a good thing to have instead.

[2022-08-05 02:37] limzykenneth commented on #5750
I think this would be good to have. For canvases, a conditional of `canvas instanceof p5.Renderer2D/GL` and for graphics `graphic._renderer instanceof p5.Renderer2D/GL` should be enough for a check for now.

[2022-08-05 02:42] limzykenneth commented on #5749
`_setProperty` is used so properly handle both global mode and instance mode, ie. in instance mode we can just set the property value on the instance object but in global mode we need to set the property value on the global `window` object as well. The `_setProperty` method takes care of this check and conditional value setting to simplify the rest of the codebase.

[2022-08-05 02:44] limzykenneth commented on #5753
Can you share a link to the sketch you are using to test this? Thanks.

[2022-08-05 02:46] limzykenneth commented on #5746
In this case, would having access to versioned API documentation be better? Since you would need to know your issue stem  from having an older version of p5.js anyway, you can continue to work against a whole documentation generated from the version you are using instead of mentally parsing version number each time you look up a function.

[2022-08-05 02:49] limzykenneth commented on #5734
Let's go with the regex fix for now then. Anyone want to take this up and file a PR? Comment here and I'll assign the issue to you.

[2022-08-05 02:52] da091005 commented on #5753
Hello, yes it’s an incomplete sketch, but it has a class that uses “size” as one of the attributes. But, even when I change those variable names inside the class, there is still a variable “size” in the main sketch and I still get the warning. I even went to some of my old sketches and updated the source from 1.4.0. to 1.4.1 and I get the same warning on those (because I frequently use “size” as a

[2022-08-05 04:23] SanzSeraph commented on #5757
That's a good point. Maybe I'll work on that!

[2022-08-05 04:35] Qianqianye commented on #5757
Thanks @SanzSeraph! Yes I agree with @limzykenneth that indexedDB support is beyond the scope of the p5.js api (we try to keep as minimal as possible) but it could be a great starting point for an add-on library. Please see the [contributor doc](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md) of how to create a library. I will close this issue for now for orga

[2022-08-05 04:35] #5757 closed

[2022-08-05 04:49] Qianqianye commented on #5670
Thank you @ianstormtaylor for sharing the detailed feature request, and @davepagurek and @golanlevin for the comments.

Because we are trying to keep the p5.js API as minimal as possible, the dashed line feature could be a great starting point for an add-on library. Please see the [contributor doc](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md) of how to crea

[2022-08-05 06:34] limzykenneth commented on #5753
@almchung Can you perhaps have a look at this as I think it may be related to some FES bug?

[2022-08-05 09:12] apc518 commented on #5746
That sounds functionally the same, yea. Because if the api documentation was versioned like that, then I would see that I'm on the "version x.x.x" docs when I find a page for a function anyway

[2022-08-05 11:51] davepagurek commented on #5753
It looks like this line in the FES source is getting its list of reserved function names from the names of all the methods on all p5 classes:
https://github.com/processing/p5.js/blob/194c0dc472e6eeea1f3460d850b5680772eb7123/src/core/friendly_errors/sketch_reader.js#L305

I wonder if it's marking `size` as reserved because it exists on `p5.TypedDict.prototype`?
https://github.com/processing/p5.js/b

[2022-08-05 12:00] davepagurek commented on #5734
I can finish up the regex above in a PR + add some more tests!

[2022-08-05 16:49] aferriss commented on #5750
Would it be better to call it `isWebGL` or something like that? Not all webGL canvases are drawing 3d shapes, and it might future proof the property against the default renderer if non-webGL 3d is ever added.

[2022-08-05 19:05] SanzSeraph commented on #5750
If a webGL canvas isn't being used to draw 3D shapes, would it not still let the developer use p5's 3D graphics methods? In my mind, the motivation for adding this flag is so that developers can determine if it's "safe" to use p5's 3D graphics methods. So as long as calling one of those methods will not result in an exception due to the assert3d call, whether that's because the canvas is using a w

[2022-08-05 22:52] davepagurek commented on #5734
Btw @KevinWorkman it seems like this is a combination of problems: first, not detecting that `width` is in the right hand side of an assignment, but second, that it's only detecting `width` because `p5.Pulse` from the p5.sound library has a `width` function. If I remove the p5.sound script tag from the sketch you linked, then the error goes away, so that can be a temporary workaround if the logs a

[2022-08-08 08:12] LinMu-z opened #5760 "The Shader can't work, when using it as texture。"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Chrome://1

[2022-08-08 09:00] kamildul opened #5761 "Y-axis up"
### Topic

Hello everyone,
I nedd help, please tell me how i can shwitch mode to y-axis up? I tryied create solution to draw line in cartesian coordynation. I dont now how i can do it. I search in documentation and forum information for schwitch mode to y-axis up but i can find :-( Please help me.
Thanks!

[2022-08-08 12:29] esperanc commented on #1782
I, for one, would very much like to add my support for this feature.

[2022-08-08 15:21] davepagurek commented on #5761
Hi! You could use `scale(1, -1)` before drawing to flip the y axis. Would that solve your problem?

[2022-08-08 15:30] davepagurek commented on #5760
Hi! This is an intentional change that got made in 1.4.1 to disable alpha by default in WebGL sketches/graphics to make blending work more consistently: https://github.com/processing/p5.js/pull/5555

For your sketch to work the same as in 1.4.0, you can add an alpha channel to your WebGL graphic by adding this line in `setup`:
[code]

...alternatively, in your shader, you can fade to opaque black

[2022-08-08 22:41] aferriss commented on #5750
There's a couple non-3d methods in p5, `shader()` being one that I use often, but there's also `loadShader()`, `createShader()`, `texture()`, `textureMode()`, and `textureWrap()`. There might be more.

If I understand the problem correctly, what we're really looking for is a way to determine if a specific canvas's renderer is capable of drawing 3d shapes. The ability of the canvas to do so is defi

[2022-08-08 23:08] SanzSeraph commented on #5750
What I mean by 3D methods is anything that requires a 3D rendering context, including the methods you mentioned. So as long as all of the p5 3D methods would be supported by _any_ future 3D renderer (in the unlikely event that one is added) then the programmer shouldn't care whether it is webGL or some other context.

However, since webGL is pretty much the only game in town (as far as I know at l

[2022-08-09 00:38] DavidKozdra commented on #5761
@davepagurek
![image](https://user-images.githubusercontent.com/45106564/183536527-4de4645f-5343-41a2-a8b4-86236e0c8034.png)
I tried this with the shapes example and it seems like scale can not take negative numbers this comes from the canvas scale

test here to verify here: https://www.w3schools.com/TAgs/tryit.asp?filename=tryhtml5_canvas_scale

so I looked for solutions with the HTML 5 canvas
us

[2022-08-09 00:39] LinMu-z commented on #5760
@davepagurek
Thank you !
The problem was solved with your guidance.
After testing, it is indeed caused by alpha being disabled in WebGL.

[2022-08-09 01:23] Qianqianye commented on #5760
Thank you @davepagurek and @LinMu-z. I will close this issue for now.

[2022-08-09 01:23] #5760 closed

[2022-08-09 01:58] davepagurek commented on #5761
@DavidKozdra I think your issue is that just using scale keeps the origin in the same spot. Do you expect the origin to be in the bottom left? if so, in p5, this can be accomplished by translating before scaling:

[code]

[2022-08-09 02:13] DavidKozdra commented on #5761
@davepagurek that did work, I recommend mentioning that in the first reply, also my solution also works
either way will fix the issue

[2022-08-09 05:31] kamildul commented on #5761
Hello gentlemen's!
Thanks for response.

`translate(0, height)
scale(1, -1)`

This solve my problem with y-axis, but still i have problem with image - my image is upside down in mirror

![obraz](https://user-images.githubusercontent.com/108399119/183571751-55fffecb-ea82-428b-89fe-d6d1d1c19865.png)

[2022-08-09 11:07] davepagurek commented on #5761
When drawing your image, you can temporarily mirror the canvas back again:

[code]

[2022-08-09 12:15] davepagurek commented on #5761
Also for completeness, @DavidKozdra one other option available to you is to use p5's `applyMatrix` function ([documentation here](https://p5js.org/reference/#/p5/applyMatrix)) with the same parameters you provided to avoid having to go through `drawingContext` to get the underlying canvas context:
[code]

[2022-08-09 22:52] Manpreet-Singh001 commented on #5720
Hi, I would like to work on this.

[2022-08-11 15:44] #5734 closed

[2022-08-11 15:52] limzykenneth commented on #5761
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2022-08-11 15:52] #5761 closed

[2022-08-11 16:40] kjhollen commented on #5308
I think it's ok to go ahead with adding more fields. I think we were trying to be sparse and not over-complicate things, but it sounds like we need more fields to implement this properly!

[2022-08-11 16:56] kjhollen commented on #5308
adding: reading over the comments, I think the thought was that ambient material may behave more like what people expect when they call `fill()` in 2D mode.

I guess I'm also wondering if it's appropriate for `specularMaterial()` to take any arguments, when `specularColor()` and `fill()` also exist? Would it be clearer that `specularMaterial()` and `ambientMaterial()` with no arguments just change

[2022-08-11 16:56] aferriss commented on #5308
I vaguely remember coming to similar conclusions 2 years ago when we were working on webGL for GSOC. As I recall it was just going to be a larger project than we had the time to solve, so we punted on this work.

[2022-08-11 17:19] calebfoss commented on #5308
@kjhollen and @aferriss thanks for these insights!

@ShenpaiSharma and I had discussed a less ambitious approach, which sounds like what you're wondering about @kjhollen: to remove the parameters for the material methods to clarify:
- fill() changes the color of a material
- ambientMaterial(), specularMaterial(), emissiveMaterial() changes how a material reacts to light (no arguments)
- specularCo

[2022-08-11 17:30] calebfoss commented on #5308
Here's a Processing example in which emissive, ambient, and specular are combined with three different colors:
![image](https://user-images.githubusercontent.com/16294664/184196123-70777ab7-5921-4d2c-b873-3e6a64ccc17d.png)

[code]

[2022-08-12 07:09] tapioca24 opened #5762 "Add a function to get the target frame rate"
### Increasing Access

I am developing a library for recording p5.js animations and this proposal is to improve it.
Many already use this library, and improving its usability should increase the number of sketches posted to Twitter, Instagram, etc., and thus more access to p5.js.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
-

[2022-08-12 08:29] tushar5526 opened #5763 "Resetting environment variables after each draw call"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

Latest

### Web browser and version

104.0.511

[2022-08-12 12:28] davepagurek commented on #5763
I think we may not want to reset them back to *default* values because a common pattern is to set up some properties in `setup` that we expect to never change in a sketch, and I think preserving the ability to do that would be good.

I think having consistency and predictability would also be good, though. A compromise might be to implicitly wrap `draw` in `push()` and `pop()` to go back to the pr

[2022-08-13 02:26] Qianqianye commented on #5416
Thank you @adalberth. This topic is also mentioned in 'Minimising p5.min.js further for production #5740'. I am closing this issue for now to avoid repetition. We can continue this conversation in the issue #5740.

[2022-08-13 02:26] #5416 closed

[2022-08-14 09:46] limzykenneth commented on #5762
Hi @tapioca24, does the return value of `frameRate()` (without any arguments) not work in your use case?

[2022-08-14 09:53] limzykenneth commented on #5763
The biggest problem I see here is that this will likely be a breaking change and affect the behaviour of many existing sketches, and so will not be something we can consider adding to the library until at least the next major release.

[2022-08-14 10:11] tushar5526 commented on #5763
Agreed. This would break a lot of things and there would be many hidden side effects. I think for best practices users should just call `stroke` at the start in draw if we want something to be stroked. Similar for other settings.

[2022-08-14 10:15] limzykenneth commented on #5750
I would suggest going with `.isWebGL` as well, one to be consistent with how the canvas is created in the first place (`createCanvas(400, 400, WEBGL`), and two leave open the possibility of other renderers in the future.

I'm happy if either of you want to file a PR for this.

[2022-08-14 10:19] limzykenneth commented on #5746
Yes it would be more or less the same functionally but much much easier to implement. Though that being said it would probably still take some development time to do.

[2022-08-14 10:22] limzykenneth commented on #5752
This should be covered by the FES already (a message will be printed if you tried to use p5.js constants outside of setup or draw with FES enabled) and including this info in the documentation feel a bit redundant, especially when it applies to almost all items in the documentation.

I will close this for now but feel free to continue the discussion if required. Thanks.

[2022-08-14 10:22] #5752 closed

[2022-08-14 10:29] limzykenneth commented on #5675
@almchung @outofambit Would you like to have a look at this? I would imagine including a check for `NaN` [here](https://github.com/processing/p5.js/blob/main/src/core/friendly_errors/validate_params.js#L344) as technically `NaN` is considered a number type, or even using the native `isNaN` or `Number.isNaN` function to do this check.

[2022-08-14 10:35] limzykenneth commented on #4373
This issue only happens in the web editor, please file this bug over [here](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks.

[2022-08-14 13:02] tapioca24 commented on #5762
Hi @limzykenneth, `frameRate()` does not work in my use case.
`frameRate()` returns an actual measured value, which is different from the target set by the user. This difference is especially noticeable when there is slow processing in the draw function. I need the target frame rate set by the user itself.

[2022-08-15 05:38] Hari-15 commented on #642
the remove p5 function does not work in my code

[2022-08-15 05:38] Hari-15 commented on #642
function keyTyped() {
  if (key === 'd') {
      x_orange = x_orange+50;
      image(orange, x_orange, y_orange, 100, 100)
      orange.remove();
  }

  if (key === 'a') {
    x_orange = x_orange-50;
    image(orange, x_orange, y_orange, 100, 100);
  }
}

[2022-08-15 05:39] Hari-15 commented on #642
<!DOCTYPE html>
<html>
 <head>
   <title>Fruit Fight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com

[2022-08-15 05:40] Hari-15 commented on #642
i doubt it works in anything now

[2022-08-15 05:41] Hari-15 commented on #642
i'm making a game where you are an orange trying to dodge a whole bunch of apples

[2022-08-15 21:01] almchung commented on #5675
Good catch! The current `isNumber()` (which uses the native `isNaN()`) misses the case where Javascript returns the global property `Infinity`:  [L349](https://github.com/processing/p5.js/blob/main/src/core/friendly_errors/validate_params.js#L349). It's unclear whether `Infinity` can be considered a number, for the purpose of our drawing functions, we may only want to take finite numbers parameter

[2022-08-15 22:07] limzykenneth commented on #5675
In the case of `NaN` (not string that parses to `NaN`) it will satisfy the first condition of `typeof NaN == "number"` and return true right there. Directly using `isNaN()` only can take care of most cases I think, but there may be edge cases I didn't think of. For infinity we'll need to leave it be as it has some utility when dealing with number comparisons (`max()` and `min()` for example).

[2022-08-16 07:11] almchung commented on #5675
Sorry, I totally misread last time. I agree using `isNaN()` should solve this. `Number.isNaN()` doesn't count the fact that a numerical string argument will be converted into a number.

Found another bug while testing: `null` parameter would be converted to 0 and thus shouldn't throw `EMPTY_VAR` err msg.

I still think drawing functions like `line()` may benefit from using `isFinite()` or some kin

[2022-08-17 00:18] coreygo commented on #5740
I took another look today at `combineModules` (see #3956) [functionality for custom builds](https://github.com/processing/p5.js/blob/main/contributor_docs/custom_p5_build.md) as my last custom build was with v0.10.2. At the time, `combineModules:min:core/shape:color:math:image uglify` resulted in a 207K build.

Now the same module selection results in a 692K build and my drawing throws errors in t

[2022-08-17 21:36] davepagurek commented on #5720
Hi @Manpreet-Singh001, I've assigned this to you 🙂

[2022-08-18 15:07] jcubic opened #5765 "set with undefined color freezes the browser when run in loop"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

0.9.0

### Web browser and version

Google Chr

[2022-08-18 16:33] jcubic commented on #5765
I think the real problem is the function `map` that executes for 0.23291015625ms vs 0.010986328125 ms maybe because of `console.log`. If there is a lot of invocation the console is flooded with output which probably slows down the page. I think that the library should just throw an error not console the message that no one will see.

[2022-08-19 15:39] limzykenneth commented on #4801
A bit of an update: I've started writing the stewards guide in the contributor docs to include ideas generated here as well as any other info stewards and maintainers may need to know. The latest commit is below:

https://github.com/processing/p5.js/pull/5764/commits/7d70c3762dbc4b5b8acc694c9a0ba88ab193b5ac

Please feel free to leave comments about any part of the document while I'm still working

[2022-08-21 01:07] Manpreet-Singh001 commented on #5720
When the `imageMode` is set to `CORNER`  the meaning of
[code]

[2022-08-21 02:13] TetroGem commented on #5720
In that example, the bottom of the image would be at the bottom of the bounding box, with the top of the image spilling out of the box instead.

[2022-08-21 02:18] Manpreet-Singh001 commented on #5720
![image](https://user-images.githubusercontent.com/93985396/185772435-0b58bdff-9558-41a0-be50-53160eaadb60.png)
so something like this even in CENTER MODE or this
![image](https://user-images.githubusercontent.com/93985396/185772472-38f50ae7-e6dd-485d-8eac-033da5d788da.png)
since the mode is center the `left` should be `center-left`

[2022-08-21 02:57] DQGiac opened #5766 "Cannot download projects from the browser version"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

I have tried all versions from 1.1.9 to 1.4.1.

[2022-08-21 04:59] Manpreet-Singh001 commented on #5720
Here's what the current functionality looks like.
`width = canvasWidth, height = canvasHeight`
`raw-img`:
![image](https://user-images.githubusercontent.com/93985396/185776158-abfdc09e-b367-4673-a1b1-95dfe488636a.png)
[code]

[2022-08-21 13:23] davepagurek commented on #5720
I think with xAlign: left and yAlign: bottom it would continue to look like your first image regardless of the imageMode specified. I think of imageMode as specifying the size/position of the purple box in your image, and then the xAlign/yAlign are responsible for positioning the image relative to the purple box.

[2022-08-21 17:37] Manpreet-Singh001 commented on #5720
CSS cover definition
![Screenshot_20220821-113251_Chrome](https://user-images.githubusercontent.com/93985396/185803664-7dead473-e339-43a2-90a7-24ec5a295ca5.jpg)
but since the feature here wants to maintain the aspect ratio unlike css cover which will stretch, would it make more sense to call it `EXTEND`. Also if `img` is smaller than the `canvas` the image should be enlarged? since the example sen

[2022-08-22 01:23] davepagurek commented on #5720
CSS `cover` actually does maintain aspect ratio. I think by "stretch" they mean "scale it up past its original size."

I believe that example is just a demonstration and doesn't cover the case where the input image is smaller, but the ideal  implementation would. I thsink instead of checking if the width if the source is greater than the destination, it needs to be checking if the *aspect ratio* o

[2022-08-22 12:39] davepagurek commented on #5766
Hi! I think downloading a sketch is an issue with the p5 editor website as opposed to the library itself. There's an issue for it open here that you can track: https://github.com/processing/p5.js-web-editor/issues/2038

I'm going to close this issue in favour of that one to keep the issues organized, but let me know if this affects more than what's in that other issue!

[2022-08-22 12:39] #5766 closed

[2022-08-24 03:05] LinMu-z opened #5767 "Too many active WebGL contexts. Oldest context will be lost."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Chrome  10

[2022-08-24 11:22] limzykenneth commented on #5767
This is not really a bug and the message itself also does not come from p5.js. As described in the message itself, this is a fundamental limit of how many WebGL canvases can exist on a web page at a time. Most browser set it at 8.

You can briefly read about this [here](https://webglfundamentals.org/webgl/lessons/webgl-multiple-views.html) and [here](https://threejs.org/manual/?q=mult#en/multiple-

[2022-08-24 11:22] #5767 closed

[2022-08-25 15:37] Pixelkar commented on #4401
Hello ,

Did anyone Find any solution for this :(

[2022-08-25 16:00] stalgiag commented on #4401
There seems to be consistent and noteworthy demand for QUADS support in immediate mode drawing for WEBGL. This is due in part to the fact that the reference lists all modes that work in 2D  with `beginShape()`. The JSDoc comment for [`RendererGL.beginShape()`](https://github.com/processing/p5.js/blob/main/src/webgl/p5.RendererGL.Immediate.js#L26) lists the correct available drawing modes for WEBGL

[2022-08-25 16:51] davepagurek commented on #4401
If we opt for the second solution, I wouldn't mind taking that task on. I'll defer to you to judge whether that change is warranted compared to just updating the docs though!

[2022-08-25 20:06] stalgiag commented on #4401
@davepagurek that would be great! Working with QUADS is pretty common judging by the activity on this thread and many Processing 3D sketches I see. I think this would be a significant improvement to parity between the renderers without _i think_ too much work required.

[2022-08-26 17:09] stalgiag commented on #2536
Re-opening this since webgl2 is broadly supported in browsers. Should p5 continue with no support, refactor for default support, or add optional support ? Optional support would be easy and would change little for the library while offering more flexibility for writing custom shaders.

If optional, does anyone have thoughts on the best way for someone to indicate that they want a 'webgl2' drawing

[2022-08-26 17:24] davepagurek commented on #2536
Do we want to make it easy for users to fall back to WebGL 1 on older browsers? Off the top of my head, I think we would need to change what `setAttributes({ antialias: true })` does for WebGL2, but if that's the only change to internals that would need to be done, we could maybe even try to first create a WebGL2 context and then fall back to WebGL 1 if the browser doesn't support it. We might nee

[2022-08-26 17:25] #4401 closed

[2022-08-26 17:36] DaveHoskins commented on #2536
Yes, it should be easy to make it backward compatible, so it would be invisible for old P5 WebGL scripts.

[2022-08-26 19:04] ShenpaiSharma commented on #5308
### Feature Implemented -- Support for Multiple materials for geometry

Tagging @kjhollen

So finally, I and @calebfoss  have decided to move away from the current overwriting of fill colors to the geometry, towards the approach that Processing uses where the material has different color properties (ambient, emissive, specular) that all contribute separately to the lighting of the surface.

So we

[2022-08-28 01:29] davepagurek opened #5770 "Vertex ordering for beginShape(QUADS) is different in WebGL from 2D mode"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

Commit c9fb107 on main

### Web browser and ve

[2022-08-28 13:25] #5770 closed

[2022-08-28 17:19] stalgiag opened #5772 "3 unit tests associated with `tint` sometimes fail when running in GH Action"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [X] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

main

### Web browser and version

N/A

### Op

[2022-08-28 18:14] davepagurek commented on #5772
Agreed, the test image can be smaller, I didn't consider it being slower on CI when I added those tests. I can clean them up and make them more efficient

[2022-08-28 21:11] #5772 closed

[2022-08-29 05:44] paulaxisabel commented on #5719
Hello @Qianqianye! I just came across this thread and would love to help in any way I can! I'm interested in being a steward in Color and Typography! Thank you! ✨

[2022-08-29 09:46] WaliyaYohannaJoseph commented on #5719
Great!

[2022-08-30 00:30] #5174 closed

[2022-08-30 01:47] davepagurek commented on #5739
Sorry it took so long to get back to this!

Right now, if you make a `p5.Geometry` once and never update it, performance should currently be good, as it won't update buffer data. So this would be an improvement just for when you need to update data. Do we think this is something p5 should support? We do have some internals set up to allow it (there is a dirty flag that one can set to mark that buf

[2022-08-30 20:38] ChristerNilsson opened #5775 "iOS demands createGraphics and image has integer parameters"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Chrome 104

[2022-08-30 20:40] ChristerNilsson commented on #5775
I guess the simplest solution would be to transform all parameters to integers inside the createGraphics and image methods.

[2022-08-30 21:27] Qianqianye commented on #5775
Hi @ChristerNilsson. Could you please provide code snippet or a p5 editor link with code that illustrates the issue. Thanks!

[2022-08-30 22:12] limzykenneth commented on #5775
Probably duplicate of #5697

[2022-08-31 16:12] ChristerNilsson commented on #5775
Yes, it is the same bug as #5697.
With the addition, image method parameters has to be integers.
I’m not sure if the transformation to integers has to take place inside or outside the methods.
All I know is that I lost two days looking for the reason for this error.

[2022-08-31 16:16] ChristerNilsson commented on #5775
It is almost the same bug as #5697. I found that the image method has the same behaviour.

[2022-08-31 17:30] Qianqianye commented on #5775
Since this issue addresses the same problem in #5697, I will close this issue for now for organizational purpose. Let's continue the conversation in #5697. Thanks!

[2022-08-31 17:30] #5775 closed

[2022-08-31 18:39] davepagurek commented on #5697
Just a thought, it might sometimes make sense if you set pixel density. e.g. if you set `pixelDensity(2)` and make a canvas that's `100.5x100.5`, then the actual underlying canvas size is `201x201`, which is valid. If we round anything, it should maybe be the dimensions of the internal canvas rather than the user-facing `width` and `height`

[2022-08-31 20:38] ggorlen opened #5776 "Docs: select option documentation is unclear"
### Increasing Access

Better documenting the confusing behavior of `<select>` / `<option>` can help beginners new to coding avoid gotchas that can lead to frustration.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build P

[2022-08-31 20:57] ggorlen opened #5778 "DOM module: HTML special characters break select options"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2 (and many <= versions)

### Web browser

[2022-09-01 11:06] annalog-codes opened #5779 "Allow `width` and `height` parameters in loadImage to support proper SVG scaling."
### Increasing Access

Allowing to use an SVG image as source for a canvas image leads to crisper images when a user scales the canvas up.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [

[2022-09-01 14:07] limzykenneth commented on #5697
I'm happy to go with @davepagurek suggestion and floor the internal canvas dimension. We'll need to take care to not cause inconsistency where elsewhere in the codebase there is still expectation of non-floored dimensions though (not sure how prevalent this is).

[2022-09-01 15:03] davepagurek commented on #5779
Hi! It looks like in your PR https://github.com/processing/p5.js/pull/5781, when you set the image and canvas width/height to something other than the SVG's default width/height, it draws it to the canvas at a higher resolution. That's great to know! My question is mostly about how we should integrate that, which would need some questions answered first

- Is it important to import SVGs in an othe

[2022-09-01 15:50] annalog-codes commented on #5779
For performance reasons p5js-svg is not an option for many use cases that would still profit from scalable graphics.

My use case: I'm using p5.play v3 for an interactive presentation that will play on very large displays as well as mobile phones. With the relatively large number of sprites using p5js-svg would be infeasible. But being able to use one SVG file per sprite (or rather one set of svg

[2022-09-01 16:00] davepagurek commented on #5779
This is a valid concern! If we want to add parameters before the success/failure callback, we'll have to overload the `loadImage` method to support multiple signatures so that we don't disrupt existing code. [`loadModel` does this](https://p5js.org/reference/#/p5/loadModel) so one could reference how the source for that to see how to implement it.

No problem, welcome 🙂

[2022-09-01 16:47] davepagurek commented on #5779
Whether or not it's worth it to add another class is a separate question, but if we do support SVGs as a separate object type from images, we could add a `.toImage(width, height)` to them to convert.

Here's a proof-of-concept sketch of what it could look like drawing an SVG at arbitrary resolutions and getting it as a p5.Image: https://editor.p5js.org/davepagurek/sketches/pfJuINokH

[2022-09-01 18:45] Qianqianye commented on #5778
Thanks @ggorlen. I am adding the DOM stewards @outofambit, @SarveshLimaye, @SamirDhoke to this discussion.

[2022-09-01 18:58] Qianqianye commented on #5776
Thanks @ggorlen. I am adding the DOM stewards @outofambit, @SarveshLimaye, @SamirDhoke to this discussion.

[2022-09-01 19:35] ggorlen commented on #5364
This is the right idea, but be careful because the `.fill()` value is a single array rather than 10 arrays as you may intend. Changing an element of one will reflect across all 10 subarrays.

I suggest avoiding `fill` in favor of spread syntax and `.map`:

[code]

Full p5 example:

[code]

[2022-09-02 04:51] SamirDhoke commented on #5776
Thanks @Qianqianye for adding me to this discussion. @ggorlen I want to understand whether we want to add two options with same name and value when called select.option() twice or just replace the value of the existing option, if any ?

[2022-09-02 05:40] ggorlen commented on #5776
Well, the existing approach is to change the value of the existing option, which seems to have originally been discussed in https://github.com/processing/p5.js/issues/1554 and implemented in https://github.com/processing/p5.js/pull/1969.

I responded to that pull [here](https://github.com/processing/p5.js/pull/1969#issuecomment-1233335364) explaining that the design choice seems to lead to various

[2022-09-02 10:30] Sefatopcu opened #5783 "p5.js beginner. loadPixels() function is not working with the image"
### Topic

0

I want to make an artwork with p5.js but there is a problem with the code that I couldn't solve. I want to learn specific color percentage of an image. The code works well at the background() function but it is not working with the image. I really appreciate the help. Thank you already!

'''
[code]

This version is working with the background. let a;

[code]

But result of the second

[2022-09-02 17:54] #5364 closed

[2022-09-02 20:30] #5776 closed

[2022-09-03 03:37] SamirDhoke commented on #5776
Yes. sorry i didn't see the pull request first, it's one of my very first contribution conversations. Thanks for pointing out the links, it helped me to understand the solution.

[2022-09-03 17:36] trifoilarity opened #5785 "TextAlign([any], CENTER) does not forcibly wrap text inside of the text block, and the text will spill outside of it"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Version 1.

[2022-09-03 19:26] davepagurek commented on #5785
I wonder if the screenshot in this issue is actually the expected result: text wrapping is just based on the text width (we don't try to break text into columns to fit vertically) and the text is too long to fit in the box, so this seems like the correct output.

If I wanted to clip to the box, there are alternate methods one can use (maybe these can be more easily accessible?) such as `drawingCon

[2022-09-03 19:37] KUNWAR-DIVYANSHU commented on #5783
The code is working after slight modification.

Tips :

+ Instead of i++ for increment use **i+= 4** to go to next pixels as 1 pixel have 4 values.
+ You are checking with an  **rgba color with value (84 , 84 ,84 ,255)** that might be not present at all in the image.
+ Avoid redeclaring variable .

Here is the complete code for your reference https://editor.p5js.org/kdivyanshu3/full/apBfzw-F2

[co

[2022-09-04 06:52] dhowe commented on #5785
I think the basic issue here is that the alignments are not working consistently when a bounding box is specified (and the behavior does not match the docs):

CENTER/TOP:
<img width="238" alt="image" src="https://user-images.githubusercontent.com/737638/188301236-5ad57ec6-ee01-4a09-9779-962ea42ebfff.png">

CENTER/CENTER:
<img width="222" alt="image" src="https://user-images.githubusercontent.com/7

[2022-09-04 07:13] dhowe commented on #5688
We should update the docs and specify valid versions for node, as the build fails with the current (v16.x) version (though my error is a bit different than @ffd8's).

[2022-09-04 07:24] dhowe commented on #5688
Perhaps this should be a separate issue but I get a failing test when trying to build the current sources:

[2022-09-04 10:18] limzykenneth commented on #5688
Judging on the activity (or lack thereof) on the issue linked on npm it doesn't seem likely this will be fixed any time soon if ever. I'm currently working on the contributor docs and will likely include this info there but for longer term we probably need alternative documentation solution.

Probably better as a separate issue, could be a performance or bottle neck problem.

[2022-09-04 20:13] Sefatopcu commented on #5783
Thank you so much! It solved!
It didn't work at first but I figured out the issue. It's the file format. After I changed it from jpg to png It worked really well. Thanks again!

[2022-09-05 19:41] #5783 closed

[2022-09-05 20:52] #5118 closed

[2022-09-05 22:39] trikaphundo commented on #5779
Hello @davepagurek, in response to a previous comment of yours here

You might be interested in my [latest comment](https://github.com/processing/processing-website/issues/314#issuecomment-1237454050) in that issue. I have ported those examples to P5js, with the aid of Paperjs library, and you might find interesting some of the reasons why I decided to use that library over others.

The bottom lin

[2022-09-06 08:23] captainbrosset opened #5786 "Make the p5.js editor a Progressive Web App (PWA) so it can be installed on desktop operating systems"
### Increasing Access

PWAs can be installed on supporting operating systems (Android via Chromium-browsers, iOS using the "add to homescreen" feature, desktop OSs using Chromium-browsers). Installing a PWA locally means you get an icon and the website that got installed looks and feels like an app.

On desktop, in particular, being able to install the p5.js editor would increase re-engagement wit

[2022-09-06 09:47] captainbrosset commented on #5786
I'm planning to spend a few days in September to hack on this idea.

[2022-09-06 11:04] limzykenneth commented on #5786
Hi @captainbrosset, this is the repository for the p5.js library while the web editor is maintained in a different repository. You should file this issue in the web editor repo instead. Thanks.

[2022-09-06 11:04] #5786 closed

[2022-09-06 12:18] captainbrosset commented on #5786
Ok, sounds good. Here is the new issue: processing/p5.js-web-editor/issues/2060

[2022-09-06 14:39] davepagurek commented on #5779
Thanks @trikaphundo! It looks like [paperjs loads SVGs into their own internal data structure](https://github.com/paperjs/paper.js/blob/develop/src/svg/SvgImport.js) so that they can manipulate them render them to the canvas. This would also be cool, and would mirror Processing's `PShape` more, although it would be a much larger change for p5.

I'm ok with a compromise solution where we only let y

[2022-09-06 18:45] Qianqianye commented on #5785
Thanks @trifoilarity @dhowe @davepagurek. It's fixed in #5787.

[2022-09-06 18:45] #5785 closed

[2022-09-07 02:34] dhowe commented on #5785
@Qianqianye I'm not sure if we have a unified way of handling warnings, but in the case of text(), the second two parameters are each specified as optional, but it is not clear from the docs that in _some_ cases the 4th is required when the 3rd is included. In the PR linked above, I've added warnings for such cases, but I'm not sure that this is the best approach...

For example:
[code]

[code]

[2022-09-07 05:22] dhowe opened #5788 "Test failing in current build"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

NA

### Op

[2022-09-07 13:34] xrcyz commented on #5697
I'd like to have a crack at this, if it's okay with all?

[2022-09-07 14:07] davepagurek commented on #5697
Thanks @xrcyz! I've assigned this to you.

[2022-09-07 17:04] davepagurek opened #5790 "Connected strokes in WebGL mode"
### Topic

In WebGL mode, strokes don't have joins or caps. This leads to some ugly results, e.g.:

<table>
<tr>
<td>

[code]

</td>
<td>

![image](https://user-images.githubusercontent.com/5315059/188937331-c287d1bc-4916-47a6-9b74-7ad166e154dc.png)

</td>
</tr>
</table>

It would be great to connect these strokes in WebGL mode too. The dofficulty would be for 3D shapes, when there might be more t

[2022-09-07 20:05] limzykenneth commented on #5788
@dhowe Can you share your node.js and npm versions as well? Does it always fail on the same test case?

[2022-09-08 00:37] davepagurek commented on #5790
I was thinking that maybe we can add some join triangles between adjacent edges if the edges share a vertex. This would mean that 3D geometry like `sphere()` don't get many joins as they don't have many end-to-end edges, but shapes drawn with `bezierVertex` would get joins. The joins are nothing fancy, just two triangles connecting the end of the previous edge to the end of the next edge. Proof-of

[2022-09-08 08:27] dhowe commented on #5788
Not sure if there was an update, but I no longer see this problem

[2022-09-08 11:48] limzykenneth commented on #5788
Don't think there's an update recently. I'm working on the build and release process at the moment and I'll see how much I can optimize and streamline things. I'll close this for now but if you encounter this problem again and can isolate it, comment here and I'll reopen.

[2022-09-08 14:52] limzykenneth opened #5791 "Library build and dependencies refactoring"
### Topic

As part of a refactoring of the build and release process, there are some options that may need some discussions on related to some discussions around the implementation of `saveGif()` @jesi-rgb has been working on.

1. UglifyJS that we are using now is UglifyJS2 which does not support ES6 and later syntax. We'll need to replace it with either UglifyJS3 or terser. I'd personally prefer

[2022-09-08 15:13] jesi-rgb commented on #5791
I believe the last tag @/endu is not correct, you probably meant @endurance21! Careful with that!

[2022-09-08 15:22] limzykenneth commented on #5791
Thanks, corrected. Github autocomplete failed me :smile:

[2022-09-08 20:22] davepagurek opened #5793 "blendMode() not working in WebGL mode"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

Firefox 10

[2022-09-08 20:26] davepagurek commented on #5793
It looks like manually calling `drawingContext.enable(drawingContext.BLEND)` fixes this. Maybe something should be setting this internally

[2022-09-08 22:41] Qianqianye commented on #5791
Thanks @limzykenneth and @jesi-rgb. I am adding the Build Process stewards @outofambit and @kungfuchicken to this conversation.

[2022-09-09 08:05] endurance21 commented on #5791
I think the one of the  main issue we encountered was with
"Static-fs", plugin that we are using.

This plugin is necessary to read the content of file and make it available inline while bundling.

If I am not wrong that plugin works with "babelify", so if we are intending to go with
Bundling ----then---transpiling , we would need to figure out the way static-fs will work.

Also some third party l

[2022-09-09 12:07] davepagurek commented on #5790
Update: I was looking into what it would take to just fully support stroke joins + caps in WebGL mode, and I found I could handle all stroke caps but not all joins. I've updated the above sketch, which supports all stroke caps and uses `BEVEL` stroke joins.

Basically I'm hoping for the following in an ideal solution to caps+joins:
- Doesn't dramatically increase the number of vertices being drawn

[2022-09-09 15:23] limzykenneth commented on #5791
static-fs is basically replacing something called brfs when it is implemented, they both do the same thing which is replacing the fs calls to be inline content. `brfs` is also a browserify transform so it will be running before bundling and so won't affect node_modules code.

[2022-09-09 17:01] dhowe commented on #5791
In addition to supporting current syntax, would be great to improve the build time (with, fore example, `$ npm run dev`)
This is currently so slow as to make development rather painful (at least on my system)

[2022-09-09 17:08] dhowe commented on #5788
Ok, so this occurs consistently with node v 16.x at least (though it may be that we want to direct users away from this release):

[code]

[2022-09-09 17:28] limzykenneth commented on #5788
I think I may know what it is but I should have already fixed it...but in any case node 16 causes problems with `npm install` as well (or rather `npm` bundle with node 16 causes problems), so it just adds another problem we need to resolve for node 16 :disappointed:

[2022-09-09 19:05] limzykenneth commented on #5791
This (specifically the browserify:dev task) is currently so slow (close to 30 seconds on my system) as to make development rather painful

Ah yes, there's some findings on that as well. The two most notable things that takes the most time are
1. The actual bundling (which currently includes babelify) of the library, ie. taking all the source and dependencies and put them into one file.
2. Prettier

[2022-09-10 21:38] Qianqianye commented on #5793
This might also relate to issue #4562

[2022-09-11 15:53] stalgiag commented on #5739
When thinking about accessibility with the GL Renderer, I think about people who are coding 3D graphics for the first time and I also think of people who are contributing to a 3D graphics library for the first time. As you said @davepagurek, this PR doesn't break anything but it does add code that wouldn't make sense to a contributor unless it was understood that we support modification of p5.Geom

[2022-09-11 18:12] davepagurek commented on #5790
Another update: I got a suggestion from someone on Twitter to try basically always doing a MITER join and then using the fragment shader to discard pixels if the mode is set to ROUND or BEVEL. This actually works pretty well! Example sketch here: https://editor.p5js.org/davepagurek/sketches/vCasLHjlT

Some things to note:
- The rounded or cut off edges in `ROUND` or `BEVEL` modes are not antialias

[2022-09-11 18:18] #5793 closed

[2022-09-11 20:05] ianstormtaylor commented on #5670
Really disappointing decision IMO—I think P5.js should strive to pave over these rendering layer differences for use cases as common as dashed lines.

@golanlevin I respect your write up, but the reasoning doesn't really make sense to me. It's like arguing that there shouldn't be a `rect` function because you can just use four lines. Or that there shouldn't be `circle` because it would "short-circ

[2022-09-11 21:33] golanlevin commented on #5670
@ianstormtaylor Thanks for your response. I do **100%** agree with you that dashed lines feel like a "basic" thing.

But I disagree that they're as simple as four-lines-make-a-rect in their actual implementation. Unlike a rect or circle, there's a lot more possible parameters needed to control them (from the front end) and a lot of computational geometry choices to render them (on the back end) —

[2022-09-11 22:29] ianstormtaylor commented on #5670
@golanlevin I understand your response, and I agree with you that there are many different ways that dashed lines can be complex-ly defined… People could want every other dash to be rounded, or every fifth dash to be slightly translucent, or dashes to maintain a consistent gap while rounding a curve, etc., etc., etc.

That doesn't mean P5.js needs to throw out the simple case, which solves 90% (or

[2022-09-11 22:43] golanlevin commented on #5670
If p5 can indeed delegate dashed lines to the Canvas API, then (FWIW) I've come around and agree that you're right that dashed lines should eventually be implemented into the core. Your proposed API makes sense, too.

Questions remain about the extent to which the p5 WebGL needs to mirror the Canvas implementation. Would its dashes need to resemble the Canvas dashes _exactly_? I'm also having a ha

[2022-09-12 02:00] davepagurek commented on #5670
Just throwing in my two cents about the technical side of things: I think delegating to the Canvas API in 2D mode should be feasible as I believe we are already drawing everything in one `beginPath()`/`stroke()`.

WebGL lines already don't mirror 2D, so I think matching exactly isn't doesn't need to prevent adding this if it's plausible we can get something similar working eventually. It definitel

[2022-09-12 03:29] ianstormtaylor commented on #5670
@golanlevin thanks for keeping an open mind! I really appreciate it.

[2022-09-12 04:10] golanlevin commented on #5670
@ianstormtaylor you bet. Though I'm still not sure what happens with more complex types of graphics, such as polylines, when dashing is delegated to Canvas....

[2022-09-12 22:12] ChristerNilsson commented on #1873
I found a nice solution:
[code]
https://www.reddit.com/r/p5js/comments/jo7ucf/clicking_on_a_translated_scaled_and_rotated_shape/

[2022-09-13 14:48] davepagurek commented on #5753
For now, you can ignore it, it's FES misreporting it as a reserved function.

If someone wants to make a PR to fix this, I believe they would need to update this line to only include _some_ p5 prototypes instead of all of them:
https://github.com/processing/p5.js/blob/194c0dc472e6eeea1f3460d850b5680772eb7123/src/core/friendly_errors/sketch_reader.js#L305

I think maybe just `p5`, `p5.Renderer`, `p

[2022-09-14 09:36] mishaushev commented on #5753
But what to do if the code doesn't run cause of the issue? How can I ignore it?

[2022-09-14 11:02] limzykenneth commented on #5791
While trying to clean up the build some of the existing dependencies we have, mainly polyfills, are supported by all our stated browsers except for Opera Mini. I had a quick look and found that Opera Mini supposedly doesn't run Javascript locally, which makes me doubt that it works with p5.js at all regardless of if we include the polyfills or not.

I can't test this as I don't have an Android dev

[2022-09-14 11:58] davepagurek commented on #5753
Does it go away if you use `p5.disableFriendlyErrors = true`? https://p5js.org/reference/#/p5/disableFriendlyErrors

[2022-09-14 12:53] limzykenneth commented on #5753
@mishaushev FES warnings does not cause the sketch to halt, it merely prints the message to console. If your code is halting there probably is another problem causing an actual error.

[2022-09-14 13:36] davepagurek commented on #5791
I just tried it out. It looks like in the default mode, it still runs local js for canvases. If you change the settings to "Extreme Savings Mode", I think in that case it runs no local js, and all canvases break.

[2022-09-14 15:20] stevensrmiller opened #5801 "Extracted files from p5js.org downloads all have zero bytes."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

1.4.1

### Web browser and version

105.0.5195

[2022-09-14 15:22] stevensrmiller commented on #5801
Sorry if this is a duplicate. I see that the same problem is discussed here: https://discourse.processing.org/t/sketch-download-from-web-editor-zip-file-corrupt-crc-error/38366, with a comment that it is a reported bug, but I could not find the bug report here.

[2022-09-14 16:04] davepagurek commented on #5801
Hi! I think the reason why you couldn't find it is because it's in another repo 🙂  Here's the issue so that you can track it: https://github.com/processing/p5.js-web-editor/issues/2038

I'm going to close this issue to keep things organized but feel free to continue the discussion in the one on the web editor repo!

[2022-09-14 16:13] stevensrmiller commented on #5801
Thanks, I'll do that.

[2022-09-14 22:00] limzykenneth commented on #5791
I guess we'll leave it for now in that case. I'm going to have another go at trying to remove prettier and whether I manage to or not, #5792 should be ready for review and merge by then.

[2022-09-15 13:23] #5720 closed

[2022-09-16 00:59] davepagurek commented on #5720
@all-contributors please add @TetroGem for idea

[2022-09-16 11:59] Trimad commented on #3005
This is still a problem 😐

[2022-09-16 15:30] TetroGem opened #5805 "Add an overload to image() for using fitting arguments without cropping"
### Increasing Access

Many people may never need to use the cropping functionality of image(), so allowing them to use the fitting arguments without needing to include 4 extra parameters (which would always be 0, 0, img.width, img.height) will help increase accessibility to this new feature and make it easier to read and use within sketches.

### Most appropriate sub-area of p5.js?

- [ ] Accessi

[2022-09-18 09:28] xrcyz commented on #5697
Looking for some feedback!

In the original ticket, the pixel translation and color offset is expected behaviour. The canvas has an odd height after applying `pixelDensity`, so the index `halfImage` starts writing halfway through a row (and halfway through a pixel, if the width is also odd).

However, there is still weird behaviour if you do something like `createCanvas(200,200.25); pixelDensity(1

[2022-09-18 21:14] #3806 closed

[2022-09-19 00:26] davepagurek commented on #5697
To weigh the pros and cons:

Pros:
- If we don't do this, we might cause some math to be off when accessing `pixels` if they assume that `width * pixelDensity()` is the full width
- The values we report are more accurate to the underlying data, so it's clearer what's going on when trying to align to integer pixels

Cons:
- When you read back `width` after setting it, you could get a different numb

[2022-09-19 13:45] #5791 closed

[2022-09-19 17:27] aceslowman opened #5807 "3D quad(), triangle(), are broken"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

105.0.5195

[2022-09-19 20:27] kjhollen commented on #5807
to clarify, there is code in the webGL renderer that already draws these shapes! when Austin and I were debugging one of his sketches this morning, there were some friendly error messages in the console suggesting that triangle() had 9 arguments instead of the expected 6. I think the friendly error system is not accounting for webgl mode and throwing errors for code that should work. I'm going to

[2022-09-20 23:58] iwantfoodzz opened #5808 "The method keyIsDown() does not work with or || statements."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

_No response_

### Web browser and version

Go

[2022-09-21 02:42] javiert01 commented on #5808
I don't think this is a bug since the `keyIsDown` function expects as param a `Number`. The expression "38 || 40" will return the number 38 and that's why it is only working for the up arrow key. If you want to make it work with an or statement or any other logical operator you should use it like this:
[code]
Hope this helps!

[2022-09-21 08:36] #5808 closed

[2022-09-21 21:33] EliRockenbeckAmericanEdu opened #5809 "Did you just try to use p5.js's cos() function? If so, you may want to move it into your sketch's setup() function"
### Topic

I've seen there's been a similar issue in the past with the noise() and random() functions. This error is giving when running on https://editor.p5js.org/

[2022-09-21 23:11] Qianqianye commented on #5809
Hi @EliRockenbeckAmericanEdu. Can you provide a code snippet or a p5.js web editor link that illustrates the issue? Thanks!

[2022-09-21 23:16] Qianqianye commented on #5805
Thanks @TetroGem. I am inviting the Image Stewards @stalgiag, @cgusb, @photon-niko, @KleoP, as well as @davepagurek to this discussion. Would love to hear what y'all think. Thank you!

[2022-09-22 00:15] EliRockenbeckAmericanEdu commented on #5809
Absolutely, Attached below

`function setup() {
  createCanvas(400, 400);
}

function draw() {
  background(120);
}

console.log(cos(90));`

[2022-09-22 11:15] limzykenneth commented on #5809
@EliRockenbeckAmericanEdu The FES message is working as intended based on the example code you provided, ie. `console.log(cos(90));` is used outside of `setup()` or `draw()` which means `cos()` isn't available yet. The FES is suggesting moving it into `setup()` where it would be available.

Is there some other behaviour here that you are not expecting?

[2022-09-22 12:02] davepagurek commented on #5805
I think this would be a useful enhancement, which should be fully backwards-compatible since we can use the types in the arguments to determine if fit parameters are being passed or if source size parameters are being passed! We do similar argument type checking for `loadModel`, so there's precedent for something like this. (Although, that one checks for strings vs functions instead of strings vs

[2022-09-22 13:27] Omri-Bergman opened #5810 "bug when use callback in loadShader()"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

v1.4.1

### Web browser and version

	105.0.51

[2022-09-22 14:09] davepagurek commented on #5810
To clarify, is `loaded` never being set to `true`, or is it being set to `true` but the shader isn't valid? If you provide an editor.p5js.org link with your shader, it might help narrow the problem down.

[2022-09-22 14:19] Omri-Bergman commented on #5810
I added to the `console.log("DONE SET UP")` the `load` and I see it is set to `true`.
Also, after a few seconds it raises these errors:
![image](https://user-images.githubusercontent.com/75215794/191771839-f5acd908-a26d-4ce0-8d0f-2c03574baa94.png)

Here is an editor.p5js.org link:
https://editor.p5js.org/omribergman05/sketches/Ac9lnf53WR

[2022-09-22 14:41] davepagurek commented on #5810
Thanks for the example! This is an interesting bug, it seems like `decrementPreload` is causing `setup` to be run again, which triggers it to load again, which reruns setup again, etc.

In the mean time, it looks like the behaviour is correct if you `loadShader` in `preload` instead of `setup`.

[2022-09-22 15:14] Omri-Bergman commented on #5810
In my project I load a buch of shaders so while it's loading I want to run an animation, that's why I can't use the `preload()` and wanted to do it in the `setup()` with the callback.
Do you have any idea what I can do to get over the bug/fix it maybe?

[2022-09-22 15:32] davepagurek commented on #5810
For now, you can copy-and-paste this into your code to override `loadShader`. This is the existing method, but it additionally overwrites `_decrementPreload` with a function that does nothing. It's not a good fix in general but for your project should stop it from looping `setup`:

[code]

[2022-09-22 15:46] Omri-Bergman commented on #5810
thanks for that patch!
why isn't it a good fix in general? e.i what it might cause?
just to know what bugs it may do in my code if I'll use it

[2022-09-22 15:56] davepagurek commented on #5810
Because this disables `_decrementPreload` entirely, it means that if you try to load anything in `preload`, it will never finish preloading. I more long-term fix will check whether or not setup has already been run to decide whether or not to run it again. There's a `_setupDone` variable, so it probably will involve checking that.

[2022-09-24 12:50] AlehAbakshonak opened #5811 "Trouble with multiple using of shape created with beginShape()"
### Most appropriate sub-area of p5.js?

- [X] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2

### Web browser and version

105.0.5195

[2022-09-24 22:03] limzykenneth commented on #5811
The reason this is happening is because calls to beginShape()/endShape()/vertex() etc, monitor the state of the drawing on an instance basis, ie per sketch and not per canvas/graphic. It is somewhat unusual to call beginShape() on one canvas and beginShape() on another canvas before ending the first one, would it not be possible to separate them out like the following?

[code]

We can possibly loo

[2022-09-24 22:31] AlehAbakshonak commented on #5811
Well, the reason is, currently i'm calculating a bunch of vertexes one by one in for cycle and pushing each vertex directly into shape without storing it in array. I can possibly store all vertexes and then pass them into a function, which also will include another parameter with canvas/graphic linked. This function will draw vertexes from this array onto provided canvas.

I know that this is a le

[2022-09-25 01:33] stampyzfanz commented on #5615
I don't know much about software licenses and I am not a lawyer, but based on my rudimentary understanding, they should be kept for both legal and ethical purposes. I know this is a discussion, but there isn't much activity in it and I believe that the premise of my pull request is uncontentious although there are a few things I wasn't sure about that I put in the pull request. I can move them her

[2022-09-25 16:49] limzykenneth commented on #5811
We can look into changing vertex calls to per instance, could take awhile unless someone would like to take a jab at this?

It is a much better solution in my opinion as it clearly separate out different logical concerns in your code (the vertex generation code don't have to worry about the drawing code, vice versa), and in the long term can help with maintaining an increasingly complex codebase.

[2022-09-25 20:51] jellygatorade opened #5814 "Unable to resize (error thrown when canvas is resized) using p5.Graphics off-screen graphics buffer + WebGL"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [X] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

v1.4.2

### Web browser and version

Chrome 10

[2022-09-26 09:33] xrcyz commented on #5697
Okay, had another play with this today.

A better approach might be to floor inputs to `createCanvas, createGraphics` and allow an optional `pixelDensity` parameter in `resizeCanvas`, to support edge cases like `resizeCanvas(100.25, 100.25, pixelDensity = 4)`.

[code]

It is worth noting there are tripwires for the player whichever way you set it up: the player either has to floor the inputs to `r

[2022-09-26 10:18] limzykenneth commented on #5670
I'm reopening this for further discussion from other members of the community and the relevant area stewards. Feel free to hash out some implementation details such as defaults and customisability.

One note from me is that it is good to keep in mind that p5.js don't have to be the first and last thing a beginner coder learn and use, I'd personally much prefer that p5.js can gently lead learners t

[2022-09-26 20:07] davepagurek commented on #5814
Thanks for catching this! This is happening because `p5.Texture` handles updates to `p5.Graphics`, but you're making a texture out of the main canvas via a `p5.Renderer`. I'll add that case into the code and add some tests.

[2022-09-26 20:38] davepagurek commented on #5697
I like this approach, both for `resizeCanvas` and `createCanvas`, as it also lets you create the right size of underlying canvas in one go instead of doing effectively two resizes (first to get the target width/height, then a second time to get the right pixel density.)

How do you feel about an API like this, to preserve backwards compatibility and give us the ability to add more options in the f

[2022-09-26 20:39] #5814 closed

[2022-09-26 20:42] Qianqianye commented on #5809
Thanks @EliRockenbeckAmericanEdu and @limzykenneth. I will close this issue for now for organizational purpose. Please feel free to reopen it if there's any unexpected behaviour you'd like to share, @EliRockenbeckAmericanEdu. Thanks.

[2022-09-26 20:42] #5809 closed

[2022-09-26 20:43] Qianqianye commented on #5807
Thanks @aceslowman and @kjhollen. I'm adding the FES stewards @outofambit, @almchung to this discussion.

[2022-09-26 20:48] jellygatorade commented on #5814
@davepagurek Thanks for your response! Glad I could help. 😊

I think I have uncovered one more (probably separate?) issue with using `p5.Graphics` so I will open another issue when I get the chance to write it up later on. Cheers!

[2022-09-27 01:36] jellygatorade opened #5817 "p5.Graphics off-screen buffer in WebGL mode appears blank when using setAttributes("alpha", true); and in Firefox when using setAttributes("antialias", true);"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

v1.4.2

### Web browser and version

Chrome 10

[2022-09-27 12:22] davepagurek commented on #5817
Thanks again for filing this! I haven't looked closely enough to find a cause yet, but I updated your sketch to load p5 v1.4.2 instead of an older version, and found that Chrome also shows the same behaviour if I `setAttributes('alpha', true)`. Not sure why just yet, but I'll look into this one again later today probably!

[2022-09-27 13:40] jellygatorade commented on #5817
Yep, that matches my assessment. Maybe this helps clarify ->

With p5 v1.4.2 and **Chrome** v105.0.5195.127:
- `setAttributes("alpha", true);` causes `p5.Graphics` to appear blank
- `setAttributes("antialias", true);` works as expected
<br/>

With p5 v1.4.2 and **Firefox** v105.0.1:
- `setAttributes("alpha", true);` causes `p5.Graphics` to appear blank
- `setAttributes("antialias", true);` causes

[2022-09-27 13:46] jessssssse opened #5819 "Shaders + Textures appear black on mobile devices"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.1 + 1.4.2 + 1.0.0

### Web browser and ver

[2022-09-27 14:17] jessssssse opened #5820 "Shaders + Textures appear black on mobile devices"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.2 + 1.4.1 + 1.0.0

### Web browser and ver

[2022-09-27 14:19] #5819 closed

[2022-09-27 18:04] aferriss commented on #5820
After looking at this a little bit I think the main issue stems from the call to myImg.copy(). I would stay away from that function for now and instead use graphics objects for rendering a scene to a texture.

I made a small example showing the issue with img.copy(), where a call to background seems to overwrite whatever was in the image.
https://editor.p5js.org/aferriss/sketches/HK9JwerUl

[2022-09-27 18:20] davepagurek commented on #5820
I was able to reproduce something similar on both Firefox and Chrome for android using the p5 example here: [https://p5js.org/examples/3d-textures.html](https://github.com/processing/p5.js/issues/url), but not reliably. I think maybe what I'm seeing is a separate issue from the one @aferriss mentioned, maybe having to do with the loading of the video? I wonder if p5 is trying to create a texture f

[2022-09-27 19:17] aferriss commented on #5820
AH, I also meant to mention that the example on the reference in [https://p5js.org/examples/3d-textures.html](https://github.com/processing/p5.js/issues/url) worked on my Pixel 6 in Chrome. It seems like it could be device specific.

[2022-09-27 21:16] jessssssse commented on #5820
IOS would never work for either case.
Android works some of the time.

Ill try it using a graphics object, but wont I need to use myImg.copy() anyway?
[code]
or are you saying to try:

[code]

I noticed in the example I gave, lowering myImgRez to 512 works some of the time.
are there maximum texture sizes for mobile browsers?

[2022-09-27 23:13] #5810 closed

[2022-09-28 00:46] v-k- opened #5821 "p5.Pvector.div() tries to divide by 0, if the vector was created by createVector(x,y)"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [X] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [X] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.1

### Web browser and version

 	104.0.2

[2022-09-28 16:18] limzykenneth commented on #5821
Hmm...This is a bit tricky. Internally all vectors are represented as 3D vectors and there is no differentiation between 2D or 3D vectors (1D as well), which means creating 2D vector automatically populate the third dimension magnitude as 0. Since `.div()` is element wise division it will cause a divide by zero in this case.

I'm not entirely sure what a good solution will be. We can check that th

[2022-09-28 16:59] davepagurek commented on #5821
A non-breaking way to address this could be to add a `div2` or `div2D` to do 2d vector division, but that feels not quite ideal.

I wonder if we're able to detect when we convert a 2D vector to a 3D one? We could turn the x, y, and z properties of the vectors into getters/setters so that when you set z, it gets auto-converted into a 3D vector. Would that be enough to make it backwards compatible?

[2022-09-28 17:06] aferriss commented on #5820
You shouldn't need myImg at all, using the graphics object is like drawing into a separate textures.

[code]

[2022-09-28 17:59] aferriss commented on #5820
@jessssssse Here's an example using graphics objects similar to your sketch
https://editor.p5js.org/aferriss/sketches/WcJDnM8Nu

[2022-09-28 19:23] v-k- commented on #5821
What if just inside `.sub` if the third parameter is 0 change it for 1 and back to zero after de division? If documented, would that be ok?

Or maybe default z to 1 only in case the vector is created with just 2 params. Again documenting this.

`createVector(1,2)` creates (1,2,1)
`createVector(1,2,5)` creates (1,2,5)

I think mostly it affects who's working in 2D, and who's working in 3D will most

[2022-09-29 11:12] KleoP commented on #5805
Can this also be implemented for blend()?

[2022-09-29 11:37] davepagurek commented on #5805
I think the same approach described here would work for `blend()` too! We should probably make a separate issue for it so that it can be tracked and implemented separately if there's demand for it

[2022-09-29 12:36] KleoP commented on #5805
I'll add it as an issue, after work. A lot of fx(hash) artists use this, almost exclusively with the same size, and I think it would be well-received.

[2022-09-29 13:25] davepagurek commented on #5805
Awesome, thanks!

[2022-09-29 13:45] davepagurek commented on #5821
I think this is likely true for *most* cases, but I wouldn't be surprised if people initialize vectors that eventually get used in a 3D setting without specifying z if they know it'll be 0. This is a thing people do in shaders often, so devs used to GLSL might do that in p5 too. This is just a guess, but if we can avoid breaking those uses, that would be the best case scenario.

Unfortunately I th

[2022-09-30 05:05] stampyzfanz commented on #5649
Quite a lot can be found using a quick search for "console.warn" without all files in the source code. In particular, it occurs regularly in light.js https://github.com/processing/p5.js/blob/4640a269c35d90d2b0e1bf4d712149455e5f4766/src/webgl/light.js#L598-L600
Another way to find lots are to search for "new Error" and "throw new". It occurs in the source code in many ways such as when a browser ha

[2022-09-30 09:36] limzykenneth commented on #5821
My instict here is that there is no deterministic way to do the detection of when `z` gets accessed without false positives.

This solution is not perfect as noted but I think may be the only possible solution short of the larger breaking change of making 2D and 3D vectors separate. I'm not sure how in 3D an element wise division would mean geometrically but there may be a possible argument to be

[2022-09-30 09:52] limzykenneth commented on #5697
I might not be understanding this fully but I don't quite understand the `pixelDensity` parameter passed to `resizeCanvas` here, specifically why do we need it instead of using the `pixelDensity()` function (and the internal value) and does it overwite the pixel density value globally or just for the resized canvas?

In terms of API, using options object argument is not very common in p5.js, so wh

[2022-09-30 10:39] #5778 closed

[2022-09-30 12:59] davepagurek commented on #5697
I think the idea is that, if you're setting the size and pixel density at once, you would know what to round to immediately, instead of having to store the target width/height to use when calling `pixelDensity`. E.g. If you set width/height to 100.5, if you know immediately that the pixel density should be 2, you can use the provided size as-is. If you round the width/height first and only call `p

[2022-09-30 15:59] dhowe commented on #5649
along the same lines, do we have any standard mechanism for warnings ?

[2022-10-05 18:30] rmacnguyen commented on #4596
This doesn't seem to work properly anymore on the latest version of p5js
https://editor.p5js.org/rmacnguyen/sketches/niMPaeWc4

[2022-10-05 19:02] davepagurek commented on #4596
In p5 1.4.1, WebGL canvases were changed to not have an alpha channel by default to get more predictable blending: https://github.com/processing/p5.js/pull/5555

So now you have to manually specify when you want an alpha channel on your WebGL graphic. Try adding this after you create the graphic:
[code]

[2022-10-05 19:11] ibrahimqasim opened #5823 "_downKeys should use event.code rather than depreceted event.which"
### Increasing Access

Currently the keyboard events are stored as numerical values in an object using the deprecated `event.which` property of keyboard events. Accessing them requires the use of built-in constants or having to look up the key code values. Using the `event.code` property is the modern way to access them, and also increases accessibility by making key codes easier to memorize and r

[2022-10-05 19:19] davepagurek commented on #5823
For backwards compatibility, how do you feel about making `keyIsDown` accept either a string or a number, so that existing code passing character codes won't stop working, but one can pass a string to use a more mnemonic name for each key?

[2022-10-05 21:18] ibrahimqasim commented on #5823
That's exactly what I was thinking should work. And the _downKeys map could just include the `event.code` as it wouldn't conflict with the numerical key codes from `event.which`.

Happy to make a pull request if this can be agreed. I'm unsure exactly where else the _downKeys is used.

[2022-10-06 20:49] jessssssse commented on #5820
Thanks Adam!
This ended up working for me.
https://editor.p5js.org/jbass754468546/sketches/k7NCFwzMt

[2022-10-07 00:17] jellygatorade commented on #5817
@davepagurek Amazing, I was just about to start digging back into this issue tonight. Looked back at the thread here and see your pull request. Thanks again for your work on this!

[2022-10-07 00:21] ibrahimqasim commented on #5823
Would `_downKeys` be something that would be used on touch devices? I didn't think that key down was a thing for them, but if that is an issue then could that be handled by including the `event.which` in `_downKeys` as well as `event.code` as it keeps backwards compatibility?

My understanding of the layout issue is that if the physical layout of the keyboard is DVORAK, the key codes will match th

[2022-10-07 00:29] ibrahimqasim commented on #5823
Further from testing on [keycode.info](https://www.toptal.com/developers/keycode):

`event.which`
- ASCII code for key, independent of layout
- Does not differentiate between left or right modifier keys
- Unaffected by capitalization
- Matches input character if using different layouts

`event.key`
- Affected by modifier keys (e.g. shift) or capslock
- Affected by keyboard layout

[2022-10-07 10:12] limzykenneth commented on #5823
Physical keyboards can be attached to those devices (plus other android based devices that has nothing to do with smartphones and tablets) and other potential usage may also be possible so we can't infer physical capabilities from just the OS it is running.

What it means is that the key code from `KeyboardEvent.code` is mapped as if the keyboard is always a US layout keyboard, regardless of the v

[2022-10-07 14:24] ibrahimqasim commented on #5823
I see... It's strange then that there is no alternative for `KeyboardEvent.which` which takes the keyboard layout into account.

I still feel this feature should be considered some time in the future, but clearly there are many more challenges than I first thought! I'll close the issue for now though.

[2022-10-07 14:24] #5823 closed

[2022-10-07 17:47] davepagurek commented on #5823
Thanks @limzykenneth for your research into the details of this!

[2022-10-07 19:00] rmacnguyen commented on #4596
Thanks for the suggestion. I tried updating the sketch, but it still doesn't render the same way as the old version:

[1.4.2](https://editor.p5js.org/rmacnguyen/sketches/niMPaeWc4) vs [0.10.2](https://editor.p5js.org/micuat/sketches/qOAjrWJf9)

[2022-10-07 20:19] davepagurek commented on #4596
You additionally need to call `pg.reset()` at the start of each frame if you want to clear the depth information. I haven't found the discussion yet where that was changed, but it may have been related to the fact that graphics don't auto-reset anything each frame any more, in case you want to keep building up the existing scene. Arguably `background` could do this automatically though, feel free

[2022-10-07 23:43] davepagurek commented on #5820
@aferriss I think in this example, the issue is that when you don't specify a source image in `.copy()`, it assumes it's copying from itself, so your sketch is copying an empty image to itself. If you pass the canvas in, it looks like `copy` works as expected: https://editor.p5js.org/davepagurek/sketches/UvcoAcpdd

If I ever need a full copy as a P5.Image instead of a p5.Graphics (mostly for perf

[2022-10-08 00:16] davepagurek commented on #5820
One more update! @jessssssse, in your [p5 editor example](https://editor.p5js.org/jbass754468546/sketches/7aG0rrQoy), I also see black textures for the cube on Chrome for Android (but not Firefox.) After connecting it to a debugger, I see this error getting logged:

[code]

It seems like maybe there's just a very conservative texture size limit on some mobile devices. When I set `myImgRez = 200;`

[2022-10-08 23:44] rmacnguyen commented on #4596
Amazing, thank you! Looks much better now.

I initially stumbled across this thread because I was trying to figure out why `background` didn't accomplish the blending like I expected it to, but I'm pretty new to p5js, so I wasn't sure if I was just going about it wrong.

[2022-10-09 18:29] v-k- commented on #5821
As a "fix" to this, in my code, 2D, I set the z to 1 at the constructor only for vector that I'm going to divide by. Although with no practical effects, as I'm not using z anyway, I happen to notice this bad, because when I add the vector to some other z becomes 2...3...4...

[2022-10-09 18:31] v-k- commented on #5821
How do java's Processing deal with it?

[2022-10-10 09:08] limzykenneth commented on #5821
Processing only allows division by a scalar value and no element-wise vector division.

[2022-10-10 20:58] davepagurek commented on #5739
So the goal for this would be to:
- ideally not break existing sketches using geometry
- store geometry data in a format that can be updated more efficiently
- add a method for libraries and users to update that data

A little while ago, @xrcyz helped collect a number of examples in the wild of p5.Geometry, which I've been looking at to research existing usage patterns:

- sayo
  - https://openpro

[2022-10-10 21:33] davepagurek commented on #5821
One possible geometric interpretation: Multiplying two vectors elementwise is applying a linear map from one coordinate space to another (the second vector can be thought of more like a diagonal matrix that you're multiplying the first vector by.) Elementwise division would then correspond to inverting that linear map. For both the forward and inverse to be defined, the map would have to be both i

[2022-10-10 21:40] #5817 closed

[2022-10-13 19:12] limzykenneth opened #5831 "Translators and proofreaders needed for SoD contributor survey"
### Topic

Hi everyone, this is a call for translators and translation proofreaders for a survey I am planning for the GSoD project around contributor documentation. The survey is mainly about the p5.js contributor experience and the plan is to release it around end of October. The survey is about 14 questions long mostly consist of multiple choice questions.

I'm seeking contributors who are flue

[2022-10-13 20:09] Qianqianye commented on #5831
Thanks Ken for initiating the contributor survey.  If you are interested in translating/proofreading the survey to Chinese, Korean, Hindi, Japanese, Spanish or Arabic, please leave a comment here with the language you are interested in translating/proofreading and contact Ken via email. Thank you!

I am also pinning the translation stewards to this issue.
| Language | Steward(s)                |
|

[2022-10-14 08:43] SableRaf opened #5832 "`we need to use a Uint32Array instead of a Uint32Array` in `src/webgl/p5.RendererGL.Retained.js` comment"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

n/a

### Web browser and version

n/a

### Ope

[2022-10-14 13:02] #5832 closed

[2022-10-16 16:49] billythemusical opened #5835 "Download from p5 web editor produces blank text files"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

1.4.1

### Web browser and version

106.0.5249

[2022-10-16 16:52] billythemusical commented on #5835
Oops moving this to the p5-web-editor issue [#2068](https://github.com/processing/p5.js-web-editor/issues/2068)

[2022-10-16 16:53] #5835 closed

[2022-10-17 00:51] garciadelcastillo commented on #3153
I believe this issue is still happening...

[2022-10-17 02:28] linqianxuan commented on #5805
Hi, I would like to work on this issue, if it's okay?

[2022-10-17 06:20] Qianqianye commented on #5805
Thanks @linqianxuan, I just assigned this issue to you. Please go ahead with a fix. Thank you!

[2022-10-17 06:21] #5631 closed

[2022-10-18 04:57] almchung commented on #5831
Hi Kenneth, I'll be happy to do proofreading (Korean). Let me know if there's anything more to help.

[2022-10-18 13:34] SableRaf opened #5836 "Implement window methods from Processing4"
### Increasing Access

Maintain parity with the Processing API

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

#

[2022-10-18 13:37] SableRaf commented on #5836
Here's how the `windowRatio()` method (and its associated variables) could work in p5.js ([live demo](https://editor.p5js.org/SableRaf/sketches/p8NVMN0TF
)):

[code]

[2022-10-18 14:03] davepagurek commented on #5836
ooh nice, this handles some pretty common uses in displaying sketches!

Does Processing have any hook for the sketch to be notified when the canvas changes size? e.g. if it got bigger and now you want to recreate a graphic to match the new canvas size, what's the Processing way to do that?

[2022-10-18 14:41] limzykenneth commented on #5836
Some of the functions don't have available or useful API in the browser for us to get the relevant information:

* windowResize(): [`window.resizeTo()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/resizeTo) can only be used on window opened with `window.open()` and cannot work on window with multiple tabs, so not very practical.
* windowResizable(): Same problem as above so not very pr

[2022-10-18 17:56] davepagurek opened #5838 "Distinguish contours in textToPoints"
### Increasing Access

Currently, `textToPoints` returns a flat array of points. For some use cases, this is sufficient, but it makes it difficult to draw closed shapes without artifacts. The example in [the p5 docs](https://p5js.org/reference/#/p5.Font/textToPoints) illustrates the problem:
![image](https://user-images.githubusercontent.com/5315059/196491183-9617e93a-3d3f-4497-b927-1d14058c96a5.p

[2022-10-18 18:26] SableRaf commented on #5836
It does now with `windowResized()` 😀

@limzykenneth: that makes sense! Thanks for the feedback.

[2022-10-18 18:42] davepagurek commented on #5836
Ah right, makes sense!

[2022-10-18 19:06] dhowe commented on #5838
see also: https://github.com/processing/p5.js/issues/4086

[2022-10-18 19:11] davepagurek commented on #5838
Aha, thanks for bringing that one up! I'll close this and move discussion over to the other.

[2022-10-18 19:11] #5838 closed

[2022-10-18 19:28] davepagurek commented on #4086
Hi, I'm moving some discussion here from another issue!

As someone who uses Typescript bindings, option 2 would have the benefit of being more easily typed (there are type overloads that one can use, but it means typing of the options argument would be required.) That said, TS support shouldn't be the priority, so I'll defer to someone else for picking between the two. @ffd8 thanks for writing yo

[2022-10-19 04:40] aceslowman opened #5840 "Add 'willReadFrequently' option to certain getContext('2d') calls"
### Increasing Access

Making canvas operations more performant would make sketches run better on mobile and lower-end hardware, which would make some sketches more feasible to create on lower-end hardware or mobile devices.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
-

[2022-10-19 12:04] davepagurek commented on #5840
In the most recent p5 release (1.5.0), `tint()` no longer uses image data, so at least that particular warning should go away (and it should be faster!) https://github.com/processing/p5.js/pull/5471/files

This may still be beneficial for other sketches that `load/updatePixels` often though.

[2022-10-19 21:12] calebfoss opened #5842 "angleMode() returns undefined with not passed any arguments"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.1

### Web browser and version

Chrome 106

[2022-10-19 21:15] oscarczer commented on #5675
Is anyone currently working on this? If not I might have a crack at implementing the finite/infinite checking aspect

[2022-10-19 21:39] Qianqianye commented on #5675
@oscarczer Please go ahead with a fix! Thanks.

[2022-10-19 23:19] ffd8 commented on #3153
@garciadelcastillo Indeed – just ran into this, searched and stumbled across this old issue with your brand new comment. [Here's a mini-example](https://editor.p5js.org/ffd8/sketches/ZKFzcHIxB) showing the issue.. using `capture.get()` all the time is ok, but the minute it's within an if statement, the capture stops when that if statement is false... weird.

[2022-10-19 23:28] garciadelcastillo commented on #3153
Yup, I assume `get()` does pixel loading within the function.

The issue [can be bypassed](https://editor.p5js.org/garciadelcastillo/sketches/fuSAIioJQ) if you `loadPixels()` every frame, but adds the overhead...

[2022-10-20 02:12] spikyMalkallam commented on #5750
Hi I've started working on this, could I get it assigned?

[2022-10-20 02:49] JoeCastor commented on #5684
Hi, I will be working on this issue!

[2022-10-20 05:00] xinranyu-yuki commented on #5646
Hi, can I please take this issue?

[2022-10-20 11:56] davepagurek commented on #5750
Thanks @spikyMalkallam! I've assigned this to you.

[2022-10-20 12:08] xinranyu-yuki commented on #5718
Hi, can I take this issue?

[2022-10-20 12:09] davepagurek commented on #5684
Thanks @JoeCastor, I'm assigning this to you!

One small heads up: The change described in the issue will fix the frame rate issue, but the `deltaTime` property also uses `_lastFrameTime`, so we might need to introduce a new property rather than changing `_lastFrameTime` in order to not change how `deltaTime` behaves.

[2022-10-20 12:23] davepagurek commented on #5842
Hi! I think this issue might be resolved in newer versions of p5. I copied your code into a p5 editor sketch here: https://editor.p5js.org/davepagurek/sketches/O21HMKpYa At first it got the same output as you mentioned, but after changing `index.html` to load p5 1.4.2 instead of 1.4.1, I see the correct output again. Does that also work for you?

[2022-10-20 12:40] davepagurek commented on #5836
I think fitting to the page like that would be very useful for both the p5 editor and, in general, embedding p5 in an iframe and having it adapt to the size it's displayed at.

Do you think `windowRatio` makes sense without the CSS you've added to center it on the page? I think that's a common use case and probably worth handling if we can make it work, but I wonder if it would still work generall

[2022-10-20 13:09] davepagurek commented on #1293
My suggestion is a little different, as it isn't *just* a P5.Color it waits on, but also P5, since you wouldn't be able to use the color anywhere before then anyway.

Another suggestion: store the color parameters that you would like to turn into a p5 color, and lazily create it once you have an instance:
[code]

Potentially it could use all default values if there's no p5 instance, but I could al

[2022-10-20 14:39] davepagurek commented on #5684
Thanks @silverslither, good point, we should test for that too! @JoeCastor let me know if you need any pointers on how to set up unit tests for behaviours like that.

[2022-10-20 15:55] SableRaf commented on #5836
That's a good question! In a previous sketch I did it like so:

[code]

Alternatively that could be in the example for `canvasRatio()` instead of part of the method itself since not everyone will want this css added to their document's body.

[2022-10-20 16:27] TornadoMC2 commented on #5842
It looks like this was already fixed in #5682 and the website just hasn't been updated to default to that version of p5

[2022-10-20 16:51] davepagurek commented on #5842
ok great! I'm going to close this now for organizational purposes but feel free to open this up again if there's anything we missed or if this comes up again!

[2022-10-20 23:41] #5820 closed

[2022-10-20 23:56] Qianqianye commented on #4801
Thanks @limzykenneth for writing the [steward_guidelines.md](https://github.com/processing/p5.js/blob/main/contributor_docs/steward_guidelines.md), which outlines the [Pull Request](https://github.com/processing/p5.js/blob/main/contributor_docs/steward_guidelines.md#pull-requests) process for different use cases. I will close this issue for now for organizational purpose. Please feel free to reope

[2022-10-20 23:56] #4801 closed

[2022-10-21 23:31] Qianqianye commented on #5718
Thanks @xinranyu-yuki. Just assigned you to this issue.

[2022-10-22 03:12] shaharyar-shamshi commented on #5831
Hi keneth I will be happy for hindi proofreading. Do let me know how to proceed

[2022-10-22 04:00] JoeCastor commented on #5684
So I had a couple of attempts at this and I'm not sure which one would be preferred.
The first time, I simply changed
`this._lastFrameTime = now;` to
`this._lastFrameTime = max.Math(_this._lastFrameTime + target_time_between_frames, now);`
I did some manual testing with this, and it keeps the frame-rate at 60 when using  above 200Hz, as expected since `_this._lastFrameTime + target_time_between_fr

[2022-10-22 07:14] 3ru commented on #5831
Hi Kenneth, I can help with Japanese translation and proofreading😸

[2022-10-22 10:10] AlexxLeoHansen commented on #5831
Hi Kenneth!
I can help translation and proofreading in Spanish.

[2022-10-22 10:38] vickyyysss commented on #5831
Hey Kenneth!

I can help with translation and proofreading in Spanish.

[2022-10-22 13:10] limzykenneth commented on #5831
Hi @AlexxLeoHansen and @vickyyysss, I would like to ask you two to translate and proofread the survey in Spanish (separately), can the two of you drop me an email at my email address above so we can make an arrangement over email? I can't find your email address on your GitHub profile. Thanks!

[2022-10-22 13:18] tetunori commented on #5831
Hi @limzykenneth and @3ru , I can also help with Japanese proofreading!

[2022-10-22 16:41] #5821 closed

[2022-10-22 17:04] davepagurek commented on #5684
What do you animate the ellipse based on? I think the expected behaviour when you tab back would change based on what you use:
- Position derived from `frameCount`: I think the ellipse should stay in the same place, since no frames have been drawn while in the other tab
- Position derived from `millis()`: I think the ellipse should jump, as time has passed and position is based on time
- Position

[2022-10-22 17:57] CinminC commented on #5831
Hi Kenneth, I can help translation and proofreading in Chinese.

[2022-10-22 18:30] lloydjatkinson opened #5843 "Support width and height of "100%" to make responsive design simple"
### Increasing Access

This would increase access to P5 by following accepted CSS norms and responsive design meaning people don't need to write verbose JS based hacks and workarounds to resize a canvas. When a normal HTML element has it's width style set to "100%" then it simply works as expected: the element takes the full width of it's parent element.

If P5 could support this P5 would **instan

[2022-10-22 19:04] davepagurek commented on #5843
While not directly addressing the problem you describe, if you don't need p5 to get or set information on the rest of your page, you could potentially embed it in an iframe tag and use code like this to make p5 for the iframe:
[code]

But yeah a resize observer would be required otherwise. One other consideration is that this could potentially work as a library first, as it wouldn't need to touch

[2022-10-22 21:50] AladdinX commented on #5831
Hi Kenneth, I can help with translation and proofreading in Arabic .

[2022-10-22 22:06] limzykenneth commented on #5840
`willReadFrequently` when set to true will change the canvas pixels data to be CPU backed instead of GPU backed, while this can speed up reading pixel data from the canvas (by eliminating the need to grab the data from GPU to CPU), it can also cause deterioration of performance in most other areas as a CPU backed canvas tend to be slower than GPU backed ones.

This flag is more for special cases w

[2022-10-23 03:58] Qianqianye commented on #5763
Thanks @tushar5526 @davepagurek @limzykenneth for the discussion. I agree that this will affect many existing sketches, and there are many ways to work around it. I will close this issue for now. Please feel free to reopen it in the future for further discussion, like around the next major release.

[2022-10-23 03:58] #5763 closed

[2022-10-23 04:05] Qianqianye commented on #5753
These seem right to me. Looping in @limzykenneth @almchung to double check. Thanks!

[2022-10-23 09:55] limzykenneth commented on #5753
`p5.TypedDict` has a member method of `size` as well so may want to check that. Some manual test after a fix would help as there may be some that we missed.

[2022-10-23 20:10] Qianqianye commented on #5133
I think we can close this issue now since we have updated the release process. What do you think, @outofambit and @limzykenneth?

[2022-10-23 22:40] Qianqianye commented on #4356
Thank you all for the discussion. I will close this issue for organizational purpose. Please feel free to reopen it another round of conversation is needed. Thanks!

[2022-10-23 22:40] #4356 closed

[2022-10-23 22:47] Qianqianye commented on #4215
I will close this issue for organizational purpose. Please feel free to reopen it if you'd like another round of discussion. Thank you!

[2022-10-23 22:47] #4215 closed

[2022-10-24 04:42] outofambit commented on #5133
yeah i think so! no longer a problem thanks to @limzykenneth! 🙌

[2022-10-24 22:30] Qianqianye commented on #5001
Thanks @ShenpaiSharma and @davepagurek for working on this. The issue is fixed in the 1.5.0 release. I will close this issue, and please feel free to reopen it if I missed something.

[2022-10-24 22:30] #5001 closed

[2022-10-24 22:43] Qianqianye commented on #5440
Thanks @bsondermann!
Inviting some WebGL stewards @davepagurek  @jeffawang  @AdilRabbani to this discussion.

[2022-10-24 23:02] Qianqianye commented on #5728
Yes, we can update the release description. Any suggestions on how to phrase the difference? Thanks!

[2022-10-25 01:13] Qianqianye commented on #4998
We have [removed prettier dependency](https://github.com/processing/p5.js/commit/3b14462c2430ceccb7afccbda126851d303f4cb5), thanks to @limzykenneth. We have also [removed it from vscode extension](https://github.com/processing/p5.js/commit/d3921fd0a09f2b3de3a228ca9c0bdbf5830657ea). So I will close this issue.

[2022-10-25 01:13] #4998 closed

[2022-10-25 03:11] jeff2957 commented on #5831
Hi Kenneth, I can help with translation and proofreading in Chinese (Traditional Chinese if it's needed)

[2022-10-25 08:54] maxgmer commented on #5728
@Qianqianye we can just leave a link to this issue here and add "The p5.min.js artifact below is incorrect. To get the valid p5.min.js 1.0.0, use https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js link"

[2022-10-25 12:00] davepagurek commented on #5684
@JoeCastor I'm happy to take a look if you want! Although typically what I'll do if I run into errors in my tests is to run `grunt yui:dev` to launch a local server from p5, then go to http://localhost:9001/test/test.html?grep=something (replacing `something` with a keyword in your test's name to focus on just that test) and then you can use the debugger in your browser to see the full error, set

[2022-10-25 13:25] limzykenneth commented on #5831
Hi @jeff2957, I would love to do a Traditional Chinese version and if I can find one additional person to do the proofreading while you do the translation I can get that going. However, I'm kinda on a tight deadline though as I want to have the survey out by early November so if we didn't manage it this time we can still look into any of the follow up stuff I have planned that may need translation

[2022-10-25 15:34] raclim commented on #2309
@all-contributors please add @raclim for code

[2022-10-25 22:08] almchung commented on #5675
@oscarczer I agree that `null` and `0` shouldn't be treated the same. In some cases (like seen in `line()`, people will make use of this auto null-to-zero conversion, but this would be much rare (and since this kind of usage will be intentional, people can disregard the error messages).
I have a question though: in the proposed `isNumber()`, when `param`'s type is string, did you intend to check f

[2022-10-26 21:37] oscarczer commented on #5675
@almchung I was under the impression that isNaN(null) returns false as for some reason it is given the type of number (I think actually because of the instance it is able to be turned into 0?). I assumed that this would extent to isNaN("null") as well however I could definitely be wrong about that. Given this, it might also be worth putting a check for null in the first case of the param switch. H

[2022-10-27 00:44] davepagurek commented on #5440
For now, a workaround is to put your code using `texture` within a `push()` and `pop()`.

The culprit is this line, which only draws strokes if we aren't in texture mode:
https://github.com/processing/p5.js/blob/main/src/webgl/p5.RendererGL.Immediate.js#L215

This was added in https://github.com/processing/p5.js/pull/2511, although there isn't discussion specifically about textures in that PR. I a

[2022-10-27 14:28] jsyeh commented on #5831
Hi @limzykenneth  I could do the Traditional Chinese translation or help the proofreading of the translation of @jeff2957 .

ps. I just finish another translation assigned by SableRaf now.

[2022-10-28 03:12] almchung commented on #5675
Javascript can be confusing -- it would be helpful to check their String coercion rules on the official reference [here](https://github.com/mdn/content/blob/main/files/en-us/web/javascript/reference/global_objects/string/index.md?plain=1#L168).

I don't think we will need to add a separate case for checking `null`, since `typeof(null)==object` would follow `default` case where the current code alr

[2022-10-29 21:35] limzykenneth commented on #5831
@jeff2957 If you can drop me an email at my email address above, I can arrange for you to do the proofreading for the Traditional Chinese translation.

[2022-10-31 15:53] comparlimage commented on #5831
What about french translation ?

[2022-10-31 19:30] pcybriwsky opened #5848 "saveGif - Delay Parameter Error in Instance Mode"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

Chrome: 10

[2022-11-01 02:31] LoubiTek commented on #5831
Im French ! :)

[2022-11-01 13:14] davepagurek commented on #5848
I believe after the title and duration, you need to specify an options object with the delay number and the unit. Does this work for you?:
[code]

[2022-11-02 15:34] limzykenneth commented on #5831
Hi @comparlimage and @LoubiTek, thanks for the interest in a French translation of the survey. Currently I'm operating at capacity and we are finalizing the surveys to be release soon so I can't prioritize adding another translation to the survey at this moment.

Additionally for the languages we did choose previously, as listed above, to translate into are primarily communities where we know ther

[2022-11-02 20:23] tyfiero commented on #5843
I came across this issue a while ago. It would be nice to have it do 100% sizes, but I don't think that's how HTML canvases work, unfortunately. To overcome this issue in my project I used this code in my setup function so on page load it sizes correctly, but you could probably add it to a draw function to make resize dynamically.

(Feel free to edit to your purposes, window.innerWidth value shoul

[2022-11-03 02:44] takawo commented on #5831
Hello @limzykenneth @3ru @tetunori. I thank you all for your contributions!
I can also help with Japanese proofreading.

[2022-11-03 18:05] Sillenaj commented on #5831
Hi i can support in proofreading Arabic

[2022-11-03 23:39] ianstormtaylor opened #5849 "P5's `random()` function results in non-random outputs"
I noticed a weird behavior with P5's built-in `random()`, when doing a test of:

[code]

Results in very non-random looking output:

<img width="299" alt="image" src="https://user-images.githubusercontent.com/311752/199852750-b2fb3c90-3e9a-44cc-bf90-732245dd1311.png">

And I compared it with a few other PRNG's that don't seem to exhibit the same issue…

<details>
<summary>Math.random</summary>
<im

[2022-11-04 05:52] ianstormtaylor commented on #5849
This might be a reflection of this phenomenon: (but I'm no expert)

sional random points plotting. … Then we obtain Figure 1. Comparing with Figure 2 generated by MT, one sees a clear lattice structure. This is not because of bad choices of a or c. For any LCG, if it is used for the full period, then the generated points in the unit cube are arranged in a lattice.

Oh, well actually further down i

[2022-11-04 10:24] dkgrieshammer opened #5850 "Local Fonts not Loading on MacOSX"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.1.9 - 1.5

### Web browser and version

Chro

[2022-11-04 10:45] dkgrieshammer commented on #5850
After further investigation it seems the fonts are being corrupted when downloading the folder from  p5js web editor. Seems there is something wrong there

<img width="409" alt="image" src="https://user-images.githubusercontent.com/2266596/199954193-1b66d256-5ccb-4952-a57d-4821113a4d60.png">
### Reproduce (on MacOSX)
1. download example from p5js web editor: https://editor.p5js.org/sojamo/sketches

[2022-11-04 10:54] limzykenneth commented on #5849
I think the problem is exactly as what you have found and is an inherent limitation of the LCG implementation. Depending on whether you need a fixed random seed or not you can use `random()` without setting a random seed which will use `Math.random()` by default.

[2022-11-04 11:52] davepagurek commented on #5850
Thanks for filing this and for your follow-up information! I think you're right about the font file corruption, it looks like your fonts are being corrupted from this bug: https://github.com/processing/p5.js-web-editor/issues/2075

Since it seems that, like you said, the issue isn't p5.js but the zipped download from the p5 web editor, for organizational purposes, I'm going to close this issue. We

[2022-11-04 11:52] #5850 closed

[2022-11-04 12:00] swannekim opened #5851 "Getting Errors in Page build and deployment"
### Topic

I was making a simple page through p5.js.
It showed up on p5.js web editor (https://editor.p5js.org/swannekim/sketches/6v-vdq7xi),
so I downloaded the files via File > Download on the editor,
then uploaded the files on a folder at my Git Repository.

I did the same process last time, and the web page built by GitHub worked out well.
However, there is just <Loading...> sign on a blank pa

[2022-11-04 12:04] davepagurek commented on #5851
It looks like this is a result of this issue with the web editor: https://github.com/processing/p5.js-web-editor/issues/2075

Does this still happen if you copy the text/images files from wherever they first came from on your own computer rather than from the zip download from the p5 editor?

[2022-11-04 12:33] swannekim commented on #5851
It worked after uploading the original files! Thank you so much in helping to resolve the issue :)

[2022-11-04 12:33] #5851 closed

[2022-11-04 14:38] #5849 closed

[2022-11-04 17:50] davepagurek commented on #5849
@ianstormtaylor thanks for filing this issue! I didn't know about this limitation of LCG before, and your visuals are really fun to look at.

[2022-11-04 19:12] davepagurek opened #5852 "Rows or columns of glyph pixels missing at some font sizes in WebGL"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

Firefox 10

[2022-11-05 06:49] ianstormtaylor commented on #5849
@davepagurek thanks! I had no idea either.

Apparently it's also not inherent to all LCG's (at least the `% 2` issue isn't), but it so happens that the super-fast one that P5.js uses is vulnerable to this:

[code]

But if it used [Parker-Miller](https://en.wikipedia.org/wiki/Lehmer_random_number_generator#Parameters_in_common_use) I believe it wouldn't have that specific issue, roughly:

[code]

A

[2022-11-06 17:30] davepagurek opened #5853 "Blending is disabled for WebGL shaders"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

Firefox 10

[2022-11-06 17:39] davepagurek opened #5854 "WebGL blending doesn't always work with transparent textures"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

Firefox 10

[2022-11-06 18:53] davepagurek commented on #5854
Some more details that makes this complicated: In 2D mode, the MULTIPLY blend mode is pretty weird. Anything fully transparent is ignored, and anything partially transparent is blended as if it has 100% opacity. (I wrote [a big blog post complaining about it](https://www.davepagurek.com/blog/p5-tint/) when working on tint(), I can't believe I forgot about that 😅) WebGL text is basically like blend

[2022-11-06 19:14] davepagurek commented on #5854
I made a PR that makes 2D and WebGL work differently. I'll update it if we decide we want to go the other way instead.

[2022-11-07 05:15] #5853 closed

[2022-11-07 05:16] #5854 closed

[2022-11-08 01:04] rodigu commented on #2065
`fget` would be a great feature!

[2022-11-08 19:56] jwdunn1 opened #5857 "Default ambient color incorrect (in v1.5.0)"
### Most appropriate sub-area of p5.js?

- [X] WebGL

### p5.js version

1.5.0

### Steps to reproduce:

1. Version 1.4.2
note the ambient color
https://editor.p5js.org/jwdunn1/sketches/GZTNLHnPd
2. Version 1.5.0
note the absence of ambient color (it's suddenly a black cube)
https://editor.p5js.org/jwdunn1/sketches/Um5DLsasQ
3. Version 1.5.0 with fix, now matches 1.4.2
must set the ambientMaterial

[2022-11-09 13:51] davepagurek commented on #5857
Thanks for filing this! I noticed this issue too, and found I had to add the same `ambientMaterial` call to my code. Your proposed fix of defaulting this to [1, 1, 1, 1] makes sense, if you want to make a PR with the change! Otherwise I can also make the change the next time I get around to doing some p5 dev work.

[2022-11-09 14:21] davepagurek commented on #5740
Unfortunately I think it's a little more complicated than just refactoring into ES modules and classes.

I think it's just functions that don't use any p5 instance state that can be tree-shaken away. `curveTangent` uses no instance state, so it's completely possible to be tree-shaken away if it were an `export function` in a module rather than if it were a method on the p5 class. As far as I'm awa

[2022-11-09 19:16] lloydjatkinson commented on #5740
Lots of excellent points, thank you. You are right, it will be a challenge, but something needs to be done to start the process. Additionally I also found this warning from Chrome - seems many polyfills are being shipped. These polyfills are for features that all current browsers implement. If these are removed a (small) saving could be made. If a user is targeting an old browser they could add po

[2022-11-10 10:19] limzykenneth commented on #5831
Thanks to everyone for the very generous help with this! The survey is now released and I would like to ask all of you for one more help: the survey is now released at [bit.ly/2022p5survey](https://bit.ly/2022p5survey) so please share them widely in your network!

Closing the issue now and I'll share the survey result and its analysis after the survey has concluded.

[2022-11-10 10:19] #5831 closed

[2022-11-10 11:26] mrseoliveira commented on #5719
I'd love to contribute to DOM with some guidance.

[2022-11-11 05:22] #5857 closed

[2022-11-11 20:20] 200275zhx opened #5859 "p5js WEBGL textureWrap can't collaborate with video streaming"
### Topic

I recently created a video streaming sketch with p5js WEBGL. The content of the code is: create video capture, then render it on a cube as texture, and then share it with other clients using this library p5LiveMedia.
When I finish, I try to view the video capture on two different tabs, but the video was not successfully rendered on Chrome. At first, I thought it was a problem with the b

[2022-11-11 20:25] davepagurek commented on #5859
According to the docs, REPEAT only works on images/canvases where the side lengths are powers of two. Does it work if you create a canvas with power-of-two sides?

[2022-11-11 20:45] 200275zhx commented on #5859
No, my video is rendered as a texture on a box(2);, so it's probably not because of that.😂

[2022-11-11 20:50] davepagurek commented on #5859
Sorry, when I said canvas, I mean the canvas for your video. Anything used as a texture with REPEAT or MIRROR is only supported if the texture has power-of-two sides

[2022-11-11 21:20] 200275zhx commented on #5859
😳Thank you for your clarification. In my original code, I used createCapture and didn't set a size for it.
To verify your statement, I just tried to set the size of this video variable to (2, 2), but nothing changed.

[2022-11-11 21:24] davepagurek commented on #5859
Ah ok, it was worth a shot! Would you mind explaining how to edit the sketch you linked to test out the `textureMode(REPEAT)` mode? Just uncommenting that line didn't seem to make a difference, but maybe I also am looking at the wrong things.

[2022-11-11 21:35] 200275zhx commented on #5859
Yes, so I create Capture in sketch.js,
<img width="802" alt="image" src="https://user-images.githubusercontent.com/42470637/201433555-ecd7b5e9-0a28-42d7-9351-b849e314d312.png">

And render it as texture no a box in players.js
<img width="693" alt="image" src="https://user-images.githubusercontent.com/42470637/201433398-9bc91ffa-fdd3-4de5-ba83-841f71a37975.png">

And I call it in draw function when

[2022-11-12 06:42] #5852 closed

[2022-11-13 17:50] #5762 closed

[2022-11-13 18:17] limzykenneth commented on #5843
There are a couple issues related to the actual implementation that are problematic. First is that there could be confusion between the canvas size and the CSS element size which can be different, if we implement it so that the behaviour of the width and height definition matches the CSS element size we lose some flexibility here.

Another problem (also related to the automatic redraw on resize) i

[2022-11-13 22:51] quinton-ashley commented on #5849
I made this sketch based on the 2 ** 28 tessellation that looks like a little pixel fish to me!
https://openprocessing.org/sketch/1736582

[2022-11-16 18:19] DenisovichDev opened #5861 "3D Coordinate Compatibility in `image()`"
### Increasing Access

Unsure

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### Feature enhancement details

C

[2022-11-19 16:05] davepagurek commented on #5514
Bumping this issue because someone else was just asking me about something similar!

Would it be possible to make `background()` and `clear()` also call `reset()` automatically, or at least clear the depth buffer? Are there use cases you all can think of that this would break?

[2022-11-20 21:53] amcc opened #5864 "Microphone input with Safari"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [X] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

15.3

###

[2022-11-20 21:57] davepagurek commented on #5393
I've made a little library that works like the above, in case anyone's interested! https://github.com/davepagurek/p5.buildGeometry

I'm going to try using it for a little while to see if there are limitations to this style of geometry construction. It can always continue to exist just as a library if it doesn't feel right enough to eventually be a core feature. In the mean time, let me know if you

[2022-11-21 02:12] torinmb commented on #2536
Any updates on the status of this?

[2022-11-21 14:52] raulhubgit opened #5865 "line() is not a function"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

0.9.0

### Web browser and version

Microsoft

[2022-11-21 14:59] davepagurek commented on #5865
Hi! It seems to work for me if I take out the ML5 parts and just do the line drawing:

[code]

Live version: https://editor.p5js.org/davepagurek/sketches/cqXZslT1N

Maybe this means there's an error happening in your `preload` or `gotResult` handlers that's causing everything to break? Are there any other errors in your console?

[2022-11-21 22:41] raulhubgit commented on #5865
no, unfortunately

[2022-11-22 13:14] WillMuijrers opened #5867 "inconsistent strokeWeight between Safari and Chrome"
### Web browser and version

Safari and Chrome

### Operating System

MacOSX

### Steps to reproduce this

Please check the below sketch in Safari and Chrome:
https://editor.p5js.org/ChaniceMertens/sketches/XakHo3ES-

StrokeWeight() seems to be placed inconsistently between browsers.

[2022-11-22 17:28] limzykenneth commented on #5867
This is a relatively new Safari bug, it has already been reported here: https://bugs.webkit.org/show_bug.cgi?id=246498. We'll have to wait for the fix in Safari and not much we can fix in p5.js. I'll close this for now but feel free to follow up in this issue.

[2022-11-22 17:28] #5867 closed

[2022-11-23 03:37] harold commented on #5514
Yeah, this one is gnarly - glad I found this issue.

Here's another sketch that behaves in an unexpected (to me!) way: https://editor.p5js.org/harold/sketches/bVoJZCk0U

[2022-11-23 11:55] Vamoss opened #5868 "Tint not working on webcam"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

1.5

### Web browser and version

107.0.5304.1

[2022-11-23 16:43] mihkuno commented on #1773
There's a bug when I try to use `cursor()` on live server in vscode which says that `Uncaught ReferenceError: cursors is not defined`. Although it works perfectly fine if run on static html.

I managed to get it working by renaming the function `_main.default.prototype.cursor` to something else.

[2022-11-23 16:47] mihkuno opened #5869 "cursor() is not a function"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

_No respon

[2022-11-23 16:55] mihkuno opened #5870 "cursor() is not a function"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

Google Chr

[2022-11-23 16:58] #5869 closed

[2022-11-24 01:22] davepagurek commented on #5868
Oops, I caused this regression, thanks for catching this! I removed the `loadPixels` call inside `_getTintedImageCanvas` because the new implementation doesn't loop through the `pixels` array, but that call also had the side effect of making sure media elements had a canvas that could be used to do the tint on. I'll try to fix it!

[2022-11-24 12:02] devAyushDubey opened #5872 "contributor_docs/README.md and p5js website mention npm run grunt"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [X] Other (specify if possible)

### p5.js version

1.5.0

### Web browser and version

1.45.131 C

[2022-11-24 21:02] #5868 closed

[2022-11-24 21:05] limzykenneth commented on #5872
Sorry the info in the README is a bit outdated and redundant, I'll have to find an hour or two to finish up #5841 which will address this. [This section](https://github.com/processing/p5.js/blob/main/contributor_docs/README.md#source-code-contribution) and where it links to is the latest information regarding setup and development process.

[2022-11-25 13:18] davepagurek commented on #2536
@torinmb No progress just yet, mostly because I've been prioritizing other WebGL mode improvements for now, since WebGL2 doesn't affect core p5 features much. It's still on my to do list though!

[2022-11-25 20:20] devAyushDubey commented on #5872
Oh okay! Thanks @limzykenneth , do let me know if I could help you in any of that I would be more than happy 😄.

[2022-11-25 20:20] #5872 closed

[2022-11-26 05:23] mihkuno commented on #3169
I'm actually confused on how to manually implement this with obj models..

[2022-11-28 06:09] JordanQui opened #5874 "image blend not working on some version of webkit"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [X] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

v1.4.2

### Web browser and version

safari, c

[2022-11-28 07:06] JordanQui commented on #5874
Seems to happen only when the second parameters is:
blend(image, imgage.width, ...

[2022-11-28 13:48] davepagurek commented on #3169
@mihkuno one method would be: in mouse down, pick a random color for each object in your scene, and then draw your scene where each object is drawn without shading using its assigned color to a `p5.Graphics` so it's not visible on the main canvas. Then you can read the pixel under the mouse and see what color is there, and the object with the corresponding color is the one the user clicked on.

I

[2022-11-28 21:55] elfaidi-ghassen opened #5875 "Add more editing shortcuts!"
### Increasing Access

I believe by adding more editing shortcuts, people who use VS Code and other IDEs would feel like home.

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internaliz

[2022-11-29 10:09] elfaidi-ghassen commented on #5875
I've searched and found in the [documentation](https://codemirror.net/5/demo/sublime.html) of CodeMirror that those shortcuts I mentioned already exist. I apologize.

[2022-11-29 10:09] #5875 closed

[2022-11-29 13:23] lf32 commented on #2309
@all-contributors please add @lf32 for bug, doc, translation, design, code

[2022-11-29 15:26] titoasty opened #5877 "strokes disappear when culling is enabled"
### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### p5.js version

1.4.0

### Web browser and version

Chrome 107

[2022-11-29 15:42] davepagurek commented on #5877
Thanks for finding this!

I agree, this is probably the way to go. Until/unless we have a p5 API for setting culling, I think we'll just have to record `gl.isEnabled(gl.CULL_FACE)` to a local variable before drawing strokes, then disable culling, then set it back afterwards.

[2022-11-29 16:59] matiasvlevi commented on #5210
@golanlevin My trimester ends soon, Ill be back with an interesting external addon library.

[2022-11-30 16:36] titoasty opened #5878 "add fog"
### Increasing Access

Unsure

### Most appropriate sub-area of p5.js?

- [ ] Accessibility
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Build Process
- [ ] Unit Testing
- [ ] Internalization
- [ ] Friendly Errors
- [ ] Other (specify if possible)

### Feature request details

Hi,

[2022-11-30 19:48] zhangy49 commented on #5031
Hey, can I ask how can you use p5js work with usb cam?

[2022-11-30 19:49] zhangy49 commented on #5031
Hey, can I ask how can you use p5js work with usb cam?

[2022-11-30 19:55] Vamoss commented on #2536
Hack to enable p5js WEBGL2:
[code]