[2018-04-20 22:26] meiamsome commented on #2797
Looks like support for this is in browsers >90% usage share and the other stuff we're polyfilling in shim.js all have greater support - should we just drop all of those polyfills? I think I'd vote yes for that.

[2018-04-20 22:42] AdilRabbani commented on #1954
Added examples for vertex method. #2798

[2018-04-21 14:08] aatishb commented on #1954
Hi, I'd like to add some simple visual interactive examples for the p5.Vector methods.

[2018-04-21 15:26] aatishb opened #2799 "Adding an arrow function?"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] Math

#### New feature details:

I wanted to add some visual inline examples for the p5 Vector methods. Since the direction of a vector is important, they are often represented by arrows. I was wondering if it might be worth adding a 2D arrow drawing function to p5, something like [this](https://alpha.e

[2018-04-21 16:35] lorenzo-lipparini opened #2800 "Unexpected behaviour of specularMaterial() with ambientLight() and directionalLight()"
#### Nature of issue?

- [x] Found a bug *(?)*

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

While playing around with materials in *WebGL* mode, I noticed that shapes drawn using `specularMaterial()` respond in a strange way to light sources created with the `ambientLight()` and `directionalLight()` functions:
in fact, the result seems to be exactly the same

[2018-04-21 18:07] Spongman commented on #2800
yes indeed. currently specular materials are not affected by directional lights.

this has been fixed in #2670.

[2018-04-21 19:59] lorenzo-lipparini commented on #2800
Thank you;
so in your example the spheres are drawn first with `ambientMaterial()` and then with `specularMaterial()`, right?

[2018-04-21 22:02] aatishb opened #2802 "add optional parameter to round() for number of decimal places?"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] Math

#### New feature details:

I often need to round numbers to a few decimal places (mainly for printing to screen or console logging). It would be nice if there was a function for this. I looked at nf() but that doesn't round the number, and also requires you to specify digits to the left of the dec

[2018-04-22 11:32] abi62210 opened #2803 "Image resize() doesn't work in p5.js"
I was trying to resize the image to make it smaller/bigger but well-proportioned as described in reference: http://alpha.editor.p5js.org/shiffman/sketches/B1SmhBLJx while the error message showed up saying: "Uncaught TypeError: img.resize is not a function (sketch: line 13)."

I'm not sure is there anything wrong in my code?

var img;

function setup() {
  createCanvas(400, 400);
  img = createImg

[2018-04-22 14:01] LBdN opened #2804 "beginShape/endShape convert LINES shape to triangle fan in WEBGL."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-04-22 16:59] Spongman commented on #2804
This should be fixed in #2670

[2018-04-22 17:00] aatishb commented on #2803
Hi, [createImg](https://p5js.org/reference/#/p5/createImg) creates an image [element](https://p5js.org/reference/#/p5.Element), whereas [loadImage](https://p5js.org/reference/#/p5/loadImage) loads a [p5.Image](https://p5js.org/reference/#/p5.Image) object. I think you want to use loadImage here instead. Also many browsers will block images if they aren't coming from a https url, so watch out for t

[2018-04-22 18:35] Spongman commented on #1954
@aatishb nice, could use a little `toFixed()` here & there.

[2018-04-22 20:11] lorenzo-lipparini opened #2805 "loadShader() parameters are not optional"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

In the documentation, the `loadShader()` function is said to accept two optional parameters, but in reality if either one of them is omitted the code breaks.
This happens because the function still tries to make an http call to load the file, although the file name is actua

[2018-04-22 20:26] lmccart commented on #2803
thanks @aatishb, this is correct loadImage() makes a little more sense. though it's important to note the .resize() method is meant to be used only with createImg(). a way to do this is like this, using the optional width and height parameters in the image call:

[code]

@abi62210 the github issues are just for library bugs, for programming help, the [forum](http://forum.processing.org) is the bes

[2018-04-22 20:26] #2803 closed

[2018-04-22 20:28] lmccart commented on #2802
if you are ok with truncating, the [nfc](https://p5js.org/reference/#/p5/nfc) function should do what you need. if it's important to round, I think you could just multiply by 100, round, and then divide. I'm not sure we need a separate method for this as it might be a bit beyond the scope of this library but I guess we can see if others are strongly in favor of adding this.

[2018-04-22 20:30] lmccart commented on #2804
@Spongman it may be a while before we're able to merge that PR because it's so large. i would welcome pulling out some of these smaller fixes and submitting as individual PRs if you'd like to get them merged faster.

[2018-04-22 20:33] lmccart commented on #2747
I'd prefer to leave this one for an addon library, or offload to some of the great cv libraries already out there that you've linked to.

[2018-04-22 20:35] Spongman commented on #2804
@kjhollen has already reviewed it and requested changes thati have made. It really an be broken up any further.

[2018-04-23 04:50] Spongman commented on #2802
i think you may be looking for `Number.prototype.toFixed()`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed

[2018-04-23 05:30] Spongman commented on #2805
yeah, the `loadShader` method's preload behavior is also broken (fixed in #2717)

[2018-04-23 15:43] aatishb commented on #2799
Hm, perhaps this is fairly specific purpose. Closing this for now, I'll just include an arrow function with the examples.

[2018-04-23 15:43] #2799 closed

[2018-04-23 15:45] aatishb commented on #2802
Ah, toFixed() is exactly what I'm looking for, thanks. I can just use that.

[2018-04-23 15:45] #2802 closed

[2018-04-23 22:05] Al-bukair opened #2808 "A Video's 'ready to play' function doesn't work in different browsers."
Hi!

video = createVideo([video.format], readytoplay);

looking at the code above, the browser is meant to trigger the 'readytoplay' function whenever the video is ready to play, this works perfectly in explorer however it doesn't work in chrome or safari.

In chrome the function is trigger very quickly & the audio plays while the video doesn't. In safari the whole sketch doesn't work.

Any soluti

[2018-04-24 12:08] acasmith commented on #2808
Heya! Just been playing with this I can't seem to replicate this issue in either chrome or safari using the example code found [here](https://p5js.org/reference/#/p5/createVideo), could you post all of your code? Also, is anything being output in the console when you run your sketch?

[2018-04-24 14:25] Nemecsek opened #2810 "Bezier artifacts"
I am writing a Sankey library using P5.js 0.6.0 and I need to paint thick bezier curves to represent the links.

The problem is a bezier artifact that appears when two nodes (linked by a bezier curve) are too close: P5.js tries to maintain the thickness of the curve, but the algorithm to trace the outline is wrong.

Control points are always 50% of the space between the nodes.

This is the normal

[2018-04-24 14:44] Al-bukair commented on #2808
Thanks for the reply!

In my code I use the function to trigger loading 6 other short videos & playing the main video. but only two short once load and the main video isn't, even if it's playing there is no frames displayed. This is only in Chrome.

[2018-04-24 15:31] Al-bukair commented on #2808
This is a solution I found in google's developers page (https://developers.google.com/web/updates/2017/06/play-request-was-interrupted):
// Show loading animation.
  var playPromise = video.play();

  if (playPromise !== undefined) {
    playPromise.then(_ => {
      // Automatic playback started!
      // Show playing UI.
      // We can now safely pause video...
      video.pause();
    })
    .

[2018-04-24 15:49] acasmith commented on #2808
Hey,
If you've got lots of code, you can use [CodePen](https://codepen.io/#) to link it so it doesn't eat your post. I think it would be useful if you could link it. Were the errors shown in that google link (```Uncaught (in promise) DOMException:...```) occuring in your original code?

[2018-04-24 16:05] Al-bukair commented on #2808
Yes the error is in the original code, before I tried to use the code in google's developers page.

Here you could see it working in real time: http://touchtick.com/

[2018-04-24 16:51] Al-bukair commented on #2808
Thanks for your replies, I will start over and see if it works, otherwise I will post the issue again but more clearly.

[2018-04-24 16:51] #2808 closed

[2018-04-24 16:53] Spongman commented on #2810
Interesting... However, P5.js just uses the browser's `<canvas>` tag to draw beziers and their outlines. I would suggest trying a different browser and seeing if you get the same artifacts.

[2018-04-24 17:30] AdilRabbani opened #2811 "p5.js WebGL Updates - gSoc 2018"
Hello p5.js contributors! I am creating this issue so I can get to know all the major contributors to the p5.js WebGL code.
My project is to implement most of the missing WebGL primitives in p5 (point, arc, text, bezierVertex, curveVertex, quadraticVertex). It would help a lot, if you people can guide me where to start if I'm to familiarize myself with the codebase, most importantly the WebGL sect

[2018-04-24 22:16] mlarghydracept commented on #2811
Glad to have you @AdilRabbani! Everything that @kjhollen said is right on point. I would also suggest doing a quick line-by-line step through in a web console on a few of the [manual test examples](https://github.com/processing/p5.js/tree/master/test/manual-test-examples/webgl) for WebGL. This will help you get a quick overview of how the different parts of the code base are interacting currently.

[2018-04-25 00:13] F4Tornado opened #2813 "Confusing function names"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) Sound

#### Which platform were you using when you encountered this?

- [ ]

[2018-04-25 00:59] lmccart commented on #2813
This issue was moved to processing/p5.js-sound#272

[2018-04-25 00:59] #2813 closed

[2018-04-25 01:45] oranyelik opened #2814 "Simple stroke appearing outside shape"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-04-25 01:49] Spongman commented on #2814
wow, that's really weird. i see the same on Chrome/windows Version 65.0.3325.181 (Official Build) (64-bit)

[2018-04-25 05:08] Spongman commented on #2814
i think something subtle is happening here: you're seeing a rounding error in the stroke width. you currently have the `strokeWeight` set to the default 1. and rectangles are drawn with half the stroke inside the rectangle, and half the stroke outside the rectangle (ie centered on the rectangle boundary). the browser can't draw a half-pixel wide line, so it has to round the values somehow, and it

[2018-04-25 07:29] Spongman commented on #2810
weird. here's inkscape doing the same thing:
![image](https://user-images.githubusercontent.com/1088194/39231637-92f7165e-481f-11e8-943e-ac0d5c6f081f.png)

i guess everyone uses the same code for drawing beziers ;-)

[2018-04-25 09:10] lorenzo-lipparini opened #2817 "createCanvas() doesn't return an HTMLCanvasElement"
#### Nature of issue?

- [x] Found a bug
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

The documentation states that the `createCanvas()` function should return an `HTMLCanvasElement` corresponding to the created canvas, but this is clearly not the case since a `p5.Renderer` is returned istead.

The thing happens in [this](https://github.c

[2018-04-25 13:47] #2814 closed

[2018-04-25 17:17] Spongman opened #2818 "grunt docs:dev uses invalid host"
`grunt docs:dev` opens a browser window to `http://0.0.0.0:9001/`, but 0.0.0.0 is not a valid host address and (for security reasons it's for binding only) Windows does not have a hidden route from 0.0.0.0 to localhost so it results in

![image](https://user-images.githubusercontent.com/1088194/39261468-69f099e0-4871-11e8-8058-5f7da452eb63.png)

[2018-04-25 20:50] #2818 closed

[2018-04-25 21:56] Spongman opened #2820 "test.titlePath is not a function"
re: #2648, #2746, #2812, , disqus/grunt-mocha#7,

disqus/grunt-mocha#6 causes test failures to result in a bogus `Fatal error: test.titlePath is not a function` error`

[2018-04-25 23:14] Spongman opened #2821 "loadShader is broken in preload"
re: #2697, # #2717

@meiamsome fixed an issue with the preload stuff in #2697. the result of this fix is that the preload count actually works as expected now wrt. nested calls & instance-mode. however, loadShader() needs to be updated to use the fixed preload semantics. as it is, when loadShader is called in preload, the preload never completes.

[2018-04-26 08:34] alessandroCharbonnier opened #2822 "p5 running slow"
Hi everyone, I used p5 0.5.6 for a long time and had a good frame rate but when I recently updated to 0.6 I've seen a massive drop in frame rate on my sketches.
For some little sketches it's ok but on some huge ones I cannot even load the page and make my pc crash.
It will be great to have that performance back.

#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New

[2018-04-26 11:11] limzykenneth commented on #2817
`createCanvas` is indeed supposed to return a `p5.Renderer` instance and not a `HTMLCanvasElement`. The documentation probably should be corrected in this case, if anyone wants to make a PR for this change please feel free. 😃

[2018-04-26 11:16] limzykenneth commented on #2822
Hi @alessandroCharbonnier, have you tried using the p5.min.js file instead of the regular p5.js file (or set `p5.disableFriendlyErrors = true` at the beginning of your sketch)? The friendly error system is expected to cause a slow down and disabling it can help performance.

If that doesn't help, it could be helpful if you can share with us some working sample code that shows significant slowdown

[2018-04-26 12:39] alessandroCharbonnier commented on #2822
Hi @limzykenneth,
I have tried what you said but still the same problem here is a link to my sketch so you can take a
[link](https://github.com/alessandroCharbonnier/p5-Issue)

[2018-04-26 13:52] lad475 commented on #2817
I can take care of this; I'll make the PR in a bit :)

[2018-04-26 15:43] lmccart commented on #2817
fixed with https://github.com/processing/p5.js/pull/2823

[2018-04-26 15:43] #2817 closed

[2018-04-26 15:46] lmccart commented on #2822
hi @alessandroCharbonnier we're not able to find the problem with such a large codebase to review. please isolate the issue to a snippet of code 20 lines or less, or post in the [forum](http://forum.processing.org) for general programming assistance. thanks!

[2018-04-26 15:46] #2822 closed

[2018-04-26 16:00] lmccart commented on #2821
closed with https://github.com/processing/p5.js/pull/2815

[2018-04-26 16:00] #2821 closed

[2018-04-26 16:00] lmccart commented on #2787
i'm not seeing much energy around this one, so i'd like to leave as is for now.

[2018-04-26 16:00] #2787 closed

[2018-04-26 18:01] Spongman commented on #2822
I'm not seeing any noticable frameRate difference between 0.5.16 and 0.6.0.

the reason this sketch is so slow is that it's calling `img.get()` repeatedly on a large image. you might want to look into calling the `img.loadPixels()` method once and reading the `img.pixels` array directly.

there's definitely room for improvement here in the library. the `get` method calls `loadPIxels`, but `loadPix

[2018-04-26 18:08] alessandroCharbonnier commented on #2822
@Spongman  thanks for your help I found that the problem was in the get method and I haven't thought of loadPixels() I'll try to implement that on my sketch :)

[2018-04-26 21:52] Spongman opened #2825 "build: linter allows ES6-isms in library & sample code"
re: #2812

the linter currently allows ES6-isms (like `let` & `const`) in the library and doc sample code.

this can cause some confusing travis errors since the version of webkit used in PhantomJS doesn't support ES6. so, while the precommit check passes, the build may later fail.

[2018-04-27 03:52] Spongman commented on #2817
What's even weirder is that createCanvas doesn't really create a new canvas at all. It just replaces the existing canvas with a canvas of the right size (and renderer).

[2018-04-27 07:16] Nemecsek commented on #2810
@Spongman, I solved it as I described in my workaround and it works better than I thought.

This is the result:
![screenshot from 2018-04-27 08-40-52](https://user-images.githubusercontent.com/25978536/39349051-d022a3d2-49f9-11e8-879a-690ce53f50f7.png)

Here the algorithm: the yellow rectangle is normally hidden and represents the red-node background + 1 pixel border. Smaller is faster so I kept i

[2018-04-27 09:02] limzykenneth commented on #2810
If I understand correctly this is a result of the algorithm implementation of the individual browser renderers and not with p5 itself? If that's the case I would suggest opening bug reports over at the relevant browsers channel and close this issue since we can't fix it in the library itself without anything short of rolling our own bezier drawing algorithm (which I think is a gross overkill)

[2018-04-27 13:13] Nemecsek commented on #2810
@limzykenneth, it is not only a problem in the browser renderers: as @Spongman noted, there is the same problem in Inkscape too. It looks like more people is using the same (defective) algorithm to calculate the bezier outline.
It would be nice to understand were they took it from.

[2018-04-27 13:40] limzykenneth commented on #2810
I did some digging and I believe in terms of bezier curves, what you see is actually the "correct" (intended) behaviour. See this [stackoverflow question](https://stackoverflow.com/questions/34266565/thick-bezier-curves-in-svg-without-artifacts) asking the same question and also this [jsfiddle](https://jsfiddle.net/83jr5fub/2/) for what is actually happenning, in a way the curve is folding upon it

[2018-04-27 22:52] #2825 closed

[2018-04-28 00:11] #2709 closed

[2018-04-28 00:25] #2723 closed

[2018-04-28 00:34] #2699 closed

[2018-04-28 01:07] lmccart commented on #2685
should be fixed in 0.6.1

[2018-04-28 01:07] #2685 closed

[2018-04-28 01:08] lmccart commented on #2663
this should be fixed in 0.6.1

[2018-04-28 01:08] #2663 closed

[2018-04-28 08:22] awarua opened #2828 "Improve camera() example."
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-04-28 12:26] olaven commented on #583
It would be great to use typescript in p5js. I have just started using TS and would love to move that over to p5-stuff!

I am beginner in TS as well, but if I can do something, I'll gladly contribute! 🐶

[2018-04-28 18:06] Spongman commented on #583
here's a build of the latest p5.js master branch, including the `.d.ts` files: https://github.com/Spongman/p5.js/releases

[2018-04-29 18:32] Spongman opened #2830 "`color()` is unnecessarily slow"
0.6.1

the implementation of `color()` uses `map()` (inside `_parseInputs` and `_calculateLevels`) to loop through the color components for scaling/clamping operations.

in a simple test case:
[code]

these `map` call result in >90% of total CPU usage:
![image](https://user-images.githubusercontent.com/1088194/39409698-9f9edb4c-4ba0-11e8-8683-5321287c37ed.png)

[2018-04-29 20:41] Spongman opened #2832 "get() is slow"
0.6.1

re: #2822, #2065, #1485, #1235

currently there are two ways of getting pixel values from p5.js canvas/image/video elements:
1) call the `get(x,y)` method.
2) call `loadPixels()` and access the `pixels[]` array directly.

the problem with 1) is that it's _really_ slow (calling `getImageData()` for every value) and the problem with 2) is that it's really complicated for the user to get right

[2018-04-30 07:09] Nemecsek commented on #2810
Thank you for the time you gave me and the links.
I will close the issue as there is nothing more to be said about it at least for p5.js.  I will follow any news at stackoverflow.

[2018-04-30 07:09] #2810 closed

[2018-04-30 14:17] RobinLefebvre commented on #2606
Using noise and randomness for procedural generation is very useful, specifically because when seeded the results are reliably identical. For my current project, I am attempting to generate various levels of details for 2D maps.

The use of a seeded noise allows me to store only a given set of data into a JSON to generate the same mesh on the fly, without needing to store the map at all (which, gi

[2018-04-30 14:56] Nemecsek opened #2834 "pixelDensity value different according to the browser"
There is something strange about `pixelDensity`.

Firefox 59.0.2 is returning `pixelDensity=1` and` displayDensity=1`.
Chromium  64.0.3282.167 returns `pixelDensity=2` and `displayDensity=1.5`
Opera 51.0.2830.40, like Firefox, 1 and 1.

Is this normal?
#### Most appropriate sub-area of p5.js?
- [X] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [X] Des

[2018-04-30 15:08] Nemecsek commented on #2834
I found out what it is happening: Firefox 59.0.2 is returning `pixelDensity=1` and` displayDensity=1`.
Chromium  64.0.3282.167 returns `pixelDensity=2` and `displayDensity=1.5`
Opera 51.0.2830.40, like Firefox, 1 and 1.

I didn't see that different browsers return different values (and different scaling because of this).

[2018-04-30 17:37] clay53 opened #2836 "Image width/height is always equal to zero unless resized or inside draw"
I'm trying to take in an array of images from the user's browser and resize them to fit into a larger image, however, while trying to resize them I've realized that all my images have a width & height of 1. On some website/forums, they say to use a mask to crop images, however for what I'm doing that would make it much more difficult than the ability to resize it. I'm attempting to crop it with Im

[2018-05-01 07:46] limzykenneth commented on #2606
@RobinLefebvre I guess the point we had is that in the following two cases:

instead of
[code]

you can just do
[code]

As for the case when you need to find out a seed to an unseeded RNG, I'm not really sure there is a way to do that natively (browser `Math.random()` which `random()` uses under the hood don't provide that I think, unless we forgo that and use custom seeded RNG all the time) and i

[2018-05-01 11:49] clay53 commented on #2836
f.data is undefined, so that function doesn't work. If it did, how would I crop and resize the <img> element? Also, as I stated loadImage() with a data URL does _work_, it just doesn't have all of its properties until the draw function is called. I could work around this and make it so that the function changes a bool so that I can make it "compile" in the draw function instead, but that shouldn't

[2018-05-01 16:27] Spongman commented on #2836
ok. so if `f.data` is undefined, use the `FileReader` to load it then try calling `createImg(reader.result)` and using that image as a source for the image call.

[2018-05-01 17:03] clay53 commented on #2836
That returns:
[code]

Which also doesn't seem correct. Also, you didn't say how I would crop a HTML element anyways.

[2018-05-01 17:26] Spongman commented on #2836
like this: https://codepen.io/Spongman/pen/odWNQv?editors=0011

[2018-05-02 10:56] mikima opened #2837 "problems installing p5js with NPM/Bower"
Hello,

i tried to use both bower and npm to add p5js to my project.

In NPM the package is [registered as "P5"](https://www.npmjs.com/package/p5). However, when you try to add it, it will install a lot of dependencies, since you left "grunt-mocha" as [dependency for p5v0.6.1](https://www.npmjs.com/package/p5?activeTab=dependencies).

In Bower the package is named "p5js" and [redirects to this rep

[2018-05-02 15:10] mikima opened #2838 "image() + createGraphics() not working properly on HDPI retina displays"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-02 15:51] Spongman commented on #2838
Try calling `pixelDensity(1)` after `createCanvas`.

[2018-05-02 16:02] #2837 closed

[2018-05-02 16:03] #2836 closed

[2018-05-02 16:11] Spongman commented on #2836
`loadImage` also takes a success callback, you could try using that instead.

[2018-05-02 17:30] meiamsome commented on #2174
@lmccart This is not fixed by 74019da, as @Spongman commented on there, we need to remove grunt-mocha and switch to another test runner (grunt-karma, perhaps?). Please re-open this.

[2018-05-03 04:00] zimo-xiao opened #2840 "rectangles half the size of canvas given the same value"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.6.0
- Web browser and version: Chrome/Safari
- Operating System: MacOSX
- Steps to reproduce this:
My rectangles are always half the size of the can

[2018-05-03 09:17] mikima opened #2841 "convert p5.graphics to p5.Image?"
Posting here since the processing forum is closed to newcomers.

If this breaks the repo rules, please remove this issue.

It's not clear to me which is the best way to convert a [p5.graphics](https://p5js.org/reference/#/p5.Graphics) to a [p5.Image](https://p5js.org/reference/#/p5.Image).

At the moment i'm doing this:

    var pg = createGraphics(400,400);
    //do stuff inside pg
    var img =

[2018-05-03 11:37] thomasvanhemert opened #2842 "saveTable() wrong csv output"
Hey all,
I hope this is the right place to post this but I figured you might be of help here. I'm working on a p5 javascript project where I load a csv file with loadTable() in the preload() function. And I am saving it again later in my setup() with the saveTable() function when a button is pressed. Now comes my problem, the output csv is not in the right format. The function saveTable() exports

[2018-05-03 16:53] Spongman commented on #2841
That's probably the best way to do it.

My question is this, though: why do you need to create a `p5.Image` ? Is there something you're trying to do where using the `p5.Graphics` object directly doesn't work?

[2018-05-03 17:10] PeacefulOtter opened #2843 "arc() parameter request"
#### Nature of issue?
- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

Hey everyone, I'm a new Javascript developer (and also french so sorry for my bad english) but I already use p5.js since it is very easy to use. However, I found strange that the `arc()` function doesn't have a parameter to modify the width of the arc. So, that's it, can you add width parameter to

[2018-05-03 17:17] mislavmilicevic commented on #2843
I'm not sure whether you're mixing width another term or something else but the current arc constructor is as follows:
``arc(x,y,w,h,start,stop,[mode])``
where 'w' is the width of the arc

[2018-05-03 17:32] mislavmilicevic commented on #2840
The code above functions as intended. The documentation clearly says that when using CENTER mode, the first two parameters are defining the shapes CENTER point. Since you are defining the center point on the edge of the screen, the other half of your rectangle is getting rendered off canvas.

If you want to get the desired effect, set your center point to the center of the canvas (half width and h

[2018-05-03 18:00] Spongman opened #2844 "httpGet documentation test fails to fail"
v0.6.1

if you run the test-reference.html file in the browser and set 'pause on caught exceptions', you'll break during the `httpGet` test in `p5.prototype.httpDo`: `res.text is not a function`.

there's two issues here:
- the httpGet function doesn't handle `jsonp` correctly
- the test runner doesn't notice this error

[2018-05-03 18:10] Spongman commented on #2843
maybe you're looking for `strokeWeight()` ?

[2018-05-03 18:12] Spongman commented on #2842
you might need to open the file in an editor that is sensitive to different types of line endings (notepad.exe isn't).

[2018-05-04 06:44] PeacefulOtter commented on #2843
Yes, i was talking about width but I wasn't talking about the width of the whole circle, I just wanted to change the border's width of it. `strokeWeight()` is the solution I searched so I can also use `stroke()` to change the color of the border.
Thank you very much :)

[2018-05-04 06:44] #2843 closed

[2018-05-04 07:11] mikima commented on #2838
Ow. So, there is no solution?

[2018-05-04 12:49] paulicelli opened #2846 "clear() only clears the top left quarter of retina screens"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-05-04 13:20] paulicelli commented on #2846
screenshot added:

![img_c6aee69c4797-1](https://user-images.githubusercontent.com/12856782/39630082-8b5636c8-4fae-11e8-85de-450211923a09.jpeg)

[2018-05-04 15:06] Spongman commented on #2838
One thing you can try is retrieve the configured pixel density, enlarge your graphics by that amount and scale the drawing operations accordingly.

[2018-05-04 16:07] kihapper opened #2847 "createCapture() to get video is not working on iPhones (iOS11)"
Hello I've been experimenting with p5.js and it's amazing so far.

I have a mobile based project that uses createCapture() to get live video feed.
I've been testing it on the devices below but the iPhone seems to only show a black screen...

**Works on...**
Device : Xperia X Compact(2017) / OS : Android 7.1.1 / Browser : Chrome 62.0.3202
Device : iPad Pro 10.5(2017) / OS : iOS 11.1 / Browser : Saf

[2018-05-04 17:21] Spongman opened #2848 "unable to validate methods of helper classes"
v0.6.1

in part due to naming conflicts, it's not possible to add parameter validation to public methods of classes like `p5.Table`, `p5.Color` & `p5.Element`,

consequently, there is no parameter validation for methods of these classes.

[2018-05-04 19:48] totovr opened #2851 "P5bots and others"
Hello! I want to ask if you are providing support to p5bots and p5.serialport because some of the repositories are not updated.

Thanks!

[2018-05-05 02:06] lmccart commented on #2851
these are not directly supported, they are made by other contributors in the community. we are only supporting the ones that are listed under the processing github account. but i think they have repos of their own if you want to log issues.

[2018-05-05 02:06] #2851 closed

[2018-05-05 18:25] nippotam opened #2854 "Clarify text() documentation for default position and alignment"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request
- [X] Documentation

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Proposed imporvement
Is it possible to add a litt

[2018-05-06 03:02] lad475 commented on #2854
I tried to look into the documentation to see what you mean, but the docs seem to pretty clearly outline how the x and y params work to decide where on screen the text goes.  Could you please clarify a bit?  Thanks!

[2018-05-06 03:09] zimo-xiao commented on #2840
thanks a lot dekmm!! I didn't realized that this has to do with the mode I'm using. Silly.

[2018-05-06 03:09] #2840 closed

[2018-05-06 21:17] qdhoward opened #2856 "p5.sound import issue"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobi

[2018-05-06 21:43] nippotam commented on #2854
Yes
The text() writes in the upper zone of the y axis whereas the rect() draw in the bottom direction in y axis.

That is not clear in the doc.

[2018-05-07 00:01] lmccart commented on #2856
perhaps this wrapper could help?
https://github.com/NeroCor/react-p5-wrapper

[2018-05-07 00:05] qdhoward commented on #2856
This wrapper only includes the p5.js. it doesn't support p5.sound. BTW, p5 is great. It will be greater if it's compatible with some front-end framework like react,

[2018-05-07 00:43] lmccart commented on #2856
the second article mentions something about being able to integrate p5.sound. for further p5.sound issues you can post directly to that repo: https://github.com/processing/p5.js-sound. thanks!

[2018-05-07 00:43] #2856 closed

[2018-05-07 05:30] nippotam commented on #2854
You are perfectly right. It has to be clarify in the default mode. May be we should add a point () in red at the x, y in each example (especially for textAlign).

[2018-05-07 10:44] limzykenneth opened #2857 "Removing opentype.js comments"
I'm currently working on refining the documentation rendering on the website and I want to parse YUIDoc documentation from the packaged p5.js file directly on the website repo. However I believe comments of opentype.js is preventing me from doing so, as they also have comment block that starts with `/**` but it doesn't follow YUIDoc completely. In any case I don't want YUIDoc to parse opentype.js

[2018-05-07 17:18] Pumpapa opened #2859 "<video> .play().time(nn) not working in Chrome 66.0.3359.139 on Macos 10.13.4"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
Video in Chrome
#### Which platform were you using when you encountered thi

[2018-05-08 08:48] limzykenneth opened #2861 "Reference language detection"
The reference current implementation of whether the current page should be translated or not [isn't very robust](https://github.com/processing/p5.js/blob/master/docs/yuidoc-p5-theme/layouts/main.handlebars#L202). Checking for just two characters doesn't account for all cases.

[2018-05-08 20:23] Spongman opened #2863 "webgl: plane primitive is not lit correctly"
v0.6.1

the 3d `plane` primitive is not lit correctly. this is because the normals aren't scaled correcty.

[2018-05-08 21:31] kylemcdonald commented on #2847
I can confirm I have the same problem. I'm looking into this.

[2018-05-09 02:00] lmccart opened #2865 "documentation help wanted!"
Hi  👋👋👋

We are using this issue to focus on documentation! Documentation is essential for new learners and experienced programmers alike. It helps make our community inclusive by extending a friendly hand to those that are less familiar with p5.js. It also helps us find the bugs and issues with the code itself, because we test and try things out as we document.

[There are several ways to contrib

[2018-05-09 10:15] Caster101 commented on #1689
Can we change the color drawing on run time

[2018-05-09 19:07] m90 commented on #2865
For anyone who wants to work on adding missing examples and doesn't know where to start, this seems to be where there are still examples missing right now:

[code]

[2018-05-09 22:06] kihapper commented on #2847
Thanks Kyle, it works now for both iOS11 and Android!

[2018-05-10 00:48] faithwyu commented on #2865
I would love to help out porting the tutorials from processing (https://processing.org/tutorials/) to p5!

[2018-05-10 01:19] lmccart commented on #2865
@faithwyu that would be great!

[2018-05-10 04:57] #2861 closed

[2018-05-10 12:17] raulgrell commented on #2865
I'm going through the processing.org examples - some of the stuff that is missing seems to address the language itself as opposed to the library. For example, processing.org talks about "Integers and Floats" and "Datatype Conversions". Should I make Javascript equivalent entries?

[2018-05-10 13:50] lmccart commented on #2865
@raulgrell good question. not yet. we're not set up with the right website/reference infrastructure yet to be able to display those correctly.

[2018-05-10 16:45] cecilebertin commented on #2865
Hi, I'd like to work on porting the examples from the processing example page to the p5.js example page.

[2018-05-10 17:04] lmccart commented on #2865
👋@cecilebertin welcome! all the instructions for porting examples should be in the issue notes above. but let us know if you have any questions or encounter problems and we'll do our best to get back to you as soon as we can

[2018-05-10 18:03] cecilebertin commented on #2865
@lmccart I will start with porting the Data: Integers and Floats example.

[2018-05-10 18:31] cecilebertin commented on #2865
@lmccart Should I call this example Data: Numbers instead? Since there is only the Number datatype for numbers in JavaScript.

[2018-05-10 21:13] cecilebertin commented on #2865
Hi @lmccart, I made a pull request for the Numbers example.

[2018-05-10 23:02] raulgrell commented on #2865
@lmccart - I was trying to ask the same question as @cecilebertin, but I seem to have had a momentary lapse of eloquence =P

Unfortunately, that also means I'm not sure I understood your reply. Did you mean you don't yet have a way to show something like console output?

[2018-05-10 23:51] clay53 opened #2877 "Allow frame rate to go past monitor refresh rate"
#### Nature of issue?

- [ ] Found a bug
- [ x ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] M

[2018-05-11 02:07] cecilebertin commented on #2865
So sorry @raulgrell !! I didn't see you wanted to work on this. I only checked the issues in the processing/p5.js-website repository to check if someone was working on this example.

[2018-05-11 10:06] raulgrell commented on #2865
@lmccart @cecilebertin No worries, I could have been clearer! There are still more examples to do =)

I'll send a PR for Strings, and possibly something for Data Types as well that deals with type coercion and whatnot

[2018-05-11 10:18] m90 opened #2878 "`loadShader` fails to compile seemingly ok shader files"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-11 12:34] limzykenneth opened #2879 "`rect()` documentation description inaccurate"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Documentation

In the [`rect()` documentation](https://p5js.org/reference/#/p5/rect) the order of corner radius parameters are described in the wrong order (top-right, top-left, lower-right and lower-left corners instead of top-left, top-right, lowe

[2018-05-11 15:18] Spongman commented on #2878
Try putting the loadShader call in `preload`.

[2018-05-11 15:58] limzykenneth commented on #2847
Sorry @kihapper I actually want to keep this open because we probably should include the fix put forward by @kylemcdonald into the library itself and keeping it opened will prevent is from disappearing from view 😉 Don't worry, you don't need to do anything else for now.

[2018-05-11 15:58] m90 commented on #2878
The `setup`/ `preload` distinction never fails to be smarter than I am :jack_o_lantern:

It's working fine now, see #2881

Thanks.

[2018-05-11 15:58] #2878 closed

[2018-05-11 19:11] clay53 commented on #2877
@limzykenneth Sorry, accidentally used my org acc - didn't know it was viewable to people in the org only - I'll upload it once I get back on my PC. I was developing a program to make a program to make an image out of other images - without just overlaying the images with a different color - however, looping through all the pixels on an image and drawing a image for each pixel (depending on settin

[2018-05-11 20:19] cecilebertin commented on #2879
Can I work on this?

[2018-05-11 20:36] lmccart commented on #2879
@cecilebertin yes please :)

[2018-05-12 05:11] Spongman opened #2882 "pixelDensity return type is wrong"
v0.6.1

the docs state that `pixelDensity()` returns a `Number`, but it only does this if `typeof val !== 'number'`.

[2018-05-12 05:20] Spongman opened #2884 "textLeading returns the wrong thing"
v0.6.1

the `@chainable` version of `textLeading` should return the `p5` instance (in accordance with the regular p5 get/set pattern). it currently returns the renderer.

[2018-05-12 05:26] Spongman opened #2886 "issues with vertex overloads"
v0.6.1

the two overloads of vertex are ambiguous, they both match when passed only two parameters.

also, the 3d overload should be `@chainable`

[2018-05-12 05:30] Spongman opened #2888 "Table.addRow is missing documented return type"
`addRow` returns the added `p5.TableRow`, but this is missing from the docs.

[2018-05-12 05:34] Spongman opened #2890 "`plane` returns the wrong thing"
v0.6.1

`plane` is documented as `@chainable` (as are all the other 3d primitives), but it does not actually return anything.

[2018-05-12 14:16] limzykenneth opened #2892 "Return of a few curve functions in docs"
[`curveDetail`](https://p5js.org/reference/#/p5/curveDetail) and [`curveTightness`](https://p5js.org/reference/#/p5/curveTightness) in the docs have seemingly truncated return description (the beginning part probably missing something)

[2018-05-12 18:38] devonsoft opened #2893 "In keyPressed() some ascii values of key are incorrect."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-13 03:55] aferriss opened #2895 "Show error message when applying shader to different GL context"
#### Nature of issue?
Using the same shader more than once causes either nothing or an odd looking tessellated plane to be rendered on the screen. I made an [alpha editor](https://alpha.editor.p5js.org/aferriss/sketches/r1NNRmSRM) sketch to show the issue.

The use case I'm imagining for using the same shader more than once is when you want to do some kind of multi-pass effect like a gaussian blur

[2018-05-13 04:10] aferriss commented on #2895
Possibly related to this, I've also noticed that p5 won't let you use createShader() if you're not in WebGL mode on the main canvas, even if you have some WebGL createGraphics layers initialized. You can however do:
[code]
However, if you try to use the shader with anything but the layer it was created with, you'll get that same oddly tessellated plane. So this wouldn't work:

[code]

Here's anoth

[2018-05-13 05:54] PAEDevelopment opened #2896 "I'm a little teapot -- loadModel() example .obj appears as mere speck or not at all"
#### Nature of issue?

- [ ] Found a bug
- [x ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2018-05-13 11:29] m90 commented on #2893
Do you specifically need to use `keyPressed` or could you also use `keyTyped`? Due to browsers doing very strange things when handling keyboard events, the output is very hard to handle.

If it's an option for you, using [`keyTyped`](https://p5js.org/reference/#/p5/keyTyped) will probably give you what you expect for most use cases.

[2018-05-13 16:06] Spongman commented on #2896
I think the reason it appears so small is because you're moving it so far away.

[2018-05-13 16:15] Spongman commented on #2895
im not sure, but I don't think the browser will let you use a WebGL program in a different context than the one it was created in. There should probably be some better error messages here.

[2018-05-13 19:55] PAEDevelopment commented on #2896
No, I should have explained -- that translation just makes it visible (like 20px across).  Otherwise it is as small as it appears in the documentation.
![screen shot 2018-05-13 at 2 50 27 pm](https://user-images.githubusercontent.com/4973341/39971256-9377abaa-56bd-11e8-9a55-44261c27ba39.png)

[2018-05-13 21:43] aferriss commented on #2895
@Spongman I think you're correct but is createGraphics() creating a new GL context or is it creating a framebuffer? I was assuming a framebuffer but if it's an entirely new context then yes an error message would be great.

[2018-05-13 23:28] lmccart commented on #2895
@aferriss it's creating a new context, so we can add an error message here

[2018-05-14 00:10] #2888 closed

[2018-05-14 02:27] #2879 closed

[2018-05-14 02:39] #2890 closed

[2018-05-14 02:40] #2882 closed

[2018-05-14 02:41] #2884 closed

[2018-05-14 02:42] lmccart commented on #2865
thanks everyone! 🙏 🙌 🎉

[2018-05-14 06:27] yutinglu413 opened #2899 "`quad()` documentation missing description"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Documentation

#### Details about the bug:

in [quad() documentation](https://p5js.org/reference/#/p5/q

[2018-05-14 13:10] limzykenneth opened #2900 "cursor() description clarification"
In the description for the [cursor()](https://p5js.org/reference/#/p5/cursor) function I find that the description, in particular "It is not possible to load an image as the cursor if you are exporting your program for the Web" not very clear, basically what does it mean by exporting for the web? I have never used an image as the cursor so I may be missing something here but I suggest a clarificat

[2018-05-14 13:24] limzykenneth opened #2901 "Default framerate in frameRate() reference"
In the [`frameRate()`](https://p5js.org/reference/#/p5/frameRate) reference page, it is mentioned that "The default rate is 60 frames per second" which although for most displays are true, it is actually tied to the refresh rate of the display. The reference should be edited to explain that.

[2018-05-14 20:03] kjhollen commented on #2895
thanks for testing out the shader stuff @aferriss! let us know what else you find.

[2018-05-14 20:38] PAEDevelopment commented on #2896
Neglected to try 'normalize'. D'oh.

[2018-05-14 20:38] #2896 closed

[2018-05-14 20:41] kjhollen commented on #2896
Good catch. I think the default example should maybe include normalize, then? or at least, use a model that will show something more legible in the example. :) feel free to open another issue to track this.

[2018-05-14 21:27] aferriss commented on #2895
@lmccart  thanks :D

[2018-05-14 22:01] Spongman commented on #2896
`loadModel` takes an optional `normalize` boolean parameter. maybe the default for this should be `true` ?

[2018-05-14 23:54] lad475 commented on #2899
I can take care of this by tomorrow! :)

[2018-05-14 23:58] lad475 commented on #2900
I agree; the documentation doesn't seem to be very clear as per what the cursor function does if it doesn't work on the web (local only perhaps?) and it would be nice for the documentation to give a better idea of at least why it wouldn't work when put on the web, and if there are alternatives.

[2018-05-15 00:56] PAEDevelopment opened #2904 "Suggested improvements to loadModel() reference example"
#### Nature of issue?

- [ ] Found a bug
- [x ] Existing feature enhancement
- [x ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mo

[2018-05-15 01:47] hockpond opened #2905 "Problem with running functions"
I  just started to learn p5js and when I write functions like "keyPressed()" or "mousePressed()", my code doesn't execute these functions for no reason and the console shows me the following message:

http://prntscr.com/jhy5ic
http://prntscr.com/jhy5mq
http://prntscr.com/jhy5pe

Can someone help me, please?

[2018-05-15 01:51] Spongman commented on #2905
not sure about the `require` error, but your ellipse is getting erased immediately by the `background` call.

[2018-05-15 03:26] PAEDevelopment commented on #2896
I opened a new issue addressing only the documentation: https://github.com/processing/p5.js/issues/2904
But I agree the default for normalize should be true

[2018-05-15 05:12] lmccart commented on #2905
@Spongman is correct. the desktop editor has not been supported for a while, so it's possible the require error is coming from somewhere in there.

[2018-05-15 06:13] yutinglu413 opened #2907 "`ambientLight()` documentation missing description"
### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Documentation

In the [ambientLight() documentation](https://p5js.org/reference/#/p5/ambientLight), the

[2018-05-15 06:13] yutinglu413 commented on #2907
#2906

[2018-05-15 06:17] yutinglu413 commented on #2907
#2906 add 'alpha' description

[2018-05-15 06:31] yutinglu413 commented on #2907
#2906 add 'alpha' description

[2018-05-15 10:39] robinb9794 opened #2908 "'p5 is not a constructor'"
Hey guys,
first of all I need to say this is my first topic ever so please excuse me and my english. I have the following problem:
to improve my .NET MVC-Skills I have my personal Web Application where I can control my Raspberry Pi and learn some Javascript with some different Frameworks like JQuery, Bootstrap, Patternfly and also p5.js.
On one page there's an Javascript editor and next to it a Ca

[2018-05-15 12:04] robinb9794 commented on #2908
Ok, I got it: instead of

should it be sth. like that:

Now everything works fine and I can preview my code as often as I want.

[2018-05-15 12:04] #2908 closed

[2018-05-15 18:53] hockpond opened #2909 "Can't execute a for loop"
Hey everyone. Could someone tell me why my program isn't running, please? (ignore the ".")

function setup() {
....createCanvas(600, 400);
}

function draw() {
....for (var x = 0; x <= width; x += 50) {
........ellipse(x, 200, 10, 10);
....}
}

Errors:
   Uncaught ReferenceError: loopProtect is not defined (sketch: line 6)

[2018-05-15 18:56] Spongman commented on #2909
your sketch is fine. `loopProtect` sounds like something to do with a web ide.

maybe try the p5 web editor, or codepen. like this: https://codepen.io/Spongman/pen/zjJPqw?editors=0010

[2018-05-15 19:16] kjhollen commented on #2909
hi @hockpond, thanks for this report. this is an open issue with the p5 web editor that just came up recently: https://github.com/processing/p5.js-web-editor/issues/633

I'm going to close this issue as it is already tracked in the editor repository.

[2018-05-15 19:16] #2909 closed

[2018-05-15 19:18] kjhollen commented on #2909
yes! thanks @catarak :)

[2018-05-16 05:53] TomPeak opened #2911 "update examples to reflect new Audio Autoplay Policy"
Hello,

I use p5.sound on Chrome

please have a look: [https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#webaudio)

I get this error:
The AudioContext was not allowed to start. It must be resume (or created) after a user gesture on the page. https://goo.gl/7K7WLu

There are some 2018 chances

[2018-05-16 08:44] AdilRabbani commented on #2811
Hello everyone, I'm almost done with implementing arc() for WebGL mode. Can someone make a new branch for GSOC-2018 in the main repo? so the code can also be reviewed, while discussing other issues. @lmccart @kjhollen @mlarghydracept

[2018-05-16 11:17] rich-gg opened #2912 ""Local server" page and Sublime Text Browsersync Utility"
#### Nature of issue?

- [ ] Found a bug
- [X ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ Manual] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [

[2018-05-16 16:10] lmccart commented on #2912
Sure, please feel free to add it to the page.

[2018-05-16 16:31] kjhollen commented on #2811
Hi @AdilRabbani, I've made a new branch here: https://github.com/processing/p5.js/tree/webgl-gsoc-2018

When you make your pull requests, you can have it compare to this branch and I'll merge it there.

[2018-05-16 16:39] lmccart commented on #2911
I think the todo here is to add a note into the documentation and update any examples that autoplay to instead require user interaction (mousePressed etc).

[2018-05-16 16:39] lmccart commented on #2911
note that the documentation for sound examples is done here: https://github.com/processing/p5.js-sound

[2018-05-16 16:43] kjhollen commented on #2647
It looks like this was a specific code question that has been solved, so I'm going to close this issue. Please re-open if this isn't the case. :)

[2018-05-16 16:43] #2647 closed

[2018-05-17 01:01] AdilRabbani commented on #2811
#2913 @kjhollen @mlarghydracept

[2018-05-17 04:28] #2912 closed

[2018-05-17 04:28] #2905 closed

[2018-05-17 09:24] limzykenneth opened #2914 "Old saveCanvas() Safari behaviour described on reference page"
The reference describe that in Safari, [`saveCanvas()`](https://p5js.org/reference/#/p5/saveCanvas) will open the saved image in a new window and the user need to rename upon save as. However when I tested `saveCanvas()` on Safari 11.1 (ie. latest) it is no longer behaving like that, probably because of the blobing change. It nows simply save the image directly to the downloads folder.

I have no

[2018-05-17 23:18] tKartik opened #2918 "p5.js canvas not loading"
I've included the p5.js and p5.dom.js libraries but my canvas is not loading/appearing when i host my github page, but it's working fine locally.
link to my repository https://github.com/tKartik/Terror
here is my code of index.html
[code]

[2018-05-17 23:27] #2918 closed

[2018-05-18 23:36] aferriss opened #2919 "arc renders unexpectedly when start and stop angle are the same"
I noticed some weird behavior in the arc function when the start and stop angles are the same. It will render a full circle from 0 up to 90 degrees, beyond that it begins to render a 180degree~ arc that rotates, and then around degree 300 the arc starts to flash on and off.

What is the intended behavior when the values are the same? I was imagining that nothing would be drawn. I'm wondering if th

[2018-05-18 23:59] aferriss commented on #2919
I'm also a little confused about the purpose of these lines, which I think are also part of the problem. I assume the intent was to ensure that you can't go completely round the arc more than 360, so there will always be some portion of the arc drawn.
https://github.com/processing/p5.js/blob/5f6b4ab7e1c1a680186e52a9a1ac3f63450e8406/src/core/2d_primitives.js#L96-L98

When I comment out both these a

[2018-05-19 07:13] Streemo opened #2920 "`import p5 from "p5"` NPM distribution not suitable for production, please minify"
**TLDR:** Apparent bug in `p5.sound.min.js` causing it to load the educational (heavy) `p5.js` file instead of production `p5.min.js` with NPM.

---
If there's a trivial way to use the minified build with npm, please share, as I am new to define.js. This is a package request on behalf of those using webpack and npm. AFAIK, webpack is used for production builds and heavy documentation in source cod

[2018-05-19 14:47] WolcWocker opened #2921 "loadJSON ( . . ., . . ., 'jsonp') error"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-19 19:03] TheBestCoder101 opened #2922 "on openprocessing, I can't do the hour() or the minute()"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-19 20:12] kjhollen commented on #2919
thanks @aferriss! @AdilRabbani this is related to your work on arc for web GL, do you want to take a look at this?

[2018-05-19 22:53] JohnnyDeeee commented on #2830
Anything on this?
Because of this, i cant use this library because i keep getting a 0.5~ framerate on chrome.
Once i remove all my color() references, the framerate becomes acceptable...

[2018-05-19 22:55] AdilRabbani commented on #2919
Yep! Already looking into this!

[2018-05-20 02:44] limzykenneth commented on #2911
For now this behaviour has been at least temporarily [suspended](https://arstechnica.com/gaming/2018/05/google-temporarily-rolls-back-chrome-update-that-broke-many-web-games/), furthermore what Chrome is doing isn't standard compliant. How Chrome will or will not change their approach to this is still to be seen.

[2018-05-20 03:04] limzykenneth commented on #2921
You need to add `&origin=*` to your URL query as per wikimedia's API [manual](https://www.mediawiki.org/wiki/Manual:CORS#Description), that will allow anonymous request from any origin. `jsonp` will often require the server/API endpoint to support it (because it sends data back in a different way) so it's not a direct substitute solution for API endpoint without CORS header.

[2018-05-20 03:07] limzykenneth commented on #2922
Hi, can you include more info about your issue? If you can fill in the issue template in the "Details about the bug" section we can better understand what your problem is, if you can include a link to openprocessing and/or a simple code snippet demonstrating the problem it will be very helpful as well. Thanks.

[2018-05-20 03:07] #2922 closed

[2018-05-20 03:10] limzykenneth commented on #2830
@JohnnyDeeee The associated PR should be ready to merge but it may not be until the next release do this fix gets incorporated into the library. If you need it urgently you can try building from the PR source.

[2018-05-20 03:13] Spongman commented on #2921
i believe this was fixed in #2855 but that hasn't been released yet.

[2018-05-20 03:31] #2921 closed

[2018-05-20 11:13] AdilRabbani commented on #2919
@kjhollen what should the actual behavior be when same angles are provided for the start and stop parameters? I'm guessing the arc should complete a full circle. Starting from a specific angle, completing the round trip along the perimeter of the circle and stop at the same angle?

[2018-05-20 11:18] yutinglu413 opened #2923 "'orbitControl()' documentation missing description"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Documentation

#### Details about the bug:
there is no explanation on [orbitControl() documentation](ht

[2018-05-20 18:45] #2907 closed

[2018-05-21 02:19] faithwyu opened #2925 "book reference and porting tutorial from processing"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
porting tutorials from processing to the

[2018-05-21 08:10] micuat opened #2926 "texture() slow when no id"
I found that `texture(...)` is slow when the img/canvas tag to be bound does not have an id (example code at the bottom)

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities

[2018-05-21 08:12] micuat commented on #2926
And the issue becomes significant with larger texture size

[2018-05-21 08:43] micuat commented on #2926
I noticed that it has nothing to do with id; but the width/height parameter slows down the texture function:
https://github.com/processing/p5.js/blob/5f6b4ab7e1c1a680186e52a9a1ac3f63450e8406/src/core/p5.Element.js#L148

[2018-05-21 17:17] aferriss commented on #2919
FWIW the way it works in desktop processing when the start and stop are the same, nothing is drawn. When you have an angle that is larger than 0 - TWO_PI, you just end up with a circle no matter how big of a difference between the start and stop.

So:
[code]

[2018-05-21 18:26] lmccart opened #2927 "move shims out of specific object files and into more general location for multi-purpose use"
#### Nature of issue?
- [ x ] Found a bug

#### Most appropriate sub-area of p5.js?
- [ x ] Core/Environment/Rendering

#### Details about the bug:
The assign() function in the p5.Renderer module is a shim for Object.assign; this should be moved into a more generic place, as there's no particular reason it's only going to be necessary inside p5.Renderer.

Similarly, there is a shim defined in [str

[2018-05-21 18:31] lmccart commented on #2925
For simplicity, I think those book references can be removed entirely. For example:
"The keyPressed() event function introduced on page 97 can be used to record each letter as it is typed.'"

can become

"The keyPressed() event function can be used to record each letter as it is typed."

It's also fine to remove any section of the tutorials which refers to functionality not supported in p5.js, or

[2018-05-21 19:00] AdilRabbani commented on #2919
right! @aferriss the latest commit for arc right now, fixes the flickering issue. It would also deal with the case when the start and stop are the same (should draw nothing), but when given parameters such as 0,TWO_PI*10 for start and stop it would account for a full circle for this one as well, drawing nothing. According to the reference https://p5js.org/reference/#/p5/arc for drawing a full circ

[2018-05-21 20:34] kjhollen commented on #2919
I think that the implementation @aferriss describes is preferable. If the arc range is greater than 2 * PI, we should default to drawing a circle. While generally it is better for the user to use ellipse if they know they are drawing a circle, this implementation would also allow them to make some nice arc animations (as you've done in your example code).

[2018-05-21 21:58] #2886 closed

[2018-05-21 22:37] #2830 closed

[2018-05-21 22:47] #2863 closed

[2018-05-22 00:43] kjhollen commented on #2834
Hi @Nemecsek, the values of pixelDensity and displayDensity can vary depending on browser scaling, but with default scaling (100%), I think they should be the same. I don't have an Ubuntu box for testing, but on my Mac these values match on Firefox and Chrome consistently unless I zoom in/out (say with ctrl+plus or ctrl+minus), then they begin to vary. Is Chromium scaled up for some reason? Are yo

[2018-05-22 00:45] #2077 closed

[2018-05-22 00:48] kjhollen commented on #2838
with #2746 merged, in the next release you should be able to do:

`pg.pixelDensity(pixelDensity());`

to make the graphics density to the canvas density.

[2018-05-22 13:53] kgolid commented on #2641
My two cents:

`nfs()` is _not_ supposed to be a variant of `nf()` where zero-padding is replaced with space-padding.  It is only adding a space in front of the number (padded or not) in order to make it align with the same number negated.

Here is the nfs-description over at Processing.js, which I found to clarify the matter:

Same thing goes for ´nfp()´: numbers get padded just like with `nf()`,

[2018-05-22 19:59] #2828 closed

[2018-05-23 00:06] AidanNelson opened #2929 "Update perspective(), ortho(), camera() documentation"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Wording for the perspective(), ortho()

[2018-05-23 00:12] Spongman opened #2930 "orbitControl z-axis is inverted"
v0.6.1 webgl bug

https://p5js.org/reference/#/p5/orbitControl

if you click in the middle and drag the cursor left/right (with no vertical motion) then the model follows the cursor intuitively.

if you click in the middle and drag the cursor up/down the motion of the model seems inverted.

[2018-05-23 00:57] AidanNelson commented on #2923
I can take a look at this.  I'll submit a PR in a bit.

[2018-05-23 12:33] #2927 closed

[2018-05-23 12:50] #2914 closed

[2018-05-23 12:57] lmccart opened #2933 "move helper error output functions to separate module"
#### Nature of issue?

- [ x ] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [ x ] Other (specify if possible)

#### Feature enhancement details:

There are some functions that seem to exist only to output error messages if they're accidentally called by the user – for example, exit() and size(). These are to help users coming from Processing, as they are parts of the Pr

[2018-05-23 12:59] lmccart opened #2934 "use Object.defineProperty to make pseudo-private properties and methods non-enumerable"
#### Nature of issue?
- [ x ] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [ x ] Core/Environment/Rendering

#### Feature enhancement details:
The private properties and methods in core.js are not actually private. True privacy can be a pain in JavaScript, but as part of the pseudo-privacy is it worth at least making them non-enumerable using Object.defineProperty()?

[2018-05-23 13:05] lmccart opened #2935 "consider creating a standardized browser functionality alias mechanism"
#### Nature of issue?
- [  x ] Existing feature enhancement

#### Feature enhancement details:
There is liberal aliasing of the native browser functionality onto the p5 object, maybe this is worth trying to create a standard mechanism for, in the style of friendlyBindGlobal()?

A half-baked version:
[code]

[2018-05-23 13:31] #2925 closed

[2018-05-23 13:41] lmccart commented on #2857
opentype.js does offer a minified version but I don't think there's any way to get this from npm on command. I guess we would need to minify this file or all of the node_modules dependencies maybe, using the uglify task, prior to building the library.

[2018-05-23 15:07] AidanNelson opened #2936 "Odd behavior when perspective() near plane set to 0"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-05-23 16:10] Spongman commented on #2857
Doesn't the p5.min.js version already exclude all these comments?

[2018-05-23 17:41] stalgiag opened #2938 "Stroke overlapping issue on co-planar shapes in WebGL"
When two shapes are sharing a z-plane, their strokes render on top of all of the fills.
![image](https://user-images.githubusercontent.com/10382506/40440923-46fd84a2-5e74-11e8-8d91-6078ee5543c6.png)
As @Spongman pointed out, this was reported in [#2105](https://github.com/processing/p5.js/issues/2105) & [#2510](https://github.com/processing/p5.js/issues/2510), and 'fixed' in [#2511](https://github

[2018-05-23 17:44] mlarghydracept commented on #2936
The near clipping plane should never be set to [0 in a perspective matrix as per the mozilla reference.](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_model_view_projection) It would be great to get a friendly error then automatic reset to 0.001 in my opinion.

[2018-05-23 18:02] Spongman commented on #2857
how about this? https://github.com/Spongman/p5.js/commit/7e602b95e8a90a6cf7a6ee8ea0787c27e39cdbba

[2018-05-23 22:24] kjhollen opened #2943 "webgl rect() draws diagonal and internal vertices when stroke is on"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: master, works ok in 0.6.1
-

[2018-05-23 22:54] kjhollen commented on #2943
hey @AidanNelson, this one might make a good first issue to fix, if you're looking for one? the code is relatively contained and you can look at some of the other primitive shape function as examples.

[2018-05-23 23:19] Spongman commented on #2943
actually, i'm pretty sure this is _not_ a bug. the behavior you see above was present in v0.6.0, v0.5.16 and long before that (see #2510 for an old example).

the behavior you're seeing in v0.6.1 is actually the bug here. introduced in #2515 and fixed in #2657.

[2018-05-23 23:34] kjhollen commented on #2943
rect() should produce a rectangle with a stroke around its perimeter only in the default state. the current behavior, while expected for someone familiar with the inner-workings of the web gl code, won't meet an end user's expectations.

[2018-05-23 23:41] Spongman commented on #2943
ok, i just wanted to make to point out that this wasn't an issue that has turned up _since_ v0.6.1, and that v0.6.1 is the outlier in the history of the behavior of this function. the reason that `rect` has historically drawn the diagonal line is that it uses the same face triangulation mechanism as the other 3d primitives.

[2018-05-23 23:45] AidanNelson commented on #2943
Hmmm... I'm not seeing that behavior in either 0.6.1 or the current master branch build.  This is what I see with the code snippet above on the master branch build:

![screen shot 2018-05-23 at 7 42 57 pm](https://user-images.githubusercontent.com/6486359/40456874-8531556c-5ec1-11e8-8ee8-e48a86196fa1.png)

[2018-05-24 00:02] Spongman commented on #2943
ah, you're right! sorry, i was getting my versions mixed up. looks like #2515 made it in before to 0.6.0 release - i should have paid closer attention to the logs ;-)

i _do_ see the diagonals in current master (75a949b), though. maybe you're old/cached version?

[2018-05-24 00:14] AidanNelson commented on #2943
Yup, that was it.  Now I'm seeing this.

[2018-05-24 05:41] limzykenneth commented on #2857
Pretty much exactly what I'm looking for haha. If you think said package is reliable enough for us to use we can try it out to make sure it builds without introducing any bug.

[2018-05-24 14:11] #2933 closed

[2018-05-24 18:12] kjhollen opened #2946 "renderer can't use its own push/pop methods"
currently, the p5 instance stacks the styles for renderer and passes an object to p5.Renderer.prototype.pop when p5.prototype.pop is called. this means that the renderer cannot internally use push/pop to maintain its own state; it must have the p5 instance call pop for it.

there are some cases in webgl mode where it would be helpful to let the renderer push/pop it's own state to restore a user te

[2018-05-24 21:11] vijithassar opened #2947 "consider filename changes for src/core"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

Opening this issue as part of my research for my Processing Foundation Fellowship project working on internal developer-facing documentation and principles.

I think it's worth considering changing these filenames in `src/core` in the interest of clarity; I've arti

[2018-05-25 01:28] Spongman commented on #2857
yeah, i think it's fine. it does need that fix to work around the options bug, though.

[2018-05-25 17:09] yousifucv commented on #2370
Hi all, this is still an issue in 0.6.1

[2018-05-26 02:09] Spongman commented on #2936
also see this khronos article on depth buffer precision and a more thorough treatment of the implications that i alluded to above: https://www.khronos.org/opengl/wiki/Depth_Buffer_Precision

[2018-05-26 03:27] yousifucv commented on #2344
Not sure if this should go in it's own new issue, but TRIANGLES also seems to not work as expected in 3D WEBGL.

I supply ` beginShape(TRIANGLES) ` six vertices.
Two disjoint triangles are expected. [https://p5js.org/reference/#/p5/beginShape](https://p5js.org/reference/#/p5/beginShape)

[https://alpha.editor.p5js.org/](https://alpha.editor.p5js.org/)
[code]

[2018-05-26 03:59] Spongman commented on #2344
indeed. this was fixed in #2670.

demo here: https://codepen.io/Spongman/pen/xjvwWz?editors=0010

[2018-05-26 06:56] meiamsome commented on #2877
Yeah, with the underlying `requestAnimationFrame` you are locked into whatever the browser gives you (not this is usually no higher than the monitor refresh rate, but it can be higher).

You can take control of the loop yourself with something along the lines of:
[code]
or:
[code]
But you are not likely to have a stable FPS with this and you might see some browsers capping you harder. There are ot

[2018-05-26 10:08] meiamsome commented on #2698
@limzykenneth
I would say that the `load` prefix implies that it's asynchronous already, so I'm still not sold on needing the double implication of the `Async` suffix, but I don't see a better option at the moment. You are right that adding a new property is dangerous and will lead to issues, and it isn't that nice of a solution either.

I intend to start work on these with the `Async` suffix now

[2018-05-26 14:02] andry-tino opened #2951 "Error in definition files in TypeScript"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Typescript definitions)

#### Which platform were you using when you encountered this?

- [ ] Mo

[2018-05-26 16:06] clay53 commented on #2877
@meiamsome Thank You! This solution works for me. However, do you know if this would be possible to enable/disable during runtime? If not then that's fine it doesn't make that huge of a difference.

[2018-05-26 16:06] lmccart commented on #2951
we have made the decision not to support typescript any longer due to the realities of maintenance. there's currently an open issue to move this out of the repository, though we haven't gotten there yet. so typescript files you find may be out of date / buggy. apologies!

[2018-05-26 16:06] #2951 closed

[2018-05-26 16:09] Spongman commented on #2951
This is fixed in the p5 sound repo. We're just waiting for that to be merged and released.

[2018-05-26 16:12] lmccart commented on #2571
Picking this back up.. toward the goal of making this library more maintainable, I am strongly in favor of removing typescript completely from this repo and build process. We will transition at some point to ES6 and we could perhaps revisit it then. @Zalastax mentioned the possibility of moving this to another repo. Is anyone able to do this? Otherwise I think we will just need to remove / archive

[2018-05-26 16:14] Spongman commented on #2698
How about having the user's preload function optionally return a promise (and/or and array of promises). If a promise is returned then it's awaited before setup is called. That way, in the future, the user can just mark their preload as 'async' and 'await' their async methods within.

[2018-05-26 16:15] Kinrany opened #2952 "Frequently referenced wiki page has been archived"
#### Nature of issue?

Found a problem with documentation.

#### Most appropriate sub-area of p5.js?

Instantiation cases, documentation.

#### Details about the bug:

Open this p5 wiki page: https://github.com/processing/p5.js/wiki/Instantiation-Cases

It's empty, presumably because [it was archived](https://github.com/processing/p5.js/wiki/Archived-Content#instantiation-cases), but there are sti

[2018-05-26 17:16] lmccart commented on #2947
Both these filenames refer to the subheading under the category "Shapes".
![screenshot of reference showing these subheadings](https://i.imgur.com/bGLJ5UI.png)
There is actually a 3d primitives file in the `src/webgl/` folder, but it is just named `primitives.js`. Given this, would it make sense to prefix both of these with "shape_" to be more clear? ie `shape_2d_primitives.js` and `shape_attribut

[2018-05-26 17:26] lmccart opened #2953 "files listed in app.js should be organized"
#### Nature of issue?
- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Feature enhancement details:
Currently the files listed in [app.js](https://github.com/processing/p5.js/blob/master/src/app.js) seem to be in pretty random order. It would be nice to organize these so it's clear if we're missing anything. I would suggest going f

[2018-05-26 17:35] toolness commented on #2571
Er... sorry I have been absent from this discussion for so long!  Out of curiosity, has anyone brought up the possibility of having TypeScript infer typings from p5's existing JSDoc comments?

I couldn't look into this when I did my processing fellowship in 2016 because the feature wasn't actually in TypeScript yet: it was only added in a relatively recent version of the tool, I think at some poin

[2018-05-26 17:48] lmccart commented on #2900
the cursor function does work on web, this is leftover documentation from the processing(java) reference that got accidentally transferred. i will remove. thanks!

[2018-05-26 17:50] #2953 closed

[2018-05-26 17:51] #2900 closed

[2018-05-26 18:07] Zalastax commented on #2571
@toolness I don't think TypeScript is compatible with YUIDoc, unfortunately.
I'm not sure how big the difference is, but migrating to JSDoc is probably a big task.
For now, it seems to me like the best path forward is to migrate the definitions generator to its own repository.
We can revisit this topic when ES6 is in place.
I would not be surprised if the path becomes ES6+YUIDoc->ES6+JSDoc->TS.

[2018-05-26 19:37] toolness commented on #2571
Oh shoot, my bad--I totally forgot that p5 uses YUIDoc and not JSDoc!  Hmmmm...

[2018-05-26 22:26] meiamsome commented on #2698
That was the plan, yes, I already have code to this end locally. However, I was also considering making the setup and draw functions also have support for this to make them consistent and allow for asynchronous things in the draw loop (Not recommended obviously, but there's definitely a case for it imo)

[2018-05-26 23:26] meiamsome commented on #2877
@clay53  you could try something like:
[code]

[2018-05-26 23:43] Spongman commented on #2877
does the browser ever present the page any quicker than the `requestAnimationFrame` frequency? if not, it might just be easier to put a `for` loop inside the `draw` function.

[code]

[2018-05-26 23:46] clay53 commented on #2877
@meiamsome Thanks! I'll try to implement this concept.

[2018-05-26 23:46] clay53 commented on #2877
@Spongman You actually anger me.

[2018-05-26 23:46] #2877 closed

[2018-05-26 23:47] meiamsome commented on #2877
@Spongman I think that's browser dependant... I would be very surprised if they did allow you to render faster than that, but you can definitely simulate more frames, if, for example, you are trying to record the canvas

[2018-05-26 23:53] meiamsome commented on #2698
Actually, thinking about it, we can deprecate the whole `preload` mechanism once we have the preloads promisified as long as we allow `setup()` to return a Promise and honour that, right? I think that would actually make a lot of sense. so that we no longer have to do reference tracking on preload functions?

[2018-05-27 00:47] meiamsome commented on #2698
Yeah, you're right - preload is definitely simple, but the concept of `var x = loadX` is unsustainable (See issues with `loadJSON` causing confusion: #2290, #2207, #2154) and just bad practices. We should probably keep `preload` but if old-style `loadX` are deprecated then it just becomes a simple function that gets executed prior to setup, which should be fine.

[2018-05-27 00:55] Spongman commented on #2698
yeah those placeholder objects are definitely a little janky. something that could probably have been solved well with `Symbol()`. oh the joys of web compat... ;-)

[2018-05-27 12:33] lmccart commented on #2571
hi @Zalastax that would be great, thank you! the repos in the processing organization represent ones that we have committed to maintaining (as best we can). since the reason for removing typescript from this repo is a lack of resources to maintain it, it would make sense to host this repo somewhere other than the processing org. you are welcome to set up in within your own set of repositories and

[2018-05-27 23:50] typio commented on #207
This is really late but window.onresize doesn't work because if the browser is maximized it doesn't get called. Instead just putting c.size(windowWidth, windowHeight) in the draw loop works without any noticeable lag.

[2018-05-28 05:57] TanviKumar commented on #2842
Hey @thomasvanhemert , could you post a copy of the intial file you load? It works fine when I create a csv file that has ``sessionId,timeStamp,selectedItems`` as the header and try your code with some values.

[2018-05-28 07:18] clankill3r commented on #207
Wouldn't it be good if p5 checks if it is in fullscreen in the pre draw, and if so set the w and h accordingly?

[2018-05-28 12:00] lmccart commented on #2934
I've thought more about this one. I think it's not so important to us that these variables stay private, it's more that the "_" is a way of indicating that they are not public facing properties that a user needs to be concerned with. If the user wants to read or manipulate them, they are free to do so at their own risk.

Implementing the Object.defineProperty() for each of these will make the code

[2018-05-28 12:06] meiamsome commented on #2934
I would agree with keeping it as is with `_` syntax. The other option is to just make them `var`s inside the constructor function if they are only ever referenced inside there, although then they are not testable.

What is the use case for enumerating properties on the p5 object anyway?

[2018-05-28 13:20] lmccart commented on #2934
@meiamsome they are used elsewhere so we can't just make vars, otherwise I agree that would be the best option.

I think that my making it non-enumerable means that it wouldn't show up if you were to iterate over the properties of the p5 object. maybe @vijithassar has more to add?

[2018-05-29 00:36] vijithassar commented on #2934
Correct, the main benefit of non-enumerable properties would be that they wouldn't be iterated over in a for-in loop, won't be included in `Object.keys()`, and so on. Makes sense to keep it as is if code readability is more important than clearing out artifacts from the public API.

[2018-05-29 00:40] vijithassar commented on #2947
- I agree, `main.js` would make sense.
- I suspect that renaming the `p5.Graphics` object (and consequently also the filename) might be in order, but I'll defer to others on this question
- `shape_helpers.js` or similar would be a nice description, but also maybe that could be combined with `2d_primitives.js` in a file named `shapes.js`?

[2018-05-29 15:41] outofambit commented on #2934
This might be a strange suggestion, but would placing the `_` methods under a `private` (or maybe `internals`) key in the object help make them less visible but still accessible?

https://github.com/processing/p5.js/blob/bc108799df4a95f7dbbefd7fa5dfc6784379a2a2/src/core/core.js#L570

would become

[code]

We could even use `Object.defineProperty()` to make `internals` not enumerable (if we wanted)

[2018-05-29 17:37] aferriss commented on #2919
Hey not sure if this is related or not but arc also seems to render really strangely when I use rotate() on it with intervals of 270 (-90, 630, etc). It seems to flash a rect on the screen intermittently. Take a look here

http://alpha.editor.p5js.org/aferriss/sketches/rJ9iyfi17

[2018-05-29 18:41] mlarghydracept commented on #2919
Thanks for catching this @aferriss! Just confirming that this appears in the webgl-gsoc-2018 branch as well.

[2018-05-29 20:45] Kinrany commented on #2920
Perhaps `p5.min.js` and `p5.sound.min.js` should have their own packages, used by `p5`?

[2018-05-29 23:37] outofambit commented on #2920
Hi @Streemo. I think this could be addressed in your webpack config with a [resolve alias](https://webpack.js.org/configuration/resolve/#resolve-alias) to the path of the minified p5js files. This should get you at least part of the way there.

You might also be able to do something with [include](https://webpack.js.org/configuration/module/#rule-include).

[2018-05-29 23:40] outofambit commented on #2920
also, if you are fairly certain that this is an issue with `p5.sound.min.js` it might be good to open an issue in that repo (https://github.com/processing/p5.js-sound/issues).

[2018-05-30 07:03] Abdur-rahmaanJ commented on #2224
why does p5js just not follow the processing API?

[2018-05-31 11:19] TanviKumar commented on #2904
This solution works well, but perhaps it is a lot of tweaking required for an example. I've found a very simple .obj file that takes a lot lesser time to load and doesn't require any tweaking for the examples sake. Would this be a better solution to the current issue or would it be wiser to show the user different steps they might have to take to make their models on an appropriate scale.

[2018-05-31 15:16] kjhollen commented on #2571
Updated title here to reflect pending work items. Thanks!

[2018-05-31 15:17] kjhollen commented on #2575
Thank you for reporting this. Typescript support will soon be moved to an independent repository. Future issues can be addressed there. Please see #2571 for a detailed discussion.

[2018-05-31 15:17] #2575 closed

[2018-05-31 15:20] kjhollen commented on #2572
I'm closing this because #2571 is the plan for typescript support. thank you for offering to take care of the migration, and I hope the master's thesis wraps up smoothly @Zalastax!

[2018-05-31 15:20] #2572 closed

[2018-05-31 16:21] TanviKumar commented on #1829
Is this something we are going forward with? The implementation seems to be ready as before, will we be integrating this into the existing method or creating a new method entirely?

[2018-05-31 17:30] kjhollen commented on #2811
hey folks, I'm going to close this issue because things are tracked well elsewhere. anyone interested in following along can have a peek at the webgl-gsoc-2018 branch. thanks! 😃

[2018-05-31 17:30] #2811 closed

[2018-05-31 17:32] #2252 closed

[2018-05-31 17:37] dekmm opened #2962 "Add additional parameter to orbitControl to enable/disable inverted vertical rotation"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
As mentioned in PR #2956 I was thinking

[2018-05-31 17:38] kjhollen commented on #2698
assigning this bug to @meiamsome since there is a pending PR, just to indicate work is in progress. :)

[2018-05-31 18:26] Spongman commented on #2962
how about adding two parameters `scaleX` and `scaleY` with default value `1`? making either of these negative would change the sense of the rotation, and adjusting the magnitude would change the sensitivity.

[2018-05-31 19:15] dekmm commented on #2962
I like the approach. Would 1 be considered the maximum allowed sensitivity so it ranges from -1 to 1 or is it just an agreed upon starting point?

[2018-05-31 19:33] kjhollen commented on #2962
Thanks @dekmm! @AidanNelson is one of our Google Summer of Code students for p5.js and part of his project is improving the camera API and interactions for Web GL mode. Is it ok with you if I assign this issue to him?

[2018-05-31 19:51] Spongman commented on #2962
I don't see the need for a setting a maximum. If someone wants to make it more sensitive than normal, it should probably allow that.

[2018-05-31 21:55] dekmm commented on #2962
@kjhollen go ahead!

[2018-05-31 23:43] Canatron opened #2963 "[webGL] BeginShape doesn't work with materials"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-01 04:24] SaintPepsi opened #2964 "Suggestion: pixelPerfect()"
#### Nature of issue?

- [x] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Image
- [x] Typography

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.6.0 January 19, 2018
- Web browser and version: Google Chrome | 66.0.3359

[2018-06-01 04:29] Spongman commented on #2964
Did you try `pixelDensity(1);` after your `createCanvas()` call?

[2018-06-01 04:38] SaintPepsi commented on #2964
@Spongman Yes!

[2018-06-01 08:42] gregja commented on #2305
Thank's a lot for this interesting discussion, sorry to arrive so late.
Primitives are useful for beginners, but I think it's important to teach them also how to create their own primitives. For example, learning to create their own circles, without depending on the ellipse () function, is very interesting to discover the basics of algorithmics. That's what I tried to teach in a tutorial that I wr

[2018-06-01 10:50] spoonmanchen commented on #1492
Thanks a lot @alexdean .

[2018-06-01 18:23] AidanNelson opened #2965 "Less rotation than expected with angleMode(DEGREES) in WEBGL mode"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-01 20:59] extrajordanary commented on #2952
Also found a dead link to an archived FAQ page, inside of the error you get when trying to call color at the top of the sketch:

[code]

Seems like the link is in the p5 error code itself, so just wanted to be sure that's also on the todo list to update and/or remove those links as well.

Cheers!

[2018-06-02 01:02] #2181 closed

[2018-06-02 01:04] #2929 closed

[2018-06-02 01:04] #2923 closed

[2018-06-02 01:06] #2943 closed

[2018-06-02 04:11] AidanNelson commented on #2965
Update: [this line](https://github.com/processing/p5.js/blob/master/src/webgl/p5.Matrix.js#L514) is converting an angle from degrees to radians which has already seen that conversion. So, seeing this conversion twice means the final rotation is less than expected:

``` var _a = this.p5 ? this.p5._toRadians(a) : a;```

I don't quite understand what that line is meant to do, however.  I assume it ha

[2018-06-02 06:57] Spongman commented on #2965
yeah, you're right. that line shouldn't be there. as it says in the doc comment just above:
[code]
this function is always called with it's argument as radians, it shouldn't need to convert it again.

[2018-06-02 07:00] Spongman commented on #2962
1. you can use `_fromRadians` to convert from radians to angleMode, if necessary.
2. i'd recommend coming up with some sensible default scale factor that you think makes sense, and then just multiply that by any scale factors that are passed in.

[2018-06-02 07:02] dekmm commented on #2965
```_toRadians``` only converts to radians if the angle mode is DEGREES. It has an internal check. Otherwise it just returns the argument.

[2018-06-02 15:19] Spongman commented on #2904
I think it's useful to show the use of the `normalize` flag, and the model scaling (perhaps this can be better achieved here in example 2 by the use of the `scale` function). Not everyone's model will be exactly the right size to fit in their canvas, and I think it's useful to teach them how to normalize & scale in this example.

[2018-06-02 22:17] meiamsome opened #2970 "What should the sync option do?"
The `sync` parameter (Added in #493, initial proposal #490 by @kevinbarabash - tagged to get their input, hopefully) is not well documented (I cannot find any reference to it anywhere).

The sync tests assert that when the constructor is ran with the sync option then it expects to run the `setup` function synchronously. This behaviour is not compatible with the preload mechanism, as the existence

[2018-06-02 23:19] meiamsome opened #2971 "redraw does not reset the matrix correctly"
#### Nature of issue?
- [X] Found a bug
#### Most appropriate sub-area of p5.js?
- [X] Core/Environment/Rendering

Using the argument to `redraw` does not reset the matrix between the multiple frames that are redrawn, leading to weird behaviours. You would expect to see only one rectangle in the snippet below, but instead you see 5 each rotated by `PI/10` from the last.
[code]

[2018-06-03 00:31] AidanNelson commented on #2965
@dekmm -- yes, but in this case it seems the degree conversion is happening twice.  Once correctly, and the second time in error.  O_o

I could submit a PR to remove that line, but I can't quite parse out what purpose it served in the first place.  When would `this.p5` not evaluate as `true`?

[2018-06-03 01:18] meiamsome commented on #2965
@dekmm
The conversion is already occurring inside [p5's rotate()](https://github.com/processing/p5.js/blob/master/src/core/transform.js#L195-L199) that calls the [render's rotate()](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L734-L740), which then performs the Matrix operation.

@AidanNelson it would be null when the matrix is constructed on its own - `new p5.Matrix

[2018-06-03 19:07] AidanNelson commented on #2965
@meiamsome ahh, ok.  That is what I was wondering.  So `createMatrix()` would store a reference to  the current p5 instance in `this.p5` and be able to convert angles according to that instance's angle mode.

In that case, is there a strong reason not to drop the angleMode conversion from the [publicly accessible](https://github.com/processing/p5.js/blob/master/src/core/transform.js#L224-L229) `p5

[2018-06-04 03:51] #2920 closed

[2018-06-04 16:41] AidanNelson commented on #2965
That makes sense.  I will submit a PR with your suggested change, and see if anyone else has suggestions on this!

[2018-06-04 21:48] mictadlo opened #2977 "Typescript type file mistake for p5.Vector"
Hi
`bubble1 = new Bubble(p, new p5.Vector(200, 200, 40));` caused `[ts] Expected 0 arguments, but got 3.`

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
-

[2018-06-04 22:34] Streemo commented on #2920
@outofambit the hacky fix which worked is to edit p5's main field in package.json on-the-fly to point to the minified file. It is a problem with p5.sound.min; it requires the non-minified p5!

[2018-06-04 23:21] Kinrany opened #2978 "Create p5 instances from plain objects"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the *missing feature*:

- p5.js version: [0.6.1](https://github.com/processing/p5.js/tree/0.6.1)
- Steps to reproduce this: [codepen example](https://codepen.io/Kinrany/pen/dKMXeb)

#### Feature details:

Use plain objects to create sketches in instance m

[2018-06-05 00:16] meiamsome commented on #2978
Destructuring like that in your example wouldn't work without the ellipse function being bound to the sketch object (I don't think it is in current p5 but I might be wrong).
Even if this wasn't the case I personally don't see any benefit over just doing the following:
[code]

Regarding your use case, can you elaborate further? What is preventing a usage of `remove` and then creating a new instance

[2018-06-05 04:16] Spongman commented on #2977
Try using the `createVector(x,y,[z])` function instead of the constructor.

[2018-06-05 04:57] kjhollen commented on #2977
thank you for reporting this @mictadlo. At this time, we are planning to move Typescript definitions into a new, separate repository because we can't continue to support them. This is being tracked in #2571—I'm tagging your post in the issue so that the new maintainer can track this in the new repo, but will close it here.

[2018-06-05 04:57] #2977 closed

[2018-06-05 07:35] AdilRabbani commented on #2185
@kjhollen implementing bezierVertex is part of my third task for GSOC this summer... :/ Or should @tcoppex work on this one, and I carry on afterwards?...

[2018-06-05 08:31] tcoppex commented on #2185
Thanks for your answer @kjhollen, I'll find it interesting to implement the triangulation part internally actually, but as with many high-profile functionalities (on efficiency and somewhat complexity) it might be a good option to outsourced it at first. Otherwise I believe we could use triangulation to render font in 3D as well.

Hi @AdilRabbani, I was just poking around really but if this is par

[2018-06-05 09:12] Kinrany commented on #2978
I might have overestimated the convenience of destructiring:

[code]

I guess it's only good for long functions, in which case one more line of code is less significant:

[code]

And you're right that destructuring does not currently work with functions. Might be worth considering as a separate issue. It would allow writing sketches as if everything was global:

[code]

[2018-06-05 12:21] Kinrany commented on #2978
My use case: [vue-p5](https://github.com/Kinrany/vue-p5), an attempt to write a generic Vue component that contains a p5 instance.

Using the same example, this is how it works now:

[code]

The component emits an event whenever the underlying p5 instance calls a sketch event.

This is not ideal: porting an existing sketch to Vue requires rewriting it. Ideally using the component should be exactly

[2018-06-05 13:29] Diego-O-Perez commented on #1587
It is possible to skew an image in P5.js, processing is, and naitive JavaScript.

I'm not completely sure how to do it but I've seen people accomplish it in a variety of ways with smooth, lag-free rendering.

Some people have used Matrixies and transformed each pixel of the image using loadPixels.

Another approach is to cut the image into strips and place them according to the slope of the image

[2018-06-05 14:44] Kinrany commented on #2978
Does p5 use `this`, inheritance and classes anywhere in it's API?

Personally I'd rather use a parameter. It's explicit, allows arrow functions and doesn't need `var that = this`.

Permitting object return is an interesting idea. With it one could use instance mode as if it was global mode:

[code]

It doesn't help with transforming the sketch though. The argument is still a closure over `sketch`,

[2018-06-05 15:13] Kinrany commented on #1327
Added a few lines to [Global and instance mode](https://github.com/processing/p5.js/wiki/Global-and-instance-mode) to mention p5 constructor's second parameter options.

[2018-06-05 16:07] kjhollen commented on #2185
sorry @AdilRabbani! I must have lost track. I'll assign this one to you for safe keeping.

[2018-06-05 18:21] outofambit commented on #1587
hey @Diego-O-Perez, could you post this in the p5js forum? there's a new one! https://discourse.processing.org/c/p5js

[2018-06-05 21:08] Trimad commented on #2951
If p5.js has dropped typescript, does that mean it's not possible to use p5.js with Angular?

[2018-06-06 03:52] therewasaguy commented on #2920
@Streemo it sounds like this could be resolved by changing the `main` in p5.js package.json to use the .min.js, [here](https://github.com/processing/p5.js/blob/master/package.json#L104), and by adding "main": "./lib/p5.sound.min.js" to p5.sound's package.json ?

[2018-06-06 04:58] kjhollen commented on #2951
typescript will be moved to a new repository (see #2571 for progress / updates), which will be managed independent of the core library. some additional steps will probably be required to work with angular or other external libraries.

[2018-06-06 09:26] codingking03 opened #2979 "Get not working offscreen"
GET NOT WORKING OFFSCREEN:

[code]
If I am not doing anything wrong then how might I fix my issue? (I need off-screen imaging)

[2018-06-06 10:47] Streemo commented on #2920
Hey! Yes this is exactly what I did locally, but only because I was about
to minify my bundle anyway. Not sure about the aliasing for webpack, but I
don't think this problem belongs in webpack scope?

IIRC there was an issue with p5.sound.min requiring p5 rather than the
minified file, rather than the entry point. Idk if you guys are comfortable
using the mangled file as the default package entry

[2018-06-06 10:53] DatoIsko opened #2980 "Add global modes to p5.d.ts"
///<reference path="p5.global-mode.d.ts" />

I think you should add `///<reference path="p5.global-mode.d.ts" />` to top the p5.d.ts, because it's getting error.

[2018-06-06 15:56] kjhollen commented on #2979
`get` only works with coordinates between 0-width and 0-height. If you need an offscreen buffer, try using p5.Graphics + createGraphics: https://p5js.org/examples/structure-create-graphics.html

[2018-06-06 15:56] #2979 closed

[2018-06-06 21:36] Kinrany commented on #2978
On second thought posting a wall of ~~text~~ code that uses a not very popular framework is not a good idea D:

Is there anything I can do to make all that easier to read?

[2018-06-06 21:46] kjhollen commented on #2893
Fixed in #2898. thanks @m90!

[2018-06-06 21:46] #2893 closed

[2018-06-06 21:58] kjhollen commented on #2129
Looks like this has been resolved; it's still broken in the original link on Open Processing but is working in the alpha editor with an updated p5.js version: http://alpha.editor.p5js.org/kjhollen/sketches/BkeCOAHxX

[2018-06-06 21:58] #2129 closed

[2018-06-06 23:31] kjhollen commented on #2305
hey folks, I'm going to close this because it feels like the conversation has mostly wrapped up—but please feel free to open new issues for specific feature requests (like circle() etc). It's a little easier to track things if we have them broken into smaller items so people can sign up to work on them!

We've also got a brand new forum that can be great for future discussions like this: https://d

[2018-06-06 23:31] #2305 closed

[2018-06-06 23:51] Kinrany commented on #2978
I'm trying to come up with a case in plain JS, but using Proxy is always an option, there's nothing I can't do with sketches the way they are now, so changing p5 is not necessary.

I guess I just don't like sketches-as-decorators, so I'll close this issue for now. But please feel free to @ me if you have any thoughts on this topic.

[2018-06-06 23:51] #2978 closed

[2018-06-07 00:16] #2560 closed

[2018-06-07 00:29] kjhollen opened #2981 "show error message when loading files that are too big"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

There are currently two open issues for

[2018-06-07 00:40] kjhollen commented on #2528
I want to propose that smooth/noSmooth in the WebGL renderer can be functions that just defer to `this.setAttributes('antialias', true);` or `this.setAttributes('antialias', true);`. a call to push/pop before & after may also be required. this can probably go right into src/webgl/p5.RendererGL.js

[2018-06-07 00:44] kjhollen commented on #2645
Someone can take this on by creating the new method in src/webgl/p5.RendererGL.js and just having it call `this.ambientLight(128, 128, 128)` and `this.directionalLight(128, 128, 128, 0, 0, -1)` to match the Processing behavior, more or less. some adjustments to the direction might be necessary.

[2018-06-07 00:46] Spongman commented on #2645
you can just take the code from #2547. it's already tested and working.

[2018-06-07 00:53] kjhollen commented on #2550
just a note here that this documentation has been moved to developer_docs/friendly_error_system.md but still needs updating :)

[2018-06-07 00:54] kjhollen commented on #2677
closing as a duplicate of #2616

[2018-06-07 00:54] #2677 closed

[2018-06-07 01:13] kjhollen commented on #2854
Great. Let's update the documentation to include that the baseline alignment is the default. For anyone looking for a good first issue, [here's how to update the documentation](https://github.com/processing/p5.js/blob/master/developer_docs/inline_documentation.md)

[2018-06-07 01:13] #2848 closed

[2018-06-07 01:18] kjhollen commented on #2844
fixed in #2855

[2018-06-07 01:18] #2844 closed

[2018-06-07 01:21] kjhollen commented on #2841
hi @mikima, thanks for reporting this! we recently moved to a new forum, here: https://discourse.processing.org/

it looks like you were able to find a solution, so I'm going to close this. hopefully the forum will be helpful in the future!

[2018-06-07 01:21] #2841 closed

[2018-06-07 01:33] kjhollen commented on #2795
moved this over to the website repo. thanks!

[2018-06-07 01:33] #2795 closed

[2018-06-07 01:42] kjhollen commented on #2728
This will be fixed as a side effect of #2961.

[2018-06-07 02:18] #2832 closed

[2018-06-07 05:35] wktdev opened #2982 "Please write documentation for node.js integration for p5.js sound"
I would like to request that you update the documentation for how to incorporate p5.js sound into node.js. A few basic examples of how to play an oscillator and load/play sound file from different node packages would be helpful (create-react-app etc).

[2018-06-07 06:04] wktdev commented on #2982
Just a simple code example this this would be helpful:
## Using P5.js with Node.js
`
import 'p5/lib/addons/p5.dom';
import "p5/lib/addons/p5.sound";
import p5 from "p5";

let p5audioContext;

var p5temp = function(sketch) {

    sketch.preload = function() { // @preload is required by P5.js
        p5audioContext = sketch.getAudioContext();

    }
};

let osc =  new p5.Oscillator();
osc.start()
`

[2018-06-07 08:30] tcoppex commented on #2189
Hola todos,

I've allowed myself to take up on the task, I hope that's okay with you @pandeykartikey.

To test this out I've implemented the functionality found on processing 3, updated for using OpenGL ES 2 wrap mode names. Here is the result :

![why not wrap mode ?](https://imgur.com/fAzqEfD.png)
<i>textureWrap set respectively to CLAMP_TO_EDGE, REPEAT, and REPEAT_MIRRORED.</i>

Example code :

[2018-06-07 18:52] kjhollen commented on #2189
hi @tcoppex, thanks for this proposal! @aferriss submitted a PR for texturing in #2960, but added to the p5.Texture object. Do you want to review the PR and make sure it's set up to eventually implement `textureWrap()` as a top-level part of the p5 API?

[2018-06-07 21:19] AidanNelson commented on #2497
I've started working on this with [this](https://threejs.org/examples/?q=control#misc_controls_orbit) as a reference (three.js' 'orbitControls' rather than the 'trackballControls' linked above). The main difference between the two according to [this stackexchange post](https://stackoverflow.com/questions/18581225/orbitcontrol-or-trackballcontrol) is that orbitControl maintains the same cameraUp ve

[2018-06-08 04:55] Aditya21196 opened #2983 "Capture Canvas State and Retain Canvas State"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-08 07:07] tcoppex commented on #2189
Hey @kjhollen, I completely missed that PR !

That's quite a good idea and seems feasible, I'll wait for it to be merged and will submit my revisions afterwards.

Thank you.

[2018-06-08 13:56] makeyourownalgorithmicart commented on #2305
Thanks @kjhollen - as OP I agree the conversation has moved.

I implemented a [simple.js](https://github.com/makeyourownalgorithmicart/simple.js/wiki) to address most of the issues.

I still think changing core processing would make it more open to more diverse communities of people.

I respectfully disagree that it should be done in pieces - as that leads to the current state where circle() or sq

[2018-06-08 16:32] kjhollen commented on #2305
Thanks for the feedback. I still encourage you to file issues to track requested work items for the core library—for example, one for circle() and another one for square(). These were not rejected! I think no one picked them up to implement from this issue because when they browse through the github issues, the title of this issue doesn't make it obvious that is what is needed here.

Filing issues

[2018-06-08 17:48] KevinWorkman opened #2984 "Should P5.Graphics support set() with another P5.Graphics?"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Color
- `createGraphics()`
- `set()`

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.6.1 (using the alpha web editor)
- Web browser and version: Chrome 67.0.3396.62
- Operating System: Linux
- Steps to reproduce this:

From

[2018-06-08 18:52] mike239x opened #2986 "set() not working as intended when copying image to graphics"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Image

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: v0.6.0 and also v0.6.1
- Web browser and version: Mozilla Firefox 60.0.1
- Operating System: Linux Ubuntu 18.04
- Steps to reproduce this:

[code]

As `image.png` take any

[2018-06-08 19:06] hhalkin opened #2990 "angleMode in multiple canvases"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-08 19:18] hhalkin commented on #2990
I have an associative array of canvases: canv["bigshow"], canv["it"] etc
I can say canv["it"].ellipse(50,50,20,20); or canv["it"].ellipseMode(CORNER); etc and it works as expected. When I write canv["it"].angleMode(DEGREES); nothing happens (and I am still in RADIANS).

[2018-06-08 21:41] meiamsome opened #2999 "Instance mode will try to use global functions"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
Code to reproduce:
[code]
This is a heavily re

[2018-06-09 03:08] lmccart commented on #1677
fixed with https://github.com/processing/p5.js-website/commit/a9c504409622fbf2e7809ac35f7660306f0a33d8

[2018-06-09 08:41] mictadlo opened #3002 "Uncaught Package not found p5.dom"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-09 10:39] i3games opened #3003 "displayWidth / displayHeight report incorrect values on Android"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [X] Mobile/Tablet (touch devices)

#### Details about the bug:

/*! p5.js v0.6.1 April 27, 2018 */
Chrome 67.0.3396.81
Moto G, Android 7.0

- Steps to reproduce this:

`index.html:`

[code]

`sketch.js`

[code]

first

[2018-06-09 10:48] i3games commented on #3003
The values reported on desktop (Mac) are correct.

[2018-06-09 11:49] i3games opened #3004 "viewport is not set in included index.html due to wrong syntax in meta tag"
#### Nature of issue?

- [X] Found a bug
#### Most appropriate sub-area of p5.js?

- [X] Other (specify if possible)
p5.js complete distribution `empty-example/index.html`

#### Which platform were you using when you encountered this?

- [X] Mobile/Tablet (touch devices)

#### Details about the bug:

/*! p5.js v0.6.1 April 27, 2018 */
Chrome 67.0.3396.81
Moto G, Android 7.0

- Steps to reproduce t

[2018-06-09 12:42] Falkonn91 opened #3005 "Cannot use loadTable with a p5.file"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-09 13:27] DavidAPowers opened #3006 "Obsolete & confusing error message when I use p5.js functions outside setup"
#### Nature of issue?

Improve documentation / confusing error message.

When attempting to use p5.js functions and constants outside of the setup() function, *THE ERROR MESSAGE IS CONFUSING BECAUSE THE LINK FOR MORE INFO DOES NOT EXIST!*. I was hoping to use p5.js functions, especially the noise function, with a different javascript library, because some things P5.js offers are not readily availa

[2018-06-09 14:30] mikima commented on #2841
Thanks. It would be however useful to use `mask()` directly on `p5.Graphics`, or otherwise add a quick way to get a `p5.Image` from `p5.Graphics` objects.

[2018-06-10 05:32] limzykenneth commented on #2983
Would the [`pixels`](https://p5js.org/reference/#/p5/pixels) array suit your needs? Or you can use [`get()`](https://p5js.org/reference/#/p5/get) to grab an image of the current canvas to be drawn at the start of the next draw frame. If neither suit your needs, can you provide us with a more complete use case? Thanks.

[2018-06-10 06:15] limzykenneth commented on #3005
You can't use the file uploaded with `createFileInput()` with `loadTable()` as `loadTable()` is used to load from a server location, eg with a URL link, so the first argument passed to `loadTable()` needs to be a URL string. For your use case, we may need to create a new `createTable()` function that can take in csv ot tsv strings to initialize a new `p5.Table` object.

[2018-06-10 06:39] Aditya21196 commented on #2983
Yes sure. So I need to draw an array of lines on a graph. As the user scrolls over the graph, I am executing a function to show the x-co ordinate and y-co ordinate of where the cursor is. But every time I go on to the next frame in the draw loop, I have to draw all the lines again and then show the location of cursor as per mouseX and mouseY. Why do I have to draw the lines again? That is redundan

[2018-06-10 07:44] Falkonn91 commented on #3005
Ha ok, thank you for your answer ^^

[2018-06-10 10:05] #3005 closed

[2018-06-10 10:17] limzykenneth commented on #2983
There are multiple ways to achieve the effect you want, following is just my preferred method:

In this case, you can utilize graphics buffer with `createGraphics`, start by creating a p5.Graphics that is the same size as the width and height of your canvas:
[code]
Then you can draw all your lines in the array into `graph` with something like so:
[code]
Then whenever you want to update the lines i

[2018-06-10 13:49] Zalastax commented on #2571
I've set it all up!
You can find the [migrated generator](https://github.com/p5-types/p5.ts/) in the new [p5-types](https://github.com/p5-types) organization.
If we want generators for flow or Reason, they could live in the same organization.

In my migration I fixed some things in the generator, so I found a few more misses in the documentation.
Expect a Pull Request, fixing those, soon.

The nex

[2018-06-10 16:52] chrisorban opened #3008 "iPad external keyboard issues with keyboard.js"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-06-11 00:17] lmccart commented on #3006
thanks. this has been updated and will be in the next release of the library:
https://github.com/processing/p5.js/commit/2a724b950555bbe866f705e8b941af948ddfbc75#diff-52d252b9f74ec945f5b64c3f53be90f1

you can find the content from that link here:
https://github.com/processing/p5.js/wiki/p5.js-overview#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup

[2018-06-11 00:17] #3006 closed

[2018-06-11 06:19] TanviKumar commented on #2981
Taking this up as part of GSoC

[2018-06-11 11:02] Zalastax commented on #2571
To complete my work I am blocked on: #2954, #3010, #3011.
When they are merged I can create a PR to DefinetelyTyped and after that update our README.md to point people towards the then existing `@types/p5.js` package.

[2018-06-11 15:33] Zalastax commented on #2980
We are migrating the TypeScript definitions to a [new repo](https://github.com/p5-types/p5.ts/), see #2571.
Soon you will be able to import the definitions via a `@types/p5.js` package.
This problem should already be fixed in the new repo 😃

[2018-06-11 15:33] #2980 closed

[2018-06-11 18:52] Zalastax commented on #3002
I will have to investigate some more on how p5 should be used with TypeScript in regards to imports and such.
What I can tell you now is that We only have `p5/lib/p5.global-mode.d.ts` and `p5/lib/p5.d.ts`.
We will be able to better outline a good workflow once #2571 is completed.

@Spongman @toolness have you experimented with using p5 from TypeScript? Do you know someone who has? Especielly with

[2018-06-11 18:53] Zalastax commented on #2986
Is this the same problem as #2984?

[2018-06-11 18:54] aferriss opened #3012 "Some ttf font files fail to load"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-11 23:10] luistoledo commented on #1815
I suffer the same issue. Cant make it work well on an ios & browser cordova app, that also uses a 3rd party alert library.
Already tried every combination of mouse|touch released|pressed, returning false|true

I realize that the first time it triggers the **event** object is carrying a _touch_ type, and the second (bounced) is a _mouse_ event.
So I discard the action when receiving anything but a

[2018-06-11 23:18] lmccart commented on #3008
@LadySith @lee2sman not sure where you are at with the mobile issue phase, is it finished already?
if not, this one is rather high priority and it'd be great to take a look at

[2018-06-12 00:16] samdelong commented on #2990
Can you please give more information about the bug?

[2018-06-12 00:20] hhalkin commented on #2990
Thank you for responding. I thought that I removed my posting! My bad!
Actually there is no bug: just a brain lapse on my part.

[2018-06-12 01:37] #2990 closed

[2018-06-12 05:36] dhowe commented on #3012
opentype.js does not support all cmap formats (though new ones have been added in more recent versions), so we might want to:

- verify p5.js is using the most recent version of opentype
- check and update tickets [here](https://github.com/nodebox/opentype.js/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+cmap) - sometimes a request is needed before a new format is added

[2018-06-12 06:29] aferriss commented on #3012
@dhowe I did just check to see if 0.8.0 of opentype would work and sadly it threw the same error. I don't know anything about how font files are stored. Do you know of a tool to check the cmap format of a specific font? I'd be happy to put in a request if I knew a little bit more about what I was asking for :D

[2018-06-12 07:15] dhowe commented on #3012
Its not a simple topic (and I am not an expert) but you can read the font file with a demo version of [SynalyzeIt](https://www.synalysis.net/downloads/), as described below. There is good list of resources on font formats [here](https://github.com/Jolg42/awesome-typography) and (specifically an intro to cmap) [here](https://pomax.github.io/1449777175633/opentype-let-s-learn-how-modern-fonts-actual

[2018-06-12 07:18] mike239x commented on #2986
@Zalastax No, even though it came from the same [source](https://stackoverflow.com/questions/50764508/how-to-clear-part-of-the-buffered-image-with-p5-js/50766048#50766048). Kevin (the guy in your link) talks about copying (via set function) of Graphics to Graphics, I talk about copying Image to Graphics.  With Kevin it looks like it doesn't work the intended way whatsoever, with me it works, but n

[2018-06-12 09:54] dhowe commented on #1901
unfortunately i don't have the font any longer -- lets keep an eye on this though (also relates to #3012)

[2018-06-12 10:13] dhowe commented on #3012
So there was a response from opentype [here]
(https://github.com/nodebox/opentype.js/issues/348).

Seems like the best way to validate fonts that we are trying in p5.js might be via the [Microsoft Font Validator](https://github.com/HinTak/Font-Validator/).

There is also the Font-Bakery online tool [here](http://35.225.170.228), but (according to HinTak) this isn't as good as the above tool. Here

[2018-06-12 20:00] imaginationfactory opened #3015 "day() no longer seems to work"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ x] Mob

[2018-06-12 21:01] AidanNelson commented on #3015
It seems to work on the web editor using the following code:

[code]

Could you copy/paste your code here?

[2018-06-12 22:21] aferriss commented on #3012
@dhowe Amazing, thanks for filing that over there and sharing all this! I believe that Big Caslon file was [supplied with High Sierra](https://support.apple.com/en-us/HT207962), which is why I was so surprised to find it not working but also might explain why it didn't have the MS platform id.

One thing that seems odd to me is that the font works fine after converting it to an otf file, but again

[2018-06-12 23:38] dhowe commented on #3012
Can you clarify what you mean by 'works fine after converting it to an .otf file' ?
Also, I don't think it is the case that all OS X fonts fail, but maybe you can test a few to verify this?

[2018-06-13 00:44] aferriss commented on #3012
@dhowe I converted the font to .otf using the link I posted above and then the font loaded without error and could be drawn to screen. [Here's another test](http://alpha.editor.p5js.org/aferriss/sketches/S1XTXJAe7) with that otf font in it so you can see that it loads without issue. There's also a few more fonts in that sketch that I found that don't work. I didn't test all system fonts, only abou

[2018-06-13 04:05] mictadlo commented on #3002
https://github.com/fuse-box/fuse-box/issues/1290#issuecomment-396134278

[2018-06-13 04:27] limzykenneth commented on #1901
@dhowe catching the error and throw a better error message seems a good way forward for me, but let's continue on #3012

[2018-06-13 06:03] dhowe commented on #3012
@aferriss  can you repost the link to the otf converter you used?

[2018-06-13 06:07] aferriss commented on #3012
@limzykenneth Are you sure you're getting Big Caslon and not the default serif font for you browser? I think textFont("BigCaslon") will only work if your system can find the font locally, which will be different for every user. On my machine textFont("BigCaslon") defaults to the Times typeface. [See here](http://alpha.editor.p5js.org/aferriss/sketches/S10NMV0x7)
![screen shot 2018-06-12 at 11 03 3

[2018-06-13 06:08] aferriss commented on #3012
@dhowe ah yea sorry I thought I had linked it before. I used this one: https://convertio.co/ttf-otf/

[2018-06-13 06:13] limzykenneth commented on #3012
Yes, I'm getting Big Caslon and yes I do have the font installed locally which was what I meant, locally installed fonts works fine just those that are loaded in via opentype.js may cause problem.

P.S. You need a space between "Big" and "Caslon" (at least on Mac) to actually use the system Big Caslon, the names should be the same as in the Font Book.

[2018-06-13 06:17] limzykenneth commented on #3012
@dhowe Yeah, I'm not suggesting recommending using system font as a replacement for loading via opentype.js just that since there is no support right now, we can't do much on our end to fix this other than throw a helpful message.

[2018-06-13 06:31] dhowe commented on #3012
right, though I'm curious what transformation is happening in convertio (https://github.com/Convertio/convertio-cli)...

[2018-06-13 07:12] lorenzo-lipparini opened #3016 "Adding dashed lines"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### New feature details:
This issue is about adding a new `lineDash()` function to p5.

There are a few things that might be worth discussing about the API:
* The `lineDash()` function might take an array as its only argument (as in the native [`CanvasRenderingContext2D.setL

[2018-06-13 09:46] AdilRabbani opened #3017 "Implementing point for WebGL mode"
So I was working on this one for quite a while and need some suggestions on what should be the most desirable approach in implementing this primitive?
WebGL by default draws square points. Making points circular requires some changes in the fragment shader but on the cost of performance i.e drawing default points is much faster. So is it necessary to go for a circular point or should the default o

[2018-06-13 13:57] AidanNelson commented on #3017
The 2D point implementation (https://p5js.org/reference/#/p5/point) draws a single pixel.  How does WebGL size points?  Will they be larger than a single pixel in screen-space?

[2018-06-13 15:46] AdilRabbani commented on #3017
It all depends on the size given to gl_PointSize. I have these screenshots,
![webgl](https://user-images.githubusercontent.com/15272015/41362358-9da7696c-6f4a-11e8-8aaf-631779291f61.PNG)
![p2d](https://user-images.githubusercontent.com/15272015/41362372-a3cda162-6f4a-11e8-99f7-4e832f8e5132.PNG)
I guess they look identical?

[2018-06-13 19:58] kjhollen commented on #3017
2D mode has circles if you use something like `strokeWeight(10)` before calling `point()`

I think people will expect circular points. They could also get better performance using,

[code]

which would probably be faster than a bunch of calls to `point()` (and is also not currently implemented). I think @aferriss looked into this recently & might have some insight.

[2018-06-13 20:04] kjhollen commented on #2983
Great suggestion, @limzykenneth! That's what I'd do, too. @Aditya21196, since this proposed solution works I'm going to close this—but if I've misunderstood, please reopen. Thank you!

[2018-06-13 20:04] #2983 closed

[2018-06-14 01:02] chrisorban commented on #3008
@lee2sman  Do you think you can spend some time on this? Beer is on me at the next processing community day.

[2018-06-14 03:41] lee2sman commented on #3008
hi @chrisorban ! @LadySith is working this summer as a GSOC Processing Fellow this summer and will be looking at this (and other moblie issues).

[2018-06-14 05:57] limzykenneth commented on #3016
To make it more inline with the rest of the API, ideally, `lineDash()` can be taking multiple arguments in addition to one array as argument. In the code base you can just construct an array to be passed to `CanvasRenderingContext2D.setLineDash()` like so: `var arg = new Array(arguments)`.

Will there be a use case for returning the current line dash setting seeing as it's not part of the canvas A

[2018-06-14 06:41] lorenzo-lipparini commented on #3016
Overloading the function so that it takes either a single array or several numbers as its arguments sounds good to me; I also understand that returning the current value wouldn't be super useful, and making the function chainable might be preferable.

About `push()` and `pop()`, they would automatically save the line dash (at least in the 2D context), since they are implemented with [`CanvasRender

[2018-06-14 08:45] AdilRabbani commented on #3017
One thing I would like to mention here is that, circular points are created by discarding pixels from a square point. So making gl_PointSize too small, would completely discard the points altogether, showing nothing...

[2018-06-14 12:18] LadySith commented on #3008
Hi @chrisorban ! I'll be looking at this issue over the weekend.

[2018-06-14 12:44] LadySith opened #3019 "Mobile examples do not load on larger tablet screens"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-06-14 13:07] LadySith opened #3020 "Default canvas size for various examples too large for screens"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-06-14 15:07] lmccart commented on #3008
thanks @LadySith!

[2018-06-14 17:22] saivan commented on #397
I think I might have found one. It seems that in the latest version, calling `pg.clear()` on a retina display will only clear the top left hand corner. It clears exactly one quarter of the total space, which indicates that this is also probably a pixel density issue.

[2018-06-14 17:30] Spongman commented on #397
@saivan I believe theclear issue was fixed in #2852 but has not been released yet.

[2018-06-14 20:06] aferriss commented on #3017
@AdilRabbani I ran into the same thing too re: the circle points being really small. One solve I played around with was to just draw the square points when the point size is below a certain val, otherwise we discard to make the circle mask. Here's the shader I was using if it helps.

[code]

[2018-06-15 00:00] AidanNelson opened #3021 "Adding MouseWheelDelta Property"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

It has been helpful to save the current and pre

[2018-06-15 00:49] lmccart commented on #2842
@thomasvanhemert we haven't been able to reproduce this one without the file, so I'm going to close this for organizational purposes. please feel free to reopen if you can update with more info. thanks!

[2018-06-15 00:49] #2842 closed

[2018-06-15 00:55] lmccart commented on #1829
we're not seeing a lot of energy around this one, so in order to prioritize maintainability, we will hold off on merging this one for now. we can revisit at a later time if more requests for this functionality come in. thanks @reijovosu!

[2018-06-15 00:55] #1829 closed

[2018-06-15 01:02] kjhollen commented on #2904
Hey! My proposal is to have two examples for this, one that @TanviKumar added in #2968 as the first (and simplest) example, then a second example describing the cleanup that @Spongman suggests. I'll merge Tanvi's PR shortly (assuming tests look ok) and then we can another PR to add the slightly more complex teapot example.

[2018-06-15 01:15] lmccart commented on #2947
ok some decisions after some discussion at the p5.js:
* `canvas.js` > `helpers.js`
* `core.js` > `main.js`
* `webgl/primitives` > `webgl/3d_primitives.js`
* move `2d_primitive.js`, `attirbutes.js`, `curves.js`, and `vertex.js` to `shape` folder within `core` folder

@kjhollen sound ok?

[2018-06-15 03:57] raulgrell commented on #2865
Oh dear, I completely forgot about this! That weekend I participated in a Game Jam where we actually used p5 to make a little neuroscience experiment disguised as a game and I never got round to finishing the examples... check it out: https://github.com/raulgrell/NeuroJam

Unfortunately, I've got a big presentation for uni on Monday and I won't be able to dedicate any time to this right now...

[2018-06-15 05:58] lmccart commented on #3021
it's relatively easy to get the mouse delta from the event handler we have.. is there a reason a dedicated property is needed? i'm worried this could add more overhead than the payoff it would provide, but maybe there's a use case I'm missing? https://p5js.org/reference/#/p5/mouseWheel

[2018-06-15 16:16] AidanNelson commented on #3021
I'm trying to find a way to use mouseWheel delta within `orbitControl()` without blocking any user-defined `mouseWheel()` functions.  Is there a way to do this?

[2018-06-15 21:14] AdilRabbani commented on #3017
I'm almost done with point. Will submit a PR soon. Just one question though....How are the shaders assigned to 'defaultShaders' variable in the p5.js file? 😛 I ran grunt with the point shader in the 'webgl/shaders' folder but it did not assign the shader to this variable when generating the p5.js file.
![defaultshaders](https://user-images.githubusercontent.com/15272015/41489872-ec7024d2-710a-11e8

[2018-06-15 21:20] aferriss commented on #3017
@adilrabbani I'm pretty sure they're set near the top of p5.rendererGL.js

[2018-06-15 21:28] AdilRabbani commented on #3017
Oh yes! Thanks! @aferriss 😃

[2018-06-17 12:07] dhowe commented on #2215
Should libraries use ES6 now as well?

[2018-06-17 13:43] Zalastax commented on #2571
Everything is set up now and [p5.ts](https://github.com/p5-types/p5.ts) is able to generate typings that work well.
I would really need some help on how to import p5 in global mode correctly from TypeScript, but let's have that discussion over there instead.

[2018-06-17 13:43] #2571 closed

[2018-06-17 13:52] Zalastax commented on #3002
Please create a new issue in [https://github.com/p5-types/p5.ts](p5.ts) and we can probably figure this out.
The SNAPSHOT branch contains definitions for the latest p5.js.
I think you would want something like this: `import "p5/lib/p5.dom.min";`.

[2018-06-17 13:52] #3002 closed

[2018-06-18 05:24] wktdev opened #3030 "addCue() does not return a number/Id. It returns NaN"
I don't know if I am misreading the documentation or if this is an error. addCue does not return a number or "ID".  It returns NaN.

https://p5js.org/reference/#/p5.SoundFile/addCue

Documentation quote:

**Example**

[code]

### How does removeCue(id) work?
Ultimatley I am trying to understand how to use the removeCue(id) function and the documentation does not give a clear cut example.

Can some

[2018-06-18 19:31] kjhollen commented on #3021
I think we could track the state for this internally only, rather than making it a user-facing feature. I think the idea is to be able to able to call `orbitControl()` in `draw` and to have access to the delta there, though the user doesn't need to know about it directly.

There are some more questions about the scope for orbitControl in p5 itself vs. in a library. Email coming shortly...

[2018-06-18 20:14] LadySith commented on #3008
Hi @chrisorban . I tried replicating the issue earlier using a friends apple magic bluetooth keyboard on an iPad but it seemed to work alright using that when we looked at the keyPressed() reference. I wanted to find out if this behavior is consistent with other external keyboards?

I also wanted to find out if for your usage, you will still be mapping the WASD keys to the arrows keys as an altern

[2018-06-19 06:28] westurner commented on #2797
Checking window.performance first (as described above) would be great too. There's no need to drop Opera Mini support? https://github.com/processing/p5.js/commit/6c47bbed08bd1d93e205e69f582e3b73a1a72177

[2018-06-19 06:28] westurner commented on #2797
Thanks!

[2018-06-19 14:45] KingInBush opened #3034 "JSON"
![image](https://user-images.githubusercontent.com/28199270/41604713-19b8ab92-740a-11e8-9170-b412b5e714d2.png)

[2018-06-19 14:53] montoyamoraga commented on #3034
Did you only open the HTML file on the browser?
When you are using external files, like loading images or a JSON file,
you need to open the HTML file through a server.
Please check this tutorial for details on how to use it.
[https://github.com/processing/p5.js/wiki/Local-server](https://github.com/processing/p5.js/wiki/Local-server)
Also feel free to use the [Processing forum](https://discourse.p

[2018-06-19 14:54] chrisorban commented on #3008
Here is a video that documents the problem.
https://drive.google.com/file/d/17QOVo9kcEExHuaYkdTv8x-zxfjGXQs40/view?usp=sharing
This is with the apple brand keyboard that has a direct connection to an iPad pro (not bluetooth). Let me know if this helps. I suppose it is good to know that the issue doesn't affect the apple magic bluetooth keyboard.

If this can be fixed, my plan is to detect if the u

[2018-06-20 10:34] #3034 closed

[2018-06-20 14:49] EsdrasXavier commented on #3030
Hello, I tried do the same thing and I also get the same error, so I looked at the source code 'p5.sound.js' and searched where this method is called... On line 2098:
`  p5.SoundFile.prototype.addCue = function (time, callback, val) {
    var id = this._cueIDCounter++;
    var cue = new Cue(callback, time, id, val);
    this._cues.push(cue);
    // if (!this.elt.ontimeupdate) {
    //   this.elt.o

[2018-06-20 20:00] grilly86 commented on #2202
this worked for me:
[code]

[2018-06-20 20:10] spiray commented on #2859
@Pumpapa First of all you should add a title. Secondly, Please include what issue is? What errors are you getting?

[2018-06-20 22:36] mictadlo commented on #3002
Done https://github.com/p5-types/p5.ts/issues/2

[2018-06-20 23:24] aferriss opened #3035 "large strokeWeight on text renders spikes"
When using stroked text with a strokeWeight greater than 2 or 3, you start to see odd peaks jutting out of the characters. This is especially prevalent on spiky capitals (A, M, V, W), but also happens on lowercase letters too.
![screen shot 2018-06-20 at 4 02 31 pm](https://user-images.githubusercontent.com/3698659/41689566-0b339bd0-74a6-11e8-8d71-89ce3bf78a89.png)

![screen shot 2018-06-20 at 4 0

[2018-06-21 23:55] chrisorban opened #3036 "Suggested improvement to keyIsDown documentation"
I had a suggestion for improving this page:

https://p5js.org/reference/#/p5/keyIsDown

The only examples are things like keyIsDown(UP_ARROW) and there aren't any examples of just putting a keyCode in the keyIsDown function. In the description it is clear that this should work, but I totally missed it the first 20 times I read it and I assumed that UP_ARROW, DOWN_ARROW, RIGHT_ARROW and LEFT_ARROW

[2018-06-22 19:43] aferriss commented on #3035
@MichaelPaulukonis Yes I think it is functioning as designed, I just don't think this is what you might expect from stroked text. If it doesn't break anything else or change the appearance of the way any other functions render, is there a downside to just defaulting miterLimit to 2?

The miterLimit property seems a bit arcane to me. Even if you're well versed in the canvas context's properties, it

[2018-06-22 20:01] lmccart commented on #2865
thanks @raulgrell no worries. we'd welcome the additions anytime, no rush. thanks for sharing the game jab examples, they're great!

[2018-06-23 00:50] lmccart commented on #2215
at this point we don't yet have clear guidelines or suggestions, but I don't think it would be a bad idea to start using ES6 as we are planning to make that transition with the rest of the library and examples in the future. we're working right now on creating a roadmap so we have a clearer sense of when that might happen.

[2018-06-23 00:57] lmccart commented on #2571
this is great, thank you @Zalastax! we might want to think about where to link to this from within the p5.js repo so people can find it more easily. maybe from the wiki somewhere? or the readme even?

[2018-06-23 15:28] AidanNelson opened #3037 "PmouseX/Y Update with Touch Events"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [X] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [X] Mobil

[2018-06-24 06:03] limzykenneth commented on #3030
Hi, can this issue be moved to the [p5.sound repo](https://github.com/processing/p5.js-sound)? As the source code for sound are hosted separately there. Thanks!

[2018-06-24 06:55] limzykenneth commented on #2859
I'm not able to replicate, in both Firefox and Chrome the behaviours are both the same, with a sufficiently long enough video it jumps to that point then continues playing, if the video is shorter than specified time, it just skips to the end and stops which is intended.

Can you describe in more details what are the behaviour you are experiencing and what is the expected behaviour? Thanks!

[2018-06-24 07:03] limzykenneth commented on #3035
I would say if this is a consistent behaviour across implementations in other drawing applications then it should probably be left as is, partly to manage expectation for people who were used to using those applications. Also limiting it to such a low number wouldn't that mean if someone wanted the sharp miters couldn't have them in p5 (star shapes for example)?

How about a new function in p5.js

[2018-06-24 08:20] limzykenneth commented on #2215
@lmccart I'm recently thinking about updating the browser support wiki as well and that probably should be taken into account somehow.

[2018-06-24 09:45] dhowe commented on #3012
Ok, so it looks like this issue has been resolved in [v0.9.0](https://github.com/nodebox/opentype.js/releases/tag/0.9.0) of opentype -- can someone integrate this into current p5.js and give it a test?

[2018-06-24 13:05] limzykenneth commented on #3012
I've just tried out the latest version with p5 and it works with all the ttf fonts @aferriss's example uses (well Farisi gave me tofu but that's expected), no errors thrown and whatever are displayed are the right fonts. I'll make a PR for the update in a bit.

[2018-06-24 18:40] aferriss commented on #3012
@limzykenneth amazing, thanks for investigating :D

[2018-06-24 18:43] aferriss commented on #3035
@limzykenneth I think a function to set miter limit sounds like a good compromise. I'll see if I can whip something up.

I finally was able to see a difference when changing the miter limit settings when drawing a star as you suggested.

[2018-06-24 20:08] lmccart commented on #3037
Thanks @AidanNelson. I think the reseting behavior you've proposed makes sense to me.

[2018-06-25 04:13] dhowe opened #3039 "Add runkit example for npm ?"
The p5.js lib on npm has a 'Test with Runkit')  button (as all npm packages do) -- might be nice to add an example there?

Can do this either by adding a line to package.json as described [here](https://discuss.runkit.com/t/customizing-your-npm-packages-page-on-tonic/23)

![image](https://user-images.githubusercontent.com/737638/41830022-dc04426e-7870-11e8-9286-2094097ff803.png)

[2018-06-25 13:59] limzykenneth commented on #3012
@aferriss Do try it out, make sure I didn't break anything. 😄

[2018-06-25 19:46] aferriss commented on #3012
@limzykenneth As far as I can tell it works perfectly. I just updated the package.json, are there any other changes that need to be made?

[Here's a test with a build I uploaded to the alpha editor](http://alpha.editor.p5js.org/aferriss/sketches/Bk_EU6A-Q)

[2018-06-25 19:48] #3012 closed

[2018-06-27 01:29] LadySith commented on #2218
Hi there. I'm looking into this issue and it appears to be device specific so far in my tests. I have two Android devices I was able to test this on:

1st device (Infinix X572) - examples work in Chrome and in it's native browser.
2nd device (Lenovo Tab S8-50) - none of the above examples work. But sensor data shows accelerometer is working fine.

I am unable to replicate this on the emulators I'm

[2018-06-27 23:20] GiaFil7 opened #3043 "p5 conflicting with JavaScript Standard Style extension in Visual Studio Code"
When all the correct files of the library are properly loaded, if the JavaScript Standard Style extension is enabled   I get an error message that [function] is not defined and it doesn't recognise the setup and draw functions. Disabling the extension fixed the issue. It would be better if p5 and the extension could work together on a workspace.

[2018-06-28 08:41] #3017 closed

[2018-06-28 12:28] oxxie opened #3045 "p5.Table.removeColumn() logs 'string' without obvious reason"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-06-28 12:34] oxxie commented on #3045
Issued #3046 to get rid of this nuisance :-)

[2018-06-29 22:51] AngelDaMage opened #3049 "the mouseClicked() function template"
so, when I was using openprocessing.org which uses p5.js, I used the mouseClicked reference, and when I filled in everything, and launched the code, it said "'Value' isn't defined"

[2018-06-30 03:00] lmccart commented on #3049
thanks @AngelDaMage can you post the code you were trying to run?

[2018-07-01 18:58] TeemuKoivisto commented on #2605
Hello, this bug is still not resolved as of today with `"p5": "^0.6.1"`. I am still receiving ` Class 'Noise' incorrectly extends base class 'Oscillator'.
  Types of property 'amp' are incompatible.` error.

Anyone care to fix this?

[2018-07-02 01:18] limzykenneth commented on #2605
@TeemuKoivisto Hi, can you file an issue over at https://github.com/processing/p5.js-sound as the source code for p5.sound (`Noise`, `Oscillator`, etc) are all maintained there. Thanks.

[2018-07-02 03:14] mobeets opened #3051 "loadPixels() with get() on capture"
Hi, I've found a bug where, if you have a webcam capture, then calling `loadPixels()` on the object returned by `get()` does not work. (This is similar to some previous issues (#1274, #1079), but here the problem only happens if you call loadPixels() on something returned by get().)

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Which p

[2018-07-02 13:17] TeemuKoivisto commented on #2605
@limzykenneth Hi and first thanks for the quick reply. Now that I recloned my repo it actually throws `(555,19): Cannot find name 'COLOR_MODE'.`. I dunno how I got that `Class 'Noise'`-error, I guess I did something with the typings. As a quick fix I manually remove the `p5.d.ts`-file. But does this error also belong to the p5.sound?

Here's the repo if you want to see it for yourself: https://git

[2018-07-02 15:58] AdilRabbani commented on #2185
Hey @kjhollen I have been working on this for quite some time. Everything works as expected (upon testing on documentation examples)

![curves](https://user-images.githubusercontent.com/15272015/42173712-6661f37a-7e39-11e8-9625-92d213fbf299.PNG)
<p align="center">BezierVertex, CurveVertex and QuadraticVertex</p>

except for one thing. Filling curves gives really weird results.

![filledcurves](htt

[2018-07-02 16:28] molleindustria commented on #2838
Is this issue still ongoing?
With a similar system configuration (retina etc) I see a discrepancy in the ways graphic and canvas images are drawn on screen. The example below draws a circle with the same parameters on canvas and on an graphics (p5.Renderer)

[code]
This is the result. All the densities are the same = 2;
<img width="196" alt="screen shot 2018-07-02 at 12 08 17 pm" src="https://user

[2018-07-02 16:35] hamoid commented on #1507
Answering to the original question, I figured out I could disable DEPTH_TEST by doing this hack:

    var gl = document.getElementById('defaultCanvas0').getContext('webgl');
    gl.disable(gl.DEPTH_TEST);

I figured it out by looking at https://github.com/processing/p5.js/blob/964ca1a324fa1c0768bf3d2fd4abc88cd3ba46fe/src/webgl/p5.RendererGL.js#L146

I don't know in which systems is `experimental-w

[2018-07-02 17:34] emclaren opened #3052 "Hello P5 Video Volunteer Interest Form"
Hello P5 Community!

We are looking for a handful of volunteers for our new hello p5 trailer.

Taking part is easy - you just have to video record yourself saying a few lines from a script using your phone camera/webcam. Videos will be edited together to let new users know what p5 is for!

If you use p5.js and would like to take part, please let us know by completing this form: [https://www.survey

[2018-07-02 19:37] #3015 closed

[2018-07-02 19:37] AidanNelson opened #3053 "Only 'default' cameras resize with window"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [X] Mobil

[2018-07-02 20:03] lmccart commented on #3015
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2018-07-02 20:05] lmccart commented on #3030
This issue was moved to processing/p5.js-sound#306

[2018-07-02 20:05] #3030 closed

[2018-07-02 20:08] lmccart commented on #3004
@L05 care to investigate? the file to update is here https://github.com/processing/p5.js/blob/master/lib/empty-example/index.html

[2018-07-02 20:09] lmccart commented on #2901
@L05?

[2018-07-02 20:09] lmccart commented on #2899
closed with #2924

[2018-07-02 20:09] #2899 closed

[2018-07-02 20:10] lmccart commented on #2859
we're not able to reproduce this but please feel free to reopen if you can provide a code sample that demonstrates the issue. thanks!

[2018-07-02 20:10] #2859 closed

[2018-07-02 20:14] lmccart commented on #2854
closed with #3024

[2018-07-02 20:14] #2854 closed

[2018-07-02 20:19] lmccart commented on #2892
@L05 want to take a look at this?
I believe @limzykenneth is referring to the text under "Parameters"
you can use the processing reference as a guide for what text would make more sense for these https://processing.org/reference/curveTightness_.html

[2018-07-02 20:20] lmccart commented on #2911
@L05 this would be slightly larger and very useful issue to tackle
it would mean updating files p5.dom.js and maybe also p5.Element.js. there are probably updates needed for the p5.sound library as well, but those live in a [separate repo](https://github.com/processing/p5.js-sound)

[2018-07-02 20:55] jtpio commented on #2980
Really looking forward to `@types/p5.js` being available on npm :smiley: !

[2018-07-02 21:23] AidanNelson opened #3054 "WebGL projection matrix not updated after pop()"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [X] Mobil

[2018-07-03 17:46] mlarghydracept commented on #2185
@AdilRabbani The curves look great. it seems reasonable to use a package to handle the triangulation here but I am not confidently in a position to make that determination. All that I can add is that I checked out Earcut and it seems relatively concise and optimized. I know that we briefly considered bringing in a package for handling some aspect of matrix transforms in the past but never ended up

[2018-07-03 19:29] abdullahzameek opened #3055 "Load base64 images returned by a function call within p5.js"
[x] New feature request

[x] Image

#### New feature details:
So, I'm working with a Javascript library called gaborgen.js. A function, gaborgen(x,y) returns a base64 image(or you could just return the matrix itself without constructing the image).
I want to be able to generate multiple different images, load them in p5.js and then display them on the canvas after positioning them in a certain way

[2018-07-03 21:01] #2528 closed

[2018-07-03 21:37] oxxie commented on #3045
#3046 has been merged. This issue closed.

[2018-07-03 21:37] #3045 closed

[2018-07-03 22:21] aferriss commented on #2188
I'm interested in taking a look at this one if nobody else has started with it. Is this a webGL only feature? I know that texture only works in webGL, but the 2d renderer has uv options for vertex(). What purpose do the uv parameters of vertex() serve in non webGL mode?

[2018-07-03 22:43] Spongman commented on #2188
is the support for vertex texture coordinates that i implemented in my rendering pipeline changes going to be merged?

[2018-07-04 03:33] lmccart commented on #2952
thanks @extrajordanary this has been fixed and should be updated in the next release :)

[2018-07-04 10:40] makeyourownalgorithmicart commented on #2305
just to say that open processing.org has now added simple.js as one of its optional libraries

![dhn2rfow0aix6ve](https://user-images.githubusercontent.com/29485854/42272745-0ece365e-7f7f-11e8-9b7d-476ac6d9e10d.jpg)

[2018-07-04 12:13] ajahi opened #3057 "making snake game in p5.js"
/* i am trying to make snake game by looking train code and as i continue with the challenge i cannot get pass the keyPress part. i have made method inside snake and connected snake with keypress function with dir ( as shown) but for some reason it is not responding to my command help. i checked it for missing semicolon or brackets but everything seems to be in place*/

var s;

function setup() {

[2018-07-04 13:15] JithinKS97 commented on #3057
The call back function for key press is keyPressed, not KeyPressed. I guess that will solve the problem.

[2018-07-04 18:51] bomoko commented on #3036
Just for anyone browsing, I've grabbed this issue. Working on the example in the PR above.

[2018-07-04 20:01] lmccart commented on #3055
this should do it.. you first create a native JS Image() then load it into a p5.Image() so it has all the p5 capabilities.
[code]

[2018-07-05 02:33] Christian-Yang opened #3058 "how to use global variable and functions on p5 instance mode ?"
code  like  this.

[2018-07-05 05:37] lmccart commented on #3058
does this cover what you're trying to learn?
https://github.com/processing/p5.js/wiki/Global-and-instance-mode

[2018-07-05 05:40] lmccart commented on #2952
I think this page now covers all the questions linked from the first post:
https://github.com/processing/p5.js/wiki/Global-and-instance-mode/

for the rest, I think this remaining open issue should address what's still needed
https://github.com/processing/p5.js/issues/1327

[2018-07-05 05:40] #2952 closed

[2018-07-05 14:10] Christian-health opened #3059 "how to use global variable and functions on p5 instance mode in angular 4"
code like this.

![qq 20180705221317](https://user-images.githubusercontent.com/29979200/42328134-2177c910-80a0-11e8-84f0-a9267e1d392e.jpg)

thank you very much  !!

[2018-07-05 14:58] mobeets commented on #3051
I'm not familiar with the code base at all, but I have realized that this error only happens for the first second or so of reloading the page, and then everything works just fine.

I found that if I wait to call `curPatch.loadPixels();` until `curPatch.width > 0`, everything works fine after that point. Here's some code to show what I'm talking about:

[code]

[2018-07-05 17:23] KevinWorkman commented on #3055
If you post your question to multiple sites, please link between them so we know what help you've already received. This question has also been answered here:

https://stackoverflow.com/a/51162033/873165

[2018-07-05 17:24] KevinWorkman commented on #2982
The nice thing about P5.js being open source is that you can add this documentation!

[2018-07-05 18:13] AidanNelson opened #3060 "Calling angleMode(DEGREES) before perspective() creates wrong perspective projection"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-07-05 18:40] mlarghydracept commented on #2185
So @AdilRabbani and I just found out that Processing uses an external library to handle this task.(thanks for the info @codeanticode!) Maybe this is a good indication that the task is complicated enough that we should also use an external library?

[2018-07-05 18:55] kjhollen commented on #2218
The events appear to be triggered on my Nexus 5X in Chrome. (I can get the exact version numbers if they're helpful)

Here's another sketch I used to test: http://alpha.editor.p5js.org/full/r1BHB1hz7

I noticed in that in src/core/core.js there's a conditional that checks that the DeviceMotionEvent exists before creating the conditions for devicemoved to be installed. I wonder if this doesn't chec

[2018-07-05 18:58] #3055 closed

[2018-07-05 18:59] #3058 closed

[2018-07-05 18:59] lmccart commented on #3059
hi @Christian-health the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://forum.processing.org/two/) is the best place to post. thanks!

[2018-07-05 19:00] #3036 closed

[2018-07-05 19:58] AdilRabbani commented on #2185
Just found out that the tessellator being used in Processing was ported in javascript as well, named as [libtess.js](https://github.com/brendankenny/libtess.js/).

[2018-07-05 20:21] kjhollen commented on #2838
hey @molleindustria, I think the partial fix has been merged but not released yet. When the next release comes out, you should be able to update your sketch to do:

[code]

to get the two to match. I was looking at the remaining step a couple weeks ago (to make the two match automatically when the graphics object is created) but it looked like that was already being done in the p5.Graphics constru

[2018-07-05 22:37] kjhollen commented on #2838
actually, I couldn't reproduce this in master: I think it is fixed! here's a gist with a bleeding edge build of p5.min.js: https://gist.github.com/kjhollen/2f916c1724fcc9e653218d8b81760b1a

I want to say that last time I had tested this, I was moving between an external monitor and the retina screen on my laptop, and that maybe there were still some unexpected behaviors there—but today I'm using j

[2018-07-06 00:29] mattdesl opened #3061 "WebGL setAttributes() leads to multiple contexts being created"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2018-07-06 05:58] nikhilapinninti opened #3062 "save image on canvas to send it to server"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-07-06 13:38] lmccart commented on #3062
here's one way of doing this: https://forum.processing.org/two/discussion/10913/saving-the-p5-js-canvas-as-an-image-on-my-server

the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2018-07-06 13:38] #3062 closed

[2018-07-07 09:06] TanviKumar commented on #2504
I'd like to work on this new method. I'm hoping to discuss the possible parameters for this method.
 `var myInput = createColorPicker(colorValue);` seems like the most common way one would create a color picker. The `colorValue` here could be a hex string which can be directly set or it could be a p5.Color object. Would it be wiser to allow only hex strings or have the method handle both cases?

[2018-07-07 13:16] carmolim opened #3065 "Wrong stroke rendering with beginShape and large strokeWeight"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: http://alpha.editor.p5js.org/carmolim/sketches/HyfkoNCzX
- Web browser and version: Chrome  67.0.3396.99
- Operating System: MacOS 10.13.5 (17F77)
- St

[2018-07-07 15:04] dekmm opened #3066 "WinMouseX and WinMouseY not set properly when clicking on an option in select element"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (s

[2018-07-07 18:35] Spongman opened #3067 "loadStrings() omits empty lines"
v0.6.1

when loading a file containing empty lines, *processing* includes empty strings in the array for each empty line.

p5.js filters out empty lines.

here's a demo: https://codepen.io/Spongman/pen/wXVeYP
this loads and prints lines 24 onwards from the p5.js library, here: https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js

the text file looks like this:
[code]

but the string

[2018-07-07 22:06] Spongman opened #3070 "webgl: setUniform does not support ivec2/3/4"
v0.6.1

`setUniform()` does not work if the uniform is defined as `ivec2`, `ivec3`, or `ivec4`

[2018-07-08 23:39] bassamElabid opened #3073 "canvas.style and canvas.position is not a function p5.js"
even though i included the p5.dom.js file in the html file i'm still getting this error message from the chrome's console i tried everything and i always get this phrase and the canvas does not appear on the page.
this is my code it's really simple
var canv;

function setup(){
canvas = createCanvas(400,400);

canvas.style('z-index','-1');
canvas.position(100,100);
}

function draw(){

background(5

[2018-07-09 04:21] aferriss commented on #3073
Hi @bassamElabid !

I believe the problem is that your variables weren't consistently named. You wrote `var canv;` but then in setup() you used a variable named `canvas`. If you change `var canv;` to `var canvas;` your code might run as expected. The other thing that might be bugging out your sketch is the extra white space in your html file. It should look more like this:

[code]

Here's a [quick

[2018-07-09 06:45] Spongman commented on #2183
I'd like to grab this if possible.

i have made some good progress on an anti-aliased glyph renderer that renders opentype fonts directly using bezier-crossing winding rules:

![image](https://user-images.githubusercontent.com/1088194/42434586-89343664-8308-11e8-92db-559fc8e9f6a5.png)

all that's left to do is to put it into the p5 library. i'm hoping to reuse as much of the existing p5.js canvas

[2018-07-09 12:58] bassamElabid commented on #3073
@aferriss no that's not the problem my variable is canv but i changed it in this issue just to be more clear but in my original code my var is canv and it's the same where ever i use it the problem is that i'm using the .position and .style but it's saying that it's not a function even that i'm using both p5.js and p5.dom.js and that's really pissing me off

[2018-07-09 13:00] bassamElabid commented on #3073
@aferriss no that's not the problem my variable is canv but i changed it in this issue just to be more clear but in my original code my var is canv and it's the same where ever i use it the problem is that i'm using the .position and .style but it's saying that it's not a function even that i'm using both p5.js and p5.dom.js and that's really pissing me off and the space isn't also the problem i j

[2018-07-09 13:03] lmccart commented on #3073
try flipping the p5 script lines so you first include the p5 library, and then the dom addon
[code]

[2018-07-09 13:06] bassamElabid commented on #3073
And whenever i use and p5 library it tells me that it cannot read property 'prototype' of undefined at some p5.dom.js lines or the p5 librarie that i'm using

[2018-07-09 13:07] lmccart commented on #1875
@kjhollen I think that's the best solution. and to update the docs so it's clear what the expected behavior is.

[2018-07-09 13:10] lmccart commented on #3073
let's keep the issues focused so we can solve them. please a second issue for the other problem you describe if you'd like.

 did flipping the order of those two lines work? here's [an example](http://alpha.editor.p5js.org/lmccart/sketches/S182CCl7X) that demonstrates this.

[2018-07-09 13:48] bassamElabid commented on #3073
Yeah it worked and it solved the other problem about the prototype undefined thanks alot

[2018-07-09 13:50] #3073 closed

[2018-07-09 14:10] kjhollen commented on #2183
Thank you for offering to take this one, @Spongman. This issue is currently assigned to @AdilRabbani, who I believe is planning to work on text rendering as the next phase of his Google Summer of Code project. I would like to let Adil continue his work before reassigning the issue.

[2018-07-09 14:20] #3070 closed

[2018-07-09 20:15] mlarghydracept commented on #3061
Hello! Thanks for the suggestion! I agree that would be better. Two approaches come to mind but neither are ideal.

First - If there isn't a renderer yet, `setAttributes` could store its[ `attr` object](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L339) then `createCanvas` could pass it as the fourth argument [when constructing RendererGL](https://github.com/processin

[2018-07-09 20:33] mattdesl commented on #3061
Thanks for looking into it.

I agree it is not good to add more surface area to the API for end-users. But an additional private variable seems fine to me, is there any reason that would not be desirable?

[2018-07-09 20:44] #3065 closed

[2018-07-10 12:48] TeemuKoivisto opened #3078 "Bug: Missing typings for TypeScript"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-07-10 13:42] TeemuKoivisto commented on #3078
Well as a temporary solution I managed to fix the `p5.d.ts` definitions file locally by first inserting all the constants from the `p5.global-mode.d.ts` file to it: https://pastebin.com/DsxsS0uF

Then apparently p5.sound is out-of-date with its definitions so as described here https://github.com/processing/p5.js-sound/pull/248 I fixed the method in the line 10312 from:
[code]
to:
[code]

Yet it al

[2018-07-10 17:06] kjhollen commented on #3078
Hi @TeemuKoivisto, thanks for reporting this—the Typescript definitions have been moved to their own repository: https://github.com/p5-types/p5.ts and are now being maintained independently. I think the new repo has a few fixes that are more up to date than the last version distributed with p5, if you want to give that a try. I've copied the issue there so that the maintainers are aware. Thanks!

[2018-07-10 17:06] #3078 closed

[2018-07-10 17:20] kjhollen commented on #3043
Hi @GiaFil7, thank you for filing this issue. I suggest posting on the p5.js forums https://discourse.processing.org/c/p5js to see if any other folks are using VSCode and might have some advice. Also cc'ing @aferriss on this because I know he is a VSCode user.

Can you provide more detail on what might need to be done to support this extension? If it's something that would generally help the proje

[2018-07-10 17:22] #3059 closed

[2018-07-10 17:29] kjhollen commented on #3039
Ah cool—this would be great. Since we're already distributing with npm, might as well. Any takers for this issue?

[2018-07-10 18:24] aferriss opened #3079 "Unexpected behavior using transforms with createGraphics"
In the normal draw loop, if you use a translate rotate or scale the transforms get reset at the end of the draw loop. For example if you do

[code]

The ellipse will always be drawn in the center of the screen.

If you do this in a createGraphics layer, the transforms will compound so your shape will end up flying off screen.

[code]

Is this intentional? I assumed that createGraphics would behave

[2018-07-10 19:47] kjhollen commented on #1875
now that I've dug into this a little bit—to clarify, the desired behavior is:

using mouse events will (by default on up-to-date mobile browsers) work without having p5 generate the mouse events via touch. removing code the existing code that does this prevents some duplication of events.

however, it also means that touch events will not fire on desktop browsers. so using @tigoe's example above,

[2018-07-10 19:51] lmccart commented on #1875
@kjhollen if I'm reading this right, the mouse behaviors should always work/fire on mouse or touch (on up-to-date browsers). the touch behaviors will only work on touch. is that correct?

[2018-07-10 19:55] kjhollen commented on #1875
@lmccart yes, that's right!

[2018-07-10 19:57] lmccart commented on #1875
@kjhollen that sounds reasonable to me :)

[2018-07-10 22:29] #2847 closed

[2018-07-11 02:22] Spongman commented on #2183
ok. well, if anyone's interested, this is how far i got: https://codepen.io/Spongman/pen/djyxvo

[2018-07-11 03:33] kjhollen commented on #3079
Related to #2586 — the same work around should help!

I guess createGraphics could update a running list of known p5.Graphics objects created that need a reset at the end of every draw loop for a specific p5 instance (and then perform the reset). Is there any reason not to do this?

[2018-07-11 05:53] nikhilapinninti opened #3081 "to zoom a image , iam using scale but scale is zooming only over (0,0)..how to scale over a specified point."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2018-07-11 17:06] Spongman commented on #2533
turns out this problem still exists.

[2018-07-11 17:39] Spongman commented on #3079
i think this should be optional (probably opt-in per-Graphics) since you may not be drawing into the Graphics at the same cadence as the main draw loop. alternative, just adding a method to the Graphics object to manually reset the state would probably suffice.

[2018-07-11 17:45] Spongman commented on #3053
is this an issue that can occur in user code? i didn't think `Renderer` methods were exposed through the API.

does this happen if you call `resizeCanvas()`?

[2018-07-11 18:18] AidanNelson commented on #3053
This happens because `resizeCanvas()` calls the renderer's `_resize()` method.

Also this is closed by #3080.

[2018-07-11 18:18] #3053 closed

[2018-07-11 18:20] AidanNelson commented on #3054
Closed by #3080.

[2018-07-11 18:20] #3054 closed

[2018-07-11 18:44] AidanNelson commented on #3060
Closed by #3080.

[2018-07-11 18:44] #3060 closed

[2018-07-11 21:21] aferriss commented on #3079
I think that users would expect Graphics to work the same way as the default renderer (at least I do) and if you didn't want the matrices to reset maybe there should be some flag to prevent that from happening.

Not that the p5 is always tracking with desktop processing, but the Graphics layers there do reset at the end of the draw loop (or at least at the graphics.beginDraw() or graphics.endDraw(

[2018-07-11 23:40] lmccart commented on #3043
I looked into this a bit and the [JS Standard Style](https://standardjs.com/) doesn't support globally defined functions and variables in libraries. p5.js makes use of these in order to make it easy for new programmers to get up and going with the library. There is a [workaround](https://standardjs.com/#i-use-a-library-that-pollutes-the-global-namespace-how-do-i-prevent-variable-is-not-defined-err

[2018-07-11 23:41] lmccart commented on #2982
you can post issues for p5.js-sound over here: https://github.com/processing/p5.js-sound

[2018-07-11 23:41] #2982 closed

[2018-07-12 00:23] Spongman commented on #3079
are you saying it's automatic in processing, or that it's reset by an API call made by the user? sorry, i didn't understand what you wrote there.

[2018-07-12 00:30] aferriss commented on #3079
@Spongman yes, it's automatic in processing. However processing also requires you to use beginDraw and endDraw, which don't exist in p5.

[2018-07-12 00:31] #2947 closed

[2018-07-12 01:13] Spongman commented on #3079
ok, so i ran a test and it's **not** automatic in processing. the PGraphics matrix is _only_ reset when the `beginDraw()` method is called. it's _not_ reset at the beginning of the frame.

the following program rotates the graphics' matrix every frame, but only completes the beginDraw/endDraw pair when the mouse is clicked. you'll see that the rotation of the clock hand depends on the time number

[2018-07-12 01:41] aferriss commented on #3079
Right, so in p5 the equivalent to begin/endDraw would be push and pop or resetMatrix.

If it's working as intended then it would be good to document this behavior somewhere— I think it's useful information and the default behavior might not be intuitive for beginners. In the processing docs, they recommend that all drawing be done between beginDraw and endDraw. I think we can similarly mention tha

[2018-07-12 02:12] Spongman commented on #3079
actually, there's currently no p5.js equivalent for processing's begin/endDraw. the p5.js push/pop are somewhat equivalent to processing's push/popMatrix, push/popStyle. i believe these were combined in p5.js because html5's canvas also has a combined matrix/style stack and separating them out is a bit of a pain.

we're on the same page: in #2586 i suggested "maybe we should add a `beginFrame()` m

[2018-07-12 08:30] GiaFil7 commented on #3043
@Imccart Thank you for pointing this out! I will close the issue.

[2018-07-12 08:30] #3043 closed

[2018-07-13 02:35] kjhollen commented on #1875
in testing to update the documentation, I realized I had misunderstood something: we do need to keep forwarding touch -> mouse events to make the mouse events always work by default.

the mobile/touch browser does not generate corresponding mouse events for all touch events by default; however, it does ALWAYS generate a set of mouse events when a quick-tap occurs! so the real culprit here is p5.El

[2018-07-13 21:55] kjhollen commented on #3049
hi @AngelDaMage, I wasn't able to reproduce this—I copied in the first example from here https://p5js.org/reference/#/p5/mouseClicked and everything seemed okay. I'm noticing that in your error message, Value has a capital v but the code you're using as a reference has a lowercase v for value. Maybe there's a mismatch somewhere?

I'm going to close this issue, but if this doesn't work feel free to

[2018-07-13 21:55] #3049 closed

[2018-07-13 21:57] kjhollen commented on #2962
closing because the fix for this has been merged into webgl-gsoc-2018!

[2018-07-13 21:57] #2962 closed

[2018-07-13 22:13] kjhollen commented on #2936
closing because this is taken care of in webg-gsoc-2018!

[2018-07-13 22:13] #2936 closed

[2018-07-13 22:13] kjhollen commented on #2930
fixed in webgl-gsoc-2018

[2018-07-13 22:13] #2930 closed

[2018-07-13 22:15] kjhollen commented on #2895
Updated title to reflect work needing to be done!

[2018-07-13 22:16] kjhollen commented on #2662
fixed in webgl-gsoc-2018!

[2018-07-13 22:16] #2662 closed

[2018-07-13 22:17] kjhollen commented on #2497
fixed in webgl-gsoc-2018!

[2018-07-13 22:17] #2497 closed

[2018-07-13 22:20] kjhollen commented on #2184
added in webgl-gsoc-2018!

[2018-07-13 22:20] #2184 closed

[2018-07-13 22:42] kjhollen commented on #2965
fixed in webgl-gsoc-2018!

[2018-07-13 22:42] #2965 closed

[2018-07-14 00:12] aferriss commented on #2895
I was also thinking about this recently. Is there a reason why we couldn't implement something that would keep a global list of the loaded shaders, and duplicate them when needed for additional contexts? How does this work currently? It looks to me like the renderer of the shader isn't set until shader() is called but I haven't looked into it too deeply.

I know that creating and compiling shaders

[2018-07-14 14:39] chrisorban commented on #3008
@kjhollen  Thanks for taking this on. Any progress?

[2018-07-14 17:29] kjhollen commented on #3008
@chrisorban I'm getting the hardware to test with from a friend this weekend, and can work on it next week!

[2018-07-15 13:09] LadySith commented on #3003
Hi @i3games

When you test your device resolution using http://whatismyscreenresolution.net/ does it match your actual device resolution or does it give the same result as the p5.js sketch?

[2018-07-15 13:31] LadySith commented on #2751
Hi @aatishb ,

I'm looking into this issue and it seems to be working as expected since if you return true the slider works correctly. Would you be able to give the specific situation or link me to the code in which this is an issue?

[2018-07-15 21:13] stephanmax commented on #2503
I would love to see this coming to p5, please let me know if I can help.

[2018-07-16 01:48] aatishb commented on #2751
Hi, Thanks for looking into this. It seems to work fine with return true. Perhaps then the documentation on the above pages (touchStarted, touchMoved, mouseDragged, mousePressed) should be updated to say 'return true' instead. Currently it says "To prevent any default behavior for this event, add "return false" to the end of the method." Other than that this seems ok to close.

[2018-07-16 15:48] i3games commented on #3003
It is 360, 640 as in the sketch. I don't believe it is a bug in p5, as this is what comes from `window.screen.width` and `window.screen.height`. I think  the documentation could mention that you have to multiply with `displayDensity()` to get the actual device dimensions.

[2018-07-16 20:30] AswIyer commented on #1855
God loves you both! Thanks a bunch for the Q&A! you both saved my Hell Tym!

[2018-07-16 20:46] j6k4m8 opened #3087 "mouseButton lags one click behind in canvas.mousePressed"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.6.0
- Web browser and version: Chrome ~67 (Did not test on other browsers)
- Operating System: MacOS, Ubuntu, ChromeOS (Did not test on Windows)
- Step

[2018-07-16 20:53] Spongman commented on #3087
can you try this with 0.6.1?

[2018-07-16 21:02] j6k4m8 commented on #3087
Confirmed on 0.6.1: https://alpha.editor.p5js.org/j6m8/sketches/rJzZPF5QX

[2018-07-16 21:05] Spongman commented on #3087
ok, it looks like it's because the `canvas.mousePressed` call is just setting the event listener functions on the canvas element, and this is bypassing (or rather just happening before) the `mousePressed` logic.

[2018-07-17 01:52] j6k4m8 commented on #3087
oh interesting. sounds like that's not an easy fix on this end then?

[2018-07-17 04:22] Spongman commented on #3087
it may be quite tricky, yes. I'd recommend using the p5 instance/global mousePressed event instead if you can...

Alternatively, If you need to find which button was pressed when using the element event listener, you can inspect the event object that's passed in to your callback, I believe the button info is in there somewhere.

[2018-07-17 19:01] j6k4m8 commented on #3087
Unfortunately can't use the global event always.

I suppose this is a temporary fix:

[code]

...but it's pretty inelegant. Those (dict keys) numbers are just my empirical guesses — I assume LMB/MMB/RMB is 0, 1, 2, respectively?

If you pointed me to the right vicinity in the p5 source, I might be able to take a look and see if I could write a fix.

[2018-07-18 02:08] Spongman commented on #3087
those numbers are defined here: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/button

[2018-07-19 17:12] lmccart commented on #2981
hi @TanviKumar what's the status on this one?

[2018-07-20 00:41] j6k4m8 commented on #3087
Got it. Would it be helpful for me to poke around the p5 codebase and contribute a fix?

[2018-07-20 08:12] TanviKumar commented on #2981
Hi @kjhollen, in order to limit the user from the loading very large files (in this case anything greater than 64MB in size), I plan on using the HEAD request to obtain the content length of the file without fetching the entire body. Would it be wise to use synchronous XHR or Async XHR? Here's a [link](https://bitexperts.com/Question/Detail/3316/determine-file-size-in-javascript-without-downloadin

[2018-07-20 17:35] Siiiimon opened #3090 "grunt build fails test (building from source)"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) (dev build)

#### Which platform were you using when you encountered this?

[2018-07-20 18:54] Siiiimon commented on #2182
the `WebGL Module Architecture` link might be borked...

[2018-07-20 19:00] lmccart commented on #2182
@Siiiimon thanks! updated

[2018-07-20 22:23] #3067 closed

[2018-07-20 22:35] lmccart commented on #1875
fixed with #3082

[2018-07-20 22:35] #1875 closed

[2018-07-20 22:41] lmccart commented on #3016
I think this function is beyond the scope of the p5.js api for now as we try to focus on webgl and mobile updates. I apologize that this is confusing, we are in the process of implementing a public roadmap and milestones to make this more clear. We will soon be calling for input for new features for the 1.0 release. We can revisit this idea then. For now, it could be a great starting point for an

[2018-07-20 22:41] #3016 closed

[2018-07-20 22:44] lmccart commented on #2970
This seems unclear and since we haven't heard from the initial author, I'd prefer to simplify and clarify by removing completely for now.

[2018-07-20 22:45] lmccart commented on #2964
I think this function is beyond the scope of the p5.js api for now as we try to focus on webgl and mobile updates. I apologize that this is confusing, we are in the process of implementing a public roadmap and milestones to make this more clear. We will soon be calling for input for new features for the 1.0 release. We can revisit this idea then. For now, it could be a great starting point for an

[2018-07-20 22:45] #2964 closed

[2018-07-21 14:54] lmccart opened #3091 "changedTouches not documented"
_From @micuat on December 28, 2017 2:39_

Not having callback arguments for touchEnded is very inconvenient and I almost wrote a long feature request for p5.js... Then I noticed that touchStarted/Moved/Ended indeed comes with an argument `e`, which contains `e.changedTouches`! The only issue is not documented in the [reference](https://p5js.org/reference/#/p5/touchEnded). Multitouch may be a bit a

[2018-07-21 16:00] micuat commented on #3091
I forgot why I needed this, but I quickly made a little example to demonstrate why having touch identifier can be useful. This would be a bit more complicated without `e` in `touchEnded` because you don't have any clue about which touch has ended.

[code]

editor: http://alpha.editor.p5js.org/micuat/sketches/BJ09v0eV7
fullscreen: http://alpha.editor.p5js.org/full/BJ09v0eV7

[2018-07-21 16:03] micuat commented on #3091
but I would add that inside `touchEnded` is not really clean because

* for some reasons it captures other events; so I added `if (e instanceof TouchEvent)`
* variable names are inconsistent compared to p5js (`clientX` vs `x`)

[2018-07-22 10:16] MlleDR commented on #309
Won't this help ? https://github.com/rjbultitude/p5-requirejs-demo

[2018-07-23 02:01] Spongman opened #3093 "global-mode errors fired during mocha tests"
(current master)

i'm seeing a bunch of global mode binding errors being fired during the global-mode mocha tests. this is happening both in-browser and on the command line (including travis).

[code]

[2018-07-23 05:35] limzykenneth commented on #309
@MlleDR this is pretty old issue now and the library has changed considerably since. If you are encountering similar issue please open a new issue as this issue is closed and no longer relevant. Thanks.

[2018-07-23 19:05] RinayShah opened #3094 "console.log multiple arguments"
http://alpha.editor.p5js.org/lisajamhoury/sketches/BJBbQ7uMf

I am trying to use I want to display both Kinect joint's data on JSON Object file
I can display data for either of the Kinect but I cannot display it for both. I want to know where I can insert t
console.log(joint,joint2) so I can acquire both joint data?

[2018-07-24 16:50] kjhollen commented on #3008
hi @chrisorban, I wasn't able to coordinate getting the hardware and testing with my schedule last week (I am getting ready to move across the country). my friend who has the keyboard + iPad is out of town until I move.

@outofambit is who I was planning to borrow the hardware from. I think she had tried to reproduce the issue and couldn't—tagging her here just in case!

[2018-07-25 08:33] patlecat opened #3096 "What JS standard does p5js use?"
So what JS standard does the p5js basic libraries use? I hope at least ES5? Or even newer? How does it play with compilers like TS and Babel?

[2018-07-25 16:37] joshlory commented on #2837
@lmccart is there a patch release scheduled soon?  I'm still seeing `grunt-mocha` as a dependency on the [0.6.1 release](https://www.npmjs.com/package/p5/v/0.6.1?activeTab=dependencies).

Thank you for the awesome library!

[2018-07-25 19:58] lmccart commented on #3094
this simplified example of printing two arguments seems to work ok:
[code]

if you'd like more formatting, you can also write things like:
[code]

if you are having trouble getting values out of kinect data, I would suggest posting this in the forum for more specific programming assistance. https://discourse.processing.org/

[2018-07-25 19:58] #3094 closed

[2018-07-25 20:16] j6k4m8 commented on #3087
If I'm reading this correctly, then `_setMouseButton` is called on :583 — before `mousePressed` is called on :586.

https://github.com/processing/p5.js/blob/432527aa63bc8e61270107d51e92330790d965a0/src/events/mouse.js#L579-L596

But in the p5.Element handler context, `mouseButton` is never set:

https://github.com/processing/p5.js/blob/a98e3fa1a13add5c40bad5c4c15f603d3ec3e6ea/src/core/p5.Element.j

[2018-07-27 14:19] JithinKS97 commented on #2475
This seems to be really exciting...I've been thinking about contributing to p5.js since very long...@a-y-u-s-h....Have you started the work?

[2018-07-27 17:57] a-y-u-s-h commented on #2475
@WildYorkies that's interesting. Even though I know and like Rust and C++, if I were to experiment with this idea : I would pick Typescript. There may be some micro trade-offs in performance, but a pro of using typescript is that a lot of enthusiastic contributors won't have to learn entirely new syntax just to access to web assembly. Later if someone finds out that there's something that needs us

[2018-07-27 18:13] WildYorkies commented on #2475
@a-y-u-s-h I bet that 96% of p5.js users are not familiar with server-side javascript. Today they are happily including the p5 script and simply rendering their html in the browser.

Introducing Typescript requires explaining a whoooole lot about the current javascript ecosystem. I really don't like the cargo cult that web programming requires today :/

[2018-07-27 18:42] a-y-u-s-h commented on #2475
@WildYorkies Not sure about that but I believe Typescript would make it easier for people to participate than Rust would because it's very close to home for JS developers. It's close to Java as well with some new concepts, so there's that.

It's not like we really _require_ the cargo system : we can write code in proper C, C++ or Go as well - they'll all produce essentially the same wasm module -

[2018-07-27 21:51] lmccart commented on #3008
hi @chrisorban if you have a chance, can you try downloading this p5-test.js file and linking to that in your sketch to see if it fixes things?
http://files.lauren-mccarthy.com/share/p5-test.js

@kjhollen hope you don't mind my jumping in here. I just got curious about this one..

[2018-07-28 02:12] chrisorban commented on #3008
Hi @lmccart  I tried that but it gives the same behavior as before. Here is the link:
http://alpha.editor.p5js.org/ChrisOrban/sketches/B1bkkIKEX

It works normally on my laptop, but on the iPad it only changes color the first time you press one of the keyboard keys. If you keep pressing that key it does nothing. Same problem as before. Sorry to be the bearer of bad news.

[2018-07-28 18:08] kjhollen commented on #3008
yes, that's totally fine @lmccart—go for it!

[2018-07-29 15:20] joecridge commented on #2919
Hi all – sorry, I completely missed this discussion! Hopefully I can add some clarification on the intended behaviour, and how we arrived at that behaviour in the first place.

There’s a lot going on here, so I’ll try to break it down into independent components.

## General start/end behaviour

The interpretation of `start` and `end` in p5.js is slightly different from that in Processing, motivat

[2018-07-29 15:44] Spongman commented on #2919
I believe the actual problem may indeed be
some kind of sensitivity to rounding, but I agree that tracking it down whatever it is would be preferable to layering bandaids.

[2018-07-29 16:15] AdilRabbani commented on #2919
Just some notes from my side :

1) #3042 isn't merged to master, as I closed it because it didn't seem like a proper fix to the "flickering rect issue" (But the PR was meant to fix the issue not to induce it). Note that this issue is different from what this original issue is based on which was already fixed in #2942.

2) My original implementation was to not render anything when `Math.abs(start -

[2018-07-29 17:20] Spongman commented on #2919
ok, something very strange is going on here that i don't understand.

here is a simple repro of the bug using 0.6.1: https://codepen.io/Spongman/pen/WKXewG?editors=0010

![image](https://user-images.githubusercontent.com/1088194/43368751-1f7f3376-9317-11e8-9d8f-719f1c62dab0.png)
(Chrome 67.0.3396.99, Windows 10.0.17134.48, Nvidia GT 520 v391.35)

the sketch includes an implementation of p5.Rendere

[2018-07-29 17:38] joecridge commented on #2919
Oops... apparently I was looking at the wrong diff!

@AdilRabbani I can't speak for WebGL, but your changes in #2942 are **not** compatible with the Renderer2D implementation of `arc()`. (Not that you could have known, though... it doesn't seem to be documented anywhere :grimacing:.)

`p5.Renderer2D.prototype.arc` has the following requirements:

- `0 <= start < TWO_PI`
- `0 <= stop < TWO_PI`

Cur

[2018-07-29 20:55] Spongman commented on #1779
i think this needs to be re-opened since it's still happening: https://github.com/processing/p5.js/issues/2919#issuecomment-408692188

it happens on both windows 10 machines i have access to.

[2018-07-29 21:07] Spongman commented on #1779
@joecridge i took a look at the arc-drawing code and i'm reasonably certain there's no mid-arc shenanigans going on.

i think the next step will be to re-create the bezier end/control point calculations in the non-p5 pen. i'm assuming at this point it's a browser bug and a minimal repro will help to eliminate p5 as the cause.

as for a workaround, it may not be pretty, but @AdilRabbani's #2919 fix