[2020-05-01 17:07] Rizz0S commented on #4497
The website is in a different repo - you might want to check out https://github.com/processing/p5.js-website

[2020-05-01 17:12] ShardulAswale opened #4498 "if the rect mode is corner you can put text on it but if rect mode is center the text function just doesn't work."
#### Most appropriate sub-area of p5.js?

- [1 ] Color
- [1 ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

[2020-05-01 17:58] Rizz0S commented on #2865
Could someone provide some guidance of what needs help with documentation rn? I really want to start contributing to the community, but most of the open issues right now are either already being worked on or out of my experience range. Thanks!

[2020-05-01 18:00] dfd0226 opened #4499 "Add 'credentials: include' to fetch request in loadImage()"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

I recently found an issue with p5.js `loadImage()` and how the `fetch()` request handled cookies in Safari (macOS/iOS) and Chrome (iOS). Due

[2020-05-01 19:16] stalgiag commented on #4463
@DivyamAhuja something like that or 'computes faces for geometry objects based on the vertices.'

[2020-05-01 19:25] stalgiag commented on #4498
Hello @ShardulAswale. The Github page is for tracking development of the library. General coding questions should be asked on [discourse.processing.org](discourse.processing.org). If you are very certain that this is a bug with the library, and not with your code, then you should post example code along with info about your p5 version, web browser, and operating system.

That said, it seems likely

[2020-05-01 20:58] montoyamoraga opened #4500 "add endurance21 as a contributor for docs"

[2020-05-01 20:59] montoyamoraga commented on #4500
@all-contributors please add @endurance21 for docs

[2020-05-01 21:00] montoyamoraga commented on #4500
solved by #4501

[2020-05-01 21:00] #4500 closed

[2020-05-01 21:52] #4443 closed

[2020-05-01 22:15] montoyamoraga opened #4502 "adding recent contributors to README"

[2020-05-01 22:15] montoyamoraga commented on #4502
@all-contributors please add @sm7515 for docs

[2020-05-01 22:17] montoyamoraga commented on #4502
@all-contributors please add @banditelol for docs

[2020-05-01 22:22] #4502 closed

[2020-05-01 22:38] #4497 closed

[2020-05-01 22:44] montoyamoraga commented on #4487
hi @Rizz0S thank you for contributing :)
i do agree with @akshay-99, i rather not have the functionality
i guess when someone is using colors in such an object notation, they know what they are doing, and they should be able to format it to the other different ways that color() accepts inputs
it adds a lot of complexity to the library, because we don't only have rgb, but also hsb, and transparency

[2020-05-02 16:35] montoyamoraga commented on #4502
@all-contributors please add @shaharyarshamshi for i18n

[2020-05-02 16:35] montoyamoraga commented on #4502
@all-contributors please add @shaharyarshamshi for translation

[2020-05-02 16:35] montoyamoraga commented on #4502
@all-contributors please add @shaharyar-shamshi for translation

[2020-05-02 16:36] montoyamoraga commented on #4502
@all-contributors please add @ayushjainrksh for translation

[2020-05-02 16:37] montoyamoraga commented on #4502
@all-contributors please add @ayushjainrksh for translation

[2020-05-02 17:24] neefrehman commented on #2920
Running into this issue currently as well. `import p5 from "p5"` with Webpack is importing a huge file that includes all the documentation and logs for the project. Even after subsequently being run through a minifier it comes out at 1.7MB, as the docs/logs remain.

[2020-05-02 17:28] ayushjainrksh commented on #4502
@montoyamoraga Thank you very much!

[2020-05-02 19:24] neefrehman opened #4509 "v1.0 breaks directionalLight() behaviour"
#### Most appropriate sub-area of p5.js?
- [x] WebGL

#### Details about the bug:
I've just upgraded to p5 v1.0 for some of my sketches, and am running into some inconsistent behaviour with `directionalLight` when trying to add interactivity.

This code snippet doesn't seem to work in a very simple sketch:
[code]

It's very similar code to what is shown in the [documentation for directionalLight](

[2020-05-02 19:47] akshay-99 commented on #4509
Hi @neefrehman I think this issue is related to #4391. It was patched with #4406 but since that patch came after 1.0, it is not yet included in the released version. I don't exactly know releases work here but I think it will be included in the next release.

I have tested your sketch on the patched version and it seems to work as expected.

[2020-05-02 20:50] neefrehman commented on #4509
Hi @akshay-99, thanks for the answer! looking forward to the patched version launching.

I'm also having another problem where `noFill()` isn't working correctly in WEBGL context with v1.0. I've created [another Code Sandbox](https://codesandbox.io/s/eager-paper-nwtdw?file=/index.html) to show the issue. Do you know if this is a related bug? If not I can open a separate issue for it.

[2020-05-02 21:44] akshay-99 commented on #4509
@neefrehman to me it seems that the `noFill` problem is related to #4350 which was fixed in #4366.

[2020-05-02 22:18] neefrehman commented on #4509
@akshay-99 thanks so much for the quick responses. Clearly I need to get better at searching for potential duplicate issues. I did check, I promise!

Closing this issue in anticipation of the next release.

[2020-05-02 22:18] #4509 closed

[2020-05-03 10:31] DivyamAhuja commented on #4463
Oh, then I will try updating documentation

[2020-05-03 10:55] limzykenneth commented on #4487
I agree with the general sense that this can be handled relatively easily on the client side while trying to add it in the library will also add to the complexity (seeing as it is a function overload that javascript isn't that fond of). I'm closing this issue for now. Thanks everyone!

[2020-05-03 10:55] #4487 closed

[2020-05-03 14:19] montoyamoraga commented on #4408
we merged @mojosoeun's contribution, and i updated the checklist above :)

[2020-05-03 15:31] montoyamoraga commented on #4389
since we weren't able to replicate the error, i am closing this issue

[2020-05-03 15:31] #4389 closed

[2020-05-03 15:35] montoyamoraga commented on #3651
hi @simranaggarwal1999 sorry we didn't see this issue before,
i assigned it to you, if you still want to work on it :)

[2020-05-03 19:57] simranaggarwal1999 commented on #3651
@montoyamoraga Thankyou! for assigning this issue to me. But as of now I am quite busy with my college stuff.

[2020-05-03 22:18] #4484 closed

[2020-05-03 23:28] montoyamoraga commented on #3651
@simranaggarwal1999 i can unassign then and you can work on it when you can, don't worry :)

[2020-05-04 05:59] #4456 closed

[2020-05-04 09:31] svendahlstrand opened #4510 "Get rid of warnings in empty-example/index.html"
Hello, 👋🏻

When opening the developer tools in my browser on the `empty-example/index.html` page, a "fail to load source map" warning shows up.

![Fail to load source map warning in Safari and Chrome.](https://user-images.githubusercontent.com/35639/80952243-ac946180-8df9-11ea-9a0e-793a58255f83.png)

Warnings about source maps can be scary and confusing – especially to new developers or anyone who

[2020-05-04 15:58] HiImDaniel-type opened #4511 "Variable Font / JavaScript / Generative Type"
Hello guys, im Daniel, a graphic designer from Portugal ending my master degree about manipulation of variable fonts to produce kinetic typography experiments.
Im creating this topic because my main ideia is to create a web system where the user can manipulate a variable font (that i created) and add some graphic elements (circles.. generative elements etc...)
Since until now in p5.js the only way

[2020-05-04 16:36] bassamanator opened #4512 "removeElements() works sporadically"
#### Details about the bug:
-using the latest p5.js (Feb 29, 2020)
-Manjaro linux
-Tested in Chrome, Mozilla, Opera
-Problem: by invoking removeElements(), buttons/input boxes are removed sometimes but not at others

[2020-05-04 16:53] jgordon510 opened #4513 "Broken link to custom cursor on /reference/#/p5/cursor"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other - Reference Docs

#### Details about the bug:

The website example at: https://p5js.org/reference/#/p5/cursor isn't working correctly.  In the bottom right-corner of the example, it should p

[2020-05-04 17:01] fenilgandhi commented on #4512
#4414 did fix this issue, you will just need to wait for the next release.

[2020-05-04 17:51] Rizz0S commented on #4513
I'll take this if I'm allowed. Seems like a pretty easy fix. Is there a specific cursor it needs to be replaced with?

[2020-05-04 20:16] qalqi opened #4514 "Discrepancy in react p5 mouseIsPressed"
I am trying to build a painting tool.

I came across a sketch at https://editor.p5js.org/projects/HJdsXS1BZ . when I tried to use the same in react,  there is a discrepancy in `mouseIsPressed` behavior with same code.

Here is
React : https://qalqi.github.io/react-p5-test/
P5 Sketch:  https://editor.p5js.org/projects/HJdsXS1BZ

Notice how the sketches disappear as we draw in react, whereas the sha

[2020-05-04 21:40] montoyamoraga commented on #4512
thank you @bassamanator for pointing this out,
as @fenilgandhi pointed out, this issue was fixed and the fix will be included with the next release of p5.js :)

[2020-05-04 21:40] #4512 closed

[2020-05-04 21:44] montoyamoraga commented on #4511
hi @HiImDaniel-type, welcome!
i am not familiar with what you are asking,
but maybe you can engage in a wider discussion on our forum
https://discourse.processing.org/ :)

[2020-05-04 21:48] montoyamoraga commented on #4513
hi @jgordon510 thank you for pointing this out!
thank you @Rizz0S for offering to help,
it does look an easy fix, and i suggest replacing the call of the website
with one of the CSS ones mentioned on the reference
ARROW, CROSS, HAND, MOVE, TEXT and WAIT
i am assigning you this issue, thanks!

[2020-05-04 21:50] bassamanator commented on #4512
Oh I see.

Thanks!

[2020-05-04 21:58] #4514 closed

[2020-05-05 00:08] jgordon510 commented on #4513
I'm not sure replacing with one of the standard CSS icons really achieves
the purpose of that section of the code.  It's supposed to show how to load
a custom image.

On Mon, May 4, 2020 at 2:48 PM aarón montoya-moraga <
notifications@github.com> wrote:

[2020-05-05 01:13] montoyamoraga commented on #4513
@jgordon510 that's true, :)
instead of depending of assets hosted somewhere else, i propose we use
the avatar of github.com/processing, and we can pick either 16x16 or 32x32
https://avatars0.githubusercontent.com/u/1617169?s=16
https://avatars0.githubusercontent.com/u/1617169?s=32

[2020-05-05 01:33] jgordon510 commented on #4513
That sounds like a great solution.

On Mon, May 4, 2020 at 6:14 PM aarón montoya-moraga <
notifications@github.com> wrote:

[2020-05-05 02:00] vanyamil commented on #4479
Actually, I have this exact problem. My file starts with the lines:
import p5 from "p5";
import 'p5/lib/addons/p5.sound';

I use Laravel Mix for minifying + compiling ES6 down to vanilla JS.

Since I've moved from 0.7.2 to 1.0.0 (NPM version), the compiled script that uses those lines gives me a "ReferenceError: p5 is not defined" for line 3112 of p5.sound - "p5.prototype.isSupported = ...". Any h

[2020-05-05 02:01] HiImDaniel-type commented on #4511
i explained myself bad... variable fonts is what i mean ... sorry

[2020-05-05 04:33] hellonearthis commented on #4511
It is better to ask on the discourse that montoyamoraga mentioned.
In p5 you can use the dom .style() function and you need to code the css as js,  I use https://css2js.dotenv.dev/ to do that.

[2020-05-05 10:32] stc opened #4515 "tint() is not working in WEBGL mode (version 1.0.0)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: p5.js v1.0.0 February 29, 2020
- Web browser and version: 81.0.4044.129 (Official Build) (64-bit)
- Operating System: Mac

[2020-05-05 16:40] Rizz0S commented on #4513
Thanks y'all! Made the appropriate change - do I need to do anything in the p5.js-website repo as well, or will this change be sufficient?

[2020-05-05 17:17] #4513 closed

[2020-05-05 17:18] montoyamoraga commented on #4502
@all-contributors pleass add @Rizz0S for docs

[2020-05-05 17:33] montoyamoraga commented on #4513
@Rizz0S thank you! your PR is great and enough, the build of the website is automatic,
also i added you to the contributors of p5.js :)
https://github.com/processing/p5.js

[2020-05-05 21:57] DynamicSquid opened #4518 "Drag and Drop Files into Folder"
Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### New feature details:

So I noticed how when you create a folder in p5.js, you can't drag and drop existing files into that folder. Instead you have to manually import

[2020-05-05 22:01] montoyamoraga commented on #4518
hi @DynamicSquid thank you for your comments!
this issue is regarding our p5.js web editor,
https://github.com/processing/p5.js-web-editor
we will transfer this issue there :)

[2020-05-05 22:03] montoyamoraga commented on #4518
hi @catarak :) i assigned you because i don't have the permission to transfer this issue to the p5.js web editor repo :)

[2020-05-05 22:28] DynamicSquid commented on #4518
Oh yeah, np, I can do it 👍

[2020-05-05 22:31] #4518 closed

[2020-05-05 22:31] montoyamoraga commented on #4518
u can also close this issue and copy/paste on a new issue here
https://github.com/processing/p5.js-web-editor
:)

[2020-05-05 22:31] DynamicSquid commented on #4518
did it, thanks for letting me know!

[2020-05-06 00:43] montoyamoraga commented on #4485
since we cannot revert this,
and it will be fixed on the next release of p5.js
i am closing this issue

[2020-05-06 00:43] #4485 closed

[2020-05-06 00:45] montoyamoraga commented on #3066
since this might have been an old bug,
that was resolved with newer versions,
and also we can't replicate this issue,
i am closing it :)

[2020-05-06 00:45] #3066 closed

[2020-05-06 09:31] AlexEltonPym opened #4519 "Square not using 4th parameter as rounding"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Google Chrome 81.0.4044.129 (Official Build) (64-bit)
- Operating System: Windows 10 Hom

[2020-05-06 10:54] manstie opened #4521 "Ellipse mode CORNERS unexpected behaviour"
#### Nature of issue?
- Found a bug

#### Details about the bug:
- Web browser and version: Firefox 75.0 64-bit
- Operating System: Windows 10
- Steps to reproduce this bug:

  ellipseMode(CORNERS);
  ellipse(10, 10, -10, -10);

when x2 and y2 of an ellipse while in ellipseMode(CORNERS) causes the negative value to "bounce" off the negative (upper left) bounds of the canvas.

another example: elli

[2020-05-06 11:41] limzykenneth commented on #4519
This has already been fixed and will be available in the next release.

[2020-05-06 11:41] #4519 closed

[2020-05-06 13:29] hcanndesign opened #4520 "SaveFrame function exporting black frames"
Hi there,
When I export frames using SaveFrame("frame_####.png); I get a series of black frames rather than a recording of the sketch I've produced. Please could you advise?
Many thanks
Harriet

[2020-05-06 14:29] akshay-99 commented on #4520
Hi @hcanndesign. Can you link a sketch on https://editor.p5js.org/ or a code snippet that would help to replicate this issue? Also, can you fill in the issue template, which would give us details like browser version, operating system, p5.js version etc.?

[2020-05-06 16:54] mojosoeun commented on #4408
@mjaything Hi. I'm translating preparing_a_pull_request.md, es6-adoption.md, and supported_browsers.md and unit_testing.md 🙂

[2020-05-06 17:18] mjaything commented on #4408
@mojosoeun List updated! Thanks! :-D

[2020-05-07 01:50] felixthefein opened #4522 "p5.js font issue"
Hello,

I am new to GitHub, and I just made a repository to host my p5.js sketch, which includes a .js, an .html, and an assets folder with .ttf and .otf font files and a .csv file.

However, the sketch yields an error in the console unless the fonts are removed from the sketch. (Note: the fonts don't seem to cause any problems when I view my sketch locally from the Terminal CLI.)

Here is the lin

[2020-05-07 03:30] montoyamoraga commented on #4522
hi @felixthefein!
i noticed your repository is using an old version of p5.js
can you replace this line on your index.html
https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js
with
https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js
and see if that works?

[2020-05-07 04:03] montoyamoraga commented on #4498
thank you @ShardulAswale for contributing!
i agree with the comments from @stalgiag,
so i am closing this issue for now,
if you cannot find a solution with other people on our forum,
and you are sure this is a bug, please include code on this issue,
and tag us to reopen it :)

[2020-05-07 04:03] #4498 closed

[2020-05-07 04:06] montoyamoraga commented on #2865
thank you @Rizz0S, i think the most straightforward help to contribute,
instead of adding more documentation, would be to help us mantain the one we already have,
so i suggest going through the reference and examples, making sure that they don't have bugs,
and that they are written in a clear way :)

[2020-05-07 04:15] montoyamoraga commented on #4520
hi @hcanndesign thank you for contributing!
as @akshay-99 mentioned, you need more arguments on the saveFrames() function
so please refer to the reference of saveFrames() https://p5js.org/reference/#/p5/saveFrames

maybe you were looking at the Processing reference, where the function is called saveFrame()
without the "s" at the end, and where they explain how to save several images with "####" :)

[2020-05-07 04:15] #4520 closed

[2020-05-07 15:48] limzykenneth commented on #4510
The source map should either be included along with the file that requires it or it should not be required from the file itself if it isn't distributed along with it. p5.js itself doesn't generates source maps so you may need to raise this question in the [p5.sound](https://github.com/processing/p5.js-sound) libray itself.

[2020-05-07 15:59] limzykenneth commented on #4521
If the second set of coordinates have magnitudes larger than the first set, it results in negative width and height value being passed to the native canvas `ellipse()` function, which doesn't accept negative values for those.

A more complicated `modeAdjust()` function may need to be implemented [here](https://github.com/processing/p5.js/blob/1.0.0/src/core/helpers.js#L11).

[2020-05-07 16:33] svendahlstrand commented on #4510
Thanks, @limzykenneth, that makes sense. As I understand it, the p5.sound add-on is updated regularly through pull requests from that project. So future pull requests from them should either include the source map or stop requiring it from `p5.sound.min.js` altogether.

Maybe we should decide which alternative we prefer first and then open an issue with the p5.sound project, asking if they be will

[2020-05-07 16:36] limzykenneth commented on #4510
I'd prefer not having the source maps but the decision is up to p5.sound's maintainers and I'm ok with including the source maps if that's what they prefer.

[2020-05-07 16:56] stalgiag commented on #4515
I can reproduce.

Thank you for the well-written issue @stc !

[2020-05-07 17:48] limzykenneth commented on #3770
@stalgiag Follow up to your follow up, I recently had to get around this problem myself and what I ended up doing is to do self-signed certificate on `my-computers-name.local` host.

ParcelJS' server can generate self-signed certificate on the fly as well so that may work in most cases, but I'm using socket.io at the same time and if the socket connection is not served over SSL as well it won't co

[2020-05-07 17:54] stalgiag commented on #3770
Ah yes that would be helpful. I had to figure out something for p5.xr stuff so I have been using http-server with an openssl certificate as outlined in the answer to [this StackOverflow question](https://stackoverflow.com/questions/35127383/npm-http-server-with-ssl). But yeah I can help with testing your tutorial on Windows/Android

[2020-05-07 18:13] stalgiag commented on #4515
Okay this is due to the change ~made by me~ for [this issue](https://github.com/processing/p5.js/issues/4161).

Essentially, [phong.frag](https://github.com/processing/p5.js/blob/master/src/webgl/shaders/phong.frag) is the default fragment shader for textures now instead of `light_texture.frag` and it does not have a tint uniform.

As a quick fix you can add:
[code]
to your `setup()`.

To fix in t

[2020-05-07 20:25] TheWizardBear opened #4523 "Suggestion: shuffle() should be affected by randomSeed()"
**Most appropriate sub-area of p5.js:** utilities (also math, random)

#### Feature enhancement details:

At the moment, shuffle() uses Math.random(), so changing the seed has no effect on array shuffling. It would be useful if shuffle was affected too, so that both random functions can be determined by a single seed.

[2020-05-08 04:12] manstie commented on #4521
You can pass something like `ellipse(50, 50, 10, 10);` and it will draw correctly, it is just when it passes into the negative bounds of the canvas.

[2020-05-08 09:08] limzykenneth commented on #4521
It isn't really reliant on it being out of the canvas, if the second set of coordinates are negative and their magnitude (absolute value) is larger than the first set of coordinates, they will not draw. The origin coordinate of the canvas can be translated so that the negative coordinate is in the canvas and the problem will still be there.

[2020-05-08 13:43] limzykenneth commented on #3770
I've forked http-server and added the ability to auto generate self-signed certificate with code from Parcel: https://github.com/limzykenneth/http-server

The folks at http-server doesn't seem keen on merging this kind of functionality in: https://github.com/http-party/http-server/pull/562 https://github.com/http-party/http-server/pull/562 so I'm thinking what would a reasonable next step be. I wa

[2020-05-08 18:03] limzykenneth commented on #3770
@stalgiag I'm breaking up the tutorial into two parts, first part just deals with a simple frontend only server which doesn't require the user to manually create certificates: https://medium.com/limzykenneth/setting-up-local-development-server-with-self-signed-ssl-certificate-for-f095ed510dab

For part two, which I'm still writing, will include a backend server and will require manual certificate

[2020-05-08 19:15] stalgiag commented on #3770
@limzykenneth nice! I just ran through the tutorial with Windows 10 & Android 10 with no problems. Obviously I didn't need to do the mouse click permission request stuff but your sketch works either way. Your fork of http-server works nicely.

[2020-05-09 06:34] shaharyar-shamshi opened #4525 "Development Guide on wiki page not redirecting to correct page"
Hi everyone
while exploring the wiki I clicked on Development guide link it redirect my to https://github.com/processing/p5.js/tree/master/developer_docs which does not exist instead we should be redirected to the https://github.com/processing/p5.js/tree/master/contributor_docs so I am opening the PR with correct link

[2020-05-09 11:25] limzykenneth commented on #4525
Fixed. Thanks @shaharyar-shamshi

[2020-05-09 11:25] #4525 closed

[2020-05-10 12:55] violetcraze commented on #4482
Looks to maybe related to depth test.

If you put:
[code]
in setup then it solves this particular problem.

However depth test is there for a reason so don't know if it's a universal solution. Hope it helps find where the problem is coming from.

[2020-05-10 16:02] Aierie opened #4530 "WEBGL TRIANGLE_STRIP not rendering correctly."
#4439 ## Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome, Firefox
- Operating System: MacOS Catalina
- Steps to reproduce this:
With t

[2020-05-10 19:01] montoyamoraga commented on #4408
i updated the list to reflect that "preparing_a_pull_request.md " is done, yay :)
thank you @mojoseun for your PR #4528 !

[2020-05-10 20:26] ffd8 commented on #4511
@HiImDaniel-type while I agree it would be great to have built-in support for variable fonts within the canvas – what you described, sounds like the built in [`textToPoints()`](https://p5js.org/reference/#/p5.Font/textToPoints) function can do just that – adding generative/motion elements to type based on their structures (allows you to do far more than variable type can). Once you want to save fo

[2020-05-11 07:53] MAKIO135 opened #4531 "noFill() not working with vertices in WEBGL"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome v81.0.4044.138
- Operating System: MacOSX
- Steps to reproduce this:
[code]
![tél

[2020-05-11 11:14] akshay-99 commented on #4531
Hi @MAKIO135 . I think this issue is similar to #4350. If so, then this has been fixed now and the fix should be available in the next release.

[2020-05-11 11:38] matvs commented on #4531
Hi @MAKIO135
Apart from @akshay-99 comment.
This issue is already not reproducible for me and I have the same setup:
p5.js version: 1.0.0
Web browser and version: Chrome v81.0.4044.138
Operating System: MacOSX.

Can you think of any other prerequisites, that are required in order to reproduce this bug?

[2020-05-11 11:42] MAKIO135 commented on #4531
Ho, that's great ! Sorry for the repost 🙏
And thank you for this quick answers. Looking forward to the next release 😁

Le lun. 11 mai 2020 à 13:14, Akshay Padte <notifications@github.com> a
écrit :

[2020-05-11 11:42] matvs commented on #4530
I would like to start working on this issue.

[2020-05-11 11:47] MAKIO135 commented on #4531
@matvs tried right now on my Android Phone with latest version of brave and get the same result
![Screenshot_20200511-134623_Brave](https://user-images.githubusercontent.com/1162231/81558450-fb0fa600-938d-11ea-9b1c-ad14426f12e6.jpg)

[2020-05-11 11:49] #4531 closed

[2020-05-11 12:04] kotobuki opened #4532 "Using a variable or constant named URL in p5.js v1.0.0 causes p5.sound.js to crash."
Hi,

It seems that using a variable or constant named `URL` in p5.js v1.0.0 causes p5.sound.js to crash. I put an example to reproduce as follows.

https://editor.p5js.org/kotobuki/sketches/piOPquY2P

    at p5.sound.min.js:2
    at Array.map (<anonymous>)
    at p5.<anonymous> (p5.sound.min.js:2)
    at p5.<anonymous> (p5.js:63250)
    at Array.forEach (<anonymous>)
    at new p5 (p5.js:63248)

[2020-05-11 12:07] Aierie commented on #4530
Hey @matvs , I've found the root cause and am submitting a PR soon!

[2020-05-11 12:52] ffd8 opened #4535 "Capture starts with wrong dimensions + get() on demand pauses it"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 81.0.4044.129
- Operating System: MacOS 10.13.6
- Steps to reproduce this:

Two i

[2020-05-11 12:52] matvs commented on #4530
Hi @Aierie
I've just seen your comment, I should probably have waited for confirmation before starting working on this issue. My PR can be then rejected.

[2020-05-11 13:06] matvs commented on #4515
I would gladly start working on this issue :)

[2020-05-11 13:27] Aierie commented on #4530
No worries @matvs ! Just some coincidental timing. You can also close the PR yourself, would save the volunteers some work.

[2020-05-11 13:44] 03l54rd1n3 opened #4536 "textAlign with multiline text incorrect"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 81.0.4044.122
- Operating System: Windows 10
- Steps to reproduce this:

[code]

[2020-05-11 14:01] matvs commented on #4515
Hi @stalgiag

Should any other shader support `tint`?
Maybe [point.frag](https://github.com/processing/p5.js/blob/master/src/webgl/shaders/point.frag)?

[2020-05-11 14:49] limzykenneth commented on #4532
`URL` is a browser default object that is attached to the `window` object. It should not be used as your own variable name. Variable name is case sensitive so you can use `url` instead.

[2020-05-11 15:04] stalgiag commented on #4515
@matvs great! Sure, point.frag and vertexColor.frag should both probably have it as well.

[2020-05-11 17:22] matvs commented on #4515
@stalgiag since `uTint` makes sense only for texture (It is actually arguable*) should then texture support be added to point and vertexColor.frag?

*  In general one can set via shader any colour directly, no need fot tint then, but I guess, that in some scenarios tint could be helpful.

[2020-05-11 18:38] stalgiag commented on #4515
@matvs good point! It is kind of redundant. I briefly thought that it would be nice to apply an 'all-over tint' to vertex colored immediate drawing, but this behavior doesn't exist in Processing and I don't have a strong argument for it. I'll review and accept your PR as is.

[2020-05-11 18:41] #4530 closed

[2020-05-11 18:44] #4515 closed

[2020-05-11 18:45] #4463 closed

[2020-05-11 21:05] montoyamoraga commented on #4532
@kotobuki thank you for reporting this,
please follow @limzykenneth's advice :)

[2020-05-11 21:05] #4532 closed

[2020-05-11 21:40] kotobuki commented on #4532
@limzykenneth @montoyamoraga
Thank you very much, I understood! I found this issue as a process of making an example of integrating [the code snippet of Teachable Machine Pose Model](https://github.com/googlecreativelab/teachablemachine-community/blob/master/snippets/markdown/pose/tensorflowjs/javascript.md) and p5.js. I'll report this issue to Teachable Machine's repository.

[2020-05-11 21:46] montoyamoraga commented on #4532
thank you @kotobuki :) !

[2020-05-11 23:06] ffd8 commented on #4241
@maayanalbert It would be really useful... was just searching the web and now issues for just this. Since you closed it the same day, did you find the answer? I thought there was something like `isLooping()` or `isDrawing()`, but I can't find anything now....

[2020-05-11 23:47] hellonearthis commented on #4241
You could set a drawing_flag to true at the start of the draw function loop and the last instruction in the draw function loop would set drawing_flag to false.

[2020-05-12 10:01] limzykenneth commented on #4241
You might be interested in looking at #3242

[2020-05-12 12:19] ffd8 opened #4541 "Contributor Dev Process - automatically update changes to references"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Contributor Docs)

#### Feature enhancement details:

Not sure if this is a feature enhancement or a bug??

Within  the contributor docs, [Development Process](https://github.com/processing

[2020-05-12 12:22] matvs commented on #4536
Is anyone working on this bug? If not, then I'd like to claim this issue.

[2020-05-12 13:13] ffd8 commented on #4541
Aha, just realized from package.json that `npm run docs:dev` seems to do this (just have to refresh the reference page after any changes once compiled). Perhaps the contributor docs could have a short blurb about each of the optional CLI commands (atleast those most useful to contributing workflow)? Since there are multiple options for the docs.... `docs` and `docs:dev`

[2020-05-12 14:10] ffd8 commented on #4241
While working on a p5 library, realized I needed a method to double check if the sketch was in a looping state or not, so this search began. This was the first issue I found, followed by the one above as mentioned by @limzykenneth which also referenced the same intrest in knowing the `loop()` state in #3486 .

Tested [one technique](https://editor.p5js.org/ffd8/sketches/R3PN3QHrK) based upon sugge

[2020-05-12 14:42] Ozencb opened #4543 "Canvas stops rendering/becomes invisible on dynamic bg color change"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v1.0.0
- Web browser and version: Chromium Edge and Firefox latest
- Operating System: Windows 10

I have a sketch render

[2020-05-12 15:29] dhowe commented on #4536
See also https://github.com/processing/p5.js/issues/4449

[2020-05-12 15:49] Ozencb commented on #4543
I feel like an idiot... The `main` section has a higher z-index than my canvas area so when I add a background colour to it, it blocks canvas entirely which is expected... This has nothing to do with P5. Closing the issue now

[2020-05-12 15:49] #4543 closed

[2020-05-12 23:42] JiXiaoYao opened #4544 "I hope to change the drawing of 3D WebGL into an asynchronous call. The function fuse coordinates and texture array, the most important is asynchronous call."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### New feature details:

Because the drawing time of P5.JS in 3DWebGL is too long, when I draw about 1600 physical blocks, the fps will drop greatly, because I can o

[2020-05-13 10:20] neefrehman opened #4546 "p5 npm module is not minified"
Firstly I know that this issue has come up before, and is duplicative of #2920. However that issue was closed two years ago despite the problem persisting.

Currently installing the `p5` module via npm to be used with a bundler causes the un-minified (>1.5MB) version of `p5` to be used, instead of the much smaller minified version. More details are in this comment on the initial issue by @Streemo:

[2020-05-13 11:32] linnhallonqvist commented on #4368
I would like to try and help with this issue! I will start updating the Typography module.

[2020-05-13 12:35] LukasOpp opened #4547 "Square expects height and width separately when adding fourth parameter for rounded corners"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v0.10.2
- Web browser and version: Firefox 76.0.1
- Operating System: Mac OSX 10.13.6
- Steps to reproduce this:
You can

[2020-05-13 14:05] LukasOpp commented on #4547
I just made a build of the current master and saw that square is working fine there

[2020-05-13 14:43] limzykenneth commented on #4547
Yes this has been fixed in lastest master and will be available in the next release.

[2020-05-13 14:43] #4547 closed

[2020-05-14 11:59] doubledherin opened #4549 "Page refresh appears to disable audio context `resume()`"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible): Sound

#### Details about the bug:

- p5.js version: /*! p5.js v1.0.0 February 29, 2020 */ (minified)
- Web browser and version: Google Chrome | 81.0.4044.138
- Operat

[2020-05-14 19:03] robo961 opened #4550 "blank reference page"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other:  cause i have no idea what category it fits in

#### New feature details:
hey
i'm new to programming in p5js and programming in general and i was going to use the wait function to fix a gl

[2020-05-14 19:30] #4550 closed

[2020-05-14 19:31] robo961 commented on #4550
nvm i figured it out

[2020-05-14 19:50] stalgiag commented on #4544
Hi @JiXiaoYao check out the accepted answer for [this StackOverflow question.](https://stackoverflow.com/questions/51710067/webgl-async-operations)

Additionally, I would just say that the goal of p5's WebGL mode is to offer an easy intro to WebGL for the web for people transitioning from p5's 2D mode or Processing's 3D mode. If you want to create very complex scenes you should try writing vanilla

[2020-05-14 19:50] #4544 closed

[2020-05-14 20:36] kyle1james opened #4551 "@all-contributors add @kyle1james for p5js.sound"
🎉 @all-contributors add @kyle1james for p5js.sound with GSoC 🎉

[2020-05-14 20:40] oruburos commented on #2309
@all-contributors please add @oruburos for p5 Web Editor Spanish Translation

[2020-05-14 21:14] montoyamoraga commented on #4551
hi @kyle1james i saw your PRs at the p5.js sound repo, thanks!
the all-contributors categories are here: https://github.com/processing/p5.js/issues/2309
i am adding you as code if that's ok with you

@all-contributors please add @kyle1james for code

[2020-05-14 21:16] montoyamoraga commented on #4551
solved by #4553

[2020-05-14 21:16] #4551 closed

[2020-05-15 00:33] mkmori commented on #3447
Hi: I ran into something maybe related, where the cryptic error results from missing units when setting width and height via style('attribute', value) syntax:
[code]
Not sure this is something to be fixed or not, but some assignments seem to default to 'px' when passed a unit-less value. I also noticed, style() assignment seems to work for width and height, whereas attribute() assignment does not.

[2020-05-15 12:23] Guillaume57 opened #4554 "Small bug with CSS in online editor"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

Hello,

There is a small problem in the online editor, when editing a CSS and using custom variables, for example:
[code]
It's working, bu

[2020-05-15 14:59] nebbles commented on #3447
@mkmori You are passing a value of type number to the style() method, hence why you are getting a error. Your error is saying that it is trying to use the .replace() method (which only exists for variables of type string).

Change line to
[code]

This should probably be fixed though in the source though to always attempt converting the value to string (to protect the newbies a little better!)

[2020-05-15 18:31] valentinptc opened #4555 "noErase() not working in WEBGL"
When calling erase() in WEBGL noErase() does not jump back to the previous mode.
I believe the reason is that BLEND mode is default but has no case defined in _applyBlendMode.

[code]

[2020-05-15 22:03] limzykenneth opened #4556 "Style width/height etc throws error when passed number value as argument"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:  1.0.0
- Web browser and version:  Firefox 76.0.1 (presumably all other supported browsers as well)
- Operating System:

[2020-05-15 22:04] limzykenneth commented on #3447
@mkmori @nebbles Thanks for reporting this. I've opened up a new issue to document this #4556

[2020-05-15 22:16] limzykenneth commented on #4549
@doubledherin I'm not sure what development server you are using so I can't tell why it is triggering the audio to start playing but the autoplay policy of chrome is such that `mouseMoved` is not a valid user gesture that can start the audio context which is why after refreshing the sound does not play on `mouseMoved`. It needs to be something like `mouseClicked()`.

[2020-05-15 22:32] limzykenneth commented on #4546
@neefrehman Does importing the p5.min.js file reduces the output file size? Because [this comment](https://github.com/processing/p5.js/issues/2920#issuecomment-496031829) from #2920 indicates that it still generates a huge file.

[2020-05-15 22:36] limzykenneth commented on #4554
Hi @Guillaume57, this is the repository for the p5.js library. You should post this issue to the web editor [repository](https://github.com/processing/p5.js-web-editor/issues). Thanks!

[2020-05-15 22:39] limzykenneth commented on #4541
I believe some of the commands are outdated, for example there probably shouldn't be two tasks for documentation now (`docs` and `docs:dev`) as it was previously used for local previewing but since the preview HTML templates are no longer stored and built in this repo there shouldn't be a need to seperate them into two tasks.

[2020-05-16 05:58] Guillaume57 commented on #4554
Sorry

[2020-05-16 05:58] #4554 closed

[2020-05-16 15:36] neefrehman commented on #4546
@limzykenneth for me that solution works locally (using Webpack and it's `splitChunks` plugin), and I get a smaller output file. I'm sure there may be a difference between bundler setups, though.

[2020-05-16 16:40] mkmori commented on #4556
Thanks, @limzykenneth ! And @nebbles ! I just dug in to see, css does not seem to default to "px" if passed a unitless, numerical value (at least in Chrome...?) And it seems p5.js does not create the attribute with invalid argument...or does something else strip it out...? (So much n00b! :)

Would casting/re-casting the argument `toString()` make sense [there](https://github.com/processing/p5.js/b

[2020-05-16 18:36] limzykenneth commented on #4556
You're right, CSS does not accept unitless numerical value. In this case I would revert and say this isn't a bug as the aim here is to let `style` be a thin wrapper around CSS and not do any additional processing to the value that is passed to the underlying API.

This would apply to `style` function only as it is designed to reflect CSS values, other functions however like `position` is not reall

[2020-05-16 19:27] doubledherin commented on #4549
Hey @limzykenneth ! I just realized that earlier today and went to close this issue but couldn't find it. I'm using a mouse click now and all is hunky dory. Thanks!

[2020-05-16 19:27] #4549 closed

[2020-05-16 23:19] mkmori commented on #4556
So tweak `style()` to just pass the css along without crashing, right? And let css do its thing? That seems reasonable to me! :)

Would inserting `toString()` before `replace()` do the trick? I read up and down the dom.js code, but I don't quite follow after the regex strips out all non-numerical characters...not sure what happens to "px" or "%" or whatever unit may be specified in the value strin

[2020-05-16 23:40] limzykenneth commented on #4556
The code after the replace is meant to update the values returned by calling `width()` `height()` etc on the element, although if just a number is passed in in this case, the code probably shouldn't run to update those values as well since the change won't be reflected in CSS. This update should probably be rewritten to get pixel value directly from the Web API instead of relying on the provided a

[2020-05-17 00:19] hellonearthis opened #4557 "HSB needs more documentation as well as other constants"
Hi there!

There is not documentation for the HSB https://p5js.org/reference/#/p5/HSB
https://github.com/processing/p5.js/blob/1.0.0/src/core/constants.js#L344

 [x] Core/Environment/Rendering

#### Feature enhancement details:
There are not docs on this,  even a link back to where there are HSB docs would help.
I also notice that the constants don't have much docs at all.

[2020-05-17 04:37] akshay-99 opened #4558 "FES: validateParameters speed + repetitive logging"
#### Most appropriate sub-area of p5.js?
- [x] Other (Friendly errors)

#### Feature enhancement details:
I am working on the FES as part of my GSoC project and I will be starting by addressing the known issues in `validateParameters`.

validateParameters is responsible for a slowdown as it runs every time a p5 function is called. I had first thought that this must largely be due to `lookupParamDo

[2020-05-17 16:23] stalgiag commented on #4558
Thanks for the well-written issue @akshay-99 !

And yes, let's handle the trailing undefined arguments in another issue. You can address both in a single PR if it is easier but let's keep them as separate issues in case someone has an opinion on one but not another.

[2020-05-17 18:13] stalgiag commented on #4555
Thanks for catching this @valentinptc !

This is indeed a bug. [This sketch shows a workaround ](https://editor.p5js.org/stalgiag/sketches/HUFUmC7X1)for your immediate needs.

I submitted a PR that solves the issue quickly but in a non-ideal way. I explain the problem in more detail in that PR.

[2020-05-17 22:40] MAKIO135 commented on #377
Is this issue still not doable ? Would love to see these features on p5js

[2020-05-18 08:06] manstie commented on #4521
Here is a working example of the issue, when you click in the canvas and drag beyond the top left corner:
https://editor.p5js.org/
`function setup() {
  createCanvas(400, 400);
}

function draw() {
  background(220);
  stroke(0);
  fill(255);
  ellipseMode(CORNERS);
  ellipse(x1, y1, x2, y2);
}

let x1 = 220;
let y1 = 220;
let x2 = 180;
let y2 = 180;

function mousePressed()
{
    if (mouseButton

[2020-05-18 14:37] godOfdataa opened #4560 "P5Me"
It is just for fun

[2020-05-18 17:59] #4560 closed

[2020-05-19 04:43] #4555 closed

[2020-05-19 10:07] 03l54rd1n3 commented on #4536
and PRs #4475, #4422. Didn't check whether they resolve this, tbh.

[2020-05-19 15:46] stalgiag opened #4562 "Need better blend state management in RendererGL"
There is problematic state management of `_cachedBlendMode` and `curBlendMode` in RendererGL. This was introduced by an optimization to `RendererGL._applyBlendMode` that tries to avoid unnecessary GL calls by caching the last applied blend mode. The problem is that `erase()` and `noErase()` also change `_cachedBlendMode`.

`_cachedBlendMode` is being used here to do two conceptually different thin

[2020-05-20 15:24] valentinptc opened #4564 "Supporting existing canvas elements for createGraphic"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Allow the use of existing canvas elements for createGraphic. This makes it much easier to integrate p5js with existing content.

###

[2020-05-20 18:32] valentinptc commented on #4564
@limzykenneth why did you closed this pull request without comments? Is it not a good idea?

[2020-05-20 18:34] limzykenneth commented on #4564
The implementation should be worked out in the issue first before a PR should be filed. The PR is closed so that we can focus discussions in the issue instead of splitting it between the issue and the PR.

[2020-05-21 01:23] DavidMatuszek opened #4565 "Not enough semicolons"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version:
- Operating System:
- Steps to reproduce this:

In JavaScript, semicolons are supposed to be o

[2020-05-21 13:40] JasonD43 opened #4566 "text() does not properly account for the height of a wrapped block of text"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: All
- Operating System: All
- Steps to reproduce this:
[code]

The text here is not prop

[2020-05-21 20:59] limzykenneth commented on #4565
Hi @DavidMatuszek, I'm not sure I understand the issue. p5.js does not pose any restriction on the user code style, meaning whether to use semicolons or not is not enforced by p5.js.

For the source code of the library itself, we do enforce having semicolons but those are checked by automatic linters and they will stop any code with missing semicolons from passing the tests, but that check will fa

[2020-05-22 01:35] Ma-XX-oN opened #4567 "Can notes be added?"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Would be nice to have some form of note/warning/important tagging.  E.g.

@note When you do this, that could result in that.
@warning Doing t

[2020-05-22 09:33] limzykenneth commented on #4567
@Ma-XX-oN I'm guessing you are refering to he web editor, in that case you should file this issue over at the web editor [repo](https://github.com/processing/p5.js-web-editor/issues). Thanks!

[2020-05-22 13:55] Ma-XX-oN commented on #4567
Web editor?  Not sure what you mean by that.  I mean in the documentation.  Sorry, I'm not sure what part this is supposed to be in.  Parsing the documentaion?

[2020-05-22 13:56] #4567 closed

[2020-05-23 03:33] #4449 closed

[2020-05-23 03:43] #4419 closed

[2020-05-23 03:50] #4566 closed

[2020-05-23 03:50] #4558 closed

[2020-05-23 03:53] lmccart commented on #4510
thanks @svendahlstrand I'm going to close this issue because it's being tracked over in the p5.sound repo

[2020-05-23 03:53] #4510 closed

[2020-05-23 03:55] lmccart commented on #4536
this has been fixed with https://github.com/processing/p5.js/commit/ed7ca80b683899c9e771ece7ce0a45155502f576

[2020-05-23 03:55] #4536 closed

[2020-05-23 04:00] lmccart commented on #4448
I'm going to close this because we're not able to reproduce. If you can provide more details including a code snippet, we can reopen this. Thanks!

[2020-05-23 04:00] #4448 closed

[2020-05-23 04:17] #4523 closed

[2020-05-23 04:20] lmccart commented on #4535
Hm I'm not able to reproduce either of these, the sketch works correctly for me using the same p version, in chrome on mac. Can others reproduce?

[2020-05-23 10:57] ffd8 commented on #4535
Whoops - should have saved it with two lines commented out to show the issue.
Try loading [this example](https://editor.p5js.org/ffd8/sketches/35sF0k8PN) again – on my MacOS + Chrome, the capture is surprisingly loaded from the lower-right, upward.. rather than expected center-out (with `imageMode(CENTER)` active). After pressing the mouse once, the `get()` ends up fixing the dimensions issue..

[2020-05-23 15:54] ArieBeresteanu opened #4569 "Error message I can't understand"
I loaded p5js and mappa and got the following error message in the console:

TypeError: can't access property "appendChild", p is null p5.js:63610:13

[2020-05-23 17:57] lmccart commented on #4569
could you please post the code snippet you are working with?

[2020-05-24 04:42] AbhiGulati opened #4570 "Broken links in wiki"
Some of the links at [the page on optimizing performance](https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance) appear to be broken, e.g. there's a link to https://github.com/processing/p5.js/blob/master/developer_docs/friendly_error_system.md but it looks like the correct page is at https://github.com/processing/p5.js/blob/master/contributor_docs/friendly_error_system.md

[2020-05-24 10:53] akshay-99 opened #4571 "FES: validateParameters does not detect trailing undefined arguments"
#### Most appropriate sub-area of p5.js?

- [x] Other (Friendly Errors)

As mentioned in #4558

Consider the sketch
[code]
As expected we get a validation message
[code]

But for the following, no validation message is generated
[code]

[2020-05-24 11:50] akshay-99 commented on #4571
Fixing this would also involve changing the code inside `p5.proptotype.save` [here](https://github.com/processing/p5.js/blob/master/src/io/files.js#L1488) .
The problem is that when we call `save()` to save a JSON like this `save(myJSON, 'my.json')`, a call is made to `saveJSON` with the arguments `(args[0], args[1], args[2])`. However, args[2] is optional and is undefined in this case. If we fix

[2020-05-24 14:38] montoyamoraga commented on #4570
thank you for noticing it! @AbhiGulati i just fixed it :)

[2020-05-24 14:38] montoyamoraga commented on #4570
@all-contributors please add @AbhiGulati for doc

[2020-05-24 14:39] #4570 closed

[2020-05-24 14:42] montoyamoraga commented on #4502
@all-contributors please add @jtpio for doc

[2020-05-24 23:55] lm-n commented on #4502
@all-contributors please add @lm-n or accessibility

[2020-05-24 23:55] limzykenneth commented on #4571
I may be wrong but isn't parameter validation compared against the documentation? In that it doesn't really matter what the source code itself checks for `parameterValidation` just checks the number of arguments and type of arguments against the documentation.

Parameter validation did not throw a warning in the case of `color()` is because with 2 parameters that are numbers, they are still valid

[2020-05-24 23:59] limzykenneth commented on #4546
I guess for the the main thing is I don't use p5.js over NPM and so I can't say for sure if changing the `main` file to p5.min.js will break anything or not (NPM installs and CDN etc).

[2020-05-25 03:11] akshay-99 commented on #4571
@limzykenneth yes it is checked against the documentation. But the number of arguments passed by the user is a huge factor in scoring. `color(gray, [alpha])` shouldn't be a valid format to check against in this case because `arguments.length` still is 3 in this case, only the 3rd argument is `undefined`. I believe if the user has passed 3 arguments, it is more likely that the user intended to go f

[2020-05-25 07:03] yukienomiya opened #4575 "@all-contributors add @yukienomiya for translation 🌍 🙃"

[2020-05-25 08:05] montoyamoraga commented on #4575
@all-contributors please add @yukienomiya for translation

[2020-05-25 08:05] #4575 closed

[2020-05-25 09:33] akshay-99 commented on #4571
As another example consider
[code]

Currently since we are ignoring the trailing undefined argument, the FES gives
[code]
Ideally it should be
[code]

[2020-05-25 09:34] limzykenneth commented on #4571
So removing this is what affects `save()` and `selectAll()`'s tests?

The tail parameter culling is added in #2780 which is solving #2740. I think it is mainly to deal with  edge cases, in particular `rect(0,0,0,0,null,0,0,0); // null, non-trailing, optional parameter`.

I'm not nearly familiar enough with FES to be able to suggest anything here and current also don't have the capacity to look int

[2020-05-25 11:50] akshay-99 commented on #4571
Yes. That seems to be the case.

That doesn't seem so as I have tried these edge cases after removing the line [here](https://github.com/processing/p5.js/blob/master/src/core/error_helpers.js#L830) and the FES seems to work for these cases correctly even after the change. Moreover `rect(0,0,0,0,null,0,0,0);` wouldn't be affected by the removal as there are no trailing undefined args here.
And all

[2020-05-25 18:30] stalgiag commented on #4571
Thanks for looking into the history of this @limzykenneth .

My quick take is that the trailing argument culling that @akshay-99 [points to was](https://github.com/processing/p5.js/blame/1e077add94d8f7c93260e732d4267299fa6edee6/src/core/error_helpers.js#L830) introduced to handle the specific edge cases listed in #2740 but it solves the problem with too broad of an impact. If the edge cases can st

[2020-05-25 21:40] lmccart commented on #4480
we are not supporting the distribution of unreleased versions of p5.js due to the overhead required and the possibility it could cause confusion for beginner users if they end up using one of these versions. the best way to get an unreleased version is to clone the repository and build your own copy.

[2020-05-25 21:40] #4480 closed

[2020-05-26 09:10] akshay-99 commented on #4571
So as an update on this, it seems I missed that there was one more test failure in loadModel documentation, example 1 [here](https://p5js.org/reference/#/p5/loadModel).
`ValidationError: loadStrings() was expecting Function for parameter #2 (zero-based index), received an empty variable instead. `
We are not passing any callbacks in the example and that's okay because those are optional parameters

[2020-05-26 14:18] watsonbiard opened #4578 "how can i re-trigger draw function in case of value change from HTML"
i was creating a sketch where i'll take user input by range slider and re-trigger the draw function with the changed  value. but i seem like value changes  but i could not trigger the draw function by  the value from user.

        var slider = document.getElementById("size");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        let size = (slider.

[2020-05-26 14:25] #4578 closed

[2020-05-26 14:52] hellonearthis commented on #4578
Use noLoop() and add a changed call back to the slider callback call redraw. https://p5js.org/reference/#/p5/redraw
https://p5js.org/reference/#/p5/changed

[2020-05-27 12:32] akshay-99 opened #4579 "selectAll 2nd param specification misses types"
#### Most appropriate sub-area of p5.js?
- [x] DOM
- [x] Other (Reference and Friendly Errors)

In `selectAll()`, according to the reference [here](https://p5js.org/reference/#/p5/selectAll), the 2nd param can be of types String, p5.Element or HTMLElement. However, in the syntax of specifying this, only String is mentioned [here](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L97)

[2020-05-27 15:59] stalgiag commented on #4571
Do you mean some way of automatically generating permutations of arguments?

Yes. "Permutations" is the word I was looking for :-)

[2020-05-27 17:35] fenilgandhi opened #4581 "p5.Element.child throws an error when child is not found"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
This is less of a bug and more of an unhandled case in `p5.Element.child`.
It accepts an `id` of a childElement as a parameter, finds the e

[2020-05-27 19:20] neefrehman commented on #4546
I also don't know the full ramifications, but to test things I've just tried [forking the repo](https://github.com/neefrehman/p5.js), making the change to `package.json` and creating another package. You can [see the package here](https://www.npmjs.com/package/p5-min-test ) and the [code-change here](https://github.com/neefrehman/p5.js/commit/b8e023ebc6905f0bccf7b83bac16f9e21c1295f2)

I've install

[2020-05-28 04:28] SIRHAMY commented on #4479
Running into the same issue as @vanyamil  with Typescript and Webpack

import p5 from "p5"
import "p5/lib/addons/p5.sound"

[2020-05-28 06:26] dhowe commented on #4243
Perhaps defining textLeading and textLineHeight (line-height) would help to determine if we need both. My (cursory) understanding is that they are similar except that with leading, space is added above the text (this would start on the 2nd line of a paragraph, see 1st img below), while with line-height it is split above and below.

The problem with textLineHeight for our API is that we specify the

[2020-05-28 15:23] lmccart commented on #4581
I think it should just return null, similar to calling `querySelector()` when a node is not found.

[2020-05-28 15:43] akshay-99 opened #4583 "FES: Disable parameter validation for internal calls"
#### Most appropriate sub-area of p5.js?

- [x] Other (Friendly Errors)

#### Feature enhancement details:
In #4571, I [mentioned](https://github.com/processing/p5.js/issues/4571#issuecomment-633219382) a number of problems that must also be addressed before addressing the main issue.  In essence, I was talking about p5 functions that pass forward arguments which they didn't even receive in the fi

[2020-05-28 15:53] akshay-99 commented on #4583
My idea for this to see the stack trace [here](https://github.com/processing/p5.js/blob/master/src/core/error_helpers.js#L768) and get the functions in it.
For a p5 function called from the user's sketch we would see a stack
|                                  |
| -----------------------|
| _friendlyParamError  |
| validateParameters   |
| some p5 functon      |
| some non p5 function |

We can dis

[2020-05-28 16:53] limzykenneth opened #4584 "Using querySelector and querySelectorAll for select and selectAll"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
A couple issues pop up when I'm trying to use `select()` and `selectAll()`. Both of them are related to the CSS selection pattern of

[2020-05-28 17:26] ismailnamdar opened #4585 "Support for explicitly setting file type of .obj or .stl files"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Currently the file type for the model is determined by the file extension of the path given to `loadModel()`. This is a limitation i

[2020-05-28 23:26] #4579 closed

[2020-05-28 23:27] stalgiag commented on #4585
I think this is a good idea. Any interest in working on it?

[2020-05-28 23:30] stalgiag commented on #4583
We spoke about this before but just to restate publicly, I think this is a great idea.

Perhaps you should break up `error_helpers.js` into multiple files before working on this since it might add a significant amount of code?

[2020-05-28 23:59] ismailnamdar commented on #4585
Yes! I opened a pull request.

[2020-05-29 05:22] watsonbiard opened #4587 "How can i save a small canvas with high resolution 8k image file"
i have a canvas of 500x500 .and i want to save the canvas as a super high resolution image. but i don't know how  to do it. i don't wanna to increase the canvas size because it become bigger then my screen.

[2020-05-29 07:17] akshay-99 commented on #4583
Yes. I was just wondering if I could bundle up the breaking up of the file and the fix for this issue into one PR or should they go into different ones

[2020-05-29 09:03] ghost opened #4588 "Can there be a version of p5.js that works for Internet Explorer 11 (IE 11)?"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [x] WebGL
- [x] Other (specify if possible)

#### Feature enhancement details:

[2020-05-29 15:04] limzykenneth commented on #4588
@stevenrays p5.js should still be working on IE 11. Is there something specific that is not working on IE 11 that you found?

[2020-05-29 15:05] limzykenneth commented on #4587
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-05-29 15:05] #4587 closed

[2020-05-29 18:54] stalgiag commented on #4583
You can bundle into one PR.

[2020-05-30 08:20] SlowFeather opened #4591 "How to use ‘loadImage’ load base64 Image"
I got some Base64 images from the server. How to display them in p5js
I only found a way to get it directly from the server, **not** from the base64 transcoding
[code]
Please tell me thank you

[2020-05-30 17:08] cedarfall commented on #4557
Hello! Can I work on this? There are not that many good articles or references for HSB. I was thinking of linking to this article: https://learnui.design/blog/the-hsb-color-system-practicioners-primer.html as it clearly explains the concept.

[2020-05-30 17:56] montoyamoraga commented on #4557
hi @cedarfall sounds great, thank you! i am assigning to you this issue, please tag me when you create the pull request :)

[2020-05-30 22:58] JimBrink opened #4593 "Explanation of parameters for curveTangent invalid"
I believe the values of parameters a, b, c, and d are reversed.  a and d are for control points while b and c are for points on the curve.
https://p5js.org/reference/#/p5/curveTangent

[2020-05-31 09:38] #4557 closed

[2020-05-31 21:31] markjoshua12 opened #4596 "Issues with Background Alpha/Transparency in WEBGL"
#### Most appropriate sub-area of p5.js?

- [ x ] WebGL

#### Details about the bug:

Hello! There's an issue we're having on transparency in WEBGL. Using `background()` and `fill()` with transparency doesn't work and produces a lighter color instead of blending properly. We've tried using `blendMode()` and the different `setAttributes()` to no avail.
Is this intended behavior in WEBGL? Or do we h

[2020-06-01 04:15] Creativeguru97 commented on #4596
Hi, I have exactly same problem.

I want apply the fading out effect on point() by using alpha value in stroke().
But even I write like stroke(r, g, b, [some alpha value]), it seems not to work:(.

[2020-06-01 13:52] Qyd0ro opened #4597 "cursor() bug in Reference"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

Sorry if I'm doing this wrong, I'm not entirely sure how to signal this properly.

Just wanted to note that code **line 187** in p5.js\src

[2020-06-01 13:56] ffd8 commented on #4591
@SlowFeather where you'd give it the path of an image, you can feed it a valid base64 string - just have to be sure that it's a complete string:

[code]
You should see a small red dot as the image. Adjust the `data:image/png` as necessary if another filetype, ie jpeg.

[2020-06-01 17:31] akshay-99 commented on #4597
Hi @Qyd0ro, the change in `core/environment.js` at line 187 was done pretty recently ( 27 days ago ) as seen [here](https://github.com/processing/p5.js/blame/master/src/core/environment.js#L187). I don't exactly know how the reference on the main website is updated or how often it is, but I don't think the changes from the code here reflect there immediately.
Thanks for pointing it out though :smi

[2020-06-01 21:35] elladahan opened #4598 "Ellipse with large StrokeWeight not displaying correctly on mobile devices"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) --> Shapes

#### Details about the bug:

- p5.js version: web editor
- Web browser and version: Chrome for iPhone v83.0.4103.88, Safari on iPhone
- Operating System: iO

[2020-06-02 09:55] Qyd0ro commented on #4597
No problem, the Reference's bug form redirected me here so I thought this was the place

[2020-06-02 10:20] dgrcode commented on #4499
+1

The lack of this feature makes p5.js pretty much incompatible with Safari when using private assets. We need the cookie from the client to identify the user's session and their ability to access different assets.

Is there a workaround where we can get the assets with an http request and then use the [HTMLImageElement][1] as the image to be loaded?

Something like this would be great
[code]

I

[2020-06-02 12:10] dgrcode commented on #4499
I've implemented the following workaround, in case someone find it useful

[code]

This creates a local url to a blob and tells p5js to load the resource at that url. That way you can control the fetching and send the cookies that you want

[2020-06-02 19:16] ARNAVVGUPTAA opened #4599 "how to change the value of a slider"
I think you believe the question is weird but I really want to change the slider's value. Doing experiments with Firebase and really need it right now. Thank you in advance!!!

Something like pressing a button and slider's value was 90 and it got to 10!!!

[2020-06-02 19:44] IncreikeSoul commented on #3886
It works for me when i was testing my ibm watson demo since my host from remote gcp, the only question that i've planted will be if my demo only working in http ssl domain and without enable "Insecure origins treated as secure".

[2020-06-02 20:00] u99d88 commented on #3886
Using https will probably solve the issue. Please see insecure sites definition here: https://www.chromium.org/Home/chromium-security/marking-http-as-non-secure

[2020-06-02 20:47] montoyamoraga commented on #2309
@all-contributors please add @isaacdurazo for translation

[2020-06-02 23:48] liampuk commented on #4584
Hi! I'd love to contribute to p5.js and this seems like a good first issue, would it be okay for me to work on this? there seems to be a [performance hit](https://gomakethings.com/javascript-selector-performance/) when using querySelector vs getElementById but I highly doubt it's noticeable in practice.

[2020-06-03 15:35] Siggi005 opened #4601 "Move canvas in DOM"
#### Most appropriate sub-area of p5.js?

- [ ] Core/Environment/Rendering
- [x] Dom
- [ ] Utilities
- [ ] Other (specify if possible)

#### New feature details:

The idea is to provide a function which allows moving the canvas in the DOM. I know that this is an easy to write function, but I think it would be helpful anyway for those who are not able to do it.
Here is a code suggestion:

[code]

[2020-06-03 18:28] akshay-99 commented on #4583
Resolved in #4590. I used the word "Addresses" there. That's why this didn't close automatically. Closing now.

[2020-06-03 18:28] #4583 closed

[2020-06-04 05:32] #4581 closed

[2020-06-04 05:36] lmccart commented on #4597
thanks! i'm going to close this since it has been resolved already. reference will be updated with the next release.

[2020-06-04 05:36] #4597 closed

[2020-06-04 05:38] lmccart commented on #4591
thanks @ffd8! @SlowFeather for more code help, you can check out our forum: https://discourse.processing.org/

[2020-06-04 05:38] #4591 closed

[2020-06-04 05:38] #4565 closed

[2020-06-04 05:39] lmccart commented on #4522
we're not able to reproduce, but please comment if you can provide more information in response to @montoyamoraga and we can reopen this.

[2020-06-04 05:39] #4522 closed

[2020-06-04 05:41] lmccart commented on #4601
I think this is a relatively specific use case, and if someone is at the point of being able to move DOM elements around, they could probably write this code themselves. In general, we've been adopting a "only add new features that increase access" mission, so I'd also question whether this meets that criteria.

[2020-06-04 05:42] lmccart commented on #4584
I think that makes sense. If I remember correctly, last time we discussed this `querySelector` was not yet broadly supported so we didn't use it. But now it is, so this seems appropriate.

[2020-06-04 13:33] feuerball11 commented on #3610
As another performance improvement, for alpha drawing only:
You can use
`drawingContext.globalAlpha = 0.5;`
before drawing the image, and restoring it with
`drawingContext.globalAlpha = 1;`
This allows for performant alpha drawing.

Maybe this could be patched into Processing with a function like
`alpha(a)`
`noAlpha()`
?

[2020-06-04 16:17] micuat commented on #3610
@fcasanellas I made a simple sketch of a real-time version using a shader. But it seems the texture coordinate is screwed (you see wireframe of the plane)

https://editor.p5js.org/micuat/sketches/OMRlanQW1

@stalgiag do you have any idea why this is happening? I guess `gl_FragCoord` does not follow the texture coordinate given by  `plane()`? Do I need to explicitly set texCoord in vertex shader?

[2020-06-04 16:31] micuat commented on #4601
I agree with @lmccart - but maybe it's useful to create a doc for those who want to make p5 extensions, or is there anything like that? It may be helpful to have this kind of functions as DOM utils as a separate project.

Given that - I think the suggested code is not tested yet, right? It has a few problems like `canvas` is not `p5.Element` so doesn't have functions like `parent` in the snippet.

[2020-06-04 16:33] micuat commented on #4598
I copied it to the web editor
https://editor.p5js.org/micuat/sketches/NQ8ddPSR3
(please do so next time so we can save some time!)

[2020-06-04 16:37] b2renger commented on #3610
@micuat

I usually do it like this, as you mentioned I usually do explicitly set the texCoord in vs :

https://editor.p5js.org/b2renger/sketches/Pu9PalyUH

Still it seems something is off with plane() so I used a rect instead and everything seems ok

[2020-06-04 16:44] micuat commented on #4593
thanks for this. I just moved the issue to p5.js-website. closing

[2020-06-04 16:48] micuat commented on #3610
thanks that works perfect. I don't know what the direction now for this thread, but I guess, from p5.js's policy, we won't integrate these hacks into the core. Nevertheless it may be useful to make a documentation about shader based tint (or caching tinted image if static) and point it from the reference.

[2020-06-04 16:54] b2renger commented on #3610
I agree, it could be nice to have small library of shaders to manage things like tint, blends or masks in a simple and efficient way - with comprehensive examples

Would love to participate if it were to happen :) I also have a few things ready to go :
https://b2renger.github.io/p5js-shaders/shader-blends/
https://b2renger.github.io/p5js-shaders/shader-mask/index.html

[2020-06-04 18:19] micuat commented on #4466
not supported at the moment... https://github.com/processing/p5.js/issues/4215#issuecomment-610423335

should we close this or is there any plan to support this? @limzykenneth

[2020-06-04 18:48] micuat commented on #4521
I see. However, interestingly, when I copied the `ellipse` code to a draw function instead of calling ellipse, it works fine
https://editor.p5js.org/micuat/sketches/8YZg3hoWD

[2020-06-04 18:58] micuat commented on #4521
@manstie 's code exactly behaves like x2/y2 are `abs`ed like in this example
https://editor.p5js.org/micuat/sketches/7pIHgznJk

[2020-06-04 19:07] micuat commented on #4521
of course. Because `ellipse` uses `abs` of `w` and `h` regardless of the `ellipseMode`.
https://github.com/processing/p5.js/blob/master/src/core/shape/2d_primitives.js#L297

An elegant way may be to take the negative value condition into account in `modeAdjust`?

[2020-06-04 19:21] limzykenneth commented on #4466
It is currently not supported and any such use is up to the user's discretion. That said, I think it is a nice to have but I'm not sure if the library can support it at all and if there's interest from contributors to put in the time and effort to implement support.

[2020-06-04 19:32] stalgiag commented on #4420
I am closing this due to inactivity and because I can't replicate on my end. Loading times are within a normal range. If you think this issue should still be addressed, just comment here with the answer to the above requests and I will reopen. Thank you!!

[2020-06-04 19:32] #4420 closed

[2020-06-04 19:50] #4585 closed

[2020-06-04 20:55] maartenwijntjes opened #4605 "Editor: full screen sharing stopped working"
It is perhaps not the right time to submit a bug, so my excuses if that is the case.

The full screen function stopped working. For example, the p5 drawing example:

https://editor.p5js.org/p5/sketches/ArMiCc9-Mq
https://editor.p5js.org/p5/full/ArMiCc9-Mq
https://editor.p5js.org/p5/present/ArMiCc9-Mq

The 'full' does not work.

Oops, I suddenly realize I should perhaps submit this to the p5 editor

[2020-06-04 21:23] maartenwijntjes commented on #4605
I noticed it was already reported in the p5 web editor thread: https://github.com/processing/p5.js-web-editor/issues/1445

[2020-06-05 01:10] nazimba commented on #4420
Thanks a lot! You are awesome the true motor of the planet. Peace.

El El jue, 4 jun. 2020 a la(s) 16:32, Stalgia Grigg <
notifications@github.com> escribió:

--
Nazim Moisés
00 54 (11) 15 52 29 27 88

[2020-06-05 07:39] lmccart commented on #4605
im going to close this since it is tracked in the issue mentioned above on the editor repo

[2020-06-05 07:39] #4605 closed

[2020-06-05 07:42] lmccart commented on #4598
@elladahan I'm wondering if you still see this behavior if you make your ellipse width and height even numbers? it could possibly be due to pixel value rounding

[2020-06-05 07:45] lmccart commented on #4601
we do have this page if you think it belongs here:
https://github.com/processing/p5.js/blob/master/contributor_docs/creating_libraries.md

[2020-06-05 08:39] elladahan commented on #4598
@lmccart thanks for the suggestion. I've made the width and height even numbers, as well as the position of the ellipse and the canvas size. I still see the same behaviour unfortunately!

[2020-06-05 08:51] lmccart commented on #4598
ok that's helpful info thanks! we'll keep looking into it

[2020-06-05 09:34] micuat commented on #4598
I found it. Actually `closePath` is triggering the artifact. In the following sketch, I copied the content of `ellipse` and added a condition (line 53) so that only calls `ctx.closePath` if mouse is pressed (or tapped on the screen)
source: https://editor.p5js.org/micuat/sketches/ICfXJN_HI
presentation link for mobile: https://editor.p5js.org/micuat/present/ICfXJN_HI

@lmccart Is there any side ef

[2020-06-05 10:43] Siggi005 commented on #4601
You are absolutely right, it was more like quick hacked stuff to show what I mean.

Maybe this is a solution, I will think about it.
After all, thank you very much for your responses! It is nice to see such a welcoming community.

[2020-06-05 10:43] #4601 closed

[2020-06-05 10:53] micuat commented on #4601
@Siggi005 let me know if I can help anything. would be nice to see the update from you!

[2020-06-05 10:58] Siggi005 commented on #4601
I already see that you are a way better programmer than me, so thank you very much!

[2020-06-05 11:03] dadepezzi opened #4607 "loadImage() does't load a local image"
Hello! I tried to load am image stored inside my project folder doing:
`img=loadImage('images/image1.jpg');`

but I got these errors:
`Fetch API cannot load file:///C:/Users/Davide/Desktop/project/images/image1.jpg. URL scheme must be "http" or "https" for CORS request.`
`TypeError: Failed to fetch
    at p5._main.default.loadImage (file:///C:/Users/Davide/Desktop/project/libs/p5.js:79330:13)

[2020-06-05 11:23] DivyamAhuja commented on #4607
It's because of browser's CORS security policy , that you can't fetch files from same origin without running server. The only easy way I know to solve is by running local server using nodejs or something. There might be other easy and possible solutions

[2020-06-05 13:03] dadepezzi commented on #4607
@DivyamAhuja Thank you now it works!

[2020-06-05 13:04] #4607 closed

[2020-06-05 20:10] DavidMatuszek commented on #4565
I haven’t gotten another response from you, so I don’t know if you saw my attachment.

—Dave Matuszek

[2020-06-05 20:14] lmccart commented on #4565
@DavidMatuszek I think the attachment didn't come through. Can you try posting it directly on this github issue instead of replying to the email. Thanks!

[2020-06-05 23:49] borisfaguer opened #4608 "Web Editor: Not able to open original file once duplicate is made"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: Web Editor (can't find version, other people also seem to have [this issue](https://github.com/processing/p5.js/issues/25

[2020-06-06 00:12] lmccart commented on #4598
@micuat youre right, that seems redundant! would you like to submit a PR to remove it?

[2020-06-06 00:29] lmccart commented on #2475
I'm going to close this because there hasn't been much energy around it in a while and it seems a departure from our current direction.

[2020-06-06 00:29] #2475 closed

[2020-06-06 00:33] lmccart commented on #2602
I'm going to close this because it's not exactly a bug, it's a workflow issue to be aware of, and I can't think of any simple fix that doesn't result in counterintuitive behavior elsewhere. For example, if `npm run lint:fix` automatically staged changes, this would be unexpected. If others have a good solution and want to address this we can reopen.

[2020-06-06 00:33] #2602 closed

[2020-06-06 00:47] #2986 closed

[2020-06-06 00:52] lmccart commented on #4511
I think this has been addressed adequately here. For more help, please check out our forum: https://discourse.processing.org/. Thanks!

[2020-06-06 00:52] #4511 closed

[2020-06-06 01:16] #4584 closed

[2020-06-06 01:19] lmccart commented on #2857
@limzykenneth has this been resolved with #209?

[2020-06-06 01:25] #4455 closed

[2020-06-06 01:35] lmccart commented on #4466
We've been working to adopt a position of "only adding new features that increase access/accessibility". So if there's not a clear argument here about how this expands access, and given that it's quite a complex add, I'd recommend we close this for now.

[2020-06-06 01:39] JimBrink opened #4609 "Touches[] updated after touchStarted event."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [x ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
The touchStarted event happens before the touches array is updated.  To see the problem, touch the screen. The touchStarted event knows th

[2020-06-06 01:53] JimBrink opened #4610 "touchStarted event handler called before touches[] is updated."
#### Most appropriate sub-area of p5.js?
- [x ] Events

#### Details about the bug:
The touchStarted event happens before the touches array is updated.  To see the problem, touch the screen. The touchStarted event knows that a touch was started but the length of touches[] is still 0. This happens because touchStarted event handler is called before the touches[] information is updated. In somewhat

[2020-06-06 02:04] lmccart commented on #4609
This is happening because the `.touchStarted()` listener is a wrapper around `window.addEventListener` which fires immediately on touch start. The p5.js library also listens to this event and update the touches array, but it doesn't happen before the listener you've attached fires. If you want the behavior to work as expected you have two options.
Use the [`touchStarted()` function](https://p5js.o

[2020-06-06 02:04] #4609 closed

[2020-06-06 02:05] lmccart commented on #4610
This is happening because the `.touchStarted()` listener is a wrapper around `window.addEventListener` which fires immediately on touch start. The p5.js library also listens to this event and update the touches array, but it doesn't happen before the listener you've attached fires. If you want the behavior to work as expected you have two options.
Use the [`touchStarted()` function](https://p5js.o

[2020-06-06 02:05] #4610 closed

[2020-06-06 02:06] lmccart commented on #4598
@micuat actually I'm in here right now so I'm going to go ahead and make the change, hope that's ok.

[2020-06-06 02:09] #4598 closed

[2020-06-06 02:12] lmccart opened #4611 "document: no new features except those that increase access"
At our most recent [contributors conference](https://p5js.org/community/contributors-conference-2019.html), we made a commitment to not add any new features *except* those that increase access (meaning, inclusion and/or accessibility). This was intended not to shut down contributions, but to open up more conversations about what access means, and how we can continue to prioritize it. It would be g

[2020-06-06 04:03] outofambit commented on #4611
@lmccart yes! ive had documenting this better in the back of my head for a while. i can take on cleaning up my notes and fleshing them out more for review/feedback from everyone!

[2020-06-06 09:19] limzykenneth commented on #2857
@lmccart It's been awhile, I assume it is solved or not relevant anymore. Closing.

[2020-06-06 09:19] #2857 closed

[2020-06-06 11:56] JimBrink commented on #4609
Thank you for looking at this issue very promptly.  However, I do think
that it is possible to get things to happen in the correct order.  Your
second solution with msgTouches = event.touches does produce the correct
number of touches but the location of the touches is difficult to
calculate.  The advantage of the touches[] array is that touches[0].x
and touches[0].y give the location of the first

[2020-06-06 14:15] micuat commented on #4596
I think it's the expected behavior as `background` calls `clearColor` which sets the background color without holding the last color
https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/clearColor

what you could do is to use p5.Graphics in WEBGL mode, and draw that graphics on top of 2d canvas
https://editor.p5js.org/micuat/sketches/qOAjrWJf9

[2020-06-06 14:30] micuat commented on #4535
1st point - it seems `capture.size` is causing a problem. If you comment out, the image is perhaps bigger than 320x240, it should be centered to the mouse position. I tried using constraints argument to initialize with the desired resolution but it didn't scale as expected :(
https://editor.p5js.org/micuat/sketches/iYWopm-Qf

[2020-06-06 14:50] micuat commented on #4535
the second point - `capture` is actually a `p5.MediaElement` whose `get` is written here
https://github.com/processing/p5.js/blob/389322540acc96d0b6098a98bd1f7523746f0dcb/src/dom/dom.js#L3068

which first calls `_ensureCanvas` that creates a `this.canvas`. This gets problematic when `Render2D.prototype.image` is called, because it prefers `canvas` over `elt`
https://github.com/processing/p5.js/blo

[2020-06-06 15:22] micuat commented on #4403
with `shadowBlur = 0` it works. So it seems windows+firefox doesn't like `globalCompositeOperation` and `shadowBlur` together. I don't know if it's related but quick search showed this:
https://stackoverflow.com/questions/34028717/canvas-shadow-with-globalcompositeoperation-destination-out

[2020-06-06 15:38] micuat commented on #4373
with `return false` it triggers `e.preventDefault()`. my guess is that after the click, the iframe in web editor does not capture the cursor even if you click, and thus doesn't catch key events. If you click on the editor console and hit tab a few times to select iframe, key events are fired properly

[2020-06-06 16:03] chen-ni opened #4614 "README.md for p5.js Core includes invalid file reference"
In [/src/core/README.md](../blob/master/src/core/README.md), there is a reference at line 26 to a file called "error_helpers.js" in the same directory. However, that file doesn't exist.

[2020-06-06 16:08] bencooper96 commented on #4352
did you happen to get an answer from either of those resources? - I haven't been able to find anything in them.

[2020-06-06 16:54] sps014 commented on #4352
@bencooper96 no, i didn't get any acceptable answer , what i did was to track each webgl vertex and wrote a simple OBJ exporter..
You can check it out here ..
https://draw2mesh.netlify.com/

[2020-06-06 17:27] plasmusss opened #4615 "P5.Sound bug"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) : Sound

#### Details about the bug: I tried to use loadSound() after paste in the head of the index.html the script written on the reference (<script src="path/to/p5.s

[2020-06-06 17:52] bencooper96 commented on #4352
@sps014 wonderful! thank you very much!

[2020-06-06 18:16] markjoshua12 commented on #4596
I see now, thank you very much! Didn't cross my mind to do it that way. Hopefully others who have the same problem can see this as well. Maybe this could be an example on the website?

[2020-06-06 18:16] #4596 closed

[2020-06-06 19:23] akshay-99 commented on #4614
Hi @chen-ni. Thanks for spotting this! `error_helpers.js` used to be a file which for broken up as it was getting too big. I seem to have missed updating the non-code files that reference it :sweat_smile:

[2020-06-06 19:37] micuat commented on #4615
Hi @plasmusss , the problem might not be a bug but the way how you included the sound library. If you're not familiar with JavaScript, I suggest you to check out the web editor. It is already equipped with p5.js and p5.Sound.
https://editor.p5js.org/

Also if you have questions that are not clear if it is a bug or you're code, you can also post them on discourse to ask for help :)
https://discours

[2020-06-06 21:17] #4615 closed

[2020-06-06 21:36] lmccart commented on #4609
Yes either of the two alternatives listed above should give you the correct touches data. The event.touches approach makes it slightly harder, so I would recommend the second approach.

[2020-06-06 21:37] lmccart commented on #4611
Great thank you @outofambit! Let's also link to this from our CONTRIBUTING.md file so it's easily found.

[2020-06-06 22:41] DavidMatuszek commented on #4565
![too many errors](https://user-images.githubusercontent.com/362586/83955775-c7a52780-a824-11ea-9498-cc771fad45c7.png)

[2020-06-06 22:44] limzykenneth commented on #4565
@DavidMatuszek What you are using is the Processing editor's p5.js mode. It is not officially maintained by the p5.js project. You should raise this issue over at the Processing editor p5.js mode's [repository](https://github.com/fathominfo/processing-p5js-mode/issues). Thanks.

[2020-06-07 01:28] chen-ni commented on #4614
Hi @akshay-99, thanks for the reply! In that case, would it be ok for me to create a PR that simply removes that paragraph for "error_helpers.js" to resolve this issue?

[2020-06-07 02:42] akshay-99 opened #4616 "FES: internationalization for validateParameters"
#### Most appropriate sub-area of p5.js?

- [x] Other (Friendly errors, internationalization)

#### Feature enhancement details:
#4233 adds internationalization support for FES functionality with the exception of `validateParameters`. Perhaps I could add that in?

Also since the entire internationalization tooling is not used in the minified version, perhaps we can import it conditionally by check

[2020-06-07 03:58] peilingjiang opened #4617 "A moderate logging system"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

As the `draw()` function runs unstoppably for many times a second, when we want to log out the value of a variable, it usually results in ma

[2020-06-07 10:28] rohitsam commented on #3564
https://stackoverflow.com/questions/56999411/firefox-68-local-files-now-treated-as-cross-origin-is-there-a-way-to-override

[2020-06-07 11:31] micuat opened #4619 "shadowBlur overlays on top of fill"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: firefox 77.0.1 / chrome 83.0.4103.97 (Official Build) (64-bit)
- Operating System: windo

[2020-06-07 11:31] micuat commented on #4619
I haven't looked closely but other drawing functions may have the same issue

[2020-06-07 11:35] micuat commented on #4619
obviously the side effect is that the shadow goes on top of stroke :(
https://editor.p5js.org/micuat/sketches/_LAKGQ7Xz

[2020-06-07 15:16] jbroux opened #4620 "Computation bug of big integer numbers"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: p5.js v0.10.2 October 14, 2019
- Web browser and version: Safari 13.1.1 & Google Chrome 83.0.4103.97
- Operating System:

[2020-06-07 15:35] DivyamAhuja commented on #4620
Actually this has nothing to do with p5, It's just how JavaScript primitively represents Numbers
The Maximum safe Integer you can use in JavaScript `2^53 - 1`.
You can use BigInt Object in JS for computation of large integers.
eg. `BigInt(3)*BigInt(4136426146664351)`

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

[2020-06-07 18:35] montoyamoraga commented on #4620
thank you @DivyamAhuja for your explanation,
hope this was helpful @jbroux
i am closing this issue, best!

[2020-06-07 18:35] #4620 closed

[2020-06-07 22:23] limzykenneth commented on #4593
@micuat Thanks for working on this. It's a bit confusing but changes to the reference should be made in this repo in the inline documentation. The `data.json` file over on the website repo is replaced every time a new version is released with oen generated from the inline documentation here. The lines you need to change is [here](https://github.com/processing/p5.js/blob/1.0.0/src/core/shape/curves

[2020-06-07 23:42] InventorPanda opened #4621 "I can't upload XML locally or in the web editor"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Chromium 78.0.3904.108 (Official Build) Built on Raspbian , running on Raspbian 10 (32-

[2020-06-08 05:36] DivyamAhuja commented on #4621
Locally I think it's maybe due to CORS security, can you provide web editor link where it's not working?

[2020-06-08 10:44] Vamoss commented on #3736
Hi @stalgiag. Again I was not notified about an answer in this topic, sorry for the delay.

Once in a while I got this issue again.

Here I am using 1.2 version:

<img width="738" src="https://user-images.githubusercontent.com/245841/84021209-8b73e300-a95a-11ea-9e24-f5b2987d6910.png">

`renderer.drawingContext.disable(renderer.drawingContext.DEPTH_TEST);` result:

<img width="743" src="https://use

[2020-06-08 11:03] Vamoss commented on #3736
I just discovered there is a name to solve it [Order independent transparency](https://en.wikipedia.org/wiki/Order-independent_transparency).

@tsherif implemented it here https://tsherif.github.io/webgl2examples/oit-dual-depth-peeling.html

Unfortunately, it goes beyond my knowledge.

[2020-06-08 11:29] tsherif commented on #3736
Hi!

I don't now anything about p5, but I can provide the maintainers with some info that might be useful: The problem with alpha masked objects (i.e. when you're hiding pixels by setting alpha to 0, but other pixels on the same object are opaque) is that the masked pixels still write to the depth buffer. However, if you turn off depth testing, the opaque parts won't occlude each other.

There are

[2020-06-08 12:27] elladahan commented on #4598
Thanks so much for looking into this and fixing it so quickly! @lmccart when can I expect this fix to be released in the web editor?

[2020-06-08 15:19] jbroux commented on #4620
Thank you for your answer. Sorry for disturbing you. I have made a lot of Web research for the keyword 'maxint' before writing the mail.

I will remember ‘BigInt' which would be useful for the Collatz conjecture.

JBR

[2020-06-08 15:19] #4398 closed

[2020-06-08 15:59] lmccart commented on #4598
we don't have a target date, but I'm working on a new release within the next two weeks. it usually takes a little while longer for the editor to update after that.

[2020-06-08 18:03] #4571 closed

[2020-06-08 18:18] JimBrink opened #4623 "center() does not work correctly if the element has a parent"
#### Most appropriate sub-area of p5.js?

- [x ] Core/Environment/Rendering
- [x ] Dom

#### Details about the bug:

- p5.js version:February 29, 202
- Web browser and version: Firefox, Chrome, Edge (does not seem to be a browser problem)
- Operating System: Windows 10 (probably not a OS problem);
- Steps to reproduce this:
The center method does not work correctly if the element has a parent.  In

[2020-06-08 18:36] InventorPanda commented on #4621
How do I do that? I'm not very familiar with the editor, mainly the library itself

[2020-06-08 19:06] InventorPanda commented on #4621
How do I do that? I'm not very familiar with the editor, mainly the library itself.

[2020-06-08 19:17] InventorPanda commented on #4621
https://editor.p5js.org/george.sandrowicz/sketches/LOZ0RD5Ta

[2020-06-08 19:39] DivyamAhuja commented on #4621
https://p5js.org/reference/#/p5/loadXML

You have to provide path to xml in loadXML()

which in this case will be 'xml/text.txt'

loadXML('xml/text.txt')

[2020-06-08 20:03] skyperx commented on #2309
im here @skyperx

[2020-06-09 02:42] lmccart commented on #2309
@all-contributors please add @skyperx

[2020-06-09 02:43] lmccart commented on #2309
@all-contributors please add @skyperx for code

[2020-06-09 04:37] lmccart commented on #4621
thanks @DivyamAhuja! @InventorPanda for more help, please check out our [forum](https://discourse.processing.org/)

[2020-06-09 04:37] #4621 closed

[2020-06-09 17:32] akshay-99 opened #4626 "FES: Simplifying parameter validation messages"
#### Most appropriate sub-area of p5.js?

- [x] Other (Friendly errors)

Before starting out with the internationalization for `validateParameters` in #4616, I felt this needed to be discussed first. So the messages for the FES wrong arguments are still ( kind of ) cryptic in the way they describe the position of the arguments. It says something like `parameter #3 (zero-based index)`,  which could

[2020-06-11 16:45] limzykenneth commented on #4626
I think that's a great idea but also your point about how it would work language wise can be a problem. I think it would be nice to have a look up in each language of the ordinals to 10th or however many we need as you mentioned, it would be similar to how many localization tools work.

[2020-06-11 22:04] chrisvenczel opened #4628 "blendMode(DARKEST) behaving differently than it used to?"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v0.10.2
- Web browser and version: Firefox 77.0.1, Chrome 83.0.4103.97
- Operating System: Windows 10 Pro N Version 1709

[2020-06-11 22:48] lostPixels opened #4630 "Add first class support for SVG imports and exports"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

As an artist using p5.js for plotter drawings, I use vector graphics to power my Axidraw. There are very few options for this workflow out

[2020-06-12 18:50] lmccart opened #4631 "rename master branch"
To "main"? Or something else?

Other precedents and discussions:
- @outofambit's thread on [desktop](https://github.com/desktop/desktop/issues/6478)
- [drupal](https://www.drupal.org/project/drupal/issues/2275877)
- [djangjo](https://github.com/django/django/pull/2692)

[2020-06-12 19:21] outofambit commented on #4631
i like "main" or "development" but i think "main" is friendlier and simpler!

i could also see something like "current" for this repo in particular, but i don't have a strong argument for or against that.

[2020-06-12 21:35] stalgiag commented on #4631
"main" works. So so glad about this!

[2020-06-13 09:38] limzykenneth commented on #4628
@chrisvenczel The trails on the page you shared do seem to fade away completely for me. Can you perhaps try another browser or see if you can get another computer to try it on (or someone else to try it for you).

[2020-06-13 09:53] DivyamAhuja commented on #4628
![Screenshot (51)](https://user-images.githubusercontent.com/39771050/84565809-9333ed00-ad89-11ea-87c8-e6aa540d8419.png)
@limzykenneth The trails doesn't seem to fade away for me. I tried it on Firefox, Edge and Chrome. Same for all of them. But if I resize the window they fade away, like clearing some buffer.

[2020-06-13 09:54] limzykenneth commented on #4628
@DivyamAhuja Are you on Windows as well?

[2020-06-13 09:56] DivyamAhuja commented on #4628
Yeah, I will go try it on ubuntu.

[2020-06-13 09:56] limzykenneth commented on #4628
Possibly related to #4403?

[2020-06-13 10:02] limzykenneth commented on #4619
That's not ideal. 😞 We may need to look for some other way to fix this. If folding the drop shadow functionality into the library itself (in the form of ` shadow()` function for example) would help solve this, it could be considered I think.

[2020-06-13 10:06] DivyamAhuja commented on #4628
![Screenshot from 2020-06-13 15-32-46](https://user-images.githubusercontent.com/39771050/84566011-43eebc00-ad8b-11ea-945d-66899b1dcb04.png)

Weirdly on Ubuntu it's working fine on Firefox but not on Google Chrome.

Versions are-
Ubuntu 20.04 LTS
Google Chrome Version 83.0.4103.97 (Official Build) (64-bit)
Mozilla Firefox 77.0.1 (64-bit)

[2020-06-13 10:08] DivyamAhuja commented on #4628
Might be related.
Am not much familiar with blend stuff but am trying to learn WebGL and blend

[2020-06-13 10:09] limzykenneth commented on #4628
Just tried on Chrome and Safari on a mac, they are showing this bug. I'll have a closer look.

[2020-06-13 11:00] limzykenneth commented on #4499
If credentials are sent with the request, the responding server cannot reply with a header of `Access-Control-Allow-Origin: *` which will cause problem with using cross origin requested images.

One thing we can possibly do is to overload the function so that for the first argument instead of just providing the path to the image, you can provide a `Request` object which will be passed directly to

[2020-06-13 11:27] #4623 closed

[2020-06-13 11:31] dgrcode commented on #4499
I think overloading the function sounds like a very good plan. I like the idea of sending a `Request` as the argument, so developers have full control about how they request assets

[2020-06-13 15:23] montoyamoraga commented on #4631
sounds great! i like "main" :)

[2020-06-13 17:10] chrisvenczel commented on #4628
When you resize the window I clear the screen so that the size of the render can update (probably not the best way to do it), so that's why that is happening. I don't think it has to do with the bug.

[2020-06-13 17:10] chrisvenczel commented on #4628
Thanks for looking into this!

[2020-06-13 19:09] ARNAVVGUPTAA opened #4632 "CREATING AN IMAGE IN P5JS"
i want to draw something and make it an image, can I do that??? I believe its something with createImage but can't follow it properly, please help me with it

[2020-06-13 19:15] montoyamoraga commented on #4632
hi @ARNAVVGUPTAA, our issues are intended for reporting bugs and problems with p5.js,
for doubts about coding please use our forum at https://discourse.processing.org/ and the community will help you, i suggest sharing on that forum the code you have written so far, or the reference/example you are having trouble following :)

i will close this issue now, best!

[2020-06-13 19:15] #4632 closed

[2020-06-13 19:31] JimBrink opened #4633 "Reference for rect and "optional" h parameter"
#### Most appropriate sub-area of p5.js?

- [ x] Core/Environment/Rendering

- [ ] Other (specify if possible)

#### Details about the bug:
The reference page for rect (https://p5js.org/reference/#/p5/rect) states  in the
line for syntax and the specification of the forth parameter, h, that it is optional.  But the description doesn't say what is supposed to happen if h is omitted. In practice, it

[2020-06-13 20:25] DivyamAhuja commented on #4633
Actually this is happening because you are using p5 version 0.10.2 maybe . This bug is resolved in p5 version 1.0.0 in which 3 arguments can be passed into rect()

https://p5js.org/reference/#/p5/rect

on web editor if you want to use v1.0.0 you can edit index.html file

[2020-06-13 21:52] limzykenneth commented on #4628
I've created a minimal sketch demonstrating the issue: https://editor.p5js.org/limzykenneth/sketches/wIGbTnfy7

What I found is that if the `blendMode()` is commented out on Firefox, it displays the same behaviour as on Chrome without `blendMode()` commented out (although behaviour is the same if commented out). I don't see any immediate source of problem in the library itself but I haven't tried

[2020-06-13 21:54] #4633 closed

[2020-06-13 22:26] Louis469 opened #4634 "loadImage() bug"
I have found a bug that does not load the image.
In the console it says: "Fetch API cannot load

file:///home/<USER>/Code/ml5/Image%20classifier/cat.png. URL scheme must be "http" or "https" for CORS request."

Please Help.
My code is in the attachments.
[Image classifier.zip](https://github.com/processing/p5.js/files/4775596/Image.classifier.zip)
:)

[2020-06-13 22:27] Louis469 commented on #4634
It is p5 1.0.0

[2020-06-13 23:03] limzykenneth commented on #4634
The error message basically means that you should load the file over http or https instead of file (ie `http://....` or `https://...` instead of `file://...`). To do that you will probably need to run a local server. To do that you should start [here](https://github.com/processing/p5.js/wiki/Local-server).

An easier way is to use the [web editor](https://editor.p5js.org) which will take care of t

[2020-06-13 23:03] #4634 closed

[2020-06-13 23:54] montoyamoraga opened #4635 "update GitHub issue templates"
we get a lot of issues that are labeled as bugs, and instead they are doubts with code,
and then we have to close them and point them to the forum.

also i think we are not doing new features for a while, right?

right now we have 4 templates:
* Existing Feature Enhancement
* Feature request
* Found a bug
* Need Help with Code

These are two changes i would do:

1. delete "Feature Request", or cha

[2020-06-14 16:19] MylesBorins commented on #4631
I'm going to be helping to push for this change in the Node.js project (and am an employee of GitHub)... if there is anything I can do to help y'all with this please lmk.

[2020-06-14 16:26] lmccart commented on #4631
@outofambit do you know the next steps for us here? you mentioned a guide you were working on? and thanks @MylesBorins! if you know any tips or best practices for making this change smoothly would love to hear. otherwise I can just give it a try and see how it goes..

[2020-06-14 16:54] outofambit commented on #4631
@lmccart yes, me, @MylesBorins, and others are working on a GitHubby guide, but I can share the highlights here!

## Automatic Option

@grege2 has a great little tool that does all the manual steps below for you. i haven't used it personally but he's been maintaining it for a while now! https://github.com/gr2m/octokit-rename-branch

## Manual Steps

- [ ] create `main` branch from `master` (i thin

[2020-06-14 17:24] stalgiag commented on #4635
Sounds good to me!

I will say that I don't think there is anything that will catch all of the doubts with code or misunderstandings of the purpose of the Github but definitely down to try out a new configuration of templates to see if it is more successful at filtering these out.

[2020-06-14 19:15] lmccart commented on #4635
thanks @montoyamoraga!
* I think we should keep the "feature request", but as you suggest, add our intention to only add new features that increase access. we can link to the writeup @outofambit is working on.
* we could also add this link in the "existing feature enhancement" template. the difference between a feature enhancement and feature request is a little blurry to me...
* agree with delete

[2020-06-14 19:30] outofambit commented on #4635
what do y’all think about adding a question to the feature request template too? something like:

“How would this help increase access to p5.js?”

to prompt people to think about it if they haven’t and to give them a chance to share how/if it would in their view?

[2020-06-14 20:05] #4616 closed

[2020-06-14 20:05] #4626 closed

[2020-06-14 20:41] lmccart commented on #4631
thanks @outofambit this was so helpful. I did it by hand because scripts scare me sometimes. I'm sure I broke some things. :)

I'm keeping this open because there's still work to be done:
- [ ] updating the [wiki](https://github.com/processing/p5.js/wiki)
- [ ] updating [links in issues](https://github.com/processing/p5.js/issues?q=is%3Aissue+%22processing%2Fp5.js%2Fblob%2Fmaster%22+)

help is wel

[2020-06-14 21:11] limzykenneth commented on #4635
@outofambit I was just thinking about adding that instead of removing feature requests altogether, so definitely +1 from me.

[2020-06-15 08:17] ffd8 commented on #4631
@outofambit + @MylesBorins would it be possible for Github to implement a default branch check before showing 404, to prevent these broken links throughout the web? Like the example [https://github.com/processing/p5.js/blob/master/Gruntfile.js](https://github.com/processing/p5.js/blob/master/Gruntfile.js) – instead of landing on a 404 page, attempt to replace the given branch of that URL with the

[2020-06-15 16:06] catarak commented on #4631
I'm very into this change :) I actually ended up changing the default branch to in the web editor repository to `develop` a few weeks ago (following [git flow](https://nvie.com/posts/a-successful-git-branching-model/) conventions, but instead of `master` for the release branch am using `release`) when transitioning the project to have releases (see processing/p5.js-web-editor#1421).

[2020-06-15 19:28] avelican opened #4636 "keyIsPressed remains stuck when Alt-Tabbing"
#### Most appropriate sub-area of p5.js?

- [x] Events

#### Details about the bug:

- p5.js version: 1.0.0
- Steps to reproduce this: Alt-Tab away from p5, then back again.

When I Alt-Tab away from the browser and back again, keyIsPressed remains stuck as true until I press and release any key (until the keyup event is triggered).

The browser can not detect a key-up while focus is lost.
However

[2020-06-15 20:37] gr2m commented on #4631
Sorry that I only caught this issue now

I made that particual script :) Please feel free to reach out next time, I'm very happy to help when it comes to GitHub automation thingies.

[2020-06-15 20:45] lmccart commented on #4631
oh @catarak that's wonderful!

thanks @gr2m! and the fear is not really about the script maker, just my own generalized anxiety about getting a command wrong and other control issues lol! thank you for making this. now that i've gone through the process, i am going to try the automated tool out on some other repos of my own. <3

[2020-06-15 20:49] gr2m commented on #4631
Sorry for the off-topic comments 🙇

Hold on, I'm writing a better solution, with more control for you. It will be a GitHub app that you can install and uninstall once the migration is done. It will create a pull request with a search&replace for the code. And only when merged, it will update the branch.

I'll test that thoroughly on my own repos first.

If you don't want to wait, I'm happy to help

[2020-06-16 01:18] akshay-99 opened #4637 "FES: detect capitalization and spelling mistakes"
#### Most appropriate sub-area of p5.js?

- [x] Other (Friendly Errors)

I have seen that new programmers often take time to register the several naming conventions used in programming such as camelCase for identifier names, ALL_CAPS for constants, etc. And so capitalization mistakes are very common among them but they can spend way more time trying to debug it. For example one may call try to cal

[2020-06-16 10:00] limzykenneth commented on #4637
Sounds like a great idea to me. Implementation wise do you have an idea of how to do this?

[2020-06-16 12:06] roman1bondarenko commented on #4631
Guys, are you serious??? it's just word, how it affect to racism???

[2020-06-16 16:31] montoyamoraga commented on #4637
what about a spinoff of FAQ? like frequent code mistakes, super short?

* in JavaScript, case matters. we use setup(), not Setup(), or SETUP(). JavaScript treats uppercase and lowercase as totally different characters.
* for p5.js variables we use camelCase, such as createCanvas or mouseClicked. camelCase is writing two or more words, where the first one is lowercase and each new word starts with

[2020-06-16 16:37] akshay-99 commented on #4637
@limzykenneth
I have a rough flow in mind.
There are two types of mistakes that can occur.
- One is when referencing a predefined p5 symbol like `createCanvas`, `color`, `mouseX`, etc. For this, the first step would be to build a dictionary of everything in p5 that can be referenced by the user. This is already done for `misusedAtTopLevelCode` so I think I can just reuse it. We set up an error lis

[2020-06-16 16:42] montoyamoraga commented on #4637
@akshay-99 that sounds awesome!

yeah i have been thinking about ways to have less people post issues here when they are having trouble with their code, i am thinking this FAQ lisit could live both on p5.js website and be referenced when people open any new issue :)

[2020-06-16 16:50] limzykenneth commented on #4637
@akshay-99 I don't think I understand the second solution well but the first solution seems like a good enough avenue to start exploring. A good word distance algorithm can be rather complicated to setup as there are many many ways a typo can occur, what I would suggest is to start simple with just a `tolowerCase()` comparison and use it to judge the performance in terms of usefulness to the user.

[2020-06-16 16:55] stalgiag commented on #4631
I just want to respond to a deleted comment that question the efficacy of this change in combating racism because I don't want it to feel like people are expected to just get it. I also want to express some feelings that have been brewing as I watch the response to GitHub making this decision as a company and I assume this thread will be my only chance.

This (renaming the primary branch) is defin

[2020-06-16 17:12] stalgiag commented on #4637
So excited for this! This could be a very powerful improvement to FES.

Just to echo @limzykenneth that a `toLowerCase()` comparison would be a great start. Then it might be a good idea to try out small npm packages ([like this one](https://www.npmjs.com/package/fast-levenshtein)?) for more granular word distance calculations to see how performance and package size is impacted.

Also, this is less

[2020-06-16 17:43] akshay-99 commented on #4637
Thanks for the suggestions everyone! I will try out these things and see the results.

@stalgiag Are you talking about variables which are defined by the user as a part of their sketch but may not be related to any p5 functionality?

[2020-06-16 17:52] roman1bondarenko commented on #4631
cool, delete another view for this situation...

[2020-06-16 17:54] stalgiag commented on #4631
@roman1bondarenko your comment was deleted because the tone was aggressive. Check out the [code of conduct for this repo](https://github.com/processing/p5.js/blob/main/CODE_OF_CONDUCT.md) and use patient, open, and respectful language or you will not be a part of the conversation.

[2020-06-16 17:57] roman1bondarenko commented on #4631
so, where i was aggressive? i just say that this renaming are not affect to life quality:)

[2020-06-16 18:05] lmccart commented on #4631
@roman1bondarenko if you'd like to post your view with respect and care, please do. i think it is important for different viewpoints to be welcome here. thank you! however, i don't want to spend too much energy on this decision, as @stalgiag mentions, there is more work to be done. and considering `main` does not seem to be a term that offends anyone, it doesn't feel necessary to debate this at le

[2020-06-16 18:11] DivyamAhuja commented on #4631
Leaving every other aspect aside, I think the term "main" is aesthetically better and defines the purpose of the branch more clearly. I like this change. 😁

[2020-06-16 18:13] stalgiag commented on #4637
@akshay-99 yes, just curious if the same solution for p5 functions could be easily expanded to help with a sketch like this:
[code]
This becomes a bit more of a fuzzy discussion about the scope of the FES and I don't think this functionality needs to be addressed. This was more of a passing consideration that I just wanted to think about in parallel to the work done here.

[2020-06-16 18:37] akshay-99 commented on #4637
@stalgiag The FES does not currently have this much insight about the sketch. I think this specific case would need to involve parsing the user's sketch, basically having one script ( p5 library) read the code in another script ( the sketch ) . I had come up with some ideas about this a few months back, about how the FES could use the parsed sketch to build more context for its messages, and how t

[2020-06-16 18:46] kjhollen commented on #4637
this is great. I will add that `preLoad()` vs. `preload()` is a common error I see when I am teaching, if you are looking for good test cases. :)

[2020-06-16 19:01] stalgiag commented on #4637
@akshay-99 right - hadn't considered where we were catching things currently. Thanks for the breakdown!

[2020-06-17 00:00] AbhiGulati commented on #4570
@montoyamoraga it looks like some of the links on the wiki are still incorrect. I'm happy to go and fix them, but it appear that I don't yet have permissions to edit the wiki. I saw the MR adding me to the contributors file, and I appear to still be [there](https://github.com/processing/p5.js/blob/main/.all-contributorsrc), but I don't see an "Edit" button or anything on the wiki page.

[2020-06-17 02:17] montoyamoraga commented on #4570
@AbhiGulati hi thank you for noticing!
the link was broken when you originally pointed it out, because of us changing developer-docs to contributor-docs, and this week we introduced a new change, changing the name of our repository's branch from master to main, i fixed it again :)

i think some of the main contributors have edit access to the wiki, and it made me think it could be better to roll o

[2020-06-17 02:52] AbhiGulati commented on #4570
Awesome, thanks for updating the links.

Sounds like you don't have a concrete plan for letting external folks contribute to the wiki yet, so if anything comes up in the future I'll just create another issue.

[2020-06-17 03:59] montoyamoraga commented on #4570
yeah, my guess is the wiki is mostly static, and if you find more roadblocks to contributing, let me know and i will try to give you access

[2020-06-17 07:33] akshay-99 commented on #4588
Hi, so while I was just checking the cross browser compatibility of things while working on the FES, I did come to know that p5.js 1.0.0 does indeed does not work on IE 11. Version 0.9.0 seems to be the last version to work on IE 11. For all p5 versions after it, the initialization itself crashes.
![image](https://user-images.githubusercontent.com/38867671/84864813-e951aa80-b07f-11ea-934a-5e81cf55

[2020-06-17 09:29] limzykenneth commented on #4588
I don't know enough about babel to know why this is happening. @outofambit Can you have a look at this?

[2020-06-17 11:25] vinodhinisenthil7 opened #4638 "not able to upload p5.js in github. all other files i am able to upload.. its says we cannot process that file"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-06-17 11:30] GameEntity903 opened #4639 "I am unable to upload the p5.js file from my end but when i send that same file to others they are able to upload the same Google Chrome Version 83.0.4103.106 (Official Build) (64-bit) Windows 10"
#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

[2020-06-17 16:06] outofambit commented on #4588
@limzykenneth yes, i can take a look at this! there's probably a small config tweak i need to make to babel. thanks for investigating this @akshay-99!

[2020-06-17 22:59] grege2 opened #4640 "Chrome 83 makes extreme changes to some HTML widgets in p5.DOM"
#### Most appropriate sub-area of p5.js?
- [X ] Dom
p5.js 1.0.0
Chrome 81 and 83

Hi folks,

This is not a p5.js or p5.DOM bug as such, but it's quite a problem for someone extensively using the DOM toolkit in p5, so I thought I'd post it here.

I uprevved my Mac Chrome browser from 81.xxx to 83.xxx and a lot of my HTML widgets in a p5.js sketch broke. Well, substantially changed their appearance,

[2020-06-17 23:56] limzykenneth commented on #4638
@vinodhinisenthil7 I'm not sure I understand the issue. Can you fill out the issue template so that we can diagnose what issue you have?

[2020-06-18 00:02] limzykenneth commented on #4639
It seems that the issue is with your own project of `Project-21` and not specifically with p5.js? Have a look [here](https://stackoverflow.com/questions/4181861/message-src-refspec-master-does-not-match-any-when-pushing-commits-in-git).

If you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports an

[2020-06-18 00:02] #4639 closed

[2020-06-18 00:07] limzykenneth commented on #4640
Design decisions by the browser makers are not something within our control. You should raise this issue with the Chromium project instead.

[2020-06-18 00:07] #4640 closed

[2020-06-18 00:07] #4569 closed

[2020-06-18 02:29] grege2 commented on #4640
Ok. I don't know much weight I'll have vs. Google and Microsoft ! But anyway there's the temporary solution if anyone has code that really depends on the old appearance and behaviour.

[2020-06-18 04:36] lmccart opened #4641 "contributor docs site broken"
I am guessing this is due to our branch name change...
https://p5js.org/contributor-docs/#/

[2020-06-18 23:23] lm-n opened #4645 "DOM examples not executed in the reference"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:
Currently, several DOM examples are not executed in the reference. It is always helpful to have the example code executed so that nov

[2020-06-19 01:01] lmccart commented on #4641
resolved with https://github.com/processing/p5.js-website/commit/401f892c6285f6529a837017011058b5b10b83e5. will be fixed on next website rebuild

[2020-06-19 01:16] #4641 closed

[2020-06-19 03:27] Hickory-Kay opened #4646 "erase()"
In the reference for erase() it says that it will not erase any background() drawings, but it is erasing my background. Any help or suggestions are appreciated

[2020-06-19 10:42] limzykenneth commented on #4646
In the reference it says that

What this means is that using `image()` or `background()` in between `erase()` and `noErase()` will not make them an erasing mask, they will draw the image or background as usual. `background()` will be erased as `erase()` will remove any pixels, revealing the underlying HTML behind the canvas.

Perhaps the documentation needs to be clarified a bit regarding this.

[2020-06-19 16:48] neefrehman commented on #4546
@limzykenneth I'm still keen to move tests forward on this if it's something you'd be supportive of. I guess the next stage would be to recreate the CDN deployment pipeline for my fork, so we can make sure that it works fine as well. Do you know where the details of that are?

[2020-06-19 17:05] limzykenneth commented on #4546
For me this doesn't seem too big or a change in general so I don't have much objection to it. @lmccart @outofambit @stalgiag Do you have any thoughts on this?

As far as CDN is concerned, after looking into it I don't expect anything to be affected there. Your fork is available from jsDelivr [here](https://www.jsdelivr.com/package/npm/p5-min-test) if you want to test it out. CDNJS is a bit more ma

[2020-06-19 20:21] limzykenneth commented on #4628
Managed to recreate it using only HTML Canvas API: https://editor.p5js.org/limzykenneth/sketches/evtZgvMUo

As such I'm relatively sure it is not an issue with p5.js itself but difference between browsers, I've found no reference to it anywhere though. Anyone have a contact at Chromium or Firefox?

[2020-06-20 01:44] lmccart commented on #4546
this all seems reasonable to me. I think [this is the line](https://github.com/processing/p5.js/blob/main/tasks/release/release-p5.js#L14) where the npm update is happening. it's a straightforward `npm publish` posting to the p5 account, so you could login to npm with a different account before running the build/release process to test and it should just work. [here's the doc describing the releas

[2020-06-20 03:38] LegotronForce commented on #1412
Capitalize the A in Assets

[2020-06-20 09:54] limzykenneth opened #4648 "Updating reference preview"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
  - [x] Development

#### Feature enhancement details:
The reference preview that lives in the `docs` folder hasn't been updated in awhile and is a bit unusable. I'll t

[2020-06-20 15:14] 1lias commented on #4645
Hi 👋 For this issue I would need to edit the code here - [p5.js-website](https://github.com/processing/p5.js-website) - correct?

[2020-06-20 15:31] lm-n commented on #4645
Hi @1lias! I hope you and your loved ones are safe and healthy! The reference is generated in the p5.js repo you can learn more in the [inline documentation](https://github.com/processing/p5.js/blob/main/contributor_docs/inline_documentation.md) section of the contributor docs. The code for all the DOM examples in the reference mentioned above is in [p5.js/src/dom/dom.js](https://github.com/proces

[2020-06-20 17:23] limzykenneth commented on #4645
The reference examples for `dom` (or any reference example) won't render if in the `<div>` tag that contains the example code has the class `norender`. To get them to run, just remove that class.

[2020-06-20 17:27] lm-n commented on #4645
I think it will also require re-thinking some of the examples so that they look good once rendered on the site.

[2020-06-20 19:44] 1lias commented on #4645
Thankfully we are all safe and sound @lm-n 🙏 I hope you find yourself in a similar position. I understand a bit better now what needs to be done. In my understanding some parts of the documentation have examples and some do not have. I should try to create some examples for the ones without them. Is there any way I can see the results on my local machine?

[2020-06-21 11:24] neefrehman commented on #4546
@lmccart I've just tried running `npm run release` while connected to my npm account, but am running into the following error in the `bower-push` task that tries to push to [your p5-release repo](https://github.com/lmccart/p5.js-release):
[code]
I've tried running `npm publish` which [works fine](https://www.npmjs.com/package/p5-min-test-2) and does publish the built package. Is there any way for

[2020-06-21 14:39] limzykenneth commented on #4645
To view the reference you can run `grunt yui:dev` which will spin up a server that serves a pared down version of the final reference. It isn't very usable at the moment though. I have a PR filed yesterday that fixes it #4649, you can use that or wait for it to be merged.

[2020-06-21 15:05] limzykenneth commented on #4546
@neefrehman  If you don't need to publish documentation or to bower, you can just run `npx np` or if you just want to publish to NPM `npm publish` as you have tried is fine as well.

Have a look at the release [documentation](https://github.com/processing/p5.js/blob/main/contributor_docs/release_process.md) if you want to run the fill release step with your own repos.

[2020-06-21 16:42] bliss1-1 opened #4650 "Problem with p5.js library"
I have written code including the `point();` function. Here is two parts of my code, in the same function of making an object:
`this.pos = createVector(width / 2, height);`

`this.show = function () {`
`        stroke(255);`
`        point(this.pos.x, this.pos.y);`
`    }`

This should work, however, when I run the `index.html` file I have connected it all through, I get this error message:
`p5.js

[2020-06-21 16:50] #4650 closed

[2020-06-21 18:13] neefrehman commented on #4546
@limzykenneth thanks! not sure how I missed that section in the docs... So `npx np` and `npm publish` are working fine. If you're happy with this change being made upstream to I can open up a PR? Or feel free to do yourself it for the next release, as it's only one line.

[2020-06-21 19:12] stalgiag commented on #4646
Perhaps this:

can be changed to this:

?

[2020-06-21 21:04] limzykenneth commented on #4646
@stalgiag That still feels can be potentially misunderstood. Maybe expand a bit with

[2020-06-21 21:15] limzykenneth commented on #4546
@neefrehman I think that's fine, you can go ahead and file a PR.

[2020-06-21 21:18] limzykenneth commented on #4636
That's the browser's default behaviour and I wouldn't recommend including the workaround in p5.js itself. You can definitely use the workaround in your own code to get around this problem.

[2020-06-21 21:18] #4636 closed

[2020-06-22 14:46] #4546 closed

[2020-06-22 20:15] stalgiag commented on #4646
Sounds good to me @limzykenneth ! @Hickory-Kay any interest in contributing an update to the documentation?

[2020-06-22 20:37] cunev opened #4652 "text() should handle single words wider than bounding box"
![img](https://i.imgur.com/FBDrWOQ.png)

If there's a single word that doesn't fit within the bounding box, it still shows up.

But it's clearly limited by the function.

![img2](https://i.imgur.com/ExlMvRg.png)

"Text that does not fit completely within the rectangle specified will not be drawn to the screen. "

[2020-06-23 09:12] Doynik opened #4653 "Fract() not defined"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Chrome 64-bit 83.0.4103.106
- Operating System: Windows 10
- Steps to reproduce this: S

[2020-06-23 11:53] DivyamAhuja commented on #4653
I guess this is happening because fract function is not defined in p5 v0.10.2 but in v1.0.0 . It works fine in version 1.0.0

[2020-06-23 12:03] Doynik commented on #4653
That... would make a lot of sense. Dunno how I missed that, derp. Thanks!

[2020-06-23 12:03] #4653 closed

[2020-06-23 17:45] dhowe commented on #4652
The function was designed to work on the word level (for laying out paragraphs of text), so that words which did not fit in the bounding box on the current line, would move down to the next line. Perhaps we need a special case for when a single word is wider than the bounding box itself (at which point it could either be omitted or truncated with ellipses).

[2020-06-23 18:40] #4637 closed

[2020-06-23 19:50] DimitriCunev commented on #4652
I would prefer if the word that doesn't fit could be trimmed and followed by "...".
But in the current state , it doesn't act like a bounding box on the X axis..

[2020-06-23 20:13] thiagohersan opened #4655 "QUAD_STRIP WEBGL"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.0.0/p5.min.js
- Web browser and version: chrome 83.0.4103.116 (Official Build) (64-bit)
- Operating System: MacOSX
- St

[2020-06-23 20:36] aferriss commented on #4655
Hi @thiagohersan I believe that QUAD_STRIP has yet to be implemented in webGL mode. If you open up the console, you should see a message about it's implementation status.

https://editor.p5js.org/aferriss/sketches/UdHnqJ_vf

Maybe not ideal, but if you convert to `TRIANGLE_STRIP` instead that should work.

[2020-06-23 20:39] thiagohersan commented on #4655
aha !
thanks @aferriss !

I see the error on editor.p5js.org now, but didn't see anything on my console.
But... Cool.

I'll try ```TRIANGLE_STRIP```, or just straight up square-ish shapes with 4 vertices.

[2020-06-23 20:39] #4655 closed

[2020-06-23 22:17] IcyTv opened #4656 "[BUG] Firefox TouchStarted not working"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (Touch? User Interaction?)

#### Details about the bug:

TouchStarted is not registering in Firefox

- p5.js version: latest? also web editor and [react-p5](https://github.com/Gherciu/react-

[2020-06-24 02:20] #4648 closed

[2020-06-24 02:21] #4614 closed

[2020-06-24 07:48] #4457 closed

[2020-06-24 15:54] dhoizner commented on #4656
Just to add some more to this:

- it is also reproducible on Firefox on macOS
- `touchEnded` does work in the same sketch 🤔

[2020-06-24 16:56] dhoizner commented on #4656
@outofambit @lmccart i saw that you added a userAgent filter for safari in `onmousedown` here: https://github.com/processing/p5.js/commit/e00e1508a61631be3485a7b0ca15ebeebb6312dc#diff-28fb3f6087a4c536f91f1986c0787a0fR640

this filter doesn't exist in `onmouseup` and if removed from `onmousedown`, `touchStarted` starts working in firefox.

i'm also not seeing the event duplication on any desktop br

[2020-06-24 18:59] Sidchou opened #4659 "fract() no longer work"
#### Most appropriate sub-area of p5.js?

- [x ] Math

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: chrome 83.0.4103.106 (Official Build) (64-bit)
- Operating System: macOS Version 10.14.4
- Steps to reproduce this:
`console.log(fract(1.2))`
error
`Uncaught ReferenceError: fract is not defined (sketch: line 3)`

also, the reference page of fract() looked messed u

[2020-06-24 19:55] DivyamAhuja commented on #4659
Same as #4653 .
You should use p5 v1.0.0 as I think feact is not defined in version 0.10.2

[2020-06-24 20:00] DivyamAhuja commented on #4659
@stalgiag I think there should be a development mode with library management on p5 web editor which can provide easy access to switching versions of p5 and also have option for latest build generated once per day or every time a pull request gets merged.

https://github.com/processing/p5.js-web-editor/issues/1396#issuecomment-644929088

[2020-06-24 20:25] #4646 closed

[2020-06-24 20:27] lmccart commented on #4659
thanks @DivyamAhuja! yes I agree this would be a great feature. it looks like it's already being tracked in the web editor repo, so I'll close this thread for now.

[2020-06-24 20:27] #4659 closed

[2020-06-25 17:34] stalgiag commented on #4656
Ah this is the cause of a problem with something that I was working on. Thanks for pointing it out! I spent a lot of time assuming that touchStarted should be working across devices. Le sigh! I don't know if those `navigator.userAgent` checks make sense anymore. I just looked at the property and 'Safari' is included in latest Firefox for Windows 10 but not on latest Firefox with Mac 10.15.5.

I te

[2020-06-25 17:42] stalgiag commented on #4656
If anyone has ideas for a possible solution, I can test it on my temporary abundance of devices. My instinct is to say that that `navigator.userAgent` check should be replaced with something that only catches mobile Chrome.

[2020-06-25 17:53] dhoizner commented on #4656
@stalgiag i’m relatively new here, so not sure whether this has been looked at before... are pointer events worth looking into? We could probably still provide mouse vs touch by using the `pointerType`.

[2020-06-25 18:10] stalgiag commented on #4656
Welcome @dhoizner ! I don't have much experience with the input events part of the library. I know that one difficulty is that we want `touchStarted` and `mousePressed` to work interchangeably across devices that do or not have touch inputs so I am not sure that a `pointerType` check would work. I am not sure though! Maybe @lmccart or @outofambit have thoughts?

Here is the [most recent relevant i

[2020-06-25 19:04] dhoizner commented on #4656
Thanks! I’ve been digging around for issues that I could tackle:).

If we want them to work interchangeably, that might make pointer events even more compelling! I think this was the exact problem they were meant to solve.

[2020-06-25 19:12] stalgiag commented on #4656
Ah I see! I dug around [the pointer events docs](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events) a bit more and this does look ideal but it [lacks safari support](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/pointerdown_event). :-(

[2020-06-25 19:17] dhoizner commented on #4656
weird! [Can i use...](https://caniuse.com/#feat=pointer) says that newer versions of Safari do support it, I wonder what the mismatch is.

[2020-06-25 19:40] stalgiag commented on #4656
Looks like MDN needs to be updated; I'll report it. I just tested and works in Safari 13. Safari 13 is supported for most iOS/macOS devices. **I don't know what our opinions are on only supporting newer versions of Safari. What do others think?**

[2020-06-25 20:09] limzykenneth commented on #4656
Safari 13 is still too new to be the only version to be the minimum version to be supported, at least not until Safari 14 is released (probably with the new macOS in the Fall) otherwise the official support of last two major versions would be a bit of a problem here.

Practically it probably won't cause a big problem if we use pointer events as most Apple users seems to be relatively up to date in

[2020-06-26 03:49] akshay-99 opened #4662 "FES: Friendly messages for global errors"
#### Most appropriate sub-area of p5.js?
- [x] Other (Friendly Errors)

There are a lot of errors that a person may encounter when writing a sketch. Some of these are quite straight forward, while others are more cryptic. It would be nice if the FES can monitor all the errors that arise, and see if it can give a simplified explanation for them and so I browsed through the discourse forum to learn

[2020-06-26 10:19] Pratyush21706 commented on #3281
shittttttttttttttttttt!!!!!!!!!!!!!

[2020-06-26 17:23] stalgiag commented on #4662
@akshay-99 thanks for doing more research and coming up with further ideas. I hope you don't mind but I took the liberty of editing your post so that there is a list of ideas at the bottom. Can you keep this list updated as ideas are suggested or ruled out?

I am going to brazenly tag people that might have insight into cryptic errors that new coders encounter often. @kjhollen @lmccart @GoToLoop @

[2020-06-26 20:53] akshay-99 commented on #4662
Hi @stalgiag, the error message starting with `Error: [object Arguments]is not a valid color representation` was just meant as an example to support the argument for simplifying the stack trace, so I am changing that to just "simplify stack trace and remove internal details" :smile: And yes I would be happy to maintain this list of ideas.

[2020-06-27 06:56] dhoizner commented on #4656
thoughts on how to proceed here? i can open up a pr to remove the filter- that would get firefox working and leave everything else the same.

in the meantime, i can also start on a pointer events implementation and we can figure out how that needs to interplay with mouse/touch events until safari 14 comes out.

[2020-06-28 16:07] lmccart commented on #4656
hey all thanks for digging into this. I agree, let's move to pointerEvents as soon as we can. looks like that's not yet, but @dhoizner if you want to start work on a PR for that so we have it ready to go that's great.

regarding firefox, I'm a little confused. are you saying firefox doesn't have `navigator.userAgent`? it seems based on [caniuse.com](https://caniuse.com/#search=useragent) that the

[2020-06-28 19:01] lmccart commented on #4662
@akshay-99 excited about this work!

If I'm understanding correctly, we're looking for common errors that are JS level, rather than p5 specific, correct? I think the two you've identified already are very common ones. Also:
- [`Uncaught TypeError: Cannot read property 'blah' of undefined`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Undefined_prop)
- [`SyntaxError: Une

[2020-06-28 22:13] Danie12345 commented on #2135
This issue is still happening.

[2020-06-29 03:15] akshay-99 commented on #4662
Thanks @lmccart !

Yes!

I was thinking about Syntax Errors but I wasn't sure if handling them would be possible as they occur during parsing, as opposed to those which happen during execution. I will see what can be done.

[2020-06-29 03:53] jywarren commented on #764
Hi, I found something odd, that running this actually produces an element called "<loadingdiv>":

![image](https://user-images.githubusercontent.com/24359/85970986-03518e00-b99a-11ea-8fca-35939f313a85.png)

It came up because I was trying to create CSS to hide the loadingdiv which in my app I don't want to see. So, for posterity, if folks want to, the CSS required ought to be:

[code]

However, ma

[2020-06-29 03:59] jywarren commented on #764
Aha! An easy way to suppress the message, which works (Chrome 83.0.4103.116) is:

[code]

Awesome!

[2020-06-30 09:38] anniemckinnon opened #4663 "noLoop() - example not working"
Hi everyone,
noLoop() p5.MediaElement isn't working.
I don't yet have the skills to fix this and would love to be able to use this function,
any help would be greatly appreciated.
Best,
Annie

[2020-06-30 11:15] limzykenneth commented on #4663
The `loop` attribute set on the audio element should be removed instead of set to false in order for it to stop looping, [this line](https://github.com/processing/p5.js/blob/1.0.0/src/dom/dom.js#L2657) needs to be changed from `this.elt.setAttribute('loop', false);` to `this.elt.removeAttribute('loop');`. The example is also missing a `sampleIsPlaying = false;` [here](https://github.com/processing

[2020-06-30 11:20] muaviya commented on #4037
it's work for me, thanks

[2020-07-01 01:01] anniemckinnon commented on #4663
Hi Kenneth,
thank you! I will give it a go now!
Thanks for the encouragement.
:)

[2020-07-01 03:01] ziyaointl opened #4664 "Inconsistent behavior for arc"
When start angle and end angle are both 2*PI, arc in PIE mode draws a small dot but all other modes do not. To keep the behavior consistent, maybe none of the modes should draw anything when the delta is 0?

<img width="419" alt="Screen Shot 2020-06-30 at 6 34 16 PM" src="https://user-images.githubusercontent.com/18119047/86198347-4c295400-bb0c-11ea-865e-2fd6f41fc81a.png">

(Scroll down for code)

[2020-07-01 05:40] lmccart opened #4665 "@all-contributors please add @pcgamer1 for code"
@all-contributors please add @pcgamer1 for code

[2020-07-01 14:05] nakul-shahdadpuri opened #4666 "Execution Control."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [x] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
Is there a way to control the execution of a sketch. For example, A certain DOM element could start the execution of a sketch, while the othe

[2020-07-01 18:49] joemckay5 opened #4667 "saturation() issues"
Hi Folks. I'm experiencing a problem with saturation that was first outlined in the now-closed ticket #1620.
The saturation value of a color is not being returned correctly. Here's a sketch demonstrating the bug.
https://editor.p5js.org/Joemckay/sketches/2NMSFqN7u
I tested it with a number of versions of p5, including the 1.0.0 build. (I also tested my code in Processing and it's working there).

[2020-07-02 02:05] ziyaointl commented on #4664
Thanks to @dzaima, I realized that in my orginal snippet the start angle and end angle are acutally not the same. When I manually set them to a fixed value, I get a full circle instead of nothing:

[code]
<img width="460" alt="Screen Shot 2020-07-01 at 7 02 52 PM" src="https://user-images.githubusercontent.com/18119047/86308334-c7067380-bbcd-11ea-9ed5-34d69192cc98.png">

[2020-07-02 02:58] jeremydouglass commented on #4664
Does that mean this issue can be closed, or is there still something to resolve?

[2020-07-02 04:37] olleicua opened #4668 "Allow the rotate function to specify an axis in 2D"
#### Most appropriate sub-area of p5.js?

- [ ] Core/Environment/Rendering

#### Feature enhancement details:

I want to be able to rotate objects in 2D without the center of rotation being the origin. I noticed that it is possible to move the origin using the translate function but this then requires me to reposition objects with respect to the new origin and that won't work if I want different o

[2020-07-02 09:17] ziyaointl commented on #4664
@jeremydouglass I think the behavior is still inconsistent since I think if the start angle and end angle are the same we should expect nothing to be drawn instead of a full circle :)

[2020-07-02 12:48] akshay-99 opened #4669 "setup runs twice in instance mode in the presence of p5.sound and large browser extensions"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering ( Initialization )

#### Details about the bug:

- p5.js version: 1.0.0
- Web browser and version: Chrome 79.0.3945.88
- Operating System: Ubuntu 18.04
- Steps to reproduce this:

Please bear with me this is going to be a large description :sweat_smile: .
**TL;DR** is that there apparently seems to be some kind of a race co

[2020-07-02 20:10] joemckay5 commented on #4668
You can translate from your translate if you push without popping. Here's a sun-earth-moon example
https://editor.p5js.org/Joemckay/sketches/GHYH1-ugr

[2020-07-02 21:06] limzykenneth commented on #4666
You can use `noLoop()` and `loop()` to start and stop the `draw()` function.

If you need further help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-07-02 21:06] #4666 closed

[2020-07-02 21:10] limzykenneth commented on #4668
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2020-07-02 23:11] olleicua commented on #4668
I wasn't looking for help with my own code and I was aware of the questions forum. I see that it is possible to accomplish this as is but I still think that the rotate function would be more user-friendly if it were possible to use the syntax I described in addition to the method sugg to use if it were possible to accomplish this both ways

[2020-07-02 23:23] olleicua commented on #4668
Thanks joemckay5. Using the translate function in this way works but I still find it a bit counter-intuitive because it requires me visualize a rotating frame of reference. I can do this if I have to but I'm not sure it is the easiest way for everyone. Given that part of p5's goal is to be accessible to as many coders as possible I think it would be best to support both the method in your example

[2020-07-03 06:59] lmccart commented on #4611
@outofambit not trying to rush you, but just wanted to offer... if it's helpful for a few of us to get in a sync doc situation and hash it out i'm happy to help

[2020-07-03 07:05] lmccart commented on #4665
@pcgamer1 it looks like you're already listed in the [contributors section](https://github.com/processing/p5.js#contributors), so i'm going to close this. let us know if there was a change you wanted to make to your entry?

[2020-07-03 07:05] #4665 closed

[2020-07-03 09:30] limzykenneth commented on #4668
In general we don't try to make the library do everything in every way possible so I would not recommend adding the complexity of a special rotate signature that ignores translate (would it ignore rotates as well?).

I would suggest holding off on a PR for now until there is a concensus about whether to add this feature or not.

[2020-07-03 09:34] limzykenneth commented on #4669
Does sound like a race condition bug in p5.js. I don't have the time to replicate this but if someone else can have a go at it and able to replicate it, you can go ahead with a fix.

[2020-07-03 13:29] Trumpet63-stream opened #4671 "selectAll() warning message disagrees with documentation"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
I passed a p5.Element to selectAll() as its second argument, which should work according to the reference doc, but I got the following mess

[2020-07-03 14:16] Trumpet63-stream opened #4672 "Falsey radio option value is ignored"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
Specifying a falsey value for the second argument of a radio element's .option() (e.g. 0, "", false) causes it to behave as if no value was

[2020-07-03 16:29] stalgiag commented on #4669
I am able to reproduce with:
Mac 10.15.5
Chrome 83.0.4103.116
Grammarly Extension 14.960.0
and latest p5.sound

[2020-07-03 17:08] outofambit commented on #4611
@lmccart that would be great, thank you! 🙏🏼 what did you have in mind?
(i started a draft [here](https://github.com/outofambit/p5.js/blob/access-focus-statement/contributor_docs/access.md) but i'm not sure if the tone is right.)

[2020-07-03 17:57] pcgamer1 commented on #4665
@lmccart It's just that I am not seeing p5 as an organization on my profile, I think that is supposed to happen when I am added to the contributors. Can you clear this out for me.

[2020-07-03 18:20] lmccart commented on #4665
ah @pcgamer1 I see. adding to the contributors list just puts your name in the readme section. but I can add you to the p5.js team in the processing foundation org and it will show up. doing that now.

[2020-07-03 18:28] pcgamer1 commented on #4665
@lmccart I get it now, thanks for the invite!

[2020-07-03 20:11] limzykenneth commented on #4672
This has been fixed by #4395 and will be available on the next release.

[2020-07-03 20:11] #4672 closed

[2020-07-03 20:19] olleicua commented on #4668
It wouldn't ignore translate. It would do the translate for you. It would work like the transform-origin css property. Basically the user passes in the coordinates within whatever the current frame of reference is (including any translates that have previously happened) and then internally the library could call translate(x, y) then rotate then translate back with translate(-x, -y). The reference

[2020-07-03 20:41] limzykenneth commented on #4668
I find in this case the solution suggested by @joemckay5 easier to work around, the reference frame can be prevented from rotating by having a pair of `push()` `pop()` around them.

In the 3D case it is different. The rotation origin still stays the same and controlled by `translate()`. The second argument is the axis in which to rotate (normal to the plane of rotation), not the origin (since ther

[2020-07-03 21:45] outofambit commented on #4656
thanks everyone for digging into this! @lmccart i think calling `navigator.userAgent` itself works fine on firefox. my hypothesis is that either firefox has always had this behavior and we didn't notice or they changed their implementation of when `touchStarted` is called such that it needs the same workaround as safari. and after testing in macOS chrome, it looks like `mousePressed` is not fired

[2020-07-03 21:55] brysonian commented on #4662
I don't have much to add, other than maybe there should be some thought into what goes into the library, and what goes into the editor via linting. Of course new coders aren't always using the p5 editor, so there is a judgement as to who is being supported. But i guess my worry is that adding too much to the lib itself will impact performance, and that many of these errors are better caught via li

[2020-07-03 22:21] olleicua commented on #4668
I recognize that there are ways of doing this without my feature. The point I'm trying to make is that for some people the existing ways feel counter-intuitive. Forcing the developer to visualize a transformation of the reference frame in order to rotate one object in an intuitive way (something they may not even consider trying) introduces unnecessary friction. Reading the p5 website and github p

[2020-07-03 22:58] akshay-99 commented on #4662
Thanks @brysonian! I understand these concerns. It is true that some of these issues can be addressed by linting. But the FES approach used here is different in the sense that it only reacts to actual errors. This is also why I think that the performance impact would be felt only when there is an actual error, which is a reasonable pay-off I think (in most cases if there is an error, the sketch ca

[2020-07-04 00:01] lmccart commented on #4656
I agree with @outofambit's TLDR above!

[2020-07-04 03:37] joemckay5 commented on #4668
I'm not fully understanding how your proposed code would make the sun-earth-moon simulation easier.
If you just want the earth to rotate around the sun then rotateAround(locSun, locEarth, angle) makes sense. But then how do you rotate the moon? P5 doesn't have a screenX screenY function like processing, so if you're using translate and rotate how does your rotateAround function return the location

[2020-07-04 05:39] olleicua commented on #4668
https://editor.p5js.org/olleicua/sketches/CSpYx_IFS

The above is what I am proposing and it is definitely simpler than the trig solution for someone less familiar with trigonometry as wells as avoiding all of the complications of push/pop that a novice programmer might find more challenging. I really want to emphasize that it isn't really relevant whether you or I feel that a solution we have fou

[2020-07-04 05:43] olleicua commented on #4668
As a side-note, an advantage of the code I linked in my most recent comment is that if you comment out either or both of the calls to `proposedRotate` you get exactly the result you would expect. This makes debugging easier (something a lot of novice programmers struggle with).

[2020-07-04 05:47] X-method opened #4674 "add documentation of npm install p5"
As a non-expert JS developer, I would appreciate clear documentation showcasing the integration of p5.js via `npm install p5` . There are literally 0 references to npm, albeit the "instance mode" being an indirect implementation of such use case.

I will happily make a PR for documentation update once I get my actual work done.

[2020-07-04 09:23] WendelTytan opened #4675 "mousePressed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: p5.js/0.10.2/
- Web browser and version: Mozilla Firefox - 78.0.1 (64-bits) // Microsoft Edge - 83.0.478.58
- Operating S

[2020-07-04 09:35] WendelTytan commented on #4675
I think I found it, in my html it was together with the min version of j5, when I removed it ran as expected, so I believe it must be some interference

[2020-07-04 09:35] #4675 closed

[2020-07-04 09:50] akshay-99 commented on #4671
Hi, this has been fixed in patch #4580. The changes will be reflected in the next release. In the current release I think only the message was incorrect. The `selectAll` function itself should work as expected. You can ignore this message for now.

[2020-07-04 11:37] #4671 closed

[2020-07-04 18:50] joemckay5 commented on #4668
Try drawing anything after you call your function and it will also be rotating. Push and pop are necessary because it resets the rotation as well as the position.
At this point I agree with limzykenneth that this conversation belongs in a different forum. I think a lot of what you're perceiving as snobbishness is due to the context and in another setting people will be more interested and generous

[2020-07-04 19:57] lmccart commented on #4611
@outofambit I'm up for anything. what have you drafted looks great! happy to get on a call or live chat to workshop this further. I can also just leave comments on a PR or doc if that's easier.

[2020-07-04 21:01] lmccart commented on #4631
Ok all links in wiki and open issues are have been updated. There may be some remaining broken links in closed issues, but I think we can update these as needed. Thanks everyone.

[2020-07-04 21:01] #4631 closed

[2020-07-04 21:03] lmccart commented on #4638
I'm going to close this for organizational purposes. Please open another issue if you can add more info for us to help. You can also check out our forum for more code help: https://discourse.processing.org/

[2020-07-04 21:03] #4638 closed

[2020-07-04 21:09] dhowe commented on #4668
Just going to jump here with my two-cents that a version of rotate (in 2d) that takes the point of rotation might actually be  rather useful for new students. Each year I have one or more students who need to do a simple rotation in 2d to complete a piece, well before we have done affine transforms and I have to tell them either to wait, or to go ahead to that lesson on their own. For the 2d case

[2020-07-04 23:08] outofambit commented on #4611
@lmccart thanks! since it doesn't seem way off, i opened a PR #4676 and i would love your and @lm-n 's feedback, thoughts, and revisions!

[2020-07-05 06:05] chen-ni commented on #4668
@olleicua push() and pop() are really powerful and essential to p5. In my understanding, your code is a workaround to avoid using push() and pop(). It does work in some cases and I would even agree that it's more intuitive than using push() and pop(), but at some point down the road, one would have to get used to using push() and pop(). For example, what if one has to simulate the rotation (turnin

[2020-07-05 06:17] lmccart commented on #4674
@X-method that would be great!

[2020-07-05 06:37] montoyamoraga commented on #4674
thank you so much @X-method, i tagged you as assignee for this :)

[2020-07-05 06:59] montoyamoraga commented on #4668
hi @olleicua thank you for your contribution!

i struggle myself with rotation and translation,
and i rely on the documentation we have,
and i use a lot push() and pop()
to not lose track of what i am doing
and i do love the push and pop paradigm :)

maybe a good solution is you can help is to include your function
as an example, or adding it side by side to an example
using the existing combinati

[2020-07-05 07:50] dhowe commented on #4668
I think that people are underestimating the conceptual leap for new students moving from basic commands and specific x/y positions (point, line, rect, etc) and matrices/affine-transforms.  Better coders should of course understand/use the latter, but there is a case to be made, in line with the p5js philosophy, that we should facilitate learners doing simple rotations in 2d with as little conceptu

[2020-07-05 14:38] limzykenneth commented on #4674
It seems there are increasing interest in using p5.js from NPM, @X-method while working on this if there is specific ways we could improve the codebase to make it less problematic to use p5.js from NPM do let us know as well.

[2020-07-05 15:45] joemckay5 commented on #4668
dhowe, I teach Processing too, and you're right, rotation is a tricky topic. I hope everyone is keeping in mind that the proposed function doesn't alleviate the need to push and pop.

[2020-07-05 20:44] lmccart commented on #4668
I guess I feel that "moving from basic commands and specific x/y positions (point, line, rect, etc) to matrices/affine-transforms" may not represent a complete beginner student anymore. So while this would be helpful for some, it may not necessarily be working toward our goal of expanding access, especially for those identifying with groups that have been historically marginalized.

[2020-07-06 00:11] Asupkay opened #4677 "Cannot enable wireframe on WebGL custom shapes."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: p5.js v0.10.2
- Web browser and version:  83.0.4103.97 (Official Build) (64-bit)
- Operating System: Linux Mint 18 Cinnam

[2020-07-06 02:15] dhowe commented on #4668
@lmccart can you clarify what you mean above? I'm not suggesting new people learn the internals of matrices - I only mean using the push/pop, translate, rotate, scale mode of drawing/thinking.

[2020-07-06 02:38] lmccart commented on #4668
I'm wondering, by the time you get to the point where a student is rotating an object around an axis, if we are beyond the "newbie" barrier to some extent.

[2020-07-06 06:30] dhowe commented on #4668
Probably depends on the case, though often the question comes up (in a first year class) when we do simple animations with variables (week 3-4?), well before drawing with transforms (week ~10).

[2020-07-06 08:35] SavageGarrett opened #4678 "Getting Right Click and Middle Mouse"
I am working in a browser i.e. including my sketch.js file in an html document.
Using the mouseClicked() function I can get left clicks but mouseButton only gives me left click.
I would like to be able to right click or click down on the scroll wheel
I have also tried passing in the event parameter and using event.button to no avail.

It says in the p5.js docs there is an issue with browser suppor

[2020-07-06 16:51] stalgiag commented on #4677
Hi @Asupkay thanks for the issue! This is a problem with TRIANGLE_STRIP stroking that was fixed in #4533 and will be in the next release. You can build from the `main` branch of this repo or use an older version of p5 in the meantime. I am closing this for organizational purposes but feel free to ping me here if this doesn't solve your problem.

[2020-07-06 16:51] #4677 closed

[2020-07-07 02:05] JimBrink opened #4679 "arc trig functions descriptions ignore angleMode(DEGREES)"
The description of the 4 arc trig function state the result will be in radians.  However, if the angleMode is DEGREES, the result is in degrees.  Here are suggestions for correcting those descriptions:

 * The inverse of <a href="#/p5/cos">cos()</a>, returns the arc cosine of a value. This function
 * expects the values in the range of -1 to 1 and values are returned in
 * the range 0 to PI (3.141

[2020-07-07 12:03] JimBrink commented on #4679
Correction.  In the description of atan2, the angles should range from 180 to -180. The description  should read

 * Calculates the angle from a specified point to the coordinate
 *  origin as measured from the positive x-axis. Values are returned as a
 *  float in the range from PI to -PI if the angleMode is RADIANS or 180 to
 *  -180 if the angleMode is DEGREES. The atan2() function
 *  is most

[2020-07-07 16:24] slowizzm commented on #4678
https://discourse.processing.org/t/getting-right-click-and-middle-mouse/22422/2

Via p5.js reference page, [mouseClicked()](https://p5js.org/reference/#/p5/mouseClicked) description …

" Browsers handle clicks differently, so this function is only guaranteed to be run when the left mouse button is clicked. To handle other mouse buttons being pressed or released, see [mousePressed()](https://p5js.o

[2020-07-08 20:29] X-method commented on #4674
Hey everyone, I noticed the documentation updates will only affect the `p5js-website` repo, so I'll close this issue and make a PR there.

[2020-07-08 20:29] #4674 closed

[2020-07-08 20:48] buggles1 opened #4680 "noFill not working in 1.0.0. WEBGL"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
 noFill(0) is not working in 1.0.0. It works with built-in shapes but not those created with a vertex list.

- p5.js version: 1.0.0
- Web

[2020-07-08 21:51] montoyamoraga commented on #4680
hi @buggles1,

could you plase show us an example on our editor.p5js.org?
that would be awesome, thanks!

[2020-07-08 22:11] buggles1 commented on #4680
I will send you the code directly because noFill() works in the editor but
not in HTML. Thanx.
noFill() works in v 0.10.2. I have tested it and submitted an issue report.

<html>
<head>
  <script src="p5.js"></script>
</head>
<body>

<script>
var th = .345;

function setup() {
  createCanvas(800, 600, WEBGL);
}
function draw() {
   background(204);
   rotateX(-0.5);
   scale(3);

   fill('orange')

[2020-07-09 15:56] stalgiag commented on #4680
Hi @buggles1 thanks for the issue! This is the same as #4677 and #4530 and is fixed in the main branch here on the Github.

We can leave this issue open until the next release.

[2020-07-09 16:01] buggles1 commented on #4680
Thank you. How do I get the update from Github? Sorry, new to Github.

~ Godspeed ~

On Thu, Jul 9, 2020 at 10:56 AM Stalgia Grigg <notifications@github.com>
wrote:

[2020-07-09 16:45] stalgiag commented on #4680
Hi @buggles1 You can do [steps 1-5 of the Development Process](https://p5js.org/contributor-docs/#/README?id=development-process) section of the contributors docs.

Alternatively you can use [the library file in this editor sketch.](https://editor.p5js.org/stalgiag/sketches/gcSyqmJsl)

[2020-07-09 17:09] buggles1 commented on #4680
noFill() does work in the editor. It also works in v0.10.2. Going
through the development process seems very daunting. Can't I just get
Githubs latest version of p5.js somewhere? Thanx.

~ Godspeed ~

On Thu, Jul 9, 2020 at 11:45 AM Stalgia Grigg <notifications@github.com>
wrote:

[2020-07-09 17:23] buggles1 commented on #4680
Your version of p5.min is v1.0.0 but is dated June 8, 2020. My version is
v1.0.0 dated Fb 29, 2020. I downloaded the latest version (or so I thought)
a few days ago thinking that was my problem. Where can I go to get the
latest, latest version? Thanx, this is most helpful.

~ Godspeed ~

On Thu, Jul 9, 2020 at 11:45 AM Stalgia Grigg <notifications@github.com>
wrote:

[2020-07-09 17:27] stalgiag commented on #4680
You do have the latest officially released version which was made on Feb. 29th. The other file (June 8th) was built locally by me with the most recent Github main branch using the steps in the above linked contributor docs.

[2020-07-09 17:50] montoyamoraga commented on #4680
thank u @stalgiag !

[2020-07-09 18:07] buggles1 commented on #4680
You are obviously one of the main forces in p5js development. Thank you for
responding to my issue. Could you send me the June version of 1.0.0 or am I
asking for trouble using it. I have June p5.min from your sketch. As a
casual user am I really going to notice a difference.

This was to be my workaround just fyi:

function framePoly(v) { // v is an array of vertices - preferably in groups
of 3 :

[2020-07-09 18:43] endurance21 opened #4681 "version number mismatch on npm"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ x] Other (versioning on npm)

#### Feature enhancement details:
The actual version at of p5 at npm  shows `1.0.0`  however as you download it and opening the p5.js file in /node_modules/lib
we see `

[2020-07-10 10:47] limzykenneth commented on #4681
It is a known slight build error, only the version string at the top is incorrect. The library itself is 1.0.0. We cannot republish the package but this error should be fixed by the next release.

[2020-07-10 10:47] #4681 closed

[2020-07-10 11:00] limzykenneth commented on #4664
A check probably can be added at the [beginning of the `arc` function](https://github.com/processing/p5.js/blob/main/src/core/shape/2d_primitives.js#L172) or the [normalize angle function](https://github.com/processing/p5.js/blob/main/src/core/shape/2d_primitives.js#L38) to account for this.

[2020-07-11 07:42] joeyaronson opened #4682 "Specular material can take in an optional [alpha] value, but throws a TOO_MANY_ARGUMENTS error"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
When given an alpha argument, either with specularMaterial(v1, [alpha]), or specularMaterial(v1, v2, v3, [alpha]) the specular material app

[2020-07-11 15:25] medakk opened #4684 "Feature request: scaled add for vectors"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

It'd be nice if I could add a vector scaled by a scalar to another vector in a single operator. This is a common pattern when doing integrat

[2020-07-11 16:03] #4682 closed

[2020-07-11 19:51] joeyaronson commented on #2309
@all-contributors please add @joeyaronson for code and bug

[2020-07-12 15:16] haideralipunjabi opened #4687 "Uncaught TypeError in createColorPicker() 's color() if initialised without parameter"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v0.10.2 February 29, 2020
- Web browser and version: Google Chrome 83.0.4103.116
- Operating System: Manjaro Linux
- Step

[2020-07-12 16:50] #4687 closed

[2020-07-12 21:48] mkmori commented on #377
I keep missing `modelX/Y/Z()` (and `screenX/Y/Z`), too. I think this closed request is specific to P2D. (In P2D, `modelX/Y()` and `screenX/Y()` would give the same, x,y values, right?)

If so, are these limitations specific to canvas/P2D? And so, in WEBGL mode, `modelX()`, `modelY()`, `modelZ()` might be possible? (Or maybe trivial?) Are `screenX`, `screenY`, and `screenZ` (z-buffer depth?) simila

[2020-07-13 04:08] anniemckinnon commented on #4663
@limzykenneth and @lmccart . I have done my best to make my first pull request to resolve this issue.
I hope it works. Thanks again for the encouragement.

[2020-07-13 08:56] santimirandarp opened #4690 "Fullscreen returns an error"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: p5.js v1.0.0 February 29, 2020
- Web browser and version: Firefox developer edition 79.0b6
- Operating System: Linux (Ubuntu based)
- Steps to reproduce this:

Just entering to the reference page https://p5js.org/reference/#/p5/fullscreen take a quick look at the code and click

[2020-07-13 10:51] Hugo54x opened #4691 "dropdown and input in the canvas"
#### Most appropriate sub-area of p5.js?
- [x] Dom
- [x] IO
- [x] Utilities
#### New feature details:
It would be nice to have an option, to create a dropdown and an input field directly tied into the p5 canvas. I am currently writing an application. When I use the createSelect() and later add some more content before my canvas the position of these elements would be destroyed. I would prefer a cr

[2020-07-13 14:18] mkmori commented on #4668
As a mid-level newbie with gaps in my math ed., (like matrix ops!), `push()/pop()` (`pushMatrix()/popMatrix()`) is pretty basic to enabling me to handle a whole range of multiple, complex, (incl. recursive!) transformations with any "elegance".

I would also take the opportunity to plug `screenX/Y/Z` (for "picking" and screen effects) and `modelX/Y/Z` (for construction)....

These features seem to

[2020-07-13 19:18] JimBrink opened #4692 "Example for pointLight does not work."
The example in  https://p5js.org/reference/#/p5/pointLight doesn't work.  It appears that the light source location is supposed to move with the mouse but that doesn't happen.  The variables locX and locY do follow the mouse so unfortunately the problem is probably with the code for pointLight.

#### Most appropriate sub-area of p5.js?
- [ x] WebGL

#### Details about the bug:

- p5.js version:  p

[2020-07-13 19:24] akshay-99 commented on #4692
Hi!
I think this is because of issue #4391 which was patched in #4509

[2020-07-14 03:39] haideralipunjabi commented on #4690
I tried to reproduce the bug, but wasn't able to in `Google Chome 83.0.4103.116`. I downloaded `Firefox 79.0b7` and I was able to reproduce this bug.

The bug doesn't occur generally, but I was able to reproduce it by opening the Developer Tools / Console and focusing on it. If `fullscreen()` is called while being focused in the console, an error is thrown.

`Uncaught (in promise) TypeError: Fulls

[2020-07-14 09:28] grege2 commented on #4515
Hi @stalgiag  and @matvs , just fyi, I encountered this problem, tint() not working with texture() in WEBGL in p5 1.0.0, and searched the Github issues. I'm glad to see it will be resolved in the next release, and the tip "setAttributes('perPixelLighting', false);" got me going well enough for now. Thanks, Greg E

[2020-07-14 10:44] limzykenneth commented on #4690
Another reason fullscreen request can fail is if the request takes longer than 1000ms to finish (Firefox specifically). That can happen when you have a lot of tabs opened in your browser. I encounter this quite a bit on all kinds of site, including YouTube.

[2020-07-14 10:47] limzykenneth commented on #4691
Does [p5.gui](https://github.com/bitcraftlab/p5.gui) have something that does what you want?

[2020-07-14 10:57] limzykenneth commented on #4684
Can this be achieve with chaining instead? eg. `v.mult(dt).add(x)`

[2020-07-14 11:16] Hugo54x commented on #4691
@limzykenneth thx, this is what I am searching. I googeld for "p5 dropdown", but I did not find that.

[2020-07-14 11:16] #4691 closed

[2020-07-14 13:46] medakk commented on #4684
That doesn't signal the intent well ie: mutating the velocity and also "adding" the position to the velocity. I'm trying to capture `x += dt * v`. Maybe what you meant is `x = v.copy().mult(dt).add(x)`?

[2020-07-14 14:06] limzykenneth commented on #4684
Yes, something like that. My code's just an example to show chaining is possible, it will mutate `v` but `x = v.copy().mult(dt).add(x)` should work without mutating v.

[2020-07-14 14:11] medakk commented on #4684
I think the original `x.add(p5.Vector.mult(v, dt));` is a lot more succint

Anyway, this is not a big deal. I just found it to be a nice touch in rust ndarray: [scaled_add](https://docs.rs/ndarray/0.12.1/ndarray/struct.ArrayBase.html#method.scaled_add). Also since there is no way to implement `x += dt*v` in js.

[2020-07-14 15:42] #4662 closed

[2020-07-14 16:14] akshay-99 opened #4694 "FES + i18n: Loading translation files from CDN"
#### Most appropriate sub-area of p5.js?

- [x] Friendly Errors
- [x] Internationalization

#### Feature enhancement details:

Internationalization was introduced to the FES in #4233. So far we only have English strings for the FES and even [that file](https://github.com/processing/p5.js/blob/b52226962eebf9f58f70eed68c4ce32661677d23/translations/en/translation.json) is starting to get pretty big,

[2020-07-15 15:06] #4663 closed

[2020-07-15 15:10] limzykenneth commented on #4694
The CDN option seems good to me. We can package the English version into the library itself so something is always available offline. In the future it would be nice if the website itself can package the appropriate langauge version into the library download depending on which language the user is viewing the website in, but that's much more advanced.

[2020-07-15 15:13] limzykenneth commented on #4667
I don't quite understand what I'm looking for in the sketch, can you give a brief description of what is the expected behaviour and the actual behaviour? It would be helpful to have the browser and OS versions as well.

[2020-07-15 15:50] joemckay5 commented on #4667
Hi limzykenneth,
The green text under the mouse is returning the hue, saturation, and brightness values of the color at mouseX, mouseY.
Start with the small rect in the sketch that was made with the color hsb(50, 50, 50). If you mouseover that box the value of the saturation is 33, not 50 as it should be.  The brightness and Hue are correct (or really close).
I created the gradient so you can "tra

[2020-07-16 03:36] WDSTEVE opened #4695 "Push and Pop throw error when ran through canvas instance variable"
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

- p5.js version: v1.0.0
- Web browser and version: Chrome 83.0.4103.116 (64-bit)
- Operating System: Windows 10 Version 1909
- Steps to reproduce this:
[code]

[2020-07-16 04:45] chen-ni commented on #4695
I've searched through the documentation and have not found that push() and pop() could be used this way. Could you add a reference to this usage?

[2020-07-16 14:54] WDSTEVE commented on #4695
My assumption was that, as push and pop have a effect on graphics, they could be run on a canvas instead of globally like other graphical functions. If this behavior was intended I will replace this thread with a feature request.

[2020-07-16 15:22] KaviiSuri opened #4696 "Uncaught (in promise) TypeError: i[Symbol.iterator] is not a function in p5.min.js"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: v1.0.0 February 29, 2020
- Web browser and version:  Google Chrome | 83.0.4103.116 (Official Build) (64-bit)
- Operating

[2020-07-16 15:25] #4696 closed

[2020-07-16 15:53] stalgiag commented on #4667
Hi @joemckay5 this example might be a bit complicated for tracking the problem. Is this similar to your problem or is the switch back to `RGB` important?
[code]

Either way I think behavior is unexpected but I also have no experience with the color modes.

[2020-07-16 15:57] chen-ni commented on #4695
@WDSTEVE It seems to me that `push()` and `pop()` do not apply to graphics. To apply them to a graphics `pg`  I would have to use `pg.push()` or `pg.pop()` instead. See an example I've created: https://editor.p5js.org/chen-ni/sketches/H0Nz0mcyS. I guess `push()` and `pop()` apply to the canvas by default.

[2020-07-16 16:31] WDSTEVE commented on #4695
Awesome, sorry for the miss files issue

[2020-07-16 16:31] #4695 closed

[2020-07-16 20:39] joemckay5 commented on #4667
I think the bug I'm experiencing happens in the mode switch between hsb and rgb. Here's your code updated to replicate my problem.
(This all started because I wanted to make a better color picker than the one that comes with Processing.)

`
function setup() {
  createCanvas(400, 400);
  colorMode(HSB, 255);
  let c = color(50, 50, 50);
  fill(c);
  rect(0, 0, width, height);

  colorMode(RGB);
  c

[2020-07-18 01:39] jeong commented on #4408
@mojosoeun 번역 속도 높이는 데 지원하러 왔습니다. :)

[2020-07-18 07:57] mojosoeun commented on #4408
@limzykenneth @montoyamoraga,  To finish Korean translation and close this issue, I would like to get help from @jeong and split up documentation. Can I do that?

[2020-07-18 08:13] limzykenneth commented on #4408
Yes of course.

[2020-07-18 13:54] VincentHch opened #4697 "storeItem() - prevent the overwrite of a key type"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

When a key is stored, its type is also stored whose name is the initial key name followed by `"p5TypeID"`.
If a key named `"someText

[2020-07-18 14:46] VSMent opened #4698 "https://p5js.org/ wrong links"
I am not sure if it is correct place, but want to notify that links from [this page (Vector)](https://p5js.org/reference/#/p5.Vector), from Description
**mag()** and **heading()**  should bring us to:
`https://p5js.org/reference/#/p5.Vector/mag` and
`https://p5js.org/reference/#/p5.Vector/heading`.

Instead, they do:
`https://p5js.org/reference/#/p5/mag`
`https://p5js.org/reference/#/p5/heading`

[2020-07-18 14:53] limzykenneth commented on #4698
The links can be edited in the inline documentation [here](https://github.com/processing/p5.js/blob/1.0.0/src/math/p5.Vector.js#L15)

[2020-07-18 19:07] VSMent commented on #4698
Thanks. Seems it was already done by https://github.com/processing/p5.js/commit/b704784c323b9b7e7c6636a94e18ed86a7212f1d, 3 moths ago.
When will it be available online?

[2020-07-18 19:09] limzykenneth commented on #4698
I don't have a timeline for the next release at the moment. @lmccart Do you have an idea?

[2020-07-19 15:10] stalgiag commented on #4697
Thanks for pointing this out and looking into it @VincentHch ! I agree that this would be unlikely but it is also safer to prevent it anyways. Feel free to open a PR.

[2020-07-21 02:15] brunocastro commented on #4630
I'm so happy to read this. I will need export to svg on my project.

[2020-07-21 02:22] brunocastro commented on #4630
I will need to export to svg in my project too. Sometimes, we needed to edit the programmatic art in vector software.

[2020-07-21 23:05] #4556 closed

[2020-07-21 23:16] lmccart commented on #4698
@limzykenneth @VSMent aiming to get a release out this month before we transition to a new project leader next month. closing this issue since this has been resolved.

[2020-07-21 23:20] #4679 closed

[2020-07-21 23:21] lmccart commented on #4678
I think the p5.js reference is clear in suggesting the use of `mousePressed` or `mouseReleased` instead of `mouseClicked`.

[2020-07-21 23:21] #4678 closed

[2020-07-21 23:21] lmccart commented on #4635
@montoyamoraga do you want to make these changes or is this issue up for grabs?

[2020-07-21 23:30] #4593 closed

[2020-07-21 23:30] lmccart commented on #4593
thanks @micuat! i'm incorporating your changes into the p5.js codebase

[2020-07-21 23:37] #4541 closed

[2020-07-22 00:06] #4664 closed

[2020-07-22 01:14] lmccart opened #4704 "issues with npm run release"
When running `npm run release` I am noticing a few problems:
- The [p5.js-release repo](https://github.com/processing/p5.js-release/tree/master/) files seem to be disorganized. It looks like there is a combo of older files and new ones, placed inside a `lib/lib` folder.
- npm version bumps up, but the lib submitted trails by one version. for example npm is at 1.1.2 but the files inside are at 1.1.

[2020-07-22 09:31] limzykenneth commented on #4704
I'll have a look, seems unusual to me. If you can post the terminal output here it could be helpful.

[2020-07-22 11:40] limzykenneth commented on #4704
* npm version bumps up, but the lib submitted trails by one version. for example npm is at 1.1.2 but the files inside are at 1.1.1

I've managed to fix the two above. From my testing (a bit incomplete as I don't want to push directly to this repo) the later two points should work, `np` should be pushing to github after releasing on NPM. I see that no package is released on NPM so maybe that's why

[2020-07-22 15:49] golanlevin opened #4706 "weather example is broken"
The p5.js "Weather" API example, https://p5js.org/examples/hello-p5-weather.html, is now broken due to the deprecation of the Apixu API. In response to the API request for `https://api.apixu.com/v1/current.json?key=513d8003c8b348f1a2461629162106&q=NYC`, their server now returns the following:

[code]

As a result, no temperature or wind speed is obtained.

#### Most appropriate sub-area of p5.js?

[2020-07-22 21:13] limzykenneth commented on #4704
The new releases seems to work, except the CI here is still failing and the website also didn't build sucessfully. For CI here, could it be that [this step](https://github.com/processing/p5.js/blob/f3c4ef77adb5bccd5fc83452445ec9713a617b69/docs/preprocessor.js#L260-L268) didn't finish in time before the library starts building?

Also on the website the library's version is correct but for some reas

[2020-07-22 22:38] lmccart commented on #4704
Thanks @limzykenneth! Yeah, still trying to track down the different issues. Experimenting with patch releases which is kind of spammy but I just want to make sure we get everything worked out smoothly.

I was able to get it to build by including the parameterData.json in the repo, but I'm not sure that is the correct fix. As you mentioned above, it should be generating as part of the build proces

[2020-07-22 22:47] #4680 closed

[2020-07-22 22:47] #4692 closed

[2020-07-22 22:47] #4698 closed

[2020-07-23 00:33] lmccart commented on #4704
Update: I think everything is resolved now except the reference/data.json file trailing one version number.

[2020-07-23 01:02] fenilgandhi commented on #4652
Is anyone working on this already ? If not, i would like to give it a shot.

[2020-07-23 01:07] akshay-99 commented on #4704
Hi. From what I understand there's an issue due the build of `parameterData.json` which may have caused all this trouble and I am just so so sorry about that. I did not realise that it may cause issues with the release because for some reason the CI seemed to pass everything until today.

I looked at the line number mentioned by @limzykenneth and for now, I think changing the use of [this](https:/

[2020-07-23 02:45] buggles1 commented on #4680
Thank you. It took someone to send me a June version of p5mini to get that
fixed.

~ Godspeed ~

On Wed, Jul 22, 2020 at 5:47 PM Lauren Lee McCarthy <
notifications@github.com> wrote:

[2020-07-23 03:18] akshay-99 commented on #4704
@lmccart  @limzykenneth

So here's what I know so far:
1. `parameterData.json` is built whenever the reference documentation is built.
2. `grunt build` only builds the library, not the documentation.

This meant that if `grunt build` is called before building the documentation, it would fail. This didn't cause the problem in all the previous runs of the CI because the CI runs `npm ci` ( install de

[2020-07-23 06:17] lmccart commented on #4704
@akshay-99 thanks for looking into this! I think what you've written sounds correct. I agree it would be best not to have `paramaterData.json` in the repo. Would you be up for submitting a PR that makes the proposed change?

[2020-07-23 11:15] limzykenneth commented on #4704
Didn't know `prepublish` runs for install as well (and it seems it's a common confusion point), maybe it should be `prepublishOnly` [instead](https://docs.npmjs.com/misc/scripts).

[2020-07-23 11:45] limzykenneth commented on #4704
For `data.json` did you notice [this step](https://github.com/processing/p5.js/blob/main/tasks/release/release-p5.js#L67) run? It should generate `data.json` with the latest version number that will then be copied to the website.

[2020-07-23 13:13] ednl opened #4707 "Shape point() does not work with scale > 1, strokeWeight < 1"
#### Most appropriate sub-area of p5.js

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: 1.1.9 July 22, 2020
- Web browser and version: Safari 13.1.2 (15609.3.5.1.3)
- Operating System: MacOS 10.15.6
- Steps to reproduce this: I have a square canvas and want to use it as a coordinate system(-1..+1, -1..+1). So I translate to (width/2, width/2) and scale by (width/2,

[2020-07-23 13:41] ednl commented on #4707
The issue is in https://github.com/processing/p5.js/blob/main/src/core/p5.Renderer2D.js#L559 from line 559 where lineWidth is checked, presumably as a scaled value, but then fillRect is used with hardcoded width=1, height=1 without regard to scaling.

[2020-07-23 13:57] neefrehman opened #4708 "release 1.1.5 adds ~220kb of documentation to p5.min.js"
The 1.1.5 release has increased the size of p5.min.js by a substantial amount, which you can see when looking at the assets on the [release page](https://github.com/processing/p5.js/releases) (p5.js has stayed the same size). Downloading the file and looking at its contents shows that the extra ~220kb is made up of documentation like below:

`p5:{alpha:{name:"alpha",params:[{name:"color",descripti

[2020-07-23 14:04] neefrehman commented on #4704
Hi all! I hadn't read through the contents of this issue before opening https://github.com/processing/p5.js/issues/4708.

Mine seems to to be a side-effect of the current release issue fix.

[2020-07-23 14:54] akshay-99 commented on #4704
Hmm. That's weird. I am doing another namespaced release, starting with everything clean to see what happens. I will update soon.

Mine seems to to be a side-effect of the current release issue fix.

@neefrehman yeah it seems so. I will take a look

[2020-07-23 16:29] akshay-99 commented on #4704
Okay. So I may have an idea what's up with the `data.json` thing. I am not sure but this what I think as of now. Grunt first runs on `npm run release` and in the entire release process, it's the same instance of grunt running ( except for the prepublish command, which initializes a separate one ). The package version is captured at the very beginning (before `np` can bump it up). So when [this ste

[2020-07-23 17:21] limzykenneth commented on #4704
When running locally the version number of `data.json` is updated correctly for me though

[2020-07-23 17:38] akshay-99 commented on #4704
@limzykenneth

I released a namespaced version https://www.npmjs.com/package/@akshay-99/p5-test.
The version there is 1.1.11.
But my local `data.json` copy has
[code]

same on my fork of the p5-website repo [here](https://raw.githubusercontent.com/akshay-99/p5.js-website/main/src/templates/pages/reference/data.json)

[2020-07-23 18:47] limzykenneth commented on #4704
Might be my problem as it seems your explanation make sense, the version number pass to yuidoc comes from [this line](https://github.com/processing/p5.js/blob/main/Gruntfile.js#L125) which will be populated at the beginning of the script and not updated when npm bump the version.

A fix will be to grab the version synchronously on [this line](https://github.com/processing/p5.js/blob/main/Gruntfile

[2020-07-23 19:50] limzykenneth commented on #4704
That should work as well.

[2020-07-24 12:05] NagariaHussain opened #4710 "HTML Tags actually get rendered in docs"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: 84.0.4147.89 (Official Build) (64-bit) (cohort: Experimental (No-Diff)) and Microsoft Ed

[2020-07-24 14:08] montoyamoraga commented on #4635
@lmccart i will work on it this weekend :)

[2020-07-24 17:18] #4704 closed

[2020-07-24 17:18] #4708 closed

[2020-07-24 18:00] aferriss opened #4711 "Imrove docs for p5.Image.filter()"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Documentation

#### Feature enhancement details:

I noticed that the [docs page for filtering p5.Images](https://p5js.org/reference/#/p5.Image/filter) is pretty scant on details of the individual

[2020-07-25 06:51] KProgrammer commented on #4710
I think this issue would be more appropriate on the p5.js-website repo, [https://github.com/processing/p5.js-website/issues](https://github.com/processing/p5.js-website/issues), but I think I will work on it

[2020-07-25 09:41] santimirandarp commented on #4690
thanks !

[2020-07-26 19:44] aferriss opened #4714 "resetShader() doesn't reset to default stroke / fill shaders"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.1.9
- Web browser and version: Chrome 83
- Operating System: OSX Mojave
- Steps to reproduce this: https://editor.p5js.

[2020-07-26 20:37] #4635 closed

[2020-07-26 21:50] #4690 closed

[2020-07-27 14:18] JimBrink opened #4716 "The directional light example doesn't work right"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
The example on https://p5js.org/reference/#/p5/directionalLight is supposed to change when the mouse is moved.  But it doesn't.
If the pos

[2020-07-27 15:13] matvs commented on #4716
I would like to work on this issue.

[2020-07-27 16:14] akshay-99 commented on #4716
Hi!

Thanks @JimBrink for reporting this and @matvs for your interest. I still believe this should have been fixed in #4406 and that the fix should have been applied after the latest release. So I was just trying to see why it didn't :sweat_smile: . I noticed that despite the release, the p5 version used by the examples is still 1.0.0 as seen here: https://p5js.org/assets/js/p5.min.js
The banner s

[2020-07-27 19:10] limzykenneth commented on #4716
The version that should be deployed onto the live site is showing the [correct version](https://github.com/processing/p5.js-website/blob/gh-pages/assets/js/p5.min.js). @lmccart Did the deploy from the github branch to the live site run for the new releases?

[2020-07-27 21:04] lmccart commented on #4716
The deploy did happen, and I just ssh'd in and confirmed the file is at v1.1.9. A cacheing issue then? I seem to recall this happening a couple times in the past but we never tracked it down.

[2020-07-27 21:14] limzykenneth commented on #4716
Ah yes, should be caching then. Most resources have query string that ensure when the file changed a new version is cached but since `p5.min.js` doesn't have the query string attached it probably is still cached.

[2020-07-27 21:17] lmccart commented on #4716
So if we add a query string into the website pages that link to this file, would this fix it?

[2020-07-27 21:18] limzykenneth commented on #4716
I'd expect so.

[2020-07-27 22:25] quitmeyer commented on #3610
Agreed, running into this same issue while trying to use FFT and tinting an image

[2020-07-28 08:23] GN-c commented on #1845
you can use p5 built in function noSmooth();

https://p5js.org/reference/#/p5/noSmooth

[2020-07-28 14:20] OMGChase opened #4718 "loadModel() doesn't correctly use UV map"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Dom
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

First off, not sure if this is a bug, or a feature that hasn't been implemented yet.
Using a UV unwrapped object with the loadModel() and

[2020-07-28 14:56] matvs commented on #4714
Hi @aferriss
Thanks for reporting this bug.

It looks like rendering order is an issue here.
https://editor.p5js.org/matvs/sketches/_rtBhhm-h
I am working on it :)