[2019-09-22 12:44] limzykenneth commented on #1477
@raghavendrajain You can create the p5 canvas first then pass that canvas element to the library you want to use.

[code]

If you have further questions, please post them on the [forum](https://discourse.processing.org).

[2019-09-22 15:28] #3296 closed

[2019-09-22 17:33] lmccart commented on #3949
thanks @limzykenneth. I think we can close this one since it is expected behavior.

[2019-09-22 17:33] #3949 closed

[2019-09-22 17:48] lmccart commented on #3948
thanks for the suggestion @HenrySkup. we made a decision not to include these files in the repository a while back, you can see the [conversation here](https://github.com/processing/p5.js/issues/774). one of the main reasons was, given the number of beginners using this library, we wanted to reduce confusion by having different unreleased versions of the library floating around. so if someone want

[2019-09-22 17:48] #3948 closed

[2019-09-23 05:40] singhvisha commented on #3990
Hi @stalgiag ,I commited for this issue  on my previous fork in which I made commit for #3978.
Should I delete that fork and do the same for this issue?

[2019-09-23 09:26] stalgiag commented on #4032
Hi @ffd8 thanks for the issue!

It is working for me on Chrome 76.0.3809.132 on Windows 10. Here is an [example in the editor.](https://editor.p5js.org/stalgiag/sketches/iQAZ1wlW6).

Let me know if that example works for you.

If that example is working for you then your troubles likely arise from your model file. The model in that example has [UV maps](https://en.wikipedia.org/wiki/UV_mapping) (a

[2019-09-23 09:35] stalgiag commented on #3990
Hi @singhvisha! I highly recommend that you work [in a branch](https://help.github.com/en/articles/about-branches) within your fork. This allows you to work on different parts of p5 independently. So this means that you should have a different branch for every new issue that you work on. Such as:

`singhvisha/p5.js:basicJSDocs`
and
`singhvisha/p5.js:vectorLocalStorage`

So for that second branch a

[2019-09-23 12:57] ffd8 commented on #4032
Yupyup, no bug! Just my novice knowledge of obj files and UV maps... didn't realize the file needed that information built in. Many thanks for pointing that out.

[2019-09-23 12:57] #4032 closed

[2019-09-23 14:59] Chlyb opened #4035 "Textures don't work with custom shapes"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-23 16:28] N-ikhil-thakur opened #4036 "preload() doesnot work"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-23 16:29] #4036 closed

[2019-09-23 16:29] N-ikhil-thakur commented on #4036
please check it out

[2019-09-23 17:16] CrypticGuy commented on #3973
Hi @stalgiag
I would like to work on this.

I think it can be solved by either providing the method mentioned by @nishantkr18 in the reference/docs, or we could add a parametrized option to the function, where the angle is displayed clockwise or counter-clockwise, depending on the argument passed.
If none of the above methods then a new function could be defined to get the counter or counter-clock

[2019-09-23 19:07] 0x69 commented on #3973
Nice solution ! However there are some edge cases. In case both vectors are parallel to each other - angles _0_ and _π_, then cross product results in **zero length vector**, thus rendering bug,- showing 0 angle in both edge cases. Fix to this problem we can consider zero as positive sign :

`let fullAngle = v1.angleBetween(v2) * Math.sign(v1.cross(v2).z || 1);`

[2019-09-24 00:20] John-Jelatis commented on #3169
Any updates on the situation as of this point?

[2019-09-24 05:58] HenrySkup commented on #3948
@lmccart yup, sounds good.  I was hoping that the latest release (rather than any sort of nightly build) would be in a `'dist` folder (or something similar).  I think that this might actually help address some of the concerns that were in the thread (it would offer another, complimentary, way for people to access the latest release; it would parallel many other repos that people would be using; et

[2019-09-24 06:29] kenny1983 commented on #3441
Yes thank you very much @brysonian! Works a treat! 😄

[2019-09-24 10:40] stalgiag commented on #4035
Hi @Chlyb the default [textureMode](https://p5js.org/reference/#/p5/textureMode) is `IMAGE`. So your example works if you make either of the following changes:

- Add `textureMode(NORMAL)` to the sketch
or
- Change your U and V arguments for `vertex()` to be your texture's width and height in pixels, respectively. So for your texture file:
[code]

So this all falls under expected behavior.

Can yo

[2019-09-24 10:48] stalgiag commented on #4026
Hi @jackwlee01 thanks for the issue! Development for the sound library is tracked in [this repo.](https://github.com/processing/p5.js-sound/) I think [this issue may already](https://github.com/processing/p5.js-sound/issues/371) be tracking this problem. I am going to close this here. I would subscribe to that issue to track progress on fixing the bug. In the meantime, you might be able to accompl

[2019-09-24 10:48] #4026 closed

[2019-09-24 10:50] Chlyb commented on #4035
Hey @stalgiag Thank you for solving my problem! Here's the code https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5 under Texture paragraph.

[2019-09-24 10:58] stalgiag commented on #4035
I edited that example with the correct code and a bit of info. I am closing this now. Thanks for the help tracking down the misleading info @Chlyb !

[2019-09-24 10:58] #4035 closed

[2019-09-24 17:46] rvegele opened #4037 "Accelerometer data in iOS 12.2 - 13"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (iOS platform in particular)

#### Which platform were you using when you encountered this?

- [x

[2019-09-25 15:29] stalgiag commented on #4037
It is possible that a sketch can request permission to receive device orientation events. [Here is an issue](https://github.com/w3c/deviceorientation/issues/57#issuecomment-498417027) that is tracking the release of this feature. The support is going to be spotty and unpredictable for a while it seems.

It might be best to add a note stating that "Safari is not fully supported" in the docs for the

[2019-09-25 17:07] mujehoxe opened #4038 "the round function"
#### Nature of issue?

- [ ] Found a bug
- [ x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-09-25 17:36] peilingjiang opened #4039 "Typo in Curves Page"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-26 08:54] limzykenneth commented on #4037
The accelerometer is working for me on iPhone SE iOS 13.1, and oddly enough I can't find the toggle that turns access to it on and off.

[2019-09-26 09:01] limzykenneth commented on #4037
Ok, I was actually using Firefox on iOS as I thought the access is implemented across the webkit views but upon trying on Safari, it doesn't work anymore.

[2019-09-26 14:00] CrypticGuy commented on #4038
@outofambit
Hi, Can I work on this.
It would be a nice enhancement to the function. We can add a new parameter to the existing function and just have a default argument, which rounds off to the integer value.

[2019-09-26 14:48] AndrewDavis opened #4040 "p5 website libraries page is erroring"
This is a pretty serious error on the p5 website...:

Page: https://p5js.org/libraries/

[2019-09-26 20:07] #4009 closed

[2019-09-27 15:38] #3990 closed

[2019-09-27 15:47] singhvisha commented on #3973
Hi @stalgiag ,Can I work on this issue?

[2019-09-27 19:03] Ahmed-Hasan opened #4041 "movedX and movedY are not defined"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-09-27 20:01] lmccart commented on #4041
@Ahmed-Hasan `movedX/Y` are not properties of p5.js, so you will need to create them as variable yourself if you would like to make use of them. for more help with this, you can post your question on our [forum](https://discourse.processing.org)

[2019-09-27 20:02] lmccart commented on #4040
this is now resolved

[2019-09-27 20:02] #4040 closed

[2019-09-27 20:03] lmccart commented on #4038
@CrypticGuy sounds good, we would welcome your work on this one

[2019-09-27 20:43] hellonearthis commented on #4041
Sounds like you might need to use the p5 library https://github.com/bohnacker/p5js-screenPosition  to help with the screen positioning.

[2019-09-27 23:44] Ahmed-Hasan commented on #4041
I am sorry, I am still learning. But why is it listed in the reference page under Events/Mouse if it is not a property ? isn't that page the documentation for the library ?

[2019-09-27 23:59] lmccart commented on #4041
@Ahmed-Hasan ah, I'm sorry, you're correct! There's a problem right now where the reference is slightly ahead of the coming release of the library. The `movedX/Y` variables will be included and fixed in the next release, which should be out in the next week or two. Thanks for your patience.

[2019-09-28 14:26] stalgiag commented on #3973
Hi @singhvisha, I think that @CrypticGuy might have asked first.

@CrypticGuy I think that an optional boolean parameter should work well.

[2019-09-28 15:12] 0x69 commented on #3973
@stalgiag

Depends on what this parameter will do. If it will change only sign of displayed angle from positive to negative as @CrypticGuy suggested ("_angle is displayed clockwise or counter-clockwise, depending on the argument passed_") - it's pointless, because in such case in effect it is the same as showing only absolute angle (because sign will not change automatically) !
The only reasonable

[2019-09-28 15:55] lachlanjc commented on #3926
Running into a similar issue – @coreygo, could you upload that code again, maybe just as a zip here? Since the GitHub link is a 404 now.

[2019-09-28 16:30] coreygo commented on #3926
@lachlanjc sure thing, please give me a moment. It looks like @janmaltel's fork is still live if you'd like to review it while I sort things: https://github.com/janmaltel/coreygo

[2019-09-28 20:37] CrypticGuy commented on #3973
Yes, I agree this makes more sense.

[2019-09-28 23:18] coreygo commented on #3926
@lachlanjc @janmaltel

- Example repository: https://github.com/coreygo/coreygo
- Live build: https://coreygo-gatsby-p5js.netlify.com

[2019-09-29 02:30] lachlanjc commented on #3926
Thanks a bunch!!

[2019-09-29 10:44] stalgiag commented on #3973
@0x69 Ah got it. Thanks for the explanation. A boolean argument doesn't make sense to me if the purpose is so that these are equivalent:
`vec1.angleBetween(vec2, true)`
&&
`abs(vec1.angleBetween(vec2)`

Processing also returns a value between `[0, PI]` which is probably why the function was designed this way initially. I am open to modifying the function so that it returns a value between `[-PI, P

[2019-09-29 12:58] 0x69 commented on #3973
@stalgiag

Indeed, not much point in this additional parameter. Function just could return [-PI,PI] instead without any additional parameter added. The ones who will want absolute angle will call `abs()` like you said. However, there is a small reason of keeping this new parameter idea still. Suppose, somebody has written angle check `if (angle == PI)`, now with modification when function returns

[2019-09-29 17:00] singhvisha commented on #3861
Hi,Can I work on this issue?

[2019-09-30 10:15] stalgiag commented on #3857
@Vamoss Hi I am just coming back around to this and reading your issue a bit more carefully and I have a bit of a misunderstanding about what is desired here. Can you show me a code example that you hope will work?

I am a bit confused because I don't know how per-vertex colors could possibly work with `drawBuffersScaled()` which is an optimization for retained geometry so that the hash can reuse

[2019-09-30 11:00] stalgiag commented on #3819
Hi @jedierikb sorry for the delay! I kept glancing over this one and not fully understanding what was happening, but I went back over it and I think that there is an optical illusion happening here. It is easier to see if you change the `x`,`y`, and `rotateY` properties of your `planes` to something like:
[code]
With this the z-order appears to be as-expected unless I am missing something. This ju

[2019-09-30 11:01] #4012 closed

[2019-09-30 11:03] stalgiag commented on #4012
Closed with the above PR which is an update to documentation that adds a second example to `point()` that is easier to see. I am assuming that the difficulty was with seeing the points as there was no follow-up with a different kind of error. If this was an incorrect assumption and there is a different kind of error here, feel free to post an example with your browser version and I will reopen the

[2019-09-30 11:29] stalgiag commented on #2756
Okay just want to update this with the remaining functions that are current not working with WEBGL mode. Luckily there are only a few now:
`filter()` - needs implementation or at least protection/warning message
`strokeCap()` - implementation will be arduous, has protection and warning message
`strokeJoin()` - implementation will be arduous, needs protection/warning message
`textStyle()` -- this i

[2019-09-30 12:17] stalgiag opened #4046 "filter() should log warning in WEBGL"
`filter()` does not work in WEBGL mode. It currently throws a cryptic error:
`Uncaught TypeError: Cannot read property 'getImageData' of null`

 I could modify `filter()` to use `gl.readPixels` and then create a plane geometry that covers the view that has the filter-modified pixels, but this goes against WEBGL logic. These filters can be achieved relatively easily with custom shaders.

I recommen

[2019-09-30 12:28] stalgiag opened #4047 "strokeJoin() should log warning in WEBGL mode"
Currently when using `strokeJoin()` in WEBGL mode an error occurs and a cryptic message is logged:
`Uncaught TypeError: this._renderer.strokeJoin is not a function`

`RendererGL.prototype.strokeJoin()` should be added and it should log a message that says something like 'Sorry, strokeJoin() is not currently implemented in WEBGL mode.'

Note: Eventually both `strokeJoin()` and `strokeCap()` could b

[2019-09-30 12:32] stalgiag commented on #2756
Okay. I have opened issues for the remaining 2 unprotected, unimplemented WEBGL functions:

filter - #4046
strokeJoin - #4047

Almost all functions work in both renderers now. By my count, there are 5 functions that only work in 2D. After those two issues above are filled, all 5 of those functions will log warnings and have proper documentation. I think that means we can close this issue. Thank yo

[2019-09-30 12:32] #2756 closed

[2019-09-30 12:51] trych opened #4051 "Wrapper function error messages refer to their core function name"
#### Nature of issue?

- Found a bug

#### Details about the bug:

- Web browser and version: any
- Operating System: macOS 10.13.4
- Steps to reproduce this bug:

Something like

[code]

or

[code]
respectively result in error messages like: `p5.js says: ellipse() was expecting at least 3 arguments (…)` (or `rect()` respectively), so they don't refer to the name of the wrapping function that is a

[2019-09-30 16:12] #4019 closed

[2019-09-30 17:44] aferriss commented on #3861
@singhvisha I think that we never reached a consensus on how this should be implemented and what the signature would look like. I think if we can agree what this should look like you're good to go work on this one!

Personally, I'm in favor of the approach I mentioned above where we have

[code]

for example
[code]

Additionally I think it would be nice to have a signature that lets you use a sing

[2019-09-30 21:48] CrypticGuy commented on #3973
#4048

[2019-09-30 23:04] figraham opened #4049 "Broken Link on p5.sound getSources documentation page"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible) - p5.sound - documentation

#### Which platform were you using when you enc

[2019-10-01 13:22] 0x69 commented on #3973
I just saw comment in code

Need to add that 3D vector direction perfectly makes sense too ! Just vector rotation in 3D space is defined not by a scalar angle, but by a vector composed of two components - angles α, β which are rotations of 3D vector **projections** in two perpendicular planes. See example :
![bitmap jpg](https://user-images.githubusercontent.com/4015780/65964818-54157400-e466-11e9

[2019-10-01 15:05] singhvisha commented on #3861
@aferriss, I think both of them is great to start work with.

[2019-10-01 16:55] J-888 opened #4050 "hypot and dist improvements and weird performance results"
#### Nature of issue?

- [ ] Found a bug
- [X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [X] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-01 20:03] J-888 commented on #4050
Results after timing all functions on Chrome console, it makes way more sense now:

| Method | Function | Time |
| ------------- | ------------- | -------------:|
| p5.js hypot | hypotP5js  | 1343  |
| p5.js hypot manual | hypotP5jsManual | 1126 |
| squared p5.js hypot manual | squaredhypotP5jsManual | 1193 |
| 2D hypot (**) | hypot2Exp | 704 |
| squared 2D hypot (**) | squaredhypot2Exp | 694  |
|

[2019-10-01 21:10] catarak opened #4052 "push()/pop() documentation - missing functions"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

N/A

#### D

[2019-10-01 21:22] catarak commented on #4052
Looking through the p5.js reference, other functions that are missing:
- `noFill()`
- `noStroke()`
- `smooth()`/`noSmooth()`
- `bezierDetail()` and `curveDetail()`
- everything under "Transform": `applyMatrix()`, `resetMatrix()`, `rotate()`, `rotateX()`, `rotateY()`, `rotateZ()`, `scale()`, `shearX()`, `shearY()`,`translate()`
- `noTint()`
- `noiseDetail()` and `noiseSeed()` (...are these affected

[2019-10-02 05:53] mbtamuli commented on #2865
Hey people, is there any specific section of the documentation that needs some work? I'd like to take a dig if there's any.

[2019-10-02 16:16] limzykenneth commented on #4050
As mentioned on the PR, do have a look at #3337

[2019-10-03 17:35] dhruvsahnan1008 commented on #3487
@Ajayneethikannan Hey, if there is still a problem with the implementation here, would like to look into it and work on it?

[2019-10-03 19:46] dhruvs009 commented on #3487
@limzykenneth Hey, if there's still a problem over this implementation, can I take it up? (asking if there's a problem because there isn't any reply to @Ajayneethikannan 's suggestion)

Also, if there's still a problem, my proposed implementation would be somewhere along the lines of using the concept of Significant Digits for the numbers to take care of leading zeroes and keeping a count for deci

[2019-10-04 13:24] stalgiag commented on #4051
Thanks @trych this seems like a problem that probably exists in many places. Definitely don't want to create this type of confusion!

Just briefly glancing around it seems that this might need some thought. We could add `p5._validateParameters('circle', arguments);` to [this line](https://github.com/processing/p5.js/blob/master/src/core/shape/2d_primitives.js#L295). But then both
[code]
&&
[code]

[2019-10-04 14:48] lmccart commented on #4052
thanks @catarak this is super helpful, will add!

[2019-10-04 16:41] dhruvs009 commented on #3719
@Spongman @nobobo1234 Hey, since this issue still needs some working upon, could I pick it up?

[2019-10-04 17:03] stalgiag commented on #2865
Hi @mbtamuli thanks for the interest! You should definitely start off by checking out the [contributing documentation readme](https://github.com/processing/p5.js/blob/master/developer_docs/contributing_documentation.md). Also any [issue tagged 'documentation'](https://github.com/processing/p5.js/issues?q=is%3Aissue+is%3Aopen+label%3Aarea%3Adocumentation). [This might be a good issue](https://githu

[2019-10-04 17:55] aferriss commented on #4052
I think most of the work @sanketsingh24 and I did this summer for GSOC is also missing from the `push()` docs. Off the top of my head that would be:

- `emissiveMaterial()`
- `specularColor()`
- `frustum()`
- `spotLight()`
- `falloff()`

[2019-10-05 05:00] lmccart commented on #3741
@stalgiag thanks for looking into this one. I think it makes sense to remove that check as you suggest. from what you can tell, does `_dirtyPixels` have other uses beyond this? or would it make sense to consider removing completely?

[2019-10-05 08:50] dhruvs009 commented on #3719
@Spongman @nobobo1234  @limzykenneth  Hey, I have been working on the issue, and I have been able to overload the point() method with something what the issue demands. I'll soon issue a PR for the same and it would be really great if someone could verify if it's upto the mark. (Keeping in mind it'd be my first meaningful work in open source). Thanks :)

[2019-10-05 08:54] limzykenneth commented on #3719
Hi @dhruvs009, you can go ahead and file a PR for this whenever you are ready, we can review the changes over there since this issue has pretty much already settled on a solution now.

[2019-10-05 08:57] limzykenneth commented on #3487
@dhruvs009 Sorry this issue is a bit old and I can't recall the discussions we had until that point. If you can give an outline of the behaviour you envision this function to have then we can continuue the discussion and later a PR.

[2019-10-05 10:34] dhruvs009 commented on #3719
Hey @limzykenneth I've filed #4058 for the same. Please take a look?

[2019-10-05 16:05] Janglee123 commented on #3485
It works fine for me too.
**OS**: Solus
**Web Browser**: Firefox 69.0.1

[2019-10-05 16:08] hydrosquall commented on #4047
Hi, I'd like to take a pass at this :).

[2019-10-05 16:33] imrishabh18 commented on #4052
Hi guys, I am a beginner can i work on this issue ?

[2019-10-05 16:33] hydrosquall opened #4060 "[documentation] Add a Pull Request Guidelines Template"
Hi there!

I was wondering if there was any interest in having a `PULL_REQUEST_TEMPLATE.md` file for p5.js, a template that auto populates the "pull request" body for every new pull request. I did notice we already have some [welcome messages]( https://github.com/processing/p5.js/blob/master/.github/config.yml) for first time contributors as well, so I wasn't sure if we still wanted this for subse

[2019-10-05 18:02] nickmcintyre opened #4061 "tan() documentation"
Hello! I was doing a little work this afternoon and noticed the reference for `tan()` states the following.

Turns out this is not the case.

#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x ] Math
- [ ] Typo

[2019-10-05 19:18] stalgiag commented on #4047
closed via #4059 🎊

[2019-10-05 19:18] #4047 closed

[2019-10-05 20:21] stalgiag commented on #3485
Thank you @Janglee123 and @aferriss.

So it seems that the Materials page is working with Ubuntu.

@vanyamil have you tried updating your website example to the latest p5 release (0.9.0)? If you do, and the crash still happens can you try isolating the problem to the smallest code example possible?Once you've done that you can add it to a sketch on [editor.p5.org](https://editor.p5js.org/) and the

[2019-10-05 20:54] stalgiag commented on #3741
I think it would be okay to remove it completely.

On one hand it feels like a sensible optimization to only update the pixels array when a canvas has been modified but on the other hand it was [introduced fairly recently](https://github.com/processing/p5.js/pull/2833) and I can't find a trail of issues that complain of the performance of pixel reading operations. It seems like something that will

[2019-10-05 22:03] limzykenneth commented on #4060
Yes, that would be a good idea for something to have. I know the p5.js web editor repo already has a PR template and it would be nice to have one here as well.

[2019-10-06 03:05] outofambit commented on #4060
@hydrosquall i agree with @limzykenneth that would be great!

[2019-10-06 04:47] dhruvs009 commented on #3487
@limzykenneth Hey, sorry, I missed your reply yesterday. So basically what I was suggesting is that I'd work on the number (whose fractional part needs to be returned) as a string and read the significant digits it has, basically solving the problem in scientific notations. Also, I would suggest passing an additional parameter, to let the user decide the amount of precision he needs.

[2019-10-06 04:48] dhruvs009 commented on #3487
@limzykenneth Keep in mind that passing in an algebraic expression would need more work, but I think it would be easier to solve using the concept of significant digits and it's various rules.

[2019-10-06 07:14] lmccart commented on #4061
fixed with https://github.com/processing/p5.js/pull/4062

[2019-10-06 07:14] #4061 closed

[2019-10-06 18:32] lmccart commented on #4060
love it!

[2019-10-06 21:35] outofambit commented on #4052
@imrishabh18 yes feel free! i'd recommend just doing docs for one or two functions in your first PR. thank you!

[2019-10-06 21:42] #4011 closed

[2019-10-07 01:58] hydrosquall commented on #4060
Excellent! Perhaps we could tag this issue with `hacktoberfest`, `area:documentation`, and `level:beginner` to help people find the project?

[2019-10-07 12:03] imrishabh18 commented on #4052
@outofambit I have updated the documentation of couple of functions from the structure.js file but when running in the local development setup.The updated text is not showing up,

[2019-10-07 19:49] Tigpan-Bytes opened #4064 "Appending html to div breaks canvas inside div."
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible) (DOM)

#### Which platform were you using when you encountered this?

- [ ]

[2019-10-08 01:21] lmccart commented on #4064
hi @Tigpan-Bytes. the [`html()`](https://p5js.org/reference/#/p5.Element/child) method actually replaces the entire html contents, that's why you're seeing everything disappear. instead, you can use [`child()`](https://p5js.org/reference/#/p5.Element/child) which appends a child node. something like this:
[code]

[2019-10-08 04:00] Tigpan-Bytes commented on #4064
Strange, the documentation says differently. "If true is included as a second argument, html is appended instead of replacing existing html." If what you say is true, it sounds like the html method is very poorly optimized.

[2019-10-08 04:09] lmccart commented on #4064
Oh I see, I forgot that was an option for `html()`. This does seem like it could be a bug then.

[2019-10-08 09:47] limzykenneth commented on #4052
@imrishabh18 Do you mean the local preview of the documentation in p5.js repo? If so can you file the PR anyway and I'll check if that is working as inteded. Thanks.

[2019-10-08 10:33] imrishabh18 commented on #4052
@limzykenneth Yes, okay i am filing the PR.

[2019-10-08 10:55] limzykenneth commented on #4064
It is more or less working as expected. In the source [here](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L1635), the new content is appended with `this.elt.innerHTML += arguments[0];`, `+=` is an assignment and as such means that it will replace the content of `innerHTML`. When that content is replaced (even with the original content), everything is reset in it, in particular th

[2019-10-08 11:17] imrishabh18 commented on #4052
@limzykenneth I figured out why the local preview of documentation was not happening.But the issue now is that as i was filing a PR.On comparison i am not getting any difference in changes with the master branch of processing/p5.js.

[2019-10-08 13:10] limzykenneth commented on #3487
I think as mentioned above, we would prefer to return numbers instead of strings. For something like `0.3-0.2` it is pretty much expected to have the expression evaluate before passing it to any functions it needs to go through, even if it returns `0.09999999999999998`.

[2019-10-08 13:21] dhruvs009 commented on #3487
@limzykenneth Okay, so just to be clear, is it okay if any expression passed into fract() returns inaccurate values as in 0.3-0.2? Or is fract(0.3-0.2) supposed to return 0.1? Because if it returns 0.0999... then that is how the language works and there wouldn't really be anything we could do as far as I can think of? I think one possible solution would be to round it off to the nearest number tha

[2019-10-08 13:37] limzykenneth commented on #3487
For me that is acceptable because `Number` is a floating point type and not a decimal type so this kind of precision issue will exist and in most cases won't be a problem.

[2019-10-08 13:49] dhruvs009 commented on #3487
@limzykenneth Umm so a solution around the lines of what @ankur54 has suggested would work?

[2019-10-08 14:15] limzykenneth commented on #3487
It might, just depends on the use case, the potentially trickiest ones are the ones with scientific notation and how to handle negative numbers. Again this is a matter of what the use case is and not that there is one right implementation so I don't have the answer here.

[2019-10-08 22:26] lmccart commented on #3741
Ok, for simplicity, let's go ahead and remove.

[2019-10-09 01:20] thumbsupep commented on #4060
I can address this issue!

[2019-10-09 03:42] #3719 closed

[2019-10-09 04:22] dhruvs009 commented on #3487
[code]

Okay, so what I noticed was that any exponential of the form Xe+Y is always an integer in JavaScript as it is scaled down to the number of digits it is accurate to (15 digits), the decimal is moved to a position such that there is only one digit to the left of it (as I'm sure you are aware that is how scientific notation works), and then the remaining exponent is given in scientific form i

[2019-10-09 07:33] dhruvs009 commented on #3719
Hey, I was just wondering if we can open another issue (or reopen this one) to let other similar functions have the capability of having vectors as point coordinates? We could maybe have a list of such functions and work on them as well?

[2019-10-10 19:34] #4060 closed

[2019-10-10 19:36] lmccart commented on #4060
thank you @thumbsupep and welcome!
@all-contributors please add @thumbsupep for documentation

[2019-10-10 19:41] lmccart commented on #4060
thank you @thumbsupep and welcome!
@all-contributors please add @thumbsupep for documentation

[2019-10-11 00:52] dhruvs009 commented on #3487
Hey, @limzykenneth, have you had a chance to look at this?

[2019-10-11 04:49] thumbsupep commented on #4051
@stalgiag is right about the duplicate logs. you likely have to parse the stack trace here https://github.com/processing/p5.js/blob/master/src/core/error_helpers.js#L552 and add more meaningful text in the error message if there is a call below `func` in the stack trace

[2019-10-11 04:59] thumbsupep commented on #3897
if we're expanding documentation to include things that are not specific to `p5.js`, does it seem permissible to include examples that dont have any `p5.js` specific code, but cover old functionality that Processing had? ex https://github.com/processing/p5.js-website/issues/498

[2019-10-11 07:49] limzykenneth commented on #3487
For me that seems to be ok. You can go ahead and file a PR for this and let's see if there's any implementation details that needs iron out there. I would like to see some opinions from other contributors before we merge this as well.

[2019-10-11 07:54] dhruvs009 commented on #3487
Okay, I'll file one today

[2019-10-11 07:54] dhruvs009 commented on #3487
Okay, I'll file one today

[2019-10-11 20:00] mct opened #4070 "printing an array from setup() doesn't behave as expected"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-12 05:34] yzxnwj opened #4071 "How do I get the music beat"
How do I get the music beat

[2019-10-12 12:01] beve commented on #3926
First of all, thank for this, it really helping !

Just one little thing, in phi.js it worth replacing:

`export default function sketch(p) {`
by
`export default function sketch(...p) {`

Now we can use directly the p5 functions without need of prefixing the call by p. For example using setup() instead of p.setup()

[2019-10-12 14:05] haschdl opened #4072 "DOM documentation for create elements is unclear"
The documentation for all DOM methods in the format `createXXX` mentions 9 times that the new element is appended "to the container node if one is specified, otherwise appends to body". This leads the reader to interpret that a container node *can* be provided, for example as an argument to the function, however none such argument exists.
An example for `createSlider`:

https://github.com/processi

[2019-10-12 16:09] lmccart commented on #4071
hi @yzxnwj the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2019-10-12 16:09] #4071 closed

[2019-10-12 16:19] RAHULTATA10 commented on #2110
ok

[2019-10-12 16:40] juliamariee opened #4073 ""script error. (:line 0)" in chrome"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

When using p5.js with chrome, I either don't get error messages or get "script error. (:line 0)".
I went through

[2019-10-12 18:48] stalgiag commented on #3973
closed via #4048

@agnius-vasiliauskas sounds cool! Feel free to open an issue for a `rotationBetween()` function for further discussion.

[2019-10-12 18:48] #3973 closed

[2019-10-12 18:57] stalgiag commented on #4072
Thanks for the thorough issue! I think that a documentation fix should be enough.

I am in favor of removing the sentence altogether as you suggest. Instance-mode users will understand that they can operate within a specified container node, and since the vast majority of users are global mode we shouldn't confuse them with extraneous info in the main reference. Especially since that info will be

[2019-10-12 19:14] stalgiag commented on #4070
Hm I think this has more to do with how the console in the online editor is working. The array is being logged by reference, and the editor's console doesn't print the value until 1 frame into the draw loop.

If you open your browsers window and look at the log instead, it will likely be a larger number, frozen at whatever point it is first 'viewed' (at least in Chrome).

This for example behaves

[2019-10-12 19:21] stalgiag commented on #4070
Actually I checked out the issues in the [p5.js-web-editor repository](https://github.com/processing/p5.js-web-editor), and I think I can safely say that this is a duplicate of [this issue.](https://github.com/processing/p5.js-web-editor/issues/1055)

I would subscribe to that issue for updates on this bug. In the meantime, I am going to close this issue. Thanks again!

[2019-10-12 19:21] #4070 closed

[2019-10-12 20:07] stalgiag commented on #3898
Just a gentle ping @johncbowers to see if my last reply helped with your issue.

[2019-10-12 23:19] stalgiag commented on #3996
I am going to close this as a subset of issue #4023 follow there for fixes. I should have consistent access to an iPhone at some point this month.

[2019-10-12 23:19] #3996 closed

[2019-10-12 23:51] stalgiag commented on #3794
Sorry for the delay @mkmori. Your comment seems to point to something more specific than the topic of this issue. If you would still like help related to graphics buffers and `lights()` feel free to open a separate issue.

So my primary plan for performance improvement is to cache the current rendering state and only [update the uniforms](https://github.com/processing/p5.js/blob/master/src/webgl/p

[2019-10-13 12:52] singhvisha commented on #4046
Hi, @stalgiag,Can I work on this?

[2019-10-13 13:35] haschdl opened #4077 "Question: Contributing to p5.js from a Windows machine"
I deliberately placed this question as an issue in Github and not in the forums because it's very closely related to development and contributing to p5.js.

Are there known limitations or dependencies in the development tooling which might prevent Windows users from following the guidelines? I received quite many warnings and errors in my first attempt and decided to ask before spending too long o

[2019-10-13 16:10] #3741 closed

[2019-10-13 16:16] stalgiag commented on #4046
Definitely @singhvisha! Let me know if you have any questions or need any help.

[2019-10-13 16:20] stalgiag commented on #4077
Not that I know of. I develop on Windows 10.0.18362.

Occasionally I'll run into problems with line endings depending on how I clone but nothing that gives me problems in my day-to-day. Here is an [example issue](https://github.com/processing/p5.js/issues/3692) for line endings in case that is relevant to your warnings and errors.

[2019-10-13 17:21] J-888 commented on #4052
Currently working on it (WIP)

- [x] `noFill()`
- [x] `noStroke()`
- [x] `translate()`
- [x] `rotate()`
- [x] `scale()`
- [ ] `smooth()'/'noSmooth()`: can't manage to preview the difference properly
- [ ] `bezierDetail()`: can't manage to get it working with push() and pop()
- [ ] `curveDetail()`: can't manage to get it working with push() and pop()

- [ ] `applyMatrix()`
- [ ] `resetMatrix()`
- [

[2019-10-13 21:30] haschdl commented on #4077
Thank you for your reply! If you’re contributing from a Windows machine I should be able to do the same :)

[2019-10-13 21:30] #4077 closed

[2019-10-13 21:55] stalgiag commented on #3794
Bumping this to the 1.0 milestone since it will take a little bit of planning and thought to add cache checks and nicely reorganize RendererGL properties.

[2019-10-13 22:08] stalgiag commented on #3893
I want to leave this discussion dangling for a bit longer. So I am going to push it back to the 1.0 milestone.

**Any thoughts on organization and governance for this repository are very welcome**. You can respond to some of the suggestions already brought up or just throw out altogether new ideas/opinions.

I will try my best to compile and track all of the ideas and opinions and reduce them to a

[2019-10-14 10:39] wanbinkimoon opened #4080 "p5 WEBGL and canvas.parent() issue"
Apparently declaring a WEBGL canvas is in conflict with positioning the same within a parent div

[code]

this code doesn't work while a keep declaring `WEBGL` as type of the canvas

UPDATE: is the `smooth` function that caused the error

[2019-10-14 10:53] wanbinkimoon commented on #4080
FIXED

Declating `smooth()` before the canvas fixed the issue

[code]

[2019-10-14 15:40] #3371 closed

[2019-10-14 16:33] lmccart commented on #3663
we've made some progress on this, working on a very basic flowchart that shows the inheritance of the main graphics objects. the next step would be adding this into the markdown docs somewhere and then adding entries below that elaborate on some of the specifics of each class. feedback on this diagram is welcome, I'm working on finding a way to make it modifiable by other users and stored in the r

[2019-10-14 17:05] #4010 closed

[2019-10-14 17:05] #4041 closed

[2019-10-14 19:45] stalgiag commented on #4080
Hi @wanbinkimoon thanks for the issue!

When you call `smooth()` or `setAttributes()` on an existing WebGL canvas, the canvas is removed and recreated. This is due to a limitation on setting attributes for WebGL rendering context.

That said, the new canvas should be automatically parent to the correct DOM element. Any references that you have made (such as `canv` in your posted code) will not poi

[2019-10-14 21:08] #4072 closed

[2019-10-14 21:09] #3897 closed

[2019-10-15 07:46] haschdl commented on #4064
A bit long answer.

### Part 1: About the example

I agree with the above. In fact, I would also recommend a different approach, which might prove more useful "down the road" when you want to apply styles. Instead of writing HTML (`"New line!\n"`), you could create a new `p` element (p is for paragraph), using createP.

So instead of doing:
[code]
You could do...
[code]
### Part 2: The bug

As for

[2019-10-15 08:38] scott-ho opened #4083 "Some examples in p5js.org learn is not working since 0.10.2 is released"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?
Doc site

p5.js v0.10.2 is not found from cloudflare cdn

[2019-10-15 08:42] limzykenneth commented on #4064
`insertAdjacentHTML` may be a better choice as it parses the DOM string while `append` will need the object passed to be a node object or it will just parse as pure text.

[2019-10-15 13:34] neefrehman opened #4085 "Add mechanism to stop recordings from createCapture()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-10-15 15:26] ffd8 opened #4086 "textToPoints() to allow 2D Array of points within paths for separating letters"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Typography

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Feature enhancement details:

Preparing my first p5.js pull request, so making an issue first.

This will extend `textToPoints()` to allow the return of a 2D Array, `[paths][points]`, since a

[2019-10-15 17:00] stalgiag commented on #4083
Hi @scott-ho thank you for the issue!

Can you post the URL for the specific page that is giving you trouble? I briefly looked through the 'Learn' pages and couldn't find the problem. Thanks!

[2019-10-15 23:10] Tigpan-Bytes commented on #4064
In response to @haschdl, thanks for the explanation and I would agree that creating a new issue would be the best course of action. Feel free to create that issue if you deem it necessary.

[2019-10-16 07:41] haschdl commented on #4064
Hello! After reconsidering the magnitude of the change I think another issue is overkill. I do however want to post a minimal example, in case the Codepen example goes offline.

[code]

[2019-10-16 11:50] dhowe commented on #4086
A couple of questions on this:

1. How does the 2d- return array handle multiple paths for letters? Is there a way for the caller to know which paths correspond to which letters? For example, in the string "%#!"

1. Does the proposed code still work for all values of the other two options: sampleFactor and simplifyThreshold?

[2019-10-16 12:06] ffd8 commented on #4086
1 – At the moment, each piece of a letter/glyph is simply handled as it's own path in the first dimension of array, followed by their collection of points in the 2nd dimension. This is how it's handled in Geomerative (Processing library, where there's an example called `getPointPaths`. In the example "%#!" would result in 6 paths (3 for the %), so one uses a loop within loop to avoid the connectin

[2019-10-16 12:13] ffd8 commented on #4086
Hope there's another function with multiple returns, as that might be smoothest implementation IMHO. Then having two additional options to `textToPoints()`, `separatePaths` (returns 2d array `[paths][points]`), `separateGlyphs` (returns 2d array `[glyphs][points]`.. still connected line within letter), activating them both returns 3d array `[glyphs][paths][points]`.

[2019-10-16 12:17] dhowe commented on #4086
@lmccart any thoughts on the API implications here (and on whether any other API functions change return types based on options) ?

@ffd8 have you tested the current implementation with the full set of unusual glyph path types: open, closed, intersecting, etc. ( %, !, g, &, ...)

[2019-10-16 12:33] ffd8 commented on #4086
@dhowe Yup, it's working fine with all special characters, since it's the same `textToPoints()` function, just now returns more detail/depth than currently done.

Here's an example for testing it out:
https://editor.p5js.org/ffd8/sketches/jQANRzdQ2

[2019-10-16 12:51] dhowe commented on #4086
Right - I guess I was thinking about how to do filled paths... but this is still not possible given the data returned (part 3 of your example).  I suppose another option in terms of the API would be to keep the 1D array but separate each path by some constant value, maybe Number.NEGATIVE_INFINITY. This would allow a user to realize your example sketch, but not change the return type for the functi

[2019-10-16 14:01] ffd8 commented on #4086
Yeah filled paths are always tricky.. Just added a function to exports glyphs too, and learn that of course this works great for letters like `B` with inner being opposite/different than outer, however it's tricky for something like `%`, where the `o` has two paths.. but the `/` not... anyways, those are just small details that aren't an issue if one uses outlines.

Here's an example with a custom

[2019-10-16 18:09] fadookie commented on #2911
I can't even get this to work at all on my latest sketch: https://editor.p5js.org/fadookie/sketches/RM4wd2g8U

In the editor, it works fine. But as soon as I download or show in fullscreen or presentation mode, I sometimes am unable to get any audio line in EVEN after waiting for a click event as suggested in the docs.

Sometimes it works without any user interaction, sometimes it never works, see

[2019-10-16 18:18] chrisorban opened #4089 "Using math functions without the Math.functionname()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-10-17 10:48] limzykenneth commented on #4089
Unless this is something you would like to avoid, you can do
[code]

[2019-10-17 13:23] limzykenneth commented on #2911
@fadookie I don't think this is related to the autoplay policy as the behaviour does not include microphone access. Chrome and other browsers usually ask for user permission before accessing them (with default settings), basically the same behaviour as webcams. I have no idea why Chrome is giving this behaviour though, nothing I found online points to a potential source of the problem.

[2019-10-17 14:57] antonilol opened #4090 "different textures for differents sides of box"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-17 15:36] chrisorban commented on #4089
Yes, I am aware of using setup for this purpose. I'm just trying to keep my programs as simple as possible. I sometimes have 6th graders using codes like this one:

https://editor.p5js.org/ChrisOrban/sketches/Hy_Lw_Fzb

Part of the question here is whether this is an easy fix or if it requires huge changes to the way that the p5.js library gets loaded in to work.

[2019-10-17 16:05] limzykenneth commented on #4089
I'm not fully sure how hard or easy this would be, but I cannot think of a way to make it work. The reason it works in this way is to ensure that p5 doesn't pollute the global namespace when not being used in global mode.

The way that the library detects global mode is simply checking if `setup` is defined on the window (ie global) object, the problem is that `x = random(-10, 10)` outside of `set

[2019-10-17 16:32] montoyamoraga commented on #4089
hi @chrisorban!
i wanted to share my experience with teaching p5.js and the way i explain declaring variables and then assigning values, which i hope helps you :)

* i first teach declaration of a variable, with "let x", and i make the students imagine that we are asking the computer to please allocate some of the computer's memory, and remember where it lives, and that is what x is, and i make th

[2019-10-17 16:51] stalgiag commented on #4090
Hi @antonilol you might be able to [get more help at the forum](https://discourse.processing.org/c/p5js). The github repo is typically for reporting problems with the library or requesting new features.

I'll just add a note that [the UVs](https://en.wikipedia.org/wiki/UV_mapping) of the box won't support this by default. You can make your own custom model with different UV sections for different

[2019-10-17 16:51] #4090 closed

[2019-10-17 23:38] dhowe commented on #4086
how so?

[2019-10-18 00:47] ffd8 commented on #4086
Here's a demo sketch:
https://editor.p5js.org/ffd8/sketches/A_1KGFkac

The demo hopefully shows how one more flexible per level of separation. Tried to simulate end of path 'flags' (faked it with `dist`) in top example, but then in order correctly close each shape, one probably has to refer back to the first vertex in the path (storing var outside loop)... and to specifically talk to a certain pat

[2019-10-18 09:33] elmariocarlos commented on #4037
My team and I are having the same issues; we had a functional working game before iOS 13, and we have followed steps to request DeviceMotion permissions. The approach works using Safari, but not when navigating using WKWebViews. We really need more clarity on this.

@cdumez related to the same issue where I tagged you some minutes ago.

[2019-10-18 09:36] limzykenneth commented on #4037
Is there any guidance from Apple regarding requesting permissions on WKWebViews? Firefox on iOS is basically wrapping a WKWebViews as far as I know so it should be possible to implement it in code directly.

[2019-10-18 18:36] limzykenneth opened #4091 "Latest versions not published to cdnjs"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.0, 0.10.2

- Steps to r

[2019-10-19 03:16] WojtekTB opened #4092 "P5.Image.filter(BLUR) and filter(BLUR) produce different results"
#### Nature of issue?

- [X] Found a bug?
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobi

[2019-10-19 05:24] NelsonZA opened #4093 "save() and saveJSON() not working latest version"
TypeError: Argument 1 is not valid for any of the 1-argument overloads of URL.createObjectURL.

Sample:

let infoTxt = [ 1 ];
save(infoTxt, 'info.txt');
noLoop();

Won't save.

[2019-10-19 12:39] limzykenneth commented on #4093
Hi @NelsonZA, can you show a complete example of a sketch that is demonstrating the problem? Also if you can fill out the issue template it would be very helpful for us as well.

[2019-10-19 15:03] nukecoder opened #4094 "Line and Point Documentation does not match Behavior"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mob

[2019-10-19 15:36] limzykenneth commented on #4094
Are you using WebGL mode with the above code? The number of parameters that the functions accept depends on the drawing mode of the canvas. If you try to draw `point` with 3 parameters on a 2D canvas, only the first two parameters will be looked at, same goes for `line`.

[2019-10-20 10:55] singhvisha commented on #3966
@stalgiag @aferriss
hi , Can I work on this issue?

[2019-10-20 17:24] stalgiag commented on #4046
Closed by #4084

[2019-10-20 17:29] stalgiag commented on #3966
@singhvisha sounds good!

[2019-10-20 19:35] stalgiag opened #4096 "Developer Docs as Website"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:

I think that the [developer_docs](https://github.com/processing/p5.js/tree/master/developer_docs) could be republished as a Developer Docs website. This would accomplish a few things:

- Someone wouldn't necessarily need to be comfortable with the Github interfa

[2019-10-20 19:37] #4064 closed

[2019-10-20 22:02] nukecoder commented on #4094
So, we can close this issue. I didn't realize there was an optional parameter to the CreateCanvas method to put it in WebGL Mode.

[2019-10-20 22:02] #4094 closed

[2019-10-21 02:18] fadookie commented on #2911
Thanks, maybe I should open a separate issue with this. May be PEBKAC but would still be great to document better if so.

[2019-10-21 02:56] Prasad-Chaudhari commented on #4052
This issue has been merged. you can close it right ?

[2019-10-21 06:23] scott-ho commented on #4083
@stalgiag see https://p5js.org/learn/curves.html .

if you click the play button, nothing happens.

![image](https://user-images.githubusercontent.com/35443789/67181135-483a2380-f40e-11e9-865c-25fa80b00302.png)

[2019-10-21 07:54] BaileighD opened #4098 "How do I make all objects on a canvas automatically adapt their size when the window size is changed?"
HI! I have to make a simple game for my creative coding class, and one of the requirements it that everything on the screen has to automatically adapt when you change your window size, not just the background. I cannot figure it out for the life of me! All help is welcomed!!

[2019-10-21 13:31] janmaltel commented on #3926
Thanks again, @coreygo !!

It worked like a charm until I tried to build an [automated blog summary of .mdx posts](https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/). This requires sourcing the directory that contains the blog posts using the ```gatsby-source-filesystem``` plugin as follows:
[code]
in the ```gatsby-config.js``` file. The posts directory contains .mdx files, which

[2019-10-21 16:34] stalgiag commented on #4083
Okay thank you @scott-ho!

Looks like this is the same as #4091 . The links in this section updated but the release didn't actually make it onto cdnjs.

[2019-10-21 16:50] stalgiag commented on #4052
@Prasad-Chaudhari yes thank you!

[2019-10-21 16:50] #4052 closed

[2019-10-21 16:54] stalgiag commented on #4098
Hi @BaileighD the github repo is for reporting bugs with the library and requesting new features. [This forum](https://discourse.processing.org/c/p5js) is much better for asking for help with coding challenges. I am going to close this for organization purposes. Good luck!

[2019-10-21 16:54] #4098 closed

[2019-10-21 18:15] janmaltel commented on #3926
Found it myself... in case someone is having the same issue:
the solution employed by @coreygo  used [this suggestion from the gatbsy site](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) which contained the if statement ```if (stage === "build-html") {...```.
I changed that so that it includes the ```develop-html``` stage as well, as follows:
[code]
Seems to work

[2019-10-21 19:48] coreygo commented on #3926
Greetings @janmaltel,

Yep, as you've found, `if (stage === 'develop-html' || stage === 'build-html')` resolves things; probably the easiest workaround and one I'd go with unless some other condition pops up.

Here's some additional information regarding the [four Gatsby webpack build stages](https://www.gatsbyjs.org/docs/add-custom-webpack-config/).

From [`webpack.config.js`](https://github.com/

[2019-10-22 02:35] dhruvs009 commented on #3487
@limzykenneth this is finally closed by #4069, isn't it?

[2019-10-22 15:02] limzykenneth commented on #4091
@lmccart @outofambit Do you know anything about this process? I thought the pull should be automatic when publishing to npm or is there something else that should be done? Or is this an issue over at cdnjs that we should raise with them?

[2019-10-22 15:07] ffd8 commented on #4091
@limzykenneth – just saw [an issue was opened](https://github.com/cdnjs/cdnjs/issues/13523) by @lmccart on CDNJS repo and it seem to be part of [a bigger autoupdate problem...](https://github.com/cdnjs/cdnjs/issues/13524)

[2019-10-22 16:00] mikima opened #4103 "drop() callback not working with images"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] DOM

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version:v0.10.2 October 14, 2019
- Web browser and version: 77.0.3865.120 (Official Build) (64-bit)
- Operating System: MacOSX Catalina

- Steps to reproduce this:
Trying to run this

[2019-10-22 16:35] stalgiag commented on #4103
Thanks for reporting the bug!

You are right that this is because `image()` is called before the image is loaded. This can also be fixed by placing `image()` inside the `successCallback` parameter of `createImg()` like this:
[code]

[2019-10-22 16:53] stalgiag commented on #4092
Thanks for the issue!

[p5.Image.filter](https://p5js.org/reference/#/p5.Image/filter) is here. Since it is a class method it is navigated to by first going to `p5.Image` in the main reference page.

I am having trouble reproducing. On Windows 10 with Chrome 77.0.3865.90
This code --
[code]
produces this for me:
![Screenshot (152)](https://user-images.githubusercontent.com/10382506/67309792-52612e

[2019-10-22 19:39] mikima commented on #4103
@stalgiag the `successCallback` of `image()` won't pass back the image itself, is it right?
If, for example, i want to move out the function:
[code]

[2019-10-22 19:56] stalgiag commented on #4103
@mikima No there is no argument passed to the callback as of now. [This is where the callback is called.](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L423)

[2019-10-23 02:08] WojtekTB commented on #4092
Hey there!
yeah after playing around with it some more it seems that it specifically happens when you have images with a transparent background.

Here is an example image:
<img width="375" alt="Screen Shot 2019-10-22 at 7 05 05 PM" src="https://user-images.githubusercontent.com/34536619/67350196-eefded00-f4fe-11e9-9189-486f35c3576b.png">

Left is the image being drawn and then blurred, right one i

[2019-10-23 06:53] elmariocarlos commented on #4037
@limzykenneth not a real guidance, but there are documentas and sites here and there. We have followed this:

https://medium.com/flawless-app-stories/how-to-request-device-motion-and-orientation-permission-in-ios-13-74fc9d6cd140

It works for Safari, but not when using WKWebView. So this is basically the quickl approach to solve the problem on the default experience, which is navigating with Safar

[2019-10-23 06:56] elmariocarlos commented on #4037
I just noticed I had another reply in this thread:

https://github.com/w3c/deviceorientation/issues/57#issuecomment-543792721

@limzykenneth

[2019-10-24 16:55] stalgiag commented on #3487
Yep thanks @dhruvs009 🎈

[2019-10-24 16:55] #3487 closed

[2019-10-25 00:32] Newcastle1959 opened #4111 "xerosploit"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-25 01:04] #4111 closed

[2019-10-25 01:28] fadookie opened #4112 "Can't get microphone capture work reliably in Chrome"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO (Microphone)
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

[2019-10-25 05:35] SachinVarghese commented on #4103
@stalgiag @mikima I did have the same issue for my project and had edited the callback as needed.
So I thought it would be a great time to contribute back and I have submitted a PR that works for me. Can you please review the updates?

[2019-10-25 10:28] rvegele opened #4114 "createFileInput - loading JSON data"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-25 12:56] mikima commented on #4103
Hi @SachinVarghese , thank you! I think it's very useful even if I think it doesn't solve the original issue related to `drop()` function: in the previous version of p5 it waited for the end of data loading while now it won't.

[2019-10-25 13:30] SachinVarghese commented on #4103
Hi, @mikima Can you please explain the issue with the `drop()` function with the new updates? I may have misunderstood the issue here.

[2019-10-25 18:47] abhisheknaiidu opened #4115 "Warning: Task "eslint:build" failed. Use --force to continue."
While running the " npm run grunt " command getting this Error.

![issue](https://user-images.githubusercontent.com/55599878/67596155-b91e6a00-f785-11e9-83d7-6b44b4f1f3b7.png)

[2019-10-26 16:06] lmccart commented on #4115
hi @abhisheknaiidu sorry you're having trouble. have you tried running `npm install`? did that command execute successfully?

[2019-10-26 16:06] lmccart commented on #4083
closing this since it is covered in #4091

[2019-10-26 16:06] #4083 closed

[2019-10-26 22:17] lmccart commented on #3931
Thanks for posting @ricardocanada. We've looked into this and it turns out it's actually quite hard to implement. We are not going to be able to implement this at this time, due to other priorities we have leading up to the [1.0 release](https://github.com/processing/p5.js/milestone/6), perhaps we can revisit in the future.

[2019-10-26 22:17] #3931 closed

[2019-10-27 09:05] abhisheknaiidu commented on #4115
Yes, that worked fine infact! but if I'm running npm run grunt command, its giving error.

[2019-10-27 09:07] lmccart commented on #4115
I see, thanks. Can you please post the full readout that is excerpted above?

[2019-10-27 09:36] abhisheknaiidu commented on #4115
yeah sure. So, if I am running the "npm install" command im getting these two as warnings, I don't think it will cause any problem.
![npm](https://user-images.githubusercontent.com/55599878/67632554-e58fce80-f8ca-11e9-9d44-bfa6b632f9da.png)

And after running "npm run grunt" command, im getting this error -

![npm2](https://user-images.githubusercontent.com/55599878/67632570-1bcd4e00-f8cb-11e9-9af

[2019-10-27 21:15] ffd8 opened #4116 "Issue with resizing a createCapture object since v 0.10.2"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] DOM

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: 77.0.3865.120
- Operating System: MacOS 10.13.6
- Steps to reproduce this:
I think this is a bug since the recent merge of p5.dom into the m

[2019-10-28 00:23] bmxguy100 commented on #4114
Could you just use [JSON.parse()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse)?

[2019-10-28 00:38] jrlowent commented on #4115
Hello All,

I am new to working in open source, and new to this project!

I am getting a very similar error when I run "npm run grunt".  This error comes after following the instructions for the "Development Process" in the "Developer Docs", where I commit my first message to my local copy.

Thanks in advance for your help, and let me know how I can help you all.

Best,
Jake

[2019-10-28 09:30] mikima commented on #4103
In the previous version of P5, as described in the documentation, you wouldn't need aadditional callback function, and you should be able to use `image()` directly in the `drop()` callback function. Below code comes from documentation and now is no more working:

[code]

[2019-10-28 10:30] SachinVarghese commented on #4103
@mikima This example code will not work every time as the loading of the image from the source is asynchronous. And that is the reason to introduce this success callback if I am not wrong. You can use the callback  as follows with the new PR,
[code]
Also I think we will have to update the example in the documentation.
@outofambit  @stalgiag  Please share your ideas.

[2019-10-28 12:15] limzykenneth commented on #4114
@rvegele When loading a file with `createFileInput()`, it will attempt to determine the type of the file and store it as an object accordingly. When loading a JSON file it will save the JSON data as a base64 encoded string of the JSON data in `file.data`.

To get the JSON data as a Javascript object, you will need to do a few things:
[code]

If you cannot find a similar question on the forum, you

[2019-10-28 12:15] #4114 closed

[2019-10-28 18:03] stalgiag commented on #4115
Hi @abhisheknaiidu & @jrlowent thanks for your interest in contributing!

I tried to recreate this by setting up a new development environment and I wasn't able to recreate. I used the instructions from the [Development Process section](https://github.com/processing/p5.js/tree/master/developer_docs#development-process).

My system setup is:
**os**: Windows 10 build 18362
**git**: version 2.23.0.wi

[2019-10-28 18:08] #4046 closed

[2019-10-28 20:08] stalgiag commented on #4092
Now I understand a little better and [I am able to reproduce. ](https://editor.p5js.org/stalgiag/sketches/DRsy55WFU)

Perhaps this is related to the pixelDensity differences between p5.Image and the canvas? Requires further investigation.

[2019-10-29 14:47] #3368 closed

[2019-10-29 15:05] limzykenneth commented on #4115
@abhisheknaiidu It seems the npm version you are using is very old (v3.5.2), can you update that to the latest version and see if that works?

[2019-10-29 15:57] erichlof opened #4121 "Feature request: a reflect method for the p5.Vector class"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-29 18:24] everythingability opened #4122 "The addCue feature and example don't work"
On this page: https://p5js.org/reference/#/p5.SoundFile/addCue

I click the button, the sound plays, but there are no text changes.

[2019-10-30 14:38] abhisheknaiidu commented on #4115
@limzykenneth After using node version 6.1.2 also I'm getting a error, but it's different from previous scenario's
![err](https://user-images.githubusercontent.com/55599878/67867818-fc475700-fb50-11e9-8392-6aec50b93878.png)

[2019-10-30 15:57] erichlof opened #4123 "Vector.cross() should allow result to be a target (avoid creating new Vec on each call)"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-10-30 16:27] lmccart commented on #4115
can you try updating to node v12?

[2019-10-30 18:39] limzykenneth commented on #4123
I'm not terribly well versed with how memory works in JS but woudn't the block of memory still be allocated regardless of whether the value is returned from the function or assigned in the function?

From what I understand in JS as long as there is an assignment, a new block of memory address will be allocated for the variable regardless of whether that variable is a pre-existing one or not. But I

[2019-10-30 19:23] erichlof commented on #4123
@limzykenneth

Hi Kenneth, thank you for the quick reply.  Yes I'm not too clear on how browsers allocate memory, especially with JS and just-in-time compiling.  You may be right on the mark.  I will close this issue and research the topic further.  If I find that the new keyword is worse for the garbage collector as opposed to using and reusing a 'temp' variable/object, I will re-open the issue a

[2019-10-30 19:23] #4123 closed

[2019-10-31 09:43] abhisheknaiidu commented on #4115
@lmccart I have been using node v13 only, it is not working in that version also!
![err2](https://user-images.githubusercontent.com/55599878/67936029-03be3d00-fbf1-11e9-8e30-aa6fdfa2635e.png)

[2019-10-31 16:34] ffd8 opened #4124 "Set reference p5 examples to noLoop() on window.blur()"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Other (website documentation)

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop

#### Feature enhancement details:

I regularly notice that students like to have multiple p5.js reference tabs open (also p5 editor)

[2019-11-01 01:19] jrlowent commented on #4115
=================================================================

Thank you for your help!  Here is my development environment:

OS:   Windows 10 version 1903 build 18362.449
Git:   2.23.0.windows.1
Node:   12.13.0
npm:    6.12.0

Here is my error message when running "npm run grunt" after arriving at eslint:build:

"Running "eslint:build" (eslint) task
No parser and no filepath given, using 'bab

[2019-11-01 02:30] yzxnwj opened #4125 "Using tint() can be stalling"
When I use tint in my animations,  three will be   cato, how do isolve it

[2019-11-01 17:17] stalgiag commented on #4125
Hello @yzxnwj can you provide a code example?

In the future, it is best to fill out the issue template (that text that is in the issue field when you first open an issue). This give us all of the information we need to be helpful.

[2019-11-01 17:23] stalgiag commented on #4122
Hi @everythingability thanks for the issue! The sound library development is tracked in another repo and [there is an issue open for this problem over there.](https://github.com/processing/p5.js-sound/issues/371)

I am going to close this issue for organization purposes. Follow the linked issue to track progress on this. Thanks again!

[2019-11-01 17:23] #4122 closed

[2019-11-01 21:40] #105 closed

[2019-11-02 12:47] b12f opened #4127 "Distribute Treeshakable ESM code"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### New feature details:

The NPM p5 module currently ships a file that b

[2019-11-02 18:03] wolfy01 commented on #2057
There's also another way... If the tab is playing audio, the interval should not slow down.

[2019-11-03 03:03] lmccart commented on #4086
Hi all, interesting discussion here. We're focused on the [priorities for the 1.0 release](https://github.com/processing/p5.js/milestone/6) right now so I don't think I'll have the bandwidth to weigh in on this until after that's done.

[2019-11-03 11:51] limzykenneth commented on #4124
p5's animation loop is using `requestAnimation` and in most browsers when the tab is not active it should have stopped the animation loop without need to explicitly stop it. You can read about it [here](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame)

[2019-11-03 12:06] limzykenneth commented on #4127
I think it is interesting to explore this but I think there may be too much side effects in the library for it to be able to be used effectively. I'm not sure though.

[2019-11-04 02:28] #1190 closed

[2019-11-04 10:17] b12f commented on #4127
Yeah, at first I thought this would be easy, but after looking at the code it seems a bit harder. It should be possible however to ship the current esm code with a special `sketch` wrapper, and then a second wrapper for the cjs format, keeping all else the same.

[2019-11-04 10:23] b12f commented on #4127
The most immediate change would be to remove all usages of a direct `import 'filename.js'`, and only `import { whatever, is, being, used } from 'filename.js'`

[2019-11-04 10:29] limzykenneth commented on #4127
I think that's a good first step.

[2019-11-04 13:03] mikima commented on #2525
Yes that would be really useful, like having a `VERSION` constant or `p5.getVersion() `function

[2019-11-04 15:42] outofambit opened #4130 "Try GitHub Actions for CI"
We currently use Travis to run automated builds and tests for p5 development on GitHub. I've tried out an experiment in using the new [GitHub Actions](https://github.com/features/actions), which is basically a CI (and other automation) toolkit for GitHub.

My goal in trying this is to make the process of finding and understanding automated build and testing easier for p5js contributors. There's no

[2019-11-04 16:29] stalgiag commented on #4080
Hi @wanbinkimoon I am going to close this issue since this is expected and necessary behavior. If you feel that some changes should be made feel free to ping me here and I will reopen. Thanks!

[2019-11-04 16:29] #4080 closed

[2019-11-04 18:16] ffd8 commented on #4124
Thanks for the info + link. While this stops it if the tab isn't active, it keeps running if on an active tab in a minimized or background window (in Firefox/Chrome/Safari)– potentially eating resources if the person has multiple windows/browsers/etc open while learning from the references.

No problem if this should be closed – but it would be helpful to implement the `window.blur()`/`window.focu

[2019-11-04 18:19] limzykenneth commented on #4124
We can explore potentially implementing this on the website. I'll move this issue over there. You can open one for web editor if you wish to proposed something similar there.

[2019-11-05 21:33] stalgiag opened #4137 "Translation of contributor_docs"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Feature enhancement details:
As we start working towards a Contributor Docs website #4096 it would be awesome to start adding some translations. In the initial setup of the navbar there is going to be a stubbed Spanish version. Further translation would be super helpful if anyone has any int

[2019-11-06 12:10] nippotam commented on #1214
How to reopen it ?

[2019-11-07 07:39] yzxnwj opened #4139 "no audio of safari"
my sketch is super simple, just uses loadSound,   sound.play and p5.FFT.

It worked perfectly on chrome android, but on iOS no chance, using iOS 11.

music_ShowdasPoderosas = loadSound($('#music option:selected').val(), loaded)
function loaded() {
	musicStart= true
}
$('.run').on('click', ()=>{
music_ShowdasPoderosas.play()
})

[2019-11-07 09:13] GeeveGeorge opened #4140 "Switching between front and rear camera on a smartphone using P5.js"
@shiffman @outofambit
Hi Guys,
I have written the program below for switching between front and rear camera on a phone when clicking on the switchBtn. On cliking the button, it doesn't switch as intended. Hope you could have a look at my code and if possible suggest a fix. Thank you! :)

[code]

[2019-11-07 12:21] limzykenneth commented on #4140
Hi @GeeveGeorge, we usually keep github issues for bug reports and feature requests only. If you have questions about your own code, please post them to the [forum](https://discourse.processing.org/) where you can get help there. Thanks!

[2019-11-07 15:57] GeeveGeorge commented on #4140
Thanks for the reply! I've made a post there. But, I feel like switching between front and rear camera seems to not be working using p5.js . I read other similar topics on the issues page https://github.com/processing/p5.js/issues/1496 , here too the issue seems not to be resolved. Hope someone could update regarding if there has been any changes such that we could switch between the rear and back

[2019-11-07 17:03] stalgiag commented on #4023
I will get access to an iOS device in late November. I will look into this then.

[2019-11-08 12:44] limzykenneth commented on #4140
For me your code above work just fine on Safari iOS 13.2, it is switching as intended between the two cameras on my iPhone SE. If you think there is still a bug, please let us know more about your particular setup, namely the p5.js version, the iOS version and the phone being used.

[2019-11-08 12:50] GeeveGeorge commented on #4140
Hey Kenneth,

Thanks for the reply. Glad to know it's working on your iPhone. I'm on an Android device (Redmi Note 5 Pro) running, Android Oreo  : 8.1.0. I wrote the above code on the p5.js web editor .

[2019-11-08 12:53] limzykenneth commented on #4140
I'll reopen this and see if anyone else can reproduce.

[2019-11-08 12:56] GeeveGeorge commented on #4140
Thank you! :) Hope someone could reproduce it on Chrome and on Androidm

[2019-11-08 13:12] GeeveGeorge commented on #4140
![IMG_20191108_184132](https://user-images.githubusercontent.com/9594201/68479065-706fb200-0257-11ea-87a9-b6c10ba74ec7.jpg)

On clicking switch , the p5.js log reports : error .

[2019-11-10 18:48] haschdl opened #4141 "WEBGL vertex color no longer working as expected in 0.8.0"
I read multiple issues related to WEBGL but I could not find this one. It seems something broke between 0.8.0 and 0.9.0.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities

[2019-11-10 19:18] haschdl commented on #2750
Relates to #4141
The sample above provided by https://github.com/processing/p5.js/issues/2750#issuecomment-377291020 works with version 0.8.0 but in version 0.9.0 the output is wrong:
![image](https://user-images.githubusercontent.com/9550197/68549342-3f2de800-03f7-11ea-9d8f-6d77be37dd78.png)

[2019-11-10 19:26] haschdl commented on #4141
I don't if this applies to all cases, but using `beginShape(TRIANGLE_FAN)` with version 0.9.0 seems to have the expected outcome.

[2019-11-11 00:23] oshoham opened #4142 "deviceOrientation is undefined in setup() on mobile devices"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Events

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: iOS Safari
- Operating System: iOS 12.4.1 on an iPhone 8
- Steps to reproduce this:

If you run the following sketch on a

[2019-11-11 14:35] #4093 closed

[2019-11-11 18:34] stalgiag commented on #4142
Thanks for the well-written issue.

Do you think there are other use cases for getting device orientation before `setup()` ? `displayWidth/displayHeight` can be used to set canvas dimensions based on orientation.

Overall, It makes sense to me to make `deviceOrientation` available as soon as possible. This would probably mean breaking the `deviceOrientation` calculation out of `_handleMotion()` si

[2019-11-11 20:06] stalgiag commented on #4141
Hi thank you for the well-written issue!

This issue stems from [this code in the p5.RendererGL.Immediate](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.Immediate.js#L190). This section is in need of a refactor.

Essentially, `immediateMode` doesn't keep track of the relationship between `vertexColors` and `vertices`. So when the linked code tesselates your vertices it gi

[2019-11-11 20:21] stalgiag commented on #4141
Just for a hack-y example of the desired outcome. If we do this starting [on this line](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.Immediate.js#L204) then we get desired behavior with your first example:
[code]
This is a non-ideal solution because it is checking every vertex for its desired vertexColor by searching for a match in the original vertex array. This require

[2019-11-11 20:43] stalgiag commented on #4140
I am able to reproduce with Android 8 and latest Chrome.

I am unable to get a stack trace with my current setup but it appears that with Chrome on Android the old capture stream has to be stopped manually before switching. I am saying this based on the error and [on this thread.](https://github.com/philnash/mediadevices-camera-selection/issues/1)

Here is an image of the error:
![Screenshot_20191

[2019-11-11 20:52] stalgiag commented on #4140
Here is the original code with a workaround added:
[code]

[2019-11-11 21:00] GeeveGeorge commented on #4140
Hey @stalgiag , thanks for the reply!
I tried running your code on the web editor.
I am getting an error. I am attaching an image of it below.
![Screenshot_2019-11-12-02-28-26-166_com android chrome](https://user-images.githubusercontent.com/9594201/68620860-628a8d00-04f4-11ea-9332-10c92387f4d1.png)

[2019-11-11 21:02] GeeveGeorge commented on #4140
Hey @stalgiag ,
Just tried running the code. It works perfectly!
Thanks for the reply :)

[2019-11-11 21:12] stalgiag commented on #4140
Great @GeeveGeorge !

Not sure what should be done on the library side. Perhaps `p5.MediaElement.stop()` should stop the stream of a capture and get rid of the `srcObject`? Currently `stop()` does the equivalent of:
[code]
What do you think @limzykenneth ?

[2019-11-11 21:14] GeeveGeorge commented on #4140
Yes, would be great if it was implemented into the library! @limzykenneth @stalgiag

[2019-11-11 21:26] limzykenneth commented on #4140
If the `srcObject` is gotten rid of when calling `stop()` then can media strem operations still be run on it? eg. can `start()` be called on it when `srcObject` is gone?

What about cleaning up `srcObject` on `remove()`?

[2019-11-11 21:29] stalgiag commented on #4140
Yeah `remove()` might be a better place to do this.

[2019-11-11 21:31] limzykenneth commented on #4140
`remove()` is a p5.Element wide method so how to pin point it to p5.MediaElement I'm not exactly sure. The inheritence there is rather messy.

[2019-11-11 21:46] stalgiag commented on #1214
Hi @nippotam `curveVertex()` works in WEBGL mode currently. [Here is the reference example running in WEBGL](https://editor.p5js.org/stalgiag/sketches/yAXEk9pO5). If you are having an issue with this feature you can open a new issue.

[2019-11-11 22:48] nippotam commented on #1214
Thank you @stalgiag  I will check and tell you

[2019-11-13 15:37] nonsequitoria opened #4143 "Incorrect output when using print with an array"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-11-13 19:52] anuragakella commented on #4143
Not sure why that's happening for you? Seems to be working fine for me...

Check this out:
[used the exact same code that you used]
https://codepen.io/anuragakella/pen/NWWOxKj?editors=1111

[2019-11-13 20:21] jrlowent commented on #4115
@abhisheknaiidu & @lmccart,

Yesterday, I Installed the latest version of Python, added it to the Windows path, and ran npm update.  I did not have the same issue after performing these steps.  I am not sure if all the steps are necessary, but my branch coincidentally worked after this.

If you have any comments or suggestions, I would appreciate them.  I hope this helps!

Best,
Jake

[2019-11-13 23:21] nonsequitoria commented on #4143
Thanks for the test @anuragakella. Note your example is using p5.js version: 0.7.1, but I checked it on CodePen with version 0.9.0, and it also works as expected.

So, I think this might be related to the p5 web editor. It must handle console output or how the code is run in some non-standard way. Try running my test code there: https://editor.p5js.org/nonsequitoria/sketches/6MS3iYNJG

[2019-11-14 04:26] DeepakKannan1992 opened #4145 "createCapture() throws DOM error on Chrome"
**Nature of issue?**
 Found a bug

**Most appropriate sub-area of p5.js?**
 Other --> DOM

**Which platform were you using when you encountered this?**
 Desktop/Laptop

**Details about the bug:**
p5.js version: Latest version as of date (14/11/2019)
Web browser and version: Chrome 78.0.3904.97

**Operating System:** Windows 10

**Steps to reproduce this:**
Create a sketch
Include this line in setu

[2019-11-14 16:56] lmccart commented on #4143
closing this because it's covered in #1203

[2019-11-14 16:56] #4143 closed

[2019-11-14 17:59] stalgiag commented on #4145
I am unable to recreate testing [with this link](https://p5js.org/examples/dom-video-capture.html) on Windows 10 with Chrome 78.0.3904.97.

I additionally tested with p5 v0.9.0 on the online editor and the p5 v0.10.2 on a local https server. All are working as expected.

Did you follow the thread in the issue you linked and try the suggestions posted there? It seems that the author of that issue e

[2019-11-15 03:14] #3794 closed

[2019-11-15 08:53] mishazawa commented on #4145
Hello @DeepakKannan1992. Are you sure that you have allowed permissions to capture device in Chrome? I can reproduce your problem when I click "Deny" when browser asking permissions.

[2019-11-15 23:07] lmccart commented on #4096
resolved with https://github.com/processing/p5.js-website/pull/509

[2019-11-15 23:07] #4096 closed

[2019-11-15 23:10] lmccart commented on #4139
the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://discourse.processing.org/) is the best place to post. thanks!

[2019-11-15 23:11] lmccart commented on #4139
hi @yzxnwj can you confirm that the volume is turned on with your iOS device? please post a simplified example that doesn't include jquery, so we can better isolate the issue.

[2019-11-16 00:27] oshoham commented on #4142
@stalgiag Sorry for taking a few days to get back to you.

One other use case for accessing `deviceOrientation` in `setup()` that comes to mind is determining whether a sketch is running on a mobile device vs. a laptop/desktop computer. If `deviceOrientation` is `undefined`, that’s usually a good indicator that a sketch isn’t running on mobile. However, that check could also probably be done just

[2019-11-17 03:27] stalgiag commented on #4142
It makes sense to me for it to be available during setup. It should be safe to set this in the p5 constructor in `core/main.js`. Do you want to open a PR?

[2019-11-17 19:38] #4091 closed

[2019-11-18 10:15] NandhaGopiFrost commented on #4145
Hi @DeepakKannan1992 ,

I tried the same and got below two scenarios
1. Access Denied for camera - console logged as : DOM exception: access denied (No error thrown)
2. Allowed Camera but no camera connected - No error from console
3. Allowed camera and camera connected - no error and worked as expected

[2019-11-18 15:40] #4103 closed

[2019-11-18 16:28] stalgiag commented on #4140
It would not help with messiness in the inheritance but a quick fix could be to:
[code]

[2019-11-19 15:10] Rousan99 commented on #465
https://editor.p5js.org/K.A.Rousan/full/pjZLu-5m6
No.. it's not working..like this...this one is not working in android chrome.. the mouse click fuction is used..it is working just fine in pc but not on Android

[2019-11-19 16:41] Vamoss commented on #3857
Hi @stalgiag, thank you for looking into this.

The code:
[code]

The result:
<img width="280" alt="Captura de Tela 2019-11-19 às 14 37 15" src="https://user-images.githubusercontent.com/245841/69166295-c2270080-0ad1-11ea-8637-7eff29fcac86.png">

Something changed since my initial text. I now see some vertex have colors, others not.

Cheers,
Carlos

[2019-11-19 19:28] stalgiag commented on #3857
Ah I see! The problem seems to be the same as #4141 which will be fixed by #3620 . I have a work-in-progress branch for this so expect a fix to appear soon.

[2019-11-20 18:25] dhuang612 commented on #3378
Hi, is this still available to work on?

[2019-11-20 23:31] lmccart commented on #3378
@dhuang612 it is!

[2019-11-21 03:27] jjkaufman opened #4148 "p5.Vector mag documentation formatting issue"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobil

[2019-11-21 15:52] #4148 closed

[2019-11-21 18:46] #4130 closed

[2019-11-21 19:03] gruselhaus opened #4150 "GitHub Actions Caching Support"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-11-22 09:44] limzykenneth commented on #4150
Hi @gruselhaus, can you explain a bit what this issue is about? I wasn't following the move to Github Actions so just looking at this issue and the related PR isn't making complete sense to me.

[2019-11-22 23:21] MGelein commented on #4092
Some further investigation has shown that POSTERIZE, THRESHOLD both have a (minor) difference between the canvas filter (left) and the image filter (right), supposedly to do with pixeldensity.

![image](https://user-images.githubusercontent.com/13851284/69467005-9a13f780-0d86-11ea-8520-f0dded633dc7.png)

GRAY and INVERT however do not have this difference:

![image](https://user-images.githubuserc

[2019-11-23 16:26] gruselhaus commented on #4150
Hi @limzykenneth,

sure. The p5.js repo uses GitHub Actions for CI now. See #4131. I added the dependency caching function to those CI Workflows in #4151.

[2019-11-24 18:37] chriskuech opened #4152 "Documentation for npm package"
I can't find any mention of how to use the npm package in the documentation.  The only hooks I see demonstrated in the docs are the `setup()` and `draw()` functions, which don't make sense in most scenarios where someone would be importing an npm package.  Please document this scenario.

[2019-11-24 19:23] slowizzm opened #4153 "409 Conflict PUT"
409 Conflict PUT - sketch not saving

- [x] Found a bug

#### Which platform were you using when you encountered this?
- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.9.0
Chrome 78 on Windows 10

Myself and students have been experiencing this quit a bit lately. Sketches will not save resulting in lost work. Looking in the console I see a 409 conflict error ...

![Capture](h

[2019-11-24 19:49] lmccart commented on #4152
hi @chriskuech thanks for your post. we have not explicitly designed this library to be used with npm so there is no documentation for this on the website. for more help with this, I encourage you to post on our [forum](https://discourse.processing.org/). thanks!

[2019-11-24 19:49] #4152 closed

[2019-11-25 11:30] haschdl opened #4154 "Device rotation should respect angleMode"
I noticed that device rotation variables, namely [rotationX](https://p5js.org/reference/#/p5/rotationX), [rotationY](https://p5js.org/reference/#/p5/rotationY) and [rotationZ](https://p5js.org/reference/#/p5/rotationZ) are always in degrees, and not follow `angleMode`.
This creates some confusion, which is noticed for example in the example for rotationX:
[code]

#### Nature of issue?

- [x] Found

[2019-11-25 11:56] haschdl commented on #4121
Sounds useful!

[2019-11-25 19:13] junagao commented on #4137
Hi, I'd like to help with Portuguese (Brazilian) translation. Let me know if it's ok to start.

[2019-11-25 19:44] stalgiag commented on #3893
Coming back around to this, I have been flip-flopping on whether these tasks are better approached with Github Actions or bots. After further research, I am feeling fairly certain that bots will be better suited to repository organization. Sorry for the runaround @outofambit !

For most of what we would like to do, there are more stable existing bot solutions than there are github action examples.

[2019-11-25 19:45] stalgiag commented on #4137
Yes @junagao definitely!

[2019-11-25 23:01] outofambit commented on #4150
closing this since i don't think there's anything we can cache currently :/

[2019-11-25 23:01] #4150 closed

[2019-11-25 23:19] lmccart commented on #3893
Sounds good! A few thoughts:

* Can the "triage" label be something like "please-help-label" etc? I think some people may not know what "triage" means and may be hesitant to remove the label or add others.
* Question: can anyone be auto-assigned by the bot, or do they need to already be a part of the team that has contributor access to the repo? If so, is there a way to automate this step too, add

[2019-11-25 23:46] stalgiag commented on #3893
I fully agree. `triage` is an obtuse word. Quickly glancing at [the bot code](https://github.com/tunnckoCoreLabs/triage-new-issues) it looks like it allows you to set a custom label in the settings.

[Github recently modified the rules ](https://github.blog/2019-06-25-assign-issues-to-issue-commenters/) so that any commenter on an issue can be assigned to the issue. That said, I haven't been able

[2019-11-26 19:04] awb99 opened #4158 "bug in npm bundle"
I ran the npm bundle "p5" : "^0.10.2" through the google clojure compiler and got
an error in line 69565: "Invalid delete operand. Only properties can be deleted.".
The culprit seems to be "delete this".

I assume this function has a bug.

[2019-11-26 20:44] stalgiag commented on #4158
Hi! Thanks for the issue.

I think that [this line ](https://github.com/processing/p5.js/blob/master/src/dom/dom.js#L2077)must be the culprit. I think the intent of this line can be achieved by deleting the reference in `this._pInst._elements`. Any interest in opening a pull request and contributing a quick fix?

[2019-11-26 20:51] awb99 commented on #4158
Sorry I don't know enough about p5 to fix the issue. I think with a good linter this
error also should have popped up.

[2019-11-26 21:03] stalgiag commented on #4158
New contributors are always welcome, regardless of prior experience or knowledge!

For now I will add a help wanted label but the to-do is to:
1. Follow [these instructions](https://github.com/processing/p5.js/tree/master/developer_docs#development-process) on setting up a development environment
2. During step 6, when asked to make changes to the code go to [this line in src/dom/dom.js](https://g

[2019-11-27 01:10] stalgiag commented on #3966
Closed via #4128

[2019-11-27 01:10] #3966 closed

[2019-11-27 01:11] #2963 closed

[2019-11-27 01:11] #3620 closed

[2019-11-27 01:11] #4141 closed

[2019-11-27 07:26] singhvisha commented on #4085
hi @stalgiag,
It seems that when try to remove the streaming caused by the `createCapture()` method using the `remove()` method(method in p5).It don't stop streaming.the light of the webcam is still open which implies that the microphone and camera is runnning.

I think that this issuse closely resmbles the issuse(#4140).Implenting this feature might be a solution for the the issue(#4140 ) also.

[2019-11-27 08:23] anuraghazra opened #4160 "Enhancement: Using Web Workers for Image Filters"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-11-27 08:35] limzykenneth commented on #4085
The problem seems to be the same as #4140 so the solution @stalgia suggested should solve this issue as well. The function that needs changing is this one: https://github.com/processing/p5.js/blob/0.10.2/src/dom/dom.js#L2056, the `remove()` function on `p5.Element`.

I can assign you to this issue if you are going to work on it.

[2019-11-27 08:38] singhvisha commented on #4085
Hi @limzykenneth,
I would definitely like to work on this?

[2019-11-27 08:57] limzykenneth commented on #4085
@singhvisha Great! Just file a PR whenever you are ready. I'll assign you the other issue as well.

[2019-11-27 09:09] singhvisha commented on #4085
@limzykenneth,
I will soon submit PR

[2019-11-27 09:11] singhvisha commented on #4140
@limzykenneth
I would like to work on this too.

[2019-11-27 16:00] #4023 closed

[2019-11-27 16:26] stalgiag opened #4161 "Set perPixelLighting to true by default"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

Making an intentional duplicate of #3940 because that thread became a litt

[2019-11-27 23:10] lmccart commented on #4089
Thanks @chrisorban. I agree, it would be very convenient. Unfortunately, it is quite difficult to implement. The main challenge is that we are supporting two different modes -- instance mode and global mode. The p5.js script first checks for definitions of `setup()` or `draw()`, and if it finds them, it begins running p5, calling each of them. If not, it assumes we're in instance mode, and it wait

[2019-11-27 23:13] lmccart commented on #4125
I'm closing this for organizational purposes, please feel free to reopen if you can share a code snippet that illustrates the problem. Thanks!
I'm closing this for organizational purposes. Please reopen if you can provide a code snippet that illustrates the issue. Thanks!

[2019-11-27 23:13] #4125 closed

[2019-11-27 23:15] lmccart opened #4162 "rename developer_docs to contributor_docs"
Suggesting that we rename the `developer_docs` folder to `contributor_docs`. This change has already been made in the p5.js-website, so the two would align. This would also open the door to more markdown files that document how to contribute to the project in ways other than code.

[2019-11-27 23:15] #4139 closed

[2019-11-27 23:17] lmccart commented on #4037
I was just looking into this. If this is Apple's stance going forward, we will need to consider adding a function that requests permission for motion and orientation. It needs to be triggered on user gesture. Something like `enableMotion()` or similar?

[2019-11-27 23:24] lmccart commented on #2607
I think this has been addressed. Functions now print messages like `pointLight() is only supported in WEBGL mode`. Let's open individual issues for any methods that are not correctly routed or messaged.

[2019-11-27 23:24] #2607 closed

[2019-11-28 00:19] #1327 closed

[2019-11-28 06:22] #4162 closed

[2019-11-28 09:58] ffd8 opened #4163 "allow rect() use just 3 parameters, like ellipse() - so both words can be hotswapped"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Feature enhancement details:

`ellipse()` allows one to provide just 3 parameters ie. `ellipse(x, y, w)` and it auto-magically uses the `w` for the `h` to make a perfect circle. This functionality is really efficient (`circle` and `square` were helpful learnin

[2019-11-28 10:34] mishazawa commented on #4163
According to [docs](https://p5js.org/reference/#/p5/rect), `rect` signature accept optional parameters for corners radius. How to handle this parameters when `height` parameter was omitted?

[2019-11-28 10:48] ffd8 commented on #4163
@mishazawa Ahaa - interesting issue. This is intended to address when only 3 params are given, similar to an `ellipse()`. If one wants to have rounded corners with `rect()`, they should add the additional values or swap to a `square()` if really wanting to avoid adding an `h`.

[2019-11-28 18:45] szinubuntu opened #4167 "[Issue] Inconsistent default fill colors for shape and text, and `fill()` affects both; `noFill()` also causes texts disappear. Inconsistent behavior with Processing (Java) implementation."
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [X] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-11-28 20:17] lmccart commented on #4038
resolved with https://github.com/processing/p5.js/pull/4043

[2019-11-28 20:17] #4038 closed

[2019-11-28 20:28] lmccart commented on #4116
fixed with https://github.com/processing/p5.js/pull/4146

[2019-11-28 20:28] #4116 closed

[2019-11-28 20:41] #3888 closed

[2019-11-28 20:44] lmccart commented on #4085
fixed with https://github.com/processing/p5.js/pull/4166

[2019-11-28 20:44] #4085 closed

[2019-11-28 20:44] lmccart commented on #4140
fixed with https://github.com/processing/p5.js/pull/4166

[2019-11-28 20:44] #4140 closed

[2019-11-28 20:51] #4163 closed

[2019-11-28 20:53] lmccart opened #4171 "add contributors from 2019 contributors conference to readme"
https://p5js.org/community/contributors-conference-2019.html

[2019-11-28 20:54] #4171 closed

[2019-11-28 20:57] lmccart commented on #4167
thanks @szinubuntu. our goal is not to have parity with processing, but to make decisions for this project that feel consistent and understandable as possible. our approach has been that `fill()` and `stroke()` apply to both text and shapes. this allows us to do things like text outlines. in this case, it made sense that `noFill()` and `noStroke()` would also apply.

[2019-11-29 07:49] singhvisha commented on #4121
@limzykenneth,
Can I work on this issue?

[2019-11-29 08:18] mishazawa commented on #4121
Already done but closed https://github.com/processing/p5.js/pull/4118

[2019-11-29 18:53] gr2m commented on #3893
Hey there 👋 I'm one of the Probot maintainers and also maintain the underlying JavaScript toolkits that work GitHub's API. I'm a big fan of the p5.js community. If there is something I can help with please let me know!

GitHub Apps are great if you need an immediate response. GitHub Actions usually take a minute to boot up. Apps are also easier to debug in my experience, GitHub Actions can be some

[2019-11-30 17:42] elmariocarlos commented on #4037
Well I have opened a bug listing in bugs.webkit.org : https://bugs.webkit.org/show_bug.cgi?id=203287

Basically what has been discussed so far is that a WkWebView should be OK to get direct access to sensors, but so far I haven't been able to achieve this on iOS 13 because of some reason. The WebKit team has replied with the use of a iOS native app called "WebView" that based on that implementatio

[2019-11-30 20:01] limzykenneth commented on #4037
@elmariocarlos For your particular case I think you will have to sort it out between flutter, webkit and your own code and there's not much we can do here as the behaviour described by Chris Dumez in the webkit issue is consistent with the behaviour I've observed so far, with Firefox on iOS switching to a behaviour inline with Safari, and WkWebView not requiring user interaction nor permission.

F

[2019-11-30 22:29] elmariocarlos commented on #4037
Hi @limzykenneth yes that is precisely what I mentioned. The scenario is still relevant, because if all this would be really as straightforward as mentioned it should work regardelss. There must be some other things that are affecting how the standard must be implemented.

Example, it would be good to have source code for a base iOS app opening a wkwebview and then making the calls to open the URL

[2019-11-30 23:29] kappaxbeta opened #4172 "P5.js goes VR"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-01 06:52] PixsaOJ commented on #1119
Now it is removed again.  :-1:

[2019-12-01 06:58] lmccart commented on #1119
p5.dom has been merged into the main library, so there's no longer any need to link a separate file :)

[2019-12-01 11:51] limzykenneth commented on #4172
There used to be a [p5.vr](https://github.com/bmoren/p5.vr) addon library but it is no longer being maintained. I think VR support would be a great idea for an addon library!

[2019-12-01 18:20] PixsaOJ commented on #1119
Oh, Thank you. So I can use every function normally? Great!

[2019-12-01 18:54] aferriss commented on #4172
You might want to look into @stalgiag 's [p5.xr](https://github.com/stalgiag/p5.xr) library. Documentation is here https://stalgiag.github.io/p5.xr/#/

[2019-12-01 20:15] stalgiag commented on #4172
Thanks @aferriss !

Yeah, p5.xr is in alpha stage currently. It has broad support for mobile VR with any p5 sketch. Better hardware support (including desktop), more stable AR functionality, and an npm package will come at the end of the year.

I am going to close for organization purposes but if you have questions or requests feel free to open issues over on [the p5.xr repo.](https://github.com/s

[2019-12-01 20:15] #4172 closed

[2019-12-01 22:49] tigoe commented on #458
Looks like it's been closer for awhile but I'd add a big +1 for full SVG support. It'd be hugely helpful for making CNC-able patterns from p5.js. It'd make for a tool that fabricators and such would love.

Here's an example: my plan was to import an SVG made in Inkscape, sketch, etc; use p5.js and some sliders to tesselate that SVG, including sliders to rotate, scale, set borders, etc. Then export

[2019-12-02 02:14] rdslade commented on #4121
@erichlof Are you planning to reopen a PR similar to #4118 or is there work to be done for this issue? I would love to either work on the implementation (which seems to already be done) or contribute to the inline documentation / create unit tests for this reflect method! Any updates on your overall thoughts for this feature request?

[2019-12-02 02:19] rdslade commented on #3354
Planning to work on this issue!

[2019-12-02 06:19] erichlof commented on #4121
Hello @rdslade
I had initially opened #4118 as it was my first contribution to the p5.js library.  @limzykenneth suggested I close that and open this issue so it could be discussed first.  I guess I should re-open #4118 if everything seems ok?

There are no updates to this request, but if you would like to add to the PR, the unit tests and inline documentation would be a welcome addition!

Thanks!

[2019-12-02 09:24] dhowe commented on #3354
Cool. Note that in some of the approaches discussed online, extra space characters are added to extend the line, however this is not what we want here - rather we need to adjust the start position of each word

[2019-12-02 10:29] limzykenneth commented on #4121
@erichlof I think you can go ahead and reopen the PR, adding any unit tests or documentation that are still missing. Thanks.

@singhvisha There is already a PR prepared but this issue is opened for discussion and gauging interest before any further work is done on the PR. You can checkout #4118 to see if you can help there. Thanks.

[2019-12-02 16:13] outofambit commented on #3390
looking at using https://www.i18next.com/ for this!

[2019-12-02 16:28] outofambit commented on #4051
hi @trych! i have a fix for the `circle` and `square` instances of this! they will have their own parameter validation and message. are there other methods you've seen this problem with that i should take a look at?

[2019-12-02 16:55] stalgiag commented on #3857
Closing this as #3620 appears to have fixed the example given. Thanks!

[2019-12-02 16:55] #3857 closed

[2019-12-02 16:56] thheller commented on #4158
I'm confused. The Closure Compiler is explictely complaining about `delete this;`. So this line which is still there?

https://github.com/processing/p5.js/blob/74e8d1ebdc3cf3c64b0faacaff5fabf1a50f9e1a/src/dom/dom.js#L2092

Not sure what the other code actually does but the Closure Compiler was complaining about `delete this`  when reporting `"Invalid delete operand. Only properties can be deleted.

[2019-12-02 17:13] #4051 closed

[2019-12-02 17:24] erichlof commented on #4121
@limzykenneth
I don't see a re-open button for PR #4118 - could you please re-open it for me?  I don't think I have authorization to re-open a closed PR.  Thank you!

[2019-12-02 17:25] stalgiag commented on #4158
My apologies @thheller early morning code review and I missed that the `delete this` line wasn't removed. The other code replaces `delete this` now we just need to remove the actual line `delete this`. 😅

@mojosoeun would you [like to remove the line `delete this`?](https://github.com/processing/p5.js/blob/74e8d1ebdc3cf3c64b0faacaff5fabf1a50f9e1a/src/dom/dom.js#L2092) and open a pull request?

[2019-12-02 18:24] erichlof commented on #4121
@limzykenneth Thanks for re-opening the PR!

@singhvisha and @rdslade
Feel free to add to/work on #4118 now that it is re-opened! Thank you!

[2019-12-02 19:17] stalgiag commented on #4158
Actually[ I just quickly removed it](https://github.com/processing/p5.js/commit/4fa45678d5aaefd23163a2cf842a0b83ff04979e). Thanks for the help everyone!

[2019-12-02 19:17] #4158 closed

[2019-12-02 21:40] trych commented on #4051
@outofambit Great, thanks! All the other shape commands seem to work fine, so I think we're good. :)

[2019-12-03 15:19] hsab commented on #3883
@sakshamsaxena thanks for following y on this.

[2019-12-04 00:13] stalgiag commented on #3850
Okay finally got a mac and came back around to this. This one is odd. Safari doesn't seem to like when the color buffer is preserved without antialiasing on.  If you put `setAttributes('antialias', true);` or `smooth()` at the top of the example sketch it works fine. But even a sketch as simple as:
[code]
will strobe dangerously in Safari. The color buffer must be cleared every frame or antialiasi

[2019-12-04 01:33] #3850 closed

[2019-12-04 01:35] #4121 closed

[2019-12-04 19:47] #4115 closed

[2019-12-05 21:38] ffd8 opened #4181 "Add simplified example for createColorPicker"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (DOM)

#### Feature enhancement details:

In the past two weeks, I've had a number of students get confused how to implement a `createColorPi

[2019-12-05 23:15] #4181 closed

[2019-12-06 11:00] danielemichieletto opened #4183 "mobile webgl image decals"
On iOs mobile devices, 2 images applied on very close surfaces are displayed intermittently.
On Android and desktop is OK

#### Nature of issue?

- [ ] Found a bug
- [X ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utiliti

[2019-12-06 19:13] aferriss commented on #4183
This looks like maybe a z-fighting issue to me. I took a recording on an iPhone XR with safari 13.2.3

https://www.dropbox.com/s/501tl7jo6e2rnyq/RPReplay_Final1575658616.MP4?dl=0

[2019-12-07 08:18] sps014 opened #4184 "Need Support of P5 on Blazor Web-Assembly"
Blazor lets you build interactive web UIs using C# instead of JavaScript. Blazor apps are composed of reusable web UI components implemented using C#, HTML, and CSS. Both client and server code is written in C#, allowing you to share code and libraries.

P5 for Blazor will be game-changer, Blazor provide JS Interop capability out of the box and hence Blazor can use P5 with interop, something like

[2019-12-07 20:38] #4167 closed

[2019-12-07 21:04] sweiss01 opened #4185 "Possible memory leak with video texture in WebGL renderer"
This is a duplicate of an issue I posted to discourse.processing.org a few days ago.  I'm new to p5.js, so I wanted to check with the community to make sure I was using the software properly before reporting a potential bug.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Enviro

[2019-12-08 22:52] #3872 closed

[2019-12-09 21:51] cdumez commented on #4037
You may be hitting the following bug:
https://bugs.webkit.org/show_bug.cgi?id=203287

The workaround is the set a WKUIDelegate on the WKWebView in the meantime.

[2019-12-10 03:14] SiriusFuenmayor opened #4186 "Last version of Google Chrome on Windows 10 x64 keep stuck on "loading..." message while when using preload() function"
#### Nature of issue?

- [ ] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Core/Environment/Rendering

#### Which platform were you using when you encountered this?

- [ ] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.10.2 October 14, 2019
- Web browser and version: Versión 78.0.3904.108 (Build oficial) (64 bits)
- Operating System: Windows 10 Build 17763.86

[2019-12-10 07:12] SiriusFuenmayor commented on #4186
Solved, I just run my app on a local server

[2019-12-10 07:12] #4186 closed

[2019-12-10 11:58] limzykenneth commented on #4184
From what I understand Blazor is used to run C# in the browser through WebAssembly? I don't think there are any current plans to port p5 to C# or even WebAssembly, unless I've misunderstood what you mean by "p5 for Blazor"?

[2019-12-10 12:47] limzykenneth commented on #4154
Should be a fairly trivial fix [here](https://github.com/processing/p5.js/blob/ca92fc457ff836e293916df06964e85f83182368/src/events/acceleration.js#L627) and [here](https://github.com/processing/p5.js/blob/ca92fc457ff836e293916df06964e85f83182368/src/events/acceleration.js#L372).

@haschdl I can assign the issue to you if you want to work on it?

[2019-12-10 18:08] stalgiag commented on #4185
Hi! Thanks for the well-written issue.

I tried with your example and with the videoTexture manual test example on Windows 10.0.18362 and Chrome 78.0.3904.108 with master or the 0.10.2 jsdeliver release..

With your example and 0.10.2, performance recordings look like this:
![Screenshot (202)](https://user-images.githubusercontent.com/10382506/70554771-a04df600-1b32-11ea-8c4c-d487097a910d.png)

I

[2019-12-10 19:37] sweiss01 commented on #4185
Hi stalgiag!  Thank you for your help with this issue.

I've been focusing on memory usage only for the rendering thread of each browser and I'm seeing more-or-less the same growth rate on Chrome that you're seeing.  Over a period of hours, it just keeps increasing.

When I first started this project, I was rendering in Safari on my Mac and the browser would warn about high memory usage and keep r

[2019-12-10 20:10] stalgiag commented on #4185
@sweiss01 I can look into it more, but the more possibilities that we can rule out the easier it will be to fix.

Does this happen in 2D mode?
Does this happen with a still image?
Does this happen when drawing with immediate-mode?

I tried testing this last one, but since DevTools isn't picking up on this, I don't have a very accurate or efficient way to detect issues.

The code I used for the las

[2019-12-10 21:26] stalgiag commented on #3819
I am going to close this for organizational purposes. If my previous response was incorrect, feel free to respond here and I will reopen. Thanks!

[2019-12-10 21:26] #3819 closed

[2019-12-10 21:36] stalgiag commented on #2750
Per-vertex fill for WEBGL is working as #4147 . The code in the comments will produce the desired gradient in the current `master` branch. Closing for organizational purposes. Thanks!

[2019-12-10 21:36] #2750 closed

[2019-12-10 23:05] sweiss01 commented on #4185
I misspoke earlier.  Under Electron/Chromium, the "Electron Helper (GPU)" thread keeps increasing while the "Electron Helper (Renderer)" thread eventually levels off.

It does not happen when I use a P2D renderer and display the video with the image() function.

It does not seem to happen with a still image using texture() on a box with WebGL.  Memory goes up and down, but the average seems to be

[2019-12-11 01:18] stalgiag commented on #4185
Hm this is tough. I am unable to tell if I can recreate this. I leave this sketch running for long periods of time and sometimes I can see a difference in memory usage and sometimes I cannot. Since we can't monitor directly in an effective way through the browser, there aren;t many options to figure out what is wrong here.

For now I'd say try running [this simple webgl only sketch ](https://mdn.g

[2019-12-11 05:59] sweiss01 commented on #4185
That sketch is very stable, even in Safari.  The others fluctuate a lot more and it is hard to tell what's happening without looking at the averages trend higher over a longer period of time.

[2019-12-11 09:02] sps014 commented on #4184
Thanks, hope one day we can get the port on Blazor WebAssembly, for now, I
have ported a few Drawing API for Blazor my self.

![Capture](https://user-images.githubusercontent.com/45932883/70606607-d8346680-1c22-11ea-8be4-2031328b25bf.PNG)

with JS Interop you guys can port it easily.

[2019-12-12 00:01] stalgiag commented on #4185
Tough. Still not really able to recreate.

I got a Mac 10.15.1 to test and in Safari Version 13.0.3 I am unable to detect a significant change.

Here is my memory activity monitor upon starting your sketch:
<img width="958" alt="screenshot" src="https://user-images.githubusercontent.com/10382506/70670873-37987380-1c2f-11ea-9659-64b3c534aa55.png">

and 1 hour later:
<img width="944" alt="screenshot

[2019-12-12 01:29] sweiss01 commented on #4185
I don't have much experience profiling memory on a Mac.  I've been looking at the content process, not the browser process.  If I run in Safari, I've been watching the "Safari Web Content" process.  When I launch from Atom, that process is named localhost:8001.  If I double-click an index.html file, it is Safari Web Content.  I've been doing all my tests by launching from an editor, though, instea

[2019-12-12 01:29] #4185 closed

[2019-12-12 06:48] RadheTians opened #4189 "Getting nothing when trying to show image with the help of HTML tag"
I noticed that when I was trying to show an image on canvas with the help of HTML tags(i.e input tag and type is file) the codebase wasn't showing an image and when I was trying to show with the help of p5.js function `createFileInput(readImageURL);` then it is going to show.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropria

[2019-12-12 16:34] sweiss01 commented on #4189
Hi RadheTians, I think you've got a few issues going on here.  First, you're missing a closing '}' in the readImageURL() function.  Next, in readImageURL, I think the file name will be in file.value.  In Chrome, that may be something like 'C:\fakepath\...'.  If so, you can clean that up with something like 'let f = file.value.replace(/.*[\/\\]/, '')' and then do your createImg().

Give this a shot

[2019-12-12 17:49] RadheTians commented on #4189
Hello sweiss01, Thanks for your response I tried with your solution but, I got an error something like following ...

[code]

[2019-12-12 20:02] sweiss01 commented on #4189
Yeah, I was afraid that might be the case.  I'm pretty sure you're bumping up against a browser security issue.  I tested on desktop instead of browser and used a local file and the file.value.replace code worked.

I don't think this is a p5.js bug, though, so if you post the issue on https://discourse.processing.org/c/p5js, the folks there can help you get past this.  Sorry I couldn't help furthe

[2019-12-13 14:58] RadheTians commented on #4189
Hello sweiss01, Thanks for another response and sorry for the inconvenience I tried with your solution in Chrome 78.0.3904.97, Firefox 71.0 & Microsoft edge 44.18362.449.0 but I got errors in all three browsers and I don't think your solution is going to work in any situation(i.e any browsers) because of you are just replacing something by something this can be lost pieces of information of image

[2019-12-13 15:09] RadheTians commented on #4189
After searching a lot I came up with this idea...

[code]

But my problem is still there and I'm not violating any browser security

[2019-12-13 15:33] sweiss01 commented on #4189
It's hard for me to understand what's going on here because it works when I try.  Am I just misunderstanding your issue?  Is it that you want to display the uploaded image in a p5.js sketch, or that you want to dynamically create an html image?

[2019-12-13 16:45] RadheTians commented on #4189
I am just trying to display the uploaded image on` p5.js` canvas

[2019-12-13 16:56] sweiss01 commented on #4189
Okay.  I don't think this is a p5.js bug yet.  I still suggest taking the discussion to the forum where a discussion like this is more appropriate.  When you run this now, what error are you seeing?  What information is in file.data?  Is the createImg() function being called?  Let's talk to the community about this stuff on the discourse forum, https://discourse.processing.org/c/p5js

[2019-12-13 17:34] RadheTians commented on #4189
Sure @sweiss01, let's discuss.

[2019-12-14 05:32] Optiq01 opened #4190 "P5 syntax leads to scoping issues in Angular 8"
#### Nature of issue?

- [*] Found a bug
- [ ] Existing feature enhancement
- [*] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [*] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-14 23:16] BS-007 opened #4191 "soundFile.isPlaying() still returns 'true' when the file has finished playing"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Sound

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

- p5.js version: v0.7.3
- Web browser and version: FireFox v0.7.3
- Operating System: Windows 7
- Steps to reproduce t

[2019-12-15 03:32] lmccart commented on #4190
in Instance mode, all p5 variables and functions should be preferred with your pointer `p.` in this case. So for example, you could write
[code]

This should resolve the scoping issues. For more help, you can post on our forum: https://discourse.processing.org/

[2019-12-15 03:32] #4190 closed

[2019-12-15 03:33] #4189 closed

[2019-12-15 03:33] #4184 closed

[2019-12-15 08:38] m4rinos opened #4192 "p5.Score condition never met"
Sorry, initially made an issue on the [processing repo](https://github.com/processing/processing-sound/issues/50) and not p5, so here i do it again :)

In the `p5.Score` function, on **row 10831**, I believe the following line

` if (arguments[i] && this.parts[i]) {`

should be changed to

` if (arguments[i]) {`

because this.parts is only filled if the condition is met. At the moment now parts ca

[2019-12-15 08:40] #4192 closed

[2019-12-15 15:40] #4089 closed

[2019-12-15 15:41] #4050 closed

[2019-12-15 15:46] lmccart commented on #3789
@rich-gg I'm not able to reproduce this issue in safari mac or safari IOS, I'm just testing with the focused parameter page example. Is it just a problem you're seeing with your website, or do you also see the focused parameter page example not working either?

[2019-12-15 15:56] lmccart commented on #3416
closing this because it is as @limzykenneth points out intended behavior and I believe difficult to implement with the current system.

[2019-12-15 15:56] #3416 closed

[2019-12-15 16:16] lmccart commented on #2986
I'm not able to reproduce this on mac, I've tried firefox and chrome and all works fine. Can anyone reproduce this on pc or linux?

[2019-12-15 16:25] lmccart commented on #3837
Reading around online, it looks like keyup events are not detected when a modifier key (like command) is held down, this is part of the browser architecture for many browsers. So I don't think there's anything we can do to solve this from the p5.js end unfortunately.

[2019-12-15 16:25] #3837 closed

[2019-12-15 16:29] #2550 closed

[2019-12-15 16:35] #3733 closed

[2019-12-15 16:35] lmccart commented on #3733
fixed with #4015 although a diagram elaborating could be nice. I think last we checked we didn't have a great way to link in images into the reference and that's what stalled this. to be investigated..

[2019-12-15 16:49] #2675 closed

[2019-12-15 16:49] #4142 closed

[2019-12-15 17:08] lmccart commented on #3875
@limzykenneth I wasn't able to find the instances of the `p5.prototype.myMethod = () => {}` pattern that you mentioned seeing. can you point me toward one of them so I can figure out what I'm doing wrong in my searching?

[2019-12-15 17:50] limzykenneth commented on #3875
I remember first seeing it in the PR that made the transition to ES6. I’m not able to do too much digging at the moment as my computer is off for repairs but I’ll see if I can find any when I have more access.

[2019-12-15 18:01] limzykenneth commented on #3875
For a quick one, ‘src/color/color_conversion.js > p5.ColorConversion._hsbaToHSLA’.

[2019-12-16 15:59] stalgiag commented on #2986
I am not able to reproduce this on windows with chrome, firefox, or edge.

This sketch:
[code]
gives me this in all tested browsers:
![Screenshot (205)](https://user-images.githubusercontent.com/10382506/70921681-a2ec9780-1fd9-11ea-9f1c-0f4548ded6a9.png)

[2019-12-16 16:19] stalgiag commented on #4183
Yes this seems like a depth precision issue. Not necessarily something we can fix on our end, but we can make it easier to identify these problems and work with depth precision, near, and far values.

I think that the current way of selecting default near and far clipping values might be a bit too opaque. [It is automatically calculated](https://github.com/processing/p5.js/blob/master/src/webgl/p5

[2019-12-16 16:31] stalgiag commented on #3898
I added an indication of this difference in the [Processing transition wiki](https://github.com/processing/p5.js/wiki/Processing-transition). I am going to close this for organization purposes. If I missed something, feel free to ping me and I'll reopen. Thank you!

[2019-12-16 16:31] #3898 closed

[2019-12-16 16:54] #4161 closed

[2019-12-16 17:13] lmccart commented on #2986
I'm going to close this then, if anyone can reproduce please comment and we can reopen

[2019-12-16 20:04] stalgiag commented on #3893
Thank you so much for the offer @gr2m !

We have been talking about ways to get more people involved in specific discussions on the repo. The idea is that a large portion of our community doesn't use github consistently, and it would be great to be able to poll opinions, generate discussion, and encourage contribution through another platform such as Twitter.

With that in mind, we thought it migh

[2019-12-16 20:58] lmccart commented on #4127
thanks @b12f. we're not able to prioritize this format but perhaps can revisit at a future date.

[2019-12-16 20:58] #4127 closed

[2019-12-17 20:08] lmccart commented on #3485
@stalgiag is this one resolved then?

[2019-12-17 20:10] stalgiag opened #4195 "Testing auto-labeler bot (discussion)"
I think [this bot was installed ](https://probot.github.io/apps/issuelabeler/)so I want to test it.

This issue is about accessibility and it should include a windows bug in webgl

[2019-12-17 20:17] lmccart commented on #4195
oh haha I accidentally took the bot's job!

[2019-12-17 20:17] lmccart commented on #4195
but interesting to see that it removes a label if you add one yourself

[2019-12-17 20:22] stalgiag commented on #4195
Yeah I just set it up to add 'please-help-label' label instead.

I am going to try this again. Sorry for the noise!

[2019-12-17 20:22] #4195 closed

[2019-12-17 20:23] stalgiag opened #4196 "Testing auto-labeler bot (discussion)"
I think [this bot was installed ](https://probot.github.io/apps/issuelabeler/)so I want to test it. This is the second try (#4195 )since the .yml files weren't setup last time.

This issue is about accessibility and it should include a windows bug in webgl

[2019-12-17 20:26] #4196 closed

[2019-12-17 20:28] stalgiag opened #4197 "Last auto-labeling test, I swear"
I think [this bot was installed ](https://probot.github.io/apps/issuelabeler/)so I want to test it. This is the third try to see if the triage bot is detecting the 'please-help-label' in the settings. Also going to try adding an excluded label to see if the auto labeler ignores it

This issue is about code style in firefox but I can't reproduce!

[2019-12-17 20:30] #4197 closed

[2019-12-17 20:31] stalgiag opened #4198 "Triage bot is not adding correct label"
This is just to check to see if triage bot will add 'please-help-label' instead of the 'triage' label. I removed the quotes from the yml file so it might work.

Related to #3893

[2019-12-17 20:32] stalgiag commented on #4198
Nope.

[2019-12-17 21:15] stalgiag commented on #3485
Yes, I think we can close this. @vanyamil if you are able to recreate with a simpler piece of code, feel free to post here and we can reopen

[2019-12-17 21:15] #3485 closed

[2019-12-18 18:57] limzykenneth commented on #3875
@lmccart Got my computer back and I have some free time to work on some stuff, I'll add this to my list.

[2019-12-18 20:11] gr2m commented on #3893
That sounds fun! I think adding it as a feature to https://github.com/gr2m/twitter-together would be a good approach from my side. If it doesn't end up working well you, then we can still try a different approach.

I'll have a look at the APIs for creating polls. I'm in Germany with my family and mostly offline until January, I'll have a look then. Would that be okay with you?

[2019-12-18 20:46] lmccart commented on #3875
wonderful 🙏!

[2019-12-18 20:46] lmccart commented on #3893
hey @grege2 I think that all sounds great! very excited about this idea

[2019-12-18 21:40] stalgiag commented on #3893
Amazing! Thank you so much @gr2m !

[2019-12-19 07:54] #3875 closed

[2019-12-19 14:13] zoyron commented on #2865
Hello people, I would like to work on the documentation. If there is any specific task for a beginner then please guide me, I am more than happy to contribute.
Thank you.

[2019-12-20 10:05] gr2m commented on #3893
I've created an issue to add support for polls at https://github.com/gr2m/twitter-together/issues/79, I'd suggest to discuss details there and leave this thread to discuss further bots ideas.

[2019-12-20 10:11] gr2m commented on #3893
Talking about other bot ideas. I'm very interested in enabling editorial contributions to Open Source projects. I've seen it be a huge part of a projects success, especially with http://hood.ie/.

twitter-together is one of the ideas we had back then, everyone can now suggest tweets. To lower the barrier further to editorial contributors which might not be familiar with GitHub, I'd like to create

[2019-12-20 10:32] Pierre-Baptiste commented on #4137
Hey,
I'd like to work on the French translation!

[2019-12-20 10:48] niravasher commented on #4154
rotateX, rotateY, rotateZ follow radians and not degrees according to me. Since default angle mode is radians, I typed the following
`function draw() {
  background(100);
  rotateY(3.14/2);
  box();
}`
This rotates the box by 90 degrees.
But if I change angle mode to degrees then the following code doesn't work
`function draw() {
  background(100);
  angleMode(DEGREES);
  rotateY(90);
  box();
}`

[2019-12-20 11:02] niravasher opened #4200 "Fixing font size and margin"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-20 11:03] niravasher commented on #4200
Can I open a PR for this issue?

[2019-12-20 12:17] haschdl commented on #4154
Hello @niravasher , “rotationX” and not “rotateX” :) Do you think you refer to the same issue?

[2019-12-20 15:04] limzykenneth commented on #4200
The code for the search field is over on the website repo, I'll transfer this issue over. You can create a PR there. Let me know if you need help.

[2019-12-20 16:23] limzykenneth opened #4201 "Updating npm packages and benchmarking"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
  - [x] Build system

#### Feature enhancement details:
As part of some exp

[2019-12-20 19:45] stalgiag opened #4202 "Autolabeler is overdoing it"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-20 21:38] limzykenneth commented on #4202
Quite agressive, and triage bot is also still acting weird, adding then removing the "triage" label for every new issue. Can't say I can help much but good luck.

[2019-12-20 22:11] lmccart commented on #4201
@limzykenneth I think both proposals make total sense to me. My one suggestion is to consider, as you're working on #1, whether there's any documentation/inline comments that can be helpful. As we transition to the rotating leadership, I'm hoping to make what's there as clear as possible. Not trying to add work here. Just if things come up, even if you don't have time to fully document them, it wo

[2019-12-20 22:13] lmccart commented on #4202
we could also change up the template if needed. if the bot is already picking up keywords, it may not be as necessary to have people specify specifically. I feel in general that the template, though helpful, can sometimes be a little intimidating with the amount of info it contains and asks for.

[2019-12-20 22:36] limzykenneth commented on #4201
Yeah that sounds good, I'll add inline comments where it made sense.

[2019-12-21 02:00] stalgiag commented on #4202
The template can seem overwhelming. It is difficult to parse and make sense of, but I do think it has quite a bit of success in encouraging people to remember to add certain details like code examples and operating systems.

I can try to ensure that the template doesn't include any label keywords. Perhaps also able to remove the amount of information in it as well. Like the 'Most appropriate sub-a

[2019-12-21 02:12] stalgiag commented on #4137
Amazing thank you @Pierre-Baptiste !

[2019-12-21 21:16] limzykenneth opened #4204 "Hook just before global mode instantiation"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
For addon libraries, is there a hook that will e

[2019-12-22 12:32] Jedi18 opened #4206 "Add support for glTF file format"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### New feature details:

As of now, the loadModel() function supports ob

[2019-12-22 16:46] u99d88 commented on #3886
It blocked by chrome in not secured websites.
![image](https://user-images.githubusercontent.com/35187794/71324694-c6887400-24ea-11ea-885d-c7cacb2bf694.png)

You can bypass it: https://medium.com/@Carmichaelize/enabling-the-microphone-camera-in-chrome-for-local-unsecure-origins-9c90c3149339

[2019-12-23 03:03] stalgiag commented on #4206
I have often thought that this would be cool. Especially since it would open the possibility of importing models with embedded animations.

Looking at the [three.js gltf loader](https://github.com/johh/three-gltf-loader/blob/master/index.js), it seems like this would be fairly involved to implement. A lot of the gltf features could be ignored, so a p5 loader would be significantly simpler but it w

[2019-12-23 07:44] Jedi18 commented on #4206
Thanks for replying @stalgiag , and yeah I agree with you that offering a library would be a better option.

I'm interested in doing this, could you give me a basic rundown of how I should proceed with making this library?

Should we further discuss this by commenting on this issue thread or should I contact u some other way?

[2019-12-24 13:57] jatin33 commented on #1954
Is this issue still opened? Is anyone else working on it?

[2019-12-24 14:10] mike239x commented on #2986
Oh boy, it took me a while to understand what is going on.
What past me said is the following: `gs.set(0,0,img);` behaves exactly the same way as `gs.image(img,0,0)`, which is a bug.
Let me explain that on the example @stalgiag provided.
He colors background of the graphics object green, then writes
[code]
Here is a mistake - the written code is supposed to "set" pixels of `gs` to those of `img`,

[2019-12-24 16:34] stalgiag commented on #2986
Ah I understand now. Thank you for clarifying @mike239x . I thought the problem was that `set` was not transferring transparent pixels, but I now understand the problem to be that it isn't replacing pixels with transparent pixels when appropriate.

In that case, @Ajayneethikannan 's suggestion should work well. I am going to reopen, and add a help wanted label.

[2019-12-24 19:24] jatin33 commented on #3423
Hey, @faxinadu
Could you please specify if the problem is specifically line-break related?

[2019-12-25 13:18] jatin33 commented on #3880
Hi @i3games ,
 Please try below snippet to disable individual option by changing array index.
let sel;
function setup() {
  textAlign(CENTER);
  background(200);
  sel = createSelect();
  sel.position(10, 10);
  sel.option('pear');
  sel.option('kiwi');
  sel.option('grape');
  sel.option('banana');
  sel.selected('kiwi');// selected method working
  const options = selectAll('option');
  options[

[2019-12-25 15:13] jatin33 commented on #3880
However I do agree that there should be a method to handle the disabling of individual options separately.

Method signature:
-------------------------
function disable(select_id, optionName){

}

Method implementation and its usage
------------------------------------------------------
let sel;

function setup() {
  textAlign(CENTER);
  background(200);
  sel = createSelect().id('fruits');
  sel.

[2019-12-25 15:15] jatin33 commented on #3880
What do you think about this @lmccart  , @i3games , @limzykenneth ?

[2019-12-26 11:53] everythingability opened #4208 "The DOM docs aren't there"
https://p5js.org/reference/#/libraries/p5.dom

is empty.

[2019-12-26 16:58] estafaa opened #4209 "Page crashes on mobile (android, iOS) when loading long audio file"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Sound

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: chrome mobile 79.0.3945.93 (official built) (32-bit),
- Operating System: Android 10
- Steps to reproduce this:

[code]

Ev

[2019-12-27 01:12] lmccart commented on #4208
p5.dom has been merged into the core library, all docs for this can be found at p5js.org/reference. please let us know if you find any stray links to the above url and we will replace! thanks

[2019-12-27 01:12] #4208 closed

[2019-12-27 14:38] limzykenneth commented on #4201
I've rewrote benchmarking in a new repo [here](https://github.com/limzykenneth/p5-benchmark). It currently runs on Travis CI with Ubuntu 16.04 on headless Firfox and Chrome. I can't confirm the consistency yet, especially over longer periods of time.

There are still some features I would like to add but I'm having it on hold for now. If someone can check that out and if it's satisfactory, I'll re

[2019-12-27 15:00] limzykenneth commented on #3423
UTF-8 encoding should not affect behaviour of the saved file. p5.js does not explicitly set the saved file encoding to UTF-8, the browser decides this based on the type.

It seems the problem you have is line break character (`\n` vs `\r\n`), the default here is indeed Unix style `\n` and another optional parameter can probably be added to toggle between the two. UTF-8 encoding have nothing to do

[2019-12-27 22:16] sakshamsaxena commented on #3883
#4211 is up now, should fix this for once and all

[2019-12-27 22:37] #3883 closed

[2019-12-27 22:46] lmccart opened #4212 "p5.js contributors zine"
For the upcoming 1.0 milestone, we are creating a zine publication that celebrates the contributors of p5.js and the work we've done together. We hope you will consider filling out this short form to be included in it. With p5.js, we understand the word "contributor" to include many things and seek to expand this definition as far and wide as possible. This could be documentation, teaching, writin

[2019-12-27 23:42] lmccart commented on #1954
Yes, here's a more up to date issue: https://github.com/processing/p5.js/issues/2865
You can get a partial list of missing examples by running `grunt`. Here's the current list:
[code]

[2019-12-28 08:28] jwdunn1 opened #4214 "WEBGL stroke weight misbehaves after call to perspective()"
After perspective() is called, stroke weights become unexpectedly thin near the camera while objects far away are stroked too thickly. I noticed this on another sketch I was building with a roving camera. For reporting purposes, I've created a minimal sketch to illustrate the problem.

#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [ ] Core/Environment/Render

[2019-12-28 11:13] grege2 commented on #3998
Hi all, just thought I should freshen this issue, to say clip() and noClip() would still be very useful for me. I've been working on the code I mentioned above (stretched chessboard thing - there's a lot more to it than that, but that's a simple analogy) and I'm at the point where I'm reworking a bunch of code and again I could really use clip(). But I have a plan to try rendering off-screen and p

[2019-12-29 17:57] stalgiag commented on #4214
Thanks for the well-written issue @jwdunn1 !

This is known behavior. Currently the stroke shader doesn't track the amount of perspective that is applied to the sketch. There are only two states, default perspective and custom perspective. Custom perspectives always use orthographic projection on the stroke. In the example you linked, after clicking, the stroke doesn't get larger further from the

[2019-12-29 18:06] stalgiag commented on #4198
Closing for now as the triage bot was uninstalled. It may be reinstalled in the future.

[2019-12-29 18:06] #4198 closed

[2019-12-29 18:16] stalgiag commented on #4206
Hi @Jedi18 definitely!

I'd start by reading [the contributor doc on writing a library](https://p5js.org/contributor-docs/#/creating_libraries).

Then your library can add a prototype that loads a gltf. You will probably want to use another gltf parser for reading the file. After you have read the file, you want to convert the data into a format that is useful to p5. You can look [at the code for

[2019-12-29 19:36] vypxl opened #4215 "Es6 class inheritance breaks draw (and others)"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug / new feature details:

- p5.js version: v0.10.

[2019-12-30 15:19] lmccart opened #4216 "test issue for label bot"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2019-12-30 15:21] #4216 closed

[2019-12-30 15:41] lmccart opened #4217 "test issue [ignore]"
WWebGL
testing auto label bot

[2019-12-30 15:43] #4217 closed

[2019-12-30 15:43] lmccart opened #4218 "test issue [ignore]"
WWebGL
testing auto label bot

[2019-12-30 15:46] #4218 closed

[2019-12-30 15:46] lmccart opened #4219 "test issue [ignore]"
WWebGL
testing auto label bot

[2019-12-30 15:51] #4219 closed

[2019-12-30 15:51] lmccart opened #4220 "test issue [ignore]"
WWebGL
testing auto label bot

#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you

[2019-12-30 15:54] #4220 closed

[2019-12-30 15:54] lmccart opened #4221 "test issue [ignore]"
WWebGL
testing auto label bot

#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you

[2019-12-30 16:01] #4221 closed

[2019-12-30 17:08] lmccart commented on #3880
@jatin33 I think this makes sense, but I think it should be attached to the element itself. something like:
[code]

[code]

[2019-12-30 18:01] jatin33 commented on #3880
Yes that makes a lot of sense!
Will get to implementing that and make a PR soon!

[2019-12-31 02:34] singhvisha commented on #4204
@limzykenneth @stalgiag  ,
Can I work on this issue?Could you please tell how to approach to implement this new feature?

[2019-12-31 08:09] jwdunn1 commented on #4214
Thank you for the information. As an experiment (without knowing the deeper ramifications), I removed the `else` clause introduced by the PR in `p5.Shader.js`. With this change, my sketch (which uses a roving camera: EasyCam) now operates as expected with a custom perspective (or ortho) and with correctly scaling and rotating strokes. Do you see a problem with this approach? Could this solution wo

[2019-12-31 11:04] nthe commented on #4137
Hello, I can help with Slovak translation :slovakia:.

[2019-12-31 17:34] stalgiag commented on #4137
Great! Thank you @nthe

[2019-12-31 17:47] stalgiag commented on #4214
@jwdunn1 I don't see a problem with that solution for your sketches. Unfortunately, it isn't a general solution because it is possible for a user to make a sketch that has a projection matrix that breaks this.

Here [is an example that shows this.](https://editor.p5js.org/stalgiag/sketches/IEEFu8L9e). If you comment out your prototype override you can see that the ortho is more legible than the in

[2020-01-02 04:58] Jedi18 commented on #4206
I've been trying to find a suitable glTF parser in javascript but unfortunately have not been able to find one. Libraries like tinygltf are available for cpp however not in javascript.

Should I try implementing my own gltf parser?

[2020-01-02 08:49] singhvisha commented on #4204
@limzykenneth @stalgiag ,
Can I work on this issue?Could you please tell how to approach to implement this new feature?

[2020-01-02 12:20] dhowe commented on #2525
Reopening as it is important for a number of use-cases. For one, when you are using the editor and want to report a bug in p5.js, there is no easy way (correct me if I'm wrong here) to get the version from the bundled app

[2020-01-02 13:41] limzykenneth commented on #4204
I'm gauging interest and potential problems of this feature with this issue so I'm not looking for someone in particular to implement this as I have a pretty good idea of how to implement this myself. Thanks for the interest though.

PS. It's the holiday period so it may take longer for us to reply to a message, there's no need to ping us again.

[2020-01-02 15:36] #4212 closed

[2020-01-02 20:22] dhowe opened #4223 "mousePressed/touchStart issues with device emulation"
Perhaps someone can help me understand why the following code gives 3  different behaviors in the editor, depending on whether devtools is open and on what device is selected. Using mouse-events:

1. With no js console closed, sketch works as expected (with either mouse or touch)

2. with js opened but no device emulator, rect and mouse quickly get out of sync

3. with a touch-device in device emu

[2020-01-02 21:08] J-Cake opened #4226 "Are Streamed images supported with loadImage?"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobil

[2020-01-03 19:42] #3880 closed

[2020-01-03 20:53] limzykenneth commented on #4226
How exactly is the image sent by the server? Does the client need to make multiple http requests?

[2020-01-03 21:02] limzykenneth commented on #4223
I first thought this is a window resize problem but it still behaves weird when I pop the inspector window out on its own.

It is also exclusive to Chrome when inspector is opened and Safari without anything else opened, Firefox doesn't seem to exhibit any weird behaviour.

I'm not sure what caused this problem but it may be the framerate and event loop getting out of sync or something like that.

[2020-01-04 04:34] stalgiag commented on #4206
I see. I incorrectly assumed that there would be already be a parser, but I see that the threejs loader uses its own. Perhaps the better approach for you would be to make your own open source general purpose gltf -> webgl parser, then you could make a second library to bridge that with p5. That would probably give you the best effort to use-value ratio. I am going to close this for now since it is

[2020-01-04 04:34] #4206 closed

[2020-01-04 06:39] dhowe commented on #4223
Thanks for taking a look @limzykenneth ... any thoughts on next steps? Meanwhile, since you've confirmed it, I'll mark it as a bug...

[2020-01-05 11:07] limzykenneth commented on #4223
I'll need to do some more tests, I'll report back if I find any insights.

[2020-01-05 15:18] limzykenneth commented on #4223
It is pretty much an issue of framerate and event loop not matching. Specifically, [`_updateNextMouseCoords`](https://github.com/processing/p5.js/blob/27d9299568088f38a7570551ad66c67086cf4908/src/events/mouse.js#L432) is called by the event handler while [`_updateMouseCoords`](https://github.com/processing/p5.js/blob/27d9299568088f38a7570551ad66c67086cf4908/src/events/mouse.js#L454) is called ever

[2020-01-05 15:33] dhowe commented on #4223
@limzykenneth thanks for the research -- this is clearly _part of the problem, but in my testing mousePressed() doesn't even fire when on a touch-device (case 3 above)...

[2020-01-05 22:16] stalgiag commented on #4202
Closing as the autolabeler was uninstalled. Will look into reducing complexity of issue template. If a way forward for that is unclear, I will open another issue to track that.

[2020-01-05 22:16] #4202 closed

[2020-01-05 22:22] stalgiag opened #4228 "Updating to the new issue template workflow"
If you view [the ISSUE_TEMPLATE.md file](https://github.com/processing/p5.js/blob/master/ISSUE_TEMPLATE.md) you will see that there is a message encouraging us to update to the new issue template workflow.

This will have some advantages, most important being that it will allow us to offer different templates for different issue subtypes: bug, feature request, feature enhancement. This will allow

[2020-01-05 23:53] #4228 closed

[2020-01-05 23:57] stalgiag commented on #3893
Hi @gr2m that is really interesting! I am going to move that to a new thread since it seems like a large topic in and of itself.

[2020-01-06 00:08] stalgiag opened #4231 "Enabling editorial contributions and community-sourced news"
Moving this from #3893 in order to give it the space it deserves. Quote from @gr2m in that thread:

This is interesting. I can imagine this being really cool and useful.

Is there a live example of either of these things that you can link to? I tried looking through the hood.ie website but I couldn't find a section that fit your description. Or [this blog ](http://hood.ie/blog/)maintained in the w

[2020-01-06 00:30] stalgiag opened #4232 "Use twitter polls for making decisions"
I wanted to make an independent thread to locally track development for this feature. This was originally discussed in #3893 .

@gr2m suggested adding this functionality as a feature to [https://github.com/gr2m/twitter-together](https://github.com/gr2m/twitter-together) and development is now underway. It can be followed at [https://github.com/gr2m/twitter-together/issues/79](https://github.com/gr

[2020-01-06 13:32] DjangoCharango opened #4234 "Limited number of lightsources ?"
Is the numbers of lightsources (pointlight, directional ...) you can add to a 3-dimensional scene limited in some way?

I am trying to figure out, why some lightsources in my scene are being rendered, while others are not.

[2020-01-06 15:11] lmccart commented on #2911
fixed with https://github.com/processing/p5.js/pull/3988. there is more work planned with p5.sound to address the way the audio context is initiated, but this partially resolves the issue in the meantime

[2020-01-06 15:11] #2911 closed

[2020-01-06 19:45] stalgiag commented on #4234
Hi @DjangoCharango yes there is a limit to the number of lighting uniforms that mobile devices and browsers support. So the hard limit is 5 per type at any one time.

Thanks for pointing this out. It is clear that this should be documented better.

I am going to add a `help wanted` label. The todo is to add a note in the inline reference for each of the lighting functions that explains that a sket

[2020-01-06 21:14] DjangoCharango commented on #4234
Thanks a lot for your answer. My Tests show, that I can have 9 pointLights in Chrome. Do you know, where I could find more information, on how many light sources, browsers support ?

[2020-01-06 21:19] Vamoss opened #4235 "Unecessary stroke notice when drawing a plane"
Hi, it seems like I found a bug.

This message that should not exist because I declared `noStroke()`.

Reproducible code:
https://editor.p5js.org/Vamoss/sketches/Ov0T1tQsP
[code]

[2020-01-06 21:29] stalgiag commented on #4234
If you are using a version <= 10.2 of p5 then you will have an upper limit of 8. Not sure how you are getting 9.

Version 1.0 will have a limit of 5 lights. This is because the number of uniforms is limited to 64 in iOS. We do not adjust the number of uniforms based on the browser/device, so these limitations will apply to all sketches made with p5. You can view [this PR for more info.](https://gi

[2020-01-06 21:37] stalgiag commented on #4235
Yes, it is unnecessary.

A quick fix would [be to change this](https://github.com/processing/p5.js/blob/master/src/webgl/3d_primitives.js#L84) `else` to `else if(this._renderer._doStroke)`.

All of the 'Cannot draw stroke ...' messages in the `src/webgl/3d_primitives.js` file should do this check.

[2020-01-06 21:51] lmccart commented on #4235
@jatin33 would you be interested in working on this?

[2020-01-06 23:50] gr2m commented on #4231
None of this has been implemented for hood.ie, it's just where the idea originated from.

https://github.com/octonews/octonews was my original attempt to create a general-purpose GitHub app for this idea. I was still new to GitHub's APIs back then and some of APIs were not even implemented. I'd like to finish the octonews app, just looking for an interested community that would like to use it, so

[2020-01-07 03:25] #3807 closed

[2020-01-07 13:54] Samisaprogrammer opened #4238 "Releases branch removed"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details about the bug:

- p5.js version:
- Web browser and version: Chrome 79.0.3945.88
- Operating System: Windows
- Steps to reproduce this: Try downloading the Complete

[2020-01-07 14:55] AnuragGupta93 commented on #4238
@Samisaprogrammer  You are not facing an issue because of the deletion of the releases branch.
The releases link is [here](https://github.com/processing/p5.js/releases). If you still needed to download the complete p5.js zip file, you can download it [here](https://github.com/processing/p5.js/releases).

As from my perspective, the issue is because of redirecting the web page when clicking on the

[2020-01-07 16:14] #4235 closed

[2020-01-07 17:26] AnuragGupta93 commented on #4154
@haschdl I have tested this myself and found out that `rotationX`, `rotationY` and `rotationZ` are working perfectly fine as expected.
The default value of `rotationX`, `rotationY` and `rotationZ` is "Radian".
For ex:

[code]
Output:
![Screenshot from 2020-01-07 22-49-12](https://user-images.githubusercontent.com/35900375/71914732-3d3a9800-31a0-11ea-8c1b-83be423c3e31.png)

[Source Code] (https://e

[2020-01-07 18:02] #4234 closed

[2020-01-07 23:49] maayanalbert opened #4241 "Way to check if draw() is currently looping (i.e. if noLoop/loop was called)"
#3547 ## Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Feature enhancement details:
Would it be possible to expose whether draw is currently looping? This is perhaps a niche need, so is there any way to access this under th

[2020-01-08 04:12] #4241 closed

[2020-01-08 12:21] Nishant-Ingle commented on #3066
I tried to recreate it, everything is working fine.
Download and run it: https://drive.google.com/open?id=1C0N6aAMAcKIw9PFSI5Wod144xjWx_mCN

Try select any option from select and you will see that winMouseX and winMouseY are not resetted to 0. If this doesn't solve the problem then I would request you to share the code just as I did.

[2020-01-08 12:51] dekmm commented on #3066
Hi there,

considering I opened this issue a year and a half ago, I can't really provide the code I used back then.

I would just like to know which version of p5.js you used when testing this? It's certainly possible that this was resolved given the time frame.

[2020-01-08 18:07] Nishant-Ingle commented on #3066
p5.js v0.10.2 October 14, 2019

[2020-01-08 18:07] Nishant-Ingle commented on #3066
p5.js v0.10.2 October 14, 2019

[2020-01-08 19:52] dekmm commented on #3066
That might explain why you're getting a different result. I've experienced this issue on version 0.6.1, which is quite old by now

[2020-01-08 21:48] #4238 closed

[2020-01-09 13:58] jatin33 opened #4242 "More examples to add for const keyword"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Foundation)

#### Feature enhancement details:
We can add more examples for **const** keyword in foundational area.
i.e
[code]
We can cover this for strings,objects and other compound data types.

[2020-01-09 14:27] yashpandit opened #4243 "Add textLineHeight method to Typography"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
We can add functionality that can add spaces around a line(space on top and bottom of the line) which can be done in CSS by using line-height property.

[2020-01-09 14:27] yashpandit commented on #4243
@lmccart - What do you think about this?

[2020-01-09 15:11] yashpandit commented on #3423
@lmccart - I can take this up.

[2020-01-09 15:35] jatin33 opened #4244 "Adding method for applying tracking for fonts in typography"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
We can add a method to apply tracking for given text to the **Typography** module.
You can look for more details about tracking [here](https://en.wikip

[2020-01-09 15:52] jatin33 commented on #4244
@lmccart , @limzykenneth  What are your thoughts about this?

[2020-01-09 15:58] lmccart commented on #3423
@yashpandit wonderful!

[2020-01-09 16:05] lmccart commented on #4242
this would be great!

[2020-01-09 17:33] limzykenneth commented on #4244
It has been looked at before at #3800 and #3223 and basically there isn't support for it in HTML canvas, at least at that time. Rolling our own text drawing renderer just to enable tracking is a bit overkill so unless there's a way to implement this simply I'm not sure we can add it in.

[2020-01-09 17:36] limzykenneth commented on #4243
This should be already covered by [`textLeading`](https://p5js.org/reference/#/p5/textLeading) unless you mean something else?

[2020-01-09 17:56] yashpandit commented on #4243
Correct me if I am wrong but textLeading only adds space below the text and keeps the baseline of the text the same(the content only goes down).

With textLineHeight, it actually increases the height of the line while keeping the text in the center and adds even spaces on the top and bottom of the text keeping it in the center so that the formatting looks even for all the lines.

[2020-01-09 18:31] limzykenneth commented on #4243
Ok I see what you mean. I feel that it's a bit niche and possibly some overlap with `textLeading` but I'll let other people chip in their thoughts on this as well. 😄

[2020-01-09 19:37] singhvisha commented on #3625
@limzykenneth ,can i work on this issue?

[2020-01-09 21:47] #3423 closed

[2020-01-10 10:05] J-Cake commented on #4226
The server is a nodejs + express server. Images are sent more or less
exactly like this:

[code]

Note that the image is requested dynamically. It is not a static file.
Simplified, the user makes a request to the `imags` endpoint passing a
`url` query parameter with an encoded URI to the server. The server
requests the image and pipes it back to the client. This piping process
takes the full reque

[2020-01-10 10:42] limzykenneth commented on #4226
It doesn't matter how many chunks are sent, to the browser they are all a single response. Unless the server is sending back multiple response, which without WebSockets or multiple requests the server cannot do, it still counts as one response.

You actually have a typo in your server code, it is `decodeURIComponent` instead of `decodeUriComponent`, the `URI` is all caps. In addition, if you are u

[2020-01-10 13:57] J-Cake commented on #4226
Okay, that's good to know, as mentioned earlier, this is not the whole
code, in reality, I do some checks, but I guess it was a faulty image file
on the remote's behalf.

On Fri, 10 Jan. 2020, 11:42 Kenneth Lim, <notifications@github.com> wrote:

[2020-01-10 13:59] J-Cake commented on #4226
I've just made the connection actually, that makes perfect sense. I do
feels bit silly now.

On Fri, 10 Jan. 2020, 11:42 Kenneth Lim, <notifications@github.com> wrote:

[2020-01-10 14:30] #4226 closed

[2020-01-10 15:45] #4242 closed

[2020-01-10 20:31] skycodr opened #4248 "deltaTime is undefined"
Chrome throws an error saying deltaTime is not defined. But the documentation mentions to use it the way I have written below. However, p5.deltaTime doesn't seem to work either.

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

[2020-01-10 20:58] stalgiag commented on #4248
You are using an older version of p5. In order to use `deltaTime` you will need to use version 0.9.0 or later.

Closing for organization purposes. Good luck!

[2020-01-10 20:58] #4248 closed

[2020-01-12 11:13] lackhoa opened #4249 "Specifying transformation in setup()"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Chromium 78.0.3904.108
- Operating System: Linux Mint 19
- Steps to reproduce this:
Transformatio

[2020-01-12 13:06] Nishant-Ingle commented on #2681
I guess so as the bug is still there in p5 v0.10.2

[2020-01-12 13:19] lackhoa commented on #4249
I think I get it now: It's because these transformations act on the canvas.

[2020-01-12 13:19] #4249 closed

[2020-01-12 18:32] jatin33 opened #4250 "Adding examples for different types of function in javascript"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Foundation)

#### Feature enhancement details:
Adding examples for different types of function used in javascript.
i.e Arrow functions, anonymous functions, IIFEs,etc
`
let cube = number => number **

[2020-01-12 22:48] #4250 closed

[2020-01-14 07:56] simranaggarwal1999 commented on #4215
Hey can I work upon this issue ?

[2020-01-14 08:01] simranaggarwal1999 commented on #3651
Hey can I work upon this issue?

[2020-01-14 13:02] AnuragGupta93 commented on #3916
@osresearch The **p5.renderer** has access to only the main graphics and rendering methods.

But, it is extended to **p5.renderer2D** or **p5.rendererGL** (depends) and thus have the methods `background()`, `noStroke()` and `fill()`. However, `circle()` is a method of **core/Shape** and thus can't be implemented using **p5.renderer**.

[2020-01-14 13:10] AnuragGupta93 commented on #3916
However, I do feel that p5.renderer should have proper [documentation](https://p5js.org/reference/#/p5.Renderer)  which includes its methods just like [p5.Element](https://p5js.org/reference/#/p5.Element).

Also, I found out that there is no documentation for p5.renderer2D and p5.rendererGL and thinking of implementing the same.

What are your views @lmccart  @stalgiag ?

[2020-01-14 13:13] jatin33 opened #4252 "Unit tests missing for some DOM methods"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (DOM)

#### Feature enhancement details:
We need to add unit tests for several methods of DOM.
Unit tests missing for methods like createP(), createDiv(), createImg(),createA(),createSlider(),createRa

[2020-01-14 19:22] jatin33 opened #4253 "docs missing for JSON.parse"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (Foundation)

#### Feature enhancement details:
We should add JSON.parse() method in Foundation module under JSON. This method helps in converting JSON string to JS Object.

[2020-01-14 21:24] lmccart commented on #4253
This one is a little less clear for me, because our `loadJSON()` method actually returns an object, not JSON. So I'm wondering how this function would fit in with the rest of the p5 library.

[2020-01-14 21:35] jatin33 commented on #4253
I thought that if we have  JSON object then we should have mentioned both methods supported by it. However, in our library we are using loadJSON() for parsing JSON strings, then there is no point in adding documentation for JSON.parse(). Shouldn't loadJSON() be documented under JSON? As it covers functionality related to JSON.

[2020-01-15 01:47] lmccart commented on #4253
I think the current placement with the Input methods makes sense. If it were in the Foundation section, this would imply it was a JS method rather than a p5 one.

[2020-01-15 01:50] #3789 closed

[2020-01-15 01:51] #4145 closed

[2020-01-15 01:54] lmccart commented on #4244
I agree with @limzykenneth, I think this is beyond our scope for right now.

[2020-01-15 02:41] lmccart commented on #3425
As discussed in https://github.com/processing/p5.js/pull/3431, we've explored the options and unfortunately none of them provide what we need right now. parcel seemed like the best fit, but because of transpiling limitations it doesn't suit our purposes. I'm closing this for organization, we can revisit in the future as the state of the web evolves :) Thanks all for the discussion and @outofambit

[2020-01-15 02:41] #3425 closed

[2020-01-15 02:45] lmccart commented on #3409
It's my feeling that our grunt solution is (mostly) stable, and improving with @limzykenneth's updates (sorry, will review this soon!). Since there was just work put into improving this, I'd rather not introduce a big reworking into things right now if there are no major issues, and instead wait until there's a moment where another solution offers very clear improvements. I'm going to close this f

[2020-01-15 02:45] #3409 closed

[2020-01-15 02:46] lmccart commented on #522
I think our current solution for custom builds addresses this to some extent. There hasn't been much energy pushing for more in this direction in the past couple years, so I'm going to close this for now. We can reopen if this becomes a bigger priority in the future.

[2020-01-15 02:46] #522 closed

[2020-01-15 12:27] Samisaprogrammer opened #4254 "P5js not downloading (Followup!)"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
P5 not downloading (Followup)
#### Details about the bug:

- p5.js version: p5.js v0.10.2 October 14, 2019
- Web browser and version: Google Chrome | 79.0.3945.117 (Official Buil

[2020-01-15 15:03] jatin33 commented on #4253
So I think this issue is resolved.

[2020-01-15 15:03] #4253 closed

[2020-01-15 15:53] lmccart commented on #4254
Can you describe what happens when you click the download button? And which button are you clicking?

[2020-01-15 16:05] belezyc opened #4255 "friendly error system not catching overwritten p5 functions when variables declared with let or const"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:
- p5.js version: p5.js v0.10.2 January 15, 2020
- Web browser and version:  Google Chrome | 79.0.3945.117 (Build officiel) (64 bits) (cohort: Stable)

[2020-01-15 16:55] Samisaprogrammer commented on #4254
Well, it takes me to this. https://p5js.org/download/support.html
I clicked the download complete thingy button at https://p5js.org/download and I tried editing the html, the link works but the button doesn't.

[2020-01-15 18:45] #4244 closed

[2020-01-15 19:01] flomerboy commented on #3167
An example in the documentation would be very helpful - I don't know how to "call these methods natively on the canvas object" and I would expect the average p5js user to not be familiar with it either.

[2020-01-15 21:25] #3861 closed

[2020-01-15 21:38] lmccart commented on #3167
@jatin33 maybe you'd like to look at this one?

[2020-01-15 22:43] Haksell opened #4257 "Creating a color with a string and an alpha value"
#### Most appropriate sub-area of p5.js?
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### New feature details:
I would like to be able to create a color with a string and an alpha value, like so: `color("red", 127);`, and to use `fill` and `stroke` the same way.

[2020-01-16 00:50] lmccart commented on #4257
we've discussed this a bit here: https://github.com/processing/p5.js/pull/2043

[2020-01-16 00:51] lmccart commented on #4255
This seems to be working fine for me here: https://editor.p5js.org/lmccart/sketches/x5kIRTUVD
Can you try using File > Download to download the project and run locally? Please ensure you are running a local server: https://github.com/processing/p5.js/wiki/Local-server

[2020-01-16 00:53] lmccart commented on #4254
Hm the download should start automatically, in addition to you being redirected. Can you please provide a screenshot of your chrome settings confirming that your downloads are not blocked by chrome?

<img width="1314" alt="Screen Shot 2020-01-15 at 4 52 54 PM" src="https://user-images.githubusercontent.com/191056/72483937-8b125a00-37b7-11ea-988e-476e98ebc5b5.png">
<img width="714" alt="Screen Shot

[2020-01-16 03:32] singhvisha commented on #3870
@stalgiag ,
I have gone through the documentation you provided.Only few disposal codes are defined in current implemantation.So only all the disposal Codes are to be implemented in current gif COde.Am I correct?
Can I start working on it?

[2020-01-16 09:40] belezyc commented on #4255
Dear Lauren,
Thank you for your fast answer!

Well... I'm a noob in javascript and after hours to understand why your example was working and not mine, I know now why it is said that everything is function in javascript. So I could find my problem.

Put your sunglasses, you may becoming blind with such noob error!

I wanted to define the scale ratio in a variable, and I defined it as ... let scale

[2020-01-16 11:23] #4257 closed

[2020-01-16 14:25] lmccart commented on #4255
@belezyc on the contrary, newbie errors are the light that guides this project! In fact, your issue made me realize there is indeed a bug. Normally, our "friendly error system" (FES) should warn you if you try to name a variable after a p5 function. However, in testing out your situation, I realized that this only works if you declare the variable `var scale = 0.5;` and NOT `let scale = 0.5;`.

Th

[2020-01-16 17:44] meiamsome commented on #4255
I don't think this is even possible to check - variables defined with let/const at the top level of a JS file do not create a property on the global object (See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Scoping_rules ) - this is why FES misses it currently, but it also means that there is no way for the p5js code to detect this condition as far as I am aware.

[2020-01-16 19:05] stalgiag commented on #3870
Hi @singhvisha yes. I'd be happy to review these changes. Good luck!

[2020-01-17 02:29] lmccart commented on #4255
aha thanks @meiamsome. you're right this may not be resolvable in this case. I am learning new things about ES6 every day!

[2020-01-17 07:21] elmariocarlos commented on #4037
Hi @cdumez sorry to take so much time to get back on this. Our project had a sudden diversion to get another core feature fixed.

 @Alucherdi is currently codign some tests to run on our Mac as soon as it's back from shop :(. I'll let you know when they are complete.

[2020-01-18 01:24] lmccart commented on #4201
looks great! the detailed readme is very helpful. I think you can proceed with the refactor to remove from this repo. thanks @limzykenneth!

[2020-01-18 15:41] #4201 closed

[2020-01-19 17:26] zenzoa commented on #4223
I am seeing the same thing with a game I'm working on in p5js. I put console.log's in mousePressed() and mouseReleased(), and on Safari on my iPad Pro, it only prints the mouseReleased one. I was able to get touchStarted() to work though, so for now I'm duplicating the mousePressed() code in there.

[2020-01-19 23:06] TymonZ opened #4260 "Problem with loading a sound file"
I think I did everything like in this tutorial: https://youtu.be/Pn1g1wjxl_0 , but program stucks at `Loading...` message.

`var song;

function preload(){
    song = loadSound("1.wav");
}

function setup(){
    createCanvas(500, 500);
    song.play();
}

function draw(){
    background(0);
}`

[2020-01-19 23:16] TymonZ commented on #4260
Here are errors I'm getting:

![Bez tytułu](https://user-images.githubusercontent.com/58733922/72690189-2722c500-3b1a-11ea-848a-8b0f9efbcdcf.png)

[2020-01-19 23:33] #4260 closed

[2020-01-20 09:07] DtheC opened #4261 "printMatrix() error points to url which no longer exists"
Calling `printMatrix()` throws an error:
`Uncaught Error: printMatrix() is not implemented in p5.js, refer to [https://simonsarris.com/a-transformation-class-for-canvas-to-keep-track-of-the-transformation-matrix/] to add your own implementation.`
But the url: https://simonsarris.com/a-transformation-class-for-canvas-to-keep-track-of-the-transformation-matrix/ is a 404 and I can't seem to find an a

[2020-01-20 15:53] ashu8912 commented on #4261
YEAH this needs to be removed i can work on it.

[2020-01-20 18:04] woollyBird666 opened #4262 "Set the fill transparency of a vertex-based polyhedron in WEBGL with .setAlpha() is not working with faces which have to stroke too"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2, October 14, 2019
- Web browser and version: Google Chrome | 79.0.3945.130 (Build officiel) (64 bits)
- Operating System: Ma

[2020-01-20 19:28] lmccart commented on #4261
great thanks @ashu8912

[2020-01-20 19:44] stalgiag commented on #4262
Hi @woollyBird666

Thanks for the well-written issue! Would you be able to simplify the example a bit? The simplest possible example that reproduces the bug would be really great. This makes it easier for us to sort out the problem. Perhaps you can try to draw just one rectangle without the working fill?

Thank you!

[2020-01-20 19:51] stalgiag commented on #4254
I am able to reproduce but only on Windows. Works as expected on Mac with Safari and latest Chrome.

Redirects to Support page without download on Windows with Chrome 79.0.3945.117 and Firefox 72.0.2.

It has worked on my Windows computer with both of these browsers until very recently. Let me know if I can be helpful.

![Screenshot (212)](https://user-images.githubusercontent.com/10382506/7275392

[2020-01-20 20:03] stalgiag commented on #4254
Edit: this does not happen for me every time, but roughly 7 out of 10 times.

[2020-01-20 20:19] lmccart commented on #4254
thanks @stalgiag. i just pushed a small update. can you try testing again with a cleared cache?

[2020-01-20 20:23] stalgiag commented on #4254
Works great in both browsers now! Thanks @lmccart .

[2020-01-20 20:23] #4254 closed

[2020-01-21 12:43] woollyBird666 commented on #4262
Hi @stalgiag,

Thanks for your prompt response 👍

 This is the shortest code I can do, I suppose, to illustrate the issue :

[code]

This simple code is just rotating two vertex-based squares with a fill alpha of 254 arround the Y axis. You can see that the **front square** is not transparent, which is consistent related to the alpha value, but the **other square** is totally transparent. This is

[2020-01-21 13:10] woollyBird666 commented on #4262
I just tried with quad() instead of buiding the squares with vertexes to minimize my syntax ; The issue is still there. See the code right below :

[code]

As the front square is correctly filled before rotating, may be the issue is caused by the correlation between these two functions ?

🌸

[2020-01-21 15:34] #4261 closed

[2020-01-22 19:41] macarena opened #4264 "millis() behavior"
Hi there!

I'm using millis() to manage time on a few sketches. What's happening is that I'm rendering a few sketches and all of them share de same millis() return, even though each one starts at different moments.

I don't know if it is the expected behavior. Accordingly to the reference description of millis(), "the number of milliseconds since starting the program", the program is the p5.js, no

[2020-01-22 19:53] stalgiag commented on #4262
Thank you for the examples! I'll check it out.

[2020-01-23 15:35] singhvisha commented on #3870
@stalgiag , Could you please redirect me to `GifReader(buffer)` implementation?

[2020-01-24 02:23] stalgiag commented on #3870
Hi @singhvisha [that is in this package here.](https://github.com/deanm/omggif/blob/master/omggif.js#L366) But the [`frameInfo(j).disposal`](https://github.com/processing/p5.js/blob/master/src/image/loading_displaying.js#L184) should already have the relevant codes.

[2020-01-24 10:05] limzykenneth commented on #4264
The reference saying "program" is actually a holdout from Processing and isn't that well applied in this case. The `millis()` function is a direct alias to `window.performance.now()` which will calculate (in most cases) from when the browser context has started.

I do think that `millis()` should be calculated on a per instance basis as expected in this issue. The reference should probably replace

[2020-01-24 20:07] lmccart commented on #4264
@limzykenneth yes, I think we can add this one in. it doesn't seem like it would be that hard technically to implement.

[2020-01-27 18:42] erikbuunk commented on #2154
I used `Object.values(data)` to turn the Object to an Array. Is this a solution that could be used, or added to documentation? I still got the Object errors in the current P5 version.

[2020-01-27 19:39] limzykenneth commented on #2154
`Object.values(data)` cannot be used as a solution internally as it still requires redefining the returned object from the function which changes the pointer.

[2020-01-28 10:04] haschdl commented on #4154
hello @AnuragGupta93 and @niravasher   Your code and examples refers to **rotateX() function** while the issue is about the **rotationX** variable.
Those are different things.
* [rotateX](https://p5js.org/reference/#/p5/rotateX), [rotateY](https://p5js.org/reference/#/p5/rotateY), [rotateZ ](https://p5js.org/reference/#/p5/rotateZ) are functions. They work as you explained, there are no issue ther

[2020-01-30 08:23] iamrajiv commented on #4137
Hi, I'd like to help with Hindi translation.

[2020-01-30 11:31] AnuragGupta93 commented on #4264
@macarena This is a small workaround you can apply to get millies() for each sketch individually.
Just initialize a variable `init_millis` in `sketch.setup()` and use
`curr_sketch_millies = sketch.millis() - init_millis`
where `curr_sketch_millies` would be the millis of your current sketch.
[code]

However, I do believe that `millis()` should be instance-based and not program-based.

[2020-01-30 14:48] Daandelange opened #4266 "WebGL : blendMode() + fill( opaque-colour ) = no-blending"
#### Most appropriate sub-area of p5.js?

- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Color
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2 (`editor.p5js.org` version)
- Web browser and version: `Vivaldi 2.10.1745.23 (64-bit) (Chrome 79.0.3945.94)` & `Firefox 72.0

[2020-01-30 17:02] AnuragGupta93 commented on #4266
@Daandelange This is the expected behavior of blend method. If you have alpha = 1, why would it blend with others? However, if the alpha value is less than 1, we need to enable blending on the gl context.

[2020-01-31 08:06] Daandelange commented on #4266
I don't understand why this is expected. Normally in openGL, blending happens regardless of alpha values.

Does that make more sense ?
Anyways, coming from a C++ background, this behaviour is very confusing for me.
This [JS example](https://www.andersriggelsen.dk/glblendfunc.php) also blends colours without alpha while showing underlying math.

[2020-01-31 16:43] stalgiag commented on #4266
Thanks for the well-written issue and the thorough example!

Both sides of the posted example should be basically identical. @AnuragGupta93 your logic is true for whether we do depth testing, but it shouldn't determine whether blending is enabled. The logic is a bit tangled in `_applyColorBlend` as @Daandelange points out. Though it is different in `master` due to some optimization changes, this i

[2020-02-01 13:41] Daandelange commented on #4266
That was quick, thanks for fixing this! 🙂

[2020-02-02 16:10] Vamoss commented on #4244
Sorry to answer in a closed issue, but this hack may help others in future.

https://editor.p5js.org/Vamoss/sketches/x4Z8KBms
[code]

Results:
<img width="598" alt="Captura de Tela 2020-02-02 às 13 00 45" src="https://user-images.githubusercontent.com/245841/73610995-14010200-45bc-11ea-975a-75ae72d01391.png">

[2020-02-04 10:54] Mamboleoo opened #4269 "Line is too thick"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Latest Chrome/Firefox/Edge/Mobile Safari
- Operating System: Windows 10, iOs 13.3
- Steps to repr

[2020-02-04 12:28] limzykenneth commented on #4269
I cannot replicate this on macOS (Firefox, Chrome, Safari) and iPhone SE (Safari and Firefox). It sounds like a subpixel drawing issue, can you try drawing the second line at a different location to see if it still exhibit that behaviour?

[2020-02-04 13:06] Mamboleoo commented on #4269
I cannot try on MacOs right now but here is a screenshot on my iPhone when zooming.
![10A8297A-CCF9-4BFB-9659-D4EEE4969BC8](https://user-images.githubusercontent.com/6048794/73747182-2fecdb00-4757-11ea-9092-ebca3b24c8d9.png)
Both blue lines have the same setting with one difference, the y coordinates are [250,250] for the top blue line and [210.5,210.5] for the bottom one.

On my windows laptop th

[2020-02-04 13:51] limzykenneth commented on #4269
Judging by the results of the bluelines I would say it looks more and more like subpixel rendering limitation. This is something native to the HTML Canvas API (and a lot of other drawing programs).

The reason why drawing at half a pixel makes the line sharper is rather subtle. You can find an explanation of it [here](http://diveintohtml5.info/canvas.html) about 1/4 ways down in a "Ask Professor M

[2020-02-04 17:01] Mamboleoo commented on #4269
That's exactly it. I just checked with vanilla Canvas API and I'm having the same result (top being round number and below '0.5' coordinates).
![image](https://user-images.githubusercontent.com/6048794/73767859-553e1100-4778-11ea-88a2-da3c20f541ef.png)

Thanks for your answers 🙏

[2020-02-04 17:01] #4269 closed

[2020-02-04 20:14] iamrajiv commented on #4137
@stalgiag Hi, I'd like to help with Hindi translation.

[2020-02-04 20:40] stalgiag commented on #4137
Great thanks @iamrajiv !

[2020-02-05 17:52] sixhat commented on #4264
I agree that `millis` should represent the time of each instance and not `window` time, but this lead me to think if there are other cases where P5 is using program properties that should be instance based.

It might be good to think if there are any other functions whose behaviour should be clarified when running in instance mode vs global mode.

In the case of `random` when you use `randomSeed`

[2020-02-06 12:53] limzykenneth commented on #4264
@sixhat For the the two different behaviours of `random()` you described are expected and by design, so I don't see a problem there, unless I'm missing something.

The purpose of using a random seed is to ensure you can generate a fixed sequence of random numbers, if the LCG isn't tied to the instance, one instance calling the seeded `random()` will cause the global LCG to increment, meaning if yo

[2020-02-06 15:32] sixhat commented on #4264
@limzykenneth Yes I was just using `random` as an illustration, not as a broken function needing to be fixed. Sorry if it caused confusion. My point is that we might need to think if there are other functions that need to be corrected or not. `random` is not one of them.

[2020-02-06 23:23] arsdragonfly commented on #2457
Would [getTransform](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/getTransform) be considered?

[2020-02-07 17:12] alexdmiller opened #4272 "print() function, even with content, causes print dialog to appear in firefox"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.10.2
- Web browser and version: Firefox 72.0.2
- Operating System: MacOS 10.14 (Mojave)
- Steps to reproduce this:

The following

[2020-02-08 01:33] stalgiag commented on #4272
Hm odd! I am not able to recreate on Mac 10.15.2 using the online editor in Firefox 72.0.2. This sketch just prints the text in the console for me:
[code]

[2020-02-08 03:51] alexdmiller commented on #4272
Ah, I'm realizing my mistake. I tried to use the `print` function all by itself, outside of the `setup` function. Coming from Java Processing, I expected this to work, and the reference examples  for `print` don't include a `setup` or `draw` function.

I realize my case is probably a bit unusual, but it might be worth updating the documentation?

[2020-02-08 14:25] johncbowers opened #4274 "Enabling lights() in WEBGL breaks vertex colors."
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: both in 0.10.2 on my local machine and the latest in p5js editor on the website
- Web browser and version: Both Safari 12.0 and Fir

[2020-02-08 16:01] Liran648 opened #4275 "Adding getPosition() for world coordinates with the p5.Camera class."
**Most appropriate sub-area of p5.js?**
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

Currently there's a way to get a p5.Camera object's position relative to its local coordinates system (eyeX, eyeY, eyeZ), but from what it seems there's no way to get the 'world'

[2020-02-08 20:10] leokamwathi opened #4276 "Bug in touch.js."
#### Most appropriate sub-area of p5.js?

- [x] Events

#### Details about the bug:
P5.js version 0.10.2
Related to the Fix for issue #3853
There is a bug on line 145 in src/events/touch.js

 typeof context.touchStarted === 'function'
**I belive this should be.**
 _typeof context.mousePressed=== 'function'_

[2020-02-08 20:19] leokamwathi commented on #1815
I opened new issue #4276 There is a bug in the touch.js file on line 145
typeof context.touchStarted === 'function'
**I belive this should be.**
typeof context.mousePressed=== 'function'

[2020-02-08 22:55] #4276 closed

[2020-02-09 11:33] strong202 opened #4278 "https://centus.one/join/?partner=c4216b0c159dbf7bf52b43aa78ff8a46"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [x] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

[2020-02-09 14:10] limzykenneth commented on #4272
I don't think this is something we can specifically document just for `print()` as most functions in p5.js cannot be used outside of `setup()` or `draw()` before `setup()` or `draw()` is called. However, this behaviour should be caught by the friendly error system, not sure if it would be impossible to catch `print()` though.

[2020-02-09 14:12] #4278 closed

[2020-02-09 18:44] Long16837 opened #4279 "master"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

[2020-02-09 19:22] stalgiag commented on #4279
Hello I am closing this issue as there is no descriptive information in it. If this isn't on purpose feel free to open another issue with a descriptive title and a completed issue template. Thanks!