[2017-07-06 12:20] #2039 closed

[2017-07-06 15:13] DexterShepherd commented on #2044
Thanks for checking this out and moving it on. I didn't realize there was a separate repo for the website itself. :)

[2017-07-06 17:11] with-a-k opened #2046 "Add support for creating color objects with #rgba and #rrggbbaa hex strings"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Feature enhancement details:

Add two new valid color representations for creating new colors:

- `#rgba`, equivalent to `#rgb` with an

[2017-07-06 20:42] golanlevin opened #2047 "Add constants for RAD_TO_DEG, DEG_TO_RAD"
#### Nature of issue?
- [X] New feature request

#### Most appropriate sub-area of p5.js?
- [x] Core
- [X] Math
- [X] Utilities

#### Which platform were you using when you encountered this?
- [X] Desktop/Laptop

#### New feature details:
Please add constants for RAD_TO_DEG, DEG_TO_RAD. These are common in creative-coding toolkits, such as Processing and openFrameworks. Having them in p5.js would

[2017-07-07 13:17] kino2007 commented on #2045
Here's the code with an issue:
[code]
function keyPressed() {
  if(key === 'w'){cy -= 1}
  if(key === 's'){cy += 1}
  if(key === 'a'){cx -= 1}
  if(key === 'd'){cx += 1}
  if(key === 'e'){cz -= 1}
  if(key === 'z'){cz += 1}
}
function keyReleased() {
  if(key === 's'){cy -= 1}
  if(key === 'w'){cy += 1}
  if(key === 'd'){cx -= 1}
  if(key === 'a'){cx += 1}
  if(key === 'z'){cz -= 1}
  if(key === '

[2017-07-07 13:17] kino2007 commented on #2045
For some reason it only works with those non ASCII codes.

[2017-07-07 22:05] jay-manday commented on #2038
Hi @limzykenneth, I have some time this week while prepping some beginner level p5 classes i'll be teaching kids this summer. It'd be fun to help out w/ this n and other things now that things have settled down a bit 👩‍🔬

Are you proposing a dedicated `ondblclick` function to handle this or were you thinking of adding this onto the `_onclick` function in `src/events/mouse.js` as well as in p5.dom?

[2017-07-08 18:58] kjhollen commented on #1727
Woops, I didn't see this and accidentally opened #2020 for this issue. I think this was resolved in #2031, so I'll close it, but let me know if the problem persists and I'll take another look.

[2017-07-08 18:58] #1727 closed

[2017-07-09 22:27] mlarghydracept commented on #1796
This issue is no longer popping up on the latest release of Firefox when checked with your example code or the texture test examples for p5.

I am going to close for now. If I am mistaken and the issue is still present just comment here and I'll reopen.

[2017-07-09 22:27] #1796 closed

[2017-07-09 22:32] mlarghydracept commented on #1716
@chrsmlls333 Hi thanks for reporting the issue. The URL for the problem test isn't working. Are you still having this problem in Firefox? If so, could you put the link back up or post the code here?

[2017-07-10 13:49] Alivanar opened #2055 "Textsize() with custom fonts"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-10 20:34] dhowe commented on #2055
This is a bit of a strange test as there is no need for a callback in preload(), as preload() is guaranteed to finish before setup() is called. Nonetheless, I can verify the problem.

Here is a simpler test:
[code]

The problem only occurs when the first font is loaded/opentype and the second is a browser font.

[2017-07-11 00:08] zepadovani opened #2057 "sketch does not keep drawing if the tab is not active"
I'm not sure if this is a bug or a feature, but converting a sketch from the older processing.js to p5.js I've noticed that if I change the tab of my browser, the sketch frame flow is freezed until I return to the tab.

I've noticed that simpler examples in p5js (https://p5js.org/reference/#/p5/frameCount, for instance) also present this behaviour and, if it is not a bug as I suspect, I suggest to

[2017-07-11 02:22] kadamwhite commented on #2057
Hey @zepadovani, thanks for the question! p5.js uses the [`requestAnimationFrame`](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame) browser API method to [run the draw loop](https://github.com/processing/p5.js/blob/ed94431045900c61cb1f78942a64e0f2a623df69/src/core/core.js#L377), and unfortunately `requestAnimationFrame` was explicitly designed to not run when the tab

[2017-07-11 02:46] dhowe commented on #2057
I also ran into this problem in a project, specifically the fact that timers (setInterval, etc.) continue to run though draw is not being called, so it is not as if the entire program pauses (which would be preferable, at least for my case). I ended up having to implement event listeners for all the different kind of events that caused requestAnimationFrame to stop calling draw (tab-change, window

[2017-07-11 07:11] limzykenneth commented on #2057
I think this problem probably would have been encountered by other drawing/animation libraries, does anyone know how (if at all) do they deal with this problem?

[2017-07-11 07:16] limzykenneth commented on #2038
@jay-manday Sorry, a bit late on the reply, this got buried in my email and I forgot about it for a moment.

I was thinking more on the line of creating a `doubleClicked()` function much like `mouseClicked()` so you would use it like so:

[code]

and also the same for p5.dom:
[code]

It should be separate from `onclick` as it is listening to a separate event from the browser. You can have a look a

[2017-07-11 11:37] Torpexx commented on #2057
I have the same problem. Any insight would be very much appreciated.

[2017-07-11 15:11] kadamwhite commented on #2057
@dhowe This isn't a complete fix but it's possible to use `requestAnimationFrame` directly within our own sketch code; if we're using that for our own timers in lieu of `setInterval` then at least they should behave in the similar fashion to the regular draw loop.

[2017-07-11 17:25] zepadovani commented on #2057
Any hint on how to implement this solution? Digging the web I saw a lot of developers that could not use requestAnimationFrame to solve this (it seems to work only when tab is active). My old processing.js sketch renders continuosly (see: http://josehenriquepadovani.com/) but I want to update it to have a better graphic quality in high pixel density screens (retina).

[2017-07-11 17:29] zepadovani commented on #2057
Oh, perhaps not! Just saw this (https://stackoverflow.com/questions/5927284/how-can-i-make-setinterval-also-work-when-a-tab-is-inactive-in-chrome) but I'm still trying to figure out how to adapt a drawing loop to this logic. :/

[2017-07-11 18:40] jay-manday commented on #2038
@limzykenneth no problemo! I've just submitted a pr for the main p5 lib first, I was a little unsure of where to add this functionality to the `p5.dom` add on.

But hopefully my changes are  ok and will look further into it. I used the `dblclick` event listener for this method (https://developer.mozilla.org/en-US/docs/Web/Events/dblclick)

[2017-07-12 23:26] limzykenneth commented on #2038
@jay-manday The source for p5.dom is available over [here](https://github.com/processing/p5.js/blob/master/src/core/p5.Element.js), do go ahead an include the changes in p5.dom in the same PR, you will need to build and commit the p5.dom.js file in the `lib/addons` folder as well after you have changed the file above.

[2017-07-13 02:15] Ryzon3 opened #2061 "Making a simple drawing web thing and got error: Uncaught TypeError: Cannot read property 'show' of undefined"
I have investigated this it says it is on line 10 but I can not find the error
<br></br>
Here is my code:
var pixels = [];
var drawing = false;

`

function setup() {
    createCanvas(windowWidth, windowHeight);
}
function draw() {
    background(0);
    for(var i = pixels.length - 1;i >= 0;i++) {
        pixels[i].show();
    }
    if(drawing) {
        var nP = new Pixel(mouseX, mouseY);

[2017-07-13 02:22] limzykenneth commented on #2061
Instead of
[code]
you probably meant
[code]
instead, as you are iterating the array in reverse.

In general, this kind of question is more suitable for the [forum](https://forum.processing.org/two/) as github issues are more for bug tracking and feature requests. Thanks.

[2017-07-13 02:22] #2061 closed

[2017-07-13 19:57] jtoy opened #2062 "p5dom library cant create textarea"
The p5 dom library allows creating most form elements except for a textarea. Textarea is needed for large amount of text that could be used for form processing.

[2017-07-13 22:01] jacorre commented on #1811
Looks like version 0.5.11 introduced the issue with mousePressed being triggered twice again on Android mobile. Please take a look at my [pen](https://codepen.io/anon/pen/dRaYWj?editors=1111). When tapping on Test you'll see it alerts twice. If you do it from desktop it only does it once. Testing on iPad, it only does it once as well.

[2017-07-14 02:32] jacorre commented on #1815
Looks like it's still as issue in 0.5.11 specifically for mobile on Android device. I'm using Chrome. See my pen at https://codepen.io/anon/pen/dRaYWj. If you tap on the test button it will alert twice. The button uses the mousepressed function.

[2017-07-14 07:30] ChristerNilsson opened #2063 "Faster Bezier"
I think bezierPoint can be sped up by a factor 3.
Reason: Math.pow(x,3) is slow compared with multiply.

Current implementation:
[code]

My proposal:
[code]
I guess there are related Bezier functions that can be sped up to.

[2017-07-14 08:00] ChristerNilsson commented on #2063
Actually, the speed up is closer to a factor 2.

[2017-07-14 13:32] kaganjd commented on #1190
+1 to documentation style guide! I'm working on autocomplete this summer. The YUIDoc data.json file is the starting point of a process for generating the file that Tern.js uses to do autocomplete.

In data.json, I'm running into lots of typos (#2042, #2016 ), missing fields ([color_conversion](https://github.com/processing/p5.js/blob/37f1e69e8027c1745adfb7c18c50b1fbbb7c0d49/src/color/color_convers

[2017-07-14 16:36] mjvDEV opened #2064 "width and height of p5.Graphics object not adjusted when resized"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-14 22:12] smoothmango opened #2065 "get() slow for single pixel, add fget()?"
When extracting single pixels from a PGraphics I noticed that `get(x,y)` is extremely slow. For instance, when extracting 220 pixel color values from a 1920x1080 pixel sketch, using `get(x,y)` took 4800ms. I overloaded PGraphics with my own "fast get" function `fget(x,y)` which uses offset in the `pixels[]` array as recommended [here](https://p5js.org/reference/#/p5/get) and was able to do the sam

[2017-07-15 02:21] limzykenneth commented on #2063
Of the browser I've tested (Safari, Chrome, Firefox; all latest version and on latest macOS), only Safari showed faster execution for multiplication compared to `Math.pow`, I suspect being the javascript engine is less optimized for this case for Safari compared to the other two. You can run the tests I found on [jsPerf](https://jsperf.com/jslayer-math-pow-vs-multiplcation/2).

While it is a speed

[2017-07-15 02:30] limzykenneth commented on #2064
I don't think `resizeCanvas` is a method of `p5.Graphics` which is why it has no effect. However, when `resizeCanvas` is called on `p5.Graphics` when it doesn't exist, I expect it to throw an error which it doesn't seem to. In any case, for now I would suggest using

[code]

to change `p5.Graphics` size but a utility method would certainly be nice to have.

[2017-07-15 03:47] ChristerNilsson commented on #2063
I tried a more complete test, but could only repeat your findings.
[jsperf](https://jsperf.com/bezierpt)
Using Chrome Version 59.0.3071.115, Windows 7 and Sony Vaio from 2012.
Maybe we should drop this issue.

[2017-07-15 09:36] sixhat commented on #2065
What about a version of `get` that checks if `loadPixels` has been called in the current frame already? Is that possible? My reasoning is that `get` is slow when typically one is trying to load a bunch of pixels from the same image and therefore `loadPixels` only needs to be called once. Maybe some tests can clear is this is possible, but there might be other use cases where `get` needs to `loadPi

[2017-07-15 11:40] ChristerNilsson commented on #2063
My own measurements shows an improvement. This can't be repeated using jsperf.
I also get a feeling, that the execution order is important. Try acb instead of abc.

[code]
43.775000000000006
9.859999999999985
76.15
27.845000000000027
6.569999999999936
27.004999999999995

[2017-07-15 15:15] matteboro opened #2066 "how i got a random INT in p5.js?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ ] Desktop/Laptop
- [ ] Others (specify

[2017-07-16 08:15] limzykenneth commented on #2066
You can simply do
[code]
to get a whole number between 0 and 50.

In future, this kind of programming related question is better suited for the [forum](https://forum.processing.org/two/). Github issues are more for bug reporting and feature requests. Thanks.

[2017-07-16 08:15] #2066 closed

[2017-07-16 13:01] sixhat commented on #2066
One must be careful with the quick recipes.

`round(random(0, 50));` gives you a number in the range [0–50] with 0 and 50 occurring half of the times of the remaining numbers.

It is more normal/correct to use

`floor(random(0, 50));`

this gives you a random number in the range [0-49] with equal probability of occurrence of each number.

[2017-07-16 13:02] limzykenneth commented on #2066
@sixhat Good catch, thanks!

[2017-07-16 14:00] rockfarmor opened #2067 "Disable the "text"-cursor when hovering text"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [? ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ x] Desktop/Laptop
- [ ] Others (spec

[2017-07-16 19:55] lmccart commented on #2038
closed with https://github.com/processing/p5.js/pull/2059

[2017-07-16 19:55] #2038 closed

[2017-07-16 20:00] lmccart commented on #2046
fixed with https://github.com/processing/p5.js/pull/2048

[2017-07-16 20:00] #2046 closed

[2017-07-16 20:04] lmccart commented on #2067
can you give an example snippet of code, or link to an example where you see this behavior?

[2017-07-16 20:04] #2040 closed

[2017-07-16 20:07] lmccart commented on #2045
Depending on your browser, the key value may contain a capitalized key. ie changing your logic to if (key === 'W') should work. To get the proper capitalization, it is best to use it within keyTyped().

[2017-07-16 20:07] #2045 closed

[2017-07-16 20:11] lmccart commented on #2028
I think these have all been addressed now, closing this issue. Please reopen if I'm mistaken..

[2017-07-16 20:11] #2028 closed

[2017-07-16 20:13] lmccart commented on #2064
This is correct, resizeCanvas() is only for canvas, but you can use the .size() method. Something like this:
[code]

[2017-07-16 20:13] #2064 closed

[2017-07-16 20:20] lmccart commented on #2042
yes that would be totally fine, and an improvement

[2017-07-16 20:38] lmccart commented on #2047
closed with https://github.com/processing/p5.js/pull/2068

[2017-07-16 20:38] #2047 closed

[2017-07-16 20:42] lmccart commented on #2062
the `createElement()` method lets you create any HTML element that doesn't have it's own p5 creator method. to further modify, you can access the underlying element created use the .elt property. for example:

[code]
https://p5js.org/reference/#/p5/createElement

[2017-07-16 20:42] #2062 closed

[2017-07-16 20:51] #2041 closed

[2017-07-16 21:55] Niels-NTG opened #2069 "p5.Font.textToPoints not working for space"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-16 22:06] Niels-NTG commented on #2069
This issue seem to have some similarities with #1788. Perhaps that solution can be reused?

[2017-07-17 01:34] mlarghydracept opened #2072 "Calls to texture() are slow"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-17 01:47] mlarghydracept opened #2073 "textured objects received ambient/specularMaterial alpha"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-07-17 13:50] kaganjd commented on #2042
I hadn't pulled the latest in a while, and I believe 1 and 3 above were fixed with #2037.

2 is still causing a problem though. I'm wondering if it's a YUIDoc type problem like the others, not a punctuation problem. I'll look at this today and update.

[2017-07-17 14:58] kaganjd commented on #2042
I think this commit will fix 2: https://github.com/kaganjd/p5.js/commit/4300ad2651c748434d3fc68d953c86a6da7a869a

I'll submit a PR after #2056 is merged

[2017-07-17 16:06] mjvDEV commented on #2064
I tried that, but all I got was an exception stating that "size() is not a valid p5 function, to set the size of the drawing canvas, please use createCanvas() instead." Has something changed since the last release?

I should mention that when I used resizeCanvas(), the problem was not that it had no effect- it did in fact change the size of the underlying canvas, as well as all other places where

[2017-07-17 17:09] lmccart commented on #2064
Have you included the p5.dom library? See the instructions here:https://p5js.org/reference/#/p5.Element/size

[2017-07-17 19:51] mjvDEV commented on #2064
Oh! I didn't realize that was a dependency- the graphics buffer, for the most part, seems to work fine without the dom library.

So that does properly resize the buffer, but it did expose a different problem though: The buffer was no longer hidden after I called size()! I did some debugging and I think I found the line in p5.dom.js that changed the "display" style setting from "none" to "":

https

[2017-07-17 21:05] DoubleJump opened #2076 "Shader Uniform caching."
#### Nature of issue?

- [ ] Found a bug
- [ X] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL

#### Feature enhancement details:

First , apologies if this is already being considered, I looked through the issues and don't think I've s

[2017-07-17 23:35] rockfarmor commented on #2067
This includes every p5.text where no cursor has been forced. My current workaround is to force the cursor to Cursor(ARROW).

Link to example: [](https://p5js.org/reference/#/p5/text)

Screenshot of behaviour:
<img width="412" alt="test" src="https://user-images.githubusercontent.com/10855270/28294275-4060f1d8-6b59-11e7-8fce-90618c028f78.png">

[2017-07-18 00:20] rockfarmor opened #2077 "Issues with Retina-screen, createGraphics and pixeldensity"
Hello! I've been looking around the forum for similar issues, and found some that partly handles my problem. It's known that when using createGraphics() on a screen with pixeldensity > 1, the graphicsObject becomes distorted. A known fix for this is to manually set the pixeldensity of the graphicsObject to 1. But now to the problem -> When trying to render text to the object, the text-quality is b

[2017-07-18 02:12] mlarghydracept commented on #2076
I don't have time to run tests on it but this seems like it could be a great idea. So you know, if you want to continue working on this branch it might make sense to pull from the WebGL_GSOC17 branch because @kjhollen and I are making quite a few changes to WebGL on that branch and it may make sense to work against that branch rather than master.

[2017-07-18 07:07] DoubleJump commented on #2072
You're correct that gl.texImage2D should only be called as infrequently as possible, that sends the pixels to graphics card so can be quite slow. gl.texImage2D lets you upload a portion of an image (say the top-right corner). Once an image is uploaded to the GPU you should only need to bind the texture unit to use it in a shader.

It sounds like one thing to try would be to add a flag to an image

[2017-07-18 07:55] DoubleJump commented on #2076
Cool. I've updated on the WebGL_GSOC17 branch. https://github.com/DoubleJump/p5.js/tree/WebGL_GSOC17

If I've done everything right it should be an opt-in thing that doesn't break anything else. Just to clarify on how it works...

First cache all the uniform information when a shader is created.

[code]

That info can then be used during setUniform calls to do the appropriate thing (and act as a s

[2017-07-18 14:34] limzykenneth commented on #2067
I cannot replicate this problem on macOS (10.12.5) on all latest versions of Safari (10.1.1), Chrome (59.0.3071.115) and Firefox (54.0.1). It's pretty weird to be honest as there's no reason why the browser would use the text cursor on a canvas element. My hypothesis would be some kind of layout error that puts a text field or similar on top of the canvas element causing it. @rockfarmor can you tr

[2017-07-18 15:34] Thzn commented on #1954
Hi,

I would like to contribute to p5js by adding examples listed in this issue. I have made an example for httpDo() method as my first contribution.
But I'm new to this Open Source project related documentation. Can you please give me some guidance.

Thank You.

[2017-07-18 21:52] rockfarmor commented on #2067
I have no extensions activated, try to mark the text on the canvas and see if the problem occurs

[2017-07-18 23:13] jacorre opened #2079 "Mouse/touch is being triggered twice again on mobile"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch devices)
- [ ] Desktop/Laptop
- [ ] Others (specify

[2017-07-19 00:04] lmccart commented on #2079
Duplicate of #1815

[2017-07-19 00:06] lmccart commented on #2067
as far as I can tell, this is just the default behavior of clicking and dragging over a page that contains text on it somewhere. since the reference page contains text in the description and other areas, the text icon is displayed. this occurs on examples that do not contain the text() command in them as well. however, if you make a p5.js sketch of your own with just a canvas, you will not see thi

[2017-07-19 00:22] lmccart commented on #1954
@Thzn glad you want to contribute, thanks! In addition to the wiki section listed above, you may first want to check out this [hello world github introduction](https://guides.github.com/activities/hello-world/) and the other [github guides](https://guides.github.com/) and then watch the [looking inside p5.js](http://www.luisapereira.net/teaching/looking-inside-p5/) videos to get an overview of the

[2017-07-19 02:50] mlarghydracept commented on #2076
Thanks for the change. I think this could be really useful in having the loading of individual shaders generalized. Also we have been talking about allowing users to use their own shaders and this would be an essential step in that. Would you mind making a PR against the WebGL_GSOC17 branch and @kjhollen and I can run over it a few times and do some tests. Also it might be a good idea to write som

[2017-07-19 02:56] mlarghydracept commented on #1897
This is fixed with the updates in the WebGL_GSOC17 branch. We still aren't sure when that branch will be merged into master (sometime in the next month or two) but if you want to fix the issue sooner you can download from that branch and build the library using the instructions [in the setup section here](https://github.com/processing/p5.js/wiki/Development).

The issue can stay open till the chan

[2017-07-19 08:13] DoubleJump commented on #2076
Great, I've submitted a pull request (hopefully I did that right :) ). I couldn't figure out exactly where the units tests go but if you could point me at it i'll definitely add some.

It should be pretty straight forward to extend the `_setUniform` function into something user facing like `setMaterialValue('brightness', 0.5)` or whatever. Would just need figuring out in terms of error messages.

[2017-07-19 12:56] lmccart commented on #2076
thanks @DoubleJump. unit testing information can be found here: https://github.com/processing/p5.js/wiki/Development#testing. the test files would go in the [test/unit/webgl](https://github.com/processing/p5.js/tree/master/test/unit/webgl) folder.

[2017-07-19 15:00] DoubleJump commented on #2076
Ok, think I've got gist of how the testing works and have created one for shaders. Am I right in thinking that WebGL tests will only trigger when run in the browser?

Do I need to resubmit the pull request now I've added the test?

A couple of little things I noticed. It seems that assert.exists()... well doesn't seem to exist :). Most likely I was doing something wrong though. The mocha link on t

[2017-07-19 19:24] bensk opened #2084 "Has createButton been removed?"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [] DOM
#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ ] Desktop/Laptop
- [ ] Others

[2017-07-19 23:25] #2084 closed

[2017-07-20 01:58] jay-manday commented on #1996
Hi! What exactly are you trying to do? when working with p5.dom your working with not only your sketch but the whole stack of client side code (index.html, sketch.js, css, etc). My suggestion would be to just use something like this in the header of your html page.

`<script type='text/javascript' src='relative/path/to/your/p5.dom.js'>`

This is a good link to check out for a overview of working w

[2017-07-20 02:20] MatthewEE97 opened #2085 "syntax error: unexpected token ILLEGAL"
#### Nature of issue?

- [y ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ y] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ y] Math
- [y ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [y ] Desktop/Laptop
- [ ] Others (sp

[2017-07-20 02:53] mlarghydracept commented on #2072
Yeah that is helpful! Though I realize now after further testing that while this is a performance hit. It doesn't seem to be as big of an issue as I thought. Performance is fine in anything but edge cases with texturing use.

Setting the flag to check whether an image needs uploading or updating makes for a pretty big design challenge. Because as far I know there is no simple way to know if this i

[2017-07-20 02:53] #2072 closed

[2017-07-20 04:04] lmccart commented on #2085
hi @MatthewEE97 it's a little hard to tell from the partial code snippet, but I would suggest looking at this line

[code]

there shouldn't be any underlines in your code like this, so I would look again at the tutorial video. you might go to earlier in the series if you are having trouble following this one.

in general, github issues are just for bugs with the p5.js library itself, it's best to

[2017-07-20 04:04] #2085 closed

[2017-07-20 18:24] kaganjd commented on #2042
Closing this. #2056 fixed 2 and created a new problem for the Tern.js script, so I think I was wrong about parentheses being the problem.

[2017-07-20 18:24] #2042 closed

[2017-07-20 19:17] lmccart opened #2086 "remove image comparison tests from unit testing"
we've decided the time and possibility for false negatives made these not worth it. will rely more on manual tests for visual confirmation instead.

and comment back in 2d_primitives test!!

[2017-07-20 21:16] #2079 closed

[2017-07-20 21:45] #2086 closed

[2017-07-21 08:35] DoubleJump commented on #2076
Closed with PR #2083

[2017-07-21 18:31] almchung opened #2089 "Friendly Error System: implementations"
Candidate functions and common error lists related to implementation of FES.

#### color/creating_reading.js
- [x] `alpha()`: replace [LN54](https://github.com/processing/p5.js/blob/friendly-err-sys/src/color/creating_reading.js#L54) with `validateParameter()`
- [x] `blue()`: replace [LN85](https://github.com/processing/p5.js/blob/friendly-err-sys/src/color/creating_reading.js#L85) with `validateP

[2017-07-22 09:04] DoubleJump opened #2091 "Texture Samplers"
#### Nature of issue?

- [X] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Feature enhancement details:

I don't know if there are any plans for this as part of the current texturing work but I think being able to optionally pass in a sampler to the texture function could be useful.

There could a number of preset samplers for common cases such as a spri

[2017-07-22 15:58] Thzn commented on #1954
@lmccart
Thank you for the instructions  ...!. I will finish it soon...

[2017-07-23 16:29] tiagmoraismorgado opened #2093 "problems install p5.js via npm"
when attempting to install p5.js via npm, i get the following error message:

    MacBook-Pro-de:work in progress frontend using electron node bootstrap particles.js three.js sound    design and video animations a_$ npm install p5.js --save
    npm ERR! code E404
    npm ERR! 404 Not Found: p5.js@latest

    npm ERR! A complete log of this run can be found in:
    npm ERR!     /Users/a_/.npm/_logs

[2017-07-23 18:43] TheChilliPL opened #2094 "Dispose texture function?"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL

When I will use
`img = loadImage('assets/someAsset.png');`
How can I unload that asset? In pixi.js there are destroy and dispose functions. Are there any similar?

[2017-07-23 18:52] lmccart commented on #2094
you can delete the reference to it:

`delete(img)`

[2017-07-23 18:53] TheChilliPL commented on #2094
I mean removing it from memory

[2017-07-23 18:54] TheChilliPL commented on #2094
So if I'd create a game, I'd load some textures for some map, and after going to another map, unload from memory old textures

[2017-07-23 19:02] lmccart commented on #2094
if you just set the variable to null, this will free the memory.
`img = null;`

[2017-07-23 19:02] DoubleJump commented on #2094
There are gl specific functions for that I dont think have been implemented yet. would mean keeping a reference to the gltexture id around too. doable though.

[2017-07-23 19:04] TheChilliPL commented on #2094
@lmccart Alright

Well, if that'll work, I'm gonna love this library.

[2017-07-23 19:05] #2094 closed

[2017-07-23 19:07] lmccart commented on #2093
what is the command you are running

[2017-07-23 19:20] TheChilliPL commented on #2094
@lmccart How to check if image (and pixels) are already loaded?
And why didn't chrome inspector memory snapshot show up image?
(It's 40 MB image for memory test)

[2017-07-23 19:36] TheChilliPL commented on #2094
@lmccart Open issue, Chrome task manager shows that it don't work always. Usually after setting it to null it persists in memory

[2017-07-24 09:53] tiagmoraismorgado commented on #2093
npm install p5.js --save

[2017-07-24 13:40] lmccart commented on #2093
ah, the package is called p5
https://www.npmjs.com/package/p5

[2017-07-26 19:05] DoubleJump commented on #2091
I've made a start on this here https://github.com/DoubleJump/p5.js/tree/webgl-texture-samplers/src/webgl.

Think the next step is to make an example that shows the difference between different sampling modes.

[2017-07-26 19:41] almchung commented on #2089
@lmccart  I have some function-specific design questions.

1. `lerpColor(c1, c2, amt)`: this one currently forces numerical boundary for `amt` parameter using `min()`,` max()`. Should we consider producing FE for `amt` out of boundary error instead of this method?

2. `bezierPoint()`, `bezierTangent()`, `curvePoint()`, `curveTangent()`: these functions re-assign variable names for individual param

[2017-07-27 05:00] lmccart commented on #2089
1. I think it's fine to use as it. It's kind of a hassle to do the min/max manually, and I could imagine cases where amt would need to be capped that's not necessarily a user error. This also aligns with the processing treatment.
2. That would be great.

[2017-07-29 05:17] limzykenneth commented on #2077
May not be helpful but is it possible to use DOM element instead? By using DOM element to render text, the browser and in turn the OS will take care of text on different pixel density display so you don't need to worry about this and let the canvas do graphics drawing instead of text rendering.

[2017-07-29 05:34] quinton-ashley commented on #2077
yeah but what if you want to manipulate text at a high resolution in p5?  I'm sure I'm not just speaking for myself when I say this issue shouldn't be ignored.  Of course you can render OP's program in html but that's not the point of Processing.

[2017-07-29 05:54] limzykenneth commented on #2077
Not saying anything should be ignored. Just suggesting possible alternatives. If there's an easier workaround perhaps it could help.

Of course depending on use case that may not be possible but I'm not sure if it is the case for the OP's program so I'm just throwing the suggestion out there.

[2017-07-29 06:29] quinton-ashley commented on #2077
Oh okay sorry I see where you're coming from now.

[2017-07-29 21:11] mzaidikhlas opened #2100 "inverseLerp() function"
#### Nature of issue?
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [x] Math

#### New feature details:
I would like to add the `inverseLerp()` function which calculates the amount to interpolate between a range (two values) with a provided increment.

_Example_
`lerp(5, 10, 0.5) // 7.5`
`inverseLerp(5, 10, 7.5) // 0.5`

I have implemented it. If approved I would proceed an

[2017-07-30 00:28] KevinWorkman commented on #1815
I'm having the same problem on Android chrome with version 0.5.11.

Adding a `touchStarted()` function doesn't seem to do anything for me, but this hack seems to work okay in the meantime:

[code]

[2017-07-30 20:55] seymar commented on #930
I'm also still having this problem, it's really annoying.

[2017-07-30 21:37] seymar commented on #2055
I also encountered this problem.

I fixed it by using CSS `@font-face` to add the font to the page instead of using the `loadFont` function.

[2017-07-31 16:12] libasoles opened #2101 "Support for mouse events"
#### Nature of issue?
- [ x] New feature request

#### Most appropriate sub-area of p5.js?
- [x ] Events

#### Which platform were you using when you encountered this?
- [x ] Desktop/Laptop

#### New feature details:
I'm interested in mouse events. Particularly, in the ability to subscribe to them from ES6 custom classes.
I'm working with a p5 instance, not using global methods, so I need to be ab

[2017-07-31 17:36] libasoles opened #2103 "Missing dragStart event"
#### Nature of issue?
- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?
- [x] Events

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Feature enhancement details:
As you can see, there's a 'dragend' event, but not a 'dragstart' one.
However, we do have 'touchstart' and 'touchend'.

[code]

I think we should be able to differentiat

[2017-07-31 17:39] libasoles commented on #2101
Actually there's no need for the switch. Here's a succinct draft:

[code]

[2017-08-01 03:13] limzykenneth commented on #2103
`dragStart` and `dragOver` are not mouse events, they are events bound to DOM elements, a lot of the times text elements. Have a look at the specs [here](https://developer.mozilla.org/en-US/docs/Web/Events/dragstart). Whether would it be a good idea to bootstrap one for mouse events ourselves, I'm not very keen on simply because it veers away from parity with native events.

[2017-08-01 03:40] libasoles commented on #2103
Thanks for the link. I didn't know about the standard.
So, I'm missing an event for mouse drag. See, _mousedown_ & _click_ events are basically the same. They happen once. And yes, we have _mousemove_ that tracks the mouse every frame. But it's up to the user to check if one of them occurred before _mousemove_ to assure that mouse is being pressed while moved.

See, in processing _mouseDragged_ em

[2017-08-01 03:49] limzykenneth commented on #2103
Yeah, when I say parity with native events, that just is a nice to have so people know what to expect when moving to p5 from something else or moving to something else from p5. There is also a `mouseDragged` function in p5 that works similarly while not long ago I have proposed an element specific `mouseDragged` handler as well.

I agree that detecting when the `mouseDragged` event starts would be

[2017-08-01 15:03] wjmoner opened #2104 "strokeWeight() errantly applied to previous shape"
When working with strokeWeight(), I discovered a bug where strokeWeight is applied in the wrong order.

#### Nature of issue?

- [ x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ x ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you usin

[2017-08-01 15:08] wjmoner commented on #2104
A little bit more about this.
The first shape seems to be taking on the last strokeWeight() setting in the sequence.

This code will produce a strokeWeight(20) on the first item in the sequence, then two ellipses with strokeWeight(5), then one with strokeWeight(20).

function setup() {
  createCanvas(480, 120);
}

function draw() {
  background(204);
  ellipse (75,60,90,90);
  strokeWeight(8); //

[2017-08-01 15:22] lmccart commented on #2104
This is the correct behavior. In the first frame, before the first ellipse will get drawn with default stroke weight 1. After that, the stroke weight will follow whatever is set most recently. So at the end of draw, the stroke weight is 20, then it loops back to the beginning of draw, but the stroke weight never gets reset to 1 again so it continues to draw with stroke weight 20. I like to think o

[2017-08-01 15:43] wjmoner commented on #2104
Lauren, thank you for the quick reply. This does make sense, and so closing the issue would be OK.

For your reference, I'm following the code in Make: Getting Started with p5.js, and the code in exercises 3-12 and 3-20 in the book do not work properly. I'll submit a pull request on the code in the book repo: https://github.com/lmccart/gswp5.js-code

[2017-08-01 15:48] #2104 closed

[2017-08-02 14:29] rich-gg opened #2105 "WebGL rendering issue on transparent geometries"
- [ X ] Found a bug
- [ X ] WebGL
- [ X ] Desktop/Laptop

#### Details about the bug:
Hi there :)

As mentioned on [this ](https://forum.processing.org/two/discussion/comment/103189#Comment_103189)forum post (where you'll find screenshots)
It looks like when you run this code :

var redHourAlpha = 0;
var alphRedHour = 0;

function setup() {
  createCanvas(800, 600, WEBGL);
}

function draw() {
  b

[2017-08-02 17:57] mlarghydracept commented on #2105
Hi! Thanks for submitting the issue. I don't have a PC to test on at the moment but just a quick question - Are you using the same browser across those platforms in your testing?

[2017-08-03 11:58] rockfarmor commented on #2077
Thanks for the feedback! Unfortunately I can't use a DOM element for this program. The purpose of using the graphics object is to create a "text-box" of width and height where the user can scroll through the content of the box, where the text "outside" the box won't be visible. This currently works with the graphics object, but the resolution on a screen with density 2 is freaking terrible.

[2017-08-03 12:01] rockfarmor commented on #2019
I also have this problem! I've also noticed that when rendering more complex shapes to the object, that the quality is really bad. Etc. text

[2017-08-03 15:01] lmccart commented on #2077
as a temporary fix, maybe it would work to up the pixelDensity of the graphics object, then scale it down so it's the correct size?

[code]

[2017-08-03 15:43] rockfarmor commented on #2077
I've tried this before, it scales the graphics object right, but still produces the same "low-res" result.

[2017-08-03 15:50] #2067 closed

[2017-08-03 22:14] lmccart commented on #2104
@wjmoner ah thanks for letting me know about the examples and sorry for the confusion. a pull request would be happily accepted.

[2017-08-04 00:04] lmccart commented on #1678
closed with https://github.com/processing/p5.js/pull/2088#event-1192353090

[2017-08-04 00:04] #1678 closed

[2017-08-04 14:06] kino2007 commented on #2045
a

[2017-08-04 18:04] DoubleJump commented on #2091
Ok finally got round to making a demo. Gif credit [Derek Yu](http://makegames.tumblr.com/post/42648699708/pixel-art-tutorial)
https://doublejump.github.io/p5-sampler-demo/

The image on the left is rendered with 'nearest' or what I'd called sharp or unfiltered. The right is smooth or bilinear filtered. Still not sure what to call these. Names are hard!
The difference may appear subtle but its nice

[2017-08-04 18:12] nkg447 commented on #369
How to save the current state of the canvas so that the another time, draw() function is called the drawing should start from the previous state not from the start

[2017-08-04 20:15] dhowe commented on #2055
This should be fixed in branch dhowe-2055
@seymar @Alivanar please verify...

[2017-08-05 01:47] #2073 closed

[2017-08-05 02:00] mlarghydracept commented on #1712
Closed with #2074

[2017-08-05 02:00] #1712 closed

[2017-08-05 09:01] chrsmlls333 commented on #1716
@mlarghydracept Apologies! Here is the updated link: [Aurora 3](http://chriseugenemills.com/projects/aurora-3-holy-generator/)

[2017-08-06 02:16] dhowe commented on #930
I believe this was fixed with https://github.com/processing/p5.js/pull/2106
@lmccart perhaps you can verify and close

[2017-08-06 20:59] lmccart commented on #2069
fixed with https://github.com/processing/p5.js/pull/2108

[2017-08-06 20:59] #2069 closed

[2017-08-06 21:01] lmccart commented on #930
confirming this looks good across browsers with fix from #2106, thanks @dhowe!

[2017-08-06 21:01] #930 closed

[2017-08-06 21:04] lmccart commented on #2055
confirming this is fixed with #2055

[2017-08-06 21:04] #2055 closed

[2017-08-06 23:11] kjhollen opened #2109 "webgl: add object/abstraction for textures (p5.Texture)"
#### Nature of issue?

- [x] Existing feature enhancement

#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### New feature details:
Create a p5.Texture object that can be used to track various GL state affiliated with textures. At the moment, this would only be used for texture() but could be extended to handle font textures or other ideas in the future. Renderer would handle collections o

[2017-08-07 00:45] mrbombmusic opened #2110 "'keyCode' does not work with (keyIsPressed) event & 'key' does not work with function keyPressed()"
#### Nature of issue?

- [x ] Found a bug

#### Most appropriate sub-area of p5.js?

- [x ] Events

#### Which platform were you using when you encountered this?

- [ x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.6.2
- Web browser and it's version: Chrome - Version 60.0.3112.90 (Official Build) (64-bit) (Have encounter this issue on web editor as well as downloaded version)
-

[2017-08-07 07:54] rich-gg commented on #2105
I have had the thing tested on Chrome for both Mac and PC
The thing works good on PC and bad on Mac

the bug is:
 - using fill(128, alpha);
 * the alpha value turns the color to TRANSPARENT on PC
 * the alpha value turns the color to WHITE on MAC

Here is another test I made
http://rich.gg/alphaBars/

the code is ultra simple

`  function setup() {
    createCanvas(800, 600, WEBGL);
  }

  functio

[2017-08-07 09:09] DoubleJump commented on #2109
I did a little bit on texture samplers over the weekend (#2091). Not sure if it's of any use to you but it might make more sense to be included as part of a Texture object.

[2017-08-07 20:20] almchung commented on #2089
## Recurring error types
#### core/vertex.js
- [ ] `bezierVertex()`, `quadraticVertex()`: [LN315](https://github.com/processing/p5.js/blob/friendly-err-sys/src/core/vertex.js#L315) [LN574](https://github.com/processing/p5.js/blob/friendly-err-sys/src/core/vertex.js#L574) common err type - required object not initiated
#### src/utilities/string_functions.js
- [ ] Checking that a number positive for

[2017-08-08 00:54] jay-manday opened #2111 "loadModel cannot load"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [X] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (specify

[2017-08-08 04:59] kjhollen commented on #2109
@DoubleJump hey, yes, I saw your post and am sorry that I didn't get to comment sooner! I will review this more closely to see what can be pulled into the Texture object. in the mean time, I've opened a pull request for our WebGL_GSOC17 branch that has a preview of what the Texture object might look like and you're welcome to comment!

[2017-08-08 05:00] mlarghydracept commented on #2111
I cloned your repo have no errors when running this off of a [local server](https://github.com/processing/p5.js/wiki/Local-server)
(note: I passed in true as a second parameter to loadModel in order to normalize the size of your model so that it is visible)

![screen shot 2017-08-07 at 9 57 49 pm](https://user-images.githubusercontent.com/10382506/29056955-aa48682a-7bbb-11e7-8b44-970a721153c9.png)

[2017-08-08 05:00] #2111 closed

[2017-08-08 05:15] mlarghydracept commented on #2105
I am able to recreate it. You can see a leftover silhouette from prior sketches which seems to mean the buffer isn't clearing correctly.

![screen shot 2017-08-07 at 10 13 51 pm](https://user-images.githubusercontent.com/10382506/29057248-bcd3034a-7bbd-11e7-82fd-d31b3348fdc7.png)

It also seems specific to Chrome+Mac because the results are correct on Firefox+Mac

![screen shot 2017-08-07 at 10 14

[2017-08-08 06:13] rich-gg commented on #2105
great !

[2017-08-08 06:47] mlarghydracept commented on #2105
This seems to be due to a combination of z-fighting and how the different browsers blend into the background web page. You can test this by adding `style="background:black"` inside of the `<body>` tags of your index.html file.

I [made a branch](https://github.com/mlarghydracept/p5.js/tree/fix_alpha_fill_on_chrome) that adds `gl.depthFunc(gl.ALWAYS)` to calls to fill. This should fix the z-fightin

[2017-08-08 07:09] rich-gg commented on #2105
having the thing tested by my "mac friends" so I'll tell you if it fixes it fine for me
But thank you ! I'm impressed by how quickly and skillfully you handled that :O

[2017-08-08 07:42] rich-gg commented on #2105
had the   <body style="background:#f0f0f0"> trick tested on Mac and it doesn't help on Safari or Chrome
It is not a matter of life or death to me anyway, I just thought It would be helpful to report the bug :)

[2017-08-08 13:54] jay-manday commented on #2111
ahhhhh yes this did the trick! thanks Stalgia :)

[2017-08-08 15:21] edouerd commented on #2111
Thank you so much @mlarghydracept !

[2017-08-08 15:43] F4Tornado opened #2113 "problem with mouseIsPressed"
when I call the alert function, mouseIsPressed variable will say true even when it should say false until you click.

#### Nature of issue?

- [x ] Found a bug

#### Most appropriate sub-area of p5.js?

- [ x] Events

#### Which platform were you using when you encountered this?

- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.5.4 October 01, 2016
- Web browser and it

[2017-08-08 15:58] wjmoner opened #2114 "in p5.js v0.5.11 June 01, 2017, touchIsDown does not work"
#### Nature of issue?

- [ ] Found a bug

#### Most appropriate sub-area of p5.js?

- [x ] Events

#### Which platform were you using when you encountered this?

- [x ] Mobile/Tablet (touch devices)
- [x ] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.5.11
- Web browser and it's version: Chrome (both mobile & desktop)
- Operating System: Mac OSX
- Steps to reproduce this:

functi

[2017-08-08 16:04] wjmoner commented on #2114
Strangely, touch events seem to be missing in this version of p5js. touchIsDown, touchX, and touchY all throw errors.

function setup() {
  createCanvas(240, 120);
  fill(0, 102);
  noStroke();
}

function draw() {
  background(204);
  ellipse(touchX, touchY, 15, 15);
}

[2017-08-08 16:14] lmccart commented on #2114
touchIsDown, touchX and touchY have been removed, you can use the mouse versions instead they will update with touch

[2017-08-08 16:14] #2114 closed

[2017-08-08 16:56] wjmoner commented on #2114
Thank you @lmccart

[2017-08-08 20:54] mlarghydracept commented on #2105
Yeah the background color trick won't work by itself because of the z-fighting. If you build that branch that I pointed to it and use the background color trick it should work on Chrome and Safari on Mac at least in my testing. But as I said since I changed the `gl.depthFunc(gl.ALWAYS)` then this could potentially break something else in your code if your project is much more complicated than the

[2017-08-09 00:37] lmccart commented on #2113
the alert() dialog will halt the running of the sketch completely, so this may cause mouse events and variables to not get updated properly. I'm not sure we can handle this in the library since the alert() interrupts the normal library function, but you could make your own alert dialog using createElement(), show(), and hide()?

[2017-08-09 06:43] rich-gg commented on #2105
ok cool
so this stays open as actual issue to be addressed along the way ?

Thank you guys form the tremendous work you do, really, you empower people AF ;)
rich

[2017-08-09 19:42] mjvDEV commented on #2019
If anyone is working on this, the workaround solution I've been using is to do the following:

[code]

Strangely enough that seems to be all that is necessary, at least so far in terms of simply rendering and displaying content. I haven't had any problems since I did this. Resizing is still a bit odd with p5.Graphics, but that's a separate issue, with an easy enough workaround.

[2017-08-09 21:11] almchung commented on #2089
closing with #2115

[2017-08-09 21:11] #2089 closed

[2017-08-09 21:12] almchung opened #2116 "FES: replace recurring error types with FES"
Possible future project ideas for FES.
## Recurring error types

#### core/vertex.js
- [ ] `bezierVertex()`, `quadraticVertex()`: [LN315](https://github.com/processing/p5.js/blob/friendly-err-sys/src/core/vertex.js#L315) [LN574](https://github.com/processing/p5.js/blob/friendly-err-sys/src/core/vertex.js#L574) common err type - required object not initiated

#### src/utilities/string_functions.js

[2017-08-11 23:46] ajrussellaudio commented on #2110
This is all expected behaviour.

`keyIsPressed` isn't an event, it's just a boolean. Meanwhile `key` always refers to the _last_ key pressed, even when no key is currently pressed. So in your first example, `key == 'a'` would evaluate to `true` even if the outer `if` condition was `false`.

The `keyPressed` event is a little more subtle. When you type a key, three events are fired in this order: `

[2017-08-12 13:16] mrbombmusic commented on #2110
Thank you very much for the explanation. I do a lot of work with interactive sketches using key presses, so this information is very helpful.

[2017-08-12 13:16] #2110 closed

[2017-08-12 15:38] #2091 closed

[2017-08-12 18:40] Izzaki opened #2117 "p5.sound.js as module in webpack. p5sound initialization is not fully extending p5"
Hello,
Im using p5 instance against global accessing.
My angular4 app (webpack) doesn't merge p5.sound addon with p5 fully.
At some point i can use p5.sound extended functions like p5.loadSound();
but i can't use p5.FFT and many more.

Should i include p5.sound in different way?
Or is it p5.sound modularity issue?

#### Nature of issue?

- [ ] maybe found a bug
- [ ] or new feature request

#### M

[2017-08-14 06:29] disambiguator opened #2118 "unknown getColor function"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-08-14 15:22] TheMightyZeus opened #2119 "2D Renderer point() using fill instead of stroke"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Details about the bug:

The documentation for point() ([link](https://p5js.org/reference/#/p5/point)) indicates that the color is determ

[2017-08-15 00:31] lmccart commented on #2117
This issue was moved to processing/p5.js-sound#212

[2017-08-15 00:31] #2117 closed

[2017-08-15 16:48] currymike123 opened #2121 "saveTable() issue"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [x ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ x] Desktop/Laptop
- [ ] Others (spec

[2017-08-15 18:22] yatriks commented on #2118
Hey,
Looks like it was removed in this 'refactor' in July 2014: https://github.com/processing/p5.js/commit/001cda2a2ba3b219dbc585a799fb2629aa45934a#diff-fecaef9926a3d9ed7f9ac61c8e72e2f0L243

It doesn't appear that the renderer's `get()` takes [colorMode()](https://p5js.org/reference/#/p5/colorMode) into account.

At the discretion of developers, the choice can be made to remove `p5.js/src/image/pi

[2017-08-15 19:30] disambiguator commented on #2118
Cool! Just wanted to make sure y'all knew that the documentation was a little out of date (on the website as well). Both solutions make sense to me.

Cheers.

[2017-08-15 20:45] lmccart commented on #2121
this was fixed since 0.5.7. it should work with the latest, 0.5.12

[2017-08-15 20:45] #2121 closed

[2017-08-16 21:18] #2113 closed

[2017-08-17 01:56] #2119 closed

[2017-08-17 20:20] lmccart commented on #2118
@yatriks could you investigate whether there's any performance or technical issue with taking colorMode into account in get()? I'm trying to figure out why we had getColor() at one point. if there seems to be no issue or slowdown with considering colorMode in get(), that would be the preferred fix. otherwise, we can add the getColor() function back in. thanks!

[2017-08-18 04:17] kjhollen opened #2125 "Build instructions on wiki need updating?"
@outofambit and I were following the [build instructions on the wiki](https://github.com/processing/p5.js/wiki/Development) during a workshop and noticed that first time devs couldn't build the project as instructed. The first call to `grunt` in step 5) fails if the docs haven't been built before because the `docs/reference/data.json` file is missing. We worked around it with `npm run docs` and th

[2017-08-18 09:50] stoufa opened #2126 "403 Error when using p5.Vector"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [x ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x ] Desktop/Laptop
- [ ] Others (spec

[2017-08-18 10:19] limzykenneth commented on #2125
Is it possible to build the `docs/reference/data.json` if missing just so running grunt directly after npm installing will build everything? Having to run docs then run grunt seems a bit redundant to me.

[2017-08-18 10:56] stoufa commented on #2126
I figured out the problem !
I was using a processing example as a reference !
`location` is a built-in global object used to get the current page address ( URL ) and to redirect the browser to a new page, so, I can't name my variable location ;)

[2017-08-18 10:56] #2126 closed

[2017-08-18 12:30] limzykenneth commented on #2126
@stoufa This is likely a clash with some native API called `location`, probably [this one](https://developer.mozilla.org/en-US/docs/Web/API/Window/location). Simply renaming your variable `location` to something else (`position` for example) should solve the problem.

[2017-08-18 12:42] outofambit commented on #2125
@limzykenneth yep! and it looks to me like that is the intention of the gruntfile. the tasks might be out of order for `grunt` (and `grunt test`). See https://github.com/processing/p5.js/blob/5199e03530cba58ed72e0ead3b4821e4906f4d61/Gruntfile.js#L373 where `build` happens before `yuidoc:dev`.

[2017-08-18 18:32] lmccart commented on #2125
fix #2127 is perfect. this recently became necessary because we just merged the friendly error features which ingests the reference to use as the check for correct parameters in function calls. so swapping the order in the build task accommodates this and is actually useful for every build to be accurate in terms of parameter checking.

[2017-08-18 18:32] #2125 closed

[2017-08-18 18:32] lmccart commented on #2125
thanks for finding and fixing this!

[2017-08-18 19:03] commonpike opened #2128 "saveFrames() limited to 15 seconds ?"
#### saveFrames seems to behave erratically

- [x] Found a bug

I'm trying to create exact (frame-by-frame) animations from p5.js in either GIF or MP4. saveFrames() seems to be the way to go: https://p5js.org/reference/#/p5/saveFrames

saveFrames() has two timing arguments, duration (in seconds) and framerate (per second). You would expect the total of saved frames to be duration*framerate. This s

[2017-08-18 19:33] commonpike opened #2129 "Firefox support ?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

I haven't yet seen one single working sketch on processing.org on my up-to-date firefox. I copied some code from the reference and created this tester: https://www.openprocessing.org/sketch/444408
That draws a line on firefox, but it's not moving.

The browser support list doesn't clearly specify

[2017-08-18 22:39] lmccart commented on #2129
Hm, I'm not able to reproduce. When I open the link in firefox I see the line move. Can you open the console and see if there are any errors logged?
https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console

[2017-08-18 22:45] lmccart commented on #2128
I think you may be hitting the browser limits of number of file downloads that can be initiated at one time. I'd suggest using the method with a callback function that can pass off the data to download to a server that can zip all the files together for easier download, or to another process that can handle all the data.

[2017-08-19 02:11] bcbradle opened #2130 "Feature request: boolean 3d modeling"
#### Nature of issue?

- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Shape

#### New feature details:

I think it would be really cool if p5.js had three additional functions to create new 3D primitives:

difference(a, b) would subtract volume b from volume a, for instance cutting a rectangular hole in a cylinder.

union(a, b) would return the union of the volumes-- fo

[2017-08-19 16:16] commonpike commented on #2129
Yes, did that, no errors. I'm vaguely suspecting something with ff/macbook and webgl. it seems webgl is somehow disabled on chrome on this machine too (allthough everything works fine there until I specify WEBGL in createCanvas(), which fails - with console errors).

So perhaps something with the videocard. It's a very common macbook though; It would be good to see if other people have this.

[2017-08-19 16:40] commonpike commented on #2128
I did that. Check the link again, saveFrames() now has a callback that dumps the data in your console. The sketch has a duration of 32 and framerate of 2, so you would expect 64 frames, but the callback parameter only saves 30 (=2*15) frames.

Try and fiddle with the duration and framerate: with any duration above 15 seconds the number of frames is only dependant on the framerate.

Or put differen

[2017-08-19 17:01] commonpike commented on #2128
Which all makes sense if I read, in
https://github.com/processing/p5.js/blob/master/src/image/image.js
[code]
So ... the code is silently limiting the operands, and that's not in the documentation either.

But trying to render at a high framerate fails more easily, so for exporting i am tempted to lower the framerate to 1 or 2 per second; nice and easy. And anyway, with both limits in place, one c

[2017-08-19 20:33] kjhollen commented on #2129
I've got a 2015 MacBook Pro and am able to see the example animating in Firefox.
OS Version: macOS Sierra 10.12.4

Are you able to see the line move before specifying WEBGL? I also see an error in the console when switching to WEBGL mode, in both Firefox and Chrome: `this._renderer.line` is not a function and `errorObj` is null—but as given in the link (in 2D/canvas mode), everything is working as

[2017-08-20 15:58] limzykenneth commented on #2128
Quite awhile a go I came across this constrain as well but didn't figure out why exactly they are there. A possible theory is to prevent crashing the browser with download requests (or maybe even the OS if severe enough). Why the exact number I'm not sure and whether can they be higher, I'm not sure as well. Different computers and different browsers may give up separately and as I remember saving

[2017-08-20 17:12] outofambit commented on #1954
hi! what is the proposed workflow for testing and adding examples? should i write them in a separate context and then copy paste into the inline comments?

i'm trying to build and view the documentation locally (by following https://github.com/processing/p5.js/wiki/Inline-documentation#adding-example-code) to verify that my example works, but am having no luck. (getting this:
![local reference run

[2017-08-20 22:33] lmccart commented on #1954
@outofambit sorry that was out of date. running `grunt yui` should now generate docs that can be viewed at localhost/docs/reference, and are also ready to be copied to p5js.org. the fonts may not link correctly if viewing locally due to cross-origin permissions, but the examples should render.

[2017-08-20 22:50] outofambit commented on #1954
@lmccart thanks i'll give that a try!

[2017-08-20 23:20] RoseCrime opened #2132 "clarify remove() documentation (note that it doesn't remove variables, functions, intervals) and add an example indicating what is removed"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify

[2017-08-20 23:20] unbenjami opened #2133 "createGraphic scale on canvas issue"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ X] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ X] Desktop/Laptop
- [ ] Others (spec

[2017-08-21 08:51] commonpike commented on #2128
@limzykenneth perhaps you're right. at a second thought, I would change the feature request to just put the limits in the documentation, and perhaps add a line it's an 'easy but not perfect way' to export.

Because .. I managed to export a frameperfect movie yesterday, by overwriting the source code, but there were more issues than just the limits

 - all images are downloaded at once. depending o

[2017-08-21 09:12] limzykenneth commented on #2128
I agree in general. The most important thing in this case I think is to figure out and make clear in the documentation, the use case for this function. Because this function (or even javascript in general) isn't designed to handle constant frame exports and saving to disk like this. It is nice to export a short 10-15 second 12fps animation but for longer ones, using something like Processing may a

[2017-08-21 09:34] limzykenneth commented on #2132
The reference may not be clear enough but what it means by

is not removing global variables created by your code but rather global variables created by p5 global mode, ie `setup`, `draw`, `PI`, `TWO_PI`, etc.

It won't stop or erase any intervals because that isn't what `remove` does as well. You will have to take care of cleaning up intervals in your code. The main reason that `remove` doesn't c

[2017-08-21 09:45] limzykenneth commented on #2133
@unbenjami I'm guessing you are on a high density display? (Retina display or similar) I'm seeing your problem on a high density display and it works as intended on a regular display. On high density display the graphics created with `createGraphics` will actually have extra pixels in them. Have a look at [this entry](https://p5js.org/reference/#/p5/pixelDensity) in the docs. You can look for or a

[2017-08-21 10:00] unbenjami commented on #2133
thanks for your answer!

yes, i'm on a retina display, right now
And yes, it's a bit frustating, because i have the idea the picture (graphic) it's been cut

So, do you think is there any way to create a graphic bigger than the canvas (so i can save it in its entirely size) and to show it on canvas? I guess changing the pixel densitiy is not an option, isn't it?

Thanks again!

[2017-08-21 10:06] limzykenneth commented on #2133
You can do `pg.pixelDensity(1)` but it may seemed blurry on a retina screen, otherwise, you just have to mentally remember that your graphic is actually `(1000 x density) x (1000 x density)` in size instead of `1000 x 1000`. Which means that to draw it on a retina screen, you need to do something like the following:

[code]

[2017-08-21 11:15] unbenjami commented on #2133
Hello, again

I see what you say, but maybe I can't absolutely understand.

I mean. Imagine that I want to create a Graphic (1000x1000, for example). And I want to draw a line in it, for example, at position y=900.

When shall I convert the position adding the density?

var pg;

function setup() {
  createCanvas(400, 400);
  pg = createGraphics(1000, 1000); // a graphic bigger than the canvas
}

f

[2017-08-21 13:59] yatriks commented on #2118
@lmccart 👍 I'll get back to you.

[2017-08-21 15:37] limzykenneth commented on #2133
In that case you will need to scale your line and its coordinates by the pixel density as well, so:

[code]

Note I've made a mistake previously by multiplying the pixel density whereas you should divide by the pixel density, do take note of that.

[2017-08-21 16:26] unbenjami commented on #2133
Sorry, but there's something that it does not work or maybe I do not understand.

var pg;

function setup() {
  createCanvas(400, 400);
  pg = createGraphics(1000, 1000); // I create a graphic bigger that canvas
}

function draw() {
  background(100,0,0);
  pg.pixelDensity(1);
  pg.background(0);
  pg.stroke(255);
  pg.strokeWeight(1);
  var d = pg.pixelDensity();
  pg.line(10/d, 900/d, 100/d, 900

[2017-08-21 18:26] quinox opened #2135 "angleBetween can return NaN when 0 was expected"
#### Nature of issue?

- [X] Found a bug

#### Most appropriate sub-area of p5.js?

- [X] Math

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: 0.5.12
- Web browser and it's version: Chrome 60.0.3112.101 (64-bit)
- Operating System: OSX Sierra
- Steps to reproduce this:
[code]
* Demo URL: https://ghost.qtea.nl/tmp/p

[2017-08-21 20:00] RoseCrime commented on #2132
Alright,thanks for clearing that up :)
Hope reference will be more clearly at this point some day too.
(Even now I can't imagine what exactly it can remove except Canvas and stopping loop
My experiments with little game shows - everything' still exists except canvas ,just paused.
Everything from shapes to whole setup() and draw() functions...
But guess cause it stores in arrays or variables...exce

[2017-08-22 05:10] limzykenneth commented on #2135
I had a look into this but did not dig down into the math but if simply constraining the value passed to `Math.acos` will not result in any false positive or false negative cases then it should be fine.

[2017-08-23 12:20] quinox commented on #2135
I'll spend some time this weekend on making a PR with testcases.

[2017-08-24 18:30] pjnovas opened #2136 "Examples on website are not working"
Hey examples on the website are not working ie https://p5js.org/examples/form-points-and-lines.html
[code]

And I think the problem comes from https://p5js.org/assets/js/p5.min.js which returns nothing with a 200 response

[2017-08-24 18:49] lmccart commented on #2136
dreamhost (our website hosting provider) is currently under ddos attack, so the webpage is not loading all or parts of the contents that should be online. there's not much we can do on our end, but hopefully things will be back up soon https://www.dreamhoststatus.com/

[2017-08-24 18:52] pjnovas commented on #2136
uh oh, sorry to hear that
I'm closing this one then and lets :crossed_fingers:
Thanks!

[2017-08-24 18:52] #2136 closed

[2017-08-24 19:19] lmccart commented on #2132
thanks @RoseCrime for reporting this, it helps us to understand where the documentation is unclear or lacking. I'm going to update the issue title to turn this into a todo to add clearer documentation and a good example of remove.

[2017-08-26 04:04] aferraiolo opened #2140 "wordpress plugin for p5js?"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ ] Desktop/Laptop
- [ ] Others (specif

[2017-08-26 07:05] limzykenneth commented on #2140
There was a plugin quite awhile ago that helps with embedding p5.js sketch in wordpress, if you can hunt it down it may still work but no guarantees.

[2017-08-26 14:09] lmccart commented on #2140
here's a plugin that is quite out of date: https://github.com/lmccart/p5.js-wp-embedder
I had to abandon it because I just didn't have the bandwidth to maintain it, but this code could be a starting point if you'd like to create your own

[2017-08-27 08:50] sakshamsaxena commented on #707
(Re)Activating this discussion.

I have been involved lately with writing a dedicated and detailed Grunt Task which handles the release process end to end. It covers Testing, Version Bump, Building Library and Docs, Creating a new Commit and Tag with the bumped package.json, Pushing these changes to GitHub (to this p5.js repo), Release the library files only on NPM, Bower (by updating the release

[2017-08-27 23:06] #2135 closed

[2017-08-28 00:04] lmccart commented on #707
@sakshamsaxena discussed a bit offline and feel that the best option for now is to rely on manual editing of the changelog. this also provides a nice check in point so that when a new release is made, we have a good sense of what's actually in it.

we both agreed the use of milestones and release planning would be very beneficial and is a goal to should target as a next step after the work on the

[2017-08-28 00:40] aferraiolo commented on #2140
Thanks, Lauren & Kenneth, haven't been able to get these to work, so if I'm
able to put something together I'll write it up. Lauren, thanks for the
Getting Started book, it's terrific.  Angela

On Sat, Aug 26, 2017 at 10:09 AM, Lauren McCarthy <notifications@github.com>
wrote:

--

[2017-08-29 00:10] lmccart commented on #707
@sakshamsaxena is this one good to close?

[2017-08-29 04:34] sakshamsaxena commented on #707
Yep, closing this now. We can discuss milestones over a general discussion in another thread whenever we're ready for it :-)

[2017-08-29 04:34] #707 closed

[2017-08-29 07:10] kjhollen commented on #1622
I think this one will be handled with #2139!

[2017-08-29 07:16] kjhollen commented on #1716
@chrsmlls333 thank you! is there a non-minified version of the code that you could share with us?

the speed for immediate mode has been improved a lot this summer! in Firefox it's about half as fast as it is in Chrome, but it should still be workable. I am hopeful this will be resolved when we merge the Web GL work from google summer of code.

[2017-08-29 18:11] kylemcdonald opened #2146 "getUserMedia() on iOS 11 Safari"
Good news! getUserMedia() is a new feature on iOS 11 Safari, which means that some time next month you can start using the webcam and microphone input on iOS.

But it looks like right now there is a bug with the way p5.js wraps getUserMedia().

A friend of mine who is running iOS 11 Safari tried three examples. First, this page:

https://webrtc.github.io/samples/src/content/getusermedia/gum/

Whic

[2017-08-29 19:11] lmccart commented on #2146
@kylemcdonald oh now you're logging issues you don't even have yet huh

[2017-08-29 19:16] bwhitman commented on #2146
^ Try the patch above, works for me!

[2017-08-29 19:25] lmccart commented on #2146
fixed with https://github.com/processing/p5.js/pull/2147

[2017-08-29 19:25] #2146 closed

[2017-08-30 00:35] lmccart commented on #1517
closed with https://github.com/processing/p5.js/pull/2143

[2017-08-30 00:35] #1517 closed

[2017-09-01 07:12] GeneralBender opened #2148 "Problems with color function"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ x] Color
- [ ] Core
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [ x] Desktop/Laptop
- [ ] Others (spec

[2017-09-01 09:39] limzykenneth commented on #2148
Hi @GeneralBender! I would advice you start [here](https://p5js.org/get-started/), follow the steps outlined on that page and you should have a properly set up project and hopefully some basic understanding of how to move forward. Then you should be able to follow Coding Train with no problem.

In future, if you have any programming related questions, feel free to ask them on the [forum](https://f

[2017-09-01 09:39] #2148 closed

[2017-09-01 09:42] #2140 closed

[2017-09-01 09:47] limzykenneth commented on #2133
@unbenjami Sorry I'm a bit tied up for the past week and wasn't able to look at this issue. On second thought, I think this issue may be better for the [forum](https://forum.processing.org/two/), you can start by searching for posts related to p5.Graphics on the forum as this is quite a common issue and perhaps you will find  a good explanation for your problem. Otherwise asking on the forum may a

[2017-09-01 16:23] unbenjami commented on #2133
Hello,
Yes, i'll look for it again in the forum or i'll ask  there if anyone has asked it before.
Thank you very much!
Cheers

[2017-09-01 16:52] outofambit commented on #2010
@lmccart do you mind if i take a crack at this? 😸

[2017-09-01 17:00] lmccart commented on #2010
yeah go for it! I ran into a block because there's one level of wrapping around the function that makes it a little less straightforward than just calling unbind. but I don't think it's a showstopper. I'll try to dig up the lines I was looking at.

[2017-09-01 17:00] outofambit commented on #2010
@lmccart that would be great, thank you!

[2017-09-01 17:07] lmccart commented on #2010
@outofambit here's where the binding happens. normally you could just call window.removeEventListener() with the function that you originally attached, but since we are wrapping it on this line, the pointer seems to be lost, making the removeEventListener call ineffective.

[2017-09-01 18:05] outofambit commented on #1881
this seems to reliably come from `grunt mocha:yui`, in the first example for `loadJSON`. my guess is that its because this example loads JSON from an external web resource (the USGS Earthquake API) and the request fails for some external reason. (i'm able to reproduce the failure by turning my laptop's wi-fi off.)

[2017-09-01 19:23] kadamwhite commented on #1881
Not sure how applicable they are here but we could consider using a library like VCR or Replay to save a snapshot of that response locally, to allow the tests to pass offline

[2017-09-01 23:28] outofambit commented on #1881
i'm looking at https://github.com/seglo/grunt-connect-prism. seems like it wouldn't be too hard to integrate into our infrastructure

[2017-09-02 01:18] thinsoldier opened #2149 "createGraphics sizing problem"
#### Nature of issue?
- [x] Found a bug

#### Most appropriate sub-area of p5.js?
- [x] Image

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:
https://codepen.io/thinsoldier/pen/oemPqZ?editors=0010
In an image created by using a 100 wide createGraphics object, drawing a 50 wide rectangle within that creates a 100 wide rectangle instea

[2017-09-02 17:04] joeyklee opened #2150 "loadImage() for SVG fails in Firefox"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Events
- [X] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [X] Desktop/Laptop
- [ ] Others (specify

[2017-09-03 08:11] limzykenneth commented on #2150
Have a look at this stackoverflow question [here](https://stackoverflow.com/questions/28690643/firefox-svg-canvas-drawimage-error). Basically it's a bug in Firefox that cause it to not draw SVG images onto canvas if the SVG themselves does not have a non-percentage width and height attribute. Simply adding on the width and height attribute onto the root <svg> tag will solve this.

[2017-09-03 18:20] joeyklee commented on #2150
Hi @limzykenneth - thanks so much for this link and explanation! I will close this up now.

[2017-09-03 18:20] #2150 closed

[2017-09-05 00:46] bradocchs opened #2154 "loadJSON always returns Object, never an Array"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-05 00:51] bradocchs commented on #2154
The code comments say **ret** is needed for preload. Can a check be done before it returns to determine if an Array needs returned instead?

[2017-09-05 07:31] Choirmaestro opened #2155 "P5.js not launching"
#### Nature of issue?

- On attempt of loading the file, I am greeted with an error message that states:

Script: C:\Users\...\p5\p5.js
Line: 45965
Char: 1
Error: Expected identifier, string or number.
Code: 800A404
Source: Microsoft JScript compilation error.

#### Which platform were you using when you encountered this?

- [x] Desktop/Laptop: custom-built PC that has run p5.js in the past.

####

[2017-09-05 07:43] sakshamsaxena commented on #2155
There seems to be an extra comma before the final }. Try removing it locally and hitting it up again? Will look into the source meanwhile

[2017-09-05 07:46] Choirmaestro commented on #2155
I cleared out the comma and saved it, ran it, and it produced a similar error on line 46473, char 22, "expected identifier" which char 22 is a "c" in the code
`p5.Element.prototype.class = function(c) {
  if (arguments.length === 0) {
    return this.elt.className;
  } else {
    this.elt.className = c;
    return this;
  }
};`

[2017-09-05 07:55] sakshamsaxena commented on #2155
Can you explain how are you using this script file though? And how do you aim to? I think Microsoft JScript compilation happened when you double click the file itself in explorer. Is that what you did? I'm not sure if we're prepared for such scenarios, yet

[2017-09-05 07:58] limzykenneth commented on #2154
I had a look at this but cannot come up with a solution. Checks cannot be done when first defining `ret` to know if an array or an object will be returned because technically, the data has not been requested yet so there's no way of knowing what comes back.

The part I don't understand is why delaying the initalization of `ret` to within the callback will end up with `ret` not being populated...

[2017-09-05 08:00] Choirmaestro commented on #2155
I opened the p5.js file in the window explorer by double-clicking on it, right-clicking and clicking "open."
is there another way to open it? in the past there was a shortcut to an .exe file that was on my desktop, however I see no option to now...
I found this program from [https://www.youtube.com/watch?v=8j0UDiN7my4&t=360s](url)
(can't remember his name)
I downloaded the p5.js complete package f

[2017-09-05 08:05] #2133 closed

[2017-09-05 08:07] limzykenneth commented on #2149
Probably related to #2133. I would suggest visiting the [forum](https://forum.processing.org) for help at this point.

I'm thinking of trying to modify p5.Graphics so it can be a bit more intuitive even on high density display, what do you think @lmccart? Just this kind of problem keeps popping up.

[2017-09-05 08:10] sakshamsaxena commented on #2155
Oh I see. Well the idea is to open it up with p5.js editor apparently. Then the double click might still work like you expected.

Meanwhile you can go ahead and use the forum for such doubts, or ask @shiffman himself! Good luck!

[2017-09-05 08:13] Choirmaestro commented on #2155
Ah, I see! I did not realize the p5.js and the p5 editor were two different things.. haha...
I suppose that would go under the subject of me learning then.

Thanks a ton for your help!

[2017-09-05 08:13] #2155 closed

[2017-09-05 13:51] lmccart commented on #2154
JS allows you to modify an object but reassigning or replacing it completely breaks the pointer. So yes, I also do not have a good idea of a solution here. :\

[2017-09-05 15:21] limzykenneth commented on #2154
I guess that's the price we pay for trying to make asynchronous javascript synchronous... ☹️

[2017-09-05 15:51] bradocchs commented on #2154
I love JS, but sometimes it can be a pain. ;)

If there's not a current fix, can the p5js.org reference page be updated with a note about using the callback for array data?

Thanks for looking into this!

[2017-09-05 19:09] thinsoldier commented on #2149
It would be a giant help if the documentation was simply updated to mention this quirk. If you're not already 100% certain that this behaviour needs to be changed then just accept that its the way things are and will always be and *mention it in the documentation*.

[2017-09-05 19:27] aparrish opened #2156 ""default" fill color used to be white, is now black (0.5.14)"
The following code produces two solid `rgb(0, 0, 0)` shapes (note that I have not called `fill()` before drawing the shape):

[code]

Previously I *believe* that identical code would have produced `rgb(255, 255, 255)` shapes (with a `rgb(0, 0, 0)` stroke), and checking with an older version of the library loaded confirms this. You can see the difference in behavior between [the current tutorial pa

[2017-09-06 03:08] #2156 closed

[2017-09-06 03:10] lmccart commented on #2156
good catch. this had to do with new fill and stroke caching we had implemented. because createCanvas is called once by default, then again if you manually call it, it was registering the fill and stroke as already set when it actually wasn't on the recently created canvas. that's why you were seeing different behavior depending on whether you call createCanvas() or not. it should be fixed now and

[2017-09-06 22:01] outofambit commented on #2010
@lmccart it doesn't look like the filenames / line numbers came through with your last comment 😢 could you send them again, please? thank you!

[2017-09-06 22:24] lmccart commented on #2010
oops sorry! https://github.com/processing/p5.js/blob/master/src/core/core.js#L521

[2017-09-07 15:31] Thzn opened #2157 "Enhancing Image Library"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

P5.Image has the basic functionality of image arithmetics. So

[2017-09-07 18:01] aparrish commented on #2156
great, thank you for the update and the fix. <3

[2017-09-08 01:54] DerEddie commented on #1984
same here! feels like p5 is just a buggy useless library which just wastes ur time....

[2017-09-08 13:50] dinooz opened #2158 "I wonder if would be possible to have Processing interacting with Text Data to build Forms."
I wonder if would be possible to have Processing interacting with Text Data to build Forms.

Also, based on that concept, wonder if the construction of a cool framework like rails or yeoman to build Forms on the Fly, taking the approach of K2 Form will be really awesome.

A SQL/noSQL Data source with some schema.
A constructor for each table /method [ CRUD Methods ]
A contructor for relationships

[2017-09-09 21:12] ErikDuemig opened #2159 "Passing a variable to textSize() gives an uncaught TypeError"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devi

[2017-09-09 21:13] lmccart commented on #2159
in javascript, variables and functions all share one namespace... meaning assigning a value to textSize will overwrite the existing textSize() function. try changing the name of your variable to something else and it should work.

[2017-09-09 21:16] ErikDuemig commented on #2159
Oh duh. Boy I'm dumb.

Thanks!

-E

On Sat, Sep 9, 2017 at 16:14 Lauren McCarthy <notifications@github.com>
wrote:

[2017-09-09 21:21] #2159 closed

[2017-09-10 05:35] greenfIame opened #2160 "Update documentation for image() to clarify what arguments mean"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [x] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch device

[2017-09-10 17:40] drcrotato opened #2161 "camera rotation"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x ] WebGL
- [ ] Other (specify if possible)

#### New feature details:

I would like something that can change the direction the camera is

[2017-09-10 22:47] Worseize opened #2162 "var position = new p5.Vector(width,height); // Bug detected (width and height does not work here)"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] new p5.Vector( width, height ); // width and height does not work here

#### Which platform were you using when you encountered this?
- [x] Desktop/Laptop

#### Details about the bug:

- p5.js version: 3.3.6
- Web browser and version: 60.0.3112.113
- Operating System: Windows 10
- Steps to reproduce this:
new

[2017-09-11 14:06] lmccart commented on #2162
In your code, you're assigning position = new p5.Vector(width, height) outside of draw. Even though the code is after the setup function on the page, it gets evaluated first because first all global (outside of setup or draw or a function) code gets evaluated, then setup gets run. So at the point the p5.Vector is created, width and height are still 0. The width and height don't get set until the c

[2017-09-11 14:06] #2162 closed

[2017-09-11 15:43] austince commented on #1954
@Thzn are you still working on the HTTP methods?

In the meantime, I'd like to contribute the Element/elt, Element/class, and Element/removeClass!

[2017-09-11 17:54] Thzn commented on #1954
@austince
No, I'm not working on them right now. I had a problem with the docker. So I posted about it on the page (https://github.com/toolness/p5.js-docker/issues/13) . I think he is working on it. You can implement them as well.....

[2017-09-12 00:15] mlarghydracept commented on #1703
fixed with #2145

[2017-09-12 00:15] #1703 closed

[2017-09-12 00:16] mlarghydracept commented on #1680
implemented with #2145

[2017-09-12 00:16] #1680 closed

[2017-09-12 00:17] mlarghydracept commented on #1696
fixed with #2139

[2017-09-12 00:17] #1696 closed

[2017-09-13 13:49] sakshamsaxena commented on #522
@kadamwhite I can pursue this on similar lines to 43274cb as above. I think it does look spelendid. We'll have a very clean and organised prototype of p5 :+1:

[2017-09-14 00:33] lmccart commented on #522
I think we can close this one now and continue work on the interface over on this issue thread: https://github.com/processing/p5.js-website/issues/138

[2017-09-14 03:03] sakshamsaxena commented on #522
I thought we'd close #94 for this (?). This was more about the source rather than the build, I think (?)

[2017-09-14 18:47] usachatnow commented on #2146
I have the latest version of ios 11 on my iphone which was release tuesday. I believe its the final version. Getusermedia is not working. I get a message that asked to request access to my cam but the video never comes up. Does anyone know if iOS 11 is going to support getusermedia? because as of now its not working.

[2017-09-14 18:56] bwhitman commented on #2146
@usachatnow can you give more details on how you are testing, with a test url?

[2017-09-14 19:33] kaganjd commented on #2160
@mathuramg and I are taking this so we can use it next Thurs in a 'How to contribute to p5' workshop at ITP.

[2017-09-14 19:50] lmccart commented on #2146
the patch from #2147 is not in the latest release yet (new one should be out in the next few days), are you testing with the most recent release or with the src from this repo?

[2017-09-14 20:36] usachatnow commented on #2146
i am testing it using the getusermedia demo, also i have getusermedia technology in my website that doesnt work with iphones. I have been testing since beta 1 and getusermedia asks for cam and audio permission but fails to work. I also used the links on this page and they fail with the iOS 11 release that was released this past tuesday

[2017-09-14 20:39] usachatnow commented on #2146
all the releases started with beta 1 through 10 the release that came out tuesday was not called beta, It was called iOS 11 making be believe the final version was released to beta testers first

[2017-09-14 21:08] lmccart commented on #2146
sorry, I'm talking about the version of the p5.js library. the current release or version is 0.5.14. it does not include support for getusermedia on ios yet. the next one will.

[2017-09-14 23:14] lmccart commented on #522
@sakshamsaxena oops you're right, I got the issues confused :) I think we leave the other one open until the website part is ready though

[2017-09-15 15:51] austince commented on #2160
@kaganjd is that workshop open to the public by any chance?

[2017-09-15 23:18] meiamsome opened #2167 "Bad lerp behaviour with string numbers"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 0.5.14
- Steps to reproduce this:

Lerp behaves ve

[2017-09-15 23:28] lmccart commented on #2167
lerp is designed to take numbers rather than strings. perhaps this is a case for the friendly error system to help check this, but I worry about going down the rabbit hole of trying to make every function support any type of parameter.

[2017-09-16 16:26] meiamsome opened #2169 "TravisCI has not been running for ~4 Months"
Is this intentional?

There are 7 failing tests at the current commit (fd750bf), that were introduced in fcd82ab - a fix for #2156  by my estimates.

I will pull request fixes for these in a bit, but the TravisCI not running

[2017-09-16 16:55] outofambit commented on #2010
got a branch with proof of concept going at https://github.com/outofambit/p5.js/tree/detach-events

[2017-09-16 19:24] meiamsome opened #2171 "Chainable methods show incorrect return type in documentation"
For example, see https://p5js.org/reference/#/p5/beginShape

The documentation is marked up as `@chainable`, but the docs show it as returning a new object.

[2017-09-17 03:11] limzykenneth commented on #2010
@outofambit So far it looks good I think. Not sure how hard it is to implement `myElement.mousePressed(doStuff, false);` though?

You probably can go ahead and file a PR while I'll try to find a bit of time to test out the code myself.

[2017-09-17 13:31] Dexpace opened #2173 "TypeError: fxn is undefined"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:
Trying to use a

[2017-09-17 13:48] #2173 closed

[2017-09-17 14:43] lmccart commented on #2169
no definitely not intentional, will look into it..

[2017-09-17 14:49] lmccart commented on #2010
looks great so far

@limzykenneth yeah I think it would make sense to support both:
[code]

this  made me realize that our current attachListener() function could support adding more than one listener function, except for [this line](https://github.com/processing/p5.js/compare/master...outofambit:detach-events#diff-555eb4e69dbfa8a3fb8f026bfb86a39bL978) where it only stores a pointer to the most re

[2017-09-17 15:12] feedzh commented on #2010
Hi,

Sorry to give my 5 cents in this matter. I think multiple events will be too complicated when you have also event propagation in mind. These multiple events should be solved on the project side. Also since JS is asynchronous you might get into situations, where events order in the array is always different. It can also make firing order even more confusing.

On the project side programmers ca

[2017-09-17 15:27] lmccart commented on #2010
@feedzh no need to apologize :) I think you make a good point. i'm generally in favor of keeping things simpler. @limzykenneth what do you think? do you still feel there's a need for the more fine grained second signature?

[2017-09-17 15:34] limzykenneth commented on #2010
Yeah I think it is fine to not include this functionality explicitly, I just thought since the code base already kinda have support for attaching multiple listeners to the same event might as well be able to remove them individually. The need to attach multiple listeners to one object probably won't be a very popular feature (I've only done it once only to simplify code logic), leaving it simpler

[2017-09-17 16:32] outofambit commented on #2010
I think we should provide an interface to attach and remove multiple listeners OR limit it to one event handler per p5js event. (We could detach the last listener when a new one is provided.) Our current state is kind of in between, like @lmccart and @limzykenneth point out.

I think i'm leaning towards the limiting it to one event handler per p5js event type because that's more similar to the jav

[2017-09-17 16:32] meiamsome commented on #1990
If you aren't too adverse to ES6 it might be worth looking at the [for...of operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of).

Examples:
[code]
Or perhaps something like:
[code]

Not very pretty way to get the number though. Perhaps a good candidate for p5js would be to introduce a range function similar to [pythons](https://docs.python.org/3.6/libra

[2017-09-17 16:57] Thzn commented on #2157
Hi,
Can you give me some feedback about my feature request. Is it useful or not. Also is there any features in the development checklist. The link is not working. Can you please give me some guide.
Thank you.

[2017-09-17 19:17] meiamsome opened #2174 "PhantomJS is now no longer maintained"
For information, see https://github.com/ariya/phantomjs/issues/15105

This is just an issue to note that testing should probably be moved over to headless chrome (Probably puppeteer: https://github.com/GoogleChrome/puppeteer ) when the ecosystem is a bit better (I can't see a way to integrate it in the grunt file easily yet)

[2017-09-18 05:33] limzykenneth commented on #2157
While I'm not sure whether specialized functionality like these fit in with p5.js core library, I do believe they do make for a great idea for an addon library focused around image processing, filters and image manipulations.

[2017-09-18 17:22] sakshamsaxena commented on #782
Closing this. Reopen if it's still something which was left off(looks unlikely?)

[2017-09-18 17:22] #782 closed

[2017-09-18 17:49] sakshamsaxena commented on #666
@almchung Ya think this is addressed already? Or needs some attention ? :sweat_smile:

[2017-09-18 18:15] sakshamsaxena commented on #2169
is #1881 related?

[2017-09-18 18:16] kaganjd commented on #2160
@austince yeah, if you're in NYC, you should come by! details:

9/21, 6-7:30pm (ish)
721 Broadway, 4th floor, Meeting Room
my email is jen.kagan@nyu.edu if you have trouble getting into the building.

if you're not in NYC, we'll publish the notes here: https://github.com/MathuraMG/p5-contr-workshop

[2017-09-18 20:29] lmccart commented on #2010
ok sounds like there's consensus around limiting to one listener per event. makes sense to me. if people really want more than can still use vanilla js, or another library.

[2017-09-18 20:30] outofambit commented on #2010
ok i will add that to my branch and submit a PR soon!

[2017-09-18 20:30] lmccart commented on #2157
+1
I think this is beyond the scope currently, but could make a great addon. more info on how to that [here](https://github.com/processing/p5.js/wiki/Libraries#creating-a-new-library)

[2017-09-18 22:28] meiamsome commented on #2167
That does sound sensible.

I wonder if there is a way to make the FES automatically apply itself to every publicly documented method. That seems like it would be simpler than relying on it being added to some by choice.

[2017-09-19 01:28] #2167 closed

[2017-09-19 05:26] juniorxsound commented on #2129
Hi @commonpike the browsers might have flagged your graphics card as not suitable for WebGL. Luckily if it is that, it's pretty easy to override.

Try this: https://superuser.com/questions/836832/how-can-i-enable-webgl-in-my-browser

[2017-09-19 13:05] meiamsome opened #2178 "Is resizeCanvas's third parameter optional?"
The documentation suggests it is not, but the example suggests it is.

[2017-09-19 14:03] lmccart commented on #2178
yes it is, there should be brackets around this third argument

[2017-09-19 14:08] meiamsome commented on #2178
Okay, I'll PR for this and a few miscellaneous bugs I've found in a second.

[2017-09-19 15:39] Thzn commented on #2157
@lmccart
Ok, I will implement it as an addon.
Thank you.

[2017-09-19 16:13] almchung commented on #666
@sakshamsaxena thank for mentioning this! I will take a look at this.

[2017-09-19 16:14] #2157 closed

[2017-09-19 22:36] austince commented on #2160
@kaganjd I am! I'll try to come by, thanks for the deets 🥇

[2017-09-19 22:37] meiamsome commented on #1881
If this is just an intermittent network issue we could add `retries(5)` to the test so it can try again?

[2017-09-20 07:00] kjhollen commented on #2109
Implemented in #2166!

[2017-09-20 07:00] #2109 closed

[2017-09-20 07:01] kjhollen commented on #1716
fixed with #2166.

[2017-09-20 07:01] #1716 closed

[2017-09-20 07:13] kjhollen commented on #1424
added in #2166!

[2017-09-20 07:13] #1424 closed

[2017-09-20 07:42] kjhollen commented on #1561
Is this a duplicate of #1424? Note that in the examples given, you'd need to add u, v coordinates to each vertex call to make this work; none of these examples will work as-is.

I'm going to mark this as fixed because we've now added support for u,v texturing with vertex()! If I'm misunderstanding something here and this should be reopened, let me know.

[2017-09-20 07:42] #1561 closed

[2017-09-20 18:07] bugan opened #2180 "Missing delta time for constant velocity"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-20 19:43] kjhollen commented on #1622
Just an update to say that this wasn't fixed with the coordinate system like I'd hoped. I'll take a closer look at the lighting shader to try and see what's up.

[2017-09-20 19:44] kjhollen commented on #1897
merged the google summer of code webgl work :)

[2017-09-20 19:44] #1897 closed

[2017-09-20 19:49] kjhollen commented on #1194
We implemented the 9-argument version of camera() to match the Processing implementation as part of the google summer of code work on WebGL. I am going to close this issue for now as I think the minimum solution has been implemented. We can leave #2161 open as a placeholder for possible future work with rotation and lookAt—I think these are both good suggestions!

[2017-09-20 19:49] #1194 closed

[2017-09-20 23:43] kjhollen opened #2181 "Implement arc() for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

arc() only works in 2D mode currently, but it would be great

[2017-09-20 23:49] kjhollen opened #2182 "Implement image() for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

image() only works in 2D mode currently, but it would be grea

[2017-09-20 23:51] kjhollen opened #2183 "Implement text() for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

text() only works in 2D mode currently. there is a lot we can

[2017-09-20 23:54] kjhollen opened #2184 "Implement point() for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

point() only works in 2D mode currently, but it would be grea

[2017-09-20 23:57] kjhollen opened #2185 "Implement bezierVertex for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

bezierVertex() only works in 2D mode currently, but it would

[2017-09-20 23:58] kjhollen opened #2186 "Implement curveVertex() for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

curveVertex() only works in 2D mode currently, but it would b

[2017-09-20 23:59] kjhollen opened #2187 "Implement quadraticVertex for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

curveVertex() only works in 2D mode currently, but it would b

[2017-09-21 00:10] kjhollen opened #2188 "textureMode() or similar for pixel-based texture coordinates"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Processing has a [textureMode](https://processing.org/referen

[2017-09-21 00:14] kjhollen opened #2189 "textureWrap() or similar for webgl mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Feature enhancement details:

Processing has a [textureWrap](https://processing.org/referen

[2017-09-21 00:44] kjhollen opened #2190 "repeated calls to fill() slow in webgl mode"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [x] Friendly Error System?

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
-

[2017-09-21 01:16] meiamsome commented on #2190
This is really interesting, actually, because this performs better (about a 30% performance bump on my computer) after having the #2177 PR applied to it.

The main reason for the slowness is that the `validateParameters` function currently has to perform a lookup on the entire documentation array (O(n)) rather than having a reference to the correct documentation as is possible when FES is injected

[2017-09-21 01:51] almchung commented on #2190
@kjhollen hey Kate, this is probably due to FES's (slow) lookup function as Oliver mentioned above. Clearer diagnosis can be derived via running the code with p5.js.min instead of p5.js (FES disabled).

[2017-09-21 12:44] marcusparsons opened #2191 "Revise map functionality"
#### Nature of issue?

- [ ] Found a bug
- [x ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devi

[2017-09-21 14:29] meiamsome commented on #2191
The suggested boolean feature looks like a nice combination of map and constrain and I think it could be useful.

`start2` does not cancel like you suggest because the multiplication takes place first. All of your examples work because your `start2` is zero.

[2017-09-21 14:36] marcusparsons commented on #2191
Ah, thank you for that correction! I will edit this and remove that "simplification".

[2017-09-21 15:35] meiamsome commented on #2191
Looks good to me! I would probably prefer an implementation like the following so that we reduce code duplication (And tertiary operators!):

[code]

[2017-09-21 15:37] marcusparsons commented on #2191
Ah, I'm still pretty much a newbie to p5.js.  I've been programming with JavaScript for years, but I recently got addicted to Dan Shiffman's "The Coding Train" on Youtube.  Anyways, I love it, and I shall make that edit, as well!

[2017-09-21 19:50] meiamsome opened #2192 "Calling redraw does not cause an increase in frameCount"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

This should probably not be the default behaviour?

Example modified from the redraw documentati

[2017-09-21 20:06] meiamsome opened #2193 "createSelect allows creation of a select with multiple selection, but they aren't returned from value()"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) (DOM)

[2017-09-21 20:14] meiamsome opened #2194 "name appears to be written into the global scope somewhere"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

I was having issues when using a variable called name in global scope.. Not sure what would cause that? If I have a variable called name in the global scope it is set to "[object Object]"

[2017-09-21 20:33] meiamsome commented on #2194
Hmm, this appears to be fine actually. I was having issues when using a variable called `name` in global scope.. Not sure what would cause that? If I have a variable called name in the global scope `createInput` returns `"[object Object]"`

[2017-09-21 22:29] qrencha commented on #2156
Please be aware that this issue reported affects the examples in the P5js reference. Most examples are all filled up with black, you can't distinguish the example. If you edit the example and add fill(255); at the top, it fixes it.

[2017-09-22 02:16] kaganjd commented on #2160
Please ignore that commit above-- was just a demo in the workshop.

But I did dig into this issue and I think the documentation for this function is confusing. I struggled to make sense of the "source" "destination" and "sub-rectangle" language.

What if we use "main canvas" "image canvas" "original image" and "drawn image" to describe how these dimensions relate to each other? See the comments in

[2017-09-22 06:24] dhowe opened #2195 "Incorrect return type in docs for keyIsDown()"
Should be boolean

![image](https://user-images.githubusercontent.com/737638/30731736-c20ff4c8-9fa1-11e7-8e11-00f3744de690.png)

[2017-09-22 14:34] limzykenneth commented on #2191
Everything looks good. @marcusparsons You can file a PR if you want 😉

[2017-09-22 14:39] jmalk commented on #2195
Looking at the [doc comment in the source](https://github.com/processing/p5.js/blob/master/src/events/keyboard.js#L327), the return type is Boolean. Perhaps the website is out of date with the source?

[2017-09-22 14:49] limzykenneth commented on #2192
I'm not entirely sure increasing `frameCount` would be the intended behaviour with `redraw`.

According to documentation it only says "Executes the code within draw() one time" and didn't mention anything about frameCount so we need to think about potential use.

Not increasing `frameCount` on `redraw` will serve as a more accurate measure of how long the code have executed barring external calls

[2017-09-22 14:52] meiamsome commented on #2195
@jmalk I see the same thing on locally built docs on the new source - interestingly the docs/reference/data.json file shows the correct return details - so an issue with the templating? Possibly related to #2171 ?

[2017-09-22 14:56] meiamsome commented on #2192
It's hard to say which is better - I too also don't really use `frameCount` all too much, but was surprised that its name doesn't reflect the count of frames rendered. What is Processing's behaviour?

Either way, we should ass a test to check that the `frameCount` does what's expected.

[2017-09-22 14:57] limzykenneth commented on #2194
For me `name` is an empty string. No idea how to hunt it down though... 😞

[2017-09-22 15:03] meiamsome commented on #2194
I feel rather dumb, this is of course the `window.name` property, existent on all pages: https://developer.mozilla.org/en-US/docs/Web/API/Window/name

[2017-09-22 15:03] #2194 closed

[2017-09-22 15:04] limzykenneth commented on #2194
welp...I never knew that, dumb +1 for me

[2017-09-22 15:12] limzykenneth commented on #2160
Apart from wording, I think simply adding an image like the following would be great at showing what the arguments meant.
![drawimage_arguments](https://user-images.githubusercontent.com/7543950/30751273-6e6256fa-9feb-11e7-8318-dc3b25b9cd43.jpg)

[2017-09-22 15:46] marcusparsons commented on #2191
@limzykenneth, I'm pretty sure I did the pull request completely wrong, because I'm also a Git newbie, unfortunately, but the file is there.  I tried committing the file itself via Github but it wouldn't allow that.  So, I compressed it and uploaded it.

[2017-09-22 15:55] limzykenneth commented on #2191
@marcusparsons Some instruction is available [here](https://github.com/processing/p5.js/wiki/Development#master-branch-development) but they are terribly vague. I think your problem is that you didn't push to your fork and instead tried to push directly to this repo. Try the following in your terminal: (assuming you have committed the changes to git in your local copy)

[code]

You should see in [

[2017-09-22 21:28] lmccart commented on #2192
processing does update the frameCount, and I agree with the logic that frameCount should be the count of frames render, so let's see if we can adjust the code and add a test toward this.

[2017-09-22 21:31] lmccart commented on #2160
I like the idea of updating the wording and including a diagram to make this clear

[2017-09-22 21:34] #2178 closed

[2017-09-22 22:45] mxa commented on #458
@nick-jonas you might want to give Inkscape a try, I found Adobes SVG implementation half-hearted. They have nothing to gain when supporting an open standard.

[2017-09-23 06:08] #2191 closed

[2017-09-23 17:55] meiamsome opened #2200 "Three WEBGL tests are failing"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

On Chrome 59.0.3071.86 and Firefox 55.0.2 (And presumably others) there are three failing WEBGL

[2017-09-23 18:06] meiamsome opened #2201 "Tests take a very long time in Chrome"
For some reason, the tests in p5.js currently take about 200s to run in Chrome on my PC, whereas the same tests take 6s on Firefox.

[2017-09-23 18:32] meiamsome opened #2202 "We should consider adding a lerpAngle"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

To lerp around to an angle in the most efficient way (i.e. using the wrapping when appropriately

[2017-09-23 19:44] makeyourownalgorithmicart opened #2203 "reference doc for arc() doesn't explain modes OPEN, PIE, CHORD"
The reference documentation for arc() at [https://p5js.org/reference/#/p5/arc](https://p5js.org/reference/#/p5/arc) doesn't explain the modes, OPEN, PIE, CHORD.

The examples show OPEN but the parameter list only lists PIE and CHORD.

None are explained. The examples look the same, so not illustrating the modes

[2017-09-23 19:50] meiamsome commented on #2203
The reference image colours are currently broken as a consequence of #2156, and should be fixed whenever the documentation site is updated. I do agree a description update here would be useful.

[2017-09-24 00:15] bethyd commented on #2160
Is this workshop available online? I enjoy using p5.js and am also interested in ITP and would love to contribute to this if possible!

[2017-09-24 02:54] bomoko commented on #2182
***raises hand***
I'd love to take a swing at this, if nobody else is working on it yet?

[2017-09-24 03:30] lmccart commented on #2182
go for it!

[2017-09-24 10:26] limzykenneth commented on #2202
I don't fully understand this, do you mean lerping but with built in modulo?

[2017-09-24 17:08] kaganjd commented on #2160
@limzykenneth that's super helpful. I'm traveling with limited internet access at the moment, but I'll submit a PR in a few days with wording changes + that graphic.

@bethyd our workshop notes are here: http://mathuramg.com/p5-contr-workshop/ feel free to email me if you have questions about getting set up!

[2017-09-24 19:47] bomoko commented on #2160
Sorry all, I'm working on the image() webGL function at the moment, and I just wanted to check something regarding this. It's entirely possible I'm misunderstanding something, but I'd feel odd not raising my hand.

So there are actually two image() methods.

One in `src/image/loading_displaying.js` and another in the renderer itself (`src/core/p5.Renderer2D.js`).
If you take a look at the former,

[2017-09-24 20:09] meiamsome commented on #2160
Note that the arguments were switched on the 27th October 2016 here:  6ac5bc00e101c739e1c423939294a8db51cf3210

p5.js v0.5.4 was the 1st October 2016 release, so the mismatch originally reported is because they need to use older documentation or a newer p5 version.

I see no issues with the code as it currently stands, but documentation can always be improved.

[2017-09-24 20:14] meiamsome commented on #2202
Yeah, something along the lines of (In DEGREES mode)
`lerpAngle(300, 60, 0.75) // 30 instead of 120`

Perhaps also include a modulo argument for advanced users, but by default use the angle mode.

[2017-09-24 20:17] bomoko commented on #2160
Ah, brilliant @meiamsome, that clarifies it (for me, at least)!
Maybe we (or someone who's able) should change the name/description of the issue (or a creation of a new one) in that case, if @kaganjd is still going to be working on clarifying the documentation?

[2017-09-24 20:24] meiamsome commented on #2160
@bomoko I only really thought it might have changed because you pointed out the differences between the two prototypes, so that was a bit lucky really...

On another note, perhaps having versioned documentation on the site would be useful? It might be a bit of work but would probably be quite useful. Perhaps I should open an issue for that separately.

[2017-09-24 21:44] #2192 closed

[2017-09-24 23:27] lmccart commented on #2202
this makes sense to me, but I feel might be beyond the scope of the api right now. I'd really like to focus efforts on getting what we have in working order and fully documented.

[2017-09-24 23:48] outofambit commented on #1881
@meiamsome that's a good short term solution, but in the longer term I think the tests should pass even when there is no internet access on the machine.

@sakshamsaxena let me know if there's any way i can help!

[2017-09-24 23:52] meiamsome commented on #1881
@outofambit I totally agree. It looks to me like the real issue here is that `loadJSON` doesn't call `self._decrementPreload()` when the load fails - is there some defined intended behaviour for failures in preloads? If not then it's kind of undefined behaviour when this fails, so maybe the test should not be considered a failure?

[2017-09-25 00:32] meiamsome commented on #2154
Setting `ret.__proto__` to the returned array seems to make it behave as if it were the array itself - length, indexing, array prototype functions all work - even for..in and for..of seem to work on latest chrome and firefox. Probably not the best to mess around with the prototype hierarchy unless this is how it should actually respond. Anyone well versed in this stuff?

[2017-09-25 06:51] bomoko commented on #2182
@kjhollen I've managed to get a sense of what's involved here, and have even managed to bang up a working version (totally throwaway, pasted below) - I was hoping you could point me in the right direction with the texture though.

[code]
You'll see that I'm calling `texture()` in the first line of my function to load up the image that gets passed through from the `image()` function in  `src/image/

[2017-09-25 17:23] sakshamsaxena commented on #1881
Yep I'm looking into it now. I worked a lot with grunt this summer, so I believe I've developed a good understanding and likeability for it, and also the patience to deal with such random failures :laugh :sweat_smile I'll keep ya posted!

[2017-09-25 17:56] GagandeepSingh1357 opened #2205 "please try to make references more informative. i wasn't really able to understand the blue function under color section. (in p5.jsj)."
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-25 21:35] kaininc commented on #2201
That's weird

[2017-09-25 22:19] outofambit commented on #2205
hey @GagandeepSingh1357 did you mean the function for setting the blue value of an existing color? or to get the current blue value out of a color? (`_getBlue()` or `setBlue()`). thank you for filing this!

[2017-09-25 22:29] lee2sman opened #2206 "pixels array is an object/string, not an array!"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-26 02:59] benswift opened #2207 "loadJSON() doesn't return an array"
#### Nature of issue?

- [ ] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [x] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

- p5.js version: 0.5.14

#### Feature enhancement details:

I'm not sure if this is the desired

[2017-09-26 03:00] lmccart commented on #2207
thanks! this is a duplicate of https://github.com/processing/p5.js/issues/2154, so we'll follow up over there

[2017-09-26 03:00] #2207 closed

[2017-09-26 03:13] benswift commented on #2207
Thanks. Sorry about the duplicate.

[2017-09-26 04:42] lmccart commented on #2206
heheh it is an object masquerading as an array!

[2017-09-26 06:23] lee2sman commented on #2206
ah, so it's intentional?!

[2017-09-26 14:04] lmccart commented on #2206
i dont think so..

[2017-09-26 14:06] lmccart commented on #2206
pixels is a reference to the canvas (ImageData object](https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Pixel_manipulation_with_canvas). we've kept the direct reference because it speeds getting and setting pixels. however, it is confusing as you point out. would it make sense to just change the type to object but leave the description and examples illustrating how to access it

[2017-09-26 18:22] lee2sman commented on #2206
yes, that would help. i was expecting an array and got very confused when i tried to access it like one.

[2017-09-26 22:50] meiamsome commented on #2206
Note that using `console.log` instead of p5's `print` yields the correct result - a `Uint8ClampedArray`. It looks like passing that through JSON stringify (as in `print`) results in an Object representation, not an Array.

[2017-09-26 23:17] meiamsome opened #2208 "Failed Preloads: intended behaviour?"
What is the intended behaviour for a request in preload that fails - currently it hangs the sketch in the "Loading..." screen and doesn't give any feedback to the user by default. Perhaps we could add a default "Failed to load" render, and a function to overload it.

(Note that this is partly related to #1881)

[2017-09-27 05:53] sakshamsaxena commented on #1881
Found new errors while I was on Windows. See #2209

Still working on isolating other errors meanwhile.

[2017-09-27 06:31] limzykenneth commented on #2208
The current implementation is so that if it fails, it throws and error in the console and decrementPreload is not called since it is assumed that the required data for the sketch is not loaded. If an error callback is provided, that will be used to handle the error and the error won't be thrown by default, however, decrementPreload will still not be called.

[2017-09-27 10:14] sakshamsaxena commented on #2201
A little more info here would be great. Specifically, OS, and the number of total tests passed and failed in both browsers. You think some were skipped due to some incompatibility/uncertainty in FF ?

[2017-09-27 12:15] sakshamsaxena commented on #2169
I logged in to Travis, only to find out that the building options were disabled. I did switch em on, let's see ..

[2017-09-27 13:54] Siphonophora commented on #2181
Hi,

I can take this on.

Quick question. When drawing an arc like the one below, we can either define the straight edge with two vertices or several. I would prefer the left option, because it would let me precisely place the two red vertices. Let me know if having all the edges radiate out from the center is preferable (and any thoughts about placing the two red vertices).

![image](https://user

[2017-09-27 13:56] Siphonophora commented on #2203
I can flesh out the documentation while working on #2181

[2017-09-27 14:13] Siphonophora opened #2210 "WebGL - Ellipse should not take detailY as an arg"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-27 16:30] mlarghydracept commented on #2210
Hi! Thanks for looking into this. I don't think any of the code that constructs the ellipse primitive has been looked at in a long time. I agree that the detailY sounds unnecessary and rounding would be nice even if only just for a cleaner understanding of the ellipse construction.

[2017-09-27 22:17] kjhollen commented on #2181
The left side picture seems reasonable to me. Also, while I'm thinking of it, there might be a little more work needed here to ensure that stroke for this is the outline rather than outlining all the shapes... @mlarghydracept would probably have more insight here!

[2017-09-28 00:07] bomoko opened #2212 "Potential logic error in Line() function's parameter tests"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-28 00:08] usachatnow commented on #2146
The getusermedia for iOS 11 still is not working. Today an update for iOS 11 came out and still it fails to work. Can anyone shed some light on whether Apple is indeed going to fix the problem for iPhone?

[2017-09-28 00:14] bomoko commented on #2212
Closing - have a better solution ...

[2017-09-28 02:30] lmccart commented on #2146
this is the repository for p5.js (https://p5js.org/), it's not an apple affiliated project and can't do anything to fix ios native issues

[2017-09-28 05:36] Siphonophora commented on #2181
I would appreciate input on drawing the edges. So far, I have been focusing on the textured output. From left to right those are OPEN, PIE, and 'FAN'. The last is an alternate texture mode for the PIE shape.

![arc results](https://user-images.githubusercontent.com/32316111/30950560-aee5e4d6-a3eb-11e7-9592-8c5ec0328172.png)

Underlying geometry
![arc results geometry](https://user-images.githubuse

[2017-09-28 06:57] bomoko commented on #2212
Apologies for closing then reopening the issue - I had an idea for an enhancement, then I thought it was probably better to deal with this directly, first.

[2017-09-28 10:37] kaininc commented on #2208
Same problem here

[2017-09-28 14:01] lmccart opened #2214 "negative corner radius doesn't work with rect"
#### Nature of issue?
- [x ] Found a bug

#### Most appropriate sub-area of p5.js?
- [x ] Core

#### Details about the bug:

- p5.js version: 0.5.14

From an email:
"Apparently,
rounded corners do not work with negative width in rect(). It's not
clear whether negative width is defined, but I'd say either p5js should
check for and complain to the console about negative width or it should
not crash

[2017-09-28 14:07] lmccart commented on #2208
If there's an error in the console, I think this is feedback. I'm hesitant to go too far with popping up things into the sketch itself, I'd rather instead try to get users to think to look there. The FES helps with this to some extent, the web editor will make this easier because the console will be open by default. I wonder if we need to do anything else like updating the get started docs to reco

[2017-09-28 14:15] shiffman opened #2215 "ES6 Classes Discussion"
I'd like to open a thread for general discussion about using ES6 classes in p5.js examples and tutorials. I imagine a full integration of this style of OOP should likely wait until the p5 codebase itself adopts ES6, I'm starting to teach with ES6 classes at [ITP](http://itp.nyu.edu) and in my video tutorials.

@rasca0027 did a wonderful job porting several of my Learning Processing tutorials to [p

[2017-09-28 14:20] lmccart commented on #2215
I think the ES6 port probably needs to happen this school year. I don't see any reason not to start adding ES6 examples to the website to get the momentum going.

[2017-09-28 14:25] shiffman commented on #2215
Sounds good, as a matter of update, my tutorial port is here:

https://shiffman.github.io/Learning-p5.js/ch08.html
https://github.com/shiffman/Learning-p5.js/blob/master/ch08.html

Once I get it into shape I can consider adding it to [p5.js-website](https://github.com/processing/p5.js-website) as well as porting some of the examples. I'm trying to do this work this week and next, including making

[2017-09-28 19:10] lukas2005 opened #2216 "loadTable on a very large data set causes a empty p5.Table to return and no errors"
Hi I have a very large tsv file (over 2 000 000 lines) and loadTable refuses to work with it can someone help me? if doing this large oprations in p5js is not possible then can I do it in processing?

[2017-09-28 20:39] brysonian commented on #2215
A related question is `let` and `const` vs `var`. @shiffman have you started using those as well?

[2017-09-28 20:53] shiffman commented on #2215
@brysonian Yes, I'm using `let` with my students but not explaining it in detail, mostly just saying "let" is the new "var." We have not covered `const`.  I also made two video tutorials about let and const (but these are not aimed at beginners):

https://www.youtube.com/playlist?list=PLRqwX-V7Uu6YgpA3Oht-7B4NBQwFVe3pr

[2017-09-28 22:06] etterstudio opened #2218 "accelerationXYZ doesn't seem to work on Android"
#### accelerationXYZ doesn't seem to work on Android

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (reading mobile sensor data)

#### Which platform were you using when you encountered th

[2017-09-28 23:10] usachatnow commented on #2146
I was told iphone was supporting WebRTC, can anyone tell me why getusermedia is still not working on iPhone?

[2017-09-28 23:12] thetornadotitan commented on #2215
Here is a fun ES6 example, at least to my best ability. I made it for a program called Wallpaper Engine. I wanted a missile command style live wallpaper.

https://github.com/thetornadotitan/MissileDefenceDesktopLiveWallpaper

[2017-09-28 23:27] CromeCoder opened #2219 "Example code is showing up empty when I download the complete file."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-28 23:28] #2219 closed

[2017-09-28 23:59] lmccart commented on #2065
hi @smoothmango I see your point. and we thought a lot about this when deciding whether to call loadPixels() inside the function or require the user to do it. we eventually settled on this method being rather slow but easy to use, and then having the `pixels[]` array to give the option for fast access.

it wouldn't be too hard to write your own fget() function that grabs things out of this array.

[2017-09-28 23:59] #2065 closed

[2017-09-29 00:27] lmccart commented on #2169
wow I have no idea how they got switched off.
it looks like it's running now as far as I can tell.
<img width="1044" alt="screen shot 2017-09-28 at 5 27 25 pm" src="https://user-images.githubusercontent.com/191056/30995973-509cc4a8-a472-11e7-8ea5-6cc0dfb31df3.png">

[2017-09-29 00:58] sofian opened #2220 "Support static mode"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [x] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x] Mobile/Tablet (touch device

[2017-09-29 01:51] lmccart commented on #2220
yes, a good point. we also discussed it at length [here](https://github.com/processing/p5.js/issues/113) and [here](https://github.com/processing/p5.js/issues/158). as of now we would like to stick by the decision not to support non-setup/draw mode, but an issue could be opened on the forthcoming web editor if this is of interest.

[2017-09-29 01:51] #2220 closed

[2017-09-29 02:01] lmccart commented on #2128
updated docs with https://github.com/processing/p5.js/commit/e8782a28433c52892e4aa1eeb2723e06dc91d998

[2017-09-29 02:01] #2128 closed

[2017-09-29 02:02] #1996 closed

[2017-09-29 02:03] #1501 closed

[2017-09-29 02:03] lmccart commented on #1501
reenabled with gsoc work

[2017-09-29 02:05] lmccart commented on #2158
if this is a suggestion for processing, please report it here: https://github.com/processing/processing thanks!

[2017-09-29 02:05] #2158 closed

[2017-09-29 02:07] #2132 closed

[2017-09-29 02:19] #1726 closed, assigned to nobody

[2017-09-29 02:32] #2195 closed

[2017-09-29 02:33] lmccart commented on #458
given the current scope of the library and considering maintenance and priorities, I am going to close this for now.

[2017-09-29 02:33] #458 closed

[2017-09-29 02:42] #2171 closed

[2017-09-29 02:43] lmccart commented on #2100
I'm not seeing a lot of energy around this one so towards the goal of keeping the API manageable, I'm going to close this for now and suggest users implement it in their own sketches

[2017-09-29 02:43] #2100 closed

[2017-09-29 02:44] #2169 closed

[2017-09-29 02:47] meiamsome commented on #2208
There appears to be no error in console when the network requests succeeds but the returned result is invalid (3xx/4xx/5xx error codes)

[2017-09-29 02:50] lmccart commented on #884
I like the idea but I worry a little about doing too much magic behind the scenes. Generally we're trying to leave as much default browser behavior in place as possible. Maybe what is needed is a tutorial on p5 for mobile and this would be one element of that?

[2017-09-29 02:51] #2202 closed

[2017-09-29 03:01] lmccart commented on #2208
ah ok, we definitely do want these to be reported as well. I can look into it.

[2017-09-29 03:08] limzykenneth commented on #884
I think we can add the meta tag into the example index.html and also into the web editor. I usually use them as part of a boilerplate and never really thought about them because they are the inelegant part of the browser I don't want to personally deal with...

[2017-09-29 03:10] limzykenneth commented on #2216
Hi @lukas2005, that tsv sounds rather large and we probably never tried something that big before, is it possible to share the file so we can test it?

For Processing, see [here](https://processing.org/reference/loadTable_.html)

[2017-09-29 03:31] bmoren commented on #884
@limzykenneth I think including them is a great idea and would solve this issue entirely. I always forget to include it / present it to my students and after class is over inevitably have a :man_facepalming: moment before sending out an after the fact reminder 😃

[2017-09-29 03:36] lmccart commented on #884
ok I'm into that. I guess I was thinking you wouldn't want this in by default, but I guess there's no harm right?

[2017-09-29 03:48] bmoren commented on #884
Yeah it seems like the best solution and I'd say the majority of the time it's the 'expected behavior' to have the element scale by default rather than show up as a small thing that the browser is trying to figure out. It kind of reminds me of the border box css property, where the behavior which most seems like it would be the default must be turned on manually.

I agree that this should not be b

[2017-09-29 06:27] smoothmango commented on #2065
I understand your position, perhaps it would be worth adding a more stern warning about the performance implications of get() in the documentation? It's a huge performance killer, and seems to me to be more painful in js than it was in java Processing. It kills nearly 2 frames of animation at 60fps to check even a single pixel at HD 1920x1080 resolution!

[2017-09-29 13:00] sofian commented on #2220
I have opened an issue on P5.js editor: https://github.com/processing/p5.js-web-editor/issues/448

[2017-09-29 14:27] #884 closed

[2017-09-29 21:41] kaganjd commented on #2160
Opened a PR for this, please let me know if you have suggestions @limzykenneth @bomoko @meiamsome !

[2017-09-30 15:17] Darklod opened #2221 "textToPoints method missing in reference"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?
- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

In the reference there's no textToPoints method

[2017-09-30 15:18] Darklod commented on #2221
Maybe there are some hidden methods which are not present in the reference

[2017-09-30 18:54] GagandeepSingh1357 opened #2223 "mouse pressed function didn't execute"
#### Nature of issue?

- [x] Found a bug
- [x] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-30 18:55] GagandeepSingh1357 commented on #2223
plz check the last mouse pressed function and let me know the error in the program!!
the function wasn't executing in my PC.
***
var a=3;
var b=3;
var x=3;
var y=3;
function setup() {
  createCanvas(1080,720)

}

function draw() {
	background(0,0,50);
         stroke(0,0,0);
	fill(255,170,0);
         ellipse(445,350,a,b);
         a=a+50,b=b+50;
        noStroke();
         fill(0,0,30);

[2017-09-30 19:02] meiamsome commented on #2223
Your draw code will immediately overwrite the rendering done in `mousePressed`.

Instead you can include the code in your draw based on the `mouseIsPressed` variable:
[code]

[2017-09-30 19:03] GagandeepSingh1357 commented on #2205
i actually didn't understood the whole concept behind the blue function. i feel the data or info provided in the reference is a little limited
![blue](https://user-images.githubusercontent.com/32274872/31048686-56cabb30-a5d7-11e7-945f-c8a62910c682.PNG)

[2017-09-30 19:36] bomoko commented on #1954
Been meaning to return to this for a while.
I don't see anyone else working on the MediaElement examples - so I'd like to take them on.

[2017-09-30 20:40] RoseCrime opened #2224 "mouseIsClicked condition."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-09-30 21:34] Siphonophora opened #2226 "WebGL Primitives Discussion"
Hi, I am new to this project and have been working on one of the issues @kjhollen created to add features to WebGL. After looking through the implementation, I wanted to sum what my understanding of what exists and my thoughts on what I could help with. My main assumption is that we would want users to generally be able to turn on WebGL without breaking a sketch, and further, to be easily able to

[2017-10-01 09:14] meiamsome commented on #2224
So the issue with this is that a click is an instantaneous event whereas your code is ran over time.

Imagine the following code:
[code]

If clicked before the draw loop, you'd probably think both of these make sense to be truthy, and I'd agree - but what about code not running in the draw loop? When does the clicked state change? If it's only for one draw loop then code in other events could easi

[2017-10-01 10:46] sakshamsaxena commented on #1881
Here's what I've figured out till now :
On Windows, ```Files p5.prototype.loadTable CSV files should handle escaped quotes and returns within quoted fields ``` is a constant error due to the difference of ```\r\n``` and ```\n``` which fails the assertion.
Also on Windows, if we run tests in actual browser, then except above, no failures are reported. However, running in console, ```new p5() / glob

[2017-10-01 11:02] meiamsome commented on #1881
I think `new p5() / global mode is triggered when "x" is in window` tests are a bit flawed. They seem very susceptible to race conditions where the page load is triggered before the relevant function is added to the window object. It could probably do with a rewrite where the function is passed into createP5Iframe and then written to the window object prior to p5. I might have a look later today t

[2017-10-01 11:46] sakshamsaxena commented on #1881
@meiamsome It's what I used to think, but isn't reliably so. I tried to replace setup call with draw, and it failed, and when I tried to replace draw with setup, it didn't. Multiple times. Both teardown and createP5Iframe are robust and perfectly sync, and work flawlessly in browser. It is at the CLI I'm facing the issue.

Let me know what you find ! 😄

[2017-10-01 12:17] meiamsome commented on #1881
So, it looks like the problem is that multiple done calls count as a failure. I've changed the test to the following, and this appears to resolve the issue (I'm just have the tests in a while loop until they fail - and it's still going well without failure.)

[code]

Also acceptable:

[code]
It'd be good if you can test to confirm/deny that this fixes the issue

[2017-10-01 13:40] sakshamsaxena commented on #1881
Gee! This does work like a charm! But I don't understand _why_ this particular task fails? Why the done() calls are getting messed up here ? It felt like the draw function itself may have some scope of improvement too, personally (?) But great work @meiamsome ! 😄

[2017-10-01 13:48] meiamsome commented on #1881
@sakshamsaxena It's just that mocha is designed to consider a test with multiple `done`s as a failure (Logical failure of the test, that is). The iframe will call `draw` every frame, so mocha decides it has failed. `Promise`s on the other hand are designed that only the first `resolve`/`reject` actually matters.

(I just realised I could've got rid of the pointless wrapping function, but whatever)

[2017-10-01 15:08] lmccart commented on #2224
thanks @meiamsome! yes the mouseClicked function should do exactly what you're describing. you can setup a listener for any global click, or for a specific element(s). for further help with this, check out the [forum](http://forum.processing.org)
https://p5js.org/reference/#/p5/mouseClicked
https://p5js.org/reference/#/p5.Element/mouseClicked

[2017-10-01 15:08] #2224 closed

[2017-10-01 17:53] kjhollen commented on #2226
hi, thanks for sharing this! I'm still considering the details in this post, but I think one thing that might be helpful is [this document](https://docs.google.com/document/d/1ZT27SS_NmVv4c7-2x9_H44xQ7UNmf1wuTpcAraHmB7c/edit?usp=sharing) that we put together for Google Summer of Code—I'm realizing that I linked this from my write-up but it's not linked from the project directly yet. I'll figure ou

[2017-10-01 18:57] RoseCrime commented on #2224
You're right ,it may cause problems with wrong usage,but as what I meant and where I see it usefull loocks like this:
[code]
So.In this case code loocks much better,since everything on it's own places and every button inside it's own function.

With only mouseClicked **function** we'll need to check same conditions for mouseClicked function(once again) and move every button click to it.Not that mu

[2017-10-01 19:46] meiamsome commented on #2224
@RoseCrime I can see why you might want this, but it is a bad programmatic design practice due to the reasons above. You can emulate this behaviour with:

[code]

[2017-10-01 20:06] RoseCrime commented on #2224
@meiamsome
Alright,guess you just suggested best solution in my case without using special condition.
Now you convinced me :)
Thank you for you attention.

[2017-10-01 21:20] mlarghydracept commented on #2226
Hi! This is great! Thanks for looking into this in so much depth.

I don't have time at the moment to respond to each point but I just wanted to echo that code sharing between those primitives would be very welcome! But I am not sure that I agree that cone and sphere should be eliminated. I understand that similar effects could be achieved with cylinder and ellipsoid respectively, but I am not sur

[2017-10-01 22:43] lmccart commented on #2223
thanks @meiamsome!

[2017-10-01 22:43] #2223 closed

[2017-10-01 22:48] bomoko commented on #2184
Hi, I'd really like to volunteer do this one.
I actually attempted this a little while ago (when working through some or other example processing sketch in Matt Pearson's book and found point wasn't implemented) but stopped when I heard the WebGL layer was being reworked.

[2017-10-01 22:51] kjhollen commented on #2184
yay! go for it!

[2017-10-01 23:09] lmccart commented on #2205
@GagandeepSingh1357 each color is defined as a [combination of a red, green, and blue value](https://www.w3schools.com/colors/colors_rgb.asp). the blue() function returns the blue number in that combo of three, while red() and green() respond the red and green values.

[2017-10-01 23:09] lmccart commented on #2205
this tutorial also might be helpful for you: https://p5js.org/learn/color.html

[2017-10-02 13:44] yatriks commented on #2118
@lmccart Hey so, sorry this is later than I expected.
From what I can tell, it's relatively straightforward to take colorMode into account in get() by returning a p5 Color – but that sounds breaking, as the output of get() is always expected to be an array right now.

Maybe adding a new `getColor` that starts with the output of `get` and converts it by `colorMode` is the right move here?

[2017-10-02 21:34] sjorsvanheuveln opened #2233 "Documentation round function vs. round constant."
There's seems to be no documentation about the round function, but only on the round constant. If I click in round() in the reference, I get the documentation for the constant.

[2017-10-02 21:38] meiamsome commented on #2233
Note that the `round` method appears to have documentation but the url for `ROUND` and `round` are the same, and so one of them is effectively hidden.

This is possibly a bug for the website - https://github.com/processing/p5.js-website but I am unsure

[2017-10-02 21:40] sjorsvanheuveln commented on #2233
Ok, I'll post it there. Consider this closed here!

[2017-10-02 21:40] #2233 closed

[2017-10-03 02:08] Siphonophora commented on #2226
Thanks for the feedback. I will start with 2D/3D parity before other items. Here is what I have for a punch list.

- [x] Rect needs rounded corners (Done, except for documentation pending the resolution to #2229). Incidentally, it would not be difficult to add this feature to quad.

- [ ] Add a manual test to use to verify parity of the 2d primitives in 2D and 3D. Excepting once point is done, we

[2017-10-03 03:03] meiamsome commented on #2215
Note that if discussing the difference between these two function assignments: `function a() {}` vs `var a = function() {}` - the effect of variable/function hoisting is problematic. That is: `function a() {}` and `let a = function() {}` are significantly different. One important example of this is if you use the follow code p5 will be unable to find `draw` as it is not attached to `window` by def

[2017-10-03 03:25] brysonian commented on #2215
@meiamsome I think `function draw() {...}` would be more idiomatic and a better choice either way.

FWIW, in es6+, I believe that arrow functions are preferred when using the function expression syntax, and because it is a function, you'd want to use const, not let: `const draw = () => {...}` because they don't have the overhead of a prototype, and they are bound to the current context and avoids

[2017-10-03 14:22] shiffman commented on #2215
I'm converting a bunch of examples for my class now and am leaving this regex here for when I (or anyone who wants to jump in) works on converting p5 website examples:

FIND: `this.(.*)\s+=\s+function(\(.*?\))`
REPLACE: `$1$2`

[2017-10-03 15:03] cgiles opened #2238 "Mistake in the documentation (P5.Vector lerp)"
As I looked at the documentation : https://p5js.org/reference/#/p5.Vector/lerp
, I found this for the description of amt:

0.1 should be very near the old vector, and 0.9 near the new vector, right ?

[2017-10-03 22:22] Siphonophora commented on #2180
Hi, did you take a look at getting this from frameRate()? Looks like that is what you need.   https://p5js.org/reference/#/p5/frameRate

[2017-10-04 02:55] meiamsome commented on #2201
This seems to be fine for me now - Chrome is  61.0.3163.100.
This was at the same time I posted another issue stating Chrome as 59.0.3071.86
So therefore, I can only assume it was solved in Chrome 61?

[2017-10-04 05:02] chrisspurgeon opened #2239 "sketch.js is empty"
#### Nature of issue?

p5.js/lib/empty-example/sketch.js is empty. I believe it should contain this...

[code]

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other  -- Code Download

[2017-10-04 05:45] meiamsome opened #2241 "WEBGL renderer is never added to _elements - canvas not removed"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

I believe this renderer should be pushed onto `this._elements` when it is created so that it can

[2017-10-04 05:54] lmccart commented on #2239
hehe ;)
<img width="785" alt="screen shot 2017-10-03 at 10 53 49 pm" src="https://user-images.githubusercontent.com/191056/31161709-cae5b26e-a88d-11e7-8013-d571e1003d5e.png">

[2017-10-04 05:55] #2239 closed

[2017-10-04 05:57] #2238 closed

[2017-10-04 06:00] meiamsome commented on #2200
So, this just got a whole lot weirder for me.

I am currently working on getting headless chrome setup to run tests as well as phantom, and almost of of the tests that are failing in my browser are not failing in headless chrome. Maybe the particular webgl used with a real chrome is different?

[2017-10-04 06:05] lmccart commented on #2010
closed with https://github.com/processing/p5.js/pull/2204

[2017-10-04 06:05] #2010 closed

[2017-10-04 06:07] #2160 closed

[2017-10-04 06:12] #2180 closed

[2017-10-04 08:35] meiamsome commented on #2200
Given that this is broken on both FF and Chrome running on my computer in the same way, but is fine on a headless chrome with software-backed WEBGL I'm going to suggest that this may actually be an issue with the Linux NVIDIA Driver.

[2017-10-04 08:38] meiamsome commented on #2174
I was working on a potential implementation of headless chrome testing with chrome-mocha here:

https://github.com/meiamsome/p5.js/tree/testing/headless-chrome

However I currently have an issue where on Travis it will always crash at the same place:

https://api.travis-ci.org/jobs/283092554/log.txt?deansi=true

Any ideas?

[2017-10-04 16:30] RoseCrime opened #2242 "mozImageSmoothingEnabled is deprecated - console warning on Firefox."
#### Nature of issue?

- [#] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [#] Other (Shape,smooth() and noSmooth() functions).

#### Which platform were you using when you encountered this?

- [ ] Mobile

[2017-10-04 18:24] meiamsome commented on #2242
This was just fixed in #2228 but hasn't been released yet :)

[2017-10-04 18:48] #2242 closed

[2017-10-04 18:48] RoseCrime commented on #2242
Good news :)

[2017-10-05 00:39] Siphonophora opened #2243 "Grunt yui's local reference site doesn't use local p5.min.js"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-05 00:48] meiamsome commented on #2243
Yeah, I was confused by this as well. As far as I can see it's mostly because the docs are copied verbatim to the p5js-website repo where the assets system is differently structured and the link would have to be altered all the time. Note that this page also references scripts such as `assets/js/render.js` that aren't included in p5's repo currently.

[2017-10-05 05:32] lmccart commented on #2174
is webgl supported in headless-chrome?
https://bugs.chromium.org/p/chromium/issues/detail?id=617551

[2017-10-05 05:34] lmccart commented on #2174
oh I just saw your comments on https://github.com/processing/p5.js/issues/2200 so I guess that isn't the problem

[2017-10-05 14:19] Siphonophora commented on #2243
If it is the desired behavior, then maybe getting the the local server to rewrite the URL would be better?

[2017-10-05 20:09] meiamsome commented on #2174
So, I managed to get it to not crash by using the beta version of chrome, instead it just reports `Error: Error: Error creating webgl context`. Interestingly, I can only get that behaviour locally (Even when running inside one of Travis' docker containers) by using the `--disable-webgl` flag on chrome. Maybe it's disabled automatically on Travis. I might raise an issue over there at some point.

[2017-10-06 10:03] designbyadrian commented on #2093
Having the NPM location mentioned in the readme would be preferable.

[2017-10-06 10:27] designbyadrian opened #2244 "[Request] Only source files on NPM"
There should be an NPM package that only holds the P5 source files, not a whole grunt project. Some might want another project build tool or test suite. This package should be an example setup.

[2017-10-06 10:37] designbyadrian commented on #2215
I'm thinking the requirement for a sketch.js should go altogether.

Why not

[code]

Is P5 meant for non-JS-coders or for experienced coders? ProcessingJS allowed you to choose. You can't have both.

[2017-10-06 13:59] designbyadrian commented on #1734
@albertovilva how is your sketch function triggered? How is setup() and draw() called?

[2017-10-06 17:03] brysonian commented on #2215
Currently there is "[instance mode](https://github.com/processing/p5.js/wiki/Global-and-instance-mode)" for a similar, though not idiomatic ES2015 style, usage. Perhaps a future move for instance mode would be to extend a base class with setup and draw defined which would feel more like projects such as react and vue. Certainly something to think about moving forward!

[2017-10-06 18:35] Spongman opened #2246 "p5.prototype.directionalLight takes unused parameter"
p5.prototype.directionalLight = function(v1, v2, v3, a, x, y, z);

but the parameter `a` is never used.

also, the docs for this method should be split into separate overrides to indicate the valid permutations of its parameters. for example, parameter `x` is required, but `v2` and `v3` are optional... there's no indication (without looking at the code) how it resolves this.

[2017-10-07 01:13] Spongman opened #2247 "validateParameters() is too slow"
if you run a `color(0,0,0)` under chrome's profiler, you'll see that `validateParameters()` takes ~95% of the time.

![image](https://user-images.githubusercontent.com/1088194/31303405-d115b432-aac1-11e7-93a4-cad9e3900dbb.png)

[2017-10-07 01:27] lmccart commented on #2247
for improved performance, it is recommended to use p5.min.js, or to set `p5.disableFriendlyErrors = true;`

https://github.com/processing/p5.js/wiki/Friendly-Error-System

[2017-10-07 01:27] #2247 closed

[2017-10-07 01:30] lmccart commented on #2214
after thinking about it more, in this case, it feels reasonable to expect the user to put in a positive number for a radius since a negative radius doesn't really make sense. rather than adding a check that slows the code down, I'd prefer to leave this one as is.

[2017-10-07 01:30] #2214 closed

[2017-10-07 01:36] #2221 closed

[2017-10-07 01:40] lmccart commented on #2118
thanks for looking into this. sounds good, let's go ahead with `getColor()`

[2017-10-07 01:53] lmccart commented on #2208
I tried hitting each of these and as far as I can tell each one threw an error in console. Can someone point out one that doesn't work? Am I testing this right?

[code]

[2017-10-07 11:11] GiorgioMartini opened #2249 "createImage and translate not working correclty on mac and windows"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [x ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x ] Other (Translate and createImage)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (tou

[2017-10-07 13:44] JeroenDerks commented on #1507
Did you manage to get a P2D canvas with WEBGL createGraphics?

I'm trying to do the same but can not draw anything (besides background) to the graphics buffer.

[2017-10-07 14:20] JeroenDerks commented on #1507
had to set pg.resetMatrix() and then it worked :)

[2017-10-07 15:12] limzykenneth commented on #2208
I am also getting the error which is probably the default error the browser throws when it receives an errored response (4xx, 5xx) which I think is good enough to indicate what's wrong. As for 3xx series, because it is not technically an error, the browser shows no error message but (same with the others) there is an Unhandled Promise Rejection error which isn't helpful.

I can go back and make su

[2017-10-08 15:00] lmccart commented on #2208
I just tried that out and actually found the resulting errors logged to be less clear or informational than the current error thrown. Given all this, I think I'd like to just leave this as is for now as it seems to throw at least some kind of error for every failed preload call.

[2017-10-08 15:03] lmccart commented on #2249
this is related to https://github.com/processing/p5.js/issues/2077 so we will continue work on it over there.
the difference between mac and pc is probably the pixel density of the screen. if you add this line as the first in setup, the image looks correct: ` pixelDensity(1);`

[2017-10-08 15:03] #2249 closed

[2017-10-08 15:03] #2205 closed

[2017-10-08 17:37] BiLachner commented on #2105
Is this the same error? I have in in GeoGebra which offers a HTML5 based 3D-view that uses afaik WebGL -> Link to the interactive page https://www.geogebra.org/m/nJzV8Euq#material/S2UP5RRz
![screenshot_20171008_193531](https://user-images.githubusercontent.com/13196996/31319228-e9b2ad3e-ac5f-11e7-8e6a-e32a88e26b18.png)

[2017-10-08 19:08] GiorgioMartini commented on #2249
Awesomw thanks!

[2017-10-09 06:52] Revanee opened #2250 "smooth() not working in WebGL"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [x] WebGL
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-09 06:58] bomoko commented on #2250
@Revanee - I've seen a few functions that haven't yet been implemented in the WEBGL renderer yet, you've stumbled on one of them here. This is actually being discussed right now over at #2226.

[2017-10-09 16:16] nicolaspe opened #2251 "pointLight not responding to z-argument"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-09 21:12] lmccart commented on #2241
fixed with https://github.com/processing/p5.js/commit/2bb7aa500776dfdf768da1409b256235846577a1

[2017-10-09 21:12] #2241 closed

[2017-10-09 21:17] lmccart commented on #2246
same with pointLight

[2017-10-09 21:22] #2206 closed

[2017-10-09 21:28] #2154 closed

[2017-10-09 21:38] lmccart commented on #2103
the drag events only work if an element is set to draggable. they are not fired by default on a document. our general principle is to do as little behind the scenes magic and customization as we can, so for now, I think we can leave this is. if you want to broadcast an event, I'd suggest broadcasting from a custom mouseDragged() function you create and modifying the event type there.

[2017-10-09 21:38] #2103 closed

[2017-10-09 21:55] lmccart commented on #2193
value is a thin wrapper that returns this.elt.value. for the array of selected options, there's the .selected() method which will return an array for a multiple select element

[2017-10-09 21:55] #2193 closed

[2017-10-10 00:06] Siphonophora commented on #2226
I updated the checklist above. I have also done a bit on simplifying the code for 3d primitives and playing with options like 'wireframe' above. As I am working on these, is there any value to having all the horizontal divisions in the cylinder? If we are offering something pretty simple without the ability to deform the primitives, I would guess it is only costing us in rendering time.
![image](h

[2017-10-10 00:12] Siphonophora commented on #2250
@Revanee smooth() is the default in 2d mode (so generally it doesn't need to be turned on) and as you found, it is not active in wegbl. Were you using it because of some geometry in webgl which did not look smooth enough? You can generally increase the detailX, detailY parameters to get smoother geometry, but it would depend what you are doing.

[2017-10-10 00:16] Siphonophora commented on #2226
Also, any thoughts on why noFill() doesn't seem to do anything?

[2017-10-10 00:29] Siphonophora commented on #2189
Thought I would add a useful example I found when looking up how these options should behave. http://www.cs.uregina.ca/Links/class-info/315/WWW/Lab5/#Repeat

[2017-10-10 00:34] Siphonophora commented on #2188
A note from looking into this a bit, the documentation for vertex is missing u and v parameters which are supported in the code.

[2017-10-10 01:11] Siphonophora commented on #2189
Clamp mode does seem to be working fine (applied to a box, where I changed the UVs). Would this feature normally apply only to geometry made with createShape() as suggested in the processing documentation?

![image](https://user-images.githubusercontent.com/32316111/31364802-47b054d8-ad35-11e7-8092-63e0fb3208d5.png)

[2017-10-10 01:56] mlarghydracept commented on #2226
Hey! Thanks for all the work! Sorry for the slow response. I am a bit swamped with other work at the moment.

I am not sure there is any value to having the horizontal stroke in cylinder. Maybe this could only happen in WIREFRAME mode? I think taking liberties with what is considered an outside edge in the DEFAULT mode makes sense and will have a nice visual outcome.

Re noFill(), I don't have the

[2017-10-10 07:32] sakshamsaxena commented on #1881
Let's observe the Travis builds till Sunday, and then we'll satisfactorily close this as resolved !

[2017-10-10 09:02] sakshamsaxena commented on #2244
Hi !
Currently, we only publish certain files to NPM and Bower, which are essentially the distribution version of the library. The source is only available here at GitHub Repository. Publishing the entire repo as NPM package was not at all ideal as the aim was primarily browser usage, so only the complete library files were considered.
What is it that you seek exactly ?

[2017-10-10 09:18] a-y-u-s-h opened #2252 "Bug with rect in WEBGL mode."
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-10 13:09] Siphonophora commented on #2252
Hi,

Whats happening here is that the first option is generating every rectangle from scratch (because they each have a unique set of arguments), while the second sketch is reusing a single rectangle. Probably not exactly a bug, but also not ideal.

It is something I think I hadn't mentioned in #2226 yet, but this is probably part of that discussion. It doesn't make sense for the X and Y coordinat

[2017-10-10 14:40] GiorgioMartini opened #2253 "Blur not working on createImage() err: Cannot read property 'getContext' of undefined"
#### Nature of issue?

- [x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [x ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [x ] Mobile/Tablet (touch dev

[2017-10-10 21:15] owlsketch commented on #1734
@designbyadrian his code resides in this repository: https://github.com/albertovilva/p5-tests.
His sketch is found [here](https://github.com/albertovilva/p5-tests/blob/master/src/js/sketch.js), ad it is called in [app.js](https://github.com/albertovilva/p5-tests/blob/master/src/app.js)

[2017-10-10 21:31] mathacka opened #2254 "Implement Path Interpolation for animation and custom shapes."
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [x] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-11 00:29] Ikersfletch commented on #91
I just define a variable named "ratio" and give it the value of (PI/180) and then multiply my degrees by it. According to math and testing, it works

[2017-10-11 01:16] jenagosta opened #2256 "p5 sketch renders in editor preview window but not in full screen viewer"
Hello,
My p5 sketch renders in the alpha editor viewer but not in the Full Screen viewer. It is probably a simple fix, I just can't figure it out.

Sketch:
http://alpha.editor.p5js.org/jenagosta/sketches/ByVARkj3W

Full Screen:
http://alpha.editor.p5js.org/full/ByVARkj3W

Any ideas? Thanks for your thoughts.

#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New fea

[2017-10-11 07:39] limzykenneth commented on #2253
Hi @GiorgioMartini, the p5.js version you used is rather old, can you try switching it out to the latest 0.5.15 and if the problem persist, let us know? Thanks!

[2017-10-11 07:58] limzykenneth commented on #2254
I think this can be useful for creating sophisticated animations. However, it may not be best to include it in the core library as we want to avoid bloating the library too much. What can be done instead is to make this into an addon library, some info on how to create that can be found [here](https://github.com/processing/p5.js/wiki/Libraries).

[2017-10-11 08:05] limzykenneth commented on #2256
Hi @jenagosta, this is a known bug for the editor, see this issue https://github.com/processing/p5.js-web-editor/issues/449. You can follow the progress there.

[2017-10-11 08:05] #2256 closed

[2017-10-11 10:18] GiorgioMartini commented on #2253
duh!  somehow i had an old versiom.. yup that worked!  :) 👍

[2017-10-11 12:27] #2253 closed

[2017-10-11 18:49] #2201 closed

[2017-10-11 18:50] #2200 closed

[2017-10-11 19:05] jenagosta commented on #2256
Thank you! Will do.

[2017-10-11 21:59] lmccart opened #2258 "grunt release-p5 task not creating draft release"
all other tasks seem to work, and a [new tag version gets posted](https://github.com/processing/p5.js/releases), but the release draft does not get made. I've tried two versions 0.5.15 and 0.5.16 that both failed this step. I'm not sure what changed since 0.5.14, I haven't looked into it yet..

@sakshamsaxena any ideas?

[2017-10-11 22:05] Spongman opened #2259 "p5.prototype._registeredMethods is a memory leak"
if, like `test/test-minified.html`, you create multiple `p5` instances on a single page, the p5.prototype._registeredMethods.remove array quickly grows very large resulting in a memory leak (it's holding onto those p5 instances via those closures), and the subsequent remove() calls take progressively longer and longer, having to iterate through all those registered functions.

[2017-10-12 02:33] lmccart commented on #2212
fixed with https://github.com/processing/p5.js/pull/2213

[2017-10-12 02:33] #2212 closed

[2017-10-12 05:55] aferriss commented on #2149
I just encountered this as well and agree with @thinsoldier  it would be really nice to have a note in the reference about this. It's easy enough to scale the createGraphics with window.devicePixelRatio, but baffling to newcomers who might not know about pixel density.

[2017-10-12 09:50] sakshamsaxena commented on #2258
Were the console messages any helpful? Or any changes in env variables ? The draft process is essentially a simple HTTP request to github api, so the probable causes would lie around it, mainly failed auth or something broke while uploading

[2017-10-12 12:12] swirly opened #2260 "[feature request] i18n for website"
#### New feature details
First of all, congrats for all the work already done
two years ago, I asked if a internationalization was in project. I was told it was on the todo list, with high expectations.
in summer 2016, mayaman posted some things on i18n version of site. But his work, expected to come in fall, was never integrated to p5js website
Is there any new or progress on internationalization

[2017-10-12 12:33] meiamsome commented on #2260
Hello!

There is already a Spanish translation here: https://p5js.org/es/

Translation of the website is done on the p5.js website repository here: https://github.com/processing/p5.js-website

Hopefully that helps?

[2017-10-12 13:30] meiamsome commented on #2259
Aha, excellent!

I was running into something that looked like a resource leak while I was working on trying to get headless chrome to work on Travis, and this is that leak!

I have a fix I'll PR in a second

[2017-10-12 13:48] hjoaco opened #2262 "I can't see the examples in references"
Hi there! I consult the reference for 3D Primitives and I can't see the examples. The console of Chromium show this error:

[code]
And this is how I see the example for sphere:

![error-example](https://user-images.githubusercontent.com/2771752/31498917-b7322a08-af0f-11e7-89f1-c6a7b2d1254e.png)

#### Most appropriate sub-area of p5.js?

- [x] 3D Primitives References

#### Which platform were you

[2017-10-12 13:52] meiamsome commented on #2262
What is your browser's version, OS and Graphics Card (If any)?

I am experience the same issue on Ubuntu 17.04 with Chrome & Firefox using the native rendering (nvidia graphics card). This does not happen with a software-based WEBGL.

[2017-10-12 14:46] lmccart commented on #2260
yes, we're getting close to releasing the spanish version. our plan is to focus on one language and learn what we need to in terms of making sure we have the structure to maintain and support it. then we will begin adding other languages. until then, you are most welcome to translate materials and share ad hoc, we will help amplify through social media.

[2017-10-12 14:50] #2208 closed

[2017-10-13 01:03] drcrotato opened #2263 "Problem importing model"
#### Nature of issue?

- [ x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devi

[2017-10-13 04:58] lmccart commented on #2263
can you post the loadModel() code snippet you used and the model you're trying to load?

[2017-10-13 05:53] mlarghydracept commented on #2263
Hi! You should definitely still post a loadModel() snippet with the model that you are trying to use but I just wanted to point out that I may know what is happening. It is most likely that you have a complex model and the call stack is being exceeded on the [_flatten](https://github.com/processing/p5.js/blob/master/src/webgl/p5.RendererGL.js#L910) function. I tested a lot and thought the function

[2017-10-13 08:23] limzykenneth commented on #2218
What Android device are you using? Also can you check the sketch via https links, I'm not sure the browsers on Android have already implemented it but there are plans to limit device acceleration usage to secured sites only so that may be your problem.

I don't have an Android device to test this out so any help is appreciated.

[2017-10-13 08:38] limzykenneth commented on #2101
Sorry but this slipped through me so didn't get a chance to look at it. I may not understand this correctly but what I don't understand is why do you need p5 to broadcast the mouse events when the browser already does so? You can directly listen to the browser mouse events like so:

[code]

Or is there some other use you have in mind?

[2017-10-13 08:43] hjmg commented on #2262
Chromium and Firerox both update are installed in Manjaro, my laptop is a Lenovo Thinkpad T410i with Intel and Nvidia graphis card.

[2017-10-13 08:47] meiamsome commented on #2262
Okay, and I presume then that if you run chromium with the GPU disabled (`--disable-gpu` after chromium on the command line) the reference renders correctly?

[2017-10-13 09:15] hjmg commented on #2262
Thank you!
I have downloaded the reference and works perfectly offline, but the problem is in the website

[2017-10-13 14:57] Destroyer97 opened #2264 "WebGL beginShape()/endShape() memory leak?"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-13 15:47] Destroyer97 commented on #2264
Updating to the latest version of p5.js seems to have fixed my problem... I'll close this now.

[2017-10-13 15:47] #2264 closed

[2017-10-15 13:51] etterstudio commented on #2218
Thanks @limzykenneth for your response!

- I have enabled HTTPS but the result is still the same.
- It's an Wiko Lenny 3 phone running now Android 6.0 and latest Chrome

[2017-10-15 15:23] meiamsome commented on #2218
This is working fine for me on a Sony Xperia Z1 - android 5.1.1 on Chrome 61.0.3163.98 without HTTPS.

[2017-10-15 15:43] meiamsome commented on #2263
Some sort of middle ground solution would be along the lines of:

[code]

Where 10000 is an arbitrary chunk size that (hopefully) most browsers support being used in `apply`

Performance can be analysed here: https://jsbench.me/qgj8sx1nl8/1
You can mess with input size and chunk size on that and run them. Input size of 1000000 results in an error on Chrome & Firefox for me  for the first one and s

[2017-10-15 15:56] lmccart commented on #2218
@etterstudio can you try opening this device orientation demo on your phone: http://wellcaffeinated.net/demos/device-orientation
if this doesn't work either, I'd suspect your device just doesn't support device orientation. but if it does, there could be something we're not accounting for in the p5 library

[2017-10-15 18:38] mathacka commented on #2254
thanks!

[2017-10-15 18:42] #2254 closed

[2017-10-15 20:43] inodb opened #2266 "Adds newline when editing on mobile chrome android"
On Android chrome Google pixel when I use the editor it seems to automatically add newlines on every edit.

[2017-10-15 21:12] meiamsome commented on #1881
@sakshamsaxena Sadly, this is not entirely fixed (See #2265 ) - we still need to resolve the issue with examples requesting data from remote services.

[2017-10-15 21:34] lmccart commented on #2266
This issue was moved to processing/p5.js-web-editor#453

[2017-10-15 21:34] #2266 closed

[2017-10-15 22:49] first-timers[bot] opened #2268 "fix typo in .checked() function"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2017-10-15 22:53] emalgamatedsoy commented on #2268
I claim this issue

[2017-10-16 07:16] MrFroggy84 commented on #2268
I claim this issue.

[2017-10-16 11:14] shiffman commented on #2208
Noting that these errors don't necessarily show up in the console of the web editor (we're doing loading data from APIs this week), I'm compiling some other similar misses and can file there. Let me know if I'm missing anything?

[2017-10-16 13:49] kwkowalski commented on #2268
I claim this issue!

[2017-10-16 14:50] csutaria commented on #2268
May I claim this issue as well?

[2017-10-16 14:54] taliacotton opened #2270 "Bug with saving complicated/large drawings"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [x] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-16 23:37] jon-0 commented on #2268
I also claim this issue!

[2017-10-17 01:21] inderpreetsingh opened #2271 "[very minor] [documentation] Missing link in development checklist"
I hope this is right place to report it. I wanted to start exploring development of p5 a bit and found a wrong link on home page for tutorials (which i fixed, yay!!!) but then on development page (https://github.com/processing/p5.js/wiki/Development) the link to development checklist is broken and I couldn't find the right link. Can anyone help?

#### Nature of issue?

- [x] Found a bug

#### Most

[2017-10-17 01:56] anthonyFeDev commented on #2268
I claim this issue

[2017-10-17 06:36] marconmbrito commented on #2268
I claim this issue

[2017-10-17 15:47] limzykenneth commented on #2271
I think it may have been removed but the wiki was not updated. There isn't really a checklist right now as far as I know, just lots of issues 😉

[2017-10-17 18:15] s-vang opened #2272 "Help! MouseIsPressed with multiple images"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [ x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [ ] Events
- [x ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devi

[2017-10-17 19:45] kjhollen commented on #1507
cool! thanks for this info... just making a note here that it should be possible to mix and match 2d and 3d, with bugs filed for specific lapses (for more details about missing 2D functions in 3D mode, see #2181, #2182, #2183, #2184, #2185, #2186, #2187) :)

[2017-10-17 19:48] kjhollen commented on #1843
just noting that the same solution here was posted in the comments for #1507. the normal canvas setup must do some initialization (maybe in each run of draw()?) that doesn't happen in createGraphics. so an initial resetMatrix should be added to the 3D Renderer code base somewhere...

[2017-10-17 20:00] kjhollen commented on #2252
@Siphonophora this is spot on. it might be worth doing a test to see if immediate mode (using beginShape + vertex + endShape) is now fast enough that we can use that for some of the 2D primitives. previously there had been a bug that made it very, very slow, but we resolved it over the summer. It might make some basic uses like this one faster!

[2017-10-17 20:11] kjhollen commented on #2226
thank you for taking on this work, @Siphonophora! I think it is worth opening separate issues/PRs for work items as they materialize (note that there are many open issues for missing 3D features already). let's leave this larger issue open for another week or so to see if anyone else would like to provide feedback, then we can close an open specific items for issues not covered in current open tic

[2017-10-17 20:13] lmccart commented on #2271
@limzykenneth is correct. I've just updated the wiki. thanks!

[2017-10-17 20:13] #2271 closed

[2017-10-17 20:13] lmccart commented on #2272
the github issues here are a good place for bugs and issues with the p5.js library itself. but for questions like this one, or others about writing your own code, tests, or following tutorials, the [forum](https://forum.processing.org/two/) is the best place to post. thanks!

[2017-10-17 20:13] #2272 closed

[2017-10-17 20:15] lmccart commented on #2268
thank you @MrFroggy84 @kwkowalski @csutaria @jon-0 @anthonyFeDev @marconmbrito but only one person can claim an issue. please look out for others labeled first-timers-only and jump in there. @emalgamatedsoy are you still interested in working on this?

[2017-10-18 11:01] tawez commented on #2215
I think that ES6 has a lot more to offer than classes.
- let/const with block scope
- array/object destructuring
- rest operator
- default values
- more builtin methods of Array, String -> less shims is needed
- last but not least - ES modules

All of this allows to write more readable and compact code.
Just need to add a bit of Babel and Webpack, and voilà ;-)

Well, sounds like a huge change, bu

[2017-10-18 21:33] modermo commented on #2247
I noticed this myself. Will using .min automatically set `disableFriendlyErrors` to `true`?

[2017-10-18 21:34] lmccart commented on #2247
@modermo yes

[2017-10-18 21:39] modermo commented on #2247
Awesome, thanks. I've noticed an enormous performance improvement from that alone.

[2017-10-18 21:43] Spongman commented on #2247
try this, also:
[code]

[2017-10-18 22:59] brysonian commented on #2215
Yes for sure, though this thread is specifically about *teaching* and official examples using ES2015 class syntax with p5, not about the p5 codebase itself.

[2017-10-19 01:44] mcmilo commented on #2268
May I claim this issue as well?

[2017-10-19 06:29] tawez commented on #2215
OK, got it ;)

So I would go with let/const for sure.
Global scope + var may be really annoying and missleading for newcomers.
What else?
Arrow functions, especially in a form:

(arg) => (arg * arg)

But don’t go and replace all of your named and anonymous functions with arrow functions ;)
Be wise, use them when it is suitable.

[2017-10-19 08:07] scls19fr opened #2273 "PWA (progressive web app) with p5s"
Hello,

I'm new to p5js (I'm not very experienced with web development)
My goal is to create an application that will be able to run offline on iOS and Android devices and look like a native app (or at least quite similar to a native app).
I was looking for [progressive web app](https://en.wikipedia.org/wiki/Progressive_web_app) example with p5s but I haven't been able to found one.
Maybe you can

[2017-10-20 05:34] lmccart commented on #2273
the github issues here are a good place for bugs and issues with the p5.js library itself. for questions about writing your own code, tests, or following tutorials, the [forum](https://forum.processing.org/two/) is the best place to post. thanks!

[2017-10-20 05:34] #2273 closed

[2017-10-20 07:19] SethGreylyn opened #2274 "Changing Stroke Mid-Curve Drawing Changes Entire Curve Colour"
#### Nature of issue?

- [x] Found a bug

#### Most appropriate sub-area of p5.js?

- [x] Color
- [X] Shape

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

I've been following the Coding Challenge videos, recreating the most interesting ones in P5; tonight I recreated the Lorenz Attractor, and I discovered that changing 'stroke' wh

[2017-10-20 07:33] igouz opened #2275 "can't get the property "event.scale" from android device when use method "touchMoved(event)."
can't get the property "event.scale" from android devices when use method "touchMoved(event).
but ios devices webview can get .
somebody can tell me the same property on android devices.
I'am so sorry ,My english is poor.

[2017-10-20 09:55] limzykenneth opened #2276 "doubleClicked() function not being called"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ ] Data
- [x] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-20 16:53] janschill opened #2278 "textWidth not implemented in WebGL mode"
#### Nature of issue?

- [X] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [X] Data
- [X] WebGL
- [X] Text

#### Which platform were you using when you encountered this?

- [X] Desktop/Laptop

#### Details about the bug:

- p5.js version: p5.js v0.5.16 October 11, 2017
- Web browser and version: Chrome - Version 62.0.3202.62 (

[2017-10-20 16:54] scls19fr commented on #2273
https://forum.processing.org/two/discussion/24657/progressive-web-app-pwa-and-p5js

[2017-10-20 16:57] meiamsome commented on #2278
Have you got the data/mi-module.txt file, perchance?

[2017-10-20 16:59] janschill commented on #2278
Of course

[mi-module.txt](https://github.com/processing/p5.js/files/1402717/mi-module.txt)

[2017-10-20 17:09] meiamsome commented on #2278
Ah, ok.

This just comes down to `textWidth` being unimplemented in WEBGL mode - probably to be implemented as part of #2183 when text functionality is added to WEBGL. Minimum reproduction is:
[code]

Sorry that this isn't in WEBGL mode yet - hopefully you can get the feature you need in another way

[2017-10-20 22:15] Zalastax commented on #2275
p5 is forwarding the [toucmove event](https://developer.mozilla.org/en-US/docs/Web/Events/touchmove) from Chrome which doesn't seem to have a scale property. Maybe you can simulate something using https://p5js.org/reference/#/p5/touches or combine p5 with http://hammerjs.github.io/?
Good luck!

[2017-10-21 04:49] igouz commented on #2275
tks a lot

[2017-10-21 05:44] vagita24 commented on #2268
Can I take this issue ?

[2017-10-21 08:44] lukas2005 commented on #2216
Here you go
https://1drv.ms/u/s!AocAtp8GO8YPoy6exjzdPogsiBpx

[2017-10-21 08:44] lukas2005 commented on #2216
PS i succeded to import this tsv file on processing with memory max set to 4 GB

[2017-10-21 09:25] cursorial opened #2280 "Regular polygon function needs implementing"
#### Nature of issue?

- [ ] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [X] Core
- [ ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch device

[2017-10-21 17:48] TheShashank commented on #583
Any news on Typings bindings for P5js?

[2017-10-22 07:54] shaunlebron opened #2283 "strokeWeight too thick in ortho camera"
The [`ortho()`](https://p5js.org/reference/#/p5/ortho) example page shows the following:

![ortho](https://user-images.githubusercontent.com/116838/31859644-2a202d00-b6d4-11e7-9d0b-8f149cb8ef87.gif)

[2017-10-22 17:24] Zalastax commented on #2274
I agree that it seems weird, but it's apparently expected behaviour. Quouting [@zaerl](https://github.com/processing/p5.js/issues/408#issuecomment-61503438):

I don't know if this should be considered a documentation issue, bug, or maybe even a new feature request. For the end user it sure is annoying so I think some solution should be provided, be it an example or new functions.

[2017-10-22 20:51] SethGreylyn commented on #2274
Thanks for looking into it! It seems to be a feature parity issue, since the logic is the same as in Processing, but the behaviour is different. (Using 'vertex()', which matches the method name in Processing, does not change the behaviour of P5 noticeably.)

I assume 100% feature parity was not the goal of P5.js, so perhaps it should documented.

[2017-10-23 00:44] lmccart commented on #2268
@mcmilo, I haven't heard from @emalgamatedsoy so I think you can pick up this issue. I will look out for your pull request.

[2017-10-23 03:03] modermo commented on #458
Where are we at with this? Was anything implemented?

I'm hoping to just be able to use SVGs in a sketch and control the fill color...

[2017-10-23 03:48] bmoren commented on #458
This is closed for now, as an alternative I suggest taking a look at http://paperjs.org/ which has maximum SVG functionality.

[2017-10-23 04:17] runemadsen commented on #458
As an alternative to Paper.js, I created Rune.js as a solution to this.  The API is close to P5.js, and it renders SVG's.

http://runemadsen.github.io/rune.js/

[2017-10-23 06:02] ronraisch opened #2285 "color in array"
#### Nature of issue?

- [x] Found a bug
- [ ] Existing feature enhancement
- [x] New feature request

#### Most appropriate sub-area of p5.js?

- [x] Color

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch devices)
- [x] Desktop/Laptop
- [ ] Others (specify if possible)

#### Details about the bug:

- p5.js version: < web editor >
- Web browser and version

[2017-10-23 08:25] ChristerNilsson opened #2286 "Shouldn't function nf round ?"
Example:

[code]

I expected 0.67, but got 0.66

[2017-10-23 08:34] ChristerNilsson opened #2287 "Suggestion: make nf round to tens, hundreds and so on."
[code]

[2017-10-23 09:08] #2275 closed

[2017-10-23 12:52] sosunnyproject opened #2288 "Is there a way you can delete DOM elements?"
Hello! It's my first time writing here, so I apologized in advance if this is the wrong place to write this. I will remove it quickly.
As far as I have tried, I can't find a way to delete DOM elements like
header = createElement('h2', 'title')
button = createButton('submit')
in sketch.js file.

Once they are created, they don't get removed by clear() or setup() functions. I tried to make customize

[2017-10-23 14:52] wjmoner opened #2289 "loadJSON in draw()?"
#### Nature of issue?

- [ x ] Found a bug
- [ ] Existing feature enhancement
- [ ] New feature request

#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] Core
- [ x ] Data
- [ ] Events
- [ ] Image
- [ ] IO
- [ ] Math
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Which platform were you using when you encountered this?

- [ ] Mobile/Tablet (touch de

[2017-10-23 15:06] shiffman opened #2290 "loadJSON() with array"
Working with students I noticed that when loading a JSON array with `loadJSON()`, the result is actually an "object" with numeric keys and no `.length` property. For example:

[code]

[code]

`data.length` returns `undefined` and the result is an object, not an array.

<img width="581" alt="screen shot 2017-10-23 at 11 06 02 am" src="https://user-images.githubusercontent.com/191758/31896604-337e4a