[2015-10-22 06:38] lmccart commented on #1022
yes that'd be great!

[2015-10-22 07:30] dhowe commented on #815
Any thoughts @lmccart @polyrhythmatic ?
Here's a test, in case anyone wants to give it a try:

[code]

[2015-10-22 11:23] b-g opened #1029 "lerpColor in colorMode(HSB)"
lerpColor() in colorMode(HSB) produces unexpected results.

Output p5.js (note the black rects in the 2nd row):
![screen shot 2015-10-22 at 13 11 23](https://cloud.githubusercontent.com/assets/480224/10663904/7725ae68-78bf-11e5-8457-22ff52c5294b.png)

Output processing 3:
![screen shot 2015-10-22 at 13 20 46](https://cloud.githubusercontent.com/assets/480224/10663959/bba7aee2-78bf-11e5-89ee-f373f7

[2015-10-23 20:23] shiffman opened #1031 "class() vs. addClass()"
I am having a deja vu moment here.  So apologies in advance if we already had this conversation. (I search old issues and read the reference this time!)   If I'm right the current behavior in p5.dom is as follows:

[code]

At the moment `class()` and `addClass()` are doing the same thing.  I am wondering if the `class()` function should wipe the existing classes and make that element a member of o

[2015-10-23 22:37] lmccart commented on #1028
sounds great

[2015-10-23 22:39] lmccart commented on #1031
this makes sense to me, I don't think there was a good reason for this except that it was created before we had addClass, so it was more often the case that you'd want to add a class vs overwrite.
but I agree now it makes sense to change the behavior to just set (overwrite) the class, I'll make this change.

[2015-10-23 22:41] #1031 closed

[2015-10-23 22:52] #1021 closed

[2015-10-23 23:05] lmccart commented on #1020
looking at the code, I can't see anything that seems wrong with the `time()` method, we're just setting the `currentTime` property of the underlying HTMLMediaElement (https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L1497).

there is some seek time involved with jumping to a time, you can actually track the parameter "seeking" to see if it is in the process of seeking. [this de

[2015-10-23 23:16] lmccart commented on #995
yes, `pixels()` and `loadPixels()` should be supported, this is a bug. I can add the `copy()` support in there as well.

[2015-10-23 23:49] shiffman commented on #1004
@lmccart I've reviewed this pull request and the behavior for `split()` and `splitTokens()` is correct.

[2015-10-23 23:50] shiffman commented on #1026
Ideally I'd like to mirror this functionality (if possible).

https://www.processing.org/reference/libraries/video/Movie_speed_.html

If this does not make sense in the web context, however, I am open to other ideas.

[2015-10-23 23:53] shiffman commented on #1020
Yes, I see what you mean.  That page is super helpful.  I think there may be an issue with attempting to scrub to points that haven't "loaded" yet.  I believe I could maybe add some more checks to an example.  I'll leave this open and self-assign to examine further, but agree there isn't a "bug" here with p5.

[2015-10-24 00:23] shiffman opened #1034 "loadPixels() failing on DOM elements if the element is hidden"
For example, this works:

[code]

But this produces an error:

[code]

<img width="676" alt="screen shot 2015-10-23 at 8 22 36 pm" src="https://cloud.githubusercontent.com/assets/191758/10707662/d7c5d0cc-79c3-11e5-8556-47bd2b299711.png">

Happy to investigate this.

[2015-10-24 06:15] DarkPrince304 commented on #1026
This would be nice too. But I was thinking what if the user needs to change the playback speed while watching the video. What do you think of a speed button similar to the play button?

[2015-10-24 16:16] indefinit commented on #1028
Thanks for this!

Sent from my mobile.

[2015-10-24 16:30] #1028 closed

[2015-10-25 02:18] v-k- opened #1035 "weird behaviour of pmouseX/Y combined with mouseX/Y"
This simple code produces the result in the image below.

    function setup() {
      createCanvas(windowWidth, windowHeight);
    }

    function mouseMoved() {
        if(pmouseX !=0){
        line(pmouseX, pmouseY, mouseX, mouseY);
        }
    }

    function windowResized() {
        resizeCanvas(windowWidth, windowHeight);
    }

There are a lot of lines ending in points where mouse never

[2015-10-25 11:27] limzykenneth commented on #1035
Can you describe the problem a bit more in detail? ie. what you are trying to achieve and what would be your expected result.

[2015-10-25 13:17] lmccart commented on #1004
closed with https://github.com/processing/p5.js/pull/1023

[2015-10-25 13:17] #1004 closed

[2015-10-25 13:19] #394 closed

[2015-10-25 13:24] lmccart commented on #815
indeed, this seems to be the issue. for example, if I change the code to an object it works:
[code]

I'll add this to the libraries wiki page.

[2015-10-25 13:54] dhowe commented on #815
I wonder if there is a workaround (I haven't come up with one as yet) -- its a shame to require libraries to potentially change their APIs to use preload()...

[2015-10-25 16:43] v-k- commented on #1035
Sorry, it seemed obvious to me when I was running the code.

I edited the 1st post with more info

You can run and see by yourself here. Just keep drawing it will happen. Click to erase.

http://kubrusly.com/pmouse_issue/

Can you see it?

thanks

[2015-10-25 18:18] limzykenneth commented on #1035
Thanks, I see what you mean now. It happens to me only very rarely. Are you able to reproduce it reliably?

I'll take a look at the source code and if I can figure out why it is happening I'll post it here.

[2015-10-25 20:25] joecridge commented on #1029
I’ll take a look at this in the next day or two.

[2015-10-25 20:27] lmccart commented on #1029
great, thanks!

[2015-10-25 20:51] joecridge opened #1036 "API glossary/index"
Feel free to close this if one already exists, but do we have a API cheatsheet [like this](https://github.com/processing/processing/blob/a83e4a5f81f4b1089a861127a831bbc0534678ab/core/api.txt) anywhere, or could we generate one in the same way we generate the online reference?

I feel like it would be useful for developers or users who know what functions do but can't quite remember their name or s

[2015-10-25 21:03] dhowe commented on #815
One other thing I notice is that external code will fail in preload() when a callback (for example, an error-handler) is passed as an argument -- which is different than the behavior of p5js' loadXXX functions. This is due to the absence of the following in the external code:
[code]
(these 3 lines are repeated in each of our loadXXX functions)
Again, not necessarily a problem, but a) we should pro

[2015-10-25 21:12] v-k- commented on #1035
Yes, pretty much. Some times it happens a LOT, almost every segment, sometimes they are rare... But always happen eventually.
tks

[2015-10-25 21:18] lmccart commented on #1036
all the functions are listed here: http://p5js.org/reference/
though they don't show the parameters until you click into the page.
if we did add a page like this, it would be best if it were auto-generated and auto-updated when the docs are updated. otherwise I worry it just adds another task to an already really long list of things to maintain.

[2015-10-25 21:21] lmccart commented on #1034
hm I'm not able to reproduce, can you confirm this breaks with the most recent src code in the repo?

[2015-10-25 21:23] v-k- commented on #1035
Humm  if I don't use `mouseMoved()` I can not reproduce this... so perhaps the synchronisation thing is with `mouseMoved()`...

http://kubrusly.com/pmouse_issue/index2.html

code:

  var lastX, lastY;
    function setup() {
      createCanvas(windowWidth, windowHeight);
    }

    function mouseMoved() {
        if(pmouseX !=0){
        line(pmouseX, pmouseY, mouseX, mouseY);
        }
    }

[2015-10-25 21:42] lmccart commented on #1022
closed with https://github.com/processing/p5.js/pull/1033

[2015-10-25 21:42] #1022 closed

[2015-10-25 21:56] lmccart commented on #1035
hey @v-k- I think this may have been due to a bug that involved when the pcoords were updated vs the normal mouse coords. however, it's difficult for me to confirm the fix since I'm having trouble reproducing on my machine. if you get a chance, could you try running the code with this new version I created and see if that fixes things?
http://cl.ly/code/2X1x2B0X2D21

[2015-10-25 21:58] lmccart commented on #972
I'm updating the title to reflect the fact that mouseX/Y === touchX/Y needs to be checked and probably fixed.

[2015-10-25 22:37] joecridge commented on #1036
Yeah, I was thinking of single resource that could be easily saved for offline use or to generate syntax highlighting rules, etc. If it's something that could be added as an additional task for the documentation parser that would be awesome, but if it's going to be more involved than that then it probably isn't worthwhile.

[2015-10-25 23:27] v-k- commented on #1035
Hello @lmccart. Yep. That seems to fix it. thanks. I did alternate both p5.js versions with the same code.

http://cl.ly/code/2X1x2B0X2D21 -> no issue

http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.17/p5.js  -> issue

[2015-10-25 23:30] lmccart commented on #1035
wonderful thanks for testing! it will be incorporated into the next release.

[2015-10-25 23:31] #1035 closed

[2015-10-25 23:34] v-k- commented on #1035
:)
glad to help.

[2015-10-26 02:38] shiffman commented on #1034
Hmmm, weird, yes I am still seeing this issue and just pulled and rebuilt the lib.  Let me try on a different machine tomorrow.

[2015-10-26 13:56] mjanssen opened #1037 "Enable draw(); on trigger"
Is it possible, when creating a new sketch with the following code:

[code]

to enable the draw function when something happened (user clicked on something e.g.). Currently there is a noLoop(); function which disables drawing, but still loops trough it one single time, which is causing problems within our application. We could work with an s.shouldDraw property, but is there an other 'cleaner' way

[2015-10-26 14:00] lmccart commented on #1037
I would create a boolean variable that wraps what is inside draw, then set that to true when you want to run draw. In general, this kind of question is better for the forum, the github issues are the place to post bugs found in the library. http://forum.processing.org/two/categories/p5-js

var doDraw = false;

function draw() {
  if (doDraw) {
    // do stuff
  }
}

[2015-10-26 14:00] #1037 closed

[2015-10-26 20:43] joecridge commented on #1029
The [documentation](http://p5js.org/reference/#/p5/lerpColor) for `lerpColor()` implies that interpolation is always done in the RGBA space. Should I change the documentation to match Processing 3, or the implementation to match the documentation (ie make `lerpColor()` `colorMode()` independent)?

[2015-10-27 03:46] Ucodia opened #1038 "p5.Renderer2D.get() partially handles overlapping and does not handle cropping"
There is 2 aspects to this issue but they are both tightly related, therefore I open a single issue for this.

* First of all there is an inconsistency on how `get(x, y, w, h)` lets you select a portion of the canvas.

In the case that the capture top/left coordinate (x/y) is inside the canvas but area overflows outside the right or bottom side, a non cropped `p5.Image` is returned. That is somewh

[2015-10-27 12:32] Ucodia commented on #1038
I realized that it is probably a bad idea to actually crop the area. It is non intuitive to return an area of a different size than what the user asked for. I am gonna close the issue and rework for a better approach to the initial problem.

[2015-10-27 12:32] #1038 closed

[2015-10-27 13:11] Ucodia opened #1040 "p5.Renderer2D.get() not working with bounds outside the top or left side of canvas"
Currently when we use `get(x, y, w, h)` to select a `p5.Image` that overlaps the canvas but has bounds outside the canvas, the selection is not treated consistently whether the bounds is outside the top/left sides or the bottom/right sides.

For example if we try to select this portion
![overlap2](https://cloud.githubusercontent.com/assets/1795860/10758817/fe3ce8ba-7cb3-11e5-9f88-9c3e2930db7d.png)

[2015-10-27 13:40] b-g commented on #1029
@joecridge, Many thanks for chasing this up!

I personally don't see a point why lerpColor() should just be used in RGBA space. Interpolating through HSB space is often handy to generate "rainbow color palettes" (think of heatmaps). IMO users coming from Processing will expect that lerpColor() delivers the same results, also in HSB space. BTW the [Processing lerpColor()](https://processing.org/ref

[2015-10-27 15:41] limzykenneth commented on #1038
I wonder if simply not allowing someone to select outside the canvas will be a good idea. So to implement will be just generating an friendly error message whenever someone tried to select outside the canvas. Thinking out loud here, maybe we could use your solution but generate a message to warn user of the different sizes.

[2015-10-27 18:43] Ucodia commented on #1038
Sorry @limzykenneth I did close this issue early because I realized that cropping did not make much sense. Therefore I reworked the issue with a different and simpler approach: https://github.com/processing/p5.js/issues/1040. Let's move the discussion there.

[2015-10-27 18:50] joecridge commented on #1029
That makes sense to me.

[2015-10-27 18:59] antiboredom opened #1042 "mouseIsPressed returns true after release"
mouseIsPressed will continue to return true if the user has clicked and dragged over an image.

[code]

[2015-10-28 01:17] shiffman opened #1043 "Using non-default camera with createVideo(CAPTURE)"
The need to use a different camera with `createVideo(CAPTURE)` has come up several times this semester.  @lmccart posted an example for how to do so here:

https://github.com/ITPNYU/ICM-2015/blob/master/09_video_sound/02_capture/13_get_sources/sketch.js

I'm wondering if we should wrap this functionality and possibly make it more generic to sync with p5.sound and `p5.AudioIn`?

Something like:

[c

[2015-10-28 01:19] shiffman opened #1044 "mask() and <img> or <video>"
This may ultimately just be a need for an example involving copying into a `p5.Image` object, but currently the `mask()` function I believe is not compatible with a video or img DOM element.  So this is really a note to self for me to investigate this at some point and see what is possible.

[2015-10-28 01:26] lmccart commented on #1043
I think this could be a good idea, however, I worry about going down a rabbit hole here. We support the optional constraints object in which you can specify sourceId as well as [a lot of other properties](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia). I wonder if we wrap the camera source function if we'd also then be fielding requests to wrap a lot of other functiona

[2015-10-28 01:36] shiffman commented on #1043
Yes, thanks for the response, I'm now leaning towards avoiding the rabbit hole.  My post was prompted by seeing the additional complexity of passing in this constraints object over, say, how `new Capture()` and `Capture.list()` work with Processing.  But this idea of a "options" object is ultimately how things in JS work and and so this is possibly a good time for p5 users to dig a little deeper a

[2015-10-28 01:36] #1043 closed

[2015-10-28 15:54] lmccart commented on #1043
yeah, let's play it by ear for a bit and revisit this later. it may make sense to align with the functionality of Processing, and maybe that's where we draw the line...

I do like that mixing in these bits of the underlying JS feels like a way to make the transition from p5.js to other libraries or native JS more seamless.

[2015-10-28 19:09] #999 closed

[2015-10-28 21:21] lmccart commented on #1040
fixed with https://github.com/processing/p5.js/pull/1041

[2015-10-28 21:21] #1040 closed

[2015-10-28 21:25] lmccart commented on #1029
I recall some discussion of this from the conference this summer. @sarahgp I believe you worked on this and I thought I remembered you had a good reason why it converts to RGB first, can you elaborate?

[2015-10-28 21:33] lmccart commented on #1042
I guess the fix is to add listeners for 'dragover' and 'dragleave' to fire the same events as 'mousemoved' and 'mouseup'
http://stackoverflow.com/questions/10103298/detecting-the-current-state-of-a-mouse-in-javascript-or-jquery-i-e-wheather-its

[2015-10-28 21:57] joecridge commented on #1029
I think the code has been changed since the documentation was written because there currently is no conversion to RGB or gamma correction in the implementation.

[2015-10-28 21:59] lmccart commented on #1029
ah ok, then I think it makes sense to match Processing 3 and update the documentation. and to look into a fix to correctly reproduce results from Processing 3 in HSB mode.

[2015-10-28 22:07] joecridge commented on #1029
Okay :). The HSB issue is caused by assuming the internal RGB values are still 0-255 after the utility functions have converted them (which actually makes them 0-1). It looks like a few of the colour functions make assumptions like that (and don't take into account custom maximums either) so I'm currently passing through the whole module to make everything consistent.

[2015-10-29 02:13] b-g commented on #1029
Great! 👍

[2015-10-29 15:06] sarahgp commented on #1029
Everything was converting to RGB because that value was necessary to pass to the canvas element. When @xyfeng updated the color conversion, he normalized everything from 0 to 1, so I imagine this bug is now an artifact of that change. All of which is to say, this update appears to be on the right track. :smile_cat:

[2015-10-30 03:24] toolness commented on #974
Are you still experiencing this bug? The [`set()` documentation](http://p5js.org/reference/#/p5/set) seems to look fine for me on Firefox 41.0.2 on Windows 10. I looked at the release notes for 41.0.2, though, and it seems the only thing different between your version and mine is the fixing of a security vulnerability, so I'm hesitant to say that this was somehow fixed by the latest version of Fir

[2015-10-30 11:21] golanlevin opened #1048 "Sketches in 0.4.17 running much slower than 0.4.9 when using images"
Sketches linked to 0.4.17 run much slower (like 100x slower) in the browser when loading/displaying images, compared to performance in 0.4.9.

[2015-10-30 12:30] nlooije commented on #974
Yes, I am still experiencing this bug even in Firefox 41.0.2.
Weird thing is that the first two examples render incorrectly, while the
third seems to work fine.
I can see the image with a black cross through it.

On Fri, Oct 30, 2015 at 4:24 AM, Atul Varma <notifications@github.com>
wrote:

--
Met vriendelijke groeten / Regards,
Niels Looije

[2015-10-30 12:37] toolness commented on #1034
For what it's worth, I'm able to reproduce this error on Chrome 48.0.2550.0 canary (64-bit) on Windows 10, as of the current master (3e3ba6beae711afaac847f420bfcc1230b16fc6c).

[2015-10-30 15:25] reyyed opened #1050 "0 Alpha value in HSB color mode"
I'm currently using p5.js v0.4.17.

Assigning an alpha value of 0 to a color variable in HSB colorMode returns a color with maximum alpha (which is 1 in the example below).

[code]

[2015-10-30 18:17] joecridge commented on #1050
Good spot, will send a PR with a fix for this shortly.

[2015-10-30 18:24] Jared-Sprague commented on #1048
There have been a lot of releases since 0.4.9.  Can you narrow it down to which release caused the performance drop?

[2015-10-30 18:46] golanlevin commented on #1048
Reasonable request. That will take a bit of testing, I'll get to it this weekend.
Thanks!

[2015-10-30 21:40] toolness commented on #974
Hmm, so looking at the [source code for `set()`](https://github.com/processing/p5.js/blob/0e304e1797f742163a4740ce5aab9a144c502658/src/core/p5.Renderer2D.js#L276-L335), it seems understandable that the third example would render okay, because it's ultimately running a separate branch of code that just delegates to [`canvas.drawImage()`](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRender

[2015-10-30 21:58] toolness commented on #974
Erm, for that matter, what happens when you `console.log(window.devicePixelRatio)`?

I did a bit of web sleuthing and found [Firefox bug 809788](https://bugzilla.mozilla.org/show_bug.cgi?id=809788), which actually says that `window.devicePixelRatio` (which p5's `pixelDensity` is based on) *changes* when the user zooms the page using Ctrl-+/-!  Not only that, but it changes to non-integer values...

[2015-10-30 22:33] toolness commented on #974
I think I've got a fix! Fortunately, p5 is dealing with hidpi displays in a nice way, it just seems to assume that the device pixel ratio is an integer, which isn't necessarily the case in Firefox. I submitted PR #1052 which attempts to fix the problem, and it seems to work on my system--I can zoom the page in or out as much as I want, and I no longer see anything like the screenshot in this issue

[2015-10-31 07:55] xyfeng commented on #1029
@joecridge Thanks so much for tidying up and fixing my messy code. When I added the HSB support for lerpColor, I haven't normalized everything from 0 to 1. After I refactor the color classes and adding testing units, I totally forgot about the normalization will affect lerpColor.

Anyway, all your changes look great, make sense to me. One small thing, when you rename the file name from 'color_util

[2015-10-31 12:18] toolness commented on #1002
So a funky thing I noticed is that `pixelDensity` is actually currently defined in [`core.js`](https://github.com/processing/p5.js/blob/fff661eaf5ee7f1711f3dfc11ab9bd074383ba87/src/core/core.js#L147) under a section commented as "PRIVATE p5 PROPERTIES AND METHODS". Which suggests it's private, and not meant to be publicly documented. *However*, it's also the only property defined in that area that

[2015-10-31 12:58] nlooije commented on #974
When I run console.log(window.devicePixelRatio)in Firefox at default zoom
(100%) it return 1.25 so you are correct that it doesn't return integer
values. Applying your patch to my local version of p5 indeed fixes the
problem. thx

On Fri, Oct 30, 2015 at 11:34 PM, Atul Varma <notifications@github.com>
wrote:

--
Met vriendelijke groeten / Regards,
Niels Looije

[2015-10-31 13:52] lmccart commented on #1002
thanks for looking into this! I think what happened was `pixelDensity` used to be `_pixelDensity` and it was private, but we later realized it is useful to have access to this when doing things like accessing the `pixels` array directly. let me take a closer look and work on this one. two possible solutions I can think of are to remove `devicePixelScaling()` and just let people set `pixelDensity`

[2015-10-31 15:43] #974 closed

[2015-10-31 17:17] joecridge commented on #1029
No worries, I actually found it really interesting to work through :smiley:. Yeah I didn’t really think about that, I’ve made a note of it in the pull request.

[2015-10-31 20:37] indefinit opened #1055 "development style convention for one Object split across multiple files?"
Does anyone know if there's a development style convention for documenting and splitting an object across multiple .js files (maybe specific to Browserify)?  I'm doing some cleanup of Retained/Immediate mode in WEBGL and would love to improve the readability a bit.  For example, right now we have the js object, p5.Renderer3D. Its methods are defined in the following js files:
p5.Renderer3D.js, ret

[2015-10-31 21:49] indefinit commented on #1009
Sorry for the delay on this.  I found the bug but the fix is part of a larger upcoming refactor.  Will keep you posted.

[2015-10-31 22:51] indefinit opened #1056 "RFC: Geometry3D refactor"
While patching #1009 and paving the way for #904, I found that Geometry3D could benefit from a refactor.  As such, I wanted to post my thinking here, and request feedback in case anyone has a strong opinion, either for or against the refactor.

Currently, when a user calls ```sphere()``` the geometry and buffers are created and added to respective hash tables.  This is what we've labeled "retained

[2015-10-31 23:19] xesign opened #1057 "p5.js"
hello. how can assign a slider for example to change the value of a variable?
so that the user can change for example the direction or speed of an ellipse?
thank you

[2015-11-01 09:55] limzykenneth commented on #1057
I don't have a short answer for that but I'll direct you to [a tutorial](https://www.youtube.com/watch?v=ZEy0_NLhdSE) by Daniel @shiffman himself explaining what might be useful for you. Do check out the previous videos if that one seems a bit confusing.

Ultimately, I think this is a question for the [forum](https://forum.processing.org/two/categories/p5-js). The github issue tracker is more of a

[2015-11-01 09:58] limzykenneth commented on #1057
I don't have a short answer for that but I'll direct you to [a tutorial](https://www.youtube.com/watch?v=ZEy0_NLhdSE) by Daniel @shiffman himself explaining what might be useful for you. Do check out the previous videos if that one seems a bit confusing.

Ultimately, I think this is a question for the [forum](https://forum.processing.org/two/categories/p5-js). The github issue tracker is more of a

[2015-11-01 11:14] dhowe opened #1058 "Fill specified after drawing commands is ignored."
Appears a fill() specified after drawing commands in draw() is ignored. Example below (v0.4.17)...

[code]
p5js:
![screen shot 2015-11-01 at 7 18 14 pm](https://cloud.githubusercontent.com/assets/737638/10868602/5fafab74-80cd-11e5-88a1-001a050885db.png)

Processing:
![screen shot 2015-11-01 at 7 16 06 pm](https://cloud.githubusercontent.com/assets/737638/10868599/5978b2b4-80cd-11e5-9f77-aaef7821ae

[2015-11-01 14:11] lmccart commented on #1058
ah yes, so here's what's happening with this one.
in processing, the matrix is reset at the end of draw, so transformations don't accumulate over draw calls. essentially it's the equivalent of `push/popMatrix()` wrapping draw.

in p5.js there's not a separation of `push/popMatrix()` and `push/popStyle()`, there's just `push/pop()`. so the draw loop is wrapped in `push/pop()` and the fill and other

[2015-11-01 14:11] lmccart commented on #1057
thanks @limzykenneth!

[2015-11-01 14:11] #1057 closed

[2015-11-01 20:48] paperkettle commented on #1044
+1
found this today trying to mask a video using creategraphics
then tried video with a png mask and that didn't work either
png masking a png worked tho

major power in the potential of creategraphics masks, and maskable video..!

[2015-11-01 21:19] alijaffar opened #1060 "Examples - p5.js not included in /lib"
I added p5.js and it resolved this issue for me, when I was going through the demos. I think it may help others who are new to p5 also. Awesome work, guys.

[2015-11-01 21:23] lmccart commented on #1060
the examples in the repo are intended only for testing, as a complement to the automated unit tests. examples for learning are posted herep5js.org/examples/.

[2015-11-01 21:23] #1060 closed

[2015-11-01 21:26] lmccart commented on #1060
this makes me think, perhaps we should move this examples folder inside the test/ directory, to reduce confusion. will make this change on the next push.

[2015-11-01 21:37] alijaffar commented on #1060
Good thinking, thanks for the clarity.

[2015-11-02 04:06] codeanticode commented on #1056
I think it makes sense to unify the underlying handling of 2D and 3D geometry. So this means that objects generated with begin/endShape() will still be drawn in immediate mode?

[2015-11-02 12:34] toolness opened #1061 "Unit test suite for p5.dom?"
While working on #1047 and #1049 I noticed that there don't seem to be any unit tests for p5.dom--am I correct, or did I miss it somewhere?

If there is indeed no test suite for p5.dom, would you accept a PR for one?

[2015-11-02 12:44] mjanssen opened #1062 "Removing a sketch on safari and Firefox issues"
When removing a sketch on the Safari browser, an issue is logged in the console which crashes the application. The logged error is
`InvalidStateError: DOM Exception 11: An attempt was made to use an object that is not, or is no longer, usable.`

On Firefox, there is an error logged which states
`TypeError: Not enough arguments to EventTarget.removeEventListener.`

On Chrome, everything works as it

[2015-11-02 13:15] lmccart commented on #1061
hi @toolness, yes, we would definitely accept one! there are guidelines here on how to add tests: https://github.com/processing/p5.js/wiki/Development#testing

[2015-11-02 18:10] crhallberg opened #1063 "SoundFile duration or currentTime incorrect"
v0.4.17 - currentTime() doesn't exceed 92% of duration().

In the picture below, next to each waveform: track.duration(), the maximum track.currentTime() after playing twice, and the ration of maxTime/duration.

![tracks](https://cloud.githubusercontent.com/assets/451107/10889726/98346d9c-8161-11e5-8a59-1c1044c0fe1c.png)

I discovered this bug playing around with sound recording: if I use currentT

[2015-11-02 19:23] toolness commented on #1062
I think that the Firefox error may have just been fixed by #1054, possibly?

[2015-11-02 19:41] toolness commented on #1062
Yep, #1054 fixed it--just ran the codepen example, but replaced its p5 with the latest master as of 00782f4f06e7f1725a6cdab535a04d2938e00bea, and it works fine on Firefox. Also saw the traceback on a pre-#1054 revision of p5 and confirmed that the crash occurs where the changes in #1054 were made.

Not sure if the bug is still present on Safari or not, though.

[2015-11-02 19:43] therewasaguy commented on #1063
@crhallberg thanks for the detailed bug report and test.

``SoundFile.currentTime()`` goes back to zero once it reaches the max time. And currentTime can only be called during draw(). So it makes sense that there would be a difference between the highest currentTime you can read during the draw loop, and the actual maximum time (duration) of the file. The red line appears to be less accurate—when

[2015-11-02 19:43] #1063 closed

[2015-11-02 20:39] camerenisonfire opened #1064 "Background Alpha value broken for WEBGL canvas"
I am currently using p5.js v0.4.17

[code]
Just makes a black background. Adjusting the alpha value for background has no effect with WEBGL is enabled. This is not an issue when WEBGL is not enabled.

I need to make the canvas transparent as it is over-layed on top of another element. Is there some other way to achieve a clear canvas with WEBGL on?

[2015-11-02 21:15] indefinit commented on #1064
Thanks for this.  Found the bug.  Renderer3D was defaulting to alpha: false.  Setting this to true enables the alpha value in glClear.  I have a quick patch I'm submitting now.

[2015-11-02 21:36] indefinit commented on #1056
@codeanticode yes, begin/endShape will still utilize immediate mode, but default primitives (2D and 3D) will otherwise use retainedMode.

[2015-11-02 22:02] mjanssen commented on #1062
The issue still persists on Safari (with the [#1059](https://github.com/processing/p5.js/pull/1059) pull). Firefox seems to be functional.

[2015-11-02 23:19] toolness opened #1067 "Push latest master p5.js to S3 on travis success?"
I was recently contacted by @mjanssen asking how I was able to obtain a latest master build of p5.js when debugging https://github.com/processing/p5.js/issues/1062#issuecomment-153135690. I was able to do it by following the [development setup instructions](https://github.com/processing/p5.js/wiki/Development#setup), but it might be useful for people to be able to try out the latest master without

[2015-11-03 00:48] #1064 closed

[2015-11-03 01:21] toolness commented on #1062
Hmm, so the Safari crash seems to be coming from p5.sound.js, and I'm not familiar enough with that library or the Web Audio API to debug it very easily.

However, I did notice that the DOM exception only seems to be raised if one of the sound files is actually *playing* at the time that the sketch is removed. This can be shown by either waiting a few seconds between each click, or commenting-out

[2015-11-03 04:13] karenpeng commented on #904
Hi @mindofmatthew!
Actually there're both face normals and vertex normals for each geometry. Just face normal is being used for the lighting so you might not know.
You could access p5.Geometry3D by creating an instance, so that you could have all the functionalities like [generating vertex normals](https://github.com/processing/p5.js/blob/master/src%2F3d%2Fp5.Geometry3D.js#L83) and [face normals](

[2015-11-03 04:18] lmccart commented on #1062
thanks for looking into this @toolness! pinging @therewasaguy here... i have some time to look into this more closely later this week and determine if it is an issue with p5.sound, but in case you want to check it out before then.

[2015-11-03 04:30] karenpeng commented on #1056
Upvote for unifying 2D and 3D primitives. They work in similar ways and have similar use case. Actually I've been thinking instead of drawing a line, draw a tube geometry, in this way we have better control with the stroke width.

[2015-11-03 04:52] sunwangshu opened #1068 "usable delay() function in p5"
I found this piece of code here: http://stackoverflow.com/a/24488671/4539578

It worked all fine in my p5 sketch, and since I use Arduino a lot, I find this delay() function really in need whenever I think about animation and so on.

function delay(ms) {
    var cur_d = new Date();
    var cur_ticks = cur_d.getTime();
    var ms_passed = 0;
    while(ms_passed < ms) {
        var d = new Date();

[2015-11-03 12:04] limzykenneth commented on #1068
I'm not sure if having a built in blocking delay function would be necessary for the API, kinda defeat the purpose of asynchronicity in javascript. For arduino there is the p5bots library which in turn uses Firmata (I feel that is itself a bit troublesome to set up though). I'm not sure how you will be using the `delay()` function so I might be wrong. ; )

[2015-11-03 12:21] toolness commented on #800
I'm very new to this conversation, so this may have been mentioned already, but I think it's worth looking at what lightweight alternatives to jQuery are doing. For instance, [Zepto](http://zeptojs.com/) largely relies on [`document.querySelectorAll()`](http://caniuse.com/#feat=queryselector) to do the heavy lifting, and consequently its jQuery-compatible selector engine weighs in at only 85 lines

[2015-11-03 12:44] toolness opened #1070 "Unit tests fail on non-PhantomJS browsers"
The [Running tests in the browser](https://github.com/processing/p5.js/wiki/Development#running-tests-in-the-browser) section of the development guide seems to imply that unit tests should work out-of-the-box, but I'm finding on 9f2d6e01724c48c8166c73368855c303a47e7834 that:

* Chrome 46.0.2490.80, Opera, and IE Edge fail on the same 3 tests
* Safar 9.0.1 fails the same tests as Chrome/Opera/IE bu

[2015-11-03 13:21] pbogdan03 opened #1071 "WEBGL mode beginShape() - only works with 3 vertices"

[2015-11-03 13:25] lmccart commented on #1071
@pbogdan03 can you elaborate a bit? could you include a bit of sample code that illustrates the issue?

[2015-11-03 13:25] lmccart commented on #1070
please go for it!

[2015-11-03 13:36] pbogdan03 commented on #1071
Hello @lmccart,

It's simply the function beginShape() in

[code]
doesn't display a square, it stops after the first 3 vertices and displays a triangle.

Any insight?

[2015-11-03 17:01] fredericpierron opened #1072 "Array / Object / Json"
Object in array can not be accessed.

[code]
Here's the Json

[code]

The problem is here:
[code]
It should be possible to access to any value of the object by using:
[code]
or
[code]
In both cases, I get an error
[code]

[2015-11-03 17:04] lmccart commented on #1072
looking quickly, this line should probably be < instead of <=.
`for (i=0; i<=reserve.length; i++){`

code questions like these are better for the [forum](forum.processing.org/two/categories/p5-js), the github issues are just for bugs with the library.

[2015-11-03 17:04] #1072 closed

[2015-11-03 17:11] fredericpierron commented on #1072
Ok, sorry, but why it does not raise an error as it goes further than the length value ? The error string that appears is not the right one (in my humble understanding). It should raise an "undefined" message, like in console.

[2015-11-03 17:14] lmccart commented on #1072
confusing, I know, but this is just the way that javascript behaves. and this is not p5 error reporting, but javascript itself. the clue is that it says "cannot read property 'montant' of undefined", telling you that the object you are trying to access the property montant of is undefined / nonexisting, so a starting place would be to go back and try to figure out why this is.

[2015-11-03 17:15] fredericpierron commented on #1072
Ok, I will try to think like a javascripted program ;)

[2015-11-03 17:16] lmccart commented on #1072
also, this tutorial might be helpful for more general strategies for debugging:
p5js.org/tutorials/debugging/

[2015-11-03 19:53] therewasaguy commented on #1062
This looks like an issue with p5.sound, I'll try to fix later today.

[2015-11-03 20:16] #1062 closed

[2015-11-04 00:08] crhallberg commented on #1063
Thank you for the detailed response! Shall I answer your questions here or in a new issue over at p5-sound?

[2015-11-04 02:39] shiffman commented on #1002
I'm not sure to what extent this is helpful but I wonder if aligning a bit with the Processing API might work well here.  For example we could have:

[code]

And so the equivalent of `devicePixelScaling(false)` would be:

[code]

and the following would always set the density to whatever the display actually is:

[code]

[2015-11-04 03:39] bmoren opened #1074 "How to use preload() when writing an external library with async functions"
I'm trying to write a function that can be used in preload() to return data without using a callback, similar to how loadJSON works.

for example:

[code]

The above code will return `false` when used in preload() like this:

[code]

I was looking through the source code for p5 and couldn't understand how you are doing this with the `load` methods, like loadJSON and loadXML. I would like to replic

[2015-11-04 03:44] lmccart commented on #1074
i believe this has to do with the immutability of boolean vars. all of the load methods in p5 return an object that is later modified, so the pointer to the original object remains intact.
seems like the same issue is described here: https://github.com/processing/p5.js/issues/815#issuecomment-150131420.

this should be better documented, sorry.

[2015-11-04 04:09] bmoren commented on #1074
this worked! Its true, don't rewrite the data, just update it!

[2015-11-04 04:09] #1074 closed

[2015-11-04 04:20] bmoren commented on #1074
[code]

[2015-11-04 04:29] bmoren commented on #1074
Added example to the Libraries Wiki page

[2015-11-04 07:15] therewasaguy commented on #1063
At p5-sound would be best, and you can link to this issue from there. Thanks, @crhallberg!

[2015-11-04 11:39] lmccart commented on #1074
thank you!

[2015-11-04 18:52] indefinit commented on #1071
@pbogdan03 does this code work?

[code]

The default webgl mode of beginShape is TRIANGLES so it needs multiples of 3 vertices to produce an accurate shape.  I'm currently working on a geometry primitives refactor which will clear up some of the issues around 2D drawing in webgl.

[2015-11-04 18:57] indefinit opened #1075 "p5.DOM documentation: add reminder to include dom library"
I always find myself falling for this, and am not sure if others do as well.  Is there a way we can remind users they must include the DOM library if they want to use DOM functions?  I know we have this written in the tutorials but it would be great if there could be 1 or 2 sentences on each docs page with something like this:

[code]

[2015-11-04 20:48] Diex commented on #1009
nice !

On Sat, Oct 31, 2015 at 6:49 PM, Kevin Siwoff <notifications@github.com>
wrote:

[2015-11-05 14:15] toolness commented on #1075
Good suggestion! I noticed #645 is about migrating p5.DOM into the core, though, so perhaps doing that sooner rather than later is another alternative?

[2015-11-05 15:18] #1070 closed

[2015-11-06 04:05] suhailsulu opened #1078 "image.width and image.height gives same value for a rectangular image while making it as a texture for a plane"

[2015-11-06 17:12] #933 closed

[2015-11-06 17:30] #1034 closed

[2015-11-06 17:42] shiffman opened #1079 "p5.MediaElement size()"
Filing an issue @lmccart and I just talked about related to #1022.   We adjusted the associated canvas size when calling `loadPixels()` so that the pixel array would match the DOM element size.  I'm noticing users confused even when just calling `image()` to draw the image to the canvas that the size doesn't match what is set with `size()`.

[2015-11-06 17:45] lmccart commented on #1003
closed with https://github.com/processing/p5.js/pull/1030

[2015-11-06 17:45] #1003 closed

[2015-11-06 18:10] lmccart commented on #1078
thanks, could you a little sample code that illustrates the issue, for testing?

[2015-11-06 19:00] DarkPrince304 commented on #1020
Do you plan to add a scrubbing feature to any video element that is added to the canvas using the `createVideo()` function?

So that whenever a user creates a `video` using `createVideo()` then a scrubbing feature will already be there in it?

[2015-11-06 19:53] lmccart commented on #1075
regarding #645 we've decided to hold off just a bit on that to make sure we give p5.dom the space to be experimental with the API... we will merge it in when we feel the API is a little more tested and stable.
in the meantime, I agree this documentation addition would be useful. I'm going to look into adding a task to the doc generation that automatically adds this so we don't have to manually add

[2015-11-06 22:40] shiffman commented on #1020
Here is an example that I am using to test:

https://github.com/processing/p5.js/pull/1082

The idea is for this to work more smoothly, currently it's a bit jerky and I'm not able to smoothly scrub.  Again, this is likely due to how HTMLMediaElement works and not a p5 bug.  Some clues for now to better handle/think about this are [may be found here](http://www.w3.org/2010/05/video/mediaevents.html

[2015-11-07 11:36] toolness opened #1083 "Documentation on soundFormats browser support may be inaccurate"
The [soundFormats example page](http://p5js.org/examples/examples/Sound_soundFormats.php) opens with:

However, this doesn't actually seem to be the case any longer, [according to caniuse.com](http://caniuse.com/#feat=mp3). I confirmed this by removing the `'ogg'` argument from the call to `soundFormats()` in the example and everything still works on Firefox and Opera.

That said, the mp3 format *

[2015-11-07 22:31] lmccart commented on #1083
great suggestion. would you like to submit a pull request with this change? the examples text is contained in this repo: https://github.com/lmccart/p5.js-website in the folder /examples/examples_src

[2015-11-07 22:48] toolness commented on #1083
Sure, I will write something up and send a PR! Sorry I didn't file this one in the proper repo.

[2015-11-07 22:52] lmccart commented on #1083
thanks! and no worries :)

[2015-11-08 02:09] #985 closed

[2015-11-08 02:09] futuremarc commented on #985
closed via #1081

[2015-11-08 02:16] futuremarc opened #1084 "p5.Element.child() should return the children elements if no arguments provided?"
Similar to parent() with no args. thoughts?

[2015-11-08 02:23] lmccart commented on #1084
seems reasonable

[2015-11-08 03:07] lmccart commented on #1068
hey @sunwangshu I image this could be helpful in some cases. in others, as @limzykenneth mentions, it might be preferable to follow the patterns of javascript. I'd suggest posting it in the [forum](forum.processing.org/two/categories/p5-js) in case others are searching for something similar. thanks again for posting!

[2015-11-08 03:07] #1068 closed

[2015-11-08 03:09] lmccart commented on #1067
I'd be into this as long as it didn't add any additional manual tasks, and it sounds like it doesn't. my only concern is the possibility of unofficial, not fully tested releases floating around with the same version number but different code as the previous ones. is it possible to append something to the beginning of the file that makes it clear it's a nightly and not an actual release that should

[2015-11-08 03:10] lmccart commented on #1048
hi @golanlevin, if you can post some simple sample code that illustrates the issue when switching p5 versions, I can have a look.

[2015-11-08 03:12] #1061 closed

[2015-11-08 03:18] lmccart commented on #1002
yep love it, @reas suggested the same thing, will make the change and add documentation.

[2015-11-08 03:25] sunwangshu commented on #1068
Got that. Thanks!

[2015-11-08 03:40] #1002 closed

[2015-11-08 03:43] lmccart commented on #1010
@indefinit it's been a while, so if we can't reproduce I think it's fine to close this. it can always be reopened later if there's sample code or clarification.

[2015-11-08 03:43] forresto opened #1085 "createFileInput throwing in Firefox"
Doing the most basic `createFileInput()` is erroring out in Firefox 42.

[code]

Test: http://jsbin.com/pelehoh/edit?html,js,output (blank in ff, works in Chrome)

[2015-11-08 03:47] #1042 closed

[2015-11-08 03:51] indefinit commented on #1010
I haven't been able to reproduce a bug, so good to close. Thanks

[2015-11-08 03:51] #1010 closed

[2015-11-08 03:53] #1085 closed

[2015-11-08 04:03] lmccart commented on #798
I believe this was fixed to a reasonable extent (as @kjhollen describes above), with this here: https://github.com/processing/p5.js/pull/1052.

[2015-11-08 04:03] #798 closed

[2015-11-08 04:07] golanlevin commented on #1048
Yes, have been traveling and meaning to do this, sorry for the delay...

[2015-11-08 04:29] kjhollen commented on #798
Rad! Thanks @toolness :)

[2015-11-08 04:33] forresto commented on #1085
:boom:

[2015-11-08 05:00] molleindustria opened #1086 "Is get(x,y) broken?"
(I thought I posted this before but I can't find my previous issue)

Get, when used to retrieve one color at the coordinate x,y, doesn't seem to work anymore.
The example in the reference doesn't work:
http://p5js.org/reference/#/p5/get

It throws errors like:
13480: Uncaught TypeError: Cannot read property '0' of undefined

The undefined object is the pixels array
this.pixels[pd*4*(y*this.width+x

[2015-11-08 13:23] #1083 closed

[2015-11-08 13:40] limzykenneth commented on #1086
Can you post what browsers and OS you are using? At least the examples are working on my side. Cheers.

[2015-11-08 13:59] toolness commented on #798
No problem @kjhollen, glad I could help!

[2015-11-08 14:01] molleindustria commented on #1086
The second example here always outputs a white square on Chrome
http://p5js.org/reference/#/p5/get

and a blank canvas on Firefox.

When tested locally the console error is something like:
13480: Uncaught TypeError: Cannot read property '36200' of undefined

I'm on a non-retina MacBookPro (pixelDensity = 1). Interestingly on my iPhone 5 the example works. On Android (Samsung Galaxy 5) it looks lik

[2015-11-08 14:03] lmccart commented on #1086
hm I don't think the new device scaling fixes are up on the website yet, it should be the latest release that is also running the examples on site. I can take a look at this.

[2015-11-08 14:13] molleindustria commented on #1086
Oh wait, the problem is scaling here too. If I open the window at 100% zoom everything works! I'm guessing it's very similar to the set() issue that was closed last night.

[2015-11-08 14:17] lmccart commented on #1086
ah if it's related to scaling, it may have been fixed with the set patch. I'll post a new version tomorrow and ask you to check again then to see if it fixes things. :)

[2015-11-08 14:23] shiffman opened #1087 "tint() and p5.MediaElement not working?"
With the following sketch, I'm getting the image tinted, but not the video capture.

[code]

[2015-11-08 19:47] shiffman commented on #1002
Yay!

[2015-11-08 20:03] shiffman commented on #1084
Indeed.  It's a little bit confusing b/c "child" is singular and will return an array, but I think adding an entire extra method called `children()` is worse, so let's do it!

[2015-11-08 21:27] lmccart commented on #952
closed with https://github.com/processing/p5.js/pull/1024

[2015-11-08 21:27] #952 closed

[2015-11-08 22:39] #1029 closed

[2015-11-08 22:39] #1050 closed

[2015-11-09 12:47] toolness commented on #1067
Yeah, that is a good idea, and definitely doable! We could even embed the current commit hash in there so the reader knows exactly what it's based on.

[2015-11-09 13:43] pbogdan03 commented on #1071
Hi @indefinit,
No, it doesn't seem to work, still renders only the first 3 vertices, I've tried using 6 vertices but still the same problem occurs.

[2015-11-09 13:48] pbogdan03 opened #1090 "beginShape() with multiple fill values"
I cannot seem to replicate the following Processing behaviour in p5.js, is there any specific reason for this?
[code]

[2015-11-09 16:54] indefinit commented on #1071
Ah ok, I found the problem.  The bug has to do with the webgl primitives constants TRIANGLES and TRIANGLE_STRIP, not mapping properly in a switch case statement, which is problematic on this line in the p5.js src:  https://github.com/processing/p5.js/blob/d1a42f56ee51a92946ec97d7d1aec110c782dfec/src/3d/immediateMode3D.js#L102

Will work on the patch later today.

[2015-11-09 21:25] lmccart commented on #707
just a note that I added this here https://github.com/processing/p5.js/wiki/Release-steps

[2015-11-09 21:58] lmccart commented on #1086
this is looking better to me with the new version 0.4.18 now posted, but let me know if you still see issues.

[2015-11-09 23:11] limzykenneth commented on #1090
Did you directly use the above code in p5.js? It sounds like you rewritten the above code in p5.js but if not then there's a few problems there as Processing and p5.js is not quite the same.

Details [here](https://github.com/processing/p5.js/wiki/Processing-transition).

[2015-11-10 00:48] toolness opened #1091 "MediaElement.prototype.loadPixels() throws a TypeError"
While fiddling with #1087 I ran into the following bug.

Given the following sketch:

[code]

Running it throws `Uncaught TypeError: Cannot read property '_pixelDensity' of undefined`, coming from `p5.Renderer2D.loadPixels`, which is being called from `p5.MediaElement.loadPixels`.

[2015-11-10 01:01] toolness commented on #1087
I'm not sure how much this helps, but I'm noticing that calling the following just before drawing the video frame to canvas makes things work:

[code]

This is because `cam.loadPixels()` actually sets the `canvas` property on the `MediaElement` instance, which then causes `image()` to treat it the same way as a `p5.Image` (i.e., applying tint).

I'm not sure what a good architectural change for a

[2015-11-10 14:37] lmccart commented on #1091
I think I may have just fixed this in the latest version posted yesterday (v0.4.18), or is this the version you're currently testing with?

[2015-11-10 14:40] lmccart commented on #1087
thanks @toolness! I can take a look at this one later this week, I was doing some work recently with p5.MediaElement so it's fresh in my mind.. and I think the pixelDensity/_pixelDensity error is fixed in the newest version.

[2015-11-10 14:51] toolness commented on #1091
Ack, facepalm! I was on a8f9bb0beb091a7d86c9d988ca7e893363b8d7cd and forgot to do a `git pull` before running the sketch. The latest master does indeed fix this problem--my bad!

[2015-11-10 14:51] #1091 closed

[2015-11-10 14:52] toolness commented on #1087
Awesome, sounds good! And you're right that the pixelDensity/_pixelDensity error is fixed, I wasn't using the latest master. :disappointed:

[2015-11-10 22:09] DarkPrince304 commented on #40
@lmccart : Could you tell me what's left for the full file I/O implementation to be complete for p5.js?

[2015-11-10 22:11] lmccart commented on #40
I think @therewasaguy has outlined what's left here: https://github.com/processing/p5.js/issues/40#issuecomment-54927028.
One key missing item is a p5.XML object that could be used with loadXML() based on the [processing spec](https://processing.org/reference/XML.html).

[2015-11-10 22:12] DarkPrince304 commented on #944
@shiffman Any specific use case for selecting one element existing inside the other?

[2015-11-10 22:16] DarkPrince304 commented on #40
Cool! @lmccart Also can you give me a little picture of where and when to use loadXML() ? As in, which conditions would require the use of loadXML() ?

I am asking this so that I could get a better picture and then start work on this accordingly! :)

[2015-11-10 22:16] lmccart commented on #944
it's not super easy to handle because for performance reasons we are using the `getElementByID()` or `getElementbyClassName()` etc calls, rather than `querySelector()` which supports this out of the box. so we decided this was sort of overkill to support, if the user wants something this specific they can at this point learn about `querySelector()` or maybe even make the switch to sizzle.js or jqu

[2015-11-10 22:23] lmccart commented on #40
loadXML() could be used just like loadJSON() or loadStrings(), either in preload() or setup() or on some event (like a mouse press). here is a test file that you can load with p5.js, but the resulting data object is a little complicated to parse with native JS calls.
https://github.com/processing/p5.js/wiki/Loading-external-files:-AJAX,-XML,-JSON#xml

there are also some external APIs that return

[2015-11-10 22:26] DarkPrince304 commented on #40
Yeah, thanks a lot! I'd like to start looking into it!

[2015-11-10 22:26] lmccart commented on #40
wonderful!

[2015-11-10 23:05] brondbjerg opened #1092 "sphere() behaving oddly in 0.4.18"
Hi,

It seems that in 0.4.18 drawing with any radius for a sphere <= 100 produces nothing: sphere(100);

sphere(101); // produces a very simplified sphere, 102 only slightly better, etc.

in p5js v 0.4.17 you can draw a sphere as small as sphere(1);

Broken?

Thanks

[2015-11-10 23:09] brondbjerg opened #1093 "WEBGL - stroke() & noFill()"
This may well not be an "issue" and just not yet implemented... if so, apologies!

When creating a sphere() for example, you can't stroke() the wireframe mesh, and also can't apply noFill() to create a hollow mesh.

Maybe this is not something that you are going to support, but fairly common in Processing?!?

Thanks

[2015-11-10 23:13] DarkPrince304 commented on #40
Sure! Has any progress been made on this? I checked out `file.js` and there was some stuff inside the `loadXML()` function. Should I carry that forward or start from the scratch on my own?

[2015-11-11 01:50] lmccart commented on #40
I think it makes sense to carry on with this, the todo here is probably to add another object called p5.XML that gets returned from loadXML(), similar to how loadTable() returns a p5.Table object.

[2015-11-11 03:56] suhailsulu commented on #1078
var img;
function setup() {
	myCanvas = createCanvas(window.innerWidth,500,WEBGL);
	myCanvas.parent('canvas');
	img=loadImage('dog.jpg');
}

function draw(){
background(255);
texture(img);
//console.log(img.width + "   " +img.height);  // gives 512*512 as width and height
plane(img.width,img.height);
}

[2015-11-11 06:04] law0102 opened #1094 "Graphics cropped when page is zoomed"
There is currently an issue when placing images inside of graphics when the page is zoomed. I have created a [repository](https://github.com/law0102/p5jsZoomBug) demonstrating the issue.

When you load [this](http://law0102.github.io/p5jsZoomBug/) page from a web browser, it shows normally. If you zoom in your web browser and refresh the page, the image will become cropped. Once you zoom in very f

[2015-11-11 10:31] suhailsulu opened #1095 "Is there any method for mouse event like click on a 3d object, so that i can understand which object is clicked"

[2015-11-11 10:37] pbogdan03 commented on #1090
Hello @limzykenneth,
I replicated the above code in p5.js with the necessary changes, but the functionality of multiple fills on the same shape doesn't work, any idea why?

[2015-11-11 11:51] lmccart commented on #1094
try turning off the automatic scaling based on pixel density. because the device is zoomed, this changes the pixel density of your browser and can return weird results. if you add the line `pixelDensity(1)` at the beginning of setup(), it will lock the sketch to normal density instead of trying to scale with the zoom.

[2015-11-11 11:54] lmccart commented on #1090
this is not currently supported in p5.js. there's not exactly parity between processing and p5.js, instead p5.js takes inspiration and guidance from the processing api. in this case, we have not implemented support for this yet.

[2015-11-11 12:05] limzykenneth commented on #1078
Did you preload the image? You will need to do loadImage in `function preload()` as Javascript is asynchronous, when you call img.width and img.height the image isn't loaded in yet so it just gives you default value. I think that's what's happening anyway...

[2015-11-11 12:17] suhailsulu commented on #1078
when i logged the image width and height before the texture(img) method it gives the correct value. the value changes after the call of texture(img) and then in the further loops the value is wrong...
its my new edited code

var img;
function preload(){
img=loadImage('dog.jpg');
}
function setup() {
myCanvas = createCanvas(window.innerWidth,500,WEBGL);
myCanvas.parent('canvas');

}

function draw(

[2015-11-11 12:19] shiffman commented on #944
@lmccart my recollection from our meeting is that we decided not to support all of the `querySelector()` syntax but that we would overload `select()` to allow a second argument (`id` or `p5.Element`) to seach in.  So the use case would be:

[code]

And then all of the following would grab only the `<p>` elements inside `container`:

[code]

I think this may be worth adding, but am also fine with s

[2015-11-11 12:23] lmccart commented on #944
ah, yes, I misunderstood the question. the cases you list here are the same in my post above sep 29. what I meant was, we won't be supporting multi-part strings like `select('p', '#a div');

[2015-11-11 12:26] lmccart commented on #1078
I'm not able to reproduce, could you please include a link to the image file you're using, and confirm you're using v0.4.18?

[2015-11-11 12:28] DarkPrince304 commented on #944
Lets include this in our own DOM library so that people dont have to go through the burden of choosing another library. I would like to work on this :)

[2015-11-11 12:32] suhailsulu commented on #1078
/*    sketch.js file    */

var img;
function preload(){
img=loadImage('dog.jpg');
}
function setup() {
myCanvas = createCanvas(window.innerWidth,500,WEBGL);
myCanvas.parent('canvas');

}

function draw(){

background(255);
console.log(img.width + " " +img.height);
texture(img);
console.log(img.width + " " +img.height); // gives 512*512 as width and height
plane(img.width,img.height);
}

the image

[2015-11-11 12:33] suhailsulu commented on #1078
I have used version 17 and 18

[2015-11-11 12:39] lmccart commented on #944
ok great, I just want to check first with @futuremarc that he hasn't already begun work on this, and it's good for @DarkPrince304 to go forward implementing support for the three cases outlined by @shiffman above?

[2015-11-11 12:41] lmccart commented on #1078
this is printing 497x330 for me on chrome, safari, and firefox on macbook pro. maybe it is the device you're using, can you specify? is anyone else able to reproduce?

[2015-11-11 12:49] suhailsulu commented on #1078
i am using chrome 45.0.2454.101 on Ubuntu 15.04 (64-bit)

[2015-11-11 12:51] limzykenneth commented on #1078
chrome, safari, firefox on macbook osx 10.7, I'm not able to reproduce this, values logged are correct.

[2015-11-11 13:00] suhailsulu commented on #1078
in v.18 values are correct but its not rendering.. in version 17 values are wrong but its rendering

[2015-11-11 13:03] limzykenneth commented on #1078
Same as above, not rendering but values correct (I thought it was something wrong with my set up) XD

[2015-11-11 13:09] limzykenneth commented on #1078
I've tested all webgl primitives and all of them are rendering weirdly, this is what I get with the above code but with cylinder(200,200) instead of plane, others are similar as well:

![screen shot 2015-11-11 at 13 08 44](https://cloud.githubusercontent.com/assets/7543950/11091737/78404d06-8875-11e5-8967-c4d9551b47f1.png)

[2015-11-11 13:12] lmccart commented on #1078
yeah I was just noticing the same thing! will investigate. looks like the image loading width/height error is resolved though.

[2015-11-11 13:19] lmccart commented on #1058
@indefinit I tried to make this change, because in 2D mode push()/pop() affects both transform and style, and we only want to reset transform after the draw loop. however, this turned out to be a breaking change for WEBGL mode (sorry! will post a fixed v0.4.19 soon). when you have a chance, can you take a look? I believe resetMatrix() should just reset the matrix, while push()/pop() should reset b

[2015-11-11 13:20] #1078 closed

[2015-11-11 13:20] #1092 closed

[2015-11-11 13:21] limzykenneth opened #1096 "Incorrect amount of arguments for 3D primitives crash browser"
This is more of a feature suggestion so might not be the priorities at the moment. What happens is if  using a 3D primitive shapes and more than the required amount of arguments are passed into the function, it caused the browser to crash (or just the tab). This was on chrome on mac, I have yet to test other browsers.

Ideally it would give an error message instead of crashing.

[2015-11-11 13:22] lmccart commented on #1078
found the error, will post a fixed version 0.4.19 soon, but images should now be reading correct dimensions and rendering as textures in latest patch.

[2015-11-11 13:23] lmccart commented on #1096
I think it would be good if it could just fail gracefully, and we mark the error message with a //TODO comment. the error system itself needs some general working out still, so I think it's best to wait on putting error messages in the code until a unified system for this is figured out.

[2015-11-11 13:42] limzykenneth commented on #1096
Agreed, at least it should not crash the browser or it will get rather frustrating. : )

[2015-11-11 13:56] jrc03c opened #1097 "Can only use custom font on one canvas"
I'm trying to use a custom font on two different canvases, but when I do, the `canvas2.text()` function only seems to draw stuff to the original canvas. However, if I disable the `canvas2.textFont()` call, the text appears correctly on the second canvas, but *not* rendered in its custom font! (NOTE: I've created the second canvas using `createGraphics()` instead of `createCanvas()`.) Here's the co

[2015-11-11 15:12] DarkPrince304 commented on #944
Hello @lmccart , I have implemented all the test-cases as mentioned by @shiffman . You can check it out in my "selectArg" branch. I havn't made a PR because we don't know whether @futuremarc has started this :)

[2015-11-11 15:50] futuremarc commented on #944
Go ahead!

[2015-11-11 16:44] jrc03c commented on #1097
Actually, I'm beginning to wonder if this is a canvas problem, not a p5js problem. I tried setting the font the old-fashioned way (see below), but I got the same result...

[code]

![screen shot 2015-11-11 at 10 43 13 am](https://cloud.githubusercontent.com/assets/255934/11096700/0f516b18-8861-11e5-8fe6-09729f829b31.png)

[2015-11-11 16:54] jrc03c commented on #1097
In the meantime, I've been able to set the fonts "manually" by accessing each canvas context's `font` property, like this:

[code]

![screen shot 2015-11-11 at 10 54 15 am](https://cloud.githubusercontent.com/assets/255934/11097013/95be98c8-8862-11e5-8127-c3b96bf27398.png)

[2015-11-11 18:14] indefinit commented on #1095
currently, we don't have any event handlers on 3d objects, nor "3D picking," which is a technique used to determine which object intersects with the vector from your mouse.  That said, it would be a great feature to have as a library addon, if someone wants to tackle it!

[2015-11-11 18:17] indefinit commented on #1093
Currently we don't have wireframe primitives implemented, but it is definitely something we're planning on supporting in the near future!

[2015-11-11 18:42] #1086 closed

[2015-11-11 19:10] brondbjerg commented on #1093
Great! Look forward to it!
Good luck :)

[2015-11-11 23:12] #1087 closed

[2015-11-11 23:47] law0102 commented on #1094
Thank you, that has fixed it.

[2015-11-11 23:47] #1094 closed

[2015-11-12 10:31] pbogdan03 opened #1100 "colorMode(HSB) with color() unexpected behaviour"
[code]
Above code displays the following:

![test](https://cloud.githubusercontent.com/assets/9051832/11116155/4eafb264-8939-11e5-89e3-6e89336c878e.jpg)

[2015-11-12 11:38] toolness commented on #1095
Oh that sounds like fun!  I'd like to give it a try.

@indefinit, when you say a "library addon" do you mean I should make my own p5.3dpicking.js library, or should I submit a PR to some pre-existing library?

[2015-11-12 11:46] toolness opened #1101 "Run tests during CI on non-phantomJS browsers"
As I mentioned in #1070, I think it'd be great to use a service like Sauce Labs to run the tests on multiple browsers during travis runs. I think this will help ensure that p5 works well on all the latest browsers and also gracefully degrades on the older ones (or at least provides [helpful errors](https://github.com/processing/p5.js/issues/657)) as it grows.

Sauce Labs in particular has a progra

[2015-11-12 11:49] lmccart commented on #1101
sounds awesome

[2015-11-12 11:53] lmccart commented on #1100
hmm thanks. @joecridge do you have some time to take a look at this?

[2015-11-12 12:13] limzykenneth commented on #1096
I just found [#175](https://github.com/processing/p5.js-website/issues/175) in p5.js-website repo and I went digging into the documentation source, I think I know what's the problem in both cases:

The example in the documentation is providing a second argument for the `sphere()` function and according to the documentation, it will be treated as detail level. A detail level of 128 is obviously too

[2015-11-12 13:01] indefinit commented on #1096
I agree.  We could also limit detail level inside the sphere function, but making a note in the inline docs seems like a simple win.

[2015-11-12 18:08] joecridge commented on #1100
Oh no! I'll take a look shortly.

[2015-11-12 19:46] joecridge commented on #1100
@lmccart it’s 1458a19 that is causing the issue (I think for a similar reason to why we abandoned reusing `results` in `p5.Color._parseInputs()`?).

I’m not sure how reuse the object correctly, so for now I’ll just reverse the commit and that should fix things.

[2015-11-12 22:04] indefinit commented on #1095
It would be really cool to have a p5.Raytracer library that includes picking.  The lib doesn't currently exist for p5, so you'd have to build it from scratch, but there's plenty of precedence out there in the web.

One thing that a Raytracer library will depend on is axis-aligned box and spheres.  That would be the basis for ray-plane, ray-box, and ray-sphere intersection.  Adding an axis aligned

[2015-11-13 07:25] DarkPrince304 commented on #40
How would you like the structure of the XML to be parsed? If I am not wrong is this a place where we would have to use Data Structures like B-Tree or Hash Map to reconstruct a perfect DOM behaviour for the resulting parsed XML?

[2015-11-13 08:53] ylh888 opened #1103 "Cross-platform packaging of p5.js program"
I need to distribute a p5.js app.I use socket.io and serial port to facilitate access to the USB port. The idea is to package a small proxy server to my users for each of OS X, Linux, Windows environment and be able to provide upgradable p5.js application over time, served over the internet. My app works in node.js.

However, I have encountered a bunch of issues trying to turn the server part 'nat

[2015-11-13 11:28] toolness commented on #1103
Have you looked at http://electron.atom.io/ ? I've never used it myself, but it was the first thing that came to mind...

[2015-11-13 11:56] dhowe commented on #815
Here is another use case that appears to fail with our current preload mechanism.
Imagine we have a library with a class inside, and that class has a function we want to be able to preload, something like this:

[code]

The fake library function works as expected when passed a callback, as in the following sketch:

[code]

[2015-11-13 13:08] ylh888 commented on #1103
Thanks I will take a look.

[2015-11-13 13:46] #1100 closed

[2015-11-13 13:47] lmccart commented on #1100
thanks for looking into this, yes I think the problem is as you explain... I'll think more about how to reuse objects. I think it would involved making these holder vars part of the color prototype, the problem I ran into was getting the context binding right so that they were accessible at the point when the functions are called.

[2015-11-13 14:21] dhowe commented on #1074
Again, if we stick with this mechanism for preload we should make it very clear in the docs that NONE of the primitive types (boolean, string, or number) will work as return values for preload registered functions.

[2015-11-13 18:30] hellwoodfire opened #1105 "The Drop feature (with gotFile function) is not working."
See
http://p5js.org/examples/examples/Dom_Drop.php
.. and try to drop an image on the canvas...

This feature was working properly a few month ago, I think a bug was introduced in the library.

[2015-11-13 19:05] DarkPrince304 commented on #1105
I am not able to reproduce that bug. I am able to see the image after dropping it on the canvas.

[2015-11-13 21:34] lmccart commented on #1105
seems to work fine testing on recent versions of chrome, firefox, safari.
can you give us more info about which browser / device / OS you're using?

[2015-11-14 02:19] hellwoodfire commented on #1105
Yes it work! Sorry!
It was caused by adblock.

Le 2015-11-13 16:35, Lauren McCarthy a écrit :

[2015-11-14 02:20] hellwoodfire commented on #1105
Yes it work! Sorry!
It was caused by adblock.

Le 2015-11-13 14:05, Sanchit Kapoor a écrit :

[2015-11-14 02:25] #1105 closed

[2015-11-14 02:28] hellwoodfire commented on #1105
However it could be great to understand which keyword is unfortunately detected by Adblock... because the example is not working when adblock is activated.

[2015-11-14 04:48] Ucodia opened #1109 "p5.Element size properties are not refreshed when id or class changes"
Fairly easy to reproduce.

Consider you have these styles.

[code]

Just create an element and compare `p5.Element` size properties with internal DOM element properties.

[code]
`(173, 21) / (173, 21)`

Then change the width by applying the class.

[code]
`(173, 21) / (600, 21)`

You can already notice that the size is not updated on `p5.Element`. Same thing with id changes.

[code]
`(173, 21) / (

[2015-11-14 11:11] blindfish3 opened #1110 "Protect for in loops from Object.prototype pollution"
There are for in loops (e.g. in preload) that don't check hasOwnProperty and so are at risk of breaking when code pollutes the Object.prototype.  Whilst the latter is obviously very bad practice it's unfortunately the sort of error less experienced coders and naive newbies will miss - e.g. copy pasting bad practice from elsewhere or using scripts that are badly written; as demonstrated in [this th

[2015-11-14 13:16] lmccart commented on #1109
closed with https://github.com/processing/p5.js/pull/1108

[2015-11-15 12:14] toolness opened #1111 "3D primitives examples broken?"
I'm not sure if this is something weird on my end, but on p5js.org, as well as on master as of 661805d99048951df57cadb3f023960fb6844c5c, all the 3d primitives examples (plane, sphere, cylinder, cone, torus, box) don't seem to do anything on Firefox or Chrome for me:

![2015-11-15_7-11-40](https://cloud.githubusercontent.com/assets/124687/11168688/462b7e4e-8b68-11e5-8549-57d3274a863e.png)

The only

[2015-11-16 10:32] limzykenneth commented on #1096
I should be able to make some changes this week (fixing the reference examples etc.) but how would we want to deal with the detail level? Do we want checks for a certain amount or just change the docs?

[2015-11-16 16:16] RanzQ commented on #1010
@Imccart @indefinit I'm having this issue, not sure if I'm doing something wrong or if p5 needs a fix. I created a codepen:

http://codepen.io/anon/pen/YyBrYP

What I'd like in my scene, is to keep the spheres round with every aspect ratio. I use `height` to calculate the radius. Now they initialize round (with different window sizes) as expected but on resize they stretch.

After load:
![image](h

[2015-11-16 16:52] indefinit commented on #1056
Hi All,

Sorry for the radio silence these last couple weeks.  I've dived into a pretty large refactor which is nearing completion.  There's still a couple of bugs I'm working out before merging into my master branch but if you're curious to see the progress, take a look here: https://github.com/indefinit/p5.js/tree/geometry-refactor

Some highlights from the changes:
- Geometry is more scalable i

[2015-11-16 17:28] codeanticode commented on #1056
This is really exciting! I will take a look as soon as I have a chance. Are you planning to introduce custom shaders anytime soon, or that's an addition for a later time?

[2015-11-16 17:30] indefinit commented on #1056
Custom shaders are definitely in the pipeline!  Not necessarily with this
refactor but hopefully that'll be my next focus post the geometry updates.

On Mon, Nov 16, 2015 at 12:28 PM, codeanticode <notifications@github.com>
wrote:

--

Kevin Siwoff
// http://kevinsiwoff.com // Instagram: @kevinsiwoff
<http://instagram.com/kevinsiwoff/> //

[2015-11-16 21:28] DarkPrince304 commented on #40
@lmccart will the p5.XML object be having all the methods associated with it as in the case of its processing counterpart? Also for methods requiring searching what do you think of the solution that would be apt for searching an XML node inside another ones?

[2015-11-16 22:28] joecridge commented on #1111
Yes! I noticed this last week (Chrome 46) but thought it was just me doing something silly ’cause I’d never used WEBGL before.

[2015-11-17 01:00] karneaud opened #1114 "Adding propeller.js"
Just maybe to add as a plugin or enhancement but https://github.com/PixelsCommander/Propeller looks like  it can be awesome p5.js if ported

[2015-11-17 01:05] lmccart commented on #1114
I think this is beyond the scope of p5.js library itself, but if you wanted to make an addon library incorporating this, or just some examples using the two together, that would be great!

[2015-11-17 01:52] #1109 closed

[2015-11-17 02:03] lmccart commented on #1110
yes I think that'd be a good idea, do you want to take a crack at this?

[2015-11-17 03:30] hellwoodfire opened #1116 "mouseWheel event: "return false" to block page scrolling not working in firefox."
See the example: http://p5js.org/reference/#/p5/mouseWheel
Edit and uncomment "return false" to block page scrolling. This work correctly in Chrome and IE, but  page scrolling is not blocked in Firefox.

[2015-11-17 06:34] RanzQ commented on #1010
Resetting perspective after resizeCanvas seems to fix this:

`p.perspective(60 / 180 * p.PI, p.windowWidth/p.windowHeight, 0.1, 100)`

[2015-11-17 09:10] limzykenneth commented on #1111
Have the latest version been pushed to the site yet? It might be related to #1092 and later parts of #1078

[2015-11-17 09:25] limzykenneth commented on #1116
it seems the mouseWheel event p5 is using is [deprecated](https://developer.mozilla.org/en-US/docs/Web/Events/mousewheel), switching to the new Wheel event might fix it. I'll submit a PR if I can fix it today.

[2015-11-17 18:28] betamod opened #1117 "Transparancy not working for WebGL Primitives with specularMaterial"
I am trying to create a sketch involving nested 3D primitives with a transparent specular material but transparency seems to be broken.

According to the reference (http://p5js.org/reference/#/p5/specularMaterial) the fourth value for specularMaterial specifies transparency but this is not the result I get. The shapes are visible with a specular material but do not appear to be transparent. See sc

[2015-11-17 22:36] limzykenneth commented on #1116
This turns out to be more complicated than I thought, I will need to come back to it in the weekend. : (

[2015-11-17 22:50] hellwoodfire commented on #1116
Oh! Good luck!

2015-11-17 17:37 GMT-05:00 Kenneth Lim <notifications@github.com>:

[2015-11-17 23:20] lmccart commented on #1116
thanks for looking into it!

[2015-11-18 19:00] yumengwang03 commented on #1111
Yes, same for me. Tried all the 3d examples and of them works. I can't find an answer to this...

[2015-11-18 19:17] lmccart commented on #1096
@indefinit does it make sense to limit the detail level? or would you prefer to just make the docs more clear?

[2015-11-18 22:06] indefinit commented on #1096
I think I'd prefer to make the docs more clear.  Limiting the detail is obviously possible, implementation-wise, but I'd hate to prevent someone from trying something, even if it isn't a great performance decision.

Sent from my mobile.

[2015-11-19 02:16] #1090 closed

[2015-11-19 02:39] #1111 closed

[2015-11-19 11:10] mjanssen opened #1118 "P5.sound disposed files outside scope"
When calling .remove() on a sketch, the remove function tries to dispose and stop files from other sketches (like it's global). It only happens with sound files. Other elements are removed properly.

P5 version: 0.4.19

[2015-11-19 12:22] toolness commented on #1111
Yay thanks @lmccart!

[2015-11-19 17:10] therewasaguy commented on #1118
Thanks @mjanssen I think I know why this is happening and will fix it soon. Made an issue at the p5.sound repo

[2015-11-20 21:43] alignedleft opened #1119 "Official releases don't include minified p5.dom.js"
This is super minor, but I just noticed that the official ZIP (from Github or on p5js.org/download) include minified versions of p5.js and p5.sound.js, but not p5.dom.js.

Is there a reason for this (minor) inconsistency? p5.dom.min.js is available on the CDN, just not in the regular download.

[2015-11-20 22:47] limzykenneth commented on #1096
I agree on not limiting the detail level. Although it can be quite frustrating for the browser to crash but it's hard for us to know what limits we should set. Also browsers and webgl might become faster overtime and obviously we need to constantly check for that as well.

Ideally it would be best to do some test on the capability of the particular client so if the detail level is too high it just

[2015-11-20 23:48] limzykenneth commented on #1116
Almost done with this, just a few decisions need making:

Support of the `wheel` event on Safari is still buggy, it will work if `return false;` and thus `e.preventDefault()` is passed but hardly if it's not. Any idea to solve this is very welcomed.

Looking at the documentation, the whole thing might not work on IE at all but I cannot test it so that might be something we want to test after the p

[2015-11-21 00:04] indefinit commented on #1056
Had a good conversation offline at today's p5.js meetup with @mindofmatthew and @polyrhythmatic about paving the way for the obj loader.  Two notable improvements to be made to the p5.Geometry object:

- Separate out normals/uv calculation from object initialization, so that user can choose to include one's own normals/uv as data.  Current behavior defaults to auto calculating normals/uvs.

- Curr

[2015-11-21 13:28] toolness opened #1120 "Documentation for resizeCanvas() is confusing"
Currently the documentation for [`resizeCanvas()`](http://p5js.org/reference/#/p5/resizeCanvas) is:

I find this confusing for a number of reasons:

* "anything drawn previously in setup or draw will disappear on resize" seems misleading because, while technically true, `resizeCanvas()` also calls `draw()` again, so everything that was drawn previously will likely re-appear.
* "Setup will not be c

[2015-11-21 13:35] toolness opened #1121 "Provide friendly error help when sketches use p5 functions outside of setup/draw"
(This is basically a re-post of https://github.com/processing/p5.js/pull/1106#issuecomment-156714155, which was a comment in a closed issue that might have gone unnoticed.)

@lmccart [wrote](https://github.com/processing/p5.js/pull/1106#issuecomment-156696614):

It's a bit hacky, but what if we added an `onerror` event handler that caught errors during page load and offered help if possible?

Here

[2015-11-21 14:19] indefinit commented on #1055
Going to close this for now.  Spoke to @lmccart a couple of weeks ago, and added a section to the wiki here:  https://github.com/processing/p5.js/wiki/Development-%E2%80%93-extended.

[2015-11-21 14:19] #1055 closed

[2015-11-21 14:51] #1117 closed

[2015-11-21 18:59] lmccart commented on #1120
yes this makes sense, great suggestion! this also pertains to #905. while you're at it, it might be nice to add one more example that demonstrates the technique of creating an init() function to reinstate properties set in setup() on resize. something like this: https://github.com/processing/p5.js/issues/905#issuecomment-139829242.

and yes, it's fine to add "<code></code>" tags around words to re

[2015-11-21 19:02] lmccart commented on #1116
awesome!
i think the actual scroll amount is preferable over just -1 or +1.
i'm not sure what to do about IE. I think as long as we have a note about using `return false;` to prevent default, this may be sufficient for safari. if people have issues, we can direct them to that?

[2015-11-21 19:03] lmccart commented on #1121
hmm, interesting... I can't think of any major downsides to giving it a shot? if it seems to cause more confusion than it's worth we can always remove it.

[2015-11-21 19:05] lmccart commented on #1119
huh as far as i remember, i've never made any minified version of p5.dom.js. and i'm actually not sure how the generated one is getting to cdn. @futuremarc do you know more about this?

[2015-11-21 19:57] limzykenneth commented on #1116
Great! Scroll amount is easier to do for me too. ; )

I think since I can't test for it let's just push the changes and maybe someone with a windows machine can test it out. It might just work.

I'll make the necessary changes to the documentation with note on safari as well.

[2015-11-21 19:58] lmccart commented on #1116
sounds good!

[2015-11-21 20:28] #1116 closed

[2015-11-22 14:38] toolness commented on #905
There's a weird edge case here if we add a `noLoop()` to @lmccart's example:

[code]

The example *seems* like it ought to work, but because `resizeCanvas()` is calling `draw()` itself, `init()` won't be called until *after* the canvas has been redrawn. It works without the `noLoop()` because `draw()` will be called again on the next frame after `init()` has taken effect, but even that may cause a

[2015-11-22 19:00] darkcoderrises commented on #1084
Hi, I am new in here. Can I work on this?

[2015-11-22 20:37] lmccart commented on #1084
sure, go for it!
the relevant info is in the [developer doc](https://github.com/processing/p5.js/wiki/Development)

[2015-11-23 16:09] hellwoodfire commented on #1116
Kenneth, how to I get the p5.js file containing the fix ? (so that I can
test it)

2015-11-17 4:25 GMT-05:00 Kenneth Lim <notifications@github.com>:

[2015-11-23 16:16] lmccart commented on #1116
I will post an updated version soon.

[2015-11-23 16:22] hellwoodfire commented on #1116
I wanted to be sure to mouse wheel still worked in the 2 directions in firefox (scroll up, scroll down).

[2015-11-23 17:05] limzykenneth commented on #1116
@hellwoodfire if you want a quick test now you can download the repo and generate the library with `grunt`

[2015-11-23 19:09] faaip commented on #1093
I'd love to help with p5js. Is there any one could help with creating such feature?

[2015-11-24 19:24] srinivasmangipudi opened #1127 "Mobile examples not working on Chrome phone browser"
The mobile examples are not working on the phone. The display is all messed up.

[2015-11-25 16:45] hellwoodfire commented on #848
Lauren, I did more tests and I reproduced the exact problem that I did not
describe correctly. Now I think I have a better description :
https://forum.processing.org/two/discussion/13650/dropped-image-not-showing-in-the-draw-loop-gotfile-createimg-image

2015-08-11 13:27 GMT-04:00 Lauren McCarthy <notifications@github.com>:

[2015-11-25 16:46] hellwoodfire commented on #1105
Sanchit, I just proformed more tests and now I'm happy that I reproduced
the exact problem I was looking for and that I did not describe correctly.
Now I think I have a better description :
https://forum.processing.org/two/discussion/13650/dropped-image-not-showing-in-the-draw-loop-gotfile-createimg-image

2015-11-13 14:05 GMT-05:00 Sanchit Kapoor <notifications@github.com>:

[2015-11-25 23:24] #1118 closed

[2015-11-25 23:25] #1114 closed

[2015-11-25 23:40] lmccart commented on #1084
closed with https://github.com/processing/p5.js/pull/1125

[2015-11-25 23:40] #1084 closed

[2015-11-25 23:46] lmccart commented on #653
@tigoe did you get a chance to test this, or notice issues with it still?

[2015-11-25 23:50] lmccart commented on #990
this actually does work, it's just that at the point you're calling it in the example above, the image hasn't loaded yet and so it registers width/height as 0 still. if you pass the size() call in through a callback function, it behaves properly:

[code]

[2015-11-25 23:50] #990 closed

[2015-11-26 00:05] #905 closed

[2015-11-26 00:07] lmccart commented on #905
hey @toolness you're totally right. i'm not sure why i had thought this would be such a pain to implement, anyway i just pushed a fix, so all styling is preserved and there's no need to add the init() example to the documentation. :) thanks for looking into it!

[2015-11-26 00:09] lmccart commented on #1120
I think given https://github.com/processing/p5.js/commit/dad98d6728e2c7a6ceb10d6c0affcd0ea55a6d44, your proposed documentation revision above still makes sense (actually makes more sense now). I'll go ahead and add it in while I've got the file open now...

[2015-11-26 00:10] #1120 closed

[2015-11-26 11:18] toolness commented on #905
Oh awesome, thanks @lmccart!

[2015-11-26 11:18] toolness commented on #1120
Cool, thanks!

[2015-11-26 12:19] toolness opened #1129 "add grunt yui_dev task *or* add grunt yui_production task, rather than using env var"
So one of the downsides to #1124 is that by default, the `<script>` links to the p5 libraries are actually set to point to their built locations on the *development* server, e.g. `/lib/p5.js` and `lib/addons/p5.dom.js`. This can be overridden to point to the libraries on p5js.org if the deployer runs `export P5_SITE_ROOT=..` before running `grunt`.

Because (I think?) this wasn't done when buildin

[2015-11-26 12:33] lmccart commented on #1129
ahh oops. i can rebuild.
could we change it so that the default builds properly for the site?
or could we add another task like `grunt yui_test` that builds them using a different path? maybe this is the best because people don't have to figure out how to set the env variable, or what they should be set too. is it possible to do this with the way the grunt tasks and docs build are currently config

[2015-11-26 13:13] joecridge commented on #905
Yay :+1:

[2015-11-26 13:16] toolness commented on #1129
Yeah, I agree that adding a new `grunt` command is probably better than an environment variable.

When I added the current functionality, my philosophy was that any configuration defaults should favor the newbie developer experience, which is why I made the default build properly for development mode rather than production... I can reverse that though if you want.

What do you think of `grunt yui_

[2015-11-26 13:30] lmccart commented on #1129
I see the point of favoring newbie devs, but I guess my worry is that people that are not exactly newbies but haven't read closely may try to generate the docs and submit to the website, and it seems likely that we may end up with broken docs from time to time. so I think there are pros and cons to favoring either, I'm not sure which `grunt yui` should default to, but I like the idea of either `gr

[2015-11-26 13:42] tigoe commented on #653
Yes, I can confirm it's still happening. Below is a test for GET, POST, PUT, and DELETE, with a node.js server as test.

To install the node script:
[code]
Then run the P5 sketch. Type A, S, D, or F for GET, POST, PUT, or DELETE, respectively. GET and POST come through fine, PUT and DELETE do not. If you run wireshark or another packet sniffer on loopback, you'll see the requests go by. At the bot

[2015-11-26 13:59] lmccart commented on #653
wonderful, thank you! i will look into this.

[2015-11-27 21:02] toolness opened #1135 "Two sketch instances don't produce same stream of randoms during draw()"
The following script ought to produce two separate sketches that log identical streams of random numbers, I think:

[code]

However, when I run this, I get this in my console:

[code]

It seems like the random numbers are synchronized during `setup()` and the first call to `draw()`, but not after that.

[2015-11-27 22:56] toolness opened #1136 "noLoop() doesn't work with 3D sketches"
It seems like the following ought to work the same regardless of whether [`noLoop()`](http://p5js.org/reference/#/p5/noLoop) is present:

[code]

However, the version with `noLoop()` looks like this on Chrome and Firefox:

![noloop](https://cloud.githubusercontent.com/assets/124687/11448845/f6fef39c-952f-11e5-8a0d-795ee1537c3a.png)

While it looks as expected with `noLoop()` commented out:

![down

[2015-11-27 23:12] toolness opened #1137 "translate() behavior is confusing when called w/ 2 args in 3D"
The following results in a blank sketch:

[code]

The sketch works fine, though, if a third (z) argument is passed to `translate()`:

[code]

To fix this, I propose:

* Adding at least one 3D example to the [documentation on `translate()`](http://p5js.org/reference/#/p5/translate), and also documenting the `z` parameter.
* Either making the third argument default to `0` if it's not present in 3D s

[2015-11-27 23:20] lmccart commented on #1137
sounds great! let's default to 0 if no third arg is included.

[2015-11-28 04:26] dhowe commented on #815
Any thoughts @lmccart @polyrhythmatic ?

[2015-11-29 00:36] #1103 closed

[2015-11-29 00:45] lmccart commented on #815
oops sorry i missed this latest post.. I'll look into it this week.

[2015-11-29 00:56] #1121 closed

[2015-11-29 01:07] lmccart commented on #954
I think this one is done, just need to add some examples to the src to show the various uses.

[2015-11-29 01:09] #1136 closed

[2015-11-29 02:37] shiffman commented on #990
ah, of course, thanks @lmccart

[2015-11-29 09:39] dhowe opened #1142 "Reference is unclear that library is required for functions"
As example, if one searches for createDiv, then views the page that comes up, it is not specified anywhere that p5.dom is required for the function to work.

<img width="1170" alt="screen shot 2015-11-29 at 5 39 38 pm" src="https://cloud.githubusercontent.com/assets/737638/11456300/0bb67de6-96c0-11e5-97f5-9de68a9a69f0.png">

[2015-11-29 13:15] lmccart commented on #1142
indeed! it is on my todo list, in fact there's an issue open for it here: https://github.com/processing/p5.js/issues/1075. closing this one since it seems to be a duplicate.

[2015-11-29 13:15] #1142 closed

[2015-11-29 15:15] hkirat opened #1145 "frameRate should return current frame rate in case of anomalous parameter"
Currently, the frameRate function doesn't give any indication of an anomalous parameter being passed into it.
It simple sets frameRate to the anomalous parameter.
It should return current frame rate like it does in case of an undefined variable.

[2015-11-29 17:22] rscharfer opened #1149 "The method p5-Element.class() does not return the class for that element."
I am not sure if this is a bug or not, but I was told to file this as a bug.  When you do not pass in an argument into the .class method of p5.Element, you do NOT get the current CSS class(es) of that element.  Instead the entire p5 element object is returned. Or is there an easy way to get the current class(es) of a p5.Element that I am missing?

[2015-11-29 17:48] #1145 closed

[2015-11-29 17:48] lmccart commented on #1149
this does sound like a bug, thanks! i'll take a look.

[2015-11-29 22:40] karenpeng commented on #1137
Thanks for the advice.

[2015-11-30 05:32] #1149 closed

[2015-11-30 21:28] hkirat commented on #1096
I can add inline docs to all primitives and submit for a pr...if no one else is working on it.

[2015-11-30 22:07] limzykenneth commented on #1096
I'm not working on that at the moment, quite tied up I'm afraid. Do go ahead and add them and submit a PR. Cheers!

[2015-12-01 09:44] rscharfer opened #1157 "method on p5.Element not returning what it should"
Hello,

I think the id() method on the p5.Element should return the CSS id of the element if no argument is passed.  Instead, the whole element is returned.

[2015-12-01 13:07] DArshit94 commented on #328
@therewasaguy  does this api support for recording sound using Safari browser ?

[2015-12-01 20:07] #1157 closed

[2015-12-01 20:15] #1096 closed

[2015-12-01 22:05] vanevery opened #1158 "image(img, sx, sy, sw, sh, dx, dy, dw, dh) seems to work as image(img, dx, dy, dw, dh, sx, sy, sw, sh)"
Perhaps I am crazy but when I draw an image with all of the parameters it seems to function with the canvas positions first then the portion of the image to draw rather than the other way around.

[2015-12-02 11:10] toolness opened #1159 "set() doesn't do anything when passed non-integer numbers"
The following simple sketch didn't work for me:

[code]

This puzzled me for quite some time until I realized that `mouseX` and `mouseY` aren't integers on my browser--they're floats!

Should `set()` automatically call `Math.floor()` on its arguments to coerce them to integers? Or will the friendly error system (#971) log an error to the console once it's fully operational again?

Also, I didn't r

[2015-12-02 13:33] vanevery commented on #1158
I am happy to do a pull request to either fix documentation or fix functionality if anyone can confirm that this is a bug and I am not crazy.

[2015-12-02 13:45] lmccart commented on #1158
I realized processing doesn't cover this case: https://processing.org/reference/image_.html. but I think the args should probably align with the native drawImage() method in canvas http://www.w3schools.com/tags/canvas_drawimage.asp. I believe this is how the documentation describes it, so I guess it is a matter of making sure the code actually does that. weirdly at quick glance the code looks righ

[2015-12-02 17:40] fkolev opened #1160 "Flat Shader Model"
Hey,

I'm sorry if this shouldn't be here, however I don't know where else to address this. My question pertains to flat shading. I want to have a flat-shader, so that object face has a sightly different color.

Example: http://matthew.wagerfield.com/flat-surface-shader/ (for more clarifcation)

However I don't think there are any shader options in P5. Is there any current way to achieve a flat sh

[2015-12-02 17:56] indefinit commented on #1160
Thanks for your interest.  Custom shaders in p5 are in the pipeline, but aren't quite ready for prime time.  Right now the following material shaders are supported:

basicMaterial() which is an rgba pixel shader
specularMaterial() for specular
ambientMaterial() for ambient rgba + light model

For your use case, you might be able to get away with ambient and specular materials + directional and poi

[2015-12-02 18:58] hkirat opened #1161 ".obj loader for p5.js"
How about an .obj loader for p5.js?
It is a very common 3d Modelling format and would help people render any model they want to the canvas in 3-D.
I have already started working on it.( Attached screenshot of the Blender Monkey Suzzanne)
I would like to know what structure to follow while making this loader?
A new p5.js-loaders library?Since we will be needing a saperate cpp or python file to conv

[2015-12-02 19:00] lmccart commented on #1161
indeed! @mindofmatthew has been working on this.

[2015-12-02 19:01] hkirat commented on #1161
Is there any other thread where discussion is going on regarding this?

[2015-12-02 19:08] indefinit commented on #1161
This is something @mindofmatthew has been working on. Perhaps you two could team up?

[2015-12-02 19:08] indefinit commented on #1161
Whoops didn't see Lauren's response. Please ignore.

[2015-12-02 19:14] hkirat commented on #1161
@mindofmatthew : Could I join you in this?

[2015-12-03 22:42] mindofmatthew commented on #1161
@hkirat: Sure! Right now, I've got rough versions of vertex, face, normal, and UV parsing, but there are still gaps and bugs. Was there some specific aspect you wanted to work on?

All of my work is in this file:

https://github.com/mindofmatthew/p5.js/blob/3d-model-loading/src/3d/loading.js

[2015-12-04 19:50] KingWalrus opened #1162 "pMouseX/Y only updates on mouse movement and not with new frame"
Not sure if this is a bug but it seems there are some different behaviors between the latest p5 libraries (starting with 0.4.18) and the version that comes with the p5 editor.

When developing using the editor, pmouseX/Y seems to update with the new frame so if the mouse stops moving pmouseX/Y will equal mouseX/Y on the next frame. However, with 0.4.18 and 0.4.19, when the mouse stops moving pmous

[2015-12-04 20:18] darkcoderrises commented on #971
HI, I would like to work on this. Can someone mentor me on this?

[2015-12-05 12:47] limzykenneth commented on #1162
From what I understand, if the mouse is not moving, `pMouseX/Y` should equal to `mouseX/Y`. Can you give an example of what the values of `pMouseX/Y` and `mouseX/Y` are respectively with 0.4.19 when the mouse is not moving?

[2015-12-05 13:24] hkirat commented on #1161
I wanted to work on both parsing and rendering..
But everything looks nice in your fork.
I'll contribute directly to it..

[2015-12-05 13:24] #1161 closed

[2015-12-05 15:32] mikewesthad commented on #1135
This is the first time I'm poking around p5 source, but I think I see what's going on here.
The [p5 constructor](https://github.com/processing/p5.js/blob/ad071c96efef47b752d942c69407d600c4c75fc9/src/core/core.js#L37) doesn't create an independent random generator for each instance.  So the [lcg](https://github.com/processing/p5.js/blob/ad071c96efef47b752d942c69407d600c4c75fc9/src/math/random.js#L1

[2015-12-05 16:14] limzykenneth commented on #1135
@mikewesthad I believe you analysis is correct.

I think with instance mode one would expect the seeded RNG to return the same results in all instances if the seed is the same. I'm not sure if it is at all possible to have independent RNG in each instances though.

[2015-12-05 19:02] mikewesthad commented on #1135
@limzykenneth, right - I think it depends on what "instance" mode is supposed to be.  Is it intended for running two independent sketches concurrently?  It seems to be more for providing closure over a single sketch so that p5 can play nicely with other libraries.

Other aspects of p5 will act weird if you run two instances side-by-side.  E.g. making shapes using vertex will be funky since the [ve

[2015-12-05 19:12] limzykenneth commented on #1135
Interesting, I haven't come across this behaviour before but to be fair I'm not terribly familiar with instance mode anyway. ;)

I'm not sure what needs to be done if we are to allow two sketches to run on the same page with the expected results, someone else need to take up on that one. Personally I would very much like to have the possibility to have multiple sketch on the same page as it is qui

[2015-12-05 22:49] mikewesthad commented on #1097
I took a look at this since it seemed related to another issue - #1135 - and I do think they are tangentially related.

From what I saw, when an open type font is loaded (like roboto.ttf), the font is rendered by p5.Font's [_renderPath(...)](https://github.com/processing/p5.js/blob/master/src%2Ftypography%2Fp5.Font.js#L286) method.  This reads out the outline information from the font and draws it

[2015-12-06 01:47] jrc03c commented on #1097
@mikewesthad That workaround seems acceptable to me. Thanks for your help!

[2015-12-06 11:04] dhowe commented on #815
<i class="fa fa-thumbs-up"></i>

[2015-12-06 11:06] dhowe commented on #815
👍

[2015-12-06 15:00] toolness commented on #1135
Thanks for looking into this @mikewesthad!

Yeah, p5's own reference docs actually assume this too, as some pages like the docs for [`stroke()`](http://p5js.org/reference/#/p5/stroke) actually have multiple sketches on them. Each sketch isn't self-contained in its own iframe or anything (though I've suggested we do this in https://github.com/processing/p5.js-website/issues/198) so any bugs of this

[2015-12-06 21:27] toolness opened #1163 "updatePixels() throws an unhelpful error if not preceded by set() or loadPixels()"
Consider the following sketch, which is just meant to show dots where the user has clicked:

[code]

By itself, this sketch doesn't actually work, because the following exception is thrown on the first frame:

[code]

Altering the sketch so `updatePixels()` isn't called if there are no points in our array (i.e., when no calls to `set()` have been made) fixes things:

[code]

At the very least, I t

[2015-12-06 23:38] adellelin opened #1165 "Pushing video objects to a 2D array"
Hi,

I am trying to create a 2D array of video objects. This is part of a larger system where I am combining sprites with video objects and have got a prototype working for a regular array. However now I am trying to push video objects to a 2D array and have isolated that area of code. I think the issue is in this line of code but haven't been able to work it out:
tvObjArray.push(new NewTvObj(crea

[2015-12-07 02:18] mikewesthad commented on #1135
@toolness no problem.  Good point about the existing documentation.  Given that, it seems like it might be a good idea to push for each p5 instance to be independent.  So in this case, the lcg random number generator could be attached to the specific p5 instance (rather than as a variable local to random.js and shared across all p5 instances).  A hacky fix might be: instead of the lcg being local,

[2015-12-07 03:39] #1137 closed

[2015-12-07 03:40] #1160 closed

[2015-12-07 14:47] blindfish3 commented on #1165
The only issue is with your code.  Keep your questions on the [forum](https://forum.processing.org/two/discussion/13821/create-a-2d-array-of-video-objects-uncaught-typeerror#latest) where they belong...

[2015-12-07 16:03] lmccart commented on #1165
@blindfish3 p5.js is a community that takes very seriously its intent to be welcoming and supportive to new people (and to everyone). please be considerate with the tone of your posts. it's great to teach someone who may be less familiar with the protocols/workflows, but please make sure you are encouraging in doing so. thanks! :)

hi @adellelin, it looks like maybe when you initialize the array i

[2015-12-07 17:37] blindfish3 commented on #1165
@adellelin: apologies if I caused offence

@lmccart: point taken: written in a hurry and with not enough consideration :/
However, I wouldn't have been so abrupt if I hadn't already posted some constructive criticism on the forum itself: my link above goes back to adellelin's cross post there, where I had already pointed out the two obvious issues with the code; and was intended to avoid anyone he

[2015-12-07 22:19] lmccart commented on #1163
I think the graceful do nothing fail makes sense!

[2015-12-08 01:04] KingWalrus commented on #1162
Yeah.

From what I can tell the pmouseX/Y values update only when the mouse moves and not on the frame as stated in the reference.

After not moving the mouse this was the values of mouseX, mouseY, pmouseX, pmouseY when using 0.4.19:

417 148 417 150

[2015-12-08 21:50] gtoast commented on #1159
This is kind of tangential but which browser are you using? I just ran your sketch. Everything seems fine. mouseX mouseY are integers in my browser. Take a look at mouseX and mouseY in the following sketch:

[code]

[2015-12-08 23:52] gtoast opened #1167 "get() returns unpredictiable results for non-integer values"
Started investigating this after  noticing this example for the p5.play framework was broken:
http://p5play.molleindustria.org/examples/index.html?fileName=collisions5.js That triangle is supposed to rest on that turquoise cloud thing.

The crux of the problem is illustrated here:

[code]

this returns
[code]

Mess around with the decimal number to get even stranger results. (I've also seen it ret

[2015-12-08 23:55] lmccart commented on #1167
great, thank you!

[2015-12-09 10:39] dhowe commented on #1097
This should be fixed with pr #1168

![screen shot 2015-12-09 at 6 34 26 pm](https://cloud.githubusercontent.com/assets/737638/11683170/338c9652-9ea4-11e5-9ef5-9a355539742a.png)

[2015-12-09 12:38] lmccart commented on #1097
fixed with #1168

[2015-12-09 12:38] #1097 closed

[2015-12-09 19:52] lmccart commented on #1165
hey @blindfish3 thanks for your apology and for answering the question on the forum!

[2015-12-09 19:52] #1165 closed

[2015-12-09 19:58] #1163 closed

[2015-12-09 20:01] lmccart commented on #1095
I think this is a great idea, but I'm going to close the issue here as it seems to pertain to a potential addon library rather than a feature of the core p5.js library itself. This page describes how to make an addon library if you'd like to pursue this option: https://github.com/processing/p5.js/wiki/Libraries#creating-a-new-library.

[2015-12-09 20:01] #1095 closed

[2015-12-09 20:04] lmccart commented on #1048
hi @golanlevin, I'm going to close this issue as it may be a little confusing for people to know how to proceed with this one until the sample code is posted. please feel free to reopen whenever you have this code handy. no need to track down the exact version that broke things, I can figure it out, with a test sketch to compare against.

[2015-12-09 20:04] #1048 closed

[2015-12-09 20:27] #972 closed

[2015-12-09 20:27] #1162 closed

[2015-12-09 21:22] lmccart commented on #1167
closed with https://github.com/processing/p5.js/pull/1169

[2015-12-09 21:22] #1167 closed

[2015-12-09 21:32] #991 closed

[2015-12-09 21:32] lmccart commented on #991
i believe this is fixed with https://github.com/processing/p5.js/commit/12b98c8abef9dae68af6d64944742bf65419c44b

[2015-12-09 22:05] #1129 closed

[2015-12-09 22:07] lmccart commented on #1129
I set it up so `grunt yui` will production ready docs and `grunt yui:dev` will build the dev docs linking to local copies of the lib. However, I just duplicated all the yuidoc options, I'm not sure if there's a DRYer way to do it where we only update the helpers line. I tried some things but couldn't get it to work. @toolness let me know if you have any thoughts?
https://github.com/processing/p5.j

[2015-12-09 22:41] toolness commented on #1159
Oh, so I think this is actually a bit related to https://github.com/processing/p5.js/issues/974#issuecomment-152660316... Basically, on either Firefox or Chrome, when you zoom the page just the slightest bit (Ctrl-+/⌘-+), `mouseX` and `mouseY` become floats.

I suppose another alternative would be to force `mouseX` and `mouseY` to *always* be integers, just like we did with `devicePixelRatio` in #

[2015-12-09 23:29] gtoast commented on #1159
Well, I just had a pull request merged where I called Math.floor() on decimal values passed into get(). set() and get() should probably be consistent in their handling, whatever we do.

I saw that you called ceil() in that devicePixelRatio patch. What was you reasoning? I chose floor() because I figured if you took the conservative guess you have less of a chance going past your array length. But

[2015-12-09 23:48] toolness commented on #1159
Oh cool! Does that mean this issue is fixed and we should close it? Which PR was it?

Good question--my reasoning behind using `ceil()` in #1052 was that `devicePixelRatio` was used to determine how many HTML5 Canvas pixels to use for every "p5 pixel" on a p5 canvas. For instance, if you're on a retina display where `devicePixelRatio` is 2, then `createCanvas(100, 100)` actually makes a 200x200 HT

[2015-12-10 12:35] dhowe commented on #844
For lack of any further discussion on this, I've created a [PR](https://github.com/processing/p5.js/pull/1171) for a smaller version of this functionality. I'm proposing this as an interim solution until we can do custom-builds or some other long-term solution (as discussed above)...

[2015-12-10 16:36] lmccart commented on #971
hi @darkcoderrises, thanks for your interest! we don't really have a general mentor system for larger issues like this, but you could propose this as a [fellowship project](https://processingfoundation.org/fellowships) and a mentor would be assigned in this case.

however, if you're looking to get involved right now and learn a bit about the p5.js development and codebase, and get some general fee

[2015-12-10 21:38] limzykenneth commented on #1127
Hi @srinivasmangipudi, thanks for the report but I'm afraid you need to be a bit more specific than that. It will be ideal if you can provide the phones models, OS (including versions) and perhaps some screenshot of how it looks like then we will be able to fix it faster. Cheers.

[2015-12-11 18:00] evejweinberg opened #1172 "grunt command failing on PhantomJS"
when running grunt, I get this error:

Warning: PhantomJS unable to load "http://localhost:9001/test/test.html" URI. Used --force, continuing.

I followed the steps here: https://github.com/processing/p5.js/wiki/Development#setup

[2015-12-11 20:32] limzykenneth commented on #1172
Can you post the whole terminal output here? Thanks.

[2015-12-11 23:51] lmccart commented on #844
sounds good. sorry to take so long with this. i think we are waiting on the modular build thing which may not happen in the immediate future. this makes sense as a good interim solution.
does it make sense to close this issue then since we have one open for the modular build already?

[2015-12-13 14:54] evejweinberg commented on #1172
after getting the error I tried to install as sudo, and also used --debug:

HiEve p5.js 💗  sudo npm install
Password:
HiEve p5.js 💗  grunt test --debug
Running "jshint:build" (jshint) task
[D] Task source: /Users/NeverOdd/Desktop/p5.js/node_modules/grunt-contrib-jshint/tasks/jshint.js

Running "jshint:source" (jshint) task
[D] Task source: /Users/NeverOdd/Desktop/p5.js/node_modules/grunt-contrib-j

[2015-12-13 15:08] limzykenneth commented on #1172
At first glance it seems to be a timeout problem with PhantomJS (which I knew nothing about). Someone else will need to pick up on this. It isn't happening on my side though.

In the mean time you can skip the linting and testing steps by running `grunt build`, might not be a good idea but at least you get to build the library from source with this.

[2015-12-16 01:19] lmccart commented on #1159
hey @toolness, regarding your questions about set...
I think it does make most sense to round down, and @gtoast's pr #1169 does this for get() so I'll go ahead and do this for set() to.
`point()` vs `set()` is a bit redundant, although `set()` can do more than just set one pixel. actually, if you are just trying to color one pixel, performance wise it would be faster to use `point()` because it ju

[2015-12-16 01:20] #1159 closed

[2015-12-16 05:47] KingWalrus opened #1174 "translate() function does not reset on loop"
The <a href="http://p5js.org/reference/#/p5/translate" target="_blank">docs</a> say that the tranlsate function should reset on the loop if used inside the draw() function. However, it appears to be accumlating with each frame.

[code]

[2015-12-16 11:55] toolness commented on #1172
Hmm, I just noticed the "Host localhost not found" line of your output... What happens if you run `ping localhost`?

Also, can you run `grunt connect --keepalive` and then visit http://localhost:9001/ in your browser? Does it show a directory listing, or does it not load?

[2015-12-16 13:29] #1174 closed

[2015-12-16 15:05] BarbaraAlmeida opened #1176 "pmouseX always equal to mouseX"
When using p5.js v0.4.20  from December 11, 2015 pmouseX/Y is always equal to mouseX/Y.

I've tried the p5.js files on [this issue] (https://github.com/processing/p5.js/issues/1035):

In p5.js v0.4.17 from October 25, 2015 (the one that solved the issue) they are also behaving weirdly: pmouseX/Y is not equal to mouseX/Y when the mouse stops moving (seems to be the same problem reported [here] (htt

[2015-12-16 17:36] scenaristeur opened #1177 "Text in 3D, webgl"
Hi,
Trying some new experiences with p5js, i'd like to know if there is a way for displaying text in 3D/webgl mode ?
The goal is to show rdf graphs like those i can do there http://smag-smag0.rhcloud.com/DreamCatcher1/ but in 3D.
I 'd like that the text could be displayed near the node, and scale down if the node has a big z.

Thanks. David

[2015-12-17 06:03] sidds1009 opened #1178 "26270: Uncaught TypeError: Cannot read property 'apply' of undefined"
On redraw(), the background changes but the 3D gives an error. This happens when  I use WEBGL  in createCanvas. I get this message and program halts.

"p5.Renderer3D: enabled webgl context"
26270: Uncaught TypeError: Cannot read property 'apply' of undefined

translate(250, 0, 0);
    push();
    rotateZ(theta * 0.01);
    rotateX(theta * 0.01);
    rotateY(theta * 0.01);
    texture(aries);
    b

[2015-12-17 06:58] coreygo commented on #458
Not sure if this is the best place for input but please consider support for [linear](http://www.w3schools.com/svg/svg_grad_linear.asp) and [radial](http://www.w3schools.com/svg/svg_grad_radial.asp) SVG gradients…

[2015-12-17 11:57] VinaySingh035 commented on #1158
I would like to work on this issue, as I'm a newbie here so will be good to start with.
@vanevery can you please elaborate the issue a bit more and help me here in grabbing some understanding here.

[2015-12-17 15:10] indefinit commented on #1178
It's hard to say exactly where the problem might be from this code snippet, but it's possible the Uncaught TypeError is happening because of your call to texture().  Perhaps take a look at your texture image and make sure you're using a power of two image size: 512x512 or 1024x1024, etc.

Other than that, feel free to post a link to your code (github gist) on the Processing forum for others to chi

[2015-12-17 16:14] #1178 closed

[2015-12-17 20:25] geoffalday opened #1179 "SVG image positioning and scaling"
When loading an SVG image, the positioning and scaling doesn't render as expected. Note the two images used in this example were saved from the same file with the same dimensions.

[code]

This is what is rendered with that code:
![svg_bug_1](https://cloud.githubusercontent.com/assets/713227/11880987/a7782b78-a4c9-11e5-9afd-e9455e3e13ec.png)

If I remove the `viewBox` attribute from the SVG...
![a

[2015-12-18 15:25] whoem opened #1180 "Light & Material functions not compatible with beginShape() endShape() elements"
Chrome: "glDrawArrays: attempt to render with no buffer attached to enabled attribute 2"
Firefox: "WebGL: drawArrays: no VBO bound to enabled vertex attrib index 2!"

Would be veeeeeery happy to see this fixed. Looking forward to a full feature p5.js!!!! :) *excited*
Cheers!

[2015-12-18 16:01] indefinit commented on #1180
Thanks for filing.  This is a known issue and will be fixed in the next major update (in fact it's already fixed in my fork).  The reason for it taking so long is that immediate mode (beginShape and endShape) is undergoing a larger architectural change in the webgl core.

[2015-12-18 16:08] whoem commented on #1180
Sounds gooood :D You know, when will the next major update happen?
Do you have a build of your fork for me?

On 18.12.2015 17:01, Kevin Siwoff wrote:

[2015-12-18 16:49] riebschlager opened #1181 "Tint problem after upgrading from 0.4.19 to 0.4.20"
I have a sketch (instance mode) that is using tint like this:

[code]
It had been working fine, but 0.4.20 doesn't like it very much. It's hitting an error in `p5.Renderer2D.prototype.image` which is around line 85 in `p5.Renderer2D.js`

The error is `Uncaught TypeError: Expecting a function in instanceof check, but got undefined`

I'm not really sure why the `instanceof` call is failing like this

[2015-12-19 05:24] evesira opened #1182 "p5.sound - Multiple concurrent oscillators and envelopes, triggerRelease not executing"
Today I started building an app that involves playing chords with button presses. Ran into some problems, looked at my code for a long time to figure out what was wrong, until I boiled it down to the following code which doesn't work but should:

[code]

In Chrome, Firefox, and Opera, this consistently doesn't work on my machine. Only the first note called to be released is actually released. The

[2015-12-19 07:53] therewasaguy commented on #1182
Thanks for this! Just pushed a fix to the p5.sound repo, you can get the latest version of the library here:
https://github.com/processing/p5.js-sound/tree/master/lib

If you find more issues related to p5.sound, feel free to post them on the p5.sound repo

[2015-12-19 07:53] #1182 closed

[2015-12-20 11:17] whoem commented on #1180
Hmm. After building your fork I get another error:
"Uncaught TypeError: Cannot read property '0' of undefined" ... "p5.js:8999"

[2015-12-20 11:50] indefinit commented on #1180
Do you mind posting your code or a link to a gist? I'm targeting getting this done before the new year.

[2015-12-20 12:13] whoem commented on #1180
The problem is present in the definition of function "p5.Renderer3D.prototype.background". Here you first define the variable "_col", further the variables "_r", "_g", "_b", "_a". Their definition references to a "_col.rgb" array. But this does not exist. In fact, "_col" has a "maxes" object, which contains a "rgb" array. So I fixed the four lines like this: "var _r = (_col.rgb[0]) / 255;" to "var

[2015-12-21 13:47] indefinit commented on #1180
Ok I'll take a look further.  It's possible the issue has to do with an undefined attribute for lighting in the pixel shader.  Will report back shortly.

Sent from my mobile.

[2015-12-21 23:00] indefinit commented on #1180
Ok it looks like there's some weirdness going on with background and color
in general, perhaps from a previous upstream merge.  I'll have to dig
deeper but in case you are curious or want to take a stab, check out my
geometry-refactor branch here.  PR's welcome:
https://github.com/indefinit/p5.js/tree/geometry-refactor

On Mon, Dec 21, 2015 at 2:47 PM, Kevin Siwoff <kevin.siwoff@gmail.com>
wrote:

[2015-12-22 14:23] DarkPrince304 commented on #1179
@lmccart : What do you think could be the problem here?

[2015-12-23 01:24] lmccart commented on #1181
I tried to piece together an example from what you posted, an came up with something like this, does this represent the problem?
[code]

however, the output looks like this, which seems fine?
<img width="609" alt="screen shot 2015-12-22 at 8 23 48 pm" src="https://cloud.githubusercontent.com/assets/191056/11969604/f013c10c-a8e9-11e5-841d-2e8ba9e0031a.png">

if this is not correct, could you please

[2015-12-23 01:31] lmccart commented on #1176
This is due to the fact that the mouse coords are update do mousemove, but the pmouse coords are updated each frame, so often the order of events causes them to end up the same. I would suggest instead doing the drawing inside mouseMoved() function:

[code]

[2015-12-23 01:32] lmccart commented on #1179
I would guess it has to do with a conflict between the pixel density and the viewbox property. Is it a feasible workaround to just set `pixelDensity(1)` to disable scaling for retina, or review the viewbox property from the svg file?

[2015-12-23 03:46] riebschlager commented on #1181
Sure thing. Here is a fiddle using that same code with 0.4.20:

https://jsfiddle.net/riebschlager/hvbekfxv/

And one with 0.4.19:

https://jsfiddle.net/riebschlager/j4ysrcc4/

I've tried each version in Chrome, Firefox and Safari and it's still erroring out at the 'instanceof' check on `p5.MediaElement`

[2015-12-24 02:05] KingWalrus commented on #1176
I recently reported an issue with pmouseX/Y not updating when the mouse stops moving, but in Processing the mouseX/Y positions update every frame (https://github.com/processing/p5.js/issues/1162), which was fixed by updating pmouseX/Y every frame, but now it seems that not updating current mouseX/Y every frame does not allow for pmousX/Y to be used in the main draw function, which is how a lot of

[2015-12-24 02:59] schuelaw opened #1183 "translate() in v0.4.20"
In the [reference for the translate function](http://p5js.org/reference/#/p5/translate), it states that translations are cumulative, but that they are reset after each draw(). This is certainly the behavior that I was seeing up until I updated my lib this afternoon to v0.4.20. This [simple sketch](http://carrot.whitman.edu/P5JS/Test-0.4.20/), indicates that the translations are cumulative even bet

[2015-12-24 14:50] lmccart commented on #1183
tthanks. this has been fixed (https://github.com/processing/p5.js/issues/1174), it will be included in the next release.

[2015-12-24 14:50] #1183 closed

[2015-12-24 16:47] vieks opened #1184 "[website] PHP warnings"
http://p5js.org/tutorials/trigonometry/

[2015-12-24 17:57] lmccart commented on #1176
hmm I think I have a good fix that will satisfy both these conditions. will submit a patch soon.

[2015-12-25 12:54] BarbaraAlmeida commented on #1176
Drawing inside ```mouseMoved()``` results on the same problem reported on #1035 when moving fast.

![2015-12-25](https://cloud.githubusercontent.com/assets/10374661/12002964/b4bc4468-aaf5-11e5-8159-88ec9c41a6bc.png)

[2015-12-27 01:28] karenpeng commented on #1177
Hi @scenaristeur There's no text geometry in p5js now, thanks for reminding us of this need.

[2015-12-27 14:15] limzykenneth commented on #1184
Seems to be several links broken, I'll try to fix this but I'm not sure how complete this tutorial really is but I can at least fix the PHP errors.

[2015-12-27 15:49] lmccart commented on #1184
yes this is an in progress tutorial (it's not listed on the tutorials page yet), but if you'd like to fix I think the php links just need an extra "../". otherwise I'll be back at this in a few days and can fix it then. thanks!

[2015-12-28 04:23] dhowe commented on #1177
To be clear, this ticket refers to 2D text via the 3D renderer, as opposed to 3D text which might also be fun...

[2015-12-28 21:20] indefinit commented on #1177
3D text would be pretty awesome indeed.  Regarding 2D text, unfortunately it wasn't a priority when we first started working on webgl, but upon second glance, maybe a mixture of 2D and webgl contexts isn't that complicated per this article:http://webglfundamentals.org/webgl/lessons/webgl-text-canvas2d.html

Would someone want to take this feature on in a PR I think it would be a worthy endeavor so

[2015-12-29 19:11] timglorioso commented on #1158
It's working as expected for me, and there's already a test for this. Maybe @vanevery could provide an example of it not working?

[2015-12-29 21:14] vanevery commented on #1158
Hi @timglorioso and @VinaySingh035

Here is a quick example illustrating the problem:
http://www.walking-productions.com/icm_2015/imagetest/

var img;

function preload() {
  img = loadImage("100x100black_square.png");
}

function setup() {
  createCanvas(200,200);
}

function draw() {
  background(128);
  //image(img, sx, sy, sw, sh, dx, dy, dw, dh);

  // IMHO Should stretch the source image to

[2015-12-29 23:18] timglorioso commented on #1158
Okay, I think it's because you're using 0.4.13 and this functionality was added in 0.4.14.

[2015-12-30 01:30] vanevery commented on #1158
Hot diggity dog, you are right.  It is working as it should with 0.4.17.  Sorry for the time waste

[2015-12-30 01:30] #1158 closed

[2015-12-30 10:51] parsoyaarihant commented on #1071
I guess they have made it this way because in 3D, if all the vertices are not in the same plane then it will be a problem to render. Hence, the default shape is Triangle. We can improve this mode by making sure that all the vertices lie in a plane.

[2015-12-30 16:33] #1184 closed

[2015-12-30 17:15] DarkPrince304 commented on #1093
@indefinit : I would like to confirm whether this behavior is only with `sphere()` ? Because `noFill()` works as expected with `rect()` .

[2015-12-30 17:31] DarkPrince304 commented on #1179
@lmccart: Sure would like to give it a try, though, I'm interested in knowing what could be the cause of conflict between the viewbox property and Pixel Density. Also what about conditions when the user needs to use the viewbox property? If we go the way of removing the viewbox property?

[2015-12-31 01:12] indefinit commented on #1093
As of now, noFill shouldn't have any effect on any of the 3D primitives, which includes:

sphere
box
torus
ellipsoid
cone
cylinder

[2015-12-31 12:49] indefinit commented on #1056
Bringing this conversation back since I want to get this PR merged into master as soon as possible so I can stop holding it hostage from other contributors.  I've created a new branch in this repo for the geometry-refactor.  I think it should help eliminate duplication of efforts since we now have a bunch of webgl contributors (yay!) and can close issues faster.  The branch is currently located ca

[2016-01-01 03:23] lmccart commented on #1056
:+1:

[2016-01-01 03:31] #1181 closed

[2016-01-01 03:32] lmccart commented on #1181
aha perfect thank you! i wasn't seeing it before because i was including the p5.dom library as well, which stops the error from occurring. i just added a check so the function should work properly now.

[2016-01-01 03:37] lmccart commented on #1179
hey @DarkPrince304, it'd be great if you'd like to take a look at this. unfortunately, i don't know too much about svgs and so i don't have a clear idea about what the best fix for this, without digging in further.

my vague guess is that the viewbox property is forcing some scaling or image sizing so it shows up at a specific size. this may be clashing with the fact the canvas is sometimes actual

[2016-01-02 11:47] marti1125 commented on #346
Hi @lmccart could you tell me more about the first task, please

[2016-01-02 18:03] limzykenneth opened #1189 "Broken local resource links for reference"
I've notice the development reference generated from source in in the repo seem to have broken links, specifically if gave me 404 for the following files:

![screen shot 2016-01-02 at 5 52 30 pm](https://cloud.githubusercontent.com/assets/7543950/12075471/bf390270-b179-11e5-955f-6be24e5f260c.png)

I went digging and the problem seems to start from PR #1170 possibly commit `858c99d536f21bb707d06e73

[2016-01-02 18:14] limzykenneth commented on #1189
Ok, I just realized running `grunt yui:dev` will give me the locally linked version. Can we add the instructions to the development guidelines?

[2016-01-02 18:18] limzykenneth commented on #1189
I've just realised running `grunt yui:dev` will give me the locally linked version. Been out of the loop a bit too long I guess ;)

Just a question before I close this though, why the decision to have `grunt yui` and `grunt yui:dev`?

[2016-01-02 18:51] lmccart commented on #1189
hi @limzykenneth sorry about the confusion. we recently changed things up so that you can build the files either for local testing or website production. the links are different because when you are running locally you may want to link to the version of p5.js that you just build to confirm all examples work with the most recent. but when running on the web, we want to link to the version that is i

[2016-01-02 18:52] lmccart commented on #346
hi @marti1125. this one has already been addressed actually, thanks!

[2016-01-02 19:02] limzykenneth commented on #1189
Ok, thanks. The dev docs does mention it but it's quite obscure, for me at least, mentioning the `grunt yui:dev` at the very end of the wiki about inline docs. I'm authoring another issue, might edit the wiki after that, do have a look when you can so that I'm not giving any false information by accident.

[2016-01-02 19:02] #1189 closed

[2016-01-02 19:06] limzykenneth opened #1190 "Documentation style guide and YUIDoc markdown"
To build on the point about style guide for the inline documentation mentioned in #1173, at the moment the way to add line breaks or create new paragraphs is only by adding `<br />` tags. I think that's too messy and way too easy to miss.

According to YUIDoc's [syntax reference](http://yui.github.io/yuidoc/syntax/index.html#basic-requirements), YUIDoc supports markdown and also recognizes two lin

[2016-01-02 19:07] lmccart commented on #1189
great thank you!

[2016-01-02 22:14] DarkPrince304 commented on #1093
http://p5js.org/reference/#p5/box
In this when I try noFill() nothing happens, same goes for sphere, torus, etc, so noFill() doesn't has any effect on the mentioned shapes. Did you mean that in the future, the mentioned 3D Primitives should support the wireframe functionality?

[2016-01-02 22:55] indefinit commented on #1093
Hi @DarkPrince304, yes sorry I wasn't clearer.  Right now we don't have wireframe functionality for 3D primitives.  I know it's not ideal, but you can draw wireframes manually using beginShape() and endShape().

That said, wireframe 3d primitives is definitely something we're eager to implement (in fact if you want to take a stab at it in the very near future, feel free to PR the webgl-geometry-re

[2016-01-04 20:28] IgorBabalich opened #1193 "translate() doesn't reset in draw() loop"
// p5.js v0.4.20 December 11, 2015

      var x = 0;
      var y = 0;

      function setup() {
         createCanvas(640, 640);
         background(204);
      }

      function draw() {
         translate(x,y);
         rect(0, 0, 30, 30);

         x += 0.01;
         y += 0.01;
      }

[2016-01-04 20:45] whoem commented on #1180
Hey, sorry for late reply. I'd like to collaborate on processing.js - unfortunately I am very busy until end of march. Please let me know in this thread, if there are major changes that could fix the problems with my code :) Thank you

[2016-01-04 22:34] DarkPrince304 commented on #1179
@lmccart : I agree with everything you said, but when I tested this it seemed to work fine even without removing the viewbox property. I'm using 0.4.20 version. Did you get a chance to test it for yourself aswell?

[2016-01-04 22:39] karenpeng opened #1194 "improve camera api"
should add eye position in vertex shader so that the [camera](http://p5js.org/reference/#/p5/camera) api has direct control of world position, instead of controlling model view matrix.

[2016-01-04 22:55] lmccart commented on #1176
ok I just submitted a patch. the issue here is that the mouse coords were being updated on the event (which is async) and the pmouse coords were being updated on each draw() call, so there was often never any time between the two. the fix I've added adds internal vars _nextMouseX/Y and _nextTouchX/Y which get updated on the mouse or touch event. then in draw (each frame), the values of mouseX/Y ar

[2016-01-04 22:55] #1176 closed

[2016-01-04 22:57] lmccart commented on #1119
i've added a task to generate the minified version as well, all future zip packages will now have both included.

[2016-01-04 22:57] #1119 closed

[2016-01-04 23:09] lmccart commented on #1179
interesting. I have not tried, I'll give it a look a little later.
are you using a retina screen? maybe it could be something that only shows up with displays that have pixel density greater than 1 (which wouldn't happen on non-retina display).

[2016-01-04 23:36] #954 closed

[2016-01-05 00:17] lmccart commented on #1193
thanks! this was just fixed in the new version 0.4.12

[2016-01-05 03:06] indefinit commented on #1180
This should be fixed with #1196 in the geometry-refactor branch.  Waiting on a couple of pending changes before submitting another PR and merging into the master.

[2016-01-05 03:06] #1180 closed

[2016-01-05 03:07] #1071 closed

[2016-01-05 19:38] alignedleft commented on #1119
Fantastic. Thank you, @lmccart!

[2016-01-05 19:59] parsoyaarihant opened #1198 "Implementing surface in WebGL"
Hi,
    I think it will be cool if there is a way to render surface in 3D. Similar to beginShape, if the user is able
to input the boundary and few coordinates which lie inside the surface, depending on the property of the surface(elastic/non-elastic) we can render the surface to a good approximation. I feel this can have many applications and will be fun to use. Please give feedback :)

Thanks.

[2016-01-06 01:50] autumna opened #1199 "fullscreen issue on firefox"
on firefox, fullScreen() function is broken. Workaround is to rename fullScreen() function to "fullscreen()" or  "afullScreen()" etc in the p5.js file and the relevant sketch. The sketch that is broken in Firefox works fine in Chrome.

Possible firefox namespace conflict?

[2016-01-06 14:36] indefinit commented on #1198
Sounds very interesting!  It would be great to see some more examples of this so others can weigh in.  Related to this topic, what do you think about something like axis aligned bounding box and point-plane intersection or line-plane intersection?  From a high level, this is how I imagine how a user would work with a bounding box api:
[code]

[code]

[2016-01-07 15:37] parsoyaarihant commented on #1198
Yeah @indefinit , I think using this concept we can improve 3D functionalities such as simulations and interactive animation in the canvas. One potential application which can be evoked by implementing intersection is that user too can interact with the 3D objects in the canvas. It can be done if we consider a line normal to the computer screen(which is camera in WebGL) at the point where the mous

[2016-01-07 20:18] opg7371 commented on #1199
We can solve the problem by skipping js alert on Firefox browsers.
I will be fixing it soon.

[2016-01-08 00:22] debone opened #1200 "createGraphics not Translating"
Hello,
I've found that when we create a Graphics instance, some transformations as `translate` and `rotate` do not work, while `skewX` for example, works.

[code]

This code outputs this:
![downloada](https://cloud.githubusercontent.com/assets/763457/12186709/7fe5de9c-b58c-11e5-9bba-bcb3689fc127.png)

When the *correct* should be:
![downloadb](https://cloud.githubusercontent.com/assets/763457/1218

[2016-01-08 10:00] jguess commented on #1177
Yes I am patiently waiting for this feature to become available too ! Thanks for all the great work !

[2016-01-08 11:38] dhowe commented on #1177
For 3D, we have the paths/points for each glyph, and I've also written some code to do the triangulation. So perhaps we would just need to think about extruding on the z-axis (at least for a simple demo)

[2016-01-08 17:02] hkirat opened #1201 "Custom Debugger for p5."
I would like to mention #971 over here..
How about a custom Debugger for p5.js
By custom Debugger I mean rather than having Custom messages in the right of the screen inside the browser.
It can include functionality like colors for different messages..
If the debug mode is on the console messages would appear on the screen hence saving the developer from opening the js console in the browser..

[2016-01-08 20:47] DarkPrince304 commented on #1179
Didn't use retina screen since I don't have such a device. Would like to hear about this from you.

[2016-01-08 22:33] SIRHAMY opened #1202 "Image.resize() Auto Resize broken"
In the docs here: http://p5js.org/reference/#/p5.Image resize() says that placing a 0 in for one of the parameters will automatically resize that size so as to keep the initial aspect ratio. However, when I try to resize one of my images it looks like that field is staying the same rather than being adjusted.

Not sure if this is expected behavior and the docs are out of date or if it's just broke

[2016-01-09 09:51] jguess commented on #1177
Great thanks for your update !

[2016-01-11 02:12] bmoren opened #1203 "point() missing z axis"
processing point() has a z axis as a 3rd property, p5js point does not have a z axis

http://p5js.org/reference/#/p5/point
https://processing.org/reference/point_.html

[2016-01-11 02:20] #1203 closed

[2016-01-11 22:29] whichlight commented on #927
I was reading a post on mobile game graphics and they mentioned viewport stuff. I can't seem to find the article now, but including this line in my header made the rendering in safari and chrome consistent. https://github.com/whichlight/p5-fullscreen/blob/master/index.html#L5. It may have been something else, but I'm not having the issue anymore.

[2016-01-11 22:29] #927 closed

[2016-01-12 11:04] limzykenneth commented on #927
@whichlight I couldn't test this so I didn't reply to this before, but judging by your solution it does seem to be viewport problem. You might want a look at the various `<meta>` tags available which solved some problems, many of which I don't understand but still use as well. Bootstrap have a neat header section which I used for my own boilerplate even though I don't use Bootstrap.

[2016-01-13 02:49] lmccart commented on #1201
hi @hkirat thanks for your suggestion and ideas! we actually have the beginnings of a system like this in place already, and are thinking about ways to incorporate it into the editor and workflow once it's complete. you can follow along here: https://github.com/processing/p5.js/issues/971.
i'm going to close this issue so the conversation doesn't get split across threads. feel free to post more th

[2016-01-13 02:49] #1201 closed

[2016-01-13 03:02] shiffman commented on #1079
I'm not sure how this happened but I'm looking at p5.dom.js 0.2.7 and the code change from https://github.com/processing/p5.js/commit/317fdd17bd507acb35b7e0666dd6b301b9fef0dd no longer seems to be in there.  This is causing the pixels not to be resized appropriately when calling `size()` of a `p5.MediaElement`.

I believe here [line 1679](https://github.com/processing/p5.js/blob/master/lib/addons/

[2016-01-13 15:31] parsoyaarihant commented on #906
@shiffman I submitted a PR(#1185) and hope to get your feedback on my patch soon so i could make necessary changes.

[2016-01-13 23:50] lmccart commented on #1079
thanks for catching this! i think there was something tricky with this one... let me look into it tomorrow. what would be super helpful is a unit test for this. i think it could just check the size of elements or a test a few pixels in the pixels array.

[2016-01-14 00:46] brig002 opened #1205 "MouseX, MouseY don't work in latest p5 release with noLoop()"
Hi all.
With noLoop() turned on and mouse coordinate detection happening in the mouseMoved() method, mouse coordinates don't get updated in the latest p5 release (downloaded today, versus the last one I was using downloaded in Aug 2015).

Here is an example. Loading the same sketch.js, just switching the p5 library releases:
http://dfilm.com/lucs/mousetest/index.mousetest.2015.html  (works)
http:/

[2016-01-14 00:54] lmccart commented on #1205
yes, I reworked the mouse stuff to deal with issues mentioned here: https://github.com/processing/p5.js/issues/1176. now, mouse coords are updated in draw, rather than directly on mousemove. this means that with noLoop() set, you will not see continued effects from mouse input. this matches the behavior of processing I believe?

[2016-01-14 00:56] brig002 commented on #1205
Ah, shoot. Was trying to avoid looping for performance reasons. Will go back to setting a slow framerate instead. Thanks for the quick response.

[2016-01-14 00:56] #1205 closed

[2016-01-14 01:00] lmccart commented on #1205
perhaps a workaround is to grab the coords from the mouse event directly?
something like this:
[code]

[2016-01-14 01:09] brig002 commented on #1205
Oh yea, that'll do the trick! Nice one. Thx.
-ben

ps. I'm 1000% in love with p5js. Have been rueing the death of Flash for many years until a few months ago when I discovered p5. It's put a spring in my step. Thx.

[2016-01-14 15:54] indefinit opened #1207 "Why are bezierDetail() / curveDetail() separate functions from bezier() and curve()?"
Investigating these functions recently I realized both exist in the Processing Java api, however I wonder if we really need separate detail functions in p5.  A more javascript-y way would be to pass the detail as an optional parameter to the respective bezier or curve function, instead of storing the variable globally.  A large benefit of not storing bezier and curve details globally would be more

[2016-01-15 14:11] parsoyaarihant commented on #1198
re @indefinit : I have few questions regarding this:
we cannot define and store a new model in immediate mode, hence the user won't be able to use the bounding box method for the shape drawn in immediate mode. I would be better if we define our own model and input vertices or load models from .obj file and then implement aligned bounding box in p5.

[2016-01-15 16:19] indefinit commented on #1198
We should really be using retained mode instead of immediate for bounding box operations, or any operations where we need to store reference to the model itself.  In this way, a method like aabb() (axis aligned bounding box) would be called on the p5.Geometry object.

[2016-01-15 21:51] whoem opened #1209 "beginShape() endShape(CLOSE): limited to 3 vertices"
When I want to draw a shape using beginshape() endShape(CLOSE) with more than 3 vertices, it will only use the first 3 vertices in stack and form a triangle. Example:
[code]
... creates the following image:
![triangle](https://cloud.githubusercontent.com/assets/6699384/12366264/5b1a079c-bbda-11e5-8a29-d26298adaa9f.png)

:(

[2016-01-15 22:17] nick-jonas commented on #458
I'm outputting SVG's that are rather complex, like this:

![screen shot 2016-01-15 at 5 12 36 pm](https://cloud.githubusercontent.com/assets/805682/12366768/47964a70-bbab-11e5-80e8-fbe873a1a0f6.png)

When I go to save it, I'm doing it like this:

[code]

And the end result has a *ton* of lines/circles nested, this is the bottom of the svg:

[code]

Because of that, I get this error message when op

[2016-01-15 22:19] lmccart commented on #458
you might try using this library by @zenozeng https://github.com/zenozeng/p5.js-svg. i'm not sure if it accomplishes what you're trying to do but it adds a lot of svg functionality.

[2016-01-15 22:21] nick-jonas commented on #458
Yep, that's what I'm using - sorry I should probably post this over there!

[2016-01-16 01:57] lmccart commented on #1207
I agree, in terms of JS, I think this makes more sense to just pass it in. What does this mean for `curveTightness()`? I wonder if it gets confusing with so many arguments for the `curve()` or `bezier()` function for the user? Or does it make the optional args tricky to distinguish on the library side? @shiffman do you have any more insight into the decision to make these functions separate in Pro

[2016-01-16 02:15] #1202 closed

[2016-01-16 02:22] lmccart commented on #1079
very weird, i can't tell how this got lost but you're right it should def be the second version. i just made the change. thanks!

[2016-01-16 02:42] #1075 closed

[2016-01-16 07:43] parsoyaarihant commented on #1209
hi, this issue is fixed in the webgl-geometry-refractor branch.

[2016-01-16 09:53] whoem commented on #1209
Hi, with webgl-geometry-refractor branch I get not even a white triangle with the same sketch. Just a black background with nothing in it.

[2016-01-16 10:19] parsoyaarihant commented on #1209
this bug was fixed once by @indefinit  but other problems emerged again so u can try parsoyaarihant:implement-bezier- branch to run this but there may be other problems such as light properties. Refer to PR #1204.

[2016-01-16 12:59] i3games opened #1210 "Global namespace"
I just did
[code]
and realized that variables are in the global (window, ...) namespace. It would be safer to have a default scope for the sketch without having to resort to "instance mode", as it can generate hard to understand errors especially for beginners.

[2016-01-16 13:36] limzykenneth commented on #1210
Not a bad idea but I can't imagine how it can be implemented without changing how a user write p5 fundamentally, more specifically, how would the library know if the particular function or variable belongs to the scope of the sketch and not to the global object or other objects? Also with the code you provided, calling `location` in say the `draw()` function would call the `location` variable in t

[2016-01-16 16:25] whoem commented on #1209
Right, it works. Awesome work! :dancer: When will this be merged into master branch?

[2016-01-17 02:46] indefinit commented on #1209
@parsoyaarihant I've tested this on my system and I'm seeing correct behavior from beginShape() endShape() from the geometry-refactor branch.  This means you should be able to call lights and textures in addition to fill() on beginShape() without any errors.

@whoem we're getting close to merge time.  The items we need to finish before merging are correctly working cylinder and cone geometries as

[2016-01-17 06:02] parsoyaarihant opened #1214 "using beginShape() for both vertex and curveVertex in Webgl"
It seems there is no provision to use curveVertex in p5 WEBGL mode.Hence, I would like to implement this functionality in p5 immediate mode. I submitted a PR( #1185 ) and need feedback if I can use the same approach as used in p5 2D mode.

[2016-01-17 14:02] whoem commented on #1209
@indefinit Indeed in the most recent geometry-refractor branch, beginShape() endShape() works neat and calling lights works basically. But lights seem to address primitives only and ignore beginShape() endShape() elements.
Also, if you have a construction like this:
[code]
... eventhough you call the light before the transformations, they will take effect on it. Strange.

Another thing: The point

[2016-01-17 16:24] indefinit opened #1215 "keyPressed event firing on each loop"
I'm not sure if this is expected behavior but should the keyPressed() callback method be firing once per loop if a single key is pressed and held?  For example if I press and hold the 'o' key, my expectation is that the keyPressed() method will be called once and then when I release the 'o' key, the keyReleased() callback will fire once.  The actual behavior is that keyPressed() keeps firing as lo

[2016-01-17 16:32] limzykenneth commented on #1215
I think it made sense to have it fire only once. This is also the behaviour described by the docs.

[2016-01-17 16:41] lmccart commented on #1215
yes this is a bug. keyIsPressed variable should be used to track constant state, keyPressed() should fire only once. I can look into this.

[2016-01-17 22:57] karenpeng commented on #1209
@indefinit @parsoyaarihant thanks for your works on immediate mode!
@whoem the origin point in WebGL mode is in the center. Where did you see that's in the top-left corner, is it after translate?  And about the lighting, currently there's a problem in the world position,  #1194 is my thought to tackle it, in which the world position won't be effected by the transformation.

[2016-01-18 00:14] whoem commented on #1209
@karenpeng I was comparing WebGL's behaviour to OpenGL's origin point handling on desktop java p5. Obviously not the same, but do you intend to do so? I mean, is it a design aim of p5.js to imitate desktop p5's behaviour or "only" to translate it's methodology to web standards? I don't judge, just wanna know. Subscribed #1194. Thanks for the clue.

[2016-01-18 00:28] debone commented on #1200
I found the problem, the p5.dom inserts `translate()` and `rotate()` into the `p5.Element` prototype and `createGraphics()` is returning a `p5.Graphics` which is a children of `p5.Element`, so p5.dom overwrites it to the translation of the canvas element.
Maybe this is related #645 but apparently is stalled. Anyone?

[2016-01-19 03:27] shiffman commented on #1207
I don't, my guess is that it was just simpler to maintain and document in terms of having so many arguments (and the fact that multiple versions of the function have to be declared in Java as opposed to JS).   I suppose the code is probably a bit more readable with the separate function?   I'm not at all opposed to doing it differently here.

[2016-01-19 19:32] #1215 closed

[2016-01-19 19:36] lmccart commented on #1215
just adding a test example here in case it's helpful
[code]

[2016-01-19 19:36] karenpeng commented on #1209
@whoem oh yes you are right! It's an intended adaptation from java processing. We made this changed mainly because, if you look at cg fundamental and 3d softwares, center origin is widely used. There's a camera in 3d, it determines how you see the world. Even though the origin of the world is set to be the top left corner, it does not necessarily put the shape in the exact top left corner because

[2016-01-19 19:39] lmccart commented on #1210
hi @i3games thanks for the suggestion. as @limzykenneth mentions, I think this adds a layer of confusion, even if it would make things nicer in some situations. one goal with p5.js is to be as transparent as possible and not do anything too tricky behind the scenes. the idea here is that if you move away from p5 to other javascript libraries or just plain vanilla js, you should be able to build on

[2016-01-19 19:39] #1210 closed

[2016-01-19 20:31] whoem commented on #1209
@karenpeng Thanks. Already knew the tutorial, but just focused on the beginShape() endShape() part ;)

[2016-01-19 21:35] karenpeng commented on #1214
@parsoyaarihant thanks! may I ask if it's based on @indefinit 's refactor?

[2016-01-20 03:13] parsoyaarihant commented on #1214
Yeah its related to webgl-geomerty-refractor branch

[2016-01-21 15:50] artofmus opened #1217 "feedback (previous frame)?"
is it possible feedback texture in p5.js (get previous frame) for create dynamic system like CA or reaction diffusion? Thanks!

[2016-01-21 17:32] brig002 opened #1218 "text() errors when font is loaded outside of preload() && preload() exists"
Hi. I'm getting the following error when loading a font outside of preload() and using loadFont() callback method to evaluate load complete:
Uncaught TypeError: Cannot read property '_renderer' of undefined

The error does NOT happen when preload() is NOT defined. Here's sample code demonstrating (what I think is) a bug:

<pre>
//----------------DOES NOT WORK----------------
var isLoaded;
var myfo

[2016-01-22 07:49] dhowe commented on #1218
The error is due to a null _renderer here: https://github.com/processing/p5.js/blob/master/src/typography/p5.Font.js#L224, though not sure why an empty preload() function would result in a null renderer.

[2016-01-22 08:20] dhowe commented on #1218
The error is due to 'this' being undefined here: https://github.com/processing/p5.js/blob/master/src/io/files.js#L105 , though not sure why an empty preload() function would cause such a thing

[2016-01-22 20:48] lmccart commented on #1217
you could save out the canvas image from the previous frame using get() and then do whatever you like with that. http://p5js.org/reference/#/p5/get

this sort of question is best posted in the forum: https://forum.processing.org/two/categories/p5-js, the github issues are just for code bugs. thanks!

[2016-01-22 20:48] #1217 closed

[2016-01-22 20:52] lmccart commented on #1218
@dhowe's patch seems to have addressed this.

[2016-01-22 20:52] #1218 closed

[2016-01-22 20:54] #989 closed

[2016-01-22 20:58] lmccart commented on #1036
ah i see. i think this json file contains all the necessary info then, it is what is used to populate the reference: http://p5js.org/reference/data.json

[2016-01-22 20:58] #1036 closed

[2016-01-22 21:08] lmccart commented on #1179
@geoffalday could you include the svg file you are working with? i'm having trouble reproducing this. thanks.

[2016-01-22 21:13] lmccart commented on #481
according to caniuse.com, capture (getUserMedia is the underlying function) is not supported in chrome 4.2 for android: http://caniuse.com/#search=getusermedia.

[2016-01-22 21:13] #481 closed

[2016-01-22 21:14] lmccart commented on #878
hey @futuremarc I think it's really important to finish this one up since it could be a significant hurdle for those with slow internet connections. could you give me an update on where you're at and i can take it from there? i know you got pretty far and i don't want to duplicate your effort. thanks!

[2016-01-22 21:15] lmccart commented on #1127
closing this as it's too vague to solve right now. please feel free to reopen with more specific details as @limzykenneth describes.

[2016-01-22 21:15] #1127 closed

[2016-01-22 21:29] #958 closed

[2016-01-22 21:47] lmccart commented on #536
as @ipeluffo mentions, the behavior noticed is correct. the keypress event in browser events is mapped to `keyTyped()` in p5, because the keydown event is mapped to `keyPressed()`. so the best level of accuracy we can get inside `keyPressed()` is capitalized letters, but if you use `keyTyped()` you will get the correct casing.

[2016-01-22 21:47] #536 closed

[2016-01-23 06:00] artofmus commented on #1217
Ok. Thanks!

[2016-01-23 06:00] dhowe commented on #844
agreed, ready to close @lmccart

[2016-01-24 16:10] arashsa opened #1220 "Chrome warning: security"
When I use a p5js sketch on my website, I get the following error message when using chrome.

"The deviceorientation event is deprecated on insecure origins, and support will be removed in the future. You should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details."

[2016-01-24 16:19] limzykenneth commented on #1220
This has been around for some time now, I was thinking about what we can do about this a few months ago and to be honest I don't think there is much we can do on our side.

My prediction is that chrome won't be removing this support in the short term as too much stuff is dependent on all the mentioned events over HTTP. New services like https://letsencrypt.org will push it in the direction of remo

[2016-01-24 16:21] arashsa commented on #1220
Well, as long it is a warning, I guess it doesn't matter. I'll keep this open for more input on the matter.

[2016-01-24 16:41] arashsa opened #1221 "resizeCanvas error"
When resizing the canvas on changes to window size, I get the error:

Here is my code:

[code]

I have not had this issue in the past.

[2016-01-24 21:57] limzykenneth commented on #1221
Can I know what browser you are using? From what I can find it should be stemming from [here](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L903) but if there is `imageSmoothingEnabled` in the browser you are using, `webkitImageSmoothingEnabled` should not have been called at all.

[2016-01-24 22:11] #844 closed

[2016-01-24 22:24] lmccart commented on #1220
Yeah, I don't think there is much we can do. Chrome has already removed support for getUserMedia (capture), except on HTTPS or localhost. We should rethink the examples though, maybe moving p5js.org to HTTPS, and adding a note on affected example that they won't run on HTTP.

[2016-01-24 23:10] lmccart commented on #1200
yes, as @debone points out, the `translate()` and `rotate()` properties are getting overridden by the p5.dom library because the p5.Graphics object extends p5.Element.

my suggestion would be that we remove the `p5.Element.rotate()` and `p5.Element.translate()` methods since these are already supported in the `p5.Element.style()` method.
http://p5js.org/reference/#p5.Element/style

here's the thre

[2016-01-25 14:50] PaliwalSparsh opened #1222 "Inline documentation examples for p5.image methods"
There are no examples for many methods of p5.image.
This is followup on issue https://github.com/processing/p5.js-website/issues/216.

[2016-01-25 15:51] geoffalday commented on #1179
@lmccart Sure! Here is a zip of the project: http://cl.ly/473q0c0w1g0A

[2016-01-25 18:23] lmccart commented on #1179
Thanks. I just tested in chrome, firefox, and safari and it all looks good. This seems to be a p5 editor specific issue, so I am going to post it over there.
https://github.com/processing/p5.js-editor/issues/204

[2016-01-25 18:23] #1179 closed

[2016-01-26 17:05] p5k12 opened #1224 "Stability issues in Windows version"
I'm running the latest version downloaded from p5js.org (0.5.7) on Windows 8 laptops and my students and I are finding that the program either locks  or stops producing output in the canvas  (a window opens but it doesn't even have a canvas in it).  In the latest case for me, I restarted the IDE and the code then worked fine.  It's so intermittent I don't know how to describe the problem usefully

[2016-01-26 17:58] limzykenneth commented on #1224
Seem like an editor issue, please post this to [the editor's repo](https://github.com/processing/p5.js-editor/issues) so they can be notified about this. Thanks.

[2016-01-26 18:27] p5k12 commented on #1224
yup.  sorry.

[2016-01-26 18:27] #1224 closed

[2016-01-27 02:38] rain1024 opened #1225 "contour plotting"
It's would be great if you can support contour plotting like matplotlib

http://matplotlib.org/examples/pylab_examples/contour_demo.html

With this function, I can plot any function f(x, y), for example, draw egg curves http://www.mathematische-basteleien.de/eggcurves.htm

[2016-01-28 11:22] PaliwalSparsh opened #1226 "updatePixels(), createImage() and pixels[] reference example not working"
Example on reference page of
1. updatePixels() (http://p5js.org/reference/#p5/updatePixels)
2. createImage() (http://p5js.org/reference/#p5/createImage) third example is not working.
3. pixels (http://p5js.org/reference/#p5/pixels[])
All share same problem of using pixelDensity instead of pixelDensity().

@lmccart I feel I can fix this.

[2016-01-28 11:26] PaliwalSparsh commented on #1226
@lmccart I have sent a PR to fix this small issue.

[2016-01-28 12:44] lmccart commented on #1226
fixed with https://github.com/processing/p5.js/pull/1227

[2016-01-28 12:44] #1226 closed

[2016-01-28 14:16] PaliwalSparsh commented on #1222
@lmccart I have added almost all methods of p5.image. I would be thankful if you can suggest changes, if it needs some.
Also I would like to bring to you notice that Development Checklist is not fully up to date. These should be marked as done there -
save()
anglemode()
print()
loadJSON()
loadTable()
and also the ones in this PR if they get successfully merged :smile: .

[2016-02-01 00:38] action-script opened #1229 "error callback fails on load* by decrementPreload"
The p5 load functions ( loadImage, loadStrings... ) accept two callbacks (successCallback, failureCallback).
If the code implements the preload function, p5._getDecrementPreload will get the last argument, errorCallback, as decrementPreload and call it after success.

[code]

So both callbacks, success and error, are called; but error has not arguments.
[code]

Doesn't matter if the loadImage func

[2016-02-01 00:53] lmccart commented on #1229
there are two options for using loadImage().
you can either call it with no callback functions inside preload, and the program will load the image synchronously. or you can call it with one or two callbacks functions anywhere else in the program (in setup for instance). if you mix the two, you will get unpredictable results, so this is not recommended.
here are examples of each option:
http://p5js

[2016-02-01 01:05] action-script commented on #1229
Thanks for the quick answer.

In the example that I posted, the loadImage with callbacks is on the preload function.
But the error happens if the loadImage is called out of the preload too.
Basically the error happens if you use a load* function with callbacks and you have preload implemented in your code. **Not necessary calling load* inside the preload function**.

I was just wondering if this s

[2016-02-01 02:02] lmccart commented on #1229
ah i see, i misunderstood. thank you for the clarification. i'll look into this.

[2016-02-01 15:35] #1222 closed

[2016-02-01 15:37] lmccart commented on #1222
thanks! i've just updated this list based on your notes. also please feel free to edit directly in the future if you like. :)

[2016-02-01 18:00] lmccart commented on #1225
interesting idea @rain1024. this is a bit beyond the limits of the p5.js core api, we like to keep it as simple and lean as possible, but this could be a great starting point for an addon library that does more complex plotting like this. if you're interested in making one of these, you can check out the tutorial here: https://github.com/processing/p5.js/wiki/Libraries

[2016-02-01 18:00] #1225 closed

[2016-02-01 21:17] lmccart commented on #1221
I am only able to reproduce this if I toggle open the inspector while the sketch is running, or with the inspector open, toggle mobile emulation on/off. If I have the console already open and reload the page, I see no warning. I think this warning may be just popping up due to switching contexts of what the browser thinks its rendering or emulating. This is just a hypothesis though. Looking at the

[2016-02-01 21:17] lmccart commented on #1221
oops, i take that back... i am seeing it on resize now.. will investigate further.

[2016-02-01 21:33] lmccart commented on #1221
ok it looks like this key is set on the CanvasRenderingContext2D by default in the browser, we aren't explicitly setting it. then on resize, every property already set is reapplied after the canvas is resized, and this is triggering the warning. i can't really think of anything to do about this besides the hacky method of manually deleting this property, which seems unnecessary. so i propose we le

[2016-02-01 21:36] arashsa commented on #1221
Ok, and it seems to only be an issue with Chrome. I don't remember right now, but I've seen other similar warnings using p5js in Chrome that seem to be related, will post these at a later time.

[2016-02-01 21:36] lmccart commented on #1221
ok sounds good. closing this for now... we can reopen if it becomes a bigger problem, but i think it will disappear naturally, eventually.

[2016-02-01 21:36] #1221 closed

[2016-02-02 02:26] shiffman commented on #1200
Sorry to be slow here, but yes agree that these should be removed!

[2016-02-03 14:54] Zaptronic opened #1231 "font load issue"
I'm using the p5.min.js file from the site and I'm getting this error on iOS.
Font could not be loaded:
(anonymous function)p5.min.js:6:20927
(anonymous function)p5.min.js:1:22767
onloadp5.min.js:1:21128

Any help or solutions?

[2016-02-03 14:58] PaliwalSparsh opened #1232 "manual-test examples not working"
Many manual-test examples are not working as the lib locations in them are referenced wrongly. Though https://github.com/processing/p5.js/pull/1126 should have fixed them all but they were a bit too many so some of them might not have referenced properly and thus not working properly.

@lmccart I feel I can fix this.

[2016-02-03 15:25] lmccart commented on #1231
could you please post your test code, and maybe a screenshot of your file directory?

[2016-02-03 15:25] #1232 closed

[2016-02-03 16:10] Zaptronic commented on #1231
You can find my code here: https://github.com/Zaptronic/tomdeweerbeer
I have to add I'm using p5 in a phonegap build app. Not getting the error in safari on iOS. The sketch works without loading a font.

[2016-02-03 16:23] lmccart commented on #1231
thanks.. this is a lot to dig through. is it possible to post a bit of code that is a pared down minimal example of what's not working? otherwise, if it's a general debugging question, the forum is the best place for that: https://forum.processing.org/two/categories/p5-js

[2016-02-03 16:43] Zaptronic commented on #1231
yes. It fails here:
function preload() {
      standardFont = loadFont("fonts/Cof.ttf");
}
in sketch.js and the error refers to:
(anonymous function)p5.min.js:6:20927
(anonymous function)p5.min.js:1:22767
onloadp5.min.js:1:21128

[2016-02-03 16:49] lmccart commented on #1231
hm, i'm having trouble reproducing.. this is the setup i have. which version of p5.js are you using?

<img width="1132" alt="screen shot 2016-02-03 at 11 48 42 am" src="https://cloud.githubusercontent.com/assets/191056/12789505/22b8e6b6-ca6c-11e5-9b2a-97e14ee8803c.png">

[2016-02-03 18:20] Zaptronic commented on #1231
I'm using version 0.4.21
My setup is a bit more complicated than your example. I made a app using phonegap (build.phonegap.com). I could make a sample app for you but I have to add you iPhone to the device provisioning if you have one. Please send me a private message (if you prefer twitter @SubsurfNL) if you like to have it. You can remotely debug it.

[2016-02-04 19:24] shiffman opened #1235 "proposed change to loadPixels in p5.MediaElement"
I am working on an example that save a video image each frame for motion detection.  Right now I have to write the code as follows:

[code]

I have to check if the canvas has been created b/c for the first few frames the video hasn't actually started.  This is due to how `loadPixels()` is written inside `p5.MediaElement` where a canvas is not made unless `this.loadedmetadata` is `true`.  If I rewr

[2016-02-04 19:25] lmccart commented on #1235
i think this looks good!

[2016-02-04 20:04] lmccart commented on #1235
closed with #1236

[2016-02-04 20:04] #1235 closed

[2016-02-04 20:11] #1200 closed

[2016-02-04 20:39] lmccart commented on #249
I think we are pretty well covered at this point due to fantastic contributions from many people! I am going to close this issue, and we can open new ones for specific functions that we find still missing them.

[2016-02-04 20:39] #249 closed

[2016-02-05 18:38] Triveri opened #1237 "createGraphics() undefined"
createGraphics() will be undefined unless used in setup() making it unusable in objects and other things

[2016-02-07 19:45] mikecai011 opened #1238 "loadTable interferes with saveTable"
I have noticed that if you load a table in preload function, you will not be able to correctly save any table using either "save()" or "saveTable()".

[2016-02-08 21:28] DarkPrince304 commented on #1238
Can you paste the code here? Because I think its working fine on my side?

[2016-02-08 23:38] mikecai011 commented on #1238
var table;
var inTable;
var newRow = new Array();

function preload() {
  inTable = loadTable("test.csv", "csv", "noHeader");
}

function setup() {
  table = new p5.Table();
  for (var c = 0; c <= inTable.getColumnCount(); c++) {
    table.addColumn();
  }
  for (var r = 0; r < inTable.getRowCount(); r++) {
    newRow[r] = table.addRow();
    for (var c = 0; c <= inTable.getColumnCount(); c++) {

[2016-02-08 23:40] mikecai011 commented on #1238
Even if i replace everything in setup with simply adding one row of data, the save table does not work properlly.

[2016-02-08 23:41] mikecai011 commented on #1238
This is the data i got from my new.csv file. It only has one row.

簑^~)?

[2016-02-08 23:53] lmccart commented on #1238
I think lines [604-606](https://github.com/processing/p5.js/blob/master/src/io/files.js#L604) are incorrect and should be something like:
`t.columns = records[0];`

in terms of your code, is there a reason you're using <= and not <?
`for (var c = 0; c <= inTable.getColumnCount(); c++) {`

with those two changes it seems to look ok. @therewasaguy any thoughts on the loadTable() change? does this se

[2016-02-09 06:03] rich-gg opened #1239 "Ctrl T reformat but don't open everything"
Spending a lot of time in P5 these days and it fell to me very painful have all my closed sections open each time I "Ctrl T".
What about having Ctrl-shift T to open everything and have Ctrl T  reformatting only open code ?

(this is my first ever contribution on GitHub, I wish I'm not messing around)

[2016-02-09 09:27] limzykenneth commented on #1239
Hello @rich-gg! Correct me if I'm wrong, I think you're referring to the p5 editor? If so there is a separate repo for it, you can copy and paste this issue [here](https://github.com/processing/p5.js-editor/issues) so that the editor team is notified of this. Thanks.

[2016-02-09 10:12] rich-gg commented on #1239
oops my mistake

thank you @limzykenneth

[2016-02-09 10:13] #1239 closed

[2016-02-09 17:22] mikecai011 commented on #1238
I used <= because it returns one less column than there is. I think the program assumes the first column is just numbering.

[2016-02-09 18:57] GABBAR1947 opened #1240 "Installing npm modules"
"https://github.com/processing/p5.js/wiki/Development " in the setup section, only asks to install grunt and npm. However there are several other npm and grunt modules to be downloaded in order to run the tests( or test online using connect -keepalive) . So why don't we add these modules to the page or run a script so that these modules get easily installed and the developers can easily get throug

[2016-02-09 20:57] lmccart commented on #1240
the line in step 4 `npm install` should handle installing all these modules for you automatically. did this not work?

[2016-02-10 03:06] GABBAR1947 commented on #1240
no it doesn't .. It gives error later on when running grunt.

[2016-02-10 03:12] lmccart commented on #1240
hm im not able to reproduce. could you tell me more about the system you're working on? did you see an output like this when you ran `npm install`?
<img width="179" alt="screen shot 2016-02-09 at 10 11 53 pm" src="https://cloud.githubusercontent.com/assets/191056/12937791/3b6caafe-cf7a-11e5-88b2-7af5b261b521.png">

[2016-02-10 03:19] GABBAR1947 commented on #1240
I use Ubuntu and the output was not in the same fashion as the snippet posted above. It didn't have so many modules and was limited to quite a few.

[2016-02-10 03:21] lmccart commented on #1240
could you paste the output here?

[2016-02-10 05:30] GABBAR1947 commented on #1240
well, I've already installed the modules on my system. I'll do the same on some other system and paste the output.

[2016-02-10 18:30] Z3R0c007 opened #1242 "Installing P5 through package.json"
After failed attempts installing p5 in the command line with npm, installing in the package.json also is failing. Win 10, Visual Studio 2015

`{
    "name": "BlankCordovaApp2",
    "version": "1.0.0",
    "dependencies": {
   "p5":"<latest stable version of package>"
    }
}`

error output

====Executing command 'npm install'====

npm WARN package.json BlankCordovaApp2@1.0.0 No description
npm WAR

[2016-02-10 18:39] kadamwhite commented on #1242
Where did you get your package.json content from? `<latest stable version>` is meant to be a placeholder; the latest release I believe to be `0.4.22` at present, so you could try replacing `<latest stable version>` with `^0.4` and try again.

[2016-02-10 19:23] Z3R0c007 commented on #1242
The json is loaded when you begin a Cordova project in Visual Studio 2015

I am a noob whenit comes to coding. Failing fast and faster. This the first time I have had to load a lib.

I did as you said and so far so good.

`{
    "name": "BlankCordovaApp2",
    "version": "1.0.0",
    "dependencies": {
   "p5":"~0.4.22"
    }
}`

error output
====Executing command 'npm install'====

npm WARN packag

[2016-02-10 21:00] limzykenneth commented on #1242
@Z3R0c007 I'm not familiar with Cordova or Visual Studio so might want to take what I said with a pinch of salt. You are getting 304 which might be because the required files are cached somehow. Try `npm uninstall p5` then `npm install` again, keeping `package.json` as it is now.

The output should look something like this:

[code]

[2016-02-10 21:15] limzykenneth commented on #1237
As I remember, createGraphics() should work in other p5 methods such as draw() and mousePressed() as well. The problem you have might be you are trying to access p5 methods before p5 is initialized (in setup() usually). You can try ensuring the p5 object is initialized either with instance mode or by making sure setup is called before making other calls to createGraphics() in other objects etc. Yo

[2016-02-11 02:29] aatishb opened #1243 "rotationY range is from -90 to 90"
In the p5.js [code](https://github.com/processing/p5.js/blob/master/src/events/acceleration.js) and in the [reference page](http://p5js.org/reference/#/p5/rotationY), the range of `rotationY` is assumed to be between -180 and 180 degrees. However, it looks like this variable is the same as [DeviceOrientationEvent.gamma](https://developer.mozilla.org/en-US/docs/Web/API/DeviceOrientationEvent/gamma)

[2016-02-11 03:15] kadamwhite commented on #1242
Exit code 0 means "success"; from this output it looks like you ought to be good to go!

[2016-02-11 03:35] hlfcoding opened #1244 "window.p5_noGlobals"
#1210 brought this up, but doesn't seem to mention that globals (ie. `camera`, `print`):

1.  Makes embedding a p5 sketch into a parent js app difficult if there are conflicts in the global namespace.

2. Breaks the modules concept in js itself. I wouldn't be able to do (hypothetically):
[code]
  without polluting the global namespace.

3. Is taking a _big_ risk in assuming browsers won't add thes

[2016-02-11 03:43] brysonian commented on #1244
hello @hlfcoding! Does [instance mode](http://p5js.org/examples/examples/Instance_Mode_Instantiation.php) not cover this?

[2016-02-11 04:48] hlfcoding commented on #1244
@brysonian thanks! :bow: I should have read the [source](https://github.com/processing/p5.js/blob/ac42e37/src/core/core.js#L25), which is much more obvious than the site (I went to 'Getting Started' then 'Reference', didn't expect to search 'Examples'). Perhaps that page needs a copy update?

[2016-02-11 04:48] #1244 closed

[2016-02-11 05:19] DarkPrince304 commented on #40
Hello @lmccart,

If the XML is like this
`
 <?xml version="1.0"?>
 <mammals>
   <animal id="0" species="Capra hircus">Goat</animal>
   <animal id="1" species="Panthera pardus">Leopard</animal>
   <animal id="2" species="Equus zebra">Zebra</animal>
 </mammals>
`
and the `getContent('mammals')` method is called should null be returned in such a case or a complete String like `" <animal id="0" specie

[2016-02-11 06:27] PaliwalSparsh commented on #1026
@shiffman @lmccart The pushed PR adds functionality to adjust speed of playback, also I have added a manual-test-example as video_speed. Please review and provide feedback.

[2016-02-11 12:27] toolness commented on #1240
Hmm, my [p5.js-docker](https://github.com/toolness/p5.js-docker) setup uses a debian image (Ubuntu is also debian-based) and it doesn't have this issue.

In general I'm surprised by the behavior of @GABBAR1947's system, as the way p5's package.json is doing things is generally an accepted convention...

[2016-02-11 12:40] toolness commented on #1231
It's possible that this is due to [opentype.js checking for a HTTP 200 status](https://github.com/nodebox/opentype.js/blob/master/src/opentype.js#L53-L55).

Because PhoneGap is ultimately accessing the local filesystem rather than a remote webserver, the [HTTP response of the ajax request may be 0 instead of 200](http://stackoverflow.com/a/11233086/2422398).

If this is correct, then the bugfix ac

[2016-02-11 12:44] toolness commented on #1237
Hmm, it sounds like we should add `createGraphics` and, given #903, all of P5's constants to the list of symbols we provide error help for in #1130... And we should probably add a link in the friendly error message to the [FAQ question](https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions#why-cant-i-assign-variables-using-p5-functions-and-variables-before-setup) that @limzykenneth j

[2016-02-11 12:55] toolness commented on #1190
Yeah, a style guide would be great! One of the particular things that always gnaws at me is the fact that JS symbols like functions/variables/constants are never `monospaced` when they're used in sentences. Most of the time this is just my OCD at work, but sometimes I think it genuinely hampers readability and makes things a bit confusing.

I generally agree regarding the `<div>` and `<code>` stuf

[2016-02-11 13:04] toolness opened #1247 "Add more friendly error help for global APIs used at top-level code"
In #1130 we added some logic that attempts to notice when people use p5's global APIs in top-level code, but it looks like there are some ways to improve it:

* Based on #1237 it looks like we might want to detect if `createGraphics` was called. Perhaps also the other p5 methods that start with `create`, e.g. `createCanvas`?
* Based on #903 it looks like folks will (understandably) expect P5's glo

[2016-02-11 13:29] kadamwhite commented on #1240
Could you try deleting the node_modules folder and running NPM install again?

[2016-02-11 13:59] lmccart commented on #1244
i think it's a bit much for the getting started page, but it is covered in the p5.js overview tutorial: https://github.com/processing/p5.js/wiki/p5.js-overview

[2016-02-11 15:08] limzykenneth commented on #1243
I think you're right, I'll have a closer look soon. Thanks.

[2016-02-11 17:15] aatishb opened #1249 "Trying to understand behavior of rotationX, rotationY, rotationZ"
I've been testing out the `rotationX`, `rotationY`, `rotationZ` variables. From what I understand, these are the same as `beta`, `gamma`, `alpha` [Tait-Bryan](https://dev.opera.com/articles/w3c-device-orientation-usage/#coordinatesystem) angles provided by the Device Orientation API.

I think they work very well provided the rotation stays under 90 degrees in any direction. However, once the rotat

[2016-02-11 18:48] #1026 closed

[2016-02-11 19:00] lmccart commented on #1243
interesting.. thanks for reporting @aatishb, and for looking into this @limzykenneth!

[2016-02-11 20:48] julsgud commented on #1193
Same issue over here with v 0.4.22! translate() will only work as expected when used in setup(). Ran into this when adapting [this](http://www.generative-gestaltung.de/P_2_0_01) from the generative gestaltung book.

`
function setup() {
  createCanvas(500, 500);
  translate(width/2, height/2);
}

function draw() {
  // translate(width/2, height/2); not working when used here!
  strokeCap(SQUARE);

[2016-02-11 21:32] limzykenneth commented on #1249
@aatishb Back when I was implementing these for #984 and #909, I did noticed these kind of behaviour. I couldn't solve that problem because it seemed to me that it is a limitation on the hardware (a phone held vertically or face down have very erratic behaviour). I think if we can somehow abstract away the direct relationship between rotationX/Y/Z to e.alpha/beta/gamma then we might be able to sol

[2016-02-12 00:57] lmccart commented on #40
1. it should match the behavior of processing wherever it makes sense. so if you run this in processing, you get something like:
[code]

so maybe it should return an array of these three items?

2. I think it should return null, matching the behavior of processing.
3. The output from processing is:
[code]
so perhaps it should return the raw elements or maybe an array of p5.XMLNode objects?

[2016-02-12 01:06] lmccart commented on #1193
hm, your angle gave some error, but here is a simplified version i used to test:
[code]

I'm using v0.4.22 (downloadable here: http://p5js.org/download/) and it seems to look fine. Can you try running this simple code and see if it works? If not, can you tell me which OS / browser you're using?

[2016-02-12 01:07] lmccart commented on #1237
great. it sounds like the issue here is now covered in #1247, so i'm going to close this one.

[2016-02-12 01:07] #1237 closed

[2016-02-12 02:00] aatishb commented on #1249
@limzykenneth Agree, and I'll try to help.

I did some more experimenting, and I think I now understand this better. It seems that the discontinuities in the graphs above are artifacts of the way the coordinate system is set up, and they shouldn't have any physical effect on the actual orientation of an object.

With the Y rotation issue (second graph above), it boils down to this: Rotating by the

[2016-02-12 04:08] julsgud commented on #1193
Thanks for the prompt response! Using the p5 editor v0.5.7, the example you posted using translate() inside draw() does not reset the transformation on every loop. Ellipse runs off canvas!

[2016-02-12 04:11] lmccart commented on #1193
ah, i don't think the library version has been updated in the editor yet. i'll see if we can't get this merged in asap. thanks!

[2016-02-12 05:57] hlfcoding commented on #1244
Excellent stuff. I see from #78 there's been a great discussion already, but I don't quite understand why the code below isn't clear and simple on its own, as opposed to globals? Does simplicity need to come at the cost of safety and good coding habits?

[code]

Although full of things probably not in the current p5 API, this is also more idiomatic JS in it clearly associates functions with object

[2016-02-12 10:12] PaliwalSparsh opened #1250 "Js native object getting polluted in shim.js"
As specified in https://github.com/processing/p5.js/issues/1110 we need to protect for..in loops from native object pollution. But it was found that even p5.js dirties the Uint8ClampedArray Object, [here in shim.js](https://github.com/processing/p5.js/blob/master/src/core/shim.js#75). This problem was highlighted by @GoToLoop in a [discussion](https://forum.processing.org/two/discussion/13501/p5-j

[2016-02-12 12:29] PaliwalSparsh commented on #1250
@lmccart Please review this PR.

[2016-02-12 12:57] toolness commented on #878
I'm excited about supporting this feature too, and would love to help out if needed.

[2016-02-12 13:05] toolness opened #1252 "Some documentation may be inaccessible"
I just noticed that the `data.json` blob generated to power the documentation has the following entry under the `classitems` array:

[code]

The weird thing about this entry is that there's nothing about it that tells us what the *name* of the method being documented is. Going to the appropriate file and line number indicates that it's the documentation for `p5.Vector.dist`--the *static* method, n

[2016-02-12 14:16] Z3R0c007 commented on #1242
All right all good. Thanks @kadamwhite and @limzykenneth

[2016-02-12 14:16] #1242 closed

[2016-02-12 16:48] DarkPrince304 commented on #40
Woops! Sorry, about the 3rd question I meant what if xml = the animal node and then we call `xml.getChildern()`. What will be the children of animal?

[2016-02-13 01:16] limzykenneth commented on #1249
@aatishb I'll be testing everything tomorrow and make changes if necessary (docs as well). You can fork the repo and push any of the changes you made to my fork [here](https://github.com/limzykenneth/p5.js), I can submit a PR from my side when we're done.

[2016-02-13 10:57] hkirat commented on #1199
fullScreen is a global boolean variable in Mozilla
Renaming fullScreen() -> fulllscreen() works fine

[2016-02-13 12:32] limzykenneth commented on #1249
@aatishb I'm a bit confused now (mostly by myself :P). The changing in order definitely fixed the box rotation and i think the graph app as well I just don't really understand why, something to do with matrix maths I guess? The more confusing part is that although the implementation of `deviceturned()` is assuming `rotationY/e.gamma` is +/-180, it somehow still works for me....you can try it [here

[2016-02-13 14:01] aatishb commented on #1249
@limzykenneth Yeah, 3D rotations are kind of mind-bending. It's easy to demonstrate that the order matters though. Take your phone and put it face up on a table. Now do a series of 90 degrees rotations around any ordering of X, Y and Z. Now start again, but with a different ordering. You'll see that the final orientation of your phone depends on the order of axes you chose.

Or try this:
![boxrot]

[2016-02-13 14:33] aatishb commented on #1249
Hmm.. the deviceturned app doesn't work so well for me with Y turns. It's a little erratic in registering them. Most of the times it just increments the X and the Z instead. (which agrees with the graphs above). I think this might be why deviceTurned() seems to work ok.. when you turn on Y it probably registers the 'virtual' X and Y rotations (see 2nd graph) as valid turns. So checking the specifi

[2016-02-13 15:18] aatishb commented on #1249
I think the crux of the problem is: there are multiple combinations of angles that correspond to the same physical orientation (this is a problem working with Euler angles).

So e.g. when the deviceOrientation angle variables reach a Y angle of 90 degrees, the representation flips between (thetaX, -90, thetaZ) and (180-thetaX, 90, 180+thetaZ). I think this doesn't affect 3d rotations of objects be

[2016-02-13 15:49] limzykenneth commented on #1249
@aatishb I think I understand the 3-D rotation thing now.

On closer look the graphing app is still breaking, maybe i'm just moving it too slowly for the effect to be pronounced. I'll look into it.

![img_3683](https://cloud.githubusercontent.com/assets/7543950/13028516/1397d822-d269-11e5-8157-106cbf12b899.PNG)

If I remember correctly, back when these were amended by me, there was a discussion ab

[2016-02-13 16:14] aatishb commented on #1249
@limzykenneth For solution 1, I was thinking about comparing current rotations to rotations in the previous frame. If some did a 180 X or 180 Z, unless they did this very, very quickly, they wouldn't get a 180 degree jump in a single frame.. the angle would continuously vary between 0 to 180. But in the situation above, when Y approaches +/- 90, the jump is sudden and discontinuous.

The X rotatio

[2016-02-13 16:23] aatishb commented on #1249
One suggestion. I'd like to add this simple [box rotation example](https://stc209.com/aatishb/box_rotation/sketch.js) in the documentation for the rotationX, rotationY, rotationZ variables, and a few lines to the documentation explaining how the rotation order matters. Could you either incorporate that, or help me understand how I could do it? (I'm new to contributing and not totally sure how thin

[2016-02-13 16:49] limzykenneth commented on #1249
@aatishb That's great, thanks.

I think the box rotation example will be a great addition for learning how these work. For documentation example, you can follow instructions [here](https://github.com/processing/p5.js/wiki/Inline-documentation) while for examples to go on the examples page, follow instructions [here](https://github.com/processing/p5.js-website/wiki/Adding-examples), or if you prefe

[2016-02-13 17:33] lmccart commented on #1249
hey thanks for the in-depth look into this both of you! i think the box rotation example looks simple enough to include right in the docs.

[2016-02-13 17:34] #1199 closed

[2016-02-13 17:35] #1250 closed

[2016-02-13 17:40] lmccart commented on #1244
The code is simple, but not as simple as the base case global. In the case of beginners with p5.js, we'd like to make the barrier to entry as low as possible, even if this comes at the cost of writing less "technically correct" code. The hope is that once someone gets interested enough to learn a little more, they may then start to understand about instance mode and namespaces and everything else

[2016-02-13 19:13] aatishb commented on #1249
@lmccart happy to help!

@limzykenneth Thanks for the pointers. So when the documentation in the code is edited and pushed to the github, that automatically generates the reference, with then goes to the p5 website? Does it work the other way too, if you edit a page on the p5 website and push the change, is the reference updated in the source code? I'm finding the connection between the code and o

[2016-02-13 20:34] limzykenneth commented on #1249
@aatishb The documentation itself ie. anything under http://p5js.org/reference/ is generated form the inline docs using YUIDoc. They will periodically get pushed to p5.js-website repo and updated on p5js.org. The generated file is https://github.com/processing/p5.js-website/blob/master/reference/data.json which is eventually fed through Backbone which renders the view. It doesn't work the other wa

[2016-02-14 10:58] Xeronimo74 opened #1257 "saveFrames() not working correctly?"
Ok, so I know that Processing, rather than p5.js, should be used for the creation of animated GIFs. But p5.js does have a saveFrames() function so it should be possible using p5.js as well. Unfortunately the function is either buggy or I am too stupid to use it …

According to the reference the syntax is this: saveFrames(filename,extension,_duration,_fps,callback)

So I’ve added the following code

[2016-02-14 11:47] limzykenneth commented on #1257
The documentation seem to be a bit incomplete.

* Some searching online does suggest saving to gif is possible and implementation in p5.js should just be a few lines of code, someone else need to confirm this though.
* When the file is saved, is the extension not added by the system? It should be easy enough to fix that in source though but again someone need to test this just in case something un

[2016-02-14 12:39] Xeronimo74 commented on #1257
- Yes, it should not be that hard. There are Javascript libraries concerning animated GIFs out there already  like gif.js and jsgif but I was unable to successfully use them in my p5.js sketch ... but I'm not a JS expert so ... ;)
- maybe in Windows ... on OSX the file is saved without an extension and the system considers it to be a 'text file', although it opens the file correctly in an image vi

[2016-02-14 20:32] PaliwalSparsh commented on #1257
@Xeronimo74 Please can you provide your full code.

[2016-02-14 20:38] spiricom opened #1259 "get() function for pixel data could be more efficient"
It looks like the get() function (p5.Renderer2D.prototype.get) creates a temporary variable, loads all the pixel data from an image, finds the pixel, and then destroys the temporary array it made. I think it could be handy if you could pass this function the name of an array that you have already filled with the pixel data, which would make it more useful inside a loop (for instance, to downsample

[2016-02-15 07:23] Xeronimo74 commented on #1257
@PaliwalSparsh : I'm not sure why you would need the whole code if it's just that one line/function that's not working correctly? Here's that line again: saveFrames("image-", "png", 5, 30);

[2016-02-15 14:08] limzykenneth commented on #1257
@Xeronimo74 The error could be something more subtle than just the line itself so it usually is more useful to have the whole code for debugging. If the whole code contain sensitive information not suitable for sharing at the moment, you can create a minimal example that have the described problem, just so everyone is on the same page.

[2016-02-15 14:22] Xeronimo74 commented on #1257
@limzykenneth here's the whole code then: http://pastebin.com/42CYVBTc

the problem still lies in that same line though ... it's the saveFrames() function that has a bug or problem. the rest of the code is fine.

[2016-02-15 14:57] limzykenneth commented on #1257
@Xeronimo74 Hmm...I don't seem to be able to replicate the problem. With saveFrames("image-", "png", 5, 30); I'm getting 111 images 1 more than the expected 22*5 (which could just be due to fps or rounding error) while with saveFrames("image-", "png", 3, 30); I'm getting the expected 3*22 = 66 images. (Remember there is a cap on fps to a max of 22)

The only problem arise when I do another keypres

[2016-02-15 15:08] Xeronimo74 commented on #1257
@limzykenneth : do the saved frames have an extension on your computer then (.png, in this case)? If yes, which OS are you using?

I've been running that sketch on Mac OSX El Capitan with the official p5js editor: http://p5js.org/download/

[2016-02-15 15:14] Xeronimo74 commented on #1257
Ok, I've run it on Windows 7 now, as a test:

- the files DO have extensions when saved on Windows, so that's a bug in p5.js. it needs to add the extensions explicitly so that OSX will also have them.
- the amount of actual pictures saved seems kinda random ... there should be 150 and it varied from 99 to 108 ...

[2016-02-15 15:24] SetupandDraw commented on #1020
Hi there! I have a question regarding Video DOM element in P5JS:
is it possible to use Video DOM buffered property in #P5js?

Let's say for example I want to jump to a random frame of my video and play it;
If I could have 100% of the video immediately loaded, no problem... I would go:

var randomF = floor(random(0, myVideo.duration()));
myVideo.time(randomF);

But myVideo could be still loading an

[2016-02-15 15:57] limzykenneth commented on #1257
@Xeronimo74 I'm using Mac OSX El Capitan as well 10.11.3

The files saved out all have .png extensions and can be opened directly. Browser I used is Chrome 48.0.2564 (latest version as of writing). I didn't try Safari as the file saving mechanism in Safari is quite different. Firefox is also a bit of a hassle when saving large number of files as well so I didn't do too extensive tests on it. I thi

[2016-02-15 16:08] Xeronimo74 commented on #1257
Hm, ok, guess I have to try loading the page in Chrome then, instead of the p5 editor! I will do so tonight and keep you updated.

And ok for the number of frames then.

[2016-02-15 19:23] PaliwalSparsh commented on #1257
@limzykenneth

[code]

1 more frame than expected I guess it is because of that "0.01"  in setTimeout(callback, duration+0.01). setInterval's callback will be called for 1 more last time after that clearInterval() is called on frame factory.
And may be for the 22fps they didnt want to populate with too many downloads as 20-25 fps is enough to make a continuous movie. I guess.

[2016-02-15 20:17] limzykenneth commented on #1257
@PaliwalSparsh Do you know why a 0.01 second is added to the duration? Is it to make sure it gets the next frame or something? I think with less powerful machine, not limiting the fps and duration will crash the browser, fill up harddisk space or just crash the system entirely. D: (understandable choice)

[2016-02-16 00:22] lmccart commented on #1249
examples look great, thanks for your work on this! is this issue good to close or is there more here to be figure out still?

[2016-02-16 00:32] lmccart commented on #1259
get() is admittedly slower, prioritizing ease of use. if you are looking for optimization, i'd recommend accessing the pixel array directly. there is more info here: http://p5js.org/reference/#p5/pixels[]
hope this helps!

[2016-02-16 00:32] #1259 closed

[2016-02-16 00:33] lmccart commented on #40
hm, what is the output for processing for this? i would try to match that conceptually as best as possible, unless it makes sense to deviate for some reason. maybe it would be useful to write out a spec of this object and methods first, and we could review to make sure it all fits together as expected, before you implement?

[2016-02-16 01:12] aatishb commented on #1249
@lmccart The documentation is fixed. deviceTurned() also works pretty well, the remaining issues are:

1. deviceTurned() reports the turnaxis incorrectly on y rotations from 0 to +/- 90
2. (related) the individual rotation variables can unexpectedly change when approaching +/-90 on X or Y axis (due to non-unique Euler angles representing a given orientation)

I'm working on a solution for 2, withi

[2016-02-16 04:16] PaliwalSparsh commented on #1257
I guess as js is single threaded and only one function can be run at one time, if both setInterval and setTimeout are callled at once, we don't know how will they queue in the event queue rather we should decide it ourself ,setTimeout called after all the desired setInterval's.
Ex. duration is 5sec and we have 22fps....so in every second there are 22 frames.....so when t=5sec callback for 22nd fra

[2016-02-16 07:09] DarkPrince304 commented on #40
I will try it out on processing soon and let you know. But I think it should be null value if xml  = animal node[0].

By the way I have done this in my PR #1255 using the class p5.XML and defined its methods and attributes too. So the loadXML() works fine except for just one thing on which I would like some help, which I have mentioned in the PR. You can check it out whenever you want :)

[2016-02-16 09:25] limzykenneth commented on #1249
A quick hack for solution one would just be changing some numbers for the range conversion, I'll try to do that if I can find some spare time but I think solving the bigger problem that we had should remove the need for these hack in the first place.

[2016-02-16 09:34] Xeronimo74 commented on #1257
some new observations:

(on Windows7)

- if I run the sketch in the p5.js editor and call saveFrames() there this will result, just like on OSX, in files WITHOUT an extension!
- if I run the sketch in Chrome and call saveFrames() then the files will have the correct extension but they're downloaded in the Downloads folder instead of the folder mentioned in saveFrames() ,,,

so I would still call t

[2016-02-16 09:41] Xeronimo74 commented on #1257
and the images also really need to be saved as 00x.png so that, for example, ImageMagick can stitch them together in the right order  ...

[2016-02-16 12:04] limzykenneth commented on #1257
I'm almost certain the extension problem is browser specific now as safari is more or less treated with a special case and whenever a file needed to be downloaded an alert pops up that advices user to add the extension when saving the file. Would adding the extension onto the filename solve this problem? I'm not sure, it might just escape the `.` to `-` and save it without extension. The same is h

[2016-02-16 12:32] lmccart commented on #40
oops sorry missed that! will take a look next chance i get.

[2016-02-16 14:40] aatishb commented on #1249
@lmccart @limzykenneth Sounds good, I agree, let's close this. I'll try to work on the remaining issue soon.

[2016-02-16 15:08] Xeronimo74 commented on #1257
@limzykenneth : there are several things that those working on p5.js could do:

- explicitly add the extension! It's even one argument of the function ... so why not use it!?
- add 001, 002, etc to the filename instead of just 1,2, etc
- the extension problem does not just occur on Mac, it's also occurs on Windows. the OS is not the problem, the p5js editor is. Chrome adds (or saves?) the extensio

[2016-02-16 16:21] Xeronimo74 commented on #1257
update: despite the warning on the reference page (Note that it is not recommended to call save() within draw if it's looping, as the save() function will open a new save dialog every frame.) save() does work just fine and exactly as I want it too!

I've been using this line in draw(): save("anim/image-"+frameCount+".png");

and got exactly what I wanted! ( +- the equivalent of saveFrame() in Proc

[2016-02-16 16:52] limzykenneth commented on #1257
@Xeronimo74 Can I know what browser are you using? As mentioned before, I cannot replicate the problem with Chrome and with some testing just now not with firefox as well.

I made a custom version of p5 and uploaded it with your sketch [here](closed-point.surge.sh), it manually adds the extension into the filename in the `saveFrame` function but from what I tried, it's not any different. If I add