[2015-07-10 17:42] workergnome commented on #645
I would go Sizzle over qwery—we're not super-worried about file size, and as far as training wheels go, I think it's a better one.

I don't care at all about separate library vs. core—this bug started out as extracting it from the main repo, and has gone back and forth between include vs. separate repo.  I just don't really want it hanging out, not a core part of the project, but in the repo.

[2015-07-10 17:47] lmccart commented on #645
Ok, it sounds like there is more feeling that it should be part of the core. @sarahgp's point about not having to learn how to add another thing to get the functionality as a beginning resonated with me a lot.
I believe it's an eventual goal that you are able to select modules and build your own lib so this would resolve issues around large files incorporated into specific modules. I haven't thoug

[2015-07-10 17:49] kadamwhite commented on #645
@lmccart Sounds great!

[2015-07-10 17:51] kadamwhite opened #800 "Decision: use Sizzle for DOM element selection?"
Per the conversation in #645, the [Sizzle](https://github.com/jquery/sizzle) project provides a very fast DOM element query syntax that balances high ease-of-use (more or less complete CSS selector parity) with performance. We should consider whether p5 should bundle Sizzle in order to make the DOM selector methods as straightforward (and transferable to other tools like jQuery itself) as possible

[2015-07-12 02:31] v-k- opened #802 "cross-domain images loading. An work around."
Hi. while trying to deal with cross domain loading images, I got this amazing hack by @GoToLoop in processing's forum. Maybe you guys would like to have a look:

http://forum.processing.org/two/discussion/11608/i-can-t-display-images-dynamically-loaded-from-web-with-p5-js-always-a-cross-domain-issue

an working test:

http://kubrusly.com/twtest/tainted/

[2015-07-12 06:56] dhowe opened #803 "text() with default color changes renderer state"
compare rects in the following two sketches -- they render differently bc of prior text() call
[code]
[code]
![screen shot 2015-07-12 at 2 57 49 pm](https://cloud.githubusercontent.com/assets/737638/8636789/67f04552-28a6-11e5-9ecd-491efb80b015.png)

[2015-07-12 07:10] dhowe opened #804 "'grunt watch' fails due to missing task"
Removing that task from the array appears to fix the problem, but I'll leave this for the author...

![screen shot 2015-07-12 at 3 01 26 pm](https://cloud.githubusercontent.com/assets/737638/8636823/e011514c-28a7-11e5-8413-273dc74eb195.png)

[2015-07-12 07:23] dhowe commented on #804
Actually what I think we want is something closer to this:
[code]

[2015-07-12 11:45] #803 closed

[2015-07-12 11:46] lmccart commented on #777
closed with #796

[2015-07-12 11:47] #777 closed

[2015-07-12 11:51] lmccart commented on #760
ok the getElementsByTagName part of this is done, how about createClass? my intuition is that it may be too much, that maybe this is the point where users start to learn about stylesheets. but I don't have any substantial reasoning for drawing the line here, just a hunch. I'd be curious what others think.

[2015-07-12 22:21] shiffman commented on #760
@lmccart I'm inclined to agree.  At the very least, I think we want to put other DOM work higher priority-wise and see how teaching / examples work out in the coming months which may lead to more clarity on additional functionality?  The question I would ask here is:

"Is dynamically creating and modifying CSS classes with JavaScript a thing that people do outside of p5.js often and what are some

[2015-07-13 19:10] poemusica opened #807 "rotate p5.Element not implemented?"
Hello p5 folks,

This is an issue with the p5.dom library. (Sorry if this is the wrong place to report. I couldn't find a separate repo for p5.dom and it sounds like you guys maintain it.)

### Problem
The code in the following example does not work:
http://p5js.org/reference/#/p5.Element/rotate
More generally, cannot rotate any p5.Element.

### Attempt 1
Using this version p5.dom:
https://cdnjs.c

[2015-07-13 19:16] lmccart commented on #807
sorry about the mistake in the documentation, this will be in the next version coming out tomorrow.

[2015-07-13 19:16] #807 closed

[2015-07-13 19:19] poemusica commented on #807
Yay! Thanks for the update!

[2015-07-13 19:21] futuremarc commented on #807
Actually the canvas currently isn't being wrapped in a p5 Element so you won't be able to manipulate it. I was actually thinking about this, shouldn't we want to return the canvas in a p5 Element whenever one is created?

@poemusica You're right though, the examples in the upcoming documentation wouldn't work without first wrapping the canvas.

[2015-07-14 19:22] lee00678 opened #809 "text wrapping doesn't work correctly"
when the text length exceed the given display area (when given the two more variables for width and height), the text got pushed out of the display area.

[2015-07-14 19:39] lmccart commented on #760
all right, then I think I'd suggest we close this one for now and revisit later after some testing in the classroom this fall. I think there are more crucial items we could focus on and leave this for when we have a more informed idea. sound ok?

[2015-07-14 20:53] futuremarc commented on #760
Makes sense

[2015-07-14 20:53] #760 closed

[2015-07-15 08:04] dhowe commented on #809
thanks lee -- can you supply us with a simple test (a screenshot would be great too) so we can verify this?

[2015-07-15 16:55] g-rocket opened #810 "resetMatrix() breaks HiDPI support"
Example sketch:

    function setup() {
      createCanvas(100,100);
      background(0);
      resetMatrix();
      rect(0,0,100,100);
    }

    function draw() {

    }

On a normal display, the rectangle is drawn the full size of the sketch, looking like this:

![screen shot 2015-07-15 at 12 47 43 pm](https://cloud.githubusercontent.com/assets/1187251/8704238/c8b41382-2aef-11e5-8745-20bc9d59a6

[2015-07-15 17:04] lee00678 commented on #809
I used the reference page as an example.
if you change some variables in the second example, the text is being pushed down.
![textarea](https://cloud.githubusercontent.com/assets/5026041/8704621/dda7bb84-2ad8-11e5-8dfc-074db1b0712f.png)

http://p5js.org/reference/#/p5/text

HTH
Qian

[2015-07-15 19:02] #810 closed

[2015-07-16 15:45] iros commented on #784
I'm seeing the same behavior actually.

[2015-07-16 15:47] iros commented on #784
I tried your code in a jsfiddle, and am also seeing the canvas not being removed properly.
http://jsfiddle.net/qo3duz1z/

[2015-07-16 15:55] iros commented on #784
It looks like, the reason is because the codepen p5 lib is different.
In codepen, when createCanvas is called, the current canvas is saved to this._elements:

[code]

Whereas, in the current version of p5.js, it is not. When you call `.remove`, the resulting `this._elements` is actually empty. @lmccart, I'm happy to make a pull req to fix this, by adding a remove on `this._curElement` at the end o

[2015-07-16 16:39] sepans commented on #784
I had this problem before and I thought it was intentionally set that way to 'reuse' the canvas and draw on top of it, or just to avoid DOM manipulation (silly thought, I agree). Now that it seems to be a bug, does it make sense to have the option of removing p5.js without removing canvas? Does the p5.js initialization support using <code>#defaultCanvas</code> if it already exists?

[2015-07-16 20:04] shiffman commented on #784
is this related to #808?

[2015-07-17 00:35] lmccart commented on #809
closed with https://github.com/processing/p5.js/pull/812#issuecomment-122123375

[2015-07-17 00:35] #809 closed

[2015-07-17 23:34] #799 closed

[2015-07-17 23:44] lmccart commented on #722
thanks @indefinit I believe this has been fixed.

[2015-07-17 23:44] #722 closed

[2015-07-17 23:46] lmccart commented on #613
closed with https://github.com/processing/p5.js/commit/9015ffe3eab19c155e42a1dc7be381974fc689be

[2015-07-17 23:46] #613 closed

[2015-07-17 23:48] lmccart commented on #764
so maybe the solution is to only show the load message if preload is defined, rather than always by default. this would still hang on errors but only errors within preload.

[2015-07-18 00:42] futuremarc commented on #764
This issue is actually always on my mind. I like @lmccart 's solution, except can we find a graceful way to display an error when working with preload? I feel like when I'm working on a sketch with preload, there's always this anticipation if 'loading...' means its broken or if the sketch is actually loading.

[2015-07-18 00:56] lmccart commented on #764
what would you suggest? I worry that displaying errors directly on the page may be going too far vs just directing developers to the console or the IDEs?

[2015-07-18 01:02] lmccart commented on #784
not related to #808.

@iros good catch! I think your fix would work, but the best one would be to add the canvas element to `this._elements`, but I can't remember if there was some reason why this line was removed...

p5.js does not allow you to specify a canvas to use because the larger conceptual model we are working with sees a p5.js sketch as more than just the canvas. so you can specify a con

[2015-07-18 01:05] lmccart commented on #746
@OhJia are you still interested in working on this one?

[2015-07-18 01:13] futuremarc commented on #764
How were we thinking of displaying the friendly error messages, keeping them in the console?

[2015-07-18 01:15] lmccart commented on #764
yes. the IDEs might interpret and do something more with them.

[2015-07-20 07:05] jadnco opened #814 "Frame ghosting"
Noticed this on the main website. Previous frames are faintly visible, even as the background is redrawn. Not sure if this is specific to the featured animation.

![screenshot 2015-07-20 01 56 41](https://cloud.githubusercontent.com/assets/6766444/8771163/3503d414-2e83-11e5-9e8a-e3f8bd5e3adb.jpg)

[2015-07-20 07:39] lmccart commented on #814
yes this is intended. are you noticing it elsewhere?

[2015-07-20 07:52] jadnco commented on #814
My apologies. No, I haven't noticed it anywhere else.

[2015-07-20 07:52] #814 closed

[2015-07-20 13:03] dhowe opened #815 "registerPreloadMethod failing on various types of objects"
A question: let's say I have a p5-compatible library (MyLib) with an object literal in it (MyLibObj), and this object literal has a function that the user would normally call as MyLibObj.loadObj(). Is there a nice way to register this function for preloading, without redefining it in some other scope?

[2015-07-20 19:27] antiboredom opened #816 "Put version number at top of p5.js"
I noticed that with the most recent release of p5 the version number is no longer at the top of the library. Can we put it back in? It's useful for the editor's auto-update feature.

In versions prior to 0.4.7 it looked like this:
/*! p5.js v0.4.6 June 24, 2015 */

Let me know what you think!

[2015-07-21 16:44] lmccart commented on #815
hey @dhowe does `registerPreloadFunc` do the trick? it was recently updated so you can specify both the name of the method and the object that method is attached to. https://github.com/processing/p5.js/wiki/libraries#use-registerpreloadmethod-to-register-names-of-methods-with-p5-that-may-be-called-in-preload

[2015-07-21 17:15] dhowe commented on #815
No. I tried a variety of versions of that call before writing the ticket, but no luck..
[code]

[2015-07-21 17:43] dhowe commented on #815
I believe the relevant lines are here in p5.js:

[code]

[2015-07-22 14:58] justinpoiroux opened #817 "Unable to save() or saveCanvas()"
Both functions return errors: Uncaught TypeError: filename.indexOf is not a function.

Doesn't work in neither setup() nor draw().

My thread on processing forum: http://forum.processing.org/two/discussion/11786/save-not-working-on-any-canvas

[2015-07-22 15:12] futuremarc commented on #817
Interesting, looks like you're right. For me saveCanvas() is throwing

`Uncaught TypeError: cnv.toDataURL is not a function`.

[2015-07-22 16:09] lmccart commented on #817
woops this got fixed in the latest version 0.4.7 but for some reason this version isn't showing up on the downloads page. can you try this one here: https://github.com/processing/p5.js/releases/tag/0.4.7 and see if you still have an issue?

[2015-07-22 21:40] #816 closed

[2015-07-22 23:11] geekydatamonkey opened #818 "p5 with browserify gives "Error: Cannot find module '../core/core'" in v0.4.6 and v0.4.7"
I seem to be running into errors when using p5js v0.4.6 and v0.4.7 with browserify. However, with v0.4.5, I have no issues. Browserify runs as expected. Any tips?

For example, if I run `browserify main.js -o bundle.js` on [this code](https://github.com/johnsojr/test-p5-browserify), I get these errors:

[code]

Thanks for any help!

[2015-07-22 23:28] OhJia commented on #746
@lmccart updated error message and sent PR

[2015-07-22 23:28] #746 closed

[2015-07-23 00:19] kadamwhite commented on #818
Thanks for the report! I'll take a look at this later this evening.

[2015-07-23 14:14] johnsojr commented on #818
Great! Thanks.

[2015-07-24 16:14] #621 closed

[2015-07-24 16:15] futuremarc commented on #621
all are now fixed

[2015-07-24 16:17] lmccart commented on #621
:)

[2015-07-25 04:00] KevinGutowski opened #822 "loadImage() blocked by Cross-Origin Resource Sharing Policy"
Not quite sure if its just me or if its a larger issue but I can't seem to load images properly. When using Chrome [just downloaded it -  44.0.2403.107 (64-bit)] I get this error. It loads just fine in Safari.

<img width="1051" alt="screen shot 2015-07-24 at 8 54 46 pm" src="https://cloud.githubusercontent.com/assets/4199296/8887789/8127e4fe-3246-11e5-8ce3-186bfe0e41d3.png">

with this code:

[co

[2015-07-25 08:17] spasmsaps commented on #822
@KevinGutowski Chrome does not allow loading local files by default, see:
http://www.chrome-allow-file-access-from-file.com/
Or set up a local server:
https://github.com/processing/p5.js/wiki/Local-server

[2015-07-25 18:39] KevinGutowski commented on #822
Ah thanks for the help. Could be useful to post on the website.

[2015-07-25 19:34] lmccart commented on #822
thanks we'll add this information to the reference.

[2015-07-25 19:34] #822 closed

[2015-07-26 00:20] rish opened #823 "Latest release makes using p5.js in Bower impossible"
From the latest release with this commit:

https://github.com/processing/p5.js/commit/ba817e5c500f24040411cad23cafeaa9f2e81910

There is no p5.js in the lib directory which means I cannot import the file using Bower.

Using Bower was my interim workaround due to p5.js being incompatible with Browserify (see #818).

The Browserify issue was broken with the release prior to the latest one.

I unders

[2015-07-26 01:13] geekydatamonkey opened #824 "video pixels example not working"
The [Video Pixels example](http://p5js.org/examples/examples/Dom_Video_Pixels.php) doesn't seem to be rendering.

The error that shows up in the console:
[code]

[2015-07-26 07:58] r1chard5mith opened #825 "http://lauren-mccarthy.com/test/p5.js/ is missing"

[2015-07-26 13:03] lmccart commented on #825
is this link listed in the documentation somewhere?

[2015-07-26 14:00] dhowe commented on #794
A drop-down list would certainly be useful ... Also a way to set properties on the elements (width, height, font-size, etc.) on the existing input object

[2015-07-26 15:03] futuremarc commented on #794
I've been working on these and related; will be done soon!

[2015-07-26 15:05] dhowe commented on #794
:+1:

[2015-07-26 18:41] #817 closed

[2015-07-26 18:59] lmccart commented on #823
I'm afraid it's a bit too much overhead for me to maintain a separate repo just holding the lib files, pushing out a new release already involves a lot of individual tasks. Hopefully the fix for #818 will make the bower workaround unnecessary.

[2015-07-26 19:05] #824 closed

[2015-07-26 19:14] lmccart commented on #804
hey @dhowe, forgive me, I don't usually use grunt watch so I'm not sure exactly what should be in there. should it just be the same as the default grunt task? or does grunt watch have less in there?
default is  `['connect', 'jshint', 'jscs', 'build', 'mocha']`

[2015-07-26 19:30] #764 closed

[2015-07-26 19:32] lmccart commented on #764
Ok I changed things around so the "Loading..." div is only added if preload is defined, and it is removed immediately after preload completes. If there is no preload defined, we will never see the loading div at all. So it could theoretically hang if you mistype the path of a file or a function within preload, but I think this is a big improvement over previously when it could hang on "Loading..."

[2015-07-26 19:35] joecridge commented on #764
Great :)

[2015-07-26 19:35] rish commented on #823
Ok thank you anyway, I could probably set up a separate repo that will automatically build the bower packages on each release, but I thought I'd give you guys first dibs on the idea.

[2015-07-26 22:08] r1chard5mith commented on #825
It's in the instructions for embedding sketches
https://github.com/processing/p5.js/wiki/Embedding-p5.js

[2015-07-26 23:14] kadamwhite commented on #818
Sorry for the delay on investigation. Actively looking at this now

[2015-07-26 23:44] futuremarc commented on #764
Woo!

[2015-07-27 00:40] kadamwhite commented on #781
This may be blocking #818 since it means we end up with two UMD definitions in one file. I'm putting together a PR to require opentype into the constructed bundle. This would mean opentype would no longer be a global, however, so it could only be used by an end user via p5's interface (`loadFont` etc)—this seems fine to me, but I thought I'd raise it just in case.

[2015-07-27 00:44] kadamwhite commented on #818
This is a result of node-browserify#1151 : `--standalone` bundles aren't actually standalone, as Node will still try to parse those `require` statements if you try to use the generated bundle in another browserify project.

The rough approach I'm taking in this investigation is,

- Work on integrating OpenType into the built p5.js file (#781) so that the bundled file exposes one UMD object only
-

[2015-07-27 00:47] kadamwhite commented on #823
@lmccart jQuery includes the built files in their release tags: *e.g.* https://github.com/jquery/jquery/commit/f9846aec1dadc4bc80ca2df47d3ecc1b9f7a4f84 I'll ping @gnarf to see if I can get any insight into how we might be able to replicate their (automated) deploy process to accomplish this manually in the short-term, but since it seems possible I think we should find a way to get the build lib/ f

[2015-07-27 01:47] dhowe commented on #781
I'm assuming you mean any exposed functions in the library (for example, we now expose p5.Font.textBounds(), which is not actually part of the official p5 API (or p5's direct interface). If so, then this seems fine to me as well.

[2015-07-27 02:27] kadamwhite commented on #781
I think we're discussing the same thing, but as I'm less familiar with the font module I'm not 100%. Do you have some tests that you could do or recommend I do to verify things are copacetic?

[2015-07-27 04:53] rish commented on #823
@kadamwhite agreed, that would be super useful!

As for a reference, jQuery has a separate dist repo for their release builds, see here for the bower file:

https://github.com/jquery/jquery-dist/blob/master/bower.json

Also the reasoning for stripping out the builds from the lib directory starts from here:

#774

[2015-07-27 05:12] gnarf commented on #823
I'm still afk Mon, but jQuery/jquery-release is where the release is defined
On Jul 26, 2015 23:53, "rish" <notifications@github.com> wrote:

[2015-07-27 05:32] dhowe commented on #781
Maybe a bit of a larger task, but something I've done in the past is to check access to the entire API as part of a test set; so there might be a JSON file with a list of objects and the functions/variables/constants they expose, and the test can simply check each is defined and has the correct type (you might also test that private elements are *not* visible). The idea being that you can do devop

[2015-07-27 05:46] rish commented on #823
Hi @gnarf I appreciate the response.

The jquery-release repo doesn't have a bower.json to determine where bower should grab the relevant files from.

I'm under assumption that the jQuery team have created a new repo called jquery-dist solely for package managers in preparation for their 3.0.0 release.

This whole process could be put into the current p5.js repo to populate the dist repo automatic

[2015-07-27 05:53] dhowe commented on #804
I usually don't lint during a 'watch', but I think its OK (either way) for a default...

[2015-07-27 06:13] dhowe commented on #781
Note that I am now getting a new exception in the the previously existing unit tests for p5.loadFont(). The fact that the test is still passing is a different problem that I will look at...

![screen shot 2015-07-27 at 1 52 23 pm](https://cloud.githubusercontent.com/assets/737638/8899639/90e5b39c-3469-11e5-9160-0f3e5e88558c.png)

[2015-07-27 06:17] dhowe opened #830 "Unit test still passing with exception"
/p5.js/test/test.html?grep=Files%20loadFont()%20in%20Preload

[2015-07-27 07:04] kadamwhite commented on #830
What branch is this reported against? #827 may address it; on that branch I get this result:
![image](https://cloud.githubusercontent.com/assets/442115/8900265/143b884c-33f3-11e5-947b-3a9b48c86357.png)

[2015-07-27 15:37] karneaud opened #831 "CDN Error"
http://cdnjs.com/libraries/p5.js

You guys probably need to notify the admin about this

[2015-07-27 16:13] lmccart commented on #831
Sorry, what's the error?

[2015-07-27 18:07] karneaud commented on #831
The CDN links seem to be incorrect

[2015-07-27 18:20] lmccart commented on #831
Hm.. this is see when I follow that link. All of the links off that page seem to work for me?
<img width="1101" alt="screen shot 2015-07-27 at 2 19 39 pm" src="https://cloud.githubusercontent.com/assets/191056/8914002/8dd81b62-346a-11e5-803c-1a9fb4a7c0ef.png">

[2015-07-27 18:41] brysonian commented on #831
I looked earlier today and it was fine, but now i see this.

<img width="1230" alt="screen shot 2015-07-27 at 11 40 28 am" src="https://cloud.githubusercontent.com/assets/69087/8914468/6d34f990-3454-11e5-8cc2-20bb820db03f.png">

[2015-07-27 18:46] lmccart commented on #831
huh weird. it seems to be happening selectively, I just tested on three diff browsers in two diff locations and all fine. thanks all, I'll send them a note.

[2015-07-27 18:47] brysonian commented on #831
Yeah it is really strange. I see it on a couple of other projects too, but not consistently.

[2015-07-27 18:52] lmccart commented on #804
@kadamwhite I was going to make this change, but I wondered if you had last worked on this part and have a better sense what's happening with this task and might want to take a look?

[2015-07-27 19:00] lmccart commented on #815
aha ok. I don't think we actually need the prototype in there... do you want to test the newest I just pushed?

[2015-07-27 19:03] kadamwhite commented on #804
@lmccart I'm happy to make this change this evening, if you want to tackle it now though be my guest, I can review :)

[2015-07-27 19:11] lmccart commented on #804
ok not totally sure I got it right, but an attempt..

[2015-07-27 21:33] karneaud opened #832 "Windows Phone 8.1"
Tried using the p5.Sound on my windows mobile phone version 8.1 and I don't seem to be getting anything...is it like the iOS where you have to have user input to play?

[2015-07-27 21:40] lmccart commented on #832
hey @karneaud do you mind reposting this on the p5.js-sound repo?
https://github.com/processing/p5.js-sound/issues

[2015-07-27 21:41] karneaud commented on #832
ok

[2015-07-27 21:41] #832 closed

[2015-07-28 17:39] lmccart commented on #831
looks like this was reported and fixed on cdnjs, anyone still seeing the issue?
https://github.com/cdnjs/cdnjs/issues/5141

[2015-07-29 00:00] lmccart commented on #825
thanks, updated

[2015-07-29 00:00] #825 closed

[2015-07-29 00:08] #831 closed

[2015-07-29 04:24] kadamwhite commented on #804
Looks good to me—linting during a watch is pretty common, and if the linter fails (if there's a syntax error) it won't try to run the tests, which should save turnaround time.

[2015-07-29 04:31] lmccart commented on #804
great, thanks for looking it over

[2015-07-29 04:31] #804 closed

[2015-07-29 04:47] kadamwhite commented on #818
Update: further progress on this is currently blocked by #828, since the file needs to be a well-formed UMD module before derequire will begin to cooperate

[2015-07-29 12:34] lmccart commented on #668
any suggestions on how this check might be done? the problem I'm running into is that we don't necessarily know the signature for various methods in preload. I supposed we could do some basic check for the ones we do know about (like checking for a function passed as a parameter), but libraries can register their own preload methods, and these might vary widely.

[2015-07-29 12:38] #570 closed

[2015-07-29 12:39] lmccart commented on #706
are we set here, or is there more to be done?

[2015-07-29 12:41] lmccart commented on #802
thanks @v-k-, this is interesting! @shiffman I seem to recall you mentioning something like this, is this something we should consider adding to the library? I worry that it feels a little hacky. but it would be useful functionality.

[2015-07-29 13:53] shiffman commented on #802
This is the relevant thread from before: https://github.com/processing/p5.js/issues/561.  Is the use of `createImg()` a good solution here?

[2015-07-29 14:07] kadamwhite commented on #706
Set for now, I think? I can make it faster but we're not quite ready for that yet

[2015-07-29 14:20] dhowe commented on #815
I'm thinking about the various use-cases. But first off, is it expected that an empty preload() function will hang the sketch (setup() is never called)?

[2015-07-29 14:24] dhowe commented on #815
Types of things to register as preload
* a function attached to p5 (e.g., p5.sound lib)
[code]
* a globally defined function
[code]
* a function on an object literal
[code]
* a function on an instantiated object (with prototype chain)
[code]

[2015-07-29 16:42] lmccart commented on #706
ok great, let's reopen when we're ready for more action here.

[2015-07-29 16:42] #706 closed

[2015-07-29 16:42] #781 closed

[2015-07-29 18:15] kadamwhite commented on #823
I had an interesting conversation today in IRC with some members of the jQuery team (@scottgonzalez, @mzgol, @arschmitz) in order to better understand their process. The log of the discussion is available here: http://irc.jquery.org/%23jquery-dev/default_%23jquery-dev_20150729.log.html#t10:35:14

The summary is that there have been two ways that jQuery releases were tagged and bagged:

- The old w

[2015-07-29 18:21] arschmitz commented on #823
@kadamwhite for publishing to a separate repo there is no need to copy anything. You could still just do it on a detached head, and add the dist repo as another remote in git. Then push the detached head to that remote.

it's kind of a middle ground you have the same basic work flow but you don't bloat the repo. But you still have the disadvantage of maintaining 2 repos.

[2015-07-29 18:25] sarahgp commented on #823
The separate repo flow seems to require knowing less about git & have fewer steps, so I normally would advocate for that, just to keep the required skill level for contributors lower. At the same time, really only a few people (or one) is going to be responsible for new releases, so it may not matter. These are my two, prevaricating, cents

[2015-07-30 06:17] OhJia opened #836 "p5 on mobile devices"
I'm focusing on p5 uses for mobile devices. Have you encountered any issues while using p5 on mobile browsers or with native wrapper such as Phonegap? Are there any mobile specific capabilities that would be useful for students? More specifically I'm working on the following and would love to get some feedback and suggestions.

### Setups for mobile browser and Phonegap
The goal is to make it as b

[2015-07-30 10:13] shiffman commented on #836
This is great!  In particular, the workflows wiki you posted is super helpful.  This is a major stumbling block I see often in class -- how to easily get something running on a device for testing and be able to quickly iterate changes and get console access for debugging.    I am wondering about possibilities for integrating with the IDE.  For example, an ideal scenario is having a "run on device"

[2015-07-30 16:18] OhJia commented on #836
@shiffman @antiboredom An IDE "run on device" button would be amazing! Would love to help with this. @therewasaguy had mentioned a "run on device" like feature for the web IDE as well. Alternatively, for mobile browser sketches, a url that gets generated and sent to device could be an easy implementation(?)

[2015-07-30 16:34] futuremarc commented on #836
Perhaps a 'run on mobile button' could just start up a local server and spit out the IP which you should connect to on your mobile. Actually, sorry for not knowing this, but do we expect students to start up local servers even when using the IDE?

[2015-07-30 21:52] futuremarc opened #838 "Curious about WebGL progress... Are looking at 2d WebGL? Should we use pixi.js?"
Hi everyone,

I know a few of us are working on WebGL stuff for 3d this summer, but just wondering if we are trying to add support for 2d WebGL?

The performance difference is staggering in the difference between WebGL and canvas, and is especially true for mobile.

[Phaser.io](http://phaser.io) uses [Pixi.js](http://www.pixijs.com/) which is a 2d WebGL renderer with a canvas fallback. Would it be

[2015-07-31 14:55] indefinit commented on #838
Hi Marc,

Totally agree. There will definitely be 2d support for drawing in webgl.  We've been focussing a lot on the 3d side, however it's currently possible to start drawing in 2d "immediate mode".  have a look in the examples folder in the master branch to see what I mean. Right now Karen and I are focussing on getting the shaders and texture binding working properly and intuitively, but if you

[2015-08-01 21:43] whichlight opened #839 "touchevents on mobile fullscreen"
Hey there! I'm having trouble with touchevents on mobile when I'm working with fullscreen. If i specify the window size it works fine, but if i go fullscreen it doesn't.  On desktop fullscreen works great. Here is a repo where I did a test: https://github.com/whichlight/p5-fullscreen

Renderings not based on touch events (the line in the center) work on mobile or desktop. Renderings depending on t

[2015-08-02 17:24] togakangaroo opened #840 "If setup isn't present p5 doesn't initialize?"
This is confusing to me.

I created a simple page wanting to play with things in the console. Despite me loading all files properly in the correct order, none of the global processing methods were available. In order for them to be available I had to create a `window.setup = function() {}` in a script tag soon *after* the p5.

This is very confusing and I'm not sure what the underlying mechanism i

[2015-08-02 19:59] togakangaroo opened #841 "Is it possible to add two SoundFiles?"
Trying to figure out if I can add two SoundFile objects to create a single one. Can't find anything in the docs but it seems like it should be possible...

[2015-08-02 20:18] therewasaguy commented on #841
Hey @togakangaroo, could you provide more details about what you're trying to do?

It sounds like you're talking about a sampler that can play two different files. For this you could just use two SoundFile objects. You could wrap them in your own "sampler" object if you want them to behave as one object.

p5.sound has its own github repo / issues thread so please post to https://github.com/process

[2015-08-02 20:18] #841 closed

[2015-08-02 21:28] OhJia commented on #839
Hi @whichlight, should work if you use touchX instead of mouseX. Try this on your mobile device: http://bit.ly/1g8h17S The code is the same as your repo except touchX.

[2015-08-03 08:52] KevinGutowski opened #842 "p5 doesn't draw opaque strokes as expected (RGB(255,255,255,1) not working properly?)"
Not sure if its just how p5 is interpreting my code or what but I can't seem to get it to draw strokes properly in colorMode(RGB,255,255,255,1). Here is the code that is giving me issues:

[code]

I essentially just draw two overlapping circles but what I get isn't right at all. It seems to fade away even though I am redrawing them??? Seems like a bug because I can achieve this effect just fine wi

[2015-08-03 14:38] maxkolyanov commented on #842
p5.js Color object handles alpha on the scale from 1 to 255.
The problem with this code is value you provide gets divided by 255 by this line of code
`var alpha = typeof a[3] !== 'undefined' ? a[3] / 255 : 1;`
and comes out as very small ~0.0003, which canvas then renders as transparent.

I would happily write a handler for floating point alpha channel, if community/contributors are okay with this

[2015-08-03 14:49] sarahgp commented on #842
You can change the alpha scale (or any color scale) by declaring it in your `colorMode()` call. So in theory, calling

[code]

should in fact result in alpha being calculated between 0 and 1. (I updated this in #728 ).

I can take a look sometime this week or if someone has time sooner and wants to jump on it, please feel free.

[2015-08-03 14:56] maxkolyanov commented on #842
Whoops, I see code responsible for this now!
Sorry for misinformation, still trying to grasp the code and architecture
Would try and look into actual cause.

[2015-08-03 15:51] whichlight commented on #839
omggggg yay. Hmm, I was trying to recreate an earlier issue I had, but this is working absolutely wonderfully. Thank you so much :D

[2015-08-03 15:51] #839 closed

[2015-08-03 15:56] lmccart commented on #839
cool, glad that worked. I thought at one point though, mouseX would just work on mobile, just as touchX would work with mouse, so you don't have to change it up from one to the other. I can look into this.

[2015-08-03 16:06] sarahgp commented on #842
I am not sure what you mean by "ignores". It shouldn't. When the color is set, it should normalize it against the max.

As far as the ability to put in ostensibly-nonsensical scales, that is functioning as intended. There is no reason to limit people.

[2015-08-03 16:10] maxkolyanov commented on #842
@sarahgp
[code]
What I mean is that maxArr never goes anywhere, it is just defined inside a function, filled with arguments and then left in the memory to sit all alone.
I could write `colorMode(RGB,'asd','asd','asd)` or whatever, it won't affect anything

[2015-08-03 16:16] sarahgp commented on #842
So then I suspect it is being applied elsewhere -- or else for some reason it is not being applied when just an RGB color is declared and that is a bug that we missed in our test cases. I can help you figure out which later this week or you can read through the rest of the color files and find out why the tests seem to pass but this is failing if you are feeling impatient. :smiley:

[2015-08-03 16:35] kadamwhite commented on #818
Another update: this is still in progress. The current approach I'm taking is to make a custom Browserify task, rather than use the `grunt-browserify` one; this enables us to chain the `derequire` step into the generation of the original file. I'm rabbit-holing a bit on how to best conditionally stub out functionality in the minified builds, but I should have a result that will solve this issue by

[2015-08-03 16:37] kadamwhite commented on #818
As a side-note: I did consider switching to Webpack for the build, since Webpack does a lot of the conditional build/dead code removal/*actually-makes-a-viable-UMD-module* things we want; but for now I've determined that Webpack adds too much complexity to be worth the change.

[2015-08-03 16:37] maxkolyanov commented on #842
@sarahgp
What I did is: I searched code for usage of `_colorMaxes` array and it's almost never even used nor modified anywhere, let alone in normalising colors.
The tests are passing, because there is no coverage for this case.
Setting anything with `colorMode()`, won't affect instantiation of Color object in any way, as far as I can see.
I also can be absolutely wrong, but if this is really the c

[2015-08-04 02:31] OhJia commented on #839
@lmccart I haven't tried mouseX on mobile. I can also try it on different devices.

[2015-08-04 04:48] Mottie commented on #839
Maybe it would be better to go use [pointer events](http://www.w3.org/TR/pointerevents/)? Check out [jQuery's PEP](https://github.com/jquery/PEP) (Pointer Events Polyfill) repository; and no, it is not dependent on jQuery.

[2015-08-04 15:41] sarahgp commented on #842
Okay, so I see what is going on; there are a few changes we need to make.

The main problem with this bug is that when an RGB color is used with a set of maxes other than `[255, 255, 255, 255]`, it is never getting normalized. Normalization is applied in the conversion functions in `color_utils.js` but this doesn't trigger the conversion function. It probably makes sense to add that normalization

[2015-08-04 16:08] sarahgp commented on #842
Another thing I noticed in looking at `_getFormattedColor`, we are still [hardcoding 255](https://github.com/processing/p5.js/blob/master/src/color/p5.Color.js#L485) to set unmatched values to white, but it should be moved to dynamic maxes, otherwise it could default to something not-white depending on the scale.

[2015-08-04 17:15] maxkolyanov commented on #842
Cool!
I'll try to put all these changes into a PR, when I have more time this week to look thoroughly around the code.

[2015-08-04 17:27] sarahgp commented on #842
I didn't realized you added to that previous post as well. The `toString()` method you linked to has its own discussion going on in #723. I would not read anything into expected behavior from that particular method: it should just be output.

But yeah, anywhere where we are using a hardcoded 255 is likely a bug waiting to happen. When I added HSLA, I changed all the hardcoded places I came across

[2015-08-04 17:27] sarahgp commented on #842
And thanks!

[2015-08-04 17:42] kadamwhite commented on #723
I don't think we know better than users, I just think that `toString` should output a method that is a valid web color :) But I will concede to the will of the group, whatever that may be.

[2015-08-04 19:24] lmccart opened #843 "new windows build of p5 editor"
Hi everyone, I wanted to spread the word that there is a build of the p5 editor for windows now available.
We're working hard to get this in good shape for anyone that may be teaching with it this fall. If you have a chance to try it out and [report any feedback or bugs](https://github.com/processing/p5.js-editor/issues), it would be so helpful!

https://github.com/processing/p5.js-editor/releases

[2015-08-05 01:09] KevinGutowski commented on #842
Thanks for the quick responses everyone!

[2015-08-05 01:49] alanJoe commented on #843
load and play sound can not run as  expected

[2015-08-05 01:49] alanJoe commented on #843
859: Uncaught not ready to play file, buffer has yet to load. Try preload()

[2015-08-05 01:52] alanJoe commented on #843
proload neither

[2015-08-05 14:53] whichlight commented on #839
omg. @Mottie  i've been dreaming of something like pointer events to exist. this is really cool, thanks so much! I will play with it

[2015-08-05 18:01] iamkevingreen commented on #818
Having a similar issue, I have a public repo with a p5 branch where it's occurring. Library looks really fun would love to get this working with my browserify setup [this repo](https://github.com/iamkevingreen/animationland/tree/p5)

[2015-08-05 18:03] kadamwhite commented on #818
@iamkevingreen Thanks for the additional test case! I'll have another update this week, I promise :)

[2015-08-05 22:42] mflux commented on #818
Also running into this issue as well, currently using npm install p5 --save for prototyping and Cannot find module '../core/core'

[2015-08-05 23:40] dhowe opened #844 "Font paths to points"
So I'd like to integrate some path routines I've written into the p5.Font class to handle conversion back and forth between paths (both opentype or svg) and points. This will allow people to do stuff like the little demo below. However, its a big chunk of code (~20k before minimization), so wanted to check that others thought this a good idea (some of it would likely be reusable in future PShape o

[2015-08-06 03:35] lmccart commented on #823
Thanks @kadamwhite for researching this and to the jQuery team for your advice. After thinking about it for a while, I think I could go either way (2 repos vs detached head), but I have some preference for keeping the repo size smaller since it seems hard to go back on this.

[2015-08-06 15:07] brysonian commented on #696
So what is the thinking on this now? I was going to finally take a look, but it seems that folks might be ok with a default alpha as 0-255? I know part of this was depending on books and other teaching materials so it might be too late to make a change anyway.

[2015-08-06 15:12] sarahgp commented on #696
Default alpha at 255: I think is unintuitive but trivial to switch. (Tho there is a bug in that being worked on in #842.)

Global functioning of `colorMode` is still TBD, I guess?

[2015-08-07 06:28] faytom opened #845 "performance degrade on mobile device when multiple sound files loaded"
i am developing a music rhythm game with p5js. When i try to run the game on some android devices and iphone5, it was experiencing a significant performance drop, the frame rate dropped below 30fps. refer to: https://github.com/faytom/musicgame/blob/master/mg/sketch.js#L175 I also checked out the timeline tool provided by chrome. It took most of the time to process audio within each frame. can any

[2015-08-07 15:56] lmccart commented on #845
hey @faytom this seems like it is specifically sound related, do you mind posting it here: https://github.com/processing/p5.js-sound/issues? however, it would probably be easier to fix if you could narrow it down to a simpler test case that shows the issue, is this possible?

if this is more of a general code / debugging question then the best place for that would actually be the forum: forum.proc

[2015-08-08 00:25] hellwoodfire opened #848 "Dom Drop does not work anymore."
The Dom Drop feature does not work anymore.
Something is broken in the createImg function ? See:
http://p5js.org/examples/examples/Dom_Drop.php
When dragging and dropping an image on the canvas, there are errors in the console:

p5.dom.js:220 Uncaught TypeError: Cannot set property 'width' of undefined
setAttrs @ p5.dom.js:220
p5.createImg @ p5.dom.js:232
gotFile @ VM131:23
(anonymous function) @

[2015-08-08 00:29] hellwoodfire opened #849 "Dom Drop does not work anymore."
The Dom Drop feature does not work anymore.
Something is broken in the createImg function ? See:
http://p5js.org/examples/examples/Dom_Drop.php
When dragging and dropping an image on the canvas, there are errors in the console:

p5.dom.js:220 Uncaught TypeError: Cannot set property 'width' of undefined
setAttrs @ p5.dom.js:220
p5.createImg @ p5.dom.js:232
gotFile @ VM131:23
(anonymous function) @

[2015-08-08 03:01] faytom commented on #845
@lmccart thanks for your information. I was just so lost when a problem occurred.

[2015-08-09 00:12] zenozeng opened #851 "p5.js says: You wrote rect(X,X,X,X,X,X,X,X)"
![2015-08-09 08 07 55](https://cloud.githubusercontent.com/assets/2544489/9152888/298669f8-3e6e-11e5-9d42-bf577633525a.png)

I use `rect(30, 20, 55, 55, 20, 15, 10, 5)` to draw round rect, but p5.js gives me this warning:
[code]

[2015-08-10 03:56] zenozeng commented on #373
@liasomething p5.pdf@0.3.0 now is released. It now supports vector export if you use `createCanvas(100, 100, SVG)`.  Also, in v0.3.0, I added nextColumn(), nextRow(), beginRecord() and endRecord(). Customing page size, page margin, column gap and row gap is also supported. I have created some examples, view with Google Chrome:
http://zenozeng.github.io/p5.js-pdf/examples/

See also:
- https://gith

[2015-08-10 11:42] lmccart commented on #849
duplicate of https://github.com/processing/p5.js/issues/848

[2015-08-10 11:42] #849 closed

[2015-08-10 15:34] crhallberg commented on #851
Just to clarify before I fix, is there a valid 9 parameter use for rect()?

[2015-08-10 15:42] lmccart commented on #851
I don't think so..
http://p5js.org/reference/#p5/rect

[2015-08-10 15:43] crhallberg commented on #851
Alright! 9 reduced to 8. Pushing now.

[2015-08-10 15:45] crhallberg commented on #851
https://github.com/processing/p5.js/commit/1c69f65235ce4bd15b3b5c4f348bc25b9622f988

[2015-08-10 15:45] #851 closed

[2015-08-11 17:11] lmccart commented on #844
the demo is awesome!! what would you think about putting this functionality into an addon lib for now until we have a better sense where we're going with pshape / svg? (this is just a first reaction suggestion so please feel free to tell me why this doesn't make sense, and don't feel I'm trying to relegate this to an addon if it should be core.)

[2015-08-11 17:27] #848 closed

[2015-08-11 17:40] lmccart commented on #815
Looking at this again now. I've just pushed a change that takes an object rather than a string as the second argument. However, I don't think this yet supports all cases outlined above. The problematic part is [this line](https://github.com/processing/p5.js/blob/60733336b06121091f06e20010a11c6fa1afc252/src/core/core.js#L214) where we set the variable `context` to either p5 or window (to account fo

[2015-08-11 18:40] #843 closed

[2015-08-11 18:42] lmccart commented on #830
was this fixed with https://github.com/processing/p5.js/pull/835? go ahead and close this issue if so.

[2015-08-11 19:18] #830 closed

[2015-08-12 00:03] greggman opened #853 "Instead of recommending apache how about a node server?"
Apache seems like overkill and running it on OSX (as in the instructions) means your machine is now running a server all the time in the background and open to being owned unless you remember to turn it off. It's also a not very approachable in terms of configuration and tell it where to server files from.

An alternative is node. Just 3 simple steps

1.  [Download and Install node.js](http://node

[2015-08-12 00:08] lmccart commented on #853
I think the python simple server is about similar complexity (https://github.com/processing/p5.js/wiki/Local-server#python-simplehttpserver), but it's great to have multiple options so please feel free to add these node instructions to the wiki!

[2015-08-12 00:53] sepans commented on #853
+1 python: Mac OS and most linux distributions [and maybe even windows 10](https://windows.uservoice.com/forums/265757-windows-feature-suggestions/suggestions/6693586-ship-python-3-and-python-2-with-windows-10) have python pre-installed.
-1 apache: It has one extra step (copying files or changing DocumentRoot) to run examples.

[2015-08-12 01:12] greggman commented on #853
I was suggesting node as an alternative to both python and apache. Python's simple server has well known problems. It's very slow. Sometime it pauses for 3-30 seconds trying to serve stuff. It sucks at serving anything more than a few 10s of k. Try to serve an .mp3, .ogg, .mp4, .wp8 and it will fail. It also can't stream.

Anyway I'll add node to the wiki.

[2015-08-12 01:12] #853 closed

[2015-08-12 02:38] sterlingcrispin opened #854 "save() function does not work on graphics buffers"
this should work according to the documentation but it doesn't :(
http://p5js.org/reference/#/p5/save

function setup() {
  createCanvas(windowWidth, windowHeight);
}

function draw() {
  // draw stuff here
  ellipse(width/2, height/2, 50, 50);

  test = createGraphics(100,100);
  test.background(255, 0, 0);
  save(test, 'lolbroken.jpg');
}

[2015-08-12 02:54] kadamwhite commented on #853
I definitely feel like we should note the security caveat to the Apache recommendation. Long-term I want to try to make [p5-cli](https://github.com/kadamwhite/p5-cli) more robust so that it can be a more reasonable alternative to other Node-based HTTP server mechanisms.

[2015-08-13 02:54] jsphweid opened #855 "calling .mask() on a Renderer object and calling .get() on video capture (element object)?"
Just a few quick things that I thought were simply my novice misunderstandings but may be actual issues.

.mask() seems to only work with actual image files and not graphics. I was trying to use it to whiten out a section around a structure that is generated. Neither the structure nor the mask are image files, but generated and change. When I use .mask() on a graphics object (renderer), I get: "Un

[2015-08-14 16:47] polyrhythmatic commented on #815
I've been taking a crack at this and I've gotten *somewhere* although I'm not sure where. I'm trying to register the 4th case @dhowe outlined - registering instantiated objects.

in the start function i've added an if statement - if the function is an internal object it registers it off the window directly, otherwise it will look within Tone.

[code]

I've finally got a Tone.Player method register

[2015-08-14 20:51] dano1234 commented on #575
I am having a similar problem in LoadXML.  Can't print out the returning data and also can't iterate through it in P5 IDE  I can do both of these in Sublime.

function setup() {
   loadXML("http://www.ps3nyc.org/news/feed/?cat=32",getNews);
}

function getNews(data){
    //This gets uncaught RangeError: Maximum call stack size exceeded
  console.log(data);

    //the approach of iterating is foile

[2015-08-14 21:06] lmccart commented on #575
is this an issue just with the editor? can you log it here, if so: https://github.com/processing/p5.js-editor/issues. apologies if I'm misunderstanding.

[2015-08-14 21:50] dano1234 commented on #575
Will do.

[2015-08-14 23:03] futuremarc commented on #843
Awesome! Much, much needed for classes!

[2015-08-16 01:26] xyfeng commented on #696
@lmccart @workergnome , I just created a pull request with all the fixes, please take a look at,  and let me know if there are things you want to change. #857

[2015-08-16 02:01] zenozeng opened #858 "Browser compatibility issue due to String.prototype.repeat()"
I notice that String.prototype.repeat() was used in error_helper.
https://github.com/processing/p5.js/blob/dbef89fdaa6c94648c534b4a0e869b63611e63c9/src/core/error_helpers.js#L142

However, this method is new tech (part of es6), so seems that IE and Safari did not support it.
Maybe we can provide p5.prototype._repeat and use something like `Array(n+1).join(str)` or simply apply MDN's polyfill?

See

[2015-08-16 21:05] #845 closed

[2015-08-16 21:07] lmccart commented on #793
closing this as it's not directly related to p5.js library, but @mayaman has made great progress on this this summer and you can follow in the link above. stay tuned this fall for a documentation drive focused on translation and internationalization in preparation for i18n website rollout later this year!

[2015-08-16 21:07] #793 closed

[2015-08-16 21:18] #854 closed

[2015-08-16 21:18] lmccart commented on #854
just pushed a fix, however, it's recommended that you don't call `save()` inside draw if it's looping as it will try to open a save dialog every frame.

[2015-08-16 21:26] lmccart commented on #840
thanks for the feedbakc @togakangaroo and apologies for the confusion. I documented this [here](rocessing/p5.js/wiki/Frequently-Asked-Questions#is-setup-and-draw-required-when-are-they-called-what-is-the-page-load-order) please let me know if there's anything you feel is missing or still not clear!

[2015-08-16 21:31] lmccart commented on #853
Great point, @greggman if you'd like to add a note about the security risks with running apache to the wiki as well that'd be wonderful.

[2015-08-16 22:17] kjhollen commented on #798
Good catch. Hmm. I've been thinking about this one on and off over the last month and still haven't come up with an elegant idea for resolving the floating point pixel densities.

We could do a partial "fix" that rounds the pixel density in the single pixel case (the one that you linked), but it still won't look right if you're trying to loop over a grid of pixels in a sketch and calling `set()` o

[2015-08-16 23:46] #855 closed

[2015-08-16 23:48] lmccart commented on #855
yes, this is correct, `mask()` works only with images, in line with the processing implementation: https://processing.org/reference/PImage_mask_.html

the `get()` with capture issue was indeed a bug and should be fixed with the change i just pushed.

[2015-08-17 03:31] sterlingcrispin commented on #854
awesome thanks!

[2015-08-17 12:02] lmccart commented on #696
closed with #857

[2015-08-17 12:02] #696 closed

[2015-08-17 12:03] lmccart commented on #723
closed with #857

[2015-08-17 12:03] #723 closed

[2015-08-17 12:04] lmccart commented on #842
closed with #857

[2015-08-17 12:04] #842 closed

[2015-08-18 12:49] #818 closed

[2015-08-18 13:00] lmccart commented on #858
good catch, I suggest we just use the array join method for this, do you want to submit a PR?

[2015-08-18 13:03] zenozeng commented on #858
OK, I will pull a request later.

[2015-08-18 13:06] zenozeng commented on #858
Should I provide p5.prototype._repeat or just replace string.repeat with inline function?

[2015-08-18 13:08] lmccart commented on #858
I'd say just repeat the string.repeat call with a non-ES6 call, adding another method just for repeat seems a little overkill right now.

[2015-08-18 17:35] kebno opened #860 "http://p5js.org/js/p5.min.js - 404 not found"
the p5 libraries are not found for me.
I tried all browsers I have.
[code]

[2015-08-18 19:57] polyrhythmatic commented on #815
I've made a pull request that might be a solution to @dhowe's problem. As we integrate more libraries, it may make sense to consider adding some options to the registration API such as the ability to increment/decrement the preload count.

[2015-08-18 20:25] kebno commented on #860
Oops. Will put this on the p5.js website.

[2015-08-18 20:25] #860 closed

[2015-08-19 07:44] zenozeng commented on #858
@lmccart See https://github.com/processing/p5.js/pull/862.

[2015-08-19 12:13] #858 closed

[2015-08-19 16:09] #840 closed

[2015-08-19 19:19] lee00678 commented on #735
I'm still getting this error. could someone please look into this again? Thanks

[2015-08-20 13:31] indefinit commented on #815
This might be unrelated to the recent merge, but I noticed that setup is no longer called after preload even if I do something simple inside preload like console.log.  Instead I get the "loading..." screen.

When I run the code here: http://p5js.org/reference/#p5/preload I see the loading screen.

Can anyone else confirm this issue? or is it just me?

[2015-08-20 16:08] polyrhythmatic commented on #815
@indefinit I'm getting this error as well, but it never showed up when working on the changes for p5.Tone. I checked out a previous branch and noticed it was still an issue. Looking at it quickly, it looks like some sort of issue with a success callback.

[2015-08-21 04:22] indefinit commented on #815
@polyrhythmatic looks like the bug is here:
https://github.com/processing/p5.js/blob/effc45410e614cdafe739661e061ece4094419d5/src/core/core.js#L231-L238

Changing those lines back to:
[code]
and tweaking the _preload return statement here (https://github.com/processing/p5.js/blob/effc45410e614cdafe739661e061ece4094419d5/src/core/core.js#L264) like this:
[code]
fixes it for me, since otherwise meth

[2015-08-21 10:31] lmccart commented on #815
If I'm understanding correctly, this essentially undoes the previous PR #861. I think it's helpful to revert this until to get preload working right now in general, but @polyrhythmatic what is your suggestion on how to proceed?

[2015-08-21 11:38] indefinit commented on #815
Been thinking about the issue some more and I remember someone mentioning promises in another Issue.  I wonder whether it makes more sense to take a promises-based approach to the preload function altogether.  I've personally always really liked how jquery handles $.deferred and when(), like this: https://api.jquery.com/jquery.when/

Sent from my mobile.

[2015-08-21 16:38] indefinit opened #864 "webgl: box() function parameters under 100 make box disappear"
example code to reproduce bug:
in sketch.js

[code]

[2015-08-21 17:12] indefinit opened #865 "webgl bug: box() default geom primitive size is much smaller than other 3D primitives"
Default 3d primitive sizing is much smaller for box() than the other geom primitives.  Code to reproduce issue:

[code]

[2015-08-21 21:48] polyrhythmatic commented on #815
@indefinit @lmccart sorry guys! I was wrong! I met with @tambien today and he straightened it out #866 . Yotam also refactored the code a bit so its more readable. The big problem was that the original code looked on the window for all objects, regardless of their original library

[code]

Yotam added this statement to account for that

[code]

He also added an object to keep track of the original

[2015-08-22 03:40] karenpeng commented on #865
fixed.

[2015-08-22 03:40] #865 closed

[2015-08-22 03:44] karenpeng commented on #864
I think it's due to the camera position. You could put the scene away from the z axis to make things show up.
In the new update, camera is a function that user could controlled.

[2015-08-25 17:13] karenpeng opened #868 "validateParameters can't support multiple-type parameter"
Hi, I am using ```validateParameters``` function in [error_helpers.js](https://github.com/processing/p5.js/blob/master/src%2Fcore%2Ferror_helpers.js#L118) to do type check for parameters in function.

[code]
This function takes a color and a direction as arguments, color could be any p5 color format and direction could be xyz or a p5.Vector

It turns out it has a problem with multiple types of the

[2015-08-25 21:43] karenpeng commented on #864
now there is a defaulted camera in 800 along the z axis, this should be fine.

[2015-08-25 21:43] #864 closed

[2015-08-26 10:48] dhpollack opened #869 "npm package does not download addons folder"
I tried installing the p5 library with npm, but it would not install the lib/addons folder; however, the lib/p5.* files were present.

[2015-08-26 23:11] lmccart commented on #868
I ran into this two with another method and ended up having to comment out the whole parameter checking in that method. I wonder if given the experimental nature of this functionality, it's best to remove it for now until someone has the time to give it one more pass and get it in super good shape?

[2015-08-26 23:45] lmccart commented on #735
this seems to be working ok for me, which version of the library are you using?

[2015-08-27 00:27] shiffman opened #870 "friendly error if data (JSON) is invalid?"
I noticed that if you try to load invalid JSON, no error is thrown or reported.  If I run the following code with invalid JSON in `file.json`, the callback never triggers.

[code]

I'm guessing there's likely a way I could pass a function to handle errors, but I think for beginners it would be nice to throw some sort of `invalid JSON` message to the console. (I personally was confused for a while

[2015-08-27 20:12] lee00678 commented on #735
I'm sorry my mistake. It's something else in my code going wrong. But error message shows as above. It's working.

[2015-08-27 23:47] sawula opened #871 "print() opens print dialog"
This code causes a print dialog box to open up.  It happens whether I try to run it directly or via a SimpleHTTPServer using either Chrome or Firefox.

[code]

When I comment out the `print` line, I don't get a print dialog box.  Maybe I don't have my data file set up correctly, but I still think it shouldn't be doing this!

[2015-08-28 00:03] p5k12 commented on #871
Ah.  It's because `print()` was outside of `setup()` or `draw()`.

[2015-08-28 11:07] KouichiMatsuda opened #872 "rect was expecting 9 parameters?"
rect(10, 10, 80, 80, 0, 0, 0, 0);

function setup() {
  rect(10, 10, 80, 80, 0, 0, 0, 0);
}

function draw() {
}

This code causes the following message:

p5.js says: You wrote rect(X,X,X,X,X,X,X,X). rect was expecting 9 parameters. Try rect(X,X,X,X,X,X,X,X,X). rect takes different numbers of parameters depending on what you want to do. Click this link to learn more: p5js.org/reference/#p5/rect

I

[2015-08-28 11:12] zenozeng commented on #872
@KouichiMatsuda Which version of p5.js you are using? It should be fixed in https://github.com/processing/p5.js/commit/1c69f65235ce4bd15b3b5c4f348bc25b9622f988.
See also: https://github.com/processing/p5.js/issues/851

[2015-08-28 11:39] KouichiMatsuda commented on #872
Thanks.
I was using p5.js in "p5.js editor".
It might be old one.
I replaced it with the latest p5.js. It works well.

[2015-08-28 12:00] jimrolland opened #873 "Browsers drive me mad!"
Hello,
I put a processing sketch thanks to P5.js on my website :
http://franetjim.free.fr/indian.html
It works fine with Chrome but the screen remains blank with IE11 and Safari...
On Firefox, it works but the sound is strange.
Do you have any idea of what could cause the issue?
Thanks to all,
Jim

[2015-08-28 14:32] karenpeng commented on #868
Yeah I commented for now too. Agree with you.

[2015-08-28 20:49] lmccart commented on #873
hm it's showing up for me in safari, I haven't checked the other browsers. it could have to do with using some functionality that isn't yet supported in the browser you're using. in general, p5.js is made to support the two most recent versions of common browsers. you could take a look at http://caniuse.com/ to see if this gives you any clue.

in general, this is a better question for the forum: h

[2015-08-28 20:49] #873 closed

[2015-08-28 20:57] lmccart commented on #872
great, glad you figured it out. sorry about this, we are working on improving the friendly error functionality currently.

[2015-08-28 20:57] #872 closed

[2015-08-28 20:59] lmccart commented on #871
ah yes, this is right. `print` is a browser native function, so if you call it outside of a p5 function, it will default to that behavior.

[2015-08-29 00:36] sjrose opened #876 "how to apply tint() to buffer produced by createGraphics()"
In my application I call createGraphics to create an offscreen buffer and at certain points I would like to fade that offscreen buffer into or out of the canvas. The tint() method seems like the one to use however it seems to only work on images.

Is there an easy way to produce an image (to which tint() can be applied)  from the offscreen buffer, or alternatively is there a way to apply tint() di

[2015-08-29 00:50] sjrose commented on #876
okay, figured this out, the secret seems to be to call get() on the buffer. Replacing the last line with the following will cause the circle to fade properly.
[code]
hope others find this useful!

[2015-08-29 00:50] #876 closed

[2015-08-29 02:27] KouichiMatsuda opened #877 "The 1st parameter of image() is checked before execution?"
The following code renders a "dropped" movie file on "canvas".
It works well but causes the error:
"Uncaught TypeError: Cannot read property 'canvas' of undefined p5.js: 133317"
I am using version 0.4.8.

var video;
function setup() {
  var c = createCanvas(640, 320);
  c.drop(getFile);
  noLoop();
}

function draw() {
  image(video, 0, 0, width, height);
}

function getFile(file) {
  if (file.typ

[2015-08-29 12:46] lmccart commented on #877
if I'm understanding correctly, the problem is that draw runs but until something is dropped video is not defined so it throws an error? in this case you could add a check to see if video is defined before trying to draw it.
[code]
code questions like this are really better suited for the [forum](http://forum.processing.org/two/categories/p5-js), the github issues list is really for bugs in the li

[2015-08-29 12:50] KouichiMatsuda commented on #877
I don't think so.
It is stopped by noLoop() in setup().

[2015-08-29 12:50] KouichiMatsuda commented on #877
I don't think so.
It is stopped by noLoop() in setup().

[2015-08-29 12:52] lmccart commented on #877
ah sorry, I missed that! ok this does seem like it could be a bug, will check it out. thanks!

[2015-08-29 12:53] lmccart commented on #877
`noLoop()` prevents draw from running more than once, but it still runs once. this is causing the error you're seeing. again, you could use the if check above. or you could put the `image()` call inside the `getFile()` method.

[2015-08-29 12:53] #877 closed

[2015-08-29 13:06] KouichiMatsuda commented on #877
Thanks.

It can not play the video. That is the reason why image() is in draw().
Am I missing something?

I got it.
However, it introduces unnecessary if-checking into draw() in this case.

[2015-08-29 17:12] mwcz commented on #823
I just ran into this.  I noticed that even though bower.json says `"main": "lib/p5.min.js"`, and lib/p5.min.js no longer exists, p5.js and p5.min.js do both still exist inside `docs/js/`.  A really quick fix would be to set `"main": "docs/js/p5.min.js"`.  Not the most clean, but very easy.  Thoughts?

[2015-08-29 21:27] futuremarc opened #878 "offline interactive reference"
So I'm using FileSaver.js to grab the generated reference page as an .xhtml file and using jszip.js to wrap up all the corresponding dependencies. This gives us a wonderful downloadable interactive reference.

Any idea where to implement this feature within the reference?

[2015-08-30 00:14] dhowe commented on #844
Thanks @lmccart  I'm a bit conflicted on this question... There's an argument to be made that typography itself (beyond basic browser fonts) could be a separate addon, as it does add nontrivially to file size (the opentype lib, etc.) and is not a "necessary" component. Probably the ideal option would be a modernizr-style interface (as suggested in #94) where typography is a separate module that on

[2015-08-30 18:14] #784 closed

[2015-08-30 18:18] lmccart commented on #522
I believe this one has been resolved now with @kadamwhite's PR converting to browserify (https://github.com/processing/p5.js/pull/776), is this correct?

[2015-08-30 18:34] lmccart commented on #823
good thought, however, this file isn't regularly updated, it's mostly used for local testing. I think the separate releases repo makes sense, I just haven't had time to set it up and automate yet. hoping to get to this soon.

[2015-08-31 05:51] futuremarc opened #879 "DOM centering?"
Hi guys,

Since centering things (especially vertically) in the DOM is such a pain I've written a `center()` function on the `p5.Element` that makes it fast and sexy to center elements to their parents.

It takes 1 arg with 3 options, 'horizontal', 'vertical', and 'both'; which aligns the element centered respectively. If no args then 'both' is assumed. Works for both text and nontext.  If no pare

[2015-08-31 14:00] kadamwhite commented on #844
@dhowe I'm not sure what the roadmap would need to look like to get us to Modernizr-style builds, but I do see your argument about typography being its own add-on. OpenType itself is already 81kb minified, and combined with the existing code (12kb minified) that's close to 40% of the total p5.min.js file size. That's probably something we should eventually at least let p5 users opt out of (i.e. ma

[2015-08-31 14:07] kadamwhite commented on #879
Centering, especially vertically, is definitely a pain-point in DOM work. I haven't been involved in the `p5.dom` implementation, but if we don't decide to include this it would still probably be good to have a link (or the entire code, if it's small—do you have a link to that function's implementation?) in the documentation!

Not related to the functionality, btw, but it might be good to avoid us

[2015-08-31 14:09] kadamwhite commented on #522
@lmccart Not yet. The next step is to make each component module return itself, and let `core` aggregate those together; currently every "leaf" module has a dependency on the "core" trunk. It's probably 1-2 days of work, and I'm up to tackle it, but I won't have bandwidth until a few weeks from now.

[2015-08-31 17:58] lmccart commented on #878
ah this is so exciting and desperately needed! in terms of build, I think it would be amazing if it were somehow built into the docs generation process, so each time the docs are updated, theres a new static version is created as well. https://github.com/processing/p5.js/blob/master/Gruntfile.js#L107 I'm not sure offhand the best way to do this though.

in terms of placement on the website, maybe

[2015-09-01 01:17] timcampix opened #881 "Uncaught TypeError: Cannot read property 'apply' of undefined"
Hi, there is an issue with the p5.js (both the file and the cdn and p5.min.js).  No matter how many times I followed one of the p5 tutoriasl, I keep getting an error that says "Uncaught TypeError: Cannot read property 'apply' of undefined". On p5,  the console is detecting an error on line 11101 and for p5.min,  on line 5.  When I used the previous version of p5.min.js, it works completely fine. L

[2015-09-01 01:22] timcampix commented on #881
I don't know if this is useful but the tutorial that I was working on is: http://p5js.org/reference/#/p5.FFT
except I replaced the file with my own mp3 on line 2.
It seems like there is a conflict with preLoad function.

[2015-09-01 02:56] lmccart commented on #869
fixed with 0.4.9

[2015-09-01 02:56] #869 closed

[2015-09-01 02:58] lmccart commented on #881
hey, can you test with the newest release when you get a chance and see if it's still a problem? https://github.com/processing/p5.js/releases/tag/0.4.9 thanks!

[2015-09-01 03:09] timcampix commented on #881
Tested both p5.js and p5.min.js and it is working problem without any
issue! Thank you for getting back to me so quickly!

Take care,
timcampix

On Mon, Aug 31, 2015 at 10:59 PM, Lauren McCarthy <notifications@github.com>
wrote:

[2015-09-01 03:11] lmccart commented on #881
great thanks for testing!

[2015-09-01 03:11] #881 closed

[2015-09-01 14:53] AlejandroMoscoso opened #882 "blendMode(ADD)"
Hey there! I wanted to use blendMode(ADD) but it seems it's not working because, as the console said, it's not defined. Any suggestion?

[2015-09-01 15:51] jedahan commented on #882
Can you share the example code you are trying to run?

[2015-09-01 16:20] AlejandroMoscoso commented on #882
Sure, this is what I've been trying out:

var front;
var back;
var bolas = []; // Array Bola objects

// Images
function preload()
{
  front = loadImage('assets/bolaColFront.png');
  back = loadImage('assets/bolaColBack.png');
}

function setup()
{
  createCanvas( windowWidth, windowHeight );
  colorMode(HSB, 360, 100, 100);
  noStroke();

  // Create objects
  for (var i=0; i<50; i++) {
    bolas

[2015-09-01 18:33] shiffman commented on #878
It would be lovely to package the reference with the p5.js editor and implement a "find in reference" option a la Processing (select a function name --> right-click to "find in reference").  @antiboredom, reasonable to implement?

[2015-09-01 18:52] lmccart commented on #882
hm I'm not able to reproduce this, can you tell us the version of the lib you're using and the browser version?
<img width="1333" alt="screen shot 2015-09-01 at 2 51 32 pm" src="https://cloud.githubusercontent.com/assets/191056/9613382/0165c02e-50b9-11e5-90c6-bdbaffeaefa2.png">

[2015-09-01 23:02] bmoren opened #884 "windowWidth and windowHeight do not work on iOS safari"
displayWidth/Height do work fine

[2015-09-02 04:31] KouichiMatsuda opened #885 "deviceShaken() is called when a device is rotated."
The reference says "The deviceShaken() function is called when the device total acceleration changes of accelerationX and accelerationY values is more than the threshold value. The default threshold is set to 30." But it is also called when a device is rotated.

The following code in p5.js (v0.4.8) causes this issue. It uses orientation events as accelerations.
Am I missing something?
Other system

[2015-09-02 14:03] AlejandroMoscoso commented on #882
I was using v.3.7 and it didn't work. I've just dowloaded the last version and now everything is ok. Im not sure what happend. Thank you very much!

[2015-09-02 14:06] lmccart commented on #882
great

[2015-09-02 14:06] #882 closed

[2015-09-02 17:11] JobLeonard opened #886 "text rendering on off-screen p5.Renderer ignores textSize() and fill()"
Hope this isn't a duplicate, quick search didn't show this issue being reported before.

Minimal example:

[code]

[2015-09-02 19:35] jefarrell opened #887 "print() outside setup/draw opens print dialog box"
Calling the print() function outside of the setup() or draw() functions (Either standalone, or in custom functions) opens the browser Print dialog box when the sketch is run.

    function setup() {
        //print("hello");  works fine
    }

    function draw() {
         //print("hello");  works fine
    }

    //print("hello"); opens print window

    function testing() {
        //print("hell

[2015-09-02 20:42] lmccart commented on #887
I believe this is correct behavior?

[2015-09-02 21:50] antiboredom commented on #887
I think p5 should probably just completely overwrite the built in print - it's a bit confusing that the same function name would to two different things based on where it's called from.

[2015-09-03 01:17] #887 closed

[2015-09-03 01:18] lmccart commented on #886
aha good catch. will look into it in the next week unless someone else gets there first :)

[2015-09-03 01:37] lmccart commented on #884
interesting... will check it out.
just wondering, @OhJia did you run into this at all with your mobile work?

[2015-09-03 01:38] lmccart commented on #522
ah got it, thanks for the update. if you're down to work on this one in a few weeks, that'd be great!

[2015-09-03 09:18] KouichiMatsuda opened #888 ""More than one parameter can be passed into the function by separating them with commas""
The reference says "The print() function writes to the console area of your browser.  ... snip .. More than one parameter can be passed into the function by separating them with commas."

More than one parameter can "not" be passed with comma.  Am I missing something?
Let's try:

function setup() {
  print(width, height);
}

function draw() {

}

[2015-09-03 21:49] futuremarc commented on #838
I'm think I might dive into this over the next semester!

[2015-09-04 12:47] indefinit commented on #838
Hi Marc,

We've updated a lot of the new features in webgl, including 2d-esque drawing features.  The examples to reference in the master branch are:
examples/ --> 3d/ -->geometry/
and examples/ --> 3d/ --> immediateMode/

We are almost finished with the Getting Started Doc and official webgl announcement, which will help clarify most questions but in the meantime, a couple quick notes to get you

[2015-09-04 12:47] #838 closed

[2015-09-04 15:49] futuremarc commented on #838
Cool!

[2015-09-04 23:19] lmccart commented on #884
hm I'm not able to reproduce. running this code, I get the following:
[code]

can you tell me which version iOS and iPhone you are testing with?

[2015-09-04 23:23] #888 closed

[2015-09-04 23:24] lmccart commented on #888
Sorry, the documentation is incorrect. parameters should be joined by using `+`. Something like `print("The value of x is "+x);` I've updated the documentation it should be fixed with the next push to the website.

[2015-09-04 23:26] lmccart commented on #530
since there doesn't seem to be further energy around this one, and it's not a part of the official Processing API, I'm going to close this for now, so we can focus on getting parity with Processing before extending further in this area.

[2015-09-04 23:26] #530 closed

[2015-09-04 23:48] lmccart commented on #886
after a little more investigation, I see there's a slightly bigger refactor that needs to occur here. currently, we are storing properties related to stroke, fill, textSize, etc on the p5.prototype object. we should instead store them on the p5.Renderer.prototype object, which is extended by both the 2D and 3D renderers. the p5 object should not be dealing with rendering properties at all, instead

[2015-09-05 10:42] KouichiMatsuda opened #891 "accelerationX, accelerationY, and accelerationZ are incorrect."
The reference says

This is incorrect (also accelerationY and accelerationZ).

The accelerationX contains the amount of rotation (in degrees) around the x-axis (accelerationY is the one around y-axis, and accelerationZ is the one around z-axis). In terms of  axis, see http://www.w3.org/TR/orientation-event/ .

This is because the current p5.js code overwrites accelerationXYZ variables with the amo

[2015-09-05 15:50] shiffman opened #892 "Slider arguments"
I noticed today that sliders break if you pass in "incorrect" values for the min, max, and initial value parameters.  For example:

[code]

Also, giving an initial value of 0 seems to break the starting value.

[code]

![screen shot 2015-09-05 at 11 49 15 am](https://cloud.githubusercontent.com/assets/191758/9700047/2965898e-53c4-11e5-9d5e-f80725969d8a.png)

[2015-09-05 16:05] futuremarc commented on #892
I'll work on this right away!

[2015-09-05 16:12] futuremarc commented on #892
I can't seem to recreate your first issue... works for me:

<img width="1418" alt="screen shot 2015-09-05 at 12 10 43 pm" src="https://cloud.githubusercontent.com/assets/8646752/9700157/538028ca-53c7-11e5-95ec-a9a0581e2e95.png">

[2015-09-05 16:22] futuremarc commented on #892
Seems like when the '0' is evaluating to `false`, so its never actually setting the value of the element if '0' is passed in! I'll send a PR

[2015-09-05 18:43] lmccart commented on #891
thanks @KouichiMatsuda, @OhJia  and I will take a look at this one this week. fyi, rather than describing the bug severity in the issue name, you can use the labels "severity:x" to tag them. this way we can see more clearly what the issue relates to from the title.

[2015-09-05 21:02] #879 closed

[2015-09-05 22:17] KouichiMatsuda commented on #891
Thanks. I got it.

[2015-09-06 15:46] JobLeonard commented on #886
Awesome to see that you pick this up so quickly! :+1: (I obviously got a use-case for it, otherwise I wouldn't have found it)

Didn't expect it would result in a big refactor though; figured it was just a minor encapsulation bug somewhere.

[2015-09-07 20:42] lmccart commented on #802
I'm not hearing much affirmation for building this into the library so I think it is best left as a useful workaround in the forum for now. Thanks @v-k- for bringing it up, and we will wait and see, if image loading does turn out to be an issue a lot of people are running into we can reopen this one.

[2015-09-07 20:42] #802 closed

[2015-09-07 22:37] lmccart opened #894 "textWidth not working with custom font"
It works ok if the `textFont()` line is commented out.
[code]

I've been tracking this down, the problem looks like it could be here:
https://github.com/processing/p5.js/blob/master/src/typography/p5.Font.js#L127

Maybe something having to do with calling `Math.min()` on an array?

[2015-09-07 22:42] lmccart commented on #894
sorry, that was incorrect, those lines are fine. the issue is that the `xCoords` and `yCoords` arrays have NaN values in them. will investigate further...

[2015-09-07 22:53] lmccart commented on #894
ok I've tracked it down to this line:
https://github.com/processing/p5.js/blob/master/src/typography/p5.Font.js#L122

but I'm not sure what change to make. it seems that `.advanceWidth` is not a property of the `charToGlyph` object returned sometimes.

[2015-09-07 23:35] lmccart opened #896 "duplication of text docs"
The documentation for methods pertaining to text styling are included twice in the src. First in [`/src/typography/attributes.js`](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer.js#L71), then again in [`/src/core/p5.Renderer.js`](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer.js#L71).

It would be preferable to have it in one spot to reduce confusion. Ty

[2015-09-07 23:41] lmccart opened #897 "placement of type methods"
I noticed that [`/src/typography/attributes.js`](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer.js#L71) passes through arguments to call the underlying methods in [`/src/core/p5.Renderer.js`](https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer.js#L71). However, the argument checking to determine whether the function is being called as a setter or getter is do

[2015-09-08 03:03] andrusenn opened #898 "Problem whit get() method?"
Using get(x,y) on version 0.4.9

Chrome error on line 13453 of p5.js:
"Uncaught TypeError: Cannot read property 'width' of undefined"
[code]
Firefox error on line 13478
"this.pixels undefined...

[2015-09-08 03:08] lmccart commented on #898
could you please provide a minimal code example we can use to reproduce the problem and test again?

[2015-09-08 03:26] andrusenn commented on #898
[code]

[2015-09-08 08:27] dhowe commented on #894
I see a different error when I debug this, specifically the attempt to reference _isOpenType() from a _pInst (line 1183):

         if (this._pInst._isOpenType())

#899 fixes this, but seems a bit strange I'm not seeing the same issue as @lmmcart

[2015-09-08 08:44] dhowe commented on #897
Uggh, that is sloppy. So the options are to a) do argument checking in the top-level function (as you suggest) or b) use apply to pass the arguments correctly:

  return this._graphics.textSize.apply(this._graphics, arguments);

My instinct is to prefer option b) though I"m happy to be overruled. With option a), we get the following code in the top-level call:

[code]

[2015-09-08 11:25] lmccart commented on #897
yes, agree, let's go with b (using apply). I suggested option a because it matches what we have going on with methods like `triangle()` etc, but really when I was looking at it yesterday it seemed to make more sense to convert these so all drawing related stuff including param checking is encapsulated in the renderers and not handled by `p5.prototype`.

so I suppose that is a larger project for an

[2015-09-08 11:39] lmccart commented on #896
closed with https://github.com/processing/p5.js/pull/899

[2015-09-08 11:39] #896 closed

[2015-09-08 11:50] lmccart commented on #897
closed with https://github.com/processing/p5.js/pull/900

[2015-09-08 11:50] #897 closed

[2015-09-08 11:59] dhowe commented on #844
So the options appear to be as follows (both compatible with the possibility of Modernizr-style builds sometime in the future):
* remove typography/paths from core and create an external library (p5.type)
* add a custom build that removes typography/paths for users to choose

[2015-09-08 12:30] jsphweid commented on #855
Thanks for fixing. But actually... Is it even possible to use get() like .get() on a webcam stream or image or does it just retrieve from the primary canvas only? It's cool to pick/track particular pixels from a video stream, without displaying the entire stream.

[2015-09-08 17:41] mariuswatz commented on #898
I am getting an identical error, and to make it stranger it works in one code setup (testing) and not another (obfuscated production code, maintained by another coder.) To be specific, these lines:

[code]

Cause this message:

[code]

in this part of p5.Renderer2D.get():

[code]

Sidenote: It looks like the production code gets optimized to the statement below in lieu of the above. I'm not sure i

[2015-09-08 19:53] lmccart commented on #886
fixed with https://github.com/processing/p5.js/pull/895

[2015-09-08 19:53] #886 closed

[2015-09-08 19:55] lmccart commented on #894
that removed the error message but I'm still seeing `NaN` for the example above. are you getting a number value?

[2015-09-08 20:20] lmccart commented on #898
@andrusenn the newest should resolve your issue.
@mariuswatz do you want to give this new version a try? I've posted a built copy here: http://p5js.org/test/p5.js

[2015-09-08 20:28] dhowe commented on #894
strange

![screen shot 2015-09-09 at 4 27 28 am](https://cloud.githubusercontent.com/assets/737638/9746556/2bdb5f24-56ab-11e5-8f43-31c5c2876802.png)

[2015-09-08 20:30] lmccart commented on #894
interesting.. and this is with the most recent code pulled in? i wonder if i broke something in the variable rearrangement. or maybe it could have something to do with the font file i'm using (seems unlikely...)?

[2015-09-08 20:31] dhowe commented on #894
I'm wondering if we are working with different versions of opentype:

├── opentype.js@0.4.9

[2015-09-08 20:42] lmccart commented on #894
i believe so...
<img width="500" alt="screen shot 2015-09-08 at 4 41 02 pm" src="https://cloud.githubusercontent.com/assets/191056/9746880/7477d270-5648-11e5-914d-eafc596ca3db.png">

i'm running the example out of /examples/p5.Font/custom so the font file should be the same too.

[2015-09-08 20:44] dhowe commented on #894
Can you check with:
[code]

[2015-09-08 20:47] dhowe commented on #894
So I've recreated the issue after pulling the current code, so it seems a recent change... I'll take a look

[2015-09-08 21:48] lmccart commented on #894
fixed with https://github.com/processing/p5.js/pull/901

[2015-09-08 21:48] #894 closed

[2015-09-09 00:07] jsphweid commented on #898
I wonder if get() can even be used like .get() (using as a method for a video capture, for instance).

As above, I've never really gotten get() to work but my use is something as basic and it doesn't work.

Say I have a var capture that is a webcam feed
`createCapture(VIDEO)`

and

`.size(320, 240)`

If I go:

`var c = capture.get(40, 40)`

and print c to the console, all I get is an array: [undef

[2015-09-09 00:44] bmoren commented on #884
iPhone5, iOS 8.3
I'm getting nothing to return

here is the sketch that I discovered the issue with:

[code]

[2015-09-09 19:05] shiffman opened #902 "arc() does not work for full ellipse (from 0 to TWO_PI)"
[code]

![screen shot 2015-09-09 at 3 03 39 pm](https://cloud.githubusercontent.com/assets/191758/9771436/383c803c-5704-11e5-90cd-3c3b0b4a403f.png)

however:

[code]

![screen shot 2015-09-09 at 3 04 09 pm](https://cloud.githubusercontent.com/assets/191758/9771447/47016b00-5704-11e5-9fd8-81e41dd276cf.png)

[2015-09-09 19:44] OhJia commented on #891
It seems that when the e.alpha value changes the e.acceleration.x value also change and so on with the other two values (on my iPhone 6/iOS 8). It would be more accurate to separate out rotationXYZ from accelerationXYZ, but I wonder how useful accelerationXYZ would be then when used in sketches. Maybe it would be sufficient to update the description for accelerationXYZ. @johnpasquarello What do yo

[2015-09-09 20:17] johnpasquarello commented on #891
I can imagine that having the acceleration values might be nice for detecting something like a shake which doesn't inherently have any rotational movement.

If it isn't enormously difficult it seems that having both rotationXYZ and accelerationXYZ would be the most flexible solution.

[2015-09-10 16:47] joecridge commented on #902
This behaviour is actually intentional (although it might not necessarily be desired).

p5 currently normalises all angles to the interval [0,2π) (i.e. 2π maps back to zero), which means that no matter what angle convention you use, swapping the `start` and `end` arguments around will always swap over the start and end angles of the arc, e.g.

[code]
![qdz](https://cloud.githubusercontent.com/asse

[2015-09-10 18:41] golanlevin opened #903 "PI is not defined before setup()!"
An error occurs when a variable with global scope is initialized to PI or TWO_PI.
It appears that ``PI`` does not work as a constant until after setup is called.
The error is: ``Uncaught ReferenceError: PI is not defined``

Here's a working program that produces the error:

[code]

Interestingly, this error will allow the app to run when launched from a local file, but NOT when it is run from a se

[2015-09-10 19:12] benrigby007 commented on #794
Plus plus to being able to set properties on elements.

I've been playing a lot with the slider recently - and would find it very useful to be able to easily adjust the thumb style, track style, tickmarks (on/off), range, tooltips, easing. Would save extensive fiddling with the CSS (or using an external library). Ie: to get to something more like this: http://refreshless.com/nouislider/examples/.

[2015-09-10 20:20] shiffman commented on #902
Ah, I see this makes sense to me.  It may be simply an issue of documentation then to help clarify for beginners?

[2015-09-11 04:21] mindofmatthew opened #904 "Loading 3d Objects from OBJ"
Is anyone working on loading 3d objects from files? If not, then I'd like to tackle it.

In Processing, this is part of PShape, but based on #458, it seems like the consensus is against directly porting that API to P5. Does it make sense to treat loading/drawing of 3d shapes as a separate feature? Any thoughts on what the API for this should look like?

[2015-09-11 13:27] indefinit commented on #904
Go for it!  It's definitely a feature we would love to include, but it got pushed down in priority.

As for api style, well this is a little tricky but I'll offer my 2 cents (pinging for weigh-in: @lmccart @codeanticode @shiffman @karenpeng ), especially as per #458 as you mention:

Note: I'm kind of putting on the svg blinders right now and just focussing on loading as it relates to webgl.

Altho

[2015-09-11 15:49] joecridge opened #905 "resizeCanvas() resets stroke and fill colours"
Calling `resizeCanvas()` will reset the stroke and fill colours (to black and white, respectively), but `noStroke()` and `noFill()` are remembered.

[code]

Before resize (or after refreshing):

![image](https://cloud.githubusercontent.com/assets/11491479/9819251/cf709564-58a4-11e5-9880-d39e7c65495a.png)

and after resizing the window:

![image](https://cloud.githubusercontent.com/assets/11491479/

[2015-09-11 17:39] shiffman opened #906 "mixing vertex() and curveVertex()"
First, let me say that I don't really know what I'm talking about here.  But I noticed today that if you use a call to `curveVertex()` within `beginShape()` and `endShape()`, all the vertices turn into "curved" ones, rather than just an individual vertex, i.e.

![screen shot 2015-09-11 at 1 37 22 pm](https://cloud.githubusercontent.com/assets/191758/9821756/5ba5f2ec-588a-11e5-8daa-2a3ceec4c389.png

[2015-09-11 17:42] lmccart commented on #906
I don't think this behavior is supported in Processing either. When I tried running that code, it seemed to ignore the `curveVertex()` point completely.
<img width="240" alt="screen shot 2015-09-11 at 1 41 07 pm" src="https://cloud.githubusercontent.com/assets/191056/9821818/d588f5dc-588a-11e5-8b70-47d420e8808a.png">

Maybe we just need to be clearer in the documentation that this is the case? Or

[2015-09-11 19:13] shiffman commented on #906
Yes, I think you are right.  My memory tells me there's a way of mixing in Processing, but perhaps that's part of `PShape` or else involves `beginContour()` or some other magic I'm not aware.  But looking through the Processing examples and documentation I don't see that mixing is allowed like came up in class above.  @codeanticode can you provide any guidance?

This may be a edge case that rarely

[2015-09-11 20:00] codeanticode commented on #906
You can mix regular and curve vertices in Processing:

[code]

the problem is that you need at least [four consecutive curveVertex()](file:///Users/andres/code/processing/git/processing/build/macosx/work/Processing.app/Contents/Java/modes/java/reference/curveVertex_.html) calls to draw a valid curve segment

[2015-09-11 20:56] shiffman commented on #906
Thanks, @codeanticode.  I am not sure what p5.js should do, just noting the difference.  I suppose mixing would be nice if it's reasonable to implement in canvas.  See results in both below.

[code]

<img width="558" alt="screen shot 2015-09-11 at 4 54 49 pm" src="https://cloud.githubusercontent.com/assets/191758/9826121/f3146f26-58a5-11e5-8a76-2db1a71a1677.png">

[2015-09-11 21:08] shiffman commented on #904
I like the approach of having a `loadModel()` function, I think this makes sense in terms of staying true to what's happening with the webgl renderer.

[2015-09-12 18:53] andrusenn commented on #898
Comment: Using test version (http://p5js.org/test/p5.js) return [undefined, undefined, undefined, undefined], calling loadPixels() before, fix the problem. But i guess that the goal is using only get()

[code]

[2015-09-12 23:22] oolong commented on #794
Can I ask what's the status of this at the moment? The DOM library seems to include createSelect already, but although it's listed, it's not really documented - it was only by digging and finding this thread that I discovered there was a way to add options without writing my own addOption function! And while the option method seems to work, it looks like select doesn't...?

[2015-09-12 23:26] lmccart commented on #902
thanks @joecridge, yes, I think this is best resolved by just adding a line to the documentation noting that they should use ellipse if they want the full circle as 0~TWO_PI won't show up.

[2015-09-12 23:31] lmccart commented on #903
thanks @golanlevin. this is actually the correct behavior. the reason for this is that p5 functions are not added to the global namespace by default, it is not until the sketch when we check whether we are running in global or instance mode that the functions get bound to global.

so there isn't really a way to have these p5 names recognized outside of `setup()` and `draw()` and support the two di

[2015-09-12 23:34] lmccart commented on #898
woops, thanks. adding this call by default in `get()` now.

[2015-09-12 23:35] #898 closed

[2015-09-12 23:40] lmccart commented on #898
@jsphweid this newest patch should fix `get()` for `createCapture()` and images as well.

[2015-09-12 23:42] lmccart commented on #891
@OhJia I think your intuition to stick with just accelerationXYZ for now makes sense. having both sets might just add confusion for beginners. we should just be very clear in the documentation about what this is actually measuring. do you want so submit a PR for this when you get a chance?

[2015-09-12 23:46] lmccart commented on #905
@joecridge what's happening here is that resizing an HTML5Canvas will completely reset all data attached to it. because we're not storing internal values for stroke or fill and these are set in `setup()`, they don't get called again when the canvas is resized and so the styling is lost. I suppose we could store these internally, there are a relatively small number of these (I think it would includ

[2015-09-13 00:12] golanlevin commented on #903
Actually, @lmccart I was just about to contact you about this, unfortunately to elevate the issue. The bugs caused by this turn out to be *killing* my intro students in practice. Another example:

[code]

The REAL problem is that the resulting application *will run in a browser when launched from a local file*, but will fail to run (leaving a big blank space) *when embedded in a wordpress page* wi

[2015-09-13 00:17] lmccart commented on #903
I'm not seeing this run successfully in the browser, I get an error and it doesn't draw to the screen (as expected).
<img width="697" alt="screen shot 2015-09-12 at 8 15 07 pm" src="https://cloud.githubusercontent.com/assets/191056/9834527/11501a9a-598b-11e5-9969-823dfec1cfe1.png">

The best way to write your example code above is as follows:
[code]

As explained above, I don't think there's reall

[2015-09-13 00:59] golanlevin commented on #903
Whoops -- augh, sorry --  I meant the following program:

[code]

As you can see, this throws an error (random is not defined), but still runs. But it doesn't run in the wordpress. What do you suggest?

[2015-09-13 01:19] KouichiMatsuda commented on #891
In this case, the name of the system variables should be also changed from accelerarionXYZ to rotationXYZ.
This is because the "rotation" (degrees) is not "acceleration" (m/s^2).
The word "acceleration" is very confusing for beginners, including me.
When I used the current implementation of accelerationXYZ, I was wondering whey they are showing non-zero values even if I put my phone on the desk. I

[2015-09-13 01:21] lmccart commented on #891
@KouichiMatsuda thanks for clarifying, I think previously I didn't fully understand the discrepancy as I haven't worked much with this particular functionality. @OhJia would changing the name to rotation make sense?

[2015-09-13 01:28] KouichiMatsuda commented on #891
Technically, if you expose the accelerationXYZ (m/s^2) to sketches, programmers can use them to guess what a user is doing, such as walking, jumping, taking a drive, and taking a train. This could cause very interesting mobile applications.

Thanks,

[2015-09-13 02:09] KouichiMatsuda opened #908 "The deviceTurned() function is incorrect."
I submitted this issue separately. This label should be **severity:critical**. Sorry, I could not find how to add the label.

This is incorrect. In the current implementation,  deviceTurned() function is **NOT** called when the device rotates by more than 90 degrees.

I guess that deviceTurned is called when the "rotation axis" is changed from the previous one.  I think the current spec in the ref

[2015-09-13 02:46] KouichiMatsuda opened #909 "Summary: The four issues in the current implementation for mobile devices"
The current implementation for mobile devices has **four** issues:

1.  #891: The acceleationXYZ does **NOT** report the acceleration values of a device but its amount of rotations.
2.  #885: The deviceShaken() is called **NOT** only when the device is shaken **but also** when it is rotated. This is frequently happen.
3.  #908: The deviceTurned() is **NOT** called when the device rotates by more t

[2015-09-13 03:11] PeterDaveHello opened #910 "minified p5.sound.min.js no updated since 0.4.9"
Hi there, I just found that the p5.sound.min.js was not updated in 0.4.9 and 0.4.10 in the [lib](https://github.com/processing/p5.js/tree/0.4.9/lib) folder, just let you know.

[2015-09-13 03:16] PeterDaveHello opened #911 "Can we put distribution files into the repo?"
Hi there, I'm Peter from [cdnjs](https://cdnjs.com), I found that since 0.4.7, there is no p5.min.js and p5.js in [lib](https://github.com/processing/p5.js/tree/master/lib) folder, I wonder if we can add it back, or create a dist folder, so that our auto-updater can grab latest p5.js easily! (The auto-updater fetch files by take each tag as a version and checkout the files in that commit)

By the

[2015-09-13 10:50] lmccart commented on #911
hi @PeterDaveHello, we had a really long discussion about this and have decided not to host the built file in the repo anymore as it causes a lot of confusion when we are merging in changes between releases. I thought that the auto-updated was based on npm, does it not pull from there? maybe I misunderstood. the built files are also available through the releases links, for example: https://github

[2015-09-13 10:51] lmccart commented on #910
thanks!

[2015-09-13 10:51] #910 closed

[2015-09-13 11:12] lmccart commented on #903
I think my best suggestion would be to get students used to checking the console for errors before submitting homework. They may find it easier to use the editor as the errors pop up in the built-in console instead of having to open any extra console area manually.

In general, I feel the wordpress plugin is really not ideal, for this reason and others we have discussed on that repo's issues. Luck

[2015-09-13 11:30] #902 closed

[2015-09-13 13:13] joecridge commented on #905
Ah, that makes sense. I think that using an `init()` function as you suggest is a robust solution, but I wonder if it may be confusing for beginners to have to write two setup functions with similar names -- perhaps calling it something like `setStyle()` would be more transparent?

The main thing that confused me was that `noFill()` and `noStroke()` were remembered while `fill()` and `stroke()` we

[2015-09-13 13:26] lmccart commented on #905
yeah we could definitely just also reset noFill and noStroke properties when the canvas is resized. and then add some notes to the documentation with an example of making a separate `setStyle()` function to be called in `setup()` and after `resizeCanvas()`.

[2015-09-13 15:04] rchen8 opened #912 "loadImage() won't load image"
[code]

I checked to make sure the image and the .js file are in the same directory. All three methods return the same Javascript error to the console:

[2015-09-13 15:10] lmccart commented on #912
hi @rchen8 only the first one will work, the path needs to be relative to the HTML file. loading from any other location doesn't work as the browser may prevent it due to security issues. I just tested line one and it seems to work for me.

[2015-09-13 15:44] rchen8 commented on #912
Fixed the issue. Browser security blocked the file path, so I needed to run a local server.

[2015-09-13 15:44] #912 closed

[2015-09-13 15:45] indefinit opened #913 "RFC: rename this._graphics to this._renderer"
Wanted to get a gut check on this before embarking on a little rename/refactor adventure.  Does anyone have any objections to renaming the p5 Object property ```_graphics``` to ```_renderer``` ?  Since the refactor to p5.Renderer3D and p5.Renderer2D from their GraphicsXD equivalents, I think that referencing a _renderer property will keep the core consistent with the existing api as well as more r

[2015-09-13 15:58] lmccart commented on #913
yes, agree! this is a leftover from before we renamed to p5.RendererX.

[2015-09-13 16:00] PeterDaveHello commented on #911
yeah, we can use npm auto-update, currently via git, but not support GitHub release page.

[2015-09-13 16:09] indefinit commented on #913
ok cool. PR coming up.

[2015-09-13 20:41] kadamwhite commented on #903
This is probably a terrible idea, but what if there was a global-by-default build of p5 that could be used for learning projects?

[2015-09-13 20:43] kadamwhite commented on #903
Or, possibly, a method that could be called that would initialize global behavior when called; something like
[code]
This method could be called automatically by editors or plugins, and it might be easier for students to learn that they need to put that at the top of their sketch than it is to learn that variables don't exist until `setup`

[2015-09-13 20:47] golanlevin commented on #903
I do appreciate this kind of thinking. Thanks for your replies.

It's pretty challenging to explain to introductory students why PI is not defined until `setup`. One student said, "But why isn't PI defined? It's a universal constant. And I thought it would at least be defined so long as I included p5.js in the HTML page."

[2015-09-13 21:26] indefinit commented on #903
This might be opening a can of worms but just my 2 cents: this is likely already something you're familiar with, but in case not, both PI and random exist in the JavaScript Math object (which you get "for free").  I agree with Lauren's point regarding variable scope in p5/JavaScript, but if the point of contention is that a student thinks of PI as a universal constant then you could just declare a

[2015-09-13 21:57] limzykenneth commented on #884
@bmoren I've just tested the sketch on my iPhone 5, iOS 8.4.1 with Safari and oddly enough, `windowWidth` and `windowHeight` works as intended while `displayWidth` and `displayHeight` is giving me a tiny version of the sketch.

Here's screenshots for sketch using `displayWidth` and `displayHeight`

![img_3564](https://cloud.githubusercontent.com/assets/7543950/9839188/97753022-5a69-11e5-8c37-86eaf

[2015-09-13 23:27] lmccart commented on #903
I sometimes find this goes well with the explanation of how all of this fits into the web / what order things are happening in, and a little about `window.onload`. The order is something like this:

1. Scripts in `<head>` are loaded.
2. Body of HTML page loads (for context, this is when the `onload` event fires, which triggers step 3).
3. p5 is started, all functions are added to the global namesp

[2015-09-13 23:31] lmccart commented on #911
beautiful, npm auto-update would be ideal. do I need to change anything in the p5 config with cdnjs to make this work?

[2015-09-14 01:12] kennethdmiller3 opened #917 "Directory name incompatible with Windows filename restrictions"
On Windows, Git cannot pull the example "examples/3d/material/specular:ambient" due to the ':' embedded in the name.

This first showed up in commit 8676f796a092c74ab6a8da87ab08ddc6e08ecfb3

[2015-09-14 01:15] shiffman commented on #903
This is a great discussion.

As much as it might be nice if there were a magical, elegant solution to this, after reading through this thread I think I falling towards the this-is-just-something-we-have-to-teach-about-web-p5-js-etc direction.    I'll share one reference to Processing -- this is often a mistake beginner Processing users make:

[code]

This also can fail for a variety of reasons:

[

[2015-09-14 01:28] #917 closed

[2015-09-14 01:28] lmccart commented on #917
whoops, should be fixed now. thanks!

[2015-09-14 01:29] lmccart commented on #913
closed with https://github.com/processing/p5.js/pull/914

[2015-09-14 01:29] #913 closed

[2015-09-14 03:33] brysonian commented on #903
I normally teach to only declare, not assign, globals outside of setup and draw, in processing and p5. I find it just confuses people that somethings work and some don't—`random()` is fine but `loadImage()` fails. It also potentially dovetails nicely with things like C++ where you have a header to declare vars but you assign them elsewhere. Between this and lauren's discussion of order of scope an

[2015-09-14 05:07] PeterDaveHello commented on #911
I think a can take it, thanks!

[2015-09-14 05:19] kennethdmiller3 commented on #917
Fix confirmed. :)

[2015-09-14 08:47] SangSatori commented on #823
Not being able to use Bower distribution of the library irks me as well. Right now I have a Gulp task for setting up and running Grunt tasks to compile P5.js as in [this Gist](https://gist.github.com/SangSatori/c97b8e4399043f8789a0).

[2015-09-14 10:01] KouichiMatsuda opened #918 "p5.Table.set{Num, String}() are using the same code."
I think the following codes are using the code in set().
They should use the corresponding one.

[code]

[2015-09-14 14:08] lmccart commented on #823
ugh sorry i haven't gotten to this one yet, it's at the top of my todo list!

[2015-09-14 14:21] mwcz commented on #823
Great to hear!  In my own fork I'm using the quick fix I mentioned above, but really looking forward to the real thing.

[2015-09-14 19:04] #918 closed

[2015-09-14 19:04] lmccart commented on #918
thanks!

[2015-09-14 19:16] lmccart commented on #823
ok built files from new releases are now updated here: https://github.com/lmccart/p5.js-release.
however, I'm not much of a bower pro. can someone that understands that system better take a look at bower.json and update anything necessary?

[2015-09-14 19:29] lmccart commented on #707
I took a first pass [here](https://github.com/processing/p5.js/commit/834737bbb94dc2bf3c3248872dfb543b5ca42f52), using [grunt-release-it](https://github.com/webpro/grunt-release-it). The following things are now automated through a grunt call:

1. version number is bumped
2. lib files are built
3. new release is published on p5.js repo
4. files in `lib/` are copied to https://github.com/lmccart/p5

[2015-09-14 19:45] lmccart commented on #707
Forgot a couple other tasks that'd be nice to add to automation:
1. call `grunt yui` to rebuild docs.
2. copy `docs/reference` folder to `reference` folder in p5js.org repo.

[2015-09-14 19:55] mwcz commented on #823
awesome!  thank you!

I'm not a Bower expert but I think that because the bower package named 'p5js' is currently registered for the `git://github.com/lmccart/p5.js.git` repo, you'll need to unregister it and re-register 'p5js' for `git@github.com:lmccart/p5.js-release.git`.  Here are [bower's instructions](http://bower.io/docs/creating-packages/#register).  Hope that helps.  I haven't done it bef

[2015-09-14 21:52] lmccart commented on #823
thanks, that was exactly what I needed. new endpoint is set and I just confirmed it is possible to download with command `bower install p5js`.

[2015-09-15 14:05] mzgol commented on #823
Note, though, that if you move the repo that a specific bower package points to (here it's `p5js`) then all the older releases magically disappear which may make a lot of broken installation. We had this problem in jQuery; the unofficial bower repository was publishing built files under `jquery.js` and in our official packages it's under `dist/jquery.js`. To not break current installations for all

[2015-09-16 02:19] dfunkadelica opened #921 "Apparent bug loading an image"
I'm having trouble loading an image.  I simplified the project to just load the image and it still wont load.  I tried the code in different configurations, following the reference library on the P5.js site, the reference here:  http://coursescript.com/notes/interactivecomputing/images/, as well as pasting in the example code and changing the name of the image to my own.  The path to my image also

[2015-09-16 02:26] lmccart commented on #921
yikes, sorry about that! I just pushed a fix, I'll publish a new version tonight that incorporates this.

[2015-09-16 02:26] #921 closed

[2015-09-16 02:27] therewasaguy commented on #921
possibly related to https://github.com/processing/p5.js/pull/914 ? I'm playing with this now, changing ``this._graphics`` to ``this._renderer`` in src/image/loading_displaying.js seems to be working

[2015-09-16 02:27] therewasaguy commented on #921
ah thanks @lmccart !

[2015-09-16 02:29] lmccart commented on #921
indeed, looks like a couple files got missed in the changeover, we should be all good now.

[2015-09-16 02:37] lmccart commented on #836
@OhJia is it ok if we close this one as it seems you're past the initial brainstorming and suggestion gathering phase? If others have more ideas for features or changes they can continue to open individual issues for them. But for housekeeping sake, I think it's helpful to close larger general issues/questions like this one once they've served their purpose. What do you think?

[2015-09-16 08:20] KouichiMatsuda opened #922 "The content of index.html should be consistent"
The contents of index.html are different between p5.js complete's one and p5.js editor's one as follows.
I think p5.js editor's index.html is better because p5.dom and p5.sound are frequently used.
Anyway, they should be same.

The index.html in p5.js complete (version 0.4.12)
[code]

The index.html generated by p5.js editor
[code]

[2015-09-16 09:45] #922 closed

[2015-09-16 19:22] mwcz commented on #823
@lmccart can you think of a reason that I'd be seeing `this._graphics` is undefined while using the new repo?  I did a quick scan of p5.js and saw `this._graphics` referenced, but never initialized.

[2015-09-16 19:34] lmccart commented on #823
@mwcz can you confirm you're using version 0.4.12? there was [a bug](https://github.com/processing/p5.js/issues/921) with `this._graphics` in 0.4.11, I just pushed an updated version last night.

[2015-09-16 20:35] sepans commented on #823
I was reading this thread just to learn about the release process and I was wondering if it is possible to put lib files along the `bower.json` in a branch, lets say `release`, similar to [release repository](https://github.com/lmccart/p5.js-release), and register that branch with bower.

It should be possible to register a branch as bower github endpoint. Github releases could also be off a branc

[2015-09-17 23:50] mwcz commented on #823
@lmccart I haven't tested that yet, but I had to share this.  Someone snapped a picture while I was debugging the _graphics issue

https://instagram.com/p/7tPnGADEQ9/

[2015-09-18 14:14] limzykenneth commented on #909
@lmccart I can try to fix these issues if nobody is working on it at the moment. I'll be using the API as describe [here](http://www.html5rocks.com/en/tutorials/device/orientation/) and add rotationXYZ both in the source and documentation.

deviceShaken() and deviceTurned() might be fixed after the changes made to accelerationXYZ I'm not entirely sure yet.

[2015-09-18 15:06] pippinbarr opened #924 "Pointillism Example missing img.loadPixels()"
In the downloadable environment (v.0.5.2) the Pointillism Example is missing the img.loadPixels() call which breaks it. The example is correct on the website, however.

[2015-09-18 15:13] pippinbarr opened #925 "Recursion Example in environment is not an example of recursion"
The Recursion Example in the downloadable environment (v0.5.2) is an example of using function calls to repeat work, rather than recursion. This example does not seem to appear on the website.

I don't know if this is overly picky, but it might confuse some learners about the nature of recursion (I'm teaching a course that involves some introductory programming).

[2015-09-18 16:59] lmccart commented on #909
I think that'd be great. I want to check though with @OhJia who worked on these this summer. @OhJia is it ok with you if @limzykenneth looks into the issues further and makes the proposed revisions?

[2015-09-18 20:41] mindofmatthew commented on #904
Thanks for the advice. I'm making pretty good progress here.

A technical question for @indefinit or @karenpeng, (or whoever has an opinion): Do you see any potential issue with storing three vertex normals per face (like how UVs are stored) rather than as one vertex normal per vertex? This is how the geometry is stored in OBJ (and THREE.js JSON format, and probably others), and is pretty necessar

[2015-09-19 13:52] jsphweid opened #926 "pixels[]"
Below is some code that doesn't do what I would expect. It makes what seems to be an inverted color image but is grainy also. I would expect it to produce basically the exact same thing from the camera (without doing .hide())

Is this a bug or a lack of understanding pixels[] ?

[code]

[2015-09-19 19:07] whichlight opened #927 "canvas resolution on mobile browsers, safari and chrome"
Hey all! I don't think I saw this issue come up yet. Basically I'm working on sketches to work on desktop and mobile. The think I'm noticing is that the canvas resolution is different between mobile browsers. On Chrome things looked zoomed in, on safari it looks closer to how it would be on desktop. I see this through the difference of line width even thought strokeweight is the same.  I'm going t

[2015-09-19 23:55] limzykenneth commented on #926
@jsphweid There's a few problem here:

1. When you define the size with `capture.size()`, what it does is set the HTML5 video element size to what you defined. It is NOT setting the actual size the camera is capturing. As a result, you get different result when you call `camHeight * camWidth` and compare it to actual number of pixels given by `capture`.

1. The `pixels` array will be an array of s

[2015-09-20 07:55] dhowe opened #928 "text extends beyond bounding box"
@xyfeng different behavior than Processing, yes? See below

![screen shot 2015-09-20 at 3 53 33 pm](https://cloud.githubusercontent.com/assets/737638/9979778/1ab77206-5fb0-11e5-9290-84c7e24a78ec.png)

[code]

[2015-09-20 08:36] dhowe opened #930 "textFont() and textSize() issues using system font after custom font"
Neither function (textFont and textSize) works correctly if using a system font AFTER a custom font in a single sketch:

[code]

ACTUAL:
![screen shot 2015-09-20 at 4 36 29 pm](https://cloud.githubusercontent.com/assets/737638/9979882/c61b0e1e-5fb5-11e5-88c3-2912c913ff32.png)

EXPECTED:
![screen shot 2015-09-20 at 4 36 29 pm](https://cloud.githubusercontent.com/assets/737638/9979891/1fb276b0-5fb6-

[2015-09-20 13:11] shiffman commented on #794
@oolong, I'm about to file a couple new issues and @lmccart and @futuremarc are planning to meet this week to discuss p5.dom so more work will be happening soon!

[2015-09-20 13:18] shiffman opened #932 "Additional p5.dom questions"
@lmccart, @futuremarc, and I will be meeting this week to discuss p5.dom.  This issue is something of a follow up to #794, and likely needs to be broken out into separate issues.  But I'm using it as a way of keeping some notes as I prepare examples for my [A2Z](https://github.com/shiffman/A2Z-F15) class which makes heavy use of the DOM library.  After our discussion Tuesday, we can clean-up / re-

[2015-09-20 15:53] brysonian commented on #932
Not sure if this goes here, but i had a thought the other day that we could use [cash.js](https://github.com/kenwheeler/cash) to do some of the dom tasks and gain some extra functionality, and also replace reqwest and use it for ajax. Main advantages would be to get a lot more jquery-compatable dom manipulation and shave off a few k of file size. Just a thought.

[2015-09-20 17:48] shiffman opened #933 "checkBox accessed via select() does not have checked() function available"
This is working for me:

[code]

However, with the following:

[code]

[code]

The `checked()` method is not recognized.

[2015-09-20 19:58] lmccart commented on #930
when I try the code above I see this (using different custom font, AvenirNextLTPro-Demi.otf)

<img width="620" alt="screen shot 2015-09-20 at 3 57 16 pm" src="https://cloud.githubusercontent.com/assets/191056/9982614/5deb34a4-5fb0-11e5-8ded-a8c9798bb6bf.png">

[2015-09-20 20:03] lmccart commented on #926
thanks @limzykenneth!

[2015-09-20 20:03] lmccart commented on #909
@limzykenneth I think you can go ahead with the proposed changes.

[2015-09-20 20:06] lmccart commented on #925
thanks @pippinbarr, I've posted this on the editor repo https://github.com/processing/p5.js-editor/issues/157

[2015-09-20 20:06] #925 closed

[2015-09-20 20:16] lmccart commented on #903
I've added documentation about this to these pages:
* https://github.com/processing/p5.js/wiki/Processing-transition
* https://github.com/processing/p5.js/wiki/Frequently-Asked-Questions

If anyone can think of other places it would be helpful to include this, please let me know (or feel free to make PR).

[2015-09-20 20:16] #903 closed

[2015-09-20 20:18] lmccart commented on #924
thanks, I mentioned this on the p5.js-editor repo issue. https://github.com/processing/p5.js-editor/issues/157

[2015-09-20 20:18] #924 closed

[2015-09-20 20:22] #911 closed

[2015-09-20 20:30] lmccart commented on #904
hey @mindofmatthew I'll defer to @indefinit and @karenpeng on the specifics here, but great that you're working on this, and the overall plan sounds like the right track!

[2015-09-20 21:08] indefinit commented on #904
hey @mindofmatthew, Storing 3 vertexNormals per face sounds right, but in comparison with THREE.js, we don't really have separate Geometry and Face classes so we've been keeping the vectors in arrays inside the Geometry3D Object.  Here's where that info is defined. Note, we have both a vertexNormals array as well as faceNormals:
https://github.com/processing/p5.js/blob/master/src/3d/p5.Geometry3D.

[2015-09-21 04:36] dhowe commented on #930
Rather strange... seems that your font is the only one (I've tried 5 others now) for which it works correctly thus far. Can you try with [this one](http://rednoise.org/imc/uploads/Site/Resagokr.otf)?

[2015-09-21 08:48] KouichiMatsuda opened #935 "The content in a gallary may not use p5.js."
I am not sure where I should submit this type of issue.
The cell-flight (http://cell-flight.com/mural.html) in http://p5js.org/gallery/ may not use p5.js.
Am I missing something?

[2015-09-21 11:40] lmccart commented on #935
https://github.com/whichlight/cellular/blob/master/js/app.js#L58

[2015-09-21 11:40] #935 closed

[2015-09-21 11:45] lmccart commented on #930
yup, that one doesn't work. I tested a few others. it seems sometimes the scale works but the styling (italic, bold, etc) is affected.
SourceSansPro-Italic.ttf
<img width="618" alt="screen shot 2015-09-21 at 7 42 46 am" src="https://cloud.githubusercontent.com/assets/191056/9991046/91057f00-6034-11e5-841d-906e633b010b.png">
SourceSansPro-Bold.ttf
<img width="619" alt="screen shot 2015-09-21 at 7 4

[2015-09-21 12:27] limzykenneth commented on #909
I'm working on it and come across a small problem: the standard device orientation/motion events are working as expected but the `MozOrientation` event is a bit different. The x and y property of MozOrientation is the equivalent of `beta` and `gamma` rotation in device orientation while the z property is the acceleration along the Z axis equivalent of the device motion events z acceleration.

`Moz

[2015-09-21 12:48] KouichiMatsuda commented on #909
I think it should be removed.
I think most people, especially beginners, don't use Firefox on mobile devices.
http://www.statista.com/statistics/272664/market-share-held-by-mobile-browsers-in-the-us-since-2009/

[2015-09-21 15:16] dhowe commented on #930
Strange... shall I check in a test case under examples/p5.Font/bug930 ?

[2015-09-21 15:18] lmccart commented on #909
the general policy of p5.js is to support the two most recent versions of major browsers, so I think it's fine to remove this.

[2015-09-21 17:42] limzykenneth commented on #909
`deviceTurned()` is giving me some problem here as it is hard to account for all three axis at the same time without unintended behaviour. Mainly the problem is when the device is not flat, say in a handheld landscape viewing position, the rotation value for the X axis will jump from 0 - 180 at certain point. My pass experience with deviceOrientation is that it is worst when lying down but that's

[2015-09-21 21:46] lmccart commented on #909
hm I like that this is clear, but I worry that this is overly explicit for the API when the other event methods are not so specific. what do you think about keeping it `deviceTurned()` and including an example in the reference that demonstrates how to check the `rotationX/Y/Z` inside with an if statement? similar to the way the `keyCode` is checked inside `keyPressed()` in the second example?
http

[2015-09-21 22:28] limzykenneth commented on #909
That might not be a bad idea, I'll see what I can do.

[2015-09-22 12:30] limzykenneth commented on #909
I'm almost done here, just a few decisions that needs to be made:

As a result of the implementation of deviceTurned(), there is a few more variables related to rotations other than `rotationX`, `rotationY` and `rotationZ`:

1. pRotationX, pRotationY, pRotationZ. They act the same as pAccelerationXYZ just for rotations.
1. rotateDirectionX, rotateDirectionY, rotateDirectionZ which give rotation di

[2015-09-22 13:19] KouichiMatsuda commented on #909
I think pRotationXYZ are good idea to support them. They are useful to figure out how a device is rotated.

I'm not sure about how these are implemented but if they are implemented as
      rotationDirectionX = rotationX - pRotationX;
then I think they are not necessary. Because we can estimate them easily.

[2015-09-22 13:30] KouichiMatsuda commented on #909
I think three APIs are too many. They looks like providing mousePressedLeftButton(), mousePressedMiddleButton(), and mousePressedRightButton() instead of mousePressed().
One solution would pass a rotation axis argument to deviceTurned(axis) or to provide a system variable to describe the current rotation axis, such as rotationAxis.

Regards,

[2015-09-22 13:53] limzykenneth commented on #909
For deviceTurned() I managed to provide a system variable for the method so the usage is similar to keyPressed().

For the rotationDirection because my implementation also takes care of wrap around ie. from 175 degree to -175 degree (the angles go from 180 to -180 back to 180). It does a couple more checks than `rotationDirectionX = rotationX - pRotationX;` to account for that. Then again, I'm not

[2015-09-22 18:18] rddill-IBM commented on #928
Seeing same issue, running FireFox , Safari & Chrome on Mac. No difference between browsers.

[2015-09-22 21:14] mwcz commented on #823
@lmccart Ahhh, I see what's happening.  It's still not working because in the release repo, tag 0.4.12 actually includes version 0.4.11.

p5.js from tag 0.4.12, see version number at top of tile: https://github.com/lmccart/p5.js-release/blob/0.4.12/lib/p5.js

I'm getting around it by doing `bower install p5js#master` which works for now but isn't ideal.

[2015-09-22 23:17] dhowe commented on #823
haha, nice @mwcz

[2015-09-23 10:50] KouichiMatsuda commented on #909
Thanks. I see.

For the rotationDirection, I think "rotationX - pRotationX" might be sufficient for most cases (I might be wrong).

So, as a first step, it might be better that rotationDirections should be provided as an example in the reference that demonstrates how to use them based on the rotationX/Y/Z,  pRotationX/Y/X, and a couple more checks you've done in your implementation. After that, yo

[2015-09-23 11:33] limzykenneth commented on #909
Yeah, that's true. The wrap around issue is really just an edge case that may cause problem in limited fashions. In that case, do you think the example for getting rotationDirection should be included in the documentation of pRotationXYZ or as an entry in the example page along with other mobile examples?

@lmccart What do you think? I can submit a PR today as soon as a decision is made.

[2015-09-23 12:01] KouichiMatsuda commented on #909
The "edge" case is the best wording.

I think the latter is better. You should have an entry in the example page along with other mobile examples?

[2015-09-23 15:39] lmccart commented on #909
@limzykenneth great! if the example is not too long, I think putting it right into the reference makes sense. if it is a bit more involved, we can keep put it on the examples page. how does that sound?

[2015-09-23 16:15] limzykenneth commented on #909
They are not too long so I think they can fit on the reference. I'll work on it now, expect PR soon. Cheers.

[2015-09-23 16:19] chuckhousley opened #936 "Forums dead/moved?"
The readme includes a link to the forums, but the link (https://forum.processing.org/two/) 404's and the link on the processing homepage (https://forum.processing.org) redirects to the homepage.  Are there any working forums for p5/processing? Or should that link be removed?

[2015-09-23 16:22] lmccart commented on #936
ah I think the link should be http not https: http://forum.processing.org/two/
will update readme now.

[2015-09-23 16:23] #936 closed

[2015-09-24 07:18] xyfeng commented on #928
Sorry for the late reply. I'm traveling in Europe this week.

I think we probably should change it to keep it consistence with processing.
Here is the actual drawing function:
https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L1052-L1155

When we rendering each line, we can add a compare function to see if it's outside of the box.

@dhowe, do you mind making this quick upda

[2015-09-24 14:14] lmccart commented on #823
ah thanks @mwcz! I didn't realize that the release tags needed to be there, I thought updating the file was enough. I'll sort this out tomorrow and make sure tagged releases get published for each version in the future.

[2015-09-24 14:23] mwcz commented on #823
Thanks @lmccart!  :+1: :tangerine:

[2015-09-24 14:35] dhowe commented on #928
no worries, got it

[2015-09-24 18:51] Jared-Sprague opened #942 "Expose all parameters of drawImage to Image()"
p5 `image()` maps directly to 2 of 3 valid usages of `drawImage()` this pull request adds the thrid and final valid usage as defined here: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/drawImage

[code]

I've been using p5 to create some interactive games for the Kinect (https://github.com/mwcz/Kimotion), however one thing that p5 lacks that is essential for game creati

[2015-09-24 19:23] brysonian commented on #942
I think this is great, however i'm a bit concerned about the switch in the meaning of arguments 2-5 between `image(image, x, y, width, height)` and `image(image, sx, sy, sWidth, sHeight, dx, dy, dWidth, dHeight)` I like that it matches exactly the canvas spec, but might it be confusing for new users that when used tot draw a crop those arguments specify the source not the destination? Would we gai

[2015-09-24 19:36] Jared-Sprague commented on #942
Thank you for the feedback!  I also thought hard about making this a separate function but in the end I decided not to for three reasons:
1. The usage of `drawImage()` is already very well documented, why change it in `image()`
2. `image()` already maps directly to 2 of the 3 valid usages of `drawImage()`, we are just simply adding the third usage.
3. All of the current p5.js examples, references,

[2015-09-25 02:45] Jared-Sprague commented on #942
Here is a live example of an animation using just one image and one `image()` call in `draw()`
http://scripta.co/p5.js/examples/p5.Image/animation.html

[2015-09-25 16:03] lmccart commented on #928
fixed with https://github.com/processing/p5.js/pull/939

[2015-09-25 16:03] #928 closed

[2015-09-25 17:22] mindofmatthew opened #943 "scale() doesn't scale 3d objects"
I've noticed that the scale transformation doesn't seem to work on 3d objects. For example:

[code]
and
[code]
both display spheres of the same size. The lighting on the scaled sphere is a bit darker—is it possible that the camera's position is scaling along with the objects, but the lighting isn't or something?

[2015-09-25 18:46] mindofmatthew commented on #904
@indefinit: This is what I was thinking as far as 3d geometry goes...
[code]
Do you think this would work? If you're worried about size, we could maybe do something where we have a pool of all the possible normal vectors. Each face would then store pointers to some of the normal vectors in the pool. I don't really understand what happens to the vectors when they're turned into WebGL buffers. Once

[2015-09-25 20:04] kadamwhite commented on #904
This isn't strictly relating to the implementation, but is it safe to assume that this will be an add-on module, like p5.sound? I ask because this sounds like an awesome piece of code, but not necessarily a small one (in terms of lines of code), and loading 3d objects feels like more of a niche use-case than sound.

[2015-09-26 13:00] indefinit commented on #943
Hmm, at first glance it looks like the matrix mults aren't applied in the right order.  I'll dig deeper and let you know my findings.

[2015-09-26 14:26] indefinit commented on #904
@mindofmatthew Yes, I think making use of p5.Geometry3d seems the right way to go and most extensible.  It would be great if we could solve this by extending the parametricGeometry() method, passing in our OBJ vertices and normals in a callback.  Curious about @karenpeng 's weight-in here since came up with the elegant solution for parametric geometry.  Regarding the size of the Geometry3D object,

[2015-09-26 17:59] shiffman opened #944 "selecting and creating inside an element"
Another topic for @futuremarc and @lmccart upcoming meeting about p5.dom.   This came up with a homework assignment this week, see this discussion:

https://github.com/rlieberman/programming-a-to-z/pull/1

Should `select()` and `selectAll()` be available to operate on a `p5.Element` (looking only inside those elements)?  Or can that be done with some syntax passed into `select()` or `selectAll()`.

[2015-09-26 21:31] Jared-Sprague commented on #942
Finished another example usage.  This feature isn't just for sprites!
http://scripta.co/p5.js/examples/p5.Image/netherlandish_proverbs.html

[2015-09-27 14:44] indefinit commented on #942
no comments to add on implementation but just - wow, so cool!  Awesome to see how powerful something like this is.

[2015-09-27 15:42] Jared-Sprague commented on #942
@indefinit Thank you!  Implementation was very easy as image() is implemented ising drawImage() all i had to do was add pass through the parameters of image() to drawImage() and add a little bit of logic to handle parameter defaults.  Very little code. The majority of my pull request is unit tests and additions to examples.

[2015-09-27 18:09] indefinit commented on #943
Ok, found and fixed the issue.  Looks like the bug had to do with arguments checking and their values not being passed into the matrix math func properly.  Once the PR is merged, you should be able to do:

[code]

or  similarly:
[code]
with as-expected results.
See #945 for details.

[2015-09-27 21:24] lmccart commented on #943
fixed with https://github.com/processing/p5.js/pull/945

[2015-09-27 21:24] #943 closed

[2015-09-27 21:36] #926 closed

[2015-09-27 23:36] lmccart commented on #942
closed with https://github.com/processing/p5.js/pull/941

[2015-09-27 23:36] #942 closed

[2015-09-28 00:52] lmccart commented on #844
sorry for the silence... with option 2, how much of the core type stuff would we lose/move by doing this? I'm not totally sure what the best way to move forward is as I feel like the real solution here is to get the modernizr-style builds working, but I don't think I have the bandwidth for that in the near future.

[2015-09-28 00:56] lmccart commented on #891
closed with https://github.com/processing/p5.js/pull/937

[2015-09-28 00:56] #891 closed

[2015-09-28 00:57] lmccart commented on #885
fixed with https://github.com/processing/p5.js/pull/937

[2015-09-28 00:57] #885 closed

[2015-09-28 00:58] lmccart commented on #908
fixed with https://github.com/processing/p5.js/pull/937

[2015-09-28 00:58] #908 closed

[2015-09-28 00:59] lmccart commented on #909
hi @KouichiMatsuda, thanks to your thorough reporting and @limzykenneth's [great work](https://github.com/processing/p5.js/pull/937), I believe all issues here are now resolved. the next build (v0.4.13) which will be posted tomorrow should contain these fixes. if you still notice issues with this next build, please feel free to reopen this issue. thanks again!

[2015-09-28 00:59] #909 closed

[2015-09-28 08:10] KouichiMatsuda commented on #909
Thanks.
I am looking forward to seeing the code!

Regards,

p.s.
4.13 is my birthday :)

2015-09-28 9:59 GMT+09:00 Lauren McCarthy <notifications@github.com>:

--
松田晃一 MATSUDA, Kouichi, Ph.D.

[2015-09-28 12:08] dhowe commented on #844
basically we could no longer use external fonts, only built-in browser fonts

[2015-09-28 16:27] zivschneider opened #946 "Editor stuck"
The editor freezes on my computer and another one I tested on.
Force quit window does not indicate program is not responding though.

[2015-09-28 16:36] lmccart commented on #946
thanks, I just reposted this on the p5.js-editor repo!
https://github.com/processing/p5.js-editor/issues/160

[2015-09-28 16:36] #946 closed

[2015-09-28 18:00] plural opened #947 "preload() that doesn't call any load* methods prevents setup & draw from being called."
A sketch like the following:

[code]
will never have setup() or draw() called because no load* methods are ever called, thereby never decrementing the preload count.  I'm working on a patch to fix this.

[2015-09-28 23:58] Jared-Sprague commented on #947
Good catch.  This is also currently breaking the p5.play bouncing example with the latest master branch of p5.js.  As you can see it has an empty preload() http://p5play.molleindustria.org/examples/index.html?fileName=collisions4.js

p5.play hasn't been updated since p5 version 0.4.5 and it was working then.

[2015-09-29 01:18] plural commented on #947
@Jared-Sprague  - my patch fixes the p5.play example.

[2015-09-29 03:42] dhowe commented on #764
How about updating the 'loading' div with an error when if/when we get one?

[2015-09-29 04:09] Jared-Sprague opened #949 "load* functions can't use callbacks in preload()"
I know only load functions should be in `preload()`, but are success callbacks blocked by design too?

[code]

[2015-09-29 13:04] dhowe opened #950 "Slow rendering with certain .ttf fonts"
A relatively minimal example from a student ([img](http://rednoise.org/~dhowe/ftp/01.png) and [font](http://rednoise.org/~dhowe/ftp/F2U_Scratch.ttf) links). This problem does not show up with several other .otf and .ttf fonts that I tried.

[code]

Performance:

![screen shot 2015-09-29 at 7 15 34 pm](https://cloud.githubusercontent.com/assets/737638/10164733/d4ee5678-66ed-11e5-9491-fd3cdfa3f6cc.p

[2015-09-29 15:43] Jared-Sprague opened #951 "When will the next tag be?"
It looks like it on average every 10 days or so?  Is there something that triggers a tag?
Thanks!

[2015-09-29 15:47] lmccart commented on #951
there is nothing in particular that triggers a tag, just me having time to post a new version. I try to do this faster when there is a critical bug fix or major changes.

[2015-09-29 15:56] Jared-Sprague commented on #951
@lmccart Thanks! I'm exited for the next release!

[2015-09-29 19:38] lmccart commented on #892
fixed with https://github.com/processing/p5.js/pull/940

[2015-09-29 19:38] #892 closed

[2015-09-29 19:42] lmccart commented on #933
The todo here is to detect which type of HTML element was found and wrap it in the corresponding p5.X (ie `p5.Element` as base case, but maybe `p5.MediaElement`, `p5.CheckBox`, etc).

[2015-09-29 19:49] lmccart commented on #944
instead of adding `select()` and `selectAll()` as methods of the `p5.Element`, let's pass in the container to search as optional second arg (defaults to body). so, three cases to support:

1. `var elts = selectAll('#blah');`
2. `var elts = selectAll('#blah', '#cooldiv');`
3. `var elts = selectAll('#blah', myDiv);`

[2015-09-29 20:01] lmccart commented on #794
continuing the discussion now in #932.

[2015-09-29 20:01] #794 closed

[2015-09-29 20:05] shiffman commented on #932
We are meeting and resolving these, I am going to close this issue and open new individual ones for each item.

[2015-09-29 20:05] #932 closed

[2015-09-29 20:14] shiffman opened #952 "new createRadio() function"
Continuing up from #932, we are planning to add a function that creates a radio  button following the `createSelect()` model.

[code]

Note that `option()` method will return the individual `<input type="radio">` DOM element if you need to style or position them separately.    `createRadio()` creates a div behind the scenes so it can feel like a single thing if you need to.

or

[code]

[2015-09-29 20:24] shiffman opened #953 "Implement input event for slider and text input field"
Continuing the discussion about `"change"` vs. `"input"` events from #932. . .

We tried to think of a better name than `input` but in the end, we decided it's best to just use the "real" name that JavaScript uses.  So in addition to `changed()`, we'll also add `input()` as an event handler for slider and text input elements.   This will allow for "real-time" tracking of typing and sliding.

The a

[2015-09-29 20:27] lmccart opened #954 "supporting more cases in style"
support these:
[code]

this one will remain as is:
[code]

and add return value for single string:
[code]

[2015-09-29 20:32] futuremarc opened #955 "remove 'overflow hidden' when sizing a p5.Element"

[2015-09-29 21:17] lmccart commented on #947
fixed with https://github.com/processing/p5.js/pull/948

[2015-09-29 21:17] #947 closed

[2015-09-29 21:20] lmccart commented on #394
I'm not sure what this means exactly. I don't believe there is a `fontStyle()` function currently?

[2015-09-29 22:52] lmccart commented on #764
love it

[2015-09-30 06:02] dhowe commented on #394
textStyle() ?

[2015-09-30 21:50] Jared-Sprague commented on #949
I found the root cause of this bug.  Almost done with a fix.

[2015-09-30 21:53] lmccart commented on #949
awesome, thanks for looking into it!

[2015-10-01 00:12] Jared-Sprague commented on #949
@lmccart See PR: https://github.com/processing/p5.js/pull/956

The problem was that the decrementPreload function was getting pushed on the argument list for load functions but when a callback was supplied, decrementPreload would never get called.  I added logic to the load functions to separate the success and failure callbacks from the decrementPreload function which will always be the last argm

[2015-10-01 04:36] jonleung opened #957 "alert("message") causes issues"
[This code with an alert has issues](http://jsbin.com/yumape/13/edit?html,js,output)

- Press up to go to the top of the screen. When the piece resets, it keeps going up.

[This code WITHOUT an alert does NOT have issues](http://jsbin.com/yumape/14/edit?html,js,output)

- Press up to go to the top of the screen. When the piece resets, it DOES NOT keep going up.

[2015-10-01 04:45] dhowe commented on #822
I don't see this in the reference, nor do I see a ticket for it (plus it seems very confusing for students)...

[2015-10-01 08:22] KouichiMatsuda opened #958 "callback function style for changed()"
The current reference has no sample code for how to use a callback function specified in changed() for createCheckbox() and createSelect(). I could guess it as follows by reading the code in p5.js.
The following code draws a rectangle in the way specified by check boxes.

[code]

The point is using **"this"** in the callback (checked()). I can say that the current implementation of changed() might

[2015-10-01 23:28] lmccart commented on #957
hey @jonleung could you please post a simplified example isolating the broken behavior? it's hard to debug a whole sketch. also, this sketch uses p5.play, could you remove this and have your example just show the error using p5.js library?

[2015-10-02 05:07] Jared-Sprague commented on #949
@lmccart I added a bunch of new unit tests for loadFont and loadImage that tests calling these functions in preload with and without success callbacks.  There was actually a TODO in the font_loading.js unit test from @dhowe that said `// TODO: actually test loading from within preload`.  Well now that's done!

[2015-10-02 14:12] KlarY opened #961 "No references available"
Neither API page in wiki nor Reference page in p5js.prg is available

[2015-10-02 16:12] limzykenneth commented on #961
It is alright on my side. Both of them should be linking to the same page: http://p5js.org/reference/

Can you describe the problem a bit more? Do you get any errors or a blank page etc.?

[2015-10-02 18:21] jonleung commented on #957
Thanks @lmccart, sorry about the unclear issue!

[This JS Bin should illustrate the issue more clearly](http://jsbin.com/yumape/39/edit?html,js,output)

Here is a screenshot of what the JS Bin looks like:

![image](https://cloud.githubusercontent.com/assets/654941/10254329/c717b844-68f7-11e5-88c3-b4dbde342641.png)

[2015-10-02 18:46] fraco opened #962 "p5's debugger in browser-console bug when loading a string"
Even though STRING LOADS CORRECTLY, the p5 debugger in browser's console prompts:
p5.js says: It looks like there was a problem loading your text file. Try checking if the file path [assets/silentEs.txt] is correct, or running a local server.

Running local server in Chrome 45.0.2454.101, using Sublime Text 2, Mac OSX 10.9.5

![screen shot 2015-10-02 at 2 40 09 pm](https://cloud.githubusercontent.

[2015-10-02 19:31] Jared-Sprague commented on #962
The reason this is happening is because p5 defines a callback when the ready state of the file changes. Immediately after you try to open it it's not ready yet, so you get this error.  When the file is ready the ready state changes again and p5 parses the file into the array.  I think you can just ignore this error if your file is still loading.  But I think there should be some logic in loadStrin

[2015-10-02 19:40] limzykenneth commented on #957
I see the problem on Chrome and Opera but not on Firefox and Safari so I think it's a Chromium based browser specific problem. Might be due to the way Chromium based browser handle alert popup and focus/blur of the p5 sketch I'm not sure.

[2015-10-02 19:42] Jared-Sprague commented on #962
Did some more research.  Here are the ready states:
http://www.w3schools.com/ajax/ajax_xmlhttprequest_onreadystatechange.asp

I think right after you call `req.open()` the readystate == 2 || 3.   So I think this code should be revised to this:

[code]

[2015-10-02 21:25] jonleung commented on #957
@limzykenneth @lmccart, is there something else that I might be able to use instead of `alert()` to easily display a message like "Game Over!" on the screen?

Thanks!

[2015-10-02 22:33] limzykenneth commented on #957
@jonleung There's quite a few ways to do it if displaying it directly as a webpage element is something you would consider. Displaying as a message box might end up with the same problem you have here.

To simply display a message and I assume you want it to perhaps fade out or something similar, you can check out p5.dom.js, maybe the `createP()` function and `show()`, `hide()`. A DOM manipulation

[2015-10-03 00:00] tigoe opened #963 "Editor window too large for 12-inch screens"
The default editor window size extends below the screen of a 12" macbook air or 11" windows laptop. This makes it hard to get to the console pane when it's at the bottom. Perhaps the default size could be smaller?

[2015-10-03 01:42] tigoe opened #964 "Serialserver implementation never closes port"
When you use p5.serialport in the editor (0.5.4 or later) the serialport in the serialserver is never closed when you stop the sketch. The problem with this is that, when you restart the sketch, the port you opened previously is still open. This causes problems for other applications attempting to open the port (like Arduino IDE). It also makes it impossible to choose a new port.

See p5.serialpor

[2015-10-03 12:20] lmccart commented on #964
reposted here https://github.com/processing/p5.js-editor/issues/168

[2015-10-03 12:20] #964 closed

[2015-10-03 12:21] lmccart commented on #963
reposted here https://github.com/processing/p5.js-editor/issues/169

[2015-10-03 12:21] #963 closed

[2015-10-03 13:12] crhallberg commented on #962
Please do! I think you may be missing a closing bracket before your else, but it could just be my phone.

[2015-10-03 17:15] ericsoco opened #965 "All canvases have the same id"
When creating multiple p5 instances on one page (using "instance mode"), each of their canvases is given the same id, `defaultCanvas`. While it's easy enough to set the id of each canvas (`p.canvas.id = 'foo'), having multiple DOM elements with the same id might cause unexpected side effects.

Maybe the `defaultCanvas` id should iterate automatically (e.g. `p5Canvas1`, `p5Canvas2`) as new canvases

[2015-10-03 22:07] #961 closed

[2015-10-03 22:07] lmccart commented on #961
I'm not able to reproduce and no one else has mentioned problem so I'm closing this for now.

[2015-10-03 22:19] lmccart commented on #957
thanks for the simplified example @jonleung. it looks like @limzykenneth is correct, this is due to chrome. in chrome, if you pop up an alert, the 'onblur' event is fired (meaning the page loses focus) until you click on the page again. if in that time you release the key, the 'keyup' event does not get received by the window because it's in the blurred/nonfocused state. I think @limzykenneth's su

[2015-10-03 22:19] #957 closed

[2015-10-04 00:01] #951 closed

[2015-10-04 00:10] Jared-Sprague commented on #962
Ok! I'll submit a PR for this as soon as my current PR is closed or merged.

[2015-10-04 01:26] #836 closed

[2015-10-04 02:42] Jared-Sprague opened #966 "Update documentation statements that say you can't use callbacks in preload()"
Now that my PR https://github.com/processing/p5.js/pull/956 has been merged, and success callbacks can now be used in preload(),  we can update the documentation that says you can't.  For example:  http://p5js.org/reference/#/p5/loadJSON  remove the "Outside preload(), you may supply a callback function to handle the object" line.

I'll update the docs and submit a PR soon!

[2015-10-04 03:51] Jared-Sprague commented on #949
Pull request was merged so closing this. Thanks!

[2015-10-04 03:51] #949 closed

[2015-10-04 15:57] Jared-Sprague commented on #966
Pull request: https://github.com/processing/p5.js/pull/967

[2015-10-04 16:06] Jared-Sprague commented on #870
@shiffman yep you're right, there is no validation of the json before it starts parsing it.  I'll work on a fix for this.

[2015-10-04 16:33] lmccart commented on #870
I'd suggest just using `console.log()` to print a message right now, rather than hooking into the friendly error system, as the FEs are still very much in progress and it'd be good to get all the details with that ironed out first before we add more uses of it.

[2015-10-04 17:14] Jared-Sprague commented on #870
Good to know thanks!  I'll just console.log

[2015-10-04 18:16] shiffman opened #968 "Setting headers for httpGet() / httpDo()"
This I think follows up on the discussion in #385.   We added `httpGet()`, `httpPost()`, and `httpDo()` to handle generic HTTP Requests and the functions are working great for me.  For one of my examples for [A2Z week 4](https://github.com/shiffman/A2Z-F15/tree/gh-pages/week4) I need to add a header to the request for authentication.  I'm able to get this to work with JQuery as follows (the API he

[2015-10-04 18:29] lmccart commented on #968
I think potentially we could add it only to `httpDo()` which is already our base case http method (the put and get methods call this under the hood). we could also think about supporting passing in an arg object similar to jquery just for this one. but I do worry that might be opening a large can of wormy api discussions...

[2015-10-04 18:50] Jared-Sprague commented on #870
@lmccart @shiffman After looking into this, reqwest provides a builtin error handler that you can provide a callback for when there is an error which we weren't using.  I added an error callback, and console.log the error message and detailed error message when there is an error. e.g. " Could not parse JSON in response
JSON.parse: expected property name or '}' at line 3 column 5 of the JSON data"

[2015-10-04 19:10] Jared-Sprague opened #969 "Can I add .idea to .gitignore?"
Anyone mind if I add .idea to .gitignore for WebStorm users?

[2015-10-04 19:14] lmccart commented on #870
closed with https://github.com/processing/p5.js/pull/967

[2015-10-04 19:14] #870 closed

[2015-10-04 19:17] lmccart commented on #966
closed with #967

[2015-10-04 19:17] #966 closed

[2015-10-04 19:20] lmccart commented on #394
ah that must be it. there are no other comments on this so it seems not crucial enough to warrant deviating from the processing API. @dhowe what do you think?

[2015-10-04 19:25] lmccart commented on #969
yes I think this is fine, go for it

[2015-10-04 19:30] #373 closed

[2015-10-04 20:56] lmccart commented on #962
closed with https://github.com/processing/p5.js/pull/970/files

[2015-10-04 20:56] #962 closed

[2015-10-04 20:56] lmccart commented on #969
closed with https://github.com/processing/p5.js/pull/970/files

[2015-10-04 20:56] #969 closed

[2015-10-04 21:05] lmccart opened #971 "friendly error system fixes, updates, and improvements"
The friendly error system was first implemented at the p5.js contributors conference. It is an effort to provide more human readable and friendly error messages in console. It also does some minimal argument type checking since JS does not do this. The nice thing about it is that it is only added to the p5.js build of the library, and eliminated from p5.min.js to improve performance speed. However

[2015-10-04 21:05] lmccart commented on #868
aggregated into https://github.com/processing/p5.js/issues/971

[2015-10-04 21:05] #868 closed

[2015-10-04 21:05] lmccart commented on #657
aggregated into https://github.com/processing/p5.js/issues/971

[2015-10-04 21:05] #657 closed

[2015-10-04 21:06] lmccart commented on #750
aggregate into https://github.com/processing/p5.js/issues/971

[2015-10-04 21:06] #750 closed

[2015-10-04 21:06] lmccart commented on #759
aggregated into https://github.com/processing/p5.js/issues/971

[2015-10-04 21:06] #759 closed

[2015-10-04 22:39] kadamwhite commented on #969
This is a very good idea for popular editors like sublime and webstorm, but for future reference custom ignore files can be added to the file `.git/info/exclude` within the project's `.git` folder

[2015-10-04 22:42] lmccart commented on #969
ah cool, thanks!

[2015-10-05 00:48] brysonian commented on #968
Maybe passing an object just treats it as a direct wrapper for `reqwest`? I also notice it is missing an error callback, if something goes wrong in the request it'll be really hard to debug. Should we add another callback? Break existing api and pass the first arg as err (which is consistent with node-style) or maybe just pass a second success arg?

[2015-10-05 01:38] Jared-Sprague opened #972 "make sure that mouseX/Y and touchX/Y coords align and that events are falling back to mouse or touch"
I've run into this a few times: create something interactive in p5, then I have to put some hacky logic or an external library to decide to use touchX, touchY or mouseX, mouseY.

It would be suuuuper nice if p5 had a global isMobile similar to:
https://github.com/kaimallea/isMobile

Or is there another method that people use for detecting mobile devices in p5 that I'm missing?

I'm happy to volunt

[2015-10-05 04:44] ekeneijeoma commented on #394
I really cant remember what problems I was running into when I thought of it this. I think I meant it'd be good to be able to set the font, size, weight, and style in one call/func like in css with font property

[2015-10-05 14:37] dhowe commented on #394
If we can clearly document this, it seems like a useful (additional) option at least for browser/system fonts. @ekeneijeoma maybe you can add a quick sketch to the examples/p5.Font dir to show a few cases of how it might work?

[2015-10-05 14:42] dhowe commented on #950
a first hypothesis is that the cause is the number and/or complexity of the font-paths (which will vary from font to font)

[2015-10-05 14:50] mwcz commented on #823
FYI, it looks like tag 0.4.14 in the release repo includes version 0.4.13 of p5 https://github.com/lmccart/p5.js-release/blob/0.4.14/lib/p5.js#L1.

[2015-10-05 14:53] nlooije opened #974 "`set()` not displaying properly in Firefox v41"
System: Firefox version 41.0.1, Windows 10

It took me several hours to realize Firefox v41 is not displaying properly when using `set()`. See e.g. a snapshot of the reference page of `set()`:

![capture](https://cloud.githubusercontent.com/assets/3252193/10283801/9199570e-6b81-11e5-8652-4835f4f1e395.PNG)

Chrome & IE work fine

[2015-10-05 16:05] brysonian commented on #394
i'm not sure supporting all the variations of the css font property is necessary, perhaps for one-line-ness, chaining would be a more javascripty way to do it? `textFont(foo).textStyle(BOLD).textSize(40)`

Also being able to set the weight with numbers rather than just  BOLD and NORMAL might be useful.

[2015-10-05 16:06] lmccart commented on #972
the way it's actually supposed to work is, mouseX/Y and touchX/Y and mousePressed/touchStarted, mouseDragged/touchMoved, mouseReleased/touchEnded should be interchangeable. so if you use touchX/Y in your sketch, it should fallback to mouseX/Y when touch is not available. if you define mousePressed, this should be fired on touchStarted as well as long as touchStarted is not defined also, etc. at on

[2015-10-05 16:18] dhowe commented on #394
I guess the intent here is something like below?
[code]

[2015-10-05 19:11] lmccart commented on #955
closed with https://github.com/processing/p5.js/pull/975

[2015-10-05 19:11] #955 closed

[2015-10-05 19:56] Jared-Sprague opened #976 "Possible Bug in somewhere in commit e5d82c9722fc2d328207c718cfd90e07191989e8"
@lmccart I started getting images drawing outside of the canvas (see attached screenshot) and an error when I call text() that says "TypeError: this._renderer.textLeading.apply is not a function".

I started reverting commits until I found the one that fixes both problems when I revert it:
https://github.com/processing/p5.js/commit/e5d82c9722fc2d328207c718cfd90e07191989e8

I will continue to try t

[2015-10-05 20:02] lmccart commented on #976
whoops thats my bad, let me push a fix, on sec

[2015-10-05 20:06] lmccart commented on #976
can you try again now with the latest? I think it should be fixed... if not, will you send me the example code you're using and I can look into it further.

[2015-10-05 20:10] Jared-Sprague commented on #976
@lmccart
Just prepending the mapping with a '_' fixed the problem for me:

[code]

Is that the change you pushed?

[2015-10-05 20:14] Jared-Sprague commented on #976
@lmccart Yep your change fixes it! I guess it's exactly the same thing I did only in push instead of pop, as long as they match :)

[2015-10-05 20:20] futuremarc opened #978 "parent() to return parent node"

[2015-10-05 20:21] futuremarc opened #979 "fix createImg bug which doesnt fully get rid of img elt if removed"

[2015-10-05 20:22] #976 closed

[2015-10-05 22:04] lmccart commented on #978
closed with https://github.com/processing/p5.js/pull/980

[2015-10-05 22:04] #978 closed

[2015-10-05 22:07] lmccart commented on #979
closed with https://github.com/processing/p5.js/pull/981

[2015-10-05 22:07] #979 closed

[2015-10-06 01:40] lmccart commented on #953
closed with https://github.com/processing/p5.js/pull/982

[2015-10-06 01:40] #953 closed

[2015-10-06 01:40] Jared-Sprague commented on #972
@lmccart Thanks for the reply!  Yeah if when using a mouse touchX/Y === mouseX/Y  then it would be no problem, but their values we're often different when using a mouse.  Which is why I started only using touchX/Y if I was on a mobile device and mouseX/Y if not.

[2015-10-06 08:28] KouichiMatsuda opened #984 "deviceMoved in 0.4.14 might be against the reference or the reference should be changed."
Thanks to the latest implementation, rotationXYZ works well.
However, the implementation of deviceMoved() might be against the reference or are you going to change the reference?

The comments in the code and the reference says as follows:
[code]
However, the implementation of deviceMoved() is called when the device orientation changes but it's **also called** when the device orientation **doesn't

[2015-10-06 11:08] limzykenneth commented on #984
I agree with going for solution 1 as I think that is a bit more intuitive while rotating the device also often triggers the accelerometer to register movement as well.

I'm thinking maybe deviceShaken can be slightly rewritten so it actually looks for back and forth movement instead of just a threshold acceleration value.

[2015-10-06 12:17] KouichiMatsuda commented on #984
Thank you for your comment.

In solution 1, deviceMoved should be modified because `move_threshold` in current implementation might lose its meaning. I think the first intention of **`move_threshold`** is to specify the angle of rotation per a frame (**in degrees**). So if a programmer wants to call deviceMoved() when a user tilts a phone greatly, the programmer can just specify a large value to `

[2015-10-06 16:36] futuremarc opened #985 "style() to support p5 rgb() method"
i'll do this one seperate after #983 is pulled

[2015-10-06 17:09] ericsoco opened #986 "Missing features in WebGL"
So, I just tried using 'webgl' as my renderer, and stumbled across some things:

- `blendMode` is not supported.
- `clear` is not supported....

Then I started googling, and found out that WebGL in p5js is apparently like 24 hours old?
So: :fireworks: :+1: :100: :exclamation:

But also --

- maybe it would be good to point to [this page](https://github.com/processing/p5.js/wiki/Getting-started-wit

[2015-10-06 18:44] indefinit commented on #986
Hi Eric,

Thanks for your interest in Webgl! Indeed the official Webgl renderer is still in its early stages and also in rapid development.  As such if you see a feature like blendMode or clear, that you'd like to tackle, by all means go at it and submit a PR.  We've tried our best to have feature parity across 2d and 3d with friendly error messages as fallback for those functions not yet implemen

[2015-10-06 19:05] mikegomezg opened #987 "text() call generates error"
Why do I get this result...

![image](https://cloud.githubusercontent.com/assets/6961984/10319607/188dafce-6c3d-11e5-98ad-1d70a0758f06.png)

...from this code:

function setup() {
    createCanvas(200, 200);
    fill(0);
    textSize(12);
    textFont("Arial");
    text("Times New Roman", 12, 30);
}

[2015-10-06 19:32] limzykenneth commented on #984
Hmm...I think that `move_threshold` is working as I expected it to which is setting a threshold for detecting of a device has moved ie. whether it has moved along a table flat or being rotated. The overall effect is when the device is moved, the amount which it have moved (the linear acceleration) will be compared against the threshold and if it is greater, call the function.

It is interesting to

[2015-10-06 19:43] lmccart commented on #987
this should be fixed in the most recent version, coming up in just a few minutes, stand by!

[2015-10-06 23:32] kylemcdonald opened #988 "p5.dom event cancellation"
I would like to keep an event in an child element from propagating to it's parent element. I tried returning false from the child element callback, as in the following example:

[code]

But when I click on the child I see in the console:

[code]

[2015-10-06 23:43] sepans commented on #988
I don't know if p5.js provides another mechanism to do that but pure Javascript's ``e.stopPropagation()`` should work:
<pre>
select('#child').mousePressed(function(e) {
    console.log('child');
    e.stopPropagation();

 })
</pre>
[code pen](http://codepen.io/sepans/pen/JYNBPa)

[2015-10-06 23:46] kylemcdonald commented on #988
that works! when the solution is that short, i agree that p5 doesn't need to provide another mechanism.

[2015-10-06 23:46] #988 closed

[2015-10-07 00:21] futuremarc commented on #988
great! thanks for the solution as well

[2015-10-07 04:54] mikegomezg commented on #987
Thank you!

[2015-10-07 04:54] #987 closed

[2015-10-07 12:19] ekeneijeoma commented on #394
I just found myself having to change the font and weight for a project with heavy text layout a lot and thought it'd be great if I could do it in 1 line. @dhowe I was thinking something more like textStyle(FONT,WEIGHT,SIZE) where the weights are numbers with constants (LIGHT, BOLD, and  etc). I think it should only use params that are already in the api.

[2015-10-07 12:21] ekeneijeoma commented on #394
Also as far as I know a lot of those params/styles are only used in HTML ex: em, px/px, small-caps, and cursive.

[2015-10-07 19:08] futuremarc opened #989 "rename p5.Element.width, p5.Element.height to _width and _height, (and refer to size().width, size().height)"

[2015-10-07 19:17] futuremarc opened #990 "Element.position() should support AUTO"

[2015-10-07 19:50] shiffman commented on #971
I'll just add a short note here that the recent Processing 3 implemented custom error messages for the first time (developed originally as part of "PDE X" by @Manindra29) -- the goals were to give more specific info about syntax errors as well as provide friendlier language and reduce scary Java-specific (and often misleading) messages.  If / when this project gets more development time, I'd be ha

[2015-10-08 07:55] KouichiMatsuda commented on #984
Sorry, my post was a little bit confusing.

The current implementation deviceMoved() is called by two type of phone's movement.
(1) translation along with x, y, or z axis
(2) rotation around x, y, z axis.

My point is how move_threshold behaves among multiple devices. The move_threshold equally works in (1) among multiple devices. However it might not equally work in (2) among them.

This is becau

[2015-10-08 09:57] limzykenneth commented on #984
Sorry! I get what you mean now. Your analysis is correct and I think it is ok to ignore the issue on (2) as well because we either change the implementation of deviceMoved to look for rotation (which I think is confusing) or do some extra checks (which will complicate matters even more).

I think in most use cases the deviceMoved method should work as intended, exception being when the device is o

[2015-10-08 19:51] dnassler commented on #570
Hi folks,

I noticed that the frame rate is really bad on my iPhone5S or iPad (2nd generation) if I use the basic getting started setup provided (i.e. using the index.html and sketch.js from the download page).

BUT

If I change the index.html META tag from:

    <meta charset="UTF-8">

which causes my iphone/ipad to have a frame rate less than 5 .... to...

    <meta name="viewport" content="user

[2015-10-09 11:22] KouichiMatsuda commented on #984
Thanks. You should write the document to help beginners not to make them confusing.

About deviceRotated(), I'm also wondering.
I think p5.js is still young, its version is still 0.4.15, so it has many chances to introduce a system function such as, deviceRoated() in the future. Currently it needs more considerations and p5.js has other many issues, such as #958 :-). If the need comes, we should d

[2015-10-09 12:54] JobLeonard opened #991 "Confusion about how to best use touch/mouse functions (coming from Processing)"
EDIT: The issue described is more-or-less solved by the workaround I posted later, but this still highlights a difference between Processing and p5js, I suspect something to do with JS's asynchronous nature. So until someone chimes in on that I'll leave the issue open.

Not sure if this is the best way to describe the bug, or if this is something p5js can deal with, or if it's purely a hardware/br

[2015-10-09 12:57] JobLeonard commented on #991
Update: I added

[code]
.. to see how mixed input is handled. Basically, pmouse and ptouch are treated as the same variable.

[2015-10-09 13:04] JobLeonard commented on #991
Related question, if this is the right place to ask: in Processing, mouseX/mouseY are different variables depending on whether they are used inside draw() or in the mouse functions. I guess that doesn't apply to JavaScript, so what is considered the best practice here?

[2015-10-09 13:08] KouichiMatsuda commented on #991
It might be "pixel scaling" working.
You should add  devicePixelScaling(false);

function setup() {
 devicePixelScaling(false);
  // uncomment this line to make the canvas the full size of the window
  createCanvas(windowWidth, windowHeight);
  strokeWeight(5);

[2015-10-09 13:32] JobLeonard commented on #991
UPDATE: Semi-answering my own last question, this seems to be a good workaround all browsers I tested before:
[code]
http://blindedcyclops.neocities.org/draw_desktopFix/index.html

From this we also learn that Ubuntu Desktop Firefox doesn't distinguish between mouse and touch, whereas Chrome does.

Not sure if I should close this, or leave it open; might lead to a useful "gotcha for people coming

[2015-10-09 13:53] JobLeonard commented on #991
@KouichiMatsuda: thanks for the suggestion, I've checked if it makes a difference. I've had issues with pixel scaling in the past (especially when playing with the pixels[] array) but it doesn't seem to be the problem here though.

[2015-10-09 17:06] limzykenneth commented on #991
I haven't got the right devices to test your problem here but have you tried using mouse events such as `mouseDragged()` instead of touch events. The mouse and touch events are all converted natively by the browsers and probably could give you the intended results.

[2015-10-09 17:10] futuremarc commented on #990
createImg() as well

[2015-10-09 17:27] futuremarc opened #993 "Element.center() (experimental feature)"

[2015-10-09 17:51] JobLeonard commented on #991
@limzykenneth I've tried both. The issue seems to be one of JavaScript using the same variables for touchX, mouseX, etc. between draw() and the mouse/touch functions. This is different from Processing where they are distinct local variables. So I suspect that that, combined with the asynchronous nature of JavaScript, is what leads to this result.

The code last piece of code I wrote above, which p

[2015-10-09 20:47] Jared-Sprague commented on #991
This is exactly the same problem I was describing in this issue: https://github.com/processing/p5.js/issues/972

[2015-10-09 20:51] shiffman commented on #990
Just making a note that the syntax I was trying to do is:

[code]

Is this right?

[2015-10-09 23:37] shiffman commented on #422
We are teaching the topic of "data" at ITP next week.  One of the examples I typically demonstrate is simple "word counting."  Processing has [`IntDict`](https://processing.org/reference/IntDict.html) which makes this sort of task easy.  JS objects can be used as dictionaries with the key being the word and the value being the count.  I have [examples of this](https://github.com/shiffman/Programmi

[2015-10-10 02:15] shiffman opened #995 "p5.Graphics and copy()"
I'm testing an example where I'm using `copy()` with `createGraphics()`.  `copy()` works as expected with `p5.Image`.

[code]

but does not work with `p5.Graphics`.

[code]

It fails on this line in `copyHelper()`

[code]

I believe I just need to detect the argument type `p5.Graphics` object or `p5.Image`, something like:

[code]

This should work, but for whatever reason, `this.drawingContext` i

[2015-10-11 12:37] dhowe commented on #815
Do we have an example that works with a different object than p5.prototype? Something like:
[code]

[2015-10-11 12:43] lmccart commented on #815
I don't think we have an example posted somewhere but it should work. @polyrhythmatic does the p5-tone code include this, and is it posted somewhere?

[2015-10-11 12:47] dhowe commented on #815
yes, I also looked for p5.tone, but didn't find any source with a registerPreload() function...

[2015-10-11 12:49] dhowe commented on #815
I think we also need to update the docs here: https://github.com/processing/p5.js/wiki/Libraries

[2015-10-11 21:17] laurentoget commented on #995
I thought trying to figure this out would be a good way to make myself familiar with the code base (great project btw, nice to meet you all), but after 30 minutes in the code, i am still utterly confused. Feels to me like a good moment to put of moratorium on the use of instanceof until someone who understands the relationship between canvas, renderer and drawingcontext makes a drawing for the res

[2015-10-11 21:51] lmccart commented on #995
@shiffman is copy supposed to work for p5.Graphics? looking at the processing reference, it looks like it only supports PImage? or does it also work for PGraphics?

[2015-10-11 22:02] lmccart commented on #995
@shiffman well, the above question aside, I think your fix was really close. I got the following code to work:

[code]

with this patch:
[code]

the key is the `srcImage.loadPixels()` call I added in there. note that I also had to call `updatePixels()` at the end of draw to get it to show up, is this correct behavior or maybe this should be called in `_copyHelper()` as well?

[2015-10-11 22:05] lmccart commented on #995
@laurentoget thank you for having a go at this. I hear your concern and we are in the process of writing up better developer documentation. it's just a matter of finding time to do all the things we want to with the volunteers and hours we have to work on this. :)

[2015-10-11 22:14] lmccart commented on #989
I just remembered that `p5.Graphics` and `p5.Renderer` both extend `p5.Element`. For both of these, we would probably want to keep `.width` and `.height`, and keep them as "public" variables rather than `._width` and `._height`. Two options: 1. set the height and width properties of these two objects in the constructors after `p5.Element` is called or 2. leave things as is and just reinforce the d

[2015-10-12 00:22] swirly opened #996 "mouseIsPressed is not understood correctly by chrome"
Try the two versions of the same code for example
-------------------
function mousePressed() {
        if (mouseButton == LEFT ) {
            ellipse(mouseX,mouseY,random(40,150),80);
        }
        if (mouseButton == RIGHT ) {
            background(random(180,255),random(180,255),random(180,255));
        }
}
--------------------
works as intended in chrome and firefox
but
-----------------

[2015-10-12 00:36] lmccart commented on #422
I think this makes sense. The four you list in the first post seem reasonable to me, not that you need to implement them all right now. :) If you'd like to take a pass at `NumberDict`, that'd be fantastic.

[2015-10-12 00:39] lmccart commented on #984
closed with https://github.com/processing/p5.js/pull/992

[2015-10-12 00:39] #984 closed

[2015-10-12 00:41] swirly commented on #996
more information.

It seems that chrome is "very" sensitive. When fireofx finds "one" click, chromes find 4 ou 5, 3 if i'm particulary light on the mouse button. wooh!

for the right click that was really stuck, adding a

oncontextmenu=" event.preventDefault();"

on body prevents the contextual menu from popping out and make the right click behaves as the left (3 to 5 colors change instead of one)

[2015-10-12 00:47] lmccart commented on #996
`mouseIsPressed` is a variable that changes state depending on whether the mouse is pressed. since draw runs at 60fps by default, it may stay true for multiple calls to draw. if you want a one time event to occur, it's best to use the `mousePressed()` function, that is fired once per mouse press.
http://p5js.org/reference/#p5/mousePressed

[2015-10-12 00:47] #996 closed

[2015-10-12 02:01] shiffman commented on #995
Ah, you are right.  I just *assumed* you could `copy()` a `PGraphics` object because, well, why wouldn't you?  But in fact it is not supported.  I discovered, however, that `set()` and `get()` work with `PGraphics` in Processing. . . but `p5.Graphics`.   Except that actually I do get it to work back in 0.4.9, but not in anything post 0.4.10.

The thing I'm trying to do is grab the pixels of an ima

[2015-10-12 02:02] shiffman commented on #422
Awesome, I'll work on implementing `NumberDict` for this week's ICM and port my Learning Processing examples.  Part of me is wondering if we should just have a single `Dictionary` object and let the typing be flexible.  But let's start this way for now and see how it goes.

[2015-10-12 02:16] laurentoget commented on #995
I do not understand this enough to figure why but I suspect adding either graphics.loadPixels or img.loadPixels will get this working.

[2015-10-12 02:20] lmccart commented on #995
I just pushed a patch which should fix problem 1. I don't think there's a better way than what you have above, but I'd be open to adding something if we could think of something intuitive and not too hacky.

[2015-10-12 02:59] #823 closed

[2015-10-12 04:51] swirly commented on #996
Agreed. But for the right click, it stays to true as long as you don't click once more, wich is not a fps problem.

This really should be treated as a bug.

[2015-10-12 11:50] lmccart commented on #996
ah I see. it looks like in chrome, right clicking opens the context menu, which takes focus away from the program. when I added an attribute to prevent the menu to my body tag, all seemed to work ok: `<body oncontextmenu="return false;">`

[2015-10-12 12:30] freder commented on #613
@lmccart @futuremarc
this only works though if the `alt` argument is provided, which should be optional.

[2015-10-12 14:24] shiffman commented on #995
I sometimes wonder how much magic we should make happen behind the scenes with `loadImage()` and   urls.  For example, we could detect a URL as argument to `loadImage()`, use `createImg()` behind the scenes, hide the element, and copy the pixels into a `p5.Image` object sending it into the callback.

But this is probably too much magic and leaves users open to other problems and confusion about ho

[2015-10-12 14:29] lmccart commented on #995
sounds good. what do you recommend in terms of supporting p5.Graphics in copy? I can add that patch in if it makes sense. we should then probably close this issue or at least update to reflect the current question. though if it is more of an open question/thinking point maybe it's better just to close it completely and keep it floating in our heads, and reopen at the end of the semester if it seem

[2015-10-12 15:59] futuremarc commented on #989
I am down for either of the two. We should probably go with option 2 for now and focus on other things? @shiffman

[2015-10-12 16:07] futuremarc commented on #613
Hey that's a good call. I'll add support for this

[2015-10-12 16:08] futuremarc commented on #613
Actually, you can pass in a function to either the 1st or 2nd arg, so you dont need to provide an `alt` tag

[2015-10-12 16:22] futuremarc commented on #990
yes!

[2015-10-12 16:27] lmccart commented on #989
I think that makes sense for now.

[2015-10-12 17:01] futuremarc commented on #989
Felt like it was mostly me who saw this as a big problem anyway.

[2015-10-12 17:42] lmccart commented on #989
well I think your intuition is right on, and eventually it'd be nice to implement option 1 up there, but I agree it's not the highest priority item at the moment.

[2015-10-12 18:28] lmccart commented on #332
Before I forget, I noticed that the `get()` method creates a new `p5.Image()` with every call, it would be good to remove this. https://github.com/processing/p5.js/blob/master/src/core/p5.Renderer2D.js#L251

[2015-10-12 18:48] lmccart commented on #986
thanks for your enthusiasm @ericsoco. as @indefinit mentions, the section at the end of the getting started doc outlines the roadmap and todos. for organization sake, I would suggest we close this issue as it is very general, and allow the 3D functionality to continue to develop for a bit before logging issues for specific missing items unless they are bugs.

[2015-10-12 18:54] lmccart commented on #394
I think this is easy enough to do manually using the underlying canvas api, I suggest we don't further bloat the API as there are already a lot of settings to keep track of. for example:

[code]

[2015-10-12 19:01] lmccart commented on #668
fixed with https://github.com/processing/p5.js/pull/956

[2015-10-12 19:01] #668 closed

[2015-10-12 19:25] indefinit commented on #986
Works for me.

On Mon, Oct 12, 2015 at 2:48 PM, Lauren McCarthy <notifications@github.com>
wrote:

--

Kevin Siwoff
// http://kevinsiwoff.com // Instagram: @kevinsiwoff
<http://instagram.com/kevinsiwoff/> //

[2015-10-12 19:27] futuremarc opened #997 "specularMaterial() and ambientMaterial() docs crashing page?"
They seem to be fine in practice, but all 3 browsers are crashing on the [specularMaterial()](http://p5js.org/reference/#/p5/specularMaterial) docs page and the [ambientMaterial()](http://p5js.org/reference/#/p5/ambientMaterial) docs page

[2015-10-12 19:27] #997 closed

[2015-10-12 19:27] futuremarc commented on #997
Wrong repo

[2015-10-12 19:33] #986 closed

[2015-10-12 20:00] ekeneijeoma commented on #394
That works great for canvas but then what about WebGL? The problem is still
the same.

On Monday, October 12, 2015, Lauren McCarthy <notifications@github.com>
wrote:

--
Ekene Ijeoma
Designer-in-residence @ Orbital <http://orbitalnyc.com/>
@ekeneijeoma <https://twitter.com/ekeneijeoma/>
www.ekeneijeoma.com

Wage Islands recently featured in Vice's Creators Project
<http://bit.ly/wageislands-creato

[2015-10-12 20:06] lmccart commented on #394
in webgl, wouldn't you just use a canvas to create a texture that has text in it?

[2015-10-12 20:20] lmccart commented on #394
ah, I didn't realize processing does support 3d text! I don't think p5.js does currently (except for the 2d canvas solution) but I suppose eventually it will. in any case, I'd really prefer to flesh out the existing API and fix type related bugs before adding more possible cases. so unless someone is volunteering to implement this right now, I'd suggest we close it for now and revisit at some futu

[2015-10-12 20:27] lmccart opened #998 "multiple sketches in instance mode on one page doesn't work with webgl"
sample code for testing

[code]

I think this could be part of the problem:
https://github.com/processing/p5.js/blob/master/src/core/rendering.js#L55

I'm currently looking into auto-incrementing the id per instance, related to this issue: https://github.com/processing/p5.js/issues/965

[2015-10-12 20:34] #965 closed

[2015-10-12 20:34] lmccart commented on #965
note that this only works in 2d mode, I didn't want to touch 3d mode until we've fixed #998. ideally it could be addressed at the same time.

[2015-10-12 22:35] dhowe commented on #394
sounds good to me
note: 3d text is another case where path-points for fonts comes in handy...

[2015-10-12 22:39] ekeneijeoma commented on #394
@dhowe right! also you can also use divs too which is usually better for labeling.

[2015-10-13 02:48] questacian opened #999 "Normal mapping for webgl sphere object is not correct"
Discovered a problem when trying to map a globe texture to the webgl sphere primitive.

Normal map does not behave correctly at seam.

When mapping a simple grid texture to the sphere, the normal map shows up like this:

<img width="597" alt="screen shot 2015-10-12 at 10 36 06 pm" src="https://cloud.githubusercontent.com/assets/14141819/10444295/f198aa18-7132-11e5-8191-4d414c5c27b2.png">
<img widt

[2015-10-13 07:59] slegroux opened #1000 "save() function replaces forward slash with dashes when trying to save to absolute path"
I'm trying to save an audio file in a specific folder on OS X (using p5.SoundFile and save() function)

Neither of these options work:
[code]
It looks like the save function automatically replaces foward slashes by dashes when saving to folder (the audio file ends up beeing saved in ~/Download/-tmp-tmp.wav)

Any idea what I should do to solve this? Thank you! S.

[2015-10-13 09:01] freder commented on #613
oh, my bad: updated only p5.js and not p5.dom.js — so I was using an older version.

[2015-10-13 11:37] #998 closed

[2015-10-13 17:01] zettam opened #1001 "Auto Resize Canvas with Browser"
I've been trying to make this work:
http://p5js.org/reference/#p5/resizeCanvas

The resize works, owevr, scrollbars are always there (canvas is always slightly bigger)

What should I to make it fit?

[2015-10-13 17:08] lmccart commented on #1001
many browsers have default padding or margin on a page, making the canvas overflow past the window if it's the size of the window.

you can add this line to the head of your html:
`<style> body{padding:0; margin:0;} </style>`
see more explanation in the p5.js overview tutorial: https://github.com/processing/p5.js/wiki/p5.js-overview#createcanvas

in general, this type of question is better for the

[2015-10-13 17:08] #1001 closed

[2015-10-13 21:21] laurentoget commented on #1000
This is a limitation of the html download attribute. This attribute is a file name, not a file path, and the browser is editing the name accordingly. There is a security reason for this. Cannot let js scripts write wherever they want.

Maybe a workaround would be to create a link to the blob which the user can then save using 'Save Link As'.

[2015-10-13 21:44] bmoren opened #1002 "pixelDensity missing from Environment documentation"

[2015-10-13 22:10] futuremarc opened #1003 "loadFont() should support p5.dom"
Right now `loadFont()` only loads a font to use in the canvas. In the background we should load the font with css so that `Element.style()` could use it as a font-family.

[2015-10-14 01:03] sunwangshu commented on #817
Still can't save with saveCanvas

[2015-10-14 01:13] lmccart commented on #1000
thanks @laurentoget, this is correct. however, I think saving to a blob is a bit beyond the scope of the p5.js API, we already have a lot of save functions. if a user really wants to do this, they have access to `canvas` and can save it any way they like using the HTMLCanvasElement API. there are also a few libraries that can help with this:
* https://developer.mozilla.org/en-US/docs/Web/API/HTMLC

[2015-10-14 01:13] #1000 closed

[2015-10-14 02:13] sunwangshu commented on #817
Well, can't save canvas when it runs in the p5 editor version 0.5.5, but all fine in Safari and Chrome browser.

[2015-10-14 02:14] lmccart commented on #817
you can post issues for the editor here:
https://github.com/processing/p5.js-editor

[2015-10-14 02:31] shiffman opened #1004 "splitTokens() with [ ] as delimiters bug"
I'm working on #422 and wanted to make a note here that if you try to use a `[` or `]` as a delimiter with `splitTokens()` there's a bug due to the way I am forming a regular expression behind the scenes.  This will come up rarely, but still needs to be fixed.  I shall do so soon!

[2015-10-14 07:28] vinjn opened #1007 "How to use custom shader in this great library?"
thx.

[2015-10-14 12:09] indefinit commented on #1007
Hi there, custom shaders are not supported at the moment however it's the next feature addition I'm working on right now so stay tuned!

Sent from my mobile.

[2015-10-14 12:20] vinjn commented on #1007
Great

[2015-10-14 14:41] #1007 closed

[2015-10-14 14:44] lmccart commented on #993
https://github.com/processing/p5.js/pull/1005

[2015-10-14 14:44] #993 closed

[2015-10-14 23:02] Diex opened #1009 "error using ambientLight();"
when trying to use ambientLight() I get this error:

[GroupMarkerNotSet(crbug.com/242999)!:D0DC16BED47F0000]GL ERROR :GL_INVALID_OPERATION : glDrawArrays: attempt to render with no buffer attached to enabled attribute 2

Google Chrome
Version 46.0.2490.64 beta (64-bit)

 Model Name:	Mac mini
  Model Identifier:	Macmini5,2
  Processor Name:	Intel Core i5
  Processor Speed:	2.5 GHz
  Number of Proce

[2015-10-15 03:57] zettam opened #1010 "Stretched 3D renders"
I have noticed that when ````resizeCanvas(windowWidth, windowHeight);```` is called under ````windowResized()```` the 3d content stretches.

Is this a bug, or a feature?

[2015-10-15 10:11] peteruithoven opened #1011 "Clarify contributing to website and hello.p5?"
I had a hard time finding the repo for the [hello.p5](https://github.com/scottgarner/p5.js-video) website and can't find the repo for the p5js.org website, could links to these repo's be added to pages like the [Development page](https://github.com/processing/p5.js/wiki/Development)?

[2015-10-15 10:18] peteruithoven commented on #878
Could a inclusion into devdocs.io be useful? This could give you the offline support.
I have suggested adding p5.js on: https://trello.com/c/PVnfdeaN/26-suggest-new-docs-here

[2015-10-15 13:32] indefinit commented on #1010
Hi Zettam,

Are you calling resizeCanvas() manually in your app or do you mean through another built-in method?  resizeCanvas() by default is just for resizing the canvas element size which works a little differently in 2D vs webgl.  In webgl, since we also have a model view matrix, resizing the canvas without changing the MVMatrix (through a function like perspective() ) will produce a stretched

[2015-10-15 13:51] indefinit commented on #1009
@Diex Do you have sample code you might be able to provide?  I'm currently not able to replicate.  Do you see the same error when running the documentation page: http://p5js.org/reference/#p5/ambientLight

[2015-10-15 13:55] indefinit commented on #999
@questacian thanks for filing.  I'll take a look and get back to you.  Curious, this shouldn't make much of a difference in terms of normal mapping but is "grid.jpg" a power of two texture size?

[2015-10-15 14:23] limzykenneth commented on #1011
Hi, the p5js.org website repo is available here: https://github.com/processing/p5.js-website it is just under the processing group which is the same as this p5.js repo.

[2015-10-15 16:34] questacian commented on #999
Here is a screenshot of the grid at 1024 X 1024 mapped to a sphere.

<img width="590" alt="screen shot 2015-10-15 at 12 32 28 pm" src="https://cloud.githubusercontent.com/assets/14141819/10520596/fca7bb08-7338-11e5-98e6-d12cafd541e7.png">

[2015-10-16 09:21] iamutkarshtiwari commented on #536
I would like to work on this fix. I have already submitted the patch for a similar issue in PDE -> https://github.com/processing/processing/pull/4006

[2015-10-16 12:39] b-g opened #1012 "Support of relative paths in script tag"
At the moment you can't use the `p5-release/empty-example` in the p5 app ... as the dependency to p5.js is defined relative:

[code]
It is kind of hard to explain in a workshop why the shipped "sketch template" is not working in the offical p5 editor :)

PS. Many thanks for all the great work! We are keen to port the entire [Generative Design Code Package](https://github.com/generative-design/Code

[2015-10-16 12:40] #1012 closed

[2015-10-16 18:35] hems commented on #328
@therewasaguy i'm having issues with loading and playing sound on mobile safari //=

my sketch [is super simple](http://pastebin.com/raw.php?i=5DgzZatF), just uses sketch.loadSound, sound.rate / sound.play and p5.FFT.

It worked perfectly on chrome android, but on iOS no chance, using iOS 8.

Any ideas? i'm using the latest version from the website ( /*! v0.4.17 October 13, 2015 */ )

[2015-10-16 19:55] karenpeng commented on #999
Hi, thanks for pointing it out. My guess is the merge of vertices mess up with the uvs. Will look into it!

[2015-10-16 22:56] therewasaguy commented on #328
@hems thanks, looking into it. p5.sound has a separate repo so let's move the discussion over here: https://github.com/processing/p5.js-sound/issues/74

[2015-10-17 00:33] shiffman opened #1014 "parent() / child() and '#'"
The question came up in class today as to why one says:

[code]

but only:

[code]

I explained (correctly?) that you can only `parent()` or `child()` with an `id` so the `#` is assumed.  Whereas you can `select()` an `id`, `class` or `tag`.  My questions are:

1. Is that correct?
2. Should we support both?

[code]

[2015-10-17 07:24] lmccart commented on #1014
yes, that is correct explanation. it does seem weird though, let's support both.

[2015-10-17 10:25] limzykenneth commented on #1014
Just a question, any reason why `parent()` `child()` only works with id? Can it be extended to work like `select()`? Coming from a jQuery background I'm used to having these taken care of for me so I'm terribly not familiar with native JS selector. :P

[2015-10-17 16:22] lmccart commented on #1014
I'm not sure I understand. Is this an example of something you're imagining?

[code]
[code]

wouldn't this cause confusion about which div to append to? currently, we only support ID because you would only be able to append an element to one parent.

[2015-10-17 16:35] lmccart commented on #1011
thanks @peteruithoven, I just added a "repositories" section to the dev page. please let me know if any of this needs further clarification, or feel free to make small edits as you see fit.
https://github.com/processing/p5.js/wiki/Development#repositories

[2015-10-17 16:35] #1011 closed

[2015-10-17 21:00] futuremarc commented on #1014
I guess it's a bit confusing, might as well support it

[2015-10-17 22:34] limzykenneth commented on #1014
I was thinking maybe it would select all instance of class `.apples` and either somehow iterate through them or (perhaps a very bad idea) append to all of them. However, I agree that might make it confusing. Just thinking about how to use `.child()` or `parent()` to iterate through a larger number of elements without having unique id for all of them.

[2015-10-18 02:22] questacian commented on #999
Karen,

Thanks for the follow through.  Ideally the seam line should run from the
exact topmost vertex (north pole) to the exact lowermost vertex (south
pole) along a single vertical edge (line of longitude).  I have a
background in 3D animation so I've UV mapped my fair share of spheres.  :-)

Cheers-

-Quest

On Fri, Oct 16, 2015 at 3:55 PM, ᶘ ᵒᴥᵒᶅ Karen <notifications@github.com>
wrote:

[2015-10-19 02:08] shiffman commented on #968
I think if reqwest accepts an object, this could be something of a hidden advanced feature, i.e. if you want these advanced features just make the object yourself and pass it in.  We could do this with `httpDo()` only as @lmccart suggests.

I think having an optional "error" callback would be useful.  Is there a discussion about this with `loadJSON()` or does this already exist and I just missed i

[2015-10-19 10:09] DarkPrince304 commented on #1004
Hello, I have fixed this issue and it has passed all the checks too.

Kindly have a look at my PR here : processing/p5.js#1015

[2015-10-19 11:07] DarkPrince304 commented on #952
Wouldn't it be nice if we follow the `createCheckbox()` model for this instead of `createSelect()` model for this?

I would like to know the reason behind following `createSelect()` .

[2015-10-19 14:06] hems commented on #328
@therewasaguy okay, thanks

[2015-10-19 15:03] DarkPrince304 commented on #952
Hello,
Sorry for the double post, but I have implemented the `createRadio()` functionality and now I have submitted a PR for this.

As you said I have created a div when `createRadio()` gets called and all the radio buttons will be inside that div.

Here's a demonstration of how it works (from the console):

[code]
By now a div element like this will be created in the HTML

[code]

To create the i

[2015-10-19 17:00] lmccart commented on #968
I think this makes sense!

[2015-10-19 17:07] #1014 closed

[2015-10-19 18:24] DarkPrince304 commented on #933
Should this also be done for `createSelect()` and `createRadio()` as well?

I have implemented the `createRadio()` in this PR by the way #1015.

[2015-10-20 04:23] Diex commented on #1009
nevermind by now.  I think it was just something I can figure out right now. it's working fine.
I re-code my sketch and voila. I thought maybe it was because of instance mode... but no.
kind regards.

[2015-10-20 04:54] Diex commented on #1009
sorry: I found it.
it's about line();

[code]

[2015-10-20 10:19] mjanssen opened #1018 "Preload function in different sketches"
We're trying to create multiple sketches (based on https://github.com/processing/p5.js/wiki/p5.js-overview#instantiation--namespace). Preloading audio files does return the error `loadSound is not a function`.

The setup is as follows:

[code]

The setup function is initialized before all sounds are loaded (getting a buffer error when playing a sound in the setup()).

Is it even possible to have d

[2015-10-20 10:32] lmccart commented on #1018
you will need to say s.loadSound() and make sure the p5.sound.js library is included in your project.

[2015-10-20 10:59] mjanssen commented on #1018
Oh wow, that solved it! Thank you!

[2015-10-20 10:59] #1018 closed

[2015-10-20 13:33] shiffman opened #1019 "createVideo() optional callback when loaded as with createImg()"
I'm working on an example that maps a slider to the `duration()` of a video, however, this fails (as it should) since the video duration doesn't exist instantly:

[code]

I propose adding a callback for when the video is ready like we have with `createImg()`, i.e.

[code]

[2015-10-20 13:35] shiffman commented on #1019
Um, I think this exists already!  Sorry, was looking in the wrong place.  But at least my thinking is right!

[2015-10-20 13:35] #1019 closed

[2015-10-20 13:45] shiffman opened #1020 "Scrubbing video"
I'm trying again from #1019 (here's some advice to myself -- read the reference before filing an issue!).

I'm trying to create a "video scrubbing" example and am running into some issues.  I'm not sure if this is a p5.js specific issue of an HTML5 media element issue, I will continue to investigate.   `p5.MediaElement` cannot seem to keep up with this:

[code]

Certainly I could turn on the contr

[2015-10-20 13:48] shiffman opened #1021 "time() and createVideo() callback"
In tandem with #1020, I am filing an issue about calling `time()` and the video callback.  This is my example:

[code]

The issue with this example is that `ready()` is called whenever `time()` is called, presumably b/c the video "playhead" is moved and then another "readytoplay" callback is triggered.  But this results in many sliders being made.

Is this native behavior we should alter or keep?

[2015-10-20 13:56] shiffman opened #1022 "capture, size(), and loadPixels()"
I'm working on some examples that use the following idea:

1. Open a capture with `createCapture(VIDEO);`
2. Size that capture down to lower resolution with `size()`.
3. Examine the pixels at that lower resolution.

It looks like to me that the current behavior of `p5.MediaElement` is to only change the DOM element size with `size()` and that the underlying canvas that is used with `loadPixels()`

[2015-10-20 13:58] shiffman commented on #1022
I'm working on some examples that use the following idea:

1. Open a capture with `createCapture(VIDEO);`
2. Size that capture down to lower resolution with `size()`.
3. Examine the pixels at that lower resolution.

It looks like to me that the current behavior of `p5.MediaElement` is to only change the DOM element size with `size()` and that the underlying canvas that is used with `loadPixels()`

[2015-10-20 14:00] shiffman commented on #995
While trying out a workaround related to #1022, I found that I wanted access to the `p5.Graphics`

[2015-10-20 14:02] shiffman commented on #995
While trying out a workaround related to #1022, I attempted to get access to the pixels of a `p5.Graphics` object, i.e.

[code]

The console shows:

[code]

I think this is probably the same question as this issue?  Should we support `copy()` and `loadPixels()` and `pixels` for `p5.Graphics` objects?  I'm now really leaning towards yes!

[2015-10-20 20:18] shiffman opened #1026 "p5.MediaElement and rate/speed"
I don't see functionality to adjust the rate or speed of playback in `p5.MediaElement`.  (This came up in class today when looking at video files.)  Is this something we can easily add and/or is there a reason not to?

[2015-10-20 21:35] DarkPrince304 commented on #1026
I guess the todo here would be to just access the `video.elt.playbackRate` and set it accordingly. I would like to work on it if you could tell me how do you want its implementation to be done?

[2015-10-21 15:57] dhowe commented on #815
So, I think the problem was that the function I was testing returned a string... and as best I can tell there's no way to make such this work in preload(), at least not without changing the function and wrapping the result in some other object? If so, we may want to document this for library authors...

[2015-10-22 01:31] shiffman opened #1028 "dist() and 3D coordinates"
Now that we have `WEBGL` support I think that `dist()` should be expanding to accomodate 3D coordinates, i.e.

[code]

This is also particularly useful for comparing RGB colors.

I'm happy to submit a pull request for this feature assuming everyone agrees.

[2015-10-22 02:27] shiffman commented on #1022
I've looked into this a bit more and pinpointed that this can be fixed by changing the following:

https://github.com/processing/p5.js/blob/master/lib/addons/p5.dom.js#L1513

[code]

to:

[code]

@lmccart shall I got ahead and implement this?