[2021-04-13 04:31] lmccart commented on #5173
@DavidWeiss2 if you'd like to submit a PR with a note on the reference pages please do.

[2021-04-13 05:58] TohWenXiang commented on #5144
I've tested it on the Brave Browser Version 1.22.71 Chromium: 89.0.4389.114

[2021-04-13 06:04] TohWenXiang commented on #5144
Greyfrog over at StackOverflow is having the [same issue](https://stackoverflow.com/questions/64614533/p5js-instance-mode-with-sound-library-is-throwing-error) as well.

[2021-04-13 09:10] DavidWeiss2 commented on #5173
Thanks. I will do that.

[2021-04-13 16:42] stalgiag commented on #3870
Hi @davepagurek it has been a long time since someone has looked into this. thank you for the well-written issue and offer to help. There is no one currently assigned so I am happy to assign you.

[2021-04-13 16:45] wxyEquation commented on #4956
Also point() function also throw an error

[2021-04-13 16:54] stalgiag commented on #5174
Hi @sandersturing thanks for the well-written issue. This is an example of something that was simply forgotten. Often when new features are added (gifs in this case) it is easy to forget all of the different ways people will expect to be able to use them.

If someone wants to take this on they will need to update the [mask](https://github.com/processing/p5.js/blob/main/src/image/p5.Image.js#L636)

[2021-04-13 18:18] two-ticks commented on #5175
I tried the same and read the [documentation](https://p5js.org/reference/#/p5/background), it mentions `background(image, [a])`. It is not working properly. I would like to work on this issue if you are not working on it.

[2021-04-13 18:21] Benoit1980 commented on #5170
thank you so much, I will give it a shot this week end as I am doing it with my kids, trying to have a bit of fun :-)

[2021-04-13 18:39] paulcanning commented on #5170
For the most part, the documentation is great and the p5js web editor makes experimentation super easy and quick.

[2021-04-13 19:54] lmccart commented on #5050
As @limzykenneth points out in https://github.com/processing/p5.js/issues/5050#issuecomment-782607376 I think the `attribute` method covers this. Additionally, please take a look at the [access statement](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md), I feel like I need more info to understand how your current response addresses the groups listed.

[2021-04-13 21:28] wxyEquation opened #5179 "blend mode not working properly on graphics"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: tested on 1.3.1 and 1.2.0
- Web browser and version: chrome 90.0.4421.5
- Operating System: Windows
- Steps to reproduce this:

Setting erase strength to a low value and using it repeatedly cannot fully erase the graphics.

The issue occured when I tried to do a fas

[2021-04-14 01:22] DavidWeiss2 commented on #5050
It helps people without prior coding experience have a more consistent coding environment to find all the variables passed to a slider as functions.

I think that a consistent environment will also help people that speak other languages.

[2021-04-14 06:53] sandersturing commented on #5174
Hello @stalgiag, thanks for the reaction! Is this something I can implement myself locally for now?

[2021-04-14 15:07] LEMIBANDDEXARI opened #5180 "French localization for p5js.org"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Translation of the site https://p5js.org in French, to facilitate its use by the French-speaking community.

#### Most appropriate sub-area of p5.js?

- [X] Localization

[2021-04-14 15:47] #5173 closed

[2021-04-15 00:21] JalokimFreelance opened #5181 "Issue with setting default text-leading after textSize() and textFont()"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Would make documentation about text less confusing.

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)

#### Feature enhancement details:
If we use textLeading(value1), and then use textSize(value2), it will change current text le

[2021-04-15 10:56] Rahulm2310 opened #5182 "Update the Hindi contributor docs README.md"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-15 10:58] Rahulm2310 commented on #5182
I would like to work on this 🙂

[2021-04-15 12:35] limzykenneth commented on #5182
@Rahulm2310 Go ahead, I'll assign the issue to you. Thanks.

[2021-04-15 12:47] limzykenneth commented on #5181
Good find. @dhowe Can you perhaps confirm the intended behaviour here and if the documentation do indeed need to be updated @JalokimFreelance you can file a PR with a fix then. Thanks.

[2021-04-15 13:49] JalokimFreelance commented on #5181
Sure, waiting for confirmation then :)

[2021-04-15 14:30] dhowe commented on #5181
So I believe this is actually a bug (nice find @JalokimFreelance)
We want to use a default leading when set a new font, or change textSize, _only_ if it has not been set before
The bug is that it is always being done now.

[2021-04-15 15:06] JalokimFreelance commented on #5175
I guess the easy fix would be just using tint() before using image().
https://p5js.org/reference/#/p5/tint

[2021-04-15 23:49] DavidWeiss2 commented on #5151
I think that corrently is very clear.
Magnitudes is size of the vector.
Len is size from one point to another.

[2021-04-16 05:39] DavidWeiss2 commented on #3569
This is not presented in the current version.
@rruubboott, can you try to reproduce it on your machine? (I tried with the same version of the webserver but on windows and the current version of p5).

[2021-04-16 09:44] dhowe commented on #5181
PR #5186 should resolve this, using the user-set leading value regardless of whether a new font or size is set. This means that, in the example 1 above, the leading will stay at the user-set value of 20, even when the font size is changed to 100. And in example 2, the leading will stay at the user-set value of 20 for all 3 fonts.

[2021-04-16 10:11] philipkrueger opened #5187 "beginShape stroke() and noFill() issues in WEBGL if it's not in the p5 editor"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-04-16 16:39] stalgiag commented on #5187
Hello and welcome!

I am not able to reproduce. Tried with -
Mac Big Sur 11.2.1
Firefox 87, Chrome 90.0.4430.72, & Safari 14.0.3

Your example code produces results identical to the first screenshot in all of those browsers for me. I tried with the online editor and locally. Is there any console output? Do you have a link to the Codepen sketch?

[2021-04-16 16:42] #3870 closed

[2021-04-16 16:42] #5167 closed

[2021-04-16 19:17] stalgiag commented on #5174
This works okay in a pinch.
[code]

[2021-04-16 21:21] eveevans commented on #5176
I think this is causing the conflict.

https://github.com/processing/p5.js/blob/3f32cbf4d3ac05773f91922bd9e0e881307a1937/src/webgl/interaction.js#L59

[2021-04-16 21:48] eveevans commented on #5176
== UPDATE

Actually I found the problem. The conflict is with the Right/Left Click conditional. (Not sure how its handle on mobile)

https://github.com/processing/p5.js/blob/3f32cbf4d3ac05773f91922bd9e0e881307a1937/src/webgl/interaction.js#L105

If I comment the RightClick conditional, and just left the left click behavior. It works as expected.
Of course this is not the expected behavior on Deskt

[2021-04-17 17:13] wilkerpaiva opened #5189 "I can't use await in instance mode"
![Sem título](https://user-images.githubusercontent.com/81369225/115121056-119f8380-9f87-11eb-8505-8cfbb49fed60.png)

Everything in the code below is working less the async function with await in the instance mode. The Chrome console is **returning the fallowing error: Uncaught (in promise) ReferenceError: faceapi is not defined.**

I think the error might be something in how I'm using the p5 elem

[2021-04-17 19:42] aferriss opened #5190 "Push and pop are not being called on graphics objects."
Hi all, it seems like push() and pop() are not being called behind the scenes when using translation / rotations with graphics objects. For example the following should produce a spinning rect:

[code]

In that example, I didn't need to call push and pop because p5 clears the translations behind the scenes for me.

However if you do the same thing but use a graphics object, the translations and ro

[2021-04-17 19:44] jgordon510 opened #5191 "requestPointerLock() documentation should note that it must be called from the user's callback"
- [X ] Documentation

#### Details about the bug:
The page at https://p5js.org/reference/#/p5/requestPointerLock notes that "not all browsers support this feature."  It should also note, however, that the feature requires being called in a user callback (a click or something) in most browsers.  Chrome definitely requires it, similar to audiocontext.

[2021-04-17 20:52] aferriss commented on #5190
Actually, I just noticed that this is by design, and you need to call `graphics.reset()` if you want the same behavior. I'm going to close this since everything is working as intended.

[2021-04-17 20:52] #5190 closed

[2021-04-17 21:25] limzykenneth commented on #5189
I don't see anywhere in your code where `faceapi` is defined and since that's the error Chrome is reporting you should check to make sure `faceapi` is defined somewhere in your code first.

[2021-04-17 21:29] limzykenneth commented on #5179
If it is happening also when using `globalCompositeOperation`, it probably should be considered a problem with the browser itself and not something p5.js can fix.

[2021-04-17 22:04] wilkerpaiva commented on #5189
the code below (the code is from Joey Lee GitHub)  works nicely, but when adapted the code to instance mode of p5.js I had  that problem.

'''javascript

const MODEL_URL = '../libraries/face-api/weights/';
let vid;
let expression;
let btn;
let div;

// function preload() {
//     faceapi.loadSsdMobilenetv1Model(MODEL_URL)
//     faceapi.loadFaceLandmarkModel(MODEL_URL)
//     faceapi.loadFaceRecog

[2021-04-17 22:05] wilkerpaiva commented on #5189
the code below (the code is from Joey Lee GitHub) works nicely, but when adapted the code to instance mode of p5.js I had that problem.

'''javascript

const MODEL_URL = '../libraries/face-api/weights/';
let vid;
let expression;
let btn;
let div;

// function preload() {
// faceapi.loadSsdMobilenetv1Model(MODEL_URL)
// faceapi.loadFaceLandmarkModel(MODEL_URL)
// faceapi.loadFaceRecognitionModel(MO

[2021-04-18 00:25] #5182 closed

[2021-04-18 00:54] #5170 closed

[2021-04-18 00:55] lmccart commented on #5189
@wilkerpaiva we really need an isolated code snippet that demonstrates the problem in order to help here. otherwise, I would suggest posting on our forum for more general coding help: https://discourse.processing.org/

[2021-04-18 00:57] lmccart commented on #5175
@two-ticks great, I will assign you

[2021-04-18 00:58] lmccart commented on #5169
thanks @two-ticks I have assigned you

[2021-04-18 02:46] outofambit commented on #5191
Hi @jgordon510, thanks for filing this! I hadn't heard this before but it could certainly be true since i think that API is still evolving.

However, I tried the example at https://p5js.org/reference/#/p5/requestPointerLock in Chrome (version 90.0.4430.72) and it worked fine. 😕 Does that example work for you in Chrome? (You should see the little sphere mesh rotate around when you move your mouse.

[2021-04-18 04:29] jgordon510 commented on #5191
I think you misunderstand what pointerlock does: "You should see the little
sphere mesh rotate around when you move your mouse."

The example is moving because it's panning and tilting the camera by movedX
and movedY respectively.  It has nothing to do with the
requestPointerLock().

As the description states: "The function requestPointerLock() locks the
pointer to its current position and makes i

[2021-04-18 08:06] Rahulm2310 opened #5192 "Add missing hindi translations to unit_testing.md file"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-18 08:07] Rahulm2310 commented on #5192
@limzykenneth @montoyamoraga I would like to work on this 🙂

[2021-04-18 16:34] wxyEquation commented on #5179
further testing shows that the issue also occurred on plain canvas.
It could be originated from the float point precision problems of the alpha value. Nevertheless it is out of concern for p5 library.

[2021-04-18 16:34] #5179 closed

[2021-04-18 23:46] #5169 closed

[2021-04-19 10:52] sandersturing commented on #5174
@stalgiag Thank you so much, this works well. You're adding the mask to every frame beforehand and save that in the image object itself, right?

This will do perfectly for now. Hope it will be implemented in future releases.

Thanks again!

[2021-04-19 16:34] DavidWeiss2 commented on #5130
Or to open an issue on the browser repo.

[2021-04-19 20:51] limzykenneth commented on #5130
Closing as not directly related to p5.js

[2021-04-19 20:51] #5130 closed

[2021-04-19 21:12] limzykenneth commented on #5191
I can see this behaviour in Firefox as well. A note about needing user interaction in order to request pointer lock is probably needed in the documentation here and the example be edited to something like.

[code]

[2021-04-19 21:20] limzykenneth commented on #5189
@wilkerpaiva The latest code you provided also doesn't have `faceapi` defined anywhere so I can't really debug it. As mentioned it would be best if you can pare down the code to a minimal example that we can quickly read and run then we'll be able to isolate the issue better. Thanks.

[2021-04-19 21:24] limzykenneth commented on #5181
@dhowe That sounds good to me and seems intuitive as well (not much stuff happening in the background automatically). I'll have a look at the PR.

[2021-04-19 21:26] #5181 closed

[2021-04-19 21:37] limzykenneth commented on #5160
Adding a return to `angleMode()` call without argument should be a doable solution.

[2021-04-19 21:48] limzykenneth commented on #5180
On a personal note, I'm currently working on some research into translation on open source software and will probably need some help/perspectives of people working on translations as part of my research. If you are interested to be involved (will most probably be working on p5.js related materials), do let me know and I'll contact you with more details when available.

[2021-04-19 22:01] limzykenneth commented on #5152
It depends on the final diff with the main branch here. If the diff looks clean then it's probably fine. In this case there probably shouldn't be a diff for `data.min.json` and as long as that file doesn't exist in the diff when filing a PR, there should be no problem.

[2021-04-19 23:04] JetStarBlues opened #5195 "WebGL background & clear odd behaviour"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 1.2.0, 1.3.1 (I suspect this bug is not version specific)

#### Description of the bug:

When you try to clear the screen (with [`clear()`][0] or [`background()`][1]), a weird subtle thing happens.

Consider this snippet (live version [here][2]):

[code]
It should draw a box stroked with a lime-gre

[2021-04-20 19:39] #5192 closed

[2021-04-20 21:38] wilkerpaiva commented on #5189
Hello, thanks for the answers and sorry for the delay in my response. I made two examples in p5.js Web Editor:

1. This one is working perfectly and uses global mode of p5.js (this code doesn't work here but the exactly same code is available on Joey Lee GitHub through this link [)](https://joeyklee.github.io/face-api-expressions-demo/webcam) -->>
link: [](https://editor.p5js.org/wilkertwitter/ske

[2021-04-20 21:45] wilkerpaiva commented on #5189
Oh, ok! If you guys think this topic isn't in the right place i can move to processing forum without any problems.

[2021-04-20 23:51] leokamwathi commented on #2309
@all-contributors please add @leokamwathi for code

[2021-04-21 05:13] JetStarBlues commented on #5120
Here is an [example][0] illustrating how access to the uv values can be used for uv mapping.

[0]: https://editor.p5js.org/acedean/sketches/OLcnC5nUt

[2021-04-21 05:37] LEMIBANDDEXARI commented on #5180
Always a pleasure to help if the project pleases me, I await your news to present me the thing.
As for p5js, I will do an unofficial translation as you suggest.

[2021-04-21 06:19] JetStarBlues commented on #5120
@aferriss It occurred to me that a similar technique could be used to "use a shader as a texture". The [current example][0] in the documentation uses `createGraphics`. Here is the same example [tweaked][1] to skip this step. I'm planning to create an issue on the p5.js-website repo where I cover in more detail the changes involved. But I wanted to share it quickly here before calling it a day.

[0

[2021-04-21 10:19] LEMIBANDDEXARI commented on #5180
To follow the unofficial French translation of p5.js -> https://github.com/LEMIBANDDEXARI/p5js-unofficial-french-translation/blob/main/READMEus.md
While waiting for a response from the official p5.js team.

[2021-04-21 12:27] DavidWeiss2 commented on #2309
@all-contributors please add @DavidWeiss2

[2021-04-21 20:10] stalgiag commented on #5191
Yes, agree. I believe that this requirement wasn't in place when this example was made.

[2021-04-21 20:42] stalgiag commented on #5195
Hi @JetStarBlues thanks for the thorough issue!

I think this is due to subpixel rendering or antialiasing. If you look at your example in Chrome with `setAttributes('antialias', false)`, you should no longer see the artifacts. Whereas, this will have no impact in Firefox which will display the artifact at certain zoom levels but not others. The last example you posted seems the most correct to me

[2021-04-21 23:18] jywarren opened #5197 "WebRTC/getUserMedia video capture freezes app when pointed at very bright things?"
OK, this is a really weird one and i'm sorry! It may also be upstream in Chrome but I couldn't reproduce it with another WebRTC/getUserMedia application (https://infragram.org/sandbox for example worked fine)

Basically very bright things such as daylight sky or bright lights freeze the app entirely, requiring a restart. But there are no errors in the console. I attached a video at the bottom...

[2021-04-22 03:29] soundreactor commented on #2847
i find hiding is delicate. moving it out of the way works great for me. just add this css to the camera video element and don't try to make it invisible:
[code]

[2021-04-22 03:29] soundreactor commented on #2847
i find hiding is delicate. moving it out of the way works great for me. just add this css to the camera video element and don't try to make it invisible:
[code]

[2021-04-22 04:14] outofambit commented on #5189
hey @wilkerpaiva yeah this is probably best answered in the forum, thank you for understanding! all the info you shared in https://github.com/processing/p5.js/issues/5189#issuecomment-823617021 would be great posted there. :)

[2021-04-22 04:14] #5189 closed

[2021-04-22 10:44] DavidWeiss2 commented on #2847
And it will resolve the problem?

[2021-04-22 12:31] DavidWeiss2 commented on #2309
@all-contributors please add @DavidWeiss2 for code, talk, review, doc

[2021-04-22 13:00] Rahulm2310 opened #5199 "Hindi translation of es6-adoption.md file under contributor-docs"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-22 13:01] Rahulm2310 commented on #5199
@montoyamoraga @limzykenneth Can I be assigned this 🙂

[2021-04-22 20:17] lisajamhoury opened #5200 "Destination rectangle incorrect on image() with dx,dy, dWidth, dHeight"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-04-23 05:17] Aloneduckling commented on #5152
@limzykenneth, I found the reason for the error. The reference folder was not generated because I didn't run tests after making the changes to the code which resulted in pre-commit errors. running `npm test` or `npm run grunt` will fix this and generate the reference folder.

[2021-04-23 05:27] joeyouss opened #5201 "Online discussion channel"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Since there are a lot of people like me who would want to be a part of a more dynamic communication channel for p5.js, I think an online discussion channel on discord or slack would be really helpful.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibilit

[2021-04-23 14:27] jywarren commented on #5197
If anyone can reproduce this on another devoce or browser that would maybe help narrow down what level the error happens at!

[2021-04-23 14:37] #5199 closed

[2021-04-23 18:16] AhmadMoussa commented on #3336
Don't want to necro this old issue, but how expensive is `drawingContext.setLineDash();` performance-wise?

[2021-04-23 20:27] lmccart commented on #5201
hi @joeyouss have you checked out our [forum](https://discourse.processing.org/)?

[2021-04-24 03:15] Aloneduckling opened #5203 "centerY and centerZ examples missing </code></div> closing tags"
@Aloneduckling @stalgiag – just hit a hiccup while loading the latest `data.json` refs into P5LIVE.. went searching and found out – the documentation examples for both `centerY` and `centerZ` are missing their `</code></div>` tag at the end...

The effects can be seen on website refs: [centerY](https://p5js.org/reference/#/p5.Camera/centerY) + [centerZ](https://p5js.org/reference/#/p5.Camera/cente

[2021-04-24 06:23] joeyouss commented on #5201
Yes I did, but could you provide any link for GSOD discussions and queries in particular? Couldn't find any tag related to in it the forum

[2021-04-24 14:13] ffd8 commented on #2130
@stalgiag thanks for the tip above to checkout csg.js! A student was really interested in this capability, so I started doing some research = not quite as easy as I hoped... Definitely makes sense as a library rather than built in function (maaybe) – and I see there's a few THREEjs bridges ([ThreeCSG](https://github.com/chandlerprall/ThreeCSG), [THREE-CSGMesh](https://github.com/manthrax/THREE-CSG

[2021-04-25 05:37] SanjaySinghRajpoot commented on #5166
Currently, the `createCapture` div has a `notest` class I think changing it with `norender` class will work out for this issue. If yes, then I would love to fix this issue. Otherwise, please suggest changes for this bug.

[2021-04-25 15:25] Michal8705 opened #5206 "Difference between createinput() and rect() lengths"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-25 16:15] Benoit1980 commented on #5170
Sorry for the delay in replying to you but unfortunately, I cannot try the solution. I can't get P5 to work in vue.js, keep getting 👍 "ReferenceError: loadSound is not defined"

[2021-04-25 16:18] paulcanning commented on #5170
You might want to share some code if you want some help. Initial thought is that p5 soubd is not being loaded in. Its a separate library, so make sure it's included in your project

[2021-04-25 20:08] outofambit commented on #5154
Hey @Brahvim, thanks for filing this request! Did you have any thoughts on how would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js? This seems like an interesting idea (and the DOM module is one of my favorite parts of p5.js!) but I'm having trouble connecting this idea to [our focus on access](https://github.com/processi

[2021-04-25 21:34] acolle opened #5207 "Unexpected behaviour with select method"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-04-25 22:05] micuat commented on #5207
thanks for opening the issue! I highly recommend to add pointer to the forum

https://discourse.processing.org/t/unexpected-behaviour-with-select-method-in-instance-mode/29612/

also I made a simpler code that demonstrates the issue

https://editor.p5js.org/micuat/sketches/YiD4oRMTk

[2021-04-25 22:14] micuat commented on #5207
as I updated in the sketch, it has nothing to do with instance mode. I think in this line
https://github.com/processing/p5.js/blob/main/src/dom/dom.js#L167
the div is misunderstood as radio buttons and `_wrapElement` is returning a new element.

[2021-04-26 02:07] Brahvim commented on #5154
Uh-oh!~ Looks like I used that tag wrongly! Didn't really know what it meant. I am sorry, I will remove it if I can. Thank you for addressing the mistake.

[2021-04-26 07:53] rt1301 commented on #5206
@Michal8705 I replicated your code and founded that the Rectangle is equal to 100px in width and height. The Web Browser adds some default margin and padding to all the elements and hence the actual dimension of the input tag is not 100x100 in size.
![image](https://user-images.githubusercontent.com/63252510/116048079-6c756100-a692-11eb-8f18-770d7f85d39a.png)

My above screenshot shows the actual

[2021-04-26 14:56] #5203 closed

[2021-04-26 21:58] acolle commented on #5207
Thanks for looking into that @micuat
I tested it out and the issue persists in global mode as well you're right. I noticed the issue after switching to instance but that was a wrong assumption. I updated the title of the issue.

[2021-04-27 06:24] Aloneduckling commented on #5206
@Michal8705
@rt1301 is right. I wanted to add more info that would help you.
[code]
this is a CSS property default behavior of which is making the dimensions of the input element more than (100 X 100)px, so this is not a bug in p5.js but a default behavior of the input element.
You can read about it [here](https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing).

You can ask questions like th

[2021-04-27 08:49] Rahulm2310 opened #5208 "Adding Hindi translation of the README.md"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
The README.md of the project is only available in English which makes it inaccessible to Hindi speakers. It is the first file one should read when getting started a project. By translating it in hindi, it will be accessible to hindi speakers who want to get star

[2021-04-27 08:51] Rahulm2310 commented on #5208
@montoyamoraga @outofambit what do you say?

[2021-04-27 14:50] montoyamoraga commented on #5208
hi @Rahulm2310 thanks, it would be great to have it, but also i would prefer first to have a system so that if the english README.md changes, we have a notice for the translation that needs to be updated and where, does that make sense? :)

[2021-04-27 17:08] #5206 closed

[2021-04-27 17:22] matiasvlevi opened #5210 "Matrix Math for p5js"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-04-27 18:07] #5152 closed

[2021-04-27 20:07] Michal8705 commented on #5206
@Aloneduckling
Thanks for your help, Your code solved the problem and the link to the forum will definitely be useful for future.

@rt1301
Thanks for the analysis and useful information

[2021-04-27 23:54] topherbb opened #5211 "angleMode() doesn't work in instance mode"
I don't think angleMode() works in instance mode. I am very new here, so I don't know how much of a problem this is but I recently downloaded the p5.js template to my local hard drive, and I'm trying to run angleMode() but I keep getting an error message. It's not a huge deal for me (it should be a pretty easy math problem to solve) but I thought you might want to know!

sketch.js:17 Uncaught Refe

[2021-04-28 08:49] Rahulm2310 commented on #5208
@montoyamoraga it completely makes sense. Although, I was searching a workaround for this but couldn't find a way to automate this process.

[2021-04-28 09:48] limzykenneth commented on #5211
When you are using instance mode, constants like `DEGREES` need to be prefixed with the p5 object as well, eg:
[code]

[2021-04-28 12:23] Aloneduckling commented on #5166
@SanjaySinghRajpoot, no need to remove `notest` class just add `norender` class.
[code]
this should work

to read more you can check the [inline documentation](https://github.com/processing/p5.js/blob/main/contributor_docs/inline_documentation.md)

[2021-04-28 12:25] SanjaySinghRajpoot commented on #5166
ok got it. I would like to work on this issue. Could you please assign this task to me. Thanks 😀

[2021-04-28 12:38] Aloneduckling commented on #5166
@SanjaySinghRajpoot, I cannot assign tasks, I am not a member. You can just work on the issue right away.

[2021-04-28 16:22] montoyamoraga commented on #5208
yeah it's tricky, let's see if other people can help ~

[2021-04-28 19:14] #5211 closed

[2021-04-29 14:02] micuat commented on #5154
@outofambit just a thought but can this be helpful for listing descriptions for screen readers? In fact the current implementation of `describeElement` generates a table in a naive way, but this could be wrapped by `createTable` if that is implemented as part of dom library
https://github.com/processing/p5.js/blob/main/src/accessibility/describe.js#L174

[2021-04-29 18:54] Marcos-Vitor123 opened #5214 "A bolinha fica pendendo para direita usando o código abaixo:"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-04-29 18:55] Marcos-Vitor123 opened #5215 "A bolinha fica pendendo para direita usando o código abaixo: The ball hangs to the right using the code below:"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-04-29 18:57] #5214 closed

[2021-04-29 18:58] montoyamoraga commented on #5215
hi @Marcos-Vitor123 for code questions please use our forum
at https://discourse.processing.org/
and follow the guidelines there, thanks!

[2021-04-29 18:58] #5215 closed

[2021-04-29 19:31] #5166 closed

[2021-04-29 19:32] lmccart commented on #5210
Thanks @matiasvlevi can you please answer the first question in the template: How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

[2021-04-29 20:12] jywarren commented on #5197
Noting that this does NOT seem to happen with latest chrome desktop and a built-in iMac camera.

[2021-04-29 21:38] matiasvlevi commented on #5210
It would help increase access for beginners.
Having an easy way to play around with matrices lowers the barrier for beginners wanting to experiment with such concepts. I feel that this is what p5js does, it makes things easier & simpler allowing for an easier access for beginners.

[2021-04-30 01:40] Brahvim commented on #5154
*Good idea,* thank you!

[2021-04-30 02:52] Marcos-Vitor123 commented on #5215
Muito obrigado! Consegui resolver meu problema. Era um erro em meu código
mesmo, por isso a bolinha pendia para a direita. Agora está tudo certo.
Thank you very much! I managed to solve my problem. It was an error in my
code, so the ball hung to the right. Now everything is fine.

Em qui., 29 de abr. de 2021 às 15:58, aarón montoya-moraga <
***@***.***> escreveu:

[2021-04-30 10:52] hollunder commented on #4401
We just encountered the same issue when trying to build a textured cube from quads.
Any attempts to texture quads just fail silently.
The same seems to be true for `QUAD_STRIP`.

The one workaround a colleague found was to use a irregular polygons.
One `beginShape()` without any "kind" specified, with four vertices per "quad".

The thing that bothers me most about it is that it fails silently. One

[2021-05-01 08:02] Rahulm2310 opened #5216 "Improvements in the hindi translation of contributor docs"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-01 08:04] Rahulm2310 commented on #5216
@montoyamoraga @lmccart Can I be assigned to this 🙂

[2021-05-01 14:37] Heinrichxiao commented on #3492
I also got this same error just using loadImage

[2021-05-02 08:13] Brahvim opened #5219 "Typo in a p5.js reference page!"
https://github.com/processing/p5.js/blob/1250864d63e6353233789f0059f62ebe0188a2a5/src/core/environment.js#L664

The word 'editor' is misspelled.

I also have an improvement suggestion for the code on this page, where can I submit it? Do I create a new issue for it..? Can I mention it here? Thank you for helping! :D

[2021-05-02 08:22] Brahvim commented on #5154
I recently found out about the p5 `saveTable()` method. Maybe it is possible to generate an HTML table with it and add that to the HTML file? I think that is possible too. Might not need to keep this issue open if that is possible to do.

[2021-05-02 09:13] micuat commented on #5154
@Brahvim it's close but not exactly what you want - it's for outputting a file instead of DOM
https://github.com/processing/p5.js/blob/374acfb44588bfd565c54d61264df197d798d121/src/io/files.js#L1747

[2021-05-02 10:31] Brahvim commented on #5154
Yes, I know that, and that's what I said - since this generates markup for a table, why not find/implement a way to insert that code into the ```index.html``` file? Given an ```id``` attribute, it'll then be very easy to apply style information, etc.

[2021-05-02 10:42] micuat commented on #5154
@Brahvim I get your point but it sounds a bit like hotglue / adhoc solution to me. If this is going to be implemented, I think it's fair to make a new "class" like `TableElement` to manage it because the existing solutions for `describeElement` and `saveTable` are specific to output a table and, for example, you cannot simply add a row/column/cell.

There is also a problem with `p5.createElement("

[2021-05-02 14:16] Brahvim commented on #5154
I see. Should probably leave it up to the developers of p5 now...?

[2021-05-02 16:37] limzykenneth commented on #5219
You can file a PR to fix the typo. For additional suggestions please open and new issue and fill out the issue template. Thanks.

[2021-05-03 01:39] matiasvlevi commented on #5210
If this sounds like an interesting addition to p5js, I would have no problem being assigned to this task.

[2021-05-03 11:32] Rahulm2310 commented on #5208
@lmccart @limzykenneth can you help us out here 🙂

[2021-05-04 10:30] SanjaySinghRajpoot opened #5221 "Errors in Hindi Translation of contributing documentation file"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-05 03:14] cryptochap opened #5222 "Redesigning the p5.js website for better accessibility and documentation"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [x] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-05-05 03:15] cryptochap commented on #5222
Processing p5.js web page refactor and redesign

[2021-05-05 10:57] Eric-co commented on #5222
uhhh..... i dont understand a fuck about coding...Damn

[2021-05-05 11:05] cryptochap commented on #5222
I believe you can learn in no time

[2021-05-05 17:32] montoyamoraga commented on #5222
hi, thanks!
there is currently a big redesign in progress,
and also i suggest starting with specific contributions in mind,
and some big projects we are currently looking for help are detailed here
https://github.com/processing/p5.js/wiki/Google-Season-of-Docs
:)

[2021-05-05 17:32] #5222 closed

[2021-05-05 17:40] cryptochap commented on #5222
Ok @montoyamoraga its actually part of my proposal as means of contribution for GSoD. Thanks for the response

[2021-05-05 18:48] #5219 closed

[2021-05-05 19:55] brettbibby opened #5226 "Add scale to Editor preview pane"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Enable the LED creative coding community better.

#### Most appropriate sub-area of p5.js?
[X ] Other (specify if possible)
EDITOR

#### Feature enhancement details:
P5.js is commonly used for creative coding for LED projects. The "display" sizes of LED strips

[2021-05-06 00:31] Brahvim commented on #5219
Thank you for the help, @limzykenneth! Rhank you for helping with fixing the issue, @cryptochap and thank you, @montoyamoraga, for automatically closing the issue!~

[2021-05-06 17:26] maxdevjs opened #5227 "[Wiki] Google Season of Docs wiki page (broken) links"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-05-06 21:06] jywarren commented on #5197
Also tested on Chrome on a Samsung tablet and did not encounter this. I'm wondering if it is... device specific to Pixel phones?

[2021-05-06 23:15] stalgiag opened #5228 "GIFs that don't loop break unless reset before play()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-07 06:42] snowbellows commented on #5228
Hi! I'd be interested in having a look at this. I've never contributed before but I'm a javascript developer in my day job and have been having a lot of fun with p5js and I'd like to help out if I can. I'll fork and clone the repo, have a poke around

[2021-05-07 06:49] Aloneduckling commented on #5228
@stalgiag,
I found out that the error is occurring here:
https://github.com/processing/p5.js/blob/42e209b005bd4bfdb649a4ba55ccfc28a9de6f09/src/image/p5.Image.js#L233

I think changes should be made in the play function
https://github.com/processing/p5.js/blob/42e209b005bd4bfdb649a4ba55ccfc28a9de6f09/src/image/p5.Image.js#L1084

[code]
We can check the above condition you mentioned and if it is fal

[2021-05-07 07:27] snowbellows commented on #5228
@Aloneduckling I found the same thing and agree that the fix can be implemented in the play function.

In your example code with the else branch we would probably want to add `this.gifProperties.playing = true` after setting the frame to 0 or calling reset if the plan was to take that approach. I feel, considering there is a functional difference between `this.setFrame(0)` and `this.reset()`, it m

[2021-05-07 07:37] Aloneduckling commented on #5228
@snowbellows, While going through the repo I found that it is mentioned in the comment somewhere that if the loopCount is null then the GIF loops forever so I added it to my example code.

[2021-05-07 07:53] snowbellows commented on #5228
@Aloneduckling interesting! I'll be honest I couldn't get `gif.loopCount = null` or `gif.loopLimit = null` to make the gif from the above example loop forever but maybe I'm just tired.

I would like to solve the issue if that's okay with you? (I don't want to steal your thunder as your code above basically solves it) I can write some tests and stuff and look into raising a PR tomorrow

[2021-05-07 08:27] Aloneduckling commented on #5228
@snowbellows,
By all means, solve this issue.
Regarding the `loopCount` and `loopLimit`, I think the stewards can help you with that (I don't have enough knowledge about this part of the repo).

[2021-05-07 13:49] stalgiag commented on #5228
Hi all! Happy to see the conversation.

`displayIndex` is the index of the currently displayed frame in `gifProperties.frames`. I don't think we need to reset for the coder or even log an error. If I pressed play on a video that was at its end and looping wasn't on, I would expect nothing to happen.

Instead, I think we can just ensure that `displayIndex` is never outside the bounds of 0 and `gifP

[2021-05-08 04:20] myloooon commented on #2865
Hi all! I'd love to contribute whatever would be most helpful right now. :)

[2021-05-08 04:27] snowbellows commented on #5228
@stalgiag awesome, thanks for that! I'm just wondering if you think the `gifProperties.displayIndex >= gifProperties.frames.length` check should be performed in the `play` method or in the `_animateGif` method where [that check you linked to](https://github.com/processing/p5.js/blob/main/src/image/p5.Image.js#L231) is?

My thoughts are that it would be good to do it in the `play` method and log a

[2021-05-08 22:42] #5216 closed

[2021-05-09 01:43] outofambit opened #5231 "codecov has started commenting on all pull requests"
Somehow [our configuration for codecov](https://github.com/processing/p5.js/blob/main/.codecov.yml) has stopped working and now it comments on all pull requests with numbers about how testing coverage has changed.

See https://github.com/processing/p5.js/pull/5230#issuecomment-835619909 for an example of its comment.

[2021-05-09 01:58] outofambit commented on #5231
update: tried https://github.com/processing/p5.js/commit/413ed4630864208e1209ee4ae359a44c2cf93353 to see if that might help

[2021-05-09 02:00] outofambit commented on #5231
I think we might need to add something like https://docs.codecov.io/docs/pull-request-comments#disable-comment to our codedov yaml

[2021-05-09 03:25] maxdevjs commented on #5231
@outofambit please, let me understand. Do you mean that `codecov-commenter` started commenting on all pull requests even if coverage **hasn't actually** changed?

Meaning, something that:

`require_changes: false  # if true: only post the comment if coverage changes`

could solve?

[2021-05-09 04:15] montoyamoraga opened #5232 "add @ageonic as a contributor"
for https://github.com/processing/p5.js-website/issues/1029

[2021-05-09 04:16] montoyamoraga commented on #5232
@all-contributors please add @ageonic as a contributor for bug

[2021-05-09 04:16] #5232 closed

[2021-05-09 09:35] SanjaySinghRajpoot commented on #5221
fixed at #5220

[2021-05-09 09:35] #5221 closed

[2021-05-09 15:47] enauman opened #5235 "images loaded in preload persist despite clearing browser cache"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-09 17:58] outofambit commented on #5231
hey @max good question, sorry i wasn't clearer in the issue body. previously, codecov never commented on pull requests and i'd like us to reinstate that behavior.

[2021-05-09 18:06] outofambit commented on #5227
hey @maxdevjs and @Rahulm2310, i've fixed both links on the wiki page. Thanks for flagging those! Let me know if anything else seems amiss.

[2021-05-09 18:06] #5227 closed

[2021-05-09 18:07] outofambit commented on #5201
@joeyouss sorry for the delay here. you can use the [p5.js channel in the forum](https://discourse.processing.org/c/p5js) to ask questions about season of the docs. if you haven't seen https://github.com/processing/p5.js/wiki/Google-Season-of-Docs, make sure you take a look there too!

[2021-05-09 18:07] #5201 closed

[2021-05-09 18:13] joeyouss commented on #5201
Thank you @outofambit !. In the process of making the proposal!

[2021-05-09 18:51] scoresmexico opened #5236 "Arc in Layer"
Hi there!

Is there a way to write an arc() on a layer?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [

[2021-05-09 18:57] limzykenneth commented on #5235
Hi @enauman, is this specific to the web editor?

[2021-05-09 18:59] limzykenneth commented on #5236
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2021-05-09 18:59] #5236 closed

[2021-05-09 21:21] enauman commented on #5235
Yes, sorry didn't mention that.

[2021-05-09 21:56] maxdevjs commented on #5231
@outofambit I'd like to help.

But without breaking everything, as I am not used to how things work :)

I looked into:

- [p5.js/pulls](https://github.com/processing/p5.js/pulls) and checked for [commenter:codecov-commenter](https://github.com/processing/p5.js/pulls?q=commenter%3Acodecov-commenter) behavior:
	- #4561 seems to be the first occurrence (it dates back to May 18, 2020)
- [Release notes

[2021-05-10 00:29] limzykenneth commented on #5235
The web editor is not maintained in this repo, can you open an issue over [here](https://github.com/processing/p5.js-web-editor/issues) instead? Thanks.

[2021-05-10 00:34] enauman commented on #5235
Thanks!

[2021-05-10 00:34] #5235 closed

[2021-05-10 01:09] outofambit commented on #5231
wow @maxdevjs thanks for all this great and thorough research!! 😍 I honestly don't know what changed, I'm assuming it was something on codecov's side since we've barely touched our config since we wrote it initially, but I don't really know. Maybe this has been broken for a long time (at least since May 2020?)

Correct! Our GitHub actions workflow [downloads the bash uploader directly from codecov

[2021-05-10 12:04] Esi167 opened #5237 "copy function slow performance since v0.10.0"
#### Most appropriate sub-area of p5.js?

- [x ] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: since v0.10.0
- Web browser and version: Edge v90
- Operating System: Windows 10
- Steps to reproduce this:

The framerate drops significantly (3fps), when using the copy() function in the context shown in the examples below. I tried to recreate the tutorial of Tim Rodenbröcke

[2021-05-10 15:20] maxdevjs commented on #5231
Neither I do :) I initially thought that this could be the case (change on their side), but so far I did not find clues about a change in `codecov` policy (going through its documentation).

A quick look at [bash](https://codecov.io/bash) script does not make it clear if it is possible to pass the version. Probably it depends on their `CODECOV_ENV` or some other env variable.

Neither I found it s

[2021-05-10 17:00] outofambit commented on #5231
@maxdevjs I'm good with whatever change you want to try first! 🚀

[2021-05-10 17:14] micuat commented on #5237
thanks, it's actually funny that performs awful on firefox but fine on chrome

[2021-05-10 19:15] micuat commented on #5237
comparing `loadPixels`, what changed is only this line

https://github.com/processing/p5.js/blob/0.9.0/src/core/p5.Renderer2D.js#L288

which makes sense - till 0.9.0, when the dirty flag is on, `loadPixels` skips the actual operation - in the example above, `pg` doesn't change so `loadPixels` is only triggered in the first frame. From 0.10.0, whatever the flag state is, it will load the image to t

[2021-05-10 19:42] micuat commented on #5210
there is p5.Matrix but I guess it's a helper class for webgl:

https://github.com/processing/p5.js/blob/main/src/webgl/p5.Matrix.js

to me it's difficult to justify the accessibility - I think there are other math libraries that can be used with p5.js for this purpose. I would suggest to make it not directly into the core but as an extension either from scratch or as a binding to another library l

[2021-05-10 19:49] micuat commented on #5200
I haven't looked into it thoroughly but I'm guessing it's related to this issue https://github.com/processing/p5.js/issues/4535#issuecomment-640072884

(also given that `tint` / `get` / `loadPixels` correct the issue)

[2021-05-10 20:19] stalgiag commented on #5237
Thanks all!

It looks like the call to`loadPixels` in `_copyHelper` was added in [this commit.](https://github.com/processing/p5.js/commit/7a9d866b40a185c50096a0fc5616c605e0bdcdf9). As @micuat points out the behavior inside of `loadPixels` has changed since that commit.

[2021-05-11 06:13] kontur opened #5238 "preloading with loadFont does not work in instance mode"
Hi there!

#### Most appropriate sub-area of p5.js?

- [x] Build tools and processes
- [x] Core/Environment/Rendering
- [x] DOM

#### Details about the bug:

- p5.js version: 1.3.1
- Web browser and version: Any
- Operating System: MacOS 11.3
- Steps to reproduce this:

Loading a font in instance mode the "preload" is not consistently called and executed before the setup. Only reloading the browse

[2021-05-12 06:41] dhowe opened #5240 "Should processing/p5js reconsider its participation in Google Summer of Code (GSOC)"
Probably not the ideal place for this, but the issue may be worth discussing.

_Three groups focused on increasing diversity in artificial intelligence say they will no longer take funding from Google. In a joint statement released Monday, Black in AI, Queer in AI, and Widening NLP said they acted to protest Google’s treatment of its former ethical AI team leaders Timnit Gebru and Margaret Mitchel

[2021-05-12 11:32] rt1301 commented on #5114
@limzykenneth @dhowe If this issue is open, Can I work on this?

[2021-05-12 13:04] limzykenneth commented on #5180
@LEMIBANDDEXARI Sorry for the late follow up. Can I please have your email address so that I can send you some details about the research project I would like your help with? If you don't feel comfortable sharing your email address publicly you can email me at limzy.kenneth@gmail.com and we can continue there. Thanks!

[2021-05-12 13:48] Gunkar16 opened #5241 "Plz put a function for setting width and height of gif like image"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-05-12 17:58] ss-cmd opened #5242 "Hi,i'm using various js like P5.sound.js and dom js in my html, and got errors: 1.amplitude is not defined 2.d._validateParameters is not a function"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-05-12 18:01] ss-cmd commented on #5242
i have some screen shot
<img width="842" alt="截屏2021-05-13 上午1 57 53" src="https://user-images.githubusercontent.com/66662667/118022544-0b86a200-b38f-11eb-843b-9578b0a3b9d7.png">
<img width="1108" alt="截屏2021-05-13 上午1 54 39" src="https://user-images.githubusercontent.com/66662667/118022551-0de8fc00-b38f-11eb-9c27-63f3c905d9f7.png">
![Uploading 截屏2021-05-13 上午2.01.12.png…]()

[2021-05-12 19:26] montoyamoraga commented on #5242
hi @ss-cmd,
please ask your questions about your code on our forum
discourse.processing.org/
and it helps if you can upload an example on the p5.js web editor
thanks! :)

[2021-05-12 19:26] #5242 closed

[2021-05-12 21:43] catarak opened #5243 "p5.js Editor + Friendly Errors"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

This would improve the friendly errors on the web editor!

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Fri

[2021-05-12 22:17] cryptochap commented on #5243
while working with the web-editor I noticed the inconsistencies in error reporting and references this you have pointed out.

[2021-05-13 09:41] 0xJonas opened #5244 "Unexpected behaviour when using registerPreloadMethod()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-13 11:33] kontur commented on #5238
@dhowe @micuat can either of you reproduce this?

[2021-05-13 16:55] Rahulm2310 opened #5245 "Incorrect links in wiki/Beyond-the-canvas file"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

#### Details a

[2021-05-13 16:57] Rahulm2310 commented on #5245
@outofambit please have a look

[2021-05-13 17:20] montoyamoraga commented on #5245
@Rahulm2310 great catch!
i updated the link to the forum
removed the link to that intro to HTML and CSS
and also removed all the references to the p5.dom library,
which was merged into p5.js a while ago ~

[2021-05-13 17:26] Rahulm2310 opened #5246 "Volunteer as a steward"
Hello everyone!
I have been contributing to the p5.js-website since one year and have a descent number of [PRs merged](https://github.com/processing/p5.js-website/pulls?q=is%3Apr+author%3A%40me+is%3Aclosed) now. I feel comfortable with the project now and thus want to volunteer as a steward for the p5.js-website project. I am not an expert but I am very much interested to actively participate. Hop

[2021-05-14 07:12] cupcakearmy opened #5247 "State of Typescript declarations"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Actual typings help a ton since we can get autocompletions, code checking, function parameter guide, etc. Even if the user does not actually use typescript typings help a lot in editors like vscode where that information is used regardless if the actual languag

[2021-05-14 13:04] ghgsnaidu commented on #5245
Hi Rahul!  I've never contributed before but I love javascript and I have been having a lot of fun with p5js and I'd like to contribute to any issue .it would be a great help if you can guide me like how this works
Hope you will reply

[2021-05-14 14:48] limzykenneth commented on #5247
@cupcakearmy The typescript definitions for p5.js (which is also the one published at `@types/p5`) is not maintained in this repo or under the processing organization but instead as a mostly volunteer run repo [here](https://github.com/p5-types/p5.ts). I'm not familiar with their current status so if there's specific out of date related issues, you should probably file it there.

We also don't bun

[2021-05-14 15:01] Rahulm2310 commented on #5246
tagging @lmccart @montoyamoraga @mcturner1995

[2021-05-14 15:12] Rahulm2310 commented on #5245
Hey @ghgsnaidu, welcome to the p5.js community 🎉. You can have a look at the [Github Issue Flow here](https://github.com/processing/p5.js/tree/main/contributor_docs#github-issue-flow) to get started. Hope it helps 🙂

[2021-05-14 15:17] outofambit commented on #5246
hey @Rahulm2310, sorry for the delay! We'd love to have you! 🎉 Could you open a PR to add yourself to https://github.com/processing/p5.js#stewards in that bulleted list and the table? Ping me on it and I'll approve + merge.

Thank you for volunteering, we're glad to have you!!

![excited dog](https://user-images.githubusercontent.com/964912/118291647-b0d37000-b48c-11eb-9a73-2d74c343eb8f.gif)

[2021-05-14 15:44] stalgiag commented on #5241
Hello and welcome @Gunkar16 ! There is not enough information in your issue for us to be able to identify the problem. Judging by the title, you want to change the size of a GIF-based p5.Image. There are many ways to do this. You can modify the width and height properties directly. You can also use `resize()` as [in this example.](https://editor.p5js.org/stalgia.grigg/sketches/3YOyZSpj3) You can a

[2021-05-14 15:44] #5241 closed

[2021-05-14 15:59] montoyamoraga commented on #5246
i agree with @outofambit, you have been amazing in contributing, thanks for becoming a steward!

[2021-05-14 16:05] montoyamoraga commented on #5245
hi @ghgsnaidu welcome!
i recommend checking also our contributor docs
https://github.com/processing/p5.js/tree/main/contributor_docs
and even recent closed issues and pull requests, to see the ways you can contribute :)
i will close this issue in the meantime because it has already been addressed ~

[2021-05-14 16:05] #5245 closed

[2021-05-14 16:07] ghgsnaidu commented on #2865
Hello !! I would like to contribute.
 I have seen  an example of bubble sort under maths section
 ,I would like to add other sorting algorithms as examples can I do that??

[2021-05-14 16:08] stalgiag opened #5248 "General state of performance discussion – Test and report performance comparison during build?"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

I explain this below.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ]

[2021-05-14 18:40] Rahulm2310 commented on #5246
Thanks a lot @outofambit @montoyamoraga @lmccart ❤️

[2021-05-14 19:41] limzykenneth commented on #5248
You might have seen this before but I moved the old benchmarking code out into its own repo [here](https://github.com/limzykenneth/p5-benchmark) with a [website](https://limzykenneth.github.io/p5-benchmark/) available to compare different versions and implementations. The basic groundwork is there already but to get it to a point of being part of CI of the PR process still require some work. It's

[2021-05-14 20:23] limzykenneth commented on #5114
@rt1301 Sure, do go ahead and see if it can be cleand up

[2021-05-14 20:32] outofambit commented on #5246
added to readme in #5249. thank you again @Rahulm2310!

[2021-05-14 20:32] #5246 closed

[2021-05-14 20:53] stalgiag commented on #5248
Thanks for this @limzykenneth ! I had forgotten about this repo. This seems like a terrific starting point. Perhaps we don't even need to integrate this into CI but instead just create a ritual of checking this page more regularly. Like after releases we could aim to take stock of changes in performance using the benchmarking website and open issues for any major negative changes.

[2021-05-15 01:21] ghgsnaidu commented on #5245
Hey thanks guys @montoyamoraga  @montoyamoraga
I am kinda getting know the flow .I really appreciate your help

[2021-05-15 02:37] snowbellows commented on #5228
Hi there,

I forked the project and created a branch with a fix https://github.com/snowbellows/p5.js/tree/fix-GIFs-that-don't-loop-throw-unhandled-error-unless-reset()-called-before-play() but I can't seem to get the unit test working.

I just added a new suite to the `src/test/unit/image/p5.Image.js` test file (happy to move it elsewhere if people want) but it keeps failing like this
[code]
Can a

[2021-05-15 11:18] rt1301 commented on #5114
One of the errors occurring in the YUIDocs is:
[code]
@limzykenneth What does the "line" key-value pair signifies in the YUI Documentation?

[2021-05-15 13:01] cupcakearmy commented on #5247
Yeah it does not make sense to ship them if they are not coming from the source of course.
That's a pity, as beginner to p5 types would have helped me a ton, but for "non programmers" it might be confusing :)

[2021-05-15 13:01] #5247 closed

[2021-05-15 15:40] ednl opened #5250 "Editor does not work in Safari 14.1 on Catalina or Big Sur"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering ???
- [x] Other: web editor on https://editor.p5js.org

#### Details about the bug:

- p5.js version: newest, linked from https://editor.p5js.org (can't immediately find it in the page source)
- Web browser and version: Safari 14.1 (15611.1.21.161.7 on Catalina, 16611.1.21.161.6 on Big Sur)
- Operating System: MacOS 10.15.7

[2021-05-16 15:21] limzykenneth commented on #5248
The benchmarking is still a bit manual (new versions need to be added manually and testing custom build requires editing configs) but if you to get started with it, you can have a look at writing test cases for the parts you are interested in testing.

[2021-05-16 19:13] aferriss commented on #5248
I wonder if it would also be helpful for us to provide some kind of guidelines or expectations for performance on the p5 site itself. Additionally we could give some guidance on things to try in order to improve performance or gotchas to watch out for when coding.

Some things that might be slow off the top of my head:
- Really big canvases
- Doing too many things inside of a for / while loop
- Wo

[2021-05-17 05:23] outofambit commented on #5240
hi @dhowe thanks for starting this discussion! i hadn't seen this part of the story around google's firing of it's ethical ai team. its an important thing for us to consider (and be transparent about in the process).

my initial thoughts are: i don't think we should withdraw from google summer of code (or season of docs) _this year_, primarily because we've already begun making commitments to ment

[2021-05-17 07:02] dhowe commented on #5240
thanks @outofambit didn't mean to suggest pulling out this year, but I do think Google's long history of problematic behavior regarding issues of access, diversity, privacy, etc. should be carefully considered by the community before we engage in future programs or funding. In fact, all sponsors should, I think, be subject to such scrutiny... organizations are usually quite happy to commit to loft

[2021-05-17 12:49] kontur commented on #5238
Please review the tags after trying to reproduce.

[2021-05-17 13:08] micuat commented on #5238
@kontur could you set up the example which causes the error on p5.js web editor so others can test it easily?

[2021-05-17 19:29] Alex23rodriguez commented on #3509
Has there been any progress? I'm working on visualising some 3D shapes made out of cubes and it would be very nice if I could create a custom shape to eliminate the lines between the cubes.
<img width="553" alt="3" src="https://user-images.githubusercontent.com/22017085/118545483-48022700-b71c-11eb-9efc-b21a5e01ae60.png">

[2021-05-17 20:36] stalgiag commented on #5240
I have strong opinions about that entity just as I have strong opinions about the entity that owns the platform we are discussing this on or the platform used to store data uploaded to the online editor. As an ex-mentee and mentor for four years now, I feel that the participants (the 'students') receive the most from GSoC and I don't feel that withdrawing would be effective political action. I wou

[2021-05-17 20:48] stalgiag commented on #5250
I was able to reproduce Safari 14.1 and macOS 11.3.1

[2021-05-17 20:51] stalgiag commented on #5250
This issue should be transferred to [the web-editor repo](https://github.com/processing/p5.js-web-editor) but for whatever reason p5.js-web-editor isn't appearing in the 'Transfer Issue' menu.

[2021-05-18 07:49] ednl commented on #5250
@stalgiag Thanks. Sorry, I didn't know there was a separate repo for the editor; I simply followed the GitHub link from the homepage.

[2021-05-18 09:56] dhowe commented on #5240
Thanks @stalgiag, there would certainly be negatives if we were to pull out of GSOC or similar programs. On the other hand it seems clear there is some behavior far enough out of sync with the goals and values of the community that we'd no longer want to associate with a sponsor, regardless of the benefits (as the organizations mentioned above appear to have decided). So I'm only arguing that we s

[2021-05-18 13:55] yanisr opened #5252 "p5.Vector.mult example wrong"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ x] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-05-18 14:08] mikeneth042118 opened #5253 "Typo at src/accessibility/outputs.js"
- x Typography

texOutput(FALLBACK)...should read textOutput(FALLBACK)

[2021-05-18 14:19] stalgiag commented on #5240
Thanks @dhowe!  I totally agree with the proposal of moving these kinds of decisions towards transparency and community intention. I have never really been involved in choosing associations but it would be nice if there was an accessible accounting process for these connections, the entities involved, the cost-benefit for the community etc. These lines become very difficult to articulate at times

[2021-05-18 15:09] limzykenneth commented on #5252
@yanisr Can you try with the latest version of p5.js (1.3.1)?

[2021-05-18 20:56] nataliefreed commented on #4630
+1 on this. Is there a place where this (support for vector exports from P5 for use with pen plotters and other digital fabrication workflows) is being discussed? I know there was a discussion [here](https://github.com/processing/p5.js/issues/458) a while back, and that it's not an easy thing to implement. But not sure if it's a design question or an issue of finding someone with the expertise and

[2021-05-18 23:16] stalgiag commented on #5250
No worries. It is an easy thing to not realize. I will transfer this issue manually as I am seeing it reported a lot by my students and I don't see it reported on that repo.

[2021-05-18 23:21] #5250 closed

[2021-05-19 01:26] stalgiag commented on #5228
@snowbellows You assert that `img.playing` is false instead of `img.gifProperties.playing`. Not sure that is the issue but saw the problem in a quick skim.

[2021-05-19 07:06] yanisr commented on #5252
My bad, it's ok with this version

[2021-05-19 07:06] #5252 closed

[2021-05-19 07:59] two-ticks commented on #5253
@mikeneth042118 are you talking about description in https://p5js.org/reference/#/p5/textOutput ?

https://github.com/processing/p5.js/blob/1250864d63e6353233789f0059f62ebe0188a2a5/src/accessibility/outputs.js#L24

If you are not working on this issue I would like to work on this.

[2021-05-19 11:59] mikeneth042118 commented on #5253
Hello TwoTicks…just in the second paragraph of the textOutput()
description…says texOutput()…missing the ‘t’.

Yes…you can take care of this if you like. I’m new so I wouldn’t know how
to fix this.

Thanks

On Wed, May 19, 2021 at 5:00 AM TwoTicks ***@***.***> wrote:

[2021-05-19 16:03] limzykenneth commented on #4630
@nataliefreed No current discussions that I know of is going on though there had been pretty consistent interest in this. I think the lack of progress is mostly due to lack expertise and time. It's not a high priority project for p5.js officially at this time and I don't know of any addon projects that are working on this at the moment.

[2021-05-20 11:54] royberris opened #5254 "Error when loading image on safari version 13.0.4"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [x] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-20 13:43] mikeneth042118 opened #5255 "Missing p5.Vector link on Reference Index Page"
No link to p5.Vector class description on Reference Index. Can be accessed through point() function...but should be included in the index. Some shape functions don't indicate that a vector object can be used as a param instead of manually entering coordinates...is this correct?

[2021-05-20 19:21] JetStarBlues opened #5256 "Add p5.Camera.frustum documentation on reference page"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Provides missing description on how to use the method.

#### Most appropriate sub-area of p5.js?

- [x] Other (documentation)

#### Feature enhancement details:

The [`frustum()`][0] method of [`p5.Camera`][1] lacks documentation on the reference page.

_p5.Cam

[2021-05-20 20:51] JetStarBlues commented on #5255
Hey,

On my computer, I can see a link to `p5.Vector` on the reference page:

![Capture](https://user-images.githubusercontent.com/4354703/119047056-a593af00-b97a-11eb-9f19-bf9284d26417.png)

I think it's safe to assume that's the case. I.e. if there's no such example in the syntax section of the method's documentation page, then most likely it does not accept one as a parameter.

There is sometim

[2021-05-20 21:32] mikeneth042118 commented on #5255
That’s great…sorry I had not noticed that. Thanks

On Thu, May 20, 2021 at 5:51 PM JetStarBlues ***@***.***>
wrote:

[2021-05-20 21:39] JetStarBlues commented on #5255
No worries, there are a lot of links on the page!
The search bar at the top can help with quickly finding a page of interest.

[2021-05-21 08:51] zuuring opened #5258 "Sound not working in chrome, suggest updating reference with fix"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-22 21:51] JetStarBlues commented on #5256
Not sure if I should open a separate issue for this, but I think the clarity of these three (ortho, perspective, frustum) descriptions can be improved by changing them from:

To:

For example, the perspective description would become:

The change aims to make it clearer to a reader that:
- there are two distinct functions - the p5.Camera method, and the "global" p5 method
- the reference page for

[2021-05-23 01:37] AqilCont commented on #5248
Is it possible to move the 2d renderer to WEBGL mode somehow? I've always thought about the possibility. OpenGL/WebGL is technically a 2D GPU API in the first place, could be possible to see massive performance increases if we pool all of the vertices and stuff into one context and execute draw calls based on frameRate(). This could be one mode that is tested for on the machine when starting up, s

[2021-05-23 14:08] limzykenneth commented on #5248
@aferriss I think some points are covered [here](https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance) but definitely can be expanded where required. Visibility of the page can probably be improved as well.

@AqilCont I don't see moving to WebGL entirely be something p5.js pursue as absolute performance is not the goal of p5.js while moving to WebGL for 2D rendering as we

[2021-05-23 17:58] JetStarBlues commented on #5256
I can also copy over (with slight changes to use p5.Camera methods) the examples from the global equivalents. The detailed explanations can remain in the global equivalents.

This would satiate the current build complain:
[code]

[2021-05-23 18:04] AqilCont commented on #5248
The main reason I suggested this is because of p5's ease of use, accessibility, and simple API. Pixi.js is a made for people focusing on performance, so it's API is designed to be more advanced and is hard for beginners to get into, and this is why me or many other people and classmates don't use it. What I suggested focuses on main point of this issue, that the limiting aspect of p5's accessibili

[2021-05-24 14:05] lmccart commented on #5254
Hi @royberris can you please provide a code snippet that illustrates the issue? Thanks!

[2021-05-24 19:09] montoyamoraga opened #5261 "add contributor to list"

[2021-05-24 19:09] montoyamoraga commented on #5261
@all-contributors please add @ghalestrilo for design code tool

[2021-05-24 19:09] #5261 closed

[2021-05-24 23:27] sameehj opened #5263 "Canvas.elt.toDataURL saving blank images"
Hi

- [x] Image
- [x] IO (Input/Output)

This is my nextjs (reactjs) code, I'm using the p5 library, everything is fine until I try to view the saved base64 image, the image is saved as blank. Any idea what I might be doing wrong? or is it a bug in the p5 reactjs library?

[code]

[2021-05-25 11:23] royberris commented on #5254
@lmccart

Hi. See below:

[code]

[2021-05-25 19:55] JetStarBlues opened #5264 "Stroke odd behaviour for small shapes but up-close camera"
#### Most appropriate sub-area of p5.js?

- [x] WebGL

#### Details about the bug:

- p5.js version: 1.3.1 (though I think this bug is not specific to this version)
- Web browser and version: Chrome, Firefox
- Operating System: Windows 10, Ubuntu 20.04
- Steps to reproduce this:
  - Visible on the:
    - [camera() reference page][0] (first example with a plane (white fill, black stroke))
      - !

[2021-05-26 20:12] DJLinux opened #5267 "GIF writer bug or mistake ?"
hello i'm new to JS but in section GIF writer I found 'var has_local_palette' in two scopes !
[code]
Is it a bug or my mistake ?
DJ

[2021-05-26 21:20] stalgiag commented on #5267
Hi @DJLinux ! Thanks for the issue. That [code is in a dependency.](https://github.com/deanm/omggif/blob/master/omggif.js#L479). I would recommend filing over there. Going to close here for organizational purposes.

[2021-05-26 21:20] #5267 closed

[2021-05-26 21:29] stalgiag commented on #5264
Hi @JetStarBlues thanks for the well-written issue. This may just be my perspective (smh) but I wouldn't expect the stroke to get smaller in the second set of examples. The reason the stroke appears to be getting smaller is that its relative size is shifting. 1px stroke is 1/10th of `plane(10, 10)` and 1/80th `plane(80, 80)`. In the second set of examples, you are moving closer to a small plane so

[2021-05-26 21:33] stalgiag commented on #5256
Looks good thanks @JetStarBlues

[2021-05-26 23:32] limzykenneth commented on #5263
The `dataURI` variable is set in the else block of your draw function which has no drawing code in it (they are all in the if block) so it literally hasn't drawn anything in the frame that it is saving the canvas data and only the blank background has been drawn. That's why you only get a blank output.

If you need help with your own code, please direct your questions to the [forum](https://discou

[2021-05-26 23:32] #5263 closed

[2021-05-27 09:54] limzykenneth commented on #5254
@royberris Can you check the value of `"/Games/Game/OriginalImage/" + game.dataset.gameid` and make sure that is a working link to an image? If you can provide a link to a version on the web editor that we can replicate that would be very helpful as well.

[2021-05-27 10:20] royberris commented on #5254
@limzykenneth I'm certain the image exists. It works on any browser except for the Safari browser shown above.

Here is the editor link:

https://editor.p5js.org/royberris/sketches/6hNRaDerF

[2021-05-27 10:24] #5255 closed

[2021-05-27 10:30] limzykenneth commented on #5114
@rt1301 I'm not quite sure what you are referring to here. Can you elaborate a bit more?

[2021-05-27 10:34] rt1301 commented on #5114
@limzykenneth In the data.json file we have all the p5.js reference functions written in this way:
[code]
So what does ``"line":1`` signifies in the YUI doc?

[2021-05-27 10:40] limzykenneth commented on #5114
That is the line number of where the function/property is defined in the code file. In the example here it means line 1 of `src/core/main.js` file. It is used to let the link at the bottom of the reference entry on the website link to the correct line where the function/property is defined.

[2021-05-27 15:11] montoyamoraga opened #5268 "add TylersGit as contributor"

[2021-05-27 15:12] montoyamoraga commented on #5268
@all-contributors please add @TylersGit as contributor for doc

[2021-05-27 15:13] montoyamoraga commented on #5268
@outofambit since yesterday i noticed that the allcontributors bot is not working :(

[2021-05-27 18:29] JetStarBlues commented on #5264
Ah, I see! That makes a lot of sense! Thanks for taking the time to explain this.

I'm tempted to change the code used in the [`frustum()`][0] example (use bigger boxes, and a camera that's further away - or use filled boxes (normalMaterial)). Currently it is hard to tell what the example is trying to demonstrate. (I imagine the visual effect is supposed to be similar in spirit to the [`persepecti

[2021-05-28 15:13] redfood opened #5269 "beginShape Vertex color doesn't work properly for non-triangle (or non-triangle-strip) shape types"
When using `beginShape` under `WEBGL` vertex coloring only works for `TRIANGLES` and `TRIANGLE_STRIP`.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Uni

[2021-05-28 19:12] #5264 closed

[2021-05-29 09:32] sflanker opened #5270 "Models with > 65535 vertices do not render correctly"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-05-29 09:33] sflanker commented on #5270
As an example, here is a [relevant question on StackOverflow](https://stackoverflow.com/questions/67741540/problem-rendering-complex-3d-models-obj-p5-js/67749714#67749714).

[2021-05-29 19:34] outofambit commented on #5268
@all-contributors please add @TylersGit as contributor for doc

[2021-05-29 19:47] outofambit commented on #5268
@all-contributors please add @TylersGit for docs

[2021-05-29 19:57] outofambit commented on #5268
@all-contributors please add @TylersGit for doc

[2021-05-29 20:01] outofambit commented on #5268
@montoyamoraga fixed it with https://github.com/processing/p5.js/commit/7bfb8b376ddde286c4bbfad5b52baccf1b638384!

[2021-05-29 20:01] #5268 closed

[2021-05-29 20:03] outofambit commented on #5231
i think we're good now, thank you @maxdevjs! if anyone sees this happen again, we can repoen this issue and investigate.

[2021-05-29 20:03] #5231 closed

[2021-05-29 21:07] #5256 closed

[2021-05-29 21:08] outofambit commented on #5243
@catarak i'm very willing to make report monkeypatchable for the editor! i can take this one

[2021-05-30 01:38] #5253 closed

[2021-05-30 16:15] sameehj commented on #5263
@limzykenneth Thanks for the answer! I still believe this is a bug as the background I have drown is anything but blank! nonetheless I have taken your advice and saved the dataURI in the previous iteration, the value is still null!

[2021-05-30 16:17] sameehj commented on #5263
Also I have posted my questions on the forums here: https://discourse.processing.org/t/canvas-elt-todataurl-saving-blank-images/30371

[2021-05-30 17:57] limzykenneth commented on #5263
Try removing `p.updatePixels();`.

[2021-05-31 04:31] dipamsen opened #5278 "Documentation Error: Processing instead of p5"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other: **Documentation**

## Documentation

[2021-05-31 09:00] LEMIBANDDEXARI commented on #5180
Hello, the unofficial French translation of p5js.org is on its way.
V1.0.0-alpha is now available on https://p5js-unofficial-french-translation.vercel.app
For the moment there is only the home page which has been translated, I will continue to do the other pages soon.
I tried to respect the UI design of the site as much as possible.
If you have any comments, I am listening. ❤️
(https://github.com/

[2021-05-31 14:18] SanjaySinghRajpoot commented on #5278
may I work on this issue?

[2021-05-31 14:36] SanjaySinghRajpoot commented on #5269
I went through the `beginShape` function in the WebGL folder (screenshot below check line 28). It is only made for Traingualar objects and not for non-triangular shapes. I think we need to add this feature for non-triangular objects, but I don't know how to do it. Can anyone help me out here?
![Screenshot from 2021-05-31 19-59-23](https://user-images.githubusercontent.com/67458417/120208601-49b709

[2021-06-01 04:29] JetStarBlues opened #5279 "Limit Scope of Default Uniforms"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Makes writing custom shaders more transparent.
Currently there are a couple of uniform names that are used by the default shaders. If a user uses these names in their program, the uniform values they set will get overwritten with the default values (and their p

[2021-06-01 05:54] JetStarBlues opened #5282 "Add a uModelViewProjectionMatrix uniform"
# Add a uModelViewProjectionMatrix uniform

### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Makes the modelViewProjection matrix available as a uniform for users to use in their shader programs.

As a result, the minimum code that a user needs to write in their program decreases (and the final code is more pe

[2021-06-01 12:49] #5278 closed

[2021-06-01 15:39] dipamsen opened #5284 "ellipseMode(CORNERS) with circle() does not draw a circle"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-06-01 20:11] JetStarBlues opened #5285 "User-defined stroke shader is not initialized correctly"
#### Most appropriate sub-area of p5.js?
- [x] WebGL

#### Details about the bug:

Whether a user defined shader (created via [`shader()`][0]) is treated as a fill-shader or a stroke-shader is currently determined by a check for the existence of the `uStrokeWeight` uniform.

[_material.js_][1]
[code]

[_p5.Shader.js_][2]
[code]

This uniform is only available **after** the call to `s.init()`.

As

[2021-06-01 21:07] catarak commented on #5243
thank you @outofambit!

I also wonder if it would ever make sense to create an API for the p5.js FES. Some reasons that come to my head:
- Allowing p5.js addons to create friendly errors
- Allowing p5.js addons to overwrite friendly errors, targeting different user demographics, perhaps for internationalization or other reasons

[2021-06-01 21:50] JetStarBlues opened #5287 "Separate the Model and View Matrices"
#### Most appropriate sub-area of p5.js?
- [x] WebGL

#### Feature enhancement details:

Currently in the source code, the model and view matrices are combined into one (`uMVMatrix`). Typically, these two matrices are kept distinct from each other. The model matrix used only for translating / rotating / scaling the model. The view matrix used only for translating / rotating the camera.

One conseq

[2021-06-01 22:18] JetStarBlues commented on #5195
Thank you for pinpointing the issue!

I guess I'm expecting that the color used for the anti-aliasing will correspond to the color of the object. For example in this case, the lime green would be used, but varying in opacity, to generate the anti-aliasing. And that the background color will play no role whatsoever.

[2021-06-02 12:20] huumpf commented on #4127
@lmccart I'd really love to seeing this happening as well!

I'm one of those guys who p5 probably was made for. I'm a Designer/Visual Artist who's not really good enough in coding to contribute to the library itself but I'm loving p5 for what value and fun it brings me – even with my limited coding-skills!

I've actually had a couple projects and moments, where I would have loved to contribute to

[2021-06-02 12:23] limzykenneth commented on #4127
@huumpf You can open a new issue and fill in the relevant issue template, particularly the question about accessibility. Thanks.

[2021-06-02 14:24] huumpf commented on #4127
@limzykenneth would that be your preffered way of addressing this topic (again) or give it more visibility? I thought sticking to an existing thread and just +1ing it would be way to go to avoid "this has already been discussed in #xyz".

Anyway, I'm happy to do whatever is helpful. Tbh i could probably not think of a better way to phrase it than i've already done above. Also, I'm not sure what yo

[2021-06-03 01:44] JetStarBlues commented on #4820
I spent some time looking at how this might work. What do you think of this approach [here][0]?

The shaders for each filter would be files that are handled the same way as other [core shaders][1].

The method `applyFilter(filterType, filterParam)` would be provided and it would behave the same as [`filter()`][2] in a 2D context.

(`applyFilter` could also just be called `filter`, and then the app

[2021-06-03 08:13] royberris commented on #5254
Any update on this?

[2021-06-03 11:02] limzykenneth commented on #5254
@royberris I'm not able to replicate your problem so I can't say where the problem is. I would suggest creating a simple version on the editor that does show the problem that you are having.

[2021-06-03 11:09] limzykenneth commented on #4127
@huumpf I would suggest opening a new issue to avoid pinging people who were previously in this thread but no longer want to me notify about this activity. Also we have new requirements for accepting new features which is reflected in an updated issue template that need to be filled in.

In short the access requirement boils down to we will only accept feature requests that increases access, it do

[2021-06-03 11:11] limzykenneth commented on #5284
Good find. I wonder in this case should `circle` simply bypass `ellipseMode` or does it need to calculate the corners manually? What happens when `ellipseMode` is `CORNERS` but only passed three arguments?

[2021-06-04 01:19] dievardump opened #5292 "Error when using loadJSON should catch error if there is an errorCallback"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-06-04 19:04] JetStarBlues opened #5294 "Rename "Lights, Camera" group in Reference page"
#### Most appropriate sub-area of p5.js?
- [x] WebGL
- [x] Other (documentation)

### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

The group contains information on more than just `Lights` and `Camera`. For example the `Material` subgroup is a key component of the group.

Renaming the group (module) to someth

[2021-06-04 21:56] aferriss commented on #5294
I'd be in favor of using `3d` over `WebGL`. To me, webGL might not be a term that a beginner would have heard before. Personally, 3D feels much more approachable and easy to understand to me.

[2021-06-04 23:43] byma1995 opened #5296 "strokeWeight() not working properly with odd numbers"
strokeWeight() works as expected with even numbers, but when used with odd numbers, it always draws strokes that are 1 pixel wider with some transparent pixels.

#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering

#### Details about the bug:

- p5.js version: 1.3.1
- Web browser and version: Chrome 91.0.4472.77
- Operating System: Windows 10 Home
- Steps to reproduce this:

[2021-06-05 06:35] KeyboardSounds opened #5297 ".scale on a p5.Renderer created by createGraphics is cumulative between draw()s"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-06-05 15:51] aferriss commented on #5297
Hi @KeyboardSounds

I ran into this recently as well but I believe it is actually working as intended. Although I agree it is unexpected and confusing. We should definitely make this more clear in the documentation.

Essentially, you need to call pg.reset() at the end or beginning of your draw loop. Or you can wrap all you pg calls with pg.push() and pg.pop().

Take a look at the docs here. https:

[2021-06-05 22:37] JetStarBlues commented on #5294
I see, agreed. Will update the PR accordingly.

[2021-06-06 03:28] KeyboardSounds commented on #5297
My bad! Thanks for the help, @aferriss.

Yeah, making this behaviour more explicit in the docs would be great. I am new to this project so I don't know what the stance is on breaking API changes, but for what it's worth, I think making a user created p5.Graphics behave similarly to a canvas is a good idea.

[2021-06-06 10:05] zenozeng commented on #4630
@nataliefreed

Hi, I just released p5.js-svg@1.0.5, which fixes a lot of bugs and should work with p5.js@1.3.1.
- https://github.com/zenozeng/p5.js-svg

And the following are the examples for SVG imports and exports
- http://zenozeng.github.io/p5.js-svg/examples/#exporting
- http://zenozeng.github.io/p5.js-svg/examples/#manipulating

[2021-06-06 15:13] limzykenneth commented on #5297
It is less about why p5.Graphics works like this and more about the base canvas's behaviour. The base canvas has a bit of convenience that basically resets the transformation matrix automatically between every draw so `push()` `pop()` becomes a bit more optional when writing simple transformation. p5.Graphics doesn't have a draw loop of its own and so it doesn't have information about draw loop an

[2021-06-06 15:18] limzykenneth commented on #5296
The same behaviour exist in the native HTML canvas underlying p5.js which means that this is either a browser implementation issue or a result of the HTML canvas specifications. I'm not sure why it is implemented like this but as such there isn't a way for p5.js to solve this.

[2021-06-06 15:22] limzykenneth commented on #5292
Possibly related to #5032

[2021-06-06 18:41] #5285 closed

[2021-06-06 18:41] stalgiag commented on #5148
Resolved by #5286

[2021-06-06 18:41] #5148 closed

[2021-06-06 18:55] stalgiag commented on #5287
I agree with this. I found it painful to work on AR for p5.xr without separated model and view matrices.

As a side note, I think that this would set us up to allow for more of an object-based approach to manipulating 3D objects. I have longed for the day that we could just do `myBox.position(x, y, z);`. I find this more intuitive. In my experience new coders working in 2D with p5 begin by using t

[2021-06-07 17:24] soegaard opened #5301 "point() does not respect the stroke cap"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-06-07 17:27] soegaard commented on #5296
Check this explanation of the phenomenon in the FAQ of Cairo:

https://www.cairographics.org/FAQ/#sharp_lines

And the follow up here:

https://softwareengineering.stackexchange.com/questions/275610/getting-strokes-and-fill-to-align-to-pixel-boundaries

[2021-06-07 17:30] soegaard commented on #5284
It should temporarily switch to CENTER mode, and pass the center and radius to ellipse.

[2021-06-07 22:35] #5296 closed

[2021-06-11 15:06] Aloneduckling opened #5304 "GSoC'21: More error messages for FES's fesErrorMonitor"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Hello everyone! I am happy to tell you that I will be contributing to FES for this year's GSoC. I am mentored by @lm-n and @ghalestrilo. I am really excited to work on this project and be a part of this great community.
This enhancement is part of the first phas

[2021-06-11 20:56] EnginKARATAS opened #5306 "p5 image scaling(resize func) screw up image quality"
p5 image scaling screw up image quality

image(dogeplayer, this.x- 25, this.y - 25);
dogeplayer.resize(this.r + 40, this.r + 40);

#### Most appropriate sub-area of p5.js?

- [*] Image
- [*] IO (Input/Output)

![Screenshot_37](https://user-images.githubusercontent.com/43602725/121747786-97b3f280-cb10-11eb-9960-e935b8e9aade.png)
![Screenshot_38](https://user-images.githubusercontent.com/43602725/12

[2021-06-12 01:33] spencerstith commented on #5301
Hmm. Although Processing does support `strokeCap()` with points, it appears as though P5.js only [supports `strokeCap()` with lines](https://p5js.org/reference/#/p5/strokeCap). So, if you are trying to use this I would suggest using very sort lines, such as
[code]

[2021-06-12 09:17] soegaard commented on #5301
Thanks for the suggestion. I noticed the difference between Processing (Java) and P5.js
because I am implementing something "Processing"-like in Racket.

The drawing library I use is based on Cairo. Your short line trick is actually one of the
recommended methods to get a point in Cairo.
[sidenote: if scaling transformations are in effect, then one must be careful to choose the right distance of "

[2021-06-12 17:04] limzykenneth commented on #5301
The drawing API in p5.js (ie. the HTML canvas API) is going to be very similar to Cairo because that's what many browser uses directly (or something based closely on Cairo).

Parity with Processing isn't a goal for p5.js and since there's a workaround found, I'm going to close this issue for now.

[2021-06-12 17:04] #5301 closed

[2021-06-12 17:21] #5022 closed

[2021-06-12 23:20] JetStarBlues commented on #4820
@stalgiag What do you think?

[2021-06-13 13:44] limzykenneth commented on #5284
Parity with Processing is not a goal here so we can decide here what the behaviour should be.

[2021-06-13 13:45] limzykenneth commented on #5180
@outofambit @Qianqianye I never really looked into it but it seems we may not have a page listing all unofficial translations (or it is too hidden). Would be great to collect those that we know of and list them as promised.

[2021-06-13 13:48] limzykenneth commented on #5306
Hi @EnginKARATAS, can you share a more complete example? Even better if it is running on https://editor.p5js.org. I can't tell where the problem could be with the two lines of code you provided. Thanks.

[2021-06-13 14:07] limzykenneth commented on #5208
Sorry had been super busy.

We can emulate the tracking system used on the website repo that track git for changes to README.md as a git precommit step and track them in a separate file. The system is not elegant though. I have something potentially more useful but it'll take some time to realize.

[2021-06-13 14:13] limzykenneth commented on #5197
It seems from your descriptions to be a device specific problem, if that's the case I'm not sure how much we can fix on our end. One thing to test is whether this happens only with p5.js or video capture in browser in general.

[2021-06-13 14:59] limzykenneth commented on #5207
Would an extra check to make sure the type of input element detected is radio be enough to solve this?

[2021-06-13 15:06] limzykenneth commented on #5142
@two-ticks If you are still interested, do have go ahead. I think there are some weird behaviour going on so do have a closer look while you are working on this.

[2021-06-13 19:59] micuat commented on #5207
@limzykenneth I thought checking the type attribute should be sufficient - but according to MDN, each input-label pair can be wrapped by a div as long as they have the same `name`.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio

[2021-06-13 21:08] JetStarBlues opened #5308 "WEBGL - Is ambientMaterial() the same as fill()?"
### How would this new feature help increase access
- Document behaviour

#### Most appropriate sub-area of p5.js?
- [x] Other (documentation)

#### Details:
I'm currently working on improving the material documentation.

The current documentation for [`ambientMaterial()`][0] does not mention [`fill()`][1]. I'm wondering if the two are equivalent since they have identical behaviour. See [here][2]

[2021-06-13 21:44] limzykenneth commented on #5207
Ah I misunderstood. I thought you were trying to select the slider. In this case I don't think there's a possible solution here that won't be ambiguous one way or another.

[2021-06-13 21:57] micuat commented on #5207
Sorry I also misunderstood (I was fooled by my comment pointing to dom.js).
I think the expected behavior is to return the div (not slider I guess?).

In that case, I assume that in the line of dom.js above, if it also checks
the `type` attribute, it will result in default `else` and a new element
won’t be created.

On Sun, Jun 13, 2021 at 23:45 Kenneth Lim ***@***.***> wrote:

[2021-06-13 22:03] limzykenneth commented on #5207
Yeah if it checks the type (if it is `<input>`) to be `radio` then create the radio element. Otherwise if it is mixed radio element with other types of input elements, we treat it as just selecting the `div` itself.

[2021-06-13 23:22] dhowe commented on #5142
@two-ticks please also compare to processing: https://processing.org/reference/textAlign_.html

[2021-06-14 00:12] outofambit opened #5309 "1.4 Release"
I'd like to do a release of p5 soon so we can get the [new p5 sound library (🎉)](https://github.com/processing/p5.js/pull/5266) out to everyone! Is there anything else specific we need to get merged in before then? I'm thinking we can shoot for the week of June 28.

I think the next release version should be `1.4` since I believe there are some small breaking changes in the sound library. @therewa

[2021-06-14 00:14] outofambit commented on #5309
I need to finish #5243 for this release to unblock some web editor work!

[2021-06-14 10:44] limzykenneth commented on #5309
Would be nice to get a fix of #5142 out but also don't want to rush it.

[2021-06-14 17:38] stalgiag commented on #4820
Thanks for the draft @JetStarBlues !

I think using `filter` is a good idea. Your second implementation looks great to me but I am very curious whether `get()` is going to be a bottleneck. I am getting a low framerate on the example but it is unclear how much of this is caused by creating the shader in `applyFilter`. I think this is worth pursuing for now and we can see how performance shakes out

[2021-06-14 17:52] stalgiag commented on #5308
I didn't design this and I find it a bit too subtle but there is a difference. `ambientMaterial` sets the material to a specific shader. `fill()` does not do this. Both set the `curFillColor` so this what makes there relationship a bit confusing. For example:

[code]
results in a sphere with a red specular material applied.
whereas
[code]
results in a sphere with a red ambient material applied.

P

[2021-06-14 19:18] JetStarBlues commented on #5308
Huh. Thank you for the insight.

So the current `fill()` behaviour in WEBGL mode can be described as:

\---

_Sidenote:_ is it correct to state that the default material of a sketch (when not explicitly created with a call to `specularMaterial` etc.) is `ambientMaterial`?

\---
I'm not sure whether this behaviour of `fill()` is consistent with the current approach of using materials - `materialNam

[2021-06-14 20:06] EnginKARATAS commented on #5306
Hi @limzykenneth , the resize function causing this. I have project like this example. When other tab opens, both tabs, all images bluring.
I`m working to dynamic size with socket. I wouldn`t share more example.

[2021-06-14 20:17] limzykenneth commented on #5306
@EnginKARATAS You don't have to share the code you are working on, just a minimal example that isolate and shows the problem. I can't help otherwise.

[2021-06-14 21:35] EnginKARATAS commented on #5306
//ignore translate, zoom, scale
   show() {
  translate(width / 2, height / 2);
   let newzoom = 128 / player.r;
   zoom = lerp(zoom, newzoom, 0.1);
   scale(zoom*0.5);
  translate(-player.x, -player.y);
  image(dogeplayer, this.x- 25, this.y - 25);
  dogeplayer.resize(this.r + 40, this.r + 40);
   }

 if (frameCount % 60 == 0)
 {    if (player.r &gt; 10 &amp;&amp; player.r &lt; 64)
 {      player

[2021-06-15 17:55] JetStarBlues commented on #5308
What do you think about adding [this example][0] (demonstrating WebGL behaviour) to the `fill()` [reference page][1]?

[0]: https://editor.p5js.org/acedean/sketches/rQcKcaGGW
[1]: https://p5js.org/reference/#/p5/fill

[2021-06-15 19:21] WojtekTB commented on #4092
Looks like at some point this has been resolved. Now the blur looks the same as long as the magnitude given to the filter is about the same

[2021-06-15 19:21] #4092 closed

[2021-06-15 21:22] JetStarBlues commented on #5308
Here is [another example][0] demonstrating its use for setting vertex colors when using beginShape/endShape.

The reference page for [`text()`][1] already has a WebGL example. Maybe adding a `fill()` call to it is good enough.

[0]: https://editor.p5js.org/acedean/sketches/NL63qSA5l
[1]: https://p5js.org/reference/#/p5/text

[2021-06-16 04:37] therewasaguy commented on #5309
week of June 28th and 1.4 sounds good to me!

Thank you for making this happen, @outofambit!

[2021-06-16 21:51] scoresmexico opened #5318 "Support for musicXML files with loadXML()"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [x] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [x] IO (Input/Output)
- [

[2021-06-16 23:49] limzykenneth commented on #5318
If it is a valid XML file it should be able to load. Can you try passing the file to a XML validator ([this one](https://codebeautify.org/xmlvalidator) for example) and made sure there are no issues?

[2021-06-17 02:10] scoresmexico commented on #5318
Hello Kenneth,
I rethinking the problem.I'm using createInputFile for loading the musicXML files. Here's the editor.p5.js Web Editor

|
|
|  |
p5.js Web Editor

A web editor for p5.js, a JavaScript library with the goal of making coding accessible to artists, designers, ed...
 |

 |

 |

I attach the musicXML validated in the website that you gave me.
Thank you for the quick response.Patricio

[2021-06-17 09:58] 8o8inCodes opened #5321 "Word wrapping doesn't wrap the long words."
#### Most appropriate sub-area of p5.js?

- [x ] Typography

#### Details about the bug:

- p5.js version: latest
- Web browser and version: Chrome
- Operating System: Windows 10
- Steps to reproduce this:
[code]

It doesn't word wrap long words and these words escape the wrapping box.
And I have no way of containing such text.

Here is an quick editor example that I've found, you can add a very l

[2021-06-17 12:09] limzykenneth commented on #5318
@scoresmexico Were you trying to attach a link to the web editor? It isn't show up here on GitHub, can you try again?

[2021-06-17 12:14] limzykenneth commented on #5321
This has been address by #5146 with the addition of the `textWrap()` function. It will be available in the next release of p5.js.

[2021-06-17 12:14] #5321 closed

[2021-06-17 12:25] scoresmexico commented on #5318
Oh sorry, the mail was sent from google.

https://editor.p5js.org/patricio1979/sketches/FGisDe1bb

I tried to upload the file but
![Screen Shot 2021-06-17 at 7 22 59 AM](https://user-images.githubusercontent.com/8378427/122395788-f3c9ad00-cf3c-11eb-91cd-d080687889b1.png)

The musicXML file has this structure and was validated on the website that you mentioned:
<?xml version="1.0" encoding="UTF-8"?

[2021-06-17 12:28] scoresmexico commented on #5318
That didn't went well...
https://pastebin.com/W691kaSE

[2021-06-17 12:39] 8o8inCodes commented on #5321
Thank you! Will be waiting for it

[2021-06-17 13:03] limzykenneth commented on #5318
You can enclose code blocks with three backticks (`) which will keep the tags in markdown.

`loadXML()` accepts a URL string to load the XML data and does not accept XML strings directly. What you want would be something like the following

[code]

It's not documented though but I think a new function for parsing XML strings could be helpful to add. In any case you can use the snippet above to get

[2021-06-17 13:59] scoresmexico commented on #5318
It still gives me an error. It builds a XML file with this info
[code]

[2021-06-17 15:15] zenozeng commented on #458
Sorry for my late reply. A lot has happened in the past few years. I recently restarted the maintenance of the [p5.js-svg](https://github.com/zenozeng/p5.js-svg) project and released the 1.0.7 version. I have fixed many bugs, supporting the latest version of p5.js (1.3.1), and [implemented CanvasTransform Interface](https://github.com/gliffy/canvas2svg/pull/83).

Project Homepage:
https://github.c

[2021-06-17 16:35] limzykenneth commented on #5318
Actually if you are using `createFileInput()` you can skip a few steps and just do

[code]

[2021-06-17 18:38] scoresmexico commented on #5318
¡It works with files with XML extension! ...but no with musicXML file extension...
Is there a way to correct this or is it the browser itself that throws error?
    El jueves, 17 de junio de 2021 11:36:02 GMT-5, Kenneth Lim ***@***.***> escribió:

Actually if you are using createFileInput() you can skip a few steps and just do
function fileHandler(file){
  const xmlObject = new p5.XML(file.data.DO

[2021-06-17 18:46] scoresmexico commented on #5318
So I guess the "Support for musicXML file" that i requested is still good?

    El jueves, 17 de junio de 2021 11:36:02 GMT-5, Kenneth Lim ***@***.***> escribió:

Actually if you are using createFileInput() you can skip a few steps and just do
function fileHandler(file){
  const xmlObject = new p5.XML(file.data.DOM);
}
—
You are receiving this because you were mentioned.
Reply to this email direct

[2021-06-17 18:51] limzykenneth commented on #5318
It's not specifically musicXML file that is the problem but rather a way to create p5.XML object. But I think in your case it isn't really that much of a step, just the data returned from `createFileInput()` can be better documented.

[2021-06-18 00:22] scoresmexico commented on #5318
Hopefully there will be support for musicXML files and other types of XML.

Thanks for the help!

[2021-06-18 04:37] JetStarBlues commented on #5120
An update.

Found out how to update the buffer values "on the fly".
[`_prepareBuffer()`][0] (called via `model()` > `drawBuffers()`), checks the following to see if it should update the buffer values:
- the buffer does not exist
- or `model.dirtyFlags[this.src] !== false`

It looks like `_prepareBuffer()` was designed to support updates! In a sketch it looks something like this:
[code]

Here is a

[2021-06-18 15:32] BryanMed commented on #5284
Hi! @limzykenneth Using ` ellipse(10, 30, 70)` i have the same result as `circle(10, 30, 70)`. Also, yes as @dipamsen mentioned, it looks that the coordinates are used as width/height, and the diameter as the circle coordinates.

[code]
![imagen](https://user-images.githubusercontent.com/49250127/122584421-f51fd600-d01f-11eb-9beb-98bd2e7cb4c5.png)

I got the same behaviour using Processing. Honest

[2021-06-18 17:39] #5243 closed

[2021-06-19 09:01] itarnyagin opened #5322 "VIDEO reference is empty"
The section for VIDEO reference has nothing in it

[2021-06-19 09:43] aevin-io commented on #2769
you saved the day!

[2021-06-19 15:35] darrinm opened #5323 "Examples stuck at "Loading..." on Safari 14.1"
#### Most appropriate sub-area of p5.js?

- [x] Other (specify if possible)
(all?) p5 examples (https://editor.p5js.org/p5/sketches)
https://editor.p5js.org/p5/sketches/Hello_P5:_song
https://editor.p5js.org/p5/sketches/Hello_P5:_drawing
https://editor.p5js.org/p5/sketches/Hello_P5:_weather
https://editor.p5js.org/p5/sketches/Hello_P5:_flocking
https://editor.p5js.org/p5/sketches/Hello_P5:_interac

[2021-06-20 15:59] montoyamoraga opened #5325 "add new contributor"
@all-contributors please add @osteele for doc
at  #5324

[2021-06-20 16:00] montoyamoraga commented on #5325
@all-contributors please add @osteele for doc

[2021-06-20 16:01] montoyamoraga commented on #5325
closed by #5326

[2021-06-20 16:01] #5325 closed

[2021-06-20 16:07] sukhchainn opened #5327 "mouseDragged is very slow."
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [x] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-06-20 18:20] outofambit commented on #5327
hi @sukhchainn thanks for reaching out. this is a question best directed to the [p5 forum](https://discourse.processing.org/c/p5js) for help with your code! If you can include a link to your running code there, that will also help folks help you faster. :)

[2021-06-20 18:20] #5327 closed

[2021-06-20 20:03] shiffman commented on #458
Wow, this is amazing to see @zenozeng! Great work!

[2021-06-21 14:04] therealyubraj opened #5330 "createGraphics() pixels array too large"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)

#### Details a

[2021-06-21 15:34] dipamsen commented on #5284
Well, there's no bug here, it works as intended. It is just not intuitive/useful the way it currently works.

In @BryanMed's example, `circle(50, 50, 0)` turns into `ellipse(50, 50, 0, 0)` which translates as "draw a ellipse with corner coords (50, 50) and (0, 0)"

Would a way to fix this be to ignore `ellipseMode(CORNERS)` just for `circle()`?

[2021-06-22 04:41] therealyubraj commented on #5330
Sorry for wasting anyone's time! feel like the dumbest person ever. It was pixelDensity that was messing everything up. set that to 1 and issue resolved!

[2021-06-22 04:41] #5330 closed

[2021-06-22 17:58] dannewoo commented on #458
Amazing! Thank you so much @zenozeng and cant wait to play around with it :)

[2021-06-22 23:32] davidbwaters commented on #4127
Just FYI, I'm in the same boat and found https://github.com/LingDong-/q5xjs.  It doesn't include 3d (yet), but might be useful in this situation.

[2021-06-22 23:47] davidbwaters commented on #4127
And generally speaking, lowering the bundle size directly increases accessibility in areas where bandwidth and internet connection speeds are an issue.  China seems to be a region affected by this and p5 seems to be popular with Chinese devs based on some cool demos I've seen on Twitter (search for p5 and you'll see a bunch).  So as far as being good for the community and accessibility, it seems l

[2021-06-23 08:31] jamesmackenzie1999 opened #5331 "Mic Input not working on mobile browser"
No microphone is being found on iPhone when using p5js mic.start() but works on desktop.
Found this same issue when viewing the microphone p5 example [here](https://p5js.org/examples/sound-mic-input.html)
Mic has worked on other sites I've visited and the devices settings create no boundary to receiving the input .

Mobile returns:
mic active ? : null
mic source ? : none

Im using this code to act

[2021-06-23 15:06] limzykenneth commented on #5331
Can you try something like what's shown [here](https://p5js.org/reference/#/p5/getAudioContext), ie. triggering the audio context via a touch event.

[2021-06-23 16:08] jamesmackenzie1999 commented on #5331
Have tried implementing that to no avail - that example does not even work on my mobile (ios14.6) on chrome & safari

[2021-06-25 15:15] stalgiag commented on #5323
Thanks for filing this well-written issue. I believe this may be [the same as this](https://github.com/processing/p5.js-web-editor/issues/1870).

[2021-06-25 15:19] #5270 closed

[2021-06-25 17:04] stalgiag commented on #5297
This is noted in the docs in a way that is visible to the p5.Graphics next to the `reset()` link but perhaps it could be more prominent or direct.

[2021-06-25 22:56] Coders-Digest911 opened #5333 "CDN not working..."
#### Most appropriate sub-area of p5.js?

- [x ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-06-26 00:28] N4M3L355 opened #5334 "Removing unused jshint config (.jshintrc)"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-06-26 11:36] limzykenneth commented on #5334
Should be alright to delete it. You can file a PR if you wish.

[2021-06-26 15:00] limzykenneth commented on #5333
@Coders-Digest911 What is the URL of the CDN in use? As far as I've checked there doesn't seem to be a problem with the CDNs.

[2021-06-26 15:39] Coders-Digest911 commented on #5333
I use this on KA and repl.it. Neither seem to work: <script src="
***@***.***/lib/p5.js"></script>
Could possibly be another problem, since a few other things have stopped
working now too.
Thanks for looking into this!

On Sat, Jun 26, 2021 at 8:00 AM Kenneth Lim ***@***.***>
wrote:

[2021-06-28 14:23] limzykenneth commented on #5333
@Coders-Digest911 I don't think the reply came through properly as I still can't see what the cdn link is. Can you try again? Perhaps directly through github would help.

[2021-06-28 14:40] jgordon510 opened #5339 "vectors created using random2d() do not respect angleMode(DEGREES) as those created with createVector() do"
#### Most appropriate sub-area of p5.js?
- [X] Math (Vectors)

#### Details about the bug:
https://p5js.org/reference/#/p5.Vector/random2D
Random2d returns a p5.Vector just as createVector does.

https://p5js.org/reference/#/p5.Vector/heading states:
"Calculate the angle of rotation for this vector(only 2D vectors). **p5.Vectors created using createVector() will take the current angleMode into con

[2021-06-28 23:41] catarak commented on #5323
Thank you! This is an issue with the p5.js Editor, p5.js sound, and the latest version of Safari. I have updated the examples to use an earlier version of p5.js sound so this is fixed for now.

[2021-06-28 23:41] #5323 closed

[2021-06-29 01:41] sflanker opened #5340 "The round() function does not work when a number of digits is specified with very small numbers."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [X] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-06-29 02:09] sflanker commented on #5340
Credit for discovering this bug: https://discourse.processing.org/t/round-produces-nan/30943/3

[2021-06-29 11:03] limzykenneth commented on #5339
`random2D()` uses `fromAngle()` behind the scenes so this issue exist in `fromAngle()` as well (rather the problem came from it).

There's a bit of extra functionality in `createVector` which is when it is called as an instance method it will bind the current instance `this` to the vector's `p5` property. However because `fromAngle()` is a static function, it will not have access to the current in

[2021-06-29 14:42] Coders-Digest911 commented on #5333
I used this one:   https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js
This is found on your website.
Example of not working:
https://www.khanacademy.org/computer-programming/new-coders-digest-911-hq-20/4523106246803456
Scroll to below Logo: There should be a canvas below there.
I also used to it create a Data Selfie App, using a different technique such as p5.js setup, draw, and other functions. This

[2021-06-29 15:02] limzykenneth commented on #5333
The errors here are not related to CDN. The Khan Academy example is not using p5.js at all, it's using some kind of Processing syntax but p5.js is not the same as Processing so it won't run the code. The other example you provided has syntax error in the sketch code itself (there is a `let` keyword without a variable name declared after it).

I'm going to close this for now since as far as I can s

[2021-06-29 15:02] #5333 closed

[2021-06-29 15:04] jimmymorris commented on #4630
@zenozeng thanks for updating! this is super exciting, look forward to trying it out!

[2021-06-30 00:32] outofambit commented on #5309
released today! https://github.com/processing/p5.js/releases/tag/v1.4.0

the release notes need some work 😅 will revise them soon

[2021-06-30 00:32] #5309 closed

[2021-07-01 16:57] stalgiag commented on #5279
Hi! And apologies for letting so many of your issues and PRs sit for so long. There are only a few WebGL maintainers on this repo at the moment so our availability can be spotty.

I am not sure that the default uniforms should not be modified in custom shaders. I can imagine a case in which someone wants to distribute custom shaders for p5.js for people that don't know GLSL  wherein the default un

[2021-07-01 16:59] #5294 closed

[2021-07-01 18:25] soegaard opened #5343 "Images and alpha masks"
The example collection for Processing (the Java version) has an example using an alpha mask.
Above the source code one can see the P5 version of the same example.

This screenshot shows the P5 result at the left and the Processing result at the right.
Notice that the transparent areas are reversed in the P5 result.

The mask image contains a circle with blurred edges. The original idea of the Proc

[2021-07-01 20:08] JetStarBlues commented on #5279
Hi, no worries, understandable! I'm very grateful for all the work you and fellow maintainers do =)!

I see, that is a cool use case. Reminds me of the shader mods people make to games like Minecraft. In that case, I can try my best to document what each of the default uniforms do.

\---

What do you think of the last two commits, where the declaration of [`uViewPort`][0] and [`uPerspective`][1] a

[2021-07-01 21:58] JetStarBlues opened #5344 "Source code links in Reference page no longer work"
#### Most appropriate sub-area of p5.js?
- [x] Other (documentation)

#### Details about the bug:

At the bottom of a Reference page entry, there is a link that points to the code associated with a function.

![sourceCodeLink](https://user-images.githubusercontent.com/4354703/124193973-fa037180-da84-11eb-856c-ebde84d355e2.png)

With the new release `1.4.0`, these links no longer work.

The urls se

[2021-07-02 15:29] #5334 closed

[2021-07-03 17:37] tigoe commented on #458
All great to see!  I look forward to trying it out. Thank you!

Tom

On Tue, Jun 22, 2021 at 1:59 PM dannewoo ***@***.***> wrote:

--
Tom Igoe

[2021-07-03 18:14] The-Warlord opened #5346 "textBounds not present in reference"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (reference system)

#### Details abou

[2021-07-03 22:29] limzykenneth commented on #5346
The link is supposed to be https://p5js.org/reference/#/p5.Font/textBounds. I don't know enough about FES to know how it is generating that link. Perhaps @outofambit or someone else more familiar with FES can have a look?

[2021-07-04 00:00] outofambit commented on #5133
gonna take a look at this soon! i hit the same scenario in publishing 1.4 because i forgot we hadn't fixed this yet.

[2021-07-04 04:35] hydrosquall commented on #5133
This is a larger change, but if the p5 team is interested in automating the process of version bumping, updating the changelog, and publishing the package to NPM, you might be interested in semantic-release or auto projects. A recent reference diff using auto inside a GitHub action is here:

https://github.com/nteract/data-explorer/pull/63

[2021-07-05 20:55] #5340 closed

[2021-07-06 02:00] The-Warlord opened #5347 "Nullish Coalescing Operator shows syntax error in editor"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-06 14:35] limzykenneth commented on #5347
Hi @The-Warlord, the editor is maintained in a separate repository so you should file this issue over [here](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks!

[2021-07-07 12:40] limzykenneth commented on #5344
@outofambit Was the release steps run as `npm run release`? What I think is the problem here is that the git tag generated by `npm version` (ie. the versions without the "v" prefix) is either not generated (`npm version` was not run as part of `npm run release` or otherwise) or the generated git tag is not pushed to remote here. `npm run release` should have taken care of these already.

Can you c

[2021-07-07 13:13] limzykenneth commented on #5343
Not sure why this is the case as it should have been fixed as far back as #531. Although I don't see this changing currently as it would be a pretty significant breaking change, maybe the documentation can be updated to reflect this.

[2021-07-07 18:01] The-Warlord commented on #5347
Oh, thanks for letting me know! I'll move it.

[2021-07-07 18:01] #5347 closed

[2021-07-07 18:43] soegaard commented on #5343
Maybe The p5.Sj version used in the Processing docs were from before the fix of #531, and Shiffman compensated by changing the image - and then the P5 version was updated? If so the bug is not in P5.Sj but rather the Processing docs.

[2021-07-08 05:21] thinklikeadesigner commented on #2865
I would like to help!

[2021-07-08 11:37] limzykenneth commented on #5343
@soegaard I had a closer look and what you just mentioned is kinda right. The implementation for p5.js or Processing, example, documentation, or otherwise, are both right, there is no bug. The confusion comes mainly from the mask used, p5.js' alpha mask example and Processing's alpha mask example actually uses two different mask image.

The p5.js mask image uses an image where the circle are trans

[2021-07-08 11:37] #5343 closed

[2021-07-08 11:51] soegaard commented on #5343
Thanks for looking into this.

If I understand correctly, this means the images used for the the p5js code in the Processing (Java version) documentation needs to invert the alphamask in order for the behaviour of the applet and the Processing code below to match.

Note: I see the applets in the Processing (Java version) as previews of what the Processing does (not what P5Js does).

I'll file an i

[2021-07-11 14:03] #5304 closed

[2021-07-12 14:14] ttoommmmiiee opened #5349 "Audio dropouts on mobile when using mobile"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible) - p5 Sound, Mob

[2021-07-14 01:14] etcadinfinitum commented on #2765
Just wanted to bump this thread -- the importance of not conflating the two disparate behaviors that this function exhibits is pretty important.

The frequent use of auto-reload combined with calling this function under `draw()` probably leads to more usability issues than what is already documented here. This is doubly true when you consider that the library is designed to be highly accessible fo

[2021-07-14 11:42] Aloneduckling opened #5350 "GSoC'21(FES): Detecting reassignment of p5.js reserved constants and functions"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
FES is not able to detect if the user has reassigned p5.js reserved constants or functions this can create some problems as the default values of the constants/functions would be overwritten. This feature aims to prevent that from happening.

#### Most appropria

[2021-07-14 15:26] outofambit commented on #5344
@allcontributors add @jiwonme for code

[2021-07-14 15:26] outofambit commented on #5344
fixed with https://github.com/processing/p5.js-website/pull/1051

[2021-07-14 15:26] #5344 closed

[2021-07-14 15:46] ffd8 commented on #3691
@limzykenneth Recently ran into this with students and told them to 'burn the first call of `random()`', which is a little odd. What are your thoughts on that idea of burning a single `random()` within the [`randomSeed()` function](https://github.com/processing/p5.js/blob/cb3f59740bcb71ba5e2bee820bb1f784004d85ef/src/math/random.js#L61), thus hopefully allowing all additional calls for `random()` t

[2021-07-14 17:06] ffd8 commented on #3179
FYI, this topic comes up regularly in both a design school context (+ livecoding workshops), because type + WEBGL = 🤩  !

While it's quick to demonstrate preloading assets, it's not always easy to setup assets or find a CORS friendly remote path. With `text()` working out of the box sans custom font, it would be helpful for the same to work when switching to `WEBGL`. This is usually the main gotch

[2021-07-14 22:44] dhowe commented on #3179
I agree with @jtnimoy if we can host a simple compatible font (or perhaps a few for different character sets). Perhaps they can simply be added to this repo and accessed via raw.github.com/... (need to test)

[2021-07-15 06:10] Hsad1644 commented on #4669
its happening again :(
- on Microsoft Edge Version 91.0.864.67 (Official build) (64-bit)
- using p5.js 1.4.0 from jsdelivr.net

[2021-07-15 11:25] limzykenneth commented on #3691
@ffd8 It still would be a breaking change as the expected list of random numbers will be off by one when `randomSeed()` is called. Instead of burning the first `random()` would scaling the seed value up be a good enough solution? ie ` randomSeed(mouseX * 1000)`

[2021-07-16 11:56] 0xJonas opened #5354 "frameRate()'s messy behaviour"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-17 11:49] guilhermesilveira opened #5355 "Documentation for createVideo and createAudio should link to MediaElement"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)
Documentation

[2021-07-18 08:40] 8o8inCodes commented on #3167
Here is a documentation
https://p5js.org/reference/#/p5/drawingContext

[2021-07-18 12:52] pyroxenite opened #5357 "Typo"
There's a typo in the reference here:
https://p5js.org/reference/#/p5.Panner3D
"Connect an audio sorce"
Have a nice day

[2021-07-19 07:20] WhiteSte opened #5358 "Problem interacting with p5js by iOS devices"
#### Details about the bug:

- p5.js version: 1.4
- Web browser and version: any
- Operating System: Last iOS
- Steps to reproduce this:
 I tested with iPhone and iPad with safari and chrome.
https://p5js.org/examples/interaction-kaleidoscope.html

You can check here in the official site

[2021-07-21 12:25] ameybhavsar24 commented on #5358
Hey @WhiteSte, can you describe the exact problem you are facing?

[2021-07-21 12:37] Kylomask opened #5359 "loadSound() thinks its not defined"
so i hhad a really important project to submit but loadSound() dosent work, and i tried to fix it, nothing happened. Please fix.

[2021-07-21 12:40] limzykenneth commented on #5359
Hi @Kylomask, can you provide a bit more information about what's going on? We need to be able to replicate your problem or we won't be able to help here. Filling out the issue template will be really helpful for us. Thanks.

[2021-07-21 12:59] Kylomask commented on #5359
so i tried to use loadSound, i declared a variable and did all that with p5.sound.min.js but it says not defined

[2021-07-21 13:01] Kylomask commented on #5359
ReferenceError: loadSound is not defined
    at preload (/sketch.js:15:3)

    at p5._start (https://assets.editor.p5js.org/6092f1eb2385d600207318bf/eb5fec05-8e58-44ab-a5ad-015211a5f3da.js:48706:19)

    at new p5 (https://assets.editor.p5js.org/6092f1eb2385d600207318bf/eb5fec05-8e58-44ab-a5ad-015211a5f3da.js:49057:22)

    at _globalInit (https://assets.editor.p5js.org/6092f1eb2385d600207318bf/eb

[2021-07-21 13:03] limzykenneth commented on #5359
Is the p5.sound.min.js script included in the HTML like below?

[code]

[2021-07-21 13:07] Kylomask commented on #5359
no

[2021-07-21 13:07] Kylomask commented on #5359
should i put it in?

[2021-07-21 13:26] Kylomask commented on #5359
wait nevermind i found it

[2021-07-21 13:26] #5359 closed

[2021-07-21 13:26] Kylomask commented on #5359
just, without the p5.sound.min.js, i used new Audio!

[2021-07-21 13:45] fguillen commented on #4052
I was a bit headache to see that it was not working for `angleMode()`, coming here just to say it.

P5 version: v1.3.1 March 28, 2021

[2021-07-21 15:17] WhiteSte commented on #5358
Hi, I have problems interacting with iPhone/iPad. If you try the official example that i linked, it should not work. It seems like the touch is not recognized by p5js

[2021-07-22 05:52] AlexEltonPym opened #5360 "Undefined totalHeight in text function when setting vertical alignment"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-22 05:53] AlexEltonPym commented on #5360
Bug occurs with either textAlign(, BOTTOM) or textAlign(, CENTER)

[2021-07-22 05:55] AlexEltonPym commented on #5360
Offending code:

https://github.com/processing/p5.js/blob/f21bbaf16e0659a6eb47461ed98f3ae3a2b73fcd/src/core/p5.Renderer.js#L270-L283

[2021-07-25 23:38] hjalmar-astrom opened #5362 "Thin lines look much brighter in Safari than Chrome"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-27 11:35] limzykenneth commented on #5362
This is probably down to the detailed implementation differences of subpixel drawings in the browsers and nothing much p5.js can do to make them consistent. In other words, when drawing such thin lines, it is up to the browser to decide how it wants to draw them.

[2021-07-27 12:28] limzykenneth opened #5363 "Testing out using Pontoon and Fluent for translation workflow"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

Using [Pontoon](https://pontoon.mozilla.org/) and [Fluent](https://projectfluent.org/) could potentially increase the ease of contributing to translation of p5.js, removing the need for translators to have a development setup to start translating. Pontoon can a

[2021-07-27 12:31] limzykenneth commented on #5363
@outofambit @Qianqianye @montoyamoraga @yukienomiya

Pinging a few people off the top of my head, but hopefully this will reach other people interested too.

[2021-07-27 12:31] hjalmar-astrom commented on #5362
Ah yeah you're right, I had a look at the implementation and it mostly just calls through to the rendering context.

[2021-07-27 12:31] #5362 closed

[2021-07-27 16:27] montoyamoraga commented on #5363
hey @limzykenneth this sounds great to me,
and happy to test it out when it is implemented in August :)

[2021-07-27 21:45] MrBean3737 opened #5364 "Array.fill() didn't fill; it fill color."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-28 00:35] truemaxdh commented on #2309
@all-contributors please add @truemaxdh for bug, code

[2021-07-28 18:21] malviys commented on #5364
Try using
[code]

[2021-07-29 18:13] malviys opened #5367 "Unable to build library using grunt. Fatal error: Protocol error (Runtime.callFunctionOn): Object reference chain is too long."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-07-30 17:59] yukienomiya commented on #5363
Sounds great to me too! happy to test it out 🙃🙃

[2021-07-31 07:54] SanjaySinghRajpoot commented on #5363
Looks good, I have read some documentation for Pontoon. Let's test this thing out 🙂

[2021-07-31 14:05] limzykenneth commented on #5367
@malviys Can you share a more complete console output?

[2021-08-02 13:50] limzykenneth commented on #5363
A note here to say that things are almost ready for people to try out now: https://github.com/processing/p5.js-website/pull/1069

You can also start using the [Pontoon](https://p5js-pontoon-test.herokuapp.com/) instance right away!

[2021-08-02 14:42] montoyamoraga commented on #5363
hey @limzykenneth i tried the Pontoon instance and did some translations, i didn't know how to check if they were submitted / or next steps?
also, there are several Spanish options, could we just have one? :)

[2021-08-02 15:30] limzykenneth commented on #5363
Actually for most of the strings imported, although it says translated, they are actually still untranslated. I'll make you a manager for Spanish and you can go in and unapprove any untranslated strings. I'll probably make a video showing how everything works in a day or two but feel free to explore, it's pretty hard to do any damage to it :stuck_out_tongue_winking_eye:

I'm only seeing one for Sp

[2021-08-02 16:15] montoyamoraga commented on #5363
oh got it, yeah, when i clicked on teams, it shows many Spanish languages, but only the "es" is activated, the other ones are not :)

[2021-08-04 05:51] dmitrishelog opened #5368 "P5.js"
Hello.
How are you?
I have used p5.js now.
but I can't make ring.
Please help me...

[2021-08-04 11:46] limzykenneth commented on #5368
Hi, if you need help with your own code, please direct your questions to the [forum](https://discourse.processing.org). We use GitHub issues mainly for bug reports and feature requests only. Thanks!

[2021-08-04 11:46] #5368 closed

[2021-08-04 14:09] limzykenneth commented on #5363
A basic video guide is available now: https://vimeo.com/582952817

[2021-08-07 16:41] sahintelli opened #5369 "After using the push() function, the previous values cannot be seen"
I tried the code provided on [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/push](url). However, on [https://editor.p5js.org/](url), it returns a different and an unexpected result for the **_push()_** function. The array is updated but the previous version is also changed. I am unable to see the original array anymore.

![image](https://user-images.githubu

[2021-08-07 17:41] yukienomiya commented on #5363
Hey @limzykenneth I tried it out a bit and it seems very cool! 🙃👏🏻

I was wondering, will there be a way to create (and work on) new translations directly from the platform? Or will the translation files need to be added to the repository first?

[2021-08-08 08:23] EnderShadow8 opened #5370 "Increase the period of Perlin noise function"
I've been using the noise function built into p5 for creating a procedurally generated world. However, I've noticed that the noise function seems to be periodic. After a bit of research I found #4724 which also mentions the same issue. However, it was closed quickly with only an unsatisfactory response of "sample with a higher frequency" and "add more octaves". For some use cases, like mine, this

[2021-08-08 12:04] limzykenneth commented on #5363
@yukienomiya I think a new language can be added directly from Pontoon and when syncing it will automatically create the new translation file.

[2021-08-08 15:30] limzykenneth commented on #5370
The idea is to increase sampling frequency and increase the number of octaves while shortening the sample length so as to not hit the maximum period. The falloff factor will determine how much each subsequent octaves contributes to the overall noise which can be used to tweak the noise characteristic. Since perlin noise is fractal-like to a certain degree, you can sample from a small section of it

[2021-08-08 16:45] limzykenneth commented on #5369
Hi, the editor is maintained in a separate repository and you should file this issue [here](https://github.com/processing/p5.js-web-editor/issues) instead. Thanks!

[2021-08-08 16:53] sahintelli commented on #5369
Hi 👋 I see. Thank you so much 😊✌

[2021-08-08 17:03] #5369 closed

[2021-08-09 13:25] EnderShadow8 commented on #5370
I ended up interpolating hashes of coordinates in space like you said and it worked pretty well. Thanks.

Just out of curiosity, is it possible to increase the period of the noise function without that much effort by tweaking constants? I'm sure there are use cases for that where simple interpolation of hashes doesn't work.

[2021-08-09 13:25] EnderShadow8 commented on #5370
@limzykenneth I ended up interpolating hashes of coordinates in space like you said and it worked pretty well. Thanks.

Just out of curiosity, is it possible to increase the period of the noise function without that much effort by tweaking constants? I'm sure there are use cases for that where simple interpolation of hashes doesn't work.

[2021-08-09 14:49] limzykenneth commented on #5370
The size is indeed hard coded (`4095` in the [codebase](https://github.com/processing/p5.js/blob/374acfb44588bfd565c54d61264df197d798d121/src/math/noise.js#L27)) and theoretically you can increase that size to get a longer period but in practice there is little reason to do so, aside from slowing down the function, because of the self similar nature and being able to add additional octaves for mor

[2021-08-09 14:49] #5370 closed

[2021-08-12 13:45] mateusk opened #5373 "Firefox for Android does not render video in canvas"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [X] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [X] Other (Video)

#### Details about the bug:

[2021-08-13 08:04] KouichiMatsuda opened #5374 "radio.selected(value) does not work with radio buttons holding "value" and "label""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-08-13 14:04] limzykenneth commented on #5374
The radio options' values are converted to strings on creation because the underlying HTML element only supports string values and when attempting to select using `radio.selected(1)`, it is trying to look for an option with a numeric `1` instead of a string `"1"` so it can't find a match.

We can possibly cast the argument passed to `radio.selected()` into string explicitly.

[2021-08-13 14:17] KouichiMatsuda commented on #5374
Great thanks, & Woops!

I think it should be written in the "Description".
It's hard to find the bug especially for beginners.

BTW, the order of arguments of "option" method between createSelect and createRadio is different as follows:
.option(name, [value]) for createSelection() and .option(value, [label]) for createRadio.

Is there any reason about that?

[2021-08-15 10:15] nnmrts commented on #3167
Yeah drawing a line without p5 on a canvas is "easy" too:

[code]

That's not the point of the issue though. Saying "I'm not sure a wrapper of these is necessary" would imply that 90% of p5.js is not necessary, most of it is just a wrapper around canvas stuff.

But I guess it's not in the scope of a creative coding library to add more accessible support for shadows.

[2021-08-16 07:27] abhyuday-tripathi commented on #2309
all-contributors please add @abhyuday-tripathi for contributions

[2021-08-16 07:28] abhyuday-tripathi commented on #2309
@all-contributors please add @abhyuday-tripathi for contributions

[2021-08-16 07:28] abhyuday-tripathi commented on #2309
@all-contributors please add @abhyuday-tripathi for code

[2021-08-18 10:48] limzykenneth commented on #5363
@catarak Here's the issue about Pontoon that was mentioned yesterday. If you want to look at what kind of things are required repo-side, you can have a look at this PR https://github.com/processing/p5.js-website/pull/1069

[2021-08-18 17:53] #2525 closed

[2021-08-18 18:16] #5355 closed

[2021-08-18 18:50] malviys commented on #5367
@limzykenneth It is very long output Grunt builds and runs test all test cases. Don't know how much code would be sufficient because it tries to run test cases and then fails.

[2021-08-18 19:54] limzykenneth commented on #5367
Basically we need to know which task failed and if it's the test, which test is causing the issue. I know it can be difficult to tell where the issue occur at first glance so if you could share a more complete output I can diagnose it better. You can put it on a [gist](https://gist.github.com/) or pastebin as those are a bit more suitable for long text than github issue comments.

[2021-08-18 20:29] limzykenneth commented on #5374
It's hard to find the bug especially for beginners.

Yes, I think adding a note about this in the reference would be good.

.option(name, [value]) for createSelection() and .option(value, [label]) for createRadio.

I'm not exactly sure why that is the case. It certainly can be confusing but unfortunately for backwards compatibility reasons we can't change it for now (until the next major release).

[2021-08-19 01:30] KouichiMatsuda commented on #5374
Great thanks,
It's clear for me.

I think the "name" parameter is confusing. It should be "label" which is used in createRadio.
At least, in 'Desctipyion', it seems to be better that .option(name, [value]) will be rewritten into .option(label, [value]).

Thanks,

[2021-08-19 11:45] guilhermesilveira opened #5380 "nf and nfs examples not working"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [X] Other (specify if possible)
Documentation

[2021-08-19 12:16] willmartindev commented on #1263
Hi @lmccart, I am trying to visit the library documentation link above but it looks like it was removed. Is this method documented anywhere else?

[2021-08-19 13:55] limzykenneth commented on #1263
@willmartindev Have a look [here](https://github.com/processing/p5.js/blob/main/contributor_docs/creating_libraries.md).

[2021-08-20 03:43] HaroldLee931 commented on #5360
you can avoid this issue by using `textAlign(TOP, TOP)`

[2021-08-21 13:28] limzykenneth commented on #5363
I'm going to reopen this until the end of September to gather any feedback.

A quick update, at https://p5js-pontoon-test.herokuapp.com/projects/p5js-documentation/ all the strings incorrectly labelled as "translated" have been corrected to not have a translation and please go ahead and work on them if you like! I will do occasional syncing of Pontoon with the website repo and that will update the

[2021-08-24 02:28] atmavan opened #5384 "Gravity"
Hi there!

When I look at one of your examples:
https://p5js.org/examples/simulate-forces.html

I can see that there is no standard gravity applied to objects, like 9.8 m/s2
Instead gravity is created individually for objects based on their MASSES.

Actually I think this is correct and just confirms theory that gravity does not exist, it is just matter of mass and desnity.
Like helium baloon goes

[2021-08-24 09:22] andreiantonescu opened #5385 "Strange behaviour for bezier() in sub pixel stroke weight"
### Most appropriate sub-area of p5.js?
- [x] Core/Environment/Rendering

### Environment details:

- p5.js version: 1.4
- Web browser and version: Chrome 2.0.4515.159 (Official Build) (x86_64)
- Operating System: Mac OS 11.4

### Issue details and reproduction:
See https://openprocessing.org/sketch/1244219

I’ve encountered some strange behavior for bezier() when using subpixel (<0.49) stroke wei

[2021-08-24 11:42] #5384 closed

[2021-08-24 11:46] limzykenneth commented on #5385
I'm not quite sure what I'm supposed to be seeing here in terms of the problematic behaviour, some screenshots would be very helpful in this case.

That being said, I doubt there's much that can be done about it as subpixel drawings are often prone to many problems that can be traced back to the browser's implementation itself, so there's not much we can do in p5.js itself.

[2021-08-24 13:05] #5385 closed

[2021-08-24 17:17] andreiantonescu commented on #5385
I've arrived at some acceptable workarounds. For reference, if anyone encounters problems with sub-pixel lines I recommend:
- for lines that should be < 1px, draw them at 1px but change their alpha. So if you would like to draw a line at 0.45px, draw it at 1px with 45% alpha
- draw all lines at >1px and then scale down by the needed amount

[2021-08-24 17:54] malviys commented on #5367
@limzykenneth here is the pastebin link https://pastebin.com/FdULWrF2 for the error details

[2021-08-24 20:59] limzykenneth commented on #5367
It seems to be a puppeteer problem. You can change your node.js version to 14.x and npm version to 6.x and you should be able to run `grunt` fully. I'll need to see what kind of fix is available for npm version 7.x.

[2021-08-24 21:00] limzykenneth commented on #4913
There's a regression on this issue on node.js 16.x and npm 7.x, documented in #5367

[2021-08-24 21:52] limzykenneth commented on #5367
I couldn't do a straightforward update to puppeteer 10.2.0 (latest version) because of a few failed unit tests that I'm not too familiar with. @outofambit Can you perhaps have a look?

[code]

[2021-08-25 14:16] serverizzo opened #5386 "Inverted y in WEBGL createGraphics() canvas"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-08-25 17:19] ghost opened #5387 "Add ability to pass default values for getURLParams(defaults)"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

`getURLParams` is a powerful method that makes sharing specific generations of generative art easy and to rapidly test variables, but it still requires considerable boilerplate code making it cumbersome for beginners and streamers like Coding Train to type out.

[2021-08-26 15:53] gregsadetsky opened #5388 "Error when running "npm run dev" related to missing parameterData.json file"
#### Most appropriate sub-area of p5.js?

- [X] Build tools and processes

#### Details about the bug:

- p5.js version: commit 22c858186f0b8e3ae12152171012aa341e976d95
- Operating System: macOS 10.15.7

#### Steps to reproduce this:

- follow instructions at https://p5js.org/contributor-docs/
- check out version 22c858186f0b8e3ae12152171012aa341e976d95
- run `npm ci`
- run `npm run dev`

Error sh

[2021-08-26 15:57] gregsadetsky opened #5389 "Fatal error "Object reference chain is too long" when running "npm run grunt""
#### Most appropriate sub-area of p5.js?

- [X] Build tools and processes

#### Details about the bug:

- p5.js version: Commit 22c858186f0b8e3ae12152171012aa341e976d95
- Operating System: macOS 10.15.7

### Steps to reproduce this:

- Follow https://p5js.org/contributor-docs/
- check out commit 22c858186f0b8e3ae12152171012aa341e976d95
- run `npm ci`
- run `npm run grunt`

Output is:
[code]

[2021-08-26 16:16] #5389 closed, assigned to nobody

[2021-08-27 13:30] SaW2017 opened #5392 "createColorPicker() doesn't work in angular with "MatCardModule""
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [x] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [x] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [x] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-08-27 15:13] #5387 closed, assigned to nobody

[2021-08-28 19:51] #5388 closed

[2021-08-28 21:59] sflanker opened #5393 "The ability to construct custom `p5.Geometry` using existing modeling commands."
### How would this new feature help [increase access]

Currently creation of custom 3d objects either has poor performance (drawing multiple primitives, or using beginShape/endShape), or requires separate work in a 3d modeling tool such as Blender. For users who are new to 3d graphics and would like to create complex models procedurally without having to use a separate piece of software it would b

[2021-08-30 05:22] itsmingjie opened #5395 "Improving ease of contribution for beginner student contributors"
Dear p5.js maintainers,

We're reaching out on behalf of an ongoing partnership between California State University Monterey Bay's [Computing Talent Initiative](https://computingtalentinitiative.org/) and [CodeDay](https://www.codeday.org/), a nonprofit organization. We're working on a program for college students who are new to contributing to open-source software, and we'd love to invite them to

[2021-08-30 12:52] everythingability opened #5396 "Download Complete doesn't recognise loadSound()"
Hi...

I downloaded the Complete min version of p5js that says it has the Sound library added, but it is the same size as the regular p5.min.js file and doesn't recognize loadSound()... I don't think it is in there..

Tom

[2021-08-30 17:07] limzykenneth commented on #5396
I don't think we provide such a download. Where did you get it from?

[2021-08-31 08:44] everythingability commented on #5396
https://p5js.org/download/ But my mistake sorry.... I thought sound was IN the p5js file, it's in the addons folder. Dur. Sorry.

[2021-08-31 12:48] mathiasdg opened #5397 "whileLoading function does not work as expected"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)
     Sound

###

[2021-08-31 13:50] #5396 closed

[2021-09-01 09:20] mttbernardini commented on #5393
After some reverse engineering on the codebase, I found a way to use the pre-existing API of the immediate mode by extracting the internal `Geometry` object. It's a dirty hack, probably bogus as well, but I'm pasting it here if someone might find it useful in the meanwhile for simple cases. Feel free to patch it further (I only tested it with `LINES` mode).

[code]

[2021-09-01 22:32] stalgiag commented on #5393
Wow! Thanks for the proposal. It is cool to see what people are interested in doing with p5's WebGL mode.

The mission with any additions to the library is to increase access. This is broadly defined but this is also a pretty advanced use-case, it is hard for me to say that it could fall under that umbrella.

That said, I agree that it is unfortunate that there are so many things that p5 does with

[2021-09-02 01:40] JaPatGitHub opened #5398 "Remove touchX, touchY in p5.js overview wiki page"
In the [Mouse & touch interaction](https://github.com/processing/p5.js/wiki/p5.js-overview#mouse-and-touch-interaction) of the page, `touchX` & `touchY` variables are mentioned.
However, they are not available in [p5.js reference](https://p5js.org/reference/#p5/touchX). They don't work in the [editor](editor.p5js.org) too.

[2021-09-02 01:44] JaPatGitHub commented on #5398
Using touchX in the [editor](editor.p5js.org)
`function touchStarted() {
  console.log(touchX)
  }`
the console displays a reference error:
![image](https://user-images.githubusercontent.com/73636668/131767950-094d3a59-1824-4329-a580-7b47ae86051a.png)

[2021-09-02 01:48] JaPatGitHub commented on #5398
However using `mouseX` inside `touchStarted()` works fine.

[2021-09-02 07:03] mttbernardini commented on #5393
For me personally the use case is to generate a tree procedurally using an L-system (see alphaxmas.bubblefish.studio).

My first attempt was to simply map each character of the sentence to a turtle movement using normal p5 primitives (i.e. `rotateZ` for rolling, `line` and `translate` for leaving a trace while moving forward, etc..).
This approach performed poorly because turtle interpretation tak

[2021-09-03 21:38] nikensss commented on #2326
Is it possible to add the `canvas` property to the `p5.Image` type in the typings for TypeScript? I currenly need this feature and I have to do the following:
[code]
which is very hacky...

[2021-09-04 04:03] Atcold opened #5400 "IntelliSense for external libraries"
# Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other: using 3rd party libraries

# Details ab

[2021-09-04 11:05] limzykenneth commented on #5400
For this the forum will still be a better place for a solution. We don't explicitly support IntelliSense and the case with a third party library is out of scope for us. I'm closing this issue for now, please do continue the discussions on the forum. Thanks.

[2021-09-04 11:05] #5400 closed

[2021-09-04 19:04] Atcold commented on #5400
Hi @limzykenneth, thank you for following up.

I would love to continue this discussion on the forum.
Looking forward to reading your reply.

Thanks.

[2021-09-05 11:37] EmmanuelPil commented on #4401
Hi.
Any chance that this will be solved soon?
I have several sketches using QUAD and QUAD_STRIP that I would like to translate from P5.java to P5.js
It would be very much appreciated. Thank you very much.

[2021-09-05 22:11] dcsan commented on #2977
I had this issue, solved it for me ty!

[2021-09-08 07:06] mikedane opened #5401 "Unable to deconstruct p5 methods from npm library"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [x] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-09-08 13:06] limzykenneth commented on #5401
This is an inherent problem with the destructuring syntax and not a p5.js caveat. For example when you try to run the following:

[code]

You will get an error about `undefined` as well. The reason is that a lot of the object oriented functions in JS require that they be executed in the right context (ie. the right value of `this`). When a function is destructured from the underlying object, it lo

[2021-09-08 13:06] #5401 closed

[2021-09-08 18:21] mikedane commented on #5401
Thanks for the explanation!

[2021-09-09 11:55] EmmanuelPil commented on #5393
Great proposal! I hope this can be implemented. I'm looking forward to it.

[2021-09-09 14:26] sosunnyproject opened #5402 "createObjectUrl error when adding more than 1 script to index.html"
#### Most appropriate sub-area of p5.js?

- [x] Core/Environment/Rendering
- [x] DOM
- [ ] Other (specify if possible)

#### Details about the bug:

- p5.js version: 1.4.0 (same error happens on 1.0.0 version as well)
- Web browser and version: Tested both on Chrome and Brave browser. 1.29.77 Chromium: 93.0.4577.63 (Official Build) (64-bit)
- Operating System: , Windows 10 OS Version 2009 (Build 1

[2021-09-09 16:26] limzykenneth commented on #5402
`Blob` is a reserved keyword in Javascript so you will need to rename the `Blob` class you have to something else.

[2021-09-09 16:26] #5402 closed

[2021-09-09 17:39] aferriss commented on #5393
Take a look at [this thread](https://github.com/processing/p5.js/issues/5120#issuecomment-817072344), there should be a few examples in there showing how to make custom geometry.

[2021-09-10 11:11] andreiantonescu opened #5403 "Bezier Glitch on certain point combinations"
#### Most appropriate sub-area of p5.js?
- [X] Core/Environment/Rendering

#### Details about the bug:
**p5.js version:** 1.4.0

**Web browser and version:** Chrome 93

**Operating System:** Mac OS 11.4

**Steps to reproduce this:**
- In certain point combinations, non-filled bezier curves produce a strange glitch, appearing as if they are filled.
- Example: bezier(108.87, 3.78, 201.1, -128.61, 34

[2021-09-10 16:01] andreiantonescu commented on #5403
For reference, if I set StrokeCap(SQUARE), then the behaviour is slightly different, although the curve still has issues:
<img width="621" alt="Screenshot 2021-09-10 at 18 53 11" src="https://user-images.githubusercontent.com/5208182/132883232-43dc51c6-2164-4a57-9e38-86c54d235a4e.png">

[2021-09-11 13:37] PixsaOJ commented on #2817
What is weirder is, if I use `canvas = createCanvas(...)` In typescript I should be getting `HTMLCanvasElement` so I can set width height and other properties to it, but when I get `Renderer` I have to give my variable type of p5.Renderer | HTMLCanvasElement

[2021-09-11 19:05] #5360 closed

[2021-09-11 19:19] outofambit opened #5404 "add text height calculation for multiline text area"
_(As previously noted in #5366)_

We support vertical alignment of text with [`textAlign()`](https://p5js.org/reference/#/p5/textAlign), but right now the vertical height for multiline text is not computed. This means that a single line text is vertically aligned properly, but not multiline text.

It might be tricky to calculate the total height of multiline text because the [text wrap style](http

[2021-09-11 21:57] Jcsenterprisesllc opened #5406 "JCS Enterprises LLC, Patrick Rene Guerrero-Copyright-License(2021)"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [

[2021-09-12 01:00] #5406 closed

[2021-09-12 08:18] dhowe commented on #5404
<img width="200" alt="image" src="https://user-images.githubusercontent.com/737638/132979314-9f843867-13f8-45ef-9e46-dcac91bddfee.png">

[2021-09-13 05:18] dhowe opened #5408 "Incorrect stroke join on some fonts"
Note that this only occurs when stroke is enabled and strokeWeight is greater than 1 or 2.
Also, it doesn't happen when strokeJoin is set to ROUND:

![Screenshot 2021-09-13 at 1 17 31 PM](https://user-images.githubusercontent.com/737638/133027775-dbf921bc-86c1-45b2-8321-d4159e11c761.png)

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and proces

[2021-09-13 11:14] limzykenneth commented on #5408
Is it the same problem as #3035?

[2021-09-13 12:46] dhowe commented on #5408
Definitely related, as noted above...

[2021-09-13 13:17] limzykenneth commented on #5408
Does it also happens if this font is rendered in something like Illustrator? Shall we reconsider adding a new miter limit function as proposed before?

[2021-09-13 13:50] golanlevin commented on #5408
So, this visual glitch is 'expected behavior', as others have pointed out. If a font (or other shape) has a zig-zag with sufficiently pointy angles, then this is what will happen, period. It is a fundamental geometric property of 2D graphics.

Just my two cents, but:
* having a function to adjust miter limit is a standard feature of professional graphics tools.
* if an end-user is observant enough

[2021-09-13 13:58] limzykenneth commented on #5408
I tend to lean towards adding a new function to control this as well. I found before that setting a lower default may cause other drawing issues such as not being able to draw star shape with strokes so I wouldn't recommend it.

[2021-09-13 17:30] almchung opened #5409 "Puppeteer fails to install and run on ARM64 chips"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [x] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [x] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-09-13 21:14] kiwi-fruitiwi opened #5410 "Typescript @types/p5 does not recognize createVector() as p5.Vector"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
It would make working with p5.js in IDEs better! Vectors are fairly common in P5 so having warnings pop up all over the place isn't good ^^;

#### Most appropriate sub-area of p5.js?

- [x] Build tools and processes
- [x] Math

#### Feature enhancement details:

[2021-09-14 07:30] chosamuel commented on #5120
Hi! This might be unrelated to this issue, but is there a way using this method to also define the primitive rendering mode like `LINES` or `TRIANGLE_STRIP`?

[2021-09-14 14:30] limzykenneth commented on #5409
I do plan on updating puppeteer to the latest version (the version we are using doesn't work with node 16) but got some failed tests that stopped me from proceeding. Details in #5367. If those tests can be solved, we can update to the latest version of puppeteer.

[2021-09-14 14:33] limzykenneth commented on #5410
Hi, we don't maintain the typescript typings of p5.js in this repo. You should file this in https://github.com/p5-types/p5.ts. Thanks.

[2021-09-14 14:33] #5410 closed

[2021-09-14 15:48] kpwill opened #5411 "doubleClicked() example doesn't work in the reference docs"
#### Most appropriate sub-area of p5.js?

- [X] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-09-14 23:31] almchung commented on #5409
@limzykenneth I tried to fix the unit tests issue here: #5412. Hopefully, this remedies some of them!

[2021-09-15 14:09] limzykenneth commented on #5367
The unit tests are now fixed by #5412 but after testing updating to 10.2.0, the same error described in the original issue still occurs.

[2021-09-15 14:09] limzykenneth commented on #5409
I'll update puppeteer to 10.2.0 once I've checked a few things and update other outdated packages as well, which should solve this issue.

[2021-09-15 15:55] limzykenneth opened #5414 "Github Issue Forms"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
Make filing an issue easier and remove the need to navigate potentially confusing markdown structure of existing issue template.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ]

[2021-09-15 17:33] #5409 closed

[2021-09-15 23:27] davepagurek commented on #3610
How would you feel about replacing the current implementation with one that preserves the same behaviour but using `globalCompositeOperation` to do the tinting?

I made a test here and it tints a 1280x1280 much faster than the existing tint. I have an example here, try commenting out the redefinition of `_getTintedImageCanvas` to see the current tint's performance:
https://editor.p5js.org/davepagu

[2021-09-16 12:57] adalberth opened #5416 "Lightweight/moduler version of p5"
Hi p5 Team.

As the web progresses and "weight" unfortunately also is a problem in the digital world – having frameworks, libraries, modules, plugins that are as lightweight as possible, could benefit a lot of people who don't have a fast internet connection. We, as developers, strive to achieve to create the smallest possible web applications. But small doesn't necessarily mean boring. I love p5.

[2021-09-16 17:21] dhowe commented on #5404
can someone help double-check these alignments?

<img width="673" alt="image" src="https://user-images.githubusercontent.com/737638/133656992-ded5eb8e-95e7-4359-87d4-0f3abea7801e.png">

[2021-09-16 17:25] dhowe commented on #5404
Note: seems baseline and top are the identical when a width is specified, which appears to be the case in the existing reference test as well.

![image](https://user-images.githubusercontent.com/737638/133657445-e7a0146c-86bb-453f-8d1b-ce3e08762406.png)

[2021-09-17 20:33] kilian2323 opened #5420 "Overlapping primitives not rendered when called in certain order"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-09-17 21:00] kilian2323 opened #5421 "ambientMaterial() requires a call to fill()"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ x] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-09-19 16:32] stalgiag commented on #5421
Hi @kilian2323 agreed! Calling one of the material functions with a color should turn filling back on. Currently the only function that can turn on filling after `noFill()` is `fill()`. This could be changed by adding a `this._renderer._doFill=true` to `ambientMaterial()` .

[2021-09-19 16:49] stalgiag commented on #5420
This is a depth-sorting issue. Depth-sorting is an issue that is common across all GL libraries. It would be inefficient for this to be fixed on the library side. The problem comes from trying to render an object inside of or behind an object that has already been rendered. It is better for users to handle this depth sorting on their end by doing just as you did and reordering their code so that t

[2021-09-20 08:15] stigmollerhansen opened #5422 "createCheckbox() inserts <div>"
Using createCheckbox() without specifying a label creates an <input> element wrapped in a <div>. By comparison, createInput() simply inserts an <input> element. For consistency and ease of having to style checkboxes with CSS it would be desireable if createCheckbox() with no label specified behaved like createInput().

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibilit

[2021-09-23 14:50] dhowe commented on #5408
Easy enough to add a strokeMiterLimit() or similar function... though, as there are existing options, setting strokeJoin() or canvas miter limit (also canvas lineJoin property), perhaps  documentation somewhere would suffice (maybe an example on the [https://p5js.org/reference/#/p5/strokeJoin] strokeJoin page)?

[2021-09-23 21:47] samdelong commented on #5422
Please provide some screenshots or code snippets of the generated HTML!

[2021-09-24 18:56] lmccart opened #5427 "required `describe()` function?"
I was wondering what others think about the idea of potentially requiring a [`describe()`](https://p5js.org/reference/#/p5/describe) line in order for a p5 sketch to run?

#### How would this new feature help [increase access]:
This would increase the accessibility of p5.js sketches for people that are Blind or have visual impairments. Considering the way p5.js use continues to expand in education

[2021-09-24 20:58] limzykenneth commented on #5427
I like the idea of nudging users towards including `describe()` in their sketch but at the same time I worry that making it mandatory for the sketch to run will remove the ability for the user to iterate and experiment with their code, especially without worrying that what is in `describe()` actually doesn't match what's on screen. I do feel having having somewhat accurate description to be import

[2021-09-26 14:46] Madwesh123 opened #5428 "Request for adding more functions like limit for p5.Vector objects."
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
It would act similar to limit but instead of max value it would be min value and constrain the value of the vector.

#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Colour
- [ ] Core/Environ

[2021-09-26 17:16] outofambit commented on #5404
hey @dhowe thanks so much for doing this! i was going to say all the examples look right but i wasn't sure about baseline vs center but it seems you've figured that out. :) For the leading question, i think we might want to fix that, but that doesn't need to happen as part of this fix. (i just checked and the behavior your're showing is the same on the `main` branch.) so i think this is good as-is

[2021-09-27 15:12] blitzgenerative opened #5429 "beginShape vertex, lights() issues"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details

[2021-09-27 18:28] RalenArc commented on #3931
I got this workaround if anyone is still facing this issue.
function setup() {
  createCanvas(400, 400);
  background(0);
  rectMode(CENTER);
  fill(255,0,0);
  rect(width/2,height/2,50,50);
  pg = createGraphics(width,height);

  push()
    pg.stroke("#00ffff");
    pg.strokeWeight(5);
    blendMode(SCREEN);
    pg.line(0,height/2, width, height/2);
    pg.filter(BLUR, 4);
    image(pg, 0,0);
  p

[2021-09-28 03:58] rsodre commented on #4274
Should this work using stroke too, drawing lines?
Replacing fill() for stroke() on the example and it does not interpolate colors.

[2021-09-28 15:47] michaeleggers opened #5430 "check if keyIsPressed === true"
Hello :)
Could we change the docs for `keyIsPressed `to not be checked against `true ` explicitly?
It is on: https://p5js.org/reference/#/p5/keyIsPressed

### How would this new feature help
Avoiding to teach new devs bad coding-habit:

`function draw() {
  if (keyIsPressed === true) {
    fill(0);
  } else {
    fill(255);
  }
  rect(25, 25, 50, 50);
}`

#### Most appropriate sub-area of p5.js?

[2021-09-28 16:35] limzykenneth commented on #5430
Hi @michaeleggers, can you expand a bit more about why checking against `true` is considered bad coding habit? I would actually consider it a good practice, especially in Javascript where truthyness can be a common pit falls for beginners, but I'm interested in hearing about your perspective.

[2021-09-29 06:07] lmccart commented on #5427
@limzykenneth for the last part here, I think this is in progress, or has been started by @lm-n https://github.com/processing/p5.js/pull/5140

[2021-09-30 13:44] DivyamAhuja commented on #5367
[code]

am still getting this error

[2021-10-01 05:35] saivan commented on #5430
I actually have to agree with @limzykenneth, whilst I appreciate brevity and would almost certainly write `if(keyIsPressed)` in my own code, in a library I think the explicit check is better. Mainly because something like `Boolean("hello")` is still true.

[2021-10-01 07:24] naveen106 commented on #5430
I think it is better like this -
[code]

[2021-10-01 10:46] limzykenneth commented on #5367
@DivyamAhuja Yes, that's what was mentioned in terms of the original error. Reverting to node 14 should work. We're looking into solutions for node 16.

[2021-10-01 13:27] dhowe commented on #5404
Great. And if I remember correctly the different manner of calculating leading was a group decision made at the time as it yielded better results, but certainly open to re-discussing.

[2021-10-01 13:27] dhowe commented on #5404
also @outofambit perhaps you have a preference, one way or the another, regarding https://github.com/processing/p5.js/issues/5408 ...

[2021-10-01 16:50] magistermaks opened #5433 "The script gets stuck at "Loading...""
I'm probably doing something incorrectly but i can't see what exactly

#### Most appropriate sub-area of p5.js?

- [x] Image

#### Details about the bug:

The script gets stuck at "Loading..." after trying to load an image

- p5.js version: v1.4.0 June 29, 2021
- Web browser and version: Firefox 92.0
- Operating System: Linux
- Steps to reproduce this:

[code]

 - I can see the image file successf

[2021-10-01 16:55] magistermaks commented on #5433
Oh sorry, fixed it like 10s after posting the issue. I redefined the Image class by accident :P (i thought it was called `PImage`)
Man, i hate JS, why is something like this even allowed? and without a warning?

[2021-10-01 16:55] #5433 closed

[2021-10-01 18:57] sflanker opened #5434 "Animated GIFs freeze after the browser tab is off screen."
### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [X] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

### Details abo

[2021-10-01 22:21] outofambit commented on #5427
100% agree on adding it to templates and the editor default template (cc @catarak if they want to comment)

I'd like to figure out a way to require or encourage using `describe` in p5 sketches. perhaps we could print an FES message when you run a sketch that doesn't call `describe` within `setup` or the first run of `draw`? That wouldn't add any barrier but it would remind and encourage folks to u

[2021-10-01 22:37] outofambit commented on #5408
I'm on board with adding a new function for setting a stroke miter limit and adding documentation in `strokeJoin`, but I'm also really curious about:

Are there any significant downsides to doing this? It seems like barely perceptible difference for the (probably) vast majority of cases and makes this not an issue folks would hit when playing with large stroke widths.

I think configurability for

[2021-10-01 22:41] outofambit commented on #5404
fixed with https://github.com/processing/p5.js/pull/5432!

[2021-10-01 22:41] #5404 closed

[2021-10-02 07:28] malutanpetronel opened #5435 "Loading audio in React"
Hi all

I get an issue described also here: https://github.com/jamesrweb/react-p5-wrapper/issues/122

It looks I get
p5.sound.js:543 Uncaught ReferenceError: p5 is not defined
at Object. (2.c4420ea7.chunk.js:2)
at n (2.c4420ea7.chunk.js:2)
at Module. (2.c4420ea7.chunk.js:2)
at n (2.c4420ea7.chunk.js:2)
at 2.c4420ea7.chunk.js:2
at Object. (2.c4420ea7.chunk.js:2)
at a (localhost/:1)
at Module.148 (m

[2021-10-02 08:41] limzykenneth commented on #5435
I'm not sure that `import "p5/lib/addons/p5.sound";` will work at all as addon libraries relies on existing globally available `p5` object in order to bind their methods to it.

[2021-10-02 16:48] limzykenneth commented on #5408
For a star shape it would mean the points are not "pointy" as they will be rounded, not inherently a problem but also not an uncommon thing that is expected by the user. It can work as a default but we may also need configurability for it.

[2021-10-04 13:10] michaeleggers commented on #5430
@limzykenneth Actually, good thought! Haven't taken that into account when opening the issue. However, the reference page for `mouseIsPressed` doesn't do that (https://p5js.org/reference/#/p5/mouseIsPressed). Maybe I am a bit too pedantic here, but I guess we should at least be consistent then?

@saivan I think you're right, but this issue is about the example in the reference pages. Maybe my issu

[2021-10-04 13:23] limzykenneth commented on #5430
Consistency would be a good thing to go for and I don't mind `mouseIsPressed` reference example be edited to match `keyIsPressed` if there's no other opinion on this.

[2021-10-04 14:19] michaeleggers commented on #5430
@limzykenneth If it's ok for you I'd like to 'fix' this and do a pull request. I'd tag you.

[2021-10-05 15:50] nickmcintyre commented on #5427
I'm all for nudging folks to make their work more accessible and including `describe()` in templates. This feature would probably lead to some great conversations with younger students -- might be helpful to prepare simple discussion guides for teachers.

My initial take is to encourage the use of `describe()` through FES messages. Transitioning to a requirement in a 2.0 release would also give ti

[2021-10-05 16:40] #5430 closed

[2021-10-05 18:33] stalgiag commented on #5429
Hi! Thanks for the issue. The behavior with immediate mode shapes and lighting is very unpredictable because of how the normals are (or are not) calculated in shapes drawn with `beginShape`.

That said, could you offer the simplest possible sketch that reproduces the problem you are experiencing?

[2021-10-06 01:42] bsondermann opened #5440 "Can't draw a Line in WEBGL Renderer if previously a texture was defined"
Hi,
when I want to draw a line with the WEBGL Renderer, it works no problem, but when I draw a 3D object with texture before that, the line won't be displayed.

- [x] WebGL
- p5.js version: 1.4.0
- Web browser and version: Google Chrome 94.0.4606.61
- Operating System: Windows
- Steps to reproduce this:
[code]
[files.zip](https://github.com/processing/p5.js/files/7290234/files.zip)
Here are the 3D

[2021-10-06 17:07] jiharu opened #5441 "how to dispatch event to p5 instance?"
I have an offscreen canvas p5 instance that I need to dispatch events (mouse etc.) to, but it doesn't seem to be possible (or it is not documented how to).

The p5 instance is not part of an on-screen <canvas> tag, but is used entirely offscreen. I need dispatch mouse events to it manually.

In HTML5 you can dispatch mouse events to arbitrary elements like this:

[code]

With the offscreen canvas,

[2021-10-08 10:48] pirelaurent opened #5442 "loadModel recalls setup (one time) trying to load dynamically a model"
#### Most appropriate sub-area of p5.js?

- [x] Events
- [x] Utilities
- [x] WebGL

#### Details about the bug:

- p5.js version:   v1.4.0 June 29, 2021
- Web browser and version:  chrome 94.0.4606.71
- Operating System:  win 10 pro
Steps to reproduce this:
[code]
Console output :
[code]
As one can see, any loadModel outside preload will call again setup once.
If your setup includes some createEle

[2021-10-08 20:28] limzykenneth commented on #5374
@unjust Not that I know of. You can put together a PR for this if you wish.

[2021-10-09 07:22] pirelaurent commented on #5442
After investigating in a more complex sketch, it seems that loadmodel destroy something about the canvas , so it needs to call setup to reconstruct it.  My previous reentrancy workaround must be after the createCanvas in setup :
[code]

[2021-10-09 14:52] ParkerXChen opened #5445 "Does anybody know how to set the value of a createSelect in p5js?"
Hi there!

Does anybody know how to set the value of a createSelect in p5js?

EX: selector.Value() = "option"

[2021-10-09 15:03] #5445 closed

[2021-10-09 18:47] moritzsalla opened #5446 "WEBGL GL_OES_standard_derivatives support"
Every now and then I run into the issue with `WEBGL GL_OES_standard_derivatives`. Either p5 isn't supporting it and not surfacing any error, or if I'm implementing said incorrectly due to lacking documentation.

Would be very grateful if someone could enlighten me!

Here's my approach at enabling `fwidth`/`WEBGL GL_OES_standard_derivatives`

[code]

[code]

Whatever the case, the canvas renders gr

[2021-10-09 19:55] moritzsalla commented on #5446
Nevermind, got it to work but using `drawingContext.getExtension('OES_standard_derivatives');`. Also, I believe `WEBGL GL_OES_standard_derivatives` has to be the first line of the shader.

[2021-10-11 00:30] bsondermann commented on #5440
Update:
when I `fill(255);` or anything >0 after setting the stroke color and before setting `noFill();` the line gets drawn.
So:
[code]
works.
Is that intentional behavior?

[2021-10-13 08:17] gmaster350 opened #5448 "The p5.erase() function does not work as expected for WEBGL"
#### Most appropriate sub-area of p5.js?

- [ ] Color
- [ ] WebGL

#### Details about the bug:

The p5.erase() function does not work as expected for WEBGL;
it will turn part of the canvas white, but not transparent.

- p5.js version: 1.4.0 ( current, as of posting )
- Chrome, Firefox, Edge ( all current versions as of posting )
- Windows 10 64-Bit
- Steps to reproduce this:
Using the p5.erase() f

[2021-10-13 18:35] RedBeard41 opened #5450 "frameRate will not run faster than 30 frames"
frameRate not displaying faster than 30 frames per second.

- Found a bug

#### Details about the bug:

- Web browser and version:

Google Chrome | 94.0.4606.81 (Official Build) (64-bit) (cohort: Stable)
-- | --
Revision | 5a03c5f1033171d5ee1671d219a59e29cf75e054-refs/branch-heads/4606@{#1320}
OS | Windows 10 Version 1607 (Build 14393.4583)

- Operating System: Windows
- Steps to reproduce this bu

[2021-10-14 01:27] gregsadetsky opened #5449 "Throw error when passed incorrect color mode instead of silently accepting it?"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?

p5.js could show an error message when `colorMode()` is passed an invalid color mode, instead of silently ignoring it.

#### Most appropriate sub-area of p5.js?

- [X] Friendly error system

#### New feature details:

`colorMode` accepts any string as its `mode

[2021-10-15 00:41] limzykenneth commented on #5450
The framerate of p5.js is tied directly to [`requestAnimationFrame`](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame) which in turn is tied to the refresh rate of the monitor, ie if you have a  60Hz monitor the framerate will be 60fps and a 30Hz display (some projectors for example) will have 30fps.

If you need some sort of consistent timing in the animation loop, yo

[2021-10-15 01:21] tonyrobots opened #5451 "Semi-transparent objects in WebGL mode make the background behind them transparent"
#### Most appropriate sub-area of p5.js?

- [x] Color
- [x] Core/Environment/Rendering
- [x] WebGL

#### Details about the bug:

- p5.js version: 1.4.0
- Web browser and version:  reproduced on multiple browsers
- Operating System: Windows 10
- Steps to reproduce this:

1. Create a canvas in WEBGL mode
2. Set the background color to something (white is fine)
3. Draw an object on the canvas that is

[2021-10-15 02:49] tonyrobots commented on #5448
I wonder if this is related to the bug I just filed: #5451

Take a look at my fork of your code, where I remove the Erase() and noErase() calls, and just add a semi-transparent fill -- it actually does the erase, which it shouldn't be: https://editor.p5js.org/tonyrobots/sketches/_5-tk6PL0

[2021-10-16 13:18] ks1990cn opened #5452 "Build:Property 'amp' in type 'Noise' is not assignable to the same property in base type 'Oscillator'."
![image](https://user-images.githubusercontent.com/29522704/137589044-9d3f1cd8-a531-4a4f-a80e-7b112e87c545.png)

Getting this error, commenting amp resolved me but can't use this amp signature.

Please have a look.

Thanks
Tanmay

[2021-10-16 20:07] almchung opened #5453 "i18n: Expose translator language switching feature for integration"
### How would this new feature help [increase access](https://github.com/processing/p5.js/blob/main/contributor_docs/access.md) to p5.js?
This proposes to extend our existing internationalization tool and exposes its features for future integration tasks (e.g. as discussed in p5.js web editor's issue [#1943](https://github.com/processing/p5.js-web-editor/issues/1943) with @outofambit ).

#### Most

[2021-10-16 21:50] sflanker commented on #5451
This seems relevant: https://medium.com/david-guan/alpha-blending-and-webgl-823d86de00d8

[2021-10-16 23:27] RedBeard41 commented on #5450
@limzykenneth thank you so much for your input.  I am running a dual monitor setup, with one of the monitors being duplicated with the Qomo board for class.  I was running only at 30hz refresh rate.   When I bumped down the resolution to something that supported 60hz refresh then the frameRate in P5js is running again at 60 fps.

[2021-10-16 23:27] #5450 closed, assigned to nobody

[2021-10-17 20:26] sflanker opened #5455 "Calling loadModel while a custom shader is in use breaks the existing shader."
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [X] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-10-18 04:07] ks1990cn commented on #5452
@limzykenneth , Link which you provided is in read-only mode, so can't lock any issue there.

https://github.com/p5-types/p5.ts/issues

[2021-10-18 06:05] cystark commented on #2865
Hello would love to contribute~

[2021-10-19 16:10] limzykenneth commented on #5367
Good news and bad news. Good news: I found the source of this problem. Bad news: may be a bit tricky to resolve.

For a more detailed explanation see the issue on puppeteer: https://github.com/puppeteer/puppeteer/issues/7570. Essentially the problem occurs because there's a cyclic reference in p5.Vector instances, specifically it came from the `p5` property in the object itself (which is a referen

[2021-10-19 16:23] limzykenneth commented on #3610
@davepagurek I think we can consider something like that if it isn't considered a breaking change.

[2021-10-20 13:04] clankill3r opened #5456 "lib/p5.js is missing"
`lib/p5.js`  is missing from the repository.

In `lib/readme.txt` it says:

[code]

But most of those files are just not there.
I just figured I have to run `grunt`. The thing is, `grunt` is a nightmare to install.

It would be so nice if those files where included in the repository so I can look at some of the examples.

[2021-10-20 13:15] clankill3r opened #5457 "Warning: Task "eslint:build" failed. Use --force to continue."
I just reinstalled nodejs and npm.
And for a change, I successfully installed grunt.

Now when I run grunt I get:

[code]

[2021-10-20 15:32] limzykenneth commented on #5456
The folder is what gets eventually packaged into the zip file that is downloaded from the official website (the readme.txt thus is for that zip file, not for this repo). The built library is not usually included in repositories as the idea is that it bloats the repository while those who cloned the repo can build the library itself using the build steps.

If you are able to clone the repo and run

[2021-10-21 14:48] qshim opened #5458 "textAlign(horizAlign, [vertAlign]) > vertAlign does not work"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-10-25 16:30] #5458 closed, assigned to nobody

[2021-10-27 07:53] pifragile opened #5462 "textToPoints not working with letter "B" from Google Font"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [x] Typography
- [ ] Utilities
- [ ] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-10-28 07:15] eents opened #5463 "Description for hour() has the wrong integers"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [ ] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [ ] WebGL
- [x] Other (specify if possible)

#### Details a

[2021-10-28 13:24] prichodko opened #5464 "Orthographic projection incorrectly renders stroke of a rotating cube"
#### Most appropriate sub-area of p5.js?

- [ ] Accessibility (Web Accessibility)
- [ ] Build tools and processes
- [ ] Color
- [x] Core/Environment/Rendering
- [ ] Data
- [ ] DOM
- [ ] Events
- [ ] Friendly error system
- [ ] Image
- [ ] IO (Input/Output)
- [ ] Localization
- [ ] Math
- [ ] Unit Testing
- [ ] Typography
- [ ] Utilities
- [x] WebGL
- [ ] Other (specify if possible)

#### Details a

[2021-10-28 18:11] TOrfevres opened #5465 "Error in example in references for p5.Vector.setMag()"
Here's what the documentation says about p5.Vector.setMag()
![image](https://user-images.githubusercontent.com/23334809/139310979-8010db76-ad53-4a39-b192-55c5f7675ed3.png)

But by doing it in the web editor AND by hand here is the real result:
![image](https://user-images.githubusercontent.com/23334809/139311341-ea379c83-a1b2-4ed2-bff3-010e3098bf6a.png)

Regards,
Hope it helps